[2021-10-01 14:32] ydhongHIT opened #1417 "The improvement of "multi-scale plus flip" inference"
Why is the improvement of "multi-scale plus flip" compared to "single-scale" smaller than other code bases during the inference stage?

[2021-10-01 14:33] #1417 closed, assigned to nobody

[2021-10-04 15:56] CuberrChen opened #1418 "【问题】ViT的backbone都有预训练模型可供使用吗？"
ViT的backbone都有预训练模型可供使用吗？
我在使用的时候发现只有ViT_large_patch16_384能够下载预训练模型。
或者说我该怎么从PaddleSeg服务器获取这些预训练模型的链接地址？

[2021-10-05 06:33] CuberrChen commented on #1418
解决了。可以从PaddleCls的仓库获取。但是有个问题是PaddleSeg的utils的load_pretrained_model函数在从给定链接load预训练模型时由于采用了固定的模型名称参数‘model.params’，如果链接模型的名称不叫这个就会报错，找不到模型文件。
希望可以对这个小问题进行修改～
修改后的代码（用fixed做了标记）如下：
[code]

[2021-10-07 08:14] kyeongjunJang opened #1420 "cityscapes-sota"
https://github.com/PaddlePaddle/PaddleSeg/tree/dd6e03c138f7183ed4b005bf1979ea3b9cc8fc13/contrib/CityscapesSOTA#cityscapes-sota

**Convert autolabelled data**
|--convert_autolabelled
|  |--augsburg
|  |--bayreuth
|  |--...

**Then download Autolabelled-Data from google drive**
refinement_final_v0.zip

How make refinement final file for custom dataset?

i want autolaebelled data of custom dataset

[2021-10-08 03:08] wuyefeilin commented on #1400
查看一下数据获取是否正常
![image](https://user-images.githubusercontent.com/30919197/136492211-3876e6bc-b5ef-4ce4-8ae5-331ef903120a.png)

[2021-10-08 03:12] wuyefeilin commented on #1399
部署时会对一些算子做融合处理，提升性能哈

[2021-10-08 06:44] #1399 closed, assigned to wuyefeilin

[2021-10-08 13:05] JiehangXie opened #1424 "BiseNetV2转换成.nb在Edgeboard部署效果极差"
![111](https://user-images.githubusercontent.com/51190264/136561960-6986ca6d-58fe-451b-b191-d8ff0f402b86.JPG)

模型是用文档里面提供的BisenetV2动态模型文件转静态图再转.nb的

[2021-10-08 15:52] RolandGao opened #1425 "SFNet's entry in the model zoo seems wrong"
In the model zoo (https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/configs), SFNet's entry looks like the following:

SFNet | ResNet18_OS8 | 1024x1024 | 80000 | 81.49% | 81.63% | 81.85% | 28

However, when I go to the SFNet specific page(https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/configs/sfnet), I get

SFNet | ResNet18_OS8 | 1024x1024 | 80000 | 78.31% | 78.99% | 79.29%
SF

[2021-10-08 16:10] JiehangXie commented on #1424
已解决，问题是输入图像未归一化！

[2021-10-08 16:10] #1424 closed, assigned to nobody

[2021-10-09 03:00] haoyuying commented on #1425
Thank you for your suggestion, we will revise the document as soon as possible.

[2021-10-09 03:39] RolandGao commented on #1425
Hi, thank you for getting back to my issue so quickly!

I'm not sure if you have realized this already, but I think the predict_time(ms) column of SFNet has some problems too. ResNet18_OS8's predict_time has the potential to be 28ms, but ResNet50_OS8 definitely needs more than 28ms. For example, Deeplabv3P with ResNet50_OS8 runs at 157ms.

This issue also affects the graph above the big chart.

[2021-10-09 06:56] cccccccyj opened #1426 "请问论文EdgeFlow: Achieving Practical Interactive Segmentation with Edge-Guided Flow中提出的算法的源码在哪里可以看到"
@haoyuying ，您好，论文EdgeFlow: Achieving Practical Interactive Segmentation with Edge-Guided Flow中提出的算法的源码在工程的哪个位置可以找到？

[2021-10-09 08:18] hhxdestiny commented on #1320
#921

[2021-10-10 07:09] hhxdestiny opened #1427 "自定义数据集训练报错`The input tensor's dimension should be equal to the axis's size. But received input tensor's dimension is 5, axis's size is 4`"
BML_CodeLab使用UNet3Plus模型训练自定义数据集，in_channels=3，num_classes=2，batch_size=4， 报错如下,
[code]
打印了报错行`out, _ = core.ops.transpose2(x, 'axis', perm)`的参数
[code]
请问可能是哪一块的问题？

[2021-10-11 01:33] michaelowenliu commented on #1418
@CuberrChen Hi, thanks for your suggestion.

[2021-10-11 01:33] #1418 closed, assigned to nobody

[2021-10-11 02:17] haoyuying commented on #1426
您好，edgeflow的预测代码将在eiseg0.4.0放出，预计时间为十一月底，敬请期待。

[2021-10-11 02:23] haoyuying commented on #1425
Thanks for your kindly reminder.

[2021-10-11 02:28] LutaoChu commented on #1420
The autolabelled data comes from Refinement_final_v0.zip. You should download refinement_final_v0.zip and decompress it, then rename it as convert_autolabelled, and finally make sure the directory structure is the same as the one above

[2021-10-11 03:25] #1426 closed, assigned to nobody

[2021-10-11 03:27] juncaipeng commented on #1427
paddle中，transpose的输入x和axis必须rank相同。如上，x的rank是5，axis的rank是4，所以报错。

[2021-10-11 07:55] kyeongjunJang commented on #1420
yeah i got convert_autolabelled for cityscapes dataset. but it is only semantic segmentation image file.
but i want get a convert_autolabelled json file.

because For my custom dataset

[2021-10-11 10:44] hhxdestiny commented on #1427
@juncaipeng 请问输入图片resize后shape: [512, 512, 3]，然后batch_size是1，所以shape应该是[1, 512, 512, 3]，为何打印结果显示x.shape: [1, 512, 512, 3, 2]？第四维的2表示的是label吗？

[2021-10-11 11:44] LutaoChu commented on #1420
I see, but I haven't converted the JSON file. You may refer to this.
https://blog.csdn.net/francislucien2017/article/details/90407093

[2021-10-11 15:06] AKMourato opened #1432 "U-Net 3+ implementation"
Greetings chaps,

Following the official implementation of U-Net 3+:
- https://github.com/ZJUGiveLab/UNet-Version
- https://arxiv.org/abs/2004.08790

In the deep supervision module is applied a hybrid loss that is the sum between the focal loss, the MS-SSIM loss, and the IoU loss. However, in your implementation I don't see it defined in the same manner.
Could you clarify the modifications that yo

[2021-10-12 02:45] wuyefeilin commented on #1432
@geoyee The user has a question when using U-Net 3+. Can you help answer it?

[2021-10-12 08:12] fsultana44 opened #1433 "How to get correct prediction classes."
I am testing the semantic segmentation using my custom data set, and the dataset has two classes(particle and crack). I modified the config file in the file **_quick_start/bisenet_optic_disc_512x512_1k.yml._** to train and tested the model, but wondering to see the prediction result does not provide the correct classes prediction, it's  give  only one class label in the  _added_prediction_ and _ps

[2021-10-12 12:38] wuyefeilin commented on #1433
Is your dataset annotated as required. Maybe you can show it to me so I can judge.

[2021-10-12 13:06] fsultana44 commented on #1433
I annotated the dataset using the LabelMe tools, followed the [instructions](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/data/transform/transform.md), and split the dataset using the `python tools/split_dataset_list.py <dataset_root> images annotations-split 0.6 0.2 0.2 --format jpg png`. I followed the  [procedure](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/doc

[2021-10-12 14:46] ty199931 opened #1435 "请问点击实现目标轮廓的分割的机理是什么？"
你好，我在读代码的过程中，想要了解，我们感兴趣的物体需要在界面上点击一下进行分割，我想了解一下这个点击的作用，是怎么样实现只对点击的物体进行分割呢？因为我们正常训练的神经网络模型在导入后，是对点击的地方进行了区域提取然后放到神经网络模型中进行预测了还是什么机理呢？有点看不太懂，请求解答

[2021-10-12 15:56] AKMourato commented on #1433
@fsultana44 check if the pixel value of that class is 255. If it is, it's being neglected by paddleseg by default.
Replace all the pixel values in every image with another value, and then if you wish, run the pseudo colour generation, but it's not necessary.

[2021-10-13 01:52] geoyee commented on #1432
@wuyefeilin @AKMourato Sorry, this is only the network code (UNet3+) of the [repo](https://github.com/ZJUGiveLab/UNet-Version), and the loss code is **not added**. I will improve this in the near future.

[2021-10-13 02:00] haoyuying commented on #1435
您好，这个机制是在训练当中让网络适应的，在训练中从gt随机找出出一个或多个instance，然后然后在该instance上通过不同的机制进行样点采集和训练，可以看下交互式分割相关的论文了解具体的内容。

[2021-10-13 02:32] wuyefeilin commented on #1433
The pixel values of the three classes should be 0, 1, 2.

[2021-10-13 02:33] wuyefeilin commented on #1432
Good, looking forward to your improvement.

[2021-10-13 02:41] hhxdestiny opened #1436 "训练过程中ACC等指标不变"
训练过程中ACC等指标不变，自定义数据集，标签为0和255的二值化图像
model: UNet
config:
[code]
log
[code]

[2021-10-13 03:37] hhxdestiny commented on #1436
读取一张label如下：
[code]
评估ACC
[code]
这个结果是不是只学了0分类而忽略了1分类

[2021-10-13 04:39] #1427 closed, assigned to juncaipeng

[2021-10-13 05:40] CashBai opened #1437 "EISeg标注文件以Paddlex调用的问题"
有没有内置指令，可以直接把EISeg生成的标注文件转化成Paddlex能直接用的标注格式？

[2021-10-13 05:47] kyeongjunJang commented on #1420
thank you

[2021-10-13 05:47] #1420 closed, assigned to LutaoChu

[2021-10-13 05:51] kyeongjunJang opened #1438 "Cityscapes SOTA"
https://github.com/PaddlePaddle/PaddleSeg/tree/dd6e03c138f7183ed4b005bf1979ea3b9cc8fc13/contrib/CityscapesSOTA

I want to train custom datasets.

When I tried it, This Network need only original image and labelid image, not polygon json file.

I have custom dataset
it have original image and polygon json file.
how to train this dataset? or how to convert polygon json file to lebelid img file

[2021-10-13 06:33] haoyuying commented on #1437
目前没有,eiseg保存格式包括伪彩色，灰度图像，单图json格式和coco的标注格式，其中灰度图像可以用paddleseg或paddlex来直接训练。
PaddleX的语义分割要求的数据集格式说明： https://github.com/PaddlePaddle/PaddleX/blob/release/2.0.0/docs/data/format/segmentation.md
在EISeg上标注数据时选择将标注文件输出为灰度图像，参考前述文档链接修改图片和标注文件的文件夹名称，后参考文档 https://github.com/PaddlePaddle/PaddleX/blob/release/2.0.0/docs/data/split.md
划分训练集/验证集即可

[2021-10-13 06:45] shiyutang commented on #1436
你的标签是0/255，但是我们的模型里255是被忽略的标签，那么模型眼里就只有0的标签，所有会全部预测0。目前你看到的精度89.48%应该就是0类别样本占总体的比例。所以你的自定义数据集是不能只有1类，如果255不是你想忽略的类别，那么就将255换成其他数值就可以了。

[2021-10-13 07:01] hhxdestiny commented on #1436
但是我的标签是二值化为0和1的
[code]

[2021-10-13 07:08] LutaoChu commented on #1438
You can refer to this [tutorial](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/data/transform/transform.md#1labelme), which describes how to convert the JSON file generated by labelme into LabelID img.
Corresponding [script](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/tools/labelme2seg.py).

[2021-10-13 07:18] shiyutang commented on #1436
因为你开头说标签是0/255，所以我以为你只有0/255标签。

观察你的日志，训练损失有变化，说明预测结果有发生变化，但是经过一个epoch没有发生指标变化；你可以做下面三个实验
1. 可视化预测结果的数值进行观察，每次预测结果和标签之间是否存在什么相关性？
2. 设置更大的学习率，观察损失和指标的变化--如果评估结果没有变化，排除学习率太小导致预测结果变化少，指标变化少；
3. 将weight=[0.1,1] 传入 BCELoss，观察损失和预测结果的变化，如果结果没有变化，排除正负样本的影响；

[2021-10-13 11:56] fsultana44 commented on #1433
The original custom data that I used for annotating in the LabelMe tool is the single-channel images with pixel value [0,255]. I run the script  python `tools/labelme2seg.py <PATH/TO/LABEL_JSON_FILE>` on the annotated images and I got the label images in png format with three-pixel values for three classes 0,1,2 for background, and two other class, respectively. I wonder that some of the label ima

[2021-10-13 15:41] AKMourato commented on #1433
@fsultana44 well I don't think it is done properly, probably is the labelme2seg script that has some error or you are not doing something correctly.

I suggest you to loop through your dataset replacing the 1 and 2 pixel values with some other (e.g: 100, 200) and plot some images to have some visual clue about what is happening. The problem should be in your label generation, or the post-processin

[2021-10-14 09:57] yfq512 opened #1440 "Matting项目是支持多种物体的么？"
项目我还没来得及实现，我想先知道这个项目是否支持多种物体的抠图，不仅仅是人像抠图。

[2021-10-15 00:59] huilin16 opened #1441 "请问mlatransformer应该如何使用呢"
我使用contrib中的mlatransformer配置文件会报错，并且找不到SwinTransformer预训练模型路径

[2021-10-15 01:49] michaelowenliu commented on #1440
@yfq512 hi, only for human now.

[2021-10-15 01:51] michaelowenliu commented on #1441
@huilin16 Hi, could you please show your config file?

[2021-10-15 05:22] huilin16 commented on #1441
batch_size:&nbsp;1
iters:&nbsp;160000

model:
&nbsp;&nbsp;type:&nbsp;MLATransformer
&nbsp;&nbsp;pretrained:&nbsp;null&nbsp;#pretrain/pretrained_swin.pdparams
&nbsp;&nbsp;backbone:
&nbsp;&nbsp;&nbsp;&nbsp;type:&nbsp;SwinTransformer_base_patch4_window7_224
&nbsp;&nbsp;&nbsp;&nbsp;ape:&nbsp;False
&nbsp;&nbsp;&nbsp;&nbsp;drop_path_rate:&nbsp;0.3
&nbsp;&nbsp;&nbsp;&nbsp;patch_norm:&nbsp;True
&nbsp;&nbs

[2021-10-15 07:22] lpt-hub opened #1442 "bisenetv2分割错误。"
针对bisenetv2第一次分割出错的地方，特意在样本中新添加了30多张分割错误相关的图像，训练后测试还是会在那个地方分割错误？什么原因？

[2021-10-16 15:47] huilin16 commented on #1441
主要问题就是数据类型不对，跑mla transformer和segformer都是这个报错

将x.dtype改成keep_prob.dtype才可以运行

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月

[2021-10-18 03:36] juncaipeng commented on #1442
这说明bad case还是没有学习到。
你总共数据集多少啊？可以再加大bad case的图片数量。

[2021-10-18 06:02] zhangzscn opened #1444 "针对PP-HumanSeg-Server这个模型，如何获取PaddleX部署所需的文件（model.pdmodel、model.pdiparams、model.pdiparams.info、model.yml、pipeline.yml）？"

[2021-10-18 06:22] juncaipeng commented on #1444
paddlex导出的模型才有这些文件。
paddlex的文档：https://github.com/PaddlePaddle/PaddleX/blob/develop/deploy/cpp/docs/models/paddleseg.md

[2021-10-18 08:46] zhangzscn commented on #1444
缺少对应的配置文件

[2021-10-18 09:17] lfxx opened #1445 "eiseg 下载链接失效"
纠正下，没有失效。关闭代理再下载就行

[2021-10-18 09:20] #1445 closed, assigned to nobody

[2021-10-18 12:35] Xin-Lee opened #1446 "恢复训练时出现问题/there is an error when I resume training: local variable 'images' referenced before assignment"
Today when I try to retrain the previous model, the following errors occurred:

------------Environment Information-------------
platform: Windows-10-10.0.19042-SP0
Python: 3.8.11 (default, Aug  6 2021, 09:57:55) [MSC v.1916 64 bit (AMD64)]
Paddle compiled with cuda: True
NVCC: Not Available
cudnn: 8.1
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: NVIDIA GeForce']
PaddlePaddle: 2.1.3
OpenC

[2021-10-18 14:30] Xin-Lee commented on #1446
Addition: my another model doesn't have this error when resume train.

[2021-10-19 02:30] juncaipeng commented on #1446
In "C:\MyData\Documents\pythonProject\muzhisuAI\paddleseg\core\train.py", the images is a variable, which is not loaded from resume model.

You can update paddleseg to release 2.3 or delete the following lines in "C:\MyData\Documents\pythonProject\muzhisuAI\paddleseg\core\train.py".
![image](https://user-images.githubusercontent.com/52520497/137833790-1e2bfbe0-b72d-4c03-b3c8-c8eeca7f0206.png)

[2021-10-19 02:33] juncaipeng commented on #1444
对应配置文件是paddlex导出的，可以在paddlex下咨询一下。

[2021-10-19 03:05] geoyee commented on #1432
@AKMourato Hello, These losses have been perfected [here](https://github.com/Nanyi-Brigade/PaddleSeg/tree/develop), but I can't submit to PaddleSeg, You can refer to the above repo.
![image](https://user-images.githubusercontent.com/71769312/137835573-089b92d8-9435-4ff7-90c7-da0bb80b2851.png)
## Reasons
1. In binary classification, PaddleSeg's `num_classes=2` and used `argmax`, but in [https://git

[2021-10-19 03:29] TimZhang001 opened #1448 "半监督分割方法的集成"
是否可以考虑增加一些半监督的分割方法，比如boxinst condinst DiscoBox等
这些基于box的标注方式来进行分割可以很好的节省标注时间

[2021-10-19 03:34] Xin-Lee commented on #1446
I update to v2.3 but the error still exists, and when I delete the relative lines, the program stopped without error report here:

W1019 11:28:20.975605 15120 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.4, Runtime API Version: 11.2
W1019 11:28:20.975988 15120 device_context.cc:422] device: 0, cuDNN Version: 8.1.
2021-10-19 11:28:22 [INFO]

[2021-10-19 04:07] michaelowenliu commented on #1448
@TimZhang001 Hi, did you try our EISeg? https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/EISeg

[2021-10-19 08:28] wuyefeilin commented on #1446
Do you train over? If over, It makes no sense to resume.

[2021-10-19 10:16] kingbirdWc opened #1450 "数据集的标签支持3通道的png格式吗？"
您好，数据集的标签支持3通道的png格式吗？不是1 2 3的那种，谢谢

[2021-10-19 10:27] Xin-Lee commented on #1446
oh, thank you very much I forgot it, sorry for my stupid question.....

[2021-10-19 10:27] #1446 closed, assigned to nobody

[2021-10-19 12:52] gxqnba opened #1451 "windows c++部署问题"
我依照windows c++部署说明进行c++部署，成功生成了c++项目，然后生成对应的预测dll，在自己电脑上用python或者c#能成功调用该dll进行预测，但是换了台电脑就不行了，请问我该如何才能实现一台电脑部署，多台电脑都能调用，而不是每台电脑都要部署一次。

[2021-10-20 01:53] shiyutang commented on #1450
你好，你的三通道标签在同样空间位置是否是相同的数值？如果是，请转成单通道传入网络；如果不是，请诠释不同通道代表什么信息，如何与图片对应。
最后，由于损失计算都是传入单通道标签，不能直接将三通道标签传入。

[2021-10-20 04:04] #1441 closed, assigned to michaelowenliu

[2021-10-20 06:10] lpt-hub commented on #1442
数据集共540张，训练集合验证集是9:1。数据集是不是太少？bad case大概应该添加多少？

[2021-10-21 05:52] zhanghongyong123456 opened #1453 "关于matting测试效果，"
这是我运行的命令
![image](https://user-images.githubusercontent.com/48466610/138219280-7562f79d-fef9-4672-a4e1-efe9b8fd0d8e.png)
这是结果
![image](https://user-images.githubusercontent.com/48466610/138219100-d1befc65-560a-49ad-9186-c958af3734fa.png)
这是我的测试，我想问一下，这个需要自己继续训练吗，为什么得到的结果会差这么多呢

[2021-10-21 07:15] juncaipeng commented on #1442
嗯，数据集是相对来说比较小的。bad case数据集当然是越多越好，没有一个通常的定论。

还有一种方法是使用分割能力更强的模型，bisnetv2速度较快，但是精度中等。

[2021-10-21 07:15] #1444 closed, assigned to juncaipeng

[2021-10-21 07:18] juncaipeng commented on #1451
推荐你再每台电脑上进行部署，这种方式是单机部署，通常比较简单。
如果一台电脑部署多台电脑调用，paddle提供paddle servering进行支持，但是这种方式比较繁琐。

参考资料：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/deployment/serving/serving.md
https://github.com/PaddlePaddle/Serving

[2021-10-21 08:08] wuyefeilin commented on #1453
可以试一下modnet_hrnet_w18，这个效果好一些哦。

这是我们开源的模型，你如果自己有数据集，可以基于我们开源的模型进行finetune，应用于自己的场合哈

[2021-10-21 10:45] zhangjinCV opened #1455 "Does PaddleSeg need data enhancement method with RandomCenterCrop ?"
I am a PaddleSeg user and find that the data enhancement method provided by PaddleSeg (here in paddleseg/transforms/transforms.py) does not have RandomCenterCrop (only RandomPaddingCrop). However, RandomCenterCrop and RandomPaddingCrop are very different. RandomCenterCrop does not fill the image but just crops it according to the input random ratio. Input images of any size are only cropped accord

[2021-10-21 13:01] michaelowenliu commented on #1455
@zhangjin12138 Hi, great idea! Welcome to submit the PR.

[2021-10-22 01:11] ucsk opened #1456 "PaddleSeg是否支持滑窗方式预测大分辨率图？"
注意到PaddleX 1.3.11语义分割模型中有 [`model.overlap_tile_predict`](https://paddlex.readthedocs.io/zh_CN/release-1.3/apis/models/semantic_segmentation.html#overlap-tile-predict) 支持滑动窗口方式预测大图，请问PaddleSeg是否有相关的内置方法？

[2021-10-22 03:14] ouyang11111 opened #1458 "eiseg的语义分割标注文件，如何转换为coco数据集标注文件，或者是PASCALVOC2012，标注文件？转labelme也行"

[2021-10-22 03:42] lpt-hub commented on #1442
好的，谢谢啦，我试下。

[2021-10-22 05:02] LutaoChu commented on #1456
有的，可以看一下predict.py里的--is_slide参数，参见 https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/predict/predict_cn.md

[2021-10-22 06:06] haoyuying commented on #1458
eiseg0.3以上版本支持coco类型的标注格式，欢迎体验

[2021-10-22 09:05] songnanx opened #1459 "AttributeError: 'NoneType' object has no attribute 'train'"
对模型量化时报错
PaddleSlim 2.1.1
paddlepaddle-gpu 2.1.3.post112
paddleseg 2.3
![image](https://user-images.githubusercontent.com/77871249/138426580-3dcbe4dd-15a6-476b-b504-d0d45308eca8.png)

[2021-10-22 10:50] huangwan-jiayi opened #1460 "按照paddleseg官方文档下的剪枝说明，对自己训练的bisenetV2模型进行了剪枝和重新训练重新训练后的模型部署用c++部署在jetsonnx上时便报错"
c++ inference库信息：
![image](https://user-images.githubusercontent.com/71338215/138442017-0a1cf5b0-79f4-4dc8-8d65-df82e1872ae3.png)

jetson nx环境信息：
![image](https://user-images.githubusercontent.com/71338215/138442044-1631674f-7fff-4996-90fa-9e683f66117d.png)

预测全部代码：
[code]

报错：
![image](https://user-images.githubusercontent.com/71338215/138442085-4dbb4830-e831-4610-b373-8134adf5cf58.png)

模型文件：
[m

[2021-10-23 09:32] chenglong-do opened #1461 "eiseg COCO 格式用于 paddlex、PaddleDetection 训练报错"
**bug描述**
使用 EISEG 标注后保存为 COCO 格式，用于paddlex、PaddleDetection 训练时会报错，请问是需要特别转换么？

[code]

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： Linux
 - 安装方式：pip
 - 软件版本：0.3.0.2

[2021-10-23 09:52] chenglong-do commented on #1458
这个保存的 COCO 格式在 PADDLEX 和 PaddleDetection 下训练都报错了，请问下是什么情况啊？
[code]

[2021-10-23 14:14] ty199931 opened #1462 "是否有论文呢？"
请问这个有相关的论文吗？

[2021-10-24 02:45] huilin16 opened #1463 "如何进行模型权重平均"
您好，我想在训练过程中使用SWA进行加权平均，但是没有找到相关配置文件或代码，但发现了个EMA平均
请问EMA平均应该如何使用呢，配置文件、教程文档中好像没有找到相关内容

[2021-10-24 14:47] ty199931 commented on #1435
你好，我看了好几篇相关的论文，也大概明白您说的什么意思，但我认真读了eiseg的代码，我看之前论文提到的都是生成了一个四维的输入影像，但是在这个代码上没有很明确的看出来输入的影像是四维的，但是好像对于gt有处理，利用高斯分布形成了热力图，但我觉得如果只是对gt进行了高斯分布的话，不太现实哇，不是应该同时对输入的影像和gt做一样的变换吗?
另外就是训练过程中的点是随机生成随机分布进行训练的吗?那我们实际上交互界面上点的点就是将输入影像多加了一个维度，导致最后生成的是针对该物体的分割结果吗?
最后一个问题，我在贵公司开放的公开课上看到您说的交互是运用了一种TRIM算法(可能名字没记住打错了)，但我在百度上查找了，什么都找不到，请问这个算法可以在哪里有介绍吗?请问这个有论文吗?感觉很多我都理解的不是很清楚哎，
如果能够解答疑惑，不胜感激，想去交互领域占个坑

---原始邮件---
发件人: **

[2021-10-25 01:56] haoyuying commented on #1461
可以参考https://github.com/PaddlePaddle/PaddleSeg/issues/1437

[2021-10-25 03:33] michaelowenliu commented on #1462
@ty199931 Hi, what do you mean?

[2021-10-25 04:48] ty199931 commented on #1462
&nbsp; I want to know the detail of the click theory, and when I read the code,I can not understanding it compeletely, So I would like to know if there is a paper to introduce. When I click an object,whether it will produce a heatmap to concatenate image,then get the gt?

---原始邮件---
发件人: "Liu ***@***.***&gt;
发送时间: 2021年10月25日(周一) 中午11:33
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re

[2021-10-25 06:04] lowfang opened #1464 "关于matting模型导出的问题"
我尝试把matting导出，也把 MODNet 添加到了paddleseg/models/ 下，但是仍然报了 img 相关的一个错误，而且转化静态模型的时候也出现了shape相关错误。请问能否提供一个例子让我们把matting模型导出呢？

[2021-10-25 06:10] juncaipeng commented on #1460
好的  我们复现一下

[2021-10-25 06:15] juncaipeng commented on #1459
量化的文档中建议安装paddlepaddle-gpu的nightly build版本，近期会发布paddlepaddle-gpu 2.2版本，到时候也可以安装2.2版本。
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/slim/quant/quant.md#31-%E7%8E%AF%E5%A2%83%E5%87%86%E5%A4%87

[2021-10-25 06:26] wuyefeilin commented on #1464
感谢你的反馈，近期我们会增加导出功能哈，欢迎关注哈。

[2021-10-25 08:19] lpt-hub opened #1465 "用paddleseg的predict.py预测和paddlex的model_infer推理结果相差有点大。"
用paddleseg的predict.py预测和paddlex的model_infer推理结果相差有点大。paddleseg是2.3版本，paddlex是2.0，算上背景一共有3个类别。predict.py预测两个类别都没问题，用model_infer推理，结果是第一个类别可以正常分割出来，第二个类别没有分割出一张。什么原因？

[2021-10-25 08:27] juncaipeng commented on #1460
你导出的预测模型deploy.yml中的transform包括Resize和Normalize，由于示例程序只考虑了Normalize，所以导致你的程序没有对图像进行正则化。

建议你可以直接指定`yaml_config.is_normalize=True`，完成部署。我们会尽快更新示例程序，考虑Resize预处理。

[2021-10-25 08:40] huangwan-jiayi commented on #1460
意思是现在还不支持裁剪量化后的模型进行部署吗？

[2021-10-25 08:46] huangwan-jiayi commented on #1460
![image](https://user-images.githubusercontent.com/71338215/138663968-d545f7e3-a811-45e2-9cb1-f3be0ed0c1b9.png)
![image](https://user-images.githubusercontent.com/71338215/138664043-86d9a87e-6ba2-4362-b759-c720c227f806.png)
还有您说的，是把这样修改吗？改完后报这个错
![image](https://user-images.githubusercontent.com/71338215/138664308-e89701f4-0b3c-421a-a611-5d73d9f2c576.png)

[2021-10-25 09:00] juncaipeng commented on #1460
这是因为你的模型的输出类型是float，不是int64_t，所以改下下面获取输出的类型为float。

![image](https://user-images.githubusercontent.com/52520497/138666575-ac5fbbd3-208d-4635-912c-f558b7791c07.png)

[2021-10-25 09:15] lxtGH opened #1467 "About Paper EdgeFlow: Consider Citation"
Hi!
It is a very interesting idea to using flow to re-fine the object boundaries for Interactive Segmentation task.

However, there are two ECCV 2020 paper and one axiv paper also using the flow to warping and upsampling features for **Segmentation** task. (I aslo seen these works in this repo).

1, Semantic Flow for Fast and Accurate Scene Parsing ECCV-2020
2,  Improving Semantic Segmentation via

[2021-10-25 09:29] hehao13 commented on #1467
I agree with @lxtGH.

Adding these three papers to the reference is helpful to those who are not familiar with the flow-warping. Thus, it will be better that the authors add these papers in the next version of EdgeFlow.

[2021-10-25 09:32] haoyuying commented on #1467
Thank you for reminding， we will add these citation for next version of EdgeFlow.

[2021-10-25 09:47] michaelowenliu commented on #1467
@lxtGH @hehao13 Hi, great ideas!  Thanks for your works!

[2021-10-25 09:53] huangwan-jiayi commented on #1460
![image](https://user-images.githubusercontent.com/71338215/138674548-fe9bd327-c416-407b-8010-519ae2c2f1df.png)
改了，是不是后面的变量也要做相应改动呢。又出现了下面的问题。
![image](https://user-images.githubusercontent.com/71338215/138674437-4e8c18cf-37e4-49de-af53-48b6b00bec7f.png)

[2021-10-25 11:44] FlyingQianMM commented on #1465
您好，麻烦您参考PaddleX ISSUE模版提供下模型、相关部署环境和复现命令，https://github.com/PaddlePaddle/PaddleX/issues
PaddleX C++部署分割结果可视化可参考[FQA Q4](https://github.com/PaddlePaddle/PaddleX/blob/develop/docs/FAQ/FAQ.md#%E6%8E%A8%E7%90%86%E9%83%A8%E7%BD%B2%E9%97%AE%E9%A2%98)，可先排除下是否是可视化的问题

[2021-10-25 12:43] juncaipeng commented on #1463
这里有一个ema平均的实现和示例，只支持单卡训练，可以参考一下：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/paddleseg/utils/ema.py

[2021-10-25 12:46] juncaipeng commented on #1460
从predictor中获取输出的数据类型都需要改为float。

[2021-10-26 02:53] huangwan-jiayi commented on #1460
我把后面对输出数据的处理都注释了，能run起来了。裁剪后的模型peridictor run（）的时间比未裁剪的模型花的时间还长。请问这是这是怎么回事。

[2021-10-26 03:47] lpt-hub commented on #1465
不是可视化的问题，可以分割出第一个类别，只是第二个类别没有分割出一个。

[2021-10-26 03:49] lpt-hub commented on #1465
我用样本数据来测试，第一个类别可以分割出来，第二个类别没有分割出来。

[2021-10-26 03:52] lpt-hub commented on #1465
我前几周测试是正常的，用c++的model_infer推理，两个类别都可以分割出来，我自己做的可视化，保存的结果图像。本周又添加了200张样本之后训练，测试发现python的predict可以正确预测，导出模型后，用c++的model_infer推理结果就有第二个类别无法分割出来。

[2021-10-26 04:02] lpt-hub commented on #1465
使用环境：windows10, rtx 2080显卡，cuda11，paddleseg2.3，paddlex 2.0。
模型导出命令：python export.py --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml --model_path output\best_model\model.pdparams --input_shape --save_dir output
推理命令：./model_infer --model_filename=model\model.pdmodel --params_filename=model\model.pdiparams --cfg_file=model\deploy.yaml --image=dataset\saveImg --model_type=seg --use_gpu

[2021-10-26 04:03] juncaipeng commented on #1460
你裁剪比例是多少啊？理论上裁剪后会更快，但是也不一定，对算力强的gpu，算力不一定是瓶颈。

[2021-10-26 04:08] huangwan-jiayi commented on #1460
裁剪比例0.3，所用的gpu是jetson nx上的gpu 算力应该不是很强

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: cc ***@***.***&gt;
发送时间: 2021年10月26日 12:03
收件人: PaddlePaddle/PaddleSeg ***@***.***&gt;
抄送: huangwan-jiayi ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleSeg] 按照paddleseg官方文档下的剪枝说明，对自己训练的bisenetV2模型进行了剪枝和重新训练重新训练后的模型部署用c++部署在jetsonnx上时便报错 (Issue #1460)

你裁剪比例是多少啊？理论上裁剪后会更快，但是也不一定，

[2021-10-26 07:31] kyeongjunJang opened #1471 "Cityscapes SOTA"
![image](https://user-images.githubusercontent.com/63050716/138828616-490059be-ce5d-45e8-857e-c95825262ea8.png)

![image](https://user-images.githubusercontent.com/63050716/138828654-21fd0347-b1d5-4df3-b7ab-fdf1af734ac2.png)

What role do labelTrainIds.png?
and  the images in convert_autolabelled folder?

I think we only need labelIds.png for actual training.

[2021-10-26 13:59] #1438 closed, assigned to LutaoChu

[2021-10-27 04:03] LutaoChu commented on #1471
There are 19 categories in labelTranIds and 30 categories in labelIds. We need labelTranIds.png when training. For specific category information, please refer to https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/helpers/labels.py
The data in the convert_autolabelled folder comes from Nvidia’s Autolabelled Data, which is converted to PaddleSeg data format by our conversion

[2021-10-27 07:13] ding-Chen opened #1474 "SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception."
您好，我在panoptic-deeplab基础上构建了一个新的模型，基本和panoptic-deeplab类似，在训练时出现了这个错误，请问这个是什么原因呢？ 我用的数据集格式和panoptic-deeplab是一样的，都是cityscapes。
![CH0@X_A@19T})4NL}D)ROR8](https://user-images.githubusercontent.com/85236372/139017691-35fda278-ac50-42b3-bd24-f9fd583f054c.png)

[2021-10-27 07:16] ding-Chen commented on #1474
这个是一些相关的地方
![K15$YFND`G00%Q%O6(756$W](https://user-images.githubusercontent.com/85236372/139018114-23d7a15b-9bcc-4906-bd07-d4edfc919902.png)
![BPZ$6 TAC20W)B~VV1~AC(W](https://user-images.githubusercontent.com/85236372/139018125-6a523541-714a-4d40-86c7-f7767e283805.png)

[2021-10-28 02:09] wuyefeilin commented on #1474
跑原教程可以跑通吗？ 另外你是否对数据读取过程进行了修改？

[2021-10-28 02:47] ding-Chen commented on #1474
跑原教程是可以跑通的，对数据读取过程进行了部分修改，把读取的一些数据换成了别的，是这出现了错误吗？那请问我要怎么查找并解决这个错误呢？谢谢您的解答

[2021-10-28 05:02] 2017398956 commented on #1306
我发现问题怎么解决了，如果是单张图片耗时要 100ms+ 要是一次处理大量图片就可以了（试了 100 张，总耗时 2462ms）

[2021-10-28 05:02] #1306 closed, assigned to juncaipeng

[2021-10-28 05:10] ucsk commented on #1456
我发现滑窗方式预测的结果只有底图（类别0），但使用切图方式，单张预测却能够正常识别。

[code]

[2021-10-28 06:56] zhanghongyong123456 commented on #1453
你好，我测试了你说的这个模型，得到这样的结果
![image](https://user-images.githubusercontent.com/48466610/139202795-17f1ead3-21e1-4ef9-85b0-1d5b259cec97.png)

![image](https://user-images.githubusercontent.com/48466610/139203058-45bd6163-b158-42da-afb5-dc025fcf253e.png)
这是运行命令，我不确定我是否哪里搞错了，期待您的回复

[2021-10-28 06:58] zhanghongyong123456 commented on #1453
对于这个文件configs\modnet\modnet_mobilenetv2.yml，更换了模型，这个yml文件是否也需要修改什么

[2021-10-28 07:06] lpt-hub opened #1477 "使用tenosrrt_infer推理报错"
环境：win10,cuda11,paddleseg2.3,paddlex2.0,bisenetv2

用paddleseg的export导出模型的。
模型导出命令：python export.py --config configs\quick_start/bisenet_optic_disc_512x512_1k-100000.yml --model_path output\best_model\model.pdparams --input_shape 1 3 1024 1024 --save_dir output

推理命令：tensorrt_infer.exe --model_filename=model/model.pdmodel --params_filename=model/model.pdiparams --cfg_file=model/deploy.yaml --image=

[2021-10-28 07:09] lpt-hub opened #1478 "使用paddlex的基于Docker的TensorRT部署paddleseg模型报错"
环境：win10,cuda11,paddleseg2.3,paddlex2.0,bisenetv2

模型导出命令：python export.py --config configs\quick_start/bisenet_optic_disc_512x512_1k-100000.yml --model_path output\best_model\model.pdparams --input_shape 1 3 1024 1024 --save_dir output

转换onnx命令：paddle2onnx --model_dir output --model_filename output/model.pdmodel --params_filename output/model.pdiparams --opset_version 11 --save_file output.onnx

[2021-10-28 07:58] wuyefeilin commented on #1474
@ding-Chen 你可以单独构建datasets对象后对数据进行读取。然后寻找出错的地方

[2021-10-28 08:31] wuyefeilin commented on #1453
![image](https://user-images.githubusercontent.com/30919197/139218135-afc4025d-fc1b-4011-800c-0d8dabd4246d.png)
--config 需要对应换一下

[2021-10-28 09:51] juncaipeng commented on #1477
在paddlex有相同issue，请关注那个issue。

[2021-10-28 09:51] #1477 closed, assigned to nobody

[2021-10-28 09:51] juncaipeng commented on #1478
在paddlex有相同issue，请关注那个issue。

[2021-10-28 09:51] #1478 closed, assigned to nobody

[2021-10-28 12:26] ding-Chen commented on #1474
好的，我去试一试

[2021-10-29 01:08] zhanghongyong123456 commented on #1453
我没有找到对应的yml文件，这个在哪里下载

[2021-10-29 02:45] wuyefeilin commented on #1453
更新一下代码

[2021-10-29 05:03] wang971124 opened #1482 "混淆矩阵"
paddleseg2.3.0想要输出混淆矩阵？

[2021-10-29 07:09] wang971124 opened #1483 "乱码"
linux下输出的log文件中文乱码

[2021-10-29 07:44] zhanghongyong123456 commented on #1453
哦哦，新上传的哈

[2021-10-29 08:43] zhanghongyong123456 commented on #1453
![image](https://user-images.githubusercontent.com/48466610/139404330-bdfd2a05-1d95-42a8-812f-f30b7ba61ac8.png)
这是我刚刚测试的结果，效果还是有些不如意，我想知道模型迭代了多少次，如果我要微调这个模型，我是需要添加新的数据集或者是增加迭代的次数，我该考虑哪些方面呢，期待您的回复

[2021-10-30 11:39] AKMourato commented on #1389
hi @LutaoChu. When do you guys plan to add, precision, recall and F1 score?
Thank you

[2021-10-30 12:31] lujx1024 opened #1485 "Windows平台运行示例代码报错 'C:\Program' 不是内部或外部命令，也不是可运行的程序 或批处理文件”"
环境：
操作系统：windows 10
Paddle版本 ： paddlepaddle-gpu 2.1.3
CUDA和NVIDIA驱动已正确安装，PaddlePaddle和PaddleSeg已正确安装。

执行指令
[code]

 在日志首行报错`'C:\Program' 不是内部或外部命令，也不是可运行的程序
或批处理文件。`

请问这是什么问题？

以下是执行的完整日志：
[code]

[2021-10-31 06:43] huilin16 opened #1486 "slide_infer时显存溢出"
在slide_infer过程中，使用ocrnet+hrnet48，对5000*5000大小的影像进行slide推理，crop size及stride均为512，在预测过程中，显存会不断增强，直至超出显存限制

[2021-10-31 06:48] huilin16 commented on #1486
![q1](https://user-images.githubusercontent.com/36887207/139571660-d7a17f57-fdfc-4760-96ad-7b041cdd8fb6.png)

[2021-10-31 13:31] khaep opened #1487 "How to apply transfer learning with BiSeNet V2?"
Hello PaddleSeg community,

are there any pretrained weights or models of [BiSeNetV2](https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/configs/bisenet) which can be used for transfer learning?
For example the weights/model of the [cityscapes submission](https://paperswithcode.com/paper/bisenet-v2-bilateral-network-with-guided) that reached 72.6 % mIoU and 156 FPS.

Is it possible to load

[2021-11-01 02:52] wuyefeilin commented on #1453
针对你的应用场景， 准备一些数据集进行训练就可以了

[2021-11-01 02:56] wuyefeilin commented on #1485
看样子能正常进行预测，这应该是win的问题，可以选择忽略哈

[2021-11-01 02:58] wuyefeilin commented on #1486
因为slide， 预测需要保存每一个slide的结果，显存增加是符合预期的哈。 能具体给一下显存增加的过程码

[2021-11-01 03:01] wuyefeilin commented on #1487
Just pass the pretrained model path to `pretrained` argument of the BiseNetV2

[2021-11-01 03:06] lujx1024 commented on #1485
@wuyefeilin 是的，预测结果是正常的，那么它应该是调用了windows的什么程序但是由于`Program files`这个文件夹的命名导致的，如果有可能的话，能不能麻烦您查一下是哪个地方调用的？因为既然程序里面调用了就应该是有用处的，说不定后面会因为这个引起bug。

还有，我注意到在执行这个预测程序时，查看GPU显存运行情况时。遇到报错"Insufficient Permission",请问这个是什么问题？

报错信息如下：
[code]

[2021-11-01 06:43] wuyefeilin commented on #1485
pid 12004是什么命令？

[2021-11-01 07:11] lujx1024 commented on #1485
这个进程也是运行预测示例代码之后出现的，没有运行其他的命令

[2021-11-01 07:35] ding-Chen opened #1489 "IndexError: When index contains a Tensor, its length must be 1, but received 2"
当我将一份pytorch代码转为paddle时，出现了IndexError: When index contains a Tensor, its length must be 1, but received 2。我不是特别清楚这个问题要如何解决。部分代码如下：
![22222222](https://user-images.githubusercontent.com/85236372/139637399-c3d15169-d17e-4cdc-9239-759e83b3db06.png)

[2021-11-01 07:41] wuyefeilin commented on #1489
目前paddle tensor角标不支持多元素形式输入，支持切片和单个值的输入， 例如：tensor[:, i]

[2021-11-01 08:17] LutaoChu commented on #1389
We plan to add these indicators in the new version. You are also welcome to contribute code to us if you are interested in developing these indicators

[2021-11-01 08:51] wuyefeilin commented on #1456
`只有底图（类别0） `的意思是什么？

另外， 滑窗预测一半crop_size是小于输入图象大小， 你这边输入图象为512, 滑窗为1024, 并没有意义

[2021-11-02 01:55] ding-Chen commented on #1489
那请问有什么好的替代方案能解决这个问题吗？

[2021-11-02 02:14] wuyefeilin commented on #1489
可以提取出坐标，利用scatter或scatter_nd进行解决

[2021-11-02 06:39] justld opened #1491 "CrossEntropyLoss带权重参数时有bug"
在paddleseg/models/losses/cross_entropy_loss.py中的CrossEntropyLoss类49-52行代码处，当有权重参数时会将权重扩充到256的长度，但是forward函数中调用的paddle.nn.functional.cross_entropy接受的权重参数应该和分类类别相同，这么处理会引起异常（cityscapes 19类为例）：
ValueError：inputs's class_dimension(19) must equal to weight's class_dimension(256) when weight is provided.

在paddleseg-develop和paddleseg-release2.3中都有这个问题，paddleseg-release2.2中无此bug。

部分代码如下：
`
self.weight =

[2021-11-02 06:41] zhanghongyong123456 commented on #1453
您好我想达到头发丝级别的抠像，可以实现吗用咱们的这个训练代码，只要我有数据集

[2021-11-02 07:09] khaep commented on #1487
@wuyefeilin,
thank you for the reply.

I will try it by passing the _model.pdparams_ file as the [pretrained argument](https://github.com/PaddlePaddle/PaddleSeg/blob/fc4e41b676205261e95cd39d3597149f12d68705/configs/quick_start/bisenet_optic_disc_512x512_1k.yml#L39) in the config file.

[2021-11-02 07:14] wuyefeilin commented on #1453
妥妥的

[2021-11-02 11:37] LutaoChu commented on #1491
你的paddle版本是多少呢？
用long_weight的目的是为了修复之前的paddle cross_entropy OP的bug
我这边亲测paddle 2.1.3 + paddleseg develop是OK的，你可以试一下

[2021-11-02 12:14] justld commented on #1491
你好，我是在aistudio平台下使用出现的bug，paddlepaddle==2.1.2和paddlepaddle==develop，下面是aistudio的一个测试连接，可以看一下。
https://aistudio.baidu.com/aistudio/projectdetail/2562304?shared=1

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"

[2021-11-03 01:07] zhanghongyong123456 commented on #1453
好的，我试试，谢谢指点

[2021-11-03 08:15] lujx1024 commented on #1485
@wuyefeilin 这个问题出现的地方已经找到了，问题出现在`env_info = get_sys_env()`这一行代码上。
在获取系统信息方法`get_sys_env()`中，执行`nvcc`指令获取`CUDA`的版本号。
由于`CUDA`在windows上的默认安装路径是 ： `'C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2'`.，因为中间的空格导致命令执行失败。

这里需要将路径中有空格的部分处理一下，我是使用了字符串替换的方式，在文件`PaddleSeg/paddleseg/utils/env/sys_env.py`文件，`_get_nvcc_info(cuda_home)`方法，约第60行左右，替换`nvcc`路径值即可：

[code]

[2021-11-03 08:33] eisenxiao commented on #1464
大佬，请问导出功能什么时候能增加？

[2021-11-04 00:41] #1485 closed, assigned to nobody

[2021-11-04 03:44] zyz207 opened #1496 "Matting模型使用了多少张训练数据"
请问提供的Matting模型用了多少训练数据呢？

[2021-11-04 06:18] michaelowenliu commented on #1483
@wang971124 hi, what is your question?

[2021-11-04 06:18] #1482 closed, assigned to nobody

[2021-11-04 06:20] michaelowenliu commented on #1462
@ty199931 https://arxiv.org/abs/2109.09406

[2021-11-04 06:22] wuyefeilin commented on #1464
已经支持了，更新一下develop的最新代码，同时我们提供了Python部署代码

[2021-11-04 06:23] wang971124 commented on #1483
训练模型中导出的log文件乱码

[2021-11-04 06:41] wuyefeilin commented on #1496
你可以使用诸如Composition-1k, Distinction-646, PPM-100, AIM-500, VideoMatte-240k等数据集进行训练哈，如果你有自己的数据集也可以在我们开源模型的基础上进行训练

[2021-11-04 08:16] HongChen123 opened #1497 "Unet模型c++推理开启TRT，加载模型异常"
使用visualdl查看网络结构图也可以看到bilinear_interp_v2层的输出结构 1x64x?x?
如果仅开启GPU，可以正常加载模型，推理结果正常，开启TRT配置后，出现下述异常。
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
Not support stack backtrace yet.

----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The input [bilinear_interp_v2_3.tmp_0] shape of trt subgraph

[2021-11-04 14:39] DXVVV opened #1498 "error during exporting model AssertionError: Each dimension size given in out_shape must be greater than 0."
我在导出模型，然后用下面的bash命令
[code]
但是报了如下的错，我是在自制数据集上训练的，训练和评估过程一切正常，但是就是导出有错，换了几个模型，2.3新增的模型就是不行，老的ok。
---
platform: Linux-4.15.0-142-generic-x86_64-with-debian-stretch-sid
Python: 3.7.0 (default, Jun 28 2018, 13:15:42) [GCC 7.2.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.2, V10.2.89
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: 0,1
GPU: ['GPU 0: Tesla K80', 'GPU 1: Tesla

[2021-11-04 16:26] khaep commented on #1487
After starting the train.py script, there are some warnings depicted in the picture below.
I would say the num_classes of the custom dataset are the reason for that.
In the custom dataset I have only 2 classes instead of the 19 cityscapes classes.

![Screenshot from 2021-11-04 17-13-39](https://user-images.githubusercontent.com/66534155/140378235-da8acadd-dfb5-4555-a33b-f14152582e4a.png)

Can you

[2021-11-05 03:25] yangy996 opened #1500 "Matting训练报错"
WARNING: Detect dataset only contains single fileds, return format changed since Paddle 2.1. In Paddle <= 2.0, DataLoader add a list surround output data(e.g. return [data]), and in Paddle >= 2.1, DataLoader return the single filed directly (e.g. return data). For example, in following code:

import numpy as np
from paddle.io import DataLoader, Dataset

class RandomDataset(Dataset):
    def __geti

[2021-11-05 03:32] #1500 closed, assigned to nobody

[2021-11-05 03:36] lfxx opened #1501 "EISEG 网络模型如何转onnx格式呢"
我看网络结构中有条件分支，这种如何处理呢

[2021-11-05 07:00] LutaoChu commented on #1491
你好，由于paddle cross_entropy OP存在问题，不同版本的PaddleSeg需要正确对应Paddle的版本，具体梳理如下：
https://github.com/PaddlePaddle/PaddleSeg/pull/1499
待上述PR合入后使用paddle dev和paddleseg dev即可正常使用了

[2021-11-05 08:13] little-white001 opened #1503 "文档说明错误"
PaddleSeg/docs/predict/predict.md，说明文档中，第1点结尾处：At this point, you can specify image_list as train.txt and image_dir as the directory where the training data is located when predicting. The robustness of PaddleSeg allows you to do this, and the output will be the prediction result of the original training data.
实际使用的时候，并不能通过命令行设置image_list为train.txt，设置image_dir为训练数据目录运行，而是直接指定image_dir为train.txt才运行

[2021-11-05 09:24] cjwqhz opened #1504 "MemoryError: Unable to allocate 10.8 GiB for an array with shape (4, 64868, 44515) and data type uint8"

[2021-11-05 10:31] Darki-luo opened #1505 "2.3版本训练时报错"
套件版本 paddleseg2.3
2021-11-05 17:21:58 [INFO]      [TRAIN] epoch: 1, iter: 10/60000, loss: 2.8347, lr: 0.009993, batch_cost: 0.8433, reader_cost: 0.03551, ips: 4.7432 samples/sec | ETA 14:03:10
2021-11-05 17:22:05 [INFO]      [TRAIN] epoch: 1, iter: 20/60000, loss: 1.2982, lr: 0.009985, batch_cost: 0.7687, reader_cost: 0.00004, ips: 5.2034 samples/sec | ETA 12:48:28
2021-11-05 17:22:05 [INFO]

[2021-11-05 17:23] stefan-sf-wu opened #1507 "Run prediction on multiple GPUs"
Hi,

First of all, thank you for releasing this great work :)

I am curious about whether it is possible to run `predict.py` on multiple GPUs to increase inference speed? I am currently running large-scale remote imagery analysis that is really time-consuming...

Stefan

[2021-11-06 10:09] Mustafa744 opened #1508 "Loading Backbone"
How can i load a backbone to a pretrained model?

[2021-11-06 14:00] ty199931 opened #1509 "训练EISeg"
你好，请问针对EISeg的训练的代码是不是还没开源啊？ 好像找不到，

[2021-11-07 13:06] DXVVV opened #1510 "deploy/python/infer.py并不能正确保存所有预测结果"
windows平台X86 cpu预测，image_path里面有四张图片，结果只有一张，查看了预测过程，在`_save_imgs(self, results, imgs):`中i的值一直是0.然后只能保存最后一次的结果，并且名字是第一张图片的名字。

[2021-11-08 02:04] juncaipeng commented on #1510
是不是路径有点问题啊，是否有中文等字符呢？

[2021-11-08 02:04] juncaipeng commented on #1509
是的

[2021-11-08 02:04] #1509 closed, assigned to nobody

[2021-11-08 02:06] juncaipeng commented on #1508
In the config, you can set the path of pretrained model as follows. The pretrained also can be the path in your computer, such as "/work/pretrained/model/model.pdparams" .

![image](https://user-images.githubusercontent.com/52520497/140673274-a6ccdbc0-fc09-4395-b93c-389e5f8e6a9b.png)

[2021-11-08 02:21] juncaipeng commented on #1507
`predict.py` can not use multiple GPU.  To accelerate the inference speed, you can export the model and use paddle inference python or c++ api to deploy the model.

https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/model_export.md

[2021-11-08 02:26] juncaipeng commented on #1505
你好，看你的log是下面这行中y和 self.fuse_layers[i]j的维度不匹配，并不是seg的错误，再检查一下组网代码吧。
`
File "/home/w/python/laaneseg/paddleseg/models/backbones/litehrnet.py", line 910, in forward
y += self.fuse_layers[i]j
`

[2021-11-08 02:28] juncaipeng commented on #1504
The error means out of memory. Please check the GPU memory and your code.

[2021-11-08 02:29] juncaipeng commented on #1501
和常规方法一样转onnx，条件分支一般是支持的。

[2021-11-08 02:35] juncaipeng commented on #1497
对于大部分分割模型来说，gpu上开启trt后必须启用动态shape，默认test_seg.cc是没有开启动态shape，所以会报错。我们会尽快修复。

[2021-11-08 03:27] stefan-sf-wu commented on #1507
Thank you for your reply!
I will give it a try.

[2021-11-08 03:27] #1507 closed, assigned to juncaipeng

[2021-11-08 03:58] LutaoChu commented on #1503
感谢反馈！已经提pr进行修复  https://github.com/PaddlePaddle/PaddleSeg/pull/1512

[2021-11-08 05:27] DXVVV commented on #1510
不是诶，图片路径是`E:\lab_project\seg\test`

[2021-11-08 06:37] juncaipeng commented on #1510
是保存图片路径错误，修复pr：https://github.com/PaddlePaddle/PaddleSeg/pull/1513

[2021-11-08 06:37] #1510 closed, assigned to juncaipeng

[2021-11-08 06:39] #1508 closed, assigned to juncaipeng

[2021-11-08 08:44] lfxx commented on #1501
生成的onnx其实就是条件分支的默认路线吧

[2021-11-08 10:27] gxqnba opened #1514 "paddleseg"

[2021-11-08 10:27] #1514 closed, assigned to nobody

[2021-11-08 10:29] gxqnba opened #1515 "paddleseg模型问题"
请问paddleseg目前提供基于transformer的分割模型吗？如果支持，请问如何使用？

[2021-11-09 01:32] michaelowenliu commented on #1515
@gxqnba https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/configs/segformer

[2021-11-09 01:36] #195 closed, assigned to LutaoChu

[2021-11-09 01:37] #207 closed, assigned to ZeyuChen

[2021-11-09 01:37] #206 closed, assigned to LutaoChu

[2021-11-09 01:37] #259 closed, assigned to nobody

[2021-11-09 02:07] gxqnba commented on #1515
谢谢！

[2021-11-09 03:58] shiyutang commented on #1498
你好，这个是由于动转静过程中使用reshape操作导致形状纬度-1污染tensor报错，目前已经修改，请参考[PR](https://github.com/PaddlePaddle/PaddleSeg/pull/1516#issue-776158135)

[2021-11-09 06:53] DXVVV commented on #1498
你好，谢谢你们及时的反馈，值得一提的是，我尝试了pointrend，也是有同样的问题，我看你的修改只是ginet的文件，可以麻烦查看一下pointrend是否有同样的问题呢

[2021-11-09 07:09] shiyutang commented on #1498
Sure, we will look at it and get back to you ASAP~

[2021-11-10 03:29] lpt-hub opened #1519 "paddleseg训练bisenetv2模型时，在代码中没有找到归一化操作。"
paddleseg训练bisenetv2模型时，在代码中没有找到归一化操作。请问，图像在哪做的归一化操作？

[2021-11-10 06:11] shiyutang commented on #1519
Image normalization is done through configurations.

As we can see in the config file of bisenet, it inherits the config file of cityscapes.yml as shown below
![image](https://user-images.githubusercontent.com/34859558/141059226-010f4469-6636-459f-948a-4769e303d01c.png)
And in the cityscapes config file, we add normalization in the dataset part as the following pic shows.
![image](https://user-ima

[2021-11-10 06:11] Vicellken commented on #1203
我在Linux环境中也遇到同样问题，但是没有配置环境的权限
采用的方法：
`pip uninstall PyQt5`
`conda install pyqt`

[2021-11-10 07:19] lpt-hub commented on #1519
这个我明白，只是我在训练的python代码中没有找到归一化的操作。

[2021-11-10 07:54] tongchangD commented on #1203
linux 环境 你可以在这这个[issues](https://github.com/PaddlePaddle/PaddleSeg/issues/1363)找到答案

[2021-11-10 08:37] linhandev commented on #1203
@Vicellken @tongchangD
大佬们好，我们在目前的版本[init](https://github.com/PaddleCV-SIG/EISeg/blob/b5cc067602d4b5633eca8f01a240d2d5784da581/eiseg/__init__.py#L18)文件中加入了对这个冲突的检测。可以尝试一下在加载cv2之后，qt之前加入
[code]
我们项目已经很久没收到这个xcb问题的反馈了，应该是好用的。

希望有帮助

[2021-11-10 09:06] #1515 closed, assigned to michaelowenliu

[2021-11-10 09:07] #51 closed

[2021-11-10 09:07] #202 closed, assigned to LutaoChu

[2021-11-10 09:07] #273 closed, assigned to nobody

[2021-11-10 09:07] #279 closed, assigned to Channingss

[2021-11-10 09:08] #288 closed, assigned to wuyefeilin

[2021-11-10 09:08] #293 closed, assigned to wuyefeilin

[2021-11-10 09:08] #294 closed, assigned to wuyefeilin

[2021-11-10 09:08] #296 closed, assigned to wuyefeilin

[2021-11-10 09:13] #297 closed, assigned to LutaoChu

[2021-11-10 09:13] #298 closed, assigned to nepeplwu

[2021-11-10 09:14] #299 closed, assigned to nepeplwu

[2021-11-10 09:14] #303 closed, assigned to nepeplwu

[2021-11-10 09:14] #307 closed, assigned to wuyefeilin

[2021-11-10 09:15] #308 closed, assigned to wuyefeilin

[2021-11-10 09:15] #309 closed, assigned to wuyefeilin

[2021-11-10 09:15] #310 closed, assigned to wuyefeilin

[2021-11-10 09:16] #314 closed, assigned to LielinJiang

[2021-11-10 09:16] #319 closed, assigned to nobody

[2021-11-10 09:16] #321 closed, assigned to nobody

[2021-11-10 09:16] #324 closed, assigned to nobody

[2021-11-10 09:16] #327 closed, assigned to nobody

[2021-11-10 09:16] #330 closed, assigned to nobody

[2021-11-10 09:17] #332 closed, assigned to wuyefeilin

[2021-11-10 09:17] #334 closed, assigned to pennypm

[2021-11-10 09:17] #337 closed, assigned to nobody

[2021-11-10 09:17] #341 closed, assigned to nepeplwu

[2021-11-10 09:18] #347 closed, assigned to wuyefeilin

[2021-11-10 10:03] shiyutang commented on #1519
if you have this configuration, paddleseg will call normalize transform in the config file.
The relevant config code is here: https://github.com/PaddlePaddle/PaddleSeg/blob/6b68b0a766710e49c6e20b255b9de347b168188e/paddleseg/cvlibs/config.py#L353
the transform component is loaded then pass to the train/val dataset.

The transform code is here: https://github.com/PaddlePaddle/PaddleSeg/blob/6b68b0a7

[2021-11-11 02:55] lpt-hub commented on #1519
谢谢啦

[2021-11-11 07:38] YRDTSS opened #1521 "Unet训练自己的数据集 跑完一个epoch就停了"
最近在学习飞桨，感觉飞桨是个很不错的框架。但我现在用Unet训练自己数据集的时候训练了10次模型就自己停了。
这是我的配置文件
_base_: '../_base_/haowei.yml'

batch_size: 1
iters: 300

train_dataset:
  type: Dataset
  dataset_root: data/haowei_seg
  train_path: data/haowei_seg/train.txt
  num_classes: 2
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0.25
    - type: RandomPaddingCrop

[2021-11-11 07:40] YRDTSS commented on #1521
我的数据集比较小，只有20张图像，不知道是否和这个有关系。希望有大佬看到能指点下

[2021-11-11 07:44] YRDTSS commented on #1521
训练是在windows10 上训练的，已经执行了官方给的那个测试程序，在output里也有结果图。训练的时候报了一些warning，如下
W1111 15:26:28.741739  3560 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.1, Runtime API Version: 11.2
W1111 15:26:28.741739  3560 device_context.cc:422] device: 0, cuDNN Version: 8.1.
W1111 15:26:28.741739  3560 device_context.cc:437] WARNING: device: 0. The installed Paddle i

[2021-11-11 08:28] yangy996 opened #1522 "数据集PPM-100进行matting训练问题"
加载预训练模型modnet-hrnet_w18.pdparams
训练过程中会出现结果为nan的情况
![image](https://user-images.githubusercontent.com/15188456/141263677-618a0720-860d-46c3-be2d-84256e3783c4.png)

而且SAD和MSE训练的结果非常高，与预训练模型评估的结果相差甚远
[EVAL] SAD: 3141.6386, MSE: 0.2802

[2021-11-11 08:30] hjhwork96 opened #1523 "请问是否支持一个像素包含两个类别的训练方式？"

[2021-11-11 08:44] YRDTSS commented on #1521
我刚刚使用一个人像分割的数据集，数据量肯定够了，模型第一次评估完就停下来了，我不知道是否哪个环节操作出问题了
![image](https://user-images.githubusercontent.com/54494631/141266534-3615a859-23be-4cf5-ba42-c085033247ac.png)

[2021-11-11 09:07] YRDTSS commented on #923
您好请问您的这个问题解决了吗，我也遇到类似的问题。第一次评估完模型就停止训练了。我自己的数据集两很少，为啥也会出现这种情况呢，是我的transforms的策略的问题吗？求指教

[2021-11-11 09:19] YRDTSS commented on #1521
我在一些问题中看到了和我一样的情况，我把transforms策略都去了，只留了一个Normalize。bachsize设成了1，loss换成了CrossEntropyLoss+LovaszSoftmaxLoss，但是任然没有效果。模型在第一次评估完之后就停止运行了，没有报错也没有其他的提示。有大佬看到麻烦指点下，谢谢了。

[2021-11-11 09:32] YRDTSS commented on #1521
helpme plz  T.T

[2021-11-11 09:37] haoyuying commented on #1523
paddleseg不支持此类训练方式。

[2021-11-11 09:47] wuyefeilin commented on #1522
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/contrib/Matting/model/modnet.py#L88 可能是这边分母出现了0的情况，在分母加一下1e-6试试，如果解决了，欢迎提个pr哈

[2021-11-11 10:00] yangy996 commented on #1522
暂时不报nan了，还在训练中，到时候看看结果是否跟文档中一样

但是不明白为啥分母会变0，看数据处理是填充了128值，loss计算的时候为什么取到的值会为0
![image](https://user-images.githubusercontent.com/15188456/141278107-2fe673f0-a174-424c-ba7b-9feba711c3d1.png)
![image](https://user-images.githubusercontent.com/15188456/141278283-c93bbb90-7ff0-459e-8008-87f58f189b4e.png)

[2021-11-11 10:28] #1203 closed, assigned to haoyuying

[2021-11-11 11:09] #348 closed, assigned to wuyefeilin

[2021-11-11 11:09] #349 closed, assigned to nobody

[2021-11-11 11:10] #353 closed, assigned to wuyefeilin

[2021-11-11 11:10] #354 closed, assigned to nepeplwu

[2021-11-11 11:10] #355 closed, assigned to wuyefeilin

[2021-11-11 11:10] #358 closed, assigned to LielinJiang

[2021-11-11 11:10] #359 closed, assigned to wuyefeilin

[2021-11-11 11:11] #371 closed, assigned to nobody

[2021-11-11 11:11] #372 closed, assigned to wuyefeilin

[2021-11-11 11:11] #375 closed, assigned to nepeplwu

[2021-11-11 11:12] #380 closed, assigned to wuyefeilin

[2021-11-11 11:12] #378 closed, assigned to wuyefeilin

[2021-11-11 11:13] #381 closed, assigned to nepeplwu

[2021-11-11 11:13] #388 closed, assigned to nepeplwu

[2021-11-11 11:13] #391 closed, assigned to wuyefeilin

[2021-11-11 11:14] #412 closed, assigned to phoenares

[2021-11-11 12:35] wuyefeilin commented on #1522
可能是在数据增强时进行crop的时候导致的， 如果是该问题导致的，欢迎提个pr哈

[2021-11-12 00:43] yangy996 commented on #1522
好像不太对，训练了一晚上，SAD和MSE值非常大，跟文档差别太大了
![image](https://user-images.githubusercontent.com/15188456/141389252-21574af5-0dfc-40eb-8e66-8f17db8d68f0.png)
![image](https://user-images.githubusercontent.com/15188456/141389225-536ed832-4aed-4d69-adb7-061d7f173d78.png)

[2021-11-12 01:54] haoyuying commented on #1521
您好，可以在aistudio上提供一个可复现的环境吗，方便我们排查原因，因为没有报错，很难定位问题。
现在可以给你一个排查方向，可以把训练过程和评估过程分开，看两者分别执行是否是正常的。

[2021-11-12 02:03] wuyefeilin commented on #1522
提供的只是教程，让你跑通用的。如果要训练自己的模型你需要自己准备数据集，以我们的模型作为预训练模型进行微调

[2021-11-12 02:10] yangy996 commented on #1522
额，数据集PPM-100文档中的结果不是通过提供的代码和教程训练出来的？

[2021-11-12 02:18] wuyefeilin commented on #1522
内部数据训练的，不能开源哈

[2021-11-12 02:23] yangy996 commented on #1522
哦哦，好的，看文档还以为只用PPM-100数据集训练得了
![)M14SEALAJW$TP)X%O~E)~P](https://user-images.githubusercontent.com/15188456/141397962-7ddef1f6-46ae-432a-8ca9-3acde56ef278.png)

[2021-11-12 03:03] YRDTSS commented on #1521
好的 我在aistudio看下怎么弄一个复现的环境> 您好，可以在aistudio上提供一个可复现的环境吗，方便我们排查原因，因为没有报错，很难定位问题。

[2021-11-12 06:14] wang971124 opened #1525 "onnx转化时的model？"
模型转成onnx之后，利用ONNXRunTime来进行ONNX模型验证测试，这里model是指什么？
![image](https://user-images.githubusercontent.com/74095885/141419262-803766c4-a7d5-48c9-8dcf-e597c5005305.png)

[2021-11-12 06:31] yangy996 commented on #1522
大佬，还有个问题，我用提供的预训练模型对PPM-100数据集进行训练，为什么结果相差巨大呢？训练效果显示加不加载预训练模型结果都一样

[2021-11-12 08:20] #1519 closed, assigned to shiyutang

[2021-11-12 09:13] wuyefeilin commented on #1522
PPM-100只是一个公开的benchmark哦， 网上有一些公开的数据集Composition-1k, Distinctions-646, VideMatte240k, 等等，你可以在这些数据集上进行训练哈

[2021-11-12 09:46] juncaipeng commented on #1525
这个model是paddle的动态图模型（没有导出之前）。

[2021-11-12 09:46] #1525 closed, assigned to juncaipeng

[2021-11-13 01:29] #1491 closed, assigned to LutaoChu

[2021-11-13 05:34] JiehangXie opened #1532 "CityscapeSOTA的MscaleOCRNet导出静态图报错"
![QQ截图20211113132935](https://user-images.githubusercontent.com/51190264/141607069-ece86232-c716-45c7-b447-b59cb7294260.png)

我已经把CityscapeSOTA目录下的models复制加载到paddleseg.core.models的目录下，但在导出静态图的时候提示backbone输出维度有错误，因为源代码有点复杂，一时半会无法定位和解决问题，希望官方能提供修复帮助。

报错复现地址：https://aistudio.baidu.com/aistudio/projectdetail/2654280?shared=1

[2021-11-14 05:03] yueyueshine opened #1533 "paddleseg 推理代码没有resize设置"
使用原图2560*1440训练了分割模型，推理时候，将图像resize到1280*720，轮廓出现锯齿。
然后重新调整了训练集，将原图及其标注文件resize到原来的1/2，即：标注点坐标*1/2 ，图像resize到1/2。推入训练，训练完成后推理，依然有锯齿。这是为什么？有什么解决方法嘛？

[2021-11-14 12:58] lm1978lm opened #1534 "我将每一张图片进行标注后分别生成json文件，这个方式方便我管理文件，现在我想将各自的json文件合并成为coco文件进行训练，但是我不知道有什么方法，请指教"
我将每一张图片进行标注后分别生成json文件，这个方式方便我管理文件，现在我想将各自的json文件合并成为coco文件进行训练，但是我不知道有什么方法，请指教

[2021-11-15 03:53] juncaipeng commented on #1533
出现锯齿，一般有两种解决方法，修改模型或者后处理。
你是用来了哪个模型啊？是否使用空洞卷积？可以调整空洞卷积的dilation为没有大于1的公约数，比如3,5等。
后处理即是进行均值滤波。

[2021-11-15 03:58] geoyee commented on #1534
请问你这分别生成json文件是指使用eiseg保存json的功能保存的吗？然后这个意识实现有一个脚本将这些json合并成一个coco格式的json吗

[2021-11-15 04:15] lm1978lm commented on #1534
对的，我是用EISeg抠图完成后，单独保存为json的格式，我现在想将各自的json文件合并成为一个coco文件，但是现在EISeg没有这个功能，能不能提供一个python的py，或者在EISeg里面加入这个功能，因为我想将我挑选出来的图片进行各自的json合并，而不是每次都全部重新标注一次组成coco文件，这样太浪费时间了。请指教。

[2021-11-15 05:26] geoyee commented on #1534
收到，下面会完善这个功能

[2021-11-15 07:14] yangy996 commented on #1496
你好，请问下你训练成功了吗？我跑了3天了，sad和mse都还是非常高
![image](https://user-images.githubusercontent.com/15188456/141738007-dfb6ff43-e65a-42be-964a-49f68cd69444.png)

[2021-11-15 07:23] asako98 opened #1537 "miou0.4 ,kappa是负值"
用的自己的数据集，用unet训练
训练出来miou0.4 ,kappa是负值，accuracy倒是很高
请问是数据集数量的问题吗，数据集大概140张
预测也无法分割图像，好像根本没有学习
换了其他模型也是这种结果

[2021-11-15 07:26] asako98 commented on #1537
配置文件
batch_size: 4
iters: 1000

train_dataset:
  type: OpticDiscSeg
  dataset_root: dataset/breast_disc_seg
  transforms:
    - type: Resize
      target_size: [160, 400]
    - type: RandomHorizontalFlip
    - type: Normalize
  mode: train

val_dataset:
  type: OpticDiscSeg
  dataset_root: data/breast_disc_seg
  transforms:
  - type: Resize
    target_size: [160, 400]
  - type: Normalize
  mode: v

[2021-11-15 07:44] asako98 commented on #1537
预测也分割不出来，感觉根本没学习到

[2021-11-15 11:21] juncaipeng commented on #1532
这个pr可以修复导出的错误：https://github.com/PaddlePaddle/PaddleSeg/pull/1539

[2021-11-15 12:25] juncaipeng commented on #1537
评测的时候会输出miou和每类的class miou，你贴出来看下。

[2021-11-15 12:50] asako98 commented on #1537
2021-11-15 17:39:51 [INFO]      [EVAL] #Images: 76 mIoU: 0.4906 Acc: 0.9812 Kappa: -0.0008
2021-11-15 17:39:51 [INFO]      [EVAL] Class IoU:
[0.9812 0.    ]
2021-11-15 17:39:51 [INFO]      [EVAL] Class Acc:
[0.9816 0.    ]
请问这个是什么意思。。。

[2021-11-16 01:46] yangy996 commented on #1453
hello，你训练跑通了吗？我有份2000多张的数据集，训练了好几天，sad和mse还是非常的高
![image](https://user-images.githubusercontent.com/15188456/141880701-c729c7f1-0b48-4d1e-af02-d265e4bffc7a.png)

[2021-11-16 02:31] wang971124 opened #1541 "推理时间"
为什么fp16量化为int8之后的推理时间反而增加了，推理用的inference

[2021-11-16 02:47] wuyefeilin commented on #1453
可以尝试用不同的数据增强方式哈

[2021-11-16 02:52] s348268281 opened #1542 "无法加载模型参数"
已经下载好了模型，并按要求将model和params放在同一目录下且显示存在，但用ElSeg加载模型参数时确显示不存在，且无法打开，如下图：
![image](https://user-images.githubusercontent.com/43004817/141887351-d7ff81b3-04ca-4520-a859-76232667c72f.png)

[2021-11-16 02:55] juncaipeng commented on #1541
fp16模型无法再量化为int8，只有fp32模型才可以量化为int8。
如果fp32模型是轻量级的模型，量化为int8在gpu上可能性能没多大听提升，如果fp32模型是计算量比较大的模型，量化后提升比较明显。
部署参考文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/deployment/inference/python_inference.md

[2021-11-16 02:56] yangy996 commented on #1453
2100张数据集合成了2万张，数据集应该是够的，但效果很差就不知道怎么回事了

[2021-11-16 03:15] wuyefeilin commented on #1453
你在训练的数据增强RandomCrop前面增加一个ResizeByShort试试：
    - type: ResizeByShort
      short_size: 512

[2021-11-16 03:21] frandoLin commented on #1542
仔细看 因为文件名后缀里多了个i 所以程序无法匹配 这是个啥bug... 啥时修复啊

[2021-11-16 03:22] #1532 closed, assigned to juncaipeng

[2021-11-16 03:26] wang971124 commented on #1541
fp32量化为int模型之后，时间也会增加，时间用的是infer.py,下面附上fp32的推理日志和fp32量化为int8模型之后推理日志

[2021-11-16 03:26] s348268281 commented on #1542
可文档就是这么写的啊
![image](https://user-images.githubusercontent.com/43004817/141890474-96957297-a311-461c-a205-6e1ca96436b4.png)

[2021-11-16 03:35] wang971124 commented on #1541
![image](https://user-images.githubusercontent.com/74095885/141891276-a1299c22-6045-48b1-8db4-d99bce7fea49.png)
![image](https://user-images.githubusercontent.com/74095885/141891307-6d3f89a9-5c31-45fd-b7c4-56a30e5f5af8.png)

[2021-11-16 03:45] haoyuying commented on #1542
请问您使用的paddle版本是多少呢，本地测试没有出现该问题，是否能够给一个方便复现的环境，可以加我qq：1504781055

[2021-11-16 05:21] yangy996 commented on #1453
这个可以，试了一份小数据集，评估值很快就下来了
感觉像是图太大了，随机裁剪尺寸太小了，导致训练出问题了

[2021-11-16 05:57] zhanghongyong123456 commented on #1453
我数据集还没做好呢，想做一个头发丝级别的，不太好做，你训练是直接单独用你自己的数据集，或者和公开的数据集混合一起使用。还是修改了模型，数据增强是手动的吗，还是里面已经增加了相关代码

[2021-11-16 06:05] s348268281 commented on #1542
如图方式下载的，启动后自动安装的依赖，找到里面的python site-packages，发现paddle是2.1.2吧应该。
![image](https://user-images.githubusercontent.com/43004817/141929844-8b632da8-842c-463b-a5b6-4e41a89cd57e.png)
![image](https://user-images.githubusercontent.com/43004817/141929982-36cad588-9ff9-4e04-a58b-f3d58cefad62.png)

[2021-11-16 06:13] haoyuying commented on #1542
exe的文件我们还没有更新，您安装的是0.3.版本的eiseg，目前0.4.0版本正在测试中，您可以clone develop代码之后进入EISeg文件夹下运行python -m eiseg，可以抢先体验0.4版本的eiseg，0.4的eiseg要求paddle的版本最低为2.2。本周将会更新0.4.0exe链接并发版pip 包安装，敬请期待。

[2021-11-16 06:14] s348268281 commented on #1542
好的，感谢！

[2021-11-16 06:14] #1542 closed, assigned to haoyuying

[2021-11-16 09:28] lx11 commented on #1542
@haoyuying 你好，我这边使用paddle2.2, git clone develop版本的eiseg代码，然后在EiSeg文件夹下运行python -m eiseg。同样会出现模型参数无法加载

[2021-11-16 09:46] lx11 opened #1546 "EiSeg标注工具模型参数无法加载"
在windows10中， 安装paddlepaddel2.2, git clone develop版本EiSeg，然后在EiSeg/eiseg文件中运行python -m eiseg，打开了EiSeg标注界面，然后无法加载模型参数。

[2021-11-16 11:30] haoyuying commented on #1546
您好，可以截个界面图吗，如果加载不了.pdiparams就还是没有切到0.4版本的问题，0.4的模型选择部分只有加载网络参数
<img width="334" alt="image" src="https://user-images.githubusercontent.com/35907364/141977451-09e69e1a-7330-4423-8da4-4fa7bc88593a.png">
如果你的模型选择界面是和我上面这个图一样，可以贴个界面图，目前怀疑是您使用的不是develop的eiseg，而是release/2.3分支的代码，在clone代码时候要选择分支进行clone。

[2021-11-16 12:44] WHUISSZH commented on #1546
您好，我在Windows10中直接打开exe文件后加载模型参数文件时发现它加载的文件后缀是*.pdparams，但是下载的模型参数文件里没有*.pdparams结尾的。。。第一次使用，请问这是怎么回事?
![image](https://user-images.githubusercontent.com/34979314/141982287-1aaa5fcb-4684-4b97-a0e8-2066fd65bf1f.png)

[2021-11-16 12:56] haoyuying commented on #1546
只要加载pdparams都是<=0.3.x的版本，请参考该文档https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/EISeg

[2021-11-16 15:04] linhandev commented on #1534
@lm1978lm 您好

eiseg加入json格式的保存是我们加入coco格式保存之前的一个过渡功能。我们的json格式只保存了一些基础的标签和多边形信息而且和主流框架的pipeline没有兼容，后期维护的话会增加很多工作量。我们这边是倾向于在下一个版本将这个功能删除。

可不可以描述一下您这边想每个图像保存一个标签是什么原因。我们考虑一下这个功能要不要保留🤔如果是方便后面划分训练验证和测试集，paddlex提供了将coco格式进行划分的功能，可以参考[这里](https://github.com/PaddlePaddle/PaddleX/blob/develop/docs/data/split.md)

[2021-11-16 20:00] elfring opened #1550 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-17 02:57] lm1978lm commented on #1534
您好，我仔细描述一下，我有5个细胞的分类，而且我标记的细胞会被划分到不同的病种，比如一开始是贫血患者，但这个患者也可能是某种肿瘤的患者，所以需要不停的变化类别，而且我的数据每天都有跟新，我还要考虑患者的其他数据，如果一开始我就合并成coco数据我就无法还原每个数据，也就没有办法更新患者的其他数据，或者重新划分类别。如果要更新只有重新标注一次。如果说json的文件有信息丢失，那么我单独保存json文件也就有信息丢失是这样吗？所以我建议保留这个功能，并且补全json信息，能够合并到coco文件，就像labelme一样。谢谢！

[2021-11-17 07:04] michaelowenliu commented on #1550
@elfring Hi, thanks for your suggestion. Our team will discuss it in the next version.

[2021-11-17 08:57] cbc3929 opened #1553 "推出报错numpy.core.multiarray failed to import"
加载遥感模型，并且安装cpu paddle的情况下，pip安装eispg打开遥感插件会报错退出：
ImportError: numpy.core.multiarray failed to import

[2021-11-17 13:00] bobopit commented on #1546
你好，我在mac上使用eiseg工具，paddle版本0.2.2，通过pip安装的eiseg，版本是0.4.0。界面和您上面的截图是一样的，只有加载网络参数选项，但pdparams加载不进去是为啥呢

[2021-11-17 13:02] bobopit commented on #1546
![image](https://user-images.githubusercontent.com/26221003/142205603-cb8f3956-e470-44c5-a108-7dd716bf00db.png)

[2021-11-17 13:55] DXVVV opened #1554 "导出的静态图和直接用动态图预测差别较大。"
在自己数据集上在ubuntu上用gpu训练，动态图预测效果还行，导出成静态图后转到windows平台用cpu预测效果和动态图比差了不少，用的是导出后的设置deploy.yaml。下面分别为原图，gpu动态图预测出的label图和cpu预测的图片。训练用的模型为isanet。
![0945](https://user-images.githubusercontent.com/20319589/142213835-d136e3f0-fa02-416e-ae7a-abf4f4c01ddd.jpg)
![github上传](https://user-images.githubusercontent.com/20319589/142213856-424654b5-52f3-441f-ac76-cc83f2d4eb12.png)
![0945](https://user-images.githubus

[2021-11-17 14:58] khaep opened #1555 "How to generate predictions with label ID's (single channel uint8 image)?"
Hello all,

how is it possible to create predictions of a trained modle in label ID format?
Something like a single channel  uint8 image where each pixel contains a class ID.

Creating "added predictions" and "pseudo color predictions" with [predict.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/predict/predict.md#prediction) works perfectly.

But for further algorithms, the s

[2021-11-18 02:49] linhandev commented on #1534
收到，我们尽量research一个单个文件的通用格式，如果实在找不到后期会完善我们这边的json

[2021-11-18 03:10] linhandev commented on #1546
@bobopit eiseg 0.4.0以上版本开始采用静态图，加载的权重是 pdiparams 结尾。您需要重新下载一下模型，地址[在这](https://github.com/PaddleCV-SIG/EISeg#%E6%A8%A1%E5%9E%8B%E5%87%86%E5%A4%87)

[2021-11-18 03:22] lx11 commented on #1546
非常感谢，确实不是develop的eiseg，重新切换分支后可以加载静态图权重参数。

[2021-11-18 03:47] haoyuying commented on #1553
遥感模型需要安装gdal插件，我使用的是gdal 3.0.2，用conda安装的，python3.8，paddle2.2, eiseg0.4.0

[2021-11-18 03:49] shiyutang commented on #1498
Please look at pointrend at the develop branch, we have fix the export problem of pointrend in PR #1449
I just export & infer pointrend with code in develop, and successfully get the inference result.
![image](https://user-images.githubusercontent.com/34859558/142348923-42205dc1-d251-4857-afba-a00d01ed90a1.png)

![image](https://user-images.githubusercontent.com/34859558/142348870-01032698-0e67-4f

[2021-11-18 03:49] cbc3929 commented on #1553
我使用的GDAL版本是3.3.3 pip安装，Python3.9 paddle2.2，eiseg0.4.0，所以是GDAL版本较高是么

[2021-11-18 03:50] cbc3929 commented on #1553
我使用的GDAL版本是3.3.3 pip安装，Python3.9 paddle2.2，eiseg0.4.0，所以是GDAL版本较高是么

[2021-11-18 04:00] linhandev commented on #1534
@lm1978lm
我们这边的计划是后期采用labelme格式，labelme是一个图像一个标签。会提供从现在的json到labelme的转换脚本，软件也支持直接打开现在的json格式但保存成labelme。labelme好转coco，网上脚本不少我们也会出教程。
最近比较忙估计有个一周左右能实现。

[2021-11-18 04:03] haoyuying commented on #1555
you can get output from https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/paddleseg/core/predict.py#L120
 and utilize np.argmax to generate prediction.

[2021-11-18 05:03] juncaipeng commented on #1554
从图片来看，蝴蝶的翅膀预测准确，其他部分预测错误，是不是预处理不对？
这个分割是前景和背景两类吗？

[2021-11-18 05:05] juncaipeng commented on #1541
seg部署的文档明确了，量化模型必须开启tensorrt，否则没有加速：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/deployment/inference/python_inference.md

[2021-11-18 05:06] juncaipeng commented on #1537
说明全部预测为第一类了，第二类的iou为0，所以导致kappa不准确。
可以看看数据是不是类别不均衡。

[2021-11-18 05:07] #1505 closed, assigned to juncaipeng

[2021-11-18 05:07] #1497 closed, assigned to juncaipeng

[2021-11-18 05:42] DXVVV commented on #1554
不是的，有多个类别（花、叶、蝴蝶、鸟等），翅膀部分似乎也是错的，黄色的是花的标签。上面是isa模型预测的结果，导出后的预测是直接用predict.py预测，无预处理过程，脚本如下：
[code]
换一个模型导出后预测效果也一般般，如换sfnet导出后的效果如下，效果也不好，在动态图的sfnet上基本也都预测正确。
![0945](https://user-images.githubusercontent.com/20319589/142358302-75c8248f-d4f9-4050-a775-98a702fc794e.png)
，然后这边是一些其他对比原图，动态图预测图，静态图预测图。
![2209](https://user-images.githubusercontent.com/20319589/142358381-f150af17-13da-4421-8e2b-8b3ffbbf

[2021-11-18 06:11] wang971124 opened #1556 "there‘s 2 ops are not supported yet"
将paddleseg中的sfnetresnet50模型导出之后，将其转化为onnx时报错，提示缺少两个算子：there‘s 2 ops are not supported yet。希望官方尽快可以帮忙修复

[2021-11-18 06:27] DXVVV commented on #1498
没问题了，谢谢

[2021-11-18 06:27] #1498 closed, assigned to shiyutang

[2021-11-18 07:52] shiyutang commented on #1556
Please elaborate your description and show the name of unsupported ops.

[2021-11-18 08:02] wang971124 commented on #1556
/home/imagex/anaconda3/envs/wang/lib/python3.8/site-packages/onnx/mapping.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  int(TensorPro

[2021-11-18 08:04] wang971124 commented on #1556
使用的模型时sfnet_res50,模型参数时在官网下载的

[2021-11-18 10:08] khaep commented on #1555
Thank you, for the reply.
I added the following lines to

* [~/core/predict.py#L86](https://github.com/PaddlePaddle/PaddleSeg/blob/b413969ab3601c3fef152df332d514ac39cb8cc5/paddleseg/core/predict.py#L86)
[code]

*  [ ~/core/predict.py#L136](https://github.com/PaddlePaddle/PaddleSeg/blob/b413969ab3601c3fef152df332d514ac39cb8cc5/paddleseg/core/predict.py#L136)
[code]

That worked for me.

[2021-11-18 12:17] newjavaer commented on #1453
最后的可视化的图呢  怎么样

[2021-11-18 13:37] #1555 closed, assigned to haoyuying

[2021-11-19 00:39] yangy996 commented on #1453
图暂时没有，你可以在PPM-100数据集上测试，按上面的修改就能正常训练了

[2021-11-19 00:44] newjavaer commented on #1453
就是说 最后的效果怎么样呢 sad能到paddlepaddle上的效果嘛

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年11月19日(星期五) 上午8:39
收件人: "PaddlePaddle/PaddleSeg";
抄送: "Comment";
主题: Re: [PaddlePaddle/PaddleSeg] 关于matting测试效果， (Issue #1453)

你在训练的数据增强RandomCrop前面增加一个ResizeByShort试试： - type: ResizeByShort short_size: 512

这个可以，试了一份小数据集，评估值很快就下来了 感觉像是图太大了，随机裁剪尺寸太小了，导致训练出问题了

最后的可视化的图呢 怎么样

[2021-11-19 00:46] yangy996 commented on #1453
可以，只训练PPM-100的话，比文档中的效果更好

[2021-11-19 00:54] newjavaer commented on #1453
好的谢谢

[2021-11-19 01:07] yangy996 commented on #1453
https://github.com/kelisiya/TIMI-Net，这里有一份数据集，你可以看看
![image](https://user-images.githubusercontent.com/15188456/142521990-1592bb36-00fb-46d7-8d7b-a9c6309a213f.png)

[2021-11-19 02:11] jiangjiajun commented on #1556
Hi, @wang971124

It seems the problem is caused by [Paddle2ONNX](https://github.com/PaddlePaddle/Paddle2ONNX.git), although you didn't put enough error message here, the name of unsupported operator is key information.

Could you seed a same issue to Paddle2ONNX, and it is recommend that you upload your PaddlePaddle model for Paddle2ONNX to debug quickly.

[2021-11-19 05:55] miyane-ralo commented on #1522
大佬，问下你们训练的数据集样本量大概有多少，MSE才能到0.00几

[2021-11-19 05:59] miyane-ralo commented on #1522
还有一个问题，大佬readme里的效果图是加了trimap吗？

[2021-11-19 07:57] lm1978lm commented on #1534
收到，谢谢

[2021-11-19 23:33] twang15 opened #1560 "Cannot find the folder: pretrained_model"
Hi,

I am reading the documentation here:
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.1.0/docs/usage.md

it says

    # 下载预训练模型并进行解压
    python pretrained_model/download_model.py unet_bn_coco

however, there is no such a directory.
Could anyone help locate this directory? Or is there a problem in my installation?

Thanks

[2021-11-20 01:57] zhangxianjie1314 opened #1561 "paddle2onnx : There's 2 ops are not supported yet"
![image](https://user-images.githubusercontent.com/73931078/142710344-ad3838ba-fe79-4638-8a39-04909fc2dd26.png)
![image](https://user-images.githubusercontent.com/73931078/142710360-a27a07f0-86be-4362-ade4-02efdf951097.png)

[2021-11-20 10:57] xinsuinizhuan opened #1562 "ValueError: Target(Tensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True, [9])) is out of class_dimension's upper bound(1)"
window10
conda 创建的 python 3.8环境
分割：bisenet_optic_disc
训练：
train.py --config configs/quick_start/bisenet_optic_disc_512x512_treeboot.yml  --do_eval --use_vdl  --save_interval 500  --save_dir output
报错：
2021-11-20 18:30:21 [INFO]
------------Environment Information-------------
platform: Windows-10-10.0.19043-SP0
Python: 3.8.12 (default, Oct 12 2021, 03:01:40) [MSC v.1916 64 bit (AMD64)]
Paddle comp

[2021-11-22 01:57] juncaipeng commented on #1560
The version of the above docs is release/v.0.1.0. Please check the version of the PaddleSeg you downloaded and make sure the version of docs and PaddleSeg is the same. Besides, we suggest you use the latest version of Paddleseg.

[2021-11-22 01:59] juncaipeng commented on #1561
Hi, the quantized model is not supported for exporting to ONNX for now.  You can try to export the FP32 model.

[2021-11-22 01:59] #1561 closed, assigned to nobody

[2021-11-22 02:05] juncaipeng commented on #1562
cross_entropy_loss输入的labe有如下要求：
![image](https://user-images.githubusercontent.com/52520497/142790199-07529ffd-b911-4b9a-a172-ef10d7fe516f.png)
链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/cross_entropy_cn.html#cross-entropy

你输入的labe维度是[1]，数值是9，估计是没有加batch维度吧  [1] -> [1, 1] ?

[2021-11-22 03:19] wuyefeilin commented on #1522
没有的，就是用modnet训练的结果

[2021-11-22 03:24] Sun-2020 commented on #1522
那大佬的训练数据集样本大概用了多少，MSE才能到0.00几，达到咱们发布的效果呀

[2021-11-22 03:28] yangy996 commented on #1522
还在收集数据集训练中

[2021-11-22 03:51] yangy996 commented on #1522
这边找到了有两份数据集
https://github.com/kelisiya/TIMI-Net
![DHYAI_@E}8$_AYL5WY0TMM8](https://user-images.githubusercontent.com/15188456/142798334-d6d5bfbe-601b-44bb-a475-cd9f442a5294.png)

https://github.com/YY007H/P3M
![4YM (9%2S5LHOEO{HRKLROD](https://user-images.githubusercontent.com/15188456/142798341-02ce3a09-e34f-4cfa-add5-538cf483a819.png)

[2021-11-22 11:31] Wangwk1 opened #1564 "EISeg 0.4.0进去之后没反应，过了之后就退出来了的问题"
![29X)TZJ$36D(HKVDY)LWC{7](https://user-images.githubusercontent.com/94838931/142853309-890b325e-003f-4272-936a-3b303ecd4d29.png)
![B~ 22 6I9FBVHP7E0JPL_EF](https://user-images.githubusercontent.com/94838931/142853316-a45e2811-52bc-4efa-a2f5-8c1818d02074.png)
paddle,eiseg也都按要求安装了，可就是进去之后没有反应。

感谢，问题已解决。我之前装的是0.4.0的，按理说应该没问题的。最后我把它卸载又重装了一遍，发现就可以跑了。

[2021-11-22 13:23] Wangwk1 commented on #1546
请问大佬们知道为啥我一进去Eiseg界面之后没有反应，过了一会后就自动关了的原因吗

[2021-11-22 15:51] linhandev commented on #1546
可能是模型加载的问题，运行的是什么版本？是什么方式运行的？可能命令行会有报错

[2021-11-23 02:03] haoyuying commented on #1564
您好，请问您使用的paddle的版本是多少呢，是通过什么方式安装的eiseg，以及什么操作会触发该闪退？

[2021-11-23 02:11] juncaipeng commented on #1554
你可以把导出的预测模型和图片传上来，我们排查一下，这样看不出问题。

[2021-11-23 02:12] #1541 closed, assigned to juncaipeng

[2021-11-23 02:14] DYJNG commented on #1185
附议，希望能直接加载标签mask进行经精细化修改~

[2021-11-23 02:14] DYJNG commented on #1185
附议，希望能直接加载标签mask进行经精细化修改~

[2021-11-23 02:27] haoyuying commented on #1185
您好，eiseg0.3以上版本现在支持通过对之前对polygon进行角点修改，欢迎尝试。

[2021-11-23 10:21] DXVVV commented on #1554
https://www.jianguoyun.com/p/DcZwj88Q9P-1CBiNi5wE
已经上传到云盘了，包括导出前的模型，导出后的模型，以及之前用到的一些图片，仅上传了decoupled seg

[2021-11-23 10:30] xinchengxxc opened #1566 "The images in the annotation folder are modified during training 训练时annotation文件夹中的图片被修改"
![original](https://user-images.githubusercontent.com/39086459/143007879-d0da1b7c-86eb-488d-9316-3dcd040239a8.png)
![training start](https://user-images.githubusercontent.com/39086459/143007883-65ff1c7a-bc02-49ef-b05d-06d90ffe7458.png)
as you can see in the attached pics, the photo in Annotation folder are changed into a 1*4 pixel dash when I start training. Can anyone help me with this problem? 如

[2021-11-23 11:31] wuyefeilin commented on #1566
请问你对代码进行了修改吗？

[2021-11-23 11:38] xinchengxxc commented on #1566
train.py 文件除了必要的改path&name 之外没有修改。
.yml 改了不少。 我推测可能是train_dataset，transforms ResizeStepScaling的问题？不过还没来得及尝试

[2021-11-23 12:02] wuyefeilin commented on #1566
你可以跑一下教程，然后对比一下是哪里的修改引起了图片的变化

[2021-11-23 14:38] xinchengxxc commented on #1566
我重新下载了paddleseg2.3, 这个问题消失了。有可能我之前哪里改动了。

[2021-11-23 15:46] #1566 closed, assigned to nobody

[2021-11-24 02:29] Zachary-ZCH opened #1567 "EISeg0.3之后的版本，切换下一张存在闪退"
偶发的保存完当前标注图片，点击切换到下一张的时候，偶发闪退而且没有报错。

[2021-11-24 02:55] HongShiKuan opened #1568 "Start evaluating数据时显存暴涨问题咨询？"
目前我用2080TI（显存12G）训练deeplabv3p网络。paddlepaddle-gpu 2.2.0版本，paddleseg 2.3版本。图像分辨率4k。
**训练过程中显存占用6G附近，一到评估时，显存直接暴涨到11G多，然后再训练几个epoch直接暴显存**。
非常期待您的回复。
**报错如下**：
[code]
**运行指令如下**：
[code]
**config配置如下**：
[code]

[2021-11-24 03:19] HongShiKuan commented on #1568
猜测是预测时候不能直接将原图进行评估。将cofig中修改如下发现显存增长没那个迅猛了。
[code]
不知道是不是这个原因。

[2021-11-24 06:07] zyz207 commented on #1496
我的SAD和MSE也还是降不下来

[2021-11-24 06:10] yangy996 commented on #1496
https://github.com/PaddlePaddle/PaddleSeg/issues/1453#issuecomment-969772014
按这个修改就可以降下来了

[2021-11-24 06:11] haoyuying commented on #1567
您好，请问您在切换图片之前做了什么操作呢，可以把闪退后的终端信息截一张图给我们吗，方便排查问题。并给出具体的paddle及eiseg版本号。

[2021-11-24 06:17] shiyutang commented on #1568
The problem is caused by the resolution setting as you mentioned, you can resize the pic to [1920, 1080] and see if the "out of memory" problem happens again. Though it is abnormal that your video memory increases after the validation period.

Btw, the cityscapes dataset's resolution is 2k in our data setting, rather than 4k.

[2021-11-24 07:08] Zachary-ZCH commented on #1567
1、按了空格键，在按F下一张就闪退，偶现非必现。
2、eiseg  版本：0.4.0.1 paddle 2.2.0。
3、闪退时控制台log:
anning True
0.5221112477058142 0. 7831668715587212 54. 0 340. 0 44. 0 417.0 10.0 -77.0 77.0 10. 0 77. 64663547121665
dir 0.9916720735252417 0. 1287885809773041
hover in
0.4337040129329315 0. 6505560193993972 44. 0 417.0 0.0 599.0 44. 0 -182. 0 182. 0 44. 0 187. 2431574183687
dir 0.9719981360565632 0. 23498856036532295
hover in

[2021-11-24 07:09] HongShiKuan commented on #1568
alright, thank you very much

[2021-11-24 07:10] #1568 closed, assigned to shiyutang

[2021-11-24 07:10] zyz207 commented on #1496
嗯嗯，谢啦，我去试试看

[2021-11-24 07:11] haoyuying commented on #1567
您好，可以安装0.4.0版本，0.4.0.x这些是我们之前一些测试版本，会有闪退问题。如果0.4.0还有此类问题，请回复我一下，我们这边排查下bug原因。

[2021-11-24 07:26] Zachary-ZCH commented on #1567
0.4.0 应该也有同样的问题，包括0.3.x都会有，0.2.x版本不会闪退。

[2021-11-24 09:24] stduent-vehicle opened #1569 "labels值异常：貌似PaddleSeg要求生成的labels值需要按照（0，1，2，3，4...）的顺序来生成"
如下图所示：
1. 样本图像为jpg格式，labels图像为png格式，设置类别个数为5；
2. 加载后输出的类别变成了 {0，15，190}。如何能变成（0，1，2，3，4）的labels？还需要自己再手动处理吗?
![微信图片_20211124171310](https://user-images.githubusercontent.com/37319219/143210567-b1ce8917-faa8-434f-a18c-0091bb523fb2.png)

[2021-11-24 09:25] Look4-you opened #1570 "EISeg总是存在左键点击之后闪退的情况"
![image](https://user-images.githubusercontent.com/44594124/143210694-8f4b3177-c3d3-4214-b0b0-24eb4e57cccb.png)

如上图，用着用着出现闪退，重新打开软件之后，没标完几张图，又出现闪退的情况，请开发团队帮忙看看问题呀！

[2021-11-24 09:28] Look4-you commented on #1570
windows版本的0.3.0

[2021-11-24 11:46] haoyuying commented on #1570
报错信息是内存不够了，看下把其他进程杀死之后会不会出现这个问题。

[2021-11-24 11:48] shiyutang commented on #1569
Please convert your labels into the 0,1,2,3..., you can refer to the `following` pseudo-code snippet.

[code]

[2021-11-25 03:05] stduent-vehicle commented on #1562
你可以把labels的值先打印出来，paddleseg好像要求labels是按照 [0,1,2,3,4...]的顺序生成

链接：(https://github.com/PaddlePaddle/PaddleSeg/issues/1569)

[2021-11-25 08:32] axxx-xxxa commented on #1039
请问一下 deeplabv3怎么转为tensorrt推理

[2021-11-25 14:46] xinsuinizhuan commented on #1562
已经找到问题，数据集的问题。感谢

[2021-11-26 07:51] 95maddycode opened #1574 "CityscapesSOTA conversion issue"
Hi,

After preparing the cityscapes data following your scripts, and having the right folder structure, I came across this error:

ValueError: The number of images = 19998 is not equal to the number of labels = 19999 in Cityscapes Autolabeling dataset.

After some investigation, I saw that the convert_autolabelled folder has a folder named "tmp" with only one image in it (wurzburg_000000_001584_le

[2021-11-26 08:26] stduent-vehicle opened #1575 "模型训练：自定义数据背景像素占比太多，是否可以设置背景像素标签值为255来训练？"
自定义数据，背景像素占比太多，类别总共有5类，但分割效果很不好，分割结果只有一种。

是否可以把背景像素标签值设置为255，类别数变为4来训练？

[2021-11-26 08:58] Wangwk1 opened #1576 "请问EIseg可以导入初始分类图吗？"

[2021-11-26 12:55] HongShiKuan opened #1577 "在Cityscapes数据集上训练DeepLabV3P网络mIOU过低！"
显卡为RTX6000，使用**PaddleSeg2.3**版本，配置文件为：**deeplabv3p_resnet101_os8_cityscapes_1024x512_80k（无修改）**，Cityscapes数据集已经运行过conver_cityscapes.py文件，生成 **labelTrainIds.png在gtFine目录。具体数据集目录结构如下图所示。
![image](https://user-images.githubusercontent.com/45912889/143581168-a25a1823-28c3-4c65-ac0b-216bcf8f34e8.png)
![image](https://user-images.githubusercontent.com/45912889/143581940-964a00cd-3ea7-4b75-8547-e266be63d

[2021-11-27 02:13] HongShiKuan commented on #1575
肯定不可以忽略哈，详细解释参看下面链接里面的解释，之前刚好看到过。
[相关链接](https://github.com/PaddlePaddle/PaddleSeg/issues/1055)

[2021-11-28 12:05] stduent-vehicle commented on #1575
谢谢，但是把背景像素也当作一类之后重新训练，模型预测结果全部为一类（背景像素对应类别）。这个有什么好的建议吗？

[2021-11-29 02:09] juncaipeng commented on #1577
请问Paddle版本是？是使用4卡训练吗？ 可以尝试换一个模型训练一下，看mIoU是否准确，比如STDC1Seg模型，速度会比较快。

[2021-11-29 02:10] #1562 closed, assigned to juncaipeng

[2021-11-29 02:18] HongShiKuan commented on #1577
1、paddlepaddle版本为2.2
2、单卡RTX6000训练
3、是否可以这样理解，官网提供的模型是用四卡v1000训练的。因为我是用单卡训练的，所以模型收敛速度没有那么快？不知道这样理解是否准确。

[2021-11-29 02:18] HongShiKuan commented on #1577
1、paddlepaddle版本为2.2
2、单卡RTX6000训练
3、是否可以这样理解，官网提供的模型是用四卡v1000训练的。因为我是用单卡训练的，所以模型收敛速度没有那么快？不知道这样理解是否准确。

[2021-11-29 02:23] HongShiKuan commented on #1577
1、paddlepaddle版本为2.2
2、单卡RTX6000训练
3、是否可以这样理解，官网提供的模型是用四卡v100训练的。因为我是用单卡训练的，所以模型收敛速度没有那么快？不知道这样理解是否准确。

[2021-11-30 10:57] haoyuying commented on #1576
eiseg不支持分类功能

[2021-12-01 02:29] shiyutang commented on #1575
This is a problem caused by class imbalance. You can search for relevant solutions online. Basic solutions include adding weight to your loss, using dice loss, foreground image augmentation, and so on.

[2021-12-01 06:50] ff12343 opened #1581 "EISeg标注以PaddleX进行实例分割报错"
EISeg标注Coco格式文件 以PaddleX进行实例分割报错：标注文件存在错误。
![image](https://user-images.githubusercontent.com/42758082/144183197-06270432-c751-4c49-9ecd-ca891a724a65.png)
之后，我独立运行报错的函数 `check_dataset` 提取 `annotations.json` 报错如下：
![image](https://user-images.githubusercontent.com/42758082/144183868-de856a3a-052b-4d0b-91c2-5f3d40d0df2a.png)
也就是PaddleX 因 EISeg标注无 `iscrowd` 项而报错
当我设置 `iscrowd=None` 跳过该项时，依旧报错：
![imag

[2021-12-01 06:57] geoexploring commented on #1456
@wuyefeilin, @LutaoChu , [Paddleseg的滑窗](https://github.com/PaddlePaddle/PaddleSeg/blob/5e6cab5e231d1f0f62831fde435a54fa4b9976f5/paddleseg/core/infer.py#L153)和[PaddleX的滑窗](https://github.com/PaddlePaddle/PaddleX/blob/07ceb75823fd9d4eb1aa9e5fd93ab636e801507c/static/paddlex/cv/models/deeplabv3p.py#L581)是不一致的，具体如下：
[code]

[2021-12-01 08:49] haoyuying commented on #1581
您好，可以使用该脚本进行转化：https://github.com/PaddlePaddle/PaddleSeg/blob/develop/EISeg/tool/eiseg2paddlex.py，使用方式如下https://github.com/PaddlePaddle/PaddleSeg/blob/develop/EISeg/docs/tools.md，
如果您有mask标注，area和bbox应该不会为0，看是否标注方式存在问题。如果是空白的mask，说明该张图片没有标注，认为是坏数据，需要标注或者将该图片删除。

[2021-12-01 09:46] stduent-vehicle commented on #1575
Thanks, I will try it.

[2021-12-01 10:34] step404 opened #1582 "交叉熵损失指定weight时，触发ValueError(input's class_dimension(2) must equal to weight's class_dimension(256) when weight is provided)"
## 配置信息
- 操作系统： Ubuntu 20.04.1
- 库版本：
    - paddlepaddle-gpu : 2.2.0.post112
    - paddleseg: 2.3.0
--------------
将[此行](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/paddleseg/models/losses/cross_entropy_loss.py#L51)更改为：
[code]
可运行。

[2021-12-02 02:08] BJHYZJ opened #1585 "训练16个epoch后，出现报错：ERROR: Unexpected BUS error encountered in DataLoader worker. This might be caused by insufficient shared memory (shm), please check whether use_shared_memory is set and storage space in /dev/shm is enough"
![image](https://user-images.githubusercontent.com/74347732/144344335-08472652-388e-43a4-b138-57399f811841.png)

[2021-12-02 02:18] BJHYZJ commented on #1562
还有可能是“\”和“/”转换的问题

[2021-12-02 02:54] haoyuying commented on #1582
请问您使用的是什么模型，weight的shape是什么样子呢？

[2021-12-02 02:55] haoyuying commented on #1585
使用的是什么模型和什么数据集呢？

[2021-12-02 02:56] BJHYZJ commented on #1585
使用了modnet模型，数据集只含有原图和mask

[2021-12-02 03:31] wenhwu commented on #1441
@michaelowenliu , 请问mlatransformer是Paddleseg团队自己设计的吗？有没有相关论文呢，谢谢

[2021-12-02 03:33] wuyefeilin commented on #1585
/dev/shm 查看这个目录是否满了，看样子是共享内存不足导致的

[2021-12-02 03:42] BJHYZJ commented on #1585
好的谢谢了

[2021-12-02 03:42] #1585 closed, assigned to wuyefeilin

[2021-12-02 03:44] step404 commented on #1582
@haoyuying 你好，我使用的模型是`sfnet_resnet18`，数据集是自定义的，类别数量为2，损失函数配置如下：
[code]

[2021-12-02 04:04] LutaoChu commented on #1582
你好，该问题已经提pr了   https://github.com/PaddlePaddle/PaddleSeg/pull/1586

[2021-12-02 05:43] step404 commented on #1582
非常感谢

[2021-12-02 05:43] #1582 closed, assigned to LutaoChu, haoyuying

[2021-12-02 08:21] DXVVV commented on #1554
有更新吗

[2021-12-02 13:06] geoexploring opened #1589 "Paddleseg是否支持将训练日志文件输入到output文件中？"
我看见paddleseg有`log.py`文件，但是不支持将训练日志文件输入到output文件中（比如生成一个`log.txt`文件），是否这是隐藏功能呢？

谢谢

[2021-12-03 05:54] geoexploring commented on #1491
@LutaoChu ， 直接 `git clone https://github.com/PaddlePaddle/PaddleSeg` 下来的paddleseg版本，仍然会出现这个问题

[2021-12-03 06:30] lujx1024 opened #1591 "Windows平台使用TensorRT方式部署deeplabv3模型报错"
# 概述
PaddleSeg的HumanSeg模块使用TensorRT加速DeepLabv3模型预测是报错`Pass tensorrt_subgraph_pass has not been registered`，具体报错信息可见下方附录。

请问这个报错问题应该如何解决？

# 平台环境
- Windows 10
- PaddlePaddle 2.2.0
- PaddleSeg latest
- cuda10.1.105
- cudnn7.6.5
- tensorrt 6.0.1.5
- NVIDIA 显卡 1050Ti

# 指令
[code]
# 报错信息附录
[code]

[2021-12-03 06:31] LutaoChu commented on #1491
@geoexploring 直接clone下的是2.3版本，我们刚也在2.3版本修复了这个问题，你可以git pull一下试试

[2021-12-03 06:38] ff12343 commented on #1581
实例分割任务：EISeg标注无法直接导入PaddleX，需要将eiseg转换为coco。
我在develop/EISeg/tool/eiseg2coco.py的基础上，修改部分代码，可以实现eiseg导入paddlex，代码上传。
注意：EISeg0.3.0保存标注信息的width、height存反了，会导致bbox上传出错，这里eiseg2coco转换时会重新导入width、height。希望能尽快修复EISeg0.3.0存在的bug
[eiseg2coco.zip](https://github.com/PaddlePaddle/PaddleSeg/files/7647266/eiseg2coco.zip)

[2021-12-03 07:23] sword-light commented on #1581
我也看到了，新的eiseg0.4的版本会出现bbox为0的问题，eiseg0.3的版本不会，而且eiseg0.4的分割点坐标好像比eiseg0.3的要小，eiseg0.4的标注文件用eiseg0.3打开，分割的多边形会在本应在的位置的左上方出现，是一个较小的相似图形，联想到eiseg0.4的交互速度快于0.3，我怀疑eiseg0.4进行了图片resize的操作，分割点的坐标却没有放大。

[2021-12-03 09:19] BJHYZJ opened #1592 "按照指定的流程在大量数据集上训练模型后，得到的效果较差，作为一个新手，希望有人能帮我解答。"
![61e0c74a1652362625b9644b5bc30ba](https://user-images.githubusercontent.com/74347732/144577590-f5f698a0-1934-42e1-97bb-829177d79c31.png
![e86f768f1d2859d5aadcec3dfbc1186](https://user-images.githubusercontent.com/74347732/144577604-0d64771c-31ff-4f55-b5be-d692a1414107.png)
![1c9474b97905d9ee44b78ebe3fe9ce1](https://user-images.githubusercontent.com/74347732/144577617-f6275472-c46b-4bf6-8bd8-d4457

[2021-12-04 06:24] myuanz commented on #1534
最近我有一个前半部分是保存成了coco, 后面保存成了json的标注结果, 这是一个简单的转换脚本, 供人参考:

[code]

[2021-12-04 06:45] lwh104 opened #1593 "在paddseg中自定义模型，训练中评估的class iou中第一个值为0"

[2021-12-04 06:52] #1593 closed, assigned to nobody

[2021-12-06 02:02] juncaipeng commented on #1589
没有。你可以使用nohup python train.py *** 2>&1 >log.txt 将输出保存到log.txt文件中

[2021-12-06 02:03] juncaipeng commented on #1591
这个报错信息是指出安装的paddle不支持tensorrt，请安装编译带有tensorrt的paddle版本。

[2021-12-06 02:04] juncaipeng commented on #1592
额  这个需要你自己摸索排查一下，你给出的信息太少了，你可以提供多一些信息

[2021-12-06 02:10] #1592 closed, assigned to wuyefeilin

[2021-12-06 02:13] juncaipeng commented on #1577
单卡训练，batch size小了4倍，学习率lr应该减小4倍，然后迭代次数iterations应该增大4倍。
而且batch size较小，一般最终精度会差一些。

[2021-12-06 02:13] juncaipeng commented on #1577
你可以多训练，多调参学习一下，先用小模型比如bisenet或者stdc1seg模型练练手。

[2021-12-06 02:17] ff12343 commented on #1567
同样遇到标注保存之后，点击下一张图片，闪退的问题。版本是paddle-relese-2.3 附带的EISeg0.3.0。在图像size=2600*2000时，百分百闪退。下面是闪退的后台：
![image](https://user-images.githubusercontent.com/42758082/144776346-3965da3e-a993-4c9e-b997-e27073f1eb30.png)
在图像size=2000*1600时，极小的概率会闪退

[2021-12-06 03:27] jbh1998 commented on #1574
same to you. have you solved this issue?

[2021-12-06 04:00] LutaoChu commented on #1574
@95maddycode @jbh1998 hi，
1. The TMP directory comes with the original author's dataset and needs to be removed manually. I don't find any use. I think the author forgot to delete it when publishing. The reason for this error is that we will check whether the number of labels is consistent with the number of images, to ensure that the training pictures and labels can correspond one by one
2. Let m

[2021-12-06 04:18] ff12343 commented on #1567
还有标注完成保存但结果正在保存中时，点击下一张会触发闪退

[2021-12-06 04:44] jbh1998 commented on #1574
paddle=2.2
paddleseg=2.3

[2021-12-06 06:23] haoyuying commented on #1567
收到，我们会仔细排查这个问题，感谢反馈

[2021-12-06 06:53] lujx1024 commented on #1591
请问是否可以提供已经编译了tensorRT版本的paddle .whl安装包或链接？

[2021-12-06 07:05] jbh1998 commented on #1574
@LutaoChu looking forward to your help, thanks

[2021-12-06 09:40] #1589 closed, assigned to juncaipeng

[2021-12-06 14:08] LutaoChu commented on #1574
PR has been submitted, waiting for merge. You can modify it according to PR first
https://github.com/PaddlePaddle/PaddleSeg/pull/1595

[2021-12-07 09:12] jbh1998 commented on #1574
Traceback (most recent call last):
  File "train.py", line 151, in <module>
    main(args)
  File "train.py", line 131, in main
    cfg.model,
  File "/home/work/anaconda3/envs/jbh/lib/python3.6/site-packages/paddleseg/cvlibs/config.py", line 288, in model
    self._model = self._load_object(model_cfg)
  File "/home/work/anaconda3/envs/jbh/lib/python3.6/site-packages/paddleseg/cvlibs/config.py", l

[2021-12-07 09:31] juncaipeng commented on #1591
可以参考：https://paddle-inference.readthedocs.io/en/latest/user_guides/download_lib.html#id4

[2021-12-07 11:27] Darki-luo commented on #1459
ubuntu18.04
PaddleSlim 2.1.1
PaddlePaddle-gpu=2.2.1
Paddleseg=2.3
python=3.8.12
cudatoolkit=10.2 cudnn=7.6.5

W1207 19:16:10.254144 10534 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.0, Runtime API Version: 10.2
W1207 19:16:10.254165 10534 device_context.cc:465] device: 0, cuDNN Version: 7.6.
2021-12-07 19:16:11 [INFO]      Loading pretrained m

[2021-12-08 01:47] yangjian1218 opened #1598 "MODNet的预训练模型对应的优化器参数pdopt文件能否提供?"
想接着训练.

[2021-12-08 02:35] xiakegan05 opened #1599 "有iOS端端人像分割demo吗？仓库里提供的demo是图片的人像分割，有视频的吗？"
如题

[2021-12-08 02:59] ggdonald opened #1600 "自己训练的模型可以再EISeg里使用吗？"
EISeg自带的模型去label我的一批图片，效果不是很好。

所以我自己label了一些图片然后用paddleseg训练了，想把训练好的模型丢进EISeg里面使用，去标注其他图片看看效果。
我训练用的网络配置是：OCRNet + hrnet_w48 + 图片size640x512

但是我发现训练好的模型model.pdparams放进EISeg3里面，会显示“权重和模型不匹配。请确保指定的权重和模型对应”，请问这个要怎么配置？
还有就是我把模型转换成静态的model.pdiparams，然后用EISeg4去运行，加载模型没有问题，但是读取完图片开始标注，一点鼠标左键程序就直接死机退出。请问这个又需要怎么配置？

[2021-12-08 03:54] wuyefeilin commented on #1598
你可以直接用我们提供的模型在你的数据集上进行微调哈，记得学习率调小一些

[2021-12-08 03:58] haoyuying commented on #1600
您好，这种方式是不可行的，交互式分割的模型有自己的训练方法，和语义分割等训练方式不同。

[2021-12-08 04:08] LutaoChu commented on #1599
你好，目前没有这块demo。只有检测和分类的ios demo。可以参考https://paddle-lite.readthedocs.io/zh/latest/demo_guides/ios_app_demo.html

你说的是视频分割部署demo吧，目前还没有

[2021-12-08 04:19] ggdonald commented on #1600
那请问eiseg使用的交互式分割模型的训练配置，有没有公开给用户自己定义数据集，然后自己训练的程序或者方法教程呢？

[2021-12-08 05:54] yangjian1218 commented on #1598
可是没有pdopt文件,怎么接着训练?  在配置modenet_hrnet_18.yml文件中:model下增加了一行pretrained: modnet-hrnet_w18.pdparams.训练了20000轮效果还是很差.这是从头训练了么?

[2021-12-08 06:09] haoyuying commented on #1600
目前还没有公开训练代码，目前只能使用我们提供的一些垂类模型。未来将会公开训练代码，敬请期待。

[2021-12-08 06:42] wuyefeilin commented on #1598
学习率调小一些， 比如：0.0001

[2021-12-08 09:20] ChenDirk opened #1602 "蒸馏训练有bug"
在PaddleSeg/slim/distill/distill_config.py 文件里面，from paddleslim.dygraph.dist import AdaptorBase失败，我也去paddleslim里面看了一下，确实没有这个类，请问一下文件里面对应的是哪个版本呢？顺便问一下，paddleslim里面的描述到现在还是蒸馏只支持静态图，是不是也有问题？

[2021-12-08 09:22] ChenDirk commented on #1602
我的版本是paddlepaddle-gpu==2.2.0 paddleslim==2.2.0

[2021-12-08 09:23] SamYokai opened #1603 "Cannot run for resume_model, show error KeyError: 'LR_Scheduler'"
This is what I had run for resume_model and it show me:

/content/PaddleSeg
2021-12-08 09:15:04 [INFO]
------------Environment Information-------------
platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
Python: 3.7.12 (default, Sep 10 2021, 00:21:48) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.1.TC455_06.29190527_0
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: [

[2021-12-08 09:26] juncaipeng commented on #1602
请参考[文档](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/slim/distill/distill.md#21-%E7%8E%AF%E5%A2%83%E5%87%86%E5%A4%87)切换paddleslim到指定分支：
![image](https://user-images.githubusercontent.com/52520497/145183128-c1fcf6c0-6d90-4483-8ded-f23fc0ead422.png)

可以支持动态图。

[2021-12-08 09:29] SamYokai commented on #1603
by the way, Im using Google Colab to run, so want to confirm if I download the pdopt and pdparams files together with the log and all txt file needed, and I run it by next day, is it can work if I can resume to train model since Google Colab using gpu will have usage limit per day if no mistake and if close it and open next day need run everything again, so I just want to ask that if I had downloa

[2021-12-08 09:34] shiyutang commented on #1603
The problem is that you do not have the "LR_Scheduler" in your optimizer's state_dict. You should try to load the optimizer state_dict and see the keys, if you do not have "LR_Scheduler", you cannot load it.

[2021-12-08 10:10] SamYokai commented on #1603
ohhh, I see. But logically it suppose be there right? if not how it can train before? Sorry for lack of understanding. Also, how can  I check for the optimizer state_dict, and if it is missing then is it possible that I can add it or I need to run the whole model again?

[2021-12-08 11:25] shiyutang commented on #1603
It is likely that you didn't set the lr_scheduler configuration in your config file during training, otherwise, paddle will save the lr_scheduler for you. You can set the lr_scheduler like this, and you should be ready:
![image](https://user-images.githubusercontent.com/34859558/145199697-70fd4f38-f10a-467f-94a7-a5674a837746.png)

You can train your model without lr_scheduler setting, but you shou

[2021-12-09 01:37] SamYokai commented on #1603
ok understood, thank you for the information.

[2021-12-09 02:05] shiyutang commented on #1603
You are welcome.

[2021-12-09 03:16] ChenDirk commented on #1602
感谢，实测可以正常训练，也希望后续能统一一下paddleslim的版本和描述。

[2021-12-09 07:53] #1603 closed, assigned to shiyutang

[2021-12-09 08:00] fangyuan2017 commented on #1567
我只有在放大缩小后再进行保存操作才会闪退  如果不放大缩小就不会闪退

[2021-12-09 09:42] fengyanWang opened #1607 "modnet 的c++部署代码什么时候可以开源出来？"
你好！请问modnet的c++推理代码什么时候可以开源出来？目前我按照paddleseg.cc代码进行修改出来的结果有问题

[2021-12-09 09:46] haoyuying commented on #1567
收到，我们会在近期发一个新包来修复这些问题。

[2021-12-09 11:47] geoyee commented on #1567
@fangyuan2017 你可试试 https://github.com/PaddleCV-SIG/EISeg/tree/develop ，我们尝试修复了这个缩放引起的闪退问题，如果还有此问题，欢迎反馈

[2021-12-09 11:50] geoyee commented on #1567
@Zachary-ZCH @fangyuan2017 也欢迎大家试试这个版本的，如果还存在闪退的问题，希望能再次得到反馈

[2021-12-09 12:55] yangrisheng opened #1608 "PaddleSeg有3D分割的模型嘛？"
PaddleSeg有3D分割的模型嘛？

[2021-12-10 01:46] haoyuying commented on #1608
目前3d分割的能力正在建设当中，敬请期待，

[2021-12-10 02:26] wuyefeilin commented on #1607
感谢你的关注，我们会尽快开源出c++推理代码，如果你提前实现了，欢迎提pr给我们哈

[2021-12-10 07:49] fengyanWang commented on #1607
我使用paddlex的c++ api进行推理，推理结果和onnx的推理结果一致，但是存在问题是paddleX c++推理速度是400ms左右，而onnx  python推理只有120ms左右，后续我又用paddle lite c++进行推理，结果是500ms左右。

我用的模型是backbone为MobileNetV2，输入大小为256*256
硬件配置：i5-6500      windows10     visual studio 2017

![image](https://user-images.githubusercontent.com/36984088/145536955-3e610b33-38c5-4a2f-bd7f-1bd6236784d1.png)

[2021-12-10 07:53] fengyanWang commented on #1607
#include <gflags/gflags.h>
#include <string>
#include <vector>
#include <time.h>
#include "model_deploy/common/include/paddle_deploy.h"
#include "paddle/include/paddle_inference_api.h"
#include "yaml-cpp/yaml.h"
#include "opencv2/core.hpp"
#include "opencv2/imgproc.hpp"
#include "opencv2/highgui.hpp"

using namespace std;

void test_printMat(const cv::Mat img_data) {
	for (int i = 0; i < img_data.

[2021-12-11 07:42] yangrisheng opened #1610 "PaddleSeg有实例分割和全景分割的模型嘛？"
PaddleSeg有实例分割和全景分割的模型嘛？

[2021-12-11 12:25] curryJ commented on #1602
您好 为什么我不能git reset呢，我执行git reset --hard 15ef0c7dcee5a622787b7445f21ad9d1dea0a933会报错

谢谢

[2021-12-13 02:34] LutaoChu commented on #1610
全景分割有Panoptic DeepLab算法，实例分割可以去PaddleDetection找找

[2021-12-13 05:56] yangrisheng opened #1612 "PaddleSeg的requirements.txt中opencv-python的问题"
PaddleSeg的requirements.txt中opencv-python的问题。
清华源中没有4.5.2.54这个版本。建议修改下
`ERROR: Could not find a version that satisfies the requirement opencv-python==4.5.2.54 (from paddleseg==2.3.0) (from versions: 3.4.0.14, 3.4.2.17, 3.4.3.18, 3.4.4.19, 3.4.5.20, 3.4.6.27, 3.4.7.28, 3.4.8.29, 3.4.9.31, 3.4.9.33, 3.4.10.37, 3.4.11.39, 3.4.11.41, 3.4.11.43, 3.4.11.45, 3.4.13.47, 3.4.15.55, 3.4.16.57, 3.4.16.59, 4.0

[2021-12-13 06:46] curryJ opened #1614 "载入的deeplabv3p_Xception65_cityscapes权重不对"
您好，我按照配置文件的配置，构建出了deeplabv3p_Xception65_cityscapes模型，但是载入[model zoo](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.1.0/docs/model_zoo.md)给出的权重，载入之后提示权重文件不对
![image](https://user-images.githubusercontent.com/23001027/145764926-40d1ee27-377f-4b28-9fb3-2627b4d57ffa.png)
![image](https://user-images.githubusercontent.com/23001027/145764942-f35a5a94-2e54-471c-a544-e89a90fe095a.png)
![image]

[2021-12-13 08:56] khaep opened #1616 "How to inference a BiSeNetV2 model (onnx) that was trained with custom data?"
Hello there,

for semantic segmentation purpose,
I have trained the BiSeNetV2 model with a custom data set.
After finishing the training process, I got reasonable predictions (about 77% mIoU) on the test dataset.
Doing some predictions with [predict.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/predict.py) (refer [doc](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/doc

[2021-12-13 09:59] Niki173 opened #1618 "用paddleseg训练二分类数据集，IOU值几乎0"
用paddleseg训练细胞核数据集，二分类问题，标签为1（即前景目标），IOU值几乎0，会是什么原因呢。训练label原数据是rgb通道，但是使用paddleseg要用单通道照片，因此我转为了单通道进行训练，训练过程没报错，就是标签1的IOU几乎为0。

[2021-12-13 11:41] zym434597594 opened #1619 "paddleseg-gpu tensorrt部署报错"
cpu和gpu普通版本都能正常跑，但是gpu tensorrt部署一直报错
环境：paddle-centos7.6-py37-cuda10.2-cudnn8.1-trt7.2
显卡：Tesla P40

普通部署:
(paddle-gpu-trt) [root@10-23-44-203 PaddleSeg23]# python deploy/python/infer.py --config output/results-infer/bisenet/deploy.yaml --image_path cityscapes_demo.png
2021-12-13 19:33:50 [INFO]      Use GPU
2021-12-13 19:33:56 [INFO]      Finish

trt部署：
(paddle-gpu-trt) [root@10-23-44-203 Paddle

[2021-12-13 12:02] zym434597594 opened #1620 "paddleseg serving部署报错"
服务端正常起来：
(python37) [root@i-rqddkv57 Matting]# python -m paddle_serving_server.serve --model serving_server --thread 10 --port 9292 --ir_optim
/tmp/y/envs/python37/lib/python3.7/runpy.py:125: RuntimeWarning: 'paddle_serving_server.serve' found in sys.modules after import of package 'paddle_serving_server', but prior to execution of 'paddle_serving_server.serve'; this may result in unpredictable be

[2021-12-14 01:22] geoexploring opened #1621 "resume_model后不能续接best_model和vdlrecords.xxx.log"
如题，请问resume_model后续接best_model和vdlrecords.xxx.log难度如何呢？

谢谢

[2021-12-14 02:02] juncaipeng commented on #1612
好的，我们确认一下。

[2021-12-14 02:04] juncaipeng commented on #1614
你好，你参考的model-zoo版本是0.1，目前最新版本是2.3，请使用最新的代码和文档。

[2021-12-14 02:19] juncaipeng commented on #1616
For the first question, please refer the code in [infer.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/deploy/python/infer.py) and the main steps as follows:
* Set PredictConfig
* Create Predictor
* Prepare image
* Run Predictor
* Get results

For the second question, you should convert the image from BGR to RGB by `im = cv2.cvtColor(im, cv2.COLOR_BGR2RGB)`

[2021-12-14 02:22] juncaipeng commented on #1618
你可以使用visualdl查看loss曲线，同时evaluate时不仅看miou，还要看log输出的class iou（每个类别的iou）和class acc（每类像素的准确率）。

[2021-12-14 02:24] juncaipeng commented on #1619
![7f3dedc7f286b88ddcb1b85725b83f4d](https://user-images.githubusercontent.com/52520497/145921590-a5c26e90-6235-413f-a309-b0a89cc5c2a0.png)

修改地方：[infer.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/deploy/python/infer.py#L196)

[2021-12-14 02:27] juncaipeng commented on #1607
你好，paddlex c++和onnx python推理是在GPU还是CPU，是否开启MKLDNN，是否使用了trt？
通常相同情况下，大模型使用paddle推理和onnx推理，速度差不多，小模型会差别大一点点。

[2021-12-14 02:28] juncaipeng commented on #1621
你好，
这个目前没有支持，我们会尽快考虑这个需求。目前，你可以在resume_model后重新设置一个保存路径。

[2021-12-14 02:36] curryJ commented on #1614
谢谢 请问现在2.3的deeplabv3p的backbone，支持mobilenet吗，我看现在的配置文件的backbone全都是resnet
![image](https://user-images.githubusercontent.com/23001027/145922798-32f3e8ba-f510-4ec5-8ac1-b11719880dfa.png)

[2021-12-14 02:44] juncaipeng commented on #1620
你好，
你系统是windows吧，请参考[文档](https://github.com/PaddlePaddle/Serving/blob/v0.6.0/doc/WINDOWS_TUTORIAL_CN.md)安装试试。

[2021-12-14 02:47] zym434597594 commented on #1620
服务端用的python,客户端是用windows请求的

[2021-12-14 02:48] zym434597594 commented on #1620
服务端： centos7.6 + conda
客户端是：windows + conda

[2021-12-14 02:48] zym434597594 commented on #1620
https://github.com/PaddlePaddle/PaddleSeg/issues/1620#issuecomment-993102811

[2021-12-14 02:48] juncaipeng commented on #1614
目前没有提供现成mobilenet backbone的模型，我们后面会考虑加上。

[2021-12-14 02:49] SwordBearFire opened #1622 "video matting人像的边缘抖得厉害"
你好，

我训练了一个人像抠图模型，训练的时候效果挺好的，但是抠视频中的人像，边缘特别的抖，不知道有什么好的解决办法吗？

Best regard

[2021-12-14 02:50] juncaipeng commented on #1602
先尝试fetch一下吧

[2021-12-14 02:50] #1602 closed, assigned to juncaipeng

[2021-12-14 02:50] zym434597594 commented on #1620
服务端：centos7.6 + conda + python37 + paddle-cpu2.2.0
客户端：windows + conda + python37 +  paddle-cpu2.2.0

[2021-12-14 02:54] juncaipeng commented on #1620
请详细参考[server文档](https://github.com/PaddlePaddle/Serving/blob/v0.6.0/README_CN.md#%E5%8A%A8%E6%9C%BA)安装、使用。

由于seg这边主要是提供导出模型，server部署主体还是在server那边，所以如果是明确的server错误，也可以在[server](https://github.com/PaddlePaddle/Serving/issues)提出issue进行描述。

[2021-12-14 03:00] Sun-Wenfeng opened #1624 "Matting 无法使用GPU训练"
按照readme.md中的指令python -m paddle.distributed.launch进行训练，依然是在CPU上进行的，并没有启用GPU。请问怎么解决？

[2021-12-14 03:02] zym434597594 commented on #1620
好的

[2021-12-14 03:18] zym434597594 commented on #1619
示例已经能正常跑了，然后我跑了下matting那个工业实践，但是gpu版本处理一张图片需要16秒，使用trt部署减少到11秒左右，感觉实践中的话时间还是太长了,处理图片是挺快的，但是出现进度条之前需要10秒钟的等待，有没有方法减少这个时间？ 或者只第一次加载模型，后面能直接使用加载好的模型

## 环境
配置：4核8g
显卡：NVIDIA Corporation GP102GL [Tesla P40] (rev a1)
环境：centos7.6 + conda3 + python3.7 + cuda10.2 + cudnn7.6.5 + trt7.2 + paddle-gpu2.2.1 + paddleseg2.3

导出模型：
![image](https://user-images.githubusercontent.com/56622184/145926381-3b1027e7-d5

[2021-12-14 03:44] juncaipeng commented on #1612
已经提pr修复，移除opencv版本要求

[2021-12-14 03:44] #1612 closed, assigned to juncaipeng

[2021-12-14 08:52] fengyanWang opened #1628 "Matting中的modnet量化出错"
![image](https://user-images.githubusercontent.com/36984088/145965030-e13580fa-caf6-4696-afdb-fdf486a07a37.png)
参考链接Wei :https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/slim/quant/quant.md

[2021-12-14 11:39] wuyefeilin commented on #1622
目前我们是图象matting算法，视频抖动的问题可以通过后期处理进行减弱，比如临近帧取平均值，光流算法等

[2021-12-14 11:44] wuyefeilin commented on #1628
没找打MattingDataset， 请在程序开头进行import
from dataset import MattingDataset

[2021-12-15 01:31] fengyanWang commented on #1628
谢谢你的回复，包的问题解决了，但是modnet的配置文件和其他分割模型配置文件参数不同，导致调用qat_train的时候，参数解析错误，请问这个如何修改？

![image](https://user-images.githubusercontent.com/36984088/146106255-55ecffb4-1bc6-4d1f-af5e-e2bd09d021a4.png)

[2021-12-15 06:21] wuyefeilin commented on #1628
loss放置到模型文件里了，你可以直接修改，或者按照模型的字典形式传入loss_func_dict

[2021-12-15 06:34] wuyefeilin commented on #1624
确保安装了gpu版本的paddle，安装教程https://www.paddlepaddle.org.cn/

[2021-12-15 07:39] Sun-Wenfeng commented on #1624
安装链接中的指令安装了gpu版本，但是重新跑训练时遇到这种错误
<img width="1112" alt="截屏2021-12-15 下午3 38 28" src="https://user-images.githubusercontent.com/62273265/146143620-b064bbca-23e3-4e17-abc6-2a8918bdfe5b.png">
按照提示设置了LD_LIBRARY_PATH之后还是会报相同的错误。请问怎么解决？

[2021-12-15 08:15] Sun-Wenfeng commented on #1624
按照链接中的指令安装了gpu版本，但是重新跑训练时遇到这种错误
<img width="1112" alt="截屏2021-12-15 下午3 38 28" src="https://user-images.githubusercontent.com/62273265/146149064-2a3cab76-365d-4750-a242-0c2d09dac306.png">

按照提示设置了LD_LIBRARY_PATH之后还是会报相同的错误。请问怎么解决？

[2021-12-15 09:51] cloudlockheart opened #1634 "matting model deploy on jetson nano jetpack4.4 crash"
1. 使用MODNet+MobileNetV2 基于PPM-100 训练的模型
2. 使用export 导出模型： python export.py \
    --config configs/modnet/modnet_mobilenetv2.yml \
    --model_path output/best_model/model.pdparams \
    --save_dir output/export
3. 使用Paddle Inference C++预测库 进行推理，CPU/GPU都会报错，log如下：

-- The CXX compiler identification is GNU 7.5.0
-- The C compiler identification is GNU 7.5.0
-- Check for working CXX compiler: /usr/b

[2021-12-15 11:18] LutaoChu commented on #1574
Check that you have run the following code
[code]
If it still doesn't work, try to import SegFormer_B5 class in the train.py

[2021-12-15 12:25] wuyefeilin commented on #1634
图象输入尺寸需要是32的倍数

[2021-12-15 13:37] SwordBearFire commented on #1622
谢谢您的回答，我还有个问题想请教一下，关于模型蒸馏，假如说我想蒸馏中间层的特征，但是student模型的特征channel与teacher的特征channel不一致应该怎么计算损失，还有很多人都用KLloss来监督，我不太理解中间层的特征应该怎么做。谢谢

Best regard

[2021-12-15 17:07] khaep commented on #1616
@juncaipeng,
Thank you for the reply.
In the meantime, I modified the [predict.py](https://github-com.translate.goog/PaddlePaddle/PaddleSeg/blob/release/2.3/predict.py?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=de&_x_tr_pto=op) as follows, to get a first inference script to predict single images.

[code]
It works and the predicted image looks valid but the inference time on the GPU (measured with the time

[2021-12-16 02:51] lujx1024 commented on #1591
@juncaipeng 非常感谢

[2021-12-16 02:52] #1591 closed, assigned to juncaipeng

[2021-12-16 06:06] hackkhai opened #1637 "Matting HRNet Model is slow after exporting"
I exported the Matting MODNet model and during inference on GPU it takes 2 seconds per image and the infer script says its using GPU and the GPU was also loading the model as it was visible in nvidia-smi. But when i use the model before exporting it takes only 200ms per image. Can I get some help?

[2021-12-16 07:02] wuyefeilin commented on #1637
Thanks for using Matting. May be the size of input image is different.

[2021-12-16 07:27] hackkhai commented on #1637
I Tried to see which one takes a lot of time and its [https://github.com/PaddlePaddle/PaddleSeg/blob/7ea27e51c8f624755917a9959e375e6c22c05f42/contrib/Matting/deploy/python/infer.py#L205](url) and it takes 1.5 seconds. which is a lot for copy from cpu

[2021-12-16 08:32] #659 closed, assigned to nepeplwu

[2021-12-16 09:08] Shixiaowei02 commented on #1111
您好，请问这个模型关掉 GPU 可用吗？请给下 Paddle 的版本和复现环境，我们看下，谢谢

[2021-12-16 11:34] zyz207 opened #1642 "单机多卡报错paddle.distributed.launch"
matting使用单卡正常训练，使用多卡时报错
2021-12-16 19:29:56 [INFO]
------------Environment Information-------------
platform: Linux-4.15.0-147-generic-x86_64-with-glibc2.27
Python: 3.8.10 (default, May  5 2021, 03:01:07) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.2.r11.2/compiler.29618528_0
cudnn: 8.1
GPUs used: 2
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: NVIDIA GeForce', 'GPU 1: NVIDIA GeForc

[2021-12-17 02:36] cloudlockheart commented on #1634
但用同样的export model，使用Python infer ，并不会报错：
python deploy/python/infer.py \
    --config output/export/deploy.yaml \
    --image_path data/test_pics/ \
    --save_dir ouput/results

需要先对图像做resize么

[2021-12-17 03:08] cloudlockheart commented on #1634
将图像resize 成了32的倍数size (800,1600,3),但是报了新的错误
I1217 11:07:10.125449 14315 analysis_predictor.cc:717] ======= optimize end =======
I1217 11:07:10.148499 14315 naive_executor.cc:98] ---  skip [feed], feed -> img
I1217 11:07:10.164866 14315 naive_executor.cc:98] ---  skip [sigmoid_2.tmp_0], fetch -> fetch
W1217 11:07:10.174299 14315 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability:

[2021-12-17 06:55] wuyefeilin commented on #1642
查看一下显存是否充足，不够的话调小batch_size试试

[2021-12-17 07:11] 205418367 opened #1643 "如何转onnx模型呢？"

[2021-12-17 07:12] 205418367 commented on #1643
请问下载的modnet-mobilenetv2.pdparams如何转弄下？我尝试根据paddle2onnx试了下没成功呢

[2021-12-18 02:27] michaelowenliu commented on #1643
@205418367 Hi, you should export the pdparams. Please refer to the instruction, https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/contrib/Matting#model-export

[2021-12-18 02:31] michaelowenliu commented on #1637
@hackkhai Hi, may I know how you get the execution time?

[2021-12-19 07:54] zhijiejia opened #1645 "PaddleSeg backbone_indices"
请问 PaddleSeg的配置中的 backbone_indices 代表的是啥？ 没找到有解释这个参数的地方。另外 不同的模型有不同的loss个数，这个从哪查呢？ 每次换模型的时候，就一头雾水，不知道backbone_indices 怎么改，loss写几个？

[2021-12-19 08:22] zhijiejia commented on #1645
哦哦 这个是不是结合 定义模型代码的文件 里看的呢，刚才在deeplabv3 里看到了相应的定义

[2021-12-19 15:01] hackkhai commented on #1637
@michaelowenliu I tried to print the inference time for each line of code with cuda synchronisation

[2021-12-20 02:08] juncaipeng commented on #1645
backbone_indices表示使用backbone输出list中哪几个tensor用作head的输入，需要结合模型定义来看。

[2021-12-20 02:11] juncaipeng commented on #1643
我们已经在验证是否转换错误，如果不成功，会尽快尝试修复paddle2onnx

[2021-12-20 02:19] juncaipeng commented on #1616
Hi, in order to reduce the inference time, you can export the inference model, and then use the python or cpp api of PaddleInference to deploy the model, such as [infer.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/deploy/python/infer.py) and [cpp demo](https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/deploy/cpp).  Besides, you have to consider to reduce the pre-process

[2021-12-20 02:24] juncaipeng commented on #1607
开启mkldnn，通常会针对cpu进行加速，你可以尝试一下不开启mkldnn试试。
此外，这个耗时是纯预测时间吗？ paddle预测和onnx预测的线程数是一致的吗？ 一般不会存在如此大的差异。

[2021-12-20 03:11] juncaipeng commented on #1637
Hi, what is the batch_size you set?

[2021-12-20 03:39] wuyefeilin commented on #1624
查看一下是否安装了cuda贺cudnn？

[2021-12-20 03:41] Sun-Wenfeng commented on #1624
已经解决了，将cudnn降到7.6.5就能用

[2021-12-20 03:44] juncaipeng commented on #1622
channel不一致时，通常使用conv1*1统一为相同的channel，再计算两个feature map的KL loss。

[2021-12-20 03:44] wuyefeilin commented on #1634
![image](https://user-images.githubusercontent.com/30919197/146708729-60686091-696f-4af4-8f40-af8df55e45ff.png)
看样子使数据类型的问题，根据提示检查一下数据类型哈

[2021-12-20 04:11] cloudlockheart commented on #1634
有什么提示么，该如何检查数据类型，比如说是模型本身的数据类型不对，还是输入图像的数据类型

[2021-12-20 05:01] hackkhai commented on #1637
I used a batch size of 1 and its a single image inference

[2021-12-20 08:13] ETTR123 opened #1646 "【论文复现】动态图模式下训练结束后计算flops错误"
   1）PaddlePaddle版本：2.2.1
      [PR地址：https://github.com/PaddlePaddle/PaddleSeg/pull/1623](https://github.com/PaddlePaddle/PaddleSeg/pull/1623)

训练命令：

`python PaddleSeg/train.py --config PaddleSeg/configs/enet/enet_cityscapes_1024x512_adam_0.002_80k.yml`

     W1218 13:14:42.893093   301 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime

[2021-12-20 08:25] geoexploring opened #1647 "paddlseg为什么不以epoch，而是以iter作为训练的基本单位呢？"
在paddlex中是以epoch为训练的基本单位，而在paddleseg中是以iter作为训练的基本单位。

请问这是什么原因呢？还是说用iter训练是历史原因？

谢谢！

[2021-12-20 08:48] shiyutang commented on #1646
This should be a problem in paddle.flops. We will look at it asap.

[2021-12-20 12:37] juncaipeng commented on #1647
seg论文通常都是用iter来说明实验参数，所以paddleseg按照通用做法来实现。

[2021-12-20 13:13] geoexploring commented on #1647
@juncaipeng ，谢谢，明白了。

[2021-12-20 13:13] #1647 closed, assigned to juncaipeng

[2021-12-21 01:54] 205418367 commented on #1643
可以了，谢谢

[2021-12-21 03:06] wuyefeilin commented on #1634
查看一下数据类型是否正确，顺便定位一下具体是哪一行出错的，方便做出进一步的判断

[2021-12-21 05:00] geoexploring opened #1649 "适合于paddleseg的SwinTransformer预训练模型？"
请问，有没有适合于paddleseg的SwinTransformer预训练模型？如类似 https://bj.bcebos.com/paddleseg/dygraph/hrnet_w18_ssld.tar.gz .

谢谢！

[2021-12-21 07:26] zhijiejia opened #1650 "In F.cross_entropy, the ignore_index is invalid, which needs to be fixed."
![image](https://user-images.githubusercontent.com/43838913/146888645-e53a2c21-40d1-4560-a8f7-0370350b17fa.png)

`paddleseg/models/losses/cross_entropy_loss.py`  第84行, 说cross_entropy中ignore_index参数无效，现在还是无效吗？

[2021-12-21 08:12] cloudlockheart commented on #1634
从Log 上看，出错是在这一行：
InvalidArgumentError: Tensor holds the wrong type, it holds float, but desires to be int64_t
[Hint: Expected valid == true, but received valid:0 != true:1.] (at /home/paddle/data/tc/work/e247db3b53dc4203/remove_paddle/Paddle/paddle/fluid/framework/tensor_impl.h:51)

目前是使用jeston nano做推理，推理基于Jetpack4.4(4.5): nv-jetson-cuda10.2-cudnn8-trt7(nano) 这个库

export model 的deploy yaml:
Deploy

[2021-12-21 13:49] MicroPhion opened #1651 "IESeg release2.3版"
在使用IESeg的GPU版时，鼠标每点击一次，显存就会增加几百兆。切换下一张图像时，显存仍然会持续增加，不知道这种现象是否正常。

[2021-12-22 01:37] zhanghongyong123456 commented on #1522
您好，我想问一下训练的epoch如何设置，我做好数据，只跑了一个晚上就自己停止了，我想知道在那里设置epoch呢，期待您的回复

[2021-12-22 01:57] shiyutang commented on #1650
You can try it. Now it is valid with paddle 2.2.

[2021-12-22 02:43] zhanghongyong123456 commented on #1453
大佬，你的这个曲线图那里看到的，我昨天做好了一个数据集，尝试跑了一下，只跑了一个晚上就停了，我感觉只跑了一个epoch，我想知道在那里设置epoch

[2021-12-22 02:46] yangy996 commented on #1453
可以將yml中的iters设置大一点

[2021-12-22 02:46] juncaipeng commented on #1649
目前还没有支持swintransformer，不过我们支持了如下三个transform分割模型：

![image](https://user-images.githubusercontent.com/52520497/147026724-c73e6dd5-f26f-4ada-b641-ecfc3fe62fea.png)

请参考：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/model_zoo_overview.md#transformer%E7%B3%BB%E5%88%97

[2021-12-22 02:47] #1643 closed, assigned to wuyefeilin, juncaipeng

[2021-12-22 02:47] #1620 closed, assigned to juncaipeng

[2021-12-22 02:55] zhanghongyong123456 commented on #1453
这里不能设置epoch吗，你的这两个曲线在那里看的，我也想看一下自己的SAD 和MSE

[2021-12-22 02:59] yangy996 commented on #1453
epoch是根据iters、GPU个数、批大小计算出来的，这个是我运行的命令
python  -m paddle.distributed.launch --gpus '4,5,6,7' train.py --config configs/modnet/modnet_hrnet_w18_ppm.yml --do_eval --use_vdl --save_interval 5000 --num_workers 8 --save_dir output

[2021-12-22 03:02] zhanghongyong123456 commented on #1453
大佬，四张显卡，牛批呀，你的iters设置多少，请教大佬，你的SAD SME 曲线那里查看

[2021-12-22 03:04] yangy996 commented on #1453
弄大点多加两个0都可以了，如何查看曲线你可以看一下提供的文档

[2021-12-22 03:05] zhanghongyong123456 commented on #1453
好的我去看一下，谢谢指点哈

[2021-12-22 03:07] zhanghongyong123456 commented on #1453
大佬哪个文档，我没找到

[2021-12-22 03:10] yangy996 commented on #1453
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/contrib/Matting/README_CN.md
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/train/train_cn.md

[2021-12-22 03:43] wuyefeilin commented on #1619
你可以把要预测的图片都放在一个目录下，这样模型加载一次就能够完成所有图片的预测了

[2021-12-22 03:53] zhanghongyong123456 commented on #1453
![image](https://user-images.githubusercontent.com/48466610/147032753-7664f517-770e-4205-bbea-a7cbe5943c34.png)
我这里没有你显示的SAD 和SME 曲线，只有这几个曲线，我在训练的时候没有开do_eval这个选项

[2021-12-22 03:55] haoyuying commented on #1651
您好，图多大呢，可否给我们两张图用于复现问题，并且提供复现环境信息，比如paddle，eiseg的版本及cuda版本等

[2021-12-22 05:04] geoexploring commented on #1649
@juncaipeng ，好的，谢谢！

[2021-12-22 05:13] geoexploring commented on #1649
@juncaipeng .谢谢！
请问，如果用paddleclas中的[swintransformer ImageNet 预训练模型库](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/algorithm_introduction/ImageNet_models.md#16)可以吗？

[2021-12-22 05:13] geoexploring commented on #1649
@juncaipeng .谢谢！
请问，如果用paddleclas中的[swintransformer ImageNet 预训练模型库](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/algorithm_introduction/ImageNet_models.md#16)可以吗？

[2021-12-22 12:55] xinliyangguang opened #1652 "在paddle cloud上使用PaddleSeg-release-2.2中的模型训练时出现ModuleNotFoundError类型的错误"
我在paddle cloud中使用集群训练PaddleSeg-releasev2.0的模型，数据放在了afs集群上，代码放在了开发机上，提交作业之后报错如下：

/root/paddlejob/workspace/env_run/zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-v2.0/paddleseg/cvlibs/param_init.py:89: DeprecationWarning: invalid escape sequence \s
"""
Traceback (most recent call last):
File "zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-v2.0/train.py", line 21, in
from paddlese

[2021-12-23 01:47] 534114658 opened #1653 "新版本sfnet_ResNet18_vd c++推理时间翻倍"
数据集的分辨率是crop_size: [452, 416]
2.1版本的sfnet_ResNet18_vd   训练之后c++推理时间是19-22ms左右

2.3版本  同样的数据集训练
同样是sfnet_ResNet18_vd   训练参数都一样  训练之后c++推理时间是38-41ms左右

是什么原因导致的？

[2021-12-23 01:51] shiyutang commented on #1652
please update paddleseg to 2.3

[2021-12-23 01:52] haoyuying commented on #1653
请问您两次测试的环境细节是什么样的呢，配置是否相同？

[2021-12-23 01:54] 534114658 commented on #1653
同一台电脑   2.1和2.3反复测试过2次才来问的

win10 cuda10.2
paddlepaddle-gpu==2.2.1

![image](https://user-images.githubusercontent.com/88479008/147176858-e6d22c00-02b9-4e8f-bd28-e20e4717e976.png)

2.1和2.3的测试只更换paddleseg文件夹和train.py，其他训练数据都一样

[2021-12-23 07:04] SamYokai opened #1654 "关于训练模型的同时，transforms的设定会带来的效果以及影响。"
不好意思，有一些疑惑想要请教，就是在我们训练模型之前我们会在yml file (例子：bisenet_optic_disc_512x512_1k.yml) 设置一些transforms的设定 （比如：Resize，RandomDistort 等等）再开始训练。我的疑惑是譬如RandomDistort 这样，会随机给我们一些设定数值基于我们的 contrast_range， contrast_prob 之类的。那么在训练模型时，这个随机的设定是在我们一开始训练时就已经设定并固定了呢，还是会在每一次的 iter 或者 epoch 都会随机给我们不同的设定数值？希望可以明白我的问题，如果有不明白的，我可以再尝试解释看看。

[2021-12-23 07:29] xinliyangguang commented on #1652
仍然出现此类错误，错误信息相同：
Traceback (most recent call last):
  File "zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-2.3/train.py", line 21, in <module>
    from paddleseg.cvlibs import manager, Config
  File "/root/paddlejob/workspace/env_run/zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-2.3/paddleseg/__init__.py", line 15, in <module>
    from . import models, datasets, transforms
  Fil

[2021-12-23 09:58] FjjRichard opened #1655 "EISeg闪退问题"
点击“文件”->"打开文件夹"，读取数据之后，多次切换“保存JSON格式”和“保存COCO格式”图标软件会闪退

[2021-12-23 13:52] geoyee commented on #1655
收到

[2021-12-24 01:25] huilin16 opened #1656 "请问是否有mixup等算子"
请问是否有mixup、cutmix、grid mask等算子

[2021-12-24 02:47] sunshineyg2018 opened #1659 "执行速度"
/deploy/infer.py 里面的  self.predictor.run() 执行
同样两个项目 配置一样 运行速度差别太多
一个为3.7秒
一个为0.04秒
请问是什么影响了这个速度

[2021-12-24 02:57] sunshineyg2018 commented on #1659
PaddleSeg/contrib/PP-HumanSeg/deploy/infer.py

[2021-12-24 03:00] LutaoChu commented on #1659
你是怎么计时的呢？预测了几张图片呢？

[2021-12-24 03:11] sunshineyg2018 commented on #1659
两张图片，图片替换背景使用的是 config export_model/ppseg_lite_portrait_398x224_with_softmax/deploy.yaml

time.now 计时

[2021-12-24 03:15] sunshineyg2018 commented on #1659
<img width="484" alt="image" src="https://user-images.githubusercontent.com/40789780/147311616-b7bf3e45-80f2-4c98-931d-cd0a1911ce59.png">

[2021-12-24 03:26] LutaoChu commented on #1656
你好，目前还没有这些算子

[2021-12-24 03:39] LutaoChu commented on #1654
你好，这些随机设定是在每一次iter都会带来随机效果的。比如RandomDistort，每个iter会先按contrast_prob的概率去选择是否进行对比度变换，如果进行对比度变化，再在contrast_range范围内随机选择一种对比度变换我们的图像，得到最终的变换后的图片

[2021-12-24 03:47] LutaoChu commented on #1659
是这样的，第一张图片都会耗时比较久，因为第一次运行需要初始化很多变量，之后的图片就不需要初始化，耗时会更短。一般不算第一次运行的时间

[2021-12-24 04:00] sunshineyg2018 commented on #1659
可是同样两个一摸一样的服务，如果是第一次加载比较久那么 应该都是第一张图片很慢后面很快

但是两个服务反馈的是 其中一个服务 非常快，另外一个服务始终就很慢。

[2021-12-24 05:25] DoubleJR opened #1660 "eiseg"
新手，在用eiseg标注过程中，老是报错“MemoryError: (ResourceExhausted) Fail to alloc memory of 524288000 size.”，然后退出程序，请问是我显卡不行吗。。。

[2021-12-24 08:41] SamYokai commented on #1654
原来如此，理解了，谢谢您的解答

[2021-12-24 11:22] Mergim01 opened #1661 "EISeg Train Code"
Dear PaddleSeg and EISeg Team,
I have read your paper on Interactive Segmentation (EdgeFlow: Achieving Practical Interactive Segmentation with Edge-Guided Flow) and I am amazed. I am studying Information Systems at WWU in Münster, Germany, and as part of a seminar, I chose to take your Edgeflow architecture and apply it to satellite data. In order to be able to recognize smaller objects in aerial

[2021-12-25 16:06] zhijiejia commented on #1582
请问 问题解决了吗，我使用2.3还是会有这个问题。
[code]

[2021-12-27 02:20] haoyuying commented on #1660
这种问题一般是由于图片过大等因素导致的显存不足。请问您具体使用的图片大小及显卡信息是什么呢？

[2021-12-27 02:38] dalidifang opened #1664 "Unet 训练完后在移动端效果不佳"
1.环境配置
PaddlePaddle 2.2.1
PaddleSeg 版本:https://github.com/PaddlePaddle/PaddleSeg.git (20211226)
训练的图片尺寸为100X100左右大小，不是一样的。

2.训练配置unet.yml
batch_size: 8
iters: 10000
train_dataset:
  type: Dataset
  dataset_root: /home/aistudio/work
  train_path: /home/aistudio/work/train.txt
  num_classes: 2
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0

[2021-12-27 03:42] WuShaogui commented on #1661
You may obtain more information from the article and code in Reference 50

[2021-12-27 07:34] juncaipeng commented on #1664
你可以贴一下你两次预测的结果图片，手机上预测完全错误吗？

[2021-12-27 08:01] juncaipeng commented on #1649
可以的，paddleclass中的swintransformer可以作为backbone。但是还需要在paddleseg中修改代码，添加模型。

[2021-12-27 08:06] LutaoChu commented on #1659
是的，理论上第一张图片很慢后面很快。
两个一模一样的服务，理论上不应该一个快一个慢，请排查一下是不是有其他不一致的因素，不然就是预测引擎不稳定，可以去paddle repo里提issue看看

[2021-12-27 08:30] zhangs-cedar commented on #1660
EIseg的模型除了官方提供的模型，可以提供训练模板嘛

[2021-12-27 08:42] DoubleJR commented on #1660
显卡是gtx1060，图片都很小，但有可能是软件再把它拉大？
像素很低，分辨率也很低，图片宽度和高度只有大概100px和几10px

[2021-12-27 09:52] michaelowenliu commented on #1661
@Mergim01 Hi, thanks for your interest in our work. Did you try our model for satellite data? https://github.com/PaddlePaddle/PaddleSeg/blob/develop/EISeg/docs/remote_sensing_en.md

[2021-12-27 10:43] dalidifang commented on #1664
是这样的手机上，个别图片预测也比较好。就是有一些存在差异

1. 导出过程

W1227 18:26:46.039201  9768 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.0, Runtime API Version: 10.1
W1227 18:26:46.043644  9768 device_context.cc:465] device: 0, cuDNN Version: 7.6.
2021-12-27 18:26:51 [INFO]      Loaded trained params of model successfully.
/opt/conda/envs/python35-paddle120-env/lib/pyt

[2021-12-27 11:35] juncaipeng commented on #1664
如果是部分图片在台式机和手机上是预测相同、部分图片手机上预测不太好，这个应该不是使用错误，估计是预测框架的错误，比较难排查，需要你提供可以复现差异的模型、图片、代码，让我们来排查。

[2021-12-27 11:51] juncaipeng commented on #1637
This is not normal. What is the version of PaddlePaddle and PaddleSeg. Please update them to the latest version.

[2021-12-28 02:16] wuyefeilin commented on #1634
数据预处理后输入模型前查看一下数据类型哈

[2021-12-28 02:24] wuyefeilin commented on #1522
可以通过参数--iters设置训练的步数, 或者修改config目录下相关的参数

[2021-12-28 02:27] wuyefeilin commented on #1453
打开--do_eval， 不然训练的时候没有评估也就没有SAD和MSE曲线了

[2021-12-28 02:56] #1649 closed, assigned to juncaipeng

[2021-12-28 05:34] 534114658 commented on #1653
有没有发现什么问题？-1

[2021-12-28 06:40] Hold-on-li opened #1667 "关于图像分割"
请问一下，图像分割能按照具体物体的轮廓进行分割吗？例如：提取人的轮廓，而不是一个提取人的检测框

[2021-12-28 07:25] wuyefeilin commented on #1667
可以的哈，只需提供相应的ground truth就行，即轮廓标签为1， 其他为0

[2021-12-28 09:03] wayneck opened #1668 "BUG....PaddleSeg/contrib/CityscapesSOTA/predict.py 执行报错，paddle引起的bug"
paddleseg 版本commit 5e6cab5e231d1f0f62831fde435a54fa4b9976f5 (HEAD -> release/2.3,
执行下列操作
python3 contrib/CityscapesSOTA/predict.py
--config contrib/CityscapesSOTA/configs/mscale_ocr_cityscapes_autolabel_mapillary.yml
--model_path model/model.pdparams
--image_path data/input2.jpg
--save_dir output/result

2021-12-27 18:07:40 [INFO] Start to predict...
/usr/lib/python3/dist-packages/apport/report.py

[2021-12-28 10:03] cloudlockheart commented on #1634
我对 test_seg.cc 进行了三处修改，使传入的图像不做normalize 处理，让Input 为CV_8UC1：
1. 将process image 函数中，将normalize 部分逻辑注释掉：
cv::Mat read_process_image(const YamlConfig& yaml_config) {
  cv::Mat img = cv::imread(FLAGS_img_path, cv::IMREAD_COLOR);
  cv::cvtColor(img, img, cv::COLOR_BGR2RGB);
  if (yaml_config.is_resize) {
    cv::resize(img, img, cv::Size(yaml_config.resize_width, yaml_config.resize_height));
  }
  /*

[2021-12-28 11:48] cloudlockheart commented on #1634
发现是test_seg.cc中 copy_cpu部分的代码问题：
std::vector<float> out_data(out_num);
output_t->CopyToCpu(out_data.data());
这里原始用的是int64_t，但实际predict output实际应该是float

另外这个代码还有个bug:
cv::Mat out_gray_img(output_shape[2], output_shape[3], CV_8UC1, out_data_u8.data());
转成灰度图时，这里的shape应该取output_shape[2], output_shape[3]，而不是[1][2]

[2021-12-29 02:43] wuyefeilin commented on #1634
你c++部署是用的哪里的代码， 还是自己参考python部署写的

[2021-12-29 04:28] Niki173 commented on #1569
你好，请问如何把图片里面的标签数值输出，就是图片上的[0,15,190],如何通过代码实现

[2021-12-29 04:34] huilin16 opened #1670 "python部署后使用tensorrt报错"
环境：aistudio， paddle2.1.2
运行命令：
!python /home/aistudio/PaddleSeg/deploy/python/infer.py \
    --config /home/aistudio/output/deploy.yaml \
    --image_path /home/aistudio/infer/images \
    --save_dir /home/aistudio/infer/preds \
    --batch_size 8\
    --use_trt True
错误日志：
['/home/aistudio/infer/images/zh12.tif', '/home/aistudio/infer/images/zh2-Copy1.tif', '/home/aistudio/infer/images/zh10.tif',

[2021-12-29 06:17] juncaipeng commented on #1670
hi，你安装的paddlepaddle版本不支持tensorrt，需要参考文档重新安装：https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python

[2021-12-29 06:23] hackkhai commented on #1637
Tried it in the latest version, Just noticed that when i tried to do inference for multiple images, first image takes about 2 seconds and the following images takes 0.3 seconds, but all images are are of same size, and made a mistake where the model prediction takes longer time than it should.

[2021-12-29 07:36] LutaoChu commented on #1668
感谢详尽的反馈以及提供paddle上的解决办法！
这个问题也可以基于paddleseg进行修复，修复PR https://github.com/PaddlePaddle/PaddleSeg/pull/1595
我们也将在release 2.3分支同步修复

[2021-12-29 08:05] cloudlockheart commented on #1634
使用的是官方的代码：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/deploy/cpp/src/test_seg.cc

[2021-12-29 08:42] kkpssr opened #1672 "有没有实例分割相关模型?"

[2021-12-29 11:39] #1668 closed, assigned to LutaoChu

[2021-12-30 02:35] 534114658 opened #1674 "2.3版本比2.1版本训练的模型c++推理时间翻倍"
测试模型 sfnet_ResNet18_vd
数据集的分辨率是crop_size: [452, 416]
同一台电脑 win10 cuda10.2 paddlepaddle-gpu==2.2.1
![image](https://user-images.githubusercontent.com/88479008/147717093-ef69182e-a0bc-4b24-83f6-496fed27b122.png)
2.3和2.1的测试只更换paddleseg文件夹和train.py，其他训练数据都一样

上一个issues  一个星期没人回复了

[2021-12-30 07:31] haoyuying commented on #1674
测试不会用到train.py，2.3和2.1是paddleseg的版本吗？请在aistudio上给一个具体的复现环境，目前根据您提供的信息很难复现该问题。

[2021-12-30 07:33] haoyuying commented on #1672
没有实力分割，有全景分割的模型，可参考这里：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/contrib/PanopticDeepLab

[2021-12-30 07:36] juncaipeng commented on #1674
hi，你是使用相同的c++预测库测试吗？只是导出的预测模型不同？
你可以把模型上传到这个issue中，我们看看。你也可以使用netron软件打开两个导出的预测模型，看下模型结构是否有差异。

[2021-12-30 07:36] DnYoZn opened #1675 "关于hardnet"
model zoo中 hardnet的readme文件给出的论文链接不正确，应该是《Deep High-Resolution Representation Learning for Visual Recognition》
[https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/configs/hardnet/README.md](url)

[2021-12-30 08:30] yuwoyizhan opened #1676 "跪求seg项目合集"
https://aistudio.baidu.com/aistudio/projectdetail/450925?channelType=0&channel=0
paddlex等很多套件已经出了一个项目合集,并且有静态图和动态图版本,项目合集中蕴含了paddlex的4个主要方向,图像分类,目标检测,语义分割,实例分割,每个方向都至少有一个项目,项目里面包含项目代码,一些参数和代码的解释,注释等.
希望seg也可以出一个项目合集,蕴含seg目前所包含的所有比较不同的方向,比如语义分割、交互式分割、全景分割、Matting四大图像分割能力等方向做一个项目合集,最好有量化,蒸馏,裁剪,预测,可视化,部署等相关代码,最好是包含静态图和动态图版本,如果你们没精力的话,做个动态图版本也行,这样我们这些学习者就不用到处找项目和代码来学习了.动态图版本肯定要支持飞桨2.2.1和seg最新release版本

[2021-12-31 03:00] FryeGao opened #1678 "如何训练自己的模型"
您好：官方提供的4个模型结构（hrnet18_ocr64_cocolvis，hrnet18s_ocr48_cocolvis，hrnet18_ocr64_human，hrnet18s_ocr48_human）并不太适合当前我想要分割场景的图片，我想使用自己的数据集重新训练一个模型结构，请问支持这种操作吗？如果支持的话，应该在哪部分代码中做修改？

[2021-12-31 06:20] 534114658 commented on #1674
2.1和2.3的c++预测库都测试过    一样

[2021-12-31 07:22] 534114658 commented on #1674
内部包含图片及2.1和2.3训练的图片

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月30日(星期四) 下午3:31
***@***.***&gt;;
***@***.******@***.***&gt

[2021-12-31 07:36] 534114658 commented on #1674
2.3有2处位置多了pool2d     导致c++推理时间翻倍

![image](https://user-images.githubusercontent.com/88479008/147810048-bfdd0bcc-4e3a-4d5f-8df6-54d14b11834c.png)

在2.3里面的哪个文档可以更改   不添加这2个？

[2021-12-31 08:56] 534114658 commented on #1674
查看2.1的文档     2.1的sfnet_ResNet18_vd模型精度为78.31%

![image](https://user-images.githubusercontent.com/88479008/147813430-ed603b0d-f0ba-43c9-9bcf-e7a56f54cecd.png)

2.3的文档     2.3的sfnet_ResNet18_vd模型精度为78.72%

![image](https://user-images.githubusercontent.com/88479008/147813482-288007a2-e298-446f-b0d9-0068c75d8d51.png)

精度提升不是非常大  ，推理时间翻倍了

[2021-12-31 08:58] 534114658 commented on #1674
现在2.3的版本有哪个模型精度高 速度快的？

2.3版本的sfnet_ResNet18_vd    速度太慢了

能不能推荐个模型？

[2021-12-31 09:18] 534114658 commented on #1674
这张图也不准确

同样的数据集训练，看图的话  理论上处理时间SegFormer_B1是sfnet_ResNet18_vd的1/3

实际测试   图片分辨率：500*300
2.1版本的sfnet_ResNet18_vd处理时间：16ms
2.3版本的sfnet_ResNet18_vd处理时间：30ms
2.3版本的SegFormer_B1处理时间：46ms

![image](https://user-images.githubusercontent.com/88479008/147814564-5e63a623-cc38-4333-bdd5-37f8e7fcc33f.png)

按照文档说明   这个还是1024x512的效果

[2022-01-02 09:44] juncaipeng commented on #1675
《Deep High-Resolution Representation Learning for Visual Recognition》 是HRNet。

[2022-01-02 09:47] juncaipeng commented on #1678
EISeg目前没有公布训练代码，如果感兴趣需要细读EISeg的源码，使用PaddleSeg训练模型进行替换。

[2022-01-02 10:02] juncaipeng commented on #1676
好的，我们会考虑你的建议。目前请先阅读githu上的readme文档。

[2022-01-04 02:00] wuyefeilin commented on #1634
matting的跟语义分割有所不同，你可以结合这个和matting python部署先自己写一下。后续我们会提供相应的c++部署

[2022-01-04 02:31] juncaipeng commented on #1674
查看后发现：2.1版本的sfnet_resnet18_os8模型存在错误，其中resnet18的output stride是32；使用下图中2.1版本的代码和模型，测试miou只有63.91%。
![image](https://user-images.githubusercontent.com/52520497/148001551-a7ccf626-e313-43f5-8a18-c94a6fd5c072.png)

2.3版本修复改该错误，其中resnet18的output stride是8，后半部分feature map的shape更大，导致算量增大；使用2.3版本的代码和模型，测试miou可以达到78.72%，只是速度会减慢。

sfnet速度不会特别快，建议使用stdcseg v1和bisenetv2。

[2022-01-04 02:34] juncaipeng commented on #1637
For the first image, the predictor has a warmup stage, which is normal.

[2022-01-04 02:34] #1670 closed, assigned to juncaipeng

[2022-01-04 02:50] 534114658 commented on #1674
感谢！！！

[2022-01-04 02:50] #1674 closed, assigned to juncaipeng

[2022-01-04 07:21] Dandelion111 opened #1680 "训练fastscnn报错"
![QQ图片20220104152224](https://user-images.githubusercontent.com/48303408/148023486-cb78a3d7-4688-4873-b592-083be7923786.png)

请问这是什么原因

[2022-01-04 07:50] wuyefeilin commented on #1680
麻烦给一下 PaddleSeg的版本及运行命令

[2022-01-04 08:10] Dandelion111 commented on #1680
PaddleSeg版本：release2.3
运行命令：
python train.py \
       --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml \
       --do_eval \
       --use_vdl \
       --save_interval 500 \
       --save_dir output

[2022-01-04 08:11] Dandelion111 commented on #1680
PaddleSeg版本：release2.3
运行命令：
python train.py
--config configs/quick_start/bisenet_optic_disc_512x512_1k.yml
--do_eval
--use_vdl
--save_interval 500
--save_dir output
其中--config改成了对应的配置文件

[2022-01-04 08:12] Dandelion111 commented on #1680
PaddleSeg版本：release2.3
运行命令：
python train.py
--config configs/quick_start/bisenet_optic_disc_512x512_1k.yml
--do_eval
--use_vdl
--save_interval 500
--save_dir output
其中--config改成了对应的配置文件

[2022-01-04 08:46] huilin16 opened #1682 "请问SwinTransformer的预训练权重及分割模型怎么找"
请问SwinTransformer的预训练权重及分割模型怎么找，暂时没找到预训练权重，或者Swin相关的分割模型

[2022-01-04 09:11] wuyefeilin commented on #1680
你好，我们这边运行是正常的，请问你有改过代码吗

[2022-01-04 09:14] Dandelion111 commented on #1680
大佬你好，我没有改任何代码，在配置文件中我把num_classes改成了2，然后用的PaddleSeg中的工具转换的自己的数据集，请问这个num_classes的值包括背景吗

[2022-01-04 09:17] wuyefeilin commented on #1682
这边有相应的分类预训练模型
https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/algorithm_introduction/ImageNet_models.md#16-swintransformer-%E7%B3%BB%E5%88%97

[2022-01-04 09:49] wuyefeilin commented on #1680
自定义数据可以参考这边进行整理及配置
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/data/custom/data_prepare_cn.md#3%E6%95%B0%E6%8D%AE%E9%9B%86%E6%96%87%E4%BB%B6%E6%95%B4%E7%90%86

[2022-01-04 10:52] #1680 closed, assigned to wuyefeilin

[2022-01-04 12:21] juncaipeng commented on #1286
![paddle_pipline](https://user-images.githubusercontent.com/52520497/148058291-59730e03-9c47-47b1-be06-87017bc131cf.png)

[2022-01-04 12:26] juncaipeng commented on #1286
![paddle_pipline_2](https://user-images.githubusercontent.com/52520497/148058850-6d732217-d8fb-49be-b631-9490e706b7da.png)

[2022-01-05 06:50] Huihuihh opened #1687 "如何在原始图片上显示推理结果"
我利用0.8.0版本的代码进行训练推理，如何在原始图片上显示推理结果，查看推理效果

[2022-01-06 03:56] haoyuying commented on #1687
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/paddleseg/core/predict.py#L131 看着代码吧，推荐用paddleseg2.3版本

[2022-01-06 05:32] cuesong opened #1692 "训练素材中加上了一部分只有背景图片的素材，训练报错"
训练素材中加上了一部分只有背景图片的素材，就跑不通了，去除可以。这种增加负样本训练的方式不可行吗？

[2022-01-06 05:41] cuesong commented on #1692
@ZeyuChen 分割中是怎么加负样本的呀，我这种方式是否可行

[2022-01-06 06:56] #1503 closed, assigned to LutaoChu

[2022-01-06 10:06] haoyuying commented on #1692
这种不可以，网络不支持这种格式的输入图片，没法产生输出结果

[2022-01-06 10:22] haoyuying commented on #1692
请提供具体的报错信息及使用图片，方便我们排查问题

[2022-01-07 01:28] cuesong commented on #1692
背景图和原图如下：
![20210814171058_27_pic](https://user-images.githubusercontent.com/31815086/148475602-c581359c-2dd0-4215-b8ef-b8731d7cd7b6.png)
![20210814170558_28_pic](https://user-images.githubusercontent.com/31815086/148475993-73dcf955-3115-43db-b956-4e3a2b74923d.jpg)

报错信息如下（验证的路径都是对的）：
![分割模型报错信息](https://user-images.githubusercontent.com/31815086/148476101-ba1e8b54-cfc7-46dc-a3cd-1dd8e5f02a71.JPG)

[2022-01-07 01:51] Huihuihh opened #1694 "多卡训练出错"
利用多卡训练报错
[code]

[2022-01-07 01:58] haoyuying commented on #1692
看这个错误是由于数据集当中存在shape不一致导致当paddle组装batch的时候np.stack报错导致的，建议排查方向为：打印图像路径及组batch之前图片的shape，看看到底是哪张图片导致该问题。还有个地方与此报错无关，但是在val_dataset设置时候不用进行resize。

[2022-01-07 03:46] Huihuihh commented on #1694
resume恢复训练，不支持多卡训练？

[2022-01-07 03:47] Huihuihh commented on #1694
没有--resume_model参数，能够成功使用多卡训练

[2022-01-07 04:22] #1692 closed, assigned to haoyuying

[2022-01-07 07:55] weiluonika opened #1695 "有用灵敏度和特异度评估Paddleseg训练的模型的吗 有没有相关文档"
做了一个分割模型，想使用IOU，灵敏度以及特异性，进行评估模型的好坏，放到文章中去，查了一些文档，还想没有相关实例，请问有合适的文档推荐吗？

[2022-01-07 09:12] wuyefeilin commented on #1694
确保训练的模型和resume的model时一致的

[2022-01-07 09:14] LutaoChu commented on #1694
检查一下 resume_model指定的目录下是否有.pdopt文件

[2022-01-07 09:16] wuyefeilin commented on #1694
output/iter_34500/模型的训练命令时什么，是单卡训练的吗？

[2022-01-07 09:16] Huihuihh commented on #1694
有.opt文件
[code]

[2022-01-07 09:17] Huihuihh commented on #1694
对，训练的时候是单卡训练的。
[code]

[2022-01-07 09:32] LutaoChu commented on #1695
你好，目前PaddleSeg还没有灵敏度和特异性的计算，你可以根据它们的[定义](https://zh.wikipedia.org/wiki/%E9%9D%88%E6%95%8F%E5%BA%A6%E5%92%8C%E7%89%B9%E7%95%B0%E5%BA%A6)改写metics.py试试 https://github.com/PaddlePaddle/PaddleSeg/blob/develop/paddleseg/utils/metrics.py
参考文档 https://blog.csdn.net/weixin_41783077/article/details/103886139

[2022-01-07 09:40] LutaoChu commented on #1694
单卡训练使用的是batch_norm op，多卡训练需要用sync_batch_norm，所以报错了。原先是怎样训练，resume需要相同的训练方式

[2022-01-07 09:43] Huihuihh commented on #1694
所以是多卡训练的模型，恢复训练得用多卡恢复训练；单卡训练的模型，得用单卡的恢复训练？

[2022-01-07 10:07] LutaoChu commented on #1694
you are right

[2022-01-07 13:02] rgsousa88 opened #1696 "Access to Large-Scale Teleconferencing Video Dataset"
Hi,
First of all, thank you very much for your hard and great work. I have seen your YouTube video presentation about Large-Scale Teleconferencing Video Dataset. So, I would like to know if this dataset is available to use for commercial purpose. Thank you!

Best regards.

[2022-01-08 02:46] huilin16 commented on #1682
收到，多谢

[2022-01-08 02:46] #1682 closed, assigned to wuyefeilin

[2022-01-10 01:59] Huihuihh opened #1697 "PaddleSeg能否知道缺陷坐标"
PaddleSeg能否知道缺陷坐标

[2022-01-10 02:20] juncaipeng commented on #1697
如果使用分割做缺陷检测，得到的分割结果，需要再使用传统图像算法定位一下坐标，opencv中很多api可以使用。

[2022-01-10 02:22] Huihuihh commented on #1697
能给个例子吗

[2022-01-10 04:33] anmail333 opened #1698 "为什么 @paddlejs-models/humanseg 的代码里面会包含 elliptic 的代码？"
@paddlejs-models/humanseg：
<img width="1261" alt="Screen Shot 2022-01-10 at 10 53 03 AM" src="https://user-images.githubusercontent.com/97420291/148713195-affb01c9-345f-42cc-9cbb-40b17c943372.png">

https://www.npmjs.com/package/elliptic
![image](https://user-images.githubusercontent.com/97420291/148718711-64d5348d-ab31-4852-9d33-2b185c8284a6.png)

[2022-01-10 06:19] juncaipeng commented on #1698
这个问题和js部署关系比较密切，seg同学不太清楚，请在paddlejs repo中提问，应该会有js同学来解答，谢谢。

[2022-01-10 09:33] jiehuang165 opened #1700 "eiseg 内存/显存泄露bug"
测试过版本0.3.0和0.4.1.2，window平台和mac平台。随着标注图片增多，使用cpu的话内存会飙升，使用gpu的话显存会升高。
标了5张左右超了闪退。

[2022-01-10 12:33] haoyuying commented on #1700
请提供具体的图片及报错信息，方便我们复现问题。

[2022-01-10 20:45] Mrwow opened #1701 "已经 conda install gdal，但是PaddleSeg 提示需要安装gdal，pdiparams 加载不了"
我在anaconda里新建了一个python 3.9.7的环境，然后在这个环境中安装了
pip install paddlepaddle==2.2.1
pip install eiseg
conda install gdal

但是，当在PaddleSeg 中打开tif卫星文件时，还是提示没有安装gdal。请问大神如何解决这个问题？

[2022-01-11 02:34] wuyefeilin commented on #1701
尝试一下 pip install哈

[2022-01-11 04:21] Mrwow commented on #1701
我再用pip install gdal时， 提示 Requirement already satisfied. 现在是mac的系统，macos Big Sur 11.6

[2022-01-11 06:46] zhijiejia opened #1703 "完整的语义分割网络的预训练模型"
请问，像OCRNet这种模型有完整的预训练模型吗，我只找到backbone的预训练模型，Segementation这部分网络并没有找到有预训练模型的，请问这部分预训练模型可以在哪获取的到吗？

[2022-01-11 06:49] zhijiejia commented on #1703
...,我找到了，是相应的预训练模型都会放在对应网络的config的readme里的吧

[2022-01-11 07:49] shineway14 opened #1705 "推理显存不足：Operator elementwise_add raises an paddle"
多卡3090gpu，paddle版本2.2.1.post110。训练的unetp，数据格式参考quikstart，Dataset类型，训练batch16。训练完推理就出现
Operator elementwise_add raises an paddle .....
out of menmory error on gpu 0。cannot allocate 2.37G memory on GPU 0 ,21.96Gmemory has been allocated and available memory is only 1.73G。

用export CUDA_VISIBLE_DEVISES=1,还是用的gpu0，直接pale.set_device("gpu:1")，显示超出范围[0,1)
设置cpu卡死。请问什么原因

[2022-01-11 08:13] #1705 closed, assigned to nobody

[2022-01-11 09:26] LutaoChu commented on #1696
Thanks for your interest in our work. Our dataset is available to use for commercial purpose. If you want to get the dataset, you can email us paddleseg@baidu.com

[2022-01-11 11:26] jiehuang165 commented on #1700
更正一下，重新测试了0.4.1.2在win10下不会有内存/显存飙升问题。

[2022-01-11 11:26] #1700 closed, assigned to haoyuying

[2022-01-11 21:54] Mrwow commented on #1701
我尝试了不在anaconda里的环境安装了低版本的gdal，然后可以加载tif文件了：
pip install paddlepaddle==2.2.1
pip install eiseg
pip install gdal==2.4.2.

python 3.7.3.   macos Big Sur 11.6

但是新的问题出现了，只识别pdparams文件，不识别pdiparams,但是加载pdparams文件就会报错：
<img width="417" alt="image" src="https://user-images.githubusercontent.com/14700737/149032248-ee033ede-0413-4b78-bba6-abe1c122c745.png">

我把pdiparams 改成pdparams，也报错：
<img width="373" alt

[2022-01-12 02:01] wuyefeilin commented on #1703
是的

[2022-01-12 02:12] haoyuying commented on #1701
不会的，0.4版本以上的eiseg才有遥感插件功能，请查看develop版本上eiseg的模型下载，如果不行就重新卸载安装eiseg及paddle2.2版本，此版本需要加载静态图模型pdiparams,详情请查看文档https://github.com/PaddlePaddle/PaddleSeg/tree/develop/EISeg

[2022-01-12 02:15] haoyuying commented on #1660
@DoubleJR 那应该不会出现这个问题，可以查看如果用了0.4版本的eiseg是否配套了2.2版本的paddle

[2022-01-12 02:15] haoyuying commented on #1660
目前还没有开源训练代码

[2022-01-12 02:17] haoyuying commented on #1653
在测试时候也不会用到train.py,请问为什么要更换呢，目前提供的信息不能找到问题，看看能不能在aistudio上提供一个可以复现的环境，方便我们排查问题？

[2022-01-12 02:26] haoyuying commented on #1388
目前eiseg不支持自己训练模型，之后会陆续开放训练功能，敬请期待。

[2022-01-12 06:11] chliang opened #1709 "到处静态模型，输入固定了，其他的层没有固定"
利用 `export.py` 到处 静态模型，利用`--input_shape` 固定了输入，但是利用visualdl 查看其它层 的shape 没有固定。

[2022-01-12 10:39] zhijiejia opened #1713 "Paddle 多卡训练"
Paddle多卡训练出现这个错误？？？

![image](https://user-images.githubusercontent.com/43838913/149124704-1d1209cc-ad52-4aa2-8391-43a27b642f12.png)

[2022-01-12 12:17] shiyutang commented on #1713
please go to worklog.0 to see the exact error information.

[2022-01-12 12:18] shiyutang commented on #1709
please show the result, the config file, and the script you use.

[2022-01-12 14:34] zhijiejia commented on #1713
[code]

[2022-01-12 15:46] xmba15 opened #1714 "contribution of a PaddleSeg onnxruntime C++ sample"
Hi PaddleSeg's dev team. Thank you for the great repo.
I created a C++ onnxruntime app sample for model trained by PaddleSeg. It took me some time to figure out how to use onnxruntime cpp to serve the model. So maybe some others can somehow know how to use PaddleSeg onnx cpp from this app:

https://github.com/xmba15/onnx_runtime_cpp#semantic-segmentation-paddle-seg
https://github.com/xmba15/onnx_r

[2022-01-13 01:18] chliang commented on #1709
已经有办法解决。 先关闭了

[2022-01-13 01:18] #1709 closed, assigned to shiyutang

[2022-01-13 07:51] T0L0ve opened #1715 "关于部署bisenet模型进行infer的问题"
模型导出后使用deploy/python/infer.py 预测了100张图片，total time spent(s): 2.8983，但看bisenet的论文说能有156FPS，是我模型部署出的问题，还是我理解错了156FPS的含义。
另外，我在运行deploy/python/infer.py 时发现了问题，当输入多张图像时，只输出了一张预测图像
    # def _save_imgs(self, results, img):
    #     for i in range(results.shape[0]):
    #         result = get_pseudo_color_map(results[i])
    #         basename = os.path.basename(imgs[i])
    #         basename, _ = os.

[2022-01-13 07:58] #548 closed, assigned to wuyefeilin

[2022-01-13 10:04] xinliyangguang opened #1716 "开始训练读取数据时报错SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception."
使用paddle-2.0训练PaddleSeg-release-v2.0时运行脚本报错如下：
![image](https://user-images.githubusercontent.com/53338761/149308521-5238a6d9-fc76-4129-9074-b4fa374dd575.png)
开始训练的脚本命令：
python3 ./train.py --config ./zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-v2.0/configs/deeplabv3/deeplabv3_resnet50_os8_cityscapes_1024x512_80k.yml --save_dir ./zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-v

[2022-01-13 10:07] wayneck commented on #1459
更新了版本还是一样的错！能给个靠谱的方案吗？
......
2022-01-13 18:00:33 [INFO]      Quantize the model successfully
/usr/lib/python3/dist-packages/apport/report.py:13: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import fnmatch, glob, traceback, errno, sys, atexit, locale, imp, stat
Traceback (most recent call last):
  File "slim/quant/qa

[2022-01-14 01:51] haoyuying commented on #1716
这个目前报错位置在dataloder，报错原因是transformers.py 第57行读不到图片导致cv2.imread(im)为none导致的，看下dataloader是不是读入了什么不存在的图片路径。

[2022-01-14 02:03] haoyuying commented on #1715
预测时候要打开--benchmark选项，需要额外安装auto_log,具体安装方式为：https://github.com/LDOUBLEV/AutoLog
paddle infer文档可参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/deployment/inference/python_inference.md

[2022-01-14 02:09] T0L0ve commented on #1715
--benchmark选项是设置为True的，auto_log也是安装了的

[2022-01-14 02:53] lililikaixu opened #1717 "无法标注，单击只能添加样本点，不自动标注，还出现乱的标注条，提示无法生成标注边界"
![图片](https://user-images.githubusercontent.com/91947281/149443225-4ee066a9-e406-4fa6-86fe-df107fd43f64.png)

[2022-01-14 02:55] lxlhh opened #1718 "训练过程中IoU评估结果很高，用val评估的时候结果非常低"
paddle 2.1.1
paddeseg 2.3.0

训练过程中，验证集的评估很正常，平均IoU 在0.8左右，但是相同iter的模型，用val.py直接测试验证集，结果很差，IoU只有0.3，用predict.py可视化分割结果，也很差

[2022-01-14 04:25] xinliyangguang commented on #1716
dataset_root和train_path字段配置如下
![image](https://user-images.githubusercontent.com/53338761/149469489-3caaf7cc-9b1e-4dc5-a9bd-61564b04cd10.png)

数据路径如下：
![image](https://user-images.githubusercontent.com/53338761/149469368-a0effa69-9031-4e6c-b130-26b8d79a5043.png)

我的自定义数据集结构如下：
segdata20211214crop
----images
--------1.jpg
--------2.jpg
--------3.jpg
--------4.jpg
----labels
--------1.png
--------2.

[2022-01-14 06:18] LutaoChu commented on #1715
total time spent是总体耗时，包括模型推理、前后处理、程序初始化的时间。应该看inference time
另外实现方式和运行软硬件可能和论文有出入，速度就会有diff

[2022-01-14 06:26] LutaoChu commented on #1715
results.shape[0]表示batch size，如果为1的话for循环就只有一次，讲道理不会图像重复覆盖才对

[2022-01-14 06:29] LutaoChu commented on #1718
是不是图像预处理没有对齐呀

[2022-01-14 06:39] haoyuying commented on #1717
使用的什么版本的eiseg及paddle呢，是否把右边的阈值设置在了0.5呢

[2022-01-14 06:49] shiyutang commented on #1569
Sorry, I don't know what do you mean

[2022-01-14 06:52] T0L0ve commented on #1715
for循环只有一次这个没有问题，问题在basename是根据imgs[i]来确定的，只循环一次就表明basename一直是imgs[0]这个值。
在run函数中每循环一次就调用了 _save_imgs(self, results, imgs)，imgs是图片名称列表，basename的值就成了第一张图片的名称，在保存时文件名相同所以覆盖了。
只要让图像save时basename不同就正常了。
![捕获](https://user-images.githubusercontent.com/38580985/149463689-3745422d-b5f9-4059-9bc1-c9ec2c354b17.PNG)

[2022-01-14 06:54] T0L0ve commented on #1715
ok，我明白了，谢谢。

[2022-01-14 09:05] lxlhh commented on #1718
val.py和predict.py也是用val_dataset的transforms进行数据处理，跟训练过程中的eval应该是一样的才对呀
###
train_dataset:
  type: Dataset
  transforms:
    - type: Resize
      target_size: [256, 256]
    - type: RandomHorizontalFlip
    - type: RandomDistort
      brightness_range: 0.4
      contrast_range: 0.4
      saturation_range: 0.4
    - type: Normalize
  mode: train
###
val_dataset:
  type: Dataset
  transforms:
    - ty

[2022-01-16 03:20] torchmyheart commented on #1534
[https://blog.csdn.net/baidu_40840693/article/details/103732070](https://blog.csdn.net/baidu_40840693/article/details/103732070)
这个博主写的可以将多个coco合并成一个，亲测有效

[2022-01-16 05:12] LarryHYQ opened #1720 "使用PaddleSeg推理（infer.py）出现的问题"
2022-01-16 13:13:51 [INFO]	Use GPU
2022-01-16 13:13:51 [INFO]	Use TRT
2022-01-16 13:13:51 [INFO]	Use manual set dynamic shape
Traceback (most recent call last):
  File "deploy/python/infer.py", line 393, in <module>
    main(args)
  File "deploy/python/infer.py", line 380, in main
    predictor = Predictor(args)
  File "deploy/python/infer.py", line 137, in __init__
    self.predictor = create_pre

[2022-01-16 07:34] Mrwow commented on #1701
我看了你们的代码，发现还要安装rasterio才行。我已经修改了相关的文档说明，然后pull 了一个request给你们了

[2022-01-17 02:31] juncaipeng commented on #1720
请参考文档安装支持trt的whl包：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/deployment/inference/python_inference.md

然后下载trt包，进行配置。

[2022-01-17 02:39] juncaipeng commented on #1714
Firstly, thanks for your contribution.
You can create a folder named 'onnxruntime_cpp' under `PaddleSeg/deploy/` and push the demo to the folder. Please refer to the [cpp demo](https://github.com/PaddlePaddle/PaddleSeg/tree/develop/deploy/cpp)  and make the demo concise.
Once you create a PR, we will review and merge it.
Thank you again.

[2022-01-17 03:41] LutaoChu commented on #1718
是的，训练过程评估调用的是core.evaluate()，val.py调用的也是core.evaluate，理论上应该是要一样才对
建议打印一下两者调用core.evaluate()时的参数，看看是不是一样吧

[2022-01-17 03:49] LutaoChu commented on #1715
好像是的，你用的什么数据集呢？我复现一下

[2022-01-17 03:59] T0L0ve commented on #1715
数据集就是样例的视盘数据集optic_disc_seg

[2022-01-17 15:58] #1616 closed, assigned to juncaipeng

[2022-01-17 15:58] #1487 closed, assigned to wuyefeilin

[2022-01-17 16:17] khaep opened #1722 "How do you distinguish between epochs and iterations? / How to log Val Loss with VisualDL?"
Hey there,

after training some Semantic Segmentation networks, I am not sure how to distinguish between epochs and iterations.
For example, the number of iterations are specified in most of the [config.yml](https://github-com.translate.goog/PaddlePaddle/PaddleSeg/blob/8a9196177c9e4b0187f90cbc6a6bc38a652eba73/configs/bisenet/bisenet_cityscapes_1024x1024_160k.yml?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=

[2022-01-18 02:09] farukonfly opened #1723 "Out of memory error on GPU 0. Cannot allocate 400.000244MB memory on GPU 0, 7.288696GB memory has been allocated and available memory is only 155.187500MB."
按照文档跑icdar2015检测模型的训练
python3 tools/train.py -c configs/det/det_mv3_db.yml -o Global.pretrained_model=./pretrain_models/MobileNetV3_large_x0_5_pretrained

报错：
Out of memory error on GPU 0. Cannot allocate 400.000244MB memory on GPU 0, 7.288696GB memory has been allocated and available memory is only 155.187500MB.

nvidia-smi
![image](https://user-images.githubusercontent.com/18646553/149858468-894

[2022-01-18 02:19] wuyefeilin commented on #1723
显存不够，可以调小batch_size试试

[2022-01-18 02:23] farukonfly commented on #1723
你看下我截图，显存7460MB，应该是够的呀，另外还问下，batch_size是在哪些调

[2022-01-18 03:32] ziyuwzf commented on #1562
怎么解决的，我也遇到了。数据集已经按照要求处理成单通道的图像了。

[2022-01-18 04:43] juncaipeng commented on #1722
For the first question, `iters = gpu_num * batch_size * epoch`.

For the second question, PaddleSeg does not calculate the loss of evaluation. You should set `do_eval` as follows for `train.py`, PaddleSeg will run evaluating in training stage, write the val accuracy to VisualDL, save the model with the highest accuracy for validation dataset.

![image](https://user-images.githubusercontent.com/525

[2022-01-18 13:14] zhijiejia opened #1728 "val 过程的batch_size为什么是1？"
不理解，为啥val 过程的batch_size为什么是1？，为啥不设置一个更大的值，或者设置成一个参数呢？

[2022-01-18 13:16] xmba15 commented on #1714
@juncaipeng let me give it a try.

[2022-01-19 07:36] qll1003 opened #1729 "推理seg示例代码，使用trt加速，将use_trt置为true时报错"
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
Not support stack backtrace yet.

----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The input [x] shape of trt subgraph is [-1,3,-1,-1], please enable trt dynamic_shape mode by SetTRTDynamicShapeInfo. (at ..\paddle/fluid/inference/tensorrt/en

[2022-01-19 08:13] shiyutang commented on #1728
Because we need to evaluate the test set on its original size to avoid accuracy loss.  If we set bs bigger than 1, the video memory may not be enough.

[2022-01-20 01:43] Huihuihh opened #1733 "推理如何获取缺陷类别"
利用2.3版本的PaddleSeg进行模型预测，只能得到伪彩色标注图和叠加图，针对识别到的缺陷如何确定其类别

[2022-01-20 03:41] LISIJIA0629 opened #1734 "为何调不起来多个gpu"
你好，
首先我通过export CUDA_VISIABLE_DEVICES='0,1,2,3' 调用4个gpu
然后在运行代码，但是显示memory 不够。其实很足啊

SystemError: (Fatal) Operator conv2d raises an paddle::memory::allocation::BadAlloc exception.
The exception content is
:ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 413.281250MB memory on GPU 0, 23.532227GB memory has been allocated and available memory is only 123.312500MB.

Please chec

[2022-01-20 03:46] juncaipeng commented on #1729
你好，这个错误是使用trt时需要开启动态shape，请先参考PaddleInference文档修改运行代码：https://paddleinference.paddlepaddle.org.cn/optimize/paddle_trt.html

我们会尽快完善该demo。

[2022-01-20 06:02] haoyuying commented on #1733
在训练的时候，数据集有多少个类别的缺陷的标注呢。如果训练时候存在多类别，在伪彩色图里读入是有体现的。

[2022-01-20 06:05] haoyuying commented on #1734
Out of all 4 trainers, the trainer process with rank=[0, 1, 2, 3] was aborted. Please check its log.这一句说明已经用了四个gpu了。可以具体看下显存增长，是具体跑了什么数据集，或者降低batch_size 试一下。

[2022-01-20 06:23] Huihuihh commented on #1733
在伪彩色图里是可以看到不同缺陷显示，但是并不知道缺陷类别
![image](https://user-images.githubusercontent.com/50944935/150284743-371993e3-5992-4100-b917-227b3224a7ec.png)

[2022-01-20 11:59] Cristhine opened #1736 "[General Issue] 如何将coco数据集转化为符合paddleseg要求的数据格式"
如何将coco数据集转化为符合paddleseg要求的数据格式 有没有相关脚本，或者我看到那个cocostuff.yml的数据 如何下载呢 有没有相关教程

[2022-01-21 03:08] qll1003 commented on #1729
好的，首先感谢你们尽快修复。就是我还想问一下，其实我已经按照这个修改了运行代码。然后看了一下你发得文档。其中我看见动态shape得支持模型里面没有bisenet_demo_model这个模型，是因为我得模型选择错误了嘛？导致得错误嘛？

[2022-01-21 07:06] khaep commented on #1722
Thank you for the second question.

The answer of the first question is a little bit confusing.
I trained BiSeNetV2 with
* batch_size = 8
*  iters = 100000
* one single GPU

If I use your equation to calculate the number of epochs:
epoch = iters/(gpu_num * batch_size) = 100000/(1 * 8) = 12500

But the console output says 511 epochs.
[code]

That does not match with the equation.
Can you explain th

[2022-01-21 07:43] x12901 opened #1738 "[Bug]eiseg运行错误 name 'osr' is not defined"
1. PaddleSeg版本：PaddleSeg release/2.4
 2. PaddlePaddle版本：PaddlePaddle 2.2 cpu
 3. 操作系统信息：Windows
 4. Python版本号：Python3.8
 5. 运行指令或复现步骤：
 运行`pip install eiseg`之后出现
[code]

[2022-01-21 07:49] haoyuying commented on #1736
coco stuff准备方式：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/data_prepare_cn.md
目前paddleseg没有提供转换脚本，欢迎您转成功后将pr贡献给我们。

[2022-01-21 08:15] Cristhine commented on #1736
我自己做了一些转换成mask形式的label lable图的维度是 (h, w, 3) 执行tools/gray2pseudo_color.py 报错Too many dimensions: 3 > 2. 是什么问题

[2022-01-21 10:10] Cristhine opened #1739 "报错num classes缺少"
按照要求制作自己数据集，然后替换segformer_b2_cityscapes_1024x1024_160k.yml中数据为自己的数据集 别的都没换 启动训练报错
![image](https://user-images.githubusercontent.com/26667855/150508660-692d7feb-14dc-47d8-9338-c5774631076d.png)

我看yml中是有这个参数的 除了数据路径别的都没进行修改

[2022-01-21 12:19] Cristhine opened #1740 "多卡训练报错"
训练代码执行python -m paddle.distributed.launch $PPDET_PATH/train.py  \报错
![image](https://user-images.githubusercontent.com/26667855/150525954-abda0bdc-21f1-42bc-8929-06f8109ce70e.png)
不加分布式可以正常训练

[2022-01-21 13:51] #1739 closed, assigned to LutaoChu

[2022-01-21 13:53] michaelowenliu commented on #1740
@Cristhine
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.3）
 2. PaddlePaddle版本：（如PaddlePaddle 2.1.0）
 3. 操作系统信息：（如Linux/Windows/MacOS）
 4. Python版本号：（如Python3.6/7/8）
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
 7. 详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
 8. 运行指令或复现步骤：
 9. 其他内容: （增加其他与问题相关的内容）

[2022-01-22 14:43] zhijiejia opened #1742 "paddleseg/models/hrnet_contrast.py 中没有执行 init_weight"
paddleseg/models/hrnet_contrast.py 中__init__()没有执行 init_weight，导致hrnet_w48_contrast 没法加载完整的模型

[2022-01-22 14:47] dongshen6 commented on #1562
是什么问题呀，我也遇到了这个问题 应该是数据集的问题

[2022-01-22 14:48] dongshen6 commented on #1562
这个应该怎么改呢，数据集label我也处理成单通道的了

[2022-01-22 16:13] xmba15 commented on #1714
@juncaipeng
I created the PR here
https://github.com/PaddlePaddle/PaddleSeg/pull/1743

[2022-01-23 03:38] dongshen6 commented on #1562
兄弟们找到原因了，是因为paddleseg的数据集要求像素点的值均从0，1，2这样递增来区分像素点，所以要对数据集进行修改。

[2022-01-23 05:51] zhijiejia commented on #1742
https://bj.bcebos.com/paddleseg/dygraph/ccf/ocr_hrnetw48_rs_256x256_160k/model.pdparams

顺便问一下，我看到有人使用了这个链接对应的预训练模型，我从paddleseg的github主页怎么找到这个链接啊？ 找不到ccf那个啊？

[2022-01-23 06:34] zhijiejia commented on #1728
如果我把 batch_size 改为更大的数，这个精度损失会很大吗？ 验证集只有前向没有后向啊，为啥你说比1大，显存就没了？ 你们训练显存咋够的

[2022-01-23 08:04] zhijiejia commented on #1742
readme的日期写错了，2022年了
![image](https://user-images.githubusercontent.com/43838913/150669881-f19175c8-88a4-43d1-a380-dda7abe9c874.png)

[2022-01-24 02:13] juncaipeng commented on #1742
收到，我们会马上修复。

[2022-01-24 02:54] huilin16 opened #1744 "[General Issue]请问如何保证可以复现精度"
请问如何保证一次训练的精度可以完全复现，误差为0

我设置train.py中的seed=102，多次训练，精度仍然有误差

![image](https://user-images.githubusercontent.com/36887207/150716254-378db81c-76e8-477d-873e-07678b01dcbd.png)
![image](https://user-images.githubusercontent.com/36887207/150716303-3581c955-058c-461a-a287-ea32f531e288.png)
![image](https://user-images.githubusercontent.com/36887207/150716373-f9bf9384-f20b-4fe9-9a27-2ac0f5f3cf7f.png)

[2022-01-24 04:16] LISIJIA0629 commented on #750
我也出现了同样问题，请问解决了嘛？xiexie

[2022-01-24 05:51] luokunman commented on #1738
遇见了一样的问题  您有解决该问题吗

[2022-01-24 06:17] juncaipeng commented on #1744
训练本身就无法完全保证一致，目前只提供设置seed的方式尽可能保证相同。

[2022-01-24 06:21] haoyuying commented on #1738
您好，请问您是怎么安装的eiseg呢，，具体怎么执行，按道理pip install eiseg的话报错不会出现这种目录结构“D:\CODE\PaddleSeg-release-2.4\EISeg\eiseg\plugin\remotesensing\shape.py”，因为那样eiseg就是单独安装的，您的报错问题是环境没安装好遥感相关依赖导致的。安装下这个文件夹下的依赖https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/EISeg/requirements-rs.txt

[2022-01-24 06:22] luokunman commented on #1738
我就是pip install eiseg安装的eiseg

[2022-01-24 06:31] luokunman commented on #1738
我这边再检查一下~非常感谢您的回复

[2022-01-24 07:02] haoyuying commented on #1738
遥感环境要单独安装，文档参考这里https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/EISeg/docs/remote_sensing.md

[2022-01-24 07:57] 6UOOON9 opened #1745 "[General Issue]导出的Matting模型，无法利用PaddleX进行部署？"
1. PaddleSeg版本：PaddleSeg release/2.3
 2. PaddlePaddle版本：PaddlePaddle 2.1.0
 3. 操作系统信息：Windows
 4. Python版本号：Python3.8
导出了PP-HumanSeg的模型，是可以利用PaddleX的进行windows下的C++部署的，但是试了一下导出的Matting模型则显示以下信息：
Unexpected transforms op name: 'LoadImages'
Fail to generate standard configuration of tranforms

[2022-01-24 09:15] juncaipeng commented on #1722
Sorry, it should be `epoch = (iters * gpu_num * batch_size) / dataset_num `.

[2022-01-24 09:16] juncaipeng commented on #1697
这个请百度搜一下，谢谢。

[2022-01-24 09:16] #1697 closed, assigned to juncaipeng

[2022-01-24 09:18] juncaipeng commented on #1729
这是develop分支的使用demo：https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/deployment/inference/cpp_inference_cn.md

由于PaddleInference对bisenetv2支持有点问题，我们还在修复，所以换成stdcseg模型。该模型比bisenet精度更高、速度更快。

[2022-01-24 09:47] #1742 closed, assigned to juncaipeng

[2022-01-24 12:03] wuyefeilin commented on #1745
删除导出文件deploy.yml中的LoadImages算子试试

[2022-01-24 12:12] Cristhine commented on #1740
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（PaddleSeg release/2.4）
 2. PaddlePaddle版本：（如PaddlePaddle 2.1.0）
 3. 操作系统信息：（如Linux/Windows/MacOS）
 4. Python版本号：（如Python3.6/7/8）
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
 7. 详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
 8. 运行指令或复现步骤：
 9. 其他内容: （增加其他与问题相关的内容）

[2022-01-24 12:12] #1740 closed, assigned to LutaoChu

[2022-01-24 12:17] 6UOOON9 commented on #1745
删了就是这样：
Unexpected transforms op name: 'ResizeByShort'
Fail to generate standard configuration of tranforms
再删就直接连报错信息都没有了。。。

[2022-01-25 01:57] wuyefeilin commented on #1728
还有一点是因为单卡bs等于1可以避免在多卡评估时个别图象重复预测的情况

[2022-01-25 03:14] #1738 closed, assigned to haoyuying

[2022-01-25 07:26] khaep commented on #1722
Okay,
that means dataset_num is the number of training images.

So for the case mentioned above with 1570 training images:
epoch = (100000 * 1 * 8) / 1570 = 509.55 -> approximately 511

Is that correct?

[2022-01-25 07:47] wuyefeilin commented on #1722
Yes, it is correct. Because the last iter of one epoch may be ignored.

[2022-01-26 03:54] AICVHub commented on #1738
遥感相关requirements安装后,依然报这个错...

[2022-01-26 03:58] haoyuying commented on #1738
可以看下你gdal安装版本是否符合要求，是否单独import osr也会出错，这个报错是依赖没有安装好，再检查下环境问题吧

[2022-01-26 04:04] FlyingQianMM commented on #1745
@6UOOON9 请确认下Matting模型的model.yml涉及的预处理算子在PaddleX是否都有实现。如果有，需替换成PaddleX的预处理算子和相应的model.yml，PaddleX的预处理算子定义：https://github.com/PaddlePaddle/PaddleX/blob/develop/paddlex/cv/transforms/operators.py 。如果不清楚PaddleX的分割模型的model.yml格式，可以先跑下https://github.com/PaddlePaddle/PaddleX/tree/develop/tutorials/train/semantic_segmentation

[2022-01-26 06:37] shiyutang commented on #1728
if you set bs>1, it is likely that video memory will not be enough. If it is enough, you are free to set it bigger than 1.

[2022-01-26 06:37] #1575 closed, assigned to shiyutang

[2022-01-26 06:39] shiyutang commented on #1646
This issue has been solved here. https://github.com/PaddlePaddle/Paddle/pull/38850

[2022-01-26 06:39] #1646 closed, assigned to shiyutang

[2022-01-26 06:39] #1650 closed, assigned to shiyutang

[2022-01-26 06:48] lsfhgty opened #1750 "[Feature Request]BootstrappedCrossEntropyLoss实现和参考文献不一致？"
BootstrappedCrossEntropyLoss的实现和给出的参考文献中的方法好像不一样？这里的实现看上去更像是ohemloss

[2022-01-26 09:19] dreamer121121 opened #1751 "About the SemanticConnectivityLoss"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-01-26 12:28] wuxianshen opened #1752 "如何针对模型不同部分设置不同学习率或者学习率调整策略？"
能否通过在yml中配置，实现模型不同部分不同学习率？

能否通过在yml中配置，实现锁定模型部分参数不参与反向传播？

[2022-01-27 02:40] haoyuying commented on #1750
您好，可否提供更详细的问题描述供我们来对比问题，感谢您的贡献。

[2022-01-27 02:43] haoyuying commented on #1752
这个目前暂时没有支持，但是你可以通过自己改动下训练代码来实现。

[2022-01-27 02:54] michaelowenliu commented on #1750
@lsfhgty hi, the two methods share a few similar features. Are you using OHEM？

[2022-01-27 03:03] lsfhgty commented on #1750
不是，我只是刚好看到这个loss。发现参考文献中的实现方式好像是想减轻噪声label对于训练的影响，但是这边的loss的实现和文中推导的公式似乎对不上，我不清楚是否是我理解错了。
<img width="880" alt="d7c230f297d85189d93d58b265bef77f" src="https://user-images.githubusercontent.com/61674533/151284655-7d502a10-c085-4646-a0c5-92dc47c9afd4.png">

[2022-01-27 07:26] ZhouFangru opened #1753 "Out of memory error on GPU 0. Cannot allocate 182.531494MB memory on GPU 0, 22.313599GB memory has been allocated and available memory is only 69.937500MB."
1. PaddleSeg version: 2.4
 2. PaddlePaddle version: 2.1.3
 3. Operation system: Linux
 4. Python version: 3.8.10
 5. CUDA/cuDNN version: CUDA9.0/cuDNN 7.6.5

您好，我在训练人体分割任务时，显存一直增加(从训练开始实时监测gpu从3G一直增加到22G)，最后出现
![image](https://user-images.githubusercontent.com/24693920/151310523-0f762b6c-8c1d-4fea-aaa8-410bfbcb1dac.png)

该任务在PP-HumanSeg（https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.4/co

[2022-01-27 07:54] haoyuying commented on #1753
稳定时候的显存占用是多少呢，使用的图片的大小是多少，是192*192吗

[2022-01-27 07:59] ZhouFangru commented on #1753
从开始监测显存就一直在增加，好像没有稳定在一个数值。
图片的大小是192*192，batch_size是64
![image](https://user-images.githubusercontent.com/24693920/151315850-445e9166-fa4e-4a9f-bfbe-0ba12dd10e77.png)

[2022-01-28 02:04] haoyuying commented on #1753
先把batchsize调小一些看看有没有能稳定的数值，如果还是一直增长，可以反馈给我们。

[2022-01-28 02:08] ZhouFangru commented on #1753
之前试过batch_size=2,也是一直增长（只不过从很小的值开始增长）。
感觉应该和batch_size关系不大，毕竟就算batch_size=64,也是训练了4400次迭代才out of memory。感觉好像是训练过程中有什么占用显存没有释放。

[2022-01-28 02:11] haoyuying commented on #1753
可以尝试下把paddle升到最新版本

[2022-01-28 02:20] ZhouFangru commented on #1753
将paddle更新到2.2.2，问题已解决，感谢~

[2022-01-28 02:20] #1753 closed, assigned to LutaoChu

[2022-01-28 02:43] FlyingQianMM commented on #1745
@6UOOON9 可以参考下[PaddleX issue 使用paddledetection训练出来的非paddleX模型，可以转换成paddleX模型吗](https://github.com/PaddlePaddle/PaddleX/issues/1371) ，有类似的需求和解决方法。

[2022-01-28 03:45] ZhouFangru opened #1755 "paddle.jit.save保存模型以后，训练变慢"
您好，我使用paddle.jit.save保存模型，更改代码如下：
![image](https://user-images.githubusercontent.com/24693920/151483245-26afa74d-b195-48a5-aa4d-e47a427e9381.png)
发现模型刚开始训练时 batch_cost大约为0.2，在保存一次模型以后，训练变慢batch_cost=1.5（代码原来保存模型的方式不会出现这个问题）
![image](https://user-images.githubusercontent.com/24693920/151483348-04171e28-7374-4a24-8f67-311084b270fd.png)
![image](https://user-images.githubusercontent.com/24693920/1514

[2022-01-29 11:27] Huhaobangbangbang opened #1756 "paddle ImportError，大佬救命"
这是我的paddle版本信息（换了其他的paddle版本也不行）
PaddlePaddle 2.0.0-rc1, compiled with
    with_avx: OFF
    with_gpu: ON
    with_mkl: OFF
    with_mkldnn: OFF
    with_python: ON

上面显示安装成功，但是会出现
ImportError: /home/tux/conda/envs/huh/lib/python3.9/site-packages/paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE

[2022-01-30 02:21] haoyuying commented on #1756
您好，paddle的安装问题请移步paddle repo ：https://github.com/PaddlePaddle/Paddle 以便获得更专业的回复。

[2022-01-30 08:01] khaep opened #1757 "Which data set was used to pre-train the ResNet101 for GCNet?"
Hello there,

can you please give me an information about the loaded pretrained ResNet101 backbone,
that was used to train [GCNet](https://github.com/PaddlePaddle/PaddleSeg/blob/742555c609b0cdfe8976d674937fdb92d73fd496/configs/gcnet/gcnet_resnet101_os8_cityscapes_1024x512_80k.yml#L6).

Which data set was used to pre-train the ResNet101 backbone network?

Was it some thing like imagenet?

Thank you

[2022-01-30 14:50] LutaoChu commented on #1751
https://github.com/PaddlePaddle/PaddleSeg/blob/1f49e5cda6f65e8d483d8e42b739f93feb7d4639/paddleseg/models/losses/semantic_connectivity_loss.py#L106

The corresponding code is here. It should be noted that it is time-consuming to calculate whether there is no pair between P and G, so we use a fast implementation here, that is, to judge whether there is no connected component between P and G as a sub

[2022-01-30 15:19] lwh104 opened #1758 "paddleseg python infer.py"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.4
 2. PaddlePaddle版本：PaddlePaddle 2.2.2
 3. 操作系统信息：Windows
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本：CUDA10.1/cuDNN 7.6.5
我在将paddseg训练好的模型导出后，使用deploy/python/infer.py文件推理，提示图片中的信息，也没有得到推理结果。请问该怎么解决呢？我还想问一下怎么计算模型的推理时间和fps呢，paddleseg的val脚本好像并不能设置评估时的batchsize，我使用infer.py就是想计算batchsize为16情况下的模型推理时间，
![image](https://user-i

[2022-02-03 09:30] #1752 closed

[2022-02-04 15:20] alphonse-lin opened #1761 "[General Issue] EISeg pretrained model"
Can I change EISeg pre-trained model into my own model?

[2022-02-05 09:59] Leon-E-Zion opened #1762 "[General Issue]"
在训练时发现学习率始终按照配置文件中的参数调整；
查看源码时，发现学习率是由配置文件所固定的，不受优化器影响；
想知道能不能改成学习率受优化器影响而不是由Config固定

[2022-02-05 10:05] Leon-E-Zion opened #1763 "学习率无法由优化器调整"
查看训练输出数据时发现学习率不随优化器改变
查看源码时，发现是由yaml文件参数与Config进行固定
能否使学习率只由优化器进行调整

[2022-02-05 11:18] #1762 closed, assigned to nobody

[2022-02-05 12:47] HamidrezaHayatjou opened #1764 "error in cross_entropy"
hi
 1. PaddleSeg version: (PaddleSeg v2.4.0)
 2. PaddlePaddle version: (PaddlePaddle 2.2.2)
 3. Operation system: (Linux)
 4. Python version: (Python3.7)
 5. CUDA/cuDNN version: (e.g. CUDA11.)

I tried to use a model according to the instructions and used the cityscape database. But I got the following error and I can not understand where the problem is. thank you for your help.
my code :
`from pa

[2022-02-08 10:09] bldu opened #1766 "quick start 中的predict.py 运行，对本地图片预测为何需要联网连接到数据集 optic_disc_seg.zip ?"
![image](https://user-images.githubusercontent.com/43374826/152964698-99db34bc-31db-48ef-96a3-81d9f083be64.png)

如图所示，我将模型下到了本地，然后按照quick start中的命令行执行 predict.py。由于我没有联网，就直接在 connecting 这里报错了。我想知道为什么一定要连接到云端的数据集？

[2022-02-09 06:27] yanni1995 opened #1767 "关于paddleseg中的主干网络模型结构问题"
请问为什么我修改了paddleseg/models/mobilenetv3.py文件中SEModule结构的HarhSigmoid函数以后，在查看导出的模型结构中还存在HardSigmoid结构，采用的模型结构是DEepLabV3P+mobilenetv3。
修改如下：
class SEModule(nn.Layer):
    def __init__(self, channel, reduction=4, name=""):
        super(SEModule, self).__init__()
        self.avg_pool = nn.AdaptiveAvgPool2D(1)
        self.conv1 = nn.Conv2D(
            in_channels=channel,
            out_channels=chan

[2022-02-09 13:33] bldu commented on #1073
能否增加针对cuda10.1/10.2的cudnn的高版本支持呢？目前用的cuda10.1， cudnn8+会报错 segmentation fault。cudnn用7.6是可以的。

[2022-02-10 06:28] LutaoChu commented on #1073
建议去paddle主repo下提需求，编译一些支持高版本cudnn的paddle包出来

[2022-02-10 09:19] Dandelion111 opened #1768 "请问fast scnn模型有c++的推理demo吗"
请问fast scnn模型有paddle lite框架 c++的推理demo吗

[2022-02-11 00:59] michaelowenliu commented on #1766
@bldu Hi, the quick-start demo requires optic dataset. You can also download it locally in advance.

[2022-02-11 01:01] michaelowenliu commented on #1757
@KHeap25 Hi, we use the pretrained model provided by PaddleClas, https://github.com/PaddlePaddle/Paddleclas

[2022-02-11 11:55] DXVVV commented on #1554
ping

[2022-02-12 09:50] khaep commented on #1757
Thanks for the information,

so it seems to be that the loaded ResNet101 backbone was pretrained with  the ImageNet dataset.

[Readme](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/README_en.md#features) of PaddleClas says:
"Rich library of pre-trained models: Provide a total of 164 ImageNet pre-trained models in 35 series, among which 6 selected series of models support fast structu

[2022-02-13 13:07] Emmmmmaa opened #1770 "[Bug]您好，我运行MODNet的训练代码，输出的log是乱码的，麻烦看一下是什么原因导致的。"
------------Environment Information-------------
platform: Linux-4.15.0-151-generic-x86_64-with-debian-buster-sid
Python: 3.7.11 (default, Jul 27 2021, 14:32:16) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.2, V10.2.89
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: 0
GPU: ['GPU 0: GeForce RTX', 'GPU 1: GeForce RTX']
GCC: gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.

[2022-02-13 16:28] xmba15 commented on #1714
PR merged, so close the issue.

[2022-02-13 16:28] #1714 closed, assigned to juncaipeng

[2022-02-14 03:45] juncaipeng commented on #1767
这个估计是没改对地方吧，你可以print出来看看是否执行了此处。

[2022-02-14 03:46] juncaipeng commented on #1768
有的，可以参考文档和示例：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/deployment/inference/cpp_inference_cn.md

[2022-02-14 03:48] juncaipeng commented on #1768
使用paddleseg导出模型后，可以参考lite [c++文档](https://paddle-lite.readthedocs.io/zh/latest/user_guides/cpp_demo.html)进行部署。

[2022-02-14 03:49] #1722 closed, assigned to juncaipeng

[2022-02-14 03:53] juncaipeng commented on #1755
你好，建议你不用修改保存模型的代码。原先代码会在训练中保存*.pdparams，等训练完后，使用seg的导出功能加载精度最高的*pdparams导出*.pdmodel。

[2022-02-14 05:45] Dandelion111 commented on #1768
好的，谢谢大佬

[2022-02-14 05:46] #1768 closed, assigned to juncaipeng

[2022-02-14 06:45] yanni1995 commented on #1767
def forward(self, inputs):
        outputs = self.avg_pool(inputs)
        outputs = self.conv1(outputs)
        outputs = F.relu(outputs)
        outputs = self.conv2(outputs)
        outputs = F.sigmoid(outputs)
        print('done')
        return paddle.multiply(x=inputs, y=outputs)

运行结果：2022-02-14 14:44:29 [INFO]	[TRAIN] epoch: 1, iter: 10/80000, loss: 0.3390, lr: 0.009999, batch_cost: 0.303

[2022-02-14 06:46] yanni1995 commented on #1767
所以是修改了的，我修改的就是mobilenet中SEMoudle板块中的这个激活函数

[2022-02-15 03:47] haoyuying commented on #1761
sorry, we do not support this feature.

[2022-02-15 06:03] wuyefeilin commented on #1770
这个是环境信息，是正常的

[2022-02-15 06:45] Emmmmmaa commented on #1770
不不，我用自己的数据集跑了MODnet的训练代码，保存的log文件我用文本编辑器打开是乱码的。如下图所示。完整的log文件已添加至附件，GitHub留言的是我跑代码的环境信息，我是mac笔记本连接的服务器。麻烦您帮我看一下。盼回复。

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***

[2022-02-15 07:07] zhijiejia opened #1771 "soft crossentropy loss 的加入"
请问，有考虑加入 soft crossentropy loss , 这个对用paddleseg参加比赛会有些用处？

paddle中的scatter 和 pytorch中的scatter 感觉功能不一样，如果需要 [H, W] -> [C, H, W]，用于生成soft label，在paddle中对应的函数是哪个啊？

[2022-02-15 07:19] ziyuwzf opened #1772 "PaddleSeg中如何预加载模型？"
我查看了相关预测的代码，包括predict.py和deploy/python/infer.py文件，好像都是一次加载模型，批量预测图片。加载模型时耗费了很长时间。
我现在这边有个需求是，一次加载模型之后，根据请求多次预测图片，每次只预测一张图片。做到类似tensorflow预加载模型的效果。

[2022-02-15 09:05] ziyuwzf opened #1773 "执行matting预测代码时：FileNotFoundError: [Errno 2] No such file or directory: 'data/PPM-100\\val.txt'"
执行matting的predict.py是推理过程中，export CUDA_VISIBLE_DEVICES=0
python predict.py \
    --config configs/modnet/modnet_mobilenetv2.yml \
    --model_path output/best_model/model.pdparams \
    --image_path data/PPM-100/val/fg/ \
    --save_dir ./output/results
我本地没有准备PPM-100数据集，为什么预测过程还需要下载验证数据？这两者有什么关系？

[2022-02-15 09:13] Yasminbr opened #1774 "ValueError: (InvalidArgument) The input tensor's dimension should be equal to the axis's size. But received input tensor's dimension is 5, axis's size is 4"
1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (PaddlePaddle 2.1.0)
 3. Operation system: (Windows)
 4. Python version: (3.8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2)
 6. Additional context:

Hey, im trying to train a Unet  and get those issues :

Traceback (most recent call last):
  File "train.py", line 199, in <module>
    main(args

[2022-02-15 11:06] rose-jinyang commented on #1751
Hi @LutaoChu and @dreamer121121
In the forward function of the SemanticConnectivityLoss implementation(https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/models/losses/semantic_connectivity_loss.py), are the parameter logits the probabilities map or logit map without applying softmax?
BTW:

![image](https://user-images.githubusercontent.com/47862419/154410883-6041effe-1b29-4a8e-8

[2022-02-15 12:12] Yasminbr commented on #1774
sorry i edit -
X = [1,512,512,3,3]

[2022-02-15 13:51] yangL-H opened #1775 "加载STDCSeg模型出错，'STDCSeg' object has no attribute 'backbone'"
1. PaddleSeg版本：PaddleSeg release/2.4
 2. PaddlePaddle版本：如PaddlePaddle 2.2.2
 3. 操作系统信息：Linux
 4. Python版本号：Python3.7
 5. CUDA/cuDNN版本：CUDA10.2

目的是加载已经训练好的STDCSeg模型，代码如下：
---------------------------------------------------------------------------
#STDCSeg02
cfg = Config("/content/drive/Shareddrives/2019206023/code/PaddleSeg-release-2.4/configs/stdcseg/stdc2_rs.yml",)
print(cfg)

#构建模型
from paddles

[2022-02-15 16:09] #1774 closed, assigned to nobody

[2022-02-16 09:04] shiyutang commented on #1775
I am sorry, your description is rather fuzzy, its format can be improved a lot.

The problem seems to be you try to access the backbone attribute of stdcseg that we do not have. (We pass it to the Context Path, you use it in --> 132 backbone = cfg.model.backbone).

The model definition is as the following:
![image](https://user-images.githubusercontent.com/34859558/154230910-5db22ac9-5abe-4ce3-947

[2022-02-16 09:09] wuyefeilin commented on #1773
问题收到了，目前可以先准备一下PPM-100数据集，后续我们会解决这个问题

[2022-02-16 09:14] juncaipeng commented on #1772
可以看下是不是serving方式部署符合你的要求：https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/deployment/serving/serving_cn.md

关于serving方式部署的最新用法，请参考serving官方文档：https://github.com/PaddlePaddle/Serving

[2022-02-16 09:14] shiyutang commented on #1771
We have not yet considered adding soft CELoss. But we very much welcome you contributing it to our repo.
It seems F.one_hot could be useful to you. Here is a [example](
https://github.com/PaddlePaddle/PaddleSeg/blob/4aa737e2648355994efe762edc1382f802b9816c/paddleseg/models/losses/rmi_loss.py#L103):
![image](https://user-images.githubusercontent.com/34859558/154232832-c7c98b40-e6f5-4d5a-a91e-6e48d4

[2022-02-17 01:42] geoexploring opened #1778 "请问有没有增加swin_upernet模型的计划？"
swin_upernet在[ade20k](https://paperswithcode.com/sota/semantic-segmentation-on-ade20k)上排名很靠前，请问有没有增加swin_upernet模型的计划？

谢谢！

[2022-02-17 02:11] shiyutang commented on #1763
I am not sure what is your need.
But FYI, lr in paddle equals to the lr in optimizer multiply parameterAtrr lr and lr controlled by lr_scheduler.
If you want to change the lr, you can pass a lr_scheduler into you optimizer

[2022-02-17 02:14] shiyutang commented on #1652
please provide a link to the code that can reproduce the error, and how to reproduce it. since we do not see this happen.

[2022-02-17 02:20] shiyutang commented on #1713
It seems to be a hardware problem as mentioned [here](https://github.com/pytorch/pytorch/issues/11756#issuecomment-423599445), you can try to open a new environment to install Cuda and cudnn or change you device.

[2022-02-17 02:56] Senyao-Han commented on #1773
下载了PPM-100数据集，其中并没有val.txt这个文件，请问这个文件是在哪里

[2022-02-17 03:29] ziyuwzf commented on #1772
自己修改、封装代码，将模型初始化、加载模型参数过程写到了类的init里面，近似完成了需求

[2022-02-17 06:41] haoyuying commented on #1778
您好，目前暂时没有该模型的排期。如果您复现了，也欢迎贡献给我们，为开源社区贡献力量。

[2022-02-17 07:15] geoexploring commented on #1778
@haoyuying ，谢谢！
复现的效果不好。
另外，为了公平比较的话，肯定要基于ade20k进行精度评价，硬件条件不允许呀。

[2022-02-17 07:15] #1778 closed, assigned to haoyuying

[2022-02-17 13:37] ThreeBoxWithCode commented on #1366
你好，请问这个轻量级人像分割模型能在哪里看到呢

[2022-02-18 03:54] CJscj opened #1780 "[General Issue]import paddleseg时出现module 'paddle.jit' has no attribute 'not_to_static'"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-02-18 06:22] ziyuwzf commented on #1773
准备好PPM-100数据集后，可以正常推理了

[2022-02-18 08:57] dapsjj opened #1781 "训练的时候出现错误：AttributeError: module 'paddle' has no attribute 'int8'"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.4
 2. PaddlePaddle版本：PaddlePaddle 2.0.0
 3. 操作系统信息：Windows10
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本： 如CUDA10.1/cuDNN 7.6.0

使用自己的数据集训练的时候，`python train.py --config configs/butterfly_squirrel.yml --do_eval --use_vdl --save_interval 500 --save_dir output`
提示错误：
[code]

`

[2022-02-18 10:37] HongShiKuan opened #1782 "Kappa系数大于1"
版本：Paddle2.2，PaddleSeg版本：2.3.0。在评估模型时发现**Kappa系数大于1**。请问这是什么情况？
如下图所示：
![image](https://user-images.githubusercontent.com/45912889/154666392-f4c4fd54-40ca-4589-8dce-4e867f777c23.png)

配置文件如下：
[code]

[2022-02-19 04:21] dapsjj commented on #1781
已经解决了，我的原来的PaddlePaddle 2.0的版本不对，升级到PaddlePaddle 2.2就没有这个错误了

[2022-02-19 04:21] #1781 closed, assigned to nobody

[2022-02-19 13:13] zmdcs opened #1783 "[General Issue]Visual Studio 2019 Community CMake 部署不能检测视频吗？"
demo.exe有办法检测视频吗？

[2022-02-21 02:45] juncaipeng commented on #1780
请参考issue模板不同信息。

[2022-02-21 03:27] LutaoChu commented on #1366
在这里  https://github.com/PaddlePaddle/PaddleSeg/blob/develop/contrib/PP-HumanSeg/README_cn.md

[2022-02-21 06:22] juncaipeng commented on #1783
你好，你使用的是哪个demo，使用什么工具部署，可以给出链接代码和文档说明。

[2022-02-21 06:22] juncaipeng commented on #1772
是满足了你的需求吗？还有其他问题吗？

[2022-02-21 06:24] juncaipeng commented on #1782
收到，我们会尽快查看修复。

[2022-02-21 06:29] zmdcs commented on #1783
就是Visual Studio 2019 Community CMake 编译指南里编译生成的demo.exe

[2022-02-21 06:37] juncaipeng commented on #1782
请问你使用PaddleSeg哪个版本？请在下面代码处，使用print输出三个参数`intersect_area, pred_area, label_area`，看下这三个值是多少，方便我们调试。
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/utils/metrics.py#L207

[2022-02-21 06:38] juncaipeng commented on #1783
哪个指南？链接是？

[2022-02-21 06:52] HongShiKuan commented on #1782
版本：Paddleseg2.3.0

**intersect_area** =  [5477884892  329126204]
**pred_area** =  [5497299265  357850815]
**label_area** =  [5506609503  348540577]
/home/kuan/workspace/PaddleSeg/paddleseg/utils/metrics.py:136: RuntimeWarning: overflow encountered in longlong_scalars
  pe = np.sum(pred_area * label_area) / (total_area * total_area)
2022-02-21 14:51:01 [INFO]      [EVAL] #Images: 885 mIoU: 0.9318 A

[2022-02-21 06:57] zmdcs commented on #1783
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.3.0/deploy/cpp/docs/windows_vs2019_build.md

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&

[2022-02-21 08:04] HongShiKuan commented on #1782
希望bug定位出来以后，能反馈一下原因，非常感谢呀！

[2022-02-21 09:25] geoexploring opened #1786 "两个ComponentManager类，请问为什么会优先选择Paddleseg的ComponentManager类？"
我将paddleseg作为外部依赖库编写代码，
依照paddleseg的[deeplabv3p](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/models/deeplab.py)重写deeplabv3p部分代码，然后依然在代码`class DeepLabV3P(nn.Layer):`加上`@manager.MODELS.add_component`，此时就会在运行时有警告：
[code]
不想有这种警告，于是我就按照paddleseg的[manager.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/cvlibs/manager.py)创建了一个一模一样的代码文件`manager_.py`，然后在代码

[2022-02-21 12:34] juncaipeng commented on #1786
建议你直接改一个模型的类名，避免模型类名重复。

[2022-02-22 02:08] ziyuwzf commented on #1772
暂时没有问题了，感谢

[2022-02-22 02:35] #1772 closed, assigned to juncaipeng

[2022-02-22 02:37] juncaipeng commented on #1783
这个版本太低了，不再维护了。
建议你参考paddleinference文档进行部署：https://paddleinference.paddlepaddle.org.cn/product_introduction/summary.html

[2022-02-22 03:34] juncaipeng commented on #1782
已经提pr~

[2022-02-22 03:47] HongShiKuan commented on #1782
收到

[2022-02-22 08:10] gutao0315 opened #1792 "关于eval报错，可能是数据的问题，大佬们帮帮忙"
![R@D1R8ATUN1TG$ }0C62~FV](https://user-images.githubusercontent.com/77281977/155088367-0ac2aaf9-40a6-4574-9413-316ea2868734.png)
应该是做eval的时候出问题了，不知道为什么。是数据的问题吗 大佬们求解答

[2022-02-22 08:49] wuyefeilin commented on #1792
看一下有没有验证集，如果没有的话先去掉--do_eval。另外，这个问题已经在修复了

[2022-02-22 13:14] debug851 commented on #1764
I HAVE the same error

[2022-02-22 14:37] yangL-H opened #1793 "基于Transfomer的模型（segformer） 类激活图（如CAM）实现"
请问模型怎么导出类激活图 或 attention map，如图所示：
![image](https://user-images.githubusercontent.com/65001351/155154084-e0ebcbd6-e7cc-4305-a084-6a83d4cc7d03.png)

[2022-02-23 05:13] geoexploring commented on #1786
@juncaipeng ,谢谢，我决定还是按照原来的设计（即使会有大量警告），因为这样最符合业务逻辑。

[2022-02-23 05:13] #1786 closed, assigned to juncaipeng

[2022-02-23 08:05] curryJ opened #1794 "deeplabv3训练cityscapes数据集，loss是负数"
我在aistudio上利用百度提供的cityscapes数据集进行deeplabv3p的训练，我按照paddleseg的教程进行训练，但是loss出现了负数。我调小了lr之后，问题还是没有解决。请问这是什么原因呀？谢谢
![image](https://user-images.githubusercontent.com/23001027/155281131-7b9cce34-c15d-472f-9c09-a79b0e629163.png)

[2022-02-23 09:44] x12901 opened #1795 "极端分配率图片训练效果不佳"
我的图片分辨率为2048*500，使用hardnet训练效果不佳，除了背景acc良好，其它都不能让人满意。是否有方法能提高？

platform: Windows-10-10.0.19042-SP0
Python: 3.8.12 (default, Oct 12 2021, 03:01:40) [MSC v.1916 64 bit (AMD64)]
Paddle compiled with cuda: True
NVCC: Not Available
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: 0,1,2
GPU: ['GPU 0: GeForce GTX', 'GPU 1: GeForce GTX', 'GPU 2: GeForce GTX']
GCC: gcc (MinGW.org GCC Build-2) 9.2.0
PaddleSeg

[2022-02-24 01:37] haoyuying commented on #1794
您好，可以把您使用的教程链接发给我们吗，方便我们排查问题。或者您可以排查如下位置：输入损失函数中的tensor是否有异常，损失函数计算输出及加权loss部分是否存在问题。

[2022-02-24 01:44] haoyuying commented on #1795
请问您的前景物体是否在整张图所占比例不均衡呢，如果是， 可以尝试其他用于样本均衡的损失函数或者更换网络。如果前景物体明显且占像素面积较大，建议检查预处理是否存在问题。

[2022-02-24 02:08] x12901 commented on #1795
是的,我的前景大小不一,有30*30也有2000*100的

[2022-02-24 02:09] x12901 commented on #1795
是的,我的前景大小不一,有30x30也有2000x100的

[2022-02-24 06:01] 02825cm commented on #1764
me too

[2022-02-24 06:02] 02825cm commented on #1764
How to solve it?

[2022-02-24 06:02] 02825cm commented on #1764
ValueError: label should not out of bound, but gotTensor(shape=[1], dtype=int64, place=CPUPlace, stop_gradient=True,
       [181])

[2022-02-24 08:06] haoyuying commented on #1793
您好，目前我们没有提供该功能，您可以自己增加visualdl代码，可视化显示。cv2有类似的接口函数可供使用。

[2022-02-24 12:26] rose-jinyang opened #1798 "An issue on implementation of SemanticConnectivityloss"
Hi @LutaoChu and @dreamer121121
In the forward function of the SemanticConnectivityLoss implementation(https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/models/losses/semantic_connectivity_loss.py), are the parameter logits the probabilities map or logit map without applying softmax?
BTW:
![image](https://user-images.githubusercontent.com/47862419/155523645-e41fe90b-91ff-4b39-82

[2022-02-24 13:05] lvhuaqing opened #1799 "[Bug]"
Traceback (most recent call last):
  File "train.py", line 198, in <module>
    main(args)
  File "train.py", line 180, in main
    optimizer=cfg.optimizer,
  File "/home/aistudio/work/PaddleSeg/paddleseg/cvlibs/config.py", line 213, in optimizer
    lr, parameters=self.model.parameters(), **args)
TypeError: __init__() got an unexpected keyword argument '_inherited_'

[2022-02-24 13:05] LutaoChu commented on #1798
Hi, Logits is logit map without applying softmax.

Regarding the above issue, it looks like there is indeed a problem. We need to slice pred_conn.
But it is very strange that I did not find any errors during the actual training process. Can you provide your error message?

[2022-02-24 13:05] LutaoChu commented on #1751
refer to https://github.com/PaddlePaddle/PaddleSeg/issues/1798

[2022-02-24 13:20] leeformoney opened #1800 "[Bug]qt版本,Windows环境下加载标签时，程序闪退"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-02-24 13:29] LutaoChu commented on #1798
I tested it for paddle. If the range of values in pred_conn exceeds the pred_num_conn value, F.one_hot can still be calculated

[2022-02-24 13:40] pazifik-cyber opened #1801 "[General Issue] PaddleSeg 如何加载 PaddleClass 预训练模型作为backbone？"
我尝试了直接从PaddleClass 下载预训练模型，例如 下载了 https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/legendary_models/ResNet18_pretrained.pdparams
然后修改 config：  pretrained: ResNet18_pretrained.pdparams

但是在运行结果如下：
[code]

这应该是因为PaddleClass的预训练模型ResNet18_vd中层的名字和PaddleSeg的ResNet18_vd 不同。

请问应该如何正确加载呢？ 可以通过修改 `ResNet18_pretrained.pdparams`  中层的名字，改成和PaddleSeg一样，然后再加载么？

[2022-02-24 13:48] TonyZPW opened #1802 "[General Issue]关于模型导出并推理"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-02-24 14:13] TonyZPW commented on #1802
另外如果我想学习配置文件的方式进行训练，有没有相关参考文档呢？

[2022-02-24 14:26] rose-jinyang commented on #1798
In fact, I am using this loss in PyTorch.
In PyTorch, F.one_hot does not handle such case.

[2022-02-24 14:28] rose-jinyang commented on #1798
In case of using Paddle, how will the values in pred_conn exceeds the pred_num_conn value be processed?

[2022-02-24 16:07] nqthai309 commented on #1764
How to solve it? help me

[2022-02-24 17:00] nqthai309 commented on #1764
i solved it. image annotations must type *.png

[2022-02-25 00:52] 02825cm commented on #1764
I have finished it,but it is erroe

[2022-02-25 01:13] 02825cm commented on #1764
i have made it ,but it's useless

[2022-02-25 01:54] leeformoney commented on #1800
已解决，我的app.py默认以gbk读取txt.显示报错，在文件669行，改为encoding="utf-8"读取

[2022-02-25 05:54] debug851 commented on #1764
Solved.I switched the loss function at first, and it worked.  But the segmentation is only the boundary.  So you need to check that your label meets the following criteria: single-channel image, PNG format, and the gray value of the label should be 0,1...  Instead of 0,255.  Let's just say the mentor's push helped.🙂

[2022-02-25 07:04] T0L0ve opened #1804 "val.py对于intersect_area, pred_area, label_area的计算是不是有错误？"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.3）PaddleSeg release/2.3
 2. PaddlePaddle版本：（如PaddlePaddle 2.1.0）PaddlePaddle 2.2.1.post112
 3. 操作系统信息：（如Linux/Windows/MacOS）win10
 4. Python版本号：（如Python3.6/7/8）python3.8
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）cuda11.3
 6. 其他内容: （增加其他与问题相关的内容）训练了一个有3个类别的模型（包括背景），在计算一些数据时发现intersect_area, pred_area, labe

[2022-02-25 07:23] 02825cm commented on #1001
@chenjw1009 这段代码加载哪里，大佬，求助

[2022-02-25 08:24] LutaoChu commented on #1802
你好，动态图不如静态图快，一般会将动态图模型导出为静态图进行部署。pdparam只是模型的权重文件。
如果要用API导出的话，目前需要修改[export.py](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/export.py)，具体就是将原先用配置进行获取的model和transforms改成API调用的形式即可导出
<img width="722" alt="image" src="https://user-images.githubusercontent.com/30695251/155680395-8c3c5213-08cd-4d8a-9fb2-040b090df178.png">

[2022-02-25 08:24] LutaoChu commented on #1802
参考 https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/whole_process_cn.md

[2022-02-25 08:28] LutaoChu commented on #1801
是的，PaddleClass的模型代码和PaddleSeg有些不同，要正确加载的话就需要将对应层的名字对齐，否则就不会加载

[2022-02-25 08:29] #1800 closed, assigned to nobody

[2022-02-25 08:30] LutaoChu commented on #1799
请按照模板提供完整复现步骤

[2022-02-25 09:18] #1795 closed, assigned to haoyuying

[2022-02-25 09:29] HamidrezaHayatjou commented on #1764
hi, in my case i was using Cityscape dataset, I had set the number of classes to 19, but I forgot that the dataset is 35 classes and I had to change it to 19 classes using the cityscape script. Doing this solved my problem.

[2022-02-25 11:05] Leon-E-Zion opened #1808 "静态模型转ONNX后 openvino报错无法运行"
!python export.py \
       --config configs/fcn/fcn_hrnetw18_cityscapes_1024x512_80k.yml \
       --model_path FCN.pdparams

# 使用paddle2onnx将paddle模型格式转化到ONNX模型格式。
! paddle2onnx --model_dir /home/aistudio/PaddleSeg/output/ \
    --model_filename model.pdmodel \
    --params_filename model.pdiparams \
    --save_file segonnx/model.onnx \
    --opset_version 11 \
    --enable_onnx_checker True

# 导入

[2022-02-25 13:02] LutaoChu commented on #1798
You can try it as the following
![image](https://user-images.githubusercontent.com/30695251/155719577-7fb0d963-2364-46f7-8a9e-e2a1c06ed396.png)

[2022-02-25 13:10] LutaoChu commented on #1798
Exceeded values will be ignored. The corresponding one hot codes returned are all 0
[code]
Output
[code]

[2022-02-25 15:12] rose-jinyang commented on #1798
I've got the below issue with the above code.

![image](https://user-images.githubusercontent.com/47862419/155739266-5e57a965-da52-49c4-81aa-173e7ca40fb0.png)

[2022-02-25 15:13] rose-jinyang commented on #1798
What is your paddlepaddle version? Mine is paddlepaddle 2.2.2.

[2022-02-27 08:11] varungupta31 opened #1809 "[General Issue] 'ValueError: The dataset is not Found' while generating outputs using Pre-Trained models"
1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3) - 2.4.0
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0) - 2.2.2
 3. Operation system: (e.g. Linux/Windows/MacOS) - Linux
 4. Python version: (e.g. Python3.6/7/8) - 3.7.0
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5) - 10.2/7.6.5
 6. Additional context: (Add any other context about the problem) :

I'm try

[2022-02-27 08:25] varungupta31 commented on #1507
Hi @sfstefanwu
were you able to run/did you try running `predict.py` using any pre-trained model on a custom image?
(with or without multiple GPUs)

[2022-02-28 01:49] #1782 closed, assigned to juncaipeng

[2022-02-28 01:53] juncaipeng commented on #1808
从最后错误来看是由于动态shape的问题，你可以尝试在export.py预测模型的时候设定固定输入size，即是设置input_shape输入参数。
参考文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/model_export.md

[2022-02-28 03:43] gutao0315 opened #1810 "大佬们 预测速度慢怎么搞 有哪些提升速度的方法 详看图"
![image](https://user-images.githubusercontent.com/77281977/155920387-a86c85e7-5596-4d92-89ee-19757f81cd70.png)
图片是2448X2448的大小 1s/张
520X520的图片测试下来是 100ms/张
想问问
1.影响预测速度的因素有哪些
2.怎么提升预测速度 有相关文档介绍吗

[2022-02-28 07:39] x12901 opened #1811 "Paddle Inference部署（C++）YAML错误"
根据教程进行编译，因为在window10上运行的，使用的是cmake进行编译，编译opencv3.4，yaml都没有出现报错问题，但是对cpp的CMakeLists.txt进行编译时出现问题。https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/deployment/inference/cpp_inference_cn.md
platform: Windows-10-10.0.19042-SP0
Python: 3.8.12 (default, Oct 12 2021, 03:01:40) [MSC v.1916 64 bit (AMD64)]
Paddle compiled with cuda: True
NVCC: Not Available
cudnn: 7.6
GPUs used: 1
CUDA_VISIBL

[2022-02-28 14:34] #1811 closed, assigned to nobody

[2022-03-01 01:39] juncaipeng commented on #1810
请参考seg文档导出预测模型再部署，速度会更快。

[2022-03-01 01:42] juncaipeng commented on #1809
Hi, this is a known problem and we are fixing it. To avoid this problem, you can replace the train and validation dataset information in segformer_b5.yaml with the train and validation dataset information in bisenet_optic_disc_512x512_1k.yaml.

[2022-03-01 02:31] LutaoChu commented on #1798
Mine is 2.2.1
Please give your running command and I'll repeat the problem

[2022-03-01 03:54] rose-jinyang commented on #1798
I've installed paddle 2.2.1.
But the issue appears still.

![image](https://user-images.githubusercontent.com/47862419/156101743-d82634a4-e33a-4b2d-a685-645d7033202a.png)

[2022-03-01 06:47] LutaoChu commented on #1798
I have no problem here
What is your running command?

[2022-03-01 07:34] rose-jinyang commented on #1798
import paddle
import paddle.nn.functional as F

a = paddle.randint(0, 10, (4, 4))
b = F.one_hot(a, 5)
print(a)
print(b)

This is the script.

[2022-03-01 08:04] stefan-sf-wu commented on #1507
@varungupta31 yes. how can i help?

[2022-03-01 08:07] gh10242048 opened #1817 "[General Issue] 使用SemanticConnectivityLoss遇到问题"
训练使用如下配置，PS：1,2有问题，3正常
#############1
# loss:
#   types:
#     - type: MixedLoss
#       losses:
#         - type: CrossEntropyLoss
#         - type: SemanticConnectivityLoss
#       coef: [0.5, 0.5]
#   coef: [1]

##############2
loss:
  types:
    - type: SemanticConnectivityLoss
  coef: [1]
###########3
loss:
  types:
    - type: CrossEntropyLoss
  coef: [1]
均遇到该问题：
88888888888888
None
False
99

[2022-03-01 08:20] x12901 opened #1818 "Paddle Inference部署(C++)错误"
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK2019	无法解析的外部符号 "public: class std::unique_ptr<class paddle_infer::Tensor,struct std::default_delete<class paddle_infer::Tensor> > __cdecl paddle_infer::Predictor::GetOutputHandle(class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > const &)" (?GetOutputHandle@Predictor@paddle_infer@@QEAA?AV?$unique_ptr@VTensor@paddle_infer@@U?$defau

[2022-03-01 09:50] gutao0315 opened #1819 "python部署时，遇到的报错，大佬们看看"
![4I0W@NPA7QNQSU} 30RGF$G](https://user-images.githubusercontent.com/77281977/156145741-4a523357-3ac7-4256-9080-492a322c7a13.png)
是不是TensorRT安装的有问题

[2022-03-01 11:48] gh10242048 commented on #1817
将paddlepaddle升级到2.2.2后，该问题已解决，refer to #37265 https://github.com/PaddlePaddle/Paddle/issues/37265
但是遇到了新的问题，配置如下：
loss:
  types:
    - type: MixedLoss
      losses:
        - type: CrossEntropyLoss
        - type: SemanticConnectivityLoss
      coef: [0.5, 0.5]
  coef: [1]

loss1对应SemanticConnectivityLoss，不收敛
![image](https://user-images.githubusercontent.com/9912536/156165541-46d1a8bf-792f-4d33-b

[2022-03-01 12:49] dadar12138 opened #1820 "[eiseg]请问多个人分工使用eiseg标注生成coco文件如何合并成一个呀？"
有个任务数据集太大，需要多人分工使用eiseg一起标注，每个人生成的coco格式标注文件要怎么合并成一个呢？有没有大佬有用相关代码合并多个coco格式标注文件？谢谢大佬们！！！

[2022-03-02 01:18] daigang896 opened #1821 "Does paddleseg have a test model for Apollo scape's Lane Segmentation dataset？"
Hello，Does paddleseg have a test model for Apollo scape's Lane segmentation dataset？Is there an image segmentation test model for lane lines and lane markings？

[2022-03-02 02:35] Piccky commented on #1820
调用下coco api根据自己的数据写个脚本就好了

[2022-03-02 02:36] juncaipeng commented on #1819
请安装带有trt编译的paddle预测库，具体参考文档中的安装介绍：https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/deployment/inference/python_inference_cn.md

[2022-03-02 02:57] daibin88 commented on #1764
ValueError: label should not out of bound, but gotTensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True,[2])
使用CrossEntropyLoss出现上述问题，更换BCEloss就不会出现这个问题，请问如何解决

[2022-03-02 03:06] shiyutang commented on #1821
We haven't trained any model on the Apollo scape's Lane segmentation dataset, but you can try out our lane segmentation model [here](https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.4/contrib/LaneSeg).

[2022-03-02 03:37] daigang896 commented on #1821
Thank you. The lane segmentation model here only has lane lines and no lane markings. I will download that dataset and try to train it.

[2022-03-02 08:36] Sun-Wenfeng opened #1825 "Using Grad and Conn evaluation indicators to evaluate matting[General Issue]"
When I add grad.evaluate() and conn.evaluate() to val.py for evaluation, I encounter such a problem. How can I solve it?
<img width="1235" alt="截屏2022-03-02 下午4 34 17" src="https://user-images.githubusercontent.com/62273265/156324852-59668311-9648-402d-b1bb-90e181ab063b.png">
Function usage is as follows：
grad_metric.update(alpha_pred, alpha_gt, trimap)
conn_metric.update(alpha_pred, alpha_gt, tri

[2022-03-02 09:13] gh10242048 opened #1826 "[General Issue] pphuman_seg_lite的288x162模型可以share一下吗？"
如题，之前看到简介里提到pphuman_seg的288x162预训练模型，不知道是否方便share？感谢

[2022-03-02 09:33] LutaoChu commented on #1798
So strange. I can run it
![image](https://user-images.githubusercontent.com/30695251/156334401-d53d9b99-5ef7-45da-bafd-a87b56c08283.png)

[2022-03-02 11:35] rose-jinyang commented on #1798
The difference is only that I tried it on CPU without GPU.

[2022-03-02 12:31] shiyutang commented on #1821
You are welcome. What is your application, maybe we can further help you.

[2022-03-03 08:19] chenyixun1112 opened #1827 "paddleseg2.4版本，使用split_dataset_list分割数据集出现异常，请问这是什么原因造成的呢？标注图和原图的数量是对应的。"
paddleseg2.4版本，使用split_dataset_list分割数据集出现异常，请问这是什么原因造成的呢？标注图和原图的数量是对应的。
![image](https://user-images.githubusercontent.com/99322256/156524706-fdda74cc-5f11-4bd1-bb0f-0ddb10cefdcd.png)

是我自己的疏忽哈，是标注图片与原图名称不符，导致的标签数据前后不对应，已经解决啦！感谢回复！

[2022-03-03 08:21] chenyixun1112 commented on #1827
![image](https://user-images.githubusercontent.com/99322256/156525062-433c26d7-3eeb-4730-8ade-1a320aabb141.png)
使用命令如图所示

[2022-03-03 08:55] haoyuying commented on #1827
具体是什么异常呢，可以描述下吗？

[2022-03-03 09:36] daigang896 commented on #1821
Not clear, just look at the effect of the current lane lines and lane markings segmentation.

[2022-03-03 09:41] gh10242048 opened #1828 "[General Issue]pp_humanseg模型推理出来的人像边缘比较糊"
如题，使用pp_humanseg做人像分割， 边缘比较糊（398x224），猜测是因为low level的分割信息太浅了，只做了一层3x3的Conv，不知道你们那边是否也这样？

[2022-03-03 10:58] weiwei-star opened #1830 "EISeg三维标记"
有将EISeg扩展到三维体数据标注的计划吗？比如CT/MRI的数据

[2022-03-04 01:43] 02825cm opened #1832 "matting只能抠人像吗？怎么去做自定义的数据集？数据集中的alpha图怎么做"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-04 02:27] TonyZPW commented on #1802
非常感谢，已解决

[2022-03-04 02:27] #1802 closed, assigned to LutaoChu

[2022-03-05 02:47] zhenzi0322 commented on #1828
你是采用现有的模型进行分割的吧

[2022-03-05 02:50] zhenzi0322 opened #1837 "PP-HumanMatting中的数据集是不是需要高分辨率的图片"
如果是采用有`PP-HumanMatting`训练自己的模型是不是需要准备高分辨率的数据集，还是低分辨率的图片数据集也是可以的？

[2022-03-05 09:18] A834309 commented on #1459
同样的问题，求个解决方案~

[2022-03-05 15:37] 19961115 opened #1838 "[General Issue]只训练了一个epoch就自动停止了，也没报错"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-06 11:03] nqthai309 opened #1839 "error inference c++"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: PaddleSeg release/2.4
 2. PaddlePaddle version: PaddlePaddle-gpu 2.2.2
 4. Operation system: Linux - Ubuntu 18.04
 5. Python version: Python3.6
 6. CUDA/cuDNN version: CUDA10.2/cuDNN 7.6.5

  I try inference c++ in Docker but face to face this error

exec ./run_seg_gpu.sh

![image

[2022-03-07 02:15] wuyefeilin commented on #1837
可以直接使用我们的模型进行预测哈， PP-Humanmatting只适合高分辨率图象， MODNet都可以哈

[2022-03-07 02:18] huangjianyi45903 opened #1840 "模型训练报错：AttributeError: 'NoneType' object has no attribute 'astype'"
![image](https://user-images.githubusercontent.com/95200080/156956624-6420a91e-0dbf-45ea-af67-e782f03f6647.png)

![image](https://user-images.githubusercontent.com/95200080/156956595-35c4ad4f-8dc1-403b-85b6-090f22d37741.png)

[2022-03-07 02:20] juncaipeng commented on #1838
麻烦将配置的yaml文件发出来看下。

[2022-03-07 02:22] juncaipeng commented on #1839
你安装的paddle版本，cpu是否使用mkldnn加速库，而不是oneblas，你看下安装库的名字即可。如下图：
<img width="628" alt="image" src="https://user-images.githubusercontent.com/52520497/156956957-15f34956-753f-4855-8920-70733cc3f73d.png">

然后 ./run_seg_gpu.sh脚本没有修改吧？

[2022-03-07 02:26] juncaipeng commented on #1840
这是读取图片错误。

你是否修改了bisenet_optic_disc_xxx.yaml文件中的dataset配置字段？请参考seg文档中数据准备检查这部分配置信息。

[2022-03-07 02:28] haoyuying commented on #1830
目前有将3d医疗图像标注计划列入排期，请持续关注eiseg发展动态。

[2022-03-07 02:50] wuyefeilin commented on #1832
我们提供的modnet和pp-humanmatting只能进行人像抠图，dim不限物体但是需要提供trimap图象

如果要在自定义数据集上训练，需要根据我们的数据准备说明进行准备。alpha 图可以利用photoshop进行准备。

另外请问一下，你是有什么具体的应用场景呢，说不定可以达成合作。

[2022-03-07 03:16] zhenzi0322 commented on #1837
我用您们的模型预测过了，但是您们的模型有一些图片预测得不是很好，所以我想准备一些数据集进行训练。好像我也不能在您们的模型上进行继续训练模型，少了一个`pdopt`文件。目前我准备的数据集中只有低分辨率的图像。

[2022-03-07 03:18] zhenzi0322 commented on #1837
可以提供`modnet-mobilenetv2.pdparams`模型对应的`modnet-mobilenetv2.pdopt`文件给我进行增加数据集继续训练嘛？

[2022-03-07 04:19] zhenzi0322 commented on #1837
采用自己的数据集进行训练，出现如下报错信息：
[code]

[2022-03-07 04:25] zhenzi0322 opened #1841 "PP-HumanMatting 训练自定义数据集时出现的问题"
在此我准备的数据集都是高分辨率的图像，尺寸不相同。看了下官方提供的数据集`PPM-100`中的数据集也是尺寸不相同的高分辨率。出现的报错如下：
[code]
- `paddlepaddle==2.2.2`

[2022-03-07 04:49] zhenzi0322 commented on #1841
`configs`中的`demo.yml`文件为：
[code]

[2022-03-07 05:44] Huihuihh commented on #1733
请问这个问题现在有结果吗，推理如何获得缺陷类别

[2022-03-07 06:19] LutaoChu commented on #1798
I have the same problem with CPU. This is an OP bug in paddle. You can submit the issue here  https://github.com/PaddlePaddle/Paddle

[2022-03-07 06:22] LutaoChu commented on #1798
If you only have CPU, you can modify it according to this

[2022-03-07 07:10] zhenzi0322 opened #1843 "如何自定义Matting数据集"
在`https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.4/contrib/Matting`该仓库中如何正确自定义自己的数据集?

通过代码运行`PPM-100`数据集是没有什么问题的，但是我在运行自己准备的数据集时就出现了一些问题，如下：
[code]

- paddlepaddle==2.2.2

通过查看官方提供的`PPM-100`的数据集中尺寸不是一致的，就是想不明白为什么我准备的数据集就训练不起来呢？

[2022-03-07 08:10] chenyixun1112 opened #1844 "小白请问各位大佬，想要使用paddleseg训练一个实例分割模型，跑通全流程的那个案例可以运行，但是换成自己的数据就不行，是根据数据处理文档进行处理的数据，是配置文件需要修改什么吗？还有配置文件如何选择呢？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-07 08:43] 02825cm commented on #1844
可以检查下数据集，是用原图和伪彩色图或者灰度图训练

[2022-03-07 08:51] chenyixun1112 commented on #1844
那请问对于配置文件的选择呢？

[2022-03-07 08:52] 02825cm commented on #1832
非常感谢回复，主要是应用在工业场景，指示灯颜色的识别，目前还在测试阶段

[2022-03-07 08:52] chenyixun1112 commented on #1844
那请问对于配置文件的选择呢？

[2022-03-07 08:53] chenyixun1112 commented on #1844
我是使用灰度的来着

[2022-03-07 08:55] chenyixun1112 commented on #1844
我是使用的伪彩色的呢

[2022-03-07 08:57] 02825cm commented on #1844
为彩色是标注后生成的吗？还是转化的

[2022-03-07 08:57] Xzavierlovescoding commented on #1322
你好，请问最后问题解决了吗？我遇到了一样的问题，也是用cpp+OpenVINO部署，结果也是很差，但是不知道预处理的部分怎么写，我是直接输入模型处理的

[2022-03-07 08:59] 02825cm commented on #1844
看你的硬件来改下配置文件的前两个参数，然后就是改下数据集路径就可以了

[2022-03-07 09:20] chenyixun1112 commented on #1844
标注生成的

[2022-03-07 09:26] 02825cm commented on #1844
标注的会报错，要自己用脚本转

[2022-03-07 09:26] 02825cm commented on #1844
或者用灰度图训练

[2022-03-07 09:44] chenyixun1112 commented on #1844
那我试试，谢谢你~

[2022-03-07 10:02] 02825cm commented on #1844
不客气，我之前也碰到了这个问题，搞了好久，确实恼火

[2022-03-07 10:10] chenyixun1112 commented on #1844
它跑起来了，但是，跑几轮儿就停住了好像，这是咋回事儿呢？
![image](https://user-images.githubusercontent.com/99322256/157011053-c5e856da-be07-499b-b6d5-699a80aa125e.png)

[2022-03-07 10:11] #1843 closed, assigned to nobody

[2022-03-07 10:12] #1841 closed, assigned to nobody

[2022-03-07 10:12] #1837 closed, assigned to wuyefeilin

[2022-03-07 11:48] rose-jinyang commented on #1798
One of Paddle developers recognized this issue on GPU.
I think that your loss implementation should be updated under consideration of this point.

![image](https://user-images.githubusercontent.com/47862419/157029594-531df39c-24cd-4337-b422-d84bc4a8e02d.png)

[2022-03-07 13:27] rose-jinyang commented on #1798
Could u provide the implementation of this loss in PyTorch.
That's because some issues appears when running this loss implemented by myself in PyTorch.

[2022-03-07 20:03] Alvazz opened #1847 "Matting是否支持大分辨率"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-07 23:41] wuyefeilin commented on #1832
能给个例子说明应用场景吗，我们可以帮忙提供技术解决方案哈？ 如果只是正常灯颜色的识别，或许语义分割就能做到了

[2022-03-08 01:39] Alvazz opened #1848 "人像分割PP-HumanSeg能否运行在windows cpu环境下？"
感谢开源付出，我的exe是运行在windows环境下，只考虑cpu环境，请问“人像分割PP-HumanSeg”这个功能库可能支持吗？

如果可以的话，一般帧率大概在多少？能否支持1920x1080的摄像头流呢？

额外我看这个库都是python写的，如果我采用的是c++，那该如何调用呢？

谢谢

[2022-03-08 02:23] Huihuihh commented on #916
我想咨询下，PaddleSeg推理，如何获取缺陷类别

[2022-03-08 02:50] LutaoChu commented on #1848
你好，人像分割是支持cpu的。只需要安装CPU版本的Paddle即可。
具体帧率还没有测过。我们有不同大小的模型，不同模型的帧率也会不一样。支持摄像头流的，文档中有提供这块的使用说明。
目前仅支持python，c++的话可以调用paddle inference的[c++接口](https://paddle-inference.readthedocs.io/en/latest/quick_start/cpp_demo.html)，需要对整体代码进行改写