[2020-10-16 08:56] deep-practice commented on #453
好的，那我降个版本

[2020-10-16 08:56] #453 closed, assigned to LutaoChu

[2020-10-16 13:34] anyuchuan opened #493 "配置/数据校验问题 python pdseg/check.py --cfg ./unet.yaml"
FileNotFoundError: [Errno 2] No such file or directory: './dataset/cityscapes/test.list'，请问哪里可以下载cityspaces？

[2020-10-16 13:37] #493 closed, assigned to nobody

[2020-10-17 00:37] shiontao opened #495 "多类别Diceloss"
我看到loss.py中是写了多类别的diceloss的但是在参数文件中设置后程序显示不支持多类别。

[2020-10-17 11:36] pengqianli commented on #465
fp16只能多卡才能跑吗？我在AIstudio上也不能运行

[2020-10-17 15:52] skywalk163 opened #496 "PaddleSeg训练报错"
在aistudio 1.8.4环境下，训练中报错：

notebook里执行命令：
!python pdseg/train.py --use_gpu --cfg ./unet.yaml --do_eval --use_vdl --vdl_log_dir vdllog --log_steps 50 TRAIN.RESUME_MODEL_DIR  ./saved_model/unet/8

报错信息：
#10000 visualize image path: visual/A155980.png
VisualDL visualization epoch 10
Traceback (most recent call last):
  File "pdseg/train.py", line 466, in <module>
    main(args)
  File "pdseg/train.py

[2020-10-18 09:33] wstchhwp opened #497 "yaml文件参数问题"
你好，我想问下如何查询yaml文件里面有哪些参数？参数都可以取哪些值？比如slover这块配置都有哪些参数，lr学习率有哪些方式？
有没有命令可以查询。谢谢回答

[2020-10-18 12:25] gxqnba opened #498 "u-net输出mask图片大小问题"
请问使用paddleseg中的u-net模型，能让输出的mask图片大小与输入图片大小一致吗？我输入的图片有好几种分辨率的，但预测得到的mask图片都是521*512的。

[2020-10-18 12:55] liu824 opened #499 "NUM_CLASSES需要把背景那一类加上吗？"
deeplabv3p_xception65的配置文件中NUM_CLASSES需要把背景那一类加上吗？

[2020-10-18 12:56] liu824 commented on #499
是否把背景也算上一类？

[2020-10-18 13:39] TuoniTuoni opened #500 "学习率设置问题"
在detection库中，学习率根据gpu_num和batch_size有个计算方法。请问Seg的学习率应该如何设置，根据不同的算法和loss设置不同？

[2020-10-19 02:14] nepeplwu commented on #499
@liu824 需要加上背景类

[2020-10-19 02:15] liu824 commented on #499
好的，谢谢您的解答

[2020-10-19 02:17] nepeplwu commented on #497
@wstchhwp 可以参考这份文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.6.0/docs/config.md

[2020-10-19 02:26] wstchhwp commented on #497
这份文档我看过，自己还有些迷茫，因为就比如说学习率只给了三种，paddleseg只封装了三种吗？优化算法是Adam,sgd两种，只封装了两种嘛？
一下是运行时产生的，有些配置你给的链接里没有
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (256, 256),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,

[2020-10-19 02:52] wstchhwp commented on #497
@nepeplwu 见楼上

[2020-10-19 03:01] nepeplwu commented on #465
@pengqianli ，不需要多卡，你的aistudio教程是否方便公开下，我们这边试试看

[2020-10-19 03:02] wuyefeilin commented on #500
在我们pdseg中，我的batch_size 是指整体的batch_size， 所以学习率跟gpu_num没关系，理论上当你增加batch_size时，学习率也得同步增加

[2020-10-19 03:04] wuyefeilin commented on #498
你利用pdseg/vis.py进行预测，最终得到的图像是跟你输入图像的大小一致的

[2020-10-19 03:23] gxqnba commented on #498
那paddleseg进行训练的时候是不是先将我的输入图片（例如1500*2000）resize成512*512，然后预测得到512*512的logits，然后将GroundTrurhresize成512*512，然后求loss？vis的时候是不是将得到的mask（512*512）resize成1500*2000？

[2020-10-19 03:29] gxqnba commented on #498
那么paddleseg训练的时候是不是会将输入图片统一resize到一个分辨率，得到512-512的mask，然后将GroundTruth也rezie到一个分辨率，最后用mask和resize后的GroundTruth计算loss？利用vis.py进行预测的时候，是不是将得到的512-512mask .resize到输入图像大小？

[2020-10-19 03:38] LutaoChu commented on #496
请在"/home/aistudio/PaddleSeg/pdseg/reader.py" line 169 将load_image函数替换为下面的代码，重新运行试试
[code]

[2020-10-19 03:53] LutaoChu commented on #495
你好，loss.py中的multi_dice_loss不是多类别的意思，是指多路损失函数的意思，主要适配ICNet。
多分类的dice loss已列入我们的开发计划中，敬请期待！

[2020-10-19 03:57] LutaoChu commented on #478
是的，每个类别按行数的顺序依次对应标注图片的像素值0,1,2...

[2020-10-19 06:50] LutaoChu commented on #482
你可以使用这几个API
[code]
我们也在准备开发统一设定seed的接口，敬请期待！

[2020-10-19 08:19] GinkgoX opened #502 "paddle对自己设计和改进的Unet如何进行单元测试"
您好，请问如何对PaddleSeg/pdseg/models/modeling/unet.py进行模型测试和验证呢？

[2020-10-20 01:05] skywalk163 commented on #496
非常感谢，问题解决了！

[2020-10-20 01:05] #496 closed, assigned to nobody

[2020-10-20 02:19] wuyefeilin commented on #459
麻烦提供一下你的运行命令和日志

[2020-10-20 02:25] wuyefeilin commented on #498
在训练的时候经过数据增强后会得到大小一致的图像和ground truth。利用vis.py会根据所选取的数据增强方法恢复回原始的图像大小

[2020-10-20 02:44] gxqnba commented on #498
那这样来回resize会不会造成精度损失啊？

[2020-10-20 02:49] Charlie-Wilson0211 opened #504 "2020 CCF BDCI: 遥感影像地块分割baseline 默认配置未按文件更新"
2020 CCF BDCI: 遥感影像地块分割baseline中运行，数据集已经配置好，数据核验时如下

aistudio@jupyter-134162-1125032:~/work/PaddleSeg$ python pdseg/check.py --cfg ./unet.yaml
Traceback (most recent call last):
  File "pdseg/check.py", line 657, in <module>
    main(args)
  File "pdseg/check.py", line 627, in main
    cfg.check_and_infer()
  File "/home/aistudio/work/PaddleSeg/pdseg/utils/collect.py", line 120, in check_and_infer

[2020-10-20 03:01] Charlie-Wilson0211 commented on #504
在check.py中加入print(cfg.DATASET.DATA_DIR,cfg.DATASET.TRAIN_FILE_LIST,cfg.DATASET.VAL_FILE_LIST,cfg.DATASET.TEST_FILE_LIST)

输出：
./dataset/rs_data ./dataset/rs_data/train_list.txt ./dataset/rs_data/val_list.txt ./dataset/cityscapes/test.list

[2020-10-20 03:04] #504 closed, assigned to nobody

[2020-10-20 04:42] wuyefeilin commented on #498
具体的可以参考数据增强这一章节，https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.6.0/docs/data_aug.md

[2020-10-20 09:42] nepeplwu commented on #497
@wstchhwp
* 学习率只给了三种，paddleseg只封装了三种吗
是的

* 优化算法是Adam,sgd两种，只封装了两种嘛
是的

* 一下是运行时产生的，有些配置你给的链接里没有
有些配置确实在文档里面缺失了，我们后续会补充上，目前主要是哪个配置不清楚用途？

[2020-10-21 07:04] wstchhwp commented on #497
@nepeplwu
暂时都看懂配置了，希望更新paadleseg由动态图实现，这样就可以改源码了，谢谢！

[2020-10-21 12:38] gxqnba commented on #498
好的，谢谢解疑。

[2020-10-21 12:55] abanger opened #507 "paddle.fluid.install_check.run_check() 出错"
root@test:~# export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/TensorRT/lib
root@test:~# python3
Python 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Running Verify Fluid Program ...
W1021 12:53:05.700925 19797 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.0, Runtime API Ve

[2020-10-21 13:39] abanger commented on #507
os.environ['CUDA_VISIBLE_DEVICES'] = '0'

[2020-10-21 14:39] liu824 opened #508 "Error: Blocking queue is killed because the data reader raises an exception"
eval时报错，使用deeplabv3p_xception65_optic训练预测无错误，使用deeplabv3p_xception65_cityscapes训练无错误，但eval出错。
配置如下：
EVAL_CROP_SIZE: (2049, 1025) # (width, height), for unpadding rangescaling and stepscaling
TRAIN_CROP_SIZE: (769, 769) # (width, height), for unpadding rangescaling and stepscaling
AUG:
    AUG_METHOD: "stepscaling" # choice unpadding rangescaling and stepscaling
    FIX_RESIZE_SIZE: (2048, 1024) #

[2020-10-21 15:38] pengqianli opened #509 "请问，所有预训练模型的mean和std都是默认0.5吗？为何不给出预训练模型对应的归一化参数呢？"

[2020-10-22 07:11] nepeplwu commented on #509
@pengqianli ，mean和std对于最终训练结果影响很小，直接设置为0.5即可，只要保证预测时归一化所用的mean和std与训练保持一致即可

[2020-10-22 07:12] wuyefeilin commented on #508
NUM_CLASSES: 20， cityscape数据集类别数是19，
另外，确保一下你的数据集路径是否正确

[2020-10-22 07:13] nepeplwu commented on #502
@GinkgoX ，你说的是模型效果的验证还是接口的单测？如果是单测，可以直接参考网上的python单测教程，如果是模型效果验证，可以参考[使用教程](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.6.0/docs/usage.md)，跑下训练和评估流程

[2020-10-22 07:15] nepeplwu commented on #497
@wstchhwp 感谢关注，动态图版本的PaddleSeg已经在开发中了，将会在0.7.0版本中作为体验功能开放出来

[2020-10-22 07:15] liu824 commented on #508
我用的是另外一个数据集，里边总共19个类别，加上背景20个

[2020-10-22 07:23] wuyefeilin commented on #508
你运行pdseg/check.py 检查一下数据集是否正确

[2020-10-22 07:31] liu824 commented on #508
路径应该没错，我运行之后出问题的地方：
Doing max image size statistics:
2020-10-22 15:27:17,570-INFO: max width and max height of images are (1920,1080)
max width and max height of images are (1920,1080)
2020-10-22 15:27:17,570-INFO:
NOT PASS EVAL_CROP_SIZE check

NOT PASS EVAL_CROP_SIZE check
2020-10-22 15:27:17,570-INFO: EVAL_CROP_SIZE[1]: 1025 should >= max height of images 1080!
EVAL_CROP_SIZE[1]: 1025 should >=

[2020-10-22 07:40] liu824 commented on #508
好了，可以eval了

[2020-10-23 11:08] pengqianli commented on #509
好的，谢谢！

[2020-10-23 11:15] #509 closed, assigned to nepeplwu

[2020-10-23 11:15] #499 closed, assigned to nepeplwu

[2020-10-24 00:27] foreverseer opened #514 "ERROR: Profiler is deactivated, and no profiling report will be generated"
完整报错信息

I1024 07:54:51.418932 12372 analysis_predictor.cc:138] Profiler is deactivated, and no profiling report will be generated.
I1024 07:54:51.434559 12372 analysis_predictor.cc:875] MODEL VERSION: 1.8.5
I1024 07:54:51.434559 12372 analysis_predictor.cc:877] PREDICTOR VERSION: 1.8.5
e[1me[35m--- Running analysis [ir_graph_build_pass]e[0m
e[1me[35m--- Running analysis [ir_graph_clean_pass]e[0m
e

[2020-10-24 02:23] pengqianli opened #515 "关于OCRNet的一些问题"
您好，关于OCRNet我有一些疑问。
1、已找到答案
2、已找到答案
3、ocrnet的yaml配置中的FREEZE部分参数的作用是什么？
谢谢。

[2020-10-24 14:36] shuhan666 commented on #308
您好，我就我想问问咱们显卡编号是怎么设置的呀，集成显卡能用吗，要是实在不行我可能得放弃了（对不起麻烦你了）

[2020-10-25 07:59] w867066886 commented on #298
遥感分割不能实现jpg的吗，需要转换成tiff吗

[2020-10-25 10:10] TuoniTuoni opened #516 "如何修改能将vis.py的输出结果为单通道灰度图？"
![paddleseg](https://user-images.githubusercontent.com/18210024/97104259-5e4b8580-16ed-11eb-8429-d55642b96d41.PNG)
这样操作之后还是不行呀

[2020-10-25 10:11] TuoniTuoni commented on #516
![paddleseg](https://user-images.githubusercontent.com/18210024/97104277-876c1600-16ed-11eb-8535-62ba28883d9e.PNG)

[2020-10-25 10:14] TuoniTuoni commented on #516
图片怎么显示不出来，其实就是如下修改了一下vis.py,但是输出的还是彩色分割png
if grt is not None:
                    grt = grt[0:valid_shape[0], 0:valid_shape[1]]
                    grt_pil = PILImage.fromarray(grt.astype(np.uint8), mode='P')
                    #grt_pil.putpalette(color_map)
                    grt_pil = grt_pil.resize((org_shape[1], org_shape[0]))
                    #grt = np.array(grt_pil.convert("RGB"))

[2020-10-26 02:17] wuyefeilin commented on #514
![image](https://user-images.githubusercontent.com/30919197/97127316-3f440680-1774-11eb-814c-258e611c6c80.png)
![image](https://user-images.githubusercontent.com/30919197/97127352-5551c700-1774-11eb-970f-4b6b30a98ded.png)
按照提示，是你的传回到deeplab进行concat的两个tensoreshape不一致导致的

[2020-10-26 02:21] wuyefeilin commented on #515
FREEZE部分参数的作用是在导出模型时使用的，训练评估的时候并不起作用

[2020-10-26 02:30] wuyefeilin commented on #516
你改错地方了，https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/pdseg/vis.py#L165 这个地方你修改为你想要的格式。 这个是vdl 可视化使用的

[2020-10-26 02:46] HOLLIZHAO commented on #298
jpg格式也是可以的。 可以把jpg统一转成npy就行了。

[2020-10-26 06:47] ChengYi1996 commented on #465
Traceback (most recent call last):
  File "pdseg/train.py", line 466, in <module>
    main(args)
  File "pdseg/train.py", line 453, in main
    train(cfg)
  File "pdseg/train.py", line 237, in train
    train_prog, startup_prog, phase=ModelPhase.TRAIN)
  File "/home/aistudio/work/PaddleSeg-0.6.0/pdseg/models/model_builder.py", line 259, in build_model
    decayed_lr = optimizer.optimise(avg_loss)

[2020-10-26 06:48] ChengYi1996 commented on #465
Traceback (most recent call last):
  File "pdseg/train.py", line 466, in <module>
    main(args)
  File "pdseg/train.py", line 453, in main
    train(cfg)
  File "pdseg/train.py", line 237, in train
    train_prog, startup_prog, phase=ModelPhase.TRAIN)
  File "/home/aistudio/work/PaddleSeg-0.6.0/pdseg/models/model_builder.py", line 259, in build_model
    decayed_lr = optimizer.optimise(avg_loss)

[2020-10-26 06:49] ChengYi1996 commented on #465
@nepeplwu ,Traceback (most recent call last):
  File "pdseg/train.py", line 466, in <module>
    main(args)
  File "pdseg/train.py", line 453, in main
    train(cfg)
  File "pdseg/train.py", line 237, in train
    train_prog, startup_prog, phase=ModelPhase.TRAIN)
  File "/home/aistudio/work/PaddleSeg-0.6.0/pdseg/models/model_builder.py", line 259, in build_model
    decayed_lr = optimizer.optimise

[2020-10-26 06:52] ChengYi1996 commented on #465
@nepeplwu
同样的问题， aistudio项目地址: https://aistudio.baidu.com/aistudio/projectdetail/1114116
运行命令
cd work/PaddleSeg-0.6.0 \
python pdseg/train.py --cfg configs/ocrnet_w18_bn.yaml --use_gpu --do_eval MODEL.FP16 True

[2020-10-26 09:59] cocolord commented on #504
你好，这个问题后来有解决吗

[2020-10-26 14:03] abanger commented on #507
发现还有问题,重新发到: https://github.com/PaddlePaddle/Paddle/issues/28258

[2020-10-27 01:01] abanger commented on #507
运行train.py也出错，但能正常运行
python pdseg/train.py --use_gpu --cfg  a.yaml

Use multi-thread reader

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::

[2020-10-27 02:28] wuyefeilin commented on #507
初步看是版本的问题， 你的cudnn， cuda和paddle版本是多少

[2020-10-27 02:31] nepeplwu commented on #465
@ChengYi1996 你的项目没有公开，我这边无法打开

[2020-10-27 02:39] ChengYi1996 commented on #465
@nepeplwu 项目已经公开。

[2020-10-27 02:46] liguoyu666 opened #521 "多卡训练的batchsize是config里设置的值，还是需要该值乘以显卡数"
我用４张显卡训练，发现设置的值乘以单个epoch的step数就约等于图片总数了

[2020-10-27 03:25] liguoyu666 commented on #521
还是说多卡训练的时候，单个epoch内，每张显卡上都要把所有图片跑一遍？我个人理解的多卡训练，单个epoch内，是把图片按数量平分在每张显卡上的。

[2020-10-27 03:32] wuyefeilin commented on #521
静态图里面，多卡训练的batchsize是config里设置的值

[2020-10-27 03:38] liguoyu666 commented on #521
谢谢解答，动态图里是设置的值乘以显卡数吗，即将发布的新版本好像就是换成动态图了吧

[2020-10-27 06:21] wuyefeilin commented on #521
是的

[2020-10-27 06:22] LutaoChu commented on #507
应该是你的cudnn版本不匹配，安装paddle时需要注意对应的cuda和cudnn版本

[2020-10-27 06:24] liguoyu666 commented on #521
谢谢！

[2020-10-27 06:24] #521 closed, assigned to nobody

[2020-10-27 06:34] wstchhwp opened #522 "关于yaml文件配置的一些问题"
1.数据增强方式在配置文件中，改变以后是训练集和其label一起都做出相应的改变了吗？
# **************************数据增强配置******************************
AUG:
    AUG_METHOD: "unpadding"
    FIX_RESIZE_SIZE: (256, 256)
    # # 图像镜像左右翻转
    # MIRROR: True
2.比如想使用OCRnet+Resnet101的搭配，以下的MODEL怎么改？
# **********************  预训练模型配置*******************************
MODEL:
    MODEL_NAME: "ocrnet"
    DEFAULT_NORM_TYPE: "bn"
    HRNET:
        STAGE2

[2020-10-27 06:43] iceriver97 opened #523 "使用Lovasz loss 训练时出错"
训练一段时间之后突然循环报错以下信息（数据集已经通过脚本校验没有问题）：
[code]
配置文件如下：
[code]

[2020-10-27 09:00] abanger commented on #507
PaddlePaddle 1.8.5
GeForce RTX 2080 ti
Cuda compilation tools, release 9.0, V9.0.176 和CUDNN7.6
Ubuntu 18.04

pip3 install paddlepaddle-gpu==1.8.5.post97

按要求版本安装了。
能正常运行：python pdseg/train.py --use_gpu --cfg a.yaml，出错，但能运行。
不能正常运行：python pdseg/vis.py --use_gpu --cfg a.yaml，出错，不能运行。

[2020-10-27 09:13] sunnyhuang731 opened #525 "语义分割打卡7日营：单张图像预测出现随机结果bug"
dummy_data数据集50张图像训练出来的deelpab模型，每次检查加载模型的参数都一样，每次预测的原图一样时，会出现不一样的预测结果，这是bug项目的链接[https://aistudio.baidu.com/aistudio/projectdetail/1161160?shared=1](url)

[2020-10-27 11:57] wuyefeilin commented on #522
是的， label的变化会同步进行

[2020-10-27 13:22] knightyxp opened #526 "AI studio没法安装tensor RT怎么办啊：AttributeError: module 'paddle' has no attribute 'enable_static'"
AI studio没法安装tensor RT怎么办啊
想采用hrnet-ocr进行其他数据集的分割预测
出现如下报错：
TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvrtc.so.11.0: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if TensorRT is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure TensorRT dynamic li

[2020-10-27 13:30] LutaoChu commented on #507
运行一下
[code]
3个运行结果贴出来看一下

[2020-10-27 14:09] abanger commented on #507
root@test:~# cat /usr/local/cuda/version.txt
CUDA Version 9.0.176

root@test:~# nvidia-smi
Tue Oct 27 14:06:12 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 410.57                 Driver Version: 410.57                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id

[2020-10-27 14:13] allarobot opened #527 "希望添加每个训练step的开始时间"
现在只有在最开始的时候，才有一个时间戳，中间过程没有时间显示。

![issue_1](https://user-images.githubusercontent.com/14209812/97313571-c04cec00-18a1-11eb-841c-cf29eb178c4a.PNG)

![image](https://user-images.githubusercontent.com/14209812/97313680-e07cab00-18a1-11eb-8560-1dc7ebd41878.png)

[2020-10-27 14:32] botaoye opened #528 "关于预训练模型"
你好。我在使用提供的预训练模型的时候，发现预训练模型没有提供训练时的图像预处理的信息。比如，我想要使用hrnet_w64_bn_imagenet 这一预训练模型。我想要只想到在imagenet预训练的时候的输入图像通道顺序（rgb还是bgr）以及预训练时图像有没有除以255。由于这些信息可能影响训练的模型效果，所以，想要咨询一下有没有提供这些信息，只是我没有找到？要是没有的话，请问可以不可以告知一下这些数据？谢谢。

[2020-10-28 02:27] shinianzhihou commented on #384
请问这个问题最后解决了吗，因为我最近训练的时候也遇到了这个问题

[2020-10-28 03:19] LutaoChu commented on #507
试试用conda安装，新建一个conda环境
[code]

还是不行的话建议去飞桨官方技术交流群问问
(QQ群号:703252161)

[2020-10-28 03:35] abanger commented on #507
群答案？

[2020-10-28 06:14] #481 closed, assigned to LutaoChu

[2020-10-28 11:14] LutaoChu commented on #507
什么意思？

[2020-10-28 11:17] LutaoChu commented on #507
试了一下，它的意思是去加新群 1108045677

[2020-10-29 00:49] abanger commented on #507
Cuda 升级为 release 10.1, V10.1.243，正常。

[2020-10-29 00:49] #507 closed, assigned to LutaoChu

[2020-10-29 03:24] nepeplwu commented on #526
@knightyxp 完整的报错堆栈麻烦贴下

[2020-10-29 03:39] nepeplwu commented on #527
@Jay9z 感谢反馈，目前动态图版本的PaddleSeg已经支持打印每个step的时间戳，欢迎试用：https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.7.0/dygraph

[2020-10-29 06:22] wuyefeilin commented on #528
imagenet数据集的预训练模型，是从PaddleClas直接拿过来的，具体模型的配置可以到其repo查看相关日志。像hrent_64_bn_imagenet是采用rgb的训练模式，预训练时图像是有除以255的

[2020-10-29 06:53] wuyefeilin commented on #525
提示项目不存在， 你可以试试拉一下release/0.7.0分支最新的代码看看是否还是一样

[2020-10-29 07:04] botaoye commented on #528
好的，明白了。多谢回复。

[2020-10-29 07:04] #528 closed, assigned to wuyefeilin

[2020-10-29 08:00] liguoyu666 opened #530 "paddle2.0版本padseg动态图问题"
１、在动态图的配置文件里没有发现卡间同步BN，是没加还是放在了其他地方？

２、我本地安装paddle2.0后，不能调用GPU，
`W1029 15:27:24.594763  9948 init.cc:157] Compiled with WITH_GPU, but no GPU found in runtime.
/home/lgy/anaconda3/envs/paddle2.0/lib/python3.7/site-packages/paddle/fluid/framework.py:295: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  "You are using GPU

[2020-10-29 08:05] liguoyu666 commented on #526
我也报了次这个错，好像把这行代码注释掉不影响

[2020-10-29 08:24] michaelowenliu commented on #530
@liguoyu666 Hi, thanks for your feedback. The dynamic version of PaddleSeg: https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.7.0/dygraph

[2020-10-29 08:34] liguoyu666 commented on #530
1,3问题用的是1.8版本的padseg，第２个问题用的是你给的这个链接里的dygraph下的padseg

[2020-10-29 10:08] wuyefeilin commented on #530
1. 动态图是直接调用SyncBatchNorm的，不需要设置
2. 查看你的cuda路径是否设置正确
3. 使用dynamic效果不一定会有提升，你可以直接传入一个与类别数相同的list来设置权重

动态图位于release/v0.7.0分支dygraph目录下。使用paddlepaddle-gpu2.0.0rc版本运行

[2020-10-29 12:42] zhuang-hao-ming commented on #509
@nepeplwu  你好，请问一下，paddleseg提供的快速入门程序，好像没有在参数中设置归一化的mean和std，是不是它已经在内部进行了归一化

[2020-10-30 01:12] liguoyu666 commented on #530
安装的就是这个版本，cuda路径没问题，paddle1.8就能正常使用ｇｐｕ，打印出来的gpu_nums为１，但是获取
device的时候，就是cpu了，代码如下：

`import paddle
from paddle.fluid import framework

gpu_nums = paddle.distributed.ParallelEnv().nranks
print(gpu_nums)
print(paddle.get_device())
print(framework._current_expected_place())`

`1
cpu
CPUPlace`

[2020-10-30 02:23] nepeplwu commented on #509
@zhuang-hao-ming ，是的，默认使用`[0.5, 0.5, 0.5]`作为std和mean

[2020-10-30 02:45] wuyefeilin commented on #530
paddle.distributed.ParallelEnv().nranks 这个反馈的是运行的进程数，如果是在gpu环境下运行，可以反应出gpu的数量，因为在多卡情况下运行，一个gpu对应一个进程。

paddle.get_device()的输出才是真正的反应出其运行的环境，输出cpu,说明是在cpu条件下运行的。gpu没有被正常调用，请查看一下你gpu环境是否配置正确

[2020-10-30 11:58] LutaoChu commented on #523
可否贴一下报错信息中的python stack

[2020-10-31 06:09] Andy1621 commented on #465
和@ChengYi1996 同样的问题，跑的遥感影像分割baseline（https://aistudio.baidu.com/aistudio/projectdetail/1090790 ），直接设置fp16为True报相同错误

[2020-10-31 09:47] deep-practice opened #532 "AttributeError: module 'paddleseg' has no attribute 'cvlibs'"
按照动态图ReadMe里面的步骤操作，出现了这个错误

[2020-10-31 16:51] shuhan666 commented on #308
对不起我想问一下已经跑完的模型还占显存吗？我想试试其他模型但是突然显示显存不够了，报错大概是这个
 fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU.

[2020-11-01 00:19] abanger opened #533 "训练存模型时MemoryError"
# 运行hrnet，训练存模型时MemoryError

- 约运行epoch=20~60之间出错，未出错前正常
`
  main(args)
  File "pdseg/train.py", line 453, in main
    train(cfg)
  File "pdseg/train.py", line 401, in train
    ckpt_dir = save_checkpoint(train_prog, epoch)
  File "pdseg/train.py", line 129, in save_checkpoint
    fluid.save(program, os.path.join(ckpt_dir, 'model'))
  File "/usr/local/lib/python3.6/dist-packages/paddle/fluid/io.py

[2020-11-01 02:26] shuhan666 opened #534 "在尝试第二种模型的时候报了这个错：W1101 09:57:19.773896 3228 build_strategy.cc:170] fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU"
之前使用的是unet，昨晚想试试其他的，但是就报这个错了，不知道如何解决，麻烦啦

[2020-11-01 02:35] chliang opened #535 "`ANN, BiSeNetV2, DANet, , GCNet`这些新模型静态图的paddleseg能用么"
RT

[2020-11-02 01:22] michaelowenliu commented on #535
@chliang Sorry, they are only available in the dynamic graph.

[2020-11-02 01:24] michaelowenliu commented on #532
@deep-practice Hi, did you set PYTHONPATH?

[2020-11-02 02:19] nepeplwu commented on #526
@liguoyu666 @knightyxp 这个问题是因为paddle版本较低，不存在`enable_static`这个接口导致，可以直接删除PaddleSeg中的这行代码

[2020-11-02 02:20] nepeplwu commented on #534
@shuhan666 ，麻烦贴下完整的堆栈

[2020-11-02 02:20] nepeplwu commented on #533
@abanger 麻烦贴下完整的堆栈

[2020-11-02 03:25] liguoyu666 commented on #530
检查出来了，是驱动版本430过低导致的，升级至440就正常了，不过有一说一，paddle2.0要求的驱动也太高了啊，我其他框架用430驱动都没问题

[2020-11-02 03:26] #530 closed, assigned to michaelowenliu

[2020-11-02 05:05] #535 closed, assigned to michaelowenliu

[2020-11-02 06:04] deep-practice commented on #532
Yes,just follow the readme.

[2020-11-02 06:16] deep-practice opened #536 "ACE2P项目里面的模型是通过哪种方式导出来的呢？"
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.7.0/contrib/ACE2P
是pdseg/export_model.py还是paddleserver的方式？

[2020-11-02 07:06] shuhan666 commented on #534
您是说这个吗？（对不起我啥也不太懂，很抱歉）

2020-11-02 14:54:04,619-INFO: If regularizer of a Parameter has been set by 'fluid.ParamAttr' or 'fluid.WeightNormParamAttr' already. The Regularization[L2Decay, regularization_coeff=0.000040] in Optimizer will
 not take effect, and it will only be applied to other Parameters!
W1102 14:54:05.734200  4536 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Dr

[2020-11-02 08:27] lytk01 opened #537 "when I was training with multi-cards ,it occured error!"
when I was training with multi-cards ,it occurs error. The error is:
[code]
os:ubuntu 18.04
paddle:1.8.5
paddle_seg:0.7.0

[2020-11-02 09:46] michaelowenliu commented on #532
@deep-practice hi, could you provide the error log?

[2020-11-02 09:48] liguoyu666 opened #540 "padseg的损失计算"
１、yml文件里：
`loss:
  types:
    - type: CrossEntropyLoss
  coef: [1]`
这个coef是什么意思，代码里https://github.com/PaddlePaddle/PaddleSeg/blob/b9c4505398a4ff2a7009dc20f2987ba84c4b8580/dygraph/paddleseg/core/train.py#L34
的损失计算方式怎么理解，直接用个交叉熵不行吗？
２、我使用多卡训练，下面这几行是否需要取消注释：
https://github.com/PaddlePaddle/PaddleSeg/blob/062cebfb4baf8bae3a6fb90c03fbd780ba61a7da/dygraph/paddleseg/core/train.py#L117
https://github.com/

[2020-11-02 11:24] michaelowenliu commented on #540
@liguoyu666 Hi,

1. The coef weighs the multiple losses.

2. No, just keep it. The codes in comments were supported in the last Paddle version, and they would be deleted soon.

[2020-11-02 12:21] nepeplwu commented on #465
@Andy1621 @ChengYi1996 @pengqianli 感谢各位的反馈，这个问题经过排查，发现是paddle混合精度训练模块的一个bug，该问题正在修复中，后续会随着paddle的新版本发布。

[2020-11-02 12:31] nepeplwu commented on #536
@deep-practice 该模型是使用save_inference_model保存下来的

[2020-11-02 15:28] shuhan666 opened #543 "如何用labelme得到标注后的灰度图"
labelme标注出来的图像是红黑的，我想要灰度图要怎么办呢（我找了半天没找到在哪里改）

[2020-11-03 00:51] abanger commented on #533
今天发现什么模型都可以出错
Traceback (most recent call last):
  File "pdseg/train.py", line 466, in <module>
    main(args)
  File "pdseg/train.py", line 453, in main
    train(cfg)
  File "pdseg/train.py", line 401, in train
    ckpt_dir = save_checkpoint(train_prog, epoch)
  File "pdseg/train.py", line 129, in save_checkpoint
    fluid.save(program, os.path.join(ckpt_dir, 'model'))
  File "/usr/local/lib/pyt

[2020-11-03 01:12] #536 closed, assigned to nobody

[2020-11-03 01:12] liguoyu666 commented on #540
Thank you

[2020-11-03 02:50] choimroc opened #544 "AUG中的TO_RGB的作用"
你好，请问进行数据增广时的TO_RGB参数有何作用呢？这个是在`deeplabv3p_resnet50_vd_cityscapes.yaml`中看到的。

[2020-11-03 03:02] wuyefeilin commented on #308
集显用不了，得用独显。 没有显卡的话可以上AIStudio试试，上面提供免费的V100显卡算力， 16G显存。

[2020-11-03 03:04] wuyefeilin commented on #308
程序结束后会自动释放显存的，除非进程没有正常推出，这也是有可能。你显存比较小还是一个一个跑吧。跑完一个如果没有正常退出就手动kill一下

[2020-11-03 03:23] wuyefeilin commented on #544
三通道图像分为rgb和bgr两种格式，opencv读取的是bgr顺序，如果要转化成rgb可以通过将TO_RGB设置为True进行转换。

[2020-11-03 03:53] choimroc commented on #544
@wuyefeilin 感谢你的答复！我发现了一个问题，我train的时候，TO_RGB是True；然后我进行eval的时候，如果TO_RGB改为False，iou就会低一点（例如0.3）；如果TO_RGB为True，则iou会高一点（例如 0.6）；所以这个属性是会影响到eval吗？

[2020-11-03 04:24] MiraculousPower opened #545 "遥感影像地块分割baseline 配置/数据校验出错"
2020 CCF BDCI: 遥感影像地块分割baseline,在数据校验时报错。环境是aistudio。
运行命令
python pdseg/check.py --cfg ./unet.yaml

报错信息
Traceback (most recent call last):
  File "pdseg/check.py", line 657, in <module>
    main(args)
  File "pdseg/check.py", line 627, in main
    cfg.check_and_infer()
  File "/home/aistudio/PaddleSeg-release-v0.6.0/pdseg/utils/collect.py", line 120, in check_and_infer
    'utf-8').readlines()

[2020-11-03 04:31] #545 closed, assigned to nobody

[2020-11-03 06:16] wuyefeilin commented on #544
会的，train 和eval需要统一

[2020-11-03 06:16] nepeplwu commented on #534
@shuhan666 `fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU.`这个只是warning，不会影响训练

[2020-11-03 08:01] abanger commented on #533
可能是系统资源太紧张，先关了。要是有跳过机制更好。

[2020-11-03 08:01] #533 closed, assigned to nobody

[2020-11-03 08:22] lytk01 opened #546 "Hrnet with LOVASZ_SOFTMAX_LOSS error"
[code]
**Error message:**
[code]

[code]

[2020-11-03 09:12] lytk01 commented on #537
It's ok with paddle version 2.0rc.

[2020-11-03 09:21] lytk01 commented on #546
It is ok when I change the code in [lovasz_losses.py](https://github.com/PaddlePaddle/PaddleSeg/blob/9ec92a12b2e467b6fd17eefddad9b70da2a28ed4/pdseg/lovasz_losses.py#L161) from
[code]
to
[code]
,but I don't know it's correct.

[2020-11-03 11:45] nepeplwu commented on #537
@lytk01 We are very sorry about this, we have fixed this issue in the latest code.

[2020-11-03 14:41] shuhan666 commented on #534
我刚开始是报显存的不够的错，后来就直接警告完就结束运行了，我不太明白为啥我用cmd看显存是有的啊，但是就报错只有二十几m可用

[2020-11-03 16:24] Qingcsai commented on #495
期待

[2020-11-04 01:43] Charlie-Wilson0211 opened #548 "样本类数目"
CCF BDCI中训练
数据集样本类别数目为7，外加未标注
yaml文件中设置样本类数目为7，经训练，除了unet，deeplab、fast-scnn-pet、hrnet、训练后验证得到的第六个IOU全部为0，如下所示，请问是要把样本数目类别设置成8吗？如果不是，问题出在哪儿？
epoch 58:
[EVAL]#image=2919 acc=0.7806 IoU=0.3270
[EVAL]Category IoU: [0.0037 0.7376 0.6095 0.6840 0.0238 0.0000 0.2301]
[EVAL]Category Acc: [0.9298 0.7465 0.8857 0.8845 0.3000 0.0000 0.5866]
[EVAL]Kappa:0.6327

[2020-11-04 03:04] lyf6 opened #551 "win10 可视化一直卡在输出VisualDL 2.0.4的地方"

[2020-11-04 06:51] deep-practice opened #553 "静态图如何不固定shape导出模型呢？"

[2020-11-04 07:24] choimroc commented on #544
@wuyefeilin 谢谢你的耐心解答！

[2020-11-04 07:24] #544 closed, assigned to wuyefeilin

[2020-11-05 02:49] ShenYuhan commented on #551
您的启动方式是怎么样的，打开浏览器是否能够看到页面呢

[2020-11-05 02:50] lyf6 commented on #551
感谢您的回复，我已经找到问题了，是我的使用方法不对。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: ShenYuhan <notifications@github.com&gt;
发送时间: 2020年11月5日 10:49
收件人: PaddlePaddle/PaddleSeg <PaddleSeg@noreply.github.com&gt;
抄送: lyf6 <247820289@qq.com&gt;, Author <author@noreply.github.com&gt;
主题: 回复：[PaddlePaddle/PaddleSeg] win10 可视化一直卡在输出VisualDL 2.0.4的地方 (#551)

您的启动方式是怎么样的，打开浏览器是否能够看到页面呢

—
You are receiv

[2020-11-05 07:52] gxqnba opened #554 "在windows"

[2020-11-05 07:52] #554 closed, assigned to nobody

[2020-11-05 07:56] gxqnba opened #555 "在windows上使用vs2019进行cmake问题"
在模型导出以后，参照https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/deploy/cpp/docs/windows_vs2019_build.md
进行编译，使用cpu版本，报错如下：
![image](https://user-images.githubusercontent.com/61399616/98212884-370f7680-1f7f-11eb-85a5-9d90e057a6fc.png)
我的cmake设置如下：
![image](https://user-images.githubusercontent.com/61399616/98212993-61f9ca80-1f7f-11eb-9d95-c67713b0186f.png)

[2020-11-05 08:21] gxqnba commented on #555
去掉CMAKE_BUILD_TYPE后面的钩选之后，前两个错误没有出现了，就剩下第三个错误

[2020-11-05 15:14] choimroc opened #557 "使用deeplabv3p_xception65_cityscapes训练时，直接报错"
实验环境：
Windows 10 2004
Python 3.8
paddlepaddle-gpu==2.0.0rc0
PaddleSeg release 0.7.0
cuda 10.2
cudnn 7.6.5

[code]

`deeplabv3p_resnet50_vd_cityscapes`和`unet_optic`都是正常的

[2020-11-06 06:14] flyinggx opened #559 "paddleseg的预训练模型支持finetune吗？"
想利用deeplabv3+模型分割遥感图像，要用到xception65等预训练模型，但是这些预训练模型都是基于公开数据集的，想尝试finetune提高模型精度，但是找了一圈发现没有接口可以进行finetune，希望官方后台解答，敬谢！

[2020-11-06 06:26] Rayaction opened #560 "Paddle Seg可以使用多gpu并行吗?"
看文档没找到，issue好像也没人问，如果有，请问怎么操作？

[2020-11-06 07:59] Rayaction commented on #560
找到了

[2020-11-06 07:59] #560 closed, assigned to nobody

[2020-11-06 09:34] lyf6 opened #561 "能不能在参数设置里直接设置通道数，替换图像类型，这样就可以直接支持多通道的遥感数据了"

[2020-11-06 09:40] liguoyu666 opened #562 "deeplabv3p训练时内存占用特别高"
在AiStudio上用V100 32G的卡训练，模型为deeplabv3p_resnet50_vd_cityscapes，内存占用特别高，还是第一次遇到显存没占用完，内存反而溢出的，请问这种情况时候正常？
CPU：38.83%
内存：31.07GB/32GB
GPU：98%
显存：17.32GB/31.72GB

[2020-11-06 09:43] #540 closed, assigned to michaelowenliu

[2020-11-06 09:53] wuyefeilin commented on #561
pdseg里面只支持灰度图，rgb三通道图像和rgba四通道图像，不支持任意通道的要干图像。

如果要进行要干图像分割请参考：
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.7.0/contrib/RemoteSensing

[2020-11-06 16:05] choimroc commented on #546
@lytk01 I had the same problem , have your changes been verified?

[2020-11-06 18:03] liguoyu666 commented on #508
你好，请问怎么解决的，我也遇到了相同的问题，训练ok，eval就报这个错，数据没问题，用另外一个模型就能正常eval。
eval的crop_size我设定的和训练一样大，报错里也有提示crop_size要大于img_size，提示信息的img_sized的w,h都变大了一倍，本来应该一样大小的

[2020-11-07 01:52] liu824 commented on #508
根据报的错误改，我这是需要大于1080，我就把输入图片都改成大于这个数

[2020-11-07 02:11] gxqnba opened #564 "使用vs2019 编译paddleseg后，运行demo.exe报错不能读取config file ：deploy.yaml"
报错如下：

D:\Cmake_paddleseg\paddlepaddle-PaddleSeg-release-v0.7.0\PaddleSeg\deploy\out\Release>demo.exe --conf=D:\Cmake_paddleseg\freeze_model\deploy.yaml --input_dir=D:\Data\DataSet\crack\1
WARNING: Logging before InitGoogleLogging() is written to STDERR
F1107 10:07:00.807379 15320 seg_predictor.cpp:22] Fail to load config file: [D:\Cmake_paddleseg\freeze_model\deploy.yaml]
*** Check failure stack

[2020-11-07 08:33] 642721838 opened #565 "咨询"
老师您好，我的paddle是按装的windows GPU版本，而且GPU 是RTX3090，但是在paddleseg模型训练的时候GPU调用不起来，一直没有反应。请问应该怎么解决

[2020-11-07 11:28] liguoyu666 commented on #508
我图片和eval_crop_size一样大，设置大于图片size要是跑通了才离谱

[2020-11-07 11:29] liguoyu666 commented on #398
请问怎么解决的

[2020-11-07 12:21] ouroboros-phy commented on #398
就是按照上面降低版本

[2020-11-08 06:52] LOOKCC commented on #523
[code]

[2020-11-08 08:50] Rayaction commented on #565
咨询：RTX3090哪里买的多少钱哇，我也想买。RTX3080疯狂涨价，“但是在paddleseg模型训练的时候GPU调用不起来”--有没有export CUDA_VISIBLE_DEVICES=0

[2020-11-08 11:19] deep-practice commented on #532
![8](https://user-images.githubusercontent.com/54052915/98463616-587a9780-21f7-11eb-8e4a-e492563e1b68.jpg)

[2020-11-09 01:32] lyf6 commented on #561
请问遥感图像分割的这个可以直接用pdseg里面的导出和推断脚本来导出模型和做推断吗

[2020-11-09 02:23] 642721838 commented on #565
老师您好，我们也是刚刚才买的，通过电脑供应商采购的，不过现在3090京东好像降价了。另外一个问题就是我export CUDA_VISIBLE_DEVICES=0后提示我export是外部命令，不认，然后我百度了，说windows是set CUDA_VISIBLE_DEVICES=0，输入到是认了，但是GPU还是调用不起来

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"

[2020-11-09 02:27] #551 closed, assigned to nobody

[2020-11-09 02:29] nepeplwu commented on #534
@shuhan666 ，报错只有二十几m可用，是因为paddle已经分配掉部分显存，在继续申请的时候，发现显存不足，才报了相关提示，可以试试把batch_size调小看看

[2020-11-09 02:35] Rayaction opened #567 "无法加载pretrained model"
利用官方提供代码python pretrained_model/download_model.py unet_bn_coco下载的预训练模型
Downloading unet_coco_v3.tgz
[==================================================] 100.00%
Uncompress unet_coco_v3.tgz
[==================================================] 100.00%
Pretrained Model download success!
训练时
[SKIP] Shape of pretrained weight ./pretrained_model/unet_bn_coco//logit/weights doesn't match.(Pretrained: (21

[2020-11-09 02:39] Rayaction commented on #297
tif、img、png、npy--》img是包括jpg吗？

[2020-11-09 02:47] michaelowenliu commented on #532
@deep-practice Hi, thanks. Could you please provide the versions of python/paddle/OS? Then we can reproduce the issue easier.

[2020-11-09 02:48] Channingss commented on #564
@gxqnba 麻烦贴一下deploy.yaml的内容，应该是里面的配置出错了。

[2020-11-09 02:52] gxqnba commented on #564
DEPLOY:
        USE_GPU : 1
        USE_PR : 0
        MODEL_PATH : "D:/Cmake_paddleseg/freeze_model"
        MODEL_FILENAME : "__model__"
        PARAMS_FILENAME : "__params__"
        EVAL_CROP_SIZE : (512, 512)
        MEAN : [0.5, 0.5, 0.5]
        STD : [0.5, 0.5, 0.5]
        IMAGE_TYPE : "rgb"
        NUM_CLASSES : 2
        CHANNELS : 3
        PRE_PROCESSOR : "SegPreProcessor"
        PRE

[2020-11-09 02:55] gxqnba commented on #564
DEPLOY:
        USE_GPU : 1
        USE_PR : 0
        MODEL_PATH : "D:/Cmake_paddleseg/freeze_model"
        MODEL_FILENAME : "__model__"
        PARAMS_FILENAME : "__params__"
        EVAL_CROP_SIZE : (512, 512)
        MEAN : [0.5, 0.5, 0.5]
        STD : [0.5, 0.5, 0.5]
        IMAGE_TYPE : "rgb"
        NUM_CLASSES : 2
        CHANNELS : 3
        PRE_PROCESSOR : "SegPreProcessor"
        PRE

[2020-11-09 02:57] gxqnba commented on #564
粘贴的格式有问题，我放截图吧。
![image](https://user-images.githubusercontent.com/61399616/98495540-4ee64380-227a-11eb-9b4c-a66ef03d3062.png)

[2020-11-09 03:06] wuyefeilin commented on #508
麻烦你贴一下具体的报错信息， 以及运行pdseg/check.py的运行结果

[2020-11-09 03:08] wuyefeilin commented on #553
可以在导出模型时将image_shape的h和w维改成-1
![image](https://user-images.githubusercontent.com/30919197/98496127-d4b6be80-227b-11eb-9686-e6d9568ed1ea.png)

[2020-11-09 03:13] wuyefeilin commented on #548
未标注是指要忽略的像素还是背景类， 如果时背景类应该把类别数设置为8， 如果是要忽略的像素（忽略像素的标注一般用255表示）则类别数为7。你现在未标注的标签时什么？

[2020-11-09 03:15] Channingss commented on #564
@gxqnba 好的，直接把文件发给我吧？我这边看能否直接复现。

[2020-11-09 03:15] wuyefeilin commented on #562
查看一下是否是其他程序占用了内存。麻烦给一下运行前后的内存占用情况

[2020-11-09 03:18] wuyefeilin commented on #557
根据提示是cuda的问题， 你试一下用paddle1.8版本跑一下是否有问题

[2020-11-09 03:21] wuyefeilin commented on #565
你好，麻烦你贴一下具体错误。
另外你在安装完paddle的时候， 按照如下方式运行一下是否安装成功
![image](https://user-images.githubusercontent.com/30919197/98496947-bf429400-227d-11eb-9bad-63fcd1205eab.png)
具体安装教程请参考：https://www.paddlepaddle.org.cn/install/quick/zh/2.0rc-windows-pip

[2020-11-09 03:25] Rayaction commented on #565
可否看下我的问题，加载预训练模型出现shape不对，最新的issues

[2020-11-09 03:25] wuyefeilin commented on #567
因为类别数不一致，最后ligit的参数没有加载成功是正常的。

[2020-11-09 03:28] wuyefeilin commented on #561
如果通道数符合pdseg的要求，可以直接用pdseg直接训练导出和推断。用遥感图像分割训练，直接用pdseg导出的话应该会有问题的。

[2020-11-09 03:38] gxqnba commented on #564
我有试了一下，好像又可以了，真奇怪。麻烦您了！
另外想问一下，（1）我在编译生成的时候报错如下：
![image](https://user-images.githubusercontent.com/61399616/98497737-d71b1780-227f-11eb-9d7c-fc5c1d7ce234.png)

是不是把这句话注释掉就行了啊？会不会对预测造成什么不利影响？
![image](https://user-images.githubusercontent.com/61399616/98497800-147fa500-2280-11eb-8df6-06a13ee52de7.png)

[2020-11-09 03:42] Channingss commented on #564
@gxqnba 您是编译的时候报错了：
![image](https://user-images.githubusercontent.com/12471701/98497958-8821b200-2280-11eb-99a3-db94dd21f893.png)
然后注释掉了下面的代码，然后就不报错了吧？能成功run吗？
![image](https://user-images.githubusercontent.com/12471701/98498009-a4bdea00-2280-11eb-9d50-9f4c96206d34.png)

[2020-11-09 03:43] gxqnba commented on #564
可以run成功。

[2020-11-09 03:44] Channingss commented on #564
@gxqnba 好的，可以就行

[2020-11-09 03:46] liguoyu666 commented on #562
我是在AIstudio平台上训练deeplabv3p，AIStudio就只运行了训练代码，也没其他东西，版本是1.8静态图。
![2020-11-09 11-21-08屏幕截图](https://user-images.githubusercontent.com/47743761/98497017-ee590580-227d-11eb-8c8e-984b083405d4.png)
![2020-11-09 11-21-37屏幕截图](https://user-images.githubusercontent.com/47743761/98497027-f2852300-227d-11eb-937d-7264051b9e62.png)

另外：还有２个问题请教下：
我再次训练时LOSS使用["softmax_loss", "lovasz_softmax_loss"]，比只使用softmax_

[2020-11-09 03:51] gxqnba commented on #564
好的，谢谢了！

[2020-11-09 04:27] Rayaction commented on #567
了解了。thx!

[2020-11-09 04:27] #567 closed, assigned to wuyefeilin

[2020-11-09 05:33] deep-practice commented on #553
改为-1之后报错
File "/usr/local/lib/python3.6/dist-packages/paddle/fluid/layers/nn.py", line 8653, in image_resize
    "Each dimension size given in out_shape must be greater than 0."
AssertionError: Each dimension size given in out_shape must be greater than 0.

[2020-11-09 06:16] Rayaction commented on #567
因为类别数不一致，最后ligit的参数没有加载成功是正常的。想修改最后的分类数，但是from utils.load_model_utils import load_pretrained_weights没找到这个utils在哪。无法跳转，请问有什么方法修改吗

[2020-11-09 07:00] wuyefeilin commented on #562
1. 这是运行的内存消耗情况， 运行前的内存占用情况麻烦也给一下

3. 预测的时候 EVAL_CROP_SIZE必须比最大的宽和高大， 因为在eval的时候，是不能对图像进行crop的。

[2020-11-09 07:08] LutaoChu commented on #562
“我再次训练时LOSS使用["softmax_loss", "lovasz_softmax_loss"]，比只使用softmax_loss训练时长翻了一倍，其余参数都没有改变，请问是否正常？”

-------------------------------
这是已知的问题，当图像尺寸和batch size较大的时候，静态图版本的lovasz loss耗时较多，减少图像尺寸和batch size可以缓解这个情况。
动态图版本的lovasz loss正在开发计划中，性能会有大幅提升，敬请期待！

[2020-11-09 08:55] liguoyu666 commented on #562
1.运行前：
![2020-11-09 15-26-32屏幕截图](https://user-images.githubusercontent.com/47743761/98513199-79e48d80-22a2-11eb-8186-1282d85f1500.png)
![2020-11-09 15-34-21屏幕截图](https://user-images.githubusercontent.com/47743761/98513215-7ea94180-22a2-11eb-8348-9631405e1008.png)
运行后：
![2020-11-09 15-42-47屏幕截图](https://user-images.githubusercontent.com/47743761/98513235-849f2280-22a2-11eb-9876-be546fd77e71.png)
!

[2020-11-09 09:06] liguoyu666 commented on #562
谢谢

[2020-11-09 09:13] wuyefeilin commented on #562
感谢你的反馈， 我们在动态图版本中已经进行了改善。

其他模型内存占用也会出现相似的情况吗， 还是只有deeplabv3p_resnet50_vd_cityscapes存在这种情况？

[2020-11-09 09:14] LutaoChu commented on #297
img是单独的一种格式，不包括jpg。
想读jpg可以用opencv或PIL，在read_img中添加几行代码即可
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/contrib/RemoteSensing/readers/reader.py

[2020-11-09 09:18] LutaoChu commented on #297
不过注意PIL库和opencv库在读取图片上的差异：
opencv：图片的通道顺序为BGR
PIL：通道顺序为RGB

[2020-11-09 09:21] liguoyu666 commented on #562
目前我用了pdseg的unet和deeplabv3p，unet训练时我把batch_size加到显存占用满，也没发生内存溢出的情况，具体多少就没注意了，而deeplabv3p就是图上所示，显存占用一半左右，内存就快爆了。

[2020-11-09 09:26] wuyefeilin commented on #562
unet 和deeplab的batch_size 一样吗？

另外你的项目存一个版本， 地址给一下，我fork一下复现一下你的情况

[2020-11-09 09:54] liguoyu666 commented on #562
我使用的是遥感影像地块分割baseline，[https://aistudio.baidu.com/aistudio/projectdetail/1090790](url)
unet和deeplabv3的batch_size都设置为80，用的32G显存的V100。我项目里文件数太多保存不了版本，解压后的数据集在里面

[2020-11-09 11:52] Rayaction commented on #297
也就是说我需要再添加一个cvtcolor转换一下是吗

[2020-11-10 01:42] 642721838 commented on #565
老师您好，我安装paddle完了验证的时候一直是正在验证，没有出现安装成功的提示，请问怎么解决啊。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月9日(星期一) 中午11:2

[2020-11-10 02:40] LutaoChu commented on #297
看你是否需要进行转换了，需要的话就进行cvtcolor转换

[2020-11-10 07:18] Rayaction commented on #297
我在reader部分加了这个判断后的操作
elif ext == '.jpg':
        im_data = cv2.imread(img_path)
        im_data = cv2.cvtColor(im_data, cv2.COLOR_BGR2RGB)
        print(im_data.shape)
        return np.transpose(im_data, [2, 0, 1]).astype(np.float32)
但是搞完也还是不对.paddle输入需要是chw 还是hwc
这个错:
ValueError: operands could not be broadcast together with shapes (1000,1000,256) (3,)

[2020-11-10 07:53] sadknight0001 opened #572 "Inference speed difference on mobile device"
Hi
I just tested the pretrained model and custom model (deeolabv3+, mobilenet V2, more classes) deployed on mobile device, it seems two-class model is much faster than multi-class model(about two times). Is it normal? Is there anything that can speed up the inference, like pruning or other tricks?
Thanks in advance

[2020-11-10 09:11] Rayaction opened #574 "DeepLabv3+模型使用教程下载的模型无法加载"
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/tutorial/finetune_deeplabv3plus.md
这个里面用python pretrained_model/download_model.py deeplabv3p_xception65_bn_coco
下载下来的模型文件夹目录结构好像不能加载，
跑train的时候提示SKIP] Pretrained weight ./pretrained_model/deeplab_mobilenet_x1_0_coco/xception_65/entry_flow/conv1/weights doesn't exist
而下载下来的目录结构没有没有文件夹，都是一个个的conv1_1_bn_mean这种的文件，加载的时候就找不到。请问怎么解决？

[2020-11-10 09:34] LutaoChu commented on #297
paddle输入是nchw
去掉np.transpose操作试一下

[2020-11-10 10:45] sxlyiyiyi opened #575 "训练时图片读取顺序"
训练读取图片时是按照固定的顺序，还是每个epoch随机打乱

[2020-11-10 12:19] Rayaction commented on #297
貌似可行，但是我试了--train_batch_size 32到1都会提示Out of memory error on GPU 0. Cannot allocate 7.629395GB memory on GPU 0, available memory is only 5.876587GB.类似的超内存的问题，我的gpu是v100 32g的。。
bs设置为1的话又说不能allocate 100多兆，这是为啥。也给他了visible cuda devices

[2020-11-10 12:37] LutaoChu commented on #297
是这样的，框架不是一次性allocate 32g的显存，而是多次allocate所需的显存。所以allocate 100多兆报错是正常的，说明最后申请的时候显存不够100多兆了

你的模型是不是太大了，或者图像尺寸太大了？

[2020-11-10 12:50] Rayaction commented on #297
用的就是那个remote sensing的代码，图像大小256256的，模型是unet，应该不会吧

[2020-11-10 13:12] Rayaction commented on #297
https://github.com/PaddlePaddle/PaddleSeg/issues/574
这个能帮我看下吗，我下载下来的模型好像目录文件不太对的样子
加载时显示没找到

[2020-11-10 15:18] deep-practice commented on #532
OS:Ubuntu18.04
python:3.6.9
paddle:2.0rc
@michaelowenliu

[2020-11-11 02:24] nepeplwu commented on #574
@Rayaction ` ./pretrained_model/deeplab_mobilenet_x1_0_coco/xception_65/entry_flow/conv1/weights`，麻烦检查下配置中的TRAIN.PRETRAINED_MODEL_DIR是否配置错误了

[2020-11-11 02:28] Rayaction commented on #574
yaml的配置：
PRETRAINED_MODEL_DIR: "./pretrained_model/deeplab_mobilenet_x1_0_coco"

下载下来的位置：
PaddleSeg/pretrained_model/deeplab_mobilenet_x1_0_coco

因为train在PaddleSeg下，所以./不会错。这个之前load unet成功过
主要的问题是，貌似多了点前缀dir，down下来的模型文件夹里没有什么目录层级

[2020-11-11 02:29] nepeplwu commented on #575
@sxlyiyiyi 每个epoch随机打乱

[2020-11-11 02:34] michaelowenliu commented on #572
@sadknight0001 Hi, did you use Human Seg? Theoretically, there is no gap between the two-class model and multi-class model, since the computation complexity is almost the same. What is your model deployment pipeline?

[2020-11-11 02:34] nepeplwu commented on #574
@Rayaction 看你下载的预训练模型是deeplab_mobilenet_x1_0，但是训练时提示的是xception的参数没加载到，你配置的模型参数MODEL.DEEPLAB.BACKBONE是xception吗？如果是的话，那就是配置和预训练模型对不上导致的

[2020-11-11 03:23] sadknight0001 commented on #572
@michaelowenliu Thank you for the reply. It's strange and really makes me confused
1. Humanseg pretrained quant model is about 178ms(HRnet w18 input 192, 1 thread), and finetuned quant multi class model(input 256, 1 thread) needs more than 500ms, multi class model with 192 input requires 300ms. I also tested mobilenetv2 with same input(257) for two class and multi class, which cost about 270ms and

[2020-11-11 04:20] #527 closed, assigned to nepeplwu

[2020-11-11 06:34] wuyefeilin commented on #565
安装问题的话可以到Paddle repo提issue问一下哈。https://github.com/PaddlePaddle/Paddle

[2020-11-11 09:17] yukang123 commented on #560
麻烦请问是在哪里找到的呢？谢谢!

[2020-11-11 09:37] michaelowenliu commented on #532
@deep-practice  Hi, thanks, we have reproduced and resolved the issue with the same environment, where there is a little bit difference between py3.6 and 3.7. Please pull the updates.

[2020-11-12 06:29] deep-practice commented on #532
Wow,I can use the pdseg dygraph version now.Thx.

[2020-11-12 07:25] deep-practice commented on #532
L
![error](https://user-images.githubusercontent.com/54052915/98908306-2de05580-24fb-11eb-9111-9784509121ff.jpg)
加载HRNet48的预训练模型报错
@michaelowenliu

[2020-11-12 07:29] deep-practice commented on #532
不加载预训练模型，又出现了内存错误
![error2](https://user-images.githubusercontent.com/54052915/98908752-dabad280-24fb-11eb-85bd-b591974f7363.jpg)

[2020-11-12 08:36] michaelowenliu commented on #532
@deep-practice hi, how did you load the model or run the model?

[2020-11-12 14:27] deep-practice commented on #532
python train.py --config config_file

[2020-11-12 14:28] deep-practice commented on #532
The dataset reader is same as optic_disc_seg

[2020-11-13 01:25] Rayaction commented on #574
刚看到，我修改下试试
it works~ thx bro！

[2020-11-13 01:36] #574 closed, assigned to nepeplwu

[2020-11-13 01:50] michaelowenliu commented on #532
@deep-practice Could you please update paddle to 2.0-rc? We have already localized the pretrain loading error that would be resolved by today, but you can use another way to load it, i.e. download the pretrained model manually, and specify the local path in the config file instead of using its url. As for memory issue, we have yet to reproduce it, does it occur every time? I guess it could be rela

[2020-11-13 01:53] michaelowenliu commented on #572
@sadknight0001 Hi, how did you finetune quant multi-class model? Did you quantize the model after the training?

[2020-11-13 02:30] sadknight0001 commented on #572
@michaelowenliu
For HumanSeg project and HRnet model ,yes. Load the pretrained model, train, quant_online and export. Basically only the dataset config was changed
For mobilenet model, no quantization is applied

[2020-11-13 02:35] Beibarton opened #579 "模型训练完，评估时，IoU的数值很低，只有0.23多"
开始训练模型，使用下面语句：
# 指定GPU卡号（以0号卡为例）
export CUDA_VISIBLE_DEVICES=0
# 训练
python work/pdseg/train.py --use_gpu --cfg work/PaddleSeg/configs/deeplabv3p_resnet50_vd_cityscapes.yaml

模型评估使用下面语句：
!python work/PaddleSeg/pdseg/eval.py --use_gpu --cfg work/PaddleSeg/configs/deeplabv3p_resnet50_vd_cityscapes.yaml

评估结果：
[EVAL]#image=2919 acc=0.9116 IoU=0.2399
[EVAL]Category IoU: [0.7778 0.8772 0.8416 0.9095 0.2

[2020-11-13 06:34] iceriver97 opened #581 "问一下与 VisualDL 的集成度"
PaddleSeg 目前是不是只在 train.py 和 vis.py 添加了 VisualDL 的 Scalar 和 Image ? 其他功能都没有集成是吧？
比如说，我想查看图像增强的过程，是不是要自己添加到代码里？

[2020-11-13 06:57] michaelowenliu commented on #581
@iceriver97 Hi, yes, so far if you need additional information, you should add them by yourself. The VDL usage refers to https://github.com/PaddlePaddle/VisualDL

[2020-11-13 06:59] iceriver97 commented on #581
好的，谢谢，我正在尝试做

[2020-11-13 07:01] michaelowenliu commented on #559
@flyinggx Hi, do you mean using the imagenet pretrained model into a new task?

[2020-11-13 07:04] michaelowenliu commented on #543
@shuhan666 Hi, you could use PIL to read the psuedo-colour image and then convert to numpy.

[2020-11-13 07:11] michaelowenliu commented on #579
@Beibarton Hi, could you please provide your running environment, e.g. paddle/paddleSeg version? Actually, your iou is not very low, since there are extra classes.

[2020-11-13 07:54] deep-practice commented on #532
my paddle version is 2.0-rc already

[2020-11-13 08:32] iceriver97 commented on #581
我遇到了一点问题，我把 data_loader 改为 iterable=True，然后在 train.py 中 通过`for data in data_loader:`
试图取出我的想要的图片时，会**循环**报以下的错误，我不是很明白问题在哪里，报错信息中的提示应该是不对的，我检查了 drop_last，他的默认值是 true 我并没有将其设置为 false；当我使用GPU训练的时候一切正常；可能是与 device num 有关系？ AIStudio的CPU_NUM=4，我还需要修改哪里呢？

[code]

[2020-11-13 09:16] iceriver97 commented on #581
我这样能得到数据吗？为什么我将得到的数据保存下来，看到的是空文件？
[code]

[2020-11-13 10:04] michaelowenliu commented on #581
@iceriver97 Hi,  could you try it in the following way?

[code]

[2020-11-13 11:25] Fly-hub opened #582 "使用paddleSeg里的cityscape_fast_scnn.yamlGPU利用率很低"
使用paddleSeg里的cityscape_fast_scnn.yaml，GPU利用率很低，batch_size是32，显存利用率50%多，但是GPU利用率只有不到5%.尝试过在yaml文件里更改DATALOADER:  NUM_WORKERS: 320  BUF_SIZE: 2560，但是没有一点作用

[2020-11-13 11:43] michaelowenliu commented on #582
@Fly-hub Hi, Fast SCNN is a small model, the performance bottleneck is the image I/O operation but no GPU utilization, i.e. GPU is waiting for image inputs.

[2020-11-13 11:45] Fly-hub commented on #582
那有没有什么办法提高GPU利用率呀

[2020-11-13 12:20] michaelowenliu commented on #582
@Fly-hub hi, that's not a GPU problem. You could try a smaller batch size, e.g. 8 or 16.

[2020-11-14 08:17] iceriver97 commented on #581
谢谢，但是 data[0] 是一个字典，我将其信息打印了一下，同时我按照 Key='image'将其取了出来，打印了其类型，data[0]['image']的值都是负的，这是怎么回事啊？
[code]

[2020-11-15 15:22] maxuetao opened #583 "每个epoch训练完都会报错，Error Message Summary: Error: Blocking queue is killed because the data reader raises an exception"
paddle1.8，paddleseg0.7，用默认的配置文件训练ORCNet模型，每个epoch训练完都会报错。求解，报错如下：
----------------------
Error Message Summary:
----------------------
Error: Blocking queue is killed because the data reader raises an exception
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] at (/paddle/paddle/fluid/operators/reader/blocking_queue.h:141)
  [operator < read > error]
W1115 22:32:03.203456 24562

[2020-11-15 15:24] maxuetao commented on #583
check检查无误。

[2020-11-16 02:13] wuyefeilin commented on #583
请问你跑的是什么数据集，如果利用我们提供的数据集能够跑通的话说明是你数据集的原因？

另外check的日志信息也发一下

[2020-11-16 03:32] michaelowenliu commented on #581
@iceriver97 Hi, sorry, the example I provided above is a dynamic version. Have you tried the new version?

[2020-11-16 03:37] iceriver97 commented on #581
因为是想利用 PaddleSeg + VisualDL，利用 VDL-image 功能查看数据增强过程，使用VDL-Graph、VDL-Histogram，来辅助网络结构的设计，做一个完整的项目出来，但是VDL-Graph好像还不支持动态图版本？

[2020-11-16 03:46] michaelowenliu commented on #581
@iceriver97 Yes, VDL-Graph has yet yo support the new version. As for dataloader usage in the static graph, could you refer to the official document? https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/DataLoader_cn.html#dataloader

[2020-11-16 03:48] iceriver97 commented on #581
好的，我之前就是根据这个文档进行修改的，我再好好看看文档；

[2020-11-16 05:19] iceriver97 commented on #581
我在 pdseg/reader.py 中没看到 self.reader 的定义， batch_reader()函数调用了 batch()函数，而batch()函数已经将返回格式固定死了，我想知道哪里调用了 batch_reader()？

[2020-11-16 05:41] iceriver97 commented on #581
PaddleSeg 在哪里做了处理吗？固定返回这样一个字典？
`{'mask': <paddle.fluid.core_avx.LoDTensor object at 0x7f61993dad30>, 'label': <paddle.fluid.core_avx.LoDTensor object at 0x7f61992c1df0>, 'image': <paddle.fluid.core_avx.LoDTensor object at 0x7f61992c1ef0>}`

[2020-11-16 07:19] iceriver97 commented on #581
我在 reader 读取的过程中，抽取十张图片记录后，进行了return; 有时候会正常结束，有时候会报下面的错误，这是因为什么呢？
[code]
这种报错有办法避免吗？

[2020-11-16 09:05] michaelowenliu commented on #581
@iceriver97 hi, are there a few "dirty" images unexpectedly?

[2020-11-16 09:11] iceriver97 commented on #581
@michaelowenliu  应该是没有脏数据，这个数据集已经用来训练很多次了，报这种错误的场景是：
首先我遍历reader : `for data in data_loader`，然后取出了我想要的图片，达到一定数量之后，我直接在这个循环中return了，有时候就会报这种错误，但有时侯会正常结束；

[2020-11-16 09:19] michaelowenliu commented on #581
@iceriver97 Hi, could you please provide a minimum code clip that helps us reproduce the error?

[2020-11-16 09:49] iceriver97 commented on #581
将压缩包中的visualize_Seg_transform.py 放到 pdseg 目录下，
我在 reader 的 __init__  中定义了一个变量 self.old_img =None,在每次Normalize之前进行值的更新：self.old_img = img;
同时定义了一个函数，来返回self.old_img

[code]
压缩包中也放了修改后的 reader，注意我修改了 model_build 中的reader 为可迭代的；
[code.zip](https://github.com/PaddlePaddle/PaddleSeg/files/5545445/code.zip)

[2020-11-16 10:15] iceriver97 commented on #581
@michaelowenliu 我还想问您一下，Seg对图像做完增强处理，原图还会用来训练吗？是不是仅用增强后的图片呢？一张图像，经过我的一系列增强操作后，最后是一张图像用于训练还是两张？

[2020-11-16 12:46] michaelowenliu commented on #581
@iceriver97 Hi, thanks. I got the same error with your code. The error is related to resource release when dataloader is not finished. For your another question, Seg would train on the augmented image.

[2020-11-16 12:49] iceriver97 commented on #581
非常感谢您的帮助。我是否有办法避免报此类错误？

[2020-11-16 12:52] michaelowenliu commented on #581
@iceriver97 hi, do not break the for loop intermediately, instead, traverse the dataloader to the end.

[2020-11-16 12:57] iceriver97 commented on #581
好的，了解了；非常感谢；关于图像增强的问题，为什么原图不再用于训练了呢？如果我想用增强后的图像与原图一同作为训练集，会有所帮助吗？比如我利用上面的程序得到一系列增强后的图片，然后加入训练集；

[2020-11-16 13:03] michaelowenliu commented on #581
@iceriver97 hi, since the question might not be answered clearly here, you better refer to basic data augmentation knowledge, and then it would become clear on the mechanism.

[2020-11-16 13:04] iceriver97 commented on #581
好的，谢谢

[2020-11-17 03:29] Fly-hub opened #584 "paddleseg中的参数命名"
想在train.py中取出模型的权重，如何实现呀？比如：想在train.py中打印出unet网络模型的conv训练参数权重。

[2020-11-18 01:04] jackie8310 opened #588 "deeplabv3p_xception65_bn_coco训练自己的数据集一直报错！！"
使用deeplabv3p_xception65_bn_coco训练自己的数据集，训练时一直报这个错误！求解决？？
![image](https://user-images.githubusercontent.com/63913709/99468980-cbfd7100-297c-11eb-81dc-e9b06d3023bb.png)

[2020-11-18 01:34] jackie8310 opened #589 "deeplabv3p_xception65_optic.yaml训练问题！！"
利用deeplabv3p_xception65_optic.yaml，数据效验OK，训练时一直停留在这个样子，求解？？？
![image](https://user-images.githubusercontent.com/63913709/99471230-2b5d8000-2981-11eb-92a5-431d29e40048.png)

[2020-11-18 01:35] wangkan83 commented on #589
![image](https://user-images.githubusercontent.com/63913709/99471375-5fd13c00-2981-11eb-85ff-2101b1e1f24e.png)

[2020-11-18 02:39] wuyefeilin commented on #588
看提示是cuda的问题，你的cuda和cudnn版本是多少

[2020-11-18 02:46] jackie8310 commented on #588
Cuda compilation tools, release 10.2, V10.2.89
cudnn:7.6.5

[2020-11-18 03:07] Tzr-black opened #590 "PaddleSeg DeepLabv3+ 想用二分类 的bce_loss和dice_loss 会报错"
主要是设置标签的问题，如果在label.txt中设置为：背景\n目标\n
开始训练的时候会报错，这不是二分类
![image](https://user-images.githubusercontent.com/39473756/99477483-8ac18d00-298d-11eb-9ddc-4f59eb14e9ab.png)
如果在label.txt中设置为：目标\n
训练可以进行一个epoch之后，开始验证会报错，行列索引越界的问题都会出现
![image](https://user-images.githubusercontent.com/39473756/99477702-00c5f400-298e-11eb-8fd4-3b9d5fef50c3.png)
标签图像 8为彩图 像素值为0，1
![image](https://user-images.githubuserconten

[2020-11-18 03:12] jackie8310 commented on #588
@wuyefeilin ,用unet训练都OK的

[2020-11-18 09:28] wuyefeilin commented on #588
deeplabv3p_xception65_bn_coco训练一下我们提供的数据集试试看

[2020-11-18 09:36] wuyefeilin commented on #590
麻烦你提供一下训练的日志

[2020-11-18 09:44] jackie8310 commented on #588
@wuyefeilin ，直接用配置文件deeplabv3p_xception65_optic.yaml，训练自带的数据集，出现这样情况，一直停留在这里不能进行训练，不过显卡仍然在工作。什么原因？？？
![image](https://user-images.githubusercontent.com/63913709/99513307-6ed9dd80-29c5-11eb-8755-1a6aed3be058.png)

[2020-11-18 09:50] wuyefeilin commented on #588
你是什么显卡，多少显存

[2020-11-18 10:30] jackie8310 commented on #588
@wuyefeilin  GTX1660 ，6G

[2020-11-18 11:27] wuyefeilin commented on #588
显存有点小， 把batch_size改成1试试看

[2020-11-18 12:10] jackie8310 commented on #588
batch_size为2，显存只用了4G，改成1后显存2.8G，仍然这样：
![image](https://user-images.githubusercontent.com/63913709/99528970-09441c00-29da-11eb-976e-8e1cbde5f3b6.png)
![image](https://user-images.githubusercontent.com/63913709/99529035-25e05400-29da-11eb-88ef-6a790b01bd4a.png)

[2020-11-18 12:53] jackie8310 opened #591 "PSPNET训练异常！！"
预训练模型：pspnet50_bn_coco，利用自己数据集训练报错：（自己数据集在UNET训练OK，optic数据训练正常）
 'TRAIN_CROP_SIZE': (512, 512)}
#Device count: 1
batch_size_per_dev: 2
Traceback (most recent call last):
  File "pdseg/train.py", line 468, in <module>
    main(args)
  File "pdseg/train.py", line 454, in main
    train(cfg)
  File "pdseg/train.py", line 238, in train
    train_prog, startup_prog, phase=ModelPhase.TRAIN)
  File "G:\p

[2020-11-19 09:07] merlinarer opened #592 "Segmentation fault (core dumped)"
- 标题：Segmentation fault (core dumped)
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle_gpu-1.8.5.post107-cp38
    2）GPU：Tesla T4/cuda 10.1/cudnn 7.6

- 训练信息
    1）单机多卡

- 问题描述：在云服务器上训练报错，给的信息很少，数据已经check过没问题

报错信息如下：

`
W1119 17:02:08.179440 12160 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 10.0
W1119 17:02:08.182862 12160 device_c

[2020-11-19 10:06] Rayaction opened #594 "dataset的padding value修改不生效"
DATASET:
    DATA_DIR: "xxxx"
    NUM_CLASSES: x
    TRAIN_FILE_LIST: "xxxx"
    VAL_FILE_LIST: "xxxx"
    TEST_FILE_LIST: "xxxx"
    VIS_FILE_LIST: "xxxx"
    PADDING_VALUE: [255, 255, 255]

这里padding value修改后不生效啊

跑起来程序后是这个 'PADDING_VALUE': [73.9261575, 98.05992615, 84.09281115]‘

[2020-11-19 10:34] jackie8310 commented on #588
@wuyefeilin , 用mobilenetv2可以训练，用deeplabv3p_xception65报错：
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
Windows not support stack backtrace yet.

------------------------------------------
Python Call Stacks (More useful to users):
------------------------------------------
  File "D:\anaconda\envs\paddle_env\l

[2020-11-20 02:52] Channingss commented on #555
@gxqnba 最近修复了Eigen报错的问题， 麻烦clone一下最新的代码

[2020-11-20 02:58] michaelowenliu commented on #584
@Fly-hub Hi, could you please try the dygraph version that is much easier for debugging? https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.7.0/dygraph

[2020-11-20 02:59] nepeplwu commented on #589
@wangkan83 你的训练命令麻烦给下

[2020-11-20 02:59] nepeplwu commented on #592
@merlinarer 出错前的训练日志麻烦也给下，另外，这个问题是必现的吗？

[2020-11-20 03:21] wuyefeilin commented on #591
看提示，是因为你的分母为0。检查一下你的数据集路径是否配置正确

[2020-11-20 03:26] wuyefeilin commented on #594
请问你是否设置了cfg.MEAN， 如果设置了该项，则会利用MEAN来计算PADDING_VALUE， 这样你的设置就不会生效了。

[2020-11-20 03:30] Rayaction commented on #594
mean设置了，但我理解这个padding的值理论上应该是ignore的值？我想让他原图padding成0，0，0或者label padding成ignore的index应该怎么做

[2020-11-20 03:37] wuyefeilin commented on #594
采用默认的参数就是这么操作的，如果你既要修改mean， 又想更改图像的padding，可以在下面代码后直接对PADDING_VALUE进行修改。
https://github.com/PaddlePaddle/PaddleSeg/blob/9ca3ebd5f27b56847c0633f96cd46c786982a457/pdseg/train.py#L452
或者注释掉下面两行代码
https://github.com/PaddlePaddle/PaddleSeg/blob/9ca3ebd5f27b56847c0633f96cd46c786982a457/pdseg/utils/collect.py#L101

[2020-11-20 07:09] wstchhwp opened #595 "miou计算问题"
你好，我想问下我用paddleseg做一个课题，现在有4个类别(包含背景），背景是0，其他是1，2，3.
现在计算出来混淆矩阵是4*4的，我想问下计算miou,ap之类的评价指标，如何考虑背景？
是把混淆矩阵直接输入进去算吗？还是取出来3*3不包含背景的混淆矩阵再计算？

[2020-11-20 07:29] jackie8310 commented on #589
一直停留在这里，GPU显存仍在运行，不过用了一半的显存。
(paddle_env) G:\paddle\PaddleSeg\release-v0.7.0>python pdseg/train.py --cfg configs/deeplabv3p_xception65_xiwa.yaml --use_gpu --do_eval
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (512, 512),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,

[2020-11-20 07:48] wstchhwp commented on #595
@wuyefeilin

[2020-11-20 07:55] wuyefeilin commented on #595
我们计算的混淆矩阵是包含背景类的即4x4, 不包含背景类的就是3x3。 miou和ap的计算都是根据混淆矩阵计算的。至于要不要包含背景类取决于你的需求

[2020-11-20 08:26] wstchhwp commented on #595
好的

[2020-11-20 09:35] jackie8310 commented on #588
@wuyefeilin ，同样的数据集在Paddle X上用deeplabv3p_xception65_COCO就可以训练，求上面报错的解决方案？？
![image](https://user-images.githubusercontent.com/63913709/99784450-c8bddd00-2b56-11eb-914c-bba5880d4f1e.png)

[2020-11-21 03:18] merlinarer commented on #592
对，每次都会出现，不知道具体原因，通过安装docker，用docker里的cuda环境解决了，谢谢！

[2020-11-21 03:18] #592 closed, assigned to nepeplwu

[2020-11-21 03:21] merlinarer opened #596 "deeplabv3p resnet101的预训练模型"
我看目前paddle没有deeplabv3p resnet101的预训练模型，只有50的，如果想从torch转过来，具体应该怎么实现呢？

[2020-11-21 03:41] deep-practice commented on #532
@michaelowenliu Any luck?

[2020-11-21 08:26] #594 closed, assigned to wuyefeilin

[2020-11-22 11:16] jordan2013 opened #597 "paddle.nn no attributes AdaptiveAvgPool2d"
版本、环境信息：
   1）PaddlePaddle版本：PaddlePaddle 2.0.0rc
   2）CPU：AiStudio
   3）GPU：AiStudio
   4）系统环境：AiStudio python 3.7 PaddleSeg0.6/0.7
训练信息
   1）单卡
   2）显存信息
   3）Operator信息
复现信息：PaddelSeg0.6/0.7的动态图，使用hrnet作为BackBone，has_se设置为True时
问题描述：
PaddleSeg/dygraph/paddleseg/models/backbones/hrnet.py文件中421行，如下语句
import paddle
import paddle.nn as nn
import paddle.nn.functional as F
.......
self.pool2d_gap = n

[2020-11-23 02:29] jordan2013 commented on #597
AdaptiveAvgPool2d()是xx火炬的函数，paddle里面是AdaptiveAvgPool2D()。

醉了，拼成别家的API了

[2020-11-23 02:29] #597 closed, assigned to nobody

[2020-11-23 02:49] jordan2013 opened #598 "适配PaddlePaddle 2.0rc0时，PaddleSeg/dygraph/paddleseg/models/backbones/hrnet.py 两处错误"
一、拼写错误
     self.pool2d_gap = nn.AdaptiveAvgPool2d(1)应为：
      self.pool2d_gap = nn.AdaptiveAvgPool2D(1)

二、Linear中参数错误
self.squeeze = nn.Linear(
            num_channels,
            med_ch,
            act="relu",
            ParamAttr=paddle.ParamAttr(
                initializer=nn.initializer.Uniform(-stdv, stdv)))

        stdv = 1.0 / math.sqrt(med_ch * 1.0)
        self.excitation = nn.Lin

[2020-11-23 03:34] wuyefeilin commented on #598
多谢反馈，马上纠正

[2020-11-23 05:09] michaelowenliu commented on #596
@merlinarer Hi, are you using the static version or dynamic version of PaddleSeg?

[2020-11-23 05:26] wuyefeilin commented on #588
把你的配置和数据集发一下，我这边复现一下

[2020-11-23 05:33] #598 closed, assigned to wuyefeilin

[2020-11-23 06:13] sxlyiyiyi opened #602 "加载两个训练好的模型"
怎么同时加载两个训练好的模型对同一个数据进行预测？

InvalidArgumentError: The number of input's channels should be equal to filter's channels * groups for Op(Conv). But received: the input's channels is 256, the input's shape is [1, 256, 64, 64]; the filter's channels is 64, the filter's shape is [7, 64, 3, 3]; the groups is 1, the data_format is NCHW. The error may come from wrong data_format setting.
  [Hint: Expected i

[2020-11-23 08:00] nepeplwu commented on #589
@wangkan83 ，这种情况下显卡的利用率是不是一直为0？如果是的话，说明进程出了问题，建议关闭终端后再次启动训练进程

[2020-11-23 08:20] deep-practice commented on #532
The latest version fix my problem.

[2020-11-23 08:20] #532 closed, assigned to michaelowenliu

[2020-11-23 10:34] jackie8310 commented on #588
@wuyefeilin ，数据集怎么发你？？

[2020-11-23 10:37] jackie8310 commented on #589
@nepeplwu ，显存的利用率50%，CUDA利用率80%，关闭终端后再次启动训练仍然出现上面情况！！

[2020-11-23 11:31] wuyefeilin commented on #588
你可以上传百度网盘，然后我下载。
或者你可以先使用我们的动态图版本看看，在目录dygraph下。

[2020-11-23 11:42] CeciliaPYY commented on #175
![e5c5065f682717ca6d7bb727d813eb8f](https://user-images.githubusercontent.com/30582437/99958999-41c26c00-2dc5-11eb-8b7b-715e9c1a9ce9.png)

同样，多卡情况下出现该问题。单卡无问题。hrnet_optic config。
paddle180, centos7

起训练命令如下，
[code]

训练配置如下，
![9cc668d987826d07957a1dd0e4ab92eb](https://user-images.githubusercontent.com/30582437/99959118-6ae2fc80-2dc5-11eb-8307-bfe9a8b5497d.png)

[2020-11-23 12:27] jackie8310 commented on #588
@wuyefeilin ，https://pan.baidu.com/s/1fdBArgNbRj609XPAPp9Jag  ，提取吗：455q

[2020-11-23 16:43] Hustle-Tung opened #605 "deeplabv3p_resnet50_vd_cityscapes.yaml的问题"
在windows平台利用deeplabv3p做遥感影像地块分割训练，出现一些问题：
配置：windows10, RTX 3070, CUDA 10.2, cuDNN 7.6.5, paddlepaddle2.0rc. paddle.fluid.install_check.run_check() 输出Your Paddle Fluid is installed succesfully!

问题在以下输出中提出：
问题1：运行到这个地方需要等一二十分钟，是在读取训练数据还是校验数据还是卡住？
问题2：这里真实输入与预训练模型输入不匹配该怎么办？
问题3： 这里fusion_group在windows10不能使用怎么办？
问题4： 从此出开始应该是开始训练了，但是GPU显存占用率较高，GPU利用率很低只有0%~3%，这是正常调用GPU了吗？GPU利用率难道不应该这么低吧？

(bdci) E:\

[2020-11-23 16:48] Hustle-Tung commented on #605
求大佬和开发者老师们帮忙答疑解惑，感谢
![屏幕截图 2020-11-24 004752](https://user-images.githubusercontent.com/41102889/99990433-c1186580-2dee-11eb-843b-69145de955d0.png)

[2020-11-24 02:50] lyc1995452-star opened #607 "IndexError: tuple index out of range"
你好,我在可视化的时候出现这种情况  训练和验证的已经完了
 load_image
    grt_height = grt.shape[0]
IndexError: tuple index out of range

[2020-11-24 03:02] pdogdoy opened #608 "CCF遥感动态图baseline: FatalError: Blocking queue is killed because the data reader raises an exception."
数据集准备是按照之前paddleSeg的baseline，pdseg/check.py校验后也没有问题，以下是报错

ERROR:root:DataLoader reader thread raised an exception!
Traceback (most recent call last):
  File "train.py", line 141, in <module>
    main(args)
  File "train.py", line 136, in main
    losses=losses)
  File "/home/aistudio/PaddleSeg/dygraph/paddleseg/core/train.py", line 107, in train
    for data in loader:
  File "/opt/conda/envs/pyt

[2020-11-24 03:20] wuyefeilin commented on #607
麻烦贴一下具体的报错堆栈

[2020-11-24 04:07] lyc1995452-star commented on #607
ile "vis.py", line 212, in <module>
    visualize(cfg, **args.__dict__)
  File "vis.py", line 133, in visualize
    for imgs, grts, img_names, valid_shapes, org_shapes in test_reader:
  File "/home/lyc/models/PaddleSeg-release-v0.7.0/pdseg/reader.py", line 136, in batch_reader
    for img, grt, img_name, valid_shape, org_shape in reader():
  File "/home/lyc/models/PaddleSeg-release-v0.7.0/pdseg/re

[2020-11-24 04:08] lyc1995452-star commented on #607
Traceback (most recent call last):
  File "vis.py", line 212, in <module>
    visualize(cfg, **args.__dict__)
  File "vis.py", line 133, in visualize
    for imgs, grts, img_names, valid_shapes, org_shapes in test_reader:
  File "/home/lyc/models/PaddleSeg-release-v0.7.0/pdseg/reader.py", line 136, in batch_reader
    for img, grt, img_name, valid_shape, org_shape in reader():
  File "/home/lyc/mo

[2020-11-24 06:40] gujingxiao opened #610 "动态图版本修改num_workers，不同配置出现不同情况的训练崩溃"
**如题，我在aistudio上使用python3.7 + PaddlePaddle 2.0.0.rc0的环境，并使用了11月23日最新的Paddleseg develop分支进行训练，当num_workers使用默认参数时，训练一切正常；但是当num_workers设置为6时，无法启动训练，直接崩溃，LOG如下：**

------------------------------------------------
W1124 11:17:10.012058  2725 device_context.cc:338] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 10.1
W1124 11:17:10.012121  2725 device_contex

[2020-11-24 08:20] CeciliaPYY commented on #175
debug解决了，应该是没有安装NCCL的问题， 安装完之后还要将lib路径加到LD_LIBRARY_PATH里面去。

[2020-11-24 08:42] CoinCheung opened #612 "请问xception-41, xception-65的预训练模型的训练超参数是什么呀"
大佬好，

想问xception-41和xception-65的backbone做预训练时使用的超参数数还有aug方法啥的，不知道这个可以在哪里查到呢

[2020-11-24 12:53] jackie8310 commented on #588
@wuyefeilin ，有复现到问题吗？

[2020-11-24 13:56] lyc1995452-star commented on #372
你好，你在预测时出现过这种情况没
Traceback (most recent call last):
File "vis.py", line 212, in
visualize(cfg, **args.dict)
File "vis.py", line 133, in visualize
for imgs, grts, img_names, valid_shapes, org_shapes in test_reader:
File "/PaddleSeg-release-v0.7.0/pdseg/reader.py", line 136, in batch_reader
for img, grt, img_name, valid_shape, org_shape in reader():
File "/PaddleSeg-release-v0.7.0/pdseg/reader.py",

[2020-11-24 13:58] lyc1995452-star commented on #293
请问你们在运行可视化时，出现这种情况没？
Traceback (most recent call last):
File "vis.py", line 212, in
visualize(cfg, **args.dict)
File "vis.py", line 133, in visualize
for imgs, grts, img_names, valid_shapes, org_shapes in test_reader:
File "/PaddleSeg-release-v0.7.0/pdseg/reader.py", line 136, in batch_reader
for img, grt, img_name, valid_shape, org_shape in reader():
File "/PaddleSeg-release-v0.7.0/pdseg/reader.p

[2020-11-24 14:00] lyc1995452-star commented on #195
请问你们在运行可视化时，出现这种情况没？
Traceback (most recent call last):
File "vis.py", line 212, in
visualize(cfg, **args.dict)
File "vis.py", line 133, in visualize
for imgs, grts, img_names, valid_shapes, org_shapes in test_reader:
File "/PaddleSeg-release-v0.7.0/pdseg/reader.py", line 136, in batch_reader
for img, grt, img_name, valid_shape, org_shape in reader():
File "/PaddleSeg-release-v0.7.0/pdseg/reader.p

[2020-11-24 14:00] lyc1995452-star commented on #51
请问你们在运行可视化时，出现这种情况没？
Traceback (most recent call last):
File "vis.py", line 212, in
visualize(cfg, **args.dict)
File "vis.py", line 133, in visualize
for imgs, grts, img_names, valid_shapes, org_shapes in test_reader:
File "/PaddleSeg-release-v0.7.0/pdseg/reader.py", line 136, in batch_reader
for img, grt, img_name, valid_shape, org_shape in reader():
File "/PaddleSeg-release-v0.7.0/pdseg/reader.p

[2020-11-24 16:19] 33749110 opened #614 "请问，为什么export CUDA_VISIBLE_DEVICES=0，1指定了两块gpu之后会报错？"
请问，为什么   export CUDA_VISIBLE_DEVICES=0，1  指定了两块gpu之后会报错

报错信息是 ：‘NoneType’ object has no attribute ’run‘

而且是不停的再刷这一条错误信息，请问是我少填了哪个参数嘛？

[2020-11-25 02:16] wuyefeilin commented on #614
，后面不能有空格

[2020-11-25 02:24] wuyefeilin commented on #610
共享内存不足了，只要reader_cost的时间消耗够小，num_workers的取值尽量小。

[2020-11-25 02:26] wuyefeilin commented on #612
你好，预训练模型来自于PaddleClas， 想知道具体的训练方式可以到PaddleClas上进行咨询

[2020-11-25 02:26] iceriver97 opened #615 "动态图版本是否有配置检查脚本？"
静态图版本有个 check.py 可以检查数据集及配置，动态图没有提供脚本吗？

[2020-11-25 02:29] wuyefeilin commented on #588
在window上复现了这个问题， 目前正在排查。你可以先用我们的动态图版本进行训练，在目录dygraph下

[2020-11-25 02:31] merlinarer opened #616 "动态图预训练模型加载出错"
模型：fcn + hrnet
配置文件与remote里相同，但是预训练模型加载失败
配置：Ubuntu16.04，cuda10.1
报错如下：
`/root/miniconda3/lib/python3.8/site-packages/paddle/fluid/dygraph/tracer.py:43: DeprecationWarning: an integer is required (got type paddle.fluid.core_avx.VarType).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  self.trace(type, inputs, outputs, attrs,
W1125 0

[2020-11-25 02:58] wuyefeilin commented on #615
暂时还没，动态图版本的设计初衷是易用性和可扩展性，所以对于配置的约束较弱

[2020-11-25 03:45] merlinarer commented on #616
已解决，预训练模型需要明确到文件本身

[2020-11-25 03:45] #616 closed, assigned to nobody

[2020-11-25 03:53] 33749110 commented on #614
我没有加空格，那个是因为输入问题的时候是手动的添加的,1  ，当时是中文输入法所以显得有空格。
我在运行的时候是没有添加空格的
export CUDA_VISIBLE_DEVICES=0,1   就是这样

[2020-11-25 06:32] wuyefeilin commented on #614
麻烦提供一下完整的报错信息，及运行的环境，paddle， cuda, cudnn版本

[2020-11-25 06:59] michaelowenliu commented on #608
@Bulimito Hi, how did you set the num_works parameter?

[2020-11-25 07:27] gujingxiao commented on #610
但是另一个错误直接起线程就挂了是怎么回事呀

[2020-11-25 08:31] 33749110 commented on #614
cuda是10.2的 cudnn是7.6的  paddle是2.0.0-rc0  ，服务器操作系统是Ubuntu16.04
完整的报错信息的话，它就是和正常运行一样 输出信息，然后到了Use multi-thread reader
这卡了一下之后
就开始刷‘NoneType’ object has no attribute ’run‘。
在Use multi-thread reader这句话之后有没有输出什么，我不能肯定 因为‘NoneType’ object has no attribute ’run‘刷新太快了

[2020-11-25 09:32] Lie-huo commented on #614
我也遇到了这个问题，还没有解决

[2020-11-25 09:58] jiegeng321 opened #620 "cpp 编译问题踩坑"
PaddleSeg/deploy/cpp/docs/linux_build.md
问题1，似乎编译opencv的时候需加上-DWITH_JASPER=ON -DBUILD_JASPER=ON，不然会报找不到jasper.a
问题2，似乎编静态库那个flag OFF没有用，都是编的静态库
注：
装opencv前需先装全依赖
sudo apt-get install build-essential
sudo apt-get install cmake git libgtk2.0-dev pkg-config libavcodec-dev libavformat-dev libswscale-dev qt5-default
sudo apt-get install python-dev python-numpy libtbb2 libtbb-dev libjpeg-dev libpng-dev

[2020-11-25 12:24] wuyefeilin commented on #610
就是因为这个原因，aistudio资源给的有限，numworker过大容易出错，程序出错后环境重启一下

[2020-11-25 12:26] wuyefeilin commented on #614
数据校验通过了吗

[2020-11-25 12:28] 33749110 commented on #614
通过了的，就是相同的配置，相同的数据表，一块gpu可以运行，但是指定两块就会出错

[2020-11-25 12:44] Cohesion97 opened #621 "静态图运行多进程混合精度，发现lod_tensor_blocking_queue_0不在globe_block中"
使用默认config文件运行多进程混合精度训练时，在调用优化器optimizer.minimize(loss)时，在paddle/fluid/contrib/mixed_precision/fp16_utils.py运行时找不到设置的lod_tensor_blocking_queue_0。

完整的报错内容如下：
  File "pdseg/train.py", line 499, in <module>
    main(args)
  File "pdseg/train.py", line 485, in main
    train(cfg)
  File "pdseg/train.py", line 238, in train
    data_loader, avg_loss, lr, pred, grts, masks = build_model(
  File "/works

[2020-11-25 13:03] Lie-huo opened #622 "batch_norm raises an exception paddle::memory::allocation::BadAlloc"
我的显卡是16G的，报了下面的错误
W1125 20:59:06.174731 21088 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 10.0
W1125 20:59:06.179869 21088 device_context.cc:260] device: 0, cuDNN Version: 7.6.
Sync BatchNorm strategy will not be effective if GPU device count <= 1
There are 275/275 varaibles in pretrained_model/deeplabv3p_mobilenetv3_large_city

[2020-11-25 13:14] wuyefeilin commented on #614
一旦报错马上停止，然后给出报错信心

[2020-11-25 14:21] 33749110 commented on #614
我只能卡到Use multi-thread reader这句话，之后的，我。。反应力可能跟不上吧。反正我试了好几次 都是停止之后，往上翻到头也只有满屏的‘NoneType’ object has no attribute ’run‘。    已经看不到报错信息了

[2020-11-26 02:00] JerryDeepl commented on #614
同样的问题，满屏‘NoneType’ object has no attribute ’run‘，看不到其它信息了

[2020-11-26 02:23] gujingxiao commented on #610
好的，了解了。非常感谢

[2020-11-26 02:23] #610 closed, assigned to nobody

[2020-11-26 02:57] #620 closed, assigned to nobody

[2020-11-26 03:23] seathiefwang opened #623 "CCF遥感：运行官方给定的例程出错"
cuda10.1， cudnn8.0.4， nccl都安装正常，但是报了一个比较奇怪的错误，看不到原因

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::framework::SignalHandle(char const*, int)
1   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()

----------------------
Error Message Summary:
----------------------
FatalError: A serious error (Segmentation fau

[2020-11-26 03:24] seathiefwang commented on #623
@chliang @ZeyuChen 这个是什么错误啊？求解答！

[2020-11-26 03:46] jackie8310 opened #624 "deeplabv3p_resnet50_os8_cityscapes训练错误："
采用dygraph/train.py, deeplabv3p_resnet50_os8_cityscapes,自己的数据集，
![image](https://user-images.githubusercontent.com/63913709/100305831-e7035d00-2fdc-11eb-8020-9155d7ed4894.png)
出现如下错误，请指教！！
![image](https://user-images.githubusercontent.com/63913709/100305891-0b5f3980-2fdd-11eb-8d7f-5bac543fbf59.png)

[2020-11-26 03:54] michaelowenliu commented on #624
@wangkan83 Hi, could you please put the full yaml file?

[2020-11-26 03:55] michaelowenliu commented on #623
@seathiefwang Hi, could you put the full error log?

[2020-11-26 03:56] michaelowenliu commented on #602
@sxlyiyiyi Hi, how did you use the two models?

[2020-11-26 04:12] jackie8310 commented on #624
@michaelowenliu 刚才没有在val_dataset:中加入  num_classes: 5，问题得到解决，不过又出现新问题：：

batch_size: 2
iters: 16000

model:
  type: DeepLabV3P
  backbone:
    type: ResNet50_vd
    output_stride: 8
    multi_grid: [1, 2, 4]
    pretrained: https://bj.bcebos.com/paddleseg/dygraph/resnet50_vd_ssld_v2.tar.gz
  num_classes: 19
  backbone_indices: [0, 3]
  aspp_ratios: [1, 12, 24, 36]
  aspp_out_channels: 256
  align_c

[2020-11-26 04:19] seathiefwang commented on #623
hi, this is full log

[code]

[2020-11-26 04:20] seathiefwang commented on #623
![image](https://user-images.githubusercontent.com/12205270/100307781-b245d480-2fe1-11eb-8d67-64a64c5a9a55.png)

@michaelowenliu

[2020-11-26 04:20] seathiefwang commented on #623
![image](https://user-images.githubusercontent.com/12205270/100307781-b245d480-2fe1-11eb-8d67-64a64c5a9a55.png)

@michaelowenliu

[2020-11-26 04:39] seathiefwang commented on #623
'FIX_RESIZE_SIZE': (256, 256),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR': True,
         'RICH_CROP': {'ASPECT_RATIO': 0.33,
                       'BLUR': False,
                       'BLUR_RATIO': 0.

[2020-11-26 04:40] seathiefwang commented on #623
`You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (256, 256),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,

[2020-11-26 05:22] seathiefwang commented on #623
[code]

@michaelowenliu this is my yaml file.

[2020-11-26 06:27] nepeplwu commented on #621
@Cohesion97 感谢反馈，该问题是paddle混合精度模块的bug，将会在下个版本修复

[2020-11-26 06:28] nepeplwu commented on #622
@Lie-huo 该问题是因为显存不足导致的，建议减小batchsize

[2020-11-26 06:30] nepeplwu commented on #614
@33749110 可以先指定单卡，并且不要加上`--use_mpio`这个选项，这样比较好定位错误

[2020-11-26 06:48] nepeplwu commented on #589
@wangkan83 ，尝试使用`log_steps`指定一个较小的打印间隔看看
[code]

[2020-11-26 06:52] michaelowenliu commented on #624
@wangkan83 hi, could you please check your image path? It cannot find the image, so it shows "NoneType".

[2020-11-26 06:59] jackie8310 commented on #624
把transforms.py中对应更改后
![image](https://user-images.githubusercontent.com/63913709/100317707-c1378180-2ff7-11eb-8768-09d08b9c118c.png)
又出现错误：？？？BUG太多！！
![image](https://user-images.githubusercontent.com/63913709/100317639-a6fda380-2ff7-11eb-9b5a-3e13e4a96e2c.png)

[2020-11-26 07:06] 33749110 commented on #614
emmm....我没有使用use_mpio 选项  只添加了use_gpu
同样的设置 如果指定单卡 可以正常运行
指定双卡的话 就不行

[2020-11-26 07:10] jackie8310 commented on #624
@michaelowenliu 数据集按照下面设置的：
![image](https://user-images.githubusercontent.com/63913709/100318718-73237d80-2ff9-11eb-9887-8db48ebfd97d.png)

[2020-11-26 07:13] LutaoChu commented on #605
问题1：运行到这个地方需要等一二十分钟，是在读取训练数据还是校验数据还是卡住？
你可以在pdseg/train.py这2个位置前后打印日志，看看到底是卡在哪个地方
[code]
和
[code]

问题2：这里真实输入与预训练模型输入不匹配该怎么办？
没有关系，因为类别数不一样，跳过参数是正常的

问题3： 这里fusion_group在windows10不能使用怎么办？
确定你用的是paddle2.0rc吗？这里只是warning，看日志应该符合预期

问题4： 从此出开始应该是开始训练了，但是GPU显存占用率较高，GPU利用率很低只有0%~3%，这是正常调用GPU了吗？GPU利用率难道不应该这么低吧？
不正常。你试试开启--use_mpio，多进程读取数据

另外log_steps设为2000是不是太多了，打印日志会很少。我们一般用默认值

[2020-11-26 07:22] jackie8310 commented on #588
@wuyefeilin ,动态图版本问题：
![image](https://user-images.githubusercontent.com/63913709/100319577-d366ef00-2ffa-11eb-8480-b00261804151.png)
修改的
batch_size: 2
iters: 16000

model:
  type: DeepLabV3P
  backbone:
    type: ResNet50_vd
    output_stride: 8
    multi_grid: [1, 2, 4]
    pretrained: https://bj.bcebos.com/paddleseg/dygraph/resnet50_vd_ssld_v2.tar.gz
  num_classes: 19
  backbone_indices: [0, 3]

[2020-11-26 08:29] Hustle-Tung commented on #605
感谢您的回复！

问题1：经过打印输出，上述两处均没有问题，是卡在了`pdseg/train.py`的`exe.run(startup_prog)`处，再深入是`E:\anaconda3\envs\bdci\Lib\site-packages\paddle\fluid\executor.py`的`self._default_executor.run(program.desc, scope, 0, True, True, fetch_var_name)`处，再深入是`C:\Users\wxx\AppData\Local\JetBrains\PyCharmCE2020.1\python_stubs\-228631969\paddle\fluid\core_avx\Executor.py`的`def run(self, arg0, *args, **kwargs): pass`处，就到这里，我看

[2020-11-26 09:08] michaelowenliu commented on #623
@seathiefwang Hi, change cuDNN to 7.6

[2020-11-26 09:14] #623 closed, assigned to michaelowenliu

[2020-11-26 09:21] michaelowenliu commented on #624
@wangkan83 hi, can you print im, i.e. image path?
![100317707-c1378180-2ff7-11eb-8768-09d08b9c118c](https://user-images.githubusercontent.com/14087480/100331930-b8e94180-300b-11eb-9074-10c44245fb63.png)

[2020-11-26 09:59] nepeplwu commented on #614
配置是否方便给下？

[2020-11-26 10:03] yukang123 opened #625 "deeplabv3p_mobilenetv3_large_cityscapes.yaml文件中的参数含义"
请问，configs/deeplabv3p_mobilenetv3_large_cityscapes.yaml中的 MODEL.DEEPLAB.ENCODER.ASPP_WITH_SE参数的含义是什么呢，是决定是否使用Squeeze-and-Excitation模块吗？但我在pdseg/models/modeling/deeplab.py里没找到这个参数，而在pdseg/models/backbone/mobilenet_v3.py里面已经根据model_name = large或small来指定各层是否使用SE模块，是不是这个参数已经没有意义了呢？

yaml文件有关模型的内容
MODEL:
    DEFAULT_NORM_TYPE: "bn"
    MODEL_NAME: "deeplabv3p"
    DEEPLAB:
        BACKBONE: "mobilenetv

[2020-11-26 11:00] 33749110 commented on #614
cuda是10.2的 cudnn是7.6的 paddle是2.0.0-rc0 ，服务器操作系统是Ubuntu16.04
GPU是4块泰坦1080
还需要其他信息嘛

[2020-11-27 02:13] lytk01 commented on #602
同问，怎么同时加载两个或两个以上的模型，然后分别计算

[2020-11-27 02:38] wuyefeilin commented on #588
看一下你的data/xiwa_seg/train.txt 是否符合要求。https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/dygraph/docs/data_prepare.md

[2020-11-27 06:08] nepeplwu commented on #614
训练的配置麻烦也给下，另外，错误日志没法截全的问题，可以试试通过重定向输出来拿到日志，通过在训练命令后面加上`> test.log 2>&1`来把训练日志和错误日志都输出到test.log，例如：
[code]

[2020-11-27 06:10] nepeplwu commented on #625
@yukang123 该配置主要用于判断是否要在ASPP模块中使用Squeeze-and-Excitation模块，代码见：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/pdseg/models/modeling/deeplab.py#L160

[2020-11-27 08:18] iceriver97 opened #627 "关于动态图预测的方便性"
比如我想在云端训练，在本地进行预测，我在执行 predict.py 的时候为什么还会去 check train_list.txt 以及 val_list.txt 存不存在呢？这样我就必须在云端把这两个文件下载下来放到指定的位置以便通过校验，可是这跟 predict 没有关系不是吗？

[2020-11-27 08:29] jackie8310 commented on #624
@michaelowenliu
train_dataset:
  dataset_root: /home/aistudio/work/PaddleSeg/dygraph/data/xiwa
  mode: train
  num_classes: 5
  train_path: /home/aistudio/work/PaddleSeg/dygraph/data/xiwa/train.txt
  transforms:
  - max_scale_factor: 2.0
    min_scale_factor: 0.5
    scale_step_size: 0.25
    type: ResizeStepScaling
  - crop_size:
    - 512
    - 512
    type: RandomPaddingCrop
  - type: RandomHor

[2020-11-27 11:00] michaelowenliu commented on #627
@iceriver97 Hi, yes, you are right. Improve it in a future version. Thanks a lot.

[2020-11-28 12:06] deep-practice opened #628 "更新develop分支之后，连官网提供的预训练模型都用不了了"
deeplabv3p_resnet101_os8_cityscapes_769x769_80k
![dttbug](https://user-images.githubusercontent.com/54052915/100515196-24224780-31b5-11eb-9ba5-a1c070222822.jpg)

[2020-11-28 12:50] PrimSun opened #629 "lovasz softmax loss在多分类问题中使用不了"
参考教程https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/docs/lovasz_loss.md后，二分类可做，但是多分类配置有问题

[2020-11-29 08:29] Darki-luo opened #630 "动态图 本地运行训练报错提示 local variable 'nvcc' referenced before assignment"
Traceback (most recent call last):
  File "train.py", line 141, in <module>
    main(args)
  File "train.py", line 92, in main
    env_info = get_sys_env()
  File "/home/w/env/sensoring/dygraph/paddleseg/utils/env/sys_env.py", line 93, in get_sys_env
    env_info['NVCC'] = _get_nvcc_info(cuda_home)
  File "/home/w/env/sensoring/dygraph/paddleseg/utils/env/sys_env.py", line 65, in _get_nvcc_info

[2020-11-30 01:27] michaelowenliu commented on #628
@deep-practice Hi, I just tested it. It works well. How did you use the pretrained model?

[2020-11-30 01:53] michaelfu123 opened #631 "实验用电脑没有联网，CPP部署build过程中make出错，又会download错误，从一台电脑拷贝ext-yaml-cpp文件也会报错不知道如何修改makefile文件"
![image](https://user-images.githubusercontent.com/38556449/100560756-d0694880-32f1-11eb-883d-a016542b9b59.png)

[2020-11-30 01:56] deep-practice commented on #628
我就是在model的pretrain那儿把预训练模型的路径加进去了。
怎么说呢，感觉动态图版本碰到的莫名其妙的问题很多，有时候换个机器就正常了，但是在某个机器上就是不行。

[2020-11-30 02:03] deep-practice opened #632 "Can't set class weight for CrossEntropyLoss"

[2020-11-30 02:03] #628 closed, assigned to michaelowenliu

[2020-11-30 02:06] liguoyu666 opened #633 "pdseg的动态图预训练模型在哪找？"
1. develop分支遥感分割比赛的例子，用的hrnet_w48_ssld预训练模型，但是我在PaddleSeg/docs/model_zoo.md里并未找到预训练模型，请问该在哪找？
2.
`model:

  type: FCN

  backbone:

    type: HRNet_W48

    align_corners: False

    pretrained: https://bj.bcebos.com/paddleseg/dygraph/hrnet_w48_ssld.tar.gz

  backbone_indices: [-1]

  pretrained: Null`

 pretrained: Null 是表示啥意思，不用预训练模型？

3. 上面这个例子里，使用了多尺度评估的方法，请问该方法是才出来的吗，能否告知是哪篇论文，静态图会添加这个方法吗？

[2020-11-30 02:09] michaelowenliu commented on #632
A new feature in a future version.

[2020-11-30 02:23] michaelowenliu commented on #633
@liguoyu666 Hi, in general, there are two "pretrained" in a model config file, where one is for the whole model, and the other is only for the backbone.

![infoflow 2020-11-30 10-22-25](https://user-images.githubusercontent.com/14087480/100562223-fee92280-32f5-11eb-99e2-1c273a5bc6cc.png)

Usually, we trained a model using a pre-trained backbone, so you can find there is a URL link in backbone conf

[2020-11-30 02:30] liguoyu666 commented on #633
明白了，假如我微调整个网络的时候，第二个pre-trained设为整个网络训练出来的模型，第一个pre-trained需要改为null吗？上面提到的另外两个问题也请帮忙看哈

[2020-11-30 02:38] wuyefeilin commented on #630
多谢反馈
![image](https://user-images.githubusercontent.com/30919197/100562912-fd205e80-32f7-11eb-9021-5b01d9760f09.png)
这个函数改成这样试试
def _get_nvcc_info(cuda_home):
    if cuda_home is not None and os.path.isdir(cuda_home):
        try:
            nvcc = os.path.join(cuda_home, 'bin/nvcc')
            nvcc = subprocess.check_output(
                "{} -V".format(nvcc), shell=True).decode()

[2020-11-30 02:53] michaelowenliu commented on #633
@liguoyu666 Yes, you can set the first pre-trained as null. Actually, although the first one is specified, the second pre-trained would also overwrite the first one while loading the model.

For the pre-trained of the entire model on remote sensing, please download from "model" in the following link:
https://github.com/PaddlePaddle/PaddleSeg/tree/develop/dygraph/contrib/remote_sensing

The multi-s

[2020-11-30 03:07] liguoyu666 commented on #633
遥感分割比赛动态图baseline用的预训练模型为hrnet_w48_ssld，但是我在PaddleSeg/docs/model_zoo.md与/PaddleSeg-develop/pretrained_model/download_model.py里并未找到该预训练模型，不是问的整个模型的权重，问的backbone的预训练模型

[2020-11-30 03:10] LutaoChu commented on #629
请问是什么问题呢

[2020-11-30 03:19] michaelowenliu commented on #633
@liguoyu666 Hi, do you mean the static graph version?

[2020-11-30 05:31] ElegantGod commented on #633
@michaelowenliu 你好，动态图的预训练模型在哪里，develop/pretrained_model/download_model.py这个是静态图的预训练模型，有没有动态图的预训练模型相应的download_model.py

[2020-11-30 06:06] iceriver97 opened #634 "Seg 静态图的预训练模型就是使用 Seg 中网络进行训练的吗？"
比如对于预训练模型：pspnet50_bn_cityscapes
该模型是使用 pdseg/models/modeling/pspnet.py 训练得来的吗？为什么我查看预训练模型的网络结构发现有个地方有差异，

backbone: resnet.py 中 在bottleneck_block 结束的部分，第191 行开始有两个操作：

[code]

但是我在预训练的模型结构中并没有发现有这两个操作，bottleneck_block 结束之后直接就进入了 pspnet 的部分，这是为什么呢？

[2020-11-30 06:13] liguoyu666 commented on #633
谢谢了，是我搞晕了，在dygraph下找到了

[2020-11-30 06:17] liguoyu666 commented on #633
官方好像没有提供动态图预训练权重的download_model.py，可以模仿静态图的写个脚本。在dygraph下的configs里，自己手动下载，或者在yaml文件里给个下载链接。

[2020-11-30 06:42] liguoyu666 commented on #630
刚好也遇到这个bug了，多卡环境修改后正常运行

[2020-11-30 07:24] nepeplwu commented on #634
@iceriver97 你列出的这三个op是resnet进行分类的层，在分割中不需要用到

[2020-11-30 07:28] Channingss commented on #631
@michaelfu123
可以下载 [yaml.zip](https://bj.bcebos.com/paddlex/deploy/deps/yaml-cpp.zip) 后解压，

然后修改文件的这一行：https://github.com/PaddlePaddle/PaddleSeg/blob/29ab4e924cac93ccb3ed8b778d76f9760d1651bd/deploy/cpp/external-cmake/yaml-cpp.cmake#L10

改为如下，URL后面接解压的yaml目录：
URL path/to/yaml/

然后删除这一行：
https://github.com/PaddlePaddle/PaddleSeg/blob/29ab4e924cac93ccb3ed8b778d76f9760d1651bd/deploy/cpp/external-cmake

[2020-11-30 07:42] iceriver97 commented on #634
谢谢，但是哪里的代码忽略掉了这三个op呢？

[2020-11-30 07:55] michaelfu123 commented on #631
感谢，按照您的指示build成功了

[2020-11-30 08:48] Channingss commented on #631
@michaelfu123 不客气

[2020-11-30 09:52] michaelfu123 commented on #332
想问一下有什么比较好的方法可以将已有的模型导出输出（1，1，513， 513）这种吗

[2020-11-30 11:36] LutaoChu commented on #605
不客气
问题1：我还第一次听说这个问题，还不知道是什么原因。你用的是静态图版本，将不再添加新的feature，可以尝试动态图版本，动态图添加了很多feature，可以试用一下，或许可以解决你碰到的问题。https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.7.0/dygraph
问题2和3：是的，不是error
问题4：暂时没有其他多进程读取的功能，可以试用动态图版本，动态图在windows下是可以使用多进程读取的。
多进程是从磁盘到内存的多进程。
是动态多次读取的。

[2020-11-30 12:17] Hustle-Tung commented on #605
谢谢您的回复

问题1：我测试了动态图版本，依然卡住20分钟左右，卡在[dygraph/train.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/dygraph/train.py)第123行`train()`，这里调用的是[dygraph/paddleseg/core/train.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/dygraph/paddleseg/core/train.py)第51行`def train()`吗？
问题4：加上`--use_mpio`后提示没有这个选项的，所以还是没法用这个选项。

[2020-11-30 12:35] michaelfu123 opened #638 "CPP部署预测过程中其他几个训练好的模型（除humanseg_server_inference外）output with a unexpected size，求解决方法。如何通过修改cpp代码或者转换模型输出tensor格式"
![image](https://user-images.githubusercontent.com/38556449/100611306-1ce17200-334c-11eb-8fea-2c4f1ba78419.png)

[2020-11-30 14:57] LutaoChu commented on #605
问题1：是的。是不是你的机器有其他程序也在运行呢？你也可以具体再定位一下卡住的位置
问题4：动态图中没有--use_mpio这个选项的，你可以设置--num_workers开启多进程IO，设为4或2试试

[2020-11-30 15:41] Hustle-Tung commented on #605
谢谢，现在问题主要还是启动之后卡住等待的问题，时长比较固定：19分钟

问题1：通过加输入输出，我测试出[dygraph/train.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/dygraph/train.py)第123行`train()`调用的是[dygraph/paddleseg/core/train.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/dygraph/paddleseg/core/train.py)第51行`def train()`，在该函数开头64行前面加输出，结果显示卡住过程之后才进入这里的`def train()`；考虑到`dygraph/train.py)`第123行`train()`传参时还调

[2020-12-01 02:18] Darki-luo commented on #630
本地只有一张卡，这样改了还是一样的问题，最后直接把这句话（env_info['NVCC'] = _get_nvcc_info(cuda_home)）注释掉了

[2020-12-01 02:25] nepeplwu commented on #634
在backbone的传入参数中有个`end_points`，组网时会根据这个参数来选取需要的featmap，其他的未用到的op在保存模型时就会被去除掉

[2020-12-01 02:43] Darki-luo commented on #630
找到原因了，之前在ubuntu建的conda环境下装的paddle-gpu, cuda-tookit。ubuntu系统里只安装了源的nvidia-driver驱动，在系统源安装了nvidia-cuda-toolkit之后就没问题了（sudo apt update&&sudo apt install nvidia-cuda-toolkit)

[2020-12-01 02:54] #633 closed, assigned to michaelowenliu

[2020-12-01 03:13] besttrying opened #639 "关于paddleseg中pspnet的测试问题"
训练好后启用测试，当测试val数据集正常，把val数据集改为test数据集测试结果全为0
![XQ2 9ZEV{LH 3$2}H69G $N](https://user-images.githubusercontent.com/18502224/100692648-3b844f00-33c6-11eb-9ddd-ec7855d6d6f5.png)

[2020-12-01 07:40] wuyefeilin commented on #639
请问你用的是什么数据集，测试数据集和验证数据集的格式一样吗

[2020-12-01 08:11] xiaoranchenwai opened #640 "动态图版本的predict.py没有--aug_pred开启多尺度翻转预测和--is_slide开启滑窗预测这两个选项"
运行predict.py开启滑窗预测会提示如下：
usage: predict.py [-h] [--config CFG] [--model_path MODEL_PATH]
                  [--image_path IMAGE_PATH] [--save_dir SAVE_DIR]
predict.py: error: unrecognized arguments: --is_slide --crop_size 256 256 --stride 128 128

[2020-12-01 08:17] wuyefeilin commented on #640
请问你使用的是哪一个版本

[2020-12-01 08:17] LutaoChu commented on #605
cfg中会构建指定的model、optimizer等实例，看起来是卡在了config.py中。train函数中包含cfg.model, cfg.optimizer, cfg.iters, cfg.batch_size，你可以把这4个提出来，先计算完再传入train函数，看看是卡在哪个cfg中。

我猜大概率是卡在cfg.model上。

换成其他模型会碰到这个问题吗？

[code]

[2020-12-01 08:29] xiaoranchenwai commented on #640
我知道了，原来要用develop版本，谢谢大佬

[2020-12-01 08:29] #640 closed, assigned to wuyefeilin

[2020-12-01 08:33] besttrying commented on #639
用的cityscapes的数据集
![C_~(H%KC`2A {B@X4B_)H O](https://user-images.githubusercontent.com/18502224/100715531-4a80f680-33f2-11eb-8bb1-49ce6c86b69a.png)
config.py中路径没变。
代码中在eval.pyz中修改了图片路径
![7XQA@2F$_8PH{T2BT0IF7IU](https://user-images.githubusercontent.com/18502224/100715915-e448a380-33f2-11eb-98f7-cfd32bd4cdf9.png)

[2020-12-01 08:38] besttrying commented on #639
用的cityscapes的数据集
![C_~(H%KC`2A {B@X4B_)H O](https://user-images.githubusercontent.com/18502224/100716085-2d98f300-33f3-11eb-93ab-22da9534dc49.png)

config.py中路径没变。
代码中在eval.pyz中修改了图片集，VAL改为TEST
![Inked7XQA@2F$_8PH{T2BT0IF7IU_LI](https://user-images.githubusercontent.com/18502224/100716348-836d9b00-33f3-11eb-82ee-6b3f56e3414a.jpg)

[2020-12-01 08:50] wuyefeilin commented on #639
cityscape的test数据集的标注文件只有标签0和255，是不能拿来eval的，test的指标需要你预测结果然后上传到官网才能得到结果的

[2020-12-01 08:52] besttrying commented on #639
非常感谢

[2020-12-01 08:53] #639 closed, assigned to wuyefeilin

[2020-12-01 12:14] CoinCheung commented on #612
感谢回复 !!

[2020-12-01 12:14] #612 closed, assigned to wuyefeilin

[2020-12-01 13:20] Channingss commented on #638
@michaelfu123 请问有模型的输入shape和yaml中预处理输出shape一致吗？麻烦把yaml和模型输出大小（拖动__model__文件到netorn可视化软件可查看）信息提供一下

[2020-12-01 15:41] Hustle-Tung commented on #605
确实卡在cfg.model上。

我在`dygraph/train.py`第123行`train()`前添加输出：
[code]
`aaa`等替换`train`的参数。
在`dygraph/paddleseg/cvlibs/config.py`第230行前后添加输出：
[code]
在`dygraph/paddleseg/cvlibs/config.py`第278行添加输出：
[code]
结果如下：
[code]
`dygraph/paddleseg/cvlibs/config.py`第278行不是直接`return component(**params)`嘛，为啥卡在这里呢？我还需要在哪里加输出呢？

[2020-12-02 01:59] michaelfu123 commented on #638
您好，netorn看不到输出大小，
![image](https://user-images.githubusercontent.com/38556449/100818308-cfb4eb80-3484-11eb-90f7-9ff522f9ca40.png)
![image](https://user-images.githubusercontent.com/38556449/100818357-ed825080-3484-11eb-8fd7-fe3d434ab59c.png)
问题
![image](https://user-images.githubusercontent.com/38556449/100818436-199dd180-3485-11eb-8520-4b19be16827c.png)

[2020-12-02 06:35] Channingss commented on #638
按一下左上角的菜单键，然后可以看到左侧弹出输入输出的信息：
![image](https://user-images.githubusercontent.com/12471701/100837118-8f1c9880-34ab-11eb-979a-d86374ad4957.png)

[2020-12-02 07:16] michaelfu123 commented on #638
humanseg_lite_quant 的__model__文件
![image](https://user-images.githubusercontent.com/38556449/100840687-3819c200-34b1-11eb-9f15-716ca41904d6.png)

[2020-12-02 07:19] michaelfu123 commented on #638
好像都是没有固定输入输出大小的

[2020-12-02 09:21] Channingss commented on #638
@michaelfu123 这样的话，报错是这一行：
https://github.com/PaddlePaddle/PaddleSeg/blob/15c8a112c11bd67b870b8da720c672e5c3d04bdf/deploy/cpp/predictor/seg_predictor.cpp#L219
打印一下影响`size_mismatch `变量的相关变量？看是哪个导致了`size_mismatch `为true的

[2020-12-02 09:53] michaelfu123 commented on #638
@Channingss
打印出结果这样的：
![image](https://user-images.githubusercontent.com/38556449/100857061-2a6f3700-34c7-11eb-856c-812eb4947b5c.png)

![image](https://user-images.githubusercontent.com/38556449/100857046-23482900-34c7-11eb-9970-c2ddafeb2c91.png)

[2020-12-02 11:40] Channingss commented on #638
@michaelfu123 这样吧，你先用用python的部署脚本测试一下看能正常run吗？
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.7.0/deploy/python

[2020-12-02 12:59] michaelfu123 commented on #638
@Channingss 好的谢谢，python部署先不测试了。不知道能不能调节一下输出维度的顺序原本输出的tensor是（1,192,192,1），不知道能不能调节成（1,1,192,192）。

[2020-12-02 13:04] Channingss commented on #638
@michaelfu123 这个你可以在输出后面做个后处理转换成（1,1,192,192）。

[2020-12-02 13:50] michaelfu123 commented on #638
@Channingss 我试试看，如果你们有好的方法可以告诉我，谢谢

[2020-12-03 01:33] lyf6 opened #645 "请问动态图导出模型有教程吗"

[2020-12-03 02:28] michaelowenliu commented on #645
@lyf6 coming soon.

[2020-12-03 02:35] lyf6 commented on #645
棒

[2020-12-03 02:35] #645 closed, assigned to nobody

[2020-12-04 00:10] phker opened #647 "UNet vis.py 识别结果背景图片不是黑色的问题."
pdseg/vis.py输出的图片第一张图片的背景是黑色正确的,后面的几张图片颜色都是不对的.

[2020-12-04 00:13] phker opened #648 "pdseg/export_model.py 导出Unet 模型无法导出model.yaml文件."
pdseg/export_model.py 导出Unet 模型无法导出model.yaml文件. 导致无法使用 paddlex 标准的模型进行部署.

[2020-12-04 03:11] 642721838 opened #649 "模型训练咨询"
你好，我在使用paddleseg里面的预训练模型unet_bn_coco进行3波段数据的训练，结果出来这个警告，请问对模型结果有影响么，另：我的损失函数收敛比较慢，但是bathsize根据GPU内存已经设置为最大了。为4，请问怎么解决让loss收敛的更快一些呢，谢谢！
W1204 08:58:27.482141  2328 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 11.0, Runtime API Version: 10.0
W1204 08:58:27.576633  2328 device_context.cc:260] device: 0, cuDNN Version: 7.6.
[SKIP] Shape of pretrained weight .

[2020-12-05 01:44] Rayaction opened #652 "Paddle如何在本地端适用多GPU"
如题，目前都是单GPU运行。

[2020-12-05 01:45] #652 closed, assigned to nobody

[2020-12-05 01:47] Rayaction commented on #560
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.8.0/docs/multiple_gpus_train_and_mixed_precision_train.md

[2020-12-05 04:00] Rayaction opened #653 "pdseg train报段错误"
cuda 版本10.2 cudnn 8.0 paddle 2.0rc
运行pdseg train报段错误：

Use multi-thread reader

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::framework::SignalHandle(char const*, int)
1   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()

----------------------
Error Message Summary:
----------------------
FatalError: A seri

[2020-12-07 02:41] nepeplwu commented on #653
@Rayaction cuda版本和cudnn版本是多少？训练配置麻烦也贴下

[2020-12-07 02:48] jiangjiajun commented on #648
Hi，你好，目前使用PaddleSeg训练导出的模型配置还无法在PaddleX中兼容。我们正在推进PaddleX支持PaddleSeg训练产出模型的事情，欢迎关注PaddleX了解项目的进展。  https://github.com/PaddlePaddle/PaddleX

当前为了解决你的问题，有两种方法
- 1. 使用PaddleX训练UNet模型，训练代码参考 https://github.com/PaddlePaddle/PaddleX/blob/develop/tutorials/train/semantic_segmentation/unet.py
- 2. 使用PaddleSeg训练完模型后，导出模型，并手动写一个PaddleX的yml文件

[2020-12-07 03:07] Rayaction commented on #653
cuda 版本10.2 cudnn 8.0 paddle 2.0rc

TRAIN_CROP_SIZE: (512, 512)
EVAL_CROP_SIZE: (512, 512)
AUG:
    AUG_METHOD: "unpadding"
    FIX_RESIZE_SIZE: (512, 512)
    MIRROR: True
    FLIP: False
    FLIP_RATIO: 0.5
    RICH_CROP:
        ENABLE: False
        MAX_ROTATION: 90
        MIN_AREA_RATIO: 0.5
        ASPECT_RATIO: 0.33
        BLUR: False
        BLUR_RATIO: 0.1
BATCH_SIZE: 16
TRAIN:
    PRET

[2020-12-07 03:13] Rayaction commented on #653
cuda 版本10.2 cudnn 8.0 paddle 2.0rc

TRAIN_CROP_SIZE: (512, 512)
EVAL_CROP_SIZE: (512, 512)
AUG:
    AUG_METHOD: "unpadding"
    FIX_RESIZE_SIZE: (512, 512)
    MIRROR: True
    FLIP: False
    FLIP_RATIO: 0.5
    RICH_CROP:
        ENABLE: False
        MAX_ROTATION: 90
        MIN_AREA_RATIO: 0.5
        ASPECT_RATIO: 0.33
        BLUR: False
        BLUR_RATIO: 0.1
BATCH_SIZE: 8
TRAIN:
    PRETR

[2020-12-07 06:58] wuyefeilin commented on #647
麻烦给一下运行时的日志输出

另外可以正确评估吗？

[2020-12-07 07:01] wuyefeilin commented on #649
你好，运行是正常的，这是正常警告。

你所谓的收敛慢是怎么样一个趋势呢？ 你可以打开vdl，然后截一张loss的曲线图让我们看看。

[2020-12-07 11:32] wsy1991 opened #658 "请问在deploy下的python版预测安装中，contrib/humanseg/pretrained_weights/humanseg_lite_inference无法部署啊"

[2020-12-07 11:34] wsy1991 commented on #658
![截屏2020-12-07 下午7 34 05](https://user-images.githubusercontent.com/33680999/101346200-2d04ce80-38c3-11eb-92b5-407689b841a7.png)

[2020-12-07 12:28] fsted opened #659 "训练一直报'NoneType' object has no attribute 'run'"
cuda 9，paddle1.8稳定版，python3.7，
如果多张卡一起跑训练就是满屏的'NoneType' object has no attribute 'run'，只能换成一张卡，这样根本无法加载大模型

[2020-12-07 12:41] LutaoChu commented on #605
看日志不是因为卡在return component(**params)上，而是在_load_object(model_cfg)更新key，value上。这加载FCN的过程太久了。
我们再看一下

[2020-12-07 12:53] Hustle-Tung commented on #605
好的

[2020-12-07 12:53] #605 closed, assigned to LutaoChu

[2020-12-08 01:05] 642721838 commented on #649
你好，我之前是初始学习率0.001、200个epoch，loss下降较慢。后来把初始学习率降低了（0.0001），然后就收敛很快，epoch在90的时候loss就收敛了，而且值比200的时候要低0.01-0.02左右。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    <not

[2020-12-08 02:10] nepeplwu commented on #653
@Rayaction 建议将cudnn降级到7.6

[2020-12-08 02:12] Rayaction commented on #653
降级后可以支持更大batch size是吗

[2020-12-08 06:20] wuyefeilin commented on #649
可以调节学习率， weight decay， batch size等超参数，或者更换优化器等等

[2020-12-08 11:48] fsted commented on #614
我也是这个问题，好烦

[2020-12-09 01:42] 33749110 opened #662 "Segmentation fault 报错，无法val"
我本来有三个网络在训练  deeplabv3+resnet101、deeplabv3+resnet101、fcn+hrnetw48
然后昨天中午的时候服务器被重启了一下。
等到再开的时候，我的两个deep就无法正常val了，而fcn+hrnet还可以正常运行

以下是进行val时的报错
C++ Traceback (most recent call last):
paddle: :framework: :SignalHandle(char const*, int)
paddle: :platform: :GetCurrentTraceBackstring abi :cxx11]()
Error Message Summary:
FatalError: A serious error (Segmentation fault) is detected by the operating syst

[2020-12-09 02:12] wuyefeilin commented on #662
你好，请给一下完整的报错的信息。 另外，因为是意外终止， 请确保模型是否保存完整

[2020-12-09 02:20] 33749110 commented on #662
W1209 10:19:08.788491   459 device_context.cc:338] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 11.0, Runtime API Version: 10.1
W1209 10:19:08.788540   459 device_context.cc:346] device: 0, cuDNN Version: 8.0.
2020-12-09 10:19:10 [INFO]      Loading pretrained model from https://bj.bcebos.com/paddleseg/dygraph/resnet101_vd_ssld.tar.gz
2020-12-09 10:19:11 [INFO]      There are 5

[2020-12-09 02:21] 33749110 commented on #662
模型保存完整  换一台机器可以正常val。
另外，我和伙伴反复排查过后 确定应该是
logits = model(im)  这句报错

[2020-12-09 02:24] yangshiyu89 opened #663 "如何在 PaddleSeg 或者 HumanSeg 中复现 paddlehub 中的 deeplabv3p_xception65_humanseg 的效果"
您好，

最近在研究 humanseg 相关技术。尝试了一下 paddlehub 中的 deeplabv3p_xception65_humanseg 模型效果很好。不过想在 PaddleSeg 中或者在 contrib/HumanSeg 中进行复现，提取更多的信息学习一下。我的步骤大概如下：

1. 将 paddlehub 下 deeplabv3p_xception65_humanseg 模型通过 module.save_inference_model(dirname), 将模型保存为 ``__model__`` 和 ``__params__`` 两个文件放在指定文件夹下，以适配 HumanSeg 的文件要求，然后将文件夹复制在 contrib/HumanSeg/pretrained_weights/ 中。

2. 以 humanseg_sever_inference 中的 model.y

[2020-12-09 02:48] wuyefeilin commented on #662
CuDNN Version 降到7.6试试，这个问题是环境问题引起的

[2020-12-09 03:12] wuyefeilin commented on #663
hub中deeplabv3p_xception65_humanseg 和humanseg中的模型略有差异，主要是数据预处理和模型最后的输出， 你可以用vdl打开两者的模型结构对比一下看看。 均值需要除以255， std为0.5

[2020-12-09 03:40] wsy1991 opened #664 "paddleseg/contrib/Humanseg下的模型如何部署在padldeseg/deploy/python或者padldeseg/deploy/cpp下"
想把paddleseg/contrib/humanseg/pretrained_wights/humanseg_lite_inference部署安装在padleseg/deploy/python。

但paddleseg提供的安装模型方式是：pdseg/export_model.py，得到（deploy.yaml，model，params），所以想安装部署模型必须利用：pdseg/export_model.py。但在paddleseg下只支持deeplab，fast_scnn，hrnet，icnet，ocnet,pspnet,unet，而humanseg_lite_inference模型是shufflenet_slim做的，所以无法将paddleseg/contrib/humanseg/pretrained_wights/humanseg_lite_inference部署安装在paddle

[2020-12-09 04:00] yangshiyu89 commented on #663
如您所述，对于输入输出，hub 中和 humanseg 最大的不同在于输入的预处理。如我上述，我在 yml 文件和 function.py 文件分别做了预处理的修改适配 hub 中的模型。可是调整过后，结果依然不理想。

[2020-12-09 06:34] nepeplwu commented on #653
嗯，是的，只要不超过显存大小就行

[2020-12-09 06:40] Rayaction commented on #653
8.0的cudnn占用不到1/8的 显存可以运行，否则就是之前的错误。 6269MiB / 32510MiB 这个可以运行。

[2020-12-10 01:30] Rayaction commented on #653
降级后可以更大bs，close了，感谢

[2020-12-10 01:30] #653 closed, assigned to nepeplwu

[2020-12-10 03:08] nepeplwu commented on #659
@fsted ，详细的报错堆栈麻烦贴下

[2020-12-10 07:08] fsted commented on #659
lihaoyu@dell-PowerEdge-T630:/home/share/lihaoyu/PaddleSeg$ source activate paddle
(paddle) liyu@dell-PowerEdge-T630:/home/share/liyu/PaddleSeg$ python pdseg/train.py --cfg configs/unet_optic.yaml \

TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1.

[2020-12-10 07:08] fsted commented on #659
lihaoyu@dell-PowerEdge-T630:/home/share/lihaoyu/PaddleSeg$ source activate paddle
(paddle) liyu@dell-PowerEdge-T630:/home/share/liyu/PaddleSeg$ python pdseg/train.py --cfg configs/unet_optic.yaml \

TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1.

[2020-12-10 07:12] fsted commented on #659
lihaoyu@dell-PowerEdge-T630:/home/share/lihaoyu/PaddleSeg$ source activate paddle
(paddle) liyu@dell-PowerEdge-T630:/home/share/liyu/PaddleSeg$ python pdseg/train.py --cfg configs/unet_optic.yaml \
                      --use_gpu \
                      --do_eval \
                      --use_vdl \
                      --vdl_log_dir train_log \
                      BATCH_SIZE 4 \

[2020-12-10 07:13] fsted commented on #659
`lihaoyu@dell-PowerEdge-T630:/home/share/lihaoyu/PaddleSeg$ source activate paddle
(paddle) liyu@dell-PowerEdge-T630:/home/share/liyu/PaddleSeg$ python pdseg/train.py --cfg configs/unet_optic.yaml \

TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1

[2020-12-11 03:21] lantudou opened #670 "为什么vis.py的可视化结果跟最后部署后的infer.py评估的模型结果不一样"
模型训练好之后使用export model导出并使用infer.py对训练集的数据进行评估，出来的伪彩色结果标注图跟训练过程中的vis.py效果相比低了很多，环境用的是AI studio的线上环境

[code]

[code]

[code]

![33_jpeg_result](https://user-images.githubusercontent.com/34973475/101857643-ef45c580-3ba2-11eb-8576-5f858f93e5ab.png)
![33](https://user-images.githubusercontent.com/34973475/101857645-f10f8900-3ba2-11eb-8ce6-fc868fddc34d.png)

结果相差确实挺多的，如有必要我可以把项目设置成公开项目提供复现协助

[2020-12-11 03:23] lantudou commented on #670
更换模型也有这个问题，是infer.py部署的时候需要额外添加某些设置吗还是什么其他的

[2020-12-11 03:48] Channingss commented on #664
@wsy1991 这里导出humanseg_lite模型的脚本：
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.8.0/contrib/HumanSeg#%E6%A8%A1%E5%9E%8B%E5%AF%BC%E5%87%BA

deploy.yaml的话可以copy：
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.8.0/deploy/cpp#42-%E4%BF%AE%E6%94%B9%E9%85%8D%E7%BD%AE

针对humanseg_lite相应修改一下。

[2020-12-11 04:10] wsy1991 commented on #664
对，这个方法我之前试了，在deploy下运行的时候，报错 @Channingss

[2020-12-11 07:14] wsy1991 commented on #664
@@用paddleseg/contrib/Humanseg/export，导出的模型，在paddleseg/deploy/python.infer.py中运行，模型的输出为(batch_size=1,w=192,h=192,channel=1)，而paddle/pdseg/export_model导出的模型，在paddleseg/deploy/python.infer.py中运行，模型输出为(batch_size=1,channel=2,w=192,h=192) @Channingss

[2020-12-11 07:25] Channingss commented on #664
@wsy1991 把具体报错贴出来看看

[2020-12-11 07:27] wsy1991 commented on #664
![Uploading 截屏2020-12-11 下午3.27.47.png…]()

[2020-12-11 07:29] linhandev opened #671 "[Feature Request] Add support for npy format input"
希望能在输入部分增加对npy格式数据的支持．
标签上用png一般都不会有问题，但是图片作为输入数据有数据范围和通道数量的限制．
- 通道限制
比如在医学影像领域，数据都是3D的，使用2D的网络处理时会希望可以增加到5通道或者7通道来扩大网络在3D方向上的感受野．在做卫星遥感处理的时候，在群里看到有反馈希望对多于3种传感器的数据放到一起进行处理，这样图片的３通道都是一个没法突破的限制．
-　数据范围限制
在rgb图像场景下数据范围基本都不会有问题，但是在一些灰度图，比如在医学影像场景下，CT的有效强度值大概分布在超过2048的区间，如果加上一些噪点范围可以超过1w．虽然在进行训练之前会进行去噪并用窗宽窗位的操作减小范围，但是0~255的范围还是比较小的．之前有看到过16bit的png，可能是一个可行的方向，不知道现在的pdseg是否支持．

总体来说直接增加npy格式的numpy数组支持可以

[2020-12-11 07:30] wsy1991 commented on #664
![截屏2020-12-11 下午3 30 23](https://user-images.githubusercontent.com/33680999/101875570-cedb3280-3bc5-11eb-93e3-acdbe88cc102.png)

[2020-12-11 07:33] wsy1991 commented on #664
![Uploading 截屏2020-12-11 下午3.30.23.png…]()

[2020-12-11 07:36] wsy1991 commented on #664
@Channingss

Traceback (most recent call last):
  File "infer.py", line 370, in <module>
    run(gflags.FLAGS.conf, gflags.FLAGS.input_dir, gflags.FLAGS.ext)
  File "infer.py", line 352, in run
    seg_predictor.predict(imgs)
  File "infer.py", line 327, in predict
    self.output_result(img_datas, output_data, use_pr)
  File "infer.py", line 255, in output_result
    score_png[i, j] = color_map[s

[2020-12-11 08:17] michaelowenliu commented on #671
@linhandev Hi, thanks a lot for your suggestions. PaddleSeg team will discuss mentioned features carefully and will add them in a future version. If you have a solution or idea to implement already, please feel free to let us know.

[2020-12-11 08:24] wuyefeilin commented on #664
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.8.0/contrib/HumanSeg/nets/shufflenet_slim.py#L151
把这一行的3改成1，重新导出试试

[2020-12-11 08:34] wsy1991 commented on #664
可以了，非常感谢

[2020-12-11 08:45] wsy1991 commented on #664
@wuyefeilin    infer.py不报错了，但得到的seg结果，全黑。seg的结果是不正确的

[2020-12-11 11:55] GuoQuanhao opened #673 "数据增强"
希望PaddleSeg提供弹性形变的数据增强方式，因为对于医学组织来说，弹性形变往往显得必要

[2020-12-11 12:38] michaelowenliu commented on #673
@GuoQuanhao Hi, thanks for the good point.

[2020-12-12 13:04] sunhufei opened #674 "在配置/数据校验时（自定义图片），训练和验证的图片都显示通过，而测试图片显示读取失败？"
-----------------------------
3. Check test dataset...
100%|█████████████████████████████████████████████████████████████████
███████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

PASS E:/dataset/test.txt DATASET.SEPARATOR check

NOT PASS dataset reading check
Failed to read 1 images

PASS DATASET.IMAGE_TYPE check

Doing max image size statistics:
max width and max height of images ar

[2020-12-14 01:35] lantudou commented on #674
错误提示为cv2没有读取到图片，你应该检查一下测试集的配置文件或者图片路径是否正确

[2020-12-14 03:50] nepeplwu commented on #670
@lantudou 两个不同的预测效果，使用的是同一组模型参数吗？

[2020-12-14 04:04] wuyefeilin commented on #658
请把你创建的yml文件贴一下

[2020-12-14 04:06] wuyefeilin commented on #664
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.8.0/deploy/python/infer.py#L277 把这一行的0改成1试一下

另外给一下你的yml.

[2020-12-14 04:09] nepeplwu commented on #659
@fsted 多卡训练需要安装nccl库，麻烦确认下本地是否安装了相关的lib

[2020-12-14 05:41] wsy1991 commented on #664
@wuyefeilin 可以了

Model: HumanSegLite
_Attributes:
  eval_metric: {}
  labels: []
  num_classes: 2
_ModelInputsOutputs:
  test_inputs:
  - - image
    - image
  test_outputs:
  - - pred
    - unsqueeze2_0.tmp_0
  - - logit
    - softmax_0.tmp_0
_init_params:
  class_weight: null
  ignore_index: 255
  num_classes: 2
  sync_bn: true
  use_bce_loss: false
  use_dice_loss: false
status: Infer
test_tran

[2020-12-14 05:43] wsy1991 commented on #664
Model: HumanSegLite
_Attributes:
  eval_metric: {}
  labels: []
  num_classes: 2
_ModelInputsOutputs:
  test_inputs:
  - - image
    - image
  test_outputs:
  - - pred
    - unsqueeze2_0.tmp_0
  - - logit
    - softmax_0.tmp_0
_init_params:
  class_weight: null
  ignore_index: 255
  num_classes: 2
  sync_bn: true
  use_bce_loss: false
  use_dice_loss: false
status: Infer
test_transforms:
- Resize:

[2020-12-14 05:46] wsy1991 commented on #664
@wuyefeilin  cpp下如何修改呢

[2020-12-14 06:22] lantudou commented on #670
使用export_model对同一组模型参数进行导出再infer.py评估，刚才确认了一遍是同一个模型，infer.py跟vis.py结果不同

[2020-12-14 06:42] lantudou commented on #670
是不是因为infer.py开启了tensorrt之类的推理优化导致最后结果产生了误差？

[2020-12-14 08:38] eddieheyutong opened #679 "请问一下，我在使用deeplabv3+的时候训练尺寸的大小为何影响较大"
在使用deeplabv3+时，原本的配置文件中默认 train crop size为769x769，我将这一配置改为512x1024会使miou下降3%左右，请问这是优化的问题吗还是什么问题呢

[2020-12-14 10:53] linhandev commented on #671
之前我可能0.4版本左右的时候写过这个，现在肯定是merge不进去了，当时写的也比较简单，直接绕过了所有的数据增强．期待大佬们能加入新功能！

[2020-12-14 10:53] #671 closed, assigned to michaelowenliu

[2020-12-15 09:23] lantudou commented on #670
你们infer.py预处理的结果跟vis.py用的预处理数据根本不一样，部署时候infer.py送入模型的输入就有问题，相当优秀。

开启tensorrt优化如果没有精度裁减不会对结果造成准确度损失,NVIDA比你们还是靠谱不少

[2020-12-15 09:44] xdhuang opened #685 "请问下ICNET的cfg.MODEL.ICNET.LAYERS设置为18后训练报错"
报错内容如下：
  File "PaddleSeg-0.6.0\pdseg\models\modeling\icnet.py", line 128, in resnet
    dilation_dict=dilation_dict)
ValueError: too many values to unpack (expected 2)

[2020-12-15 09:58] lantudou commented on #670
问题已经找到，如果在config.yaml配置文件中出现TO_RGB: True 的数据增强标签的时候，在训练时候reader.py会自动把CV2读入的BGR通道的顺序改为RGB，而在infer.py部署中没有考虑这点，导致输入进部署模型的数据依然为BGR通道，会导致推理结果出现跟训练评估严重不一致的问题，如果未更新需要在config.yaml中（我上面贴出来的第一个配置文件）关闭TO_RGB数据增强标签或者在infer.py预处理数据阶段140行增加下列语句
im = im[..., ::-1]

[2020-12-15 09:59] lantudou commented on #670
我自从用了你们飞桨的这些额外库，部署就从来没有不出问题的时候，我真是仏了

[2020-12-15 10:01] #670 closed, assigned to nepeplwu

[2020-12-16 02:44] nepeplwu commented on #679
@eddieheyutong `TRAIN_CROP_SIZE`中的第一位表示width，第二位表示height，所以应该是改为1024x512。另外，如果`TRAIN_CROP_SIZE`为1024x512，那么建议`EVAL_CROP_SIZE`设置为2048x1024

[2020-12-16 02:48] nepeplwu commented on #685
@xdhuang 感谢反馈，这个问题我们将会在后续版本中修复。你现在使用的版本还是静态图版本，PaddleSeg目前已经支持动态图版本，并且实现了更多的优质模型，欢迎试用下：[PaddleSeg动态图](https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.8.0/dygraph)

[2020-12-16 03:27] xdhuang commented on #685
动态图还不稳定无法落地吧

[2020-12-16 03:30] xdhuang commented on #685
感谢您的答复，静态图这个问题解决也不难吧，先稳定一个版本再切换下个版本才是正途吧

[2020-12-16 06:43] noirlyrik opened #689 "数据准备--使用精灵标注的像素级标注导出的文件如何转换"
使用精灵标注的像素级项目标注，导出的json文件中没有多边形坐标点，但是有attachments文件夹，文件下有每一个类别的灰度图。尝试把attachments中的图片二值化后叠加，但是json中的类别顺序与attachments图片顺序不是对应的，并且叠加得到的图片有重叠，会有误差。请问如何进行格式转换？
[code]
![image](https://user-images.githubusercontent.com/39143373/102313180-150c0980-3fab-11eb-809f-c47e06a7ec76.png)
![image](https://user-images.githubusercontent.com/39143373/102313236-35d45f00-3fab-11eb-9ce8-2c9883a5895c.png)
![image](https

[2020-12-16 10:59] Zhangfc682 opened #691 "动态图 develop 中bce_loss出错"
使用动态图unet做num_classes=2的训练，使用bce_loss出现错误。

You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.2020-12-16 18:55:12 [INFO]
------------Environment Information-------------
platform: Linux-4.4.0-150-generic-x86_64-with-debian-stretch-sid
Python: 3.7.4 (default, Aug 13 2019, 20:35:49) [GCC 7.3.0]
Paddle compiled with cuda: Tru

[2020-12-16 14:55] YH-49 opened #698 "Remote Sensoring AttributeError"
错误信息，Linux下会报这个错，而windows下可以运行至内存不足报错，数据已经通过检查，并可以得到相应的均方值和方差。
Traceback (most recent call last):
  File "train_demo.py", line 167, in <module>
    use_vdl=False)
  File "/home/yhao/yaogan/PaddleSeg/contrib/RemoteSensing/models/hrnet.py", line 154, in train
    use_vdl=use_vdl)
  File "/home/yhao/yaogan/PaddleSeg/contrib/RemoteSensing/models/base.py", line 341, in train
    regularization_coeff=re

[2020-12-17 03:01] stu166 opened #699 "提个建议"
现在的这个感觉就是没法二次创作，在paddleSeg 下修改已有的模型难度太大了，没有torch那么好用 ，建议可以出一些经典的案例，从数据处理 ，到模型组网，到模型训练，再到模型评估，相信有了一些经典案例，会有越来越多人会在paddleSeg上进行二次修改。

[2020-12-17 06:42] wuyefeilin commented on #691
多谢反馈， 我们这边会尽快解决这个问题

[2020-12-17 06:46] michaelowenliu commented on #699
@stu166 Hi, thanks for your suggestion. Did you try the new version of PaddleSeg, i.e. the dynamic graph version?

[2020-12-17 08:35] zjhellofss opened #700 "希望可以增加对多通道图像（遥感）读取的支持。"
遥感图像处理是图像分割领域一个重要的应用，道路识别、云层识别、绿化覆盖区域识别都可以用图网络进行处理，但是遥感图像往往是多通道的，目前paddleSeg还不能满足要求。希望可以尽早增加对多通道图像的支持（可以由多张单通道图像组合而成，例如自然光、各种传感器）。

非常非常地感谢！！

[2020-12-17 12:22] sunhufei opened #701 "deeplabv3p_xception65_humanseg"
训练这个模型的数据集，请问开源吗？？

[2020-12-17 15:03] yu-Mas opened #704 "关于bce和lovasz hinge的加权问题"
你好，很高兴能看到这么详细的中文文档，对我帮助颇大，谢谢你们！

https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.8.0/docs/lovasz_loss.md
我在阅读上述lovasz文档时有个困扰，当bce和lovasz hinge结合时，bce内部使用sigmoid后再计算，lovasz hinge则直接使用logits计算。那么使用metric（譬如dice或iou）来评价时，假如阈值固定，计算metric的对象是sigmoid（logits）还是logits？

不知道表述的请不清晰，期待你们的回复。
谢谢

[2020-12-17 15:24] YH-49 commented on #698
Environment Information
platform: Linux ubuntu 4.4.0-121-generic #145-Ubuntu SMP Fri Apr 13 13:47:23 UTC 2018 x86_64 GNU/Linux
python: 3.6.4
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.2, V10.2.89
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: TITAN Xp-12GB
GCC: 5.3.0
PaddlePaddle: 2.0.0-rc0
numpy: 1.19.2
gdal: 3.2.0

[2020-12-18 02:11] michaelowenliu commented on #700
@zjhellofss Hi, thanks for the new feature suggestion.

[2020-12-18 06:51] wuyefeilin commented on #701
不公开的，你可以使用公开的数据集supervisely进行相关的训练

[2020-12-18 07:40] wuyefeilin commented on #691
@Zhangfc682  已修复， 请更新最新的develop版本进行使用

[2020-12-18 09:51] nepeplwu commented on #685
@xdhuang

目前无论是PadldlePaddle或者是PaddleSeg，动态图的功能都已经稳定可用了，我们将在这周就全面切换动态图版本

ICNet的这个问题我们会在下周修复。

[2020-12-18 12:48] sunhufei commented on #701
supervisely，是用什么标注的？

[2020-12-18 12:48] sunhufei commented on #701
谢谢

[2020-12-18 12:50] sunhufei opened #707 "Supervisely 人像分割 使用什么标注的？"
哪个软件？labelme?jingling?我感觉不是这两个

[2020-12-20 03:47] sunhufei opened #711 "爱分割数据集，作为预训练模型的数据集，需要打标签吗？"

[2020-12-21 02:24] wuyefeilin commented on #707
@sunhufei  https://supervise.ly/ 这是这个数据集的官网， 你可以查看相关的信息

[2020-12-21 02:24] nepeplwu commented on #711
@sunhufei 抱歉，没太理解你的意思

[2020-12-21 13:21] LutaoChu commented on #704
很高兴你对PaddleSeg文档的认可！
我理解计算metric的对象是predict的结果。对于lovasz hinge和bce和dice loss，会经过sigmoid，目的是将单通道的logit变换为两通道，最终的对象为argmax(sigmoid(logits))。对于其他loss为argmax(logits)

[2020-12-21 13:28] LutaoChu commented on #698
目前RemoteSensing为静态图版本，但从报错信息看你是在动态图模式下运行的。
请在代码最开头切换为静态图模式
[code]

[2020-12-21 13:39] LutaoChu commented on #689
请问attachments是标注工具自己产生的还是你创建的呢？
看起来是精灵标注导出格式变了。

[2020-12-22 01:45] noirlyrik commented on #689
精灵标注生成的文件。我重新标注了。

[2020-12-22 02:24] LutaoChu commented on #689
重新标注后问题解决了吗

[2020-12-22 05:45] noirlyrik commented on #689
重新标注后可以的，看了代码仅支持位置标注中使用多边形标注

[2020-12-22 06:14] prj-jxust opened #721 "关于filklock 模块导入问题"
在windows里面训练没有问题，但是在ai studio里面出现ModuleNotFoundError: No module named 'filelock'
具体报错：
`You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.
Traceback (most recent call last):
  File "train.py", line 19, in <module>
    from paddleseg.cvlibs import manager, Config
  File "/home/aistudio/work/PaddleSeg-release-v2.0.0-rc/paddl

[2020-12-22 07:32] LutaoChu commented on #689
是的，只支持多边形标注，这种标注相对比较简单快捷。你用的是什么类型的标注呢

[2020-12-22 08:31] wuyefeilin commented on #721
"!pip install lockfile " , 你这个是打错了还是装的时候就是这个样子

[2020-12-22 08:45] kymoran3169 opened #725 "关于fast scnn 训练的问题"
我使用分割套件在平台上训练fast scnn 出现了GPU利用率特别低的情况（CPU利用率，内存都还正常）
![image](https://user-images.githubusercontent.com/53987628/102868283-f60eeb00-4474-11eb-87ca-f31697cdaf5c.png)

[2020-12-22 08:50] #725 closed, assigned to nobody

[2020-12-22 08:51] kymoran3169 commented on #725
数据增强没有关，，，

[2020-12-22 09:02] wuyefeilin commented on #725
可以开启 --use_mpio加快数据的读取

[2020-12-22 11:26] prj-jxust commented on #721
解决了，谢谢

[2020-12-22 11:26] #721 closed, assigned to wuyefeilin

[2020-12-23 02:12] wuyang556 opened #728 "注意到项目使用的BN是nn.SyncBatchNorm，所以项目可以在单GPU环境下运行吗？"

[2020-12-23 02:13] wuyefeilin commented on #728
可以的

[2020-12-23 03:22] weiluonika opened #729 "我在使用paddleseg训练的时候 配置/数据校验步骤时出现错误"
![image](https://user-images.githubusercontent.com/50006064/102955533-1a200a00-4511-11eb-984c-d77670c21f22.png)

3. Check test dataset...
100%|███████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 51175.01it/s]

PASS test.txt DATASET.SEPARATOR check

NOT PASS dataset reading check
Failed to read 100 images

PASS DATASET.IMAGE_TYPE check

Doing max image size statistics

[2020-12-23 03:25] weiluonika commented on #674
我也是遇到这个问题 大佬解决了吗

[2020-12-23 06:45] weiluonika commented on #729
找到原因了，原因在于默认config文件中分隔符是“ ”，而生成数据的脚本文件中默认分隔符是“|”，造成的原因。大家出现这个问题后，一定要再三检查自己的config文件

[2020-12-23 07:29] noirlyrik commented on #689
像素级分割
![image](https://user-images.githubusercontent.com/39143373/102971016-890e5a80-4533-11eb-88b3-b49799b2c181.png)

[2020-12-23 08:08] nepeplwu commented on #685
@xdhuang 最新的release/v2.0.0-rc分支已经修复ICNet的问题，请更新到该分支尝试下

[2020-12-23 12:44] sunhufei opened #732 "跑模型humanseg出现问题"
Traceback (most recent call last):
  File "train.py", line 169, in <module>
    train(args)
  File "train.py", line 164, in train
    use_vdl=args.use_vdl)
  File "/home/ck/slu/koutu666/HumanSeg/models/humanseg.py", line 919, in train
    quant=quant)
  File "/home/ck/slu/koutu666/HumanSeg/models/humanseg.py", line 423, in train
    regularization_coeff=regularization_coeff)
  File "/home/ck/slu/k

[2020-12-23 12:44] sunhufei commented on #732
这是为什么呀

[2020-12-23 12:55] wuyefeilin commented on #732
你是用的什么版本的Paddle

[2020-12-23 13:12] sunhufei commented on #732
2.0RC1

[2020-12-23 13:14] sunhufei commented on #732
用户的环境是1.6，你用的应该是基于develop分支下的，最新develop分支下的动态图，optimizer需要指定要优化的参数，你看报错信息里是parameter_list为空。目前关于lookaheadoptimizer的最新结论是：动态图当前不支持lookaheadoptimizer。  这是我看官方的，但是这都时间这么长了，paddle还不支持吗

[2020-12-23 13:15] sunhufei commented on #674
解决了，数据集弄错了

[2020-12-23 13:27] sunhufei commented on #698
好像还是报错

[2020-12-23 13:29] wuyefeilin commented on #732
2.0RC1 默认使用动态图， HumanSeg是静态图网络，你可以是用paddle 1.8版本。 或者在代码里增加paddle.enable_static()

[2020-12-23 13:41] YH-49 commented on #698
我的这个报错确实是因为动静态图版本问题，之前的版本我也写错了，我用的是2.0.0a0
修改完后还会有一个错是 paddle.fluid.core.save_op_compatible_info 不存在的报错，这个是因为版本更新问题。具体参考链接 https://github.com/PaddlePaddle/PaddleSeg/commit/871ae92e1ff671a40b1952f8c943a1ca9fdd36b2
需要把PaddleSeg/pdseg/utils/paddle_utils.py移动到RemoteSensing/utils/下，然后再把报错的文件，我记得应该是base.py下的哪个paddle.fluid.core.save_op_compatible_info改成paddle_utils.save_op_version_info，后面的括号的内容不用变。

[2020-12-23 13:42] YH-49 commented on #698
改了以后确实好了，谢谢，这个是正确改法。

[2020-12-23 14:00] sunhufei commented on #732
还是报同样的错

[2020-12-24 02:50] #689 closed, assigned to LutaoChu

[2020-12-24 04:00] noirlyrik commented on #670
我也遇到这个问题了，vis和infer的结果差别太大，但是在infer里添加im = im[..., ::-1]并没有起效。

[2020-12-24 04:03] wuyefeilin commented on #732
你是怎么修改的

[2020-12-24 06:55] ARQlalala opened #734 "可以使用 paddle.distributed 分布式训练吗"
hello，请教下，paddleseg 分支是否可以使用分布式训练呢，类似python -m paddle.distributed.launch --selected_gpus 0,1,2,3，

[2020-12-24 07:14] lantudou commented on #670
请在他的py脚本中使用print检查vis.py的输入数据跟eval.py的输入数据是否一致，如果跟我是同样的问题的话，在训练的config.yaml中关闭TO_RGB数据增强标签不改动eval.py也可以解决问题：

TO_RGB: False

[2020-12-24 07:15] lantudou commented on #647
https://github.com/PaddlePaddle/PaddleSeg/issues/670可以检查参考一下是否是这个BUG

[2020-12-24 07:20] lantudou commented on #670
请官方人员在更新infer.py修复上述BUG的时候在此issue下留言，否则我将重新开启此issue

[2020-12-24 08:20] wuyefeilin commented on #734
可以的， 使用方法请参考：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0.0-rc/docs/quick_start.md#%E6%A8%A1%E5%9E%8B%E8%AE%AD%E7%BB%83

[2020-12-24 09:21] kymoran3169 opened #736 "关于data_aug.py中的检测数据的处理问题"
![data_aug](https://user-images.githubusercontent.com/53987628/103077861-99920400-460b-11eb-8afa-409056ca9dfb.png)
这个部分是数据加载的 裁剪部分，从检测模式（不是训练模式）输入的角度来说，
如果图片小于预定尺寸进行了填充，为了修正填充结果进行了二次裁剪（这是我对这段代码的理解）
但是填充函数是在bottom，right（也就是下方和右方）进行填充，而修正的二次裁剪却是
crop_img = crop_img[h_off:(crop_height + h_off), w_off:( w_off + crop_width), :]
从左侧和上侧 进行的。
请问，这是为什么呢？或者是我错误理解了这下面部分函数的意义？

[2020-12-24 09:27] wuyefeilin commented on #736
填充是因为图片尺寸小雨所需要的裁剪尺寸， 后面是随机裁剪。 当你进行填充的时候，其实后面的裁剪就是填充后的图，这时候h_off或w_off是等于0的

[2020-12-24 09:28] wuyefeilin commented on #736
欢迎使用我们的动态图版本，动态图版本易用性和可读性都好很多

[2020-12-24 09:37] kymoran3169 commented on #736
好吧，我没有算出来hoff和woff是等于0，
我也想用动态图，实验都做完了，下一篇再说吧

[2020-12-24 09:39] kymoran3169 commented on #582
reader的数据增强被打开了，关掉就行了，就是下面这个东西。
# RichCrop数据增广开关，用于提升模型鲁棒性
cfg.AUG.RICH_CROP.ENABLE = False

[2020-12-24 09:40] kymoran3169 commented on #582
可以的话，调用训练命令的时候把--use_mpio 打开，效果加倍

[2020-12-24 09:44] #736 closed, assigned to nobody

[2020-12-24 12:44] LutaoChu commented on #698
报什么错呢？可以先参照YH-49同学的方法试试  https://github.com/PaddlePaddle/PaddleSeg/issues/698#issuecomment-750305166

[2020-12-24 13:10] LutaoChu commented on #698
也感谢你的反馈，正在使Remote Sensing适配paddle 2.0版本

[2020-12-25 02:54] ARQlalala commented on #734
好的，谢谢，这个是要用 paddleseg 的2.0分支，paddle 版本有什么要求吗

[2020-12-25 03:08] x12901 commented on #325
请问楼主怎么解决的?

[2020-12-25 03:09] wuyefeilin commented on #734
可以使用paddlepaddel-gpu==2.0.0rc1版本

[2020-12-25 08:25] noirlyrik opened #739 "请问如何获取可视化得到的类别坐标？"
使用vis.py可视化得到的是图片，请问如何获取每个类别的坐标？使用canny边缘检测得到的是全部轮廓并且准确度也不高。

另外，如果是仅展示预测图片上的其中一个类别，其他类别都涂白，要怎么处理？

[2020-12-25 08:36] wuyefeilin commented on #739
请问一下你怎么处理的目的是什么？ 是在什么场景下需要应用的？

[2020-12-26 02:35] sunhufei commented on #732
我在train.py中加入您说的这个，

[2020-12-26 02:38] sunhufei opened #740 "在官网提供的HumanSeg中，怎么显示过程可视化， 为什么直接使用指令 visualdl --logdir ./log 不能显示"

[2020-12-26 02:54] sunhufei commented on #740
生成log，为什么不能显示呀

[2020-12-28 01:32] noirlyrik commented on #739
在ocr中用到的，需要识别特定符号并获取位置

[2020-12-28 03:49] wuyefeilin commented on #732
@sunhufei 我看一下你是怎么加的，你同时也试一下1.8版本的

[2020-12-28 03:52] wuyefeilin commented on #740
你在运行脚本的时候是否打开了--use_vdl, 你查看一下在保存目录里是否生成了vdl日志文件

[2020-12-28 03:55] wuyefeilin commented on #739
你看是否可以根据类别标签直接获取坐标呢？

仅预测一个类别的话，你可以进行二分类训练，目标标签为1，背景为0

[2020-12-28 08:21] xiaoranchenwai opened #745 "动态图版本有对应的model_export模型导出文件吗"
想用动态图版本做模型导出和预测，但是好像没有看到对应的model_export,使用之前的model_export会提示yml中的关键字找不到。

[2020-12-28 08:54] #739 closed, assigned to wuyefeilin

[2020-12-30 02:08] nepeplwu commented on #745
@xiaoranchenwai 感谢反馈，动态图的导出功能正在开发中，将会在下个版本中发布

[2020-12-30 12:48] yy11223 opened #750 "PaddleSeg训练可视化网址打不开"
程序：
#训练可视化
!visualdl --logdir output/

运行结果：
VisualDL 2.0.3
Running VisualDL at http://localhost:8040/ (Press CTRL+C to quit)
Serving VisualDL on localhost; to expose to the network, use a proxy or pass --host 0.0.0.0

复制网址http://localhost:8040/ 在谷歌浏览器上打不开，错误显示：
无法访问此网站localhost 拒绝了我们的连接请求。
请试试以下办法：

检查网络连接
检查代理服务器和防火墙
ERR_CONNECTION_REFUSED

[2020-12-31 02:39] nepeplwu commented on #750
@yy11223 你启动visualdl服务的机器和浏览器打开的机器是同一台吗

[2020-12-31 04:36] yy11223 commented on #750
是的，同一台

---原始邮件---
发件人: "wuzewu"<notifications@github.com&gt;
发送时间: 2020年12月31日(周四) 上午10:39
收件人: "PaddlePaddle/PaddleSeg"<PaddleSeg@noreply.github.com&gt;;
抄送: "Mention"<mention@noreply.github.com&gt;;"yy11223"<928813176@qq.com&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] PaddleSeg训练可视化网址打不开 (#750)

@yy11223 你启动visualdl服务的机器和浏览器打开的机器是同一台吗

—
You are receiving this because you were mentioned.
Reply to thi

[2020-12-31 11:58] sunhufei opened #752 "Fine-tune保存的模型如何转化为一个PaddleHub Module, 此时的模型是量化后的吗？"

[2020-12-31 14:38] #750 closed, assigned to nepeplwu

[2021-01-05 03:22] nepeplwu commented on #752
@sunhufei Finetune后的模型不是量化模型。可以参考[PaddleHub Module编写教程](https://github.com/PaddlePaddle/PaddleHub/blob/release/v2.0.0-beta/docs/docs_ch/contribution/contri_pretrained_model.md)进行转换

[2021-01-07 08:23] sunhufei commented on #752
量化模型可以转化吗？

[2021-01-08 02:21] nepeplwu commented on #752
@sunhufei 可以的

[2021-01-10 08:32] yy11223 opened #764 "PaddleSeg跑cityscapes数据集的问题"
#模型评估
!cd work/PaddleSeg && python pdseg/eval.py --use_gpu \
                     --cfg configs/deeplabv3p_mobilenetv3_large_cityscapes.yaml \
                     TEST.TEST_MODEL saved_model/deeplabv3p_mobilenetv3_large_cityscapes/best_model
运行结果：
[EVAL]#image=500 acc=0.9529 IoU=0.7251
[EVAL]Category IoU: [0.9779 0.8250 0.9087 0.4881 0.5561 0.5690 0.6265 0.7335 0.9160 0.6307 0.9382 0.7701 0.5423

[2021-01-10 11:01] yy11223 opened #765 "PaddleSeg跑cityscapes数据集的问题"
yaml文件：
EVAL_CROP_SIZE: (4096, 2048) # (width, height), for unpadding rangescaling and stepscaling
TRAIN_CROP_SIZE: (769, 769) # (width, height), for unpadding rangescaling and stepscaling
AUG:
    AUG_METHOD: "stepscaling" # choice unpadding rangescaling and stepscaling
    MAX_SCALE_FACTOR: 2.0  # for stepscaling
    MIN_SCALE_FACTOR: 0.5  # for stepscaling
    SCALE_STEP_SIZE: 0.25  # for steps

[2021-01-10 13:24] Taoboan1999 opened #766 "在windows运行paddleseg时，IoU和Acc全是0"
load test model: ./saved_model/unet_covid/2
[EVAL]#image=0 acc=0.0000 IoU=0.0000
[EVAL]Category IoU: [0 0]
[EVAL]Category Acc: [0 0]
[EVAL]Kappa:nan
这是为什么呢

[2021-01-11 02:18] wuyefeilin commented on #764
acc ：预测正确的像素数/总像素数

[2021-01-11 02:21] wuyefeilin commented on #765
EVAL_CROP_SIZE的宽高应不小于原图中最大的宽和高， 是指EVAL_CROP_SIZE[0]应该大于你数据集中最大的宽，EVAL_CROP_SIZE[1]应该大于你数据集中最大的高

[2021-01-11 02:24] haoyuying commented on #766
您好，请将具体执行的模型和脚本发给我们，方便复现问题。

[2021-01-11 08:06] yy11223 commented on #764
那[EVAL]#image=500 acc=0.9529 IoU=0.7251里的 IoU也不是平均指标是吧？

[2021-01-11 08:36] wuyefeilin commented on #764
mIoU是取的各类的iou平均值

[2021-01-11 08:39] yy11223 commented on #764
程序输出是IoU，意思其实是mIoU是吧？

[2021-01-12 02:24] lguowang opened #768 "from test_utils import download_file_and_uncompress 错误，要安装什么包？"
from test_utils import download_file_and_uncompress 错误，要安装什么包？
Traceback (most recent call last):
  File "dataset/download_optic.py", line 23, in <module>
    from test_utils import download_file_and_uncompress
ImportError: cannot import name 'download_file_and_uncompress'

[2021-01-12 02:37] Darki-luo opened #769 "调用paddleseg和paddle2.0rc1 hapi接口训练 出错"
环境是paddle2.0rc1-gpu,  cuda 10.2 ,ubuntu,
安装了paddleseg2.0.0rc，
目前有一些模型paddleseg.model.fcn是可以用paddle.Model.fit() 正常训练的，有部分不行，目前尝试使用ocr,psp,会报错，TypeError: forward() takes 3 positional arguments but 4 were given

使用基础接口自行写训练部分是可以正常使用的，目前不清楚是哪边的问题

在paddle下也提了issue，这个是用ocrnet测试的：

paddle2.0 rc1 使用高阶api model.fit（）接口训练 paddleseg 的部分模型，会报错，

W0112 10:11:30.308859 459358 device_context.cc:320] Please NOTE

[2021-01-12 03:00] wuyefeilin commented on #768
看样子是你的路径问题，找不到对应的函数，请问你是在哪个目录下运行什么命令导致的错误

[2021-01-12 03:02] wuyefeilin commented on #764
是的， 我们在新版本动态图已经进行了相应的规范，欢迎使用我们的动态图版本

[2021-01-12 03:08] michaelowenliu commented on #769
@Darki-luo Hi, so far PaddleSeg has yet to test the high-level API. From the error log, one thing I guess could be the loss configuration. There is only one loss in FCN, but two losses in PSPNet and OCRNet. Could you please set "enable_auxiliary_loss=False" in PSPNet?

[2021-01-12 03:16] Darki-luo commented on #769
在psp里设置为false解决了，ocrnet里没有找到相应的接口，或者改什么参数可以解决呢？

[2021-01-12 03:29] ChaunceySun7 opened #770 "关于自定义数据集的训练问题"
我通过修改configs里的配置文件unet_cityscapes_1024x512_160k.yml以及cityscapes.yml来训练自定义数据集时会报错，请问教程中的自定义数据集训练的配置文件有没有更完整的示例？

[2021-01-12 03:41] michaelowenliu commented on #769
@Darki-luo Hi, the auxiliary loss is crucial in OCRNet, so we do not provide a parameter on it. The high-level API might not support multiple losses (you double-check it). If so, we recommend you to train the model without the high-level API.

[2021-01-12 06:59] lguowang commented on #768
PaddleSeg 目录下执行：python3 dataset/download_optic.py

我 git clone -b  release/0.7.0   https://github.com/PaddlePaddle/PaddleSeg.git

[2021-01-12 07:08] Taoboan1999 commented on #766
我是在windows本地运行的alstudio上的一个模型

[2021-01-12 07:12] haoyuying commented on #766
请给我们一个可以复现问题的环境，方便我们为您解决问题，如果是我们提供的模型，请指出模型具体的名称和运行的paddle及paddleseg的环境，如果是自己搭建的模型，请给我们能够复现的aistudio链接地址，感谢您的配合。

[2021-01-12 07:13] wuyefeilin commented on #770
若你要按照标准数据集的方式对自定义数据集进行使用，需要把自定义数据集按照标准数据集的目录结构进行整理。

我们提供了对自定义数据集的使用文档，请参考链接https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0.0-rc/docs/data_prepare.md#%E8%87%AA%E5%AE%9A%E4%B9%89%E6%95%B0%E6%8D%AE%E9%9B%86

[2021-01-12 07:17] Taoboan1999 commented on #766
您可以加我qq 2097383526私聊吗
我是在windows本地复现的，可能需要teamviewver帮助

[2021-01-12 07:21] wuyefeilin commented on #768
我这边能够正常下载，无法复现你的情况， 请问你是在什么环境下执行的

[2021-01-12 07:29] haoyuying commented on #766
请您加paddleseg的qq群提问850378321，看相关同学是否遇到相同的问题。

[2021-01-12 07:43] Taoboan1999 commented on #766
我问过了，没人理我

[2021-01-12 08:01] haoyuying commented on #766
再发一次问题吧，技术同学没看到您的问题，或者aistudio能复现吗，可以把aistudio公开链接发给我们，不然这样描述无法复现问题。

[2021-01-12 08:09] juzuo opened #771 "realsr跑不起来"
Record at 2021-01-12 15:51:11
==================================================
Traceback (most recent call last):
  File "/home/yingjun/anaconda3/envs/photo_restoration/lib/python3.7/site-packages/paddlehub/module/manager.py", line 222, in search
    module = self._local_modules[name] = HubModule.load(module_dir)
  File "/home/yingjun/anaconda3/envs/photo_restoration/lib/python3.7/site-packages/

[2021-01-12 08:15] haoyuying commented on #766
同学加你了

[2021-01-12 15:29] QinchengZhang opened #772 "训练时使用--do_eval进行验证时直接退出程序"
控制台输出:
2021-01-12 23:24:14 [INFO]      [TRAIN] epoch=1, iter=10/1000, loss=2.3988, lr=0.009919, batch_cost=0.2232, reader_cost=0.0174 | ETA 00:03:40
2021-01-12 23:24:14 [INFO]      Start evaluating (total_samples=76, total_iters=76)...
76/76 [==============================] - 2s 26ms/step - batch_cost: 0.0252 - reader cost: 4.6070e-04
在验证过程进度条满之后直接退出程序，我在进行debug时发现问题出现在core/val.py中for iter, (im, l

[2021-01-13 01:14] AlexDish opened #773 "关于PaddleSeg2.0部署"
**请问 PaddleSeg2.0有没有部署说明介绍？**
目前使用PaddlesClas2.0+PaddleHub2.0的在线部署挺方便的。
https://github.com/PaddlePaddle/PaddleClas/tree/dygraph/deploy/hubserving
**PaddleSeg2.0可以像PaddleClass的那样使用？**

[2021-01-13 02:28] nepeplwu commented on #771
@juzuo 该问题看着是PaddleHub的问题，麻烦将相关问题提到[PaddleHub issue](https://github.com/PaddlePaddle/PaddleHub/issues)

[2021-01-13 02:29] nepeplwu commented on #773
@AlexDish 感谢反馈，相关部署能力正在开发中

[2021-01-13 02:35] wuyefeilin commented on #772
请给一下你运行的环境信息以及Paddle和PaddleSeg等版本信息

[2021-01-13 03:10] AlexDish commented on #773
好的，能否告知一下大概发布时间。好让我们的项目做一下安排，谢谢了。

[2021-01-13 05:42] ChaunceySun7 opened #774 "关于训练好的模型导出为inference模型的问题"
你好，请问paddleseg2.0有导出inference模型的工具？因为配置文件不一样，所以之前的导出工具不能使用

[2021-01-13 08:25] yy11223 opened #775 "训练问题"
MODEL_NAME: "deeplabv3p"使用不同的BACKBONE网络模型进行训练，训练出来模型的model.pdparams大小差异大吗？

[2021-01-13 08:27] yy11223 opened #776 "训练问题"
yaml:
!export CUDA_VISIBLE_DEVICES=0 # 设置1张可用的卡
# windows下请执行以下命令
!set CUDA_VISIBLE_DEVICES=0
!cd work/PaddleSeg && python pdseg/train.py \
       --cfg configs/deeplabv3p_resnet50_vd_cityscapes.yaml \
       --use_gpu \
       --do_eval \
运行结果：
You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.
Traceback (most recent call

[2021-01-13 09:51] Taoboan1999 commented on #766
不好意思，我的qq今天出了点儿问题，明天再跟您联系吧

[2021-01-13 14:23] yy11223 opened #778 "configs/deeplabv3p_mobilenetv3_large_cityscapes.yaml参数问题"
MODEL:
    DEFAULT_NORM_TYPE: "bn"
这里的"bn"是网络的哪一部分用呢？

[2021-01-13 14:23] Taoboan1999 opened #779 "paddleseg跑到一半就崩了"
![image](https://user-images.githubusercontent.com/61101005/104464042-74325d80-55ed-11eb-84ae-b24185acc825.png)

paddleseg跑到一半就崩了
之后就是不断刷屏的报错信息，这是为什么呢
![image](https://user-images.githubusercontent.com/61101005/104464506-f7ec4a00-55ed-11eb-812d-bb694500baca.png)

[2021-01-13 14:24] Taoboan1999 commented on #779
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
Windows not support stack backtrace yet.

------------------------------------------
Python Call Stacks (More useful to users):
------------------------------------------
  File "C:\Users\Tao Boan\AppData\Roaming\Python\Python37\site-packages\paddle\fluid\framework

[2021-01-14 01:40] BeyondYourself opened #780 "can not find some functions"
I can't find some functions in the paddleseg/utils/utils.py   ,eg:  dist_utils, paddle_utils

[2021-01-14 01:58] BeyondYourself opened #781 "能否介绍一下代码的目录结构呢"
刚开始接触这部分代码，看了半天有点不清楚seg的代码目录结构。有清楚的可以帮我讲解一下吗

[2021-01-14 04:50] michaelowenliu commented on #781
@BeyondYourself https://aistudio.baidu.com/aistudio/projectdetail/1136799

[2021-01-14 05:58] BeyondYourself commented on #781
谢谢 @michaelowenliu

[2021-01-14 05:58] #781 closed, assigned to michaelowenliu

[2021-01-14 06:49] yeyupiaoling opened #782 "人像分割模型转换为nb模型，使用Paddle-Lite加载报错"
Paddle-Lite：2.7.1

使用的是这个三个模型，这三个我都试过了，加载就报错。
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0.0-rc/legacy/contrib/HumanSeg

转换模型代码：
[code]

Paddle-Lite-Demo这个模型不满足预想效果：
https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/c7c1ce31a833e2522470bda5a430774d595dd197/PaddleLite-android-demo/human_segmentation_demo/app/build.gradle#L83

[2021-01-14 09:03] juzuo opened #783 "求问怎么finetune模型deeplabv3p_xception65_humanseg"
通过hub install deeplabv3p_xception65_humanseg==1.1.1安装了deeplabv3p_xception65_humanseg。因为deeplabv3p_xception65_humanseg这个模型对我的数据效果比较好，所以我打算用这个模型当pretrained_weights，想对它进行finetune。
请看这个教程：https://aistudio.baidu.com/aistudio/projectdetail/475345
这里的HumanSeg-server和deeplabv3p_xception65_humanseg应该是相同的模型，于是我把
!python train.py --model_type HumanSegServer
--save_dir output/
--data_dir data/mini_supervisely

[2021-01-15 00:37] yeyupiaoling commented on #779
@Taoboan1999 看报错应该是数据集中某一张图像有问题，例如路径不对，中文路径，图像错误等

[2021-01-15 05:05] CeciliaPYY commented on #773
现在动态图怎么像之前legacy下面静态图那样部署啊？

[2021-01-15 12:50] yanzhuangzhuang123 opened #786 "自定义数据集在执行python pdseg/check.py --cfg ./configs/unet_optic.yaml"

[2021-01-15 12:52] yanzhuangzhuang123 commented on #786
NOT PASS label format check
2021-01-15 19:55:27,359-INFO: No label image to check
No label image to check
2021-01-15 19:55:27,365-INFO:
PASS DATASET.IMAGE_TYPE check
请问如何解决呀？

[2021-01-15 14:20] yy11223 opened #787 "Cityscapes数据集的labelTrainIds文件怎么转成彩色图可视输出呢？"

[2021-01-16 12:05] belovingu opened #788 "pred = pred[:, :, 0:h, 0:w]为什么"
def reverse_transform(pred, ori_shape, transforms):
    """recover pred to origin shape"""
    reverse_list = get_reverse_list(ori_shape, transforms)
    for item in reverse_list[::-1]:
        if item[0] == 'resize':
            h, w = item[1][0], item[1][1]
            pred = F.interpolate(pred, (h, w), mode='nearest')
        elif item[0] == 'padding':
            h, w = item[1][0], item[1][1]

[2021-01-18 02:27] wuyefeilin commented on #775
会有差异的， mobilenet肯定比xception 小多了，建议你自己跑一趟看看不同backbone的大小差异

[2021-01-18 02:29] nepeplwu commented on #774
@ChaunceySun7 该功能正在开发中，近期将会上线

[2021-01-18 02:32] wuyefeilin commented on #780
Sorry， I can‘t understand your problem. What problem are you trying to solve？ Maybe you can try our dygraph version

[2021-01-18 02:37] wuyefeilin commented on #782
你好，麻烦给一下具体的报错信息？

[2021-01-18 02:40] wuyefeilin commented on #783
pretrained_weights/humanseg_server_ckpt， ~/.paddlehub/modules/deeplabv3p_xception65_humanseg/deeplabv3p_xception65_humanseg_model/ 这两个模型分别是从哪里下载的，麻烦给一下链接

[2021-01-18 02:41] wuyefeilin commented on #788
在数据增强的时候，padding是针对右下角的。所以还原的时候去了左上角的

[2021-01-18 02:57] juzuo commented on #783
@wuyefeilin 你好，是通过hub install deeplabv3p_xception65_humanseg==1.1.1安装的啊。安装好之后在~/.paddlehub/modules目录下就有这个模型了。

[2021-01-18 03:21] LutaoChu commented on #786
这个日志说明没有检测到标注图片，请检查一下自定义数据集是否符合PaddleSeg的规范。另外命令行只显示校验结果的概览信息，详细的错误信息可到detail.log文件中查看

[2021-01-18 03:23] haoyuying commented on #776
您好，请问您使用的paddleseg的版本是动态图版本吗，建议使用paddleseg2.0动态图版本和我们提供的配置参数,参考配置如下：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0.0-rc/configs/deeplabv3p/deeplabv3p_resnet50_os8_cityscapes_1024x512_80k.yml

[2021-01-18 03:27] haoyuying commented on #778
您好，目前paddleseg已经更新到2.0动态图版本，该版bn会为您自动按照您使用cpu或者gpu选择使用batchnorm 或者使用syncbatchnorm, 无需重新设定，使用更加方便。新版本的bn定义如下：

[code]

[2021-01-18 03:30] haoyuying commented on #779
您看下数据集最后一行是否有空行，可以将空行删掉重试下。如果不行，请给出具体的模型，数据集，执行命令和执行脚本，方便我们复现问题。

[2021-01-18 03:38] BeyondYourself commented on #780
Got it, I should try the dygraph version

[2021-01-18 03:38] #780 closed, assigned to wuyefeilin

[2021-01-18 03:41] LutaoChu commented on #787
可以参考这个教程  https://github.com/PaddlePaddle/PaddleSeg/blob/develop/legacy/docs/data_prepare.md#%E7%81%B0%E5%BA%A6%E6%A0%87%E6%B3%A8%E8%BD%AC%E6%8D%A2%E4%B8%BA%E4%BC%AA%E5%BD%A9%E8%89%B2%E6%A0%87%E6%B3%A8

另外如果只是想看标注图片的彩色效果，cityscapes自带以“_color.png”结尾的图片就可以看了，例如bochum_000000_000313_gtFine_color.png

[2021-01-18 04:47] yy11223 commented on #787
好的，谢谢，我下载的Cityscapes数据集训练过程可视化的时候，看到标签图片和原Cityscapes数据集的标注（_gtFine_color.png）颜色不一样，请问在release/v0.8.0这个版本，类似
name |  id | trainId |       category | categoryId | hasInstances | ignoreInEval|        color
    --------------------------------------------------------------------------------------------------
                unlabeled |   0 |     255 |           void |          0 |            0 |

[2021-01-18 06:24] yeyupiaoling commented on #782
@wuyefeilin 沒有报任何错误，应用直接闪退。

[2021-01-18 13:53] wuyefeilin commented on #783
你把两者的训练日志都给我一下

[2021-01-18 14:52] juzuo commented on #783
@wuyefeilin 好的，麻烦问一下训练日志在哪存放？还是只要屏幕上的输出就可以？新手，轻拍。。

[2021-01-19 03:39] wuyefeilin commented on #783
屏幕上输出就行了，或者在命令的最后面增加一个 > train.log 进行重定向就行了

[2021-01-19 03:51] juzuo commented on #783
[output_humansegserver.txt](https://github.com/PaddlePaddle/PaddleSeg/files/5833516/output_humansegserver.txt)
收到，请看这个附件，这个是finetune humanseg_server_ckpt的训练输出。
最开始粘的那个输出是finetune deeplabv3p_xception65_humanseg的训练输出。
请查看。谢谢！@wuyefeilin

[2021-01-19 05:19] David20160511 opened #791 "自己模仿OpticDiscSeg，写了一个类，并写了相应的配置文件，训练自己下载的数据，但是运行报错"
你好啊,
训练我从网上下载的“BSDS500 轮廓检测与语义分割数据集”，我自己写了一个类，是根据原来官方提供的OpticDiscSeg类，改了类的名字，其他的没变。
相应的配置文件，我自己也是模仿，重写了一个，把type、dataset_root改了一下，其他的就没改。配置内容如下：
batch_size: 4
iters: 1000

train_dataset:
  type: Bsds500
  dataset_root: E:\dataset\BSR\BSDS500\data
  transforms:
    - type: Resize
      target_size: [512, 512]
    - type: RandomHorizontalFlip
    - type: Normalize
  mode: train

val_dataset:
  type:

[2021-01-19 07:44] LutaoChu commented on #787
是这样的，PaddleSeg没有用cityscapes的调色板，为了更通用，使用的是另一套调色板，可支持任意数量的类别。源码见
https://github.com/PaddlePaddle/PaddleSeg/blob/9e58f1765b94e914ce5cff98f7a4e82a4ff0de21/dygraph/paddleseg/utils/visualize.py#L65
如果你想用cityscapes的调色板，可以改写get_color_map_list这个函数

[2021-01-19 11:47] wuyefeilin commented on #783
看起来没问题，应该是不同的预训练模型对你的这个数据集效用不一样

[2021-01-20 02:19] haoyuying commented on #791
loss写错了，如果只有一个交叉熵损失而没有其他的辅助loss,coef应该只有一个参数
[code]

[2021-01-20 02:33] haoyuying commented on #791
如果您使用了bisenetv2, 在写loss时候请参考:https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0.0-rc/configs/bisenet/bisenet_cityscapes_1024x1024_160k.yml

[code]

[2021-01-20 03:31] sunhufei opened #794 "通过离线量化产出的推理模型为何不可以进行paddlehub封装？？？？？？求哥哥姐姐们传授一下经验？"
import os
import cv2
import os.path as osp
import tqdm
import numpy as np
from paddle.fluid.core import AnalysisConfig, PaddleTensor
from paddle.fluid.core import create_paddle_predictor

#设置模型的路径
model = "/home/aistudio/HumanSeg/koutu/HumanSeg/out/out1/__model__"
params = "/home/aistudio/HumanSeg/koutu/HumanSeg/out/out1/__params__"
#使用AnalysisConfig对模型进行配置
config = AnalysisConfig(model,params)
co

[2021-01-20 07:43] juzuo commented on #783
好吧，多谢了。

[2021-01-20 12:03] yy11223 commented on #776
_base_: '../_base_/cityscapes.yml'

batch_size: 2
iters: 800

model:
  type: DeepLabV3P
  backbone:
    type: ResNet50_vd
    output_stride: 8
    multi_grid: [1, 2, 4]
    pretrained: https://bj.bcebos.com/paddleseg/dygraph/resnet50_vd_ssld_v2.tar.gz
  num_classes: 19
  backbone_indices: [0, 3]
  aspp_ratios: [1, 12, 24, 36]
  aspp_out_channels: 256
  align_corners: False
  pretrained: null
这个类型的

[2021-01-21 06:43] haoyuying commented on #794
尝试下这样是否可以：
[code]
如果你想尝试包一个hub module，可以参考https://github.com/PaddlePaddle/PaddleHub/tree/release/v2.0.0-rc/modules/image/semantic_segmentation/humanseg_mobile
这是一个人像分割的模型

[2021-01-21 06:56] haoyuying commented on #794
尝试下这样是否可以：
[code]
或者
[code]
如果你想尝试包一个hub module，可以参考https://github.com/PaddlePaddle/PaddleHub/tree/release/v2.0.0-rc/modules/image/semantic_segmentation/humanseg_mobile
这是一个人像分割的模型

[2021-01-21 12:46] SCOTT23333 opened #795 "可以麻烦开发大哥分享一下SpaceNet-7多时相城市发展挑战赛是怎么做的吗？"
竞赛中，百度团队采用了飞桨图像分割模型库PaddleSeg中单个语义分割模型HRNet进行训练和预测，该模型已在诸如CityScapes等多个公开数据集获得当前最佳结果。同时HRNet网络中维持了一个高分辨率的分支，可有效回应任务中依赖于大分辨率的需求。此外，百度团队还设计了专用的后处理算法以提升预测效果。最终，百度团队仅使用单个HRNet模型就实现了最高得分和最快模型，准确性得分领先第二名0.37，预测速度为第二名的7倍。想学习一下是如何使用paddleseg做的地物变化检测！

[2021-01-22 06:35] weihongwei-zg opened #796 "seg配置文件中num_classes参数设置位置问题"
文档上面是将num_classes设置在model中，但目前使用，必须设置在train_dataset和val_dataset中，否则显示找不到

[2021-01-22 06:45] whjdark opened #797 "[2.0.0-rc]使用predict.py预测时模型加载报错。"
File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/tracer.py", line 45, in trace_op
    not stop_gradient)
ValueError: (InvalidArgument) Deserialize to tensor failed, maybe the loaded file is not a paddle model(expected file format: 0, but 1904018048 found).
  [Hint: Expected version == 0U, but received version:1904018048 != 0U:0.] (at /paddle/paddle/flui

[2021-01-22 06:52] #797 closed, assigned to nobody

[2021-01-22 08:46] michaelowenliu commented on #796
@wobushihuair Hi, we are fixing the problem soon.

[2021-01-22 13:04] yy11223 commented on #776
您好，
效果可视化
当保存完模型后，可以通过PaddleSeg提供的脚本对模型预测结果进行可视化，查看分割效果。

python predict.py \
       --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml \
       --model_path output/iter_1000/model.pdparams \
       --image_path data/optic_disc_seg/JPEGImages/H0003.jpg \
       --save_dir output/result
其中image_path也可以是一个目录，这时候将对目录内的所有图片进行预测并保存可视化结果图。

我设置image_path为一个目录，出错：
File "predict.py", line 172,

[2021-01-23 02:13] SCOTT23333 commented on #795
不好意思，我换个表述方式，我想学习一下怎么用paddleseg做变化检测。。数据集那里不会搞。。

[2021-01-24 13:13] yy11223 commented on #787
想看PaddleSeg调色板每类的具体像素值，怎么看呢？visualize.py里只是一行程序，看不懂

[2021-01-25 01:43] haoyuying commented on #776
您好，--image_path data/optic_disc_seg/JPEGImages 这样尝试仍然会报错吗，这个报错原因是没有输入图片导致的，im应该是个空，所以才会报错。可以打印出https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0.0-rc/predict.py#L151的输出，看看图片是否传入正确。

[2021-01-25 06:51] sxlyiyiyi opened #799 "训练时问题"
RuntimeError: The length of logits_list should equal to the types of loss config: 2 != 1.

[2021-01-25 06:59] #799 closed, assigned to nobody

[2021-01-25 07:01] sxlyiyiyi commented on #799
ocrnet有两个输出

[2021-01-25 08:28] parap1uie-s opened #800 "core/train.py里113行附近错误提示不清晰"
[code]
train.py 113行附近，train_dataset是一个类对象object

if not train_dataset这种判断，它实际上会做三个判断：

[code]

如果开发者在自定义数据集和dataloader时，暂时没有实现dataloader里的self.file_list，file_list长度为0，那么即使dataloader被正确实例化了，也会触发if not这里的错误提示。

原因：

dataloader的基类，dataset.py / Dataset，在163行的位置，又重写了__len__方法，使得if not train_dataset判断的实际上是if len(train_dataset.file_list) == 0

自然就会命中这个if了

修改建议：将现在line113@train.py的 if判断拆分为
[code]

这样若干条

[2021-01-25 08:30] #795 closed, assigned to nobody

[2021-01-25 08:32] SCOTT23333 opened #801 "变化检测"
我想学习一下怎么用paddleseg做变化检测。。数据集那里不会搞。。谢谢了！

[2021-01-25 08:52] michaelowenliu commented on #801
@SCOTT23333 Hi, please refer the tutorial, https://blog.csdn.net/txyugood/article/details/111031965

[2021-01-25 09:28] michaelowenliu commented on #800
@parap1uie-s Hi, thanks for your feedback. Fix the issue soon.

[2021-01-25 09:36] SCOTT23333 commented on #801
谢谢！！

[2021-01-25 12:41] LutaoChu commented on #787
运行一下就明白了
[code]

将返回256种颜色，每种颜色以3元组构成，例如第1类的颜色对应前面3个数值

[2021-01-26 11:16] yy11223 commented on #787
您好，运行print(get_color_map_list(256))后得到的是256种颜色的像素值，我只想要分类19类相应颜色对应的像素值又怎么看呢？

[2021-01-27 05:02] LutaoChu commented on #787
你好，PaddleSeg默认分类256种，想要看分类19类的像素值的话就看前面19*3个数值即可

[2021-01-28 06:10] ouyangpingbu opened #807 "slim后的模型c++调用"
为啥采用 ./slim/quantization/export_model.py 导出的模型，用paddle-trt c++实例调用于报错F0128 05:54:29.695714 33322 elementwise_op.cc:230] Check failed: op_desc.HasAttr("X_scale")

[2021-01-28 07:39] songyuc opened #809 "请问一下，PaddleSeg现在在Cityscapes数据集上精度最高的是哪个模型呢？"
尊敬的开发者，你好，
请问一下，PaddleSeg现在在Cityscapes数据集上精度最高的是哪个模型呢？

期待你的回复！

[2021-01-28 08:27] michaelowenliu commented on #800
@parap1uie-s Done. https://github.com/PaddlePaddle/PaddleSeg/pull/808

[2021-01-28 08:27] #800 closed, assigned to wuyefeilin

[2021-01-28 08:28] michaelowenliu commented on #809
@songyuc Hi, Please refer to https://arxiv.org/pdf/2101.06175.pdf and https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0.0-rc/configs/ocrnet

[2021-01-28 11:10] LutaoChu commented on #809
是的，目前最高的是OCRNet。

马上要开源 Hierarchical Multi-Scale Attention for Semantic Segmentation，精度更高，敬请期待！
https://arxiv.org/abs/2005.10821

[2021-01-28 12:18] songyuc commented on #809
@LutaoChu ，请问一下，这个模型大概什么时候出来呢，有具体的时间表吗？

[2021-01-28 12:37] LutaoChu commented on #809
大概2月中到2月底

[2021-01-28 12:44] songyuc commented on #809
好的，谢谢两位老师的回复！

[2021-01-28 12:44] #809 closed, assigned to nobody

[2021-01-29 03:46] wsy1991 opened #810 "./slim/prune如何对./contirb/Humanseg中的shufflenet人像分割模型进行剪枝啊"

[2021-01-29 03:56] wsy1991 commented on #711
爱分割数据集是matting,你需要把matting转为mask. mask就是标签

[2021-01-29 06:07] wanghaoshuang commented on #810
PaddleSlim还没有支持Humanseg中使用的训练API, 所以暂时需要用户按以下建议修改Humanseg API以支持剪枝：

[./slim/prune](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/legacy/slim/prune/train_prune.py)路径下的示例介绍了如何对Program进行剪裁，其中关键代码如下：
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/legacy/slim/prune/train_prune.py#L313-L320
[code]
以上代码调用slim的pruner接口对program进行剪裁，program是paddlepaddle中相对底层的一个概念。

Humanseg将对porgram的训练逻辑封装

[2021-01-29 07:25] cryoco commented on #807
您好，能否发下量化后的inference model我们排查下哈

[2021-01-29 09:31] keepgoing365 opened #812 "Unet++网络推理出错"
2021-01-29 16:03:04 [INFO]      Start to predict...
Traceback (most recent call last):
  File "predict.py", line 172, in <module>
    main(args)
  File "predict.py", line 166, in main
    stride=args.stride,
  File "I:\github_project\PaddleSeg-release-v2.0.0-rc\paddleseg\core\predict.py", line 103, in predict
    crop_size=crop_size)
  File "I:\github_project\PaddleSeg-release-v2.0.0-rc\paddleseg\

[2021-01-29 09:39] haoyuying commented on #812
看报错信息，应该是某一张图片在提取特征concate时候两个大小不一致导致的，训练的时候由于crop到同一大小因此不会出错，建议您能将推理时的报错图片发给我们，如果对精度要求不高，也可以将传入的数据resize或者crop一下。

[2021-01-30 02:33] LiuShiWang opened #813 "module 'paddleseg.models.layers' has no attribute 'AttentionBlock'"
File "train.py", line 19, in <module>
    from paddleseg.cvlibs import manager, Config
  File "/media/new01/data/lsw/a2021/PaddleSeg2/paddleseg/__init__.py", line 15, in <module>
    from . import models, datasets, transforms
  File "/media/new01/data/lsw/a2021/PaddleSeg2/paddleseg/models/__init__.py", line 34, in <module>
    from .isanet import *
  File "/media/new01/data/lsw/a2021/PaddleSeg2/pa

[2021-01-30 08:26] keepgoing365 commented on #812
感谢大哥。你是说把报错信息发给你吗？完整x信息在这里，麻烦大哥帮忙解决下，感激不尽！

![image](https://user-images.githubusercontent.com/50706951/106351528-cf678e00-6317-11eb-8b6f-17bd7abaade9.png)

[2021-01-30 08:42] keepgoing365 commented on #812
@haoyuying 麻烦大哥帮我看下呢

[2021-01-31 01:48] haoyuying commented on #812
您好同学，我想要的图片是你在eval时候出错的图片，可以把图片发给我，或者开放个网盘地址我好下载出问题的图片复现问题。

[2021-02-01 01:35] haoyuying commented on #813
同学您好，您可以重新拉一遍paddleseg的代码进行更新，develop或者rc分支都可以。

[2021-02-01 07:20] keepgoing365 commented on #812
我找到问题的原因了，应该是我训练图片的时候 RandomPaddingCrop :crop_size设置得比训练集尺寸大导致的。我重新设置这个参数然后从头开始训练出来就可以推理了，多谢啦

[2021-02-01 08:00] pele228 opened #815 "2.0rc版本C++预测接口"
你好，2.0rc版本C++预测接口在哪个链接下？

[2021-02-02 06:17] #815 closed, assigned to nobody

[2021-02-02 08:15] AkimotoAyako opened #820 "使用Lanenet使用自己的数据集起动训练时报出维度错误"
_具体的报错如下：_
ValueError: (InvalidArgument) Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [-1, 64, 49, 49] and the shape of Y = [-1, 64, 50, 50]. Received [49] in X is not equal to [50] in Y at i:2.
  [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_array[i] <= 1 || y_dims_array[i] <= 1 == true, but received x_dims_array[i] == y_dims_array[i]

[2021-02-02 08:55] LiuShiWang commented on #813
已解决。未来paddle会上实例分割、全景分割模型么？

[2021-02-02 09:13] haoyuying commented on #813
是的，未来paddle将会支持实例分割，全景分割，交互式分割等多种场景，请持续关注paddleseg的发展。

[2021-02-04 09:08] yangdonghan50 opened #827 "cannot import paddle"
Python 3.6.12 |Anaconda, Inc.| (default, Sep  8 2020, 23:10:56)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Error: Can not import avx core while this file exists: /home/vision/anaconda3/envs/paddle_env/lib/python3.6/site-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/vision/an

[2021-02-05 01:49] Taoboan1999 opened #828 "PaddleSeg本地和Alstudio上运行，跑完第一轮左右报错"
[EVAL]step=21 loss=0.20495 acc=0.9797 IoU=0.0705 step/sec=0.55 | ETA 00:22:16
[EVAL]step=22 loss=0.22256 acc=0.9793 IoU=0.0704 step/sec=0.55 | ETA 00:22:11
[EVAL]step=23 loss=0.13534 acc=0.9796 IoU=0.0703 step/sec=0.54 | ETA 00:22:31
[EVAL]step=24 loss=0.17862 acc=0.9797 IoU=0.0703 step/sec=0.50 | ETA 00:24:18
[EVAL]step=25 loss=0.17866 acc=0.9797 IoU=0.0701 step/sec=0.49 | ETA 00:24:30
[EVAL]step

[2021-02-05 05:53] kingbirdWc opened #829 "自定义数据集时num_classes的值包含忽略的类别255吗"
自定义数据集时num_classes的值包含忽略的类别255吗

[2021-02-05 06:02] wuyefeilin commented on #829
不包含

[2021-02-05 06:04] kingbirdWc commented on #829
谢谢您

[2021-02-05 15:26] kingbirdWc opened #830 "配置参数数据集的transform的问题"
大佬，在配置文件中看到对于数据集的transforms，我有个疑问，对于多个type，训练的时候会自动对训练数据集和对应的标签做响应的变化吗？
transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.75
      max_scale_factor: 1.5
      scale_step_size: 0.25
    - type: RandomHorizontalFlip
    - type: RandomVerticalFlip
    - type: RandomRotation
      max_rotation: 30
    - type: RandomDistort
      brightness_range: 0.2
      contrast_range: 0.2
      s

[2021-02-06 01:27] #829 closed, assigned to wuyefeilin

[2021-02-06 01:27] kingbirdWc commented on #829
comment

[2021-02-07 06:58] wuyefeilin commented on #830
会的，在经过transforms后，标签和图片是对应的

[2021-02-07 08:35] yuemengrui opened #832 "使用自定义数据集训练出现维度问题"
使用的是这个，deeplabv3p_resnet50_os8_webCV_1024x512_80k

Traceback (most recent call last):
  File "train.py", line 141, in <module>
    main(args)
  File "train.py", line 136, in main
    losses=losses)
  File "/home/aistudio/PaddleSeg/paddleseg/core/train.py", line 141, in train
    edges=edges)
  File "/home/aistudio/PaddleSeg/paddleseg/core/train.py", line 44, in loss_computation
    loss += losses[

[2021-02-07 08:42] wuyefeilin commented on #832
请问你的数据集总共多少个类别？ 最后网络输出的logit的通道数是要等于数据集的类别数的。

[2021-02-07 08:44] yuemengrui commented on #832
2个
train_dataset:
  type: Dataset
  dataset_root: web_cv_data
  train_path: web_cv_data/train.txt
  num_classes: 2
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0.25
    - type: RandomPaddingCrop
      crop_size: [1024, 512]
    - type: RandomHorizontalFlip
    - type: RandomDistort
      brightness_range: 0.4
      contr

[2021-02-07 08:46] wuyefeilin commented on #832
标注图像的数值是0 和1 吗？

[2021-02-07 08:47] yuemengrui commented on #832
是的
不过是三通道的，要转成灰度吗

[2021-02-07 08:49] wuyefeilin commented on #832
是的，转成灰度图，并存成png格式

[2021-02-07 09:13] yuemengrui commented on #832
谢谢！解决了

[2021-02-07 09:16] #832 closed, assigned to wuyefeilin

[2021-02-07 09:26] kingbirdWc commented on #830
谢谢，不过还有一些疑问，感觉文档没那么完善，请教一下，yml文件里的loss损失函数这个，coef系数里面的含义是什么意思？权重越大表名这个类别越重要吗？
loss:
  types:
    - type: CrossEntropyLoss
  coef: [1, 1]

[2021-02-08 02:54] wuyefeilin commented on #830
coef代表你每一路的损失系数。可以理解为权重越大表示这一路的损失越重要

[2021-02-08 03:46] kingbirdWc opened #833 "标注图片的背景值太多影响训练效果吗？"
大佬们，请教个问题。
标注图片有很多背景值（类别255）会影响训练吗？如图所示，黄色和绿色分别是0和1,白色是255即背景。几乎每个标注都是这样的，有的背景值占比更高。
![image](https://user-images.githubusercontent.com/23066646/107173579-0bc77800-6a03-11eb-8f89-0f54a327e9f3.png)

[2021-02-08 03:52] wuyefeilin commented on #833
255默认为忽略类，如果你进行二分类的话，评估不受影响，但在预测的时候，255区域会随机划分，对你的可视化结果不好。

请问一下你的应用场景是什么，我们可以给出相应的建议？

[2021-02-08 03:59] kingbirdWc commented on #833
训练的话影响大吗？因为白色区域也就是标注为255的我们没有进行标注，所以就忽略了。
应用是遥感影像的语义分割，我们只对感兴趣的地块标注为0某作物和1非作物，其他的没标注的区域就设置为255了。

[2021-02-08 06:22] wuyefeilin commented on #833
训练没影响的，可以训练的。

[2021-02-08 09:28] erizen commented on #30
我也遇到了同样的问题，怎么解决

[2021-02-08 11:42] eddieheyutong commented on #459
您好，还是这个问题，我现在无法用eval.py对测试集进行测试，我执行的代码是python3 pdseg/eval.py --use_gpu --cfg ./configs/deeplabv3p_resnet50_vd_cityscapes.yaml
然后我的模型这句话可以对验证集进行测试，但是 路径改为测试集就指标全是0

[2021-02-08 11:43] eddieheyutong commented on #459
DATASET:
    DATA_DIR: "./dataset/cityscapes/"
    IMAGE_TYPE: "rgb"  # choice rgb or rgba
    NUM_CLASSES: 19
    TEST_FILE_LIST: "dataset/cityscapes/val.list"
    TRAIN_FILE_LIST: "dataset/cityscapes/train.list"
    VAL_FILE_LIST: "dataset/cityscapes/test.list"
    VIS_FILE_LIST: "dataset/cityscapes/val.list"
    IGNORE_INDEX: 255
    SEPARATOR: " "
这是我的配置文件中的关于数据集这里的配置，烦请您帮忙看一下问题出在哪里？

[2021-02-09 01:37] xinsuinizhuan opened #834 "啥时候开始支持CPP？"

[2021-02-09 22:08] LeeeSe opened #835 "希望尽快更新2.0版本的check.py文件"
2.0版本中无法使用check.py 文件

[2021-02-09 22:20] LeeeSe commented on #835
希望更新所有PaddleSeg/legacy下的文档，是个好框架，但是文档不更新对新手不太友好，百度搜稍微深入一点的问题就没有答案了

[2021-02-10 08:35] charlie-dog opened #836 "BootstrappedCrossEntropyLoss报错"
2021-02-10 16:28:42 [INFO]
------------Environment Information-------------
platform: Linux-4.4.0-150-generic-x86_64-with-debian-stretch-sid
Python: 3.7.4 (default, Aug 13 2019, 20:35:49) [GCC 7.3.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.1, V10.1.243
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: 0
GPU: ['GPU 0: Tesla V100-SXM2-32GB']
GCC: gcc (Ubuntu 7.5.0-3ubunt

[2021-02-11 06:07] wudiyidashi opened #837 "Aistudio运行PaddleSeg/train.py 使用resume_model 报错"
!python PaddleSeg/train.py --config ocrnet.yml \
                            --do_eval \
                            --use_vdl \
                            --save_interval 10000 \
                            --save_dir output \
                            --resume_model ./output/iter_70000

`2021-02-11 14:03:24 [INFO]
------------Environment Information-------------
platform: Linux-4.4.0-166-gene

[2021-02-11 06:50] #837 closed, assigned to nobody

[2021-02-11 06:50] wudiyidashi commented on #837
重启后又能用了

[2021-02-11 18:29] ZhangXinNan opened #838 "RuntimeError: (NotFound) Operator nearest_interp_v2 does not have kernel for data_type[int]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN]."
RuntimeError: (NotFound) Operator nearest_interp_v2 does not have kernel for data_type[int]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN].
  [Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at /home/teamcity/work/ef54dc8a5b211854/paddle/fluid/imperative/prepared_operator.cc:118)
  [Hint: If you need C++ stacktraces for debugging, please set `

[2021-02-12 10:44] yuemengrui opened #839 "unet_plusplus 训练验证时出现数据维度问题"
Traceback (most recent call last):
  File "train.py", line 142, in <module>
    main(args)
  File "train.py", line 137, in main
    losses=losses)
  File "/home/aistudio/PaddleSeg/paddleseg/core/train.py", line 179, in train
    model, val_dataset, num_workers=num_workers)
  File "/home/aistudio/PaddleSeg/paddleseg/core/val.py", line 110, in evaluate
    crop_size=crop_size)
  File "/home/aistudio

[2021-02-13 13:54] Jefflier opened #840 "backbone_indices for Xception"
你好，我在使用PaddleSeg动态图api训练模型时使用了deeplabv3的Xception backbone，但是程序出现了list index out of range的错误，具体是backbone.feat_channels[i] for i in backbone_indices中的错误。而当我将backbone_indices从（0，3）改为（1，1）时却没有报任何错误，请问官方的backbone_indices是多少，感谢你们的帮助！

[2021-02-18 01:13] eddieheyutong commented on #459
@wuyefeilin @nepeplwu

[2021-02-20 02:31] bbbxixixixi opened #842 "paddleseg2.0配置项里面所有的选项哪里能查到？"
比如损失函数这一块
loss
损失函数
参数
types : 损失函数列表
type : 损失函数类型，所支持值请参考损失函数库
coef : 对应损失函数列表的系数列表

我看了paddleseg\models\losses路径下只有6钟，lovasz softmax loss不能使用了吗

还有
model
待训练模型
参数
type : 模型类型，所支持值请参考模型库
others : 请参考对应模型训练配置文件

里面说的模型库，指的是首页钟model zoo里面的？backbone之类的配置如果不在model zoo配置里面的只能去paddleseg\models\backbones路径下自己找了？

[2021-02-22 02:22] wuyefeilin commented on #842
你好，如果要查看所支持的模型，backbone，可以查看我们的api文档。

lovasz softmax loss 很快就会支持的

[2021-02-22 02:35] wuyefeilin commented on #840
感谢你的反馈，xception的backbone_indices为（0，1), 我们将会提供xception 版本deeplabv3的配置文件。

[2021-02-22 02:44] wuyefeilin commented on #459
cityscape的测试机不能进行eval， 它没有提供相应的标签，你如果要知道测试集的结果需要把预测的结果按照官方的要求进行上传。

[2021-02-22 02:51] eddieheyutong commented on #459
首先非常感谢您的回复，您说的这个想要知道测试集（test）的结果需要把预测的结果进行上传是具体什么意思我没有太理解，意思是PaddleSeg里并不提供对测试集的验证吗？我想知道测试集的结果需要把我保存的训练结果上传给Ctiyscapes官方吗？

[2021-02-22 03:01] wuyefeilin commented on #459
是的，需要按照官方要求将测试集的预测结果上传到官方网站进行评估

[2021-02-22 03:37] #842 closed, assigned to wuyefeilin

[2021-02-22 05:53] haoyuying commented on #839
您好，可参考https://github.com/PaddlePaddle/PaddleSeg/issues/812

[2021-02-22 08:14] LutaoChu commented on #809
@songyuc 你好，更高的模型已经出来了，请见https://github.com/PaddlePaddle/PaddleSeg/tree/develop/contrib/CityscapesSOTA

[2021-02-22 09:25] LutaoChu commented on #629
你好，PaddleSeg已推出动态图版本Lovasz loss，欢迎体验！
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/lovasz_loss.md

[2021-02-22 09:27] LutaoChu commented on #546
你好，PaddleSeg已推出动态图版本Lovasz loss，欢迎体验！
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/lovasz_loss.md

[2021-02-22 09:30] LutaoChu commented on #523
你好，可以参考https://github.com/PaddlePaddle/PaddleSeg/issues/546 来解决

另外PaddleSeg已推出动态图版本Lovasz loss，欢迎体验！
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/lovasz_loss.md

[2021-02-22 09:32] LutaoChu commented on #435
你好，PaddleSeg已推出动态图版本Lovasz loss，欢迎体验！
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/lovasz_loss.md

[2021-02-22 12:40] 2436185647 opened #844 "BootstrappedCrossEntropyLoss errors when setting"
window
aistudio notebook
python3,7  paddle2.0
num_class=15
loss设置如下：
————————————————————————————————
loss:
  types:
    - type: BootstrappedCrossEntropyLoss
      min_K: 4096
      loss_th: 0.3
      weight: [0.1, 1, 1, 1, 1, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 1, 1 ,0.8, 1]
  coef: [1]
——————————————————————
出现报错：
——————————————————————————
Error: /paddle/paddle/fluid/operators/gather.cu.h:62 Assertio

[2021-02-22 13:19] michaelowenliu commented on #844
@2436185647 Hi, please put your detailed config info.

[2021-02-22 13:20] michaelowenliu commented on #836
Duplicate of #844

[2021-02-22 13:25] michaelowenliu commented on #838
@ZhangXinNan Hi, could you please provide a more detailed log?

[2021-02-22 13:27] michaelowenliu commented on #834
@xinsuinizhuan Hi, please refer to this link: https://github.com/PaddlePaddle/PaddleSeg/tree/develop/legacy/deploy/cpp

[2021-02-22 13:29] michaelowenliu commented on #827
@yangdonghan50 Hi, please make sure you have installed it properly.

[2021-02-22 13:36] 2436185647 commented on #844
batch_size: 2
iters: 80000

model:
  type: DeepLabV3P
  backbone:
    type: ResNet101_vd
    output_stride: 8
    multi_grid: [1, 2, 4]
    pretrained: https://bj.bcebos.com/paddleseg/dygraph/resnet101_vd_ssld.tar.gz
  num_classes: 15

  backbone_indices: [0, 3]
  aspp_ratios: [1, 12, 24, 36]
  aspp_out_channels: 256
  align_corners: False
  pretrained: null

train_dataset:
  type: Dataset
  datas

[2021-02-23 01:18] michaelowenliu commented on #844
@2436185647 Hi, we test it on Cityscapes dataset.

1. Can you try different values of min_K or loss_th?
2. From your log info, the error occurs in "sorted_loss = paddle.sort(loss, descending=True)".
3. Try using the config first with adding the weight, https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0.0-rc/configs/hardnet/hardnet_cityscapes_1024x1024_160k.yml

[2021-02-23 02:23] LutaoChu commented on #828
你好，训练过程内存不足了。请关掉其他无用的进程，减少batchsize试试。

另外推荐用最新动态图版本的lovasz loss，应该不存在这个问题
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/lovasz_loss.md

[2021-02-23 03:14] Jefflier commented on #840
我使用了（0，1）的配置，还是出现了错误，希望你们尽快更新，谢谢！

[2021-02-23 03:15] #840 closed, assigned to wuyefeilin

[2021-02-23 07:10] 2436185647 commented on #844
@michaelowenliu  hello， i have just tried the config you recommended ,the result is as followed
after 'weight' are added to the project you recommanded ,it can run succesfully
according to my observation,i found the difference between my file and the one you recommanded :

————————————————————————————————————————————————-
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5

[2021-02-23 08:11] michaelowenliu commented on #844
@2436185647 Hi, please refer to the loss file, https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0.0-rc/paddleseg/models/losses/bootstrapped_cross_entropy.py#L28

[2021-02-23 09:12] Lordores opened #846 "resume的时候出错"
您好，我尝试使用两组训练资料在一次执行中进行训练，为此我准备了两个yml配置文档A,B，两者的区别只有dataset的路径与iters（A中的iters为12000；B中的iters为24000）

yml使用remote sensing下的`ocrnet_hrnetw48_ccf_256x256_80k.yml`做模板，仅改变了data路径与iters。

我在一次执行中进行如下的训练操作的时候：
`train(Path_of_A)`
`resume_train(Path_of_B)`

在完成train(Path_of_A)进行resume_train(Path_of_B)时出现
`Message=optimizer Tensor conv2d_316.w_0_velocity_0 not found`
与[https://github.com/PaddlePaddle/PaddleS

[2021-02-24 02:39] bbbxixixixi opened #848 "cyclical cosine annealing learning rate，目前paddle2.0和paddleseg支持吗？"
最近在做cv，看到了SWA Object Detection，想将这个用于训练模型，查了一下paddle的api文档，只发现了paddle.fluid.layers. cosine_decay和paddle.optimizer.lr.CosineAnnealingDecay，但这两个似乎是针对整个训练流程的，那种每个epoch都来一次的周期余弦退火有吗？

[2021-02-25 02:28] phoenares commented on #820
看着像特征图分辨率没对齐，不知道是不是网络下采样或者padding的时候取整的问题

[2021-02-25 07:14] #782 closed, assigned to wuyefeilin

[2021-03-01 03:13] minhoooo1 opened #852 "label 中间像素值空缺问题"
PaddleSeg做分割时 label 中的像素值中间值可以空缺嘛？  比如那个车道线的比赛 ，我改做二分类，对0 和14的像素分类，而label图像只是有0和14的像素 可以的嘛？

[2021-03-01 03:17] wuyefeilin commented on #852
中间不能空缺，二类的只能0，1。 你可以有两种做法进行修改：1.将数据集的标签值进行改变， 2. 可以在数据读取环节对标签值进行更改。
对于预测出来结果可以根据需要将1映射回14。

[2021-03-01 03:19] minhoooo1 commented on #852
感谢您的迅速回复！祝PaddleSeg越来越好！

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "wuyefeilin"<notifications@github.com&gt;;
发送时间: 2021年3月1日(星期一) 中午11:17
收件人: "PaddlePaddle/PaddleSeg"<PaddleSeg@noreply.github.com&gt;;
抄送: "Derrick。"<1121851272@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] label 中间像素值空缺问题 (#852)

中间不能空缺，二类的只能0，1。 你可以有两种做法进行修改：1.将数据集的标签值进行改变，

[2021-03-01 03:21] minhoooo1 commented on #852
但还想麻烦一下 ，预测出来结果可以根据需要将1映射回14 的代码段请问在那个地方 ？

[2021-03-01 03:23] minhoooo1 commented on #852
本人也是选择第二种方法 因为需要val 所以需要在val之前将1映射回14

[2021-03-01 03:25] wuyefeilin commented on #852
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/datasets/dataset.py#L143， 在这里面直接修改就行了，这样就可以直接训练和评估了

[2021-03-01 03:29] minhoooo1 commented on #852
感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "wuyefeilin"<notifications@github.com&gt;;
发送时间: 2021年3月1日(星期一) 中午11:26
收件人: "PaddlePaddle/PaddleSeg"<PaddleSeg@noreply.github.com&gt;;
抄送: "Derrick。"<1121851272@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] label 中间像素值空缺问题 (#852)

https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddles

[2021-03-01 07:21] lybcodes opened #853 "自定义类别的颜色怎么改呢？"

[2021-03-01 11:44] BeyondYourself commented on #739
@wuyefeilin    多类别，如何获取坐标呢

[2021-03-01 11:47] wuyefeilin commented on #739
@BeyondYourself 能具体描述一下你的目的吗？有图像说明更好

[2021-03-01 12:46] BeyondYourself commented on #739
![image](https://user-images.githubusercontent.com/12640462/109498710-cf9da980-7ace-11eb-9ebf-45f7841fdfc2.png)
![image](https://user-images.githubusercontent.com/12640462/109498753-dc220200-7ace-11eb-9c30-bde45c1a0c10.png)

@wuyefeilin 就比如这样的图片，用unet训练后，如何获取各个类别下的坐标值，不同颜色代表不同的类别。在训练的时候这些类别的坐标都是已知的

[2021-03-01 13:02] wuyefeilin commented on #739
@BeyondYourself 训练的时候这些类别的坐标是什么样的？

[2021-03-01 14:31] eddieheyutong opened #854 "使用Deeplab训练好自己的数据集之后，使用eval.py一直报错，求帮助！"
我使用Deeplab训练了自己的数据集，已经训练好了，想要进行测试，我的验证集也是按照要求进行规范的设置的，但是会报以下的错误，大神们帮忙看看是什么原因造成的？

2021-03-01 22:25:29,054-WARNING: Your reader has raised an exception!
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self.

[2021-03-01 16:53] whampoa opened #855 "New issue"

[2021-03-01 16:53] #855 closed, assigned to nobody

[2021-03-02 01:04] BeyondYourself commented on #739
@wuyefeilin 直线的坐标是两个端点，多边形是四点坐标

[2021-03-02 02:55] wuyefeilin commented on #739
你这个情况比较复杂，需要经过一些后处理才能得到坐标，比如通过直线拟合， 四边形拟合之类的方法得到坐标。我觉你既然要得到坐标，可以换种思路，通过目标检测或者关键点检测的方法来满足你的需求。

[2021-03-02 03:08] BeyondYourself commented on #739
好的，非常感谢你的解答

[2021-03-02 08:45] LutaoChu commented on #546
It's correct. We have fixed it in #849

[2021-03-02 08:45] #546 closed, assigned to LutaoChu

[2021-03-02 08:47] LutaoChu commented on #523
该问题已经在#849 中修复

[2021-03-02 08:47] #523 closed, assigned to LutaoChu

[2021-03-02 11:16] minhoooo1 opened #857 "预测输出上采样的问题"
训练时数据增强选择了RandomPaddingCrop：[1024,512] 那么网络输入 输出的都是长宽为 [1024,512]的图片
predict时 输入数据是长宽为1536*1536的彩色图片 输出也是长宽为1536*1536的单通道图  请问PaddleSeg中预测的时候是要对图片做怎样的处理才用的上 针对高宽为1024*512的模型参数呢？
由于代码内容量较大 暂且麻烦Seg的团队能帮助解答 感谢！！

[2021-03-03 02:18] nepeplwu commented on #846
@Lordores 相关代码是否可以贴出来下？

[2021-03-03 02:47] wuyefeilin commented on #857
麻烦你提供一下训练时和预测时的数据预处理

[2021-03-03 02:48] wuyefeilin commented on #853
你好，能具体描述一下你的需求吗？

[2021-03-03 04:45] minhoooo1 commented on #857
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年3月3日(星期三) 上午10:47
收件人:&nbsp;"PaddlePaddle/PaddleSeg"<PaddleSeg@norep

[2021-03-03 06:49] LutaoChu commented on #848
你好，paddle.optimizer.lr.CosineAnnealingDecay就是周期的余弦退火，假设你每个epoch有10个step，想要每个epoch都来一次完整周期的余弦退火，T_max设为5就可以了

[2021-03-04 02:32] BeyondYourself commented on #739
@wuyefeilin  能否利用unet将一张图上的多个分割类别图像作为一个fetch_list进行训练

[2021-03-04 03:24] wuyefeilin commented on #739
这个跟多类别分割有什么区别呢？

[2021-03-04 05:37] BeyondYourself commented on #739
主要是想获取各个多边形的坐标，最终拟合成为直线

[2021-03-04 06:17] wuyefeilin commented on #739
你可以在输出的时候保留多个通道，然后每个通道单独拿出来做拟合就行了

[2021-03-04 06:26] BeyondYourself commented on #739
好的，多谢大神指点

[2021-03-07 07:34] yangrisheng opened #859 "关于参数问题"
请问一下
`def parse_args():
    parser = argparse.ArgumentParser(description='Model prediction')

    # params of prediction
    parser.add_argument(
        "--config", dest="cfg", help="The config file.", default=None, type=str)
    parser.add_argument(
        '--model_path',
        dest='model_path',
        help='The path of model for prediction',
        type=str,
        default=None)
    pars

[2021-03-07 10:38] yangrisheng commented on #857
我也想知道咋解决的，能公开下解决方法吗？麻烦了

[2021-03-07 12:48] kyrios-sam opened #860 "基于baseline项目更改模型报错"
项目里原来的模型是deeplabv3p，例如想更换成fscnn模型，更换失败，请问这个问题能怎么解决呢？或者说有什么文档可以教一下如何更换paddleseg里的其他已有模型吗？

W0307 20:40:16.634291  1222 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
W0307 20:40:16.634341  1222 device_context.cc:372] device: 0, cuDNN Version: 7.6.
2021-03-07 20:40:21 [INFO]	Loading pretrained model from https://bj.bceb

[2021-03-08 02:09] ShaneTian opened #861 "Paddle 2.0 下可直接使用 F.cross_entropy 简化代码"
`F.cross_entropy` 相关 `mask` 代码：https://github.com/PaddlePaddle/Paddle/blob/ffa88c31c2da5090c6f70e8e9b523356d7cd5e7f/python/paddle/nn/functional/loss.py#L1249
`PaddleSeg CrossEntropyLoss` 有关 `mask` 的代码：https://github.com/PaddlePaddle/PaddleSeg/blob/8119f0dc907182a1ce2f2f46f84ad091c6f701e8/paddleseg/models/losses/cross_entropy_loss.py#L57

可直接使用 `F.cross_entropy` 中的 `ignore_index` 和 `reduction` 简化相关

[2021-03-08 02:13] wuyefeilin commented on #859
@yangrisheng https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/docs/quick_start.md#%E6%A8%A1%E5%9E%8B%E8%AF%84%E4%BC%B0 这里有说明

[2021-03-08 02:32] wuyefeilin commented on #861
感谢你的反馈，我们会充分考虑你的建议并进行相应的改进

[2021-03-08 02:33] michaelowenliu commented on #860
@kyrios-sam Hi, please check the error info.

[2021-03-08 02:36] michaelowenliu commented on #854
@eddieheyutong Hi, please check the error log.

[2021-03-08 02:44] LutaoChu commented on #854
看起来跟你的EVAL_CROP_SIZE有关，可以提供一下配置文件吗

[2021-03-08 03:25] lybcodes opened #862 "静态图版本下启动训练后一直刷屏下面的错误，是什么问题啊？"
----------------------
Error Message Summary:
----------------------
ExternalError:  Cuda error(4), unspecified launch failure.
  [Advise: An exception occurred on the device while executing a kernel. Common causes include dereferencing an invalid device pointerand accessing out of bounds shared memory. All existing device memory allocations are invalid. To con
tinue using CUDA, theprocess must be

[2021-03-09 02:50] #698 closed, assigned to LutaoChu

[2021-03-09 02:50] #704 closed, assigned to LutaoChu

[2021-03-09 03:13] BeyondYourself opened #863 "新版本API没有对数据预处理的类吗"
今天在用unet进行图像分割的时候，采用自定义的数据，出现
`ValueError: all input arrays must have the same shape`
当前的API里有这方面的数据处理方式吗

[2021-03-09 03:28] BeyondYourself commented on #862
![image](https://user-images.githubusercontent.com/12640462/110414224-6dded000-80ca-11eb-9e32-fdc04200a871.png)
根据你这个报错，应该是资源不足了，建议先用CPU版本试试

[2021-03-09 08:26] BeyondYourself commented on #863
是根据transform中对数据做一定能的处理吗

[2021-03-09 08:31] BeyondYourself opened #864 "训练中val中出现的异常"
在用2.0的接口进行训练的时候出现的异常，
CPU环境下，Windows平台进行训练：
`2021-03-09 16:12:49 [INFO]	Start evaluating (total_samples=3, total_iters=3)...
Traceback (most recent call last):
  File "D:\PyCharm 2019.2.1\helpers\pydev\pydevd.py", line 2074, in <module>
    main()
  File "D:\PyCharm 2019.2.1\helpers\pydev\pydevd.py", line 2067, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "D:\PyC

[2021-03-09 08:32] lybcodes commented on #862
就是我执行训练命令的时候不加--use_gpu参数吗，还是说换一个paddleSeg版本

[2021-03-09 08:38] BeyondYourself commented on #862
可以先试试，你应该用的是2.0以前的版本吧

[2021-03-10 06:51] BeyondYourself opened #866 "2.0版本的目前在predit的时候必须读val_dataset"
2.0版本的目前在predit的时候必须读val_dataset,，感觉这个没有必要吧，
预测这部分代码，目前还没跑通，另外predit时候,yml里面具体怎么配置也没有说明，还请大佬解答一下

[2021-03-10 20:04] ghost opened #868 "强烈推荐添加dockerfile"

[2021-03-11 03:21] keepgoing365 opened #869 "transforms功能可以关闭吗？"
我的数据集不需要再进行数据增强，想关掉transforms数据增强功能怎么关？
我本来以为不要增强就在配置文件 .yml 里留下个normalize就行，但是我看了PaddleSeg-release-v2.0.0-rc\paddleseg\transform文件的transforms.py文件后发现它是有默认值的，好像不设置它也会按照默认参数来扩充数据集？

[2021-03-11 03:32] wuyefeilin commented on #869
“不要增强就在配置文件 .yml 里留下个normalize就行”， 没错，就是这样的

[2021-03-11 04:20] lybcodes opened #870 "用infer.py预测模型的时候报了数据不匹配的错误，但是评估的时候是没问题，大佬们麻烦给看下"
InvalidArgumentError: Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 18, 310, 415] and the shape of Y = [1, 18, 310, 411]. Received [415] in X is not equal to [411] in Y at i:3.
      [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_array[i] <= 1 || y_dims_array[i] <= 1 == true, but received x_dims_array[i] == y_dims_array[i] || x_dims_

[2021-03-11 07:36] BeyondYourself commented on #869
@wuyefeilin 还是不清楚这个怎么配置，可以写个示例吗

[2021-03-11 07:39] BeyondYourself opened #871 "训练结束后出现一些不清楚的警告"
在AIStudio下训练，采用paddle2最新稳定版本，训练结束后出现一下警告或错误，有大佬能帮看看是什么问题吗

`/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/math_op_patch.py:238: UserWarning: The dtype of left and right variables are not the same, left dtype is VarType.FP32, but right dtype is VarType.INT32, the right dtype will convert to VarType.FP32
  format(lhs_dtype, rhs_dtype, lhs_dtype))
<class 'pad

[2021-03-11 07:44] BeyondYourself commented on #866
在预测的时候为啥yml文件里中必须配置
`type: Dataset
  dataset_root
  val_path:  `
在实际的预测中，这几个参数并不会用到，跳过这几个参数的设置

[2021-03-11 07:50] wuyefeilin commented on #869
@BeyondYourself 类似这样：
transforms:
    - type: Normalize

[2021-03-11 07:57] wuyefeilin commented on #866
感谢你的反馈，在predict的时候我们使用的是val_dataset的数据预处理， 如果评估没有问题，predict就可以正常运行的。感谢你提的建议，我们会不断优化的。

[2021-03-11 08:04] BeyondYourself commented on #869
好的，谢谢

[2021-03-11 08:06] BeyondYourself commented on #866
我在predit的时候，控制台一直如下卡着，没有继续进行，这可能是什么原因呢 @wuyefeilin
![image](https://user-images.githubusercontent.com/12640462/110755163-9a8a1780-8283-11eb-90dc-dfc187df7e23.png)

[2021-03-11 08:54] BeyondYourself commented on #869
`    raise RuntimeError('No object information in {}.'.format(cfg))
RuntimeError: No object information in {'transforms': [{'type': 'Normalize'}], 'mode': 'val'}.`
改成上述的配置后出现如下异常
@wuyefeilin

[2021-03-11 11:37] wuyefeilin commented on #869
你把配置文件发一下

[2021-03-11 11:39] wuyefeilin commented on #866
你是用gpu还是cpu, 另外你看一下保存目录里是否有结果生成

[2021-03-11 11:53] BeyondYourself commented on #866
训练的时候是用的gpu,predit的时候用的CPU，保存的目录下没有任何文件生成

[2021-03-11 12:18] wuyefeilin commented on #866
cpu计算很慢的，建议你用gpu

[2021-03-11 12:24] BeyondYourself commented on #866
好的，那我试试predit用GPU试试

[2021-03-11 13:01] BeyondYourself commented on #866
GPU只用了几十毫秒，CPU十几分钟一直卡着，我在想差距有这么大么，如果以后我用CPU部署会不会很慢？有什么好的方法吗

[2021-03-12 02:19] wuyefeilin commented on #866
可以考虑用bisenet， 减小图片尺寸

[2021-03-12 02:30] BeyondYourself commented on #866
@wuyefeilin 大佬可否加个微信，我的是WXH是861937180

[2021-03-12 12:00] BeyondYourself opened #876 "如何根据paddle.Model.summary查看网络结构"
今天在测试的时候，想打印模型的网络结构，目前的代码如何使用Paddle接口，如何打印网络结构

[2021-03-12 14:48] changbaishan opened #877 "样例模型测试失败"
点击下载我们的样例模型用于测试

(paddle) yong@yong-virtual-machine:~/Documents/sandbox/paddle/PaddleSeg$ ls -al bisenet_demo_model
total 11096
drwxrwxr-x  2 yong yong     4096 Jan 20 08:04 .
drwxr-xr-x 15 yong yong     4096 Mar 12 09:34 ..
-rw-rw-r--  1 yong yong       91 Jan 20 07:58 deploy.yaml
-rw-rw-r--  1 yong yong 10137989 Jan 20 07:58 model.pdiparams
-rw-rw-r--  1 yong yong    31656 Jan 20 07:58 model.pdi

[2021-03-12 14:54] LarryHYQ opened #878 "预测模型怎么输出？"
https://github.com/AgentMaker/PaTTA
就是输出能load进PaTTA的模型

[2021-03-12 15:01] changbaishan opened #879 "模型导出失败"
isenet && cd bisenet
(paddle) yong@yong-virtual-machine:~/Documents/sandbox/paddle/PaddleSeg/bisenet$ wget https://paddleseg.bj.bcebos.com/dygraph/cityscapes/bisenet_cityscapes_1024x1024_160k/model.pdparams
--2021-03-12 09:50:53--  https://paddleseg.bj.bcebos.com/dygraph/cityscapes/bisenet_cityscapes_1024x1024_160k/model.pdparams
Resolving paddleseg.bj.bcebos.com (paddleseg.bj.bcebos.com)... 103.2

[2021-03-14 02:27] Zhangfc682 opened #880 "如何计算分割一张图片的时间？"
使用deploy部署模型，按照Demo中的步骤完成预测后，想知道预测一张图片的推理速度，该如何计算？

[2021-03-14 02:52] Zhangfc682 commented on #880
`def run(self, imgs):
        if not isinstance(imgs, (list, tuple)):
            imgs = [imgs]

        num = len(imgs)
        input_names = self.predictor.get_input_names()
        input_handle = self.predictor.get_input_handle(input_names[0])
        results = []

        for i in range(0, num, self.args.batch_size):
            data = np.array([
                self.preprocess(img) for img in

[2021-03-15 07:36] llO-Oll opened #882 "模型导出失败"
Traceback (most recent call last):
  File "export.py", line 85, in <module>
    main(args)
  File "export.py", line 64, in main
    out = net(in_var)
  File "/home/whut/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/fluid/dygraph/layers.py", line 891, in __call__
    outputs = self.forward(*inputs, **kwargs)
  File "/home/whut/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/flui

[2021-03-15 07:58] tt8000 opened #883 "这个咋回事啊，有这么大么"
![1](https://user-images.githubusercontent.com/73922533/111121165-4646a680-85a7-11eb-9cdc-3667fb1d8df0.jpg)
![2](https://user-images.githubusercontent.com/73922533/111121178-49da2d80-85a7-11eb-88e1-9a0a0c3a93ec.jpg)

[2021-03-15 08:33] BeyondYourself opened #884 "2.0版本的如何设置epoch？"
目前在使用2.0版本的训练模型时，只看到了迭代次数和batch_size大小相关的设置，想问一下，epoch是怎么计算的，在哪里可以设置

[2021-03-15 08:34] BeyondYourself commented on #883
这个没关系的，这个不是实际模型保存大小

[2021-03-15 09:25] FeiMa-REC opened #885 "DataLoader reader thread raised an exception."

[2021-03-15 09:32] FeiMa-REC commented on #885
### 报错如下：

![图片](https://user-images.githubusercontent.com/62004245/111131866-a80d0d80-85b3-11eb-83e4-4c1ccadda589.png)

## 文件相关配置：

### 【_base_.yml】

---

batch_size: 2
iters: 80000

train_dataset:
  type: Dataset
  dataset_root: ./
  train_path: train_list.txt
  num_classes: 15
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.75
      max_scale_factor: 2.0
      scale_step_s

[2021-03-15 11:06] btobab opened #887 "模型导出错误"
![github](https://user-images.githubusercontent.com/66876429/111144046-8155d380-85c1-11eb-9877-fb1ce20c6ce6.jpg)
使用的是paddleSeg的export文件

[2021-03-15 23:22] JiehangXie opened #890 "训练ADE20K数据集时报错"
![image](https://user-images.githubusercontent.com/51190264/111233540-06c98b80-85a2-11eb-9c5c-c8100b45ab5b.png)

似乎是标签的问题，试过设置num class为149、150、151都不行
数据集是自动下载的，ade20k也没改动

[2021-03-16 05:53] clannadcl opened #891 "gpu利用率低，提升加载速度"
用deeplabv3，xception的模型，训练apollo的数据时，gpu占用率经常会降为0；
如何有效的提升数据加载速度呢

[2021-03-16 09:08] Yeoh-Yang opened #892 "使用imgaug库进行数据增强后，报错Cudnn error"
![Snipaste_2021-03-16_17-06-47](https://user-images.githubusercontent.com/77280564/111283602-4368b600-867a-11eb-8c8e-1b812da9c9df.png)

[2021-03-17 01:06] BeyondYourself commented on #885
预训练模型直接用压缩文件？？ 都不解压么

[2021-03-17 04:53] FeiMa-REC commented on #885
执行训练流程的时候会在下载完预训练模型后自动解压吧？我看到有解压步骤的出现的。这个应该是dataloader的问题`(*>﹏<*)′

[2021-03-17 05:59] YAwei666 opened #893 "No rule to make target '/PaddleSeg-develop/opencv/share/OpenCV/3rdparty/lib64/libIlmImf.a', needed by 'demo'. Stop"
大佬们，cpp make时出错，opencv编译是不是缺了点啥啊

[2021-03-17 06:45] Irvingao commented on #884
epochs = images_num / batch_size

[2021-03-17 06:47] Irvingao opened #894 "padseg如何调整config文件或者loss函数实现对不同类别使用不同的权重进行训练？"

[2021-03-17 07:18] BeyondYourself commented on #884
不是吧，我之前测试看到epoch是与迭代数有关的

[2021-03-17 08:13] BeyondYourself commented on #884
目前测试下来的epoch是  epoch = iter_size/(batch_size*2)

[2021-03-17 09:21] michaelowenliu commented on #894
@Irvingao Hi, just add a weight parameter into config file. https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/models/losses/cross_entropy_loss.py

[2021-03-17 09:23] BeyondYourself opened #895 "训练时候添加增强属性： RandomRotation异常"
在训练的时候，添加图像增强属性RandomRotation
`    - type: RandomRotation
      max_rotation: 30`
出现异常，异常如下：
 `SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at D:\v2.0.0\paddle\paddle/fluid/operators/reader/blocking_queue.h:158)`
linux和windows平台都是报这个错误
采用paddle2.0

[2021-03-17 09:25] michaelowenliu commented on #871
@BeyondYourself Hi, that's fine.

[2021-03-17 09:28] michaelowenliu commented on #876
@BeyondYourself Hi, please check https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model_summary/summary_cn.html#summary

[2021-03-17 09:32] BeyondYourself commented on #871
ok,thx

[2021-03-17 09:32] #871 closed, assigned to michaelowenliu

[2021-03-17 09:32] LutaoChu commented on #868
你好，具体是碰到什么环境问题了呢？
PaddleSeg不需要编译，安装非常容易。如果是安装Paddle过程遇到问题，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/index_cn.html  ，或者使用Paddle提供的镜像，可以移步这里提issue https://github.com/PaddlePaddle/Paddle/issues

[2021-03-17 09:32] BeyondYourself commented on #876
已解决，谢谢

[2021-03-17 09:32] #876 closed, assigned to michaelowenliu

[2021-03-17 09:35] BeyondYourself commented on #895
去掉这个属性，训练时可以正常进行的

[2021-03-17 09:38] michaelowenliu commented on #893
@YAwei666 Hi, can you put the detailed error log?

[2021-03-17 09:38] nepeplwu commented on #882
@llO-Oll 麻烦将paddle版本升级到2.0.1试试

[2021-03-17 09:39] michaelowenliu commented on #891
@clannadcl Hi, how do you set the num_workers?

[2021-03-17 09:41] nepeplwu commented on #879
@changbaishan ，感谢反馈，这个问题是因为你本地不存在指定数据集导致（导出模型时，需要读取测试数据集的transforms，读取的时候发现数据集路径不存在，从而报错），可以先下载对应的数据集。

[2021-03-17 09:42] YAwei666 commented on #893
![image](https://user-images.githubusercontent.com/34396185/111447097-0f5bc680-8748-11eb-9b4c-d6d0cd478a3f.png)

[2021-03-17 09:45] BeyondYourself commented on #895
问题已经解决，旋转这个属性值的排在transforms下面的第一个方法里，也就是需要把他设置在Resize属性的前面，类似于这样

`transforms:

    - type: RandomRotation
      max_rotation: 30
    - type: Resize`

    如果是下面的这种配置形式就会出错，因为自定的数据集图片shape都不是同一大小的
   ` transforms:

    - type: Resize`
    - type: RandomRotation
      max_rotation: 30`
    @wuyefeilin @michaelowenliu

[2021-03-17 09:45] nepeplwu commented on #877
@changbaishan 感谢反馈，请问你使用的测试图片是什么？

[2021-03-17 09:46] nepeplwu commented on #887
@IamDestiny 感谢反馈，请更新最新代码试试

[2021-03-17 09:46] michaelowenliu commented on #885
@YuBCS-Ma I guess data_root is wrong.

[2021-03-17 09:48] michaelowenliu commented on #884
@BeyondYourself it depends on the number of GPUs.

[2021-03-17 09:51] michaelowenliu commented on #863
@BeyondYourself Hi, add a transform method as image preprocessing.

[2021-03-17 09:54] BeyondYourself commented on #884
也就是epoch =  epoch = iter_size/(batch_size*num_GPU) ，这个理解对吗

[2021-03-17 09:55] BeyondYourself commented on #863
了解，谢谢

[2021-03-17 09:55] #863 closed, assigned to michaelowenliu

[2021-03-17 10:28] WhiteFireFox commented on #878
@LarryHYQ  hello，您的问题已经收到，您直接使用paddleseg里面的export.py导出的模型即可load进PaTTA了

[2021-03-17 10:55] Irvingao commented on #894
### But there is no input param which is weight  in my paddleseg's cross_entropy_loss.py.
![image](https://user-images.githubusercontent.com/58903762/111456512-0ff95a80-8752-11eb-95a8-75e7657b3ba0.png)
### So can I just copy the lastest cross_entropy_loss.py to my project and use it?

[2021-03-17 10:59] michaelowenliu commented on #884
@BeyondYourself

Total number of the dataset: N
Batch Size: batch_size
The number of GPUs: num_gpus
Total iterations: iters
epoch = (iters\*batch_size\*num_gpus)/N

[2021-03-17 11:13] michaelowenliu commented on #894
@Irvingao Hi, please update the repo. We enabled the feature last week.

[2021-03-17 11:15] Irvingao commented on #894
Thanks bro !

[2021-03-17 11:26] #884 closed, assigned to michaelowenliu

[2021-03-17 11:28] #895 closed, assigned to wuyefeilin

[2021-03-17 11:29] #175 closed, assigned to LielinJiang

[2021-03-17 11:50] FeiMa-REC commented on #885
### My file tree is as follows :

![图片](https://user-images.githubusercontent.com/62004245/111461725-8ac57400-8758-11eb-80d1-10974933de2e.png)

### && My Config root is :

train_dataset:
  type: Dataset
  dataset_root: data/
  train_path: data/train_list.txt

val_dataset:
  type: Dataset
  dataset_root: data/
  val_path: data/val_list.txt

### My train_list.txt :

![图片](https://user-images.githubu

[2021-03-17 11:59] BeyondYourself commented on #885
![image](https://user-images.githubusercontent.com/12640462/111463991-2eb01f00-875b-11eb-9b09-a28084964b6d.png)
你在配置文件中添加上transform
设置它的属性Resize试试
@YuBCS-Ma

[2021-03-17 12:04] FeiMa-REC commented on #885
啊，老哥，那个错误我解决了。resize没事，就是一直报数据读取的错。但是我的文件路径都对啊，不知道为什么跑不通。

![图片](https://user-images.githubusercontent.com/62004245/111464565-dfb6b980-875b-11eb-9417-e01df439517a.png)

刚刚跑的。

[2021-03-17 12:21] michaelowenliu commented on #885
@YuBCS-Ma how did you run "train.py"? what is the absolute path of the data directory?

[2021-03-17 12:32] wuyefeilin commented on #890
@JiehangXie 感谢反馈， 已提pr：https://github.com/PaddlePaddle/PaddleSeg/pull/896

[2021-03-17 12:34] FeiMa-REC commented on #885
In this way :

![图片](https://user-images.githubusercontent.com/62004245/111467291-3c67a380-875f-11eb-87ea-b2611f677788.png)

&& The absolute path of the data is : home/aistudio/data/

![图片](https://user-images.githubusercontent.com/62004245/111467968-0545c200-8760-11eb-88c9-addfb1830f7e.png)

[2021-03-17 12:35] GT-ZhangAcer commented on #878
曹佬给力

[2021-03-17 12:38] changbaishan commented on #877
![Hangzhou](https://user-images.githubusercontent.com/12687044/111468513-034a1780-86fc-11eb-8a60-247950acce2f.jpg)

[2021-03-17 12:44] changbaishan commented on #879
(1)
https://paddleseg.bj.bcebos.com/dygraph/cityscapes/bisenet_cityscapes_1024x1024_160k/model.pdparams
--2021-03-12 09:50:53-- https://paddleseg.bj.bcebos.com/dygraph/cityscapes/bisenet_cityscapes_1024x1024_160k/model.pdparams
Resolving paddleseg.bj.bcebos.com (paddleseg.bj.bcebos.com)... 103.235.46.61, 2409:8c00:6c21:10ad:0:ff:b00e:67d
Connecting to paddleseg.bj.bcebos.com (paddleseg.bj.bcebos.c

[2021-03-17 12:55] BeyondYourself commented on #885
我之前遇到过报错和你一模一样的，结果是transform的属性值配置顺序有问题，resize最为最后属性值 @YuBCS-Ma

[2021-03-17 12:59] changbaishan commented on #879
(3) ls -al .paddleseg
total 20
drwxr-xr-x  5 yong yong 4096 Mar 11 10:11 .
drwxr-xr-x 53 yong yong 4096 Mar 17 08:23 ..
drwxr-xr-x  2 yong yong 4096 Mar 11 10:11 dataset
drwxr-xr-x  2 yong yong 4096 Mar 11 10:11 pretrained_model
drwxr-xr-x  2 yong yong 4096 Mar 11 10:11 tmp

ls -al .paddleseg/dataset
total 8
drwxr-xr-x 2 yong yong 4096 Mar 11 10:11 .
drwxr-xr-x 5 yong yong 4096 Mar 11 10:11 ..

 l

[2021-03-17 13:00] FeiMa-REC commented on #885
这是我的Transform

![图片](https://user-images.githubusercontent.com/62004245/111471242-abdf9200-8763-11eb-84f2-42026392e09f.png)

[2021-03-17 13:25] wuyefeilin commented on #864
看样子是op的问题，已提交给相关的同学进行处理。 目前你可以将函数改成如下形式进行规避：
函数位置：https://github.com/PaddlePaddle/PaddleSeg/blob/develop/paddleseg/core/infer.py#L65
[code]

[2021-03-17 13:29] wuyefeilin commented on #870
你好，麻烦给一下具体的运行日志和运行命令

[2021-03-17 14:36] lybcodes opened #897 "2.0训练出来的模型经过export.py导出后，通过c++预测部署"
2.0训练出来的模型经过export.py导出后，通过c++预测部署可以直接按照legacy/deploy/cpp里的c++预测部署文档来吗？但是我看模型导出后的deploy.yaml文件还有模型文件名称这些都跟legacy/deploy/cpp里的部署文档里写的不一样

[2021-03-18 01:16] BeyondYourself commented on #885
你先试试属性值只加上Resize和Normalize  @YuBCS-Ma

[2021-03-18 01:25] michaelowenliu commented on #897
@lybcodes Hi, CPP deployment in 2.0 is under development. Coming soon.

[2021-03-18 01:28] FeiMa-REC commented on #885
我试了只加Normalize，还是一样的报错，应该不是这个的问题。

[2021-03-18 01:37] BeyondYourself commented on #885
这种报错有的时候真的不太好找，建议debug看看

[2021-03-18 01:43] michaelowenliu commented on #885
@YuBCS-Ma Hi, please try running train.py in PaddleSeg-Release-v2.0 directory, and set data_root to home/aistudio/data/, set train_path: home/aistudio/data/train_list.txt.

[2021-03-18 01:56] BeyondYourself commented on #885
@michaelowenliu 所以在读取文件是不是应该加一个验证文件以及路径是否存在

[2021-03-18 02:09] michaelowenliu commented on #885
@BeyondYourself Hi, a great idea! Hope you can help to add this feature and submit the PR.

[2021-03-18 02:13] michaelowenliu commented on #890
@JiehangXie Hi, we have already reloved the problem, please update the code and try again.

[2021-03-18 02:15] BeyondYourself commented on #885
OK，我试试看

[2021-03-18 02:19] wuyefeilin commented on #885
RandomRotation 会改变图片大小，把它放到RandomPaddingCrop之前

[2021-03-18 02:23] BeyondYourself commented on #885
@wuyefeilin 出个transform的配置宝典吧

[2021-03-18 02:25] wuyefeilin commented on #892
请问一下你是如何使用imgaug的， 另外麻烦你提供一下PaddleSeg， Paddle,  cudnn， cuda版本

[2021-03-18 02:28] clannadcl commented on #891
@michaelowenliu Setting it to 16 and 32 both cause the above problem. And it is noteworthy that the GPU memory is almost full.

[2021-03-18 02:30] wuyefeilin commented on #885
感谢反馈，我们会充分考虑你的建议

[2021-03-18 02:46] michaelowenliu commented on #891
@clannadcl Hi, try a smaller input size or batch size. btw, which PaddleSeg version are you using?

[2021-03-18 03:06] clannadcl commented on #891
@michaelowenliu Thanks! The problem has just been solved by choosing multiprocess reader. And I‘m using version 0.8.

[2021-03-18 03:33] Channingss commented on #893
@YAwei666 请描述一下系统环境，包括操作系统，GCC版本，以及opencv使用的方式等，尽可能细节一下。

[2021-03-18 03:43] YAwei666 commented on #893
ubuntu16.04  gcc version 7.5.0 opencv按照https://github.com/PaddlePaddle/PaddleSeg/blob/develop/legacy/deploy/cpp/docs/linux_build.md
![image](https://user-images.githubusercontent.com/34396185/111570054-f18d7080-87de-11eb-9f82-001ff531984a.png)
按这个过程操作出现在编译环节make出现该问题，编译为cpu版

[2021-03-18 03:46] Channingss commented on #893
@YAwei666 所以你将opencv的路径放在了`/PaddleSeg-develop/opencv/` ？然后 --DCMAKE_INSTALL_PREFIX=/PaddleSeg-develop/opencv/ ?

[2021-03-18 03:47] YAwei666 commented on #893
对

[2021-03-18 04:33] ghost commented on #868
我需要在docker容器中进行训练模型

[2021-03-18 04:33] ghost commented on #868
我需要在docker容器中进行训练模型

[2021-03-18 04:53] FeiMa-REC commented on #885
@michaelowenliu @wuyefeilin

Finally, it works！！！：）

I should set_env PYTHONPATH='/home/aistudio/PaddleSeg-release-v2.0/' and change dataset_root , train_path, also should  put the RandomRotation before the RandomPaddingCrop.

Thx! ! !

[2021-03-18 05:11] #885 closed, assigned to michaelowenliu

[2021-03-18 05:27] #894 closed, assigned to michaelowenliu

[2021-03-18 06:09] Channingss commented on #893
@YAwei666 参考一下这两个链接试试：
https://github.com/opencv/opencv/issues/15497
https://blog.csdn.net/pihuanwan3227/article/details/85229942

[2021-03-18 07:10] LutaoChu commented on #868
可以拉取paddle的镜像   https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html

[2021-03-18 08:21] yy11223 opened #899 "DeepLabv3+中backbone为mobilenetv3训练问题"
DeepLabv3+中仅backbone替换为mobilenetv3_large，训练时以下参数中，仅
ASPP_WITH_SEP_CONV: False
ASPP_WITH_SE: False
这两个参数设置为False，
（1）为何训练100epoch后，miou值（Cityscapes val）只有52%左右，这与开源论文：《Searching for MobileNetV3》里MobileNetV3用于Semantic Segmentation results on Cityscapes val set的72%（什么也不加的前提）差别怎么这么大呢？
（2）当把
DEFAULT_NORM_TYPE: "gn"
ASPP_WITH_SEP_CONV: True
ASPP_WITH_SE: True
这两个参数改为True且用gn代替bn后，训练100epoch，miou值能达到72%左

[2021-03-18 11:22] btobab commented on #887
懂了懂了，我试试

[2021-03-18 11:34] JiehangXie commented on #890
Test succeed!The bug has been fixed. Thank you!

[2021-03-18 11:34] #890 closed, assigned to michaelowenliu, wuyefeilin

[2021-03-18 12:44] michaelowenliu commented on #899
@yy11223 Hi, separable conv is the key idea in deeplabv3+.

[2021-03-18 12:50] yy11223 commented on #899
可是在deeplabv3+中，单独应用separable conv（即ASPP_WITH_SEP_CONV:&nbsp;True）获得的miou反而比ASPP_WITH_SEP_CONV:&nbsp;False（其它参数不变）时还要低

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"

[2021-03-19 01:35] lybcodes commented on #891
你好，我也遇到了这个 问题，请问是要加改什么参数吗

[2021-03-19 01:45] michaelowenliu commented on #899
@michaelowenliu Hi, how about your dataset?

[2021-03-19 01:51] yy11223 commented on #899
Cityscapes val

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年3月19日(星期五) 上午9:46
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:

[2021-03-19 02:15] clannadcl commented on #891
@lybcodes 把train.py中的--use_mpio开关打开就可以了，设置成多进程数据读取，默认是用的多线程

[2021-03-19 04:23] lybcodes opened #902 "deeplabv3p_xception65_optic.yaml训练出错"
训练命令python pdseg/train.py --cfg configs deeplabv3p_xception65_optic.yaml --use_gpu --do-eval
训练不到一轮就会出现这句刷屏错误 std::furture error  no state
而且GPU利用率特别低 只有不到4%，有时候甚至是0，好像就没用GPU一样

[2021-03-19 04:32] lybcodes commented on #891
谢谢你哈，不过我开了这个也不行。。。我提个issue吧

[2021-03-19 04:33] lybcodes commented on #891
谢谢你哈，不过我开了这个也不行。。。我提个issue吧

[2021-03-19 06:34] YAwei666 opened #903 "使用量化时出现如下错误，请问如何解决IndexError: tuple index out of range"
admin@mk-NF5468M5:/data/wyw/PaddleSeg$ python slim/quant.py        --config configs/quick_start/hrnetocr_zm_128x128_3k.yml         --retraining_iters 100        --model_path output/best_model/model.pdparams        --save_dir quant_model
/home/admin/anaconda3/envs/wyw/lib/python3.7/site-packages/matplotlib/backend_bases.py:55: DeprecationWarning: PILLOW_VERSION is deprecated and will be removed in

[2021-03-19 09:32] yunchangxiaoguan opened #905 "如何训练自己的数据，logits_dims[i]:512 != labels_dims[i]:4，维度出错，yaml要怎么写"
训练自己的数据出错，我先拿city数据集试验，按照cityscapes的yaml训练可以，我抽出图片自己训练后就报错，yaml要怎么设置呢，还是image图片和label图片没弄对，求教大神们

python3 train.py --config configs/my.yaml --save_interval 500 --save_dir output/my
2021-03-19 17:22:21 [INFO]
------------Environment Information-------------
platform: Linux-3.10.0-1127.8.2.el7.x86_64-x86_64-with-centos-7.8.2003-Core
Python: 3.6.8 (default, Apr  2 2020, 13:34:55) [GCC 4.8.5 20150623

[2021-03-20 03:38] #905 closed, assigned to wuyefeilin

[2021-03-20 03:46] yunchangxiaoguan opened #907 "export CUDA_VISIBLE_DEVICES=1 没有用，在代码里加os也没有用"
请问怎么配置使用的GPU呢，怎么设置都没用，还是读GPU0
train.py里加了os.environ['CUDA_VISIBLE_DEVICES']=‘1‘  也没用

[root@ywcx-ailab-aly PaddleSeg]# export CUDA_VISIBLE_DEVICES=1
[root@ywcx-ailab-aly PaddleSeg]# python3 train.py --config configs/my.yaml --save_interval 500 --save_dir output/my
2021-03-20 11:43:20 [INFO]
------------Environment Information-------------
platform: Linux-3.10.0-1127.8.2.el7.x86_64-x86_64-with-cent

[2021-03-20 07:19] #907 closed, assigned to nobody

[2021-03-21 04:13] yunchangxiaoguan opened #908 "请问训练完报这个错误是什么意思"
python3 train.py --config configs/my.yaml --save_interval 500 --save_dir output/my
错误如下：

021-03-21 11:22:40 [INFO]	[TRAIN] epoch=140, iter=980/1000, loss=2.8907, lr=0.000309, batch_cost=1.9775, reader_cost=1.51363, ips=2.0227 samples/sec | ETA 00:00:39
2021-03-21 11:23:00 [INFO]	[TRAIN] epoch=142, iter=990/1000, loss=3.3142, lr=0.000173, batch_cost=2.0295, reader_cost=1.56442, ips=1.9709 samples/

[2021-03-21 13:01] JiehangXie opened #909 "DNLNet预测图片报显存错误"
![image](https://user-images.githubusercontent.com/51190264/111905778-3e04c600-8a02-11eb-8c4d-b4e9e47673f7.png)

DNLNet模型进行预测的时候提示GPU资源不足的错误，异常提示显存需要是一百多G，测试使用了本地和aistudio线上环境，均报显存不足的错误
测试图片大小仅仅是512k，配置文件、模型和测试图片可通过百度云链接下载：
链接: https://pan.baidu.com/s/1kVtLDFY1Mf_r6onGfZC24g 提取码: xsv5

[2021-03-21 13:03] JiehangXie commented on #909
训练数据集是ADE20K

[2021-03-21 13:57] JiehangXie commented on #909
经测试，resize到800*600就可以正常预测了

[2021-03-21 13:57] #909 closed, assigned to nobody

[2021-03-22 02:21] wuyefeilin commented on #902
你好，麻烦提供一下完整的训练日志。目前我们已提供动态图版本，欢迎使用哈。

[2021-03-22 02:27] wuyefeilin commented on #908
你好，这个不是报错哈，这是在统计模型的flops和params时打印出来的信息

[2021-03-22 03:32] yunchangxiaoguan commented on #908
好的，谢谢

[2021-03-22 03:32] yunchangxiaoguan commented on #908
好的，谢谢

[2021-03-22 09:04] tvshow5727 commented on #838
faced with the same problem

[2021-03-22 09:23] michaelowenliu commented on #838
@tvshow5727 Hi, could you please put the error log?

[2021-03-22 09:28] tvshow5727 commented on #838
cmd：

python3.5 predict.py --config ./configs/quick_start/bisenet_optic_disc_512x512_1k.yml&nbsp; --model_path model/cityscapes/model.pdparams --image_path data/optic_disc_seg/JPEGImages/H0003.jpg&nbsp; --save_dir output/result

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-03-23 02:43] nepeplwu commented on #877
@changbaishan 该问题已经在最新代码中修复，并且我们也重新上传了测试样例，请更新到分支`release/v2.0`的最新代码，并且重新下载部署文档里的测试样例。

另外，该模型是使用cityscapes数据集训练的，适用于街景道路场景下的预测，对于上面所提供的图片，效果会比较差，可以使用我们部署文档里面提供的测试图片体验下效果。

[2021-03-23 02:44] nepeplwu commented on #879
@changbaishan 感谢反馈，我们已经优化了模型导出的逻辑，解决了上面提到的本地不存在数据导致导出失败的问题，请在`release/v2.0`分支上更新到最新的代码再体验下

[2021-03-23 02:46] nepeplwu commented on #903
@YAwei666 感谢反馈，请使用paddlepaddle 2.0.1版本试试

[2021-03-23 17:38] #879 closed, assigned to nepeplwu

[2021-03-23 17:38] #877 closed, assigned to nepeplwu

[2021-03-24 08:03] YAwei666 opened #913 "请问有没有每个模型的性能测试及时间消耗对比"
thanks

[2021-03-24 08:26] Abris-087 opened #914 "如何使用多卡训练？"
你好，我安装了两块GPU，请问如何使用多卡训练？

使用paddledetection套件时，自动调用了两块GPU；而在PaddleSeg的训练过程中，默认只用了一块GPU

![图片](https://user-images.githubusercontent.com/61613537/112278273-9e735c00-8cbd-11eb-8a0c-279bd9cc5d5a.png)

[2021-03-24 10:25] Abris-087 commented on #914
python -m paddle.distributed.launch --selected-gpus="0,1,2,3" tools/train.py

[2021-03-24 10:25] #914 closed, assigned to nobody

[2021-03-25 02:45] wsy1991 opened #916 "paddleseg人像分割模型问题"
logit = self.output_layer(decode_conv, self.num_classes)
        #print ('logit', logit)
        if self.num_classes == 1:
            out = sigmoid_to_softmax(logit)
            out = fluid.layers.transpose(out, [0, 2, 3, 1])
        else:
            out = fluid.layers.transpose(logit, [0, 2, 3, 1])

        pred = fluid.layers.argmax(out, axis=3)
        pred = fluid.layers.unsqueeze(pred, axes

[2021-03-25 03:51] LutaoChu commented on #916
预测部署难道不需要通过argmax获取类别吗？
如果确实不需要的话，可以把pred相关的代码删掉导出新的模型

[2021-03-25 06:06] wsy1991 commented on #916
这样的话代码会报错。
我的意思是，是否有可能去掉softmax，因为真的很影响推理速度

[2021-03-25 06:22] michaelowenliu commented on #913
@YAwei666 Hi, do you mean for performance evaluation? As for time-consuming, please refer to the training log.

[2021-03-25 06:24] #908 closed, assigned to wuyefeilin

[2021-03-25 06:25] LutaoChu commented on #916
噢噢，肯定是可以去掉softmax的。
这样的话你可以用pred，pred不需要过softmax。

[2021-03-25 06:38] LutaoChu commented on #916
![image](https://user-images.githubusercontent.com/30695251/112429395-8e1fb780-8d77-11eb-800b-6a20e512d719.png)
具体来说，注释掉 /legacy/contrib/HumanSeg/models/humanseg.py里的这一行试试

[2021-03-25 07:06] wsy1991 commented on #916
但是deploy下infer.py中用的应该是logit吧
 output_data = self.predictor.run(input_data)[1]
            output_data = output_data.as_ndarray()
Humanseg中bp_replace.py中用的应该也是logit啊
bp_replace.py中结合光流，看上去需要用概率。
我用netron查看了下模型结构，softmax是包含在模型中的

[2021-03-25 08:21] songyuc opened #917 "请问一下，在使用piecewise_decay的学习率衰减策略时，milestone参数一般是怎么设置的呢？"
尊敬的开发者们，你好👋，

请问一下，在使用piecewise_decay的学习率衰减策略时，milestone参数一般是怎么设置的呢？

期待你们的回复！

[2021-03-25 09:08] Exusia-0 commented on #885
确实是这个问题

[2021-03-25 09:28] LutaoChu commented on #917
你好，据我所知，picewise_decay并没有milstone参数
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/optimizer/lr/PiecewiseDecay_cn.html#piecewisedecay

[2021-03-25 09:33] songyuc commented on #917
不好意思，我看的可能是之前版本的paddle模型；我还想请教一下，那学习率调整的boundaries参数一般是怎么设置的呢？

[2021-03-25 11:49] 1150xi opened #918 "进行配置和数据验证时出错 使用命令：python pdseg/check.py --cfg ~/work/scratch_seg.yaml"
[code]

[2021-03-25 16:25] YJieo opened #919 "请问为什么predict后会出现没有黑色图片的情况呢"

[2021-03-26 02:29] LutaoChu commented on #917
这个大致是等距分布，每个区间逐级递减。你可以参考一下文档里的示例  https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/optimizer/lr/PiecewiseDecay_cn.html#piecewisedecay

[2021-03-26 02:35] songyuc commented on #917
@LutaoChu ，谢谢你的回复；我觉得这也是一个需要调节的超参数；

[2021-03-26 03:11] LutaoChu commented on #917
是的，具体怎么调节需要自己摸索一下
不客气~

[2021-03-26 03:15] songyuc commented on #917
十分感谢你的帮助！

[2021-03-26 03:15] #917 closed, assigned to LutaoChu

[2021-03-26 06:38] LutaoChu commented on #916
deploy下infer.py用的是pred，
[code]
你应该自己修改了代码吧

bg_replace.py用的是logit，需要用概率

[2021-03-26 06:42] wuyefeilin commented on #916
bg_replace.py里面用的是概率哈https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/legacy/contrib/HumanSeg/bg_replace.py#L83

[2021-03-26 15:54] jayagami opened #920 "cocostuff not import in __init__"
Hi, I am a newbie and I am just about to try paddleseg for training my own data.

cocostuff not import in init, no big deal.

https://github.com/PaddlePaddle/PaddleSeg/blob/2dc99b8dd4dfb1468eed238b46f395e3100695e1/paddleseg/datasets/__init__.py#L15-L21

However, could you please provide load modules in coco JSON format, most annotation tools support coco format.

[2021-03-26 17:45] #920 closed, assigned to nobody

[2021-03-27 10:11] pkuCactus opened #921 "DataLoader reader thread raised an exception!"
When I run the val with 1 gpu and multiple workers occurs the problem.

python val.py --config configs/mscale_ocr_cityscapes_autolabel_mapillary_ms_val.yml --num_workers 0 --model_path /workspace/trained_models/paddleseg_params/cs_paddleseg_model.pdparams --aug_eval --flip_horizontal

2021-03-27 10:08:04,811 - ERROR - DataLoader reader thread raised an exception!
Traceback (most recent call last):

[2021-03-27 11:17] pkuCactus commented on #921
It should be the problem of server, when i use another one, there is no problem.

[2021-03-27 11:17] #921 closed, assigned to nobody

[2021-03-29 03:18] JustinHuang1984 opened #922 "使用C++推理时，出现未加载kernelbase.pdq,报EnforceNotMet异常是什么原因"
下载PaddleSeg  C++推理代码，先用Cmake编译，编译后导入参数，初始化能通过，过图片加载进去里，报未加载kernelbase.pdq错误，如图所示，想问下这个问题要怎么解决
![)_(BIX$ SJ4L8)D_6R5HJO](https://user-images.githubusercontent.com/59753769/112782789-7484b580-9080-11eb-8138-b2998508cf70.png)
![J(Y3 6A4}XE}4`2V0BNCBP](https://user-images.githubusercontent.com/59753769/112782798-764e7900-9080-11eb-90cb-0fc7f0136d7d.jpg)
![XD18_T0JTYV3RU7E}IWZ1XM](https://user-images.g

[2021-03-29 03:41] xmy0916 commented on #907
请问怎么解决的？

[2021-03-29 03:41] xmy0916 commented on #907
@yunchangxiaoguan

[2021-03-29 05:35] zsffuture opened #923 "跑unet时，训练可以进行，但是验证过程中崩溃，崩溃原因是内存不够用？有什么解决方法吗？"
如题。
![image](https://user-images.githubusercontent.com/39027951/112791172-81f76b00-9093-11eb-9093-9f1ea3a2d813.png)
![image](https://user-images.githubusercontent.com/39027951/112791191-8e7bc380-9093-11eb-8b05-6146a3e4bb64.png)

[2021-03-29 05:36] zsffuture commented on #923
我已经把batch设置为1了，显存是11G的，同时推理时也是内存不够用而崩溃，什么原因呢？

[2021-03-29 07:02] zsffuture commented on #923
这里如何有出现验证和推理很占GPU情况时，建议使用delevop版本，同时不要安装pip方式的即pip install paddleseg，我不知道是哪个影响的，我的解决方案是使用delevop版本，二是卸载了paddleseg，之前使用pip install paddleseg，同时batch均设置为1，这样才避免在训练时验证崩溃的情况 。

[2021-03-29 08:05] wsy1991 commented on #916
哦对。bp_replace用的是概率(softmax)。因为后面需要用光流。但是光流和softmax都特别耗时，其中，softmax占了模型推理40%的时间。我在想，有啥方法能够不用softmax或者减少光流推理时间呢

[2021-03-29 08:07] wuyefeilin commented on #916
你可以尝试把softmax 去除，重新导出模型，然后在部署的时候自己加上softmax，看看这么操作是否能节省时间

[2021-03-29 08:10] wsy1991 commented on #916
区别在哪嘛，哥哥。想哭.jpg

[2021-03-29 08:27] BeyondYourself commented on #923
@zsffuture   这个我也经常遇到过，感觉好像有之前的进程一直在占用

[2021-03-29 08:27] BeyondYourself commented on #923
@zsffuture   这个我也经常遇到过，感觉好像有之前的进程一直在占用

[2021-03-29 08:48] BeyondYourself commented on #919
我这边测试的是红底的

[2021-03-29 11:16] BeyondYourself opened #925 "训练结束后的日志内容不明白"
训练结束后，出现下面的内容，这个正常吗？
使用的是paddle2.0，当前代码使用的最新develop分支

`<class 'paddle.nn.layer.conv.Conv2D'>'s flops has been counted
Customize Function has been applied to <class 'paddle.nn.layer.norm.SyncBatchNorm'>
Cannot find suitable count function for <class 'paddle.nn.layer.pooling.MaxPool2D'>. Treat it as zero FLOPs.`