[2022-06-24 13:49] YangQiangli commented on #2255
thanks

[2022-06-25 07:15] fanxiaochen456 opened #2258 "PaddleSeg量化模型的Flops和Params"
您好，我使用PaddleSlim量化PaddleSeg的模型，
![image](https://user-images.githubusercontent.com/101849755/175763002-a583bdfa-e6e3-41a0-808f-a48561830f28.png)
请问我怎样可以输出该模型执行一次推理的参数量Params和他所进行的计算量Flops呢？使用的测试脚本是deploy/python/infer.py。

[2022-06-25 09:03] lifan724 opened #2259 "PP-Matting: High-Accuracy Natural Image Matting 这篇文章的模型代码还没开源吗"

[2022-06-26 15:51] huangwan-jiayi opened #2260 "[General Issue]训练模型时报错。"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (PaddleSeg release/2.5)
 2. PaddlePaddle version： PaddlePaddle 2.3.0)
 3. Operation system:  Linux（Ubuntu16.04）
 4. Python version: Python3.7
 5. CUDA/cuDNN version: CUDA11.2/cuDNN 8.2.0

系统环境截图:
![34ea8501c22fe27b367380615b4e0be](https://user-images.githubusercontent.com/71338215

[2022-06-26 22:23] fschvart commented on #956
I have the same issue . Can you please be more specific on which .py files you changed? I can't seem to find it.
Thanks!

[2022-06-26 22:43] fschvart commented on #1753
I have the latest version, Paddle-gpu 2.3.0 and I suffer from the same problem. Is there any other fix?

[2022-06-26 23:09] fschvart opened #2261 "[Bug] Out of Memory on GPU 0. (RTX 3090 with 24gb)"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: **2.5.0**
 2. PaddlePaddle version: **2.3.0**
 3. Operation system: **Windows**
 4. Python version: **Python 3.9**
 5. CUDA/cuDNN version: **11.2/8.3**
 6. Full codes: **Using original code, using custom dataset, batch size = 1 for DeepLabV3+, image size 768,1280**
 7. Detail

[2022-06-27 02:31] juncaipeng commented on #2256
你看下使用的是那个loss api，参考官方api的说明检查一下输入类型是否匹配。

[2022-06-27 02:32] juncaipeng commented on #2259
在计划开源中，目前已经发布预测模型。

[2022-06-27 02:33] juncaipeng commented on #2258
已经导出为预测模型后，目前没有工具统计预测模型的params和flops。

[2022-06-27 03:19] juncaipeng commented on #2261
I think the training framework has OOM error for this environment, we will try to fix it.
Thanks.

[2022-06-27 03:23] juncaipeng commented on #2260
我在本地没有复现该问题，估计你的环境下存在的特殊错误。
建议你找到错误行，如下修改。

[code]
改为
[code]

[2022-06-27 03:24] #2183 closed, assigned to juncaipeng

[2022-06-27 03:44] huangwan-jiayi commented on #2260
按照你说的那样修改后，紧接着的代码报错了。
![728ebfb57565e42da13821357fe03de](https://user-images.githubusercontent.com/71338215/175856050-980c635d-6c3a-4f7b-a4a6-cba3221617fd.png)
![cae5a17b3ce2b3d9cc55e35f1958c9c](https://user-images.githubusercontent.com/71338215/175856064-67cd016e-54ab-4f89-a259-292309196949.png)

[2022-06-27 07:29] hannaSkyrim opened #2262 "PaddleSeg ONNX to OV int8 optimized doesn't show detection"
1. PaddleSeg version: PaddleSeg v2.5.0 (release/2.5)
 2. PaddlePaddle version: 2.3.0
 3. Operation system: Linux-5.13.0-51-generic-x86_64-with-glibc2.17
 4. Python version: 3.8.10
 5. CUDA/cuDNN version: NVCC: Build cuda_11.6.r11.6/ cudnn: 8.4
 6. Problem:

I want to quantize the model from ONNX to Openvino (OV) IR FP32 to INT8.
My current OV version is 2021.4.
After quantize with OV DL workbench

[2022-06-27 08:39] peach-xiao opened #2263 "语义分割指标OA计算问题"
您好！我在使用PaddleViT设计自己的模型，对于实验的结果我遇到了一些问题，希望可以得到帮助。首先，因为PaddleViT和PaddleSeg计算评价指标的代码我都仔细看了，是一样的。可以查阅https://github.com/BRIDL/PaddleViT/blob/develop/semantic_segmentation/src/utils/metrics.py,

以下图片是我在数据集上的实验结果，框起来的是我用PaddleViT平台跑出来的实验结果。其余的FCN、PSPNet等模型是我自己的代码的结果。

![image](https://user-images.githubusercontent.com/40911688/175894733-d9dbd021-194e-4bb6-a9ee-9fccf01cf605.png)

OA和Miou的计算公式是:
![image]

[2022-06-27 10:02] hannaSkyrim commented on #2245
i got same error when running for segformer model.

nvidia-smi

| NVIDIA-SMI 510.73.05    Driver Version: 510.73.05    CUDA Version: 11.6     |
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|   0  NVIDIA Ge

[2022-06-27 11:32] juncaipeng commented on #2262
Sorry. PaddleSeg does not guarantee the quantized model be exported to onnx.

[2022-06-27 11:39] juncaipeng commented on #2263
1.  mean_acc是等同于OA
2. PaddleSeg中计算的mIoU和mAcc方法等同于使用混淆矩阵计算

[2022-06-27 11:40] juncaipeng commented on #2260
估计你安装paddle的问题，请参考飞桨官网检查安装的细节是否满足。

[2022-06-27 11:42] juncaipeng commented on #2253
参数量不好统计，不过你可以查看模型体积，使用zip压缩后，预测模型体积会减小为1/4。

是int8

[2022-06-27 13:10] saeedkhanehgir opened #2265 "inference on raspberry pi"
Hi
Thanks for sharing this project.
I want to train a new model for **lane segmentation** and inference it on **Raspberry Pi**. What do you think is the best model for speed and accuracy? speed is a more important factor for me.

Thanks

[2022-06-28 07:25] Murphy-MML opened #2267 "多卡训练 时长问题"
我使用python -m paddle.distributed.launch train.py --config configs/pspnet/pspnet_resnet101_os8_cityscapes_1024x512_80k.yml --do_eval --save_dir /mnt/Workdir/pspnet/pspnet_resnet101_os8_cityscapes_1024x512_80k/ --num_workers 12
为例
为什么 时长会到达40小时

2022-06-28 07:04:06 [INFO]      [TRAIN] epoch: 1, iter: 20/80000, loss: 2.1961, lr: 0.009998, batch_cost: 1.7653, reader_cost: 0.00016, ips: 1.1330 samples/s

[2022-06-28 08:07] hackkhai commented on #2259
can we know an estimate on when it will be opensourced?

[2022-06-29 00:26] justld opened #2270 "[Bug] Dice loss bug"
环境：aistudio tesla v100
paddlepaddle=2.3.0
paddleseg=2.5.0

bug：dice loss 前向传播时，label转换为one-hot编码前，并未对ignore_index进行处理，当ignore_index值大于num_classes（比如ignore index为255，类别为19）时，报错cuda 719。原因为one-hot转换错误。
代码链接：https://github.com/PaddlePaddle/PaddleSeg/blob/35a4c4d229df2d4a5ca724ad442bf5e0f75b4823/paddleseg/models/losses/dice_loss.py#L46

可将mask部分放到one-hot之前，然后将ignore_index赋值一个小于num_classes的值：
[code]

[2022-06-29 02:26] wuyefeilin commented on #2267
你是用什么显卡训练的呢

[2022-06-29 02:31] wuyefeilin commented on #2265
May be you can try the `PPLiteSeg`

[2022-06-29 08:48] ghost commented on #2244
According to suggestions of the developers of PaddleSeg. This problem can be solved by following steps:

Step 1, copy export.py to `contrib/PanopticDeepLab`;

Step 2, add the following codes to `contrib/PanopticDeepLab/export.py`:

[code]

Step 3, download pre-trained model file:

[code]

Step 4, run `contrib/PanopticDeepLab/export.py` by the following command:

[code]

Finally, exported model fil

[2022-06-29 08:48] #2244 closed, assigned to wuyefeilin

[2022-06-29 10:48] Amanda-Barbara opened #2272 "EISeg鼠标左击界面闪退"
模型已经上传，标签也已添加，图像也已打开，当鼠标左键点击图像区域的时候EISeg界面出现闪崩，输出bug日志如下：
Traceback (most recent call last):
  File "/PaddleSeg/EISeg/eiseg/app.py", line 1628, in canvasClick
    self.controller.addClick(x, y, isLeft)
  File "/PaddleSeg/EISeg/eiseg/controller.py", line 214, in addClick
    pred = self.predictor.get_prediction(self.clicker)
  File "/PaddleSeg/EISeg/eiseg/inference/predictor/base.py", line 96, in g

[2022-06-30 16:49] xmyyzy123 opened #2275 "请问MODNet支持c++部署吗"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-06-30 17:47] jakpiase opened #2276 "PP-HumanMatting has non-optimal graph"
While optimizing PP-HumanMatting model I have found that the computational graph contains some weird and non-optimal pattern. Instead of using `pad2d` op, there is a combination of `unsqueeze2` + `pad3d` + `squeeze2` ops, which are behaving like `pad2d`, but are significantly slowing the model. I have written both `pad3d` and `pad2d` oneDNN kernels in PR: [#43990](https://github.com/PaddlePaddle/P

[2022-07-01 01:09] Murphy-MML commented on #2267
4 张 3090

[2022-07-01 01:37] JNU-IFM commented on #2186
我也想问一下这个问题，请问你解决了吗

[2022-07-01 01:40] JNU-IFM commented on #2186
我是安装的最新的，直接git clone 下来的

[2022-07-01 02:02] haoyuying commented on #2272
看起来是模型加载出现问题，请问您模型加载在状态栏出现了成功的语句吗？

[2022-07-01 02:30] juncaipeng commented on #2270
感谢，我们就合入修复pr。

[2022-07-01 02:30] #2270 closed, assigned to haoyuying, juncaipeng

[2022-07-01 06:23] wuyefeilin commented on #2267
如果您追求速度的话，可以切换到ppliteseg或者bisenetv2等轻量级模型

[2022-07-01 06:39] Murphy-MML commented on #2267
你好 我的意思是相同的batchsize等设置下 这个模型在四张显卡的训练时长接近3倍在单张3090的表现。我想询问的是造成这种现象的原因是什么，这种情况是否正常。很感谢你的回答

[2022-07-02 02:59] monkeycc opened #2280 "[Feature Request]能否弄一个自动标注的py,自动转换为Labelme格式"
目前eiseg不支持自己训练模型

能否弄一个自动标注的py

训练好模型之后
可以自动标注
然后转换为 Labelme  json  格式

[2022-07-04 02:46] wuyefeilin commented on #2267
麻烦给一下单卡和多卡的训练日志哈，另外确保所有的卡没有额外的程序在运行

[2022-07-04 06:52] ouyang11111 commented on #1458
I have solved,the  code below :
import cv2
import json
import os
# path 为eiseg的json标注文件  save_file为保存待转labelme的标注文件  image_file 标注数据的对应图片文件
path = "./eiseg_annotation/"  # avoid os miss match  linux /  win \
save_file = "./labelme_annotation/"
# file = 'DJI_20211209173323_0012_Z150.json'
image_file = "images"
file_list = os.listdir(path)
# print(file_list)
for file in file_list:
    filename = os.

[2022-07-04 10:01] justld opened #2283 "[General Issue] edge计算的问题"
paddleseg==2.5.0
您好，loss_computation中的edges参数并未使用，请问是将edge的计算放到了损失函数里面吗。
https://github.com/PaddlePaddle/PaddleSeg/blob/35a4c4d229df2d4a5ca724ad442bf5e0f75b4823/paddleseg/core/train.py#L37

[2022-07-04 12:32] juncaipeng commented on #2275
导出预测模型后，可以参考seg的c++部署文档进行部署。

[2022-07-04 12:36] juncaipeng commented on #2283
该参数默认是没使用的。  如果你需要开启该参数，需要自己修改代码。

[2022-07-04 12:45] juncaipeng commented on #2186
需要改为： model = PPLiteSeg(num_classes=2, backbone=STDC2())

from paddleseg.models.backbones import STDC2 导入的STDC2是一个函数。

[2022-07-05 02:14] #2283 closed, assigned to juncaipeng

[2022-07-05 03:49] wuyefeilin commented on #2276
Thank you for your suggestion

[2022-07-05 07:22] Yasminbr opened #2292 "[General Issue] Stop training by loss value"
Hey ,
I would like o know if there is an option to stop training the model not by iteration numbers , but by seeing if whether the learning rate or the loss are static or the delta between some values is smaller than a number .

thank you :)

[2022-07-05 07:40] kkpssr commented on #1959
请问怎么解决的

[2022-07-05 08:14] echohjx commented on #1959
可能是文件名的问题，例如出现了两个后缀名的情况

[2022-07-05 09:35] Amanda-Barbara commented on #2272
@haoyuying 我看了下代码是不是不支持自己训练的模型啊，我试了官方提供的模型，是可以正常标注的，但是自己训练的模型只能加载成功，一旦点击左键开始标注的时候界面就闪崩了。

[2022-07-05 10:22] Ziyadmysterio opened #2295 "multi class label names"
I have been doing multi class segmentation.The prediction results are really good but i cant find a way to map the predicted result. The predicted result only shows the segmented part in a image using different colors. I would like to know what do all those colors map to . If there is any way i can get the classified results in a text format or in the image itself. I would also like to know if the

[2022-07-06 02:09] wuyefeilin commented on #2292
You can add some situation to the training circulation， and break out of the loop when the condition is met.

[2022-07-06 02:15] wuyefeilin commented on #2295
In PaddleSeg repo, it is not general to do this due to different segmentation tasks. If you need， you can fix the code to meet you requirement.
You can know the class from the  number of predicted  result.

[2022-07-06 02:46] lyf6 commented on #1838
i have also met this problem.
PaddleSeg版本：PaddleSeg release/2.5.0
PaddlePaddle版本：PaddlePaddle 2.3.0
操作系统信息：Windows
Python版本号：Python3.6
CUDA/cuDNN版本：CUDA10.2/cuDNN 7.6
![飞浆](https://user-images.githubusercontent.com/17488327/177457633-8ec93940-1634-4ab8-8b61-203de2c268b4.png)
here is my config file:
batch_size: 2
iters: 2000
loss:
  coef:
  - 1
  - 1
  - 1
  types:
  - min_kept: 260000
    type: Oh

[2022-07-06 02:53] lyf6 commented on #1838
I guess there is something wrong with the dataloader.

[2022-07-06 06:01] kkpssr opened #2297 "[General Issue] Training loss"
训练loss越来越高，eval准确率召回率越来越低，前10个epoch结果还好(eval结果miou 0.6)，再跑10个epoch miou直接归0

[2022-07-06 07:04] Yasminbr commented on #2292
that's sounds great, can you show me a code example?

[2022-07-06 11:08] Ziyadmysterio commented on #2295
![Screenshot from 2022-07-06 15-03-30](https://user-images.githubusercontent.com/54292052/177536605-0d45f215-7f31-45dc-85e1-e8ed227061d4.png)

The value from infer.inference() method from core.predict.py returns this . How I get the number of predicted results(labels)

[2022-07-06 11:40] shiyutang commented on #2297
训练结果不理想有很多原因导致，包含学习率过大，训练数据中出现脏数据等，建议给出数据集、模型、代码中修改内容等详细信息用于问题排查。

[2022-07-07 04:02] wuyefeilin commented on #2295
When you get a dataset, you know the relation between labels with class name. Correspondingly, when the prediction results are obtained, the class name can be known according to the predicted value, e.x. 0 is background generally.

[2022-07-07 05:45] Ziyadmysterio commented on #2295
*

[2022-07-07 07:57] chenxi00a1 opened #2298 "[自训练17类 语义分割，只有0像素（背景类） 有高的IOU值]"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (PaddleSeg release/2.3)
 2. PaddlePaddle version: (paddlepaddle-gpu    2.3.0)
 3. Operation system: (Linux)
 4. Python version: (Python3.6)
 5. CUDA/cuDNN version: (CUDA11.2)
 6. Additional context:
各位大佬好，最近在训练一个缺陷分割的 语义分割模型，自己标注了2000训练集，加上背景有17个类别，  现在简单跑了一下 pp_liteseg_optic_disc

[2022-07-07 07:57] DavidQiuChao opened #2299 "pp-lite-seg paddle_inference 运行报错"
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The shape Op's Input Variable `Input` contains uninitialized Tensor.
  [Hint: Expected t->IsInitialized() == true, but received t->IsInitialized():0 != true:1.] (at C:\home\workspace\Paddle_release\paddle\fluid\framework\operator.cc:2004)

[2022-07-07 08:03] chenxi00a1 commented on #2298
# 数据类型设置  目前也没看出paddle的这几种数据读取的差异。
train_dataset:
  type: Dataset
  dataset_root: ./data/data_ys
  train_path: ./data/data_ys/train.txt
  num_classes: 17

[2022-07-07 08:56] chenxi00a1 commented on #2299
你这个跑的是 自己的模型吗？ 跑的是自己的数据吗?

[2022-07-07 11:57] Ziyadmysterio commented on #2295
Yes i got it thank you so much

[2022-07-07 12:31] omarsemma opened #2301 "[General Issue] Problem when training the PaddleSeg Matting Model"
## Enviroment
 1. PaddleSeg version: **release/2.5**
 2. PaddlePaddle version: **PaddlePaddle 2.3.1 (gpu)**
 3. Operation system: **Linux**
 4. Python version: **Python 3.7**
 5. CUDA/cuDNN version:  **CUDA11.1/cuDNN 7.6**
 6. Using Google Colab
--------
## Issue
I tried to train the PaddleSeg Matting Model on a custom dataset.
The training went on normally until the 1000th iteration where I got t

[2022-07-07 13:33] zhubinsheng commented on #1622
你的fps是多少

[2022-07-07 13:33] zhubinsheng commented on #1869
有什么区别吗

[2022-07-08 01:39] gg22mm opened #2302 "[General Issue] 我发现只能在：ai Studio , 但我是在本地的怎么办？ 没有configs/modnet/modnet-mobilenetv2.yml 这个文件"
我的没有configs/modnet/modnet-mobilenetv2.yml 这个文件，我用Matting里面的报错：

(paddle2.3) E:\wll\phpsys\WWW\start\dzjk\txsb\api\resnet\paddle\PaddleSeg>python train.py --config ./Matting/configs/modnet/modnet-mobilenetv2.yml  --do_eval --use_vdl --save_interval 5000 --num_workers 0 --save_dir output
2022-07-08 09:30:51 [INFO]
------------Environment Information-------------
platform: Windows-10-10.0.17133-SP0
P

[2022-07-08 02:05] juncaipeng commented on #2299
请贴一下你的复现代码。

[2022-07-08 02:07] juncaipeng commented on #2298
估计是你的数据及其不均衡，可以先分析一下所有标注图片中不同类别的像素占比。

[2022-07-08 02:09] chenxi00a1 commented on #2298
您好，非常感谢您的分析。
确实是，数据集分布及其不均衡，但是背景像素 肯定会远远大于 缺陷像素，这有什么好一点的办法处理吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年7月8日(星期五) 上午10:07
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] [自训练17类 语义分割，只有0像素（背景类） 有高的IOU值] (Issue #2298)

估计是你的数据及其不均衡，可以先分析一下所有标注图片中不同类别的像素占比。
—
Reply to this email directly, view it on GitHub, or

[2022-07-08 02:14] juncaipeng commented on #2298
最好是处理数据，比如重采样。然后可以用diceloss会好点。

[2022-07-08 02:15] wuyefeilin commented on #2301
可以根据教程先跑一下流程试试，如果教程能跑通说明是数据的问题哈

[2022-07-08 02:16] chenxi00a1 commented on #2298
采样，这样的方式 对图片数据来说 是不是不友好？
这些 loss的选择，有官方文档 详细说明吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年7月8日(星期五) 上午10:14
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] [自训练17类 语义分割，只有0像素（背景类） 有高的IOU值] (Issue #2298)

最好是处理数据，比如重采样。然后可以用diceloss会好点。
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You ar

[2022-07-08 02:18] wuyefeilin commented on #2295
Thank you for you approval

[2022-07-08 02:18] #2295 closed, assigned to wuyefeilin

[2022-07-08 02:22] gg22mm commented on #2302
有办法了，去ai Studio中下载出来

[2022-07-08 02:22] #2302 closed, assigned to nobody

[2022-07-08 02:25] wuyefeilin commented on #1869
你是用了那个版本的训练的呢，2.5以后我们加了前景评估的功能，可以减弱边缘白边的情况。

[2022-07-08 02:28] zhenzi0322 commented on #1869
我试得好像没有什么区别。

[2022-07-08 02:33] chenxi00a1 commented on #2299
您是要哪一块的代码呢？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年7月8日(星期五) 上午10:05
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] pp-lite-seg paddle_inference 运行报错 (Issue #2299)

请贴一下你的复现代码。
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.Message ID: ***@*

[2022-07-08 02:50] huangwan-jiayi opened #2303 "[Question] Paddle version and TensorRT version"
请问一下，cuda11.2，paddlepaddle2.3.0gpu，支持python版本的tensorrt推理吗，如果支持，tensorrt与cuda与cudnn之间的版本应该怎么样搭配，我看官网上说只支持cuda10.1加tensorrt6或者cuda10.2加tensorrt7？

[2022-07-08 02:56] zhubinsheng commented on #1869
他这个是用cpu来跑的吗，每次要400ms左右。
我现在想实时检测视频，在高通888上跑，想达到二三十fps可行吗

[2022-07-08 09:26] omarsemma commented on #2301
Thanks for your reply,

I've just tried it on the PPM-100 dataset and I still get the same error on the 1000th iteration.

[2022-07-09 07:46] xiao12301 opened #2307 "maximum recursion depth exceeded while calling a Python object，训练自己数据集时出现的问题"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-11 02:02] juncaipeng commented on #2303
可以参考[链接](https://www.paddlepaddle.org.cn/inference/user_guides/download_lib.html#python)下载安装

![image](https://user-images.githubusercontent.com/52520497/178174792-8e3bbe1c-1fd9-48de-9b6a-4a7e90487d90.png)

[2022-07-11 02:09] zyz207 opened #2308 "请问matting是否支持蒸馏训练"
请问matting是否支持蒸馏训练

[2022-07-11 02:11] haoyuying commented on #2307
您好，目前您提供的报错信息不足以定位问题，自定义数据集格式可参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/data/custom/data_prepare_cn.md

[2022-07-11 03:06] wuyefeilin commented on #2308
目前不支持，您可以按照蒸馏的形式自行进行改造哈

[2022-07-11 06:42] huangwan-jiayi opened #2309 "[General Issue]paddleseg可否用cityscapes数据集的测试（test）集对训练后的模型进行评估，得到MIOU等指标，目前看只支持对验证集使用。"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-11 07:08] chenxi00a1 opened #2310 "[设置GPU为1号卡，不生效]"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version:
 2. PaddleSeg version: (PaddleSeg release/2.3)
 3. PaddlePaddle version: (paddlepaddle-gpu 2.3.0)
 4. Operation system: (Linux)
 5. Python version: (Python3.6)
 6. CUDA/cuDNN version: (CUDA11.2)
 6. Additional context: (Add any other context about the problem)
在Linux上 单卡训练模型的时候（ 有

[2022-07-11 07:59] W2YN commented on #2280
同求转Labelme json 格式

[2022-07-11 08:28] haoyuying commented on #2309
在cityscape数据集调用时将mode设置为test，具体代码可以参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/paddleseg/datasets/cityscapes.py#L51

[2022-07-11 08:33] haoyuying commented on #2310
请您给出具体使用的paddleseg模型及使用方式，根据您目前提供的报错信息，可以参考如下文档：单卡训练及多卡训练的命令差异可参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/train/train_cn.md

[2022-07-11 08:37] chenxi00a1 commented on #2310
启动训练前执行：export CUDA_VISIBLE_DEVICES=1 # 设置1号卡
启动训练代码：python train.py --config configs\segformer\segformer_b4_cityscapes_1024x1024_160k.yml --do_eval --use_vdl --save_interval 500 --save_dir output
接下来，做了两种代码内设置1号卡的尝试，均报0号卡显存溢出错误（设置1号卡的操作并没有成功）

[2022-07-11 12:39] Brain-Lee commented on #2163
@lurenzhouyi
请问是如何解决的，我再quick start和训练自己数据集时，都报该错误
__init__() missing 1 required positional argument: 'num_classes'

[2022-07-11 12:50] lurenzhouyi commented on #2163
quick start那部分我后来不试了，而我自己的数据集是可以训练的，照着教程正常使用就行没有问题。你这个错误我也不清楚，可能你的config没配置好？

[2022-07-11 15:05] huangwan-jiayi commented on #2309
您好，在config文件里将mode设置为test了，但是可能是因为数据集里test集没有标签，所以报这个错：
![image](https://user-images.githubusercontent.com/71338215/178295689-fd4d382c-9198-4873-8faf-96c3e1c69b84.png)
这样的话该如何解决呢？

[2022-07-12 01:16] Brain-Lee commented on #2163
感谢回复！确实是val dataset部分的num_classes没有配置好

[2022-07-12 02:49] wuyefeilin commented on #2301
What about develop branch. Does it have the same problem?

[2022-07-12 02:59] gg22mm opened #2312 "得到的几乎全是黑图,也去不了背景，怎么回事？"
<p>https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/Matting/README_CN.md<br />
  训练后 运行得到的模型   全是黑图 怎么回事<br />
  <br />
  python predict.py --config ./configs/modnet/modnet_mobilenetv2.yml --model_path ./output/best_model/model.pdparams --image_path ./data/PPM-100/val/fg/ --save_dir ./output/results <br />
  <br />
  <img src="http://ztg.diyyq.com/123/1657592863611.png" /><br />
  <img s

[2022-07-12 04:09] xiao12301 opened #2313 "[General Issue]调用API训练时，网络模型的backbone如何设置啊"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-12 04:10] xiao12301 commented on #2307
已经解决

[2022-07-12 05:35] gg22mm commented on #2310
确实是有这个问题，我也是，都是使用 gpu:0

[2022-07-12 06:43] haoyuying commented on #2309
必须要有test label的标签，不然要怎么计算iou呢

[2022-07-12 06:49] juncaipeng commented on #2310
建议先升级到paddleseg 2.5，然后看下是否还存在该问题。 该问题此前缺失没遇到过。

[2022-07-12 06:53] gg22mm commented on #2310
是不是windows的问题，我用的是widows  :    set export CUDA_VISIBLE_DEVICES=1

[2022-07-12 06:54] juncaipeng commented on #2313
可以在paddleseg/models/backbones目录下查看到定义了骨干网络。

比如下图，api调用得到backbone可以使用"bk = paddleseg.models.backbones.ResNet18_vd()"，然后将bk传入模型的输入参数即可。

![image](https://user-images.githubusercontent.com/52520497/178427162-6425d921-fc16-48c8-ac4a-ab069ed5dd06.png)

[2022-07-12 06:55] chenxi00a1 commented on #2310
我是linux

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月12日(星期二) 下午2:53
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;R

[2022-07-12 07:09] wuyefeilin commented on #2312
训练梯度爆炸了。 另外PPM-100是用于教程演示的哈，数据量很小很难训练得到一个收敛的模型的。

如果你只是预测的话可以利用我们提供的训练好的模型进行预测哈

[2022-07-12 07:10] xiegegege commented on #2310
我这里linux下试了这两行命令：
export CUDA_VISIBLE_DEVICES=1
python train.py --config configs/segformer/segformer_b4_cityscapes_1024x1024_160k.yml --do_eval --use_vdl --save_interval 500 --save_dir output
是在1号卡上跑的

[2022-07-12 07:11] chenxi00a1 commented on #2310
谢谢，我也测试这个命令 它就不是在1号卡跑 很奇怪

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月12日(星期二) 下午3:10
***@***.***&gt;;
***@***.******@***.*

[2022-07-12 07:17] gg22mm commented on #2310
我想可能是widonws 问题，因为我用的是win10出问题，linux我没试，懒得配置，以后再说  ,  你是windos or linux ?

[2022-07-12 07:17] chenxi00a1 commented on #2310
我一直用的linux！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月12日(星期二) 下午3:17
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nb

[2022-07-12 07:25] gg22mm commented on #2312
哦哦，这个演示能不能搞真实一点  ^_^!   万一是问题呢~~ ，

[2022-07-12 07:25] #2312 closed, assigned to wuyefeilin

[2022-07-12 11:11] tarunn2799 commented on #2040
Hey any update on releasing the training code for PP Matting?

[2022-07-12 14:10] huangwan-jiayi commented on #2309
我的意思就是，怎么才能获得cityscapes数据集的test集的label呢？

[2022-07-12 16:57] omarsemma commented on #2301
Got exactly the same error with the develop branch.
I also tried training without using  the VisualDL(v 2.3.0) argument and it worked.

[2022-07-13 01:59] chenxi00a1 commented on #2310
谢谢，好的 我做一下尝试。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月12日(星期二) 下午2:50
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2022-07-13 07:17] felixhjh opened #2316 "[Bug] PaddleSeg/deploy/cpp/run_seg_cpu.sh 编译报错"
1. CMakeLists.txt 未添加 onnxruntime以及paddle2onnx  lib
2. run_seg_cpu.sh 脚本内demo名写错 readme.txt中为bisenetv2_demo_model/

[2022-07-13 07:46] zeckireck opened #2317 "你好，我想问一下原supervisely数据集怎么转换成train.txt val.txt？[General Issue]"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-13 08:50] x12901 opened #2318 "[General Issue] PP-LiteSeg效果与deeplabv3p相差大,有没有好的改进方法"
我尝试在我的数据集上训练deeplabv3p取得很好的效果搭配LovaszSoftmaxLoss, mIoU可以达到0.69,为了缩短检测时间,我尝试使用PP-LiteSeg,但是效果并不理想,搭配LovaszSoftmaxLoss,mIoU最好的结果只有0.54,按照论文来看应该是有0.02的差距才对,PP-LiteSeg有没有更好的精度提升方法
pp_liteseg_stdc2_cityscapes_1024x512_scale1.0_160k.yml
[code]
deeplabv3p_resnet50_os8_cityscapes_1024x512_80k_rmiloss.yml
[code]
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：

    PaddleSeg版本：PaddleSeg release/2.5
    PaddlePa

[2022-07-14 03:13] Bobholamovic commented on #2318
您好！PP-LiteSeg是一个轻量的语义分割模型，其优势在于较好的FPS和mIoU的权衡，适用于需要实时处理或轻量化部署的任务。与之相对比，DeepLabV3+是一个较『重』的语义分割模型，具有更多的模型权重参数，一般来说FPS更低而mIoU更高。综上所述，二者的适用场景不同，用8M参数的PP-LiteSeg-T与接近27M参数的DeepLabV3+-r50直接对比精度，就像用潜艇和战列舰比较吨位，是不合适的。

建议您可以思考模型的实际应用场景，并以此确定应该使用具有什么样特点的模型。

[2022-07-14 03:29] Bobholamovic commented on #2317
您好！PaddleSeg的[`SUPERVISELY`](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/paddleseg/datasets/supervisely.py)已经封装了数据集下载的功能，而从[PaddleSeg官方链接](https://paddleseg.bj.bcebos.com/dataset/Supervisely_face.zip)下载的数据集是自带file list文件的，因此您使用此数据集进行训练时只需要对配置文件的相应部分进行修改即可。如果您需要手动生成file list文件，可以参考[此文档](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/data/marker/marker_cn.md#3%E5%88%8

[2022-07-14 06:02] #2318 closed, assigned to nobody

[2022-07-14 06:48] Bobholamovic commented on #2316
感谢您的反馈！该问题正在解决中，请耐心等待后续消息。

[2022-07-14 08:50] chenxi00a1 opened #2322 "[Bug] 自训练segformer算法模型，进行预测的时候加载不了模型参数"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (PaddleSeg release/2.3)
 2. PaddlePaddle version: (paddlepaddle-gpu 2.3.0.post112)
 3. Operation system: (Linux)
 4. Python version: (Python3.6.13)
 5. CUDA/cuDNN version: (CUDA11.2/cuDNN 8.1)
 6. Full codes:
train : python train.py --config configs\segformer\segformer_b4_cit

[2022-07-15 03:05] shuzizihemu commented on #2093
刚刚看了半天，在代码里找ppmatting，原来没开源啊 。。。

[2022-07-15 07:04] zeckireck commented on #2317
我在supervisely官网下的supervisely person的数据集，得到的标注是json格式，怎么转成png？paddle有提供这个脚本吗？得到的目录结构如下：
![image](https://user-images.githubusercontent.com/81000191/179170135-db954db7-65a0-415e-9ae4-f0557bf1718e.png)

[2022-07-15 09:07] zhenzi0322 opened #2324 "[General Issue] GPU的预测用完后不是自动释放的？"
我在使用`Matting`进行`gpu`进行预测时发现`gpu`的显存在没有预测时没有降下来。这个是为什么呢？

[2022-07-15 14:27] shiyutang commented on #2322
考虑output中模型参数是否不对呢？日志提醒模型参数没有加载上

[2022-07-15 14:29] shiyutang commented on #2232
We already have paddle version outside of paddleseg：https://github.com/Dylan-get/APCNet

[2022-07-18 01:53] wuyefeilin commented on #2324
麻烦描述一下具体的过程哈

[2022-07-18 02:30] wuyefeilin commented on #2040
It will be release in 2.6 version.

[2022-07-18 02:38] Gwencong commented on #1794
我用paddleseg训练时遇到到了同样的问题，当我使用configs/deeplabv3p/deeplabv3p_resnet50_os8_cityscapes_1024x512_80k_rmiloss.yml训练时loss也是负的，但是我用configs/deeplabv3p/deeplabv3p_resnet50_os8_cityscapes_1024x512_80k.yml训练loss就正常

[2022-07-18 05:23] DrRyanHuang opened #2325 "Accuracy drops after exporting as static model"
My env：
[code]

Firstly, I trained the model `pp_liteseg`, then export the static model with the script `export.py`. And I test the accuracy and speed with the `paddle_infer`

Here is my code:
[code]

However, the `mIoU` droped.

![image](https://user-images.githubusercontent.com/44900829/179449162-bdec4761-652a-45c1-8346-9894dd2a3d7e.png)

The first two lines are the Paddle dynamic model directly

[2022-07-18 06:46] monkeycc opened #2327 "[General Issue]语义分割，预测如何进行裁剪图片"
语义分割返回 label_map score_map，

如何进行裁剪

只需要把预测出来的，裁剪出来，保存为新的图像

[2022-07-18 06:54] juncaipeng commented on #2325
The accuracy of paddle dynamic model and static model should be the same.
Based on your information, I guess there are difference between testing these two models, which leads to accuracy drop.
Please provide the commands of testing paddle dynamic model and exporting the static model.

[2022-07-18 06:56] juncaipeng commented on #2310
windows上是：set CUDA_VISIBLE_DEVICES=1

[2022-07-18 06:56] juncaipeng commented on #2298
这部分没有，可以参考网上文档看看。

[2022-07-18 06:56] #2298 closed, assigned to juncaipeng

[2022-07-18 10:01] haoyuying commented on #2327
没看懂您的意思，是要把背景变成透明的吗

[2022-07-18 10:12] DrRyanHuang commented on #2325
Thank you for your help!!
@juncaipeng

This is my export code:
[code]

In order to keep both the same, I use the dataset of PaddleSeg in  the static model test:
[code]

In the `PaddleSeg/val.py`, I add:
[code]

Then run:
[code]

`config.yml`:
[code]

`txtFileDataset`:
[code]

[2022-07-18 10:39] monkeycc commented on #2327
![123](https://user-images.githubusercontent.com/6490927/179494771-f065cbcc-7f30-4166-8e3b-a9fdf555f3c7.png)

识别出来的物体
要裁剪
高度宽度 根据物体大小

然后背景半透明 或者 白色

@haoyuying

[2022-07-19 02:04] haoyuying commented on #2327
背景为白色就把mask和原图相乘取出前景背景都置为255即可，计算高度从mask计算x,y的最大值和最小值，然后把图抠出来。paddleseg目前没有提供该脚本，需要您自己去写。

[2022-07-19 04:09] Suzi1213 commented on #2177
您好，请问您这个二分类问题解决了嘛，目前我也是做的二分类，但是我不知道怎么去预测，我的预测结果是一张全色图。

[2022-07-19 04:22] Suzi1213 commented on #2071
您好，我目前的二分类的图像分割跑不起来，如果可以的话，可不可以请教点问题。

[2022-07-19 07:44] juncaipeng commented on #2071
可以参考seg文档学习一下，然后也可以在issue中详细写明你的问题。

[2022-07-19 10:19] lanjingks opened #2332 "[General Issue] 查看每个像素的置信度"
https://github.com/PaddlePaddle/PaddleSeg/blob/d7d909cabb98fabae9e3e49b579bfb0bf8d574a3/paddleseg/core/infer.py#L243
这里怎么看每个像素的置信度呢？

[2022-07-19 12:04] juncaipeng commented on #2332
模型的输出是logit，纬度是n*c*h*w，c是分割类别数。  具体取出来特定通道数的数值，就是对应类别的置信度。

通常是使用argmax取出最大置信度的通道数，得到该像素的预测类别。

[2022-07-20 06:07] MaybeShewill-CV opened #2336 "PP-HumanMatting 模型导出onnx失败"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.5
 2. PaddlePaddle版本：PaddlePaddle 2.2.1
 3. 操作系统信息：Ubuntu 16.04 LTS
 4. Python版本号：3.7.11
 5. CUDA/cuDNN版本：CUDA10.2 / CuDNN 7.6.5
 6. 其他内容:

使用paddle2onnx转换PP-HumanMatting模型失败。PP-HumanMatting模型下载自 [https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/Matting/README_CN.md](https://github.com/PaddlePaddle/PaddleSeg/

[2022-07-20 06:22] wuyefeilin commented on #2336
请参考issue：https://github.com/PaddlePaddle/PaddleSeg/issues/2055

[2022-07-20 06:34] MaybeShewill-CV commented on #2336
@wuyefeilin 感谢 已解决:)

[2022-07-20 06:34] #2336 closed, assigned to nobody

[2022-07-20 08:10] Bobholamovic commented on #2316
PR已合入，请您拉取最新版本的develop分支并再次尝试。如果问题解决，麻烦关闭issue。

[2022-07-20 08:15] Tangyuny opened #2338 "[General Issue]使用Paddle Inference静态库推理时遇到错误"
在使用文档中的示例进行c++推理部署时，当默认使用动态链接库时程序可以正常运行，但将静态库开关 -DWITH_STATIC_LIB=ON 打开后会出现如下报错：

![1](https://user-images.githubusercontent.com/37798338/179928386-f3d6feab-85f7-4f89-988c-8f20d9e9e76a.png)
![2](https://user-images.githubusercontent.com/37798338/179928499-0f1fa790-d20d-4ecf-aec5-5fec5f572949.png)
请问是什么原因

 1. PaddleSeg版本：Release / v2.5.0
 2. PaddlePaddle版本： 2.3.1-gpu
 3. 操作系统信息：Linux 16.04.1-Ubunt

[2022-07-20 10:00] xiao12301 opened #2340 "[General Issue]语义分割时，专用gpu满了，不能使用共享gpu吗，我笔记本上只有共享的，训练的时候能用，但换了台式机，专用的满了，共享的都没利用"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-21 01:12] monkeycc opened #2344 "[General Issue] PaddleSeg是否合适大分辨率的PCB主板检测"
![1111](https://user-images.githubusercontent.com/6490927/180108314-5772212e-1f4a-45bf-9d5e-3951be7b9d9e.jpg)

9000*9000
PaddleSeg是否合适大分辨率的PCB主板检测

如何检测 好的 和 坏的

实例分割还是语义分割 ？

比如检测漏的
怎么标识 在哪里漏？

标注要怎么标注
是否要先分割裁剪

原图9000*9000
怎么进行预测
强制裁剪 会导致部分细节 裁没了

[2022-07-21 01:12] #2327 closed, assigned to haoyuying

[2022-07-21 02:17] #2316 closed, assigned to Bobholamovic

[2022-07-21 03:46] Bobholamovic commented on #2338
请将[此处](https://github.com/PaddlePaddle/PaddleSeg/blob/5ab49dea0f20a9cfd681f766ee1bf4b77af0a74a/deploy/cpp/run_seg_gpu.sh#L26)的`-j`选项去除，然后重新运行`run_seg_gpu.sh`脚本，并截图完整的报错信息（即出现`ERROR`字样的部分）。

[2022-07-21 03:48] Bobholamovic commented on #2340
若您的设备上存在超过1块GPU，请使用`CUDA_VISIBLE_DEVICES`环境变量指定您需要使用的GPU。

[2022-07-21 04:01] Bobholamovic commented on #2317
目前PaddleSeg没有提供相应的脚本，您可以在[这个链接](https://paddleseg.bj.bcebos.com/dataset/Supervisely_face.zip)下载带有file list文件的数据集。

[2022-07-21 06:31] juncaipeng commented on #2344
请问具体是什么任务，缺陷分割吗？
大尺寸图像，建议划分为重叠的小图进行训练和预测。应该是使用语义分割。标注为背景和瑕疵两类即可，可以参考PaddleSeg标注教程。

[2022-07-21 08:21] monkeycc commented on #2344
重叠裁剪之后
预测

最后如何合并图像
在原图上 显示缺陷的位置
@juncaipeng

[2022-07-21 08:50] gg22mm opened #2347 "[Bug] 不能训练自己的数据 - 提示 所有输入数组必须具有相同的形状"
提示：

 File "C:\ProgramData\Anaconda3\envs\paddleGpu\lib\site-packages\numpy\core\shape_base.py", line 426, in stack
    raise ValueError('all input arrays must have the same shape')
ValueError: all input arrays must have the same shape

[用我截取的一点数据来测试  -  点击下载测试数据集](http://ztg.diyyq.com/seg.rar)

[2022-07-21 09:39] gg22mm commented on #2347
在群里大老“乘舟游人” 给解决了。非常感谢~

备注一下：
编辑： \Matting\configs\modnet\modnet-mobilenetv2.yml

查： - type: RandomHorizontalFlip

在下面添加即可：
    - type: Padding
      target_size: [512, 512]

[2022-07-21 09:39] #2347 closed, assigned to nobody

[2022-07-21 09:41] Tangyuny commented on #2338
@Bobholamovic 感谢你的回复。这个问题的原因后来找到了，是paddle inference里有几个库在cmake中没有链接，加上就可以运行了。

另外还发现了一个问题。下图是官方给出的建议版本：
![5](https://user-images.githubusercontent.com/37798338/180178841-8355f6a5-5e4c-449b-a156-fb70f40f0df3.png)

采用cuda-10.1这套配置时，整体运算时间应该是正常的：
![2](https://user-images.githubusercontent.com/37798338/180179174-6d9222a9-ddda-4043-b362-74aed5788400.png)

采用cuda-10.2时，整体运算时间变得不正常：
![4](https://user-ima

[2022-07-21 10:21] hackkhai opened #2348 "[General Issue][Matting] Performance of MODNet is poor when trained on 1024x1024"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: 2.6
 2. PaddlePaddle version:2.3
 3. Operation system: Linux
 4. Python version:Python3.7
 5. CUDA/cuDNN version: CUDA11.2 cuDNN 8
 6. Additional context:
**Experiments:**
I tried all combinations givent below:
1) PPMatting, HumanMatting, MODNet
2) Resolution: 512,1024
3) Resizing

[2022-07-21 11:34] Bobholamovic commented on #2338
1. 建议您将predictor时间不一致的问题反馈到[Paddle 官方仓库](https://github.com/PaddlePaddle/Paddle)，因为这个问题应该与PaddleInference的具体实现有关。
2. 根据您在Paddle官方仓库所提issue的具体解决情况，我们会考虑更新cuDNN版本。

感谢您的建议！

[2022-07-21 11:47] wuyefeilin commented on #2348
1. In 1024 resolution， ppmatting is better than modnet.
3. Maybe you need a dataset firstly.
4. Maybe you can train the model by combine the studio quality images and real life images.
5. When you training, you can try more data augmentation according different scenarios

[2022-07-21 12:06] hackkhai commented on #2348
Thanks for the reply, I do have a dataset of 80k anotated images.How do i fix the multiple class object matting?

[2022-07-21 20:19] markisus opened #2349 "[Feature Request] Show how to set Eiseg language to English in documentation"
It was not clear how to set the Eiseg language to English. You can do it from the program with some guessing and then restarting the program, or you can edit the eiseg/config/setting.txt to have "language=English"

Thanks!

[2022-07-22 00:39] fanweiya opened #2350 "[Bug]ocrnet train fail"
[code]

[2022-07-22 01:42] Tangyuny commented on #2338
@Bobholamovic 好的谢谢

[2022-07-22 01:49] gg22mm opened #2351 "[Bug] 本地gpu训练时是loss=nan而用cpu就正常"
本地gpu训练时 loss=nan ，经过我之前用PaddleClas  也有这个问题，现在可以肯定并推断"飞浆这个框架"不兼容我的GPU，cpu就正常
--------------
我的GPU是 ：NVIDIA Tesla K80 ，
驱动是NVIDIA-SMI 472.98
Driver Version: 472.98
CUDA Version: 11.4
--------------------
我的系统 windows10:
安装环境：
conda install paddlepaddle-gpu==2.3.1 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge
(paddleGpu) D:\dzkj\PaddleClas>pip install

[2022-07-22 01:53] wuyefeilin commented on #2348
There's too much data to know the distribution difficultly. We need to experiment before giving you suggestion. If you don not mind, could you share your dataset with us? So I can have some experiment with it.

My email is chenguowei01@baidu.com.

[2022-07-22 01:57] gg22mm commented on #1522
GPU  还有这个情况 loss=nan  ，cpu就正常  用的是 ：PaddleSeg: 2.6.0

[2022-07-22 03:20] #2338 closed, assigned to nobody

[2022-07-22 03:23] 15651196171 opened #2352 "直接用预测模型，效果是不错，但我只想识别视频或图片里的人，其他的都不识别，这个应该在什么地方修改"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-22 03:37] xiao12301 opened #2353 "这样加载预训练模型对吗？这样加载训练的时候显示没有下载成功。model = DeepLabV3P(num_classes=num_class, backbone=ResNet50_vd(), align_corners=False, pretrained='https://bj.bcebos.com/paddleseg/dygraph/resnet50_vd_ssld_v2.tar.gz')"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-22 04:27] BlackDriver opened #2354 "[Bug]L1 Loss 未使用的ignore_index参数"
1. PaddleSeg版本：PaddleSeg release/2.5
 2. PaddlePaddle版本：PaddlePaddle 2.2.0
 3. 操作系统信息：Linux
 4. Python版本号：Python3.7
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）
 6. 完整的代码：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/paddleseg/models/losses/l1_loss.py

L1 loss 直接继承了 nn.L1Loss，没有任何改动
引入了ignore_index参数，但没有用上，因为nn.L1Loss里根本没这个参数，麻烦修复
ps：要么就干脆删了，还是有方法用得上这个参数的，避免误导，让人以为有了，一看loss大几十  :x

[2022-07-22 06:22] 15651196171 opened #2356 "如果我想单独识别人，可以在已有的模型上进行修改吗"
Welcome to propose a new feature! To help us understand your great feature, please provide following information:
1. A clear and concise description of the proposed feature.
2. Tell us why the feature is useful.
3. If possible, please show related codes .

---

欢迎提出一个新功能需求，为了帮助我们更好理解您的需求，辛苦提供下面信息：
1. 清晰简洁的语言提出新功能需求。
2. 请描述这个需求的必要性。
3. 如果可以，辛苦您提供相关代码实现效果。

[2022-07-22 06:55] juncaipeng commented on #2344
paddleseg的预测支持了重叠裁剪预测，重叠区域会取均值。

[2022-07-22 07:58] monkeycc commented on #2344
原图 9000*9000
训练图尺寸是640*640

导出模型
input_shape
这个不知道 怎么设置

对应的配置  是否是
python predict.py
--is_slide True
--stride  640 640
--crop_size  512  512

但是
--stride  640 640
--crop_size  512 512
不清楚 是不是这样改
不知道是否合理

Python 部署
python deploy/python/infer.py
没有is_slide  stride   crop_size
怎么办

预测9000*9000
要好几秒
应该用什么方法 才能控制在500毫秒之内

@juncaipeng

[2022-07-22 08:03] gg22mm commented on #2351
感谢管理员GT ，  找到问题了，  CUDA驱动降到10.2 就正常了。 11.4  11.2  版本有点脾气，小心了 。 终于从坑里面爬出来了，开心  ~~

[2022-07-22 08:03] #2351 closed, assigned to nobody

[2022-07-22 10:26] Mayur28 opened #2359 "PP-LiteSeg model to .tflite"
Hi,

I am trying to convert my trained pp-liteseg model to tflite format, however, I am encountering the following issue.
To do this, I'm having to convert the pp-liteseg model from pdparams to onnx, and onnx to tflite.
I have tested my onnx model and it works fine - however, when I try to convert the onnx model to tflite as follows:

[code]
When I try to perform inference with the tflite model, I

[2022-07-22 14:33] shiyutang commented on #2350
it seems that the error is relate to you local env: "relocation error: /usr/local/cuda-11.6/targets/x86_64-linux/lib/libcublas.so: symbol cublasLtLegacyGemmSSS version libcublasLt.so.11 not defined in file libcublasLt.so.11 with link time reference
LAUNCH INFO 2022-07-22 08:37:06,393 Exit code 127"

[2022-07-22 14:35] shiyutang commented on #2352
We have [pphumanseg](https://github.com/shiyutang/PaddleSeg/tree/release/2.5/contrib/PP-HumanSeg) that only segment people in the image/video.

[2022-07-22 14:37] shiyutang commented on #2353
The code seems alright, please provide us with the error. It could be the network that cause the download failure.

[2022-07-22 14:42] shiyutang commented on #2354
We have fixed it the mentioned PR.

[2022-07-22 14:42] shiyutang commented on #2356
We have [pphumanseg](https://github.com/shiyutang/PaddleSeg/tree/release/2.5/contrib/PP-HumanSeg) that only segment humans in the image/video,

[2022-07-22 16:35] cspearl opened #2362 "[General Issue] Training Custom Data - Labels not getting read properly"
2022-07-24 17:44:52 [INFO] Start evaluating (total_samples: 150, total_iters: 150)...
Traceback (most recent call last):
File "train.py", line 230, in
main(args)
File "train.py", line 225, in main
to_static_training=cfg.to_static_training)
File "/content/drive/MyDrive/amazon/PaddleSeg/paddleseg/core/train.py", line 289, in train
**test_config)
File "/content/drive/MyDrive/amazon/PaddleSeg/paddlese

[2022-07-23 01:47] xiao12301 commented on #2353
Loading pretrained model from https://paddleseg.bj.bcebos.com/dygraph/backbone/mobilenetv3_large_x1_0_ssld.tar.gz
Connecting to https://paddleseg.bj.bcebos.com/dygraph/backbone/mobilenetv3_large_x1_0_ssld.tar.gz
Downloading mobilenetv3_large_x1_0_ssld.tar.gz
[==================================================] 100.00%
Uncompress mobilenetv3_large_x1_0_ssld.tar.gz
[=================================

[2022-07-23 02:03] Suzi1213 commented on #2071
我最终预测的结果是一张纯色的图，并没有把我需要的东西分割出来（二分类），是怎么回事？

[2022-07-23 02:39] 15651196171 commented on #2352
pphumanseg
但是这个效果很差，识别的不是很好

[2022-07-23 05:48] 15651196171 opened #2363 "为什么我用人像分割，分割出来的效果会很差呐，是和电脑的算力有关系吗，还是什么其他原因，有时候分割人像的时候会带出来一些背景，感觉效果不是很好，谁遇到过吗[General Issue]"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-23 06:48] monkeycc opened #2364 "[General Issue] ValueError: (InvalidArgument) fill_constant(): argument (position 6) must be float, but got str (at ..\paddle\fluid\pybind\op_function_common.cc:189)"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（paddleseg              2.5.0）
 2. PaddlePaddle版本：（paddlepaddle-gpu       2.3.0.post112）
 3. 操作系统信息：（Windows）
 4. Python版本号：（Python3.7）
 5. CUDA/cuDNN版本：（cuda11.2  cudnn8.2）
 6. 其他内容: （增加其他与问题相关的内容）

[code]

[code]

[2022-07-23 06:52] monkeycc commented on #2364
--model_path D:/PaddleSeg/0Pdparams/aaa/model.pdiparams
这个是导出模型的模型

应该改为 训练模型

[2022-07-23 06:52] #2364 closed, assigned to nobody

[2022-07-23 06:58] monkeycc opened #2365 "[General Issue]deploy/python/infer.py \transforms.py", line 63, in __call__ cv2.error: OpenCV(4.6.0) :-1: error: (-5:Bad argument) in function 'cvtColor'"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（paddleseg              2.5.0）
 2. PaddlePaddle版本：（paddlepaddle-gpu       2.3.0.post112）
 3. 操作系统信息：（Windows）
 4. Python版本号：（Python3.7）
 5. CUDA/cuDNN版本：（cuda11.2  cudnn8.2）
 6. 其他内容: （增加其他与问题相关的内容）

[code]

[2022-07-23 07:13] 15651196171 opened #2366 "请问用python的infer预测人的轮廓，图形背景的颜色和人物的颜色怎么改"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-23 09:14] Suzi1213 commented on #171
请问您说的这个改成1是怎么改？我也遇到了这个问题。

[2022-07-23 12:01] HOLLIZHAO commented on #171
[code]

[2022-07-23 15:58] cspearl commented on #2362
I have tried to train on my dataset using the instructions given, but the following error pops up out of nowhere after 500 iterations
------------------------------------------------------------------------------------------------------
2022-07-23 15:50:18 [INFO]	[TRAIN] epoch: 2, iter: 500/1000, loss: 0.4193, lr: 0.000537, batch_cost: 0.2036, reader_cost: 0.01543, ips: 4.9111 samples/sec | ETA 00

[2022-07-25 02:02] juncaipeng commented on #2363
你是使用PP-HumanSeg还是PP-Matting？

[2022-07-25 02:06] juncaipeng commented on #2359
Hi, the problem is about tf-lite, maybe you should open an issue in tf-lite repo.

[2022-07-25 02:23] monkeycc opened #2367 "[General Issue] WIN 的环境 , C# 有没教程的"
部署
WIN 的环境 ,
nvidia显卡

C# 有没教程的

我看官方教程 基本上都是Linux环境

[2022-07-25 02:25] juncaipeng commented on #2352
你的视频是怎样的，可以发个测试demo看下。

最近我们更新的一版，具体见：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/contrib/PP-HumanSeg

[2022-07-25 02:39] haoyuying commented on #2349
![image](https://user-images.githubusercontent.com/35907364/180682173-d80ca697-3552-4bc1-86ed-26e515c2b34c.png)
You may set language  as this picture and then restart the eiseg, the language will be set according to your demand.

[2022-07-25 02:40] haoyuying commented on #2367
请具体描述您的使用场景，使用模型等，方便我们定位问题。

[2022-07-25 02:44] haoyuying commented on #2366
colormap是由 https://github.com/PaddlePaddle/PaddleSeg/blob/12b008034854b95c70621f36bb67d680edc5d106/paddleseg/utils/visualize.py#L77
函数生成的，如果想修改，可以按照colormap的格式自己修改颜色输入。

[2022-07-25 02:46] haoyuying commented on #2365
请检查输入图片的是否正确输入，图片路径等是否错误或者有非法图片等，报错信息为没有读到合法的数据，图片没有传入。

[2022-07-25 03:16] LeeLear opened #2368 "paddleseg 做印章去除"
Welcome to propose a new feature! To help us understand your great feature, please provide following information:
1. A clear and concise description of the proposed feature.
2. Tell us why the feature is useful.
3. If possible, please show related codes .

---

欢迎提出一个新功能需求，为了帮助我们更好理解您的需求，辛苦提供下面信息：
1. 清晰简洁的语言提出新功能需求。
2. 请描述这个需求的必要性。
3. 如果可以，辛苦您提供相关代码实现效果。

[2022-07-25 03:22] monkeycc commented on #2367
C# 部署 预测
win环境 nvidia 3060 显卡 GPU来预测
cuda 11.0

有没教程的
还是要用PaddleX的
https://github.com/PaddlePaddle/PaddleX/blob/develop/deploy/cpp/docs/models/paddleseg.md
PaddleSeg模型部署

但是我没看到有 滑窗 的api
C# 需要滑窗预测 怎么办

[2022-07-25 03:42] hackkhai commented on #2348
Hey, sent you a mail, please check

[2022-07-25 06:22] #2362 closed, assigned to nobody

[2022-07-25 06:29] fanweiya opened #2369 "PP-LiteSeg model not suport export onnx Dynamic dimension"
[code]

[2022-07-25 08:15] haoyuying commented on #2368
您好，请提供您具体的业务场景，需求等，方便我们评估。

[2022-07-25 08:18] juncaipeng commented on #2367
目前没有提供c#部署的教程，你可以使用c++部署的代码，导出为dll，c#调用dll执行。

[2022-07-25 08:42] juncaipeng commented on #2369
PP-LiteSeg does not support exporting to ONNX with dynamic dimension for  adaptive average pooling op.
To solve the problem , the first method is setting fix dimension for PP-LiteSeg, the second method is setting cm_bin_sizes as 1 as follows, i.e. only use global adaptive average pooling.

![image](https://user-images.githubusercontent.com/52520497/180735064-0a8f08a4-31f6-426e-8d94-22f230c3a8c3.pn

[2022-07-25 09:14] dragonwarrior95 opened #2370 "[Bug]paddle inference接入pp-matting很容易崩溃"
1. PaddleSeg版本：PaddleSeg release/2.6
 2. PaddlePaddle版本：paddle_inference 2.3.0 (avx_mkl_cuda11.2_cudnn8.2_avx_mkl-trt8.0.1.6)
 3. 操作系统信息：Windows 10
 4. Python版本号：
 5. CUDA/cuDNN版本：
 6. 完整的代码：
                 ...
                 auto input_names = m_pPredictor->GetInputNames();
		auto input_t = m_pPredictor->GetInputHandle(input_names[0]);
		std::vector<int> input_shape = { 1, chs, rows, cols };

[2022-07-25 09:55] wuyefeilin commented on #2370
看样子是内存不足哈

[2022-07-25 10:04] 15651196171 commented on #2366
你好，这个可以更换背景的颜色我知道，但是目标人物的颜色该怎么修改呐，我有时候修改上面的函数get_pseudo_color_map，这里面我可以把识别到的目标256这个值修改成0变成黑色，但是只能改成黑色，怎么改成白色呐

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***

[2022-07-26 01:12] dragonwarrior95 commented on #2370
就一张不超过1000*1000的图就内存不足？那这个内存吃的有点凶啊

[2022-07-26 01:18] dragonwarrior95 commented on #2100
直接下载yaml-cpp源码引入可解，或者去vcpkg下载现成的库去引入估计也行

[2022-07-26 02:20] xiao12301 opened #2371 "恢复模型训练时出现AssertionError: Optimizer set error, conv2d_0.w_0_velocity_0 should in state dict 这个问题，在pycharm里训练时不会出现，在AIstuio里训练出现了这个问题"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-07-26 02:55] juncaipeng commented on #2371
查询了一下相关issue，没提到解决方案，要不你在AIStudio中重新从头开始训练？

[2022-07-26 06:30] juncaipeng commented on #2325
![image](https://user-images.githubusercontent.com/52520497/180938585-b53c86cd-919b-4094-b614-6f409aa552b5.png)

You should add interesect_area, pred_area and label_area in for loop, and then calculate the mIoU in the last.

[2022-07-26 06:31] #2100 closed, assigned to juncaipeng

[2022-07-26 06:32] juncaipeng commented on #2071
具体查看训练log进行分析。。还有就是显示出来的结果，可能人眼无法查看。。 建议参考seg文档系统熟悉。

[2022-07-26 06:35] juncaipeng commented on #2344
predict.py输入参数，crop_size应该设置为640， stride应该设置为小于等于640。
infer.py不支持滑动窗口预测，只支持原图大小输入，建议自己进行裁剪和拼接。

[2022-07-26 06:50] alfeak commented on #1258
您好，在函数的80行和81行可以看到，图片的读取使用的是标注json中的目录，如果你移动了json的位置，可能会导致读取不到图片，导致你出现的img size为空的现象，
这是我的修改
img_file = osp.join(args.input_dir, base + '.bmp')
img = np.asarray(PIL.Image.open(img_file))
我是用的bmp 图片 希望你的问题可以解决

[2022-07-26 08:48] DrRyanHuang commented on #2325
@juncaipeng
Thank you for your help!!!!

------------
`mIoU` is not the mean of each $\frac{area\ intersect}{area\ union}$, but $$\frac{total\ area\ intersect}{total\ area\ union}$$.

[2022-07-26 08:48] #2325 closed, assigned to juncaipeng

[2022-07-26 09:46] monkeycc commented on #2344
python 部署
是不是可以直接用
predict.py
来预测

比 infer.py
速度上  是否一样

predict.py 滑动窗口预测
要1-2秒
有没办法缩短这个时间 ？？

@juncaipeng

[2022-07-26 13:42] Changgf commented on #1099
微信群的二维码过期了哟

[2022-07-27 02:06] chen-del opened #2373 "mobileseg分割网络 是否支持voc_aug数据集"
因为我看到大部分都是使用的cityscapes数据集，如果使用voc数据集我将如何修改配置？

[2022-07-27 02:11] wuyefeilin commented on #2373
我们也有对voc_aug进行训练，可以参考相关模型的配置，如deeplabv3p下关于voc_aug的配置：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/configs/deeplabv3p

[2022-07-27 02:13] chen-del opened #2374 "pspnet主干bonkbon修改，需要改源码嘛"
我想将pspnet的主干bankbone改为主干为mobnetv3网络，那么这样我是否需要修改源码，如果不需要的话，那么需要更改那个配置，谢谢！期待您的回复？

[2022-07-27 02:16] chen-del commented on #2373
好的，谢谢

[2022-07-27 02:48] chen-del opened #2375 "如何为PSPNet修改bankbone"
我想将pspnet的主干bankbone改为主干为mobnetv3网络，那么这样我是否需要修改源码，如果不需要的话，那么需要更改那个配置，谢谢！期待您的回复？

[2022-07-27 02:50] #2374 closed, assigned to nobody

[2022-07-27 03:35] chen-del opened #2376 "[Bug] ESPNet网络训练TypeError"
espnet网络训练过程中出现了 TypeError: 'tuple' object does not support item assignment。

日志如下：
022-07-27 11:27:25 [INFO]
------------Environment Information-------------
platform: Linux-5.4.0-121-generic-x86_64-with-debian-buster-sid
Python: 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.4.r11.4/compiler.30188945_0
cudnn: 8.2
GPUs used

[2022-07-27 12:09] juncaipeng commented on #2344
使用预测模型+infer.py(python api)部署会更快。
最好使用预测模型+ cpp api部署，速度最快。

[2022-07-27 13:45] xiao12301 opened #2379 "UNet训练时的显存占用问题"
用unt网络训练的时候这么占用显存吗？unet网络不是最容易训练的吗，我用AIstuio的40GB的显存才能训练

Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN ver

[2022-07-28 01:40] fanweiya commented on #2369
请问一下，cm_bin_sizes as 1s这个是仅在导出时设置，还是训练前设置，设置后会不会影响模型的性能？

[2022-07-28 03:46] juncaipeng commented on #2369
训练前设置，需要重新训练。

[2022-07-28 03:47] juncaipeng commented on #2299
预测代码。

[2022-07-28 06:21] Bobholamovic commented on #2379
您好！训练时的显存占用与输入图像的大小、batch size、backbone的大小等都有关系，请您给出具体的配置，以便我们帮助您排查问题。

[2022-07-28 06:27] Bobholamovic commented on #2375
您好，更换backbone不需要修改源码，请修改`backbone`配置项：
https://github.com/PaddlePaddle/PaddleSeg/blob/12b008034854b95c70621f36bb67d680edc5d106/configs/pspnet/pspnet_resnet50_os8_cityscapes_1024x512_80k.yml#L19

具体修改方式可参考[此配置文件](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/configs/lraspp/lraspp_mobilenetv3_cityscapes_1024x512_80k_os32.yml)。

[2022-07-28 06:37] Bobholamovic commented on #2376
您好！这是PaddlePaddle2.2已知bug，请升级到PaddlePaddle2.3版本或将报错位置的`pred = F.interpolate(pred, (h, w), mode=mode)`改写为`pred = F.interpolate(pred, [h, w], mode=mode)`后再次尝试。

[2022-07-28 06:48] fanweiya commented on #2350
我的环境是
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2022 NVIDIA Corporation
Built on Tue_Mar__8_18:18:20_PST_2022
Cuda compilation tools, release 11.6, V11.6.124
Build cuda_11.6.r11.6/compiler.31057947_0

cuda_11.6.2_510.47.03_linux.run

cudnn-linux-x86_64-8.4.1.50_cuda11.6-archive

NVIDIA-Linux-x86_64-510.47.03

paddle 2.3.1 cuda11.6

其他的模型都可以训练，这个报错

[2022-07-28 09:37] #2373 closed, assigned to wuyefeilin

[2022-07-28 09:39] #2258 closed, assigned to juncaipeng

[2022-07-28 09:39] #2174 closed, assigned to juncaipeng

[2022-07-28 09:40] #2141 closed, assigned to juncaipeng

[2022-07-28 09:41] #2095 closed, assigned to juncaipeng

[2022-07-28 09:41] #2020 closed, assigned to juncaipeng

[2022-07-28 09:41] #2021 closed, assigned to juncaipeng

[2022-07-28 09:41] #2026 closed, assigned to wuyefeilin

[2022-07-28 09:42] #2084 closed, assigned to juncaipeng

[2022-07-28 09:44] #2137 closed, assigned to juncaipeng

[2022-07-28 09:45] #2126 closed, assigned to juncaipeng

[2022-07-28 09:47] #2114 closed, assigned to juncaipeng

[2022-07-28 09:47] #2188 closed, assigned to juncaipeng

[2022-07-28 09:47] #2214 closed, assigned to juncaipeng

[2022-07-28 09:48] #2253 closed, assigned to haoyuying, juncaipeng

[2022-07-28 09:48] #2260 closed, assigned to juncaipeng

[2022-07-28 09:48] #2227 closed, assigned to juncaipeng

[2022-07-28 09:48] #2261 closed, assigned to juncaipeng

[2022-07-28 09:48] #2071 closed, assigned to juncaipeng

[2022-07-28 09:49] #2046 closed, assigned to juncaipeng

[2022-07-28 09:49] #2087 closed, assigned to juncaipeng

[2022-07-28 09:50] #2313 closed, assigned to juncaipeng

[2022-07-28 12:15] #2069 closed, assigned to juncaipeng

[2022-07-28 12:17] #1997 closed, assigned to juncaipeng

[2022-07-28 12:18] #1992 closed, assigned to juncaipeng

[2022-07-28 12:18] #1986 closed, assigned to juncaipeng

[2022-07-28 12:18] #1931 closed, assigned to juncaipeng

[2022-07-28 12:18] #1925 closed, assigned to juncaipeng

[2022-07-28 12:18] #1808 closed, assigned to juncaipeng

[2022-07-28 12:18] #1720 closed, assigned to juncaipeng

[2022-07-28 12:18] #1744 closed, assigned to juncaipeng

[2022-07-28 12:19] Leon-E-Zion commented on #1808
Leon-Zion 工作站 已收到邮件，Leon将尽快处理

[2022-07-28 12:19] #1767 closed, assigned to juncaipeng

[2022-07-28 12:19] #1698 closed, assigned to juncaipeng

[2022-07-28 12:19] #1577 closed, assigned to juncaipeng

[2022-07-28 12:19] #1560 closed, assigned to juncaipeng

[2022-07-28 12:19] #1619 closed, assigned to juncaipeng

[2022-07-28 12:19] #1614 closed, assigned to juncaipeng

[2022-07-28 12:19] #1810 closed, assigned to juncaipeng

[2022-07-28 12:20] #1865 closed, assigned to juncaipeng

[2022-07-28 12:20] #1960 closed, assigned to juncaipeng

[2022-07-28 12:20] #1864 closed, assigned to juncaipeng

[2022-07-28 12:20] #1840 closed, assigned to juncaipeng

[2022-07-28 12:20] #1676 closed, assigned to juncaipeng

[2022-07-28 12:20] #1675 closed, assigned to juncaipeng

[2022-07-28 12:21] #1645 closed, assigned to juncaipeng

[2022-07-28 12:21] #1621 closed, assigned to juncaipeng

[2022-07-28 12:21] #1501 closed, assigned to juncaipeng

[2022-07-28 12:21] #1463 closed, assigned to juncaipeng

[2022-07-28 12:21] #1504 closed, assigned to juncaipeng

[2022-07-28 12:21] #1533 closed, assigned to juncaipeng

[2022-07-28 12:21] #1451 closed, assigned to juncaipeng

[2022-07-28 12:22] #1442 closed, assigned to juncaipeng

[2022-07-28 12:22] #1396 closed, assigned to juncaipeng

[2022-07-28 13:37] chen-del commented on #2375
好的，谢谢

[2022-07-28 13:37] chen-del commented on #2376
好的，谢谢

[2022-07-29 02:56] chen-del opened #2380 "[Bug] paddle2onnx 导出出现了问题"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg==2.6
 2. PaddlePaddle版本：（如PaddlePaddle 2.1.0）
 3. 操作系统信息：Linux
 4. Python版本号：Python3.6.13
 5. CUDA/cuDNN版本：CUDA11.2

Traceback (most recent call last):
  File "/home/dell/anaconda3/envs/d2l/lib/python3.6/site-packages/paddle2onnx/op_mapper/op_mapper.py", line 119, in mapping
    mapper_func(graph, node, **kw)
  File "/home/dell/

[2022-07-29 09:55] shiyutang commented on #2380
关于 paddle2onnx 的问题欢迎前往https://github.com/PaddlePaddle/Paddle2ONNX 提问～

[2022-07-29 11:33] jyang68sh opened #2384 "[General Issue] PP-LITESEG消融实验相关问题"
非常欣赏你们的论文！

关于TABLE 3的模块消融实验
请问Baseline的decoder是如何设计的？为什么增加了FLD模块后mIoU提升了，FPS下降了？似乎有些不合乎逻辑。

Thanks!

[2022-07-29 11:44] jyang68sh commented on #2384
@juncaipeng Please kindly check my question. Thanks!

[2022-07-30 07:31] cspearl opened #2385 "[General Issue] Error when trying to train in batch size > 1"
1. PaddleSeg version: PaddleSeg release/2.6
 2. Operation system: Linux - Google Colab
 3. Python version: 3.7
 4. CUDA/cuDNN version: CUDA11.1/cuDNN 7.6.5

5. Additional context: There is no error in training when I am setting batch size to 1. But mIOU is very poor I dont know why. And whenever I am setting batch size to 2 or 4 the following error pops up - (All my images and labels have the same

[2022-07-30 13:01] bah111587 opened #2386 "[General Issue]paddle加载数据出错"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-08-01 02:05] haoyuying commented on #2385
在使用dataloader时候，输入图片需要变成相同的尺寸才能压入一个batch中进行训练，如果此过程是训练过程，建议检查数据增强中是否有reshape到统一的大小的操作。

[2022-08-01 02:19] juncaipeng commented on #2384
Hi, thanks for your attention.

The computation cost of the PP-LiteSeg-B2 with FLD is bigger than the baseline model, and the number of feature channels in decoder are as follows.
* Baseline model: 96, 96, 96
* PP-LiteSeg-B2 with FLD: 64, 96, 128

![image](https://user-images.githubusercontent.com/52520497/182058963-0736cd89-7155-43ee-8c1a-21ea35619649.png)

[2022-08-01 02:37] wuyefeilin commented on #2386
检查一下数据是否按照要求的格式进行了准备

[2022-08-01 03:13] jyang68sh commented on #2384
Hi  @juncaipeng  thanks for your answer.

So the baseline model is 3 blocks of upsample, all of them has 96 channels, and then go to seg head?

My question is: How does baseline model outperforms stdc2 original repo with batch size 4x4, pretrained, 160k iters? I tried to run stdc2 with the same setting locally and got mIoU around 76.8.

I am confused as baseline model has lower channels and doesnt

[2022-08-01 09:11] bah111587 commented on #2386
![image](https://user-images.githubusercontent.com/85655567/182113308-e1a7b87f-7f0f-4daa-840c-c87f2cea1ece.png)
![image](https://user-images.githubusercontent.com/85655567/182113506-efe94c61-6554-4ffb-a373-9c7698c13996.png)
![image](https://user-images.githubusercontent.com/85655567/182113606-4e3db145-5f65-4969-aa94-2e7678f5f177.png)
![image](https://user-images.githubusercontent.com/85655567/1821

[2022-08-01 10:55] mylifeasazucchini opened #2387 "a general question about the decoder used in PPLiteSeg (not a bug!)"
Hi!

I wanted to ask about the arm_out_chs parameter used here: https://github.com/PaddlePaddle/PaddleSeg/blob/19eb360a5a7aaa9277345791dfcad34004e84031/paddleseg/models/pp_liteseg.py#L44

From the paper I understand that the authors used the following 2 configs for decoder depending on backbone: STDCNet1- [32, 64, 128]  STDCNet2- [64, 96, 128]

but could you please explain why these particular cha

[2022-08-01 13:41] weekweekend opened #2389 "[General Issue]batch_cost 花费时间很不稳定"
为什么我的batch_cost花费的时间变长了，前几次训练的batch_cost在0.4左右，现在有时飙升到了30+, 是在同样的训练环境下训练同样的模型
![image](https://user-images.githubusercontent.com/34128257/182160903-638f08bd-e834-4743-aaa2-d9e8bf11dfb0.png)

[2022-08-01 18:05] mylifeasazucchini commented on #2387
Update: Figured that out! But new question about the final convolution and upscaling in the segmentation head of PPLiteSeg: https://github.com/PaddlePaddle/PaddleSeg/blob/19eb360a5a7aaa9277345791dfcad34004e84031/paddleseg/models/pp_liteseg.py#L123

the **inputs** to the final segmentation head is as such (which helped me answer my earlier question):
_torch.Size([16, 32, 64, 64])
torch.Size([16, 64

[2022-08-02 01:54] chen-del opened #2391 "[General Issue] bankbone修改之后，似乎出现了问题，分割图像时出现了，像素点错乱"
pspnet

修改如下：
model:
  type: PSPNet
  backbone:
    type: MobileNetV3_large_x1_0
    pretrained: https://paddleseg.bj.bcebos.com/dygraph/backbone/mobilenetv3_large_x1_0_ssld.tar.gz
  backbone_indices: [1, 3]
  pp_out_channels: 1024
  bin_sizes: [1, 2, 3, 6]
  enable_auxiliary_loss: True
  align_corners: False
  pretrained: null

但是效果出现了问题，出现了像素点分割散乱，是不是配置存在没有对上的问题，但是代码它能够正常训练，能看一下是哪里出现了问题嘛

[2022-08-02 02:40] juncaipeng commented on #2384
We retrain the stdc2 model and use it in our experiments.

[2022-08-02 02:41] juncaipeng commented on #2389
从log来看，主要是读取数据耗时变得更长了，可以检查下是不是有其他进程占用了cpu。

[2022-08-02 02:42] weekweekend commented on #2389
您的邮件已收到 ——周

[2022-08-02 02:52] juncaipeng commented on #2391
主要是替换了Backbone后，原先MobileNetV3_large_x1_0最终的输出是32倍下采样。建议改为：
[code]

此外，建议直接试用超轻量级分割模型：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/README_CN.md#-%E4%BA%A7%E4%B8%9A%E7%BA%A7%E5%88%86%E5%89%B2%E6%A8%A1%E5%9E%8B%E5%BA%93

[2022-08-02 02:56] bah111587 commented on #2386
image
image
image
image
我的数据格式设置如上，我打印了读取的alpha图片的形状，感觉是能读取数据的，但是读一部分后就报错了，不知道是什么问题？

[2022-08-02 02:58] bah111587 commented on #2386
我的数据格式设置如上，我打印了读取的alpha图片的形状，感觉是能读取数据的，但是读一部分后就报错了，不知道是什么问题？

[2022-08-02 03:00] juncaipeng commented on #2387
Please refer to: https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/paddleseg/models/pp_liteseg.py#L116

In training stage, the model has three loss (two auxiliary loss), so there are three outputs. In inference stage, the model only output the final logits.

[2022-08-02 03:05] bah111587 opened #2392 "[General Issue]paddle读取数据过程出错"
platform: Linux-5.4.0-122-generic-x86_64-with-debian-buster-sid
Python: 3.7.12 | packaged by conda-forge | (default, Oct 26 2021, 06:08:21) [GCC 9.4.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.4.r11.4/compiler.30188945_0
cudnn: 8.2
GPUs used: 1
CUDA_VISIBLE_DEVICES: 1
GPU: ['GPU 0: NVIDIA TITAN', 'GPU 1: NVIDIA TITAN', 'GPU 2: NVIDIA TITAN', 'GPU 3: NVIDIA TITAN']
GCC: gcc (Ubuntu 7.5.0

[2022-08-02 04:13] wuyefeilin commented on #2386
你利用MattingDataset构建数据读取对象，看一下所有数据能够正常阅读

[2022-08-02 05:48] mylifeasazucchini commented on #2387
That is exactly the detail that I had missed all along as it was not so clear on the paper! Thank you so much for clearing it up and answering super quick!

[2022-08-02 05:48] #2387 closed, assigned to juncaipeng

[2022-08-02 06:35] chen-del commented on #2391
嗯好的，谢谢！
@juncaipeng,但是我还想问一个问题，在我将数据集改了VOC_seg数据时，同时模型预处理输入改为了320*320到网络模型中，那么最终这个两个是否要修改对应上
backbone_indices: [2, 3]
pp_out_channels: 1024

[2022-08-02 11:43] juncaipeng commented on #2391
可以对应，你试着训练， 如果换为MobileNetV3作为backbone，建议减小一些pp_out_channels

[2022-08-02 13:02] cspearl commented on #2385
Yes it is a training process but all my images are already of the same size - 512x512 RGB images and labels are 512x512 greyscale

[2022-08-02 14:27] bah111587 commented on #2386
![3c95062e4a23455e86a89c1d27b31f4](https://user-images.githubusercontent.com/85655567/182398740-440a5019-1eeb-4467-8ddb-ce7878eb170a.jpg)
我用MattingDataset构造了一个loader，还是读一部分数据就报错了，不过除了原来的报错还显示RuntimeError: Unknown data type <class 'str'>

[2022-08-02 14:28] bah111587 commented on #2386
我用MattingDataset构造了一个loader，还是读一部分数据就报错了，不过除了原来的报错还显示RuntimeError: Unknown data type <class 'str'>

[2022-08-02 14:29] bah111587 commented on #2386
![3c95062e4a23455e86a89c1d27b31f4](https://user-images.githubusercontent.com/85655567/182399566-15ad8105-ac37-40a4-b57c-7d0e55f5f160.jpg)
我用MattingDataset构造了一个loader，还是读一部分数据就报错了，不过除了原来的报错还显示RuntimeError: Unknown data type <class 'str'>

![image](https://user-images.githubusercontent.com/85655567/182508345-7567ec3b-4898-4176-b9a9-157943030b68.png)
我用从paddle上解压的ppm100数据集也是同样的错，会是paddle版本的问题吗

[2022-08-03 02:23] wuyefeilin commented on #2386
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/Matting/tools/train.py#L153
直接利用train_dataset进行数据读取，查看哪个数据出错了

[2022-08-03 02:23] wuyefeilin commented on #2392
参见https://github.com/PaddlePaddle/PaddleSeg/issues/2386

[2022-08-03 02:51] bah111587 commented on #2386
直接用train_dataset是可以读取的，但是构造loader后就会报错了

[2022-08-03 02:53] wuyefeilin commented on #2386
我这边复现一下哈

[2022-08-03 03:03] bah111587 commented on #2386
好的，非常感谢

[2022-08-03 09:12] wuyefeilin commented on #2386
运行多少个iters后出现的错误呢

[2022-08-03 09:18] bah111587 commented on #2386
我好像找到原因了，MattingDataset源码的getitem那里返回的是data字典，我把他改成返回data['img']就没报错了

[2022-08-03 09:25] wuyefeilin commented on #2386
对代码进行修改在提issue的时候务必进行说明，否则很难定位问题的

[2022-08-03 09:25] #2386 closed, assigned to wuyefeilin

[2022-08-03 09:26] #2392 closed, assigned to wuyefeilin

[2022-08-03 09:34] bah111587 commented on #2386
返回data那里没有改，下载的源码就是返回的data字典，然后就会报错

[2022-08-03 14:15] bah111587 opened #2396 "[General Issue]paddle版本"
cuda11.4对应什么版本的paddle，在官网好像没找到，下cuda11.2或者10.2的安装不成功

[2022-08-03 14:17] Bobholamovic commented on #2396
很抱歉，Paddle目前暂时不支持CUDA 11.4哦～

[2022-08-04 02:25] bah111587 opened #2397 "[General Issue]布尔量求和有问题"
![image](https://user-images.githubusercontent.com/85655567/182749404-14ad324a-252c-4af4-9565-c9058d88a624.png)
![image](https://user-images.githubusercontent.com/85655567/182749438-c1fedfd2-0f34-4ff7-a7e8-531b60eb241c.png)
请问这个报错是不是不支持布尔量求和，应该如何解决？

[2022-08-04 02:47] jyang68sh commented on #2384
That makes sense.
Thanks!

[2022-08-04 03:13] #2384 closed, assigned to juncaipeng

[2022-08-04 06:05] yourchanges commented on #2368
类似发票上的印章移除, 方便后续识别?

[2022-08-04 06:06] LeeLear commented on #2368
是的，分割模型中的，paddle版unet++可以实现吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年8月4日(星期四) 下午2:05
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] paddleseg 做印章去除 (Issue #2368)

类似发票上的印章移除, 方便后续识别?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.

[2022-08-04 06:31] wuyefeilin commented on #2397
更新一下paddle的版本

[2022-08-04 06:35] bah111587 commented on #2397
我是cuda11.4的，只找到这个版本能下，有其他对应的版本推荐吗

[2022-08-04 07:44] Dawn-bin opened #2399 "[Enhance] Enhance slide_inference"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: master

---------------------------------------------------------------

hi, I have met a Bug, when I use paddle to inference a **very very big** aerial picture.

The situation is that:
I use small crop to train a model, and do referece on a big origin pic with predict.py.
Th

[2022-08-04 08:09] Bobholamovic commented on #2399
Thanks for pointing out this problem. We will consider adding this feature in the future.

Currently, I would recommend [**PaddleRS**](https://github.com/PaddlePaddle/PaddleRS) as an alternative. PaddleRS provides the functionality of lazy loading, which significantly saves both CPU and GPU memories when doing inference on large aerial images.

[2022-08-04 08:17] Dawn-bin commented on #2399
Good job! I am looking forward it to be more powerful and comprehensive.

[2022-08-04 11:42] xmichelleshihx opened #2401 "[Bug]F.interpolate传参数据类型"
这个工程很多code里面插值F.interpolate传参都是错的，跑着有Bug。
shape应该传list格式的[h, w]，不应该传tuple格式的(h, w)

[2022-08-04 12:40] Bobholamovic commented on #2401
感谢您指出问题！PaddlePaddle 2.3.0已经修复了此bug，请升级到最新版尝试。

[2022-08-05 03:31] Vicellken commented on #2272
https://github.com/PaddlePaddle/PaddleSeg/issues/1678#issuecomment-1003689380

您好，我也有同样需求，加载自己训练的模型也有同样报错。
不确定官方什么时候会出详细一些的指导，小小期待一下❤️

[2022-08-05 08:46] frensher opened #2405 "Matting 效果问题"
你好,我想问下,内置的matting算法
我没有做什么修改
用自带的预训练模型,和配置文件,得到的抠图效果不好
不管用什么抠图算法
![图片](https://user-images.githubusercontent.com/42425485/183039269-96f8c377-7479-4fc1-add8-8ca0761a3001.png)
![图片](https://user-images.githubusercontent.com/42425485/183039362-b07efe38-def0-47bf-a5b3-005e2d4b5404.png)
![图片](https://user-images.githubusercontent.com/42425485/183039397-954237ca-4469-41fd-9b6f-c56f0598ee19.png)
![图片](h

[2022-08-07 07:22] crazy6oy opened #2407 "增加实例分割标注功能"
欢迎提出一个新功能需求，为了帮助我们更好理解您的需求，辛苦提供下面信息：
1. 能够在标注分割的时候区分哪些封闭区域属于同一个个体；
2. 能够在分割标注手、脚、头、躯干后，将多个部分归属到一个个体（我们想的办法是加下角标）；
3. 目前软件标注结果在实例分割项目上很难被使用。

[2022-08-08 02:02] haoyuying commented on #2407
感谢您的建议，我们会在后期优化中重点考虑您的需求。

[2022-08-08 02:13] shiyutang commented on #2405
请问是否有在自己的数据上重新进行训练呢？

[2022-08-08 02:20] wuyefeilin commented on #2405
『我没有做什么修改』， 也就是修改了，具体哪边修改了呢

[2022-08-08 02:24] frensher commented on #2405
谢谢回答
没有,直接用的官方权重
![图片](https://user-images.githubusercontent.com/42425485/183325840-5b4ea6d7-fade-4784-a5f4-82dfed933556.png)

[2022-08-08 02:24] frensher commented on #2405
谢谢回答
没修改,就是换了不同的config,连权重都是默认的

[2022-08-08 02:29] wuyefeilin commented on #2397
https://www.paddlepaddle.org.cn/ 参考官网安装教程，安装paddlepaddle-gpu==2.3版本哈。如果cuda不支持，建议重新安装一下cuda

[2022-08-08 03:07] wuyefeilin commented on #2405
config和加载的预训练模型有对应吗

[2022-08-08 03:17] 1344265305 opened #2409 "[General Issue]使用paddle inference推理时报错（python）"
在进行推理这一步时，输入 python deploy/python/infer.py  --emo --enable_auto_tune=True --use_trt=True 报错
实测不使用tensorrt 或者改为cpu都不报错。
以下为报错信息
---
/home/speed/Segmentation/paddleseg/paddleseg/models/losses/decoupledsegnet_relax_boundary_loss.py:19: DeprecationWarning: Please use `shift` from the `scipy.ndimage` namespace, the `scipy.ndimage.interpolation` namespace is deprecated.
  from scipy.ndimage.interpolatio

[2022-08-08 03:27] frensher commented on #2405
设置好config以后,根据config网址加载的权重,没有从本地上加载;不对应,也run不了啊

[2022-08-08 06:12] Mamaka2020 commented on #2135
还是不行，github下载不下来，gitee可以回退该版本，但是还是报同样的错误。

[2022-08-08 06:55] haoyuying commented on #2409
看起来是输入了动态shape导致的报错，使用的是paddleseg的哪个模型呢，如果是自己的模型，可以检查下是否有xx.shape 的操作，改成paddle.shape(xx)

[2022-08-08 07:10] monk-after-90s opened #2410 "[Bug]EISeg再次点击传播时闪退"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-08-08 07:21] monk-after-90s opened #2411 "[Bug]EISeg加载模型之后关闭再打开闪退"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：

PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.3） PaddleSeg release/2.6
PaddlePaddle版本：（如PaddlePaddle 2.1.0）paddlepaddle-gpu 2.3.1.post116
操作系统信息：（如Linux/Windows/MacOS）Windows10
Python版本号：（如Python3.6/7/8）Python 3.10.4
CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）CUDA11.7 cuDNN8.4.1
完整的代码：(若修改过原代码，请提供修改前后代码对比）
详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
![image]

[2022-08-08 09:33] haoyuying commented on #2411
我们会持续跟进该问题的，感谢您的反馈

[2022-08-08 09:34] haoyuying commented on #2410
我们会持续跟进该问题的，感谢您的反馈

[2022-08-08 09:51] T0L0ve opened #2414 "[General Issue]Matting保存结果报错"
paddlepaddle2.6版本
运行Matting操作流程就和quickstart里的一样，在进行背景替换时会报一个错误
![image](https://user-images.githubusercontent.com/38580985/183390057-96218523-6073-4b71-8e5b-3d0b53ef2194.png)
我看了下应该是np数组大小不一致导致的。
![image](https://user-images.githubusercontent.com/38580985/183390287-e0118084-08e0-4ce9-9517-e5b6946adf1a.png)
这边fg的大小是（1,1,3）。
然后我在_estimate_fb_ml这个函数里加了个print语句
![image](https://user-images.githubuserc

[2022-08-08 12:39] ANDROIDTODO opened #2416 "[Feature Request]PaddleSeg做表格识别"
Welcome to propose a new feature! To help us understand your great feature, please provide following information:
1. A clear and concise description of the proposed feature.
2. Tell us why the feature is useful.
3. If possible, please show related codes .

---

欢迎提出一个新功能需求，为了帮助我们更好理解您的需求，辛苦提供下面信息：
1. 清晰简洁的语言提出新功能需求。
2. 请描述这个需求的必要性。
3. 如果可以，辛苦您提供相关代码实现效果。

Hi,
请问使用PaddleSeg做表格识别，
标注为：
1. 实体线的横线
2.

[2022-08-09 01:02] 1344265305 commented on #2409
使用的ppliteseg，导出静态模型时输出了input_shape；非常感谢您的回复

[2022-08-09 02:03] juncaipeng commented on #2416
可以做，需要自己标注数据，然后使用paddleseg进行训练。

[2022-08-09 02:06] #2369 closed, assigned to juncaipeng

[2022-08-09 02:08] #2359 closed, assigned to juncaipeng

[2022-08-09 02:19] wuyefeilin commented on #2414
看提示是因为输入尺寸不匹配的导致的，确定没有修改过代码吗

[2022-08-09 02:24] wuyefeilin commented on #2405
你在预测的时候有通过model_path传入模型预训练模型吗。

具体可以看一下文档教程哈

[2022-08-09 02:25] #2397 closed, assigned to wuyefeilin

[2022-08-09 02:25] #2370 closed, assigned to wuyefeilin

[2022-08-09 02:26] #430 closed, assigned to wuyefeilin

[2022-08-09 02:26] #446 closed, assigned to wuyefeilin

[2022-08-09 02:27] #459 closed, assigned to wuyefeilin

[2022-08-09 02:27] T0L0ve commented on #2414
没有修改过，这行print语句是唯一自己写的代码

[2022-08-09 02:27] #466 closed, assigned to wuyefeilin

[2022-08-09 02:27] #500 closed, assigned to wuyefeilin

[2022-08-09 02:27] #508 closed, assigned to wuyefeilin

[2022-08-09 02:28] #514 closed, assigned to wuyefeilin

[2022-08-09 02:28] #515 closed, assigned to wuyefeilin

[2022-08-09 02:28] #516 closed, assigned to wuyefeilin

[2022-08-09 02:28] #522 closed, assigned to wuyefeilin

[2022-08-09 02:28] #525 closed, assigned to wuyefeilin

[2022-08-09 02:29] #553 closed, assigned to wuyefeilin

[2022-08-09 02:29] juncaipeng commented on #2409
你安装的paddle版本不对，重新参考文档安装支持trt的版本。

[2022-08-09 02:29] #557 closed, assigned to wuyefeilin

[2022-08-09 02:29] #562 closed, assigned to wuyefeilin

[2022-08-09 02:30] #565 closed, assigned to wuyefeilin

[2022-08-09 02:30] #583 closed, assigned to wuyefeilin

[2022-08-09 02:30] #588 closed, assigned to wuyefeilin

[2022-08-09 02:30] #591 closed, assigned to wuyefeilin

[2022-08-09 02:30] #658 closed, assigned to wuyefeilin

[2022-08-09 02:30] #649 closed, assigned to wuyefeilin

[2022-08-09 02:30] #647 closed, assigned to wuyefeilin

[2022-08-09 02:31] #630 closed, assigned to wuyefeilin

[2022-08-09 02:31] #615 closed, assigned to wuyefeilin

[2022-08-09 02:31] #614 closed, assigned to wuyefeilin, nepeplwu

[2022-08-09 02:32] #607 closed, assigned to wuyefeilin

[2022-08-09 02:32] #595 closed, assigned to wuyefeilin

[2022-08-09 02:32] #590 closed, assigned to wuyefeilin

[2022-08-09 02:46] 1344265305 commented on #2409
2.3.1是最新的稳定版了吧

[2022-08-09 02:47] juncaipeng commented on #2409
对  你需要安装编译支持trt的版本。

[2022-08-09 02:47] 1344265305 commented on #2409
用动态和静态的shape都试了 都有这个错误。而且不启用trt错误消失

[2022-08-09 02:48] 1344265305 commented on #2409
我安装的就是2.3.1 是最新的了

[2022-08-09 07:18] haoyuying commented on #2411
初步定义bug是由于paddle，cuda及cudnn版本不匹配导致的，建议使用如下环境，没有复现该问题：
PaddlePaddle：2.3.0/2.3.1
CUDA：10.2.89
cudnn：7.6.5

[2022-08-09 07:18] haoyuying commented on #2410
初步定义bug是由于paddle，cuda及cudnn版本不匹配导致的，建议使用如下环境，没有复现该问题：
PaddlePaddle：2.3.0/2.3.1
CUDA：10.2.89
cudnn：7.6.5

[2022-08-09 07:33] 1344265305 commented on #2409
刚刚验证了一下 paddle安装没有问题，如果报错Pass trt_squeeze2_matmul_fuse_pass has not been registered.可能是paddle版本问题。但是我报的错是Pass preln_embedding_eltwise_layernorm_fuse_pass has not been registered.

[2022-08-09 08:20] hackkhai commented on #2348
Hey, you havent checked my mail yet :) please do check it
@wuyefeilin

[2022-08-09 08:36] veritas0505yg opened #2423 "[General Issue]关于设置损失函数的相关问题"
专家您好，想请教一下，如何在config文件中设置不同的损失函数所需要的参数？我似乎没有在官方文档中找到设置这些参数的教学部分，官方给的全流程跑通案例中config只介绍了CrossEntropyLoss和coef参数设置为[1, 1, 1]

Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/M

[2022-08-09 12:07] juncaipeng commented on #2423
通常多个loss，可以设置主loss的权重大一点，辅助loss的权重小一点。 具体可以调参试下，不过对精度来说影响不是非常大。

[2022-08-09 18:34] MorphlingX opened #2425 "[General Issue]train contrib/PanopticDeepLab时出现Logit和Label的shape不同报错"
2022-08-10 02:33:20 [INFO]
------------Environment Information-------------
platform: Windows-10-10.0.18362-SP0
Python: 3.8.9 (tags/v3.8.9:a743f81, Apr  6 2021, 14:02:34) [MSC v.1928 64 bit (AMD64)]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.2, V10.2.89
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: NVIDIA GeForce']
PaddleSeg: 2.6.0
PaddlePaddle: 2.3

[2022-08-09 18:42] MorphlingX commented on #2425
将PaddleSeg/contribPanopticDeepLab/datasets/cityscapes_panoptic.py中161行`im, label = self.transforms(im=image_path, label=label_path)`（运行时报错im参数不存在）改成了
[code]
可能导致了问题？

[2022-08-10 03:04] wuyefeilin commented on #2425
新版本paddleseg的transform进行了升级，需要对应升级一下，后面会进行更新。

你可以先使用2.5版本。看看是否能正常运行

[2022-08-10 05:57] MorphlingX commented on #2425
已经能够正常运行，单卡学习学习率需要改为1/4吗

[2022-08-10 06:51] frensher commented on #2405
的确是加载权重的问题,谢谢你们了

[2022-08-10 08:49] lcs1225 commented on #2126
请问可以说的详细点不，我好像遇到了同样的问题...
<img width="948" alt="error" src="https://user-images.githubusercontent.com/29704155/183858352-bf21d2e5-9099-4e4e-bf04-c971de9db1c4.png">

[2022-08-10 09:11] kejom-ou opened #2427 "[Bug] ValueError: Target -4844520860993308645 is out of lower bound"
在教程：20分钟快速上手PaddleSeg 中训练时loss报错

 1. PaddleSeg版本：PaddleSeg release/2.6
 2. PaddlePaddle版本：PaddlePaddle 2.3.1
 3. 操作系统信息：Linux
 4. Python版本号：Python3.7
 5. CUDA/cuDNN版本：CUDA10.2/cuDNN 7

 6. 详细的错误信息
 Traceback (most recent call last):
  File "train.py", line 230, in <module>
    main(args)
  File "train.py", line 225, in main
    to_static_training=cfg.to_static_training)
  File "/imggroup/kongou/P

[2022-08-10 09:31] htlbayytq opened #2428 "[Bug] EISeg 在AIstudio中无法启动"
通过pip安装EISeg后，用eiseg命令无法启动：

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：paddleseg-2.6.0
 2. PaddlePaddle版本：PaddlePaddle 2.3.1
 3. 操作系统信息：Ubuntu 16.04 (BML codelab）
 4. Python版本号：3.7.4

![image](https://user-images.githubusercontent.com/83695691/183867279-eec3bca3-117c-43fb-9ec4-dcf6e8600809.png)
![image](https://user-images.githubusercontent.com/83695691/183867429-b0523d60-ebe9-47

[2022-08-10 12:50] tarunn2799 opened #2431 "How do I use the pretrained Matting checkpoints for training?"
I've been training my own MODNet models on custom data, using the configs provided. How do I use the model checkpoint provided in the readme [HERE](https://paddleseg.bj.bcebos.com/matting/models/modnet-hrnet_w18.pdparams) as a starting point for my training?

Also, how should I change my training params if I'm using this as a checkpoint to start training? I currently use the default config for Mod

[2022-08-11 03:32] haoyuying commented on #2428
报错显示opencv安装有问题，可以参考https://blog.csdn.net/noirblack/article/details/125333014
我是用的是4.5.5.64，您可以参考一下。

[2022-08-11 03:45] Viktorjc98 opened #2434 "[General Issue]验证时报错：ValueError: Shape of `pred` and `label should be equal, but there are [1, 256, 384] and [1, 1, 256, 384, 3]."
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-08-11 06:30] wuyefeilin commented on #2431
For the first question, you can add `pretrained: path/to/xxxx.pdparams' of the `model` in configs as following:
![image](https://user-images.githubusercontent.com/30919197/184075878-059a3eb2-9371-419f-848a-488419ce7995.png)

Final question: It is pretrained on ImageNet.

May I ask, in what business do you use matting？

[2022-08-11 06:31] Bobholamovic commented on #2434
请问您使用的是自定义数据集吗？如果是的话，请您检查标签是否为单通道（现在的情况标签有可能是三通道的图像）。

[2022-08-11 07:14] mmxuan18 opened #2435 "use trimap dim model crash"
输入图片尺寸是1080 1400
<img width="900" alt="image" src="https://user-images.githubusercontent.com/6283983/184082063-028f8be9-9440-4bb9-affe-cdb1a781d1b6.png">

------
--------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::imperative::Tracer::TraceOp(std::string const&, paddle::imperative::NameVarBaseMap const&, paddle::imperative::Name

[2022-08-11 07:14] tarunn2799 commented on #2431
Hi @wuyefeilin I did try doing that - I changed the outer `pretrained` key under the model key to the downloaded MODNet HR18 `.pdparams` file. But I got ```ValueError: paddle.load can not parse the file: <the downloaded file path>```

Turns out the file was corrupted, and upon retrying it from scratch, it worked. Thank you. Can you help me understand if I should change the lr, optimizer and num_it

[2022-08-11 07:23] Bobholamovic commented on #2427
本地无法复现此问题。请问多次重新执行都会出现此问题吗？

[2022-08-11 07:25] kejom-ou opened #2436 "是的"
本地无法复现此问题。请问多次重新执行都会出现此问题吗？

_Originally posted by @Bobholamovic in https://github.com/PaddlePaddle/PaddleSeg/issues/2427#issuecomment-1211637316_

[2022-08-11 07:25] #2436 closed, assigned to nobody

[2022-08-11 07:26] kejom-ou commented on #2427
是的

[2022-08-11 07:29] Bobholamovic commented on #2427
请尝试重新下载数据，以及用`--seed`选项更换随机种子。

[2022-08-11 07:38] wuyefeilin commented on #2435
给一下完整报错信息，目前难以定位问题所在

[2022-08-11 08:26] 1344265305 opened #2437 "[General Issue]使用python inference部署推理，开启--benchmark=True报错"
命令：
python deploy/python/infer.py \--config output/dynamic_model/deploy.yaml \--image_path deploy/cpp/demo \--use_trt=True \--enable_auto_tune=True --benchmark=True

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 1660205219 (unix time) try "date -d @1660205219" if you are using G

[2022-08-11 08:44] mmxuan18 commented on #2435
ppseg/matting 使用带trimap的模型，测试发现是必须inputshape是32整数倍的要求。使用这种就不会crash了

[2022-08-11 08:44] #2435 closed, assigned to wuyefeilin

[2022-08-11 09:04] Bobholamovic commented on #2437
请给出具体的复现方法。

[2022-08-11 09:10] 1344265305 commented on #2437
不开启benchmark正常运行；按照https://github.com/LDOUBLEV/AutoLog的方法安装autolog，然后在infer.py的配置上启用了--benchmark=True，问题出现

[2022-08-11 10:40] wuyefeilin commented on #2301
I can not repeat you problem. Do you change the code.

[2022-08-11 12:01] Bobholamovic commented on #2437
『具体的复现方法』应当包含使用的模型、数据、PaddleRS版本、硬件设备、环境依赖等信息。

[2022-08-12 01:32] 1344265305 commented on #2437
模型是ppliteseg
数据是自己的数据集
paddleSeg版本：2.6.0
PaddlePaddle版本：2.3.1
系统信息：Ubuntu18.04 +3090
Python版本号：3.9
CUDA/cuDNN版本：11.6/8.4.1

[2022-08-12 02:34] Bobholamovic commented on #2437
收到。这个问题看起来像是AutoLog库对psutil库的使用不当，在处理时出现了data race，试图去访问已经被销毁的进程的信息。建议在[AutoLog](https://github.com/LDOUBLEV/AutoLog/issues)反映此issue。另外可参考psutil库的[这个issue](https://github.com/giampaolo/psutil/issues/1925)。

[2022-08-12 03:08] Winnie202 opened #2443 "VisualDL log change curve"
Thanks for your code contribution, the following is my relevant training environment :

platform: Linux-5.15.0-43-generic-x86_64-with-debian-bullseye-sid
Python: 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.3.r11.3/compiler.29920130_0
cudnn: 8.2
GPUs used: 1
CUDA_VISIBLE_DEVICES: 0
GPU: ['GPU 0: NVIDIA GeForce', 'GPU 1: NV

[2022-08-12 03:38] wuyefeilin commented on #2431
I download the modnet-hrnet_w18.pdparams form https://paddleseg.bj.bcebos.com/matting/models/modnet-hrnet_w18.pdparams can run normally. May be you can try again.

You can reduce the lr and num_iters if you using a pretrained model

We have not supported SOC. If you are interesting, may be you can use it on you unlabeled dataset by fix the loss module.

[2022-08-12 06:54] htlbayytq commented on #2428
haoyuying老师您好，我想先和您确认一下EISeg是否可以直接从咱AIStudio里启动并使用呢？

再具体一些，在BML codelab中直接按照EISeg的安装教程对EISeg进行安装（pip install eiseg），然后直接在BML codelab启动EISeg去使用（eiseg），理论上这样是可以的吧？

[2022-08-12 07:00] #2437 closed, assigned to Bobholamovic

[2022-08-12 07:00] 1344265305 commented on #2437
感谢回复

[2022-08-12 07:11] wy008163 opened #2444 "开启tensort加速后，创建预测器时报错"
此代码为之前智能智造，行业专场老师分享的代码，目前gpu下未开启tensort可以正确出结果，当把tensort加速打开后在paddle_infer::CreatePredictor(config)报错，相关init代码如下

// 创建默认配置对象
	paddle_infer::Config config;
	config.SetModel("model/model.pdmodel", "model/model.pdiparams");
	config.EnableUseGpu(100, 0);
	config.EnableMemoryOptim();

	//开启tensorrt加速
	config.EnableTensorRtEngine(1 << 20, 1, 10, paddle_infer::PrecisionType::kFloat32, true, false);

	st

[2022-08-12 09:39] shiyutang commented on #2443
It seems that your training process is broken. Can you train from start and provide the whole vdl which includes the validation metric? I can not see anything wrong in the training config. Some of the parameters is relevant to your data.

[2022-08-12 09:43] shiyutang commented on #2444
看起来在windows下的权限问题。开启trt的代码可以参考：https://github.com/PaddlePaddle/PaddleSeg/blob/10c50aa7fdbb3c45b0b3c789fa2febd191a44d01/deploy/python/infer.py#L310

[2022-08-12 09:45] shiyutang commented on #2353
显示结果表明下载成果，但是参数名称不一致导致没有加载进网络。

[2022-08-12 10:09] zhenzi0322 opened #2447 "[General Issue] 如何把Paddleseg生成的model.pdparams模型转成tensorflow支持的模型呢"
如何把Paddleseg生成的model.pdparams模型转成tensorflow支持的模型呢

[2022-08-12 10:13] haoyuying commented on #2428
在本地用吧，eiseg必须要有带界面的环境才可以，可以用本地电脑安装使用

[2022-08-12 10:16] htlbayytq commented on #2428
了解了，也就是说除了本地，EISeg无法在AIStudio上用，对嘛haoyuying老师？

（因为我的电脑是mac，没有gpu，EISeg我本地试了一下，非常卡。。。     而且这样的话AIStudio里的算力也派不上用场了。。。

[2022-08-12 10:18] haoyuying commented on #2428
是你的图比较大吗，轻量化模型应该不会卡，我也用的mac

[2022-08-12 10:35] Winnie202 commented on #2443
Because cuda memory is not enough, it is interrupted. Is it normal that the value of train/lr does not change?

[2022-08-12 11:24] wangcker commented on #2272
在 /Users/wangcker/opt/miniconda3/envs/aihealth/lib/python3.9/site-packages/eiseg/inference/predictor/base.py
第147行添加如下代码（找到自己的安装包目录对应的位置）
   input_names.append("coord_features")
#我猜下面这行也行
#input_names.append("coord_features_org")
最终效果如下

即可正常使用，bug真多啊

[2022-08-14 11:10] Dawn-bin commented on #2409
Anything update on this?

[2022-08-14 14:51] chen-del opened #2448 "[General Issue] 样本损失权重"
负样本损失权重也就是背景权重，在那个地方可以设置，因为要分割的类别像素相比于背景像素要少很多，我想将负样本损失权重增大，用于减少像素误分割的，请问我需要在yml文件中的那个位置进行设置。

[2022-08-15 06:40] huangwan-jiayi opened #2449 "[General Issue]关于Cityscapes数据集的有关问题"
请问是否又方法将cityscapes数据集中的验证集中的label改变下可视化效果。
原：
![1a354a0f8d956f8f0e5b5a260f4109a](https://user-images.githubusercontent.com/71338215/184588048-b557244e-1cb4-4d68-beea-16d28f3376ea.png)
想修改成与预测（predict.py）出来结果相类似的这种：
![4d060a84470e6467ed212b77479927d](https://user-images.githubusercontent.com/71338215/184588121-8784a41f-baf1-47cf-93dc-74c38525c651.png)

 另外还想请教，如何获取得到cityscapes数据集中test集的label，便于对自己修

[2022-08-15 07:26] haoyuying commented on #2447
paddle支持将paddle转化成onnx，然后再用onnx转化成tensorflow吧。具体转化可以去该repo下提问：https://github.com/PaddlePaddle/Paddle2ONNX

[2022-08-15 07:28] zhenzi0322 commented on #2447
好的，我已经知道了，谢谢

[2022-08-15 07:28] #2447 closed, assigned to haoyuying

[2022-08-15 07:37] haoyuying commented on #2449
只能讲gt用https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/paddleseg/core/predict.py#L141
这个函数再重新映射一下生成这个结果了。test官方应该没有放出label。

[2022-08-15 07:48] huangwan-jiayi commented on #2449
可以 指教一下怎么做映射么？ 另外，我看别人论文里在test集做的评估指标是怎么得到的呢？

[2022-08-15 08:10] zhenzi0322 opened #2451 "[General Issue] 为什么PaddleSeg中的Modnet模型在PaddleLite中预测不了效果呢"

[2022-08-15 08:55] haoyuying commented on #2448
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/paddleseg/models/losses/cross_entropy_loss.py#L40
cross entropy loss中的weight参数可以设置各个类别的权重，在yml中loss设置中增加weight及设置的参数即可。

[2022-08-15 08:58] haoyuying commented on #2449
就需要你把label的格式转化成pred的输入格式，colormap的格式也保持统一，然后调用utils.visualize.get_pseudo_color_map这个函数。test是有一个网站上传，具体可以找一下cityscape的官网查找。

[2022-08-15 09:23] wuyefeilin commented on #2451
一般是数据预处理的问题。您详细检查下你的数据预处理和配置文件中val_dataset下transforms的处理流程是否一致

[2022-08-15 09:54] 1344265305 opened #2453 "请问如何降低Paddle inference中的preprocess_time"
使用ppliteseg T2模型,TensorRT加速推理，3090 cuda11.6，1920*1080分辨率 ，fps只有十几。

benchmark显示大部分时间用在预处理上了，想知道如何降低预处理的时间

2022-08-15 16:30:44 [INFO]       cpu_rss(MB): 4755.7461, gpu_rss(MB): 2065.0, gpu_util: 12.0%
2022-08-15 16:30:44 [INFO]       total time spent(s): 16.8591
2022-08-15 16:30:44 [INFO]       preprocess_time(ms): 75.1885, inference_time(ms): 4.7489, postprocess_time(ms): 4.3581

另外想问一下加载onnx模型的i

[2022-08-15 10:02] TD-wzw opened #2454 "pp-Human的v2版本用的是什么算法？"
请问下人像分割v2里边的MobileSeg这个使用的是什么算法？只看到了backbone是mobilenetv3，想知道具体是由什么算法哪个网络改进得到的v2版本的人像分割网络

[2022-08-16 00:59] m828 opened #2455 "空间注意力加通道注意力"

[2022-08-16 01:13] #2455 closed, assigned to nobody

[2022-08-16 01:39] m828 opened #2456 "[General Issue]空间注意力加通道注意力"
我用ppliteseg跑自己数据集，损失函数为交叉熵，miou为81.2，损失函数改为focal，miou为83.4。
我发现源码只用了空间注意力，我就尝试把通道注意力加进去，然后损失函数为交叉熵，miou为83.0（明显提升了），但是损失函数改为focal，开始的时候损失就变的很低，但miou并不高，也提不上去，只有四五十，与前面的三次相比，差的很多，所以想问一下这样的情况怎么解决，是过拟合了吗？

[2022-08-16 01:43] m828 commented on #2456
![Uploading image.png…]()
空间注意力加通道注意力+focal的损失

[2022-08-16 01:55] zhenzi0322 commented on #2451
ok

[2022-08-16 01:55] #2451 closed, assigned to wuyefeilin

[2022-08-16 03:13] wuyefeilin commented on #2425
新版本已经修复该问题了。

学习率问题不一定需要修改，你可以做一下对比实验

[2022-08-16 03:15] #2405 closed, assigned to wuyefeilin

[2022-08-16 03:16] #2308 closed, assigned to wuyefeilin

[2022-08-16 03:16] #2301 closed, assigned to wuyefeilin

[2022-08-16 03:20] juncaipeng commented on #2453
影响预处理的是cpu性能。

我们主要验证了trt7，trt8估计也是支持的。

[2022-08-16 03:23] juncaipeng commented on #2454
是PaddleSeg自己搭建的移动端模型，具体可以参考

![image](https://user-images.githubusercontent.com/52520497/184791444-4699fddf-279b-4cba-b8bd-204ebe9d8b83.png)

[2022-08-16 03:43] chen-del opened #2457 "[General Issue] resizeop 结构修改"
我看到结构中大部分采用的都是Resize op 上采样，但是这种形式的导出并不是一种常用的算子，有没有一种普通的上采样层替换掉这个resize 例如使用反卷积层替换，会不会影响特征层提取特征等等

[2022-08-16 03:46] 1344265305 commented on #2453
请问能否简化预处理的流程呢

[2022-08-16 07:12] juncaipeng commented on #2456
focal loss相比CE loss，数值会更小，是否可以多训练一下，同时调整一下学习率。

[2022-08-16 07:13] juncaipeng commented on #2457
resize op还是比较常见的，不同预测框架都可以支持对齐。
反卷积的算量比较大，而且可能出现棋盘效应。

[2022-08-16 07:14] juncaipeng commented on #2409
Reinstall other version PaddlePaddle.

[2022-08-16 07:14] #2409 closed, assigned to haoyuying, juncaipeng

[2022-08-16 07:19] m828 commented on #2456
是训练的不够吗，相比CE，训练已经翻了四倍，学习率调小是否可行，可以的话我再尝试一下

[2022-08-16 08:21] chen-del commented on #2457
@juncaipeng 我看到resize op roi 里面相比于常见的 folat32[0]有所区别，它貌似使用的是folat32[8] [1,1,1,1,1,1,1,1]

[2022-08-16 10:30] Viktorjc98 opened #2459 "[General Issue]计算auc_roc时，所有图片的大小一定要相同吗？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-08-17 02:20] zhenzi0322 opened #2461 "[General Issue] 模型优化后使用不了gpu"
您好！我通过`paddelite`进行模型优化之后，使用不了机器上的`gpu`。这是为什么呢

[2022-08-17 03:50] wuyefeilin commented on #2459
对应的预测图和gt大小相同即可

[2022-08-17 04:01] wuyefeilin commented on #2461
麻烦给一下具体的优化过程及相关的环境信息。如果报错信息，请提供相关日志

[2022-08-17 05:07] Winnie202 opened #2462 "eiseg can't install"
When I use eiseg annotation, I get the following error,how to solve it please
![2022-08-17 13-05-38屏幕截图](https://user-images.githubusercontent.com/86768013/185039116-5aa7136f-edb0-4360-a0d8-2b29cc3699cb.png)

![2022-08-17 13-06-01屏幕截图](https://user-images.githubusercontent.com/86768013/185039205-3ad7a0c0-312d-4a8d-b683-29a4292b9ba2.png)

[2022-08-17 06:30] zhenzi0322 commented on #2461
没有报错信息，cpu下可以正常使用，就是使用不了`gpu`。

环境信息如下：
[code]

[2022-08-17 06:32] zhenzi0322 opened #2463 "[General Issue] 怎么使用golang调用model.pdiparams和model.pdmodel这两个文件进行预测"
您好，我想尝试使用`Golang`来调用导出后的模型。请问下官方有没有`PaddleSeg`使用`golang`的示例呢？或者是怎么调用模型并进行预测呢？

[2022-08-17 10:55] wuyefeilin commented on #2463
您好， PaddleSeg 暂时没有使用golang的示例

[2022-08-17 11:00] haoyuying commented on #2462
opencv-python doesn't  install successfully, maybe you can try this version: 4.5.5.64

[2022-08-17 11:03] zhenzi0322 commented on #2463
好的。

[2022-08-17 11:03] #2463 closed, assigned to wuyefeilin

[2022-08-17 11:21] juncaipeng commented on #2461
paddlelite的相关问题，可以在paddleite repo提issue咨询，谢谢

https://github.com/PaddlePaddle/Paddle-Lite

[2022-08-17 11:21] #2461 closed, assigned to juncaipeng

[2022-08-17 11:22] juncaipeng commented on #2457
可以详细解释下吗？ 没太懂你的意思

[2022-08-17 14:10] hackkhai commented on #2348
@wuyefeilin its almost been a month please check the mail

[2022-08-18 03:00] gg22mm commented on #2365
我也遇到同样的问题了，不知道怎么回事？

[2022-08-18 03:03] gg22mm commented on #2365
我也遇到同样的问题了，不知道怎么回事？  图片肯定是存在的，路径也没问题，很奇怪:  只有是deploy 才有这个问题
如：
predict.py 成功
python predict.py --config configs/quick_start/pp_liteseg_optic_disc_512x512_1k_st.yml  --model_path ./weigth/model.pdparams --image_path data/tongue/JPEGImages/1json.png --save_dir output #这个是成功的

deploy：失败
python deploy/python/infer.py --config ./inference_model/deploy.yaml --image_path data/tongue/JPEGImages/1json.png

[2022-08-18 03:47] chen-del commented on #2457
@juncaipeng 就是将resize op 的roi 和 scales 设置为空张量，而不是使用roi = float32[8]   [1,1,1,1,1,1,1,1]。有点特别

[2022-08-18 06:19] juncaipeng commented on #2457
通常resize可视化都是这样啊，没有roi

![image](https://user-images.githubusercontent.com/52520497/185308044-9854e5bd-cced-4814-9c4f-0d1fb7e51f98.png)

[2022-08-18 06:20] juncaipeng commented on #2456
嗯  需要你尝试调参

[2022-08-18 06:53] zhenzi0322 opened #2464 "[General Issue] Mattings中的estimate_foreground_ml函数执行时间较长"
请问有什么办法可以优化estimate_foreground_ml函数中的执行时间较长问题不？

[2022-08-18 06:59] chen-del commented on #2457
转化成onnx 好像就有了
![image](https://user-images.githubusercontent.com/58769772/185324223-e60aa0c6-592d-4434-b21a-2282741a071d.png)

[2022-08-18 08:16] wuyefeilin commented on #2464
如果追求速度可以通过--fg_estimate False关闭前景评估功能

[2022-08-18 08:18] zhenzi0322 commented on #2464
这个知道，如果关闭前景评估就会出现另一个问题，抠好的图片体积会变得很大，边缘还会有白边。

[2022-08-18 08:20] m828 commented on #2456
好的，感谢

[2022-08-18 08:21] wuyefeilin commented on #2464
如果是单纯为了减小体积的话可通过将alpha范围外的像素值设置成0，这样存储图片的时候就会变小很多

[2022-08-18 08:32] zhenzi0322 commented on #2464
这种我试过，但是处理后的效果不好

[2022-08-18 10:26] CuberrChen opened #2466 "[Bug] An issue of SemanticConnectivityloss"
platform: Linux-4.15.0-140-generic-x86_64-with-debian-stretch-sid
Python: 3.7.4 (default, Aug 13 2019, 20:35:49) [GCC 7.3.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.1, V10.1.243
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: Tesla V100-SXM2-32GB']
GCC: gcc (Ubuntu 7.5.0-3ubuntu1~16.04) 7.5.0
PaddleSeg: 2.4.0
PaddlePaddle: 2.3.0-rc0
OpenCV: 4.1.1

[2022-08-18 10:36] Bobholamovic commented on #2466
Please provide a minimal example to reproduce this bug.

[2022-08-18 12:29] CuberrChen commented on #2466
The problem has been solved. I used the originally released version of paddleseg with bugs.

[2022-08-18 12:29] #2466 closed, assigned to Bobholamovic

[2022-08-18 15:55] zqy396 opened #2467 "[General Issue]推理错误"
我在推理的时候，输出的预测结果shape不对，按理说应该是（64，128，128），结果却是（1，64，128，128），错误的npy大小约为正常预测结果的两倍。这是什么原因？
---

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（PaddleSeg release/2.3）
 2. PaddlePaddle版本：（PaddlePaddle 2.3.0）
 3. 操作系统信息：（Linux）
 4. Python版本号：（python3.7）
 5. CUDA/cuDNN版本：（ CUDA10.2）
 6. 其他内容: （增加其他与问题相关的内容）

[2022-08-19 13:28] pyddyp opened #2469 "[General Issue安装出现cannot import name '_C_ops' from partially initialized module 'paddle' (most likely due to a circular import"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-08-19 17:52] wrobcio789 commented on #2276
Really looking forward to that performance boost

[2022-08-22 01:40] shiyutang commented on #2467
The shape of the predicted result is determined by your network and input.  If you want to change the shape of the output, you can change it at the end of network or change the input.

[2022-08-22 01:43] shiyutang commented on #2469
This problem is caused by the incorrect installation of paddlepaddle. You need to reinstall paddle according to your device.
If you are using cuda 11.1, you can install it through
`python -m pip install paddlepaddle-gpu==2.3.2.post111 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html`

[2022-08-23 02:19] #2456 closed, assigned to juncaipeng

[2022-08-23 03:34] wuyefeilin commented on #2464
目前我们没有满足您要求的具体方法，如果您有具体的项目应用，咱们可以进行合作，共同探讨哈

[2022-08-23 03:43] wuyefeilin commented on #2348
Sorry, but I Do not receive your mail. If you don't mind, please resent it.

[2022-08-23 03:59] zhenzi0322 commented on #2464
好的，怎么探讨呢？有qq或wx联系方式不

[2022-08-23 07:04] chen-del opened #2474 "[General Issue] 我想问下数据是否支持单通道输入进行训练"
我看到通道输入维度时三通道的，怎么变为通道进行训练，如果使用单通道也就是灰度输入，我使用voc进行训练会不会受到影响

[2022-08-23 09:04] juncaipeng commented on #2474
目前没有支持设置输入通道数，默认都是三通道，不过我们会考虑尽快加入。（预计一两周时间）
如果你现在就想使用，需要简单修改一下数据处理模块和模型的第一个输入conv。或者将图像改为3通道的。

[2022-08-23 09:17] chen-del commented on #2474
@juncaipeng  那我直接改输入哪里嘛，直接取输入的第一个通道，放入到里面进行运算，另外我想在mobleseg网络前面加上一个特征提取层，需要怎么做

[2022-08-23 09:24] chen-del commented on #2474
@juncaipeng 或者需要简单修改一下数据处理模块和模型的第一个输入conv，需要在那个位置进行修改。因为我看到大部分都是配置文件或者是模块。

[2022-08-23 10:38] hackkhai commented on #2348
ca you share anyother mail id? maybe baidu mail id is not working for me

[2022-08-24 02:18] juncaipeng commented on #2474
你可以等一等，我们这两天就提个pr支持单通道输入。

[2022-08-24 02:19] juncaipeng commented on #2457
这个不太清楚，应该对速度影响不大。

[2022-08-24 02:19] #2457 closed, assigned to juncaipeng

[2022-08-24 02:21] juncaipeng commented on #2453
预处理是跑在cpu上的，速度会慢一些，有一个办法是将预处理使用gpu实现，或者将预处理的normalize算子集成到模型内部。

[2022-08-24 05:54] chen-del commented on #2474
我重新梳理一下这个，PR后，是首先图片输入任意选择单通道和三通道输入是嘛，然后标签label可以是伪彩图也不用改成灰度是嘛进行训练，也就是单通道图片加label伪彩图进行训练是嘛

[2022-08-24 05:54] chen-del commented on #2474
@juncaipeng

[2022-08-24 09:09] wuyefeilin commented on #2464
<img width="345" alt="image" src="https://user-images.githubusercontent.com/30919197/186378726-ce92545f-bb1d-42cb-a099-d204cdf1d8f3.png">
可以扫码加群哈

[2022-08-24 09:09] #662 closed, assigned to wuyefeilin

[2022-08-24 09:10] #663 closed, assigned to wuyefeilin

[2022-08-24 09:10] #673 closed, assigned to wuyefeilin

[2022-08-24 09:22] xieyifeng opened #2481 "[General Issue]关于EIseg视频输入自动resize的问题"
是否可以EISeg的代码中修改视频输入会自动resiz到一定尺寸的问题，如果可以修改的话是在哪里进行修改

[2022-08-24 09:38] xieyifeng opened #2482 "[General Issue]关于EIseg中是否可以预先导入mask的问题"
1. 请问EIseg中可以预先导入一些mask信息么，如果可以的话是怎么操作的
2. 请问EIseg中使用掩膜和不使用掩膜有什么区别

[2022-08-24 09:47] #2464 closed, assigned to wuyefeilin

[2022-08-24 11:22] Copilot-X commented on #2427
我也遇到这个bug，目前有解吗

[2022-08-24 11:22] Copilot-X commented on #2427
bug解决了吗

[2022-08-24 11:28] kejom-ou commented on #2427
换了一台服务器，重新跟着教程跑，就没有问题了~~~

[2022-08-24 14:40] lfbcccc opened #2483 "[General Issue]RuntimeError: The specified component was not found MattingDataset."
1.按照PP-Matting说明文档安装了Matting下的 requirements.txt后  按照下命令训练模型
python train.py      --config  Matting/configs/quick_start/modnet-mobilenetv2.yml
                               --do_eval  --use_vdl  --save_interval 500  --num_workers 5
                               --save_dir output/ppmating_coal
出现
 File "train.py", line 230, in <module>
    main(args)
  File "train.py", line 184, in main
    train_

[2022-08-25 00:17] dinglei0719 commented on #2416
PaddleSeg 现有的模型，有哪个是支持多任务的么？就是能同时预测表格的横线和竖线（因为线会有交点，多以有的像素会有2个label，有哪个模型支持1个encoder接2个decoder的么）

[2022-08-25 07:08] haoyuying commented on #2481
eiseg不支持该功能，如果需要对视频进行前处理或者后处理，请单独写一个脚本处理。

[2022-08-25 07:11] haoyuying commented on #2482
eiseg能够导入用eiseg标注的结果，用导入文件夹的方式会自动在文件夹下保存标注结果，下次标注该文件夹的时候会自动导入上次标注的结果，但目前图像标注支持，视频是不支持导入的。
使用掩膜是使用上一次标注生成的mask作为先验信息进一步推倒，不使用就是不用该部分先验信息，具体可以参考ritm的论文。

[2022-08-25 07:36] LLsmile commented on #2376
请问怎么调整log的iter步长？默认好像是10iter log一次，但是看着太频繁了。还有eval的 iter也没看到哪里设置，我的默认是500iter测试一次。

[2022-08-25 08:07] Bobholamovic commented on #2376
在训练时可以指定`--log_iters`选项调整log步长，`--save_interval`选项调整eval的间隔。

[2022-08-25 10:03] XuyangPan commented on #2134
解决了吗？我也报了同样的错误，怎么解决的

[2022-08-25 14:02] lusichao commented on #2134
没解决，后来一直没再用。

[2022-08-26 02:41] juncaipeng commented on #2416
最近paddleocr开源了表格文字提取的功能，你可以取看看，说不定可以直接使用。
https://github.com/PaddlePaddle/PaddleOCR
https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.6/ppstructure

[2022-08-26 02:42] juncaipeng commented on #2474
对

[2022-08-26 03:19] chen-del commented on #2474
@juncaipeng ,下一周能增加出，这个PR功能，能快一丢丢嘛，因为时间上比较赶，谢谢！

[2022-08-26 03:49] chen-del opened #2486 "Focal Loss 疑问"
Focal Loss 损失在yaml文件中如何配置每个类别权重 ，我按照softmaxloss那种配置形式是有问题的
![image](https://user-images.githubusercontent.com/58769772/186813392-0e180226-bab0-48b0-be8a-5b64c9d7ff1a.png)
报错：
assert logit.shape[1] == 2, "The channel of logit should be 2."
AssertionError: The channel of logit should be 2.

[2022-08-26 06:25] Viktorjc98 commented on #2459
那是不是验证集要resize成一样的大小啊？

[2022-08-26 06:37] chen-del commented on #2457
@juncaipeng 有没有方式将 align_corners 设置为True ,因为这种方式之后转化的onnx属性是half_pixel , 我想将其变为align_corners，这样子对结果有影响吗
![image](https://user-images.githubusercontent.com/58769772/186837942-9c194182-6bb0-400c-ad50-952f0cfa85cb.png)

[2022-08-26 06:41] lizhuo1414 opened #2487 "[General Issue] Jeston Xavier NX上TRT部署失败"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: PaddleSeg release/2.6
 2. PaddlePaddle version: PaddlePaddle GPU 2.3.2
 3. Operation system: Ubuntu 18.04
 4. Python version: Python3.6
 5. CUDA/cuDNN version: CUDA10.2，cuDNN 8.2.1 Tensorrt 8.0.1.6
 6. Additional context: (Add any other context about the problem)

---

欢迎您反馈Paddle

[2022-08-26 09:56] Viktorjc98 commented on #2459
貌似就是要相同，不然np.concatenate，拼接不了！

[2022-08-27 00:09] liyunfan13 opened #2488 "[Bug] 设置 random seed 无效"
您好，

我在训练时使用 --seed 参数， 但是在使用同一个seed的情况下，先后两次训练的结果不一样。
我用的是教程中的训练指令：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/train/train.md

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：2.6
 2. PaddlePaddle版本：2.3.1
 3. 操作系统信息：Linux
 4. Python版本号：3.8.5
 5. CUDA/cuDNN版本：CUDA11.6/cuDNN8.4.1
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
 7. 详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
 8. 运行指令或

[2022-08-28 09:07] OpenCDR commented on #2487
您好，这个问题有没有解决呢

[2022-08-29 01:30] haoyuying commented on #2486
focal loss 暂不支持为每个类别配置权重，可更换为cross entropy loss支持该功能。

[2022-08-29 01:46] shiyutang commented on #2488
由下图可见，random seed 只能控制关于paddle/numpy/random生成数据时一致，但是训练结果一致还与数据shuffle方式，网络初始化、卷积计算等有关，如果需要获取完全相同的训练结果，建议关闭shuffle，使用同样参数初始化，并打开[cudnn_deterministic](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/flags/cudnn_cn.html#flags-cudnn-deterministic)开关。
<img width="401" alt="image" src="https://user-images.githubusercontent.com/34859558/187106801-afa7c709-cae9-41fe-b040-7b851ea98a77.png">

[2022-08-29 02:06] lizhuo1414 commented on #2487
没

[2022-08-29 02:16] liyunfan13 commented on #2488
好的，谢谢！

[2022-08-29 02:16] #2488 closed, assigned to shiyutang

[2022-08-29 02:42] juncaipeng commented on #2487
收到，这是一个bug，我们这两天就会修复。
上一个版本 2.5 应该没有这个bug，如果你们着急，可以先使用上个版本。

[2022-08-29 05:07] juncaipeng commented on #2487
修复pr：https://github.com/PaddlePaddle/PaddleSeg/pull/2490

[2022-08-29 06:48] #2423 closed, assigned to juncaipeng

[2022-08-29 06:48] #2416 closed, assigned to juncaipeng

[2022-08-29 06:54] #2407 closed, assigned to haoyuying

[2022-08-29 06:55] #2401 closed, assigned to Bobholamovic

[2022-08-29 06:55] #2454 closed, assigned to juncaipeng

[2022-08-29 06:55] #2453 closed, assigned to juncaipeng

[2022-08-29 06:56] #2444 closed, assigned to shiyutang

[2022-08-29 06:57] #2399 closed, assigned to Bobholamovic

[2022-08-29 06:58] #2391 closed, assigned to juncaipeng

[2022-08-29 06:58] #2396 closed, assigned to Bobholamovic

[2022-08-29 06:58] #2410 closed, assigned to haoyuying

[2022-08-29 06:58] #2425 closed, assigned to wuyefeilin

[2022-08-29 06:59] #2427 closed, assigned to Bobholamovic

[2022-08-29 06:59] #2428 closed, assigned to haoyuying

[2022-08-29 06:59] #2431 closed, assigned to wuyefeilin

[2022-08-29 07:46] wuyefeilin commented on #2459
麻烦给一下具体报错信息哈

[2022-08-29 07:48] wuyefeilin commented on #2483
请在Matting 目录下运行目录哈

[2022-08-29 08:02] lfbcccc commented on #2483
Matting没有train.py文件  我复制了根目录下的train文件后运行还是出现这样
PS G:\PaddleSeg-release-2.6\Matting> python train.py      --config G:\PaddleSeg-release-2.6\Matting\configs\quick_start\modnet-mobilenetv2.yml     --do_eval   --use_vdl    --save_interval 500      --num_workers 5      --
save_dir output/PPmating
2022-08-29 16:01:14 [INFO]
------------Environment Information-------------
platform: Windows-10-10.0.19041

[2022-08-29 08:15] xieyifeng opened #2491 "[Bug] only support 'to_tensor()' in dynamic graph mode"
在运行paddleseg的时候，出现问题：
We only support 'to_tensor()' in dynamic graph mode, please call 'paddle.disable_static()' to enter dynamic graph mode.
一般第一次运行不会出现上述问题，第二次运行的时候就是报错。
paddleseg环境：
paddle-bfloat：0.1.7
paddlepaddle-gpu：2.3.2.post116

[2022-08-29 11:02] Vinbert0203 commented on #2427
有谁知道是什么问题么？我也遇到了

[2022-08-29 11:02] wuyefeilin commented on #2483
进入Matting目录后，参考教程运行https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/Matting#training-evaluation-and-prediction

[2022-08-29 11:06] Vinbert0203 commented on #2427
File "train.py", line 230, in <module>
    main(args)
  File "train.py", line 206, in main
    train(
  File "/nas/liwenbo/PaddleSeg/paddleseg/core/train.py", line 207, in train
    loss_list = loss_computation(
  File "/nas/liwenbo/PaddleSeg/paddleseg/core/train.py", line 55, in loss_computation
    loss_list.append(coef_i * loss_i(logits, labels))
  File "/usr/local/miniconda3/envs/paddle/lib/py

[2022-08-29 16:18] duduzai2019 commented on #2280
好难过呀，用eiseg标了好多天,然后发现它的json和labelme的不一样！！！，求解决，急，在线等！！！

[2022-08-29 16:23] duduzai2019 commented on #1361
同求

[2022-08-30 00:42] W2YN commented on #2280
自己写个转的方法不就行了

[2022-08-30 01:47] haoyuying commented on #2491
请问你使用的cuda，cudnn的环境及运行的paddleseg模型是什么呢，出现该问题的原因一般是由于cuda、cudnn及paddle版本不匹配导致的，建议从该方面进行排查。建议使用cuda10.2及cudnn7.6.5

[2022-08-30 07:13] 0Xiao0 opened #2493 "[General Issue]matting 使用PPM-100数据集训练，训练后的模型预测效果怎么会是这样的？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-08-30 09:21] tarun-msd opened #2495 "Model performance significantly worse between predict.py and infer.py"
Hey, I've trained my modnet matting model using PaddleSeg, and I tried using both predict.py and infer.py to perform inference.
predict.py gives accurate, very clean outputs. I want to deploy the model so I ran export.py with the config and created an inference model. Now, when I use infer.py to get inference outputs of my model, the predicted images look very poor.
The val_transforms have been co

[2022-08-30 11:49] juncaipeng commented on #2474
PR： https://github.com/PaddlePaddle/PaddleSeg/pull/2496

使用示例如下，在配置文件中的数据集部分，添加img_channels字段等于1
![image](https://user-images.githubusercontent.com/52520497/187429090-5394ae3f-b9db-4e3e-9b22-c62806122938.png)

[2022-08-30 14:16] ujsyehao opened #2498 "matting/modnet 测试效果不如官方开源modnet 测试效果[Bug]"
首先是官方开源 https://github.com/ZHKKKe/MODNet 测试图片效果

![matte](https://user-images.githubusercontent.com/17454232/187460623-47ef90fa-3b94-4dc8-aa21-87557667f165.png)

第二个是使用 https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/Matting/configs/modnet/modnet-mobilenetv2.yml 测试图片效果
![input_full_alpha_modnet_mobilenetv2](https://user-images.githubusercontent.com/17454232/187460925-0d5b8549-f4da-4027-

[2022-08-31 02:04] juncaipeng commented on #2491
可以将复现方法提供一下。

[2022-08-31 02:08] #2487 closed, assigned to juncaipeng

[2022-08-31 02:10] #2474 closed, assigned to juncaipeng

[2022-08-31 02:11] #1838 closed, assigned to juncaipeng

[2022-08-31 02:16] wuyefeilin commented on #2495
When you export the model, it will generate a deploy.yaml which can be used in infer.py without any procession.

[2022-08-31 02:18] wuyefeilin commented on #2493
PPM-100 is a tutorial dataset which is too small to support you to train a high quality model. Out pretrained model can be used directly.

[2022-08-31 02:20] wuyefeilin commented on #2498
It is not fair to compare by using one image. May be you can use more image witch is not in PPM-100.

[2022-08-31 02:22] #2493 closed, assigned to wuyefeilin

[2022-08-31 08:09] gg22mm opened #2501 "我觉得产品做得很好，推理速度能再快就就完美了"
我觉得产品做得很好，推理速度能再快就就完美了

我用模型：modnet-mobilenetv2.yml 做分割

cpu_threads = 10
device = 'cpu'
enable_mkldnn=True
enable_auto_tune = False

推理速度都在： 1.8736560344696045   到2秒这样，能不能再快些， 如果能达到0.* 秒以下就完美了。

不知道有什么办法，用的模型应该是最小的了吧？

图片分类检测时间: 0.2739129066467285
图片分类清晰度: 0.24283409118652344
分割时间: 1.943784475326538
目标检测时间: 1.2342767715454102

总时间: 3.695807933807373
后面还会添加模型， 就越来越慢了

[2022-08-31 08:09] tarun-msd commented on #2495
@wuyefeilin Yeah I'm aware of that, I used deploy.yaml as my config for infer.py. My problem is there's a significant difference in prediction quality as shown above between using predict.py and infer.py.
Can you help me understand why that's happening?

[2022-08-31 08:39] duduzai2019 commented on #2280
你好，可以参考一下你的转换代码吗，我用eiseg标注生成的json格式和labelme的json格式不一样，搞了好几天都训练不了
谢谢
邮箱：1194864321@qq.com

[2022-08-31 08:49] duduzai2019 opened #2502 "用eiseg标注的json格式怎么转换成coco格式"
你好，我用eiseg标注的时候生成了json格式保存，请问一下还可以转换成coco格式吗
有没有提供转换的py文件，谢谢！！！

[2022-08-31 08:51] duduzai2019 commented on #1361
你好，我之前保存成json格式，现在想用coco格式，请问您转换成功了吗？？？

[2022-08-31 08:51] duduzai2019 commented on #1361
你好，我之前保存成json格式，现在想用coco格式，请问怎样可以转换成coco格式

[2022-08-31 08:55] duduzai2019 commented on #1534
你好，您的这个eiseg的json转labelme的json文件到哪里可以下载，我现在用eiseg标注了200图片用不了！

[2022-08-31 09:04] duduzai2019 commented on #1534
你好，请问这个脚本是哪个格式转那个

[2022-08-31 15:35] duduzai2019 commented on #1313
请问我用eiseg标注生成的coco文件可以用于语义分割训练吗？？

[2022-09-01 02:40] Bobholamovic commented on #2501
可以尝试使用warmup，并且一次推理一组而不是一张图像，这样可以进一步提速~

[2022-09-01 02:46] gg22mm commented on #2501
循环推理也是一样的，我是进行多次的，不是一次一次。 你可以试一下， 实战一下才知真理，我可以提供模型给测试~~

[2022-09-01 02:53] Bobholamovic commented on #2501
好的。

实际上推理时间与输入图像尺寸、设备CPU、内存等因素有很大的关系，在[这里](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/test_tipc/docs/benchmark_train.md)我们统计了不同模型的benchmark信息，使用标准配置时，在我们的服务器上FPS>1的模型应该还是有很多的。

[2022-09-01 03:01] haoyuying commented on #2502
目前没有提供，我们近期会评估这项需求，感谢您的建议，增加之后我会在本issue通知您。

[2022-09-01 03:07] gg22mm commented on #2501
嗯， 但是对比一下

图片分类检测时间: 0.2739129066467285
图片分类清晰度: 0.24283409118652344
分割时间: 1.943784475326538
目标检测时间: 1.2342767715454102

看看有没有优化空间

cd PaddleSeg/Matting
[我的模型下载在这里]()  ,很难商用

[2022-09-01 03:31] Bobholamovic commented on #2501
我尝试在本地跑了这个模型，使用Python部署，只跑一张图，尺寸为1024x2048，使用的Paddle Inference配置与你提供的相同：

[code]

得到性能指标如下：

[code]

为了帮助我们更好地分析优化策略，请提供如下信息：

1. 测试时使用的硬件配置，如CPU型号、CPU核数、内存大小等；
2. 使用的部署方式，如PaddleSeg提供的C++或Python部署方式；
3. 输入图像的尺寸；
4. 我注意到你还使用了分类、检测等模型，方便透露一下分割模型是如何与其它模型耦合的吗？

[2022-09-01 03:34] jolt2017 opened #2504 "paddleSeg SPPM模块"
请问最新发布的 paddleHumanSeg  里面的 SPPM 模块在哪个脚本里？ https://mp.weixin.qq.com/s/XkLJU7CvyGs7NCF0ypehFg

[2022-09-01 03:55] gg22mm commented on #2501
1、我是在这样的环境测试出的结果，很慢，怎么破？：
![3](https://user-images.githubusercontent.com/6648329/187827545-22f0b839-6923-4da7-aaf3-da9891176e86.png)
![44](https://user-images.githubusercontent.com/6648329/187827839-5543ab42-84c3-46ca-87cd-d3ebaecd1db5.png)

2、多个模型我是通过paddle-inference 自己套一起整合一起的如：
![66](https://user-images.githubusercontent.com/6648329/187828173-50d18c2a-9c75-4849-ae95-43b9b238c31d.png)
![5](https

[2022-09-01 04:15] Bobholamovic commented on #2501
硬件配置还是相当不错的！不过代码上可能需要修改一下：由于初始化模型需要时间，因此我想应该预先初始化Predictor，在用户上传图片时仅调用已经构建好的Predictor的`predict()`方法，得到结果。

[2022-09-01 06:46] wuyefeilin commented on #2495
Do you change the code? If yes, change the code detailedly. If not, can you give me the model before and after export.

[2022-09-01 06:56] Bobholamovic commented on #2504
你好！PP-HumanSeg v2的实现在[此脚本](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/paddleseg/models/pp_liteseg.py)中实现，SPPM模块位于：
https://github.com/PaddlePaddle/PaddleSeg/blob/dbc7a8471de1aad060975de099e52e6beffc94c0/paddleseg/models/pp_liteseg.py#L197

[2022-09-01 08:46] gg22mm commented on #2501
非常感谢！~~，这样做的话确实很快！ 多个模型下来才用了  总时间: 0.9087085723876953

[2022-09-01 08:46] #2501 closed, assigned to Bobholamovic

[2022-09-01 13:47] surelon opened #2506 "paddlesegFatalError: `Segmentation fault` is detected by the operating system."
框架版本:paddlePaddle 2.3.2，操作系统Linux（在百度飞桨平台上），python3.7.4，GPUv100 16G，
yml文件中只是修改了数据集路径
 详细的错误信息、相关log：
 /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/nn/layer/norm.py:654: UserWarning: When training, we now always track global mean and variance.
  "When training, we now always track global mean and variance.")
--------------------------------------
C++ Traceback (most re

[2022-09-01 14:13] tarun-msd commented on #2495
No I did not change the code anywhere.

[Google Drive Folder](https://drive.google.com/drive/folders/12q-KBBJFvfx77dcrqI2H2p1dcxcKRrQs?usp=sharing)

Folder contains two zip files : Before exporting and after exporting, with their config files.

[2022-09-02 01:00] zxc14751475 opened #2507 "BiseNet转onnx，onnxruntime推理没结果"
1. PaddleSeg版本：PaddleSeg 2.6
 2. PaddlePaddle版本：PaddlePaddle 2.1.0
 3. 操作系统信息：Linux
 4. Python版本号：Python3.6
 5. CUDA/cuDNN版本：CUDA10.2
 6. 其他内容:
！使用paddlaseg里quick_start的bisenet_optic_disc_512x512_1k.yml训练的模型转onnx模型成功了，paddleseg中的predict.py能检测出，但用onnxruntime推理没有结果，请问我需要检查哪里来解决这个问题

[2022-09-02 03:17] GourdTG666 commented on #1546
大佬，帮我看看这怎么弄？加载模型软件就闪退

INFO 2022-09-02 11:13:54,851 controller.py:111] User paddle compiled with gpu: use_gpu False
OMP: Error #15: Initializing libiomp5md.dll, but found libiomp5md.dll already initialized.
OMP: Hint This means that multiple copies of the OpenMP runtime have been linked into the program. That is dangerous, since it can degrade performance or cause incorrect results. The best thing

[2022-09-02 03:19] GourdTG666 commented on #1546
还有点击那个使用掩膜的开关，也闪退

Traceback (most recent call last):
  File "D:\Anaconda\envs\eiseg\PaddleSeg\EISeg\eiseg\app.py", line 966, in chooseMode
    self.controller.reset_predictor(predictor_params=self.predictor_params)
  File "D:\Anaconda\envs\eiseg\PaddleSeg\EISeg\eiseg\controller.py", line 322, in reset_predictor
    if self.model.model:
AttributeError: 'NoneType' object has no attribute 'model'

[2022-09-02 03:41] GourdTG666 opened #2508 "[Bug]加载模型（网络参数）或点击掩膜后软件闪退"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-09-02 03:41] GourdTG666 commented on #2508
大佬，帮我看看怎么弄？

[2022-09-02 08:06] juncaipeng commented on #2507
这个主要还是onnxruntime部分的代码问题，这部分请网络搜搜资料看看。

[2022-09-02 08:09] juncaipeng commented on #2506
从你给出的log看不出具体问题，大概率是外部环境的问题，建议先按照[quick start](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/quick_start_cn.md)跑一下看是否还出错

[2022-09-02 08:58] haoyuying commented on #2508
看起来是paddle装错了，请检查paddle，cuda和cudnn三者版本是否匹配，重点检查是不是在有cuda的显卡上装了cpu版本的paddle

[2022-09-03 03:41] htlbayytq opened #2509 "[Bug] 在AIStudio上试图训练自定义数据集时报错，"cannot identify image file %r" % (filename if filename else fp) PIL.UnidentifiedImageError: cannot identify image file"
在AIStudio上试图训练自定义数据集时报错。

运行代码：
!export CUDA_VISIBLE_DEVICES=0
!python train.py \
       --config configs/pp_liteseg/pp_liteseg_111.yml

报错如下：
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 870, in run
    self

[2022-09-05 02:00] shiyutang commented on #2509
根据报错信息可以看出图片读取时读取了json文件，因此需要查看train.txt，删去json等不能被PIL读取的文件名称。

[2022-09-05 02:39] GourdTG666 commented on #2508
我选的是cpu的版本啊，我这电脑是没独显的的，我就是用来简单学习一下的。

[2022-09-05 02:45] #2498 closed, assigned to wuyefeilin

[2022-09-05 09:04] haoyuying commented on #2508
看报错是paddle安装有问题，你先检查下paddle是否可用，看是否能够打印加载的静态图模型，如果paddle可用，请提供paddle版本及相关的本地环境，我们这边尝试复现一下。

[2022-09-05 10:24] zgsxwsdxg opened #2511 "eval log"
paddleseg/core/train.py 文件
if mean_iou > best_mean_iou:
                        best_mean_iou = mean_iou
                        best_model_iter = iter
                        best_model_dir = os.path.join(save_dir, "best_model")
                        paddle.save(
                            model.state_dict(),
                            os.path.join(best_model_dir, 'model.pdparams'))

[2022-09-05 10:31] zgsxwsdxg commented on #2511
打印的内容为 [EVAL] The model with the best validation mIoU (0.5000) was saved at iter 1000

[2022-09-05 12:00] haoyuying commented on #2511
是不是你本身的训练结果确实是1000iter最好，这里的代码我们已经用过多次，是没有问题的

[2022-09-05 12:48] surelon commented on #2506
好的，谢谢老师

| |
康朔
|
|
***@***.***
|
签名由网易邮箱大师定制
On 9/2/2022 ***@***.***> wrote：

从你给出的log看不出具体问题，大概率是外部环境的问题，建议先按照quick start跑一下看是否还出错

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-09-06 01:48] zgsxwsdxg commented on #2511
你好像没看逻辑，是这样的，就算我是1000iter最好，那么在大于1000后怎么会进入if mean_iou > best_mean_iou: 这个条件，说明1000后的模型mean_iou> best_mean_iou，并且代码best_mean_iou = mean_iou best_model_iter = iter是更新最新的iou和iter，但是log输出始终是[EVAL] The model with the best validation mIoU (0.5000) was saved at iter 1000，不知你明白我说的啥不？谢谢，细心看看这块的代码逻辑，

[2022-09-06 08:34] tarun-msd commented on #2495
Hi @wuyefeilin any idea why this is happening?

[2022-09-06 11:19] Zhengliang-Zhang commented on #2411
PaddlePaddle：2.3.1
CUDA：10.2.89
cudnn：7.6.5
也出现了相同问题

[2022-09-06 11:28] Zhengliang-Zhang commented on #2491
PaddlePaddle：2.3.1
CUDA：10.2.89
cudnn：7.6.5
也出现了相同问题

[2022-09-07 02:42] juncaipeng commented on #1286
![model](https://user-images.githubusercontent.com/52520497/188776753-4f1de663-b330-49aa-a3d5-fb1a9d7c40df.png)

[2022-09-07 02:43] juncaipeng commented on #1286
![portrait_shu_v2_withbg](https://user-images.githubusercontent.com/52520497/188776878-130f4f6a-6379-4fb0-87e4-9a7ee4707c1d.jpg)
![portrait_heng_v2_withbg](https://user-images.githubusercontent.com/52520497/188776884-56459228-88fb-47a2-bb40-4d41df4692ef.jpeg)

[2022-09-07 02:54] juncaipeng commented on #1286
![TMP](https://user-images.githubusercontent.com/52520497/188778302-3fa2e0fa-ca7f-4a64-ba0d-0e15eff097d4.jpeg)

[2022-09-07 03:32] Tangyuny commented on #2126
这个问题你解决了吗 @lcs1225

[2022-09-07 03:40] wuyefeilin commented on #2511
感谢您的反馈，经过再三确认，代码没有问题。每次eval，都会打印出历史最佳模型的mIoU及其出现的所在iter。

[2022-09-07 03:46] zgsxwsdxg commented on #2511
谢谢您的回答，没有问题就好，顺便问一下：在配置训练文件中
transforms:
    - type: RandomHorizontalFlip
    - type: RandomVerticalFlip
    - type: RandomDistort
      brightness_range: 0.4
      contrast_range: 0.4
      saturation_range: 0.4
     - type: RandomRotation
       max_rotation: 10
       im_padding_value: (0,0,0)
       label_padding_value: 0
    - type: RandomBlur
    - type: RandomScaleAspect
      min_scale: 0.

[2022-09-07 03:50] wuyefeilin commented on #2511
rotation后会改变图片大小，你可以是用crop或者resize等操作，让一个batch的图片大小一致

[2022-09-07 03:52] zgsxwsdxg commented on #2511
没太明白，我的transform是这样的：
 transforms:
    - type: RandomHorizontalFlip
    - type: RandomVerticalFlip
    - type: RandomDistort
      brightness_range: 0.4
      contrast_range: 0.4
      saturation_range: 0.4
    - type: RandomRotation
      max_rotation: 10
      im_padding_value: (0,0,0)
      label_padding_value: 0
    - type: RandomBlur
    - type: RandomScaleAspect
      min_scale: 0.8
      as

[2022-09-07 03:54] zgsxwsdxg commented on #2511
其实我后面是有resize的，不知如何改？

[2022-09-07 03:57] zgsxwsdxg commented on #2511
我yml配置文件是这个样子：
` transforms:
    - type: RandomHorizontalFlip
    - type: RandomVerticalFlip
    - type: RandomDistort
      brightness_range: 0.4
      contrast_range: 0.4
      saturation_range: 0.4
    - type: RandomRotation
      max_rotation: 10
      im_padding_value: (0,0,0)
      label_padding_value: 0
    - type: RandomBlur
    - type: RandomScaleAspect
      min_scale: 0.8
      aspect_r

[2022-09-07 06:11] wuyefeilin commented on #2511
请给一下具体的报错信息

[2022-09-07 07:05] zgsxwsdxg commented on #2511
W0907 15:03:09.787272 1387109 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.2, Runtime API Version: 11.2
W0907 15:03:09.787304 1387109 gpu_resources.cc:91] device: 0, cuDNN Version: 8.1.
2022-09-07 15:03:11 [INFO]      Loading pretrained model from https://bj.bcebos.com/paddleseg/dygraph/hrnet_w18_ssld.tar.gz
2022-09-07 15:03:12 [INFO]      There

[2022-09-07 07:20] zgsxwsdxg commented on #2511
自己解决了，不过还是要感谢你的耐心解答

[2022-09-07 07:20] #2511 closed, assigned to haoyuying

[2022-09-07 07:34] ziyaxuanyi opened #2520 "模型量化问题"
使用slim/quant/qat_train.py和slim/quant/qat_export.py训练导出的量化模型，如何部署体现加速效果？

直接将正常的模型替换成量化模型测试（python），在cpu上运行，没有明显的加速效果，模型存储体积还是和正常模型一样大。

怎样使用量化模型在cpu和gpu上部署呢？需要修改哪些配置？

[2022-09-07 07:46] wuyefeilin commented on #2520
请参考文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/deployment/inference/python_inference_cn.md#4-%E9%A2%84%E6%B5%8B

[2022-09-07 09:26] lcs1225 commented on #2126
在linux系统的环境训练就可以了

[2022-09-07 10:23] buptzwl opened #2522 "[General Issue] 无法访问 "懒人搜图"（Can not access the "No Code Matting" website ）"
文档地址：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/Matting/README_CN.md
遇到问题：无法访问懒人抠图演示网站（http://seg.itmanbu.com/）
错误信息：502 Bad Gateway

[2022-09-08 08:19] enddlesswm commented on #2199
I got this problem too ! paddlepaddle-gpu==2.3.2.post110  cuda==11.0 cudnn==8

[2022-09-08 08:58] chen-del commented on #2474
@juncaipeng，谢谢

[2022-09-08 11:26] juncaipeng commented on #2520
x86 cpu上部署量化模型： https://www.paddlepaddle.org.cn/inference/optimize/paddle_x86_cpu_int8.html

[2022-09-08 11:28] juncaipeng commented on #2491
请问执行的脚本是什么？  需要提供详细的复现步骤，我们来debug。

[2022-09-08 12:50] zhanglaplace opened #2523 "HumanSegMobileV2模型大小"
你好，请问HumanSegMobileV2(human_pp_humansegv2_mobile.yml)的模型大小是20多M吗，感觉在移动端用是不是太大了，虽然推理速度很快。

[2022-09-08 15:46] Zhengliang-Zhang commented on #2491
Paddlepaddle 2.3.2CUDA 10.2.89
cudnn 7.6.5

在pycharm终端中输入eiseg，等待开启后关闭eiseg，紧接着再次输入，就有较大概率报错，在等待一段时间后恢复正常
在cmd窗口中输入eiseg，等待开启后关闭eiseg，紧接着再次输入，就有较大概率报错且恢复几率很小

另外
在python3.10版本中，程序导入视频点击播放按钮后，闪退报错信息为传入了浮点数？已经删除了3.10版本，记忆不是很清晰了
谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年9月8日(星期四) 晚上7:28
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re:

[2022-09-09 02:48] shiyutang commented on #2523
如果有更快速度的需求，可以使用lite版本：PP-HumanSegV2-Lite.yml 手机端推理速度为15.3s：https://github.com/PaddlePaddle/PaddleSeg/blob/f3e14021ce/contrib/PP-HumanSeg/README_cn.md#32-%E9%80%9A%E7%94%A8%E4%BA%BA%E5%83%8F%E5%88%86%E5%89%B2%E6%A8%A1%E5%9E%8B

[2022-09-09 02:50] shiyutang commented on #2443
No, This is not normal. If your cuda memory is not enough, you can try to use smaller batchsize.

[2022-09-09 02:51] zhanglaplace commented on #2523
嗯，这边也做了尝试，这个模型的体积要小一倍左右，推理速度也确实快一些。推理速度都还好，就是觉得模型体积有点大。
另外如果修改输入分辨率，如192->224或者256，是不是stdc和mbv3这些基础backbone都需要重新训练？

[2022-09-09 06:36] GourdTG666 commented on #2508
![image](https://user-images.githubusercontent.com/110643877/189286763-777b0905-727b-46a0-9804-5784e0f4245c.png)

[2022-09-09 06:46] GourdTG666 commented on #2508
paddle的版本号是2.3.2

[2022-09-09 06:49] shiyutang commented on #2523
lite的模型体积也不满足要求么？ 其次修改输入分辨率不需要重新训练。

[2022-09-09 07:28] cspearl opened #2524 "[General Issue] Adding weights to loss"
Hi. I am trying to train a custom dataset - Binary segmentation.
1. But since there is a huge class imbalance, I want to add higher weight for the foreground class. How should I add that in my config file? (I think I have to put it under loss)
2. Also how do I change my optimizer? Where are the options for it? Like Adam etc.

[2022-09-09 08:10] xinyujituan opened #2525 "[Bug] 训练的时候报错，标签问题？我设置的2我的样本标签也只有2为什么还报错"
D:\ProgramData\anaconda3\envs\Paddle\python.exe "D:\Program Files\JetBrains\PyCharm 2020.1\plugins\python\helpers\pydev\pydevd.py" --multiproc --qt-support=auto --client 127.0.0.1 --port 50550 --file D:/Python/PaddleSeg-release-2.6/train.py --config configs/quick_start/deeplabv3p_resnet18_os8_optic_disc_512x512_1k_student.yml --do_eval --use_vdl --save_interval 500 --save_dir output
pydev debugger

[2022-09-09 08:58] shiyutang commented on #2524
All of your requirements can be changed in the config file. If you want to train a custom dataset, you need to have a custom config that can build of example config like the following: https://github.com/PaddlePaddle/PaddleSeg/blob/release%2F2.6/configs/upernet/upernet_resnet101_os8_cityscapes_512x1024_40k.yml

change weight:
<img width="347" alt="image" src="https://user-images.githubusercontent.

[2022-09-09 08:59] shiyutang commented on #2525
根据提供的内容没有看到你的报错信息

[2022-09-09 10:04] cspearl commented on #2524
Thanks for the reply.

Is the coef : [ w1, w2, w3, ... ] same as the weights? i.e. in the example you showed for two classes - weights are 1 and 0.4 ?

I actually wanted to know what are the other optimizers that can be used? Do you support only sgd?

[2022-09-12 02:33] juncaipeng commented on #2523
导出为paddlelite的模型，体积只有5.4MB，再加上使用paddlelite提供的int16量化（只需要在opt转换中添加一个参数），模型体积可以再减小一半。
模型下载：https://github.com/PaddlePaddle/PaddleSeg/blob/f3e14021ce/contrib/PP-HumanSeg/README_cn.md#31-%E8%82%96%E5%83%8F%E5%88%86%E5%89%B2%E6%A8%A1%E5%9E%8B

[2022-09-12 02:35] #2520 closed, assigned to nobody

[2022-09-12 02:36] juncaipeng commented on #2524
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/train/train_tricks.md

[2022-09-12 02:37] juncaipeng commented on #2525
标注的样本标签必须从0开始增加，如果有两类，必须是0和1，不可以是0和2

[2022-09-12 09:20] monimini opened #2529 "[Bug]OSError: (External) Cuda error(719), unspecified launch failure."
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version:  PaddleSeg release/2.5.0
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.2)
 3. Operation system: BML CodeLab
 4. Python version: 3.7.4
 5. CUDA/cuDNN version: CUDA10.1/cuDNN 7.6
 6. Full codes:
# 安装paddleseg
! pip install -q paddleseg
# 解压数据集
! mkdir /home/aistudio/DataSet

[2022-09-13 01:43] zhanglaplace commented on #2523
![image](https://user-images.githubusercontent.com/12178974/189788722-51e74b1c-4213-4da1-83d2-5fa7f08318bd.png)
这边导出的liteV2-lite模型有12M
- 导出方式
[code]

[2022-09-13 01:44] zhanglaplace commented on #2523
多谢，推理速度是满足的，只是导出的模型觉得有点大。

[2022-09-13 02:10] juncaipeng commented on #2529
你这安装的是paddlex进行训练、报错，建议直接使用paddleseg进行训练。

[2022-09-13 03:01] juncaipeng commented on #2523
哦  你是使用通用人像的模型。

使用其他尺寸，应该也可以直接使用我们发布的权重进行再次微调。

这个通用模型，我们暂时没有进行轻量化处理，后续会考虑加上

[2022-09-13 03:16] haoyuying commented on #2491
有没有具体的报错代码，这个报错是不是在使用视频模型之后就会出现paddle.to_tensor的错误，还是不使用video模型就会报错呢？

[2022-09-13 03:16] wuyefeilin commented on #2522
已修复

[2022-09-13 03:16] #2522 closed, assigned to wuyefeilin

[2022-09-13 03:26] Zhengliang-Zhang commented on #2491
第一个bug似乎与 https://github.com/PaddlePaddle/Paddle/issues/39027 中提到的相同，但是我没有解决。
第二个bug是另一个独立的bug，在python3.10版本中导入视频点击播放按钮就会报错：open start(self, int): argument 1 has unexpected type 'float'   start(self): too many arguments

[2022-09-13 03:28] Zhengliang-Zhang commented on #2491
在debug模式下也会有这个bug，不过程序可以正常运行

[2022-09-13 03:35] zhanglaplace commented on #2523
好的， 多谢解答。

[2022-09-13 03:35] #2523 closed, assigned to shiyutang

[2022-09-13 03:44] haoyuying commented on #2491
https://github.com/PaddlePaddle/PaddleSeg/blob/12b008034854b95c70621f36bb67d680edc5d106/EISeg/eiseg/run.py#L82
第一个bug把这一行注释掉看看还有没有
第二个我没复现出来，是只有python3.10才会出现吗，是必现问题不？

[2022-09-13 04:25] Zhengliang-Zhang commented on #2491
第一个注释掉就没有这个bug了
第二个是只有3.10才会出现，是必现问题。我在python3.10下安装后就出现了此bug，飞桨cpu版本也不例外

[2022-09-13 04:27] Zhengliang-Zhang commented on #2491
我使用肝脏的传播模型的传播效果也非常差，是和这个有关吗？

[2022-09-13 06:47] haoyuying commented on #2491
发一个视频我们来看下？

[2022-09-13 07:19] Zhengliang-Zhang commented on #2491
https://user-images.githubusercontent.com/112454215/189836105-6825523f-b960-43e7-a2d4-8c4a190ae966.mp4

[2022-09-13 08:18] haoyuying commented on #2491
您提出的两个问题我们已经定位，近期将会发一个新版的eiseg，发布之后我将在本issue下通知您，感谢您的反馈

[2022-09-13 09:16] haoyuying commented on #2491
您好，您提出的两个问题已经在eiseg1.0.3修复，请先卸载目前的eiseg，下载1.0.3版本的eiseg进行体验

[2022-09-13 09:58] george-kalitsios opened #2534 "DomainAdaptation-PixMatch /Running on custom datasets?"
Hello! I was wondering how I could run the model on a custom dataset? Thanks!

[2022-09-13 11:14] Zhengliang-Zhang commented on #2491
收到，谢谢

[2022-09-13 11:22] juncaipeng commented on #2534
The tutorial shows the training on cityscapes dataset. If you want to train the model on other dataset, you need to read and modify the code by yourself.

[2022-09-13 11:25] Zhengliang-Zhang opened #2535 "[General Issue]"
请问医疗肝脏标注场景传播模型得出的结果非常不理想可能是由什么原因导致的呢？能否提供一下演示中的视频方便测试？

https://user-images.githubusercontent.com/112454215/189889155-2fe6ef4c-f0de-41c0-b4a7-20d6dd7437d3.mp4

[2022-09-13 11:27] #1889 closed, assigned to juncaipeng

[2022-09-13 11:27] #2234 closed, assigned to juncaipeng

[2022-09-13 11:42] george-kalitsios commented on #2534
I've already used this paddleseg repository on my custom dataset for semantic segmentation tasks, but not for DA; is it better to try changing the gta5,synthia loaders here?
or to modify the code in the main paddleseg repository, where I already work?

[2022-09-13 11:50] juncaipeng commented on #2534
You only need to change the code under DomainAdaptation for using DA on your custom dataset.

[2022-09-13 20:06] liuguicen opened #2536 "启动 EISeg 报错 What's the problem"
安装教程操作，启动EISeg直接报错

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本： PaddleSeg release/2.6
 2. PaddlePaddle版本：  paddlepaddle-gpu==2.3.2
 3. 操作系统信息： Windows
 4. Python版本号：如Python3 7
 5. CUDA/cuDNN版本： CUDA10.2/cuDNN 7.6.5

 启动 EISeg 报错
 AttributeError: __getattribute__

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Pro

[2022-09-14 02:36] haoyuying commented on #2536
报错显示qt没安装上，我安装的pyqt5的版本为 5.15.6，您可以参考一下

[2022-09-14 03:22] wuyefeilin commented on #2535
你的视频前后变动较大，需要增加交互信息提升效果

[2022-09-14 07:36] #2150 closed, assigned to juncaipeng

[2022-09-15 02:43] LeeLear opened #2538 "(InvalidArgument) fill_constant(): argument (position 6) must be float, but got str[Bug]"
加载 configs/human_pp_humansegv2_mobile.yml       使用下载的预训练模型，报上述的错
---

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.3）
 2. PaddlePaddle版本：（如PaddlePaddle 2.1.0）
 3. 操作系统信息：（如Linux/Windows/MacOS）
 4. Python版本号：（如Python3.6/7/8）
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
 7. 详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
 8.

[2022-09-15 03:05] Bobholamovic commented on #2538
请提供PaddleSeg版本、PaddlePaddle版本、复现步骤等信息，以帮助我们排查问题。

[2022-09-15 06:37] fjremnav commented on #879
Same problem on release/v2.6. I just want to do prediction with my own images but have no cityscapes dataset installed.

Please help

Thanks

[2022-09-15 07:31] AntonyChen89 commented on #2245
I get the same error when runing paddle ocr

[2022-09-15 08:03] wuyefeilin commented on #2495
Give me your exporting command

[2022-09-15 09:10] JiehangXie opened #2542 "[General Issue]PP-LiteSeg训练OhemcrossentropyLoss报错"
1. PaddleSeg version: 2.6
 2. PaddlePaddle version: 2.3.2
 3. Operation system: Linux
 4. Python version: 3.7
 5. CUDA/cuDNN version: 11.2

报错如下，经检查num_classes没问题，应该往哪个方向排查问题？
![7FI9_HZBHOOX(LDHR`C@JNC](https://user-images.githubusercontent.com/51190264/190364503-6d777b1f-c845-4268-befb-b5e19a22391d.png)

[2022-09-15 09:59] JiehangXie commented on #2542
batch_size: 2
iters: 160000

model:
  type: PPLiteSeg
  backbone:
    type: STDC2
    pretrained: https://bj.bcebos.com/paddleseg/dygraph/PP_STDCNet2.tar.gz

train_dataset:
  type: Dataset
  dataset_root: data/aeroscapes
  train_path: data/train.txt
  num_classes: 11
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0.25

[2022-09-15 10:13] tarun-msd commented on #2495
```python export.py --config configs/modnet/modnet-hrnet_w18-iter19_1.yml --save_dir deploy/models/iter19_1 --model_path train_runs/iter19_1/iter_60000/model.pdparams ```

This is my config
[code]

[2022-09-15 10:19] tarun-msd commented on #2495
Could it be because in train_transforms its just `Resize` whereas in val its `ResizeByShort` ?

[2022-09-15 11:18] Bobholamovic commented on #2542
有可能是OOM错误导致的。建议可以使用如下指令观察一下程序运行时的显存占用情况：

[code]

[2022-09-15 12:46] JiehangXie commented on #2542
显存没有溢出，bs为2，也在A100环境下试过，依然报错

[2022-09-15 12:55] Bobholamovic commented on #2542
这样的话请检查标签中是否存在无效的索引值。例如，在[此位置](https://github.com/PaddlePaddle/PaddleSeg/blob/d2f566782ac03b2acae0051df92718af7f68b2fe/paddleseg/models/losses/ohem_cross_entropy_loss.py#L57)打印标签信息`print(label.max(), label.min(), label.shape, label.dtype)`以实施检查。

[2022-09-15 13:14] JiehangXie commented on #2542
谢谢，检查出来了，新版本没有默认ignore 255吗？

[2022-09-15 13:22] Bobholamovic commented on #2542
ignore 255应该是有做的，在如下位置：
https://github.com/PaddlePaddle/PaddleSeg/blob/c608005d4de4a10ae9ec9be76c53951cf658f758/paddleseg/models/losses/ohem_cross_entropy_loss.py#L59

如果标签中包含无效值的话，建议可以查看一下除255以外的label中的其它索引值是否存在异常，使用如下指令：
`valid_label=label[label!=255]; print(valid_label.max(), valid_label.min())`

[2022-09-15 13:30] Linranran opened #2544 "进行下一张图像标注时候 会出现“是否完成最后一个目标的标注，不完成不会进行保存”弹窗"
进行下一张图像标注时候 会出现“是否完成最后一个目标的标注，不完成不会进行保存”弹窗
这个操作的目的是什么？  是防呆模式吗？
https://github.com/PaddlePaddle/PaddleSeg/blob/c608005d4de4a10ae9ec9be76c53951cf658f758/EISeg/eiseg/app.py#L1658-L1662

可以通过直接设置res == QMessageBox.Yes  跳过该操作

[2022-09-15 13:30] JiehangXie commented on #2542
OK，这里检查出来了，有一个最大值11，所以是12个label，谢谢了！！

[2022-09-15 13:30] #2542 closed, assigned to Bobholamovic

[2022-09-16 02:24] ghoshaw commented on #1366
请问 送入光流处理之前为什么要给scoremap 乘255呢，我看 在 seg_fuse的时候里面判断 确定区域时用的阈值是 0.1和0.9.

[2022-09-16 03:56] wuyefeilin commented on #2495
make sure the model in yaml and the model.pdparams is consistant when exporting.

[2022-09-16 04:03] wuyefeilin commented on #2495
Does it exists the UserWarning when you exporting
![image](https://user-images.githubusercontent.com/30919197/190554158-07599f2b-20f1-46a5-b879-62ce135196d0.png)

[2022-09-19 02:18] haoyuying commented on #2544
用于提醒用户保存，可以在文件-自动保存中选择默认自动保存的位置，就不回出现该弹框了。__

[2022-09-19 05:07] sarmientoj24 opened #2551 "How to set image resolution for training and inference?"
I cannot see it from the parameters.

Also, how to set which transforms to use?

[2022-09-19 11:12] haoyuying commented on #2551
For training, you can change the crop size,for example:https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/configs/_base_/cityscapes_1024x1024.yml#L10
For inference, we take the original image without crop to predict the result.

[2022-09-19 12:33] sarmientoj24 commented on #2551
that seems like random padding crop.

does that mean that the image should be in the expected size already? or is there a validation transforms in the yaml?

[2022-09-19 22:35] fschvart opened #2553 "[Bug] finetune the PP-HumanSeg General Human Segmentation model"
Hi,

I've been trying to finetune the PP-HumanSeg General Human Segmentation model with annotated images.
I'm using the PP-HumanSegV1-Server yml file and retrained model.

First, there seems to be two bugs in the YML file:
Row 74, "pretrained:" appears twice, one of these has to be deleted
Row 60, there's actually one mixed_loss, so the list should only have 1 loss, so [1] instead of [1,1,1]. At l

[2022-09-20 03:41] juncaipeng commented on #2553
Thank you for pointing out the bugs. We'll fix it right away.

I think the reason of the above error is  that PaddlePaddle is no good compatible  for  CUDA on Windows. You can remove the `LovaszSoftmaxLoss` in config or run the training on another environment.

[2022-09-20 06:01] Linranran commented on #2544
@haoyuying 不是你说的这样。 设置标签保存位置，同时设置自动保存。点击下一张，还是会出现“是否完成最后一个目标的标注”的弹窗。

[2022-09-20 11:32] CocoSkyler opened #2556 "paddleseg模型部署支持serving的pipeline吗，只看到serving 的c++部署范例"
Welcome to propose a new feature! To help us understand your great feature, please provide following information:
1. A clear and concise description of the proposed feature.
2. Tell us why the feature is useful.
3. If possible, please show related codes .

---

欢迎提出一个新功能需求，为了帮助我们更好理解您的需求，辛苦提供下面信息：
1. 清晰简洁的语言提出新功能需求。
2. 请描述这个需求的必要性。
3. 如果可以，辛苦您提供相关代码实现效果。

[2022-09-20 12:44] juncaipeng commented on #2556
导出paddleseg的预测模型后，就可以全部参考paddle serving的文档进行部署了。

[2022-09-21 01:55] qmzpg commented on #2365
I get the same problem. It seems a bug in paddleseg

[2022-09-21 05:53] superran1 opened #2559 "export问题"
使用命令：python export.py --config "/home/PaddleSeg/c3_segslider/ppseg_cfg_segformer_b0.yml" --model_path "/home/PaddleSeg/c3_segslider/model.pdparams" --save_dir /home/PaddleSeg/c3_segslider/ --input_shape 1 3 800 64
 导出模型权重文件使用trt推理时，报错
[09/21/22 13:33:18 +08:00] [warning] [thread 30780] [AIBase-v4.8.1.2 ] paddle enable trt

--------------------------------------
C++ Traceback (most recent call last

[2022-09-21 06:26] wuyefeilin commented on #2559
`--enable_auto_tune True ` 增加这个配置试试

[2022-09-21 06:51] superran1 commented on #2559
这个是部署到C++上面的，目前只支持静态模型，直接将模型转换为静态结构应该怎么做呢

[2022-09-21 07:10] superran1 commented on #2559
![image](https://user-images.githubusercontent.com/53592722/191436686-fba5a8c3-f241-456a-98f1-ee39be48ff8e.png)
我更换了unet情况是一样的，模型其余部分都能正常显示shape,只有当进行bilinear_interp时会出现-1的问题，这个能帮忙看一下吗
链接：https://pan.baidu.com/s/1dkVF6yM9PA1op_cVCL4s6g
提取码：zf73
--来自百度网盘超级会员V4的分享

[2022-09-21 07:51] sarmientoj24 opened #2560 "[General Issue] How to train using custom dataset?"
The README does not contain any instructions how to do this on custom data.

For example, how do I change these:
[code]

[2022-09-21 08:14] wuyefeilin commented on #2560
参考文档进行自定义数据集的准备https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/data/marker/marker_cn.md

[2022-09-21 08:30] fuchao01 commented on #2405
请问这个问题怎么解决的

[2022-09-21 09:00] sarmientoj24 commented on #2560
i've already done that, but how do you add it there?

[2022-09-21 09:40] wuyefeilin commented on #2560
Use the Dataset class, https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/paddleseg/datasets/dataset.py
like:
train_dataset:
  type: Dataset
  dataset_root: xxx

[2022-09-21 11:48] juncaipeng commented on #2559
应该是不支持使用固定shape，只能是动态shape。  c++部署，动态shape使用方法：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/deployment/inference/cpp_inference_cn.md#53-trt%E6%96%B9%E5%BC%8F-%E5%8A%A8%E6%80%81shape%E6%A8%A1%E5%BC%8F-%E9%83%A8%E7%BD%B2

[2022-09-21 14:28] #2536 closed, assigned to haoyuying

[2022-09-21 14:28] liuguicen commented on #2536
谢谢

[2022-09-21 14:29] liuguicen commented on #2536
安装QT5 过程中spyder没安装上，手动安装了 另外还提示其它的版本不匹配什么的，然后有的安装了，有的没安装
最后还是可以用了

[2022-09-22 12:17] henryzhuhr opened #2567 "[Feature Request] 关于Eiseg标注工具读取已标注数据"
eiseg如何读取已经标注的数据，因为很多时候需要对之前的标注进行检查和修改，或者调整之类的，这没办法实现吗

[2022-09-22 12:41] #2567 closed, assigned to nobody

[2022-09-23 02:35] chen-del opened #2568 "[General Issue] MobleSeg存在部分疑问"
MobleSeg，在训练过程中，出现的效果异常不对，训练了60000轮，要分割的类别miou结果似乎还是0
![微信图片_20220923103232](https://user-images.githubusercontent.com/58769772/191882170-90274cd6-261d-4b0f-9ed1-561ce3f4ecc4.png)
过程忘记保存了但是，9月22的结果似乎是8月1号这个结果差不多，能否问一下是什么原因?

[2022-09-23 02:59] shiyutang commented on #2568
请问你能否在cityscapes上获得我们公布的结果？ 另外你使用的数据是否存在严重不均衡问题，如果是，需要在损失增大对应类别的系数进行均衡，并进行一些相应的数据扩充方法。

[2022-09-23 03:39] chen-del commented on #2568
恩是的，背景像素偏多，要分割的类别像素点少，cityscapes没有试过，只是试过voc数据集，效果确实可以持平的，但是使用自己的数据集我碰到了这个问题。

[2022-09-23 03:39] chen-del commented on #2568
因为有些网络可以，有些网络不可以，比如这个mobliteset

[2022-09-23 03:43] chen-del commented on #2568
是类似于这种方式去调整嘛
SOLVER:
    LR: 0.0001
    LR_POLICY: "poly"
    OPTIMIZER: "sgd"
    NUM_EPOCHS: 20
    CROSS_ENTROPY_WEIGHT: [1.0, 1.500,2.00]

[2022-09-23 07:05] shiyutang commented on #2568
嗯嗯，传入和num-classes长度一致的weight即可，如下列函数中的描述：
![image](https://user-images.githubusercontent.com/34859558/191907918-a299e85d-0cbd-465f-9641-19f36d2c8796.png)

另外你的配置文件似乎是paddleseg较低版本，可以升级到最新版本并作权重调整

[2022-09-23 07:41] chen-del commented on #2568
@shiyutang 使用了loss去增加不同全中通但是感觉依旧没有效果，我的版本应该是最新的了，是用的2.6的
情况如下：
![微信图片_20220923154010](https://user-images.githubusercontent.com/58769772/191913006-e2de4434-4892-4f31-a41c-85d28b0f470e.png)

![微信图片_20220923154017](https://user-images.githubusercontent.com/58769772/191913001-35aaa62d-94c2-41c3-ac1a-0e84a6bfa1cb.png)

[2022-09-26 02:01] shiyutang commented on #2568
损失的权重可以设置为像素比例的反比，第二和第三类应当显著高于第一类

[2022-09-26 07:17] jingmingtao opened #2571 "[General Issue] pp-humanseg transforms error"
![image](https://user-images.githubusercontent.com/114384977/192215762-4809e447-8538-4e9c-97f1-180c82396c4f.png)
寻求帮助，尽快回复

[2022-09-26 07:52] XYZ-916 opened #2572 "[General Issue] PP-HumanSeg release2.5版本代码和文档不匹配"
release2.5版本代码和https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/contrib/PP-HumanSeg/README_cn.md文档不匹配

[2022-09-26 10:03] lijoe123 commented on #2280
请问有这个代码吗

[2022-09-26 10:04] lijoe123 commented on #2280
请问有这个代码吗

[2022-09-26 11:30] monkeycc commented on #2280
@duduzai2019  @lijoe123

目标检测 可以转换 LabelImg

分割的话
还差最后一步
转换mask坐标点
再保存到json

[2022-09-26 11:50] lijoe123 opened #2575 "我想请教一下，现在的EIseg 生成的json文件 是labelme格式的吗"
您好，我想请教一下，现在的EIseg 生成的json文件 是labelme格式的吗？我看您之前的回答都说准备实现保存labelme 格式的json，不知道现在有没有实现呢？
谢谢

[2022-09-26 14:57] OpenCDR opened #2576 "[General Issue] phi::enforce::EnforceNotMet错误"
1. PaddleSeg版本：PaddleSeg release/2.3
2. 操作系统信息：/Windows
3. Python版本号：python3.8
4. CUDA/cuDNN版本：CUDA11.6
5. 编译器：VS2022
6. tensorrt版本：8.4.0.2
使用paddleSeg的c++部署库时 在infer_config.SetModel的位置报错：
0x00007FFB356A4FD9 处(位于 QtWeld.exe 中)引发的异常: Microsoft C++ 异常: phi::enforce::EnforceNotMet，位于内存位置 0x0000003230B5D7A0 处。
0x00007FFB356A4FD9 处(位于 QtWeld.exe 中)引发的异常: Microsoft C++ 异常: [rethrow]，位于内存位置 0x00000000000

[2022-09-26 18:20] #2576 closed, assigned to nobody

[2022-09-27 02:15] juncaipeng commented on #2571
请更新使用github上最新的代码，这个问题应该修复了

[2022-09-27 02:54] juncaipeng commented on #2572
请问有哪里的问题啊？  建议直接使用2.6最新分支。

[2022-09-27 02:58] haoyuying commented on #2575
目前的json还不是labelme的格式，我们会在下一次版本迭代中修改json的格式，敬请关注。

[2022-09-27 03:02] lijoe123 commented on #2575
谢谢您的回答！我十分期待下个版本，请问有群可以加吗，因为公众号的二维码过期了加不了。

[2022-09-27 06:13] haoyuying commented on #2575
![image](https://user-images.githubusercontent.com/35907364/192447003-aa2ae034-55cd-4160-a113-1f34bab6b586.png)

[2022-09-27 06:21] Tangyuny opened #2577 "[General Issue]使用paddleslim裁剪后的模型在推理时出现报错"
使用未裁剪的模型进行c++部署推理正常，使用裁剪后的模型出现如下报错：
![image](https://user-images.githubusercontent.com/37798338/192447259-aba669fa-23c2-4946-8d01-6792712a2669.png)
请问是什么原因。

版本信息如下：
1. PaddleSeg版本：PaddleSeg 2.5.0
 2. PaddlePaddle版本：PaddlePaddle 2.3.1
 3. PaddleSlim版本：PaddleSlim 2.3.1
 4. 操作系统信息：Linux
 5. CUDA/cuDNN版本：CUDA10.2/cuDNN 8.0.2
 6. TensorRT版本：TensorRT 7.1.3.4

[2022-09-27 09:14] chen-del commented on #2568
@shiyutang ，谢谢！

[2022-09-27 09:15] chen-del commented on #2568
但是如果这样那么我需要一些背景类数据的特征，那么如果一直提高其他类别会不会造成误分割等其他问题，这又是个问题

[2022-09-27 12:10] juncaipeng commented on #2577
是哪个模型啊？可以提供复现的步骤吗？

[2022-09-27 14:42] huangwan-jiayi opened #2578 "[General Issue]使用Camvid数据集训练stdc分割模型时，报错！"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（PaddleSeg release/2.5）
 2. PaddlePaddle版本：（PaddlePaddle 2.3.0）
 3. 操作系统信息：（Linux）
 4. Python版本号：（如Python3.7）
 5. CUDA/cuDNN版本：（ CUDA10.2/cuDNN 7.6.5等）
环境：
![image](https://user-images.githubusercontent.com/71338215/192556331-d7321e60-f795-41e2-bdcd-a32f04d1fffa.png)
问题详细描述：
想使用stdc分割模型训练Camvid数据集，在网上下载好Camvid数据集后，数据集原图和label的分辨率都为（720*96

[2022-09-28 01:47] Tangyuny commented on #2577
模型：FCN
backbone：HRNet_W48
Config文件：模型训练时的Config文件是用的我自己保存的，具体如图(不清楚是否有影响)：
![image](https://user-images.githubusercontent.com/37798338/192668141-c517d172-fcdf-43ca-b42a-5a0651b2267f.png)
训练、导出、推理部署和裁剪相关命令和流程均与官方提供的一致，未裁剪的模型推理过程及输出结果都正常，仅多了裁剪这一项。

[2022-09-28 02:47] zeckireck opened #2579 "请问如果要重新训练pphumanv2，有没有相应的数据集？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-09-28 03:39] shiyutang commented on #2578
label的shape存在问题，需要将 label 的维度1 squeeze变为（12，720， 960），例如在下图core/train.py所在位置，维度应当如图所示：
<img width="639" alt="image" src="https://user-images.githubusercontent.com/34859558/192682096-b5810654-f1aa-4489-8e24-9f2f54f60674.png">

[2022-09-28 03:49] shiyutang commented on #2579
可以参考pphumansegv2文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release%2F2.6/contrib/PP-HumanSeg/README_cn.md#42-%E5%87%86%E5%A4%87%E6%A8%A1%E5%9E%8B%E5%92%8C%E6%95%B0%E6%8D%AE

[2022-09-28 04:01] huangwan-jiayi commented on #2578
![Uploading ad8e2e132aacfb2e4604d24c5ea2a02.png…]()
这是我的label和输入原图的shape， 那么我该怎么去改变我数据集中的label的shape呢？

[2022-09-28 05:08] huangwan-jiayi commented on #2578
![ad8e2e132aacfb2e4604d24c5ea2a02](https://user-images.githubusercontent.com/71338215/192692510-27cff989-42da-43bc-8b55-a26010e71748.png)

这是我的label和输入原图的shape，感觉没有问题。如果要修改的话， 那么我该怎么去改变我数据集中的label的shape呢？

[2022-09-28 06:13] xiayuan commented on #2365
It is actually a bug, I fixed it, in infer.py line 393:
"return self.cfg.transformers(data)['img']" should  be "return self.cfg.transformers(data['img'])[0]"
change the code, then problem could be solved.

[2022-09-28 06:53] shiyutang commented on #2568
目前来看后两类类别的数据基本完全没有经过网络进行有效学习，建议先提升后两类权重训练，并对后两类数据进行数据扩张，误分割问题可以先等到后两类有一定学习效果之后再进行具体案例具体分析

[2022-09-28 06:56] shiyutang commented on #2578
请将一开始的错误截图完整截取，方便定位错误具体位置

[2022-09-28 06:59] huangwan-jiayi commented on #2578
报错完整截图：
![image](https://user-images.githubusercontent.com/71338215/192709967-d61e5381-c4ea-49d3-8b51-00112b28ad03.png)

[2022-09-28 08:08] zeckireck commented on #2579
请问，mini_supervisely中的annotation是怎么生成的？有相应的工具吗

[2022-09-28 10:15] chen-del opened #2582 "模型深度增加"
pphumanseg_lite模型深度增加，是否意味着提取的特征越好，分割的精度越准确？
我对这个方面有点疑惑
例如像如下增加卷积深度：

        self.block3 = nn.Sequential(
            InvertedResidual(
                144, stride=2),
            InvertedResidual(
                288, stride=1),
            InvertedResidual(
                288, stride=1),
            InvertedResidual(
                288, stride=1),
            InvertedResidual(

[2022-09-28 11:14] shiyutang commented on #2582
模型深度也可能导致网络过拟合、网络退化等问题，对于效果的影响不能一概而论。

[2022-09-28 11:15] shiyutang commented on #2579
可以使用EISeg进行标注，详情可见：https://github.com/PaddlePaddle/PaddleSeg/blob/release%2F2.6/EISeg/README.md

[2022-09-28 12:49] wayneck commented on #2084
`   ....
  File "/home/project/baidu/PaddleSeg/paddleseg/models/losses/cross_entropy_loss.py", line 85, in forward
    loss = F.cross_entropy(
  File "/home/.local/lib/python3.8/site-packages/paddle/nn/functional/loss.py", line 1661, in cross_entropy
    raise ValueError("label should not out of bound, but got{}".
ValueError: label should not out of bound, but gotTensor(shape=[1], dtype=int64, pla

[2022-09-28 12:51] wayneck commented on #1764
`
.... File "/home/project/baidu/PaddleSeg/paddleseg/models/losses/cross_entropy_loss.py", line 85, in forward loss = F.cross_entropy( File "/home/.local/lib/python3.8/site-packages/paddle/nn/functional/loss.py", line 1661, in cross_entropy raise ValueError("label should not out of bound, but got{}". ValueError: label should not out of bound, but gotTensor(shape=[1], dtype=int64, place=CUDAPlace(0

[2022-09-29 02:54] lvsh2012 opened #2583 "[Bug]ValueError: Target 160 is out of upper bound?"
/home/aistudio/work/PaddleSeg
2022-09-29 10:52:04 [INFO]
------------Environment Information-------------
platform: Linux-4.15.0-140-generic-x86_64-with-debian-stretch-sid
Python: 3.7.4 (default, Aug 13 2019, 20:35:49) [GCC 7.3.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.2.r11.2/compiler.29618528_0
cudnn: 8.2
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: Tesla V100-SXM2-16GB']
G

[2022-09-29 02:58] Bobholamovic commented on #2583
Please check if there are illegal values in the labels, say, 160 (given that the number of classes is 4).

[2022-09-29 03:29] m828 opened #2584 "多卡训练报错"
1. PaddleSeg版本：PaddleSeg 2.5/2.6
 2. PaddlePaddle版本：PaddlePaddle 2.2.3
 3. 操作系统信息：Linux
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本：CUDA11.2/cuDNN 8.2

按照多卡训练的流程：
export CUDA_VISIBLE_DEVICES=0,1,2,3 # 设置4张可用的卡
python -m paddle.distributed.launch train.py
出现下面的情况，是什么原因呢？
![55b17725a03c3eec5bec24d58924cc9](https://user-images.githubusercontent.com/45037914/192932071-c8a34d18-0ba2-4cbe-b99e-269f75834d8f

[2022-09-29 09:14] Bobholamovic commented on #2584
你好，看起来是缺少算子的问题，建议升级paddle版本到2.3.2再次尝试~

[2022-09-29 10:50] monimini opened #2585 "[Bug]Kernel Restarting The kernel for Untitled.ipynb appears to have died. It will restart automatically."
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：2.6
 2. PaddlePaddle版本：2.3.2
 3. 操作系统信息：Windows在bml上
 4. Python版本号：Python3.7.4
 5. CUDA/cuDNN版本：CUDA11.2/cuDNN 8.2
 6. 完整的代码：运行的时paddleseg/modle里面的attentionUNET粘贴到BML上了一运行内核就重启
 @manager.MODELS.add_component
class AttentionUNet1(nn.Layer):
    """
    The Attention-UNet implementation based on PaddlePaddle.
    As mentioned in the origina

[2022-09-29 11:21] m828 commented on #2584
不好意思打错了，是2.3.2，最新的

[2022-09-29 11:22] m828 commented on #2584
![image](https://user-images.githubusercontent.com/45037914/193018796-5de8fdd9-e1d9-4998-8455-c60b5cc67e14.png)

[2022-09-29 11:48] Bobholamovic commented on #2584
我这边无法复现这个问题~ 看起来应该这个应该是和Paddle库相关的问题，建议移步[PaddlePaddle仓库](https://github.com/PaddlePaddle/Paddle/issues)提问。

[2022-09-29 11:50] m828 commented on #2584
好的，谢谢~

[2022-09-29 11:56] Bobholamovic commented on #2585
你好，我在AI Studio环境（也基于BML）中无法复现此问题：

![image](https://user-images.githubusercontent.com/21275753/193024985-5756c500-8e22-4496-93d0-a198c5267932.png)

请问在BML以外的环境尝试（例如直接从终端执行这些语句）代码能够正常运行么？

[2022-09-30 02:12] monimini commented on #2585
奇怪，它今天又恢复正常了，可以复现了。

[2022-09-30 02:13] monimini commented on #2585
不知道是什么原因，今天可以运行了

[2022-09-30 06:12] juncaipeng commented on #2084
The max value of the label is 700, could you send the annotations file to me for checking the problem?

[2022-09-30 08:15] juncaipeng commented on #2409
这个问题是没有正确安装联编trt的paddle whl包。具体参考安装文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/deployment/inference/python_inference_cn.md

[2022-10-05 03:09] MercKAi commented on #2411
请问您的问题解决了吗

[2022-10-05 14:07] zeckireck opened #2589 "pphumansegv2 resize算子"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-10-06 12:40] 19961115 commented on #2508
直接安装paddle-cpu就行，不要装gpu的，gpu的打开就闪退，懂我意思吧

[2022-10-08 08:49] juncaipeng commented on #2589
是将所有的resize op都改了吗？    你这个截图是onnx的显示吧，也不排除paddle2onnx转为onnx模型后出现不对应的问题。

[2022-10-08 08:51] zeckireck commented on #2589
对，我把F.interpolate中的align_corners都改成了True

[2022-10-08 09:00] zeckireck commented on #2589
[human_pp_humansegv2_lite.zip](https://github.com/PaddlePaddle/PaddleSeg/files/9738817/human_pp_humansegv2_lite.zip)

[2022-10-08 09:05] jiangjiajun commented on #2589
https://github.com/PaddlePaddle/Paddle2ONNX/blob/develop/paddle2onnx/mapper/nn/interpolate.cc#L66 参照这里的转换逻辑

[2022-10-08 09:10] Atiuiee commented on #1717
请问您解决了么，遇到同样的问题

[2022-10-08 15:11] tanbaswal opened #2591 "[Bug] AutoNUE code not working"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: PaddleSeg release/2.6
 2. PaddlePaddle version: PaddlePaddle 2.3.2.post116
 3. Operation system: Linux
 4. Python version: Python3.8
 5. CUDA/cuDNN version: CUDA11.6
 6. Full codes:  As mentioned in the Readme of the AutoNUE@CVPR 2021 Challenge, I was doing the **baseline tra

[2022-10-09 02:58] Dandelion111 opened #2592 "请问大佬有没有薄膜缺陷检测的案例？"
请问大佬有没有薄膜缺陷检测的案例？

[2022-10-09 11:16] ferraridamiano opened #2593 "[Feature Request] [EISeg] Semantic and instance segmentation"
With EISeg it seems that given an image we can select just one label for each image. In fact if I click one label and one object and then a second label and a second object, the first object will be converted to the second label. Which is not the expected behaviour. Maybe I'm doing it wrong. I would suggest to improve this in order to have multiple object (classes) in the same image

[2022-10-09 11:35] juncaipeng commented on #2592
可以看看这个工业质检的缺陷分割案例：https://aistudio.baidu.com/aistudio/projectdetail/3877107?contributionType=1

[2022-10-09 11:37] juncaipeng commented on #2593
@haoyuying

[2022-10-10 02:14] haoyuying commented on #2593
You need to  press the space key to certain one object and then annotate the another one.

[2022-10-10 12:49] tanbaswal commented on #2591
Any update?

[2022-10-10 21:12] #2593 closed, assigned to haoyuying

[2022-10-11 03:28] Zhengliang-Zhang opened #2598 "[General Issue] EISeg 医疗标注"
1. PaddleSeg版本：PaddleSeg release/2.3
 2. PaddlePaddle版本：PaddlePaddle 2.1.
 3. 操作系统信息：Windows
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本：CUDA10.2/cuDNN 7.6.5

肝脏图像标注和传播不理想
![image](https://user-images.githubusercontent.com/112454215/194990174-fdd1b570-0ffe-475a-a83e-3fe65385ed95.png)

https://user-images.githubusercontent.com/112454215/194990481-29c340c8-cef9-4cd0-8296-0e6c18d31790.mp4

[2022-10-11 03:46] wuyefeilin commented on #2591
You may use the PaddleSeg release/2.5 first. We will update the AutoNUE  dataset reader soon.

[2022-10-11 06:45] moonnnpie opened #2599 "FileNotFoundError: File configs/modnet/modnet-mobilenetv2.yml does not exist[General Issue] 请问这个文件要从哪里下载"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-10-11 07:10] summerwbb commented on #1837
***@***.*** you very much!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年5月24日(星期二) 上午9:41
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] PP-HumanMatting中的数据集是不是需要高分辨率的图片 (Issue #1837)

yes

Send me your email, I will send you through the email

—
Reply to this email directly, view it on GitHub, or unsubscribe.

[2022-10-11 07:21] wuyefeilin commented on #2599
就在PaddleSeg/Matting/configs/modnet下面

[2022-10-11 07:32] moonnnpie commented on #2599
找到了感谢

[2022-10-11 07:37] moonnnpie opened #2600 "[General Issue]我在打开EISeg软件时出现问题"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.6
 2. PaddlePaddle版本：PaddlePaddle 2.3
 3. 操作系统信息：Linux
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本：CUDA10.2
 6. 其他内容: （增加其他与问题相关的内容）

具体报错如下
qt.qpa.xcb: could not connect to display localhost:10.0
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start be

[2022-10-11 07:37] moonnnpie commented on #2600
qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.

Available platform plugins are: eglfs, linuxfb, minimal, minimalegl, offscreen, vnc, wayland-egl, wayland, wayland-xcomposite-egl,

[2022-10-11 07:40] baoqicha commented on #2094
https://github.com/PaddlePaddle/PaddleSeg/tree/develop/contrib/MedicalSeg

--

|

乐普（北京）医疗装备有限公司

| |
|
Name： 暴启超
Tel:18810602620
***@***.***
Address:北京市顺义区顺仁路60号乐普医疗(邮编101300)
| |
|

| |
|

|

|

At 2022-05-10 10:21:25, "cc" ***@***.***> wrote:

What is the visualize.ipynb file?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thr

[2022-10-11 07:57] #2599 closed, assigned to wuyefeilin

[2022-10-11 08:05] IamMegatron2025 opened #2601 "mobileseg可否给出每个网络模型具体的实现细节?"
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/configs/mobileseg  _可以看到这几个轻量级网络的backbone是mobilenetv2/v3或者shufflenet，但是他们整个网络的实线细节是怎么做的呢？能不能给个展示图或者相关paper作为参考？ 不然不知道是否用了多阶段/空洞卷积/crf等操作。

[2022-10-11 08:26] peiwenYe opened #2602 "找不到新发版的模型"
请问release/2.6新发版的GCA模型的配置文件和预训练模型在哪里找？
![image](https://user-images.githubusercontent.com/37332773/195038612-0370d9e9-123d-4be7-809a-2e5ae68ee161.png)

[2022-10-11 08:54] lzy-coder commented on #1887
这是来自QQ邮箱的假期自动回复邮件。
 
邮件已经收到啦

[2022-10-11 09:22] wuyefeilin commented on #2602
目前GCA模型的网络结构已经放置到ppmatting/models下面, 相应的配置文件正在整理当中哈

[2022-10-11 09:28] KoapT commented on #2128
这是来自QQ邮箱的自动回复邮件。您好，我已收到您的邮件，会在阅读之后尽快给您回复。

[2022-10-11 12:41] peiwenYe commented on #2602
收到

[2022-10-11 14:55] moonnnpie commented on #2600
已解决，是远程服务器问题

[2022-10-11 14:55] #2600 closed, assigned to nobody

[2022-10-12 01:50] juncaipeng commented on #2601
这个暂时没有计划，你可以具体看看代码，其实比较简单。

[2022-10-12 01:55] haoyuying commented on #2598
多点几个点试一下或者将标注模型换成通用场景模型，多点几个点

[2022-10-12 06:43] #2584 closed, assigned to Bobholamovic

[2022-10-12 06:48] m828 opened #2604 "grid_sample"
请问grid_sample在部署使用tensorrt加速的时候不支持吗？
![2f9570c3a469e782c75d596520dd41e](https://user-images.githubusercontent.com/45037914/195270073-26308ce3-3820-4cd0-8b88-7032c3daa4d4.jpg)

[2022-10-12 06:50] m828 commented on #2604
def flow_warp(self, input, flow, size):
        input_shape = paddle.shape(input)
        norm = size[::-1].reshape([1, 1, 1, -1])
        norm.stop_gradient = True
        h_grid = paddle.linspace(-1.0, 1.0, size[0]).reshape([-1, 1])
        h_grid = h_grid.tile([size[1]])
        w_grid = paddle.linspace(-1.0, 1.0, size[1]).reshape([-1, 1])
        w_grid = w_grid.tile([size[0]]).transpose([1, 0

[2022-10-12 09:34] IamMegatron2025 opened #2605 "两类别分割任务重NUM_CLASSES怎么设置？"
您好，cityscapes是19个类的分割，所以paddleseg/datasets/cityscapes.py的NUM_CLASSES = 19。
我目前的分割任务是要解决两个类别的分割，label map我做成了0,1值和255值(255是忽略值)的灰度图，但是NUM_CLASSES应该设置几呢？ 按cityscapes的意思 这里应该设置2，但是明显不对呀，因为我的图片还有背景类不需要分割出来，该怎么改呢？
求解答。

[2022-10-12 11:24] wuyefeilin commented on #2604
<img width="223" alt="image" src="https://user-images.githubusercontent.com/30919197/195330425-d2ab5fae-f11d-4c1b-8579-2f57372deaeb.png">
按照提示使用这个哈

[2022-10-12 11:34] wuyefeilin commented on #2605
可以将背景类单独作为一类，比如2。 然后NUM_CLASSES 设置为3

[2022-10-12 11:42] m828 commented on #2604
使用了，不行，不是linspace、grid_sample的问题吗

[2022-10-12 11:45] wuyefeilin commented on #2604
报错信息给一下

[2022-10-12 11:59] m828 commented on #2604
![image](https://user-images.githubusercontent.com/45037914/195337011-2efb39a0-da1f-4f40-980a-363f63da5995.png)

![image](https://user-images.githubusercontent.com/45037914/195336862-45dc1c92-cac6-480c-b360-8205638a29fd.png)

[2022-10-12 12:10] m828 commented on #2604
把flow_warp这块代码换成普通卷积就可以推理出来，但是这块比较重要==、

[2022-10-12 12:17] IamMegatron2025 commented on #2605
@wuyefeilin 感谢及时回复。
1.如果【将背景类单独作为一类，比如2。 然后NUM_CLASSES 设置为3】，那么label map我需要重新做成了0,1,2值吗？（把之前的255改成3），还是不需要重新做0,1,2值的label map，只需要把paddleseg/datasets/cityscapes.py的NUM_CLASSES改成3？从理论上分析，好像把之前label map的255改成3会让模型学习的更好？
2.我如果做两类别分割任务（这两类不是cityscapes中的任何一类），label map我做成了0,1,2值，那么模型最后predict值也是0,1,2。那我用mobilseg的pretrained作为训练的pretrained model是不是不合适？，因为mobilseg的pretrain预测的0,1,2类是cityscapes的0,1,2类？所以我直接用

[2022-10-12 13:55] xiaodaomingye459 opened #2607 "单卡训练如何调整训练参数"
![image](https://user-images.githubusercontent.com/83204995/195361901-f4a4ad6b-40fb-43e4-b7d9-9f29eb24a0e3.png)
请问，如果我使用单卡训练，需要更改这里面的哪些参数，以及如何更改？

[2022-10-13 01:02] xiaodaomingye459 opened #2608 "日志无法正常显示"
![image](https://user-images.githubusercontent.com/83204995/195475061-55b566ab-036f-407b-b7a3-825f492d0ae8.png)
日志显示时一团乱码 请问如何正常显示?

[2022-10-13 01:46] persuelx opened #2609 "[Bug]./build/test_seg: error while loading shared libraries: libdnnl.so.2: cannot open shared object file: No such file or directory"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-10-13 02:19] Bobholamovic commented on #2609
你好！这一错误是libdnnl库未正确安装导致的。请确认在您的机器上：
（1）已经安装了libdnnl库；
（2）正确设置了环境变量以使libdnnl库能够被找到（一个简单的办法是将.so运行时库文件放置在与编译的可执行程序同样的目录中）且您具有足够的权限使用它。
关于libdnnl库的安装与配置可参考：https://blog.csdn.net/qq_45779334/article/details/123164180

[2022-10-13 02:22] Bobholamovic commented on #2608
你好，文本编辑器提示"The file was loaded in a wrong encoding: 'UTF-8'"，建议可以尝试点击右边的"Reload in another encoding"并选择GBK编码。
![image](https://user-images.githubusercontent.com/21275753/195484053-a1c54cd6-b148-4450-96bc-d05dd52a8e07.png)

[2022-10-13 02:27] Bobholamovic commented on #2607
你好！PaddleSeg默认使用4张显卡进行训练，根据学习率调整的[Linear Scaling Rule](https://arxiv.org/pdf/1706.02677.pdf)，如果使用单卡训练、保持每张卡上的batch size不变，需要将学习率缩减4倍，即将`learning_rate`参数设置为`0.00125`。

[2022-10-13 02:28] persuelx commented on #2609
@Bobholamovic  这个库还需要自己安装吗？ 看代码结构的话，它的推理包里面是有libdnnl.so.2 这个库文件的，并且我把这个.so也连接进去了，也是不行，既然有这个.so还需要在安装，那么那个推理包里面存在那个.so就不是没有意义了啊

[2022-10-13 02:35] Bobholamovic commented on #2609
请问『代码结构』指的是PaddleInference的代码嘛？请问你链接.so的方式是？

[2022-10-13 02:39] persuelx commented on #2609
是的，是这个包，链接方式是修改CMakelists.txt 1、link_directories("${PADDLE_LIB_THIRD_PARTY_PATH}mkldnn/lib")
将这个注释掉#set(MKLDNN1_LIB ${MKLDNN_PATH}/lib/libmkldnn.so.0)  改成set(MKLDNN1_LIB ${MKLDNN_PATH}/lib/libdnnl.so.2)
一红两种改法。

[2022-10-13 03:03] xiaodaomingye459 commented on #2607
训练的iters需要增加吗？

[2022-10-13 03:04] xiaodaomingye459 commented on #2607
以及损失里面的 min_kept似乎也与总bz有关，需要修改吗

[2022-10-13 03:11] Bobholamovic commented on #2609
我理解除了在编译的时候，在运行的时候也需要保证能找到库才行（因为是动态链接库），可以把libdnn.so.2放入/usr/lib或者放在build目录中。

[2022-10-13 03:15] persuelx commented on #2609
在cmakelist中添加了链接路径以后就确保了运行是能找到了吧！！，你说的将libdnn.so.2放在build目录我也试了没用，我也试过将libdnn.s0.2库目录放进系统搜索目录下面去，发现也不行。

[2022-10-13 03:19] jingmingtao opened #2611 "如何将人像分割的alpha图转换成PaddleSeg训练的标签图"
您好，我想请教下如何将人像分割的alpha图转换成PaddleSeg训练的标签图，我是简单的大于0的像素映射为1，这样做的。但是映射后效果不好，边缘信息丢失严重，请问有什么好的办法吗，万分感谢

[2022-10-13 03:24] jingmingtao opened #2612 "求求救救孩子吧如何将人像分割的alpha图转换成PaddleSeg训练的标签图"

[2022-10-13 04:12] Bobholamovic commented on #2609
抱歉，重新查找了一下资料发现我先前的认知有错误，将共享库放在`build/`目录应该不是一个解决方案，因为：https://serverfault.com/questions/279068/cant-find-so-in-the-same-directory-as-the-executable

我还是认为这应该是一个Linux/C++相关的问题，而不止和PaddleSeg或PaddleInference有关~ 建议可以检查一下相关的环境变量，以及ldconfig的缓存是否已更新（编译可以通过，库的版本应该是匹配的）。

参见：
1. https://stackoverflow.com/questions/45419253/shared-object-library-not-found-when-running-program-but-its-linked-during-com
2. ht

[2022-10-13 05:06] #2612 closed, assigned to nobody

[2022-10-13 05:06] juncaipeng commented on #2611
@wuyefeilin 帮忙看下

[2022-10-13 05:13] Bobholamovic commented on #2607
抱歉，是我的疏忽，**在batch size不变的情况下**，iters应该乘以4，而min_kept无需修改（只和每张卡的batch size有关）。

[2022-10-13 06:06] wuyefeilin commented on #2611
直接将大于0的映射为1是可以的。 你所谓的边缘信息丢失严重可以详细描述一下吗

[2022-10-13 06:12] jingmingtao commented on #2611
![image](https://user-images.githubusercontent.com/114384977/195515962-92fd5cbc-9d92-4516-8af1-bbaa6419b252.png)
您看，左边这张是alpha图，右边这张是将大于0的图映射为255显示的图，发现差距比较大

[2022-10-13 06:13] jingmingtao commented on #2611
![image](https://user-images.githubusercontent.com/114384977/195516239-05164d7d-03a4-4266-b65e-dab59a3f26bc.png)
这是彩色图

[2022-10-13 06:14] jingmingtao commented on #2611
很明显alpha图，更接近彩色图，更精细，我用这样的映射显示的图，会边缘损失

[2022-10-13 06:15] jingmingtao commented on #2611
所以，我怀疑alpha图，直接这样映射，是不是不信，它本身会有一个渐变过程吗，我不太懂了，所以想请教下您

[2022-10-13 06:17] jingmingtao commented on #2611
而且咱们的pphumanseg使用的标签不是alpha图，而是类别映射的标签图，我想问一下这里可以转化用吗

[2022-10-13 06:35] wuyefeilin commented on #2605
你得重新处理ground truth， 将背景作为一个类别。然后用mobileseg作为预训练或直接用backbone的预训练都可以。你可以做一下实验进行对比

[2022-10-13 06:44] wuyefeilin commented on #2611
alpha表示的是透明度，值代表前景的概率，所以形成彩色图会有一个渐变的过程，是一个Matting(抠图）的任务。 映射为二值图肯定会有细节的损失。

pphumanseg是利用语义标签训练的。但在预测的时候可以保留softmax的输出结果，类似于alpha图，可以达到边缘过度的效果。

你具体的任务是什么呢，描述一下，方便我们进行知道哈

[2022-10-13 06:55] liumk1998 commented on #2604
tensorrt8.5应该会支持，但是不知道会不会和onnx一样只支持4d的，要先用的话可以模仿raft或者cre的写法，其实就是抄了mmcv的gridsample，会稍微慢一丢丢

[2022-10-13 06:56] liumk1998 commented on #2604
[https://github.com/ibaiGorordo/CREStereo-Pytorch/blob/main/nets/utils/utils.py](url)maybe you can write grid_sampler like this

[2022-10-13 07:15] dutsc opened #2613 "[General Issue]: RuntimeError: (PreconditionNotMet) The meta data must be valid when call the mutable data function. (at /paddle/paddle/phi/core/dense_tensor.cc:105)"
It bothered me for a long time. I don't know where to start debugging. Could you please give me some advice?

I use two GPUs for distributed training.

Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: PaddleSeg 2.6.0
 2. PaddlePaddle version: paddle 2.3.2
 3. Operation system: Linux ubuntu 16.04
 4. Python version: Python 3.7.14

[2022-10-13 07:18] moonnnpie opened #2614 "[General Issue]EISeg标注出现问题"
使用EISeg标注的时候出现问题，不管什么图片他点一下都标注大半张或者不标注

---
![UCHUO4R}I7RSQSQYSW`2G95](https://user-images.githubusercontent.com/109192531/195527921-4e01df34-d138-4833-a8a5-32948746c345.png)
![image](https://user-images.githubusercontent.com/109192531/195528727-8b7943f5-263b-4f5c-af24-6948d7b27dd8.png)

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.6）
 2. PaddlePadd

[2022-10-13 07:25] jingmingtao commented on #2611
我的任务是做人像分割、人像抠图，使用的咱们开源的pphumanseg,用的咱们的ESeg标注工具。用的工程就是咱们的PaddleSeg工程，采用的网络是hrnet。我寻找了一批开源人像标注数据，他们是alpha图标注的，我想转成PaddleSeg-humanseg可以训练的标签数据，以供训练使用。

[2022-10-13 07:26] jingmingtao commented on #2611
我的任务是做人像分割、人像抠图，使用的咱们开源的pphumanseg,用的咱们的ESeg标注工具。用的工程就是咱们的PaddleSeg工程，采用的网络是hrnet。我寻找了一批开源人像标注数据，他们是alpha图标注的，我想转成PaddleSeg-humanseg可以训练的标签数据，以供训练使用。

[2022-10-13 07:31] wuyefeilin commented on #2611
人像分割按照之前的转化方法是可以直接进行的。

如果要进行人像抠图可以使用Matting目录下的项目。利用alpha标签直接进行训练，细节会更好

[2022-10-13 07:34] jingmingtao commented on #2611
人像分割与人像抠图有啥不同呀，用的方法不同吗，为啥使用Matting目录下的项目，会更好呢

[2022-10-13 07:37] jingmingtao commented on #2611
我看pphumanseg也可以做人像抠图啊，这个文章写的
![image](https://user-images.githubusercontent.com/114384977/195532300-198d0e30-4443-4ff4-84eb-5609c0b6a809.png)

[2022-10-13 07:37] jingmingtao commented on #2611
Matting目录下的项目也是用HRNET做的吗

[2022-10-13 07:40] jingmingtao commented on #2611
那做人象抠图的话，数据标定只能使用photoshope来制作alpha图吗，百度飞将有没有其他类似ESeg这样的标注工具呢

[2022-10-13 07:40] wuyefeilin commented on #2611
这是两个不同的任务，语义分割是对每个像素进行分类，是一个离散的任务。 抠图是只提取出前景，计算每个像素的透明度，是一个回归的任务。

pphumanseg是对结果进行softmax的处理，模仿了抠图的过程，但细节上不如直接用抠图任务训练得到的模型。

具体模型及使用方法可以阅读参考我们的代码和文档

[2022-10-13 07:59] haoyuying commented on #2614
用的什么模型呢，提供一张测试图我本地试一下，说明想要分割的要求

[2022-10-13 08:02] Bobholamovic commented on #2613
Hello, I would suggest that the shape, min value and max value of the network output and each element in `loss_list` can be printed to find out more clues about this error.

[2022-10-13 08:07] moonnnpie commented on #2614
用的高精度通用模型，就是给的表格里的第一个，想把图片里正中央的东西提取出来，就不光是这个图片，我用别的图片也是只要标注就是选择大半张。

我换了低精度通用模型试了，也是同样的标注半张图片，我找不到问题出在了哪里。我是在远程服务器上跑的
![00007](https://user-images.githubusercontent.com/109192531/195538861-8f6f688b-4eca-45d2-b56e-f62eb4b9acd1.png)

[2022-10-13 08:12] wuyefeilin commented on #2611
目前没有alpha的标注工具，你可以用ps进行标注哈

[2022-10-13 08:29] dutsc commented on #2613
I use the followed codes to print them. Is the problem caused by an empty element?

This code is added in File "/home/PaddleSeg/paddleseg/core/train.py", line 212, in train

[code]

The error information is as follows:
[code]

[2022-10-13 09:30] jingmingtao commented on #2611
明白了，网络我看matting是hrnet对吗也是一样训练的对吗

[2022-10-13 09:37] wuyefeilin commented on #2611
我们提供了多个模型，你可以根据实际情况进行选择

[2022-10-13 10:06] Bobholamovic commented on #2613
I guess the zero-length tensor can be a reason.

[2022-10-13 10:25] chen-del commented on #2568
@shiyutang 好像是过了一段时间了，我差点把这个忘了，显著提高另外两个类别权重，现在这个的miou效果基本达到了70以上，但是误检背景严重，有没有什么建议

[2022-10-13 11:15] peiwenYe opened #2615 "DIM_VGG16模型数据"
请问导出DIM_VGG16需要的trimap数据有样例吗？

[2022-10-13 12:42] dutsc commented on #2613
Have you ever encountered this bug? When I started training pspnet yesterday, everything was OK. But there is a problem when I start training segmenter.

[2022-10-13 14:09] Bobholamovic commented on #2613
I'll try it on my computer. Please give **a minimum example** to reproduce the problem, say, the instructions.

[2022-10-14 00:28] jingmingtao commented on #2611
好的谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月13日(星期四) 下午5:37
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 如何将人像分割的alpha图转换成PaddleSeg训练的标签图 (Issue #2611)

我们提供了多个模型，你可以根据实际情况进行选择

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.M

[2022-10-14 01:40] chen-del opened #2616 "[Feature Request] percision 存在疑问？"
结果如下，因为我调高了后面两个类别权重，但是最终的结果并不是很理想，还需要做出那个方面调整，才能让精确率提升
![微信图片_20221014093517](https://user-images.githubusercontent.com/58769772/195742372-d14aad11-0e33-4d39-9ed0-caffa443f432.png)

[2022-10-14 02:07] wuyefeilin commented on #2615
DIM的框图
![image](https://user-images.githubusercontent.com/30919197/195745530-bb4822c9-d094-48f7-80c2-395995345ddc.png)
更详细的可以参考它的论文哈

[2022-10-14 02:10] #2611 closed, assigned to wuyefeilin

[2022-10-14 02:13] wuyefeilin commented on #2616
需要详细描述你任务情况，我们才能给出相应的建议哈。另外你这才刚开始训练一会儿，精度较低是正常的

[2022-10-14 02:49] xiaodaomingye459 opened #2618 "环境安装报错"
![image](https://user-images.githubusercontent.com/83204995/195750848-6000736b-c081-4629-be9e-a2fa730e5f22.png)
如图所示

[2022-10-14 03:20] chen-del commented on #2616
嗯好的谢谢，可能和我设置的batch_size有关，我使用的单卡，所以batch_size设置比较小，然后训练有点慢，另外如果变大batch_size学习率如何进行变动以单卡为例。

[2022-10-14 03:20] chen-del commented on #2616
另外如果背景误检验证如何调整，训练方式

[2022-10-14 03:23] chen-del commented on #2616
还有如果背景误检率高，有没有什么策略可以把误解过滤掉，除了加入负样本外，因为负样本多了，又要调loss权重，有没有中和一点的方案，所以麻烦提供一下建议，感谢

[2022-10-14 03:32] jingmingtao opened #2619 "人像抠图 PaddleSeg/Matting中的相关问题请教"
问题1：想问一下，说明文档中提到的数据集，一个是PPM-100，还有一种是the Composition-1k dataset，如下图。想问的是我在哪里可以下载到the Composition-1k dataset，请问有相关的链接可以提供吗。
![image](https://user-images.githubusercontent.com/114384977/195754926-22251c1e-568a-49a8-b273-35cf54efbdcf.png)
问题2：咱们文档中提供的例子是modnet-mobilenetv2模型，它的配置参数什么的，都只是例子对吧。batchsize一般设置多少比较好，是根据训练资源越大越好对吗。一般训练200epoch是不是差不多够了，从而来设置iter对吧？

[2022-10-14 08:31] wuyefeilin commented on #2618
显存不够哈

[2022-10-14 08:38] wuyefeilin commented on #2616
正常来说，bs变大， lr需要跟着变大

[2022-10-14 08:38] haoyuying commented on #2614
<img width="1111" alt="image" src="https://user-images.githubusercontent.com/35907364/195801516-9772d082-d020-4f86-b36a-0655607e4a9d.png">
本地并未复现您的问题，我用的paddle cpu版本2.2.1， eiseg1.0.3,模型和你用的同一个，感觉你的模型是不是load错了，我的load日志和你不一样
<img width="1016" alt="image" src="https://user-images.githubusercontent.com/35907364/195802348-192704f4-d788-4781-a85f-2b97d280b26b.png">
<img width="848" alt="image" src="http

[2022-10-14 08:40] wuyefeilin commented on #2616
背景类是第0类吗，是的话已经挺高的了。

如果样本分布不均衡，可以考虑用dice loss哈

[2022-10-14 08:42] wuyefeilin commented on #2619
composition 得发邮件给Deep  Image Matting的作者进行索取哈

配置文件在configs目录下哈

[2022-10-14 08:50] IamMegatron2025 commented on #2605
@wuyefeilin 感谢回复。多谢~

[2022-10-14 08:55] #2605 closed, assigned to wuyefeilin

[2022-10-14 09:09] moonnnpie commented on #2614
我下载的是表格里的第一个模型和第二个模型
然后这是我load时候的选择模型，这里我是有弄错吗，或者模型有规定放在某个特定目录下吗
对我发现我的日志里面有出现failed，和你的不太一样

![{M8(%5TBGIC48LUK )AM8_X](https://user-images.githubusercontent.com/109192531/195806734-e2afa28f-c016-4573-9ab0-c5f9a8221483.png)

![8{UAT QJOP`ZCK{7X~0$1Q1](https://user-images.githubusercontent.com/109192531/195806756-858af0bc-200e-44af-a165-40d1b52d92a2.png)

[2022-10-14 10:24] chen-del commented on #2616
好的谢谢，例如现在是是单卡我将batch_size*2由8变为16 那么学习率是不是也要*2 ，iter迭代次数是不是要除以2

[2022-10-14 10:26] chen-del commented on #2616
@wuyefeilin 我已经在尝试使用了，但是有个问题在我使用这个的时候，我想提高负样本权重，但是这些损失函数让后面的类别1，2类别学习不到特征

[2022-10-14 10:27] chen-del commented on #2616
这个有什么办法我想提高正检，在没有分类类别的时候，不会将背景分为1，2类别

[2022-10-15 02:54] m828 commented on #2604
很奇怪，我尝试换成这个，能够部署在Windows下，在Linux下跑的模型不能够用tensorrt加速推理，将其权重搬到Windows下，可以推理成功，但是Windows不支持benchmark，不能够计算fps(两边都是2.3.2.post112，tensorrt为8.2.5)

[2022-10-15 12:56] liumk1998 commented on #2604
呃呃，应该不至于会有系统区别吧，我改的可以放jetson开发板上跑

[2022-10-15 16:03] moonnnpie commented on #2614
我在本地试了一下，是成功的，和你的效果是一样的，但是日志还是会显示failed，可能是我在远程服务器上有什么不适配吧
感谢感谢

[2022-10-15 16:06] moonnnpie opened #2622 "[General Issue]EISeg保存图像文件名设置"
请问EISeg图像标注完成后保存的图片可以自定义文件名吗？比如我选择抠图保存文件名会存XXXX_cutout，请问这个cutout部分可以自己更改吗，比如说文件名里面把cutout删除，就保存为原文件名

[2022-10-16 04:51] liumk1998 commented on #2604
娘希匹，nvidia说2022q3支持grid_sample，我等不及自己找到接口实现了下，效果一样，快一丢丢。你可以照我[这个](https://blog.csdn.net/weixin_42492254/article/details/127324189 )试试，python的话应该就多一句ctypes.CDLL(plugin_lib)来加载接口

[2022-10-17 00:36] m828 commented on #2604
好的，我看看，感谢

[2022-10-17 02:32] Tangyuny commented on #2577
@juncaipeng 请问有眉目了吗，或者能否提供一些建议，谢谢

[2022-10-17 02:47] wuyefeilin commented on #2616
理论上是这么处理的。具体的也可以根据你的数据进行调整哈

[2022-10-17 02:51] wuyefeilin commented on #2616
我们提供了丰富的loss函数像OHEM CE Loss, lovasz loss, connectivity loss等都可以进行尝试哈。https://github.com/PaddlePaddle/PaddleSeg/tree/develop#-overview

如果追求高精度可以选择高精度的模型进行训练。
https://github.com/PaddlePaddle/PaddleSeg/issues/2616#issuecomment-1278813321

[2022-10-17 02:51] peiwenYe opened #2623 "release/2.4套件预训练模型"
请问release/2.4发版的CSwinTransformer，PVTv2 ，MobileViT ，VAN这四个系列的模型有预训练模型吗？

[2022-10-17 05:52] jingmingtao commented on #2619
您好，一般抠图matting的指标sad多少，证明模型效果还不错，可以分享一下经验吗，还有batchsize跟训练的轮数，可以指导一下经验吗

[2022-10-17 06:09] jingmingtao opened #2624 "人像抠图PaddleSeg/Matting中训练时问题请教"
您好，想跟您请教一下人像抠图训练中的一些技术问题
1、想问一下，咱们训练人像抠图时batchsize一般设置多少，我看例子设置1，是跟其他模型一样是越大越好吗；
2、想问一下，一般epoch设置多少，这个跟数据量是不是有关，如果我有4w数据，设置多少比较好；
3、想问一下，指标sad一般多少证明模型表现不错
以上问题，请求您指教下，万分感谢

[2022-10-17 06:09] jingmingtao commented on #2624
您好，想跟您请教一下人像抠图训练中的一些技术问题
1、想问一下，咱们训练人像抠图时batchsize一般设置多少，我看例子设置1，是跟其他模型一样是越大越好吗；
2、想问一下，一般epoch设置多少，这个跟数据量是不是有关，如果我有4w数据，设置多少比较好；
3、想问一下，指标sad一般多少证明模型表现不错
以上问题，请求您指教下，万分感谢

[2022-10-17 06:44] duduzai2019 commented on #1458
hi，can you succeed?

[2022-10-17 07:18] haoyuying commented on #2622
目前没有该功能，您可以在标注完成后写个脚本对自己的图像进行批量处理。

[2022-10-17 07:24] haoyuying commented on #2623
paddleseg的预训练模型一般在config文件夹下，如果有，会在config相对应的文件夹中提供链接。

[2022-10-17 08:21] wuyefeilin commented on #2624
你好，配置相关信息在configs下的配置文件中可以找到

关于人像抠图的指标，根据场景的不同，表现不同，不能一概而论

[2022-10-17 08:44] xiaodaomingye459 opened #2625 "RTformer在测试阶段报错"
![image](https://user-images.githubusercontent.com/83204995/196131861-42e7695b-2c7c-418d-bb01-b1cf1fc67a8c.png)
![image](https://user-images.githubusercontent.com/83204995/196132012-25cfef5f-a933-46ba-b27a-90b4c96ca5e6.png)
可以训练，在测试阶段报错，如上

[2022-10-17 09:21] haoyuying commented on #2625
您好，请给出具体的使用环境及数据集，方便复现及排查问题

[2022-10-17 09:26] juncaipeng commented on #2625
大概率是环境问题，可以试着参考seg文档，排查并验证一下环境

[2022-10-17 10:07] xiaodaomingye459 commented on #2625
上面的图1就是运行具体环境：

------------Environment Information-------------
platform: Linux-5.4.0-59-generic-x86_64-with-debian-buster-sid
Python: 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.2, V10.2.89
cudnn: 8.0
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: NVIDIA GeForce']
GCC: gcc (Ubuntu 7.5.0-3ubun

[2022-10-17 13:53] top18981725185 opened #2626 "[General Issue] 知识蒸馏报错"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-10-17 14:22] GGGJOY opened #2627 "[General Issue]请问使用eiseg进行标注时识别的不准确，是否可以关闭交互式分割，直接手动选择区域"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-10-18 02:02] haoyuying commented on #2627
目前eiseg暂不支持手动标注，可以使用paddlelabel，具体使用可参考：https://github.com/PaddleCV-SIG/PaddleLabel

[2022-10-18 02:14] GGGJOY commented on #2627
paddlelabel支持遥感影像（tiff格式，文件较大）的标注嘛

[2022-10-18 02:49] juncaipeng commented on #2626
这个是跑seg的蒸馏示例吗？  还是说改动了什么？

[2022-10-18 07:42] juncaipeng commented on #2625
en, 使用paddle2.2版本复现了该问题。 建议你先升级一下paddle 2.3，验证是ok。我们会尽快修复该问题。

[2022-10-18 08:11] juncaipeng commented on #2625
修复pr： https://github.com/PaddlePaddle/PaddleSeg/pull/2633

[2022-10-18 10:40] top18981725185 commented on #2626
是seg的，没有改动，跑通一次，重新启动了GPU就不行了，重新创建了项目拉取代码报一样的错

[2022-10-18 10:41] top18981725185 commented on #2626
配置文件不使用蒸馏训练可以跑通

[2022-10-18 11:06] #2625 closed, assigned to juncaipeng

[2022-10-18 14:47] zjliu-cs opened #2635 "为什么输入的图片数组尺寸不是相同的？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version:  2.5
 2. PaddlePaddle-gpu version: 2.3.2.post112
 3. Operation system: Linux
 4. Python version:  3.7
 5. CUDA/cuDNN version: cuDNN 8.2
 6. Additional context: (Add any other context about the problem)

我已经设置了Resize，将图片全部转化为1444*1444大小，为什么输入的图片数组大小不同呢？

错误信息
[code]
[code]

[2022-10-18 15:01] moonnnpie commented on #2622
好的感谢感谢

[2022-10-18 15:01] #2622 closed, assigned to haoyuying

[2022-10-19 02:13] shiyutang commented on #2601
可以参考：
![image](https://user-images.githubusercontent.com/34859558/196581071-6cce0aab-a558-4945-98d4-b89f35a9c58a.png)

[2022-10-19 02:37] juncaipeng commented on #2635
建议对train_dataset进行遍历，看看输出的图片尺寸是否相同，估计还是特定的train_transforms导致这个问题。

[2022-10-19 07:23] chen-del commented on #2616
@wuyefeilin ,使用高精度模型，模型的参数量普遍偏大，我尝试使用下其他的loss

[2022-10-19 09:07] zjliu-cs commented on #2635
输入的图片大小是不一样的，但是transforms中不是设置了resize改变大小吗？

[2022-10-20 02:05] #2601 closed, assigned to juncaipeng

[2022-10-20 02:06] juncaipeng commented on #2635
[code]
除了Resize，后面几个操作可能也会改变size，你调试一下看

[2022-10-20 03:46] chen-del opened #2637 "[Bug] 导出模型的时候出现了问题"
W1020 11:44:16.561498  4588 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.4, Runtime API Version: 11.1
W1020 11:44:16.566226  4588 device_context.cc:465] device: 0, cuDNN Version: 8.2.
Traceback (most recent call last):
  File "export.py", line 144, in <module>
    main(args)
  File "export.py", line 102, in main
    para_state_dict = paddle.loa

[2022-10-20 03:52] Bobholamovic commented on #2637
请确认`--model_path`指定的模型格式是否正确。

[2022-10-20 04:11] chen-del commented on #2637
我确认路径是正确的，因为模型保存的路径就是和文件命名是相同的，一共是训练了10000iter，但是我指定的时候却是爆出了这个错误，我不知道是哪里出现了问题

[2022-10-20 04:13] Bobholamovic commented on #2637
请问是静态图还是动态图的模型呢？

[2022-10-20 04:15] chen-del commented on #2637
是用的best_model动态的转静态

[2022-10-20 04:15] chen-del commented on #2637
@Bobholamovic 对了我好像是使用了，DiceLoss和MultiClassFocalLoss这两个loss进行组合，这个会不会是原因

[2022-10-20 04:51] Bobholamovic commented on #2637
应该不是哦，看报错信息应该是在第一步加载模型的时候就出错了，还没有到涉及PaddleSeg的部分~ 请问你的`--model_path`指定的是`best_model`目录还是其中的`model.pdparams`文件呢？

[2022-10-20 04:58] chen-del commented on #2637
@Bobholamovic 我指定的是目录

[2022-10-20 05:00] chen-del commented on #2637
我好像知道原因了，我填错了填成了文件路径，其实是动态文件模型是吧

[2022-10-20 05:19] Bobholamovic commented on #2637
是的，应该填写.pdparams为后缀的模型权重文件。

[2022-10-20 05:30] chen-del commented on #2637
好的，谢谢

[2022-10-20 06:12] #2637 closed, assigned to Bobholamovic

[2022-10-20 07:43] zhanghongyong123456 opened #2638 "关于 RTFormer ,请问，可以用来视频抠像训练吗？"
1. 类似于https://github.com/SHI-Labs/VMFormer 项目,这个论文说transformer 可以很好的解决闪烁问题，所以我想问我们的项目可以进行视频抠像训练吗，能有效缓解视频闪烁问题吗，我们这个transformer 可以实现高清4k实时吗
2.  对于抠像和分割是否只需要修改数据通道以及loss计算的公式就可以直接使用，无需修改模型框架的其他内容

[2022-10-20 10:10] BeyondYourself opened #2639 "mixedLoss中的Loss比例如何划分"
在语义分割中用到的MixedLoss来进行多个损失函数组合应用
比如LovaszSoftmaxLoss和CrossEntropyLoss中两个的比例分别为0.2和0.8
请教一下这个比例在实际的训练中如何确定，有没有什么评价方法

[2022-10-20 10:13] Bobholamovic commented on #2639
如果论文中有涉及相关描述，可以采用论文中的配置。在实际工程中可以通过网格法进行参数分析实验确定（即，尝试多种可能的组合）。

[2022-10-20 10:17] Bobholamovic commented on #2638
你好，目前PaddleSeg将RTFormer支持为图像语义分割模型。将RTFormer用于抠像任务需要修改数据和损失。套件暂时未提供将RTFormer用于视频任务的功能。

[2022-10-20 10:20] BeyondYourself commented on #2639
多谢大神解答，还有个疑问就是MixedLoss中涉及的损失函数组合一般怎么结合比较好，目前是多分类，样本分布不均衡的，采用CrossEntropyLoss+MultiClassFocalLoss吗 @Bobholamovic

[2022-10-20 13:39] Bobholamovic commented on #2639
类别不均衡/长尾分布可以考虑加权（设置weight参数，给小类别更大权重）CrossEntropyLoss+MultiClassFocalLoss的组合，FocalLoss在设计时考虑了难样本挖掘，因此能够缓解样本分布不均衡问题。

[2022-10-21 01:24] zhanghongyong123456 commented on #2638
请问，我能加时间一致性的损失，用于视频抠像吗，还是说模型必须需要时间一致性的设计

[2022-10-21 01:50] BeyondYourself commented on #2639
多谢解惑

[2022-10-21 02:06] Bobholamovic commented on #2638
目前PaddleSeg只提供图像分割相关的训练、测试、推理功能，对视频任务的数据预处理、后处理以及训练、推理等暂时不支持，所以我理解可能时间一致性损失不一定能在现有框架中使用哦~

[2022-10-21 02:52] zhanghongyong123456 commented on #2638
好的，谢谢解答，那么以后有计划对视频任务实现吗

[2022-10-21 02:59] di-dii commented on #2501
你好，我采用类似的方法，已经实现了将它封装成一个类，只需要加载模型一次，后面就只调用输出部分即可，但是刚刚发现了一个问题：  我使用同一张图像，循环推理100次，发现只有前两次有分割结果，后面都为空白，请问这是什么问题呢，以及存在的解决办法？

环境：jetpack 4.5
部属方法：c++ inferrence  gpu tensorrt

期待您的答复，感谢～
![xxxxxx屏幕截图](https://user-images.githubusercontent.com/59963025/197101120-1f211b6b-e137-46c6-90c6-4aac2401d556.png)

[2022-10-21 03:13] Bobholamovic commented on #2638
有的。实际上我们正在开发视频分割相关能力 相信不久以后大家就能用上啦～

[2022-10-21 03:13] Bobholamovic commented on #2501
你好，我们这边没有观测到这种情况。请问方便提供一下核心代码，或者描述一下推理和存图的逻辑么？

[2022-10-21 03:30] zhanghongyong123456 commented on #2638
好的，谢谢

[2022-10-21 03:30] #2638 closed, assigned to Bobholamovic

[2022-10-21 06:05] BeyondYourself commented on #2639
CELoss中如果对于类别设置权重，Ignore_index也设置 了，并且ignore_index是忽略的背景分类，权重中需要设置背景的权重吗

[2022-10-21 06:24] Bobholamovic commented on #2639
weight中还是需要设置被忽略类别的权重值（如果被忽略类别的id小于num_classes的话）~

[2022-10-21 08:04] #2639 closed, assigned to Bobholamovic

[2022-10-21 09:39] ukoehler opened #2643 "[Bug] Cannot export model"
System:
Windows 10
Python 3.9.13
paddle-bfloat      0.1.7
paddle2onnx        1.0.1
paddlefsl          1.1.0
paddlehub          2.3.0
paddlenlp          2.4.1
paddlepaddle       2.3.2
paddleseg          2.6.0

For issue https://github.com/PaddlePaddle/PaddleHub/issues/2083 I have been asked to try and export a model to prepare for the conversion to ONNX. First, I tried to follow the following examp

[2022-10-21 10:59] shiyutang commented on #2643
You need to run the python export.py command under “PaddleSeg/” directory rather than “PaddleSeg\BiSeNet_V2”.

[2022-10-21 11:29] ukoehler commented on #2643
Hi @shiyutang,

hope this additional information helps:

1. Make sure to use the raw version when using wget (I have now, but that doesn't help)
2. I am not using a checked out version of PaddleSeg, but a pip installed version
3. The yml files was referencing recursively other yml files in ```_base_``` . Obviously I did not have those. So I downloaded them and adapted the path in the yml files lik

[2022-10-21 11:39] ukoehler commented on #2643
I also tried from the directory up. Entries in the yml is now ```_base_: './BiSeNet_V2/cityscapes.yml'```. I also tried with \ and / for directory separator.

[code]

[2022-10-21 11:48] ukoehler commented on #2643
Hmmmm, I did have a look at the only two ```export.py``` scripts you get when installing with pip. Both of them seem to be related to the task, however, both do not fit. Also, both do not have a main to execute at all.

Where can I get the needed export.py script? Also, the command hub from PaddlePaddle can be executed with the absolute path inside a venv.

[2022-10-21 12:01] ukoehler commented on #2643
OK, this needs the full checkout of PaddleSeg. A pip install is not enough. This is confusing.

[2022-10-22 04:15] di-dii commented on #2501
谢谢你们的工作。

昨天检查了一下，是我自己的问题，把输入图像原地操作了（归一化），所以后面再输入这个图像就得不到正常的检测结果了。

[2022-10-23 04:12] Yang-Changhui opened #2644 "AttributeError: 'numpy.ndarray' object has no attribute 'keys'"
你好，我在运行LaneSeg的predict时，出现AttributeError: 'numpy.ndarray' object has no attribute 'keys'，请问大家有遇到这样的问题吗
![无标题](https://user-images.githubusercontent.com/71805205/197373359-bfb5ed0f-d692-498a-a109-92a73c27d3c1.png)

[2022-10-23 07:19] bigbiglemon opened #2645 "Matting人像分割模型大小"
业务需求在Android做离线人像抠图，对比PP-HumanSeg  和 Matting模块下几个模型效果，最终选择Matting(主要由于PP-HumanSeg边缘模糊），但是Matting几个模型最小都有20+M，opt 工具设置quant_type位int8亦无改变（没有量化的模型？）
问题：应该如何才能压缩 Matting 下模型大小？？？

[2022-10-24 01:27] jingmingtao opened #2646 "paddle安装问题"
![image](https://user-images.githubusercontent.com/114384977/197430058-a4a2c0e7-af45-45f9-a6e9-23f4f81e2093.png)
您好，安装paddle的时候包哦了这个错，求解决，万分感谢

[2022-10-24 02:17] haoyuying commented on #2644
您好，出现这样的问题是因为您图片传入有问题，建议从图片传入路径是否存在及合法进行排查。

[2022-10-24 02:18] haoyuying commented on #2646
您好，paddle安装问题请移步https://github.com/PaddlePaddle/Paddle/issues

[2022-10-24 02:29] chen-del opened #2647 "[General Issue] 训练过程中出现了异常"
2022-10-24 10:24:42 [INFO]      There are 262/262 variables loaded into MobileNetV3.
/home/dell/anaconda3/envs/d2l/lib/python3.6/site-packages/paddle/nn/layer/norm.py:653: UserWarning: When training, we now always track global mean and variance.
  "When training, we now always track global mean and variance.")
2022-10-24 10:24:48 [INFO]      [TRAIN] epoch: 1, iter: 10/60000, loss: 0.6090, lr: 0.00

[2022-10-24 02:32] wuyefeilin commented on #2645
我们正着手进行压缩和部署功能的强化，轻量化抠图模型的研发。敬请期待哈

[2022-10-24 02:56] Yang-Changhui commented on #2644
很感谢你的答复。但是问题不在这里，我的图片是可以显示的，经过transforms()出错，我的numpy是1.18，我在想是不是numpy版本太高了

[2022-10-24 05:15] lucasjinreal opened #2648 "where is RTFormer code?"
where is RTFormer code? Just saw configs

[2022-10-24 06:47] haoyuying commented on #2647
您好，具体什么模型出现了什么问题呢？warning不影响使用，可以不用理会。

[2022-10-24 06:49] haoyuying commented on #2648
In the develop branch, more details can be found here:https://github.com/PaddlePaddle/PaddleSeg/tree/develop/configs/rtformer

[2022-10-24 06:52] chen-del commented on #2647
您好，我更改了head解码头，然后使用主干训练时，出现了这个，UserWarning: When training, we now always track global mean and variance， 同时它的分割效果也是很差，分不出明显区域但是它又是可以正常训练，所以感觉解码层设计出现了问题，但不知道具体在哪。

[2022-10-24 06:54] chen-del commented on #2647
而且损失掉点太快了有点不符合常理，我使用的是ohem+focal loss组合，按理来说应该平稳下滑

[2022-10-24 07:27] peiwenYe opened #2649 "export导出静态图报错"
CityscapesSOTA模型导出静态图报错
![image](https://user-images.githubusercontent.com/37332773/197470514-1db4a6b3-0215-4ec8-b995-ca57bac3bb2d.png)

[2022-10-24 12:11] juncaipeng commented on #2365
都是window系统上的错误吗？

[2022-10-25 02:09] haoyuying commented on #2649
您好，请给出具体的导出环境及导出时的命令行代码，方便排查问题。

[2022-10-25 06:17] juncaipeng commented on #2645
应该可以减小到模型1/4的，应该是使用错误，你可以排查一下

[2022-10-25 08:09] peiwenYe commented on #2649
Mac M1
paddle version: 2.2.2
python: 3.8
paddleSeg release/2.4
命令：`python export.py --config ./contrib/CityscapesSOTA/configs/mscale_ocr_cityscapes_autolabel_mapillary_ms_val.yml --model_path https://bj.bcebos.com/paddleseg/dygraph/cityscapes/mscale_ocr_hrnetw48_cityscapes_autolabel_mapillary/model.pdparams   --save_dir ./output --input_shape 1 3 2048 1024`
预训练模型来自于官方教程
![image](https://user-image

[2022-10-25 09:47] haoyuying commented on #2647
可以检测下您修改的head是否存在问题，可以和原版做一下对照试验。

[2022-10-25 09:52] chen-del commented on #2647
我检查了相比于原始版本它多出了一个argmax输出,但是我不知道这个设计到底是哪里出错了，因为我改了一个主干去套用head，这个样子是不是存在问题

[2022-10-25 09:55] chen-del commented on #2647
@haoyuying
![image](https://user-images.githubusercontent.com/58769772/197743305-0977fbfd-61f7-40b7-a3fa-3b86744a3bfa.png)
因为转成了onnx但是结构和paddle结构是相同的

[2022-10-25 11:17] linshuchar opened #2655 "新出的RTFormer在哪里呢？"

[2022-10-25 11:21] danieltudosiu opened #2656 "EdgeFlow - Edge Guidance - Code Location"
Hey,

Thank you very much for the fantastic work you are doing!

I just read your paper "EdgeFlow: Achieving Practical Interactive Segmentation with Edge-Guided Flow" and would like to use some parts of it in my work.

I tried to find the code linked to the EdgeFlow paper but failed to do so. Could you please point me towards the following components:
- Section 3.2 - Edge-guided Flow - Edge Guidan

[2022-10-25 11:21] peiwenYe opened #2657 "模型评估input_shape"
请问U-Net模型，模型评估时要使输入模型的数据input_shape是[1, 3, 1024, 512]需要输入哪些参数呢？如果使用默认配置，输入是[1, 3, 1024, 2048]，我用的Mac M1，电脑会被卡死。使用命令如下：
`python val.py --config /Users/yepeiwen01/Desktop/work/suite/PaddleSeg/configs/unet/unet_cityscapes_1024x512_160k.yml --model_path ./model/best_model.pdparams`

[2022-10-25 12:48] #2657 closed, assigned to nobody

[2022-10-25 14:12] bigbiglemon commented on #2645
@juncaipeng  👌，我再排查一下，辛苦答疑

[2022-10-26 02:01] aixuedegege commented on #2655
顺便问一下用这个训练自己的数据 yml要怎么写？

[2022-10-26 02:12] aixuedegege commented on #2655
自我解决：拉develop代码下来run就ok了

[2022-10-26 02:26] juncaipeng commented on #2655
https://github.com/PaddlePaddle/PaddleSeg/tree/develop/configs/rtformer

[2022-10-26 02:32] #2645 closed, assigned to wuyefeilin

[2022-10-26 02:39] haoyuying commented on #2656
We provide the edgeflow model in this link, https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/EISeg/docs/image_en.md
![image](https://user-images.githubusercontent.com/35907364/197921111-34ee2f55-4811-4d0a-8d38-90f362a06541.png)
this model is the static model by paddlepaddle, so we do not need to provide code for model structure in our repo, you may use visualdl to visualize the model str

[2022-10-26 06:31] peiwenYe opened #2658 "Portrait14K数据集"
请问PP_HumanSeg的通用人像分割使用的portrait14k数据集在哪里下载呢？可以直接使用通用人像分割的mini_supervisely数据集吗？

[2022-10-26 08:15] peiwenYe opened #2659 "PP_HumanSeg val 报错"
PaddleSeg: 2.6
paddlepaddle: 2.2.2
python: 3.7.4
通用人像分割val报错
![image](https://user-images.githubusercontent.com/37332773/197971553-8a10532d-85ac-4c48-8f8b-2e6f0d68d47a.png)
使用的命令如下：
`~/PaddleSeg/contrib/PP-HumanSeg$ python ../../val.py --config /home/aistudio/PaddleSeg/contrib/PP-HumanSeg/configs/human_pp_humansegv1_lite.yml`

[2022-10-26 08:53] wuyefeilin commented on #2658
如果是预测直接使用我们的开源的模型即可，无需从头训练哈。若需要数据请发邮件进行申请哈

[2022-10-26 08:59] wuyefeilin commented on #2659
contrib/PP-HumanSeg只支持预测，如果需要训练评估请移步PaddelSeg目录并利用PaddeSeg/configs下的配置文件进行训练评估

[2022-10-26 14:10] ukoehler opened #2660 "[Bug] Error in current "Model Export" documentation"
Hi,

the following documentation https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/model_export.md has the input size at ```--input_shape 1 3 512 1024```, however it looks like the input for the model should be 1024x1024. See https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/configs/bisenet

[2022-10-27 00:55] jingmingtao opened #2661 "求求大哥了，帮忙看看吧，这个问题我困扰了两天了shape必须统一的问题"
您好我在使用咱们的工程时，数据array.shape不同，我也知道是这个问题，我将所有的训练集的alpha用np.array读取它的shape发现都是单通道的，没有发现3通道的呀。有三通道的我也用代码转换成单通道了。还是报这个问题。请教一下，如何解决。
![Uploading image.png…]()

[2022-10-27 00:55] jingmingtao commented on #2661
报的错：File "/home/cy/anaconda3/envs/torch/lib/python3.9/site-packages/numpy/core/shape_base.py", line 428, in stack
    raise ValueError('all input arrays must have the same shape')
ValueError: all input arrays must have the same shape

[2022-10-27 00:56] jingmingtao commented on #2661
我进入到/home/cy/anaconda3/envs/torch/lib/python3.9/site-packages/numpy/core/shape_base.py下边428行将这个len(shape)打印出来是2，这是什么导致的呀。

[2022-10-27 00:59] jingmingtao commented on #2661
以前我也遇到这样的情况，我将数据用np.array打印出shape发现有(800,600,3)的，我就用代码给转换成单通道的，就解决了。现在我还是用这种方法，就不能解决了。关键转换后，我去用np.array打印出shape,已经没有(800,600,3)这样三通道的了呀

[2022-10-27 01:02] jingmingtao commented on #2661
我寻思，是不是咱们工程里边在使用np.array读取alpha的时候，可以这样img_open=Image.open(img_path).convert("L")，而不是img_open=Image.open(img_path)。但是，工程中我又没有找到这个读取使用np.array读取alpha的地方，如果想通过这样修改，来避免我的问题的话，我应该修改那里的代码。如果不这样修改，我应该怎么解决这个shape不同的问题。

[2022-10-27 01:03] jingmingtao commented on #2661
3通道转换为单通道的代码为：，应该也没什么问题吧
![image](https://user-images.githubusercontent.com/114384977/198166913-f1beff7f-b1ed-4ea3-b765-383644248c9c.png)

[2022-10-27 01:04] jingmingtao commented on #2661
报的错误：
![image](https://user-images.githubusercontent.com/114384977/198166994-6084e843-24ea-425f-83df-cda7e9d7971b.png)

[2022-10-27 01:06] jingmingtao commented on #2661
我使用的工程是PPseg中的Matting做人像抠图

[2022-10-27 01:16] jingmingtao opened #2662 "Matting训练自己的数据集，报形状不同的问题，我检查了训练集的数据，发现shape都相同。求解决。"
报错：
![image](https://user-images.githubusercontent.com/114384977/198168330-65d093a3-d238-476c-acaa-dd89bebe2146.png)

[2022-10-27 01:16] jingmingtao commented on #2662
我尝试了很多方法去解决，都没有解决掉

[2022-10-27 01:17] jingmingtao commented on #2662
以前我也遇到这样的情况，我将数据用np.array打印出shape发现有(800,600,3)的，我就用代码给转换成单通道的，就解决了。现在我还是用这种方法，就不能解决了。关键转换后，我去用np.array打印出shape,已经没有(800,600,3)这样三通道的了呀。
我寻思，是不是咱们工程里边在使用np.array读取alpha的时候，可以这样img_open=Image.open(img_path).convert("L")，而不是img_open=Image.open(img_path)。但是，工程中我又没有找到这个读取使用np.array读取alpha的地方，如果想通过这样修改，来避免我的问题的话，我应该修改那里的代码。如果不这样修改，我应该怎么解决这个shape不同的问题。

[2022-10-27 01:21] jingmingtao opened #2663 "Matting训练自己的数据集，报形状不同的问题，我检查了训练集的数据，发现shape都相同。求解决"
![image](https://user-images.githubusercontent.com/114384977/198168875-a5f2837b-9074-4872-a727-718909771d8e.png)

[2022-10-27 01:21] jingmingtao commented on #2663
以前我也遇到这样的情况，我将数据用np.array打印出shape发现有(800,600,3)的，我就用代码给转换成单通道的，就解决了。现在我还是用这种方法，就不能解决了。关键转换后，我去用np.array打印出shape,已经没有(800,600,3)这样三通道的了呀

我寻思，是不是咱们工程里边在使用np.array读取alpha的时候，可以这样img_open=Image.open(img_path).convert("L")，而不是img_open=Image.open(img_path)。但是，工程中我又没有找到这个读取使用np.array读取alpha的地方，如果想通过这样修改，来避免我的问题的话，我应该修改那里的代码。如果不这样修改，我应该怎么解决这个shape不同的问题。

[2022-10-27 02:07] Bobholamovic commented on #2660
Thanks for pointing out this bug! We have updated the document in the develop branch. Please check:
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/model_export.md

[2022-10-27 02:09] Bobholamovic commented on #2663
Duplicate #2662

[2022-10-27 02:09] #2663 closed, assigned to nobody

[2022-10-27 02:10] Bobholamovic commented on #2662
Duplicate https://github.com/PaddlePaddle/PaddleSeg/issues/2661

[2022-10-27 02:10] #2662 closed, assigned to nobody

[2022-10-27 02:13] juncaipeng commented on #2659
升级使用paddle 2.3版本，可以避免这个bug。

[2022-10-27 02:43] jingmingtao commented on #2662
我在配置文件中加入了
- type: Padding
      target_size: [512, 512]
又会报错：ValueError: The shape of `pred`, `gt` and `trimap` should be equal. but they are (1, 1, 750, 563), (1, 1, 563, 750) and (1, 1, 563, 750)

[2022-10-27 02:43] jingmingtao commented on #2662
大哥求求您了，代码怎么修改，我怎么解决

[2022-10-27 02:44] jingmingtao commented on #2661
大哥，球球了，怎么避免解决这个问题呢

[2022-10-27 02:44] jingmingtao commented on #2661
我改了一下numworker，也没用

[2022-10-27 02:46] jingmingtao commented on #2661
以前训练分类、检测、分割怎么没有这个问题。为啥到了这个，就必须shape一样，代码到底怎么了

[2022-10-27 02:58] wuyefeilin commented on #2661
猜测可能是数据增强的问题。麻烦给一下你的训练日志，训练命令以及配置文件

[2022-10-27 03:02] jingmingtao commented on #2661
训练命令：python tools/train.py --config configs/quick_start/modnet-mobilenetv2.yml --do_eval --use_vdl --save_interval 100 --num_workers 1 --save_dir output_3w
配置文件：
![Uploading image.png…]()

[2022-10-27 03:02] jingmingtao commented on #2661
配置文件：
![image](https://user-images.githubusercontent.com/114384977/198181042-9a2f5d18-4b41-421b-ad77-77709f73b73d.png)

[2022-10-27 03:04] jingmingtao commented on #2661
原本我没有增加paddling的时候会报错，shape的问题。增加了paddling时候，变成了ValueError: The shape of `pred`, `gt` and `trimap` should be equal. but they are (1, 1, 750, 563), (1, 1, 563, 750) and (1, 1, 563, 750)