[2022-10-27 03:05] jingmingtao commented on #2661
我也是看咱们有关评论里，有用增加padding target【512，512】就解决了的，我试了下，就又报ValueError: The shape of pred, gt and trimap should be equal. but they are (1, 1, 750, 563), (1, 1, 563, 750) and (1, 1, 563, 750)这样的错了

[2022-10-27 03:07] jingmingtao commented on #2661
关键我将所有的alpha，用np.array，读取它的shape，它的shape[2]，都是不存在的呀。因为我已经将部分的shape[2]==3的已经改成单通道了呀，改完后还用代码检查了下，没问题呀

[2022-10-27 03:07] jingmingtao commented on #2661
训练集验证集都修改了

[2022-10-27 03:09] jingmingtao commented on #2661
包括fg中的图片发现shpe[2]有等于4的，我也已经删除了，现在除了图片的长宽不同，别的维度都相同了呀

[2022-10-27 03:09] jingmingtao commented on #2661
不会是长宽不同导致的吗，

[2022-10-27 03:10] jingmingtao commented on #2661
训练日志怎么给你呀，

[2022-10-27 03:14] jingmingtao commented on #2661
大哥，可以操作吗

[2022-10-27 03:16] jingmingtao commented on #2661
我python是3.9有关系吗

[2022-10-27 03:18] jingmingtao commented on #2661
大哥能看到我的消息吗

[2022-10-27 03:19] jingmingtao commented on #2661
我发了您看到了吗

[2022-10-27 03:24] jingmingtao commented on #2661
您能收到吗

[2022-10-27 03:30] jingmingtao opened #2664 "我刚刚给您把训练指令，配置文件截图了，您收到了吗"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-10-27 03:38] wuyefeilin commented on #2661
教程跑通了吗

[2022-10-27 03:42] wuyefeilin commented on #2664
Same as #2661

[2022-10-27 03:42] #2664 closed, assigned to nobody

[2022-10-27 04:13] jingmingtao commented on #2661
教程早就跑通了，并且在自己制作的训练集、搜集的训练集上训练过几个模型了

[2022-10-27 04:14] jingmingtao commented on #2661
这次的新的数据，就不可以了

[2022-10-27 04:59] jingmingtao commented on #2661
教程跑通没问题的

[2022-10-27 04:59] jingmingtao commented on #2661
![image](https://user-images.githubusercontent.com/114384977/198195885-2ff2ffa6-31d7-416f-aa2a-ef48816924f6.png)

[2022-10-27 05:00] jingmingtao commented on #2661
求求你帮我看看吧

[2022-10-27 05:16] jingmingtao commented on #2661
是不是需要图片的长宽都一样啊，

[2022-10-27 05:22] jingmingtao commented on #2661
教程跑通了

[2022-10-27 05:22] jingmingtao commented on #2661
大哥，我很着急，能帮我看看吗

[2022-10-27 05:51] jingmingtao commented on #2661
大哥，如果是数据增强，那可能是那里的问题啊

[2022-10-27 06:02] jingmingtao commented on #2661
![image](https://user-images.githubusercontent.com/114384977/198203625-6075169b-6384-4d37-98ee-af71e95ff4d8.png)
我将/home/cy/anaconda3/envs/torch/lib/python3.9/site-packages/numpy/core/shape_base.py下边428行将这个(shape)打印出来发现是2，但是代码的意思应该len(shape)是1，这种2是可能什么情况导致的呢，能给点提示吗

[2022-10-27 06:28] jingmingtao commented on #2661
我估计也是数据增强那部分代码问题，我觉得我的数据应该没啥问题，我检查过好多次了，数据的维度都相同的

[2022-10-27 06:31] jingmingtao opened #2665 "数据增强部分代码，导致 File "/home/cy/anaconda3/envs/torch/lib/python3.9/site-packages/numpy/core/shape_base.py", line 430, in stack raise ValueError('all input arrays must have the same shape') ValueError: all input arrays must have the same shape"
在/home/cy/anaconda3/envs/torch/lib/python3.9/site-packages/numpy/core/shape_base.py将shape的len打印出来是不等于1的，可能是2，可能是3.

[2022-10-27 06:32] jingmingtao commented on #2665
我使用的是人像抠图Matting这可能是哪部分代码导致的呢，请指点一下可以吗，

[2022-10-27 06:55] Bobholamovic commented on #2665
Duplicate https://github.com/PaddlePaddle/PaddleSeg/issues/2661

[2022-10-27 06:55] #2665 closed, assigned to nobody

[2022-10-27 06:56] wuyefeilin commented on #2661
你把数据打包一份给我把，还有你的数据增强流程也发我一份。我本地复现一下

[2022-10-27 07:00] chgdwf commented on #2644
同样的报错+1，我这里换了paddleseg的版本就正常了，希望有帮助。
操作系统：centos 7；
环境：python 3.6/3.9/3.10；
使用paddleseg2.6版本时报AttributeError: 'numpy.ndarray' object has no attribute 'keys'，更换paddleseg 2.5.0版后，一切正常

[2022-10-27 07:01] jingmingtao commented on #2661
你能远程我的电脑吗

[2022-10-27 07:01] jingmingtao commented on #2661
我数据怎么传给你呀

[2022-10-27 07:03] jingmingtao commented on #2661
![image](https://user-images.githubusercontent.com/114384977/198213905-e46aba47-8e9b-4be4-8eae-c328b9f3c261.png)
数据增强如上所示

[2022-10-27 07:04] jingmingtao commented on #2661
远程的话：
![image](https://user-images.githubusercontent.com/114384977/198214196-c2541fcc-7429-4d46-acfd-3d28bf370207.png)

[2022-10-27 07:04] jingmingtao commented on #2661
数据的话，我没传过

[2022-10-27 07:07] Bobholamovic commented on #2661
@jingmingtao 你好，GitHub issue不是IM软件或者BBS论坛，请不要频繁建立新的issue或是在issue中高频率新建comment，建议每次将需要回复的内容整理后以较完整的形式在一条comment中体现，这将更有利于开发者帮助您定位问题。

[2022-10-27 07:20] Bobholamovic commented on #2644
您好，`LaneSeg`依赖于旧版本PaddleSeg的transforms接口，可以降级PaddleSeg后再次尝试。

[2022-10-27 07:24] jingmingtao commented on #2661
[train.zip](https://github.com/PaddlePaddle/PaddleSeg/files/9876707/train.zip)
您好这是我的数据的一部分，万分感激，求您帮帮我

[2022-10-27 09:02] Yang-Changhui commented on #2644
更改了版本就好了，谢谢啦

[2022-10-27 09:02] #2644 closed, assigned to haoyuying

[2022-10-27 09:42] ukoehler opened #2666 "[Bug] Cannot predict ocrnet_hrnetw48_voc12aug_512x512_40k"
Python 3.9.13
paddle-bfloat      0.1.7
paddle2onnx        1.0.1
paddlefsl          1.1.0
paddlehub          2.3.0
paddlenlp          2.4.1
paddlepaddle       2.3.2
paddleseg          2.6.0
Windows 10
CPU only (set CUDA_VISIBLE_DEVICES=0)

When looking at OCRNet, I can predict with ocrnet_hrnetw48_cityscapes_1024x512_160k, however, ocrnet_hrnetw48_voc12aug_512x512_40k.yml fial and cannot find a way

[2022-10-27 09:53] ukoehler commented on #2660
Works when changing tools/export.py to export.py

[2022-10-27 10:06] ukoehler commented on #2660
Also, paddle2onnx only works when using ```--input_shape 1 3 1024 512```, as well. Are we sure that is 1024x512 and not 512x1024?

[2022-10-27 13:16] Bobholamovic commented on #2666
This is because a `Padding` operator is used in the transformations, and `Padding` requires the image size to be smaller than the target size (which is 512x512).

If your intention is to resize the image of size 2048x1024 into the size of 512x512 and do the prediction, the `Resize` operator should be used in place of `Padding`. This can be done by adding the following lines in`configs/ocrnet/ocrne

[2022-10-27 13:22] Bobholamovic commented on #2660
Sorry that I forgot to mention that in the develop branch we have migrated `export.py` to `tools/export.py`. In the next release version, we will remove `export.py` and keep only `tools/export.py`.

[2022-10-27 13:29] Bobholamovic commented on #2660
Can you give more details about this problem? According to the [paddle2onnx document](https://github.com/PaddlePaddle/Paddle2ONNX/blob/release/0.9.5/README.md), there is only `--input_shape_dict` commandline argument and no `--input_shape`.

[2022-10-27 14:15] ukoehler commented on #2660
Oh, I didn't know you could provide the input shape to paddle2onnx (I follow instructions from the OpevCV GitHub). I do not pass input shape there and have to provide it to export.py or I get an error in paddle2onnx.

[code]
will result in
[code]
trying with input shape gives the same result
[code]
Since you always have to provide the input shape by hand to export.py I guess that should be shown i

[2022-10-28 00:33] jingmingtao commented on #2661
这个问题我已经定位到了，crop是采用短边裁剪，如果我的图片某一边小于我设置的512，那么就会出现不是512x512的情况，放到set集合中的话，就不会降重，就会导致len(shape)不等于1.解决的办法是，在进行裁剪后，又进行了一步resize，您看这样可以吗，大哥。但是又出现了新的问题：ValueError: The shape of `pred`, `gt` and `trimap` should be equal. but they are (1, 1, 750, 563), (1, 1, 563, 750) and (1, 1, 563, 750)

[2022-10-28 01:26] jingmingtao commented on #2661
大哥您能说句话嘛，求求您了

[2022-10-28 02:13] wuyefeilin commented on #2661
看数据shape应该是你对数据的（h,w)进行了相反的操作

[2022-10-28 02:14] wuyefeilin commented on #2661
麻烦确保train.zip能复现你的问题

[2022-10-28 02:15] jingmingtao commented on #2661
我看代码里边，是这样进行了取反，取的，但是将它反过来，其他图片也会报错
![image](https://user-images.githubusercontent.com/114384977/198461726-84164e79-da46-46b0-99a7-65bb91aeec07.png)

[2022-10-28 02:15] jingmingtao commented on #2661
这个数据是可以存在问题的，

[2022-10-28 02:19] jingmingtao commented on #2661
它走到的resize这个地方，但是这不是根本问题，我觉得根本问题还是数据增强部分，因为这是数据传过来的。我现在的数据增强如下图所示，我在训练部分加入了resize来解决shape的问题，而且我发现报错的都是图片的长宽是前小后大的这种，前边大后边小的不会报错。
![image](https://user-images.githubusercontent.com/114384977/198463622-aac658c7-f68b-4521-962a-d4b49463a3e4.png)

[2022-10-28 02:21] Bobholamovic commented on #2660
The error in `paddle2onnx` seems to be caused by missing operators, which is an issue outside the scope of PaddleSeg. Please ask for help from  [the Paddle2ONNX official repo](https://github.com/PaddlePaddle/Paddle2ONNX).

We don't *have to* provide the input shape by hand to `export.py`. If `--input_shape` is not specified, a default shape of `[None, 3, None, None]` will be used. `None` indicates

[2022-10-28 02:22] jingmingtao commented on #2661
复现的时候，将所有的做训练，所有的做验证。不要挑出来一部分做验证，这样就存在问题。我也是用的这些在复现我的问题，没问题的，它是存在这些问题的

[2022-10-28 02:31] jingmingtao commented on #2661
如果图片前大后小的比如（800，600）这样不会报错，如果前小后大比如（600，800）的就会报：ValueError: The shape of pred, gt and trimap should be equal. but they are (1, 1, 750, 563), (1, 1, 563, 750) and (1, 1, 563, 750)类似的这样的错误。

[2022-10-28 02:47] jingmingtao commented on #2661
初步定位到数据增强的LoadImages导致，因为在ResizeByShort，已经发生变化了

[2022-10-28 02:48] jingmingtao commented on #2661
您直接看那段代码吧，您比较精通熟悉

[2022-10-28 02:50] jingmingtao commented on #2661
那段代码也不是，因为到LoadImages已经发生变化了

[2022-10-28 03:14] shiyutang commented on #2643
Did you solve your problem?
It seems you need to export your model to onnx and the [doc you refer to](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/model_export.md) is actually meant for export to the static model, and we will add the script to export models to onnx in the future.

[2022-10-28 03:18] wenhuiwei-ustc opened #2668 "[General Issue] 请问，用paddleseg怎么得到cityscapes test 的mask输出？（语义分割）colormap是怎样的呢？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-10-28 03:26] jingmingtao commented on #2661
定位到问题了，数据本身的问题，麻烦了

[2022-10-28 06:15] #2668 closed, assigned to nobody

[2022-10-28 06:47] peiwenYe commented on #2658
感谢回答～我是想使用模型做评估，看到你们使用的是portrait14K数据集。请问这个数据集是在哪里下载呢？

[2022-10-28 06:47] wuyefeilin commented on #2661
需要确保fg和alpha下的数据的大小相同
如，train/fg/1666713805438307492_1666713801997CGHJFDFADBCEBDACHIHC_original.jpg 这一张的图片和alpha下图片大小不对应(750, 563）， (563, 750)

[2022-10-28 06:50] peiwenYe opened #2669 "LaneSeg评估报错"
下载好Tusimple数据集后，按照教程处理好数据格式，运行以下命令报错
`python val.py --config /home/aistudio/PaddleSeg/contrib/LaneSeg/configs/bisenetV2_tusimple_640x368_300k.yml`
报错如下：
![image](https://user-images.githubusercontent.com/37332773/198521652-36a33351-23c2-494a-823e-ce7e85b5b21c.png)

使用的paddle版本： 2.2.2
套件版本： release/2.5
python版本:  3.7

[2022-10-28 07:35] ukoehler commented on #2643
Dear @shiyutang ,

many thanks for asking. The status is that I can export models now. However, I have two points

1. The documentation could be clearer for other newbies like me. I know it is difficult to document stuff you use all the time. That is why I am pointing stuff out I find. See also https://github.com/PaddlePaddle/PaddleSeg/issues/2660

2. To export models to ONNX in the end, I seem to

[2022-10-28 07:37] shiyutang commented on #2669
请问你确定是2.5版本么，这个版本应该不会有这个问题，可以切换到2.5并重新运行

[2022-10-28 07:42] Bobholamovic commented on #2669
类似的issue：https://github.com/PaddlePaddle/PaddleSeg/issues/2644#event-7680212765

[2022-10-28 08:41] ukoehler commented on #2666
Great, that works. For my purposes the results are also better than the city_scapes version. It is just not intuitive for a beginner like me.

[2022-10-28 08:57] peiwenYe commented on #2669
感谢回复，我确定我用的是2.5的版本
![image](https://user-images.githubusercontent.com/37332773/198547744-ef867286-5236-4cce-8154-83de110794ec.png)

[2022-10-28 08:59] shiyutang commented on #2669
请问是否可以截取这部分代码呢？
<img width="830" alt="image" src="https://user-images.githubusercontent.com/34859558/198548019-f2ebdf92-919c-45b8-8531-28899f7d450d.png">

[2022-10-28 09:00] peiwenYe commented on #2669
![image](https://user-images.githubusercontent.com/37332773/198548303-b1e17a82-69a8-4700-8f7b-0959afc0e642.png)

[2022-10-28 10:59] juncaipeng commented on #2649
好  我们跟进看下

[2022-10-28 11:47] 112wl opened #2672 "warmup学习率或者自定义学习率设置"
paddleSeg目前不支持warmup学习率或者自定义学习率设置吗？我用paddleseg实现SegNext感觉效果差一点，不知道是不是学习率的问题。

[2022-10-30 07:42] sridhar191986 opened #2673 "[General Issue] PaddleSeg Custom dataset build error"
Dear All,

Could someone help to address the below issue?. I am unable to resolve this issue for last two days.

I am using the datasource and configuration mentioned in https://aistudio.baidu.com/aistudio/projectdetail/4922403?contributionType=1

 1. PaddleSeg version:  2.6.0
 2. PaddlePaddle version: 2.3.2
 3. Operation system: macOS-10.16-x86_64-i386-64bit
 4. Python version: 3.9.12 (main, Apr

[2022-10-31 00:31] jingmingtao opened #2674 "Matting训练过程中断"
训练过程中出现如下错误：
![image](https://user-images.githubusercontent.com/114384977/198909737-e90f5cdd-8063-4c29-aad8-f83bd724add2.png)

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：2.6
 2. PaddlePaddle版本：2.3.2
 3. 操作系统信息：linux
 4. Python版本号：3.9
 5. CUDA/cuDNN版本：cuda11.8 cudnn8.6

[2022-10-31 01:45] shiyutang commented on #2672
Paddleseg 支持warmup学习率设置，例如可以设置成下面的配置情况，学习率初始为1.0e-5，在1000个iters后变为0.005：https://github.com/PaddlePaddle/PaddleSeg/blob/develop/configs/pp_liteseg/pp_liteseg_stdc1_cityscapes_1024x512_scale0.5_160k.yml
<img width="327" alt="image" src="https://user-images.githubusercontent.com/34859558/198914734-b5f40588-2e13-4356-a575-5bf6fddab812.png">

[2022-10-31 01:50] shiyutang commented on #2669
可以尝试使用pdb打断点进入到self.transforms查看__call()__是否存在im参数传入。
[pdb 使用教程](https://docs.python.org/3/library/pdb.html)

[2022-10-31 01:53] wuyefeilin commented on #2669
pip show paddleseg查看一下是否安装了新的版本

[2022-10-31 01:57] wuyefeilin commented on #2674
麻烦提供一下具体的运行命令和报错信息。

[2022-10-31 02:01] haoyuying commented on #2673
I can not open this link: https://aistudio.baidu.com/aistudio/projectdetail/4922403?contributionType=1
From the information,  you may make mistakes of " F.cross_entropy", maybe the label is illegal, you may print the prediction and the label and find what's wrong.  For more details of " F.cross_entropy", you may find in this link:https://www.paddlepaddle.org.cn/documentation/docs/en/2.2/api/paddle

[2022-10-31 02:07] jingmingtao commented on #2674
这个错不是一开始就报了，而是在运行了13w迭代iter后出现的。
运行命令：export CUDA_VISIBLE_DEVICES=0
python tools/train.py --config configs/quick_start/modnet-mobilenetv2.yml --do_eval --use_vdl --save_interval 100 --num_workers 5 --save_dir output_3w
报错如下：
![image](https://user-images.githubusercontent.com/114384977/198916563-524a2446-09b1-425a-be8e-459f622c5e8c.png)
FatalError: `Segmentation fault` is detected by the operating

[2022-10-31 05:05] sridhar191986 commented on #2673
@haoyuying , thanks for looking into the issue. I am new to PaddlePaddle, I may need your extended support on this.

Apologise, the previous link was removed. Please check this one https://aistudio.baidu.com/aistudio/projectdetail/2028968?channelType=0&channel=0

I am unable to run the above dataset .

Let me explain, how i prepared the dataset.

Step 1: I prepared the dataset using EISEG :https:/

[2022-10-31 05:19] Bobholamovic commented on #2666
I'm closing this issue as it's been solved. We will update the document to make clear this behavior of `Padding`.

[2022-10-31 05:19] #2666 closed, assigned to Bobholamovic

[2022-10-31 06:34] bigchou opened #2675 "[Feature Request] Brightness and Contrast Adjustment for EISeg"
Thanks for the excellent work. I have some images to be annotated using EISeg but they are difficult to recognize the entire contour due to extreme lighting condition. If the image is too dark, I expect to annotate it under brighter lighting (like this [feature](https://github.com/wkentaro/labelme/blob/734ff14b7ddb799ba6a63d198233152d712c40a2/labelme/widgets/brightness_contrast_dialog.py#L33) from

[2022-10-31 08:18] xiaodaomingye459 opened #2676 "关于可视化工具"
请问paddle中有没有提供类似于CAM可解释性分析的工具，
就是生成特征的热力图，
或者直接把特征可视化的工具？

[2022-10-31 08:37] haoyuying commented on #2675
this feature we will be considered in the next version, thank you.

[2022-10-31 08:39] haoyuying commented on #2676
您好，paddle的问题请移步https://github.com/PaddlePaddle/Paddle/issues 进行提问，以便得到更好的回复。

[2022-10-31 08:45] juncaipeng commented on #1286
![image](https://user-images.githubusercontent.com/52520497/198967798-dfaf8bfc-dcb6-4aba-baaa-b5929b556a9e.png)

[2022-10-31 08:52] peiwenYe commented on #2669
重新安装了PaddleSeg好了。感谢解答！

[2022-10-31 08:53] peiwenYe commented on #2669
重新安装了PaddleSeg好了。感谢解答！

[2022-10-31 09:01] juncaipeng commented on #1286
![1](https://user-images.githubusercontent.com/52520497/198970711-2b4c81f9-5fe8-4404-93be-2512d7046fa8.jpg)

[2022-10-31 11:44] wuyefeilin commented on #2674
目前看不出具体哪里出了问题，没有其它报错信息了吗？

另外这个能稳定复现吗？

[2022-10-31 12:14] OpenCDR opened #2679 "[Bug]DDRNet模型部署问题"
PaddleSeg版本：PaddleSeg release/2.6
paddleinference版本：4596b9a22540fb0ea5d369c3c804544de61d03d0
操作系统：Win10 20H2
CUDA 版本 11.6
CUDNN版本 8.4.1
TenserRT版本： 8.4.0
使用动态shape导出ddrnet模型后在该电脑上推理出现以下错误：
Error: ../paddle/phi/kernels/funcs/elementwise_functor.h:545 Assertion `b != 0` failed. InvalidArgumentError: Integer division by zero encountered in (floor) divide. Please check the input value.
Error: ../paddl

[2022-11-01 01:55] vongolas opened #2680 "eiseg标注问题"
1. PaddleSeg版本：PaddleSeg release/2.6
 2. PaddlePaddle版本：PaddlePaddle 2.3.0
 3. 操作系统信息：Windows 10
 4. Python版本号：Python 3.9
 5. CUDA/cuDNN版本：CUDA11.6/cuDNN 8.4.0
 6. 其他内容: 标注无法选择边界，或者会选择一整张图，用的模型是static_hrnet18_ocr64_cocolvis
![屏幕截图 2022-11-01 095027](https://user-images.githubusercontent.com/117132628/199142072-ee23951a-ec6c-4803-ab13-2e30fa12407d.png)
![屏幕截图 2022-11-01 095053](https://user-images.

[2022-11-01 02:05] chen-del opened #2681 "参数问题"
训练过程的日志保存train.log，打开那一个参数进行

[2022-11-01 02:59] juncaipeng commented on #2679
你执行代码是什么？
我在linux上执行如下导出、预测代码，是正确的，没有报错。
[code]

[2022-11-01 03:04] juncaipeng commented on #2681
```nohup python -m paddle.distributed.launch --log_dir ./log_dir tools/train.py  xxxxx    2>&1 >  ./log_dir/log_train.txt &```
可以后台执行训练，将输出log保存到脚本 ./log_dir/log_train.txt

[2022-11-01 03:05] chen-del opened #2683 "dill loss 组合设置占比权重出现报错"
dice loss和Ohem loss组合使用出现问题
loss:
  types:
    - type: MixedLoss
      losses:
        - type: DiceLoss
        - type: OhemCrossEntropyLoss
      coef: [0.8, 0.2]
W1101 11:02:17.162873 37663 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.4, Runtime API Version: 11.1
W1101 11:02:17.162928 37663 device_context.cc:465] device: 0, cuDNN Version: 8.2

[2022-11-01 03:05] chen-del commented on #2681
好的谢谢

[2022-11-01 03:06] #2681 closed, assigned to juncaipeng

[2022-11-01 03:06] OpenCDR commented on #2679
导出代码是`python tools/export.py --config configs/ddrnet/ddrnet23_cityscapes_1024x1024_120k.yml --save_dir output/tmp/ddrnet`
动态shape收集的代码是`python ../python/collect_dynamic_shape.py --config ddrnet/deploy.yaml --image_path images --dynamic_shape_path ./dynamic_shape.pbtxt`
在使用的是CPP的部署方式而非Python。
CPP的代码就是例程里提供的。

[2022-11-01 03:43] juncaipeng commented on #2649
修复PR： #2684
在develop分支，我们新增了export.py的脚本。
在`~/PaddleSeg/contrib/CityscapesSOTA`目录下，执行
`python export.py --config configs/mscale_ocr_cityscapes_autolabel_mapillary_ms_val.yml --save_dir ./output --input_shape 1 3 2048 1024`

[2022-11-01 03:49] juncaipeng commented on #2679
这个估计是paddle inference预测库的问题，建议先换个其他的预测库试试。

[2022-11-01 04:03] haoyuying commented on #2680
您好，把您的测试图片及想要标注的物体给我们，目前您提供的信息不足以复现该问题，目前可以确定的是您加载静态图模型的log打印是不对的，可排查下paddle是否能过正确加载静态图，目前推断的问题上paddle，cuda和cudnn不匹配导致模型加载出问题导致的。
![image](https://user-images.githubusercontent.com/35907364/199156191-8c1842c0-8a75-439c-8d1a-7bc15bd66077.png)

[2022-11-01 05:43] NingYuanxiang commented on #1363
请问你的在远程服务器部署的吗

[2022-11-01 05:46] NingYuanxiang commented on #2600
请问如何在远程部署的，我也是出现该问题？

[2022-11-01 06:10] haoyuying commented on #2673
if your label has 204 classes, the max value can be 204, else, it will be wrong,  you must use the gray scale images rather than presedo images as the label.

[2022-11-01 06:15] tongchangD commented on #1363
本机，服务器都试过，已解决，你可以按照[on 17 Sep 2021](https://github.com/PaddlePaddle/PaddleSeg/issues/1363#issuecomment-921513728) 解决该问题

[2022-11-01 07:40] vongolas commented on #2680
您好，图片如下
想要标注图上的病斑区域和整个叶片的区域

![叶斑](https://user-images.githubusercontent.com/117132628/199183001-4709351c-27d0-4468-b1f6-461bc7820c08.png)

[2022-11-01 08:37] OpenCDR commented on #2679
好的谢谢您，我们现在只能用CPP的库。

[2022-11-01 08:37] #2679 closed, assigned to juncaipeng

[2022-11-01 09:15] vongolas commented on #2680
加载图片后有libpng warning: iCCP: known incorrect sRGB profile

[2022-11-01 13:11] sridhar191986 commented on #2673
@haoyuying , Awesome. it worked, thanks for your time.

[2022-11-01 13:12] #2673 closed, assigned to haoyuying

[2022-11-02 01:46] bigbiglemon opened #2687 "Android在人像分割过程中的崩溃"
模块：Matting
运行系统：Android
依赖库：PaddlePredictor.jar (version: 19c7fda  官网demo中的版本，尝试最新版本2.11结果一样)  / libpaddle_lite_jni.so
模型：hrnet_w18 （opt quant_type=int8）
现象：1、inputData 中的尺寸调大后必然崩溃 ，在性能较差手机上调低也会崩溃 ，这个问题比较致命， 在demo readme也提到这样的现象
求教问题：1、是否有某个新版本解决该崩溃问题，或指点一个解决的方向
2、在尽可能压缩模型的情况下，该如何提高人像分割精度

错误日志如下
`2022-11-02 09:43:38.921 26304-26304/? A/DEBUG: Build fingerprint: 'HUAWEI/NOH-AN00/HWNOH:10/HUAWEINOH

[2022-11-02 01:59] chen-del opened #2688 "loss疑问"
非常抱歉，问到了这个问题！
对于OhemCrossEntropyLoss它的min_kept是如何进行计算的，因为我看到他的实现的方式不一样，具体在训练的环境中他具体设置的
是不是(batch_szie*input_w*input_h)//16 这种计算方式，确定损失中要保留的最小数字

[2022-11-02 02:23] wuyefeilin commented on #2687
可以更换较小的模型MODNet-MobileNetV2进行尝试哈。后续我们会推出更小的模型，敬请期待哈

[2022-11-02 02:25] wuyefeilin commented on #2683
麻烦提供一下版本信息哈

[2022-11-02 02:31] chen-del commented on #2683
paddleseg 使用的版本是release/2.6版本
使用的总体环境如下
2022-11-02 10:21:25 [INFO]
------------Environment Information-------------
platform: Linux-5.4.0-126-generic-x86_64-with-debian-buster-sid
Python: 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.4.r11.4/compiler.30188945_0
cudnn: 8.2
GPUs used: 1
CUDA_VISIBLE_DEVICES: 0
GPU: ['GPU 0: N

[2022-11-02 02:32] chen-del commented on #2683
@wuyefeilin

[2022-11-02 02:38] wuyefeilin commented on #2688
min_kept 根据情况进行设置哈，没有统一的一个设置标准。 取输入像素数的1/16是选择之一

[2022-11-02 02:40] wuyefeilin commented on #2683
PaddlePaddle 升级到2.3.2试试

[2022-11-02 02:40] bigbiglemon commented on #2687
@wuyefeilin  抱歉，问题描述不够明确，主要问题是出在性能不好的手机上会崩溃的问题

[2022-11-02 03:12] wuyefeilin commented on #2687
看样子是paddle-lite和手机的适配问题，可以到PaddleLite需求帮助哈https://github.com/PaddlePaddle/Paddle-Lite

[2022-11-02 03:36] chen-del commented on #2688
嗯好的，非常感谢，我还想问下取像素输入数是不是按照4的倍数或者是2的倍数去进行选的，例如1/16,1/24，1/32,1/8等等

[2022-11-02 03:37] chen-del commented on #2683
嗯好的，我尝试升级一下，看看会不会出现这个问题

[2022-11-02 03:46] #2655 closed, assigned to juncaipeng

[2022-11-02 03:49] wuyefeilin commented on #2688
这个不一定哈

[2022-11-02 03:52] chen-del commented on #2683
@wuyefeilin 2.3.2 版本好像不存在这个问题了，可以正常进行了，但是似乎出现了一个新的警告
 UserWarning: When training, we now always track global mean and variance.
  "When training, we now always track global mean and variance.")这个有影响吗

[2022-11-02 06:02] juncaipeng commented on #2679
@OpenCDR 是换个其他版本的paddle inference cpp预测库。 我们会跟进下该问题。

[2022-11-02 06:15] wuyefeilin commented on #2683
没影响，可以忽略

[2022-11-02 06:25] chen-del commented on #2683
@wuyefeilin您好，我还想问题训练的acc评估指标需要设置那个参数打开，因为现在的只有召回率和精确率评估指标
如下：
![6b8a2e24ff79e7237dc0b5b6f4fb19c](https://user-images.githubusercontent.com/58769772/199413210-34fccea5-18cf-44d5-9a02-766117f65dd0.png)
没有看到acc评估指标

[2022-11-02 07:01] clementzhao opened #2691 "[Bug]paddle._C_ops.argsort ValueError while training hrnet_w18"
ubuntu 22.04因为gcc 11.2问题，安装过paddle 2.3.2及以下不能运行，能运行的只有2.4.0rc0和nightly build verison，均有下面报错。
PaddleSeg 2.6版本
lovasz_loss.py调用函数paddle._C_ops.argsort(errors, 'axis', 0',descending', True)，在python调用paddle的argsort这里第二个参数应该是0，通过c去调用怎么就认不对呢？训练时候报错如下：

------------Environment Information-------------
platform: Linux-5.13.0-52-generic-x86_64-with-glibc2.34
Python: 3.9.7 (default, Jun 22 2022, 20:11:26) [

[2022-11-02 07:54] trefoil0219 opened #2692 "[Bug]"
使用docker run --name dev --runtime=nvidia -v $PWD:/mnt -p 8888:8888 -it paddlecloud/paddleseg:2.5-gpu-cuda10.2-cudnn7-03e7ce  /bin/bash  命令拉取的docker镜像，根据教程 安装了CuPY 并使用 GPU 进行加速。
在执行  python tools/prepare_lung_coronavirus.py命令时，报错
![%$)FV9N_YO)7277N6%S%}N5](https://user-images.githubusercontent.com/55016894/199431324-ddd756c7-2d8d-4f2c-97f7-e30329b0374c.png)

[2022-11-02 08:32] stq054188 opened #2693 "PaddleSeg按照文档训练时，卡着不动，后面报错：raise ValueError("Target {} is out of lower bound.".format( ValueError: Target -4864866653667428641 is out of lower bound."
环境：Win10 64位，Python3.8.5，PaddlePaddle-gpu 2.3.3，PaddleSeg2.6，CUDA_10.1.105_418.96_win10，CUDNN 7.6.5.32
———————————————————————————
参考执行步骤：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/quick_start_cn.md
———————————————————————————
训练指令：python train.py --config configs/quick_start/pp_liteseg_optic_disc_512x512_1k.yml --save_interval 500 --do_eval --use_vdl --save_dir output
———————

[2022-11-02 08:36] wuyefeilin commented on #2683
输出日志中包含Acc

[2022-11-02 08:46] chen-del commented on #2683
好像没有我从2.5.0更新到2.6.0之后输出日志中，一直是没有acc精度，只有召回率和精确率就像我刚刚仔细的看了那个日志。

[2022-11-02 08:54] wuyefeilin commented on #2691
应该是2.4版本做了调整，目前paddle2.4稳定版还未发布，seg暂未做配套升级, 你可以尝试以下两种方法自行进行修改
1、 paddle._C_ops.argsort(errors, 0, True)
2、 paddle.argsort(errors, 0, True)

[2022-11-02 08:58] chen-del commented on #2683
以前的版本中是有的例如：2.30；2.40 还有我有个疑问kappa系数没有达到80%以上是不是意味着分错的概率挺大

2.6.0 信息如下
2022-11-02 16:46:28 [INFO]	[TRAIN] epoch: 12, iter: 71810/100000, loss: 0.8090, lr: 0.000040, batch_cost: 0.1137, reader_cost: 0.00044, ips: 35.1948 samples/sec | ETA 00:53:23
2022-11-02 16:46:29 [INFO]	[TRAIN] epoch: 12, iter: 71820/100000, loss: 0.7323, lr: 0.000040, batch_cost: 0.1107, reader_cost: 0.00036, ips: 36.1319 samp

[2022-11-02 08:59] wuyefeilin commented on #2683
<img width="553" alt="image" src="https://user-images.githubusercontent.com/30919197/199446453-ba041a76-6cc0-4a8c-aba3-ba884c314cb5.png">

[2022-11-02 10:41] clementzhao commented on #2691
paddle._C_ops.argsort(errors, 0, True)可以，paddle.argsort(errors, 0, True)不行，因为有2个返回值。

[2022-11-02 11:41] #2691 closed, assigned to nobody

[2022-11-02 11:42] haoyuying commented on #2680
您好，目前初步判定是cuda版本过高，paddle inference预测有问题导致的，建议使用cuda10.2，cudnn7.6.5的版本比较稳定。

[2022-11-02 13:21] wanghuiyuan108 opened #2694 "安装eiseg报错"
![image](https://user-images.githubusercontent.com/73568537/199500118-78570cb6-b89d-4b63-b77a-47b870d3b1df.png)

安装eiseg时报错

[2022-11-02 13:28] eezywu opened #2695 "[General Issue] 关于SemanticConnectivityLoss是否可导"
您好！关于SemanticConnectivityLoss我有个疑问，就是[代码第65行](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/paddleseg/models/losses/semantic_connectivity_loss.py#L65)
 `preds = paddle.argmax(logits, axis=1) if self.use_argmax else logits`使用了argmax，此处由于preds是从argmax得到的，而argmax是不可导操作，那理论上preds之后的运算应该不会产生梯度回传到logits了吧？希望您能解答一下，感谢！

[2022-11-03 01:42] stq054188 commented on #2693
等了很久，输出了报错信息如下：
------------------------------------------------
W1102 18:13:01.727309 14816 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 10.2
W1102 18:13:01.727309 14816 gpu_resources.cc:91] device: 0, cuDNN Version: 7.6.
2022-11-02 18:13:01 [INFO]      Loading pretrained model from https://bj.bcebos.com/paddleseg/dygraph

[2022-11-03 02:10] Bobholamovic commented on #2693
这个问题一般和环境有关，请尝试重新配置环境~

[2022-11-03 02:15] shiyutang commented on #2692
1. 建议排查是否下载了最新develop版本的medicalseg；
2. 如果是，可以先不使用Cupy进行加速，即保持和[此处](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/contrib/MedicalSeg/tools/preprocess_globals.yml)设置一致，并且我也会同步在本地看是否复现同样问题

[2022-11-03 02:23] haoyuying commented on #2694
wget没有安装上，建议把现在的wget删掉之后重新安装。

[2022-11-03 02:37] stq054188 commented on #2693
按照官方的文档操作，提示安装成功了吧！
——————————————————————————————
Python 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Running verify PaddlePaddle program ...
W1103 10:33:55.840518 11616 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Ve

[2022-11-03 02:42] juncaipeng commented on #2695
由于SemanticConnectivityLoss应用于人像这种两类分割问题，该loss的输入应该是只有一个通道，loss实现中也支持设置不使用argmax。

[2022-11-03 03:47] Bobholamovic commented on #2693
本地无法复现此问题，请检查数据是否有损坏。具体而言，可用Python解释器执行如下语句：

[code]

若脚本执行过程中提示错误，则最后打印的路径就是存在损坏的图片。

[2022-11-03 05:58] stq054188 commented on #2693
看来不是这个问题
![image](https://user-images.githubusercontent.com/15775782/199656038-e1d1a5e9-5141-451b-9892-8692a0b312e0.png)

[2022-11-03 06:25] Bobholamovic commented on #2693
有可能是Paddle对现在你使用的环境不支持，可以参考一下我的环境配置：

在这个配置下是没有问题的~

[2022-11-03 07:10] stq054188 commented on #2693
我第一次用的CUDA11.6(因为上次使用PaddleOCR装的)，结果提示我缺这个cudnn64_7.dll，我又退回CUDA10.1，现在又让我装回11？那么下面图片这个配置要求是假的？
![image](https://user-images.githubusercontent.com/15775782/199664435-78b523ed-62fa-42f1-b5c8-70e07b9e0853.png)

[2022-11-03 07:13] stq054188 commented on #2693
我觉得不是针对安装环境找问题吧，如果是安装失败那么最多提示环境问题或者DLL加载失败、模块加载失败之类的。现在已经给出了明确的报错信息，不是应该按照对应的行数来排查吗？

Traceback (most recent call last):
  File "train.py", line 230, in <module>
    main(args)
  File "train.py", line 206, in main
    train(
  File "E:\Practice\Python\DeepLearning\PaddlePaddle\Paddle_FastDeploy\PaddleSeg\PaddleSeg-release-2.6\paddleseg\core\train.py", line 207, in train
    loss_list = loss_comput

[2022-11-03 07:26] Bobholamovic commented on #2693
你好，这个问题之前有其他同学遇到过，参考：https://github.com/PaddlePaddle/PaddleSeg/issues/2427

那个同学是重新安装环境解决了问题，所以应该是环境问题导致的（倒不是因为某个库没有装好，可能是装好了之后，在运行时出现了一些意料之外的数值或者内存访问错误）。

同样的代码在我的环境中无法复现这个问题，所以考虑应该不是代码逻辑的问题~

[2022-11-03 07:35] stq054188 commented on #2693
好吧，我再按照你的环境装一次试试，谢谢！

[2022-11-03 07:36] eezywu commented on #2695
我看后面对pred求连通域/iou等操作，应该是要求pred中的值为class_id，所以即使输入只有一个通道，我理解也需要将其二值化，而二值化操作也是不可导操作

[2022-11-03 07:41] Bobholamovic commented on #2693
抱歉给你造成了不便。如果后续确认是环境问题，也麻烦回复一下，我们会及时更新文档；如果在新环境下仍然有问题，可以加我们的微信群由工程师帮助远程调试。

[2022-11-03 08:56] chen-del commented on #2683
嗯嗯我好像知道了新的版本是这样的， 这个acc精度是0.99 但是后面的appa似乎效过并没有跟上来，kappa系数偏低没有达到0.93%

2022-11-02 03:56:13 [INFO]	[TRAIN] epoch: 16, iter: 99880/100000, loss: 0.7920, lr: 0.000000, batch_cost: 0.1767, reader_cost: 0.00040, ips: 22.6394 samples/sec | ETA 00:00:21
2022-11-02 03:56:15 [INFO]	[TRAIN] epoch: 16, iter: 99890/100000, loss: 1.0558, lr: 0.000000, batch_cost: 0.1419, reader_cost: 0.00026, ips: 28.1882 samp

[2022-11-03 09:07] chen-del commented on #2683
而且这个acc精度过高是因为我的样本中负样本居多，比例正负1:9的样子，所以只使用acc评估指标似乎效果也不是很好

[2022-11-03 09:44] Spinexiang opened #2697 "3D slicer 安装paddle报错"
![1667468327943](https://user-images.githubusercontent.com/92571567/199689516-ad827130-0536-4480-99cf-f998d5a95f12.png)

[2022-11-03 09:46] Spinexiang commented on #2697
import sys
import os
sys.executable # 'D:/Slicer 5.0.3/bin/PythonSlicer.exe'

os.system(f"'{sys.executable}' -m python -m pip install paddlepaddle-gpu==2.3.2.post116 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html")

[2022-11-03 11:44] shiyutang commented on #2697
这个是中文解码错误导致，建议不要在中文目录下安装slicer进行解决。

[2022-11-03 11:55] stq054188 commented on #2693
换成了CUDA11.2 Cudnn 8.1.1结果还是报错，提示需要CUDA10.0和cudnn7.6.5：

W1103 19:51:03.932924  6320 dynamic_loader.cc:276] Note: [Recommend] copy cudnn into CUDA installation directory.
 For instance, download cudnn-10.0-windows10-x64-v7.6.5.32.zip from NVIDIA's official website,
then, unzip it and copy it into C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0
You should do this according to your CUDA inst

[2022-11-03 12:55] Bobholamovic commented on #2693
请问更换CUDA和cudnn后重新安装Paddle了吗？如果没有重新安装的话，因为原先装好的Paddle是CUDA10.x+cudnn7.6.5编译的，所以会出现运行时库不匹配的情况。

另外建议使用Anaconda管理包，更换CUDA环境等等比从官网下载方便很多~

[2022-11-03 14:53] SalvoPisciotta opened #2699 "[General Issue] Not necessary import of paddle.dataset.common in EISeg classes"
1. PaddleSeg version: 2.6.0
 2. PaddlePaddle version: 2.3.2
 3. Operation system: Linux
 4. Python version: Python 3.9.13

Hi! I'm using PaddleSeg EISeg library methods and since I'm working on a docker container with no write permission I have permission errors in building the contatiner due to the import of paddle.dataset.common library.

The import makes a the call of the method makedirs() and

[2022-11-03 23:48] stq054188 commented on #2693
Paddle是卸载之后重新装的，直接运行的指令pip install paddlepaddle-gpu，这样安装之后输出版本信息是2.3.2，但是还是报上面的错。

我重新到PaddlePaddle的github主页去看了安装教程，参考这个链接：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

![image](https://user-images.githubusercontent.com/15775782/199855574-20732046-eec4-43f4-a9ac-4bda4b5ef456.png)

然后先把whl安装包下载到本地：
![image](https://user-images.githubuserco

[2022-11-03 23:55] stq054188 commented on #2427
我这边已经解决，方法供参考：https://github.com/PaddlePaddle/PaddleSeg/issues/2693

[2022-11-03 23:57] #2693 closed, assigned to Bobholamovic

[2022-11-04 01:05] vongolas commented on #2680
好的，感谢

[2022-11-04 01:11] jingmingtao opened #2700 "人像抠图训练过程中出现报错"
报错如下：
![image](https://user-images.githubusercontent.com/114384977/199863742-7bb6a1ab-0824-41a9-8869-8b9ab22bbac9.png)

[2022-11-04 02:15] wuyefeilin commented on #2683
样本不均衡可以使用dice loss和带权重的ce loss试试。

可以从数据增强方面入手，提升正样本的比例

[2022-11-04 02:31] chen-del commented on #2683
@wuyefeilin ,我也是第一次遇到这么复杂的场景，背景有时候和要分类类别特别像，正负比严重偏向负样本，dice loss 加上ce loss嘛，我好像使用过了dice loss 和 带了ce权重的focaloss但是明显出现了精确率比召回率还低了40%，误检更多了。

[2022-11-04 02:35] Spinexiang commented on #2697
D:/Slicer 5.0.3  我的 slicer 安装目录如下

[2022-11-04 03:14] KyEndeavour commented on #2644
PanopticDeepLab也是同样问题，换到2.5.0就能跑通了，感谢！

[2022-11-04 04:00] shiyutang commented on #2697
可以查看一下paddle是否安装成功

[2022-11-04 04:05] shiyutang commented on #2697
如果没有安装成功，使用文件管理器打开'D:/Slicer 5.0.3/bin/PythonSlicer.exe'， 在里面根据自己的cuda版本安装paddlepaddle，安装说明：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

[2022-11-04 07:14] lixia2333 commented on #1265
RuntimeError:The verification dataset is not specified in the configuration file.是什么问题

[2022-11-04 07:18] lixia2333 commented on #1265
mapping values are not allowed here

[2022-11-04 08:28] lixia2333 opened #2701 "[Bug]The specified component was not found Dataset"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-11-04 08:29] lixia2333 commented on #2701
PaddleSeg release/2.3
![image](https://user-images.githubusercontent.com/107105957/199927629-b8a0ace5-d445-425d-a259-46cfdb54140a.png)

[2022-11-04 08:57] bittergourd1224 opened #2702 "[Feature Request] 通用场景的Matting模型"
Welcome to propose a new feature! To help us understand your great feature, please provide following information:
1. A clear and concise description of the proposed feature.
2. Tell us why the feature is useful.
3. If possible, please show related codes .

---

欢迎提出一个新功能需求，为了帮助我们更好理解您的需求，辛苦提供下面信息：
1. 清晰简洁的语言提出新功能需求。
希望提供一个通用场景的Matting模型让大家试用

2. 请描述这个需求的必要性。
目前提供的可下载的都是人像抠图模型，但是自动抠图的场景远远不止人像，还包括了各

[2022-11-04 11:27] lixia2333 commented on #1265
The specified component was not found Dataset.

[2022-11-04 12:07] xiaodaomingye459 opened #2703 "关于PPLite的测速问题"
环境：
platform: Linux-5.4.0-59-generic-x86_64-with-debian-buster-sid
Python: 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.2, V10.2.89
cudnn: 8.0
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: NVIDIA GeForce']
GCC: gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
PaddleSeg: 2.5.0
PaddlePaddle: 2.2.2
OpenCV:

[2022-11-06 03:40] haoyuying commented on #2701
Please update the paddleseg to the latest release version of 2.6. If then you have any questions , please contact us.

[2022-11-06 03:41] haoyuying commented on #2700
看报错事由于paddle安装有问题，请排查paddle是否能够正常使用。

[2022-11-06 04:07] linhandev commented on #2699
Hi @SalvoPisciotta

Just to be sure, about your use case, is it correct to say that you are only trying to use some components inside EISeg (like the inference part only maybe) and are not trying to start EISeg GUI inside a docker?

From my observation this error is thrown when importing the paddlepaddle package. This package is necessary for the deep learning related part of EISeg to run.

I'm no

[2022-11-07 01:14] fanxiaochen456 opened #2704 "使用Paddle-Lite在ARM架构平台部署PaddleSeg"
您好，请问有关于Paddle-Lite在ARM平台部署PaddleSeg的相关文档吗？

[2022-11-07 02:29] juncaipeng commented on #2703
这应该是随机的，多测试几次试下。

此外可以修改这个误差阈值，调大一点。
![image](https://user-images.githubusercontent.com/52520497/200214193-58bc39de-520d-4107-9ecd-cd1cc2353102.png)

[2022-11-07 02:29] xiaodaomingye459 opened #2705 "关于RTformer"
环境如下：
![image](https://user-images.githubusercontent.com/83204995/200213914-4642d16a-3e1a-4e4c-aebc-3eb7998ef9f9.png)

我在进行训练时，只是将batch_size调大就会显示如下报错，显存明显还剩许多，而且报错原因也与显存无关，非常奇怪！
![image](https://user-images.githubusercontent.com/83204995/200214093-870479a4-d48a-4fb0-bc9b-268d6ee320f0.png)
把batch_size还原则可以正常跑起来
![image](https://user-images.githubusercontent.com/83204995/200214194-c44e5682-5894-432

[2022-11-07 02:40] wuyefeilin commented on #2702
你好，我们提供了Composition-1k和Distinctions-646训练的PP-Matting模型。是通用的抠图模型。 如果你有更多的数据进行微调训练，鲁棒性会更好。https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/Matting/configs/ppmatting

[2022-11-07 02:44] wuyefeilin commented on #2683
通过数据增强手段提升正样本比例可以试试哈。 另外适当增大训练的iters试试

[2022-11-07 02:59] xiaodaomingye459 commented on #2703
感谢，PP_Lite已经可以测速了
但是对于RTformer,使用同样方法测速时遇到如下报错：
![image](https://user-images.githubusercontent.com/83204995/200217293-885a8a0e-5d05-423e-9f2e-7013d92e7833.png)
另外，关于测速是只有这一种方法吗

[2022-11-07 05:03] juncaipeng commented on #2704
paddlelite的文档：https://www.paddlepaddle.org.cn/lite

从PaddleSeg中导出预测模型后，建议参考paddellite的使用文档，和其他模型一样进行部署。

[2022-11-07 05:04] juncaipeng commented on #2703
rtformer暂时不支持转onnx进行测速。

[2022-11-07 05:12] juncaipeng commented on #2705
bs设置为多少啊？ 我调整bs后可以正常训练。

[2022-11-07 05:43] xiaodaomingye459 commented on #2705
只是将原来bz=3设置为6

[2022-11-07 05:44] xiaodaomingye459 commented on #2703
那有没有普通导出模型进行测速的办法，我没有找到对应教程，
只看到这一种转onnx进行测速的说明。

[2022-11-07 06:14] juncaipeng commented on #2703
普通测试是使用 https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/deploy/python/infer_benchmark.py 进行测试，但是一般没有转onnx速度快。

[2022-11-07 10:32] fanxiaochen456 commented on #2704
@juncaipeng 您好，当我运行Paddle-Lite-Demo里的human_segmentation的demo时出现了以下错误：
![147422561322895156](https://user-images.githubusercontent.com/101849755/200288790-3c51f48f-25f7-493b-a4d8-47ccf95a96e1.png)
请问这是什么原因呢？

[2022-11-07 11:03] bittergourd1224 commented on #2702
原来2.6版本已经包含啦，非常感谢~

[2022-11-07 11:03] #2702 closed, assigned to wuyefeilin

[2022-11-07 11:44] chen-del commented on #2683
dataloader里面有没有判断正样本类别的函数，或者是统计图片不同像素点的函数。

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年11月7日(周一) 上午10:44
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] dill loss 组合设置占比权重出现报错 (Issue #2683)

通过数据增强手段提升正样本比例可以试试哈。 另外适当增大训练的iters试试

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message

[2022-11-08 00:36] jingmingtao opened #2706 "人像抠图可以多线程调用测试模型吗"
请问咱们的抠图可以多线程调用模型进行测试吗，如果不能，可以指导一下代码吗

[2022-11-08 02:49] juncaipeng commented on #2706
目前没有提供多线程预测，需要自己实现，具体和常规多线程代码类似。

[2022-11-08 03:00] jingmingtao commented on #2706
您看是这样的思路吗：一个线程调用一个模型预测，同时开多个线程，同时调用多个模型对吧

[2022-11-08 06:15] wuyefeilin commented on #2683
这个没有哈，如果只是统计当前的不同类别的像素个数，可以直接使用np.unique(x, return_counts=True)

[2022-11-08 06:36] jingmingtao opened #2708 "人像抠图替换不同的backbone"
请问hrnet做人像抠图matting时，有hrnet_18w，我看backbone中的hrnet.py中有很多的backbone如下，我是不是可以随意选择，只需要在config中model的type下写上对应的名字就可以对吧
![image](https://user-images.githubusercontent.com/114384977/200492159-0a0f65a9-ad2b-4a6d-a8c2-23b87250c7ce.png)

[2022-11-08 10:16] joihn opened #2709 "deleted"
deleted

[2022-11-08 10:19] joihn opened #2710 "[Question] Rtformer grouped conv2d"
Instead on doing a classic conv2d over [batch, channel, Height, Widh], Rtformer does a **grouped** conv2d over [1, Batch*channel, Height, width] where groupsize = batchsize
[code]
[LINK to the code
](https://github.com/PaddlePaddle/PaddleSeg/blob/e75e264339783dfc1313cebe3389c1b1badc1507/paddleseg/models/rtformer.py#L417)
Why exactly ? Is it an optimization/efficiency trick ? @juncaipeng

[2022-11-08 10:20] #2709 closed, assigned to nobody

[2022-11-09 01:30] jingmingtao opened #2711 "人像抠图与人像分割中都是使用HRNET，但是人像抠图可以无锯齿感，差距代码在哪部分呀？"
人像抠图使用HRNET时，训练的时候将alpha作为标签进行训练，而人像分割是mask二值图标签，我想请教下，在进行人像抠图的时候同样是hrnet网络，人像抠图是怎么使用alpha进行读取训练的，是需要转化为mask二值图吗，还是直接进行了训练。预测时候呢，head的不同点是什么呀

[2022-11-09 02:19] wuyefeilin commented on #2708
是的，你可以根据需要更换backbone

[2022-11-09 02:20] jingmingtao commented on #2708
好的谢谢

[2022-11-09 02:27] wuyefeilin commented on #2711
Matting更准确的说是回归任务，以alpha作为gt， 分割是像素级的分类，以mask作为gt。Matting训练不需要将alpha转换成mask。

[2022-11-09 02:42] jingmingtao commented on #2711
整个网络流程代码是matting/model/ppmatting.py对吧，如下所示：
![image](https://user-images.githubusercontent.com/114384977/200724233-8b19b5e2-55af-43eb-9416-7de197969060.png)

[2022-11-09 02:54] jingmingtao commented on #2711
1、这部分代码的fusion就是我们得到的alpha对吧，也就是说我们网络就是这样一步步得到的alpha对吗；
2、semantic、detail分别是什么呀，为啥alpha = detail_map * transition_mask + fg呢，可以帮忙解释一下吗。

[2022-11-09 05:23] jingmingtao opened #2712 "matting学习率衰减策略采用PolynomialDecay，其中decay_steps是默认的吗，我看config并没有设置，这个值是多少呢"
matting学习率衰减策略采用PolynomialDecay，其中decay_steps是默认的吗，我看config并没有设置，这个值是多少呢

[2022-11-09 07:29] cope-code opened #2713 "EISeg好难用"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-11-09 08:38] #2713 closed, assigned to nobody

[2022-11-09 08:39] leiqing1 opened #2714 "【三日部署直播课】全系列Seg模型在TensorRT、OpenVINO、ONNX Runtime、RKNN、Paddle Inference、Paddle Lite部署实战。支持150+热门AI模型"
🔥 全场景部署套件 FastDeploy：
1.  目前支持了150+热门CV、NLP、Speech模型的部署。其中Seg模型已经CPU、GPU、Jetson、RKNN、ARM CPU、飞腾CPU等硬件。
2.  支持TensorRT、OpenVINO、ONNX Runtime、RKNN、Paddle Inference、Paddle lite等。
3.  支持CPU、GPU、Jetson、ARM CPU、瑞芯微NPU、晶晨NPU、恩智浦NPU、飞腾CPU、IPU等九大类硬件，更多硬件能力完善中。
4.  3行代码完成模型部署；一行代码切换不同推理后端和硬件。

GitHub地址：https://github.com/PaddlePaddle/FastDeploy

🔥 三日直播课：
【直播分享】2022.11.09 20:30～21:30，《覆盖云边端全场景，150+热门模型快速部署》。

[2022-11-09 12:20] wuyefeilin commented on #2711
这是我们ppmatting的网络逻辑哈, 具体可以参考我们的技术文稿https://arxiv.org/abs/2204.09433

[2022-11-09 12:20] wuyefeilin commented on #2712
decay_steps为设置的训练的iters哈

[2022-11-09 12:26] wuyefeilin commented on #2714
👍🏻

[2022-11-10 03:28] haoyuying commented on #2713
您好，具体哪里不方便您的使用方便具体列举一下吗，也可以帮助我们改进产品形态，我们会认真听取您宝贵的建议的。

[2022-11-10 03:39] juncaipeng commented on #2710
Hi, the reason is the convolution kernel of each sample is different when doing cross resolution attention.

[2022-11-10 03:42] juncaipeng commented on #2705
可是试试其他bs。

[2022-11-11 02:40] 1071189147 commented on #2508
我吧paddle降到2.2.2,就可以用了，其他的设置跟你的一样，cpu版，

[2022-11-11 03:18] chen-del commented on #2683
@wuyefeilin ,尝试过了感觉还是差不多，但背景还是会出现意外的误分割，因为是红外数据集对于一些样本背景和分类特征区分不是很明显

[2022-11-11 03:18] chen-del commented on #2683
提升好像不是很明显

[2022-11-11 06:46] Spinexiang commented on #2697
我使用了cmd命令运行

PythonSlicer.exe -m pip install paddlepaddle-gpu==2.3.1.post111 -f  https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html

完成安装，谢谢支持

[2022-11-11 07:50] Spinexiang opened #2718 "3Dslicer导入PaddleSeg/EISeg/med3d目录报错"
选择PaddleSeg/EISeg/med3d 目录，并点击加载对应模块，Slicer 进行加载后报错显示：没有paddleseg模块

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "D:\Slicer 5.0.3\lib\Python\Lib\imp.py", line 169, in load_source
    module = _exec(spec, sys.modules[name])
  File "<frozen importlib._bootstrap>", line 613, in _exec
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File

[2022-11-11 08:23] shiyutang commented on #2718
在slicer 的python解释器中输入下面的指令：

[code]

[2022-11-11 09:57] Linranran commented on #2575
@lijoe123 mscoco格式

[2022-11-11 10:06] Linranran opened #2719 "EIseg生成的annotation.json文件问题"
annotation.json的格式如下
`{
"info": [...]
"licenses": [...]
"images": [...]
"annotations": [
]
}`
其中annotations字段存放分了imagesid，categories seg等信息。我发现出现了相同的标注内容被写入了两次，对应不同的id。
如下：
`{"id": 18, "iscrowd": 0, "image_id": 18, "category_id": 1, "segmentation": [[877.0, 433.0, 877.0, 416.0, 871.0, 402.0, 862.0, 391.0, 850.0, 384.0, 832.0, 381.0, 790.0, 381.0, 777.0, 378.0, 703.0, 378.0, 679.0, 382.0, 172.0, 38

[2022-11-12 10:26] masamimayu commented on #2718
安装后会提示ERROR: No .egg-info directory found in C:\Users\masami\AppData\Local\Temp\pip-pip-egg-info-e42vy5mz

[2022-11-12 12:31] Edenmm opened #2720 "关于RTFormer论文中GFA的GDN使用，代码中未体现"
您好！
文件地址：[PaddleSeg](https://github.com/PaddlePaddle/PaddleSeg/tree/develop/paddleseg/models)/rtformer.py

代码：第321-426行类ExternalAttention定义，论文写道：优化过后的GDN denotes Grouped Double Normalization, which splits the second normalization of the original double normalization into H groups.但在代码中Cross_kv设置为True，之后执行的代码只是将特征图resize成群卷积的样子，并未体现Double Normalization，我很疑惑，期待解答！万分感谢

[2022-11-12 12:32] Edenmm commented on #2720
def forward(self, x, cross_k=None, cross_v=None):
        """
        Args:
            x (Tensor): The input tensor.
            cross_k (Tensor, optional): The dims is (n*144, c_in, 1, 1) ##k(inter_channels, in_channels, 1, 1)
            cross_v (Tensor, optional): The dims is (n*c_in, 144, 1, 1) ##v(out_channels, inter_channels, 1, 1)
        """
        x = self.norm(x)
        if not self.us

[2022-11-13 07:51] coosney commented on #2693
File "D:\anaconda3\lib\site-packages\paddle\nn\functional\loss.py", line 1719, in cross_entropy
    raise ValueError("Target {} is out of lower bound.".format(
ValueError: Target -4705274314675964054 is out of lower bound.
我也遇到这个问题了，重装也无法解决

[2022-11-13 14:09] clw5180 commented on #2453
请问这部分有参考教程么？感谢！

[2022-11-14 01:57] shiyutang commented on #2718
尝试升级setuptools，这里有一个相关的帖子：https://github.com/actions/setup-python/issues/165

[2022-11-14 02:00] haoyuying commented on #2719
您是怎么产生的这个结果呢，请详细描述下标注过程，方便我们复现问题。

[2022-11-14 02:10] juncaipeng commented on #2706
对

[2022-11-14 08:20] Alexhk01 opened #2721 "[Bug]FatalError: `Process abort signal` is detected by the operating system."
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-11-14 08:28] #2721 closed, assigned to nobody

[2022-11-15 00:59] KeqingWu commented on #2094
Excause me. How do you fix it?

[2022-11-15 01:05] KeqingWu opened #2722 "there are no images to display for infer.py"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-11-15 02:06] juncaipeng commented on #2720
GroupDoubleNormalization只在GPU-Friendly Attention里出现，Cross-resolution Attention不使用GroupDoubleNormalization.

<img width="634" alt="2286c8eab5e024651d203b055f2e472d" src="https://user-images.githubusercontent.com/52520497/201808742-c2a16269-9618-4cf0-84cc-139528142371.png">

[2022-11-15 02:11] juncaipeng commented on #2722
hi, what is the command you run?

The document of infer.py is: https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/deployment/inference/python_inference.md

[2022-11-15 02:14] juncaipeng commented on #2722
same issue #2094

[2022-11-15 03:47] KeqingWu commented on #2722
I used the infer.py of the MedicalSeg dir, the command I used is: python3 deploy/python/infer.py  --config output/deploy.yaml --image_path data/lung_coronavirus/lung_coronavirus_phase0/images/coronacases_org_007.npy
But npy can't be display direct.
So I use visualize.ipynb, no display either

[2022-11-15 09:36] shiyutang commented on #2722
I think you should try ipynb with jupyter notebook.
This jupyter lab is not supported yet: https://github.com/InsightSoftwareConsortium/itkwidgets/issues/405

[2022-11-15 09:37] shiyutang commented on #2094
You need to run this with jupyter notebook rather than jupyterlab. I recall this has something to do with itkwidget's support issue. https://github.com/InsightSoftwareConsortium/itkwidgets/issues/405

[2022-11-15 13:11] xiaodaomingye459 commented on #2157
您好，我使用你们cuda11.2的容器镜像时也遇到这个问题，请问该怎么解决？

[2022-11-15 13:50] xiaodaomingye459 opened #2723 "cuda11.2使用tensorrt推理报错"
环境：
platform: Linux-5.15.0-52-generic-x86_64-with-Ubuntu-18.04-bionic
Python: 3.7.13 (default, Apr 24 2022, 01:04:09) [GCC 7.5.0]
Paddle compiled with cuda: True
NVCC: Build cuda_11.2.r11.2/compiler.29558016_0
cudnn: 8.1
GPUs used: 1
CUDA_VISIBLE_DEVICES: 4
GPU: ['GPU 0: NVIDIA P106-100', 'GPU 1: NVIDIA GeForce', 'GPU 2: NVIDIA P106-100', 'GPU 3: NVIDIA GeForce', 'GPU 4: NVIDIA GeForce']
GCC: gcc

[2022-11-16 02:01] wuyefeilin commented on #2157
更换其它版本试试

[2022-11-16 10:46] ukoehler opened #2724 "Cannot export EMANet models"
System:
Windows 10
Python 3.9.13
paddle-bfloat 0.1.7
paddle2onnx 1.0.1
paddlefsl 1.1.0
paddlehub 2.3.0
paddlenlp 2.4.1
paddlepaddle 2.3.2
paddleseg 2.6.0

Executing the following command to export EMANet (I tried emanet_resnet101_os8_cityscapes_1024x512_80k and emanet_resnet101_os8_voc12aug_512x512_40k)
[code]
leads to following error
[code]

[2022-11-16 13:47] xiaodaomingye459 commented on #2303
您好，上面这个截图的连接还有吗，我并没有找到对应的镜像文件。

[2022-11-16 14:35] xiaodaomingye459 opened #2725 "拉取paddle docker镜像后同样无法使用tensorRT报错"
环境：
platform: Linux-5.15.0-52-generic-x86_64-with-debian-stretch-sid
Python: 3.7.0 (default, Aug 17 2022, 04:05:29) [GCC 8.2.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.2, V10.2.89
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: 4
GPU: ['GPU 0: NVIDIA P106-100', 'GPU 1: NVIDIA GeForce', 'GPU 2: NVIDIA P106-100', 'GPU 3: NVIDIA GeForce', 'GPU 4: NVIDIA GeForce']
GCC: g

[2022-11-17 01:52] jingmingtao opened #2726 "训练过程中出现显存不足的问题"
您好，我在使用人像抠图matting，hrnet18w，进行人像抠图训练时，在训练个几十轮，会报显存不足问题。我知道，可以通过降低batsize、减少输入的训练尺寸可以避免这种情况，可是上述两种操作，可能会使模型效果不佳；
问题1：因为我看报错是在relu激活计算时候出现的资源不足情况，而我在进入到激活前是进行crop_size=512的，所以跟原始的图片尺寸是不是没有关系的呢？
问题2：The command is `export FLAGS_use_cuda_managed_memory=false`这个指令作用是啥?我使用了也不管用,应该怎么执行呢
问题3：因为在训练几十轮也没问题，越是训练到后边，突然的为啥会出现这样的显存消耗增加的情况呢？
![image](https://user-images.githubusercontent.com/114384977/202334170-

[2022-11-17 01:53] yrksteven opened #2727 "[Bug]Panoptic-Deeplab 全景分割使用predict.py推理时报错"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：paddleseg-2.6.0
 2. PaddlePaddle版本：2.3.2
 3. 操作系统信息：Linux
 4. Python版本号：Python3.9
 5. CUDA/cuDNN版本：Cuda 11.6 /cuDNN Version: 8.4
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
 7. 详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
 8. 运行指令或复现步骤：
python predict.py --config configs/panoptic_deeplab/panoptic_deeplab_resnet50_os32_cityscapes_1025x513_bs8_90k_lr000

[2022-11-17 02:47] jingmingtao opened #2728 "在使用uwsgi这个web服务器调用paddle，来调用训练的人像抠图时报The API call failed because the CUDA driver and runtime could not be initialized"
错误如下：
![78f8b396140974cb5bb3b344519b069](https://user-images.githubusercontent.com/114384977/202342332-daf85057-f94a-4d4b-9b54-47a226877d8d.png)

[2022-11-17 03:06] Bobholamovic commented on #2727
你好，Panoptic-Deeplab无法适应新版本PaddleSeg API，请降级PaddleSeg到v2.5.0版本后尝试。

[2022-11-17 03:11] juncaipeng commented on #2303
https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html#python

[2022-11-17 03:11] Bobholamovic commented on #2723
你好，可以尝试TensorRT 7.2.*版本。参见 https://github.com/NVIDIA-AI-IOT/torch2trt/issues/557

[2022-11-17 03:30] Bobholamovic commented on #2725
看起来是ONNX文件解析的时候出现了问题，请尝试TensorRT v7.2.*版本~

[2022-11-17 05:30] jingmingtao opened #2729 "如何让W1117 10:10:13.237336 89105 gpu_resources.cc:91] device: 0, cuDNN Version: 8.5不在屏幕上显示"
如何不显示这两行：
![image](https://user-images.githubusercontent.com/114384977/202364101-20f565f8-5843-46d7-8fef-255eb0860100.png)

[2022-11-17 06:12] Bobholamovic commented on #2729
可以在运行程序前指定环境变量`GLOG_minloglevel`。例如：

[code]

或

[code]

[2022-11-17 06:16] jingmingtao commented on #2729
好的，如果不通过命令行这样指定程序，而是修改工程代码，需要修改哪个地方，告诉我哪个py就可以，我自己修改。

[2022-11-17 06:19] Bobholamovic commented on #2724
Please try `--input_shape -1 3 512 512`.

[2022-11-17 06:21] Bobholamovic commented on #2729
可以在主脚本（你执行的那个脚本）起始的地方添加以下几行：

[code]

[2022-11-17 06:39] jingmingtao commented on #2729
好的谢谢您

[2022-11-17 06:53] yrksteven commented on #2727
降级后推理成功了

[2022-11-17 06:53] #2727 closed, assigned to Bobholamovic

[2022-11-17 08:27] lyangfan opened #2730 "MedicalSeg预训练"
MedicalSeg训练出来的模型是否可以作为预训练模型再次在MedicalSeg中使用？如果可以的话，如何去掉最后一层的分类头？

[2022-11-17 08:27] xiaodaomingye459 commented on #2725
还是一样的报错

[2022-11-17 08:33] xiaodaomingye459 commented on #2725
![image](https://user-images.githubusercontent.com/83204995/202395728-9e45bbd9-80f0-4584-bbab-fff3b90bb56a.png)
![image](https://user-images.githubusercontent.com/83204995/202396366-03db6b43-aa6c-41fc-a72c-659da9b86bf5.png)

[2022-11-17 08:40] jingmingtao opened #2731 "PP-Matting: High-Accuracy Natural Image Matting中SCB与HRDB两者的输出进行Fusion是对应元素相加吗，论文中没写"
![image](https://user-images.githubusercontent.com/114384977/202397761-84237542-cec4-4931-95fa-0b9be6fd11d8.png)

[2022-11-17 08:54] wuyefeilin commented on #2731
是把过度Semantic map中的过度区域替换成Detail map

[2022-11-17 08:58] wuyefeilin commented on #2726
给一下完成的报错日志哈。另外你在训练时是否显存已经达到临界值了呢

[2022-11-17 09:06] jingmingtao commented on #2731
好的谢谢

[2022-11-17 09:12] jingmingtao commented on #2726
1、训练时显存为11086M，显卡一共显存11264M，是有些临界了。我想知道为啥波动了，再想对应解决的办法。
2、完整的报错日志指的是？屏幕打印的所有错误吗

[2022-11-17 09:44] Bobholamovic commented on #2725
报错的原因已经发生了改变（`Assertion failed`之后的提示信息）。这个问题仍然和TensorRT有关（准确地说，和trt编译时设置的opset的版本有关），请参考这两个issue：

https://github.com/onnx/onnx-tensorrt/issues/414
https://github.com/onnx/onnx-tensorrt/issues/428

[2022-11-17 10:00] shiyutang commented on #2730
请问你说的预训练模型是分类模型么，medicalseg是医疗分割模型库，所以训练出来的模型可以直接使用，不用去除分类头。

[2022-11-17 10:02] ukoehler commented on #2724
Dear @Bobholamovic,

I tried you workaround and managed to create a ONNX that opens fine in Netron. However, my inference engine OpenCV will not read the ONNX and I cannot tell if the resulting ONNX produces sensible results.

See https://github.com/opencv/opencv/issues/22823

[2022-11-17 12:25] lyangfan commented on #2730
不是分类模型，就是分割模型，只不过两个分割模型输出的类别数不同，且所用数据也不同。这种情况下，medicalseg能否支持用户去迁移以前用medicalseg训练出来的模型的权重，然后再用meidicalseg进行训练？

[2022-11-17 12:41] Bobholamovic commented on #2724
Seems that some layer in the ONNX file has not been correctly registered, and this function returns an empty pointer:

https://github.com/opencv/opencv/blob/347246901eccabe503985a64f16813ca859af25a/modules/dnn/src/layer_factory.cpp#L88

Perhaps you can seek help from the Paddle2ONNX developers as well.

[2022-11-17 13:00] ukoehler commented on #2724
Thanks,

it is not the first time OpenCV fails to import valid ONNX. I will wait for OpenCV feedback, since Netron opens the ONNX file exported by Paddle2ONNX just fine.

[2022-11-17 13:42] ukoehler opened #2732 "[Bug] Cannot export ESPNetV2 models"
System:
Windows 10
Python 3.9.13
paddle-bfloat 0.1.7
paddle2onnx 1.0.1
paddlefsl 1.1.0
paddlehub 2.3.0
paddlenlp 2.4.1
paddlepaddle 2.3.2
paddleseg 2.6.0

Executing the following command to export ESPNetV2:
[code]
leads to the following error message:
[code]

[2022-11-17 14:13] monkeycc opened #2733 "[Bug]semantic2instance.py转换EISeg的数据报错error: (-210:Unsupported format or combination of formats) [Start]FindContours supports only CV_8UC1 images when mode != CV_RETR_FLOODFILL otherwise supports CV_32SC1 images only in function 'cvStartFindContours_Impl'"
[code]

`python semantic2instance.py -o F:\00Biaozhu\SEG\label -d F:\00Biaozhu\SEG\save_path`

[code]

图片目录
-- *.jpg

label
00001.png
00001_cutout.png
00001_pseudo.png
00002.png
00002_cutout.png
00002_pseudo.png
.....

save_path 文件夹
只有00001.png

[2022-11-17 14:43] monkeycc commented on #2733
原来要把所有 _cutout  _pseudo 删除

[2022-11-17 14:43] #2733 closed, assigned to nobody

[2022-11-18 00:28] jingmingtao commented on #2726
您好，这个是报错的完整截图：
![image](https://user-images.githubusercontent.com/114384977/202588828-5ffb799d-3892-4a08-8747-9fb4b522e912.png)

[2022-11-18 01:50] shiyutang commented on #2730
如果输出的类别数量不同，可以直接修改最后一层分类层的num_classes即可，原预训练模型还是可以加载，最后一层由于形状不同会自动跳过。

[2022-11-18 01:56] shiyutang commented on #2732
Please upgrade the paddle to develop and try again.
install guide: https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-11-18 02:03] aiwenzhu opened #2734 "在VS2019新建工程测试peddleseg的demo testseg.cc出现程序无法启动的情况"
环境:win10,vs2019,cuda11.6,cudnn8.4
在VS2019新建工程测试peddleseg的demo  testseg.cc出现程序无法启动的情况：
配置了paddleinference的lib，opencv，yaml并将所有相关dll放下了工程目录下，项目生成没问题；
 auto predictor = create_predictor(yaml_config)但是加上这句代码，程序就无法调试和运行，会报
程序无法正常启动0xc000007b的错误

[2022-11-18 02:07] wuyefeilin commented on #2726
屏幕输出的所有结果

另外开启评估了吗

[2022-11-18 02:10] #2731 closed, assigned to wuyefeilin

[2022-11-18 02:17] jingmingtao commented on #2726
是有验证集的，开启了sad的评估

[2022-11-18 02:56] aiwenzhu commented on #2367
请问C++部署教程在哪

[2022-11-18 03:36] eezywu commented on #2695
您好！请问这个问题有结论吗？现在还是有些困扰，希望能帮忙解答一下哈，非常感谢！

[2022-11-18 06:34] monkeycc opened #2735 "[General Issue]Seg数据怎么进行数据增强"
[code]

Seg数据怎么进行离线数据增强
生成增强数据

[2022-11-18 06:39] shiyutang commented on #2735
不知道你想做什么离线数据增强呢？我们暂时不提供单独的离线数据增强，但是如果和在线数据增强相近的话，也可以在配置中使用我们的transforms，并跳过训练过程直接保存或者借鉴[在线数据增强](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/paddleseg/transforms/transforms.py)的内容自行撰写相关代码。

[2022-11-18 07:01] monkeycc commented on #2735
好的 谢谢 我试试

主要是在线增强  看不到效果啊
有些增强反而不好

所以想离线搞出来

[2022-11-18 07:43] jingmingtao opened #2736 "从模型网络结构原理的角度出发，人像抠图数据标定，身体被遮挡的部分，如何标注对模型表现更佳？"
如下图所示（左边是原始图，右边是标注的alpha图），这个人被自行车遮挡了，请问这样标注合理吗，还是说舍弃分离主要身体part的部分，比如舍弃脚呢,请问有什么好的建议吗。
![image](https://user-images.githubusercontent.com/114384977/202648157-33ed8677-fd97-4399-bf50-e7401023b80a.png)

[2022-11-18 07:47] jingmingtao commented on #2736
将遮挡身体的部分标注成身体的一部分这样合理吗

[2022-11-18 08:43] shiyutang commented on #2736
按理来说是应该这样标注的，可以看到常用的分割数据集cityscapes中也是这样标注的，所以模型是可以学习的：
https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic2.zhimg.com%2Fv2-db8eff6044145ae2b2a98b5eaff66f3e_1440w.jpg%3Fsource%3D172ae18b&refer=http%3A%2F%2Fpic2.zhimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671353092&t=e8196d4008f7cfbf5dbba3db63dc8687

[2022-11-18 08:45] jingmingtao commented on #2736
我是使用的咱们的pp-matting网络，这样也算合理吗

[2022-11-18 08:47] jingmingtao commented on #2736
比如人手里拿着的手提袋呢、手机 呢
![image](https://user-images.githubusercontent.com/114384977/202660075-47758020-c33f-47c1-a88d-5d703d8cb99e.png)

[2022-11-18 08:49] jingmingtao commented on #2736
是不是应该严格按照，是人体的就是人体，不是人体的就不是人体的这样的逻辑来进行标注呢

[2022-11-18 17:30] ykx123-hub opened #2738 "SETR 运行错误: OSError"
import paddleseg

import paddle

from paddleseg.models.backbones import ViT_large_patch16_384

from paddleseg.models import SegmentationTransformer

def SETR(num_classes, pretrained=False):

  """

  构建SETR模型

  :param num_classes: int 类别数

  :param pretrained: bool 是否使用预训练权重

  :return: paddle.nn.Layer

  """

  backbone = ViT_large_patch16_384(pretrained="https://bj.bcebos.com/paddleseg/dygraph/

[2022-11-19 03:02] freemanhm opened #2739 "[General Issue]启动eiseg时出现以下错误：qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.3）
 2. PaddlePaddle版本：（如PaddlePaddle 2.3.2）
 3. 操作系统信息：（如ubuntu 18.04）
 4. Python版本号：（如Python3.8）
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）
 6. 其他内容: （增加其他与问题相关的内容）
我的安装过程如下：
1.创建了虚拟环境paddle_env
2.在激活虚拟环境paddle_env下安装了PaddlePaddle 2.3.2
“conda install paddlepaddle-gpu==2.3.2 cudatoolkit=10.2 --channel ht

[2022-11-19 03:07] freemanhm commented on #2600
您好，请问是怎么解决该问题的，我也在启动EISeg出现该同样问题

[2022-11-19 09:30] moonnnpie commented on #2600
我最后是在本地使用的，在本地用同样的配置就没有出现问题

[2022-11-19 11:07] lyangfan commented on #2730
感谢解答！

[2022-11-19 13:44] xiyouji666 opened #2740 "标注几张图片后图片变小，放大到最大图片也很小，只有关闭软件重新打开才可以，每次标注四五张图片都会遇到无法放大的问题，请问如何解决呢？"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-11-20 12:50] Asthestarsfalll opened #2741 "[Feature Request]hook 及自定义eval间隔"
1. 某些情况下可能需要在训练达到某一阶段后对模型、dataset等做一些处理或者调用一些方法，因此需要在训练过程中注册hook进行处理。
2. 在网络后期可能需要增加eval的频率来得到性能更好的模型，因此希望可以自定义eval的间隔或者iter数，期望的形式如下：
[code]

[2022-11-20 14:40] freemanhm commented on #2739
后来发现，就是远程访问的问题。我是通过Xshell访问服务器，启动eiseg才会出现这个错误。直接通过服务器的命令行启动eiseg就不存在此问题。

[2022-11-20 14:40] #2739 closed, assigned to nobody

[2022-11-21 01:55] shiyutang commented on #2735
如果想看到效果，可以尝试将增强后的图像转换成numpy后保存，相关代码也可以参考predict.py 中保存图片的内容。

[2022-11-21 02:00] shiyutang commented on #2741
1. eval interval的设置可以自行修改train.py中保存的代码，并制定相应的iters 保存
2. 关于hook部分，可以进一步详细说明在不同阶段调用方法的需求吗？

[2022-11-21 02:06] haoyuying commented on #2740
您好，是使用的eiseg吗，请问使用的是什么版本呢？请给出一个具体的视频或者如何复现的方式，方便我们排查问题。

[2022-11-21 02:08] haoyuying commented on #2738
您好，无法看到您的报错信息，请给出能够完整复现的代码和报错信息，方便我们排查问题。

[2022-11-21 02:43] xiaodaomingye459 opened #2742 "关于ddrnet"
我在config里面只找到关于ddrnet23的配置文件，
而我想自己训练ddrnet23-slim的模型，
请问下官方有没有提供关于ddrnet23-slim的预训练模型呢？

[2022-11-21 02:57] wuyefeilin commented on #2736
为了网络更好的学习，可以把跟人体相连的显著物体当作目标的一部分，这样子利于整体的抠图。一般会把手持物体，手机等也当做人像的一部分

[2022-11-21 02:57] Asthestarsfalll commented on #2741
1. 大致可以分为两种，一种为达到某种条件执行一次，后续不再执行，一种为按照某种规律重复执行。第一种比如模型中使用了某些重参数化的技巧，需要在训练后期的某个阶段（iters达到某个数量后）进行重参数化，再直接在重参数化后的模型上进行微调，而无需resume。第二种比如使用了class uniform sampling的技术，需要每个epoch结束后重新build一下dataset等。
2. 自行修改确实可以，只是我个人认为这或许是一个比较普遍的需求，可以当作一个额外功能增加上去，并且可以与之前的形式保持兼容。

[2022-11-21 03:01] xiaodaomingye459 commented on #2742
还有就是从哪里可以看到官方提供了哪些预训练模型，
有没有一个完整的目录可以查询。

[2022-11-21 03:24] jingmingtao commented on #2736
那如果是摩托车、自行车、儿童车呢

[2022-11-21 03:25] jingmingtao commented on #2736
是应该将车作为人体的一部分吗，也是比较相连，但是却不属于人体的部分较大

[2022-11-21 03:31] jingmingtao commented on #2736
再比如胸前捧得一束花，或者是抖音特效、文字，这种怎么处理会好一些呢

[2022-11-21 07:58] wuyefeilin commented on #2736
这种根据需要，可以包含也可以不包含。

这种可以视为一部分

[2022-11-21 09:55] Enchanted0911 opened #2746 "paddleserving pipeline部署"
翻看文档，好像seg目前还不支持pipeline部署? 如果可以的话，能否给个example呢, 像其他场景如OCR那样的example

[2022-11-21 12:01] haoyuying commented on #2742
目前我们只提供了这个模型：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/configs/ddrnet
slim产生模型可参考这个文档：https://github.com/PaddlePaddle/PaddleSeg/blob/12b008034854b95c70621f36bb67d680edc5d106/docs/slim/quant/quant_cn.md
全部模型请参考reame中的overview部分。

[2022-11-21 12:51] ukoehler commented on #2732
Hmmm, disc is almost full and I do not speak Chinese. Is there an English version of the web page?

[2022-11-21 13:18] juncaipeng commented on #2746
文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/deployment/serving/serving_cn.md

seg模型和其他模型类似部署，所以建议直接参考paddle serving官方的文档。

[2022-11-22 02:24] aiwenzhu opened #2748 "ImportError: cannot import name 'onnx2tensorrt' from 'mmdeploy.apis.tensorrt'"
win10+cuda11.1 按照官方教程进行模型转换，运行下边代码报错：
ImportError: cannot import name 'onnx2tensorrt' from 'mmdeploy.apis.tensorrt'

from mmdeploy.apis import torch2onnx
from mmdeploy.apis.tensorrt import onnx2tensorrt
from mmdeploy.backend.sdk.export_info import export2SDK
import os

img = 'mmclassification/demo/demo.JPEG'
work_dir = 'work_dir/trt/resnet'
save_file = 'end2end.onnx'
deploy_cfg = 'mmdeploy/configs

[2022-11-22 02:29] #2748 closed, assigned to nobody

[2022-11-22 07:30] TD-wzw opened #2749 "想请教一下手写字体擦除的问题"
因为看到百度网盘的试卷手写字体擦除效果很好，想问下大佬建议，用单纯语义分割的方式可以做到吗？还是建议基于对抗生成网络来做。

[2022-11-22 11:47] xiaodaomingye459 commented on #2742
请问提供的预训练模型是在imagenet上做的预训练吗，
如果我自己想要类似的预训练有没有类似的教程，
您提供的链接好像是模型量化的教程。

[2022-11-23 02:06] #2592 closed, assigned to juncaipeng

[2022-11-23 02:44] wuyefeilin commented on #2742
整体模型我们提供了cityscapes的预训练，没有imagenet上的预训练。

[2022-11-23 02:59] cccusername opened #2752 "[bug] Target 2 is out of upper bound."
Thanks for your bug report. To h
 1. PaddleSeg版本：2.6
 2. PaddlePaddle版本：2.3.0
 3. 操作系统信息：linux
 4. Python版本号：3.7
 5. CUDA/cuDNN版本：cuda11.4

 6. 详细的错误信息、相关log：单卡，
[code]
 7. 其他内容: 标签为单通道，一共两个类别，生成标签的代码如下
[code]
生成标签的过程中if (mask>1).any():并不成立，但是在训练过程中加入if (t['label']>1).any():这个判断，就会成立，请问这是玩什么呢。

[2022-11-23 03:27] m828 opened #2753 "trt_version"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-11-23 03:30] m828 commented on #2753
![image](https://user-images.githubusercontent.com/45037914/203464055-77bf15c9-851b-4713-adfa-e48a4f830cc6.png)
直接跑的话出现这样的错误

[2022-11-23 03:45] finsary opened #2754 "[General Issue]PPLiteSeg代码与论文中的出入"
在ppLiteSeg的论文中，画出了两个UFAM模块，但在代码中UAFM使用了三次，查看代码时发现是191行中，多出了一个经过sppm模块后的block与没经过sppm的block进行的UFAM操作，但我觉得这个不存在论文中的模块不该有，或者这个有在论文中但是我没有仔细看，求解答

[2022-11-23 08:15] SweepingMonkWWW opened #2755 "Unet训练验证时，MIOU为0，precission为0，recall为0，Kappa为0。"
当使用unet模型训练验证时，MIOU为0，precission为0，recall为0，Kappa为0。配置文件相同，其他模型均正常，请问是什么原因？
![f677549e4ca3114859a299743d636ab](https://user-images.githubusercontent.com/118884219/203498731-c6567474-b32f-4c86-98a0-53353464caa6.png)

[2022-11-23 08:17] SweepingMonkWWW commented on #2755
保证数据集一致，配置文件一致，利用其他模型训练时则正常，unet训练就不行。下图为其他模型评估时的结果。
![5826fd68be135e5dd799536cbb91c9b](https://user-images.githubusercontent.com/118884219/203499194-2c6ab895-6fa2-49a9-bbdf-8dfc18f7e095.png)

[2022-11-23 08:18] SweepingMonkWWW commented on #2755
相关配置文件如下
_base_: '../_base_/cityscapes.yml'

batch_size: 2
iters: 1000

model:
  type: UNetPlusPlus
  in_channels: 3
  num_classes: 2
  use_deconv: False
  align_corners: False
  pretrained: Null
  is_ds: True

batch_size: 2
iters: 80000

train_dataset:
  type: Dataset
  dataset_root: data/positive_data
  train_path: data/positive_data/train_list.txt
  num_classes: 2
  mode: train
  transforms:

[2022-11-23 12:31] ZzzTD opened #2756 "您好，新手小白提问，应该怎样运行rtformer呢"

[2022-11-23 12:51] juncaipeng commented on #2367
文档首页readme有链接，请查看。

[2022-11-23 12:51] #2720 closed, assigned to juncaipeng

[2022-11-23 12:51] #2589 closed, assigned to juncaipeng

[2022-11-23 12:52] juncaipeng commented on #2734
我们马上会新增win上的部署demo

[2022-11-23 12:53] #2746 closed, assigned to juncaipeng

[2022-11-23 12:57] juncaipeng commented on #2749
如果有数据，可以使用语义分割实现。

[2022-11-23 13:01] juncaipeng commented on #2754
对，论文测试的精度和速度的模型都有三个UFAM模块，和代码一致。 论文我们近期会更新一版。

[2022-11-23 13:02] juncaipeng commented on #2756
建议参考文档学习一下训练和测试，然后只需要替换使用rtformer的yml文件，在PaddleSeg/configs/rtformer目录下。

[2022-11-23 13:11] wuyefeilin commented on #2752
查看一下输入的值是否正常

[2022-11-23 13:13] wuyefeilin commented on #2753
降低trt版本试试哈，比如使用7.1或7.2

[2022-11-23 13:18] wuyefeilin commented on #2755
只训练了1000iter，太短了，模型还不能收敛，训练长一些

[2022-11-23 13:20] wuyefeilin commented on #2728
环境问题，请参考paddle安装教程保证paddle已正确安装https://www.paddlepaddle.org.cn/

[2022-11-23 13:39] ZzzTD commented on #2756
谢谢您

[2022-11-24 02:06] user00644 commented on #2405
请问这个问题是如何解决的？

[2022-11-24 03:05] user00644 opened #2757 "Matting结果输出错误"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: PaddleSeg release/2.6
 2. PaddlePaddle version: paddlepaddle-gpu     2.3.1
 3. Operation system: Linux
 4. Python version: Python3.8
 5. CUDA/cuDNN version: CUDA10.2/cuDNN 7.6.5
 6. Full codes: 使用config文件夹的配置，使用提供的预训练的模型
 7. Detailed error information, releated running log: (

[2022-11-24 03:13] wuyefeilin commented on #2405
`--config`和`--model_path`的匹配问题

[2022-11-24 03:15] wuyefeilin commented on #2757
可以直接利用我们提供的预训练模型进行预测哈

[2022-11-24 03:30] #2756 closed, assigned to juncaipeng

[2022-11-24 03:35] user00644 commented on #2757
就是利用你们提供的预训练模型进行预测的，python tools/predict.py，但是结果就是不对。。。。。
输出结果是那种类似边缘检测的图片

[2022-11-24 05:07] LutaoChu commented on #2695
你好，argmax是可以回传梯度的，类似于max_pooling，会将梯度传回到最大元素的位置，其他元素梯度为0.  早起分类网络大量使用max_pooling，如果不可导都没法训练了

[2022-11-24 05:12] LutaoChu commented on #2695
另外，求取连通性用的numpy API，是没有反向算子的。为了解决这个问题，我用了一个trick，在这里mask和pred相乘提取连通区域，将梯度传回 pred   https://github.com/PaddlePaddle/PaddleSeg/blob/875eca5911ac4679b5b399a1af9890d74eec4d1f/paddleseg/models/losses/semantic_connectivity_loss.py#L146

[2022-11-24 06:17] user00644 commented on #2757
已解决，是我忘记之前修改了paddleseg的normlize的函数

[2022-11-24 06:17] #2757 closed, assigned to wuyefeilin

[2022-11-24 06:22] shiyutang commented on #2741
看上去你已经搭建了相关代码，欢迎给我们贡献～

[2022-11-24 06:24] shiyutang commented on #2732
yes，https://www.paddlepaddle.org.cn/en

[2022-11-24 06:24] shiyutang commented on #2730
目前问题已经解答，如有需要，欢迎随时reopen。

[2022-11-24 06:24] #2730 closed, assigned to shiyutang

[2022-11-24 13:42] ukoehler opened #2760 "Cannot export GSCNN models"
System:
Windows 10
Python 3.9.13
paddle-bfloat 0.1.7
paddle2onnx 1.0.1
paddlefsl 1.1.0
paddlehub 2.3.0
paddlenlp 2.4.1
paddlepaddle 2.3.2
paddleseg 2.6.0

Executing the following command to export GSCNN:
[code]
leads to the following error message:
[code]

[2022-11-24 14:15] Destinycjk opened #2761 "tabulate: failed to synchronize: cudaErrorIllegalAddress: an illegal memory access was encountered. (at ..\paddle\fluid\imperative\tracer.cc:307)"
1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.6）
 2. PaddlePaddle版本：（如PaddlePaddle 2.3.1）
 3. 操作系统信息：（如Windows）
 4. Python版本号：（如Python3.8）
 5. CUDA/cuDNN版本：（ 如CUDA11.6/cuDNN 8.5等）

您好，我在实现PanopticDeepLab时，参考帮助文档，训练过程没有任何问题，但是在验证或者预测时，均出现报错：tabulate: failed to synchronize: cudaErrorIllegalAddress: an illegal memory access was encountered. (at ..\paddle\fluid\imperative\tracer.cc:307)
完整日志流程如下：
2

[2022-11-25 02:43] wuyefeilin commented on #2761
看样子是环境的问题，麻烦提供一下环境信息

[2022-11-25 02:53] shiyutang commented on #2760
It is true. I am trying to fix this asap.

[2022-11-25 03:58] Destinycjk commented on #2761
非常感谢您的回复！
我的主要环境配置为：
PaddleSeg版本：PaddleSeg release/2.6.0
PaddlePaddle版本：PaddlePaddle 2.3.1.post116
操作系统信息：Windows
Python版本号：Python3.8
CUDA/cuDNN版本：CUDA11.6/cuDNN 8.5.0
因为环境主要还是参考教程来的，所以不太清楚问题在哪。另外，官方给出的quick start是能够正常运行的。

[2022-11-25 05:25] xiyouji666 commented on #2740
&nbsp; &nbsp; &nbsp; 您好，很抱歉未能及时回复，我是使用的eiseg，版本为1.0.3。具体的情况我录了一个视频，放在附件中了，但是没有语音讲，因为我们要标注的数据是像素级的，所以每张图片都需要放大到最大，然后再进行标注。由于我们图片数据是未公开的，我使用了几张风景图片，通过标注里面的云彩来演示，没有很认真的标注，只是想演示一下效果。在视频里面可以看到切换到下一张图片后，点击后的绿色的点是逐渐变小的，再到后面图像放大到最大也不能达到全屏（在视频里面每张图片我都是放大到能放大的最大程度了），然后后面图像就越来越小，最后甚至是一片白，看不到图像。之前我在标注数据时每标注4-5张图片就会出现这种情况，只能是关闭软件重新打开，重新加载模型和数据，所以这个问题不清楚该如何解决。

------------------&nbsp;原始邮件&nbsp;----------------

[2022-11-25 05:35] xiyouji666 commented on #2740
&nbsp; &nbsp; &nbsp; 您好，很抱歉回复的不及时，我是使用的eiseg，版本为1.0.3。具体的情况我录了一个视频，16M，但是发不出去，发出去邮件会被退回。
&nbsp; &nbsp; &nbsp; 复现方式的话：因为我们要标注的数据是像素级的很小的目标，所以每张图片都需要放大到最大，然后再进行标注。所以可以使用几张风景图片通过标注里面的云彩来试一下（每张图片都需要放大到最大，然后找很小的目标进行标注），标注过程中可以看到切换到下一张图片后，点击后的绿色的点是逐渐变小的，再到后面图像放大到最大也不能达到全屏（每张图片都是放大到能放大的最大程度了），然后后面图像就越来越小，最后甚至是一片白，看不到图像。之前我在标注数据时每标注4-5张图片就会出现这种情况，只能是关闭软件重新打开，重新加载模型和数据，所以这个问题不清楚该如何解决。如果我描述不清楚的话，麻烦给我更换一下接收邮

[2022-11-25 06:34] TD-wzw commented on #2749
好的，感谢大佬回复

[2022-11-25 10:01] shiyutang commented on #2760
Currently, the static graph doesn't support converting tensor to numpy and calculating. If you really desire to use this model, you can try to replace the cv2.canny in the following image with convolution:
<img width="597" alt="image" src="https://user-images.githubusercontent.com/34859558/203955498-8365ae15-783c-47aa-841a-31bab60dd8d5.png">

[2022-11-25 14:53] ZhangJingweiYa opened #2766 "指定多卡训练报server not ready, wait 3 sec to retry... not ready endpoints:['0.1.68.146:44201'][Bug]"
多卡训练，用如下命令：
export CUDA_VISIBLE_DEVICES=0,1,2,3 # 设置4张可用的卡
指定了其中的4块卡

python -m paddle.distributed.launch train.py \
       --config configs/segformer/segformer_b5_cityscapes_1024x1024_160k.yml \
       --do_eval \
       --use_vdl \
       --save_interval 500 \
       --save_dir output

跑的时候不断出现如下报错：
server not ready, wait 3 sec to retry...
not ready endpoints:['0.1.68.146:38149', '0.1.68.146:350

[2022-11-26 07:10] Destinycjk commented on #2761
已解决，环境问题。

[2022-11-26 07:10] #2761 closed, assigned to wuyefeilin

[2022-11-26 08:09] stq054188 opened #2767 "同样的配置，PPLiteSeg和DeepLabV3都可以正常训练，唯独UNet训练报错"
Win10 64位，Python 3.8.5, PaddleSeg: 2.6.0, PaddlePaddle: 2.3.2
——————————————————————————————————
配置文件：
batch_size: 4
iters: 40000

train_dataset:
  type: Dataset
  dataset_root: data/C0402
  train_path: data/C0402/train_list.txt
  num_classes: 2
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0.25
    - type: RandomPaddingC

[2022-11-26 08:10] stq054188 commented on #2767
@juncaipeng 能否帮忙看下，谢谢

[2022-11-27 06:56] shiyutang commented on #2766
请更新到最新版本的paddleseg和paddle，并重试一次看是否出现

[2022-11-27 11:47] ZhangJingweiYa commented on #2766
我用conda命令重新安装paddle没有出现呢上述问题了，之前用的是pip命令，但是之后又出现了新的报错

2022-11-27 19:16:12 [INFO]      There are 1052/1067 variables loaded into SegFormer.
I1127 19:16:12.605310 3907468 tcp_utils.cc:181] The server starts to listen on IP_ANY:51920
I1127 19:18:22.167176 3907468 tcp_utils.cc:107] Retry to connect to 0.1.68.146:51920 while the server is not yet listening.
I1127 19:20:35.287211 3907468 tcp_utils.cc:1

[2022-11-27 11:50] ZhangJingweiYa commented on #2766
找到原因了，我之前用的pip命令安装的paddle只能单卡跑。之后又用conda命令重新安装就可以正常多卡跑了。
但是它又报了新的问题：

2022-11-27 19:16:12 [INFO]      There are 1052/1067 variables loaded into SegFormer.
I1127 19:16:12.605310 3907468 tcp_utils.cc:181] The server starts to listen on IP_ANY:51920
I1127 19:18:22.167176 3907468 tcp_utils.cc:107] Retry to connect to 0.1.68.146:51920 while the server is not yet listening.
I1127 19:20:35.287211 3907468

[2022-11-27 11:50] ZhangJingweiYa commented on #2766
找到原因了，我之前用的pip命令安装的paddle只能单卡跑。之后又用conda命令重新安装就可以正常多卡跑了。
但是它又报了新的问题：

2022-11-27 19:16:12 [INFO] There are 1052/1067 variables loaded into SegFormer.
I1127 19:16:12.605310 3907468 tcp_utils.cc:181] The server starts to listen on IP_ANY:51920
I1127 19:18:22.167176 3907468 tcp_utils.cc:107] Retry to connect to 0.1.68.146:51920 while the server is not yet listening.
I1127 19:20:35.287211 3907468 tcp_

[2022-11-27 13:04] ZhangJingweiYa commented on #2766
找到原因了，我之前用的pip命令安装的paddle只能单卡跑。之后又用conda命令重新安装就可以正常多卡跑了。
还有就是nccl安装有问题，重重新安装了nccl。

但是它又报了新的问题：

2022-11-27 19:16:12 [INFO] There are 1052/1067 variables loaded into SegFormer.
I1127 19:16:12.605310 3907468 tcp_utils.cc:181] The server starts to listen on IP_ANY:51920
I1127 19:18:22.167176 3907468 tcp_utils.cc:107] Retry to connect to 0.1.68.146:51920 while the server is not yet listening.
I1127 1

[2022-11-28 02:13] haoyuying commented on #2767
您好，unet由于本身的模型结构中存在前后桥连的结构，因此对输入的shape有要求，shape必须满足encoder和decoder对应的层shape是一致的，建议使用unet给定的配置文件进行配置。

[2022-11-28 02:43] wwdok opened #2770 "[Bug]cannot import name 'APP_EISeg' from 'app'"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-11-28 02:48] wuyefeilin commented on #2761
切换到2.5分支试试哈

[2022-11-28 05:58] jingmingtao commented on #2726
您好，这个问题有什么好的解决建议吗，万分感谢

[2022-11-28 06:11] jingmingtao commented on #2726
你好我可以在relu激活的这个地方，加上with paddle.no_grad():吗

[2022-11-28 06:27] shiyutang commented on #2718
尝试下面代码可以消除错误。
[code]

[2022-11-28 06:35] jingmingtao opened #2772 "使用matting训练至几十轮，突然out of memary，在relu激活能否使用with paddle.no_grad()语句解决"
在训练开始的时候并没有显存不足，几十轮后开始出现，我看着是在relu激活的时候出现的，能否使用with paddle.no_grad()解决？困扰了我很久半个月了这个问题，一直resume进行使用。我的显卡是1080ti（11g），启动训练时11086M，不知什么原因引起的波动。希望给点建议，报错如下：
另外FLAGS_use_cuda_managed_memory=false怎么使用，直接export吗，我试了不管用
![image](https://user-images.githubusercontent.com/114384977/204209595-0fc00dca-7d56-4729-8005-a24451df1890.png)

[2022-11-28 08:22] stq054188 commented on #2767
我用UNet给定的配置文件配置了可以训练，但是预测的时候又报错：
预测指令：
python predict.py --config configs/unet/unet_stare_128x128_40k.yml --model_path output/best_model/model.pdparams --image_path data/C0402/JPEGImages/02.jpg --save_dir output/result

报错信息：
---------------Config Information---------------
batch_size: 4
iters: 40000
loss:
  coef:
  - 1
  types:
  - type: DiceLoss
lr_scheduler:
  end_lr: 0
  learning_rate: 0.01

[2022-11-28 08:49] ZhangJingweiYa opened #2773 "多卡训练Retry to connect to 0.1.68.146:39291 while the server is not yet listening.[Bug]"
1. PaddleSeg版本：2.6.0
 2. PaddlePaddle版本：PaddlePaddle 2.4.0
 3. 操作系统信息：Linux
 4. Python版本号：Python3.8

首先，使用run_check()会报下面这个警告。但是显示是可以在多卡上跑的。
/home/8TDisk/zhang/miniconda3/envs/paddle/lib/python3.8/site-packages/paddle/fluid/executor.py:1583: UserWarning: Standalone executor is not used for data parallel
  warnings.warn(
W1128 16:42:40.211668 4160744 parallel_executor.cc:666] Cannot enable P2P acce

[2022-11-28 09:03] stq054188 commented on #2767
@haoyuying 还有个问题，STARE数据集解压出来mask图是全黑的，是浮点数还是怎样，看不出来，试着读取发现都是0

[2022-11-28 09:16] jingmingtao commented on #2772
您好我解决了不知道会不会有影响，在train.py中加入：os.environ['FLAGS_use_cuda_managed_memory']='true'，而不是false，显存变成6000M，降低了将近一半

[2022-11-28 09:17] jingmingtao opened #2774 "训练模型报out of memary,在train,py中加入os.environ['FLAGS_use_cuda_managed_memory']='true'会影响吗，false时没有作用。"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-11-28 09:19] jingmingtao commented on #2774
加入这个语句，true时显存占用将近减少一半，这样对模型训练有没有坏的影响

[2022-11-28 11:39] haoyuying commented on #2773
您好，先检查下paddle是否正确安装并且能够使用，具体参考https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/windows-pip.html

[2022-11-28 11:41] haoyuying commented on #2770
eiseg需要在有界面显示的环境下安装，请问您的使用环境是否有显示器呢？

[2022-11-28 11:46] haoyuying commented on #2774
可以具体说一下您使用的方式及使用模型，可以先参考下这篇回答https://github.com/PaddlePaddle/Paddle/issues/44172

[2022-11-28 11:50] haoyuying commented on #2767
报错信息说的是predict中传入了非法的auc_roc，可以从这里排查下您配置的config是否存在问题。

[2022-11-28 11:55] wuyefeilin commented on #2772
激活使用with paddle.no_grad()不可以哈，os.environ['FLAGS_use_cuda_managed_memory']='true' 不影响训练结果的话就可以用

[2022-11-28 12:09] ZhangJingweiYa commented on #2773
是正确安装，并且能够使用的。具体如下：

(paddle) z:[/PaddleSeg]export CUDA_VISIBLE_DEVICES=1,2,3
(paddle) z:[/PaddleSeg]python -c "import paddle;paddle.utils.run_check()"
Running verify PaddlePaddle program ...
W1128 20:06:08.685379  9822 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.4, Runtime API Version: 11.0
W1128 20:06:08.703063  9822 gpu_resources.cc:91] devic

[2022-11-28 12:20] shiyutang commented on #2766
这个看上去是paddle环境导致的分布式运行出错，建议重启一个新的环境，并重新安装paddle2.3.2尝试
[code]

[2022-11-28 17:00] wwdok commented on #2770
有的，惠普显示器

[2022-11-29 01:35] 983183947 opened #2777 "eiseg"
eiseg在m1芯片的mac上会无法安装，pyqt5好像不支持m1
% python exe.py
Traceback (most recent call last):
  File "/Users/AI/PaddleSeg-release-2.6/EISeg/eiseg/exe.py", line 20, in <module>
    from run import main
  File "/Users/AI/PaddleSeg-release-2.6/EISeg/eiseg/run.py", line 21, in <module>
    from qtpy.QtWidgets import QApplication  # 导入PyQt相关模块
  File "/Users/zhengzijian/miniforge3/envs/paddle_env2/lib/python3.9

[2022-11-29 02:02] haoyuying commented on #2777
您好，建议您从qt社区寻找下解决方案。

[2022-11-29 02:11] jingmingtao commented on #2772
我可以问一下是什么原因可能会导致激活这部分操作导致消耗的显存变大吗

[2022-11-29 02:14] jingmingtao commented on #2772
还是没有解决这个问题，我可以用这个语句吗：torch.cuda.empty_cache()来解决吗

[2022-11-29 02:17] wuyefeilin commented on #2772
不行的话可以适当减小batch size

[2022-11-29 02:19] jingmingtao commented on #2772
我batchsize从4变成2后，不仅训练速度降低一般，而且收敛速度更慢，原因是我的数据分布不是很统一，所以2batsize效果不太好啊

[2022-11-29 02:20] jingmingtao commented on #2772
领导省钱，不给我换卡，而且让我定位显存溢出的原因，我头都大了

[2022-11-29 02:20] jingmingtao commented on #2772
我就单卡1080ti

[2022-11-29 02:21] wuyefeilin commented on #2772
可以换一个小一点模型试试，比如我们换成PP-MattingV2。 这是个小模型，可以节省显存

[2022-11-29 02:24] #2754 closed, assigned to juncaipeng

[2022-11-29 02:24] jingmingtao commented on #2772
小模型我已经试过了，你们呢所有的几乎试了一遍，效果不好，我们的场景比较复杂，需要拟合的场景比较难办，但是我数据还比较少，没有人标注，我自己动手学习了ps，自己标的，愁人啊兄弟

[2022-11-29 02:24] #2389 closed, assigned to juncaipeng

[2022-11-29 02:25] #2506 closed, assigned to juncaipeng

[2022-11-29 02:25] #2507 closed, assigned to juncaipeng

[2022-11-29 02:25] weekweekend commented on #2389
您的邮件已收到 ——周

[2022-11-29 02:25] #2553 closed, assigned to juncaipeng

[2022-11-29 02:25] jingmingtao commented on #2772
没数据，没训练资源，要求达到国内一流标准，难不难

[2022-11-29 02:25] #2556 closed, assigned to juncaipeng

[2022-11-29 02:25] #2559 closed, assigned to juncaipeng

[2022-11-29 02:25] #2571 closed, assigned to juncaipeng

[2022-11-29 02:29] Destinycjk opened #2778 "PanopticDeepLab在ADE20K训练集实现全景分割"
在阅读Panoptic Segm,entation论文时，我看到作者同时在Cityscapes、ADE20K与Mapillary Vistas三个训练集上实现了全景分割功能，目前在PanopticDeepLab中已有在Cityscapes实现全景分割的Demo。我想知道PanopticDeepLab是否有在ADE20K上实现全景分割的Demo，或者想要实现在ADE20K上的全景分割，我应该怎样构建相应的训练集呢？

[2022-11-29 03:00] wuyefeilin commented on #2772
那就减小bs， 增加训练时间

[2022-11-29 03:01] jingmingtao commented on #2772
嗯嗯好的

[2022-11-29 03:03] Bobholamovic commented on #2778
PanopticDeepLab目前暂时没有在ADE20K数据集上实现的全景分割demo。如果想要实现ADE20K数据集上的全景分割，需要仿照`datasets/cityscapes_panoptic.py`编写数据集读取接口，并（可能需要）对应修改训练标签生成和模型后处理相关逻辑。该工作比较tricky，实现起来可能需要注意很多细节，如果你尝试自己实现的话，欢迎在issue里和我们交流讨论。

此外，我们正在开发更通用、更易二次开发的全景分割功能，并且已经取得一定进展，PaddleSeg未来的新版本将提供这一功能。

[2022-11-29 03:35] TaoZhang1993 opened #2779 "[General Issue]说真的，你们这个东西，太难用了吧，跑个你们新开源的rtformer模型，怎么train的找半天都不知道在那里，跑起来到处报错，我有点无语"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-11-29 03:36] #2779 closed, assigned to nobody

[2022-11-29 04:15] stq054188 commented on #2767
检查了在stare.yml末尾确实有，但是这个是自带的。。。只能把这个删除了，才能正常推理预测
test_config:
  auc_roc: True

[2022-11-29 07:37] Destinycjk commented on #2778
好的，非常感谢您的回复，我后续再看一下在ADE20K复现全景分割的可行性，另外，非常期待Paddle最新的全景分割功能，请问这个功能大概将在什么时候上线呢？是否能够更方便用户在自己的应用场景下的数据集上实现全景分割呢？

[2022-11-29 08:45] #2767 closed, assigned to haoyuying

[2022-11-29 09:30] jingmingtao opened #2782 "paddleseg_matting模型预测的时候，可以一个模型同时预测多张图片吗"
一个模型可以同时推理预测多张图片吗，相当与训练的batchsize那样同时喂进多张图片，同时出来多个结果，如果不能的话，代码怎么写可以指导一下吗，万分感谢

[2022-11-29 09:31] Bobholamovic commented on #2778
感谢你的肯定。强化的全景分割功能最早将在v2.8版本上线（预计发布时间为2023年第一季度），我们有计划支持方便用户自己扩展的全景分割数据集接口。

[2022-11-29 10:31] #435 closed, assigned to LutaoChu

[2022-11-29 10:32] #449 closed, assigned to nobody

[2022-11-29 10:34] Harryoung commented on #449
Can not reproduce, long time no response, close.

[2022-11-29 10:56] Harryoung commented on #2777
您好，MacOS操作系统请不要使用`python exe.py`，需要使用`python -m eiseg`。如果依然报PyQt5包的错误，可以参考这里https://zhuanlan.zhihu.com/p/497492385.

[2022-11-30 02:38] wuyefeilin commented on #2782
如果有多张显卡可以利用python -m paddle.distributed.launch 进行预测，单每张卡的bs还是1

如果要提升单张卡的bs需要对预测流程的前后处理进行batch的处理https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/Matting/ppmatting/core/predict.py

[2022-11-30 03:30] jingmingtao commented on #2782
我想提升单张卡的bs，这个batch处理的话，有代码参考吗

[2022-11-30 05:38] jingmingtao commented on #2782
进行batch处理跟训练的时候的batch处理一样吗

[2022-11-30 06:10] wuyefeilin commented on #2782
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/Matting/deploy/python/infer.py#L344 可以参考这边的流程

[2022-11-30 06:15] jingmingtao commented on #2782
ok,thanks

[2022-11-30 06:45] fanxiaochen456 opened #2787 "使用paddle2onnx转换由PaddleSilm量化训练导出的模型出现不支持的算子"
您好，我使用PaddleSeg2.5训练模型，然后使用PaddleSilm量化训练导出模型，这是我的模型
![image](https://user-images.githubusercontent.com/101849755/204725682-ae284559-4797-4e53-9801-5a8d016208cd.png)
使用PaddleX和C++部署PaddleSeg模型在本地推理CPU的时间为1.8-2.0s，推理速度缓慢，现在想使用OpenVINO进行模型加速，使用最新的paddle2onnx1.0.3进行模型转换，使用指令是：
 paddle2onnx --model_dir output1010/ --model_filename model.pdmodel --params_filename model.pdiparams --save_file model_seg.o

[2022-11-30 06:49] jingmingtao commented on #2782
这个infer.py就已经实现实现了一个模型同时推理多张图片对吧，那我可以直接拿来用就可以把？

[2022-11-30 06:56] jingmingtao opened #2788 "想请教下Model Export步骤的作用与目的是什么"

[2022-11-30 07:03] jingmingtao commented on #2782
我看这个代码里边也是在一个batch里边循环推理，也是一张图片一张图片的在一个batch里边推理，我想要的是几张图片同时进行推理，这样可行吗

[2022-11-30 07:05] jingmingtao commented on #2782
因为请求数据是同时请求，所以图片也应该同时进行推理，这样能实现吗

[2022-11-30 12:29] wuyefeilin commented on #2787
--opset_version 11  加上这个参数试试

[2022-11-30 12:32] wuyefeilin commented on #2782
这个就是多张图片进行推理的哈。前后处理本来就是逐张进行的，如果求并行你可以考虑多进程

[2022-11-30 14:11] ukoehler opened #2792 "[Bug] Cannot predict or export PortraitNet: __init__() got an unexpected keyword argument 'channel_ratio'"
System:
Windows 10
Python 3.9.13
paddle-bfloat 0.1.7
paddle2onnx 1.0.1
paddlefsl 1.1.0
paddlehub 2.3.0
paddlenlp 2.4.1
paddlepaddle 2.3.2
paddleseg 2.6.0

Executing the following command to predict PortraitNet:
[code]

leads to the following error
[code]

same for exporting
[code]
will give this error
[code]
Same happens for the ```supervisely``` version