[2019-09-12 02:57] MaybeShewill-CV opened #23 "关于roadline预训练模型的配置"
请问可以提供关于roadline预训练模型的相关配置吗. 例如训练数据集信息,网络训练的输入图像尺寸等信息^^

[2019-09-12 07:06] pennypm commented on #23
您好，车道线的训练数据集使用的是公司内部数据集，不是很方便公开呢。训练时使用stepscaling，输入图像crop_size是769x769 ^^

[2019-09-12 07:14] MaybeShewill-CV commented on #23
@pennypm 非常感谢 关于训练方面还有更多细节可以公开或者可以在什么文档中查询吗.比如您说的这个crop的策略 然后crop size对应的原始训练的数据的分辨率是多大呢?

[2019-09-12 07:34] pennypm commented on #23
@MaybeShewill-CV crop具体策略您可以看pdseg/data_aug.py里的rand_crop函数，训练数据原始分辨率是多样的，并不单一。训练细节的话，您是遇到了什么问题，可以讲具体一点吗

[2019-09-12 07:38] MaybeShewill-CV commented on #23
@pennypm 是想使用自己的数据集训练模型 这https://aistudio.baidu.com/aistudio/projectdetail/115541这边只看到关于人像分割的训练说明 没有关于roadline的 所以想问下训练细节用自己的数据训练一下 感觉paddleseg比自己做的模型效果好点 哈哈

[2019-09-12 10:48] fosaken opened #25 "关于loss.py中的dice_loss"
&emsp;&emsp;您好，我在做二类分割的时候，使用了[loss.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.1.0/pdseg/loss.py)中的[dice_loss](https://github.com/PaddlePaddle/PaddleSeg/blob/92ab56f22f895deb28593e0370f6b7f82a014b7f/pdseg/loss.py#L68)，但是程序总是在运行到`optimizer.minimize`那步报错，我看到默认使用的loss函数中有如下两个语句：
[code]
&emsp;&emsp;然后我在dice_loss中也加入了这两句，程序可以运行了，但是损失变得浮动，不怎么下降。
## Q:
1.这个会影响loss的下降吗？
2.这个是dice_loss实现存

[2019-09-12 11:28] FUQiaobo opened #27 "训练时报错"
在进行猫狗样本集训练时出现错误如下：
ModuleNotFoundError: No module named 'paddle.fluid.contrib.mixed_precision'

[2019-09-16 03:22] nepeplwu commented on #25
@fosaken ，感谢反馈：
1. 这样的修改不会影响loss的下降
2. dice_loss在0.1.0版本中还未开放，这样修改是正确的

[2019-09-16 03:30] fosaken commented on #25
@nepeplwu 感谢解答，期待后续更新

[2019-09-16 05:13] AlmostNoMemory opened #30 "关于编译inference时出现的opencv错误"
/home/zyf/PycharmProjects/CorpsProject/PaddleSeg/opencv3/lib/libopencv_core.a(system.cpp.o): In function `cv::ipp::IPPInitSingleton::IPPInitSingleton()':
system.cpp:(.text._ZN2cv3ipp16IPPInitSingletonC2Ev[_ZN2cv3ipp16IPPInitSingletonC5Ev]+0x6b): undefined reference to `ippicvGetCpuFeatures'
system.cpp:(.text._ZN2cv3ipp16IPPInitSingletonC2Ev[_ZN2cv3ipp16IPPInitSingletonC5Ev]+0xfe): undefined refere

[2019-09-16 05:27] #30 closed

[2019-09-16 05:35] AlmostNoMemory opened #31 "编译inference时出现的错误"
你好开发者，我在编译inference时出现如下错误信息：
/home/zyf/PycharmProjects/CorpsProject/PaddleSeg/opencv3/lib/libopencv_core.a(system.cpp.o): In function `cv::ipp::IPPInitSingleton::IPPInitSingleton()':
system.cpp:(.text._ZN2cv3ipp16IPPInitSingletonC2Ev[_ZN2cv3ipp16IPPInitSingletonC5Ev]+0x6b): undefined reference to `ippicvGetCpuFeatures'
...
...
中间省略了几十行，都是undefined reference to的错误

在编译inference过程中 按照文档重新编译安装了openc

[2019-09-16 06:24] sjtubinlong commented on #31
1. lib和lib64的问题系不同系统差异造成，我们会尽快修复。

一个快捷的解决方法是在`opencv`目录以及下创建软链接即可:
[code]

2. IPP的问题，麻烦提供您的gcc版本和系统版本信息

对于`gcc 5.0`以上的版本，链接会有问题, 因为gcc从5.0后整个符号系统有较大改动，而paddlepaddle的预测库是基于gcc 4.8预编译。建议使用gcc4.9 或者 4.8编译。

如果你的gcc版本为4.9/4.8时仍然出现上述问题，重新解压编译

请尝试删除整个opencv目录，重新解压后执行编译。

[2019-09-16 08:06] AlmostNoMemory commented on #31
gcc版本替换为4.8后编译通过了 非常感谢您的解答！
但是在执行预测时又出现了如下的错误：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Cannot open file freeze_model/__model__ at [/paddle/paddle/fluid/inference/api/analysis_predictor.cc:639]
PaddlePaddle Call Stacks:
0            0x13cdb6dp void paddle::platform::EnforceNotMet::Init<char const*>(char const*, char const*, int) + 1645
1

[2019-09-16 08:10] AlmostNoMemory commented on #31
gcc版本替换为4.8后编译通过了 非常感谢您的解答！
还有些小错误是两个库libjasper.a和libwebp.a，这两个不知道是不是opencv没有安装额外库导致不存在，我是从之前自己安装在/usr/里直接复制到新安装的opencv下解决的

但是在执行预测时又出现了如下的错误：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
what(): Cannot open file freeze_model/__mode__ at [/paddle/paddle/fluid/inference/api/analysis_predictor.cc:639]
PaddlePaddle Call Stacks:
0 0x13cdb6dp void paddle::platform::

[2019-09-16 08:54] sjtubinlong commented on #31
@AlmostNoMemory

这里的错误应该是路径问题，麻烦确认下配置文件中的模型文件路径是否正确，`Cannot open file freeze_model/mode` 这里的`mode`是否少了一个**l**

[2019-09-16 12:31] AlmostNoMemory commented on #31
这个yaml的配置文件是运行export_model.py自动生产的，我自己并没有修改这里。
freeze_model文集夹下是__model__和__params__以及delpoy.yaml文件

然后yaml里的内容如下：
      ...
        MODEL_PATH : "freeze_model"
        MODEL_FILENAME : "__model__"
        PARAMS_FILENAME : "__params__"
      ...
这些应该都是没有问题的吧？
不知道是不是因为转化模型没有使用最终生成的final的原因呢？  因为训练太久我自己中断的然后选了一个自动保存的模型参数导出的

[2019-09-17 02:39] sjtubinlong commented on #31
@AlmostNoMemory 没问题，主要你确认下freeze_model目录下是否有这个文件

[2019-09-17 07:44] FUQiaobo commented on #27
谢谢，更新版本后解决了

[2019-09-18 05:42] AlmostNoMemory commented on #31
已经解决了 谢谢您
还想请问下 为什么预测出来的recover结果和原始尺寸不一样？  xy调换了一下
还有这个预测出来的标签结果是在哪里可以看出来呢？

[2019-09-18 07:59] sjtubinlong commented on #31
@AlmostNoMemory 对于图片 x.jpeg 会有一个预测结果 x_jpeg.png，这个图片的二进制内容实际是每个像素的分类。

[2019-09-18 08:00] #31 closed

[2019-09-21 07:13] #27 closed

[2019-09-27 07:28] Jihongwei1 opened #50 "请问，标定图片是需要什么样的，为什么mini_pet/annotations/trimaps中的图片都是(1,1,1)？"

[2019-10-04 14:14] warsing1 opened #51 "vis.py 文件当中：test_prog = test_prog.clone(for_test=True)"
我在训练时设置batch_size=1, CPU_NUM=1。为何在利用vis.py画图或eval.py执行evaluation时，代码test_prog = test_prog.clone(for_test=True) 不加for_test=True得效果要比加入for_test=True参数得map要高很多；并且vis.py画预测图的效果也明显好很多？是因为batch_norm的缘故吗？难道不是设置batch_size=1，batch_norm就失效了吗？ 求大神帮忙解答以下。

[2019-10-08 12:59] wuyefeilin commented on #50
请问你所说的图片都是(1,1,1)，是指所有标签只有1吗？还是个别图像？另外你是怎么得到的图片都是（1，1，1），不介意的话，请给一下你的代码

mini_pet是一个3类数据集，标签为：0，1和2，其中0表示背景。

[2019-10-08 13:46] wuyefeilin commented on #51
在测试中，batch_size是不会影响预测结果的。

在卷积运算中，bn是针对每一个通道进行计算的，所以并不能通过将batch_size = 1设置成1让其失效的。

test_prog = test_prog.clone（for_test = True）和不加for_test = True的实验，你能提供一下相关结果吗？以及相应的配置

[2019-10-09 07:31] LutaoChu commented on #50
您好，mini_pet的标定图片实际上是单通道灰度图，建议使用cv2.imread(image, -1)来进行查看原始的图片。

关于标定图片标准，最好是单通道灰度图，像素标注类别需要从0开始递增。

[2019-10-10 06:10] Jihongwei1 commented on #50
感谢，已解决。

[2019-10-12 05:39] eddieheyutong opened #55 "在进行deeplabv3+的时候，进行到PaddleSeg C++预测部署的时候，make后报出以下错误"
[ 92%] Linking CXX executable demo
/usr/bin/ld: 找不到 -lsnappystream
/usr/bin/ld: 找不到 -lsnappy
collect2: error: ld returned 1 exit status
CMakeFiles/demo.dir/build.make:131: recipe for target 'demo' failed
make[2]: *** [demo] Error 1
CMakeFiles/Makefile2:68: recipe for target 'CMakeFiles/demo.dir/all' failed
make[1]: *** [CMakeFiles/demo.dir/all] Error 2
Makefile:83: recipe for target 'all' failed
m

[2019-10-12 05:40] eddieheyutong commented on #55
有大佬知道这个是什么原因吗

[2019-10-13 13:36] eddieheyutong opened #57 "在进行C++预测库部署的时候，进行到编译这步的时候make后报错，这个错误是什么原因"
本人系统为ubuntu18.04 GCC/G++版本为4.8.5 CUDA版本为10.0，opencv编译没有问题，就是生成可执行文件的时每次make到最后的时候会报以下的错误：
[ 92%] Linking CXX executable demo
/root/projects/opencv3/lib64/libopencv_core.a(hal_internal.cpp.o)：在函数‘lapack_QR32f(float*, unsigned long, int, int, int, float*, unsigned long, float*, int*)’中：
hal_internal.cpp:(.text._Z12lapack_QR32fPfmiiiS_mS_Pi+0x250)：对‘sgels_’未定义的引用
hal_internal.cpp:(.text._Z12lapack_QR

[2019-10-17 01:16] arcral commented on #55
你不会看错误信息？找不到snappy库啊，你装一个不就完事了

[2019-10-17 02:00] joey12300 commented on #57
可以试试用以下命令编译opencv。
[code]
之后会在文档中更新这个命令，谢谢反馈！ ：）

[2019-10-17 02:01] joey12300 commented on #55
目前已修复了该链接错误，重新拉一下代码即可顺利编译：）

[2019-10-17 07:08] #57 closed

[2019-10-17 07:12] eddieheyutong opened #63 "在准备训练数据的时候通过labelme生成了原图所对应的.json文件，但是在数据格式转换时报错ModuleNotFoundError: No module named 'labelme'"
如题，已经生成了对应的json文件但是在格式转换的时候，提示
Traceback (most recent call last):
  File "labelme2seg.py", line 15, in <module>
    import labelme
ModuleNotFoundError: No module named 'labelme'
找不到labelme是什么原因呢

[2019-10-18 03:21] LutaoChu commented on #63
你好，有可能是安装labelme的python和运行labelme2seg的python不是同一个，比如在python2上安装labelme，在python3上运行的labelme2seg。
之前也有用户碰到了这个问题。请核对一下

[2019-10-18 08:21] eddieheyutong commented on #63
@LutaoChu 大神您好上个问题我解决了，现在我运行这个文件的时候，那个python labelme2seg.py <path/to/label_json_file> <path/to/output_dataset>这句命令里，<path/to/output_dataset>该打什么呢，我看说明说不用预先创建，脚本运行时会自动创建，否则会报错。就把这个地方空着了然后报错labelme2seg.py: error: the following arguments are required: output_dir，但是当我新建一个out文件夹时输入地址，报错Output directory already exists: ./out，所以这个究竟该怎样去执行是正确的呢？

[2019-10-18 11:38] LutaoChu commented on #63
你可以输入任意一个目录，如果是linux的话，比如"/home/123"。重点是需要输入文件夹的完整路径，绝对路径或相对路径都可以。

上个问题可以告知一下是怎么解决的吗？

[2019-10-19 03:22] JD012 opened #65 "环境配置好后，使用人体模型预测 有结果。使用自己通过paddleSeg训练的unet模型预测。mask内容为空"
自己训练的模型 通过 PaddleSeg源码中的vis.py 预测，可以看到 预测结果。将模型导出后，放入下载好的 seg-serving 中 。修改了 seg_conf.yaml中的均值方差和图片大小。但 就是无结果。

1.使用 官方提供的人体模型 在 seg-serving  上预测 有结果。
2.自己训练的模型使用PaddleSeg 中的vis.py 测试 有结果。
3.官方模型使用的是 deeplab ，自己训练使用的是unit

请帮忙定位下原因，十分感谢。

[2019-10-19 03:28] JD012 opened #66 "运行seg-serving 时客户端传输 Gray 格式图片 服务端报错。 传输RGB格式的没有问题。"
运行seg-serving 时客户端传输 Gray 格式图片 服务端报错。 传输RGB格式的没有问题。

[2019-10-21 03:07] wuyefeilin commented on #25
@fosaken 新增dice_loss与bce_loss。可通过cfg.SOLVER.LOSS进行配置

[2019-10-21 03:28] joey12300 commented on #66
你好，是报以下的异常错误吗？

如果是，请修改seg_conf.yaml中CHANNELS的值。 Gray 格式图片的CHANNELS值为1，RGB格式图片的CHANNELS值为3。PS：如果是RGBA格式图片，CHANNELS值为4。

[2019-10-21 06:14] JD012 commented on #66
感谢。现在采取的处理方式是 所有图片都先转换成 RGB格式。

[2019-10-21 06:14] #66 closed

[2019-10-21 07:38] eddieheyutong commented on #63
@LutaoChu 您好我现在运行这个labelme2seg.py文件可以生成文件夹和class_names.txt但是在文件夹JPEGImages中和文件夹SegmentationClassPNG中都没有生成的图片，在class_name.txt中也只有background这个一个类别，想问您一下这个是什么问题？然后我之前问您的那个问题我是通过把pip路径调整后解决的，就如您所说应该是在不同版本的python上运行和下载的labelme，应为我这台电脑上存在着多版本的python，需要进行核对。

[2019-10-21 09:06] eddieheyutong opened #68 "在PaddleSeg数据准备，LabelMe标注教程中所遇到的问题，无法生存对应的真值图片。"
我在看这个LabelMe教程的时候按照操作可以运行labelme2seg.py然后对文件夹中的事例图像“2011_000025.jpg”进行数据转换想要通过该图像和对应的.json文件生成像素真值图像，但是现在遇到的问题是我运行这个labelme2seg.py脚本后可以生成JPEGImages和SegmentationClassPNG这两个文件夹，以及class_names.txt这个文件，但是两个文件中没有文件生成，calssname中的类别名称也只有background一种，想知道一下这个是什么原因导致的？以下是我执行的代码和输出的结果：
执行命令：
python labelme2seg.py home/zhengyuan/PaddleSeg/docs/annotation/data_annotated/ output
终端的返回：
Creating dataset: output
c

[2019-10-21 09:34] LutaoChu commented on #63
运行labelme2seg.py有报错和警告信息吗 ？

也可能是用labelme标注生成的json不对。请确认一下json里是否有保存类别边缘坐标。正常的json是这样的：

![image](https://user-images.githubusercontent.com/30695251/67194032-edfa8c00-f428-11e9-9672-ea377dc83bd5.png)

[2019-10-21 09:39] eddieheyutong commented on #63
@LutaoChu 我运行这个文件是没有报错的信息的，我在终端输入的指令如下：
python labelme2seg.py home/zhengyuan/PaddleSeg/docs/annotation/data_annotated/ output
然后终端的返回信息为：
Creating dataset: output
class_names: ('_background_',)
Saved class_names: output/class_names.txt
并无错误信息，我进行测试的json文件为data_annotated中的样例文件“2011_000025.json”，
![2019-10-21 17-38-23屏幕截图](https://user-images.githubusercontent.com/45486682/67194416-a88a8e80-f429-11e

[2019-10-21 09:40] LutaoChu commented on #68
可能是用labelme标注生成的json不对。
请确认一下指定目录是否有对应的json文件。
json里是否有保存类别边缘坐标。正常的json是这样的：
![image](https://user-images.githubusercontent.com/30695251/67194432-ade7d900-f429-11e9-89c7-8d4c47b75e3f.png)

[2019-10-22 00:30] beichen2012 opened #71 "关于ICNet loss的问题"
弱弱问一下，论文中ICNet是用真值标签图像的1/16, 1/8，1/4作为监督信号的，工业检测中缩小16倍后图像上基本上什么缺陷也看不出来了。有没有人试过只使用一个分支的loss进行训练？或者是这里有什么要注意的吗？

[2019-10-22 03:11] LielinJiang commented on #71
没有试过仅使用一个分支的loss来训练。使用1/16其实是融合了浅层特征的。其次缩小16倍后基本缺陷看不出来，这个是否有量化？比如说缺陷在缩小后的图像上的比例。感觉可以做实验试试，不过个人认为仅使用一个分支loss，效果可能不会太好。

[2019-10-22 03:12] LielinJiang commented on #71
没有试过仅使用一个分支的loss来训练。使用1/16其实是融合了浅层特征的。其次缩小16倍后基本缺陷看不出来，这个是否有量化？比如说缺陷在缩小后的图像上的比例。感觉可以做实验试试，不过个人认为仅使用一个分支loss，效果可能不会太好。

[2019-10-22 04:10] LutaoChu commented on #68
你试一下将2011_000025.json和2011_000025.jpg放到一个新建文件夹里，再跑labelme2seg.py试试。
我这边测试是有真值图片的，命令如下，供参考
```~/code/PaddleSeg/docs/annotation$ python labelme2seg.py test/ ./data```

[2019-10-22 04:10] LutaoChu commented on #63
回复到这个issue里了 https://github.com/PaddlePaddle/PaddleSeg/issues/68

[2019-10-23 02:18] joey12300 commented on #65
无结果是指生成了全黑的图像吗？请问您是使用过image_seg_client.py进行访问的吗？

[2019-10-23 12:29] JD012 commented on #65
您好 ，是生成了全黑的图像，我是使用的image_seg_client.py

[2019-10-23 12:56] joey12300 commented on #65
您应该是运行多分类的模型吧。该demo针对的是二分类的分割模型。seg-serving返回的结果是每个像素类别为1（即前景）的置信度。所以该脚本的作用是把人像（前景）抠出来，放在白色的背景上。

[2019-10-23 13:28] JD012 commented on #65
您好，感谢，我运行的是多分类。我再调一下换成二分类试试。

[2019-10-25 09:27] zhuyushi opened #73 "请教：labelme2seg.py支持labelme使用line进行标注的转换吗"
使用labelme进行标注的时候，可以选择line类型，标注一个线段。labelme2seg.py支持这种类型标注的转换吗？谢谢。

[2019-10-25 10:27] LutaoChu commented on #73
你好，亲测对line类型是支持的。
转换后的label图片中，线段大约具有7个像素左右的宽度。

[2019-10-26 01:56] beichen2012 commented on #71
谢谢回复。
比如缺陷是5*5像素的，如果缩小16倍，即使使用float(0~1)，也难免给缩小没了？

[2019-10-26 03:14] zhuyushi commented on #73
多谢

[2019-11-01 04:51] wz940216 opened #77 "双卡环境使用指定单卡训练报错问题"
报错环境ubuntu18.04 双2080ti显卡，nvidia-smi 显示 显卡驱动是418.88，同时cuda10.1 但是nvcc -V中显示cuda10.0。paddle版本是1.5.1。
代码在另一个单卡v100电脑中完美运行。放在双卡电脑中，首先另一张卡被他人占用了，使用export CUDA_VISIBLE_DEVICES=0 只用一张卡。运行train.py文件报错
Traceback (most recent call last):
  File "pdseg/train.py", line 467, in <module>
    main(args)
  File "pdseg/train.py", line 454, in main
    train(cfg)
  File "pdseg/train.py", line 235, in train
    exe

[2019-11-01 07:33] nepeplwu commented on #77
@wz940216 ，感谢反馈，从日志来看，单卡错误大概率是环境问题，可以参考[问题](https://github.com/PaddlePaddle/Paddle/issues/9290)查找解决方案。
双卡错误是内存不足，从你的描述来看，其中一张卡已经被其他人占用，出现内存不足的错误是可以预期的。

[2019-11-03 17:48] KooSung opened #80 "运行eval.py和vis.py 报错CUDNN_STATUS_EXECUTION_FAILED"
运行eval.py和vis.py的时候，会报错：
`PaddleCheckError: CUDNN_STATUS_EXECUTION_FAILED at [/paddle/paddle/fluid/operators/conv_cudnn_op.cu:288]`

[code]

[2019-11-03 17:58] ZeyuChen commented on #80
您好，请问你的操作系统环境是什么版本，以及对应Paddle的版本号。
另外是否可以确认下下cudnn动态库是否有得到正确安装。
看着错误似乎是CUDNN链接库问题。

[2019-11-03 18:13] KooSung commented on #80
@ZeyuChen ubuntu:16.04.10,Paddle1.60, 可以正常训练
![image](https://user-images.githubusercontent.com/34935911/68089916-b23fd780-fea8-11e9-85a9-eb70bfbeebd3.png)

[2019-11-03 18:36] ZeyuChen commented on #80
这错误主要是硬件环境或者驱动匹配问题，我们内部测试环境在CUDA10.0, cudnn7.4上进行过验证。
是否可以贴下nvidia-smi信息，以及你配置的LD_LIBRARY_PATH信息，初步怀疑是cudnn版本与CUDA不匹配，或者是CUDA_HOME与CUDNN的动态库地址配置不正确。
如果可以尝试降级下cudnn至7.4，并确定动态库的链接地址指向cudnn7.4版本，并且确定CUDA_HOME配置了CUDA 10.0的路径。

[2019-11-04 03:09] KooSung commented on #80
nvidia-smi：
![image](https://user-images.githubusercontent.com/34935911/68097643-33bc5780-fef3-11e9-8974-43262965fb2c.png)

[code]

[2019-11-04 09:54] LielinJiang commented on #71
是这样的，不过感觉还是要看缺陷的大小和原图大小的比例。

[2019-11-04 15:06] KooSung commented on #80
@ZeyuChen 已解决，用了不同方法修改cuda环境变量，最后可以运行推断程序了，感谢解答~

[2019-11-04 15:06] #80 closed

[2019-11-05 04:45] zhuyushi opened #81 "labelme2seg.py工具生成的png文件是全黑的"
您好，我使用labelme进行标注，然后使用labelme2seg.py生成数据集，但是生成的png文件打开之后是全黑的，看不到标注的物体，麻烦帮忙看看原因，谢谢。

下面附上labelme生成的json文件：
{
  "version": "3.16.7",
  "flags": {},
  "shapes": [
    {
      "label": "test",
      "line_color": null,
      "fill_color": null,
      "points": [
        [
          130.10619469026545,
          275.87610619469024
        ],
        [
          261.0796460176991,
          419.23893805

[2019-11-05 06:40] wuyefeilin commented on #81
@zhuyushi 生成的标注图像的数值是从0，1，2，...开始的。因此直接用图像浏览器打开，显示全黑的是正常的，你可以尝试读取标注数据，看看是否有包含这些标签值

[2019-11-05 08:57] zhuyushi commented on #81
再请教一下：
1、labelme2seg.py生成数据集中没有list文件（例如train.list、val.list等），这些list文件是必要的吗？如果是必要的，是否用工具可以生成这些文件，或者是否有工具生成完成的数据集。
2、png直接用图像浏览器打开看似全黑的问题，这个如何读取标注数据？我是使用labelme中直线类型标记的，想看看标记的效果。
谢谢

[2019-11-05 11:45] eddieheyutong opened #82 "请教各位一下，如果我想在预训练模型的基础之上再添加自己标注的类别，怎么自定义类别的掩膜颜色？"
如题，控制颜色的应该是vis.py文件，这个默认的是自动生成的调色板，如果想要改为自己的颜色的话应该具体修改vis.py中的哪个部分呢？希望有大佬帮忙答疑解惑一下感激不尽。

[2019-11-05 13:36] wuyefeilin commented on #81
1. 列表生成可参考文档https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/docs/data_prepare.md
2. 可以使用opencv读取哈，利用cv2.imread读取图像，np.unique查看数值，检查图像的标签类别。你也可以通过乘以一个系数增大数值再保存图像，这样就可以清晰看清标注图像了。

[2019-11-05 13:42] wuyefeilin commented on #82
可以修改vis.py中的 get_color_map(num_classes)函数，将返回的color_map替换成你自己想要的颜色就行了

[2019-11-06 03:07] zhuyushi commented on #81
多谢解惑，谢谢

[2019-11-06 03:07] #81 closed

[2019-11-10 13:47] lakebodhi opened #84 "报错 “PaddleCheckError: cudaGetDeviceProperties failed in paddle...”"
按照 [https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/docs/usage.md](url) 提供的示例训练模型执行
`set  CUDA_VISIBLE_DEVICES=0`

`python pdseg/train.py --use_gpu \
                      --do_eval \
                      --use_tb \
                      --tb_log_dir train_log \
                      --cfg configs/unet_pet.yaml \
                      BATCH_SIZE 4 \
                      TRAIN.PRETR

[2019-11-10 13:54] ZeyuChen commented on #84
目前windows下对cuda10.1小版本还在适配中，请降级cuda版本至10.0后再试。

[2019-11-11 01:00] lakebodhi opened #85 "报错“ValueError: invalid literal for int() with base 10: './saved_model/unet_pet/10”"
根据[https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/docs/usage.md](url)的示例操作，执行
`python pdseg/train.py
                      --do_eval \
                      --use_tb \
                      --tb_log_dir train_log \
                      --cfg configs/unet_pet.yaml \
                      BATCH_SIZE 4 \
                      TRAIN.PRETRAINED_MODEL_DIR pretrained_model/unet_bn_coco \

[2019-11-11 11:32] lakebodhi commented on #84
@ZeyuChen 解决了。谢谢！

[2019-11-11 11:57] wuyefeilin commented on #85
@lakebodhi 看样子是你的模型路径”./saved_model/unet_pet/10“与系统的路径分割符不同导致的问题，把路径的分割符改成windows的就可以了

[2019-11-11 12:41] littletomatodonkey opened #87 "imagenet resnet50预训练使用的具体细节"
我看PSPNet中使用r50作为pretrain，但是预处理似乎与imagenet的不相同（从configs中的配置文件看mean和std，与标准paddle imagenet的预处理不同），想问下这个对指标会有多大影响呢？
![image](https://user-images.githubusercontent.com/14270174/68587980-5b975680-04c3-11ea-9fcc-90e1fbecf663.png)

[2019-11-11 12:44] sandyhouse commented on #87
不是很确定，可能需要具体测一下。

[2019-11-11 12:50] littletomatodonkey commented on #87
好的，就是说官网提供的训练结果都是在这个默认的mean和std下去运行的？没有和分类严格对齐？

[2019-11-11 12:54] nepeplwu commented on #85
@lakebodhi 感谢反馈，该问题已经修复，使用最新代码试试看

[2019-11-11 13:22] nepeplwu commented on #87
@littletomatodonkey ，是的，PaddleSeg里面的分割模型在训练时用的mean和std都是[0.5, 0.5, 0.5]

[2019-11-13 06:40] exploreearth opened #89 "部署预测时有python版本的吗？"
请问有python语言的部署预测代码吗？

[2019-11-13 06:44] joey12300 commented on #89
你好，当前版本还没有发布python版本的预测部署。不过以后将会上线python版本的预测部署，请继续关注PaddleSeg的最新进展：）

[2019-11-14 08:54] exploreearth opened #90 "使用PaddleSeg训练并导出的unet语义分割模型该怎样部署到AIStudio上？"
怎样将paddleseg导出的模型部署到AIStudio上？求好心的大佬指点
第一步：添加模型；
第二步：设置参数：一个参数是图片网址，在处理时先下载图片再读取输入到exe中，输出为字符串
第三步：
输入处理的函数
[code]
输出处理的函数：
[code]
第四步输入名称保存

最后测试

    "image": "https://sino-resource.oss-cn-beijing.aliyuncs.com/rs-tiff/GF1_49_1.png",
    "datatype": "rgb"
}

报错：
[code]

[2019-11-15 17:58] zhuyushi opened #92 "“EVAL_CROP_SIZE”和“AUG.FIX_RESIZE_SIZE”"
您好，请教一下，PaddleSeg的配置文件中，“EVAL_CROP_SIZE”和“AUG.FIX_RESIZE_SIZE”之间是什么关系，如果都配置了，是先进行corp然后在resize吗？如果我不想做任何裁剪，只想做resize应该如何配置呢？谢谢

TRAIN_CROP_SIZE: (512, 512) # (width, height), for unpadding rangescaling and stepscaling
EVAL_CROP_SIZE: (512, 512) # (width, height), for unpadding rangescaling and stepscaling
AUG:
    AUG_METHOD: "unpadding" # choice unpadding rangescaling and stepscaling
    FIX_RESI

[2019-11-15 18:15] zhuyushi opened #93 "关于基于UNet的工业标记表盘分割模型的问题"
您好，PaddleSeg最新发布了一个基于UNet的工业标记表盘分割的模型，我下载了训练样本图片，看到图片的尺寸是不一致的，又看到模型的配置文件unet_mechanical_meter.yaml中有下面这条配置：
TRAIN_CROP_SIZE: (769, 769) # (width, height), for unpadding rangescaling and stepscaling
那么是否意味着，在训练之前会将图片裁剪为769*769的尺寸呢？很多训练原图已经达到了2048*1536，如果随机裁剪为769*769，那岂不是很可能裁剪的目标都没有了，还如何保证训练效果呢。还请释疑，非常感谢。

[2019-11-16 02:41] chliang opened #94 "训练结束后自动导出IOU指标最好的模型"
自动导出IOU指标最好的模型，而不是导出 `final`

[2019-11-17 16:25] #84 closed

[2019-11-17 16:26] #55 closed

[2019-11-18 02:12] LielinJiang commented on #93
您好！随机裁剪是一种图像分割中非常常见的数据增广方式。它的具体做法是，先对图像在某一范围内(0.5-2.0)进行缩放。然后再对缩放的图像进行裁剪，尺寸不足的时候会先padding再裁剪。有的时候裁剪的确会造成某个类别缺失。但是由于图像上每个像素点都是有标注类别的，并不存在缺失目标的情况。相反这样的做法能够增加算法的鲁棒性。

[2019-11-18 02:33] zhuyushi commented on #92
上面问题描述有误，是想知道训练时TRAIN_CROP_SIZE和AUG.FIX_RESIZE_SIZE的关系，不是EVAL_CROP_SIZE和AUG.FIX_RESIZE_SIZE的关系，谢谢

[2019-11-18 03:22] LutaoChu commented on #92
您好，首先AUG.FIX_RESIZE_SIZE只在AUG_METHOD指定为unpadding模式下生效。此时，预处理过程会将图像resize到AUG.FIX_RESIZE_SIZE大小，随后再进行其他数据增强。

TRAIN_CROP_SIZE在AUG.FIX_RESIZE_SIZE的操作之后，对于数据增强后的图像以TRAIN_CROP_SIZE大小进行随机裁剪。最后输入网络的训练图像大小为TRAIN_CROP_SIZE。

具体数据增强过程请见：
https://github.com/LutaoChu/PaddleSeg/blob/release/v0.2.0/docs/data_aug.md

[2019-11-18 03:28] LutaoChu commented on #94
您好，此功能正在开发中，敬请期待！

[2019-11-18 03:45] zhuyushi commented on #92
文档已经看了，刚开始做语意分割，请想教些初级问题，烦请指教：
1、语意分割的模型，是否要求输入网络的图片是固定尺寸？
2、如果不想进行裁剪，是不是将TRAIN_CROP_SIZE配置从配置文件中删掉即可？
3、如果配置了TRAIN_CROP_SIZE，预处理时，除了将随机裁剪后的图片输入网络训练之外，是否还会降裁剪之前的图片送入网络训练？

[2019-11-18 03:59] LutaoChu commented on #92
1、原始图片尺寸不要求固定，对于不同尺寸的训练图片，PaddleSeg会自动进行预处理保证输入到网络的图片是固定尺寸的。
2、TRAIN_CROP_SIZE是必填项，删除会导致错误。如果不想裁剪，并且训练集尺寸是一样的，可以设置TRAIN_CROP_SIZE为原图大小，AUG_METHOD指定为unpadding，这样就会跳过裁剪过程。
3、不会。只会将预处理后的图片输入到网络中。

[2019-11-18 07:36] zhuyushi commented on #92
1、原始图片尺寸不要求固定，对于不同尺寸的训练图片，PaddleSeg会自动进行预处理保证输入到网络的图片是固定尺寸的。
-----输入到网络的图片固定尺寸的值，是可以通过TRAIN_CROP_SIZE来配置的吗？还是模型已经固定了一个值，我们不能进行配置。

还有个问题，关于AUG中下面三个参数的问题
    INF_RESIZE_VALUE: 500  # for rangescaling
    MAX_RESIZE_VALUE: 600  # for rangescaling
    MIN_RESIZE_VALUE: 400  # for rangescaling
我看了相关的文档，有个疑问，图片的长边固定为INF_RESIZE_VALUE，短边按比例缩放，这时图片尺寸已经确定下来，那MAX_RESIZE_VALUE和MIN_RESIZE_VALUE这两个值有什么作用呢？谢谢

[2019-11-18 08:29] sjtubinlong commented on #90
@exploreearth 我们稍后会调研下PaddleSeg模型在AI Studio线上预测部署，并提供相关教程和文档，请关注。

[2019-11-18 08:46] exploreearth commented on #90
十分感谢，十分期待

[2019-11-18 09:37] zhaotun commented on #68
@LutaoChu 我利用精灵标注工具进行标注，并按照教程使用 jingling2seg.py 转换后，生成的PNG标注图片为啥是全黑的啊？是打开的方式不对吗？要怎样才能看到内容？这些图片是可以正常训练的。还有就是运行训练好的模型将对图片 L1.jpeg 进行检测 ，将在同目录下生成 L1_jpeg.png、L1_jpeg_recover.png、L1_jpeg_scoremap.png 三张图片，这三张图片里只有L1_jpeg_recover.png 与原图大小相同，这个可以直接当成原图的标注图片，从而参与训练吗？如果不是，那怎样才能通过模型生成可用于训练的标注图片，谢谢！

[2019-11-18 13:26] LutaoChu commented on #68
你好，全黑是正常的。因为标注图片像素是0，1，2，3... 像素值很小，所以都是黑色的。若要彩色显示，需要写一个脚本，可参考pdseg/vis.py
我们正在开发彩色标注的功能，可直接以彩色图片显示，敬请期待！

关于L1.jpeg，L1_jpeg.png和L1_jpeg_scoremap.png 是经过resize的，L1_jpeg_recover.png是原图大小。你可以将 L1_jpeg.png  用最近邻插值resize回原图大小，就可以参与训练了。

[2019-11-18 13:41] LutaoChu commented on #92
是的，就是通过TRAIN_CROP_SIZE进行设置的。

MAX_RESIZE_VALUE和 MIN_RESIZE_VALUE是在训练阶段生效，每张图片的长边在MIN_RESIZE_VALUE到MAX_RESIZE_VALUE之间随机均匀取值。
INF_RESIZE_VALUE则在其他阶段生效，图片的长边固定为INF_RESIZE_VALUE

[2019-11-19 01:07] zhaotun commented on #68
@LutaoChu 非常感谢您的及时回复，我遍历了下像素值，发现确实是这样的，另外还想问一下就是，paddleseg 训练出来的分割模型还有没有什么加速的办法，谢谢！

[2019-11-19 02:29] LutaoChu commented on #68
你是想训练过程加速还是预测过程加速呢？
如果是训练加速，可以打开--use_mpio
『如果在Linux系统下训练，可以使用--use_mpio使用多进程I/O，通过提升数据增强的处理速度进而大幅度提升GPU利用率。』
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/docs/usage.md

如果是预测加速，可以使用c++预测库

[2019-11-19 03:27] zhaotun commented on #68
@LutaoChu  是预测加速，我用了C++预测库，但是还想提升一下速度，训练出来的分割模型可以用 paddle slim 量化或加速 吗？

[2019-11-19 03:41] zhaotun opened #96 "windows平台使用GPU版本预测库编译出错"
按照[Windows平台使用 Visual Studio 2015 编译指南](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/inference/docs/windows_vs2015_build.md)使用GPU版本的预测库编译时发生以下错误
![image](https://user-images.githubusercontent.com/13940249/69114742-360cdd00-0ac1-11ea-96d9-a6656a29c5fd.png)
编译命令为：
[code]
使用的GPU版本库是从这里下载的：[安装与编译Windows预测库](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/in

[2019-11-19 08:13] zhuyushi commented on #92
非常感谢

[2019-11-19 08:13] #92 closed

[2019-11-19 09:42] slf12 commented on #68
分割模型可以使用paddle slim加速，可参考 paddleslim 量化分类模型 https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim/classification/quantization
量化检测模型 https://github.com/PaddlePaddle/PaddleDetection/tree/master/slim/quantization
以上两种是量化的高级api使用方法
量化的低级api使用方法可参考 https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim/quant_low_level_api

[2019-11-20 02:17] joey12300 commented on #96
@zhaotun 你好，-DCUDA_LIB后的路径有空格，所以请使用双引号包住路径。至于预测库，可以通过该链接下载1.6.1版本的预测库：https://bj.bcebos.com/paddlehub/paddle_inference_lib/fluid_inference_install_dir_win_cuda10_1.6.1.zip

[2019-11-20 05:55] zhaotun commented on #96
@joey12300 确实是的，加双引号包住后跑通了，GTX1050TI  4G  gpu 比 i5 cpu 速度快了10倍多，谢谢大佬！

[2019-11-21 01:17] beichen2012 commented on #71
嗯。我用一个loss去训练PSPNet（res18），好像很难训练，loss都不怎么降。

[2019-11-25 07:44] kongxm889 opened #99 "windows下使用GUP训练deeplabV3出现以下问题怎么解决"
Error Message Summary:
----------------------
PaddleCheckError: holder_ should not be null
Tensor holds no memory. Call Tensor::mutable_data first. at [D:\1.6.1\paddle\paddle\fluid\framework\tensor.cc:23]
  [operator < softmax_with_cross_entropy > error]

[2019-11-25 07:46] #99 closed

[2019-11-25 07:47] kongxm889 opened #100 "windows下使用GPU训练deeplabV3出现以下问题怎么解决"
报错信息：
----------------------
Error Message Summary:
----------------------
PaddleCheckError: holder_ should not be null
Tensor holds no memory. Call Tensor::mutable_data first. at [D:\1.6.1\paddle\paddle\fluid\framework\tensor.cc:23]
  [operator < softmax_with_cross_entropy > error]
forrtl: error (200): program aborting due to control-C event

[2019-11-25 11:03] kongxm889 commented on #100
根据这个也没有解决问题 https://www.jianshu.com/p/bb823f5a935a

[2019-11-25 15:52] ZeyuChen commented on #100
是否能提供更多机器环境、运行脚本和配置等信息给到我们进行调试？

[2019-11-25 15:54] ZeyuChen commented on #96
问题已解决，如果还有其他问题可以随时Reopen issues咨询，谢谢。

[2019-11-25 15:54] #96 closed

[2019-11-26 01:27] kongxm889 commented on #100
执行PaddlePaddle/PaddleSeg/paseg/train.py出现的。使用的是V0.2.0版本的。方便的话给个QQ号，方便给脚本及配置信息等

[2019-11-26 01:44] ZeyuChen commented on #100
QQ：85559911 也欢迎加入我们的用户群796771754

[2019-11-29 09:19] universea opened #106 "为什么crop的size长和宽都是一样的"
如上问题，我的训练图片是3384x1710，TRAIN_CROP_SIZE和EVAL_CROP_SIZE，应该设为多少呢，为什么不按照比例来设置这个CROP的size而用个正方形呢？

[2019-11-30 14:32] universea opened #107 "eval bug ?"
4 gpu train

however when eval :

![Screenshot from 2019-11-30 22-29-57](https://user-images.githubusercontent.com/13444641/69901772-feefd300-13c0-11ea-9305-3071d0017109.png)

each gpu repeat eval

[2019-12-02 02:31] LutaoChu commented on #106
您好，TRAIN_CROP_SIZE和EVAL_CROP_SIZE的设置不一定要求正方形，如果显存足够您可以设置为3384x1710。

实际上，TRAIN_CROP_SIZE是可以任意设置的，EVAL_CROP_SIZE按照以下条件即可：
当AUG.AUG_METHOD为unpadding时，EVAL_CROP_SIZE的宽高应不小于AUG.FIX_RESIZE_SIZE的宽高。
当AUG.AUG_METHOD为stepscaling时，EVAL_CROP_SIZE的宽高应不小于原图中最大的宽高。
当AUG.AUG_METHOD为rangscaling时，EVAL_CROP_SIZE的宽高应不小于缩放后图像中最大的宽高。

[2019-12-02 02:46] universea commented on #106
好的，太谢谢啦！

[2019-12-02 02:47] universea commented on #106
好的，太感谢啦！

[2019-12-02 03:53] LutaoChu commented on #107
Hello, please update to the latest code to try it out and check if you have modified the training script. If it still does not work, please provide your operating environment, training configuration and PaddlSeg version.

[2019-12-09 06:41] xyry opened #111 "What does the parameter "TEST.TEST_MODEL" mean?"
I see this parameter in 3 places, but I didn't find a description of this parameter.
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/docs/usage.md 模型评估以及模型可视化下有两处
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/docs/model_export.md 使用示例有一处

[2019-12-09 11:33] nepeplwu commented on #111
TEST.TEST_MODEL用于指定测试模型的路径，在进行评估(eval.py)和可视化(vis.py)中会用到

[2019-12-10 08:05] xyry opened #112 "在Linux 平台编译指南第四步Step4: 编译报错"
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.2.0/inference/docs/linux_build.md
在进行到make的时候报错
[100%] Linking CXX executable demo
CMakeFiles/demo.dir/demo.cpp.o: In function `__static_initialization_and_destruction_0(int, int)':
demo.cpp:(.text+0x391): undefined reference to `google::FlagRegisterer::FlagRegisterer<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<c

[2019-12-10 09:25] joey12300 commented on #112
可以按照Linux编译指南使用G++ 4.8.2 ~ 4.9.4版本的编译器重新编译。如果你使用的是ubuntu，可以参考以下方式更改gcc、g++版本。
[code]

[2019-12-10 11:53] xyry commented on #111
非常感谢

[2019-12-10 11:53] #111 closed, assigned to nepeplwu

[2019-12-10 11:55] xyry commented on #112
非常感谢，修改gcc&g++版本后，编译成功

[2019-12-10 11:55] #112 closed, assigned to nobody

[2019-12-10 11:59] xyry opened #114 "预测的时候报错"
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.2.0/inference#3%E7%BC%96%E8%AF%91
中4.3执行预测报错
下面是报错日志
./demo --conf=/home/zhiyu/Desktop/projects/PaddleSeg/inference/conf/humanseg
.yaml --input_dir=/home/zhiyu/Desktop/projects/PaddleSeg/inference/images/humanseg/
WARNING: Logging before InitGoogleLogging() is written to STDERR
W1210 19:44:22.353368 32558 device_context.cc:235] Please NOTE:

[2019-12-12 03:52] joey12300 commented on #114
你下载的预测库版本是CUDA多少的

[2019-12-12 07:09] xyry commented on #114
我后来把CUDA版本换成10.0，预测库版本也是换成了CUDA 10.0版本
但是在预测的时候还是有报错
# 报错信息如下
./demo --conf=/home/zhiyu/Desktop/projects/PaddleSeg/inference/conf/humanse
g.yaml --input_dir=/home/zhiyu/Desktop/projects/PaddleSeg/inference/images/humanseg/
WARNING: Logging before InitGoogleLogging() is written to STDERR
W1212 14:53:59.063854 28880 device_context.cc:235] Please NOTE: device: 0, CUDA Capability: 75, Driver API Versi

[2019-12-14 14:20] Squirrel1996 opened #122 "changed"

[2019-12-16 02:42] LutaoChu commented on #122
你好，你说的是标注图非png是吗？你的是什么格式呢？
PaddleSeg的源代码都是开源的，读取图片的代码请见pdseg/reader.py

[2019-12-17 02:33] Squirrel1996 commented on #122
dat

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: LutaoChu <notifications@github.com&gt;
发送时间: 2019年12月16日 10:42
收件人: PaddlePaddle/PaddleSeg <PaddleSeg@noreply.github.com&gt;
抄送: Squirrel1996 <1151524322@qq.com&gt;, Author <author@noreply.github.com&gt;
主题: 回复：[PaddlePaddle/PaddleSeg] 您好，用非png格式的比如像遥感数据，通过改数据和模型接口来跑模型是可行的吗？ (#122)

你好，你说的是标注图非png是吗？你的是什么格式呢？
 PaddleSeg的源代码都是开源的，读取图片

[2019-12-17 08:02] xyry commented on #114
有人能帮忙看下嘛，卡在这里了

[2019-12-17 08:27] sjtubinlong commented on #114
@xyry 请问你使用的是哪一个分支的代码，develop 分支导出的模型使用之前的代码会有问题，下载一下最新的代码试试

[2019-12-17 08:37] xyry commented on #114
我使用这个网页下的https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.3.0/deploy/cpp/docs/linux_build.md
Step 1  git clone https://github.com/PaddlePaddle/PaddleSeg.git 这个指令，好的，我试试新的

[2019-12-24 03:04] FUQiaobo opened #128 "没有cityscape的yaml文件吗？"

[2019-12-24 12:08] LutaoChu commented on #128
请问你是想要用来做什么呢？看看我是否有。

[2019-12-26 06:38] wuyefeilin opened #133 "评估时模型路径不存在直接报load op的错"

[2019-12-26 08:22] lytk01 opened #135 "语义分割样本均衡的问题"
你好，之前听快车道PaddleSeg的分享，讲到有样本均衡，这一块在PaddleSeg项目里有体现吗，或者具体是怎么做的呢

[2019-12-26 08:32] LutaoChu commented on #135
你好，PaddleSeg的高级教程中有相关的文档 https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.3.0/docs/loss_select.md

[2019-12-26 09:05] lytk01 commented on #135
@LutaoChu 有没有关于多分类之间的样本均衡文档呢

[2019-12-26 09:10] LutaoChu commented on #135
暂时没有，我们后续即将推出equibatch和lovasz loss来解决样本不均衡问题，敬请期待

[2019-12-26 12:41] #133 closed, assigned to nobody

[2019-12-29 07:56] Anikily opened #138 "预训练权重有ResNet的吗？"

[2019-12-30 07:28] wuyefeilin opened #139 "文件列表生成工具问题"
在使用pdseg/tools/create_dataset_list.py时，我的数据集中有个别图像没有对应的标注图像，能够正常生成训练列表，但出现标注图和原图对应不上的问题。
![image](https://user-images.githubusercontent.com/30919197/71572213-079b0c80-2b19-11ea-8d6e-c1556d09956c.png)

[2019-12-30 12:40] julianadobetter opened #140 "多类别分割的类不均衡问题处理_自定义loss function"
之前使用tensorflow 实现的自定义如下,可以使用,可以克服多类严重不均衡问题:
    def loss(self, logits, annotation):

        logits = tf.reshape(logits, (-1,num_of_classes))
        labels = tf.reshape(annotation, (-1,num_of_classes))
        cross_entropy = tf.nn.softmax_cross_entropy_with_logits(logits=logits, labels=labels)

        weights = [0.1]
        for jj in range(1,num_of_classes):
            labels_temp = labels[..

[2019-12-31 01:34] key-1994 opened #141 "训练报错"
电脑并没有GPU，将batch_size设置成2会报这个错误
AssertionError: BATCH_SIZE:2 not divisble by number of GPUs:4
求教？

[2019-12-31 03:04] siyangbing opened #142 "我使用工业表盘分割模型显卡是单块1080Ti显卡，推理速度只有两秒一张"
W1231 10:56:15.739400  3785 device_context.cc:235] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 10.1, Runtime API Version: 10.0
W1231 10:56:15.741755  3785 device_context.cc:243] device: 0, cuDNN Version: 7.3.
W1231 10:56:15.741771  3785 device_context.cc:269] WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.4, but CUDNN version in your machine is 7.3, which ma

[2019-12-31 03:56] LielinJiang commented on #142
请问你输入的图片大小是多大的？如果对速度有要求的话，建议缩小图片输入尺寸，或者用deeplab +mobilenet模型。后续我们会提供更快的模型。

[2019-12-31 04:14] siyangbing commented on #142
我使用的是960*720的jpg图片，我发现在进行推断时采用导出的模型速度反而变慢了（我使用自己的表盘数据集训练的）。在进行推断时代码显示已安装的Paddle是使用CUDNN 7.4编译的，但是您计算机上的CUDNN版本是7.3，这可能会导致严重的不兼容的错误。请使用兼容的CUDNN版本重新编译或重新安装Paddle。但是代码可以运行，结果也正常。这合理吗？

[2019-12-31 04:14] siyangbing commented on #142
我使用的是960 * 720的jpg图片，我发现在进行分解时采用转换的模型速度反而变慢了（我使用自己的表盘数据集训练的）。在进行时时代码显示已安装的Paddle是使用CUDNN 7.4编译的，但是您计算机上的CUDNN版本是7.3，这可能会导致严重的不兼容的错误。请使用兼容的CUDNN版本重新编译或重新安装Paddle。但是代码可以运行，结果也正常。这合理吗？@LielinJiang

[2019-12-31 04:22] ZeyuChen commented on #141
如果只有CPU，请不要使用大模型训练，推荐使用DeepLab-mobilenet模型，比较小。
另外请试试将BATCH_SIZE设置为4，这里读取到的是CPU和核数。

[2019-12-31 04:43] key-1994 commented on #141
好的，感谢！

[2019-12-31 04:49] wuyefeilin commented on #140
这个我也实现一下，有什么问题相互讨论

[2019-12-31 06:22] LielinJiang commented on #142
cudnn 那个版本不一致如果程序可以正常运行可以暂时忽略，后面inference library的warning在使用native executor的情况下也没什么问题。之前我们这边测试769x769的输入在k40上也需要600+ms。

[2019-12-31 07:42] siyangbing commented on #142
我改了输入图片尺寸，目前在1080ti上可以达到400ms,百度有计划提供可以在移动终端运行推理的图像分割教程吗。我想要在终端上运行推理程序@LielinJiang

[2019-12-31 07:45] LielinJiang commented on #142
暂时没有分割相关的终端教程，https://github.com/PaddlePaddle/Paddle-Lite-Demo ， 这里有分类和检测的推理教程，可以先参考一下。

[2019-12-31 09:15] siyangbing commented on #142
我想问一下百度为南方电网做的这个模型，最后推断的时候是部署在巡航小车上还是小车返回图像给服务器推断。是采用拍照，还是视频流检测。南方电网的读电表显示对延迟有没有要求。@LielinJiang

[2019-12-31 09:19] LielinJiang commented on #142
部署在小车上的，用的tx2的板子，应该是拍照把，这个不是太清楚，我们只是部署服务。当时的延迟是满足要求的把。

[2019-12-31 09:34] ZeyuChen commented on #142
@siyangbing 能否提供下您更多的企业信息和场景需求？或者加一下QQ 85559911我们沟通下相关需求？

[2019-12-31 11:46] #139 closed, assigned to nobody

[2020-01-07 03:43] jsxyhelu opened #145 "paddlepaddle是否支持qml?"
作为qt程序员，我想咨询一下paddlepaddle是否支持qml?
如果支持，有哪些资料？
如果不支持，有哪些建议？是否有这方面的考虑？
非常感谢！

[2020-01-07 04:47] ZeyuChen commented on #145
@jsxyhelu 能否提供下具体的使用场景，需要PaddleSeg在哪些场景进行视觉GUI的可配置化开发呢？

[2020-01-07 06:55] jsxyhelu commented on #145
是这样的，我们使用qml进行android类程序图像处理程序设计，语义分割是我们非常想集成的一个功能，但是由于之前工具链使用的都是QT，所以想了解游戏啊paddlepaddle对这个方面是否有相关支持？非常感谢！

[2020-01-10 12:45] #145 closed, assigned to nobody

[2020-01-10 12:46] jsxyhelu commented on #128
同样的需求，就是类似pet这个例子，但是能够验证cityscape数据集的yaml文件。

[2020-01-12 04:32] littletomatodonkey opened #150 "python2.7下infer.py问题"
exec是python内置函数，Python2.7下这样写好像会报错
https://github.com/PaddlePaddle/PaddleSeg/blob/297d9e5f924102c76b59c1e45c473b00951e79b0/deploy/python/infer.py#L150

[code]

[2020-01-13 03:03] sjtubinlong commented on #150
@littletomatodonkey
已经修复，感谢反馈
https://github.com/PaddlePaddle/PaddleSeg/commit/55e84caf683a4ff63ee06676d32d8606a7d3cfa7

[2020-01-13 03:04] #150 closed, assigned to sjtubinlong

[2020-01-13 03:31] LutaoChu commented on #128
你好，这是deeplabv3p  cityscape的yaml文件。后续我们将它补充到configs目录

[code]

[2020-01-13 11:30] PipgZ opened #153 "预测时报错"
----------------------
Error Message Summary:
----------------------
Error: ShapeError: broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 256, 256, 256] and the shape of Y = [1, 3]. Received [256] in X is not equal to [3] in Y
  [Hint: Expected y_dims[i] == 1, but received y_dims[i]:3 != 1:1.] at (D:\1.6.2\paddle\paddle/fluid/operators/elementwise/ele

[2020-01-14 02:38] zyz207 commented on #153
我也是一样的问题，感觉的模型导出的问题，用示范的模型预测就可以

[2020-01-14 03:59] PipgZ commented on #153
@LutaoChu  作者求救

[2020-01-14 05:11] LutaoChu commented on #153
请问你们是用vis.py预测还是导出模型后用infer.py预测呢？
提供一下复现的步骤吧

[2020-01-14 05:20] PipgZ commented on #153
我是导出模型后用的deploy/python/infer.py进行预测的，其余训练的步骤是根据 DeepLabv3+模型使用教程 来的，不过训练的时候为了测试，我只训练了四张图片，
下面是这个模型训练时的配置文件：

数据集配置
DATASET:
DATA_DIR: "./data/"
NUM_CLASSES: 2
TEST_FILE_LIST: "./data/validation.txt"
TRAIN_FILE_LIST: "./data/training.txt"
VAL_FILE_LIST: "./data/val_list.txt"
VIS_FILE_LIST: "./data/validation.txt"

预训练模型配置
MODEL:
MODEL_NAME: "deeplabv3p"
DEFAULT_NORM_TYPE: "bn"
DEEPLAB:
BACKBONE: "x

[2020-01-14 05:30] zyz207 commented on #153
我是用deeplabv3p_mobilenet-1-0_pet.yaml的配置训练optic_disc_seg，然后用export_model.py导出模型以后用infer.py进行预测，使用vis.py时没有问题
TRAIN_CROP_SIZE: (512, 512) # (width, height), for unpadding rangescaling and stepscaling
EVAL_CROP_SIZE: (512, 512) # (width, height), for unpadding rangescaling and stepscaling
AUG:
    AUG_METHOD: "unpadding" # choice unpadding rangescaling and stepscaling
    FIX_RESIZE_SIZE: (512, 512)

[2020-01-14 12:32] sjtubinlong commented on #153
@zyz207 @PipgZ hello，`deploy/python/infer.py` 预测的时候请设置参数 `--use_pr=1` 即可。

[2020-01-14 12:41] #153 closed, assigned to nobody

[2020-01-14 12:50] sjtubinlong commented on #89
@exploreearth Python 版本的预测部署已经发布，欢迎使用反馈 https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.3.0/deploy/python

[2020-01-16 10:47] #89 closed

[2020-01-16 11:27] ArtemiyFirsov commented on #85
Not fixed.
Getting the same error on Ubuntu 18.04 Docker installation.
Running docker with
`sudo docker run --gpus=all -it -v $(pwd)/DeepSpeech:/DeepSpeech hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu /bin/bash`

Updated the code to the latest develop branch.

Error happens on infer
`CUDA_VISIBLE_DEVICES=0 python infer.py --infer_manifest test_deep_speech.txt`

Manifest I am trying t

[2020-01-19 03:47] pele228 opened #155 "VS2015编译C++预测demo报错"
你好，严格按照Windows平台使用 Visual Studio 2015 编译指南的步骤，选择的是CUDA9和cudnn7生成sln工程，工程生成成功，但是编译生成的工程时报错LINK : fatal error LNK1104: 无法打开文件“E:\projects\fluid_inference_install_dir\paddle\lib\libpaddle_fluid.lib”
其他的lib都没问题。请问是什么原因？

[2020-01-19 06:16] pele228 commented on #155
都是按照文档步骤处理，CPU版本没有问题，GPU的有问题，Win10系统

[2020-01-19 06:46] OliverLPH commented on #155
这个问题可以先确认下cmake的时候，有没有加`-T host=x64`，指定使用64位的编译工具
[code]
因为libpaddle_fluid.lib这个文件有些大，visual studio 32位的编译工具编译的时候就是会报`无法打开文件`

[2020-01-19 09:37] pele228 commented on #155
@OliverLPH  你好，我将vs2015社区版升级为专业版了。然后重新编译，cmake 参数都是正确的。
之前的报错没有了，不过出现了
libpaddle_fluid.lib(zero_copy_tensor.obj) : error LNK2019: 无法解析的外部符号 cudaDeviceSynchronize，该符号在函数 "public: void __cdecl paddle::ZeroCopyTensor::copy_to_cpu<unsigned char>(unsigned char *)" (??$copy_to_cpu@E@ZeroCopyTensor@paddle@@QEAAXPEAE@Z) 中被引用
2>libpaddle_fluid.lib(profiler.obj) : error LNK2001: 无法解析的外部符号 cudaDeviceSynchron

[2020-01-19 10:41] OliverLPH commented on #155
@pele228
这个看起来感觉原因可能是
1. CUDA  lib路径不对，这个可以检查下往`-DCUDA_LIB`里面传的路径下面是不是有 cuda相关的库
2. CUDA lib的版本没对上，比如你下载的`预测库` 是 CUDA10版本的，但你依赖的lib却是CUDA 9
你可以检查下这两项是不是都是对的哈

[2020-01-19 11:39] ZeyuChen commented on #138
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.3.0/turtorial/finetune_pspnet.md
在这个文档的最后，有ResNet50和ResNet101的Backbone参数下载。以及整个PSPNet和cityscapes的ResNet Backbone.
https://paddleseg.bj.bcebos.com/resnet50_v2_pspnet.tgz
https://paddleseg.bj.bcebos.com/resnet101_v2_pspnet.tgz

[2020-01-20 02:09] pele228 commented on #155
原因找到了，需要将CUDA9的lib库路径再手动添加进工程，cmake自动生成的包含路径貌似不完整，可能是cmake的版本问题.  多谢解答！

[2020-01-20 02:09] #155 closed, assigned to OliverLPH

[2020-01-20 08:07] gxcLe opened #156 "运行demo报错"
测试 python pdseg/train.py --cfg configs/unet_optic.yaml --use_gpu 报错。

I0120 16:05:08.668180 43087 parallel_executor.cc:421] The number of CUDAPlace, which is used in ParallelExecutor, is 1. And the Program will be copied 1 copies
I0120 16:05:08.684178 43087 build_strategy.cc:363] SeqOnlyAllReduceOps:0, num_trainers:1
I0120 16:05:08.699754 43087 parallel_executor.cc:285] Inplace strategy is enabled

[2020-01-20 08:22] ZeyuChen commented on #156
能否提供Paddle的版本号和PaddleSeg的代码版本？
以及您的操作系统和硬件，GPU卡、CUDA和CUDNN版本信息

[2020-01-20 09:28] gxcLe commented on #156
感谢您的快速回复，刚才查了一下是cudnn版本的问题，已经解决，thx！

[2020-01-20 09:38] #156 closed, assigned to ZeyuChen

[2020-01-20 12:49] linhandev commented on #122
感觉可以添加一个对于npy格式的读取，在做CT的分割，用框架做网络和训练很方便，但是hu值范围比较大255效果不好

[2020-01-20 12:58] ZeyuChen commented on #122
@davidlinhl 可否提供一下更多关于npy介绍或者数据样本，我们可以提供相应的技术支持共同完善PaddleSeg在医疗领域的分割。

[2020-01-20 13:14] linhandev commented on #122
@ZeyuChen 之前都是tensorflow最近才转到paddle，熟悉一段时间总结一下

[2020-01-21 19:23] HOLLIZHAO commented on #122
遥感数据影像识别分割后最终也要形成矢量图吧，要不实际意义也不大。

[2020-01-25 13:51] sonic-github opened #157 "这段是什么环境下的代码，在cmd的窗口里执行不了？"
paddle seg快速入门中提到如下代码,这段是什么环境下的代码，在cmd的窗口里执行不了？

# 指定GPU卡号（以0号卡为例）
export CUDA_VISIBLE_DEVICES=0
# 训练
python pdseg/train.py --cfg configs/unet_optic.yaml \
                      --use_gpu \
                      --do_eval \
                      --use_tb \
                      --tb_log_dir train_log \
                      BATCH_SIZE 4 \
                      SOLVER.LR 0.001

[2020-01-25 15:03] ZeyuChen commented on #157
请问您是不是Windows操作系统，如果是而且没有多GPU环境，默认不需要
`export CUDA_VISIBLE_DEVICES=0`

[2020-02-06 09:08] bindulam commented on #80
I am getting a similar error, How did you resolve it?

[2020-02-06 09:14] bindulam opened #159 "CUDNN_STATUS_EXECUTION_FAILED error"
Got this Error when Running sh run_train.sh

Error Message Summary:
----------------------
Error: CUDNN_STATUS_EXECUTION_FAILED at (/paddle/paddle/fluid/operators/conv_cudnn_op.cu:288)
  [operator < conv2d > error]

![image](https://user-images.githubusercontent.com/48243646/73922286-e505cb80-48ee-11ea-8981-0b09714e7262.png)
![image](https://user-images.githubusercontent.com/48243646/73922309-f0f1

[2020-02-12 06:18] jsxyhelu commented on #128
非常感谢！虽然我的回复晚了。

[2020-02-14 03:21] doubridge opened #164 "lebelme转换真值文件时出错？"
Traceback (most recent call last):
  File ".\pdseg\tools\labelme2seg.py", line 94, in <module>
    main(args)
  File ".\pdseg\tools\labelme2seg.py", line 81, in main
    if lbl.min() >= 0 and lbl.max() <= 255:
AttributeError: 'tuple' object has no attribute 'min'

[2020-02-14 08:03] doubridge commented on #164
labelme的版本不对，已经解决。

[2020-02-14 08:03] #164 closed, assigned to nobody

[2020-02-14 17:38] ZeyuChen commented on #159
Please check whether cuDNN is installed correctly.
Could you advise your Paddle version and CUDA environment?

[2020-02-18 07:45] bindulam commented on #159
![image](https://user-images.githubusercontent.com/48243646/74714461-98a47f00-5250-11ea-879d-65a7a241b3d0.png)
![image](https://user-images.githubusercontent.com/48243646/74714513-afe36c80-5250-11ea-92fe-c09d059f8414.png)

[2020-02-24 02:19] liuhaha666 commented on #80
您好。麻烦能贴图说明下怎么解决的么。以及所使用的cuda和cudnn版本。谢谢。

[2020-02-25 06:49] GT-ZhangAcer opened #166 "文档中链接失效"
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.3.0/turtorial/finetune_deeplabv3plus.md
![图片](https://user-images.githubusercontent.com/46156734/75221955-f94a3380-57dd-11ea-846d-4b78035b333f.png)
#
该文档下的“在线体验”链接失效，不知道是不是需要替换成下面的链接
https://aistudio.baidu.com/aistudio/projectdetail/226703

[2020-02-26 03:09] LutaoChu commented on #166
是的，我们已经更新了上面的链接，谢谢反馈

[2020-02-26 03:30] #166 closed, assigned to nobody

[2020-02-27 07:50] jaffe-fly opened #171 "在自己定义的数据集上训练后 test的输出结果图片是全黑（没有检测到目标）"
这是什么原因造成的，并且配置文件是按照官网的配置训练了100epoch，可以看到损失降低了。
另外 在val的时候 输出也看不懂
![TIM图片20200227154712](https://user-images.githubusercontent.com/49515380/75422891-85905e00-5978-11ea-83bd-b63a2ae02ce2.png)

[2020-02-27 09:02] wuyefeilin commented on #171
麻烦你给一下你的训练数据的信息和训练日志开头关于配置的信息

[2020-02-27 09:25] jaffe-fly commented on #171
########################## 基本配置 ###########################################
# 训练时图像裁剪尺寸（宽，高）
TRAIN_CROP_SIZE: (512, 512) # (width, height), for unpadding rangescaling and stepscaling
EVAL_CROP_SIZE: (1997, 1024) # (width, height), for unpadding rangescaling and stepscaling
BATCH_SIZE: 4
########################### 数据增强配置 ######################################
AUG:
    # 图像resize的方式有三种：
    # unpad

[2020-02-27 09:39] wuyefeilin commented on #171
![image](https://user-images.githubusercontent.com/30919197/75431442-d2c7fc00-5987-11ea-8905-61a340b621f0.png)
这边的1出现的很奇怪，你确定数据集的标注没有问题？你数据集的标签是什么？

[2020-02-27 10:09] ARQlalala opened #172 "export_model报错"
错误为，是越界了吗，还是什么原因呐，感谢给看看
  File "./pdseg/export_model.py", line 128, in <module>
    main()
  File "./pdseg/export_model.py", line 124, in main
    export_inference_model(args)
  File "./pdseg/export_model.py", line 88, in export_inference_model
    infer_prog, startup_prog, phase=ModelPhase.PREDICT)
  File "/data1/anrongqiao/api/paddlepaddle/models/PaddleCV/PaddleSeg/pdseg/models/model_builder.py"

[2020-02-27 11:12] ARQlalala commented on #172
解决了，是paddle版本

[2020-02-27 11:12] #172 closed, assigned to nobody

[2020-02-27 11:18] jaffe-fly commented on #171
![fire000](https://user-images.githubusercontent.com/49515380/75439984-d19dcb80-5995-11ea-84f0-79d3a11faaef.png)
![fire000_gt](https://user-images.githubusercontent.com/49515380/75440011-debaba80-5995-11ea-9c4d-4950498c3df9.png)

训练集标签和图片是这样子的 网上直接下载的  没看出什么问题

[2020-02-28 02:17] wuyefeilin commented on #171
你这边的标签只有两类，看你的标注图应该分别对应着0和255，你把255的值改成1就可以了，让两个类别的标签分别对应0和1。在PaddleSeg里，255对应的是被忽略的像素。

[2020-02-28 07:07] jaffe-fly commented on #171
IGNORE_INDEX: 1   是改这个吗？  改动之后是否需要重新训练？

[2020-02-28 15:28] HOLLIZHAO commented on #171
这个是你的标注图不对导致的。PaddleSeg采用单通道的标注图片，每一种像素值代表一种类别，像素标注类别需要从0开始递增，例如0，1，2，3表示有4种类别。你把图转成ndarray看下就知道了，你的这个火的标注在ndarray里面的值肯定是255了，把它改成1就可以了。但是图片就变成一片黑了，不过这正好说明标注图已经正确了。[PaddleSeg 数据准备](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/docs/data_prepare.md)

[2020-02-28 15:46] HOLLIZHAO commented on #94
Save best model ... mIoU = 0.7354， 这个在 2020.02.25 v0.4.0 已经实现！👍👍👍

[2020-02-28 15:53] ZeyuChen commented on #171
@HOLLIZHAO 感谢这位同学的解答，你说的是对的。@jaffe-fly 可以参考下Holli同学的解答。

[2020-02-29 06:23] linhandev commented on #122
@ZeyuChen 最近在肝脏上用了一下，感觉主要的问题就是pdseg只能做2d的图像处理，医学影像都是3d的。如果把ct都导成2d的图像分割效果也不错，但是想利用3d的信息paddleseg是肯定做不了。

[2020-02-29 08:27] #171 closed, assigned to ZeyuChen

[2020-02-29 08:32] HOLLIZHAO commented on #122
飞桨28日资讯：[【抗击肺炎】基于CT影像的肺炎筛查及病情预评估系统](https://www.paddlepaddle.org.cn/hub/scene/pneumonia)，这个是基于PaddleSeg的吧。

[2020-02-29 12:48] jaffe-fly opened #174 "Out of memory error on GPU 0. Cannot allocate 15.213047GB memory on GPU 0, available memory is only 471.687500MB."
![image](https://user-images.githubusercontent.com/49515380/75607656-64746c80-5b34-11ea-9fdc-d5c7cd7d8294.png)
![image](https://user-images.githubusercontent.com/49515380/75607664-78b86980-5b34-11ea-8111-ebea83e80a18.png)
在aistudio的GPU上推理一张图片 都 这个问题是什么原因，图片大小如下
![image](https://user-images.githubusercontent.com/49515380/75607697-d9e03d00-5b34-11ea-86a1-3505b2b9479c.png)

[2020-03-01 01:11] linhandev commented on #122
报道里面写的是，但是就算是基于pdseg的也是改动了不少，如果是上的3d unet网络结构也需要改。

[2020-03-02 01:57] LutaoChu commented on #174
可以在命令行输入`export FLAGS_fraction_of_gpu_memory_to_use=0.99`试试
另外检查一下是不是有其他程序也占用了gpu显存

[2020-03-02 06:57] LielinJiang commented on #122
是的，目前还没有上3d的分割网络

[2020-03-03 07:01] wujieqi01 opened #175 "DeepLabv3+模型使用教程——训练问题"
DeepLabv3+模型使用教程中，一直到python pdseg/train.py --use_gpu --cfg ./configs/deeplabv3p_xception65_optic.yaml运行后，终端一直连续出现'NoneType' object has no attribute 'run'。
centos6.5 版本1.7.0post97

[2020-03-04 01:46] y-kl8 opened #176 "关于量化的问题"
ICNet,Fast-SCNN网络支持量化吗

[2020-03-05 02:00] LielinJiang commented on #175
您好，我使用最新的release/v0.4.0分支，paddle版本1.7.0没能够复现您的问题。您是否用的是上述环境？如果不是，建议更新一下

[2020-03-05 13:31] #176 closed, assigned to nobody

[2020-03-05 13:33] y-kl8 opened #177 "使用inf跑deeplabv3+mobilnetv2报错"
使用量化后的deeplabv3+mobilnetv2_cityscapes模型，出现如下报错：

Traceback (most recent call last):
  File "infer.py", line 321, in <module>
    run(gflags.FLAGS.conf, gflags.FLAGS.input_dir, gflags.FLAGS.ext)
  File "infer.py", line 303, in run
    seg_predictor.predict(imgs)
  File "infer.py", line 278, in predict
    self.output_result(img_datas, output_data, gflags.FLAGS.use_pr)
  File "infer.py", line 228, i

[2020-03-06 07:31] zhuyushi opened #178 "关于PaddleSeg量化的问题"
请教一下，https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/slim/quantization/README.md
这个里面介绍的是“量化训练”还是“训练后量化”？如果是“量化训练”，PaddleSeg是否可以提供一下“训练后量化（离线量化）”的例子，谢谢。

[2020-03-06 07:39] slf12 commented on #177
麻烦说下使用的分支和评估文件的路径

[2020-03-06 10:08] hp-cuiwb opened #179 "mobilenetvadeeplabv3+"

[2020-03-06 10:09] #179 closed, assigned to nobody

[2020-03-06 10:10] hp-cuiwb opened #180 "mobilenetv2+ deeplabv3+训练正常，测试时报错"
python3 pdseg/eval.py --use_gpu --cfg ./configs/deeplabv3p_mobilenetv2_wx.yaml
{'AUG': {'AUG_METHOD': 'stepscaling',
         'FIX_RESIZE_SIZE': (2048, 1024),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR':

[2020-03-06 12:24] slf12 commented on #178
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_post 这里有分类的demo，因为对于所有模型，离线量化流程都是一样的，所以没有分割的示例

[2020-03-07 05:57] jaffe-fly commented on #174
已经设置成099了 并且没有其他程序占用GPU  程序运行起来之后，检测到的显卡占用
![image](https://user-images.githubusercontent.com/49515380/76137765-82cdf100-607b-11ea-98b9-5c5993a9dd60.png)
就yi'zh一张图片，图片也不大 怎么就这么耗显存，这样训练出来部署也不实际

[2020-03-07 07:19] ZeyuChen commented on #180
看着错误似乎是测试数据集中的类别数，超出了训练集设置的数量。
请校验下测试集和数据集的类别数是否匹配。

[2020-03-07 07:23] ZeyuChen commented on #174
@jaffe-fly 能提供你使用的模型结构吗？这么小的图片V100应该是可以预测的。

[2020-03-07 07:25] ZeyuChen commented on #140
@wuyefeilin 关于weighted softmax是否有进展更新？

[2020-03-07 07:59] jaffe-fly commented on #174
模型是
![image](https://user-images.githubusercontent.com/49515380/76139612-aa798500-608c-11ea-9ae1-dc61b8f61df2.png)

[2020-03-07 08:01] jaffe-fly opened #181 "训练时epoch显示不完全的问题"
epoch=1 epoch=4  epoch=7 这些 训练的数据没有输出
![image](https://user-images.githubusercontent.com/49515380/76139634-ef9db700-608c-11ea-95d2-8bd5c8bb38c5.png)

[2020-03-07 09:10] ShaoCorn commented on #177
使用deploy/python/infer.py，并使用该页面提供的模型时，使用cpu推理可有正常结果，使用GPU时报错。

![err01](https://user-images.githubusercontent.com/38242997/76140460-8ec6ac80-6095-11ea-81bd-8f6222b86dd2.jpg)
![err02](https://user-images.githubusercontent.com/38242997/76140463-9a19d800-6095-11ea-896b-fdcbfaaa368b.png)

![err03](https://user-images.githubusercontent.com/38242997/76140535-8cb11d80-6096-11ea-9c75-1217389efcbd.jpg)

[2020-03-07 10:23] slf12 commented on #177
int8量化模型在GPU上进行推理走的是tensorrt模式，tensorrt支持的硬件有限，麻烦发一下您的GPU型号看下是否支持。

[2020-03-09 01:55] wuyefeilin commented on #140
@ZeyuChen 列霖已经合入了

[2020-03-09 02:23] jaffe-fly commented on #174
我重新训练了 还是不行，你们有邮箱吗 我把训练权重和配置文件重新发给你帮我看看，比较着急部署

[2020-03-09 05:56] hp-cuiwb commented on #180
已解决，感谢

[2020-03-09 05:56] #180 closed, assigned to ZeyuChen

[2020-03-10 06:47] LutaoChu commented on #181
这是因为你的batch size=32，默认训练日志的打印周期是10个step，说明你的数据集图片数量小于320张，所以出现跳过显示。
启动训练脚本时指定较小的`--log_steps`即可
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/docs/config.md#%E5%91%BD%E4%BB%A4%E8%A1%8Cflags

[2020-03-10 07:00] LutaoChu commented on #174
@jaffe-fly  chulutao@baidu.com    测试图片也发给我吧

[2020-03-10 08:20] #181 closed, assigned to nobody

[2020-03-10 12:01] #23 closed

[2020-03-11 04:27] y-kl8 opened #182 "使用eval评估deeplabv3+mobilnetv2的问题"
我下载了训练好的 deeplabv3+mobilnetv2模型， 使用eval进行评估，模型下载处如下图：

![1583900499](https://user-images.githubusercontent.com/37499637/76382262-1ad91c80-6393-11ea-8164-bb71fc551f98.png)

评估使用yaml文件为： deeplabv3p_mobilenetv2_cityscapes.yaml
运行会报错：
Error Message Summary:
----------------------
Error: Cannot open file saved_model/mobilenet_cityscapes/encoder/concat/weights for load op at (/paddle/paddle/fluid/operat

[2020-03-11 04:53] y-kl8 commented on #182
训练的时候 我选定其他gpu：export CUDA_VISIBLE_DEVICES=3

但还是会报错：

Error Message Summary:
----------------------
ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 140.683838MB memory on GPU 0, available memory is only 67.375000MB.

Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please decrease the b

[2020-03-12 07:06] jaffe-fly opened #186 "支持的网络明明有fas_scnn，为什么在only support没有"
![image](https://user-images.githubusercontent.com/49515380/76495974-f8b6cb80-6472-11ea-81d2-fe7cd3a7b7e2.png)

[2020-03-12 09:32] HOLLIZHAO opened #188 "PaddleSeg Python 预测部署方案中的返回类型"
返回的类型中，可否 新增 返回分割轮廓的像素点数组list，而不仅仅是分割后的图片。

[2020-03-12 11:14] y-kl8 commented on #182
进行训练/评估的时候会有奇怪的报错：

训练/评估命令：
python -u ./slim/quantization/train_quant.py --log_steps 10 --not_quant_pattern last_conv --cfg configs/deeplabv3p_mobilenetv2_cityscapes.yaml --use_gpu --use_mpio TRAIN.PRETRAINED_MODEL_DIR "./pretrain/mobilenet_cityscapes/" TRAIN.MODEL_SAVE_DIR "./snapshots/mobilnet_cityscapes_quant_3" MODEL.DEEPLAB.ENCODER_WITH_ASPP False MODEL.DEEPLAB.ENABLE_DECODER False TRAIN.SYN

[2020-03-12 12:45] jaffe-fly opened #189 "vs2019 cmake编译的时候 报错，没有百度到解决方案，"
![image](https://user-images.githubusercontent.com/49515380/76522890-5dd5e580-64a2-11ea-9877-29e870e93eb3.png)

[2020-03-13 02:32] hp-cuiwb opened #190 "请问deeplabv3模型剪枝完，如何进行在线量化？"

[2020-03-13 03:00] Aurelius84 commented on #189
windows下编译可以参考官方文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/compile_Windows.html

[2020-03-13 03:01] Aurelius84 commented on #188
感谢您的反馈，我们会评估和优化相关部署方案。

[2020-03-13 03:06] TailyDuan commented on #30
这个问题有解决吗？我也遇到类似问题

[2020-03-13 03:06] LielinJiang commented on #186
感谢提醒，后续补充一下。

[2020-03-13 03:12] LielinJiang commented on #182
是的，需要将yaml文件中ENCODER_WITH_ASPP和ENABLE_DECODER，手动设置为False。

[2020-03-13 04:07] #186 closed, assigned to LielinJiang

[2020-03-13 04:09] jaffe-fly commented on #189
如果有遇到上面相同问题的朋友 可以参考这篇博文 https://blog.csdn.net/weixin_44831720/article/details/104835721

[2020-03-13 04:09] #189 closed, assigned to nobody

[2020-03-13 04:14] jaffe-fly opened #191 "链接失效 ，辛苦更新一下"
![image](https://user-images.githubusercontent.com/49515380/76589113-f06a9900-6523-11ea-868f-43f2ed283a59.png)
我找到其他链接了 但是方便后面的人 还是提醒更新一下好

[2020-03-13 07:02] LDOUBLEV commented on #191
好的

[2020-03-13 07:02] LielinJiang commented on #190
先用之前剪枝的策略剪枝模型，加载已经训练好的剪枝模型，然后再使用相应的量化策略即可。

[2020-03-13 07:30] y-kl8 commented on #182
您好，yaml文件中这两个已经设置为false了，没有ENCODER_WITH_ASPP和ENABLE_DECODER这两个参数。
ASPP_WITH_SEP_CONV: False
DECODER_USE_SEP_CONV: False

[2020-03-13 08:17] hp-cuiwb commented on #190
{'AUG': {'AUG_METHOD': 'stepscaling',
         'FIX_RESIZE_SIZE': (2048, 1024),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR': True,
         'RICH_CROP': {'ASPECT_RATIO': 0.33,
                       'BLUR

[2020-03-13 08:18] hp-cuiwb commented on #190
可是这样的话，加载预训练的剪枝模型，会导致权重的shape不匹配而跳过加载，那训练出来的模型不还是原始模型的量化模型吗？

[2020-03-13 09:13] #191 closed, assigned to LielinJiang

[2020-03-13 09:20] jaffe-fly opened #192 "用命令行形式写的函数 怎么直接传参数进去？直接cfg=文件路劲不对吗？"
![image](https://user-images.githubusercontent.com/49515380/76607379-dd20f300-654e-11ea-83bc-1d3f438578fd.png)

[2020-03-13 12:44] LDOUBLEV commented on #192
可以尝试先把文件load 进来
with open(file', 'r') as f:
    data = yaml.load(f.read())

[2020-03-13 13:01] LielinJiang commented on #190
代码里面还是要先对网络进行相同的剪枝，只不过这次剪枝完直接加载之前训好的剪枝模型。然后再量化

[2020-03-13 14:16] jaffe-fly commented on #192
谢谢
with open(conf_path, 'r',encoding='UTF-8') as f:
    data = yaml.load(f,Loader=yaml.FullLoader)
print(data['TEST']['TEST_MODEL'])

[2020-03-13 14:16] #192 closed, assigned to nobody

[2020-03-13 14:22] jaffe-fly opened #194 "RuntimeError: Shape not matching: the Program requires a parameter with a shape of ((19,)), while the loaded parameter (namely [ classifier/biases ]) has a shape of ((1,))."
首先这个错误的原因时我改了源码用在我自己的项目中，才出现的，
但是这个错误，我没找到什么原因，参数已经训练好了没办法改
有其他方式吗？

[2020-03-13 16:22] y-kl8 commented on #182
我量化训练后的mobilnetv2_deeplabv3+的模型大小是为什么是14.7M而不是7.4M？ 另外量化后的模型怎么才能知道它真正的大小？没有去除aspp和decoder的mobilnetv2_deeplabv3+模型量化后有多大？

[2020-03-14 03:50] hp-cuiwb commented on #190
[好的，感谢，那我测试时，怎么测试，我现在得到这些
![image](https://user-images.githubusercontent.com/47169147/76674400-09d61880-65ea-11ea-9bf8-3ee2790ec6f1.png)

[2020-03-16 02:35] LDOUBLEV commented on #194
报错是你的模型某层的参数形状和你要load的参数形状不匹配，参数无法更改，可以尝试修改网络

[2020-03-16 02:41] jaffe-fly commented on #194
那就奇怪了 我只是修改的vis.py的代码 网络部分的没有更改过，在没有更改vis.py之前 还是可以正常显示的 ，请问可视化vis.py代码中有涉及到网络的修改？我仔细看了是没有

[2020-03-16 10:02] LDOUBLEV commented on #194
请问，你用的是哪个模型，和哪个paddle版本，方便的话，提供下你修改后的代码也可以的，我这边也排查下问题

[2020-03-16 11:16] hp-cuiwb commented on #174
怎么解决的

[2020-03-16 11:23] jaffe-fly commented on #174
再等等，官方正在查找问题

[2020-03-16 11:55] jaffe-fly commented on #194
paddle 的版本是1.6.1

把paddleSeg 模块下的pdseg下面的vis.py和reader.py替换为上面的vis_fire.py和reader.py

改的思路：
      获取摄像头的实时视频流做处理
       cap = cv2.VideoCapture(source)
cap.read()[1]的数据和reader里面load_image函数中img = cv2_imread(img_path, cv2_imread_flag)的数据一样，所以删减了很多文件。路径处理的代码，
把cap.read()[1]的数据直接传进 vis里面来获取视频图像
代码直接在pycharm中运行camera_read.py的时候报错，运行代码需要的视频文件也在附件中了

为啥这么搞：
使用分割的infer.py时报显存不够，即使小的图片也不够用（这个问题，你们同事在处理了），所

[2020-03-17 00:55] jbq123 opened #195 "vis.py运行报错"
我在运行的时候跑预训练的模型时python pdseg/vis.py --cfg configs/deeplabv3p_xception65_cityscapes.yaml --use_gpu --vis_dir visual TEST.TEST_MODEL "pretrained_model/deeplabv3p_xception65_gn_cityscapes" EVAL_CROP_SIZE "(2049, 1025)"。
遇到了这个报错：Error: Cannot open file pretrained_model/deeplabv3p_xception65_gn_cityscapes/xception_65/middle_flow/block11/separable_conv1/pointwise/BatchNorm/moving_variance for load op at

[2020-03-18 02:12] LielinJiang commented on #194
这个提示是类别数和权重的类别数不一致，看一看一下你的类别数是不是变了

[2020-03-18 02:18] jaffe-fly commented on #194
提示的意思是类别数  ，但是我的类别数一直没有改，不知道这个19是怎么出现的

[2020-03-18 02:19] LielinJiang commented on #194
模型是你自己训出来的嘛？

[2020-03-18 02:21] LielinJiang commented on #190
这些是权重，载入权重时，指向这个文件夹就行

[2020-03-18 02:24] jaffe-fly commented on #194
是我自己训练的  网络部分和配置参数没有更改

[2020-03-18 09:29] slf12 commented on #182
![image](https://user-images.githubusercontent.com/8036226/76945672-cfe47980-693d-11ea-921f-0d008b9d3f9b.png)
https://github.com/PaddlePaddle/PaddleSlim/pull/179

可以修改以下参数保存int8模型
![image](https://user-images.githubusercontent.com/8036226/76945762-f4d8ec80-693d-11ea-98d7-308661bf9494.png)

https://paddlepaddle.github.io/PaddleSlim/api_cn/quantization_api.html#paddleslim.quant.convert

[2020-03-18 11:33] hi-bigcat opened #199 "UNet up-sample OP issue"
Hi,
De-conv is configured as the up-sample op, but in the saved models the up-sample op is still bilinear-interp, show as below pictures:
<img width="258" alt="fb0e8272f6c44ebceb8c839398e89ea3" src="https://user-images.githubusercontent.com/46183033/76956572-463da780-694f-11ea-9934-aab64c9d1fc5.png">
<img width="405" alt="dc3fb9162440dedeb5ff284da1c4048e" src="https://user-images.githubusercontent

[2020-03-18 14:06] ZeyuChen commented on #194
@jaffe-fly 你训练的模型类别数多少，看样子19是cityscapes预训练模型的类别数。你自己的数据应该不是19个类别把？

[2020-03-18 14:09] jaffe-fly commented on #194
我自己训练的类别数是2，自始至终都没有用过cityscapes哦  ，是程序内部哪儿使用了默认的19吗？

[2020-03-18 14:10] jaffe-fly commented on #194
我自己训练的类别数是2，自始至终都没有用过cityscapes哦，是程序内部哪儿使用了默认的19吗？

[2020-03-18 14:12] jaffe-fly commented on #194
我自己训练的类别数是2，自始至终都没有用过cityscapes哦，是程序内部哪儿使用了默认的19吗？

[2020-03-18 14:15] ZeyuChen commented on #194
能提供下你训练时和vis.py时候的yaml配置文件吗？

[2020-03-18 14:21] jaffe-fly commented on #194
`TRAIN_CROP_SIZE: (512, 512) # (width, height), for unpadding rangescaling and stepscaling
#EVAL_CROP_SIZE: (1997, 1024) # (width, height), for unpadding rangescaling and stepscaling
EVAL_CROP_SIZE: (1920, 1080) # (width, height), for unpadding rangescaling and stepscaling
AUG:
    AUG_METHOD: "unpadding" # choice unpadding rangescaling and stepscaling
    FIX_RESIZE_SIZE: (512, 512) # (width, hei

[2020-03-19 07:41] ZeyuChen commented on #194
@LielinJiang 用户训练的是Fast_SCNN， 在加载预训练模型时，如果类别数与预训练模型不匹配，是否有抛弃logit layer参数的加载？

[2020-03-19 07:47] LielinJiang commented on #194
@jaffe-fly 哈喽，可以提供一下你训练好的模型嘛？我验证一下哈

[2020-03-19 08:16] LutaoChu commented on #199
经与用户沟通，是用户配置上的错误，目前已经可以重新训练

[2020-03-19 08:25] LutaoChu commented on #195
先确认一下本地是否存在这个路径`pretrained_model/deeplabv3p_xception65_gn_cityscapes/xception_65/middle_flow/block11/separable_conv1/pointwise/BatchNorm/moving_variance`。
如果不是路径问题，提供一下PaddleSeg和PaddlePaddle的版本吧

[2020-03-19 10:44] jaffe-fly commented on #174
官方回复：
!python /home/aistudio/infer_fire.py --conf=/home/aistudio/freeze_model/deploy.yaml --input_dir=/home/aistudio/work/dataset/images/test/   --use_pr=True
后面一定要加 --use_pr=True  否则就会报错

[2020-03-19 11:03] jaffe-fly opened #200 "ShapeError: broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 1920, 1024, 1997] and the shape of Y = [1, 3, 1, 1]. Received [1920] in X is not equal to [3] in Y at (D:\1.7.1\paddle\paddle/fluid/operators/elementwise/elementwise_op_function.h:145)"
[https://github.com/PaddlePaddle/PaddleSeg/issues/194](url)

这两个问题 里面的数字出现的莫名其妙     X = [1, 1920, 1024, 1997]  这是哪儿来的？？
我的EVAL_CROP_SIZE : (1920, 1080)

还有链接中的问题的19，，我用自己数据集训练的，所有代码都没有19，报错的shape是19，

我用paddlepaddle做实时的目标分割，把代码中路径处理相关的删减，直接传入摄像头数据，怎么就不成功

[2020-03-19 15:09] #200 closed, assigned to nobody

[2020-03-19 15:15] jaffe-fly opened #201 "fast-scnn训练后CPU推理速度一张图需要2.5秒左右，速度慢很多 有办法加速吗？请问有什么办法提高精度？"
`DEPLOY:
        USE_GPU : 0
        USE_PR : 1
        MODEL_PATH : "E:/fire_detection/fire_code/freeze_model"
        MODEL_FILENAME : "__model__"
        PARAMS_FILENAME : "__params__"
        EVAL_CROP_SIZE : (1920, 1080)
        MEAN : [0.5, 0.5, 0.5]
        STD : [0.5, 0.5, 0.5]
        IMAGE_TYPE : "rgb"
        NUM_CLASSES : 2
        CHANNELS : 3
        PRE_PROCESSOR : "SegPreProcessor"

[2020-03-20 02:59] sjtubinlong commented on #201
@jaffe-fly 你好，关于推理速度，试试增大batch。另外前几个batch会相对慢一些，后续的速度会快一些。

[2020-03-20 03:02] jaffe-fly commented on #201
我是直接处理视频流的 读一帧处理一帧这种 所以没有batch

[2020-03-20 03:21] LutaoChu commented on #201
关于精度，因为训练集图片数量较少，可以尝试使用数据增强，如stepscaling、rangescaling、mirror等。loss推荐使用dice loss+bce loss  https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/docs/loss_select.md

[2020-03-20 03:42] jaffe-fly commented on #201
这些方法都用了

[2020-03-20 05:03] Diuyon opened #202 "使用Celeb人脸数据集做分割，按照文档处理数据和yaml文件，但是训练出现问题"
### 1. 问题报告如下：
[code]

### 2. 详细错误日志如下：
[code]

### 3. 错误描述如下：
[code]

--------
如果您能帮忙解决该问题，我将万分感谢！

[2020-03-20 05:43] LutaoChu commented on #201
可以提供一下训练yaml吗

[2020-03-20 08:29] jaffe-fly commented on #201
`TRAIN_CROP_SIZE: (512, 512) # (width, height), for unpadding rangescaling and stepscaling
#EVAL_CROP_SIZE: (1997, 1024) # (width, height), for unpadding rangescaling and stepscaling
EVAL_CROP_SIZE: (1920, 1080) # (width, height), for unpadding rangescaling and stepscaling
AUG:
    AUG_METHOD: "unpadding" # choice unpadding rangescaling and stepscaling
    FIX_RESIZE_SIZE: (512, 512) # (width, hei

[2020-03-20 10:17] jaffe-fly commented on #194
我发邮件给你了 有收到吗

[2020-03-20 13:07] LutaoChu commented on #201
有几个建议可以参考一下

- TRAIN_CROP_SIZE太小，调大一些

- 关闭FLIP，这个场景不太适用

- 设置AUG_METHOD 为step_scaling

- 关闭RICH_CROP.ENABLE

- 尝试其他的learning rate

[2020-03-21 02:13] jaffe-fly commented on #201
![image](https://user-images.githubusercontent.com/49515380/77217273-2f1fd500-6b5c-11ea-9426-e0c9d3fe713e.png)
图像分割的数据集标签，作为二分类来说 背景就是负样本，是否有必要出现这种没有目标的图（全黑的图）?

[2020-03-23 02:36] LielinJiang commented on #194
好像没有额，麻烦您重新发一下吧

[2020-03-23 02:51] jaffe-fly commented on #194
你发一下你的邮箱

[2020-03-23 04:44] LutaoChu commented on #202
你好，看起来是使用py_reader过程出现的问题。可否提供一下复现环境，比如训练配置、PaddleSeg、Paddle版本、几张样例图片

[2020-03-23 04:51] LutaoChu commented on #201
你可以观察一下评估的category iou，如果背景类的识别准确率不够高，可以加上这些图片，加强模型对背景的识别能力。如果已经很高了，但前景的识别效果不理想，可以去掉这些负样本。

[2020-03-23 04:53] Diuyon commented on #202
好的

---
yaml文件内容如下
[code]

---
示例图片如下
1. images(origin)
![1](https://user-images.githubusercontent.com/48786733/77291286-e6f9e180-6d18-11ea-97f5-95bd0080b579.jpg)

2. mask(label)，类别共有4个，分别为：头发(2)、面部(1)、耳环(3)、以及出前3者外的区域(0)
![00001](https://user-images.githubusercontent.com/48786733/77291293-ebbe9580-6d18-11ea-9b55-865921f71244.png)

3. 二值化展示图
![00001](https://user-images.githubusercontent.com/48786

[2020-03-23 05:01] LutaoChu commented on #202
你用的是PaddleHub进行训练的？
label中3个类别的像素值是0，1，2吗？背景也就是二值图中黑色区域是多少呢，标为255吗？

[2020-03-23 05:03] Diuyon commented on #202
哦哦，我知道了，应该是这个问题，尴尬￣□￣｜｜

[2020-03-23 05:05] LutaoChu commented on #202
好的，我们的标注协议是从0开始，0，1，2递增。默认ignore的类别是255

[2020-03-23 05:08] LutaoChu commented on #202
对了，训练之前最好使用pdseg/check.py检查一下数据和配置，就可以及早发现这些问题了

[2020-03-23 05:09] Diuyon commented on #202
我是有检查过的，检查通过了，我刚刚修改了`NUM_CLASSES: 4`，但是仍然出现了这个问题

[2020-03-23 05:11] LutaoChu commented on #202
你的label像素标的是0，1，2，3 还是其他呢？

[2020-03-23 05:11] Diuyon commented on #202
在mask当中，我对值得设置是按照0-255的规则

[2020-03-23 05:15] Diuyon commented on #202
我刚刚检查了一下，mask当中存在标签为4的情况，我现在去修改

[2020-03-23 05:55] panovr opened #205 "Evaluation error"
The training and visualizing are fine, but the evaluation has some errors:

[code]

[2020-03-23 07:12] Diuyon commented on #202
我修改了mask，还是出现了这个问题，我尝试将mask改成2分类（前后景）,问题就没了，这是为什么呢？

---

上面的图片信息，我修改成了只存在0,1,2,3 这4种类别的版本

[2020-03-23 07:52] wuyefeilin commented on #205
应该是类别数的设置跟你的实际输出类别数不一致，比如有可能你网络的预测输出包含9类，而你的类别数设置成了8.

[2020-03-23 08:05] LutaoChu commented on #202
应该还是mask标注问题。你是怎么修改成2分类的？

[2020-03-23 08:13] Diuyon commented on #202
原先：1: 脸部; 2: 头发; 3: 耳饰; 0: 除前3者外的区域
二分类: 1: 脸部、头发、耳饰；0：除前者意外的区域

[2020-03-23 08:26] LutaoChu commented on #202
确实有点奇怪。原先的数据跑一下check.py，将输出结果detail.log发出来吧

[2020-03-23 08:39] Diuyon commented on #202
detail.log 日志
[code]

[2020-03-23 08:45] LutaoChu commented on #202
这是test.txt，有train.txt的吗

[2020-03-23 08:48] LutaoChu commented on #202
直接把整个detail.log发出来吧

[2020-03-23 08:51] panovr commented on #205
我的类别数目在配置文件里面设置为2。有合适的调试方法吗？

[2020-03-23 08:54] Diuyon commented on #202
[detail.log](https://github.com/PaddlePaddle/PaddleSeg/files/4368135/detail.log)

[2020-03-23 12:06] LutaoChu commented on #202
PASS ../../data/CelebAMask/test.txt DATASET.SEPARATOR check
测试集check结果没问题
为什么只check了测试集呢？是训练过程出错，应该check下训练集

[2020-03-23 12:56] Diuyon commented on #202
训练集也是通过的，在我发的文件detail.log中有所有check记录

[2020-03-23 13:14] LutaoChu commented on #202
看到了。check记录看起来正常，要不发我一些图片我复现一下
chulutao@baidu.com

[2020-03-23 13:44] Diuyon commented on #202
邮件已发送

[2020-03-24 01:10] LielinJiang commented on #194
jianglielin@baidu.com

[2020-03-24 02:17] wuyefeilin commented on #205
PaddleSeg采用单通道的标注图片，每一种像素值代表一种类别，像素标注类别需要从0开始递增，例如0，1，2，3表示有4种类别。这时候你的类别数应为设置为4。

你跑一下数据与配置校验看是否有配置出错，https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/docs/check.md

[2020-03-24 03:43] LielinJiang commented on #194
已经收到你的邮件了，看了你的代码。问题在这里
![image](https://user-images.githubusercontent.com/50691816/77385876-5678db00-6dc4-11ea-8820-6f4efcd84372.png)
你的cfg用的不是全局的cfg。你应该像原来的vis.py文件一样，from utils.config import cfg
然后用cfg.update_from_file(your-yaml-file)，这样cfg就会更新到全局，你可以在build_model中去打印你的cfg，看看是否有加载你yaml文件中的配置

[2020-03-24 09:09] jbq123 commented on #195
您好，我在jetson TX2上跑pdseg/vis.py的时候出现了这个报错：
W0324 16:37:16.218273  8639 operator.cc:181] elementwise_add raises an exception thrust::system::system_error, parallel_for failed: too many resources requested for launch
/usr/local/lib/python3.6/dist-packages/paddle/fluid/executor.py:782: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Tr

[2020-03-25 01:45] HOLLIZHAO commented on #188
非常期待！ 在统计个数、计算面积、测量距离等落地应用实现上，非常需要返回分割后各分类轮廓的像素点坐标！

[2020-03-25 07:05] LutaoChu commented on #202
`NOT PASS loss check. Dice loss and bce loss is only applicable to binary classfication
`
我这边check的结果，dice loss和bce loss只能在2分类的时候用，多分类目前不行

[2020-03-25 07:10] Diuyon commented on #202
可是我配置文件中并没有写明用哪个loss，按道理它会默认使用softmax吧？如果我要使得多分类任务正常运行，是不是要指明`LOSS: ["softmax_loss"]`?

[2020-03-25 07:14] LutaoChu commented on #202
是的，默认用softmax，不需要指名。我用的是你上面给的yaml

[2020-03-25 07:18] Diuyon commented on #202
那现在该怎么办呢？

[2020-03-25 07:21] LutaoChu commented on #202
提供一下你后来的yaml吧
git branch看看你当前的PaddleSeg版本

[2020-03-25 07:24] Diuyon commented on #202
版本：`release/v0.4.0`
yaml：如果是多分类就仍然还是上面哪个，二分类则为
[code]

[2020-03-25 09:25] Diuyon opened #206 "模型裁剪后，infer出现维度问题，eval以及vis都未出现"
# 再进行trian、eval、vis操作均正常后，将模型裁剪导出却出现维度不匹配的问题

---

### 错误日志：
[code]
---

### 调试结果：
![1(1K8XG_FIX9RTWTN 9BKQK](https://user-images.githubusercontent.com/48786733/77521271-5c061c00-6ebd-11ea-8fdc-f41f9b31a1fe.png)
----

### deploy.yaml文件
[code]

[2020-03-26 08:25] lesterhnu opened #207 "请问视频级别人像分割大概什么时候上线"
![image](https://user-images.githubusercontent.com/42615458/77625276-43aa0600-6f7e-11ea-8f67-407a6842da13.png)

[2020-03-26 14:57] ZeyuChen commented on #207
@lesterhnu   会在PaddleSeg 0.5.0版本推出视频级别实时人像分割模型，发版时间预计在4月中下旬。

[2020-03-27 09:27] songyuc opened #208 "请问一下，排行榜里展示的是百度这边给出的最好的结果吗？"
尊敬的开发者，您好！
我是一名正在学习PaddlePaddle的学生，我想请问一下，
![image](https://user-images.githubusercontent.com/27288110/77741585-188fe700-7050-11ea-972e-55757610df08.png)
这里的DeepLabV3+的测试结果是百度这边给出的最好的结果吗？
期待您的回复！

[2020-03-27 09:33] songyuc opened #209 "请问一下，现在DeepLabV3+最好的backbone是哪一个呢？"
尊敬的开发者，您好！
我是一名正在学习PaddlePaddle的学生，我想请问一下，
现在DeepLabV3+模型可以使用的效果最好的主干网络是哪一个呢？
期待您的回复！

[2020-03-27 10:06] ZeyuChen commented on #208
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/docs/model_zoo.md
更详细的结果可以看下这个表格，Xception65这个Backbone是DeepLabv3+下最好的，也可以实时最新的HRNet，效果也不差，性能相对DeepLab好一些。

[2020-03-27 10:06] ZeyuChen commented on #209
@songyuc Xception65

[2020-03-27 10:13] songyuc commented on #209
@ZeyuChen，不是Xception71吗？

[2020-03-27 10:25] songyuc commented on #208
@ZeyuChen ，好的谢谢大佬的解答！

[2020-03-27 10:25] #208 closed, assigned to ZeyuChen

[2020-03-27 12:45] LutaoChu commented on #209
暂时还没有Xception71的预训练模型。当然你可以自己训练

[2020-03-28 03:18] jaffe-fly commented on #194
谢谢

[2020-03-28 03:18] #194 closed, assigned to ZeyuChen, LielinJiang

[2020-03-28 04:08] jaffe-fly commented on #188
你可以from deploy.python.infer  import run  然后run的结果就是预测的掩码 是二值图（当然infer的源码需要你修改一下，我只是提供一种方法并且我已经验证过可行），然后利用opencv 找到轮廓并结算面积等
` mask = run(deploy_conf=conf_path, img=frame)
        binary = np.array(mask) * 255.
        binary = binary.astype(np.uint8)

        fire_contours, hierarchy = cv2.findContours(binary, cv2.RETR_TREE, cv2.CHAIN_APPROX_SIMPLE)
`
大概是这样的，后续你自己发挥

[2020-03-28 04:11] jaffe-fly opened #210 "预测 模式中"ANALYSIS"和NATIVE 这两种有什么区别，哪一种快？"
另外使用"ANALYSIS"的时候报错
![image](https://user-images.githubusercontent.com/49515380/77814590-3e1efe00-70ed-11ea-86cc-e2965251f4c8.png)

[2020-03-30 03:19] sjtubinlong commented on #210
@jaffe-fly
ANALYSIS模式做了OP融合等计算优化，性能相比NATIVE模式更好，目前推荐使用Analysis模式。

目前在windows平台上，无法使用tensorrt，请把配置的yaml文件中的开启tensorrt的开关设置为0再试试。

[2020-03-30 12:12] jaffe-fly commented on #210
你指的是USE_PR   设置为0？

[2020-04-01 08:31] lxk767363331 opened #211 "paddleseg中HRNet是否支持gn？"
在.yaml文件中设置GN，在config中设置gn ，cfg.MODEL.DEFAULT_GROUP_NUMBER = 9 不可使用GN， 请问是否支持。
第二个问题 如果本模型不支持 ，是HRNet结构导致不支持，还是模型库未修改相关配置？

[2020-04-01 08:45] wuyefeilin commented on #211
目前hrnet直接使用bn, 并不能通过在.yaml文件中设置GN进行使用。这一块需要对模型库对bn和gn的配置进行修改

[2020-04-01 08:46] lxk767363331 commented on #211
我需要对哪里进行修改 可以给出提示么

[2020-04-01 08:50] wuyefeilin commented on #211
![image](https://user-images.githubusercontent.com/30919197/78117908-d0e6d200-7438-11ea-9b31-4444846747bb.png)
你可以把这边的bn改成你需要的gn函数试试

[2020-04-01 09:09] lxk767363331 commented on #211
已解决 谢谢

[2020-04-01 09:14] #211 closed, assigned to nobody

[2020-04-01 12:23] lxk767363331 opened #212 "关于将HRNet中的BN更换为GN之后出现的问题"
会出现以下的情况 dansh但是使用BN时不会，下面是我更改GN的代码与问题截图
![QQ图片20200401202215](https://user-images.githubusercontent.com/38516795/78136652-95f39700-7456-11ea-87f8-05f35eb7c1e8.png)

 gn_name = name + '_gn'
    gn=paddle.fluid.layers.group_norm(input=conv,
                                      groups=18,
                                      param_attr=ParamAttr(name=gn_name + "_scale",

[2020-04-02 00:13] panovr commented on #205
确实，数据与配置校验结果有错：
[code]

顺便问一句，这部分信息的含义：
[code]

[2020-04-02 02:10] #212 closed, assigned to nobody

[2020-04-02 02:28] wuyefeilin commented on #205
这个是日志输出的问题，只要没有提示检查不通过就没问题哈。这个日志输出的问题我们正在解决

[2020-04-02 03:09] #205 closed, assigned to wuyefeilin

[2020-04-06 17:19] Boyan-Liu commented on #210
@sjtubinlong

[2020-04-10 02:50] ieee820 commented on #206
我也遇到了同样的问题，正在找解决方案

[2020-04-10 03:33] ieee820 commented on #206
@Diuyon 请问您的问题解决了吗？

[2020-04-10 03:34] ieee820 commented on #206
@LutaoChu 请问大概是什么原因呢？和paddleseg版本有关吗？

[2020-04-10 03:36] Diuyon commented on #206
@ieee820 没有解决，我直接拿未裁剪的模型来使用的，没办法，将就下

[2020-04-10 04:29] ieee820 commented on #206
@Diuyon 您指的未裁剪的模型是指vis.py和eval.py中用到的saved_model文件夹里面的吗？那些文件挺大的挺分散是吧？

[2020-04-10 04:30] ieee820 commented on #206
需要的话，我可以把freeze_model和我用于测试的图片数据发给您。@LutaoChu

[2020-04-10 06:22] jaffe-fly commented on #210
大佬们  上面的问题有办法解决吗？  windows平台怎么才能使用ANALYSIS模式

[2020-04-10 06:23] jaffe-fly commented on #210
window10的平台怎么才能使用ANALYSIS模式

[2020-04-10 06:45] jaffe-fly commented on #201
[EVAL]Category Acc: [0.9930 0.5560]
[EVAL]Kappa:0.6324
这个是训练的最好结果了  但实际视频变现还很很差，在没有目标的帧上，也出现误识别，还有其他方式可以继续提高吗？

[2020-04-10 07:19] ieee820 commented on #206
@Diuyon @LutaoChu 我把paddlepadel1.7 降级到1.6.2, 然后把paddleseg 降级到0.3.0就运行正常了，不确定是不是版本的原因。

[2020-04-10 07:21] Diuyon commented on #206
对，我用的就是saved_model中的文件，降级能裁剪的话，那可能是版本问题了

[2020-04-10 07:34] jaffe-fly commented on #201
或者怎么可以抑制背景的识别精度？

[2020-04-10 07:48] OliverLPH commented on #210
@jaffe-fly
Python部署，执行
`python infer.py --conf=/path/to/deploy.yaml --input_dir/path/to/images_directory --use_pr=False `
不要打开 `--trt_mode` 即可关闭 `TensorRT` 使用 `analysis` 模式

C++ 部署，将 `deploy.yaml` 配置文件中 `TRT_MODE` 部分删掉就可以了

[2020-04-10 07:58] LutaoChu commented on #206
看起来是导出模型那块减均值除方差的问题，我们先确认一下原因

[2020-04-10 07:59] LutaoChu commented on #201
看一下category iou的指标吧
最好也能提供一些识别效果图和badcase

[2020-04-10 08:16] wuyefeilin commented on #206
你输入网络之前的图像的shape是多少，看样子是图像图像shape的问题，是（batch_size, h, w, c)吗？
![image](https://user-images.githubusercontent.com/30919197/78975356-822aed80-7b46-11ea-97f9-22cffc55f16b.png)
use_pr设置为True试一下

[2020-04-10 08:18] ieee820 commented on #206
@Diuyon @LutaoChu  刚才又测试了一下paddlepadel1.7，不用降级paddlepaddle可以的，只需要降级paddleseg

[2020-04-10 08:18] ieee820 commented on #206
试过了，此项不行

[2020-04-10 08:18] ieee820 commented on #206
不work

[2020-04-10 08:20] jaffe-fly commented on #210
用你的方法  使用analysis 刚开始不报错了。但是运行到几秒就卡住 然后退出  换做NATIVE是可以一致运行的。这是什么原因？
e[1me[35m--- Running analysis [ir_graph_to_program_pass]e[0m
total_runtime=0.08779597282409668
I0410 16:15:25.052613  9812 analysis_predictor.cc:462] ======= optimize end =======
I0410 16:15:25.166309  9812 analysis_predictor.cc:84] Profiler is deactivated, and no profiling report will be generated.
I0410 16:15:25.173317  9812 ana

[2020-04-10 08:25] OliverLPH commented on #210
@jaffe-fly
你截下来的这段log里没看到有报错信息，不太明白为什么会退出。
可以看下是不是由于内存不够导致程序被kill了？

[2020-04-10 08:26] jaffe-fly commented on #201
[EVAL]#image=61 acc=0.9755 IoU=0.7253
[EVAL]Category IoU: [0.9750 0.4757]
[EVAL]类别Acc：[0.9930 0.5560]
[EVAL] Kappa：0.6324

[2020-04-10 09:54] jaffe-fly commented on #201
目标是识别火  已经附件了识别结果 请查看

[2020-04-11 06:26] ljx111 opened #216 "在测试时报错是什么原因？"
把deeplabv3的项目fork，换上自己的训练集，提示越界了，但是可视化中却没报错
还有想问一下TRAIN_CROP_SIZE，EVAL_CROP_SIZE和FIX_RESIZE_SIZE有什么关系吗？不太理解

#Device count: 1
W0411 11:40:04.963268   696 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 9.2, Runtime API Version: 9.0
W0411 11:40:04.967165   696 device_context.cc:267] device: 0, cuDNN Version: 7.3.
load test model: work/model_ffc/final
Tracebac

[2020-04-11 09:42] jaffe-fly opened #217 "IC net eval报错什么原因"
!!! The default number of CPU_NUM=1.
#Device count: 1
load test model: ./saved_model/icnet_optic/best_model
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py:782: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "PaddleSeg/pdseg/eval.py", line 179,

[2020-04-13 01:39] Diuyon commented on #206
@wuyefeilin 输入的size是512，应该是eval设置为1000，所以到这里就调成了1000，按道理这个[1 3 1000 1000] 应该是正确的，但是错误报告的[1 1000 1000 1000]肯定是错误的，use_pr 之前设置过，没有用

[2020-04-13 04:37] LutaoChu commented on #216
应该是类别数的设置跟实际的类别数不一致，建议检查一下`DATASET.CLASS_NUMBER`这个配置项。
关于TRAIN_CROP_SIZE，EVAL_CROP_SIZE和FIX_RESIZE_SIZE，可参考这个文档 https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/docs/data_aug.md

[2020-04-13 04:41] ljx111 commented on #216
好的，非常感谢！

[2020-04-13 05:37] LutaoChu commented on #201
没有看到附件，是撤回了吗？

另外方便的话也提供下目前的训练配置吧

[2020-04-13 06:20] ljx111 commented on #216
确认了一下，类别数没有问题，还有可能是其它原因吗？

[2020-04-13 07:50] seoeye opened #218 "unet示例预测图片问题"
尊敬的技术人员：

      我用百度飞浆示例https://aistudio.baidu.com/aistudio/projectdetail/102889在ai studio中运行，示例的猫狗数据能成功的预测。于是我换用自己的数据，结果重新训练模型后，发现预测结果全黑。所以进行了以下步骤：

    1、使用paddleseg的伪彩色程序，检查了示例的猫狗数据，也检查了我的数据，发现我的数据只有红色、黑色两种，猫狗数据有红色 绿色 黑色三种。
    于是我用lableme重新对我的数据进行了标记，然后用lableme自带的工具导出为json文件夹，我的数据包含三个类别，其中有 backgroup nn rr
     2、在paddleseg文件中使用labelme2seg.py想把json导出为paddleseg数据集格式，然后获取不到我的分类，生成的annotations文件夹

[2020-04-13 08:01] seoeye commented on #218
现在用labelme2seg.py 后面跟着文件夹参数，获取到了分类，但是程序错误，提示85行错误 元组没有最大值最小值

[2020-04-13 11:11] rgbyuv opened #219 "在应用labelme2seg.py转化labelme生成的json过程，报错如下"
在line 81,有判断语句：
            if lbl.min >= 0 and lbl.max() <= 255:
总是报错：‘tuple’ object has no attribute 'min'
看源码，不应该这样啊，请问是什么原因？

[2020-04-13 12:13] pele228 opened #220 "deeplabv3训练报错"
AIStudio 跑deeplabv3p_xception65模型， 完全相同的训练代码和数据，昨天可以跑。今天报错如下：
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py:782: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "pdseg/train.py", line 518, in <module>
    main(args)
  File "pdseg/train.py", lin

[2020-04-13 12:27] pele228 commented on #220
再次运行train.py  报错内容变了

W0413 20:26:37.877521   587 init.cc:217] *** Aborted at 1586780797 (unix time) try "date -d @1586780797" if you are using GNU date ***
W0413 20:26:37.879534   587 init.cc:217] PC: @                0x0 (unknown)
W0413 20:26:37.879813   587 init.cc:217] *** SIGSEGV (@0x1170) received by PID 530 (TID 0x7fd978a6e700) from PID 4464; stack trace: ***
W0413 20:26:37.881501   587 ini

[2020-04-13 14:29] #220 closed, assigned to nobody

[2020-04-14 03:03] LutaoChu commented on #219
是的，lbl应该是numpy的数组，不应该是tuple。
你可以检查一下是否是line 72这个函数的输入不对导致的
`lbl = labelme.utils.shapes_to_label(
                img_shape=img.shape,
                shapes=data['shapes'],
                label_name_to_value=class_name_to_id,
            )`

[2020-04-14 03:10] LutaoChu commented on #216
你有运行数据配置校验吗？check.py，可以看下是否能通过

[2020-04-14 03:45] jaffe-fly opened #221 "paddleslim如何执行这一步"
![image](https://user-images.githubusercontent.com/49515380/79183868-43967b00-7e45-11ea-91bc-c2ed43cca260.png)

训练完的best_nodel下保存很多参数，但是怎么转换成train_prog?train_prog?

[2020-04-14 06:30] LielinJiang commented on #217
抱歉，icnet暂时不支持在cpu上训练和评估。
![image](https://user-images.githubusercontent.com/50691816/79193038-6bdda400-7e5c-11ea-8c5c-f7b45e51a714.png)

[2020-04-14 14:39] jaffe-fly commented on #217
上面就是在GPU上做的评估，不清楚为什么报错开始为什么还是CPU_NUM

[2020-04-15 01:50] jaffe-fly commented on #217
在命令中加了一个 --use_gpu    重新运行还是报错的

----------------------
Error Message Summary:
----------------------
Error: Cannot open file saved_model/icnet_optic/best_model/st4_1_branch_layer_1_2_conv2_bn_variance for load op at (/paddle/paddle/fluid/operators/load_op.h:38)
  [operator < load > error]

[2020-04-15 01:53] LielinJiang commented on #217
这个一般是路径问题，检测一下这个路径是否存在。icnet中好像没有这个参数，你自己修改了网络？

[2020-04-15 01:53] jaffe-fly commented on #217
问题解决 还是命令行参数错误，TEST.TEST_MODEL后面的地址和hrnet_optic.yaml中的地址不一样导致的

[2020-04-15 01:53] #217 closed, assigned to nobody

[2020-04-15 01:59] jaffe-fly commented on #174
解决办法：

在程序运行的前面添加如下代码

os.environ[‘FLAGS_eager_delete_tensor_gb’] = “0.0”

主要作用是 GPU memory garbage collection optimization flags

另外 网上的其他办法做一个总结

1 如果是在多卡的环境下运行的出现错误
可以设置
CUDA_VISIBLE_DEVICES=“0” #后面是显卡编号，确保程序在这张显卡上运行

2 如果是在自己写的代码下运行报错
一定要开启model.eval()

[2020-04-15 01:59] #174 closed, assigned to sjtubinlong

[2020-04-15 02:03] jaffe-fly commented on #221
大佬们 帮忙看看   如果自己用静态方法写网络 会有这个参数 但是用下面方法训练的 这个train_prog在哪儿
!python PaddleSeg/pdseg/train.py  --cfg PaddleSeg/configs/hrnet_optic.yaml

[2020-04-15 08:48] jaffe-fly commented on #206
大佬 怎么获取的卷积名称那一段，就是PRUNE_PARAMS: '和'PRUNE_RATIOS: []这两个参数怎么设置的，save_model下面的参数文件一堆

[2020-04-15 08:51] jaffe-fly commented on #201
由于之前网络的精度问题，我放弃了换成HRNET_W64，网络推理时间应该是没错的，要想提高就要配合slim实现了，所以不纠结这个时间了

[2020-04-15 08:51] #201 closed, assigned to sjtubinlong, LutaoChu

[2020-04-16 01:28] LielinJiang commented on #221
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/pdseg/train.py#L256, 这里就已经获取了tran_prog了，可以把上述截图的语句加在这个后面，就可以打印出网络的所有参数名和维度。

[2020-04-16 02:12] #221 closed, assigned to nobody

[2020-04-17 09:26] ljx111 commented on #216
非常感谢！问题已经解决了，我之前以为我的标签图片只有0像素和38像素所以类别为2，经过一番摸索后发现这样的类别数应为39。

[2020-04-18 14:56] LutaoChu commented on #216
不客气~ 设置为39是可以跑的。但如果想要更好的效果，可以把像素值38的部分替换为1，再把类别数设为2

[2020-04-20 02:08] rgbyuv opened #223 "修订类型不一致"
是的，lbl应该是numpy的数组，不应该是tuple。
你可以检查一下是否是line 72这个函数的输入不对导致的
`lbl = labelme.utils.shapes_to_label(
                img_shape=img.shape,
                shapes=data['shapes'],
                label_name_to_value=class_name_to_id,
            )`

_Originally posted by @LutaoChu in https://github.com/PaddlePaddle/PaddleSeg/issues/219#issuecomment-613200572_

通过调试，可以知道是类型没有转换导致。
1. labelme2seg.py 以及jing

[2020-04-20 04:11] LutaoChu commented on #223
感谢反馈！这两个脚本在之前的测试使用过程并没有出现这个问题。
请确定一下是不是标注流程的问题，是否按照这个教程来https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/docs/annotation/labelme2seg.md
如果标注流程没问题，请提供几张标注工具产出的json等文件，我这边检查下代码的问题。

[2020-04-20 09:48] rgbyuv commented on #223
调试过程：
脚本是版本库中tools目录下的labelme2seg.py，
Json文件是docs/annntoation/labelme_demo/中JSON文件，
但就是会报错‘tuple’ object han no attribute  'min' ,                                                                             查资料说是numpy自身有这个问题，可是在labelme源码库中调试正常，所以一起确认这个问题到底怎么导致的，谢谢!

[2020-04-21 03:50] rgbyuv commented on #223
lbl = labelme.utils.shapes_to_label( img_shape=img.shape, shapes=data['shapes'], label_name_to_value=class_name_to_id, )，
这个函数的使用方法有误，labelme.utils.shapes_to_label函数源码可以知道，返回值是直接返回多个值，不是包装成列表，或者元组，所以lbl就返回为元组。
修订为：lbl，_ = labelme.utils.shapes_to_label( img_shape=img.shape, shapes=data['shapes'], label_name_to_value=class_name_to_id, )就行了，
labelme2seg.py测试代码是怎么样？

[2020-04-21 11:32] LutaoChu commented on #223
找到原因了，因为labelme的版本升级导致的。之前的labelme返回的是单个numpy array，现在最新的labelme返回多个值。
感谢! 我们马上修复这个问题

[2020-04-21 13:14] #223 closed, assigned to nobody

[2020-04-21 13:14] #219 closed, assigned to nobody

[2020-04-21 15:52] lfxx commented on #92
您好， 想问一下TRAIN_CROP_SIZE的值理论上来说是不是越大训练效果越好。比如同样一个数据集，1024*1024是不是会比512*512更好一点？

[2020-04-22 04:56] LutaoChu commented on #92
理论上是这样的，只要不超过原图大小。

[2020-04-22 05:18] lfxx commented on #92
谢谢，还有三个问题望您能解惑：
1.如果训练集的图片分辨率均为3000*3000，TRAIN_CROP_SIZE选择1024还是512更好呢？
2.我理解的这几个参数的处理顺序：Resize到AUG.FIX_RESIZE_SIZE大小，然后再分训练和评估分别应用TRAIN_CROP_SIZE和EVAL_CROP_SIZE，这样理解对吗？但是在开发文档里有句话：`当AUG.AUG_METHOD为unpadding时，EVAL_CROP_SIZE的宽高应不小于AUG.FIX_RESIZE_SIZE的宽高`这句话不能理解，正常来说crop后的size小于原图size不是很正常的事吗?改成宽高不大于才正常吧？
3.在aug方式为unpadding时，TRAIN_CROP_SIZE并不能随意设置，应该是要不大于AUG.FIX_RESIZE_SIZE吧@LutaoChu

[2020-04-23 04:24] jaffe-fly opened #225 "多进程训练时 cfg.NUM_TRAINERS 和 cfg.TRAINER_ID"
如果设置
cfg.NUM_TRAINERS = 4
cfg.TRAINER_ID = 0，1，2，3
`        if self.shuffle and cfg.NUM_TRAINERS > 1:
            np.random.RandomState(self.shuffle_seed).shuffle(self.all_lines)
            num_lines = len(self.all_lines) // cfg.NUM_TRAINERS
            self.lines = self.all_lines[num_lines * cfg.TRAINER_ID: num_lines * (cfg.TRAINER_ID + 1)]
            self.shuffle_seed += 1`
上面代码中的self.lines 时怎

[2020-04-23 15:21] lesterhnu commented on #207
你好请问新版本 0.5.0有没有发布时间表

[2020-04-24 02:22] zhupengyang commented on #225
看代码应该是等分成NUM_TRAINERS份后分别取值

[2020-04-24 07:14] jaffe-fly commented on #225
后面那个切片没理解  自己写了个案列运行时报错的
因为cfg.TRAINER_ID = 0，1，2，3时是无法切片的

[2020-04-25 09:22] lfxx opened #226 "paddleseg下的这几个语义分割模型适合用来分割发丝吗"
用hrnet训练了一下，效果不是很理想

[2020-04-25 09:28] lfxx commented on #226
是否考虑增加一些抠图模型，这些模型对目标边缘精度会比较高，如Deep image matting等抠图方向网络模型@LutaoChu

[2020-04-26 02:23] LielinJiang commented on #225
在每个进程中，traner_id是等于0，1，2，3中的一个数的。比如进程1，那么trainer_id=0；进程2，trainer_id=1这样。

[2020-04-26 03:03] LutaoChu commented on #226
目前PaddleSeg中的语义分割模型不适合做如此精细的分割任务。我们也在考虑增加matting的模型，不过仍在摸索阶段，敬请期待！

[2020-04-26 03:05] lfxx commented on #226
嗯，目前百度的商用级语义分割的发丝分割效果也是很差．期待matting模型早日到来

[2020-04-28 11:53] xinchengyufei opened #228 "刚开始训练，一个莫名的报错"
你好,我在刚运行train.py ,就报错了,感觉莫名其妙的,重试了好几次,还是同样的错误..可以帮忙看看是什么原因嘛?
我的GPU的CUDA版本是10.1,
(pd) team2@idc7502-vm:~/YuFeigen/Picture-Segemen/PaddleSeg$ nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Apr_24_19:10:27_PDT_2019
Cuda compilation tools, release 10.1, V10.1.168

CUDNN版本:
(pd) team2@idc7502-vm:~/YuFeigen/Picture-Segemen/PaddleSeg$ cat /usr/local/

[2020-04-29 05:17] LielinJiang commented on #228
请问运行的命令是？

[2020-04-29 08:57] xinchengyufei commented on #228
我已经解决了，是直接杀死的上次训练过程，GPU没有直接释放，是显存不足的原因，谢谢

[2020-05-05 10:58] lartpang opened #231 "支持动态图编程"
Paddle出了动态图，不知这个仓库准备支持么？

我是通过在这个仓库里搜索相关关键字而得到的结论。

都没有内容返回：
* https://github.com/PaddlePaddle/PaddleSeg/search?q=dygraph&unscoped_q=dygraph
* https://github.com/PaddlePaddle/PaddleSeg/search?q=%E5%8A%A8%E6%80%81&unscoped_q=%E5%8A%A8%E6%80%81

[2020-05-05 12:03] wuyefeilin commented on #231
暂时不支持动态图，后续版本中将会对动态图进行支持，敬请期待！

[2020-05-05 12:41] lartpang commented on #231
OK，支持一波！

[2020-05-05 12:41] #231 closed, assigned to nobody

[2020-05-06 05:32] qczhang123 opened #232 "python预测部署出现问题"
训练结束后搭建python的预测时使用如下命令：
python deploy/python/infer.py --conf=F:/project/PaddleSeg-release-v0.4.0/freeze_model/deploy.yaml --input_dir=F:/data/TestData/images/test --use_pr=False
报如下错：
Traceback (most recent call last):
  File "deploy/python/infer.py", line 318, in <module>
    # run inference
  File "deploy/python/infer.py", line 300, in run
    # 3. do a inference on images
  File "deploy/python

[2020-05-06 06:22] #226 closed, assigned to nobody

[2020-05-06 06:39] wuyefeilin commented on #232
--use_pr=False 设置为True试一下 @qczhang123

[2020-05-11 02:03] Sunyingbin opened #236 "表盘识别"
我想知道怎样通过圆心定位、数字分类、角度估算处理得到最终的读数的方法，谢谢

[2020-05-12 03:22] littletomatodonkey commented on #236
您好，主要有以下几个步骤：

- 使用连通区域方法找到图像中最大表盘所在位置，只对其进行处理。
- 根据黑红指针的分割结果，基于最小二乘法拟合黑红指针所在直线，求其交点，视为表盘圆心。
- 基于局部自适应阈值分割算法，找到主刻度。
- 根据圆心与各个主刻度中心点所在的直线，以及示数分割结果，找到主刻度对应的示数分割图像。
- 根据标注的数字图像，进行分类模型的训练，并使用分类器进行数字识别。
- 根据刻度与圆心的角度与其数字识别进行二次校验。
- 找到与指针最近的两个主刻度，根据其角度与对应读数，计算得出黑红指针的角度。

[2020-05-12 05:38] Sunyingbin commented on #236
您好，请问有具体的代码说明吗？

[2020-05-12 10:02] FUQiaobo opened #240 "Fast-SCNN模型训练完后怎样预测和可视化？"

[2020-05-13 03:30] LielinJiang commented on #236
目前还没有

[2020-05-13 03:41] LielinJiang commented on #240
和分割库中其他模型的预测，可视化方法相同。可以参考：
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/usage.md
https://github.com/PaddlePaddle/PaddleSeg/blob/develop/turtorial/finetune_fast_scnn.md

[2020-05-13 06:11] Sunyingbin commented on #236
好的，非常感谢您的回答~ ：）

[2020-05-13 06:17] nigyiii opened #245 "Could you please share the configs of HRNet cityscapes?"
Hi, i found it hard to reproduce the results on cityscapes using HRNet w48. I trained the model with train set and mIoU is only about 70% on validation set. Can you share the config file(.yaml) of HRNet cityscapes?

[2020-05-13 06:26] nigyiii commented on #245
Below is my config.
这是我的配置
[code]

[2020-05-13 08:49] wuyefeilin commented on #245
@nigyiii
按照下面试一下：
[code]

[2020-05-20 13:58] InternetMaster1 commented on #245
@wuyefeilin  @ZeyuChen  @nigyiii

Is this HRNetV2-W18-SMALL-v2 from the [official library](https://github.com/HRNet/HRNet-Semantic-Segmentation)?

Official Library has mIoU of 76.2 on CityScapes for HRNetV2-W18-SMALL-v2

model | Train Set | Test Set | #Params | GFLOPs | OHEM | Multi-scale | Flip | Distillation | mIoU | Link
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
HRNetV2-W18-Small-v1

[2020-05-20 18:20] InternetMaster1 opened #259 "HRNetV2-W18-SMALL-v2 Support in HumanSeg?"
1. **HumanSeg**

I noticed that [HumanSeg](https://github.com/PaddlePaddle/PaddleSeg/tree/develop/contrib/HumanSeg) uses HRNetV2-W18-SMALL-v1.

Is it possible to use HRNetV2-W18-SMALL-v2 in the HumanSeg branch? @LutaoChu

2. **My Requirement**

I am looking to implement lightweight semantic segmentation on a mobile device for highly accurate human cutouts _(full body, not just portrait)_. I am loo

[2020-05-21 06:23] wuyefeilin commented on #259
@InternetMaster1
1. Is it possible to use HRNetV2-W18-SMALL-v2 in the HumanSeg branch?
     Yes， but you should write yourself train.py like HumanSeg one.

2. If you want to have a highly accurate human cutouts for full body, you should have a dataset about full body to training model.

3. HRNetV2-W18/bn is not the HRNetV2-W18-SMALL-v2

[2020-05-21 06:34] wuyefeilin commented on #245
We have answered in https://github.com/PaddlePaddle/PaddleSeg/issues/259.

[2020-05-21 06:35] wuyefeilin commented on #259
![image](https://user-images.githubusercontent.com/30919197/82530232-7122c280-9b6f-11ea-95b2-1a0365eaefeb.png)
The figure is the paraeters of  HRNet_w18_small_v1/v2 . You can set the parameters in models/HumanSeg/HumanSegMobile.
@InternetMaster1

[2020-05-21 07:01] InternetMaster1 commented on #245
Thanks

[2020-05-21 07:06] #245 closed, assigned to wuyefeilin

[2020-05-21 14:49] InternetMaster1 commented on #259
Dear @wuyefeilin

Thanks for the detailed replies.

1) Dataset :- Yes, I will make a dataset of full body images for training the model

2) HRNetV2-W18-SMALL-v2
To enable this, I have to change the following code in [HumanSeg/models/humanseg.py](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/contrib/HumanSeg/models/humanseg.py)

Current Code for : HRNetV1-W18-SMALL-v1

[code]

For Changing

[2020-05-21 15:13] #65 closed

[2020-05-22 08:45] HongChen123 opened #262 "paddleseg推断过程中出现异常"
Error in DL_InspImpl::ImgSegment_Proc 1.

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
Windows not support stack backtrace yet.

------------------------------------------
Python Call Stacks (More useful to users):
------------------------------------------
  File "C:\Users\ga\AppData\Local\Programs\Python\Py

[2020-05-22 09:11] wuyefeilin commented on #259
@InternetMaster1
2. Yes, it is right.
3. This configuration is not currently available
4. it can't implement OCR currently.  We will consider support for OCR in the future.

[2020-05-22 09:24] wuyefeilin commented on #262
The Problem can be resolved bu Using our latest repo in branch develop to export model.

[2020-05-22 16:30] InternetMaster1 commented on #259
@wuyefeilin Many thanks!

[2020-05-23 16:49] zhouhaitao1023 opened #263 "LabelMe标注好图片之后，使用labelme2seg无法生成真值图片"
我使用LabelMe标注好图片之后，使用labelme2seg生成真值图片，运行labelme2seg的时候报错，报错信息如下：
class_names: ('_background_', 'steel')
Saved class_names: D:\2\class_names.txt
Generating dataset from: D:\2\2020_5_15_13_19_46_995.json
Traceback (most recent call last):
  File "D:\PaddleSeg\pdseg\tools\labelme2seg.py", line 90, in <module>
    main(args)
  File "D:\PaddleSeg\pdseg\tools\labelme2seg.py", line 78, in main
    if lbl

[2020-05-23 19:57] InternetMaster1 commented on #259
Thanks a ton! :)

[2020-05-25 12:01] maxiaomu opened #265 "paddleseg在预测时，生不成图片"
我自己做的40张数据集，修改了paddlepaddle官网上的猫狗识别大战案例，但是总出问题，调试了两天不知道哪儿有问题。太痛苦了，想请教你一下。

![D~E77{XN%~%OI1%$Y2X$P{E](https://user-images.githubusercontent.com/19425758/82811015-609d7f80-9ec2-11ea-8094-167f093c4090.png)
![74J$7(` AYAG4S6`DHY_%I6](https://user-images.githubusercontent.com/19425758/82811035-6c894180-9ec2-11ea-9cda-9536e1552db7.png)
![@I7 7RDK`XUHJ ~YZ2EKP9J](https://user-images.githubusercontent.co

[2020-05-25 12:49] qiyuezhiguang commented on #263
find this line:  lbl= labelme.utils.shapes_to_label(
and change it to : lbl, _ = labelme.utils.shapes_to_label(
then it will works well.

——————————————————
支持paddle，支持国产

[2020-05-25 12:59] qiyuezhiguang opened #267 "A new problem in infer.py"
![image](https://user-images.githubusercontent.com/46549313/82814752-52ebf800-9eca-11ea-8487-23b7ec68e7b9.png)
I used the latest version, 2020.5.24, when the inference it shows the problem.
However, when I use the earlier, it works well

________________________________
支持paddle，支持国产

[2020-05-25 13:57] LutaoChu commented on #263
@qiyuezhiguang 感谢支持。你的方法是对的。
@zhouhaitao1023 labelme接口变更导致的问题，已经提交pr #266，等合入后pull最新代码即可修复该问题

[2020-05-25 14:21] zhouhaitao1023 commented on #263
非常感谢，我费了半天劲，用halcon写了一个生成真值图片的工具。已经用上了。

[2020-05-25 14:24] wuyefeilin commented on #267
![image](https://user-images.githubusercontent.com/30919197/82821303-6a30e280-9ed6-11ea-895d-bcf3cc2e0d92.png)
去掉这个就行了

[2020-05-26 02:20] #263 closed, assigned to LutaoChu

[2020-05-26 04:06] wuyefeilin commented on #265
把你的项目链接给我们一下，我们直接fork你的项目看看能不能复现。

[2020-05-26 12:25] xiaowuzilou opened #270 "自定义数据集配置出现问题"
自定义数据集配置检验时出现“fatal error：label class is out of range [0,1]”,该如何改进？

[2020-05-26 12:31] xiaowuzilou commented on #270
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (512, 512),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR': True,
         'RICH_CROP': {'ASPECT_RATIO': 0.33,
                       'BLUR': F

[2020-05-26 16:49] InternetMaster1 commented on #259
@wuyefeilin

Is it possible to increase priority of OCR implemetation?

I tested on the official library of HRNet and noticed that OCR on top of HRNetV2-W18-SMALL-v2 increases the mIOU by a good margin.

It will improve the segmentation accuracy.

[2020-05-26 16:50] InternetMaster1 commented on #259
HumanSeg on PaddleSeg is already an amazing library, and addition of OCR will make it all the more amazing! :)

[2020-05-26 19:00] InternetMaster1 commented on #259
Dear @wuyefeilin ,

I wish to train the HRNet HumanSeg-mobile model on a custom dataset with just person class (with format exactly like Supervisely person dataset). How to achieve this?

I do not wish to perform transfer learning on the existing pre-trained model containing Supervisely training.

How to get a blank model file for HumanSeg-mobile?

[2020-05-27 02:41] LutaoChu commented on #270
这说明你的自定义数据集标注不符合规范，从日志中可看出标注图片像素值为0~255，但num_class=2
如果你的类别是2类的话，需要将标注图片像素改为0和1

[2020-05-27 03:18] xiaowuzilou commented on #270
明白了，谢谢您------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;LutaoChu&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年5月27日(星期三) 上午10:41
收件人:&nbsp;&quot;PaddlePaddle/PaddleSeg&quot;<PaddleSeg@noreply.github.com&gt;;
抄送:&nbsp;&quot;xiaowuzilou&quot;<1345933573@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleSeg] 自定义数据集配置出现问题 (#270)

[2020-05-27 03:57] wuyefeilin commented on #259
Thank you for your suggestion. We will add OCR as soon as possible.

You can have the pretrain model from https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/model_zoo.md

[2020-05-27 04:57] InternetMaster1 commented on #259
Dear @wuyefeilin,

1) Thanks for putting OCR in the ToDo list

2) Which file to take, I am confused.

Which base model file was used by your team for training HumanSeg-mobile with HRNet on Supervisely Dataset?

[2020-05-27 06:31] wuyefeilin commented on #259
We train humanseg from scratch by hrnet. If you want to have a pretrained model to train hrnet, you can select relative model from the following.
![image](https://user-images.githubusercontent.com/30919197/83124276-93d15000-a108-11ea-9396-94bd1658b8cd.png)

[2020-05-27 10:00] InternetMaster1 commented on #259
@wuyefeilin

1. **Dataset for HumanSeg**
On what dataset is the "[humanseg_mobile_ckpt](https://paddleseg.bj.bcebos.com/humanseg/models/humanseg_mobile_ckpt.zip
)" trained on and for how many epochs?

2. **Where is HrNetV2-W18-Small-v2 (or V1) in Model Zoo?**
I checked the [model_zoo](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/model_zoo.md) page. On that page, the [hrnet_w18_image

[2020-05-27 19:00] InternetMaster1 commented on #259
@wuyefeilin

We really wish to use PaddleSeg/HumanSeg for our deployment and the library is amazing. If you could just help us out with the above questions, we would be most thankful..

[2020-05-28 09:48] wuyefeilin commented on #259
@InternetMaster1
1. We training the "humanseg_mobile_ckpt"  in our dataset. The dataset is not public.
2. HrNetV2-W18-Small-v2 has not pretrained model in Model Zoo. You can train it from scratch.
3. You can use the HumanSeg-mobile model in HumanSeg. But it is  HrNetV2-W18-Small-v1. I am sorry, there is not pretrained model of  HrNetV2-W18-Small-v2 in out repo. If you train from scratch, you may n

[2020-05-28 17:54] InternetMaster1 commented on #259
@wuyefeilin

Thanks for the detailed response. We will go ahead and use "HumanSeg-mobile" pre-trained model, it looks amazing.

In the near future, is it possible for you to upgrade HumanSeg-mobile to use "HrNetV2-W18-Small-v2" and then train this on your private dataset and provide a pretrained model for this? You could also add OCR to it to further improve accuracy

This would make "HumanSeg-mob

[2020-05-29 01:19] maxiaomu commented on #265
https://aistudio.baidu.com/aistudio/projectdetail/491628  刚看见，不好意思，麻烦你了

[2020-05-29 09:19] xiaowuzilou opened #273 "评估结果在哪里可以看到"
“模型训练完成，使用下述命令启动评估
python pdseg/eval.py --use_gpu --cfg ./configs/deeplabv3p_xception65_optic.yaml”
这个评估结果也没有发现生成的图片或文件，屏幕上也没有发现。请问在哪里可以看到？

[2020-05-29 13:41] qiyuezhiguang opened #274 "infer.py中的bug"
（1）132行中，if (ori_h != eval_crop_size[0] or ori_w != eval_crop_size[1]):，eval_crop_size[0]为宽，eval_crop_size[1]为高，应该修改为if ori_h != eval_crop_size[1] or ori_w != eval_crop_size[0]:

（2）117行中的im = cv2.imread(image_path, -1)，如果输入为RGB彩色图片，读入的为im为一维图层，并且会在channels = im.shape[2]处报错，应该修改为im = cv2.imread(image_path)，则读取3维RGB图像。

————————————
支持paddle   支持国产

[2020-05-29 14:20] qiyuezhiguang opened #275 "请教几个问题"
（1）在infer.py 里面 有两种模式，analysis和native，请问有什么区别，分别什么原理？
（2）预处理里面的MEAN和STD如何根据自己的数据定义，我的数据集几乎都是黑色背景，整体颜色偏黑，也是采用0.5吗？
（3）bn一般要求batch size>2，等于2的时候与gn相比会是谁更好一点呢？
（4）一些基本参数的设置，比如LR步长一般设置为多少，0.01？
非常感谢！

————————————————————
支持paddle   支持国产

[2020-05-30 11:57] wstchhwp commented on #265
你好，我想知道进展如何了？ @wuyefeilin

[2020-05-30 14:55] HOLLIZHAO commented on #188
感谢提示！已使用此方法cv2.findContours()实现！

[2020-05-30 14:55] #188 closed, assigned to sjtubinlong

[2020-05-31 06:09] FUQiaobo opened #276 "人像分割中利用Module生成的result结果怎样转化为图片可视化？"

[2020-06-01 02:20] LutaoChu commented on #273
评估结果会显示在命令行，包括miou、macc、kappa等等指标。不会生成图片或文件

[2020-06-01 08:31] JianJingGao opened #278 "新版本C++读取yaml某些字段demo yaml没有给出，请更新一下"
![image](https://user-images.githubusercontent.com/51236891/83390877-39e0cb00-a425-11ea-9a27-398be4b752fd.png)
目前发现的这个，应该还有别的，请对比同步下文档，谢谢啦

[2020-06-01 08:31] JianJingGao commented on #278
搬个板凳，等开发童鞋回复

[2020-06-01 08:56] JianJingGao commented on #278
然后我发现这个字段在PaddleDetection的yaml中存在，随我我就添加到humnaseg这个.yaml中，DetectionPreProcessor，运行，凉凉

[2020-06-01 09:00] JianJingGao commented on #278
随后调试把值赋为PRE_PROCESSOR: "SegPreProcessor"
继续单步，报错
![image](https://user-images.githubusercontent.com/51236891/83393422-567f0200-a429-11ea-9fc2-e871601e6f55.png)

[2020-06-01 09:31] LutaoChu commented on #275
（2）0.5是默认值，是针对人像场景统计出来的。mean、std最好是针对你的数据集进行统计
（3）理论上gn会好一些，gn在batch size小的时候更稳定
（4）根据不同模型、不同数据而定，需要尝试

[2020-06-01 09:42] Channingss commented on #275
@qiyuezhiguang
infer.py 的analysis，支持更多的优化，包括如OP的融合、内存/显存的优化、 MKLDNN，TensorRT 等底层加速库的支持等https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#a-name-analysispredictor-analysispredictor-a

[2020-06-01 12:27] LutaoChu commented on #274
(1)是的，eval_crop_size[0]为宽，eval_crop_size[1]为高，这地方我们修改一下，感谢反馈！
(2)还是得用 cv2.imread(image_path, -1)，因为cv2.imread(image_path)会忽略rgba的alpha通道。这边的问题我们通过另外的方式修复一下，感谢反馈！

[2020-06-01 12:47] InternetMaster1 opened #279 "HumanSeg-Mobile on Android"
@wuyefeilin

Is there a ready demo code to run "humanseg-mobile" on Android?

1. I checked the [Paddle-Lite](https://github.com/PaddlePaddle/Paddle-Lite) repo, but I don't seem to find ready demo.
2. I checked the [Android Demo](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/android_app_demo.html) docs & the [Paddle-Lite-Demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo) repo, but t

[2020-06-01 14:18] InternetMaster1 commented on #279
Do we have to convert from "humanseg_mobile_quant" to "nb" format?

I am confused?

[2020-06-01 14:37] JianJingGao commented on #278
继续蹲，在线蹲

[2020-06-01 15:51] xiaowuzilou commented on #273
您好！
&nbsp; 感谢您的解答回复。不过，我在“评估操作命令行”出现的界面上仔细检查过了，没有发现您说的评估结果。具体见《运行界面.docx》.
此外，在用visualdl查看训练结果时，出现"gbk”错误。如《错误界面.docx》中所示。
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbs

[2020-06-01 16:33] #274 closed, assigned to nobody

[2020-06-01 17:52] InternetMaster1 commented on #279
I used the following command format to convert the "humanseg_mobile_quant" to "nb" file using the opt tool

--model_dir=<model_param_dir> \--model_file=<model_path> \--param_file=<param_path> \--optimize_out_type=(protobuf|naive_buffer) \--optimize_out=<output_optimize_model_dir> \--valid_targets=(arm|opencl|x86|npu|xpu)

But its giving following error

2020-06-01 21:57:59.859 9360-9387/com.baidu.

[2020-06-01 19:54] InternetMaster1 commented on #259
@wuyefeilin

We took your pretrained "humanseg_mobile_ckpt" and then did further training on it on the mini-supervisely dataset, but after our training, the results became worse. Why should this happen?

Check the below table which contains results for

1. Original Images

2. Evaluate on pretrained "humanseg_mobile_ckpt"
This is based on hrnetv1 trained on your internal Baidu dataset

3. Evaluate

[2020-06-01 20:04] InternetMaster1 commented on #259
Any tips on how to further improve the results over the existing humanseg_mobile?

1. I tried training with more images on your pre-trained model, but it is spoiling things further. What to do next?
2. Does PaddlePaddle support Image Matting techniques?

[2020-06-01 23:26] xiaowuzilou commented on #273
(base) E:\PaddleSeg-develop>python pdseg/eval.py --use_gpu --cfg ./configs/unet_optic.yaml
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (512, 512),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'M

[2020-06-01 23:27] xiaowuzilou commented on #273
楼上是命令行界面，没有发现您提到的评估指标

[2020-06-02 01:17] xiaowuzilou opened #283 "训练可视化出问题怎么解决"
(base) E:\PaddleSeg-develop>visualdl --logdir train_log --host 10.2.173.206 --port 8888

UnicodeDecodeError: 'gbk' codec can't decode byte 0xad in position 11321: illegal multibyte sequence

[2020-06-02 03:25] wuyefeilin commented on #259
We just choose some samples form supervisely randomly. The mini_supervisely dataset is small, it used as a demo dataset for running the repo. you finetuning  it on the dataset, the result becoming worse is normal. May be you should finetuning the model on the whole supervisely dataset.

[2020-06-02 03:29] wuyefeilin commented on #259
You can change the --image_shape patameters. If you want to have a better result , you can try the HumanSeg-Server, or use HRNet_w48.

PaddleSeg can not support Image Matting techniques

[2020-06-02 03:29] #262 closed, assigned to nobody

[2020-06-02 04:03] wuyefeilin commented on #265
你没有发版，无法fork你的项目。按照官网的aistudio是可以跑通的，你检查一下路径是否设置正确，模型路径，数据集路径。
![image](https://user-images.githubusercontent.com/30919197/83478663-fd66ab00-a4c8-11ea-99ec-08dcf55c033e.png)
这边的模型路径不一样了

[2020-06-02 04:03] #267 closed, assigned to nobody

[2020-06-02 04:08] wuyefeilin commented on #276
可以参考运行infer.py脚本，默认可是话结果在./output/result 文件夹中

[2020-06-02 04:42] InternetMaster1 commented on #259
@wuyefeilin
1. I will train on full Supervisely and report back on the results.

2. I tried to do finetune the model with mini supervisely based on three input sizes. On 192, 512, 1024. But we noticed that on larger sizes the results were becoming much worse. 1024 was giving the worst results.
If I take your model which is trained on 192, and then I finetune on a bigger size, is it advisable? Or i

[2020-06-02 04:48] ShenYuhan commented on #283
您使用visualdl版本是多少，升级到最新版试试
[code]

[2020-06-02 05:04] wuyefeilin commented on #259
Finetuning on a bigger size is not problem . I suspect the problem lies in the dataset，our model is adapt better to The phone's front camera and vertical screen.

[2020-06-02 06:24] wstchhwp commented on #265
你好，我见好几个人都fork了，我调试总有问题 @wuyefeilin

[2020-06-02 06:24] wstchhwp commented on #265
现在可以fork了 @wuyefeilin

[2020-06-02 06:28] Channingss commented on #278
@JianJingGao 请问是什么模型呢？有参考文档的这部分吗，MODEL_PATH路径使用绝对路径。https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.5.0/deploy/cpp#42-%E4%BF%AE%E6%94%B9%E9%85%8D%E7%BD%AE

[2020-06-02 06:41] InternetMaster1 commented on #259
@wuyefeilin
Are you saying that the dataset should have more vertical images rather than horizontal?

Can you give some details about the private Baidu dataset.
- How many images are there?
- What is the average dimensions and aspect ratio of the images?
- You trained for how many epoch and what was your mIOU of best epoch?

This will help us make a similar custom dataset on which we will finetune

[2020-06-02 06:45] InternetMaster1 commented on #259
@wuyefeilin
Can you also help me with Android deployment. I am stuck on that PaddleLite error.

Thank you so much for your patience and all of your help

[2020-06-02 06:58] wuyefeilin commented on #265
你没添加文件，没办法运行，我看你在训练的时候，提示数据集路径找不到，检查一下你的train_list.txt是否设置正确
![image](https://user-images.githubusercontent.com/30919197/83489708-6d812b00-a4e1-11ea-81e7-7dba7691c9ba.png)

[2020-06-02 07:59] Channingss commented on #279
you can develop base on this demo, you need change .nb model, and custom preprocess and postprocess:
https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo

, please list  the opt tool version and command you used

[2020-06-02 08:37] InternetMaster1 commented on #279
@Channingss

1. The opt version is 2.6.1
paddlelite opt version:v2.6.1

2. Command used for conversion

[code]

![opt-error](https://user-images.githubusercontent.com/16253584/83498963-3b1fff80-a4da-11ea-97ee-890f8ec80aad.png)

I took reference from this link
https://paddle-lite.readthedocs.io/zh/latest/user_guides/opt/opt_python.html

[2020-06-02 09:45] InternetMaster1 commented on #279
@Channingss

There is one more problem..

I cloned the existing [Paddle-Lite-Demo ](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo) project from repository which is Portrait segmentation based on DeeplabV3+MobilNetV2.

On most devices the demo worked fine, but I am unable to run human segmentation on the below mobile device :

Device Co

[2020-06-02 09:52] InternetMaster1 commented on #279
@Channingss

What do you mean by "custom preprocess and postprocess:".

Can you give a link to the exact steps where these instructions are provided?

Do I have to edit anything in these files?
[Preprocess.java](https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/c1470c9179b0da34943b86e9bdfcdb812a01ce52/PaddleLite-android-demo/human_segmentation_demo/app/src/main/java/com/baidu/paddle/lite/demo/

[2020-06-02 12:54] wuyefeilin commented on #259
I mean that there are more vertical images than horizontal on our dataset. There are about 80000 images. I trained 100 epochs and learning_late 0.1, and you can also set a larger num_epochs, such as 200. The image size  is  between about 100 and 3800, and high is between about  [100, 4600]

[2020-06-02 14:06] InternetMaster1 commented on #259
@wuyefeilin

Wow that is amazing information. This will definitely help during our custom dataset creation for further fine-tuning your model.

I had a couple more question, if you are comfortable answering them.

1) The 80,000 images are the core images, or is this count achieved after data augmentation (rotation, etc).
2) The 80,000 images are unique images, or are created using foregrounds and

[2020-06-02 18:19] InternetMaster1 commented on #279
@Channingss

I have spent more than two days trying everthing, it's just not working for me. If you could give me exact steps, I would be most thankful.

[2020-06-03 02:39] wuyefeilin commented on #259
Sorry, I don not know exactly about the dataset maked. But the dataset is actually this big. I have not see the sign of data composition.

[2020-06-03 03:15] InternetMaster1 commented on #259
Many thanks @wuyefeilin

[2020-06-03 03:23] Channingss commented on #279
模型的OPT过程存在错误吗？
demo里面替换掉.nb模型文件，还需要对应OPT的版本替换Lite的预测库，参考：
https://github.com/PaddlePaddle/Paddle-Lite-Demo#%E6%9B%B4%E6%96%B0%E5%88%B0%E6%9C%80%E6%96%B0%E7%9A%84%E9%A2%84%E6%B5%8B%E5%BA%93

[2020-06-03 03:23] InternetMaster1 commented on #259
@wuyefeilin

I am still struggling with deploying humanseg_mobile on an Android device. I had imagined that it would be simple to make it run on Mobile device (since that is the important part of the library) but I am genuinely struggling. I have tried every step mentioned in the docs.

@Channingss has been most helpful and given some tips but it is still not working
https://github.com/PaddlePaddl

[2020-06-03 06:40] InternetMaster1 commented on #279
@Channingss

1) The OPT tool didn't give any error, the ,nb file was created successfully.

2) I was not aware how to replace the Lite prediction library. Let me try as per the link you have provided and I will get back to you in an hour or so.

Thanks a ton!

[2020-06-03 08:52] InternetMaster1 commented on #279
@Channingss

I was able to make the library run and the model is now loading. It is not giving error.

But it is not generating a mask on the image. Do I need to change anything further in [Preprocess.java](https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/master/PaddleLite-android-demo/human_segmentation_demo/app/src/main/java/com/baidu/paddle/lite/demo/segmentation/preprocess/Preprocess.java

[2020-06-03 08:56] InternetMaster1 commented on #279
Here are my exact steps :
1. I generated a model.nb file using opt version 2.6.1
2. I have put this above generated "model.nb file" in the assets folder
3. In String.xml, I changed the input shape default value as below (since humanseg_mobile is based on 192,192 size)
`<string name="INPUT_SHAPE_DEFAULT">1,3,192,192</string>
`
4. I updated the prediction library as per the [steps you gave](https://

[2020-06-03 12:16] Channingss commented on #279
you need to normalize you input image with mean and std,  at this code
https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/8b0c65203977615a90c43693ed3931a22311d3fd/PaddleLite-android-demo/human_segmentation_demo/app/src/main/java/com/baidu/paddle/lite/demo/segmentation/preprocess/Preprocess.java#L51

[2020-06-03 12:31] InternetMaster1 commented on #279
Dear @Channingss ,

The [current code at L51](https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/8b0c65203977615a90c43693ed3931a22311d3fd/PaddleLite-android-demo/human_segmentation_demo/app/src/main/java/com/baidu/paddle/lite/demo/segmentation/preprocess/Preprocess.java#L51) is

What should I change this to based on humanseg_mobile hrnet?

I am not too well-versed with Android, could you guide

[2020-06-03 17:54] InternetMaster1 commented on #279
Dear @Channingss

I tried to take reference from the "face_detection_demo" library which has some normalisation related code.

https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/c1470c9179b0da34943b86e9bdfcdb812a01ce52/PaddleLite-android-demo/face_detection_demo/app/src/main/java/com/baidu/paddle/lite/demo/face_detection/preprocess/Preprocess.java#L49

I tried a lot of combinations but nothing

[2020-06-04 03:50] qiyuezhiguang commented on #275
在训练的时候，在哪里可以设定mean和std呢，还是网络自动计算？

[2020-06-04 05:10] LutaoChu commented on #275
@qiyuezhiguang 在yaml中新增这两行就可以了，按需要修改mean、std
[code]

[2020-06-04 06:07] Channingss commented on #279
rgb[channelIdx[0]] - mean / std

[2020-06-04 07:09] InternetMaster1 commented on #279
@Channingss

I am still not getting the output.

I changed the code at [L51](https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/8b0c65203977615a90c43693ed3931a22311d3fd/PaddleLite-android-demo/human_segmentation_demo/app/src/main/java/com/baidu/paddle/lite/demo/segmentation/preprocess/Preprocess.java#L51) to the following

Old Code
[code]

New Code

[code]

I took mean and std values as 0.5f ba

[2020-06-04 07:11] InternetMaster1 commented on #279
Dear @Channingss

Would image normalisation solve the below problem?

_Originally posted by @zhupengyang in https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/66#issuecomment-638620745_

[2020-06-04 07:13] larryhu76 opened #285 "在PaddleSeg时，如何才能只用模型，不用预训练的参数"
在用PaddleSeg时，如何才能只使用模型，如U-NET,DeeplabV3+等，但是不用已经预训练好的参数，然后在自己的数据集上重新训练。

[2020-06-04 08:37] InternetMaster1 commented on #279
@Channingss

This is the output that I am getting, it is just a thin line of 1 x 192

![paddlelite-humansegmobile-output](https://user-images.githubusercontent.com/16253584/83732492-c1b71700-a669-11ea-9442-85bf48cc5a53.png)

I noticed one more thing.

**Original Demo  (based on deeplabv3/mobilenet)**

In case of the [existing android demo of human segmentation](https://github.com/PaddlePaddle/Padd

[2020-06-04 08:39] InternetMaster1 commented on #279
@Channingss

Based on the above attached mobel.nb file, are you able to run the Android demo on your side for humanseg_mobile?

[2020-06-04 09:08] Channingss commented on #279
rgb[channelIdx[0]]/255-0.5f)/0.5f

[2020-06-04 12:38] InternetMaster1 commented on #279
@Channingss

It is still not working for us.

Old Code:

[code]

New Code (Trial 1):

[code]

New Code (Trial 2):

[code]

What else could I be missing?

[2020-06-04 12:43] InternetMaster1 commented on #279
For updating the prediction library, I copied the pre-compiled files from this page
https://paddle-lite.readthedocs.io/zh/latest/user_guides/release_lib.html#android-toolchain-gcc

Arch | with_extra | arm_stl | with_cv | download
-- | -- | -- | -- | --
armv7 | ON | c++_static | ON | release/v2.6.1
armv8 | ON | c++_static | ON | release/v2.6.1

From the above two, l took these files. Is that correc

[2020-06-04 12:47] InternetMaster1 commented on #279
@Channingss

Is it possible for you to clone the current human segmentation android demo, and make the required changes as per humanseg_mobile and provide to me?

You are the expert in this domain. I am just scrambling.

It will be useful to the other users of PaddlePaddle too

[2020-06-05 03:29] wuyefeilin commented on #285
如果不使用预训练模型，TRAIN.PRETRAINED_MODEL_DIR参数不设置就行了。

[2020-06-05 08:49] Channingss commented on #279
@InternetMaster1 ok，I will handle it,  give me some time.

[2020-06-05 09:45] InternetMaster1 commented on #279
@Channingss

Thanks a lot

Please check this too
https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/66#issuecomment-639290420

[2020-06-07 14:57] InternetMaster1 commented on #279
@Channingss

Any updates? I would really like to use this amazing library on our Android app...

[2020-06-08 02:00] larryhu76 commented on #285
注释掉参数 TRAIN.PRETRAINED_MODEL_DIR 就可以了，感谢！

[2020-06-08 04:00] LutaoChu commented on #218
你好，这个问题已经在最新版本修复 #266 ， 更新代码即可

[2020-06-08 04:55] #285 closed, assigned to nobody

[2020-06-08 06:30] xiaowuzilou opened #288 "评估结果无法可视化，待解决"
eval.py代码里没有打点，不生成日志文档，无法得到评估结果。希望工程师可以解决一下这个问题

[2020-06-08 11:16] larryhu76 opened #289 "Paddle CheckPoint的保存问题"
在Tensorflow中，keras.callbacks.ModelCheckpoint(  monitor='loss',）回调中monitor参数可以指定模型保存的时机，比如loss表现更好的时候才保存模型；
但在Paddle中，只能按照TRAIN.SNAPSHOT_EPOCH 这个参数来保存模型；
请问是否有类似TF中的模型保存方案？

[2020-06-09 03:36] wuyefeilin commented on #289
如果开启边训练边评估的话，我们会保存miou最好的模型到best_model中

[2020-06-09 03:43] wuyefeilin commented on #288
在评估过程中，我们输出了iou的累进结果，评估结束后，会输出整个数据集的平均准确率，平均iou，以及各个类别的准确率，各个类别的iou, 还有kappa指标。

照理说我们已经给出了分割中比较全的评估指标，不知你能否更加详细的描述一下你的问题及需求？

[2020-06-09 03:56] xiaowuzilou commented on #288
请问你提到的结果是在哪里输出的呢？命令行里没有输出，也没有生成文档，请问你们的输出结果在哪里可以看到？

[2020-06-09 03:57] wuyefeilin commented on #288
命令行里

[2020-06-09 04:15] xiaowuzilou commented on #288
(base) E:\PaddleSeg-develop>python pdseg/eval.py --use_gpu --cfg ./configs/unet_optic.yaml
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (512, 512),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'M

[2020-06-09 04:16] xiaowuzilou commented on #288
上面是评估的运行结果，你说的是在这个命令行里看嘛？没有看到评估结果呢。。

[2020-06-09 06:30] wuyefeilin commented on #288
![image](https://user-images.githubusercontent.com/30919197/84113716-ad09c300-aa5d-11ea-847e-438d8f923969.png)
没有这个吗

[2020-06-09 07:05] xiaowuzilou commented on #288
deeplabv3+和u-net都没有

[2020-06-09 07:07] xiaowuzilou commented on #288
模型训练完成，使用下述命令启动评估

python pdseg/eval.py --use_gpu --cfg ./configs/deeplabv3p_xception65_optic.yaml
请问你发布的图片是在这行命令下面出来的嘛？如果是，我在本地跑的出来的是我粘贴的，没有出来你图片里的

[2020-06-09 07:09] wuyefeilin commented on #288
@xiaowuzilou
是的，你那边有报错吗？ 还是根本没跑起来？，

[2020-06-09 07:11] xiaowuzilou commented on #288
不报错，后面的可视化也能得到结果，就是不出评估结果

[2020-06-09 07:19] wuyefeilin commented on #288
程序有在运行吗？还是根本没有进行评估？我这边不能复现你的结果，没办法排查原因。你也可以把你的模型，配置，数据，运行命令打包一份给我，我看看能不能复现

[2020-06-09 07:30] xiaowuzilou commented on #288
程序在服务器上跑的，评估结果就是上面我粘贴的那样，deeplabv3+和unet都是那种形式，没有出现你截图里的结果。最后可以得到测试集的可视化结果，这算不算可以复现程序

[2020-06-09 07:33] wuyefeilin commented on #288
![image](https://user-images.githubusercontent.com/30919197/84119060-71272b80-aa66-11ea-825a-305f4e1f267e.png)
输出到这一行程序直接卡住了吗？还是运行结束了。 你也可以进入eval.py代码里面调试看看，是哪边卡住了

[2020-06-09 07:39] xiaowuzilou commented on #288
需要源码编译是吗

[2020-06-09 07:41] wuyefeilin commented on #288
不需要，直接就是python代码，你可以在代码中间插入print语句打印一些信息出来看看哪边出问题了

[2020-06-09 11:17] InternetMaster1 commented on #279
Dear @Channingss,

Any timeline for the Android demo for humanseg_mobile?

Just to update you, I have even been trying to solve the error with @zhupengyang in this issue https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/66#issuecomment-639290420

We tried to recompile the so and lib files too with additional commits to the Develop branch of PaddleLite, and also did additional changes to the

[2020-06-09 18:00] InternetMaster1 commented on #259
@wuyefeilin

We are trying to finetune your model by doing additional training on your existing humanseg_mobile_checkpoint model.

We downloaded [Supervisely Person dataset](https://supervise.ly/explore/projects/supervisely-person-dataset-23304/datasets) as well as [AISegment dataset](https://github.com/aisegmentcn/matting_human_datasets) but it is giving following error
at the time of evaluation.

[2020-06-10 02:57] yran1011 opened #291 "infer.py预测报错"
I0610 10:48:35.660418 30902 analysis_predictor.cc:138] Profiler is deactivated, and no profiling report will be generated.
I0610 10:48:35.693836 30902 analysis_predictor.cc:872] MODEL VERSION: 1.8.1
I0610 10:48:35.693872 30902 analysis_predictor.cc:874] PREDICTOR VERSION: 1.8.1
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph_clean_pass]
--- Running analysis [ir_analysis_p

[2020-06-10 05:01] larryhu76 commented on #289
哪个参数可以开启边训练边评估的？best_model的目录需要单独配置吗？

[2020-06-10 07:10] wuyefeilin commented on #289
python train.py --do_eval  开启边训练边评估。best_model不需要单独配置

[2020-06-10 07:12] wuyefeilin commented on #291
你是使用的哪个版本进行模型的导出和预测，以及你的运行命令也麻烦贴一下

[2020-06-10 07:21] yran1011 commented on #291
@wuyefeilin  paddle版本是1.8.1   运行命令:python deploy/python/infer.py --conf=freeze_model/deploy.yaml --input_dir=dataset/test

[2020-06-10 07:22] wuyefeilin commented on #259
The label value is not correct. In labeled images, 0 represent background while 1 represent the human. In aiseg dataset, the human mask is not 1. You can change it.

[2020-06-10 07:25] larryhu76 commented on #289
开启 --do_eval模式后，是多久保存一次的？TRAIN.SNAPSHOT_EPOCH这个参数还有效吗？

[2020-06-10 07:29] wuyefeilin commented on #289
TRAIN.SNAPSHOT_EPOCH 按照这个间隔进行保存

[2020-06-10 07:31] wuyefeilin commented on #291
PaddleSeg用的是哪个版本的，你可以用最新的版本进行模型的导出和预测

[2020-06-10 08:47] yran1011 commented on #291
@wuyefeilin 用最新的版本之后问题解决了,感谢!

[2020-06-10 08:47] #291 closed, assigned to nobody

[2020-06-10 09:26] larryhu76 commented on #289
“我们会保存miou最好的模型到best_model中”，这个best_model在哪个目录下可以看到？是在整个训练结束后再生成的吗？

[2020-06-10 09:55] wuyefeilin commented on #289
best_mode 在你模型的保存路径中，只要有模型开始保存就会生成best_model, 然后会根据每次评估的miou进行评估

[2020-06-10 10:16] larryhu76 commented on #289
我打开了 --do_eval，SNAPSHOT_EPOCH 设置为20,目前一训练了100多次，每20 个 Epoch可以看到对验证集的评估结果 和 保存的模型，但是没有看到 best_model保存下来。PaddlePaddle 框架是1.5.1, Python 3.7,是不是 Paddle框架版本太低了,还是哪里没配置好？

[2020-06-10 12:09] wuyefeilin commented on #289
你paddleseg用的版本什么版本

[2020-06-10 13:55] InternetMaster1 commented on #259
@wuyefeilin
1. In aiseg dataset, can you give some guidance on how to change this programmatically?
2. In supervisely also it's the same error?

[2020-06-11 02:10] larryhu76 commented on #289
是V0.3.0

[2020-06-11 02:12] larryhu76 commented on #289
是V0.3.0

[2020-06-11 03:05] wuyefeilin commented on #289
用最新版本

[2020-06-11 03:08] wuyefeilin commented on #259
@InternetMaster1
The label should be one channel image. In humanseg, 0 represent background while 1 represent the human.

[2020-06-12 03:10] larryhu76 commented on #289
升级到V0.50,可以保存到 best_model中，问题解决。

[2020-06-12 03:10] #289 closed, assigned to nobody

[2020-06-12 07:42] j2538318409 opened #293 "预测 vis.py 结果不正确问题"
亲爱的技术人员：
            经过预测时得到的结果全部为黑色的图片

[2020-06-12 09:46] InternetMaster1 commented on #259
@wuyefeilin

I have to make changes in the actual images of aiseg and supervisely, and not in code of paddle, correct?

[2020-06-12 10:05] j2538318409 commented on #293
全部按照你们官方教程走的基本没动，希望早点解决

[2020-06-15 03:33] ceci3 commented on #293
请问下是哪个模型？

[2020-06-15 03:39] wuyefeilin commented on #293
麻烦提供下你运行时候的配置，可以的话请提供一下你的运行日志, 我这边运行正常，请问你的模型训练收敛了吗，mIoU是多少？

[2020-06-15 03:44] wuyefeilin commented on #259
Yes, you should changes the label of dataset according https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/docs/data_prepare.md

[2020-06-15 05:33] j2538318409 commented on #293
默认的 unet 这个是你们配置文件里面写的

[2020-06-15 05:40] j2538318409 commented on #293
配置都是你们默认的  我都没动 loss收敛   我有一个问题 我想把电商图像的主体 单独扣出来 适合你们那个模型？

[2020-06-15 06:10] wuyefeilin commented on #293
@j2538318409 可以用于商品抠图，商品类别有限的效果好，类别不限的效果会差一些

[2020-06-15 06:11] wuyefeilin commented on #293
提供一下运行的日志吧，不然我没办法分析

[2020-06-15 09:34] Sunyingbin opened #294 "返回值如何截图"
你好，我用Deeplabv3+训练数据集之后，返回结果事一个label_map，请问我如何根据这个结果来截取图片的位置

[2020-06-15 12:01] wuyefeilin commented on #294
你是指进行抠图吗，如果是两类的话，0为背景，1为目标的话，你可以直接经过argmax，取第二通道的数据就是你想要的mask了

[2020-06-16 18:21] InternetMaster1 commented on #279
@Channingss

Any updates? It's been two weeks now....

[2020-06-19 08:29] lxk767363331 opened #296 "关于输入图片的问题"
我在使用4通道图片作为输入时 没有修改rgb 和通道数 ，但是运行没有报错， 想问一下 这种情况下输入图片输入的情况还是4通道么  参数如下：
图片：512*384*4
输入图片：512，512 stepscaling
# 图像镜像左右翻转
cfg.AUG.MIRROR = True
# 图像上下翻转开关，True/False
cfg.AUG.FLIP = True

[2020-06-19 08:59] wuyefeilin commented on #296
如果cfg.DATASET.IMAGE_TYPE = 'rgb', 会忽略掉第4通道，只读取前面三个通道的数据

[2020-06-19 16:08] KuntaHu opened #297 "RemoteSensing遥感影像分割，多波段train_demo.py报错"
您好，按照教程，将多波段转为npy格式保存好。同时配置好了数据文件格式。
因为输入有6个波段所以 训练时候 设置为--channel 6，然后运行train_demo.py
有如下报错：

2020-06-19 23:58:38 [INFO]	40 samples in file data/dataset/train.txt
2020-06-19 23:58:38 [INFO]	30 samples in file data/dataset/val.txt
W0619 23:58:39.167647  1220 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.0
W0619 23:58:39.171162

[2020-06-20 09:00] KuntaHu commented on #297
后来查明原因，是因为我自备的数据已经归一化了，然后transoforms里面的normalize报错。需要将数据集转为0-255，但是标注集还是0-1的单通道图片。这样就可以运行通过了。但是当我运行train_demo的时候（将数据换成自制的多通道数据），想fine-tune Unet模型时候，loss不下降，维持在1左右，同时IoU一直未0.5，kappa为-1。利用训练之后的模型预测结果都是0.

请问我改如何利用train_demo或者说remotesensing已经训练好的cloud分割的模型 去fine-tune迁移到我的数据集上？谢谢

[2020-06-22 11:56] Channingss commented on #279
@InternetMaster1 hi,  you need to modify this code :
`if(outputShape.length==4){
            outputImage = Bitmap.createBitmap(objectColor, (int)outputShape[3], (int)outputShape[2], config);
        }`
to:
`if (outputShape.length==4){
            outputImage = Bitmap.createBitmap(objectColor, (int)outputShape[2], (int)outputShape[1], config);
        }`

[2020-06-22 12:56] chang-png opened #298 "遥感影像语义分割"
能否提供一下数据装换为npy格式数据的过程，在转的过程中有一部分图片转换不了
，为什么

[2020-06-22 12:58] chang-png commented on #297
你好，能分享一下转换为npy格式的数据代码吗，我转换的数据中总有一部分呢数据没有转换，谢谢

[2020-06-22 13:32] HOLLIZHAO commented on #298
对于您自己的数据集，您需要按照上述的数据协议进行格式转换，可分别使用numpy和Pillow库保存遥感数据和标注图片。其中numpy API示例如下：

[code]

官方给的文档如上，我使用可以转换。tif转成npy文件。

[2020-06-23 01:34] chang-png commented on #298
想问一下，我有三通道的数据我用paddleseg里面的模型进行训练和用RemoteSensing训练有啥区别吗

[2020-06-23 02:17] KuntaHu commented on #298
这个模型的输入好像设定为npy数据，所以即使是三通道数据，也建议能够从tiff转到npy之后，进行训练

[2020-06-23 03:30] niuyuanye opened #299 "u-net支持修改Backbone为ResNet50么"

[2020-06-23 06:08] LutaoChu commented on #297
你好，请问你使用的版本是develop还是release/v0.5.0呢？推荐使用最新的develop版本
关于训练loss问题，应该是配置没有配对，可以提供一下你的train_demo脚本，我看一下。
关于预训练模型迁移，迁移学习需要确保数据波段数和预训练模型波段数相同才行。如果你的数据集跟cloud的波段数相同，可以直接fine-tune。如果你的数据集不大，建议直接训练。

[2020-06-23 06:16] LutaoChu commented on #297
以下是tif转为npy的代码，供参考：
[code]

最新的develop版本已支持tif、img、png、npy 4种格式，这4种格式的数据无需转换，可直接读取，推荐使用

[2020-06-23 07:09] HOLLIZHAO commented on #298
模型都是一样的。RemoteSensing是 PaddleSeg产业实践案例中的其中一个，包含了全流程的落地代码，有相关行业数据了就可以直接上手跑模型了，可以非常便捷地落地相关应用。

[2020-06-23 07:17] HOLLIZHAO commented on #298
最新的develop分支已经支持tif、img、png、npy 4种格式的直接读取，这四种格式的数据可以直接读取喂入，更加方便。😁

[2020-06-23 07:38] chang-png commented on #298
我就想问一下遥感影像能用paddleseg里面的模型去跑会不会有问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Holli"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月23日(星期二) 下午3:09
收件人:&nbsp;"PaddlePaddle/PaddleSeg"<PaddleSeg@noreply.github.com&gt;;
抄送:&nbsp;"暮冬-　Gentle°"<1731400493@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleSeg] 遥感影像语义分割 (#298)

想问一下，我有三通道的数据我用paddl

[2020-06-23 08:00] HOLLIZHAO commented on #298
遥感图像分割，目前业界落地用得比较多的模型有U-Net，HRNet等，paddleseg都有提供。目前用来做自动解译，效果很好，至少可以节约一半的人力成本。

[2020-06-23 08:04] chang-png commented on #298
我的意思使用paddleseg提供的deeplab等网络去训练遥感影像，有没有问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Holli"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月23日(星期二) 下午4:01
收件人:&nbsp;"PaddlePaddle/PaddleSeg"<PaddleSeg@noreply.github.com&gt;;
抄送:&nbsp;"暮冬-　Gentle°"<1731400493@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleSeg] 遥感影像语义分割 (#298)

我就想问一下遥感影像能用p

[2020-06-23 09:56] wuyefeilin commented on #298
@chang-png 只有你的标注符合标注协议，图像能利用opencv进行读取是可以利用pdseg下的模型进行训练的，pdseg下模型目前最多支持4通道的图像。你可以选择将遥感图像数据转换成jpg或png格式。

[2020-06-23 10:57] InternetMaster1 commented on #259
@wuyefeilin

Thanks. I was able to finetune on my custom dataset after converting the images to 0 and 1.

I had one more question.

Is it possible to perform [Data Augmentation](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/docs/config.md) in humanseg library? How to achieve this?

1. Do I have to make changes to the[ code in train.py ](https://github.com/PaddlePaddle/PaddleSeg/blo

[2020-06-23 13:22] HOLLIZHAO commented on #298
完全没问题！👍👍👍

[2020-06-24 02:24] wuyefeilin commented on #259
Yes, you can change the train_transform in train.py if you want to perform other data augmentations。 You can add the data augmentations in [tranforms.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/contrib/HumanSeg/transforms/transforms.py).

It can not add data augmentation by  HumanSeg train command.

[2020-06-24 03:54] InternetMaster1 commented on #259
Many thanks @wuyefeilin, I will try this out.

[2020-06-24 04:21] sixcheng opened #301 "用其他数据训练时出错"
通过其他数据，在运行到一半的时候出现以下错误
2020-06-24 12:16:31 [INFO]	[TRAIN] Epoch 5 finished, loss=0.058296, lr=0.000584 .
2020-06-24 12:16:31 [INFO]	Start to evaluating(total_samples=1500, total_steps=188)...
  0%|                                                      | 0/188 [00:00<?, ?it/s]share_vars_from is set, scope is ignored.
  0%|                                                      | 0/188 [00:00<?, ?it/s]

[2020-06-24 08:20] wangchaochaohu commented on #299
不支持配置自动修改  需要手动修改代码

[2020-06-24 09:25] chenwhql commented on #301
ValueError: row index exceeds matrix dimensions，是数据的格式存在问题吗

[2020-06-24 09:44] niuyuanye commented on #299
那除了看u-net部分的代码外有可以参考的东西么？

[2020-06-25 04:57] KuntaHu commented on #297
您好，我尝试使用develop版本，但是与0.5.0版本不同之处在于使用了gdal。采用conda安装一直失败，如下报错：

ERROR conda.core.link:_execute(637): An error occurred while installing package 'conda-forge::parso-0.7.0-pyh9f0ad1d_0'.
PermissionError(13, 'Permission denied')
Attempting to roll back.

Rolling back transaction: | WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(140): Could not remove or rename /opt/conda/lib/python3.6/si

[2020-06-27 06:23] flyinggx opened #302 "用自己的数据时出现维度问题"
2020-06-27 13:36:28 [INFO]	12 samples in file work/PaddleSeg/contrib/RemoteSensing/dataset/building/train.txt
2020-06-27 13:36:28 [INFO]	8 samples in file work/PaddleSeg/contrib/RemoteSensing/dataset/building/val.txt
2020-06-27 13:36:28,649-INFO: If regularizer of a Parameter has been set by 'fluid.ParamAttr' or 'fluid.WeightNormParamAttr' already. The Regularization[L2Decay, regularization_coeff=

[2020-06-28 02:02] zhupengyang commented on #302
能把自己的数据先转换成单通道的格式吗？

[2020-06-28 12:04] chang-png opened #303 "paddleseg项目中的hrnet,出现以下问题，怎么解决"
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (512, 512),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR': True,
         'RICH_CROP': {'ASPECT_RATIO': 0.33,
                       'BLUR': F

[2020-06-29 02:09] nepeplwu commented on #301
@sicccs 从报错堆栈来看应该是验证集数据的格式可能有问题，麻烦先检查下数据

[2020-06-29 02:11] sixcheng commented on #301
数据格式错误，已经更改，谢谢

[2020-06-29 02:11] sixcheng commented on #301
数据格式错误，已经更改，谢谢

[2020-06-29 02:11] nepeplwu commented on #299
@niuyuanye 你是想提升unet模型的精度吗？如果是的话，建议使用deeplabv3+这个模型，可以选择xception或者mobilenet两种backbone

[2020-06-29 02:12] #301 closed, assigned to nobody

[2020-06-29 02:31] nepeplwu commented on #297
@KuntaHu
1. Unet不支持backbone切换，hrnet可以切换不同大小的结构，在创建model时指定不同state的channel数量和module数量就行
接口参数见：https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/contrib/RemoteSensing/models/hrnet.py#L47

2. model.train接口有一个use_vdl的参数，设置为True会自动记录日志文件，接着可以通过visualdl的命令启动一个前端页面查看训练日志

[2020-06-29 02:33] nepeplwu commented on #303
@chang-png ，从报错日志来看像是验证集的数据格式不对导致的问题，麻烦先检查下数据格式是否正确

[2020-06-29 02:42] #228 closed, assigned to nobody

[2020-06-29 02:55] chang-png commented on #303
数据格式不会有问题，和训练集一起随机划分的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"wuzewu"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月29日(星期一) 上午10:33
收件人:&nbsp;"PaddlePaddle/PaddleSeg"<PaddleSeg@noreply.github.com&gt;;
抄送:&nbsp;"暮冬-　Gentle°"<1731400493@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleSeg] paddleseg项目中的hrnet,出现以下问题，怎么解决 (#303)

@chang-

[2020-06-29 03:10] wuyefeilin commented on #303
类别数是30， 类别标签应该是0， 1， 2， .., 29。 你应该是还有标签大于29的。 计算类别数需要包括背景类别

[2020-06-29 03:10] nepeplwu commented on #302
@flyinggx 感觉你的label数据有问题，不是单通道图片，麻烦试试下面的代码，看看输出是什么
[code]

[2020-06-29 03:30] chang-png commented on #303
我是用矢量数据切割的，不存在背景的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"wuyefeilin"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月29日(星期一) 中午11:10
收件人:&nbsp;"PaddlePaddle/PaddleSeg"<PaddleSeg@noreply.github.com&gt;;
抄送:&nbsp;"暮冬-　Gentle°"<1731400493@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleSeg] paddleseg项目中的hrnet,出现以下问题，怎么解决 (#303)

类别数是30，

[2020-06-29 06:29] wuyefeilin commented on #303
@chang-png 检查一下类别标签是否符合要求。矢量数据切割是什么意思，能说明一下吗，

[2020-06-29 08:50] flyinggx commented on #302
@nepeplwu 果然是label问题，print出来是RGB，三通道，那我应该如何修改呀？是在运行的时候指定channel=3嘛？这个我试了，还是报同样的错误，小白求指教，敬谢！

[2020-06-30 01:13] lxk767363331 opened #305 "关于paddlseg网络修改问题"
你好，最近尝试了使用 senet  acnet 进行修改hrnet 得到的指标远低于hrnet，还有一些在unet上的一些改进，仿照torch代码进行了改写，但是unet的结果仍然不好，所以存在疑问，网络中的一些初始化是不是仅限于当前网络，如果结构改变相应的东西全部都要改变。这是第一个问题。
第二个问题是，我尝试在hrnet上加空洞卷积 aspp 等方式 均没有得到有效的提升，请问有什么指导性的建议么？

[2020-06-30 02:50] wuyefeilin commented on #305
非常欢迎你对网络进行一些新的尝试并提出分享。首先要明确的是，对网络的修改很难说就能得到比较好的效果，往往需要不断的尝试，另外不同的网络，适合的训练方式也是不大一样，这些都是需要大量尝试的。非常欢迎提出新的想法。

空洞卷积和aspp目的是在不下采样的情况下获得比较大的感受野， 而hrnet本身就是high resolution net， 所以加上空洞卷机和aspp很难再有效果上的提升，看网上hrnet+ocr效果还是有比较明显的提升， 你这一块可以尝试尝试， 我们这边也在尝试， 欢迎一起分享。

[2020-06-30 03:03] nepeplwu commented on #302
@flyinggx ，运行的时候指定channel=3是没用的，那个设定的是输入图片的channel数量。label必须为单通道图片，你需要将所有label从三通道转为单通道图片

[2020-06-30 03:06] lxk767363331 commented on #305
好的，谢谢建议，以前尝试了gsc加入到HRNET也失败了。刚想到我前几天尝试使用可变形卷积在HRNet中 但是 结果反而下降，我放在的是HRNet最后一个阶段，4个分支中 4次block_num中倒数第1层 倒数第3层，想问一下 ，如果使用可变性卷积，他的位置，一般放在什么位置，原文中选择的是res5abc的倒数第三层。
我的数据集在hrnet上的最好IOU是0.875，高于unet与deeplab， 请问着算高么，是不是因为数据没有那么复杂，使用更复杂的网络结构反而得不到好的结果？

[2020-06-30 08:58] wuyefeilin commented on #305
可形变卷积一般放在后面几个卷积中，当然你也可以把所有的卷积都替换成可形变卷积，作者在第二个版本中提到将所有的卷积替换成可形变卷积在比较复杂数据集上还是有所提升的。

IoU的高低还是得看数据集的复杂程度，你可以可视化看一下效果是否达到你的要求，同时跟你的标注也是有比较大关系的。

[2020-06-30 09:52] j2538318409 commented on #293
@wuyefeilin 前几天来了个其他的项目 之前在忙它  现在加载配置文件我加载deeplabv3p_xception65_optic.yaml这个文件 模型还了 就可以处理了 但是效果看起来很模糊 正常我们训练周期数应该是多少？ 还有我现在要进行到自定义数据把电商类型处理一下，有好的建议吗？还有的就是 后期怎么i提供的有增量学习的接口吗

[2020-06-30 09:53] j2538318409 commented on #293
感谢你的耐心解答！尊敬的技术员

[2020-06-30 11:38] wuyefeilin commented on #293
一般训练个100到200就基本差不多，在网上效果肯能不会有明显的改进，当然跟你的数据量也有关，数据量多的话，epochs数可以少一些，数据量少的话可以多一些轮数助于网络学习。

你可以直接用deeplabv3+ xception65 backbone进行训练。

有增量学习的接口的指什么？

[2020-07-01 02:02] j2538318409 commented on #293
也不是 我用的是你们开源的数据眼底细胞的 但是训练出来的模型处理预测数据时主题部分还是不能完全的抽出，看似效果一般。后期我们新增数据和label的话在原始模型上做增量训练的时候咱们是否提供的有方法

[2020-07-01 02:51] wuyefeilin commented on #293
给我看一下你的结果还有你的训练日志，我看看哪边可以改进的，一般这个数据集mIoU是可以达到90%左右的。

如果新增数据的话可以在原始的模型上进行微调，咱们这边没有提供其他的方法，你也可以把所有的数据合在一起进行微调。

[2020-07-01 02:57] j2538318409 commented on #293
-----------------------------
3. Check test dataset...
STREAM b'IHDR' 16 13
STREAM b'PLTE' 41 768
STREAM b'IDAT' 821 464
STREAM b'IHDR' 16 13
STREAM b'PLTE' 41 768
STREAM b'IDAT' 821 645
STREAM b'IHDR' 16 13
STREAM b'PLTE' 41 768
STREAM b'IDAT' 821 520
STREAM b'IHDR' 16 13
STREAM b'PLTE' 41 768
STREAM b'IDAT' 821 527
STREAM b'IHDR' 16 13
STREAM b'PLTE' 41 768
STREAM b'IDAT' 821 565
STREAM b'IHDR'

[2020-07-01 03:00] j2538318409 commented on #293
如果是微调的话 咱们模型的类别我应该是可以增加或者是减少的吧，而且我还有问题 就是如果我吧模型训练好了 我正常开发api服务 服务于我抠图的项目 但是我看怎么的vis是在配置文件里面指定好的 这部分我应该怎么处理

[2020-07-01 06:11] j2538318409 commented on #293
您可以给我您的联系方式吗  我这对于自定义数据集有很多不解的地方 方便沟通

[2020-07-01 06:24] wuyefeilin commented on #293
@j2538318409 加我微信cgw642982169

[2020-07-02 04:12] InternetMaster1 commented on #259
Dear @wuyefeilin ,

I tested by changing the [code in train.py](https://github.com/PaddlePaddle/PaddleSeg/blob/4bc70d817d5fb448ee26db39bd3e321b13c08052/contrib/HumanSeg/train.py#L114) as per below and it is working smoothly

**Current Code**
[code]

**New Code**

[code]
I had a few questions :-

1) Are my selection of transformations a good choice for the task of human segmentation?

2) I wish to

[2020-07-02 09:24] wuyefeilin commented on #259
1.  Generally, only one of ResizeStepScaling and Resize will be chosen in train_transforms.
If `ResizeStepScaling` is chosen, the `eval_transform` should be as  shown below.
[code]
The `args.image_shape[0]` should equal the largest width of images in dataset, and the `args.image_shape[1]` should be the largest height.
If `Resize` is chosen, the eval_transform should be as  shown below.
[code]

2.

[2020-07-02 09:50] InternetMaster1 commented on #259
Many thanks @wuyefeilin

Much appreciated!

[2020-07-02 11:35] flyinggx commented on #302
感谢，确实是通道问题，目前已经解决。

[2020-07-02 18:37] InternetMaster1 commented on #259
@wuyefeilin

In a custom dataset to finetune on your model, what should be percentage of Train and Val folders?

Was humanseg trained on 80 and 20 percent ratio?

[2020-07-03 06:31] wuyefeilin commented on #259
It's almost 80% to 20%

[2020-07-03 07:41] ZeyuChen commented on #298
@HOLLIZHAO 感谢HOLLI同学的回复支持 :)

[2020-07-03 09:44] lky-bit opened #307 "使用deeplabv3p_xception65_bn_coco预训练模型训练完成，对验证数据进行验证时，运行eval.py 出现：ValueError: row index exceeds matrix dimensions"
软件环境：paddle1.7  python3.7

[2020-07-03 09:47] lky-bit commented on #307
现在是在aistudio上跑的，V100

[2020-07-04 04:33] LiKangyuLKY commented on #142
您好，我最近有个表盘巡检的项目，之前一直用tf做，这次准备换成飞桨试试，方便加个微信吗（18500485183）？想跟您这边详细了解一下百度之前的案例

[2020-07-04 05:18] ZeyuChen commented on #142
@LiKangyuLKY 好的，我让我们的PM同学跟您联系，我们拉群沟通。

[2020-07-06 03:21] wuyefeilin commented on #307
这个错误一般是你的标注图片的数值大于等于你的类别数造成的，请检查一下标注图片的标签数值。设置正确的类别数。如果类别数等于n, 则标签数值应该取0，1，2，...，n-1.

[2020-07-06 04:58] shuhan666 opened #308 "在训练模型时报了这个错Error: Blocking queue is killed because the data reader raises an exception"
Error: Blocking queue is killed because the data reader raises an exception
[Hint: Expected killed_ != true, but received killed_:1 == true:1.] at (D:\1.8.1\paddle\paddle/fluid/operators/reader/blocking_queue.h:141)
[operator < read > error]
W0703 11:51:43.316778 16908 operator.cc:187] read raises an exception class std::future_error, no state
F0703 11:51:43.316778 16908 exception_holder.h:37] std

[2020-07-06 05:10] wuyefeilin commented on #308
你修改过代码吗？你这是在什么情况下运行报错的，是训练，预测还是预测部署？然后你用的是哪个版本的

[2020-07-06 05:22] shuhan666 commented on #308
我没有修改过代码，用的是那个快速入门里面的代码，然后数据是自己本地的，调整了参数，然后版本应该是0.5？这个是在训练的时候报错的，数据校验的时候好像没啥问题（我也不是特别懂）

[2020-07-06 05:50] shuhan666 commented on #308
我没有修改过代码，用的是那个快速入门里面的代码，然后数据是自己本地的，调整了参数，然后版本应该是0.5？这个是在训练的时候报错的，数据校验的时候好像没啥问题（我也不是特别懂）

[2020-07-06 06:15] wuyefeilin commented on #308
你是根据这个[教程](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/docs/usage.md)在自己电脑上运行的吗？然后你训练日志也提供一下

[2020-07-06 07:20] shuhan666 commented on #308
是的，是这个教程，但是不好意思我不太清楚训练日志是什么（对不起我太菜了）

[2020-07-06 07:40] wuyefeilin commented on #308
你先根据我们提供给的示例数据集跑一遍教程，初步了解我们的运行过程，然后你也看一下我们的数据结构，你再根据我们的示例数据的格式替换自己的数据集就行了。

[2020-07-06 08:05] shuhan666 commented on #308
啊对不起我在下载你们的数据时有报这个错，能问问这是为什么吗，是Python版本的问题吗

  File "dataset/download_optic.py", line 1
SyntaxError: encoding problem: utf8

[2020-07-06 10:18] wuyefeilin commented on #308
我这边运行正常，你把这一行删除了试试，不行的话你你直接自己下载解压数据集https://paddleseg.bj.bcebos.com/dataset/optic_disc_seg.zip

[2020-07-06 10:54] InternetMaster1 commented on #259
@wuyefeilin

Ok, we also took 80% 20%

I had a question regarding inference :-

Currently if I run the infer.py script to get segmentation of one image, it loads the model, CUDA, etc and then gives the results. Then if a user requests for another image, then I again run infer.py for the next image. And again it loads model, CUDA, etc. This takes up too much time.

I want to load the Model and CUDA

[2020-07-06 11:30] wuyefeilin commented on #259
you can change the predict function in infer.py according you requirment.

[2020-07-06 12:50] InternetMaster1 commented on #259
Ok thanks, let me try it out

[2020-07-07 04:08] lxk767363331 opened #309 "关于网络修改的问题"
看到icnet的多路输出，想在其他模型中使用，有一下问题：
1.最后的损失是加和，那反向传播的时候也会多路反向传播，然后梯度叠加么？
2.多路损失权重设置一般是什么样的，看icnet是【1.0,0.4,0.16】
3.尝试在改进的unet上使用 ["lovasz_softmax_loss","softmax_loss"] 比重是0.2 0.8，但是没有效果上的提升，请问这样的原因是不是数据集本身（本身数据分布不均匀小目标存在的数据较少，不过整体的数据也很少）的复杂程度对于模型来说较简单，普通的softmax_loss就能起到很好的作用，但是我在hrnet上使用就会得到一个明显的改善，这里是不是因为特征丢失的原因 还是说有其他的代码反面的原因我不清楚，望解答，感谢！！！

[2020-07-07 13:56] #305 closed, assigned to wuyefeilin

[2020-07-08 03:18] lxk767363331 opened #310 "关于seg中loss.py的问题"
在seg中设置动态权重中有这样一段代码，weight / fluid.layers.reduce_sum(weight)已经得到各个比例的权重了，，不理解为什么要*num_classes，望解答 谢谢

https://github.com/PaddlePaddle/PaddleSeg/blob/4bc70d817d5fb448ee26db39bd3e321b13c08052/pdseg/loss.py#L61

weight = weight / fluid.layers.reduce_sum(weight) * num_classes

[2020-07-08 07:07] wuyefeilin commented on #310
正常情况下使用交叉熵，每个类别的系数都是1，系数和为num_class, 因此为了保证权重的和等于num_classes进行了*num_class操作。比如两个类比像素数是1:3， 则weight = weight / fluid.layers.reduce_sum(weight) * num_classes  = [3/4， 1/4] * 2 = [3/2. 1/2].

[2020-07-08 08:03] wuyefeilin commented on #309
1. 多路损失产生的梯度是会进行叠加的

2. 像icnet这样的多路损失的权重设置主要也是看网络更注重哪一路的损失，具体取值需根据网络的具体情况而定

3. 损失函数的组合并不一定比单个loss更好。另外loss的选择也跟数据集的复杂程度和分布情况有关，类别分布较均匀的情况下，softmax-loss往往就能取的不错的效果，这时候在进行loss组合不见得有效果上的提升。`hrnet上使用就会得到一个明显的改善`，具体的对比实验是怎么样的，效果提升多少？

[2020-07-08 08:07] lxk767363331 commented on #309
在hrnet上的实验上 miou从0.8453能提到0.8675这个水平。然后我在我改进的网络（基于unet上的加上了注意力）上使用["lovasz_softmax_loss","softmax_loss"] 就没有改善了。是不是受限于我网络本身的性能了。

[2020-07-08 08:14] wuyefeilin commented on #309
能给一下hrnet对比实验的具体细节吗？ 损失函数组合的权重本身也是有影响的。如果参数没有影响的话，有可能是网络本身的原因。你可以具体做一下"lovasz_softmax_loss"和"softmax_loss"的对比实验，单独看看不同损失函数产生的影响，然后进行不同损失函数的组合，做进一步的比较，才能做最终的结论

[2020-07-08 08:18] lxk767363331 commented on #309
好的，我在PaddleSeg/configs/lovasz_softmax_deeplabv3p_mobilenet_pascal.yaml中到loss是["lovasz_softmax_loss","softmax_loss"]，以为lovasz_softmax_loss不能单独使用呢。
我马上做一下对比实验 再观察一下结果

[2020-07-08 10:07] InternetMaster1 commented on #259
Dear @wuyefeilin

I had a training related question.

I am looking to finetune the "humanseg_mobile_ckpt" model and improve upon it by further training on a large custom dataset.

### **Training for 100 epoch**

- I started training on my custom dataset with 100 epoch
- Used --pretrained_weights as your checkpoint "pretrained_weights/humanseg_mobile_ckpt"
- Below is the command for the same

`pyth

[2020-07-08 10:17] wuyefeilin commented on #259
1. The Epochs should be set from begining. If you resume training, the epochs should not be changed.

2. Yes, you can use the "output-final/epoch_95" as pretrained model, and train from begining.

3. Dataset is different. There is no comparison about mIoU. You can change the super params to train a better model

[2020-07-08 11:24] InternetMaster1 commented on #259
Dear @wuyefeilin ,

Thanks for the clarity. Ok, I will retrain from scratch with higher epoch from the beginning itself.

1) Can you shed some light about "super params"? What do you mean by that, in which file to set these values, and on what basis should they be set?

2) On your Baidu dataset, during training, the best mIOU was for which epoch?

Thanks

[2020-07-09 02:08] #302 closed, assigned to nepeplwu

[2020-07-10 13:27] shuhan666 commented on #308
对不起我照着你们给的例子修改了一下我的配置，还是报错，你们给的例子可以跑，但是我的数据集还是不行

[2020-07-11 07:44] shuhan666 commented on #308
您好，我还是没能解决问题，能再帮我看看吗

[2020-07-11 10:03] xmy0916 opened #312 "关于车道线检测数据集"
https://aistudio.baidu.com/aistudio/projectdetail/226710这个官方paddleseg项目的车道线检测训练数据集可以提供一下嘛~有详细的训练项目的地址就更好了，这个连接的项目里就直接用训练好的__model__ __params__了，不是很懂怎么训练的，想学习一下，谢谢各位开发小哥哥！

[2020-07-11 10:04] xmy0916 commented on #312
https://aistudio.baidu.com/aistudio/projectdetail/226710

链接地址，抱歉把文本加到了超链接里面~

[2020-07-12 06:16] xmy0916 opened #313 "infer.py中PIL转opencv不显示"
我把infer.py里面预测结果保存的代码做了点修改想用opencv显示，修改如下：
[code]

我将最后要写入本地的PIL图片转成了opencv的mat图片，但是imshow出来是一片黑的，请问您知道为什么嘛，需要怎么修改呢？显示结果如下：

![image](https://user-images.githubusercontent.com/43675899/87240224-2c6a2800-c44a-11ea-9c8b-55f3cb3c34ea.png)

[2020-07-13 03:54] wuyefeilin commented on #313
你可以打开图片读取一下，是否有预测数值。网络输出的预测结果是0，1，2..., 你如果要可视化，可以通过乘以一个系数再保存，就不会一片黑了。

[2020-07-13 03:59] wuyefeilin commented on #312
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.5.0/contrib/LaneNet， 里面提供了数据集的下载脚本

[2020-07-13 04:32] lxk767363331 opened #314 "关于ICNET网络结构的正确性问题"
请问ICNET是完全按照论文中的进行的么，原图中1/16,1/8的预测结果都有加入到下一次CCF中，1/4的预测也没有看到存在位置。另一个问题是，1/4的预测结果是由1/16/1/8的预测结果再次上采样得到的的么 ？ 在代码中没有体现

[2020-07-13 08:53] wuyefeilin commented on #308
给我一下你的运行日志，你也可以跑一下python pdseg/check.py --cfg your.yaml 看一下数据是否有问题

[2020-07-13 09:15] wuyefeilin commented on #259
You can finetune the learning rate, epochs, optimizer, train_transforms in train.py. You shuold do experiments to find the suitable values.

 The best mIOU was from last epoch, But it also may from middle epoch. In out program, we save the model with best mIoU in 'best_model' directory.

[2020-07-13 10:19] shuhan666 commented on #308
您说的运行日志是这个吗
         'FIX_RESIZE_SIZE': (718, 565),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR': True,
         'RICH_CROP': {'ASPECT_RATIO': 0.33,
                       'BLUR': False,

[2020-07-13 10:19] shuhan666 commented on #308
然后我感觉数据校验是没问题的，那个detail文件内容如下：
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (718, 565),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR': True,
         'RICH_CROP': {'ASPECT_RATIO': 0.33,

[2020-07-13 10:36] LielinJiang commented on #314
是和原论文一样的。你说的问题可以仔细看下这里的代码：https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/pdseg/models/modeling/icnet.py#L132-L148

[2020-07-13 13:29] wuyefeilin commented on #308
![image](https://user-images.githubusercontent.com/30919197/87309919-d089c700-c54f-11ea-99ca-565c742b9b05.png)

![image](https://user-images.githubusercontent.com/30919197/87309890-c962b900-c54f-11ea-8866-a5051f925a14.png)
两类的话应该是0，1,这边显示的是False, True。 你在报错的这一行前面打印一下grt的数据类型

[2020-07-14 09:21] shuhan666 commented on #308
应该是none？对不起我不知道怎么在这个文件里打印（我太菜了）

[2020-07-14 11:05] wuyefeilin commented on #308
print(grt.dtype)就行了

[2020-07-14 14:35] shuhan666 commented on #308
啊不好意思我是这么个情况，我在那个函数下面加了调用它报了这个错（不知道怎么办的我）

程序：
def resize(img, grt=None, mode=ModelPhase.TRAIN):
    """
    改变图像及标签图像尺寸
    AUG.AUG_METHOD为unpadding，所有模式均直接resize到AUG.FIX_RESIZE_SIZE的尺寸
    AUG.AUG_METHOD为stepscaling, 按比例resize，训练时比例范围AUG.MIN_SCALE_FACTOR到AUG.MAX_SCALE_FACTOR,间隔为AUG.SCALE_STEP_SIZE，其他模式返回原图
    AUG.AUG_METHOD为rangescaling，长边对齐，短边按比例变化，训练时长边对齐范围AUG.MIN_RESIZE_VALUE到AUG.MAX_RESIZE_

[2020-07-15 02:36] wuyefeilin commented on #308
你就正常跑就行了，然后看打印出来的结果。而且你这边直接resize(img=None, grt=None)也没有数据传进。

另外你改动过代码吗？

把你的数据传几张给我看一下。

[2020-07-15 03:54] shuhan666 commented on #308
我没有改动过（太菜了），然后正常跑之后我没有找到打印结果在哪（对不起），数据是这个样子的

![1fat](https://user-images.githubusercontent.com/66995945/87501440-ac360380-c691-11ea-8fd7-7689fd6b60dc.png)
![2fat](https://user-images.githubusercontent.com/66995945/87501413-9cb6ba80-c691-11ea-9866-3f448d548570.png)
![3fat](https://user-images.githubusercontent.com/66995945/87501415-9e807e00-c691-11ea-9c55-74e45495760f.png)
![3fat](https://user-ima

[2020-07-15 06:24] wuyefeilin commented on #308
你这是两类分类，类别标签应该是0和1，你看看是否符合要求

[2020-07-15 06:32] shuhan666 commented on #308
是把NUM_CLASSES设置为2吗，但是我试了还是不行呀（对不起实在麻烦了）

[2020-07-15 06:36] wuyefeilin commented on #308
NUM_CLASSES为2. 另外你看看你标注图像是不是0和1,看你的图片，你的标注图像的数值像是0和255， 把255改成1重新保存

[2020-07-15 06:38] shuhan666 commented on #308
啊是我现在应该去重新标注图像的意思吗（对不起这个图像是学姐帮忙标注的我就不是很懂）

[2020-07-15 06:44] wuyefeilin commented on #308
不用重新标注，你直接读取然后重新保存就行了
像这样子进行重新赋值就行了：
[code]

[2020-07-15 07:14] shuhan666 commented on #308
label[label==255] =1
TypeError: 'NoneType' object does not support item assignment
啊这是直接运行这段程序吗，我这这这报错惹（对不起实在麻烦啦）

[2020-07-15 07:33] wuyefeilin commented on #308
不是直接运行， 'xxx.png'要替换成你的图片路径。参照我给你的脚本自己把标注图像进行读取 修改数值 保存。

如果你不清楚opencv关于图片读取与保存的话，可以上网搜一下学习学习哈。

[2020-07-16 07:44] Fight-hawk opened #316 "关于人像分割的训练数据"
最近在做人像分割相关工作，目前的模型主要存在两个问题：
1.手被识别为背景
2.椅子靠背会被识别为前景
使用的数据集均为开源数据集，所以想请问一下，你们的训练数据集是开源的吗？关于以上两个问题，通过数据增强的方式能解决吗

[2020-07-16 13:07] luuuyi opened #317 "动态图问题"
你好，请问下动态图repo和静态图的repo都是保持同步更新的么。

[2020-07-17 03:23] wuyefeilin commented on #317
动态图目前正处于开发阶段，目前发版的还是静态图。等动态图发版以后将会以动态图为主，持续进行更新，到时将不会对静态图进行跟新。

[2020-07-17 04:38] wuyefeilin commented on #316
我们的数据集是不开源的。当数据量较少的时候，进行数据增强是能有效提升分割效果的，你也可以尝试组合不同的数据增强方式

[2020-07-18 05:37] Tangzixia opened #319 "pdseg/train.py报错求助"
你好，我这边出现了这个问题，应该是加载图像的时候报的错，可是真不知道怎么调试，麻烦帮看一下，谢谢。
Traceback (most recent call last):
  File "/home/vis/kangshuai/apps/anaconda3/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/home/vis/kangshuai/apps/anaconda3/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/home/vis/kangshuai/apps/anaconda3/lib/python3.6/site-p

[2020-07-18 07:10] xmy0916 commented on #312
@wuyefeilin 感谢，我看到了

[2020-07-19 09:04] zwf1234 opened #320 "用RetinaNet训练自己的数据集报错求助"
各位RD同学、老师，我用RetinaNet训练自己的数据集运行时出现以下问题，麻烦帮忙看一下，非常感谢！
（我将retinanet_r101_fpn_1x.yml中的数据集的路径换成了自己的数据集的路径）
InvalidArgumentError: Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [-1, 256, 100, 167] and the shape of Y = [-1, 256, 100, 168]. Received [167] in X is not equal to [168] in Y at i:3.
  [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_ar

[2020-07-19 14:13] luuuyi commented on #317
@wuyefeilin 好的 期待 大概的时间安排有了么

[2020-07-20 01:37] Fight-hawk commented on #316
好的 非常感谢指导

[2020-07-20 01:37] #316 closed, assigned to wuyefeilin

[2020-07-20 02:25] nepeplwu commented on #320
你好，你用的是PaddleDetection训练检测模型吗？如果是的话，请将相关问题提到PaddleDetection的[**issue**](https://github.com/PaddlePaddle/PaddleDetection/issues)中

[2020-07-20 02:53] nepeplwu commented on #319
@Tangzixia 请问下你的Paddle版本数多少？另外数据是否检查过？

[2020-07-20 02:55] #312 closed, assigned to wuyefeilin

[2020-07-20 02:58] wuyefeilin commented on #317
我们目前正全力往动态图上迁移，会随着paddle2.0的发布尽快的发版。敬请期待哈

[2020-07-20 07:53] xmy0916 commented on #313
@wuyefeilin 感谢，我乘了255它终于能看见了

[2020-07-20 12:48] luuuyi commented on #317
@wuyefeilin 了解，谢谢

[2020-07-20 12:48] #317 closed, assigned to wuyefeilin

[2020-07-21 05:09] xingjing1 opened #321 "CMake Error at FindPackageHandleStandardArgs.cmake Could not find git（missing GIT_EXCUTABLE）"
我用vs2019 社区版，按照指导来编译工程时候出现这个问题，cmake 版本3.17，，有人遇见过吗

[2020-07-22 07:42] CeciliaPYY opened #322 "关于data_aug中rand_crop的问题，前景丢掉了"
使用data_aug进行rand_crop时，应该是存在图片大小小于crop_size的情况，发生了前景丢失的问题。如下图所示，
![image](https://user-images.githubusercontent.com/30582437/88148801-bc218a80-cc31-11ea-8b67-68ef31e4c512.png)

config中的aug具体参数参考了另外一个yaml文件，如下所示
[code]

[2020-07-22 10:20] CeciliaPYY commented on #322
应该是imshow的显示问题，具体像素值是没有问题的。

[2020-07-22 10:20] #322 closed, assigned to nobody

[2020-07-23 02:27] wuyefeilin commented on #321
可以在yaml.cmake里面直接把git的依赖删除，实际上并不需要git

[2020-07-25 08:22] xmy0916 opened #323 "readme有点问题"
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/docs/model_export.md

这个readme的最底下的
python pdseg/export_model.py --cfg configs/unet_optic.yaml TEST.TEST_MODEL ./saved_model/unet_optic/final

这个命令在pdseg/export_model.py这个地方的“/”左右加了空格，执行命令会报错：
/opt/conda/envs/python35-paddle120-env/bin/python: can't find '__main__' module in 'pdseg'

需要把空格删除！

[2020-07-28 03:22] Tangzixia commented on #319
已经找到问题所在了，是数据的问题，谢谢了

[2020-07-28 07:17] Tangzixia opened #324 "export_model报错求助"
Python Call Stacks (More useful to users):
------------------------------------------
  File "/home/vis/kangshuai/apps/anaconda3/lib/python3.6/site-packages/paddle/fluid/framework.py", line 2610, in append_op
    attrs=kwargs.get("attrs", None))
  File "/home/vis/kangshuai/apps/anaconda3/lib/python3.6/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    return self.main_program.c

[2020-07-30 01:25] pele228 opened #325 "C++ 预测报错"
使用windows的C++预测接口，  显示输入输出不匹配错误，具体报错信息如下
e[1me[35m--- Running analysis [ir_graph_to_program_pass]e[0m
I0730 09:19:23.339763 21596 analysis_predictor.cc:474] ======= optimize end =======
I0730 09:19:23.340760 21596 naive_executor.cc:105] ---  skip [feed], feed -> image
I0730 09:19:23.344750 21596 naive_executor.cc:105] ---  skip [relu_4.tmp_0], fetch -> fetch
W0730 09:19:23.685129 21596 device_cont

[2020-07-31 05:43] Kevin-1993-35 opened #327 "请问有没有适用opt工具的移动端部署的demo?"

[2020-07-31 06:40] junjun210 opened #328 "AttributeError: module 'cv2.cv2' has no attribute 'DISOpticalFlow_create'"

[2020-07-31 08:08] #328 closed, assigned to nobody

[2020-08-03 06:51] wuyefeilin commented on #325
更新到最新版本看一下有没有问题

[2020-08-03 07:00] wuyefeilin commented on #324
是在导出的时候报错还是在导出后预测的时候报错？另外训练和评估的过程是正常的吗？

[2020-08-03 08:09] wuyefeilin commented on #327
可以参考这个 https://paddlex.readthedocs.io/zh_CN/develop/examples/human_segmentation.html#paddle-lite

[2020-08-03 09:35] Kevin-1993-35 commented on #327
@wuyefeilin 非常感谢！另外请问您这边有没有移动端处理视频数据的demo？

[2020-08-03 09:47] wuyefeilin commented on #327
@li-guang-li  https://github.com/PaddlePaddle/Paddle-Lite-Demo

[2020-08-04 07:18] 642721838 opened #330 "PaddleSeg遥感影像分割问题咨询"
请问现在PaddleSeg遥感影像分割只能分两类么，还有就是我们在试用的时候用8波段数据要报错，是因为现在还不支持3波段以上的数据吗？另外，3波段的数据是不是只能是8位的，求解答，谢谢。

[2020-08-06 04:56] HOLLIZHAO commented on #330
遥感分割可以支持多类别的。也支持10+以上多通道。具体可以参看：https://github.com/PaddlePaddle/PaddleSeg/tree/develop/contrib/RemoteSensing

[2020-08-06 06:16] HongChow opened #332 "C++部署预测人像分割，想尝试出xception以外的其他模型，如mobilenetV2的，repo有提供分享么？"

[2020-08-06 08:41] weiaoliu opened #333 "paddleSeg 模型部署，服务端启动失败"
I0100 00:00:00.000000 20887 op_repository.h:65] RAW: Succ regist op: ImageSegOp
I0100 00:00:00.000000 20887 op_repository.h:65] RAW: Succ regist op: ReaderOp
I0100 00:00:00.000000 20887 op_repository.h:65] RAW: Succ regist op: WriteJsonOp
I0100 00:00:00.000000 20887 service_manager.h:61] RAW: Service[ImageSegService] insert successfully!
I0100 00:00:00.000000 20887 image_seg.pb.h:1090] RAW: Succes

[2020-08-06 09:25] weiaoliu commented on #333
用cpu跑的

[2020-08-06 10:00] pxEkin opened #334 "paddleSeg使用光流的效果不怎么样啊？ 现在解决视频分割边缘抖动问题的主流解决方法是什么？"

[2020-08-06 14:32] #333 closed, assigned to nobody

[2020-08-07 01:25] weiaoliu opened #335 "PaddleSegServing"
有没有cuda10.0  gpu版本的PaddleSegServing?
有的话，地址是什么

[2020-08-07 07:42] #335 closed, assigned to nobody

[2020-08-07 07:46] weiaoliu opened #336 "cmake -DWITH_GPU=ON -DCUDNN_ROOT=/usr/local/cuda/lib64 .. 报错"
-- Found Paddle host system: ubuntu, version: 16.04.3
-- Found Paddle host system's CPU: 56 cores
-- The CXX compiler identification is GNU 5.4.0
-- The C compiler identification is GNU 4.8.5
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile f

[2020-08-07 08:38] weiaoliu opened #337 "CPU 部署的时候为什么显卡上会有我的paddleSeg的程序"
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.40       Driver Version: 430.40       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2020-08-11 03:41] trollhe opened #338 "PaddleSeg train，报错:TypeError: yolov3_loss() got an unexpected keyword argument 'scale_x_y'"
版本信息:
[code]

在aistudio中，运行如下命令训练
[code]
报错信息如下:
[code]
  看了没有关于这方面的报错解决方法，烦请帮忙处理下。

[2020-08-11 03:43] trollhe commented on #338
写错地方了，哈哈

[2020-08-11 03:49] trollhe commented on #338
close

[2020-08-11 05:25] lxk767363331 opened #339 "关于多输入标签的问题"
我想在paddleseg中输入2个label，尝试使用合并label输入失败了，想问一下在哪里怎么修改可以输入2个label

[2020-08-11 07:15] nepeplwu commented on #323
@xmy0916 感谢反馈，文档里面并没有多余的空格存在

[2020-08-11 07:21] wuyefeilin commented on #332
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.5.0/contrib/HumanSeg
这边提供了三种人像分割模型，欢迎尝试哈

[2020-08-11 07:25] wuyefeilin commented on #339
请问下，你是在什么场景下使用的，能具体描述一下吗？

你说的合并label是怎么一个合并法，两个label有什么不同？

[2020-08-11 07:26] pennypm commented on #334
您好，请问可以补充下细节么，比如应用场景之类的

[2020-08-11 07:28] #338 closed, assigned to nobody

[2020-08-11 07:30] Channingss commented on #336
@weiaoliu 这是warnning，提示说这个CUDNN_ROOT参数并没有被使用到。
![image](https://user-images.githubusercontent.com/12471701/89869738-5d737f00-dbe7-11ea-9416-4f7d17c5e6fa.png)

编译指令参考这里：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/deploy/cpp/docs/linux_build.md#step4-%E7%BC%96%E8%AF%91

[2020-08-11 07:32] Channingss commented on #337
@weiaoliu 编译的时候是否按照文档中：CPU版本预测库进行编译
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/deploy/cpp/docs/linux_build.md#step4-%E7%BC%96%E8%AF%91

[2020-08-11 07:32] lxk767363331 commented on #339
你好，我是在复现这个文章：Gated-SCNN: Gated Shape CNNs for Semantic Segmentation的时候发现需要3个损失函数，其中一个损失函数需要的是边缘信息，我生成了边缘的label 但是损失函数上会出现问题，所以想问一下如何设置 输入2个label

[2020-08-11 07:45] wuyefeilin commented on #339
如果你的边缘label可以从常规label生成的话，直接在计算loss的时候调用算子进行处理就行了。

如果你的边缘label是单独的标注图像的话，得在下面这些地方进行处理：
1. https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/pdseg/models/model_builder.py#L133 得在这边增加label输入接口， 然后在loss模块得作相应的处理
2. https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/pdseg/reader.py#L248 在这里得增加对边缘label的返回
3. https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.5.0/pdseg/tra

[2020-08-11 07:50] lxk767363331 commented on #339
问题1：边缘label是在原本的label产生的，就是使用1个像素的大小表示。我在torch里面找到了对应的库做到了，不知道在paddle里面使用哪方面的
![image](https://user-images.githubusercontent.com/38516795/89871497-163abd80-dbea-11ea-9900-32778b43ae70.png)

![image](https://user-images.githubusercontent.com/38516795/89871476-0a4efb80-dbea-11ea-8db4-dfb557c5d863.png)

问题2：对于这个边缘label 白色边缘是255 正常的label好像不可以设置为255 那我是不是需要改成别的数值呢

[2020-08-11 08:10] polor1010 commented on #332
@wuyefeilin

我使用 https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.5.0/contrib/HumanSeg 里提供的模型

尝试在 c++ 上使用  https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.5.0/deploy/cpp

错误讯息为
size of outputs[0]: (1,513,513,1,)
WARNING: Logging before InitGoogleLogging() is written to STDERR
E0811 15:55:32.610400 275452 seg_predictor.cpp:216] output with a unexpected size

如果使用 https://paddles

[2020-08-11 08:26] wuyefeilin commented on #332
size of outputs[0]: (1,513,513,1,) 应该是这边的问题， 你看看能不能增加一个转换让他变成（1，1，513， 513）试试，或者加一步transpose重新导出一个模型

[2020-08-11 08:52] polor1010 commented on #332
如果使用 https://paddleseg.bj.bcebos.com/inference_model/deeplabv3p_xception65_humanseg.tgz 模型, 可以正常执行

输出为

size of outputs[0]: (1,2,513,513,)

同样的设定和输入影像

[2020-08-11 08:56] wuyefeilin commented on #339
1. 请问一下torch是哪个库可以实现这个功能的，我这边对照一下paddle有没有类似的api

2. 我们提供的loss会对255进行忽略， 边缘分类是一个二分类的问题，你应该把数值改成1

[2020-08-11 10:05] lxk767363331 commented on #339
https://github.com/nv-tlabs/GSCNN/blob/3648b86d822f3e73ab1d8e827cf47466bf8f01a7/datasets/cityscapes.py#L219
https://github.com/nv-tlabs/GSCNN/blob/3648b86d822f3e73ab1d8e827cf47466bf8f01a7/datasets/cityscapes.py#L231
这里是他生成的地方 我是直接拿过来生成的然后放到了数据集里面

[2020-08-11 11:55] lxk767363331 commented on #339
import transforms.transforms as extended_transforms
from PIL import Image
import torch
from torchvision import transforms
import numpy as np
from scipy.ndimage.morphology import distance_transform_edt
path="Blowhole0.png"
spath="Blowhole_edge.png"
def mask_to_onehot(mask, num_classes):
    _mask = [mask == (i + 1) for i in range(num_classes)]
    return np.array(_mask).astype(np.uint8)

def onehot

[2020-08-11 14:30] yubinyes opened #341 "pretrained_weights onnx mnn"
你好，我下載pretrained_weights的模型，都可以轉成onnx，但是好像不能設置onnx的輸入，
x2paddle --model=humanseg_lite_inference  --onnx_opset=11   --framework=paddle2onnx  --save_dir=onnx_model，
MNNConvert -f ONNX --modelFile x2paddle_model.onnx --MNNModel x2paddle_model.mnn  --bizCode biz
humanseg_lite_inference的onnx轉換mnn有一處op錯誤： Check failed: (notSupportOps.size()) == (0) ==> These Op Not Support: ONNX::Slice
請問這幾個公開的模型，可以成功轉話

[2020-08-12 00:53] weiaoliu commented on #337
/root/projects/PaddleSeg/deploy/cpp/predictor/seg_predictor.cpp:16:42: fatal error: unsupported/Eigen/CXX11/Tensor: 没有那个文件或目录
compilation terminated.
CMakeFiles/libpaddleseg_inference.dir/build.make:110: recipe for target 'CMakeFiles/libpaddleseg_inference.dir/predictor/seg_predictor.cpp.o' failed
make[2]: *** [CMakeFiles/libpaddleseg_inference.dir/predictor/seg_predictor.cpp.o] Error 1
CMakeFiles

[2020-08-12 00:54] weiaoliu commented on #337
有没有paddlesegServing 预编译版本（cuda10.1, cudnn7.6+ ubuntu的）

[2020-08-12 01:06] weiaoliu commented on #337
/root/projects/PaddleSeg/deploy/cpp/predictor/seg_predictor.cpp:16:42: fatal error: unsupported/Eigen/CXX11/Tensor: 没有那个文件或目录      我查看我的目录下面这个文件是存在的

[2020-08-12 02:26] nepeplwu commented on #341
@yubinyes 感谢反馈，我们未尝试过将相关模型转为mnn模型进行使用，如果你需要做移动端部署的话，可以使用PaddleLite进行部署，参考[PaddleLite教程](https://paddle-lite.readthedocs.io/zh/latest/)

[2020-08-12 03:12] #336 closed, assigned to Channingss

[2020-08-12 09:03] pxEkin commented on #334
比如视频人像分割这类场景

[2020-08-13 02:40] pennypm commented on #334
能讲具体点吗，比如您是如何使用的，您的分割结果是否准确，视频中的人物是否剧烈运动等等。大多数情况下按照我们整套流程下来效果还是很好的。

[2020-08-13 13:32] lyf6 commented on #51
我也遇到了相同的问题，loss和miou都差好多。我选用的配置是pspnet，layers:101
将for_test设置为False的结果：loss=0.09，acc=0.9968，IOU=0.8845
将for_test设置为true的结果：loss=1.417，acc=0.9196，IOU=0.4760

[2020-08-14 02:34] #325 closed, assigned to nobody

[2020-08-14 07:39] wwj-b221 commented on #298
请问遥感的develop分支在哪里找呢，models里只看到了unet和hrnet

[2020-08-14 08:30] HOLLIZHAO commented on #298
PaddleSeg遥感影像分割可以参看：https://github.com/PaddlePaddle/PaddleSeg/tree/develop/contrib/RemoteSensing

[2020-08-18 00:32] lxk767363331 opened #347 "关于输入图像的问题"
问题1：（静态图无法再网络里面进行图像的操作）我需要输入一个RGB图像+1个灰度图像 我的操作是使用img = cv2.merge([r,g,b,canny])将其合并，然后输入图像的设置为rgba+4个通道，在网络中对input使用    input,canny=paddle.fluid.layers.split(input, [3,1], dim=1, name=None)将两部分分开，再分别进行计算。不知道这样设置是否合理。
问题2：以下三个参数各需要增加1个，我的设置为：
# 均值，图像预处理减去的均值
cfg.MEAN = [0.5, 0.5, 0.5，0]
# 标准差，图像预处理除以标准差·
cfg.STD = [0.5, 0.5, 0.5 , 1]
# 数据增强是图像的padding值
cfg.DATASET.PADDING_VALUE = [127.5, 127.5, 12

[2020-08-18 01:31] #339 closed, assigned to wuyefeilin

[2020-08-18 01:37] lxk767363331 opened #348 "labeld 问题"
根据上次issue中提到如果可以从现在的提取到新的label直接执行算子就可以了，最近找了一些，不知道怎么实现。
从现有的label中生成只要1个像素的边缘其他的标签像素点全部置0，因为在静态图里无法使用numpy，我的原本的一些操作无法进行。

[2020-08-18 04:04] pxEkin commented on #334
就是手机上前置/后置摄像头实时分割， 另外用户上传视频分割等等。 目前我们单帧分割看上去还行(存在误分割情况)，合成视频看抖动就比较明显了。  光流是有点效果的，但是手机上稠密光流真的好慢，感觉收益不是太好

[2020-08-18 05:45] #323 closed, assigned to nepeplwu

[2020-08-18 06:36] wuyefeilin commented on #347
问题1： 我们的数据增强目前是支持4通道的，这么处理虽然有点取巧，但是看着应该可行的样子。
问题2: 我们normalize的处理是((img/255)-mean)/std, 你可以看看你灰度图处理前和处理后是否符合你的要求。

[2020-08-18 06:50] wuyefeilin commented on #348
看了pytorch的实现，他是结合scipy的库实现的，目前paddle静态图没有算子进行distance_transform_edt的操作。在静态图里目前只能通过事先处理好在通过数据读取传入了。
另外paddle正在加紧开发动态图版本，以后也可以直接使用numpy操作了。

[2020-08-18 06:52] lxk767363331 commented on #348
&nbsp;&nbsp;&nbsp;loss.py里面的这个语句是什么意思，看了api没有看懂
&nbsp;label&nbsp;=&nbsp;fluid.layers.elementwise_min(
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;label,&nbsp;fluid.layers.assign(np.array([num_classes&nbsp;-&nbsp;1],&nbsp;dtype=np.int32)))

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-08-18 07:00] wuyefeilin commented on #348
@lxk767363331  这个处理主要是考虑label可能含有ignore_index的数值

[2020-08-18 07:10] wuyefeilin commented on #51
你好，能提供一下具体的运行场景和运行日志吗？

[2020-08-18 12:09] pxEkin commented on #334
我直接用paddlepaddleSeg跑里面的预训练模型，感觉效果不怎么样，模型分割就不太准了(我没做训练)，像跳舞等动作快一点的视频，手和脚基本上分割不出来。

[2020-08-19 05:41] deep-practice opened #349 "LaneNet中车前视角和鸟瞰图视角转换的文件是怎么生成的呢"

[2020-08-19 15:35] pennypm commented on #334
如果您的视频有明显的运动模糊，实时的小模型的分割结果不会很准确，建议您用大模型。光流是需要在较为准确的分割结果上实现的，如果本身分割结果就不准的话，光流的改善效果十分有限。关于速度的问题，您用的是否是python版本，python版速度会相对较慢，建议用c++版本

[2020-08-21 01:33] githupbill opened #353 "加载的cityscapes预训练模型问题"
[SKIP] Shape of pretrained weight pretrained_model/deeplabv3p_xception65_bn_coco/logit/weights doesn't match.(Pretrained: (21, 256, 1, 1), Actual: (19, 256, 1, 1))
[SKIP] Shape of pretrained weight pretrained_model/deeplabv3p_xception65_bn_coco/logit/biases doesn't match.(Pretrained: (21,), Actual: (19,))
2020-08-21 09:23:41,697-WARNING: pretrained_model/deeplabv3p_xception65_bn_coco.pdparams not

[2020-08-21 06:12] githupbill opened #354 "python pdseg/train.py --use_gpu --use_mpio --cfg ./configs/deeplabv3p_xception65_cityscapes.yaml"
[SKIP] Shape of pretrained weight pretrained_model/deeplabv3p_xception65_bn_coco/logit/weights doesn't match.(Pretrained: (21, 256, 1, 1), Actual: (19, 256, 1, 1))
[SKIP] Shape of pretrained weight pretrained_model/deeplabv3p_xception65_bn_coco/logit/biases doesn't match.(Pretrained: (21,), Actual: (19,))
2020-08-21 14:10:32,832-WARNING: pretrained_model/deeplabv3p_xception65_bn_coco.pdparams not

[2020-08-21 07:47] githupbill opened #355 "加载预训练模型出错"
[SKIP] Shape of pretrained weight ./pretrained_model/unet_bn_coco//logit/weights doesn't match.(Pretrained: (21, 64, 3, 3), Actual: (19, 64, 3, 3))
2020-08-21 15:45:20,597-WARNING: ./pretrained_model/unet_bn_coco/.pdparams not found, try to load model file saved with [ save_params, save_persistables, save_vars ]
There are 90/91 varaibles in ./pretrained_model/unet_bn_coco/ are loaded.

[2020-08-21 13:39] lxk767363331 commented on #355
这个是警告，下载的预训练模型的格式不是.pdparams这个格式的，系统会使用下载的预训练模型的格式加载模型，下面给出提示说加载了90个参数 舍弃了1个最后的分类的参数

[2020-08-21 13:47] lxk767363331 commented on #353
不是错误，是警告，在上一个问题给你解答啦

[2020-08-24 12:51] pxEkin commented on #334
单帧来看，分割效果还行， 合成视频看起来抖动就大了，如果存在误分割，光流也搞不定，大佬有什么好方案么

[2020-08-25 12:00] larryhu76 opened #358 "关于LaneNet数据集合映射矩阵的问题"
在 LaneNet 的lanenet_postprocess.py源文件中，第 327行，发现 数据集不是'tusimple'，就报出一个异常，这表示LaneNet目前支持'tusimple'数据集吗？

另外，tusimple_ipm_remap.yml文件是不是只针对‘tusimple'的数据集固定死的？

[2020-08-26 00:18] zhengzhe97 opened #359 "EVAL_CROP_SIZE测试阶段做crop是什么意思？"
不太懂测试阶段为什么要做crop，还有想请教下数据增强部分应该是只在训练时有效果吧？

[2020-08-26 06:13] nepeplwu commented on #354
@githupbill ，从报错堆栈来看，应该是在读取数据时出现了问题，请查看下你的数据集是否存在问题

[2020-08-26 08:48] wuyefeilin commented on #359
这个变量是在测试的时候进行padding操作， EVAL_CROP_SIZE=（512，512）， 原来图像大小为（410，400）,会进行右下padding到（512，512）。 测试的时候不做裁剪，只会padding

[2020-08-27 01:48] LielinJiang commented on #349
请参考这个repo：https://github.com/MaybeShewill-CV/Easy-Ipm-Client

[2020-08-27 01:49] LielinJiang commented on #358
是的。制作自己数据集的映射文件可以参考这个repo：https://github.com/MaybeShewill-CV/Easy-Ipm-Client

[2020-08-31 05:38] lxk767363331 opened #364 "代码复现结果极差的问题"
在复现R2UNet时结果极差不知道哪里出了问题，从结构上看 我应该没有浮现错误。下面分别是我的代码与torch代码

https://github.com/LeeJunHyun/Image_Segmentation/blob/db34de21767859e035aee143c59954fa0d94bbcd/network.py#L60

‘’
def RRCNN_block(data,out_ch):
    with scope("conv0"):
        x =conv(data, out_ch, 1, stride=1, padding=0)
    with scope("Recurrent_block1"):
        data=Recurrent_block(x,out_ch)
        data=Recurrent_block(data,out_ch)

[2020-09-01 07:12] L-lei opened #366 "deeplabv3p_xception65_optic模型剪裁后导出维度报错"
问题：请问我怎样可以导出推理模型呢？

下面列出一些版本与错误信息
python版本：3.5
paddleslim版本: 1.1.1
paddlepaddle版本：1.8.3.post107

使用模型deeplabv3p_xception65_optic剪裁训练输出
`epoch=100 step=4760 lr=0.00004 loss=0.0572 step/sec=6.184 | ETA 00:00:06
epoch=100 step=4770 lr=0.00004 loss=0.0587 step/sec=6.321 | ETA 00:00:04
epoch=100 step=4780 lr=0.00004 loss=0.0563 step/sec=6.432 | ETA 00:00:03
epoch=100 step=4790 lr=0.00003 loss=0.0652 st

[2020-09-01 09:13] L-lei commented on #366
问题我解决了，最终发现一行代码导致infer_prog = infer_prog.clone(for_test=True)；删除就好了。性能快的飞起。模型大小之前为165M现在4.9M，时间从4.63s到0.79s

[2020-09-01 13:56] Yuuuuuuuuuuuuuuuuuummy opened #368 "请问动态图PSPNet的mIoU是多少呢？"
关注到最近public了 PSPNet的动态图程序，想问一下复现的精度是多少？ 我实际运行这个repo里的代码精度总是上不去啊？

[2020-09-02 00:30] linhandev opened #369 "Attention Unet"
在aistudio上发现了一个基于paddleseg实现的attention unet。
https://aistudio.baidu.com/aistudio/projectdetail/747582
和框架完全兼容，效果也不错，感觉pdseg可以考虑把这个网络也包括进来。
在pdseg unet基础上添加了一个attention block。
[code]

[2020-09-02 07:24] linhandev opened #370 "infer.py报错"
在执行infer.py时遇到一个很模糊的报错，不清楚是什么情况
[code]

deploy.yaml
[code]
![image](https://user-images.githubusercontent.com/29757093/91944150-3284d280-ed30-11ea-99eb-bb03e37caed9.png)

可能这里添加点额外信息会好点

[2020-09-02 07:25] linhandev commented on #370
![image](https://user-images.githubusercontent.com/29757093/91944382-90b1b580-ed30-11ea-8766-80d041e021c1.png)

[2020-09-02 08:47] haixiao990 opened #371 "PaddleSeg serving 服务化部署图像预处理流程问题"
请问PaddleSeg 训练出来的模型用PaddleSegServing进行服务化部署的时候，图像的预处理过程只能放在客户端完成吗？

[2020-09-03 01:04] gxqnba opened #372 "U-Net模型eval和vis问题"
使用的是自己的数据集（gt图像是灰度图像，背景黑色，目标为白色），通过了数据检校
训练好之后进行eval：python pdseg/eval.py --use_gpu --cfg ./configs/unet_optic.yaml，报错如下：
[EVAL]step=1 loss=0.00022 acc=1.0000 IoU=0.5000 step/sec=2.59 | ETA 00:00:01
[EVAL]step=2 loss=0.00023 acc=1.0000 IoU=0.5000 step/sec=8.15 | ETA 00:00:00
[EVAL]step=3 loss=0.00025 acc=1.0000 IoU=0.5000 step/sec=8.96 | ETA 00:00:00
[EVAL]step=4 loss=0.00024 acc=1.0000 IoU=0.5000

[2020-09-04 07:16] nepeplwu commented on #369
@davidlinhl 感谢推荐，目前PaddleSeg正在进行动态图的升级，我们会考虑在动态图版本中加入该模型

[2020-09-04 07:28] Channingss commented on #371
@haixiao990 请问是希望远程调用吗？

[2020-09-04 07:41] michaelowenliu commented on #368
Hi, Yumy, Thanks for your interest in the PSPNet version. In our early experiment, using OS=8, mIoU of pspnet_resnet50 is 79.6%, and pspnet_resnet101 is 79.84%.  Currently it is still working in progress with the api modifications, and the pertained model of backbone is not provided in the repo. Sorry for that.

[2020-09-04 07:47] michaelowenliu commented on #368
@Yuuuuuuuuuuuuuuuuuummy

Hi, Yueming, Thanks for your interest in the PSPNet version. In our early experiment, using OS=8, mIoU of pspnet_resnet50 is 79.6%, and pspnet_resnet101 is 79.84%. Currently it is still working in progress with the api modifications, and the pertained model of backbone is not provided in the repo. Sorry for that.

[2020-09-04 08:05] Yuuuuuuuuuuuuuuuuuummy commented on #368
@michaelowenliu   Thx for the reply!
Your experiments is implemented in cityscapes?
Have you implement the Sync_Batch_Norm in your experiment of paddle2.0? Sync_Batch_Norm is not supported in paddle1.8 dygraph version as far as I know. How much accuracy difference between sync_batch_norm and batch_norm do you think?

[2020-09-04 08:12] #320 closed, assigned to nobody

[2020-09-04 08:29] michaelowenliu commented on #368
@Yuuuuuuuuuuuuuuuuuummy
Hi,

1. Yes, now we only conduct the experiment on Cityscapes, but VOC and ADK are on the way.

2. Yes, SyncBn is really an important op. our Paddle team has already implemented SyncBn in paddle2.0 beta which will be released very soon in the middle of this month. In our experiment, we compiled paddle develop branch including SyncBn.

3. As for accuracy difference, we did n

[2020-09-04 08:59] wuyefeilin commented on #364
![image](https://user-images.githubusercontent.com/30919197/92220334-71508f00-eece-11ea-9262-026f99a5a17e.png)
![image](https://user-images.githubusercontent.com/30919197/92220787-123f4a00-eecf-11ea-892a-827ed321e066.png)
这两边的Recurrent_block实现存在diff， torch 中的卷积是共享的，这边的三个卷积是独立的。你可以放到同一个scope下去实现就可以了

[2020-09-04 09:01] lxk767363331 commented on #364
好的 谢谢，原来想分开能更清晰，没想到画蛇添足了。
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年9月4日(星期五) 下午4:59
收件人:&nbsp;"PaddlePaddle/P

[2020-09-04 09:07] wuyefeilin commented on #372
背景为0， 目标为1， 你看看数据集的标注是否符合要求

[2020-09-04 09:56] lxk767363331 commented on #364
还有个疑问，咱们unet代码中的double conv中的2个卷积也是互相独立的么，我不太清楚这个独立与共享的区别 可以帮我说明一下么  谢谢

[2020-09-04 13:36] #364 closed, assigned to wuyefeilin

[2020-09-04 13:42] #82 closed

[2020-09-07 01:45] gxqnba commented on #372
谢谢了，我的目标像素是255，改过来就好了。

[2020-09-07 02:02] gxqnba opened #375 "U-Net模型预测问题"
请问U-Net模型训练好了以后，如何进行预测，我用以下命令进行预测：
python pdseg/vis.py --use_gpu --cfg ./configs/unet_optic.yaml
好像要提供groundTruth图片才能预测，否则会报错

[2020-09-07 02:24] Yuuuuuuuuuuuuuuuuuummy commented on #368
@michaelowenliu
Sorry for reply late!
I'm working on re-producing PSPNet on paddle dygraph mode. Now I use paddle-1.8.3. I totally agree with you about the importance of pretrained model. I can't find a proper resnet101 dygraph model in Paddle. So I convert pytorch official pretrained model to paddle version. But there is still a little difference in performance.

Hope to get a stable dygraph vers

[2020-09-07 02:24] #368 closed, assigned to nobody

[2020-09-07 03:13] nepeplwu commented on #375
@gxqnba 报错截图麻烦提供下

[2020-09-07 06:14] #25 closed

[2020-09-07 06:14] #50 closed

[2020-09-07 06:16] #73 closed

[2020-09-07 06:19] #94 closed

[2020-09-07 06:19] #106 closed, assigned to LutaoChu

[2020-09-07 06:20] #128 closed, assigned to LutaoChu

[2020-09-07 06:20] #138 closed, assigned to ZeyuChen

[2020-09-07 06:21] #141 closed, assigned to ZeyuChen

[2020-09-07 06:28] nepeplwu commented on #107
This issue has not been updated in the last three months. We will close this issue. Please reopen it if necessary.

[2020-09-07 06:29] #107 closed, assigned to LutaoChu

[2020-09-07 06:29] nepeplwu commented on #114
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:29] #114 closed, assigned to joey12300

[2020-09-07 06:29] nepeplwu commented on #122
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:29] #122 closed, assigned to LutaoChu

[2020-09-07 06:29] nepeplwu commented on #135
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:29] #135 closed, assigned to LutaoChu

[2020-09-07 06:29] nepeplwu commented on #140
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:29] #140 closed, assigned to wuyefeilin

[2020-09-07 06:29] nepeplwu commented on #142
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:29] #142 closed, assigned to LielinJiang

[2020-09-07 06:30] nepeplwu commented on #157
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:30] #157 closed, assigned to ZeyuChen

[2020-09-07 06:30] nepeplwu commented on #159
This issue has not been updated in the last three months. We will close this issue. Please reopen it if necessary.

[2020-09-07 06:30] #159 closed, assigned to ZeyuChen

[2020-09-07 06:30] nepeplwu commented on #175
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:31] nepeplwu commented on #177
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:31] #177 closed, assigned to slf12

[2020-09-07 06:31] nepeplwu commented on #178
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:31] #178 closed, assigned to slf12

[2020-09-07 06:31] nepeplwu commented on #182
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:31] #182 closed, assigned to LielinJiang

[2020-09-07 06:31] nepeplwu commented on #190
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:31] #190 closed, assigned to LielinJiang

[2020-09-07 06:32] nepeplwu commented on #199
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:32] #199 closed, assigned to LutaoChu

[2020-09-07 06:33] nepeplwu commented on #209
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:33] #209 closed, assigned to nobody

[2020-09-07 06:33] nepeplwu commented on #210
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:33] #210 closed, assigned to nobody

[2020-09-07 06:33] #216 closed, assigned to nobody

[2020-09-07 06:33] nepeplwu commented on #63
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:33] #63 closed

[2020-09-07 06:33] nepeplwu commented on #68
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:33] #68 closed

[2020-09-07 06:34] nepeplwu commented on #77
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:34] #77 closed

[2020-09-07 06:34] nepeplwu commented on #87
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:34] #87 closed

[2020-09-07 06:34] nepeplwu commented on #90
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:34] #90 closed

[2020-09-07 06:34] nepeplwu commented on #93
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:34] #93 closed

[2020-09-07 06:34] nepeplwu commented on #100
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:34] #100 closed

[2020-09-07 06:39] nepeplwu commented on #283
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:39] #283 closed, assigned to ShenYuhan

[2020-09-07 06:39] nepeplwu commented on #278
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:39] #278 closed, assigned to Channingss

[2020-09-07 06:39] nepeplwu commented on #276
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:39] #276 closed, assigned to wuyefeilin

[2020-09-07 06:40] nepeplwu commented on #275
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:40] #275 closed, assigned to nepeplwu

[2020-09-07 06:40] #270 closed, assigned to nobody

[2020-09-07 06:40] nepeplwu commented on #265
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:40] #265 closed, assigned to nobody

[2020-09-07 06:41] nepeplwu commented on #240
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:41] #240 closed, assigned to LielinJiang

[2020-09-07 06:41] #236 closed, assigned to LielinJiang

[2020-09-07 06:41] nepeplwu commented on #232
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:41] #232 closed, assigned to nobody

[2020-09-07 06:41] nepeplwu commented on #225
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:41] #225 closed, assigned to nobody

[2020-09-07 06:43] nepeplwu commented on #71
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:43] #71 closed

[2020-09-07 06:43] #369 closed, assigned to nepeplwu

[2020-09-07 06:44] #85 closed

[2020-09-07 06:46] nepeplwu commented on #207
@lesterhnu 目前最新版本为0.6.0，视频人像分割的教程可以参考[教程](https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.6.0/contrib/HumanSeg#%E5%BF%AB%E9%80%9F%E4%BD%93%E9%AA%8C%E8%A7%86%E9%A2%91%E6%B5%81%E4%BA%BA%E5%83%8F%E5%88%86%E5%89%B2)

[2020-09-07 06:47] nepeplwu commented on #218
此issue在最近三个月内暂无更新，我们将关闭该问题。如有需要，请重新打开该issue。

[2020-09-07 06:47] #218 closed, assigned to nobody

[2020-09-08 06:55] gxqnba commented on #375
Traceback (most recent call last):
  File "pdseg/vis.py", line 209, in <module>
    visualize(cfg, **args.__dict__)
  File "pdseg/vis.py", line 131, in visualize
    for imgs, grts, img_names, valid_shapes, org_shapes in test_reader:
  File "/home/aistudio/work/PaddleSeg/pdseg/reader.py", line 136, in batch_reader
    for img, grt, img_name, valid_shape, org_shape in reader():
  File "/home/aistud

[2020-09-10 06:18] mahuaxiaotuanzi opened #378 "用GPU训练deeplabv3+一直会报错，用cpu没有问题"
![image](https://user-images.githubusercontent.com/33740556/92688684-5bc8e280-f370-11ea-8062-092d659576d7.png)
用GPU训练deeplabv3+一直会报错，用cpu没有问题

[2020-09-11 00:27] gxqnba opened #380 "U-Net训练问题"
数据检校全部通过，但是进行训练时，提示reader出错，报错如下：
Use multi-thread reader
2020-09-11 08:25:32,431-WARNING: Your reader has raised an exception!
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 870,

[2020-09-11 00:56] iceriver97 opened #381 "在将模型导出后使用PaddleServing，预处理及后处理"
我将 PaddleSeg 训练好的模型导出为 Serving 所要的模型之后，对模型输入的预处理及对模型输出的后处理需要自己来写吗？

[2020-09-11 09:15] xiangliu886 opened #384 "V0.6.0内存不断增长，最后溢出"
v0.5.0训练没问题，v0.6.0迭代一段时间就内存溢出了，

[2020-09-12 01:06] #384 closed, assigned to nobody

[2020-09-13 11:26] flyinggx opened #385 "模型训练完成后在终端部署时报错"
**将训练好的模型导出后，在终端部署时显示打不开model文件，文件路径这些都没错，请问有人遇到这过个问题吗？应该怎么解决呢？**
命令行：python G:\python\infer.py --conf=G:\freeze_model\deploy.yaml --input_dir=G:\img
报错：
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
Windows not support stack backtrace yet.
----------------------
Error Message Summary:
----------------------
E

[2020-09-14 02:05] #366 closed, assigned to wuyefeilin

[2020-09-15 00:05] boceng opened #386 "lite转换分割模型，输出output_tensor的含义"
您好，我这里在arm Linux下将unet模型部署到lite后，输出tensor的shape为[1, 3, 512, 512]，其中所有像素值都为0~1的小数值，且值要么极大（0.9+）要么极小（0.1-），请问这些值的含义是什么？

[2020-09-15 01:45] nepeplwu commented on #381
@iceriver97 ，需要自行处理，可以参考这个[demo](https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.6.0/deploy/serving)编写

[2020-09-15 01:52] boceng commented on #386
或者说会不会是我的预处理不对？
我有采用两种方法进行处理：

1.

    def read_img(im_path, resize_h, resize_w):
        im = cv2.imread(im_path).astype('float32')  # 转32浮点型
        im = cv2.cvtColor(im, cv2.COLOR_BGR2RGB)  # 颜色空间转换
        h, w, _ = im.shape
        im_scale_x = resize_h / float(w)
        im_scale_y = resize_w / float(h)
        out_img = cv2.resize(im, None, None, fx=im_scale_x, fy=im_scale_y, interpolation=

[2020-09-15 02:14] nepeplwu commented on #385
@flyinggx 麻烦贴下你的deploy.yaml文件内容

[2020-09-15 06:21] wuyefeilin commented on #380
根据提示是在进行resize的时候标签的格式不正确， 检查一下， 或者在这一行之前打印看一下grt的类型
![image](https://user-images.githubusercontent.com/30919197/93173260-d6be3e80-f75e-11ea-908f-b3b8d1f2c4aa.png)

[2020-09-15 06:34] wuyefeilin commented on #386
模型返回的数值是经过softmax处理的， 所以每个通道上的数值代表的是相应类的概率。 预处理的均值跟方差最好跟训练的时候保持一致。

[2020-09-15 06:34] flyinggx commented on #385
你好，目前问题已解决，是终端设置的问题，感谢回复~

[2020-09-15 08:32] boceng commented on #386
您好，我换了几个模型都进行了实验，发现输出的信息，只有第一个通道的值全是0.999+，其余通道全是0.00，且不论测试图片是否真正含有目标，都输出一样的信息，我这里确定模型都是没问题的，请问这种情况如何解释。

[2020-09-15 10:17] #385 closed, assigned to nepeplwu

[2020-09-15 11:11] nepeplwu commented on #375
@gxqnba 从报错日志来看，应该是你传入的文件中就应该包含了GroundTruth的路径，但是读取后的groundTrush的shape和预测图片的shape对不上导致出现问题

[2020-09-16 00:43] boceng commented on #386
您好，今早代码随便一实验发现可以了，可能昨天有些姿势不对，我现在也没发现是为啥😓，感谢您的指导。 @wuyefeilin

[2020-09-16 00:43] #386 closed, assigned to wuyefeilin

[2020-09-16 04:28] gujingxiao commented on #175
很奇怪我这里训练也出现了这个问题。我使用的是release 0.6.0版本，paddle1.8.0。之前训练一直都是好好的，没有这个问题，但是昨天重启了服务器，再训练就一直出现这个打印，反复出现，也看不到是哪里报的错，我从reader里进行了数据可视化，也是正确的。目前毫无头绪。

[2020-09-16 04:33] gujingxiao commented on #175
更新描述：我刚刚使用export CUDA_VISIBLE_DEVICES=0，强制改成单卡训练，此现象消失；然后再开放多卡训练：export CUDA_VISIBLE_DEVICES=0,1，此现象又出现。然后我这边重启了服务器，再尝试这个过程，此现象多卡训练时也消失了。反复重启服务器4次，单卡均没有出现此现象，多卡偶发出现此现象。还请官方根据此现象进行查验

[2020-09-16 04:34] gujingxiao commented on #175
请官方根据描述查验此问题，谢谢

[2020-09-18 03:48] nepeplwu commented on #175
@gujingxiao 报错堆栈麻烦贴下

[2020-09-18 04:01] LutaoChu commented on #378
你好，你的Paddle是使用cudnn 7.6编译的，但你的机器的cudnn version只有5.1，需要升级一下。cuda 10对应的cudnn推荐版本是7.6，建议升级到cudnn 7.6 。

[2020-09-18 05:37] gujingxiao commented on #175
你好，这个现象并没有报错，程序也并没有停止，而是继续在运行。在系统打印了cuda版本之后，又打印了开始multi thread reader，到这里一切正常。然后突然开始满屏都是'NoneType' object has no attribute 'run'的打印，中间还夹杂着正常训练的loss打印，我检查了loss好像也是正常的。所以并没有程序终止的报错信息，只是出现了满屏幕的打印。我重启了服务器之后，这个问题就没了。

[2020-09-20 11:24] qiyuezhiguang opened #388 "SpatialEmbeddings什么时候提供训练的代码呢？"
SpatialEmbeddings什么时候提供训练的代码呢？

[2020-09-21 02:46] iceriver97 opened #390 "OCRNet 配置参数有误"
在使用 OCRNet配置文件时，有参数
[code]
但在执行 check.py 校验数据集时,报错：
`KeyError: 'Non-existent config key: MODEL.HRNET.OCR_MID_CHANNELS'`
完整报错信息：
[code]

[2020-09-21 03:58] xiangliu886 opened #391 "HRNet_W18/bn Cityscapes 0.7936 能提供训练日志吗？"
这个小模型要比别的框架高很多，能提供训练和验证日志吗，我想了解下这个模型的训练技巧。

[2020-09-21 06:17] nepeplwu commented on #390
@iceriver97 key应该是`MODEL.OCR.OCR_MID_CHANNELS`和`MODEL.OCR.OCR_KEY_CHANNELS`

[2020-09-21 06:28] nepeplwu commented on #388
@qiyuezhiguang 感谢关注，目前PaddleSeg正在进行动态图版本的升级，后续会考虑在动态图版本中加上SpatialEmbeddings的训练

[2020-09-21 06:31] wuyefeilin commented on #391
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.6.0/configs/ocrnet_w18_bn_cityscapes.yaml 数据增强和训练的配置可以参考这个。后续我们会推出动态图版本，欢迎体验

[2020-09-21 07:30] iceriver97 commented on #390
@nepeplwu 谢谢！我还想问一下，出现这种情况影响训练吗？
[code]
OCRNet预训练模型的类别数是19吧？我自己的数据集分类是7类

[2020-09-21 09:32] iceriver97 commented on #381
@nepeplwu 您好，PaddleSegServing 现在还是需要安装这么多的依赖库吗？我的系统是 ubuntu 16.04 LTS ，在安装依赖时出现了很多问题，PaddleSegServing 支持这个系统吗？我应该安装的依赖版本是那些呢？感谢！

[2020-09-22 00:37] iceriver97 commented on #390
应该不影响

[2020-09-22 00:37] #390 closed, assigned to nepeplwu

[2020-09-22 01:29] iceriver97 opened #393 "Lovasz loss 无法使用"
我在设置 Lovasz loss 后报错：
[code]
下面是配置文件内容：
[code]

[2020-09-22 01:55] iceriver97 opened #394 "CROSS_ENTROPY_WEIGHT 训练时loss不正常"
我在设置 CROSS_ENTROPY_WEIGHT=“dynamic”后出现了loss开始就一直为0.0001的情况：
[code]
下面是配置文件内容：
[code]

[2020-09-22 06:30] wuyefeilin commented on #394
可能是这种情况下并不适合使用'dynamic'， 你可以试试自己传入一个list代表各个类别的权重

[2020-09-22 06:46] iceriver97 commented on #394
@wuyefeilin 谢谢！我应该怎样设置权重呢？根据他们在图像中的比例？

[2020-09-22 06:47] iceriver97 commented on #394
@wuyefeilin 能帮我看下 #393 是因为什么吗？

[2020-09-22 07:19] wuyefeilin commented on #394
是的，一版比例小的，权重设置的大一些。

[2020-09-22 08:36] iceriver97 commented on #393
@michaelowenliu  您知道是什么原因吗？

[2020-09-22 13:26] LutaoChu commented on #393
你好，目前lovasz loss和OCRNet的适配有个小问题，我们正在修复。
你要是着急的话可以先git clone我的分支试试 https://github.com/LutaoChu/PaddleSeg/tree/lovasz-ocrnet
或者对照这个commit进行手动修改  https://github.com/PaddlePaddle/PaddleSeg/compare/develop...LutaoChu:lovasz-ocrnet?expand=1

[2020-09-23 01:13] iceriver97 commented on #393
@LutaoChu  您好，您的分支会出现下面的错误：
[code]
修改 model_builder.py 中：
`multi_lovasz_softmax_loss(logits, label, ignore=mask))`
为
`multi_lovasz_softmax_loss(logits, label, ignore_mask=mask))`后
目前可以正常训练，非常感谢您的帮助

[2020-09-23 01:35] michaelowenliu commented on #393
@iceriver97 hi, thanks for your interest in our repo. Glad to see you have solved this problem. Btw, I found you have several active questions there. May I know what application you are building? Then we would help you further and better.

[2020-09-23 01:51] ouroboros-phy opened #398 "在lanenet中运行示例中的训练代码时报错：Error: Blocking queue is killed because the data reader raises an exception"
有谁明白这是怎么回事吗？

[2020-09-23 01:54] nepeplwu commented on #381
@iceriver97 Serving相关的依赖和安装问题可以到[PaddleServing](https://github.com/PaddlePaddle/Serving) repo 提问

[2020-09-23 01:56] iceriver97 commented on #393
@michaelowenliu 谢谢！我在用 PaddleSeg 做一些遥感方向的应用：

1. 在道路提取方面我注意到可以使用 Lovasz loss 做优化；
2. 在地物分类方面，使用 Deeplabv3+进行训练 miou是比较低的，我更换了最新的 OCRNet 模型进行尝试，但只有很微小的提升（1% ~2%），在使用数据增强进一步做一些调整后也只是提升了一点点，请问关于地物分类，我该如何继续优化呢？
3. 最后我想将训练好的分割模型进行部署，我尝试使用 Serving 套件，但好像你们的预处理或者后处理函数有一些问题，官方人员给我推荐了 PaddleSeg Serving，我发现它对环境条件要求比较苛刻，如果要使用的话现在还是必须使用特定的系统并安装特定版本的软件吗？

[2020-09-23 01:59] michaelowenliu commented on #398
@hkhgjk hi, would you mind provide more detailed training log? Thank you.

[2020-09-23 02:17] LutaoChu commented on #393
感谢，我这边进行修复

[2020-09-23 02:27] ouroboros-phy commented on #398
报错的细节
libpng error: IDAT: CRC error
2020-09-23 09:01:28,685-WARNING: Your reader has raised an exception!
D:\ProgramData\Anaconda3\lib\site-packages\paddle\fluid\executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")

--------------------------------------------
C++ Call Stacks (More useful to developers):
-------------

[2020-09-23 02:28] LutaoChu commented on #393
1. Lovasz loss有weight参数可以调节，如果需要可以进行尝试。
2. 建议对数据集分布做一个摸底，看看是否需要清洗。如果存在类别不均衡的现象可以尝试lovasz loss或weighted softmax loss。另外针对数据的情况进行数据增强

[2020-09-23 02:33] ouroboros-phy commented on #398
paddlepaddle版本为paddlepaddle-gpu                   1.8.4.post107
cuda版本10.2

[2020-09-23 02:35] ouroboros-phy commented on #398
其他都是按照readme里一步步弄的，什么也没改

[2020-09-24 01:13] zhengzhe97 opened #406 "deeplab3v+如何使用resnet作为backbone?"
我看到预训练模型中有使用res50_vd的预训练权重，但是没有找到对应的配置文件，且在deeplab.py中似乎没有resnet这个backbone，请问需要进行哪些修改？

[2020-09-24 03:09] iceriver97 opened #407 "LaneNet：报错文件列表格式不正确"
在是用LaneNet时报错：
Traceback (most recent call last):
  File "D:\anaconda3\envs\paddle\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "D:\anaconda3\envs\paddle\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "D:\anaconda3\envs\paddle\lib\site-packages\paddle\fluid\reader.py", line 1145, in __thread_main__
    six.reraise(*sys.exc_info())

[2020-09-24 03:24] iceriver97 commented on #407
LaneNet的相关操作暂时还不能使用Seg的通用脚本来做

[2020-09-24 03:24] #407 closed, assigned to nobody

[2020-09-24 03:28] michaelowenliu commented on #406
@zhengzhe97 hi, which deeplab.py file are you using?

[2020-09-24 04:17] zhengzhe97 commented on #406
I use the version of paddleseg is version  5.

[2020-09-24 04:17] #406 closed, assigned to nobody

[2020-09-24 09:33] #393 closed, assigned to LutaoChu

[2020-09-24 11:44] iceriver97 opened #412 "LaneNet：使用其他数据集出现错误"
我使用官方的LaneNet车道线分割项目，但更换了自己的数据集，格式都按照官方项目数据集的格式整理好了，但报错：
[code]
这是什么原因呢？我在AIStudio上运行也是同样的错误

[2020-09-25 12:22] iceriver97 commented on #412
@LutaoChu 您能帮忙解答一下吗？我实在是找不出哪里有问题。我只是单纯的更换了数据集，新数据集的图片格式，标注格式都与原数据集保持一致；LaneNet这个项目的代码只能用于官方整理的那份数据集吗？还是说数据文件名称也得跟原数据集保持一致呢？

[2020-09-27 00:36] iceriver97 commented on #412
这是官方项目地址：https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.6.0/contrib/LaneNet
你们有试过更换不同的数据集来训练吗？

[2020-09-27 01:34] LielinJiang commented on #412
目前只测试过linux，gpu上的训练，可以换个有gpu的环境试试

[2020-09-27 01:36] LielinJiang commented on #398
试试paddleseg 0.4.0的版本和paddle 1.7的版本

[2020-09-27 01:36] iceriver97 commented on #412
@LielinJiang 我在**AIStudio**上也是同样的问题，我想问下你们有试过使用其他数据集进行训练吗？

[2020-09-27 01:37] LielinJiang commented on #412
没有额，不过你的错误不像是数据集的错误

[2020-09-27 01:42] iceriver97 commented on #412
@LielinJiang  我也觉得数据集应该没问题。但是如上所述，我仅修改了训练所用数据集，其他都与原项目保持一致，还是会报这种错误，我在交流群中得知：*** Check failure stack trace: *** 应该是CUDA驱动报错，然后建议我检查数据集，检查了一天也没发现问题。

[2020-09-27 01:46] iceriver97 commented on #412
@LielinJiang 你们能否使用其他数据集+该项目的代码进行测试一下，看是否遇到同样的问题？

[2020-09-27 03:18] iceriver97 commented on #412
@LielinJiang  还有我在尝试更换backbone时会出现这种奇怪的错误：
[code]
我已经设置 backbone 使用 enet ，但却提示我 except enet？

[2020-09-28 22:22] #398 closed, assigned to LielinJiang

[2020-09-28 22:22] ouroboros-phy commented on #398
已解决，谢谢

[2020-09-30 05:08] pengqianli opened #430 "如何进行自定义的多尺度训练？"

[2020-09-30 06:52] michaelowenliu commented on #430
@pengqianli Hi, in the current release version, the multi-scale training strategy is not supported yet. Sorry about that. Now we are upgrading the Seg repo together with PaddlePaddle2.0, and the feature of multi-scale training would be supported in the future version.

[2020-09-30 07:00] michaelowenliu commented on #412
@iceriver97 hi, could you please check cfg.MODEL.LANET.BACKBONE in your config file?

[2020-09-30 07:02] iceriver97 commented on #412
@michaelowenliu 谢谢，我就是那样设置啊，你可以去试试，是不是有这个BUG

[2020-09-30 08:11] michaelowenliu commented on #412
@iceriver97 hi, may I know your paddle/paddleSeg version? Let me reproduce the error. Thank you.

[2020-09-30 08:28] iceriver97 commented on #412
@michaelowenliu  paddle = 1.8.4 ; paddleSeg = 0.6.0

[2020-09-30 09:11] michaelowenliu commented on #412
@iceriver97 relay you once I get the point.

[2020-09-30 09:21] iceriver97 commented on #412
@michaelowenliu thx. But I also want to know why I make mistakes when I use my dataset in the LaneNet project. Can you help me?

[2020-09-30 10:43] michaelowenliu commented on #412
@iceriver97 sure, it might take some time due to the national day.

[2020-09-30 12:36] michaelowenliu commented on #412
@iceriver97  hi, the issue has been resolved, please update the code.

[2020-10-02 06:30] #394 closed, assigned to wuyefeilin

[2020-10-02 06:35] iceriver97 opened #434 "PaddleSeg 自动判断收敛情况"
PaddleSeg 有没有自动判断收敛的接口，类似使用PaddleX的时候，early_stop 选项可以在不收敛的时候终止训练

[2020-10-02 07:04] michaelowenliu commented on #434
@iceriver97 Hi, that is a good point, and the feature could be an available option in a future version.

[2020-10-02 12:00] iceriver97 opened #435 "Lovasz loss 震荡"
我尝试使用 Lovasz loss 解决分类不平衡的问题，但是，好像它不是收敛的， loss 一直在震荡；
我是这样设置的：
[code]
我能通过什么办法让它收敛？

[2020-10-03 11:50] linhandev opened #436 "Get negative loss with dice_loss or bcd_loss"
在用dice或者bce训练的时候loss出现了负数，dice是偶尔几个，bce有的时候是全是负的而且越来越小。代码直接pull没有改过，请问这个情况正常吗。
![image](https://user-images.githubusercontent.com/29757093/94990862-a4f80500-05b1-11eb-83b4-428abe1cfa79.png)

[2020-10-04 05:31] linhandev commented on #436
找到原因了，分割标签中有大于种类数的值，二分类的标签里有3,所以出现的负数

[2020-10-04 05:31] #436 closed, assigned to nobody

[2020-10-09 02:22] shuhan666 commented on #308
您好，很抱歉延误了那么长时间还来问您，运行完这个脚本图像标注的部分就没有了（是没有了是吗），这样好像不可行
![10fat](https://user-images.githubusercontent.com/66995945/95534756-3388de00-0a19-11eb-8a4b-f99ec5bbbe12.png)

[2020-10-09 03:17] wuyefeilin commented on #308
255改成1后，显示成黑的是正常的

[2020-10-09 07:50] deep-practice commented on #391
没有hrnet_w48的预训练模型吗

[2020-10-09 12:59] wuyefeilin commented on #391
@deep-practice 你可以使用imagenet的预训练模型

[2020-10-10 06:30] wuyefeilin commented on #332
@polor1010  https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.5.0/contrib/HumanSeg 里提供的模型输出有两个，你取第二个输出试试

[2020-10-10 06:47] wuyefeilin commented on #370
![image](https://user-images.githubusercontent.com/30919197/95648027-c0f62c00-0b06-11eb-9e60-49b603205b09.png)
看你运行的应该是自己的脚本，是否改了什么地方？
另外直接跑infer.py也一样吗？
还有你使用的paddle版本和PaddleSeg版本是什么？

[2020-10-11 10:01] linhandev commented on #370
运行的是官方没改过的代码，应该就是改了个文件名。
[code]
这种bug我也不是很会看不太知道什么引起的这个问题

[2020-10-11 13:16] deep-practice opened #445 "config里面的学习率是针对单卡还是多卡的？"

[2020-10-11 13:47] zhengzhe97 opened #446 "deeplab里面res101对应的预训练模型能给个链接吗"
model zoo里似乎只有res50的

[2020-10-12 02:26] LutaoChu commented on #435
你好，目前的信息不能确定是什么原因，有loss变化曲线可以贴出来吗？
可能学习率设置过大，可以调小试试

[2020-10-12 03:26] 642721838 opened #449 "图片过大，内存显示不足"
在训练语义分割模型时，图片大小为1024X1024，内存显示不足，把batchsize设置为1仍然不行，请问怎么解决啊，谢谢

[2020-10-12 04:53] michaelowenliu commented on #449
@642721838 hi, how about your GPU memory？

[2020-10-12 04:59] wuyefeilin commented on #446
@zhengzhe97  https://paddle-imagenet-models-name.bj.bcebos.com/ResNet101_vd_ssld_pretrained.tar 看一下这个是否可以

[2020-10-12 05:01] wuyefeilin commented on #445
单卡和多卡，学习率都是一样设置的，没有区分。

[2020-10-12 05:02] wuyefeilin commented on #370
你跑的是哪一个模型？

[2020-10-12 07:02] #445 closed, assigned to wuyefeilin

[2020-10-12 07:41] davidlinhl commented on #370
模型是Unet，输出2类

[2020-10-12 07:42] linhandev commented on #370
模型是unet，2个class 0/1 的输出

[2020-10-12 08:37] wuyefeilin commented on #370
@davidlinhl  https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.6.0/deploy/python  教程里面的示例模型能够跑通吗？

[2020-10-12 08:51] deep-practice opened #453 "ocrnet中使用lovasz报错"
Traceback (most recent call last):
  File "pdseg/train.py", line 466, in <module>
    main(args)
  File "pdseg/train.py", line 453, in main
    train(cfg)
  File "pdseg/train.py", line 237, in train
    train_prog, startup_prog, phase=ModelPhase.TRAIN)
  File "/home/work/deep_learning/local/PaddleSeg/pdseg/models/model_builder.py", line 196, in build_model
    multi_lovasz_softmax_loss(logits, lab

[2020-10-13 03:40] iceriver97 commented on #412
Thank you very much. Can I train with my own dataset now?

[2020-10-13 03:49] eddieheyutong opened #459 "请问一下怎么用eval.py看测试集的指标呢？默认的看的是验证集的吧"

[2020-10-13 04:16] eddieheyutong commented on #459
我试着修改了cfg文件中的DATASET.TEST_FILE_LIST 这个路径改为了test.list但是还是之前验证集的结果

[2020-10-13 04:52] michaelowenliu commented on #412
@iceriver97 hi, as I know, there could be some problem with a customized data, but whatever, how about your data? e.g. image size/resolution.

[2020-10-13 05:01] wuyefeilin commented on #459
DATASET.VAL_FILE_LIST  修改这个参数

[2020-10-13 05:26] iceriver97 commented on #412
thx.This project provides datasets, and I modified my own datasets in the official format, including size/resolution and annotation format.

[2020-10-13 06:23] phoenares commented on #412
@iceriver97 我也碰到过这种问题，不计算instance_loss就不太容易出现这种情况，可能是discriminative_loss实现里面有些地方越界或者异常了，可以调试一下

[2020-10-13 08:06] shuhan666 commented on #308
非常感谢，上一个问题已经解决了，现在有个很尴尬的问题，报错是这样的
----------------------
Error Message Summary:
----------------------
ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 396.162354MB memory on GPU 0, available memory is only 182.887500MB.

Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please decrease th

[2020-10-13 09:17] wuyefeilin commented on #308
你跑的是什么模型，然后你的显存多大？

[2020-10-13 10:26] shuhan666 commented on #308
跑的U-Net模型，然后显存这是4133m的意思吗（但是我报错显示只有170m左右可用）
![QQ截图20201013182334](https://user-images.githubusercontent.com/66995945/95849117-96fc6e00-0d81-11eb-9720-1151fc4ed9f8.png)

[2020-10-13 11:24] wuyefeilin commented on #308
那就是显存不足了，显存是随着模型的部署一步步增加的，这个是指这一步需要433m，但显存只剩下170m。
你可以减小图像尺寸和batch_size

[2020-10-13 12:59] linhandev commented on #370
我这时间有点长，环境和当时已经不一样了，现在这个教程能跑通，报错的那个环境不太知道。要不这个我先close吧，以后要是再遇到这个情况我注意保护一下环境

[2020-10-13 14:54] pengqianli opened #463 "请问config里面没有控制打印频率的参数吗？不想打印太频繁"

[2020-10-13 15:03] #463 closed, assigned to nobody

[2020-10-14 01:43] pengqianli opened #465 "FP16无法使用，请问是需要安装哪些前置依赖吗？"

[2020-10-14 02:12] wuyefeilin commented on #370
@linhandev  好的，有问题随时联系

[2020-10-14 02:18] lyf6 opened #466 "infer 可以多进程加速吗"

[2020-10-14 02:59] nepeplwu commented on #465
@pengqianli 请问遇到了什么问题

[2020-10-14 03:03] pengqianli commented on #465
感谢您的回复，错误是ValueError: var lod_tensor_blocking_queue_0 not in this block

[2020-10-14 03:04] nepeplwu commented on #465
麻烦贴下完整的报错堆栈

[2020-10-14 03:04] pengqianli commented on #465
Traceback (most recent call last):
  File "pdseg/mytrain.py", line 474, in <module>
    main(args)
  File "pdseg/mytrain.py", line 461, in main
    train(cfg)
  File "pdseg/mytrain.py", line 239, in train
    train_prog, startup_prog, phase=ModelPhase.TRAIN)
  File "/home/lab-li.pengqian/workspace/Competitions/CCFyaogan/PaddleSeg/pdseg/models/model_builder.py", line 257, in build_model
    decayed

[2020-10-14 03:09] pengqianli commented on #465
另外，其实我还有一个问题，我在训练的时候，发现，paddleseg的eval速度甚至比train的时候要慢一些。我查看了eval源码发现，测试逻辑是载入模型再逐batch进行推理，其实我并不明白为什么这么做会比训练要慢。我能想到的两个解释是1、推理时计算了梯度。2、测试的data loader慢。（个人刚刚测试同样迭代1250次20000张图，训练耗时6min，而推理同样多的图片竟然需要消耗8min多）
在使用pytorch时，同样train，val图片数量同样时，训练：测试时间约等于3min：20s。不知道paddle是否也能优化到这样呢？

[2020-10-14 06:38] wuyefeilin commented on #466
目前不行

[2020-10-14 06:43] LutaoChu commented on #453
你好，请问你的PaddleSeg和Paddle版本是多少呢？

[2020-10-14 07:11] nepeplwu commented on #465
@pengqianli
1. fp16运行不了的问题，我这边没有出现问题，麻烦提供下运行的配置和命令。
2. eval时可以观察下gpu的利用率，如果利用率不高，可以使用--use_mpio来提升数据读取的速度

[2020-10-14 08:27] deep-practice commented on #453
paddle:2.0.0-beta0
paddleseg:0.6.0

[2020-10-14 09:35] qinshihao111 opened #472 "lanenet的FP一直是0.7几"
我是直接使用的lanenet的官方示例的，然后他的FP一直是在0.7以上，我下载了你们训练好的模型，测试了一下也是这么多，但是我看论文只有0.078，请问下这是为什么？据我理解，FP=0.7应该表示预测错误的点占了70%吧
![SFHOR}3$APAA 1`0II@~8@E](https://user-images.githubusercontent.com/40258758/95971311-a17f3c00-0e43-11eb-8f4f-70f00695fa97.png)

[2020-10-14 11:54] pengqianli commented on #465
1、硬件配置的话是2080ti，命令是CUDA_VISIBLE_DEVICES=gpu_id python pdseg/train.py --use_gpu --do_eval --cfg ./configs/myconfigs/deeplabv3p_resnet50_vd.yaml
2、利用率不高，我后续会尝试用--use_mpio

[2020-10-14 13:28] shuhan666 commented on #308
图像尺寸可能没办法，batchsize我也调到2了，还有别的办法吗（大哭）

[2020-10-15 02:30] phoenares commented on #472
@qinshihao111 这个可能是预测的线条相对于ground truth来说太宽了，所以fp就很高，视觉效果上应该看不太出来。这个跟制作gt的时候线条的宽度和图像缩放应该是有关的。个人看法

[2020-10-15 03:34] qinshihao111 commented on #472
这不是说明它还是没有很好地拟合训练集吗，fp这么高，iou会很低吧

[2020-10-15 05:22] michaelowenliu commented on #472
@qinshihao111 Hi, yes, it is not fitting labels well, but actually, the lane labels are not good enough. You might visualize the results, and compare them with what you need, e.g. a lane area or lane line?

[2020-10-15 06:17] qinshihao111 commented on #472
@michaelowenliu
Thanks.I think I need a lane area.Maybe I need to set the width of lane to 30?

[2020-10-15 07:58] linhandev commented on #370
好的，辛苦了

[2020-10-15 07:58] #370 closed, assigned to wuyefeilin

[2020-10-15 12:27] pengqianli opened #478 "请问label.txt中类别的顺序和数值是对应的吗？"
例如在label.txt中，building在第一行，water在第二行，那么building对应的id是不是0，water对应的id是不是1？

[2020-10-15 23:33] brainchen2020 opened #481 "数据集找不到"
hello，我刚才尝试运行下教程报找不到数据集错误。
我也不知道去哪找数据。。
有建议吗？

<img width="1256" alt="截屏2020-10-16上午7 30 49" src="https://user-images.githubusercontent.com/29730101/96196390-d5607b80-0f81-11eb-8adb-8adb85f4891e.png">

[2020-10-16 01:14] pengqianli opened #482 "请问有无设置seed的接口？"

[2020-10-16 02:27] nepeplwu commented on #465
`configs/myconfigs/deeplabv3p_resnet50_vd.yaml`
这个配置是否方便提供下？另外你运行的paddle版本是？

[2020-10-16 02:32] michaelowenliu commented on #472
@qinshihao111 hi, I guess tuning the width could help. May I have a question on how you will use the lane area later? I mean your downstream application.

[2020-10-16 02:42] LutaoChu commented on #481
你好，我们正在升级最新版的教程，请耐心等候一下。等升级好通知你

[2020-10-16 02:47] eddieheyutong commented on #459
@wuyefeilin 我修改了这个配置选项之后执行eval.py文件loss、acc、iou这些指标一直是0.0000

[2020-10-16 03:01] qinshihao111 commented on #472
@michaelowenliu
It's really useful for me.Now I just need the results to complete my paper~

[2020-10-16 03:56] LutaoChu commented on #481
最新版教程已升级好，你可以再体验一下 https://aistudio.baidu.com/aistudio/projectdetail/100798

[2020-10-16 06:03] LutaoChu commented on #482
你好，你说的是随机数种子吧

[2020-10-16 06:11] LutaoChu commented on #453
PaddleSeg 0.6.0推荐的Paddle版本为1.8
未来的PaddleSeg 1.0会完全适配Paddle 2.0

[2020-10-16 07:21] pengqianli commented on #482
是的

[2020-10-16 07:31] eddieheyutong commented on #459
@wuyefeilin
我按照您所说的修改了这个路径为test.list的路径，但是所有的指标都是0，以下为提示信息：
[EVAL]#image=1525 acc=0.0000 IoU=0.0000
[EVAL]Category IoU: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[EVAL]Category Acc: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
/home/heyutong/PaddleSeg/pdseg/metrics.py:141: RuntimeWarning: invalid value encountered in double_scalars
  pe = tp / (total * total)
/home/heyutong/PaddleSeg/pdseg/metrics.py:142