[2021-03-29 12:03] BeyondYourself opened #926 "当前unet模型是不是不支持多尺度训练"
最近测试了一下unet模型，发现好像不支持多尺度的训练，后续这方面会支持吗

[2021-03-29 12:13] BeyondYourself commented on #430
@michaelowenliu  目前是不是还不支持呢

[2021-03-30 02:32] wsy1991 commented on #916
请问下，如果有softmax,有啥方法可以加快softmax推理嘛@wuyefeilin

[2021-03-30 06:54] yy11223 opened #927 "DeepLabv3+中 Pascal VOC数据集训练问题"
Paddle版本：PaddlePaddle 2.0.1
训练yaml文件：lovasz_softmax_deeplabv3p_mobilenet_pascal.yaml

TRAIN_CROP_SIZE: (500, 500) # (width, height), for unpadding rangescaling and stepscaling  #训练时图像裁剪尺寸（宽，高）
EVAL_CROP_SIZE: (500, 500) # (width, height), for unpadding rangescaling and stepscaling  #验证时图像裁剪尺寸（宽，高）
AUG:
    AUG_METHOD: "stepscaling" # choice unpadding rangescaling and stepscaling
    FIX_RESIZE_SIZ

[2021-03-30 10:18] liandanjia opened #930 "请问humansegserver模型在预测的时候能否支持多个cpu？"
请看https://aistudio.baidu.com/aistudio/projectdetail/475345
我安装了paddlepaddle 2.0.1 cpu版，然后跑infer.py，发现用cpu跑比较慢。paddlepaddle提示要设置环境变量CPU_NUM，我设成4或者8，结果预测时间和不设置是一样的，我怀疑这个设置没起作用。而且infer.py也没有use_gpu=False的参数。

谢谢！

[2021-03-30 11:03] uiuinj opened #931 "同一张图片预测结果不同，且成水平对称，如何解决"
用模型预测同一张图，结果不同，且水平对称，如何解决

[2021-03-30 11:05] uiuinj commented on #931
[
](https://aistudio.baidu.com/aistudio/projectdetail/1339458?channelType=0&channel=0)
-

[2021-03-30 11:33] AlwaysGemini opened #932 "测试官方用例，需要等待二十多分钟才开始训练"
1）PaddlePaddle版本：2.0.1
   2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
   3）GPU：GTX 3070，CUDA 10.1、CUDNN 7.6
   4）系统环境：Windows 10，Python 3.6

训练信息
   1）单机，单卡
   2）显存信息：8G
   3）Operator信息
运行官方用例后，需要等待二十分钟左右才会开始训练

`(paddleseg) G:\project\PythonProject\PaddleSeg>python train.py --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml
'C:\Program' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
2021-03-30 1

[2021-03-30 11:43] wuyefeilin commented on #932
@AlwaysGemini 首次运行的话会先下载数据集，导致启动时间偏慢

[2021-03-30 11:43] AlwaysGemini commented on #932
不是第一次，是每一次运行都会这样

[2021-03-30 12:01] wuyefeilin commented on #932
@AlwaysGemini 多试几个模型，看看会不会有类似的结果

[2021-03-30 12:05] uiuinj commented on #931
![1111](https://user-images.githubusercontent.com/65482999/112985699-17c5ef80-9193-11eb-9946-201e6d9356e0.png)
![2222](https://user-images.githubusercontent.com/65482999/112985737-26140b80-9193-11eb-93dd-b8f235d0a5c0.png)
官方训练集预测官方图片，却出现两种水平对称的情况，为什么

[2021-03-30 12:07] AlwaysGemini commented on #932
都是这样，而且可以确定是在train中的137行cfg.model占用二十分钟的，我之前打断点，这个断点过二十分钟后，下一行就可以顺畅运行了

[2021-03-31 02:19] wsy1991 commented on #916
尝试过了，并不会节省时间

[2021-03-31 02:31] wuyefeilin commented on #925
这个是正常的，打印出了网络计算flops的信息，如果你不关注可以忽略

[2021-03-31 03:15] #925 closed, assigned to wuyefeilin

[2021-03-31 03:19] BeyondYourself commented on #931
预测的配置可以发出来看看

[2021-03-31 03:58] wuyefeilin commented on #931
你好，请给一下你的预测命令

[2021-03-31 06:13] uiuinj commented on #931
我调用的是paddleseg包的API

![12344](https://user-images.githubusercontent.com/65482999/113098606-468fa480-922b-11eb-8b0f-15cb913ca7ab.png)
具体参数就是配置的这些

[2021-03-31 06:30] wuyefeilin commented on #932
应该是GTX显卡上构建网络的问题了，你试试直接调用Conv2D算子会不会有类似的情况

[2021-03-31 06:34] AlwaysGemini commented on #932
刚刚测试了一下了，如你所说，调用Conv2D，会有这样的情况

[2021-03-31 06:35] wuyefeilin commented on #932
多谢反馈，我们会把情况反馈给相关的同学

[2021-03-31 06:38] wuyefeilin commented on #931
方便的话给一下你完整的预测的流程，预估应该是你在配置transform的时候添加了随机翻转的操作

[2021-03-31 06:43] uiuinj commented on #931
已解决就是配置问题，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年3月31日(星期三) 下午2:39
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 同一张图片预测结果不同，且成水平对称，如何解决 (#931)

方便的话给一下你完整的预测的流程，预估是应该你在配置transform的时候添加了随机翻转的操作

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub,

[2021-03-31 06:49] #931 closed, assigned to nobody

[2021-03-31 07:59] michaelowenliu commented on #927
@yy11223 Hi, could you please try the dynamic graph version? https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0/configs/deeplabv3p

[2021-03-31 12:34] JustinHuang1984 commented on #922
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0331 20:34:22.151665 14396 analysis_predictor.cc:88] Profiler is deactivated, and no profiling report will be generated.
I0331 20:34:22.277359 14396 op_compatible_info.cc:201] The default operator required version is missing. Please update the model version.
I0331 20:34:22.277359 14396 analysis_predictor.cc:852] MODEL VERSION: 0.0.0

[2021-04-01 04:24] kingbirdWc opened #934 "训练报错，RuntimeError: The length of logits_list should equal to the types of loss config: 5 != 2."
训练报错提示RuntimeError: The length of logits_list should equal to the types of loss config: 5 != 2.

[2021-04-01 04:32] kingbirdWc commented on #934
![image](https://user-images.githubusercontent.com/23066646/113243776-3a1c5200-92e6-11eb-86a1-f17d6501b77c.png)
教程上是这样的，我模仿着写提示找不到

[2021-04-01 09:12] HuangLonghao opened #936 "使用paddleseg训练的fcn_hrnetw18模型，在windows上使用tensorrt预测推理时报错"
![image](https://user-images.githubusercontent.com/62374694/113271251-e113e480-930c-11eb-9941-84a8c7a5b96e.png)
paddleseg 2.0 tensorrt7.2 paddlepaddle2.0 paddle-inference推理库
提示broadcast dimention mismatch，关掉tensorrt后可以正常推理
predict 部分代码：
![image](https://user-images.githubusercontent.com/62374694/113272487-40262900-930e-11eb-8e82-0e799c624934.png)

[2021-04-01 11:18] LutaoChu commented on #930
你好，如果你安装的paddle cpu版本，infer.py会自动使用cpu，不会使用gpu的。
如果 CPU_NUM 与物理核心数相同，可能可以加速程序的运行。你可以试一下。
分割是计算密集型的应用，想要加速最好还是使用gpu

[2021-04-01 12:39] michaelowenliu commented on #922
@JustinHuang1984 Hi, it could be a problem with the VS or Window system. Can you try this way, https://docs.microsoft.com/en-us/answers/questions/233615/having-bad-problem-with-kernelbasepdb-not-found.html

[2021-04-02 06:00] yoyao1 opened #938 "测试代码导出的模型推理结果和直接predict结果不一致"
测试代码导出的模型推理infer.py结果和直接predict.py结果不一致。大体位置一样，边缘有区别

[2021-04-02 06:10] michaelowenliu commented on #934
@kingbirdWc Hi, please check the number of model output. It should be the same as the number of loss types in the config file.

[2021-04-02 10:51] liandanjia commented on #930
收到。物理核心是8个核，我试过CPU_NUM=8，看来是没效果。

[2021-04-02 12:51] pkuCactus opened #939 "在docker中多卡训练问题"
在docker中（--shm-size已经设置为机器的内存大小），用多卡训练报错
[code]

OSError: (External)  Nccl error, invalid data type, detail: Resource temporarily unavailable
Please try one of the following solutions:
1. export NCCL_SHM_DISABLE=1;
2. export NCCL_P2P_LEVEL=SYS;
3. Increase shared memory by setting the -shm-size option when starting docker container, e.g., setting  -shm-size=2g.
  (at /paddle/paddle/fluid/operators

[2021-04-05 00:44] AlwaysGemini opened #940 "使用Deeplabv3P和gcnet训练mIou仅有35.9%"
GPU：RTX 3070
Paddleseg 2.0.0
CUDA：11.0
修改根目录下的config文件训练自己的数据集，其他模型训练完mIou都能到97%、98%左右，只有Deeplabv3P和gcnet的mIou仅有35.9%，而且十分稳定，几乎就是一条平的线

如右图：https://imgtu.com/i/cMQr6g
底下的Deeplabv3P和gcnet几乎重合了

deeplabv3p.yml：
`_base_: '../_base_/my_base.yml'
batch_size: 1

loss:
  types:
    - type: CrossEntropyLoss
  coef: [1]

model:
  type: DeepLabV3P
  backbone:
    type: ResNet101_vd
    output_stride: 8

[2021-04-05 09:46] sxlyiyiyi opened #941 "模型导出失败"
AssertionError: The index of 0 in `shape` must be less than the input tensor X's dimensions. But received shape[4] = 0, X's dimensions = 4.

[2021-04-05 11:58] #941 closed, assigned to nobody

[2021-04-05 12:47] LutaoChu commented on #930
嗯嗯，humanseg应该还不支持多进程，所以CPU_NUM没效果是正常的

[2021-04-06 02:55] YAwei666 opened #943 "请问cpp infer支持32位的编译嘛"
如题，thanks

[2021-04-07 01:57] clannadcl opened #944 "自己数据集上eval.py无法运行"
paddleseg版本为0.8，quick start里关于optic数据集的eval.py是能够跑通的，可以得到iou和acc结果，但是在自己数据集上会报错，具体日志如下：

W0407 09:36:18.678267 134708 device_context.cc:338] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 10.2, Runtime API Version: 10.1
W0407 09:36:18.679236 134708 device_context.cc:346] device: 0, cuDNN Version: 7.6.
{'AUG': {'AUG_METHOD': 'stepscaling',
         'FIX_RESIZE_SIZE': (3384, 2710),

[2021-04-07 02:08] yangy996 opened #945 "请问下这个可以做边缘检测一类的训练吗?"

[2021-04-07 03:49] michaelowenliu commented on #926
@BeyondYourself You may refer to this part, Hierarchical Multi-Scale Attention, https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0/contrib/CityscapesSOTA

[2021-04-07 03:55] michaelowenliu commented on #943
@YAwei666 Hi, please put more details.

[2021-04-07 03:57] michaelowenliu commented on #945
@YY007H Hi, sure, go ahead. Take care of your labels.

[2021-04-07 04:59] LutaoChu commented on #939
试一下这3种方法的任意一种能不能成功？
1 训练启动命令去掉--num_workers；
2 export NCCL_SHM_DISABLE=1;
3 export NCCL_P2P_LEVEL=SYS;

[2021-04-07 05:59] clannadcl commented on #944
@michaelowenliu 但是自己数据集训练和训练后的可视化结果都可以

[2021-04-07 06:00] JustinHuang1984 commented on #922
0x00007FFFEE8A3B29 处(位于 demo.exe 中)有未经处理的异常: Microsoft C++ 异常: paddle::platform::EnforceNotMet，位于内存位置 0x000000E965FBF0F0 处。

[2021-04-07 06:00] JustinHuang1984 commented on #922
还是会报上面的错

[2021-04-07 06:05] cryoco commented on #936
您好，可否贴一下您用的预测模型，我们定位下原因

[2021-04-07 06:25] michaelowenliu commented on #944
@clannadcl Hi, Can you try the new version, i.e. 2.0?

[2021-04-07 06:27] michaelowenliu commented on #940
@michaelowenliu Hi, could you please try ResNet50_vd as the backbone rather than 101?

[2021-04-07 06:47] AlwaysGemini commented on #940
I just tried to use Resnet50_VD as backbone, and the result of mIou has been around 29.53%.

[2021-04-07 06:54] pkuCactus commented on #939
感谢，已经解决，重新安装了docker里的nccl和cudnn就好了

[2021-04-07 07:03] LutaoChu commented on #939
不客气，恭喜解决

[2021-04-07 07:13] SophiaGeminiJiang opened #946 "关于文件路径的问题"
readme文档中的路径和实际上的文件路径不一致
很多代码 例如dataset.py中也有这个问题 导致import失败
麻烦更新一下 谢谢

[2021-04-07 07:53] HuangLonghao commented on #936
链接：https://pan.baidu.com/s/1zpcYPvhRQlOS4aFE8NI8bg
提取码：sx02
我用的fcn-HRNetw18模型进行训练之后导出的部署模型

[2021-04-07 08:19] clannadcl commented on #944
@michaelowenliu 因为我的paddle版本不支持最新的2.0，所以没用

[2021-04-07 08:37] michaelowenliu commented on #940
@AlwaysGemini Hi, that's weird. How about turning off data augmentation for colour distortion?

[2021-04-07 09:48] wuyefeilin commented on #923
看情况，是在验证的时候输入图片过大导致的内存不足，验证一下是否是val_dataset里transform的配置输出的图像大小过大。另外给一下配置让我们确认一下

[2021-04-07 09:49] wuyefeilin commented on #938
检查一下是否是数据预处理不一致导致的问题

[2021-04-07 09:53] wuyefeilin commented on #944
检查一下验证集的数据是否异常。 欢迎使用我们的动态图版本哈

[2021-04-07 10:08] BeyondYourself commented on #923
之前我的总数据量大概是几百兆的时候也会出现这样的情况，而且总的数据量也就几百的情况下也会出现内存不足

[2021-04-07 11:01] wuyefeilin commented on #923
跟数据量没有关系的，跟transform的设置有关

[2021-04-07 11:07] BeyondYourself commented on #923
我之前val中的transform,只有resize  [512,512]这样的设置或者normalize，没有其他别的设置

[2021-04-07 11:08] wuyefeilin commented on #923
麻烦给一下你出问题时候的配置信息

[2021-04-07 11:13] BeyondYourself commented on #923
这个是我的配置信息
`train_dataset:
  type: Dataset
  dataset_root: /home/aistudio/work/data/tables/label
  train_path: /home/aistudio/work/data/tables/label/train_list.txt
  num_classes: 5
  transforms:
    - type: RandomHorizontalFlip
    - type: RandomVerticalFlip
    - type: Normalize
    - type: RandomBlur
      prob: 0.23
    - type: Resize
  mode: train

val_dataset:
  type: Dataset
  dataset_root:

[2021-04-07 12:29] wuyefeilin commented on #923
看一下显存是否只有这一个进程，另外看一下单独评估是否还是一样， 还有缩小Resize的尺寸试一下

[2021-04-08 05:38] HuangLonghao opened #949 "在使用官方的预训练进行训练后，如何进行finetune训练？"
我看训练接口没有pretrain相关的参数，只有一个resumecheckpoint可以从中断点继续训练，在config中的pretrain也只能设置为从网上下载的预训练模型

[2021-04-08 06:16] michaelowenliu commented on #949
@HuangLonghao Hi, what's your question?

[2021-04-08 06:19] michaelowenliu commented on #946
@SophiaGeminiJiang Hi, could you please submit a PR for that?

[2021-04-08 06:50] HuangLonghao commented on #949
在使用官方的预训练进行训练后，如何进行finetune训练？config中pretrained没法使用之前训练好的模型，训练相关接口中也只有resumecheckpoint中断点训练，没有finetune相关参数

[2021-04-08 07:48] kingbirdWc commented on #934
Hello, this model output only contains 2 classes, I have configured it in .yml file. Loss types also have 2 number. Some are as follows.

val_dataset:
  type: Dataset
  dataset_root: ./data/df_dataset_paddle/
  val_path: ./data/df_dataset_paddle/paddle_val_list.txt
  num_classes: 2
  transforms:
    - type: Normalize
  mode: val

optimizer:
  type: sgd
  momentum: 0.9
  weight_decay: 4.0e-5

learn

[2021-04-08 07:49] yeyupiaoling opened #950 "人像分割有2.0.0版本的吗？"
这个模型：https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0/legacy/contrib/HumanSeg
有没有2.0.0版本的。这个在新环境无法部署。

[2021-04-08 08:26] michaelowenliu commented on #950
@yeyupiaoling Hi, coming soon.

[2021-04-08 08:29] michaelowenliu commented on #934
@kingbirdWc Hi, the length of logit_list in UNet is only one, but the number of loss is two, please check the output of UNet model there , https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/models/unet.py#L67

[2021-04-08 08:34] michaelowenliu commented on #949
@HuangLonghao Hi, please refer to the previous issue, https://github.com/PaddlePaddle/PaddleSeg/issues/633

[2021-04-08 08:38] yeyupiaoling commented on #950
@michaelowenliu 那是时多快？

[2021-04-08 08:54] feeling69 opened #951 "TX2 C++预测部署使用GPU时mask输出为空（而cpu正常）"
环境：
jetson TX2平台(jetpack4.4 cuda10.2 )， paddleseg v0.8.0，预测库直接下载官网“安装与编译Linux预测库”中对应版本的paddle_inference.tgz
问题：在paddelseg/deploy/cpp里编译成功后(编译选项GPU=ON)，执行./demo，关闭GPU开关，即deploy.yaml USE_GPU : 0，正常输出mask，打开GPU，deploy.yaml USE_GPU : 1时，mask输出全为0
求教原因，多谢解答！

[2021-04-08 09:20] yeyupiaoling commented on #950
@michaelowenliu 有没有工具将
![image](https://user-images.githubusercontent.com/26297768/114001697-bedf1100-988e-11eb-924e-1f195bb43991.png)

转为

![image](https://user-images.githubusercontent.com/26297768/114001730-c69eb580-988e-11eb-9858-08207e35ca16.png)

[2021-04-08 15:31] qiyuezhiguang opened #953 "legacy模型压缩问题"
### 在模型剪枝的教程中有这样一步：
2. 确定待分析参数
我们通过剪裁卷积层参数达到缩减卷积层通道数的目的，在剪裁之前，我们需要确定待裁卷积层的参数的名称。 通过以下命令查看当前模型的所有参数：

 查看模型所有Paramters
for x in train_prog.list_vars():
    if isinstance(x, fluid.framework.Parameter):
        print(x.name, x.shape)
  ### 该代码需要运行在哪里，如何读取模型参数并进行显示呢？该代码孤零零的，无法使用，感谢答复。

[2021-04-09 01:14] wangjiangtao916 opened #954 "the model of decoupledsegnet"
the model of decoupledsegnet can not be used, it will be take about Segmentation fault (core dumped),can you tell how to solve the problem?

[2021-04-09 01:31] michaelowenliu commented on #954
@wangjiangtao916 Hi, Could you please put more information on the running environment, e.g. PaddlePaddle, PaddleSeg, CUDA version.

[2021-04-09 01:39] clannadcl commented on #944
@wuyefeilin 用check.py检查验证集没有问题，都pass通过了。目前的报错还是
----------------------
Error Message Summary:
----------------------
ExternalError:  Cudnn error, CUDNN_STATUS_NOT_SUPPORTED  (at /paddle/paddle/fluid/platform/cudnn_desc.h:162)
  [operator < conv2d > error]

[2021-04-09 01:47] wangjiangtao916 commented on #954
I used the aistudio and PaddleSeg2.0

[2021-04-09 01:51] wangjiangtao916 commented on #954
i just run the yml according to the Paddleseg github, but is not successful

[2021-04-09 01:53] clannadcl commented on #944
@wuyefeilin 用check.py检查验证集没有问题，都pass通过了。目前的报错还是
Error Message Summary:
ExternalError: Cudnn error, CUDNN_STATUS_NOT_SUPPORTED (at /paddle/paddle/fluid/platform/cudnn_desc.h:162)
[operator < conv2d > error]

与optic数据集应该只有测试图大小不同

[2021-04-09 02:08] luotao1 opened #955 "iog模型相同的网络结构和输入图片，不同的网络参数，在跑前向计算时间差异大"
### 问题描述
发现相同的网络结构和输入图片，不同的网络参数，在跑前向计算时间差异有25倍（只有load的参数不一样，其他全部一致，环境也是一样的，代码也一样）。
经过排查，发现【**同样大小的矩阵乘，MKL_SGEMM速度差距大**】：
1） 使用MKL_VERBOSE=1观察，日志中只调用了MKL_SGEMM函数。而同样大小的矩阵乘，MKL_SGEMM速度差距非常大
a)      跑的慢的模型，如前两个GEMM，分别是849.51ms和75.78ms
![图片](https://user-images.githubusercontent.com/6836917/114041542-3759c800-98b7-11eb-9797-a00dc2ba2694.png)
b)      跑的慢的模型，如前两个GEMM，分别是114.44ms和1.46ms。差距在7倍到70倍左右
![图片]

[2021-04-09 02:28] wuyefeilin commented on #944
你用训练集进行验证看看是否正常

[2021-04-09 02:34] clannadcl commented on #944
@wuyefeilin 不可以，同样的错误。设置文件里是这么设置的：

EVAL_CROP_SIZE: (3384, 2710)
TRAIN_CROP_SIZE: (769, 769)
AUG:
    AUG_METHOD: "stepscaling" # choice unpadding rangescaling and stepscaling
    FIX_RESIZE_SIZE: (3384, 2710) # (width, height), for unpadding
    INF_RESIZE_VALUE: 500  # for rangescaling
    MAX_RESIZE_VALUE: 600  # for rangescaling
    MIN_RESIZE_VALUE: 400  # for rangescaling
    MAX_SCALE_FACTO

[2021-04-09 02:43] wuyefeilin commented on #944
换成这个配置试一下
EVAL_CROP_SIZE: (512, 512)
TRAIN_CROP_SIZE: (512, 512)
AUG:
AUG_METHOD: "unpadding" # choice unpadding rangescaling and stepscaling
FIX_RESIZE_SIZE: (512, 512) # (width, height), for unpadding

[2021-04-09 02:48] clannadcl commented on #944
这样可以了，是因为原图太大了吗？

[2021-04-09 03:09] luotao1 commented on #955
@yinghu5 的建议回复：

我们做假设：以下的结果是做同样大小的矩阵乘法，在同样的硬件条件下结果应该有类似的 MKL Verbose 速度。现在有很大的差距
所以我们第一方向，确认硬件条件：

还记的我们还有高欢上次有一个类似现象的 （不过多线程），那个case是memory 的问题，  大的模型，已经超出L3 cache, 要用  memory ， 小模型 可以装在整个cache里，  memory vs. cache 速度上是上十倍慢，  所以性能上有上十倍的差距。

可以采集Vtune结果，具体是在docker内部开了两个窗口采集的。
-   一个窗口跑`python test.py`命令，另一个窗口通过top找到进程号，使用`amplxe-cl -collect hotspots -run-pass-thru=--no-altstack  -target-pid=xxx` 来

[2021-04-09 03:31] luotao1 commented on #955
@yinghu5 的建议回复：

https://software.intel.com/content/www/us/en/develop/documentation/vtune-cookbook/top/configuration-recipes/profiling-in-docker-container.html
和 有一张vtune 的图供你参考
![图片](https://user-images.githubusercontent.com/6836917/114124027-12e90480-9926-11eb-9955-df9f68097f41.png)

我尝试了系统采集方法`amplxe-cl -collect hotspots -knob sampling-mode=hw -knob enable-stack-collection=true --duration unlim

[2021-04-09 04:05] yinghu5 commented on #955
1. 请试试这个 uarch 的采集
/opt/intel/oneapi/vtune/2021.1.1/bin64/vtune -collect uarch-exploration --duration unlimited

2. 快的模型 和慢的模型， 有MKL verbose 的分别log  和分别 Vtune 采集后的结果吗，我们对比 libmklml_intel.so 的情况看看

3. 原因是这个程序前面会加载模型，加载模型这段略慢。
   为了简便起见，我们就直接系统采集。 vtune 可以支持 customer task 采集， 或者 启动都先让 程序load， 然后在 click 开始采集， 这些需要时我们再启用

[2021-04-09 07:08] michaelowenliu commented on #954
@wangjiangtao916 How about your cuda version?

[2021-04-09 07:14] wangjiangtao916 commented on #954
11.0

[2021-04-09 07:20] nepeplwu commented on #953
@qiyuezhiguang 抱歉造成了不好的体验，参考如下步骤
1. 将`PaddleSeg/legacy/pdseg`设置为PYTHONPATH
[code]
2. 执行以下代码进行打印
[code]

另外，目前动态图版本已经支持剪枝、蒸馏等功能，查看[教程](https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0/slim)动态图模式下有更多前沿的模型支持，欢迎体验

[2021-04-09 08:51] WonDaniel opened #956 "关于label维度和logit维度不一致的问题"
在使用自己数据进行训练的时候，发现报错
[Hint: Expected labels_dims[axis] == 1UL, but received labels_dims[axis]:3 != 1UL:1.]
猜测是label图片读取的时候，通道数为3，查了下dataset.py和transforms.py的代码，在Compose这个类中，关于label图片的读取是
label = np.asarray(Image.open(label))
改成
label = cv2.imwrite(label, cv2.IMREAD_GRAYSCALE)
此时报错解除，但不确定是否有效
不知道是我的图片的问题还是哪里不对

[2021-04-09 11:07] michaelowenliu commented on #954
@wangjiangtao916 Hi, can you try cuda 10.2?

[2021-04-09 11:09] michaelowenliu commented on #956
@ww451575464 Hi, yes, your label format is wrong. It should be a single channel.

[2021-04-10 02:23] franva opened #957 "Remove unnecessary parameters whenever possible"
Learning from this article:
https://aistudio.baidu.com/aistudio/projectdetail/1339458

One of the line of the code drew my attention:

[code]

To an normal person's understanding, once we have the `model` loaded and ready to use, why do we need the `model_path` again?

Preferably the model_path should be inferred automatically, if not, then please move the `model_path` to the place where the model

[2021-04-10 04:15] franva opened #958 "OpticDiscSeg return label as path string rather than array when mode is 'test'"
[code]
[code]
_The output is:_

**train label is: [[255 255 255 ... 255 255 255]
 [255 255 255 ... 255 255 255]
 [255 255 255 ... 255 255 255]
 ...
 [  0   0   0 ... 255 255 255]
 [  0   0   0 ... 255 255 255]
 [  0   0   0 ... 255 255 255]]
test label is: /home/aistudio/work/newdata/origin/3352.jpg**

See above, the train label is an array, but the test label is a path string.
This is an inconsis

[2021-04-10 15:39] yoyao1 commented on #938
debugfile('H:/py/PaddleSeg/predict.py',args='--config configs/quick_start/bisenet_optic_disc_512x512_1k.yml \
       --model_path output/iter_1000/model.pdparams \
       --image_path data/optic_disc_seg/JPEGImages/H0003.jpg \
       --save_dir output/result', wdir='H:/py/PaddleSeg')
debugfile('H:/py/PaddleSeg/deploy/python/infer.py',args='--config output/1/deploy.yaml --image_path data/optic_disc

[2021-04-10 15:49] yoyao1 commented on #938
runfile('H:/py/PaddleSeg/export.py',args='--config configs/quick_start/bisenet_optic_disc_512x512_1k.yml \
--save_dir output/3 \
--model_path output/iter_1000/model.pdparams ', wdir='H:/py/PaddleSeg')
导出的代码

[2021-04-12 01:18] michaelowenliu commented on #957
@franva Hi, thanks for your suggestion. The `model_path` allows the user to run `predict` using different pre-trained parameters without initiating the model every time.

[2021-04-12 02:47] wuyefeilin commented on #938
这种情况是正常的，因为导出的时候默认的transform只有normalize, 跟predict有所差异，你可以在导出的时候修改transform的配置（https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/export.py#L72）， 然后在推理的时候相应的对后处理进行更改（https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/deploy/python/infer.py#L108）。

我们后续会对这一块进行优化，提升体验。

[2021-04-12 02:55] BeyondYourself opened #959 "当前是否支持训练集为灰度图？"
想请教一下，当前训练是否支持输入图片为灰度图，或者是否支持混合类型的图片，比如输入图像既有3通道，又有单通道的图像。
上述所指的图像不包含标注图

[2021-04-12 03:17] michaelowenliu commented on #959
@BeyondYourself Hi, currently not. We consider this new feature in a future version. Thanks for your good suggestion.

[2021-04-12 03:34] BeyondYourself commented on #959
OK,thanks

[2021-04-12 03:34] #959 closed, assigned to michaelowenliu

[2021-04-12 03:39] michaelowenliu commented on #958
@franva Hi, yes, it is an issue introduced by an old version, which is for prediction. In the current version, we designed a specific `predict` method for the purpose. The `test` mode is deprecated and will be removed in a future version. Thanks a lot!

[2021-04-12 09:11] Birdylx opened #960 "ResizeByLong has no attribute 'target_size'"
when I use ResizeByLong for evaluation, the infer.py in paddleseg/core report a error that ResizeByLong has no attribute 'target_size'.
It seems that there is a bug in ResizeByLong class, it has args of long_size, but not target_size, and the infer.py need transforms op.target_size. So, I just simply add a new attribute ` self.target_size = im.shape[:2] ` in ResizeByLong class, and it works. I'm n

[2021-04-12 09:18] luotao1 commented on #955
@yinghu5

会出现以下错误，且在网上没有找到对应的解决方案
[code]

MKL verbose的分别log见：[fast.log](https://github.com/PaddlePaddle/PaddleSeg/files/6295390/fast.log) [slow.log](https://github.com/PaddlePaddle/PaddleSeg/files/6295391/slow.log)

分别 Vtune 采集后的结果：请问是需要第一步系统采集后的结果么？

[2021-04-12 09:42] luotao1 commented on #955
@yinghu5

会出现以下错误，且在网上没有找到对应的解决方案
[code]

MKL verbose的分别log见：[fast.log](https://github.com/PaddlePaddle/PaddleSeg/files/6295390/fast.log) [slow.log](https://github.com/PaddlePaddle/PaddleSeg/files/6295391/slow.log)

分别 Vtune 采集后的结果：我使用系统采集`amplxe-cl -collect hotspots -knob sampling-mode=hw -knob enable-stack-collection=true --duration unlimited`的结果如下 [fast.tar.gz](https://github.com/PaddlePaddle/P

[2021-04-12 12:54] yoyao1 commented on #938
predict也是normalize啊？ 我看预处理后结果是一样的

[2021-04-12 14:48] monkeycc opened #962 "'BiSeNetV2' object has no attribute 'data_format'"
paddlepaddle-gpu   2.0.1.post110
paddleseg          2.0.0
Cuda compilation tools, release 11.0, V11.0.194
Build cuda_11.0_bu.TC445_37.28540450_0

验证安装
python train.py --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml

报错
------------------------------------------------
W0412 22:29:38.847007 16703 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Ve

[2021-04-13 02:08] wuyefeilin commented on #938
predict的预处理还有一个resize到512x512的操作哈

[2021-04-13 02:14] wuyefeilin commented on #962
使用的话，请使用release/v2.0分支哈。如果需要最新版本，可以基于develop分支哈

[2021-04-13 03:15] yoyao1 commented on #938
data/optic_disc_seg/JPEGImages/H0003.jpg 这个图本身就是512x512 的，我看预处理后tensor的数据是一样的

[2021-04-13 06:36] michaelowenliu commented on #960
@Birdylx Hi, yes, we will fix the bug soon, thanks for your great issue!

[2021-04-13 07:03] wuyefeilin commented on #938
方便的话，可以定位一下是数据预处理，模型推理，数据后处理的哪个环节开始出现不同

[2021-04-13 07:24] yoyao1 commented on #938
应该是 模型推理 出的问题， 推理前的预处理后的数据是一样的，推理后的tensor就不一样了

[2021-04-13 07:28] wuyefeilin commented on #938
好的，多谢反馈哈，我们这边会尽快修复问题

[2021-04-13 08:55] VJoer opened #963 "关于训练自己数据集的问题"
我按照教程训练制作自己的数据集，使用Fast scnn 进行多分类语义分割训练，配置文件也是按照教程来的，但是训练结果只是二分类，请问是什么原因。
train_dataset:
  type: Dataset
  dataset_root: data
  train_path: data/train.txt
  num_classes: 25
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0.25
    - type: RandomPaddingCrop
      crop_size: [512, 512]
    - type: RandomHorizontalFlip
    - ty

[2021-04-13 09:28] michaelowenliu commented on #963
@VJoer Hi, make sure the num_classes in the model is correct. https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/models/fast_scnn.py#L61

[2021-04-13 09:38] VJoer commented on #963
好的，请问配置文件中如何修改传入图片的大小

[2021-04-14 02:14] monkeycc opened #964 "You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default."
export PATH="/usr/local/cuda-11.1/bin:$PATH"
export LD_LIBRARY_PATH="/usr/local/cuda-11.1/lib64:$LD_LIBRARY_PATH"
export CUDA_HOME=$CUDA_HOME:/usr/local/cuda-11.1
export CUDA_VISIBLE_DEVICES=0

NVIDIA-SMI 460.39
Driver Version: 460.39
CUDA Version: 11.2

-----------Environment Information-------------
platform: Linux-5.10.18-amd64-desktop-x86_64-with-debian-10.8
Python: 3.7.10 (default, Feb 26 202

[2021-04-14 02:43] michaelowenliu commented on #964
@monkeycc Hi, please use `paddle.utils.run_check()` to check the installation.

[2021-04-14 02:44] michaelowenliu commented on #963
@VJoer Hi, please take a look at our config files.

[2021-04-14 03:04] monkeycc commented on #964
import paddle
paddle.utils.run_check()

Running verify PaddlePaddle program ...
2021-04-14 11:02:54,203 - WARNING - You are using GPU version PaddlePaddle, but there is no GPU detected on your machine. Maybe CUDA devices is not set properly.
 Original Error is (External)  Cuda error(999), unknown error.
  [Advise: Please search for the error code(999) on website( https://docs.nvidia.com/cuda/archi

[2021-04-14 12:20] cryoco commented on #936
您好，这个问题预计在下个版本2.0.2会修复，这两天会发布，您可以关注验证下

[2021-04-15 03:59] feeling69 opened #968 "PaddleSeg做了减枝后的模型如何进行C++预测部署"
PaddleSeg剪枝后训练模型，包括pdmodel，pdopt，pdparams，__groups__， __shapes__ 5个文件，如何将其转换成C++环境中的预测模型，即__models__，__params__，deploy.yaml

[2021-04-15 11:43] michaelowenliu commented on #968
@feeling69 Hi, there is an unofficial tutorial from a developer, https://blog.csdn.net/qianbin3200896/article/details/112635275

[2021-04-16 03:49] BeyondYourself opened #969 "对于标注的数据如何做增广"
自定义标签数据在保存的时候是用的PIL.Image.save("xxxx",model="P)方法

在数据增广阶段，采用了transofrom里的方法，但是结果保存的时候用的cv2.imwrite的方法，保存的标签数据变成RGB格式的图像，这样就不符合标签格式图，为了解决这个问题，我讲RGB格式的转化为PIL.Image.save("xxxx",model="P)保存格式。
这样在训练的时候出现以下错误：

`
Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:481 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lbl] == ignore_idx_` failed. The value of l

[2021-04-16 10:00] michaelowenliu commented on #960
@Birdylx Hi, fix it already, please update it. https://github.com/PaddlePaddle/PaddleSeg/pull/971/files

[2021-04-16 10:00] #960 closed, assigned to michaelowenliu, wuyefeilin

[2021-04-18 04:36] mfang2020 opened #972 "PaddleSeg 人像分割官方教程报错"
在试图运行PaddleSeg实战——人像分割（新版）的代码
[code]
试了几个paddle>=1.7.2的版本都会报这个错，请问要怎么解决呢？谢谢！
`cannot import name 'check_variable_and_dtype' from 'paddle.fluid.data_feeder' `

---
如果使用现在PaddleSeg/legacy/contrib 或者PaddleX里的humanseg文件，
只能进行到model loaded, 官方下载的图片数据集永远都不能开始infer （aistudio运行环境），这又是为什么呢？gpu也没有显示被用到
[code]

[2021-04-19 01:43] choujujua opened #973 "DecoupledSegNet错误"
1.环境：（首先安装cpu版本，测试成功）

![当前环境](https://user-images.githubusercontent.com/52094265/115170646-aaeba880-a0f3-11eb-8a22-04cd130f4ddb.png)

2.安装GPU版本
命令：python -m pip install paddlepaddle-gpu==2.0.0 -i https://mirror.baidu.com/pypi/simple

3.出现问题

![出现问题一](https://user-images.githubusercontent.com/52094265/115170506-62cc8600-a0f3-11eb-8160-fc211569fce5.png)

4.解决方案
（1）env | grep cuda
（2）port LD_LIBRARY

[2021-04-19 02:46] LutaoChu commented on #972
可否贴一下这行报错的stack呢
[code]
ai studio教程用的是paddle 1.7.2，这个版本也不行吗？

[2021-04-19 04:00] luotao1 commented on #955
@yinghu5

1. uarch 的采集一直没有成功，请问还有别的方式可以判断么？
2. 不用MKL编译，使用OpenBlas编译，两个不同的网络参数，依然差距20多倍。
3. 在网上找到一个类似的帖子：https://stackoverflow.com/questions/38042451/cblas-gemm-time-dependent-on-input-matrix-values-ubuntu-14-04 相同维度的矩阵，如果矩阵中含有0的个数很多，则速度会快非常多

[2021-04-19 07:08] luotao1 commented on #955
怀疑和异常数有关系：
@T8T9 当时定位：Res2Net50_26w_4s 和 DPN68 ，网络结构相同，但 conv2d 性能差异较大，是因为动态图得到的模型参数中包含更多的 denormal float value（异常值，如 8.04432e-21），即非常接近于0的值。cpu在计算包含这些denormal value时，性能相比 normal value 会下降 100x 倍（可参考 https://stackoverflow.com/questions/9314534/why-does-changing-0-1f-to-0-slow-down-performance-by-10x 和 https://stackoverflow.com/questions/14001910/what-is-this-denormal-data-about-c ）。解决方法如下：
![图片](h

[2021-04-19 07:17] yinghu5 commented on #955
add denormal number documentation:

1. https://software.intel.com/content/www/us/en/develop/documentation/onemkl-linux-developer-guide/top/managing-performance-and-memory/other-tips-and-techniques-to-improve-performance/operating-on-denormals.html

2. https://software.intel.com/content/www/us/en/develop/documentation/fortran-compiler-oneapi-dev-guide-and-reference/top/compiler-reference/compiler-o

[2021-04-19 08:01] yinghu5 commented on #955
![image](https://user-images.githubusercontent.com/43240216/115201925-6a5a5200-a128-11eb-9036-57e3f2381248.png)
mkl on same function: fast vs slow:  76.26ms vs. 3.84s

[2021-04-19 08:39] yinghu5 commented on #955
-msse -mfpmath=sse  to GCC and switch the CPU to denormals-are-zero  adn flush to zero model

[2021-04-19 08:47] luotao1 commented on #955
https://github.com/PaddlePaddle/Paddle/pull/32350 可以解决这个问题，加入后，两个模型的速度基本无差。

[2021-04-19 08:54] yinghu5 commented on #955
Perfect resolved!

[2021-04-19 09:32] LYA-Ansel commented on #973
Hi, 我也出了一模一样的问题  请问你有找到解决方案吗？

[2021-04-19 09:38] choujujua commented on #973
Sorry, I haven't solved this problem yet。

[2021-04-19 09:39] choujujua commented on #973
对不起，我现在还没有解决这个问题。

[2021-04-19 11:26] BeyondYourself opened #974 "建议开设FAQ专栏"
现在也有好多issues已经close，评论区还是有很多人会重复提一些已经解决的issues，在项目中开设FAQ专栏，一方面是知识积淀，另一方面也能够让更多人了解到可能遇到的问题及解决方法

[2021-04-19 12:19] michaelowenliu commented on #974
@BeyondYourself Hi, the feature is coming soon. Thanks for your suggestion!

[2021-04-19 12:25] BeyondYourself commented on #974
Great

[2021-04-19 12:25] #974 closed, assigned to michaelowenliu

[2021-04-20 01:06] michaelowenliu commented on #973
@choujujua Hi, we are reproducing this issue.

[2021-04-20 02:43] #950 closed, assigned to michaelowenliu

[2021-04-20 06:22] cloudsurging opened #978 "运行unet眼球训练例子报错"
![image](https://user-images.githubusercontent.com/32347832/115347264-c504b400-a1e3-11eb-8dce-54407b1074b0.png)
'NoneType' object has no attribute 'run'
'NoneType' object has no attribute 'run'Traceback (most recent call last):
  File "d:/PaddleSeg/pdseg/train.py", line 420, in train
    loss, lr = exe.run(

[2021-04-20 06:37] #866 closed, assigned to wuyefeilin

[2021-04-20 06:46] wuyefeilin commented on #969
数据增广可以通过transform进行设置的，你是怎么进行数据增广的

[2021-04-20 07:21] Abris-087 opened #979 "关于VisualDL可视化"
我在aistudio上训练模型，由于算力卡原因，分两次才训练完毕。

[2021-04-20 07:23] Abris-087 commented on #979
output文件夹下有两个log文件，但是visualDL只能显示后一段的训练曲线。有什么办法可以展示完整的训练过程吗？
![image](https://user-images.githubusercontent.com/61613537/115354511-495b3500-a1ec-11eb-9ce0-a0844f0bb2a0.png)

![image](https://user-images.githubusercontent.com/61613537/115354448-38122880-a1ec-11eb-9c6f-2f3b28eb79d7.png)

[2021-04-20 08:57] michaelowenliu commented on #978
@cloudsurging Hi, please use the latest version which supports the dynamic graph.

[2021-04-20 09:02] ShenYuhan commented on #979
一个比较简单的办法是：
把第一次生成的日志和第二次生成的日志中的内容拷贝到一个新的二进制文件中，然后读取。

我们将会在不久的将来在新版本中支持多个日志合并。

另外如果是类似这种中断后继续训练的情况，可以在调用visualdl的时候指定日志名，这样就可以直接在指定的日志文件中继续续写了，资料见 https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/faq_CN.md#%E5%A6%82%E4%BD%95%E4%BF%AE%E6%94%B9%E5%B7%B2%E6%9C%89%E7%9A%84%E6%97%A5%E5%BF%97%E6%96%87%E4%BB%B6

[2021-04-20 09:16] cloudsurging commented on #978
#Device count: 1
batch_size_per_dev: 4
Traceback (most recent call last):
&nbsp; File "d:/PaddleSeg/pdseg/train.py", line 518, in <module&gt;
&nbsp; &nbsp; main(args)
&nbsp; File "d:/PaddleSeg/pdseg/train.py", line 505, in main
&nbsp; &nbsp; train(cfg)
&nbsp; File "d:/PaddleSeg/pdseg/train.py", line 255, in train
&nbsp; &nbsp; py_reader, avg_loss, lr, pred, grts, masks = build_model(
&nbsp; File "

[2021-04-20 09:53] michaelowenliu commented on #978
@cloudsurging Hi, please upgrade PaddleSeg, https://github.com/PaddlePaddle/PaddleSeg

[2021-04-20 10:22] BeyondYourself commented on #969
@wuyefeilin 我目前是想单独提高训练数据量，所以采用了transform中的一些方法来扩充数据量。如果直接引用只是对原有数据进行图像增强，并未对数据量进行增加。当前主要是标注数据，由于是单通道，通过cv2读取后，再转换为PIL，最后将其保存单通道图片（model ="P")

[2021-04-20 11:16] wuyefeilin commented on #969
自己增加数据量，跟利用transform进行数据增强效果是一样的。

[2021-04-21 01:45] BeyondYourself commented on #969
当前采取这种方式是基于训练集的数据量较小的情况采用的方式，如果直接采用原数据进行增强而未增加数据量，可能并不一定效果好。目前测试的结果是这样的

[2021-04-21 03:28] #955 closed, assigned to nobody

[2021-04-22 00:43] MansGod commented on #963
您好，我也是用fastscnn训练，请问您预训练模型的参数怎么配置的呢，我修改了pretrained_model的路径，但是训练时报错无法在预训练模型中找到权重

[2021-04-22 01:06] michaelowenliu commented on #963
@MansGod Hi, could you please put the error log?

[2021-04-22 09:03] syp2ysy opened #983 "关于pascal context数据集的一些问题"

[2021-04-22 12:05] MansGod opened #984 "使用fast_scnn预训练模型训练自定义数据集"
![2021-04-22 19-46-43 的屏幕截图](https://user-images.githubusercontent.com/73273430/115710640-2a53d300-a3a5-11eb-8a06-09e413d81160.png)

[SKIP] Shape of pretrained weight ./pretrained_model/fast_scnn_cityscapes//classifier/weights doesn't match.(Pretrained: (19, 128, 1, 1), Actual: (3, 128, 1, 1))
[SKIP] Shape of pretrained weight ./pretrained_model/fast_scnn_cityscapes//classifier/biases doesn't matc

[2021-04-23 01:27] #979 closed, assigned to ShenYuhan

[2021-04-23 01:30] Abris-087 opened #985 "有关多卡训练"
您好，我在尝试用多卡训练时有几个问题不能理解

[2021-04-23 01:36] Abris-087 commented on #985
1、
![图片](https://user-images.githubusercontent.com/61613537/115804987-a20e1600-a416-11eb-8980-dfad936c8f02.png)
![图片](https://user-images.githubusercontent.com/61613537/115805008-aa665100-a416-11eb-9dc2-95ce5a8a660d.png)
我设置学习率为0.01，为什么训练时从0.001开始衰减？
2、相同的任务，我用“四张Titan XP”训练的预计用时比“单张V100”多将近一倍时间，这是正常的吗？还是我哪里可能设置错误呢？

[2021-04-23 02:14] Peng-ss commented on #838
采用了CPU训练没有报错，模型也成功生成了，预测时出现了以下的错误，请问有解决方法吗
`RuntimeError: (NotFound) Operator nearest_interp_v2 does not have kernel for data_type[int]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN].
  [Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at /paddle/paddle/fluid/imperative/prepared_operator.cc:128)
  [operator < nearest_interp_v2 > error]
`

[2021-04-23 03:09] miracleyyy opened #986 "这个模型的最终结果出来的是什么，不是图像分割后的几张图像吗"

[2021-04-23 03:58] Abris-087 commented on #985
3、还有一个问题：我用单张16G的V100，batchsize最多设置为2，占用显存约10G；我用4张Titan Xp，总显存12G*4，为什么batchsize最多还是2，且每张显卡占用10G？我以为四张卡batchsize可以增大到8的。

[2021-04-23 04:01] BeyondYourself commented on #985
多卡应该是并行处理吧，而且应该是每个卡处理同样的batch_size吧

[2021-04-26 03:21] xLuge opened #988 "voc2012"
deeplabv3p 在voc2012测试集上的官网测试结果能达到多少？

[2021-04-26 04:00] michaelowenliu commented on #984
@MansGod Hi, that does not matter.

[2021-04-26 04:01] michaelowenliu commented on #986
@miracleyyy Hi, what is your question?

[2021-04-26 04:04] MansGod commented on #984
好的 谢谢解答

[2021-04-27 05:58] #985 closed, assigned to nobody

[2021-04-28 02:07] MansGod commented on #882
File "/home/ljd/Code/PaddleSeg/paddleseg/models/fast_scnn.py", line 75, in forward (* user code *)
        x = self.global_feature_extractor(higher_res_features)
    File "/home/ljd/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/fluid/dygraph/layers.py", line 902, in __call__
        outputs = self.forward(*inputs, **kwargs)
    File "/home/ljd/Code/PaddleSeg/paddleseg/models/fast_scnn.p

[2021-04-28 09:30] yuemengrui opened #991 "请教：关于自定义数据集的标签问题"
要求的标签是从0开始，我用opencv处理label图片，保存后，再读出来，发现标签会有一些错误，因为opencv是float,我想问一下该怎么处理label图片来让标签是int

[2021-04-28 09:47] wuyefeilin commented on #991
在存储的时候先将标签转换成uint8类型。

[2021-04-28 10:01] michaelowenliu commented on #988
@xLuge Hi, we have yet to submit the results. Please let us know if you get the score.

[2021-04-28 10:40] yangy996 opened #992 "导出模型报错，Please define the layer with parameters in `__init__` function."
![image](https://user-images.githubusercontent.com/15188456/116390974-2f0b0200-a851-11eb-8971-382abf04e391.png)

[2021-04-28 10:56] yuemengrui commented on #991
print(np.bincount(label_img.reshape(label_img.shape[0]*label_img.shape[1])))
cv2.imwrite('./labeling_data/xxx/'+i, label_img.astype('uint8'))
我使用bincount统计保存之前的标签是正确的6个标签。
[ 916001   52108   16201    2025 1018325     984]
[1131857   35999   18449   76744    2607  739988]
[643328   8209    173 183152 831661   1857]
[635424   9275  15490 709160 297263   1768]
[923046 110727  24795 197023   5509 7445

[2021-04-28 11:45] wuyefeilin commented on #991
[code]
这边应该先转类型，然后统计，在进行保存

[2021-04-28 11:59] yuemengrui commented on #991
还是一样的会多像素值

[2021-04-28 12:01] wuyefeilin commented on #991
那你试一下PIL.Image看看。还有你完整的代码发一下

[2021-04-28 12:10] yuemengrui commented on #991
这是保存的代码
    img = cv2.imread(file_path, 0)
    label_img = np.zeros(img.shape).astype('uint8')

    for j in range(1, 6):
        if np.sum(img == j) > 30:
            label_img[img == j] = j

    im = np.int8(label_img)
    y = np.bincount(im.reshape(im.shape[0]*im.shape[1]))

    cv2.imwrite('./ok_data/labels/' + i, im)

[2021-04-29 01:33] haoyuying commented on #983
您好，您目前的报错信息只能看出是dataloder报错，具体哪句什么问题等通过该报错栈是无法定位的，建议您定位到准确的报错原因方便我们排查，可以从dataset里面打印，看下从哪一句开始崩了。

[2021-04-29 07:50] xLuge commented on #988
@michaelowenliu 额外的问题。关于voc12我们通常在train_aug上训练，然后在origin set进行finetune 。当进行finetune时是否需要冻结bn层呢？

[2021-04-29 07:50] syp2ysy commented on #983
您好，错误是从datasets.py中的

开始的。transforms的过程是没有错误的，但是跳回来进行这个if语句时卡住了

[2021-04-29 08:15] haoyuying commented on #983
把 self.edge这个关掉呢，不要进这个选项，看这一句https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/datasets/dataset.py#L155

image和label是否正常，如果不正常，打印下https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/datasets/dataset.py#L144
看path是否正常并存在。

[2021-04-29 09:35] syp2ysy commented on #983
关掉后就会在return im, label处卡住，打印path是由结果的。调试过程中发现在处理完2008_003667.jpg后返回datasets.py，进行下一步是会卡住
![image](https://user-images.githubusercontent.com/39050296/116530554-bff4e280-a910-11eb-948c-af27b943899a.png)

[2021-04-29 11:14] michaelowenliu commented on #992
@YY007H Hi, what is your question?

[2021-04-29 11:18] Birdylx opened #993 "What is EdgeAttentionLoss? and how do i use it?"
I notice that there is a edge_attention_loss.py in the repo, and as the doc string described, it only compute the crossentropy loss on edge part. It really confused me, what is edge part? what is the shape of the logit and label in multi-class segmentation task? is there any paper describe the edge attention loss?

[2021-04-29 11:26] michaelowenliu commented on #993
@Birdylx Hi, that loss is from decoupled segnet, https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/configs/decoupled_segnet/decoupledsegnet_resnet50_os8_cityscapes_832x832_80k.yml
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/models/decoupled_segnet.py

[2021-04-29 12:01] Birdylx commented on #993
@michaelowenliu thanks for your quick reply, i will look into it.

[2021-04-29 12:01] #993 closed, assigned to michaelowenliu

[2021-04-29 12:19] haoyuying commented on #983
请问pascal_context已经进行预处理了吗，如果还是定位不到问题，方便在aistudio上给一个复现环境吗，这个提示错误其实是定位不到具体问题的。具体预处理请参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/tools/convert_voc2010.py

[2021-04-30 01:09] michaelowenliu commented on #988
@xLuge Hi, what does it mean "origin set"?

[2021-04-30 01:19] yangy996 commented on #992
@michaelowenliu 我新加了个组件，训练的时候都是正常的，到了导出的时候就出现上面那个错误，不知道是什么导致了，网络也只是个基于VGG16的一个HED网络

[2021-04-30 01:19] xLuge commented on #988
@michaelowenliu sorry。。就是voc12原始的训练集。包含1464张图片。

[2021-04-30 01:57] yangy996 opened #997 "请问下，为什么model.eval 每次结果都不一样呢？"

[2021-04-30 03:19] syp2ysy commented on #983
pascal_context预处理过了。好的，我尝试在aistudio上复现一下

[2021-04-30 06:43] michaelowenliu commented on #992
@YY007H Hi, add __init__ function into your new component.

[2021-04-30 06:44] michaelowenliu commented on #997
@michaelowenliu Hi, please put more details? Thanks.

[2021-05-01 06:39] syp2ysy commented on #983
https://aistudio.baidu.com/aistudio/projectdetail/1884642
谢谢您看下

[2021-05-02 09:31] lingxiao814 opened #998 "wow"
wow

[2021-05-02 15:19] lovejing0306 opened #999 "HumanSeg 训练细节"
你好，请问人像分割项目 HumanSeg 的模型训练细节在哪里可以找到？

[2021-05-03 07:24] syp2ysy commented on #983
您好，这个问题解决了是由于pascal_context里面没有edge信息，将paddleseg/datasets/pascal_context.py中的def __init__() 修改成为：

        self.dataset_root = dataset_root
        self.transforms = Compose(transforms)
        mode = mode.lower()
        self.mode = mode
        self.file_list = list()
        self.num_classes = self.NUM_CLASSES
        self.ignore_index = 255
        self.edge = edge
非常感谢~~，期望正式版本可以修改一下。

[2021-05-06 02:02] #998 closed, assigned to nobody

[2021-05-06 02:34] molyswu opened #1000 "请问PaddleSeg 的模型deeplabv3，是否支持CUDA-11.0推理？"
我想问一下PaddleSeg 的模型deeplabv3 的推理问题，在CUDA-11.0环境下推理deeplabv3，目的是win10在RTX3070,RTX3080上使用。
如果deeplabv3 支持CUDA-11.0，我搭建模型推理，编译的时候出现很多错误？deeplabv3 支持CUDA-11.0的指引吗？
deeplabv3 支持CUDA-10.2，我搭建模型推理，编译是OK的。

[2021-05-06 09:10] cloudsurging opened #1001 "训练自己数据时验证集出错了"
验证集的yml内容：
val_dataset:
  mode: val
  type: Dataset
  dataset_root: data/woven_bag
  val_path: data/woven_bag/val_list.txt
  num_classes: 2
  transforms:
    - type: RandomPaddingCrop
      crop_size: [2048, 1024]
    - type: Normalize

我想随机剪裁并验证，可是出错了：
  File "d:\PaddleSeg\paddleseg\utils\metrics.py", line 40, in calculate_area
    raise ValueError('Shape of `pred` and `label should be equal, '
V

[2021-05-06 11:54] VJoer opened #1002 "请问，paddleSeg支持实例分割吗？"

[2021-05-07 02:21] molyswu commented on #1000
uilding Custom Rule D:/projects/PaddleSeg/legacy/deploy/cpp/CMakeLists.txt
4>demo.cpp
4>D:\projects\PaddleSeg\legacy\deploy\cpp\utils/utils.h(106): warning C4244: “=”: 从“double”转换到“float”，可能丢失数据
4>d:\projects\fluid_inference\paddle\include\paddle_api.h(157): warning C4251: “paddle::PaddleTensor::name”: class“std::basic_string<char,std::char_traits<char>,std::allocator<char>>”需要有 dll 接口由 struct“pad

[2021-05-07 02:37] wuyefeilin commented on #999
参考这边哈：https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0/legacy/contrib/HumanSeg#%E8%AE%AD%E7%BB%83

[2021-05-07 03:29] michaelowenliu commented on #1002
@VJoer Hi, Panoptic Segmentation is coming soon, which is a combination of Semantic and Instance Segmentation.

[2021-05-07 09:22] cloudsurging opened #1003 "jingling2seg是不是不能用啊"
用jingling2seg的标注来训练optic不能分割，而使用label2seg的标注来训练就能分割了。jingling2seg是不是不能用啊？

[2021-05-07 09:28] lovejing0306 commented on #999
感谢回复

[2021-05-07 09:28] #999 closed, assigned to wuyefeilin

[2021-05-07 09:38] cloudsurging commented on #1003
不是不能用，而是精灵标注方式得用多边形圈

[2021-05-08 08:20] zhaop-l opened #1008 "动态图转静态图后推理效果骤降"
采用`Fast-scnn`进行训练。训练完后转化成静态图效果骤降。
如下图所示，最左侧为原图，中间为动态图推理，右侧为静态图推理。
![RqCp85IUHd](https://user-images.githubusercontent.com/50993924/117532158-bb1ee580-b018-11eb-969b-00aace6624be.png)
![Tt7od7WyQc](https://user-images.githubusercontent.com/50993924/117532160-beb26c80-b018-11eb-8a5a-de5eb3cd80d0.png)

运行环境为：
[code]

[2021-05-08 14:21] Dilemma111 opened #1012 "验证时报错AttributeError: 'int' object has no attribute 'numpy"
使用paddleseg动态图 无论使用那个模型进行训练都报这个错 AttributeError: 'int' object has no attribute 'numpy
我的操作是：原始数据集可以跑通 然后我将数据集做了剪裁 并使用cv2.imwrite进行保存 图片类型是uint8 训练是没有问题的 只要一验证就会报这个错误 希望大佬可以解答一下 万分感谢

[2021-05-09 13:21] xuxiaoxxxx opened #1013 "图片输入格式错误？"
请问在运行OCRNet时数据按照原始处理了，一张图片还是512x512x3，但是为什么会出现五维这个问题？
ValueError: (InvalidArgument) The input tensor's dimension should be equal to the axis's size. But received input tensor's dimension is 5, axis's size is 4
  [Hint: Expected x_rank == axis_size, but received x_rank:5 != axis_size:4.] (at /paddle/paddle/fluid/operators/transpose_op.cc:47)
  [operator < transpose2 > error]

[2021-05-10 01:42] michaelowenliu commented on #1001
@cloudsurging Hi, the error log has shown the reason already.

[2021-05-10 01:46] michaelowenliu commented on #1000
@molyswu Hi, please make sure the official inference tutorial is able to run with CUDA-11. https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B

[2021-05-10 10:59] BeyondYourself opened #1015 "There is a issue When predict with the bisenet"
When I  pridict wiht the bisent,threre came a problem:
`RuntimeError: (NotFound) Operator conv2d does not have kernel for data_type[uint8_t]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[CUDNN].
  [Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at /paddle/paddle/fluid/imperative/prepared_operator.cc:128)
  [operator < conv2d > error]`
I don't k

[2021-05-10 11:02] BeyondYourself commented on #991
@wuyefeilin 那个背景色需要设置为一个类别吗，在分割的时候，如果对于基本的语义中，背景都一样，是否需要将背景作为一个类别

[2021-05-10 11:22] wuyefeilin commented on #991
是的，背景需要作为一个类别。

[2021-05-11 02:41] lingorX commented on #1012
Can you be more specific? Perhaps the code you modified is needed to help us locate the problem.

[2021-05-11 02:44] lingorX commented on #1013
Maybe you can try to print the information for each iteration of the dataloader. Let us know if you get any results.

[2021-05-11 08:26] BeyondYourself opened #1017 "unet预测的时候出现异常"
在预测的时候出现以下异常，观察到时conv2D的时候不支持uint8，代码没有改动过，训练的时候正常，预测的时候突然出现的异常
`Traceback (most recent call last):
  File "predict.py", line 184, in <module>
    main(args)
  File "predict.py", line 178, in main
    stride=args.stride,
  File "/home/aistudio/work/PaddleSeg/paddleseg/core/predict.py", line 115, in predict
    crop_size=crop_size)
  File "/home/aistudio/work/PaddleSeg/paddleseg/core/infer.py", lin

[2021-05-11 08:26] BeyondYourself commented on #1017
@wuyefeilin 大神帮忙看看是什么问题

[2021-05-11 09:10] chenyanghe opened #1018 "预测时报错"
我运行python3 infer.py --conf=/home/hp/cy/PaddleSeg/legacy/deploy/python/deploy.yml --input_dir=/home/hp/cy/PaddleSeg/legacy/deploy/python/JPEGImages/
出现下面错误：;; connection timed out; no servers could be reached

;; connection timed out; no servers could be reached

;; connection timed out; no servers could be reached

;; connection timed out; no servers could be reached

/usr/local/python3.7/lib/pyth

[2021-05-11 12:02] lingorX commented on #1008
With the release of paddlepaddle 2.0, dynamic graph will become the staple for development and maintenance. If you have tough requirements for storage or inference speed, we emphatically recommend paddleslim to distill existing models.  Or if you must use this dynamic to static conversion for some reason, please post your conversion code.

[2021-05-11 14:13] lingorX commented on #1003
It seems that you are on to something and it would be kind if you could share the details with us.

[2021-05-12 01:56] molyswu commented on #1000
michaelowenliu ,
run with CUDA-11.
 https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B
编译后如下错误：
无法打开输入文件“D:\projects\fluid_inference\third_party\install\mklml\lib\libmklml_intel.dll”，在CMakeLists文件中将libmklml_intel改为mklml后提示该文件错误。

molyswu

[2021-05-12 02:00] michaelowenliu commented on #1000
@molyswu Hi, please submit a PR to the Paddle official repo, https://github.com/PaddlePaddle/Paddle/issues

[2021-05-12 02:13] molyswu commented on #1000
https://github.com/PaddlePaddle/Paddle/issues/24610

[2021-05-12 03:03] molyswu commented on #1000
@michaelowenliu ,

这新的错误：

严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK2005	"private: static class std::locale::_Locimp * __cdecl std::locale::_Getgloballocale(void)" (?_Getgloballocale@locale@std@@CAPEAV_Locimp@12@XZ) 已经在 msvcprt.lib(MSVCP140.dll) 中定义	yolov3_test	D:\paddle_cuda11\Paddle-Inference-Demo\c++\paddle_infer_demo\build\libcpmt.lib(locale0.obj)	1
错误	LNK2005	"public: char __cdecl std::basic_ios<char,s

[2021-05-12 03:17] #1018 closed, assigned to nobody

[2021-05-12 06:16] michaelowenliu commented on #1017
@BeyondYourself Hi, could you please show the prediction code? before that, you may check the tensor type.

[2021-05-12 09:45] molyswu commented on #1000
@michaelowenliu
Thank you for your help,
这是cuda10和cuda11的推理速度对比。

同一张图片作测试，
    cuda10推理一张图7ms，cuda11推理一张图是30ms。 cuda10比cuda11慢。
molyswu

[2021-05-12 10:20] qinxue123321 opened #1019 "bug"
No module named 'paddle.static'  不知道为啥会出现这个情况   都安装好了

[2021-05-13 01:03] BeyondYourself commented on #1017
ok, thanks , I've solved it

[2021-05-13 01:03] #1017 closed, assigned to michaelowenliu

[2021-05-13 02:14] BeyondYourself opened #1020 "predict model's shape dosen't match actual shape"
When I  used the unet model to predict the images, there came some problems .
as flows:
 `  Loading pretrained model from ./output/best_model/model.pdparams
2021-05-13 09:55:29 [WARNING]   decode.up_sample_list.0.deconv.weight is not in pretrained model
2021-05-13 09:55:29 [WARNING]   decode.up_sample_list.0.deconv.bias is not in pretrained model
2021-05-13 09:55:29 [WARNING]   [SKIP] Shape of pre

[2021-05-13 02:19] #1020 closed, assigned to nobody

[2021-05-13 07:41] lingorX commented on #1015
[This](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/contrib/CityscapesSOTA/predict.py) is a template for prediction. It seems that something went wrong when loading data.

The handling of labels is most suspect.

Since the dataloader does not generally return labels at prediction time, this error may occur by using the training-time configuration directly.

[2021-05-13 08:22] Birdylx opened #1022 "BCELoss in Decoupled SegNet"
I read the code of decoupled segnet, the `seg_edge_out` in the [line](https://github.com/PaddlePaddle/PaddleSeg/blob/1417b8fba841b3bf75f2e69c332ec16065bd4643/paddleseg/models/decoupled_segnet.py#L168) has  been already applied `Sigmoid` function, but in the edge loss computation stage, you use BCELoss which combines sigmoid fucn and loss layer in [line 163](https://github.com/PaddlePaddle/PaddleSe

[2021-05-14 07:54] lingorX commented on #1022
[edge_loss](https://github.com/lxtGH/DecoupleSegNets/blob/fa204d2dc28030f510048927e0deb934e8fd05a0/loss.py#L357)
[sigmoid_layer](https://github.com/lxtGH/DecoupleSegNets/blob/fa204d2dc28030f510048927e0deb934e8fd05a0/network/deepv3_decouple.py#L139)
We implemented the model in its raw form, and if you have any questions, you can ask the original author.

[2021-05-15 05:42] Birdylx commented on #1022
@0liliulei thanks for your reply！

[2021-05-15 05:42] #1022 closed, assigned to lingorX

[2021-05-17 07:21] xuxiaoxxxx opened #1027 "多尺度输入"
paddleseg现在是否支持多尺度输入，比如现在想自己定义数据集，图片为100x100，paddleseg是否能支持运行？

[2021-05-18 00:54] BeyondYourself commented on #1027
目前应该是可以自定尺寸，但是不支持多尺寸训练吧

[2021-05-18 01:16] xuxiaoxxxx commented on #1027
请问自定义尺寸在哪里定义，我没在参数表中看到，参数说明好像也没有

[2021-05-18 01:29] kk125678 opened #1034 "'relu does not exist in the current dict_keys([])'"
昨天还能用今天不行了
是在aistudio
@manager.BACKBONES.add_component
    349 def ResNet101_vd(**args):
--> 350     model = ResNet_vd(layers=101, **args)
    351     return model
    352
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddleseg/models/backbones/resnet_vd.py in __init__(self, layers, output_stride, multi_grid, pretrained)
    231
    232         self.conv1_1 = ConvBNLayer(
-->

[2021-05-18 01:34] BeyondYourself commented on #1027
在transform.py中有个resize方法，可以修改size大小，默认是512X512

[2021-05-18 02:22] xuxiaoxxxx commented on #1027
好的，非常感谢你的解答！

[2021-05-18 02:39] kk125678 commented on #1034
![图片](https://user-images.githubusercontent.com/46900538/118582075-53f5f380-b7c5-11eb-9c57-13266ed8f10b.png)

[2021-05-18 03:04] a123b12cd commented on #1034
附议

[2021-05-18 03:31] kk125678 commented on #1034
感觉是 AIstudio问题，Activation复制到notebook 上是不报错的

[2021-05-18 04:56] lingorX commented on #1027
@BeyondYourself We have implemented [nvidia-style mscale training](https://arxiv.org/abs/2005.10821) in [here](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/contrib/CityscapesSOTA/models/mscale_ocrnet.py) which adapted to arbitrary scaling.

[2021-05-18 06:13] a123b12cd commented on #1034
aistudio版本更新了

[2021-05-18 06:27] BeyondYourself commented on #1027
OK,我也去试验一下

[2021-05-18 06:38] chandler-25 commented on #1034
+1

[2021-05-18 07:00] aiyasin commented on #1034
+1

[2021-05-18 07:01] a123b12cd commented on #1034
是版本问题，回退版本就可以了

[2021-05-18 07:12] aiyasin commented on #1034
多久可以修复

[2021-05-18 07:18] kk125678 commented on #1034
怎么弄，我是萌新

[2021-05-18 07:19] chandler-25 commented on #1034
你好 想问一下 这个怎么回退版本呢 没有操作过 把握不住啊

[2021-05-18 07:59] a123b12cd commented on #1034
pip install paddlepaddle-gpu== XXXXX  就可以的，跟本地安装一样

[2021-05-18 08:14] chandler-25 commented on #1034
今天之前的上一个好像是2.0.1,我试试，谢谢大佬

[2021-05-18 10:21] MasonSuWei opened #1035 "fine-tune on other task"
Hi,

I want to know whether there is a way to fine-tune pretrained model on another task(for example different dataset). Just like paddleDetector's way described in the following link.
https://github.com/PaddlePaddle/PaddleDetection/blob/8968a22fb06a8a7a313ee9b4bdde7d8a58e33f0d/docs/tutorials/GETTING_STARTED.md

Fine-tune other task

When using pre-trained model to fine-tune other task, pretrain_w

[2021-05-19 02:23] michaelowenliu commented on #1034
@kk125678 @a123b12cd @chandler-25 Hi, all, The activation-related APIs have been modified a little bit in the NEW PaddlePaddle. We fixed the [PaddleSeg develop](https://github.com/PaddlePaddle/PaddleSeg/tree/develop) version already, and will release v2.1 soon without this problem. Sorry for that!

[2021-05-19 03:34] rock4you opened #1037 "infer, can't find output"
python deploy/python/infer.py \
    --config output/deploy.yaml  \
    --image_path data/seg/img \
    --save_dir pred

need to wait

[2021-05-19 04:41] lingorX commented on #1035
I would say it's absolutely feasible.

Take [deeplabv3p](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/configs/deeplabv3p/deeplabv3p_resnet101_os8_cityscapes_1024x512_80k.yml) as example, by prepending the `pretrained` attribute under `model` just like following:

![image](https://user-images.githubusercontent.com/31980417/118757815-698c1b80-b8a0-11eb-9940-f0426ec7f4d4.png)

Loading

[2021-05-19 06:29] #1037 closed, assigned to nobody

[2021-05-19 07:00] MasonSuWei commented on #1035
@0liliulei, thanks for quick replay. The method mentioned above works.

[2021-05-19 07:00] #1035 closed, assigned to lingorX

[2021-05-19 07:08] BeyondYourself opened #1038 "OCRNet训练时出现的问题"
在使用ocrnet训练时，只更改了训练的数据集，采用自定义的数据集进行训练，代码也是采用的最新版本的代码，开始训练后出现以下错误：
`Traceback (most recent call last):
  File "train.py", line 163, in <module>
    main(args)
  File "train.py", line 158, in main
    keep_checkpoint_max=args.keep_checkpoint_max)
  File "/home/aistudio/work/PaddleSeg/contrib/CityscapesSOTA/scripts/train.py", line 161, in train
    loss.backward()
  File "<decorator-gen-123>", line 2

[2021-05-19 08:38] a123b12cd opened #1039 "export导出问题"
最新版的(2021.5.19)的export.py 导出的模型中，在指定input shape的情况下，模型还是有很多op是动态shape的，导致在利用tensorrt部署时会报错，请问为什么会这样？如何解决？   之前版本中同样的模型，同样的op，就是静态shape，新代码中就是动态shape。
模型：eg：unet/deeplabv3p   op: bilinear_interp

[2021-05-19 23:54] pubudusanjeewani opened #1042 "Best Model Not Saved"
Hi,

I am trying to train the sample dataset as mentioned in the documentation using GPU. The program saves the model at 1000 iterations. But, it does not save the best model. It doesn't show any error. Please, see the attached snapshot of the terminal. Could you please help me to fix this ?

<img width="960" alt="Error" src="https://user-images.githubusercontent.com/28475337/118898751-9f88d880-b9

[2021-05-20 01:24] #1034 closed

[2021-05-20 02:20] michaelowenliu commented on #1042
@pubudusanjeewani Hi, may I know whether you run the running command with `--do_eval`?

[2021-05-20 02:25] michaelowenliu commented on #1019
@qinxue123321 Hi, please verify the installation first via `paddle.utils.run_check()`

[2021-05-20 02:37] pubudusanjeewani commented on #1042
Hi,

Sorry, I think I haven't used --do_eval. I used it and the program is working well now. Thanks you very much for the prompt reply.

Thank You.

[2021-05-20 02:56] nepeplwu commented on #1039
@a123b12cd 麻烦贴下完整的报错堆栈，另外请问下：`之前版本中同样的模型，同样的op，就是静态shape，新代码中就是动态shape。`是什么时候的版本？

[2021-05-20 06:15] a123b12cd commented on #1039
（1）设置+log1 （参考动态shape op前后op对应的shape设置）
![image](https://user-images.githubusercontent.com/49675099/118913370-e6c89680-b95b-11eb-8bac-51aa632517db.png)
![image](https://user-images.githubusercontent.com/49675099/118913437-0e1f6380-b95c-11eb-8c73-c3591484ff31.png)
（2）设置+log2
![image](https://user-images.githubusercontent.com/49675099/118913633-69e9ec80-b95c-11eb-9382-03e42710102c.png)
![image](http

[2021-05-20 14:41] xuxiaoxxxx opened #1046 "关于网络架构询问"
请问paddleseg是否支持取出最后一步网络输出，就是在进行softmax前的一层，假如可以要如何取出结果？

[2021-05-21 02:09] michaelowenliu commented on #1042
@pubudusanjeewani Hi, glad to hear that you have solved the problem.

[2021-05-21 02:09] #1042 closed, assigned to michaelowenliu

[2021-05-21 03:15] terrancraft opened #1047 "自定义数据集格式"
关于label和image的格式，不管是jpg还是png应该没有什么关系吧

[2021-05-21 08:37] terrancraft commented on #1047
应该没有问题

[2021-05-21 08:37] #1047 closed, assigned to lingorX

[2021-05-22 06:29] lingorX commented on #1046
Models implemented in `paddleseg/models` will always return logits without softmax.

[2021-05-23 06:46] #313 closed, assigned to wuyefeilin

[2021-05-24 07:34] nepeplwu commented on #1039
@a123b12cd ：
1. `设置+log2`示例的C++代码中，channel维度不需要 / 8，并且第十行的width维度没有 / 8，可以更新后再验证下看看
[code]
2. ` 之前版本就是最开始的动态图版本，export.py中主要代码如下：`
我们近期确实修改了export.py的代码，将导出shape升级为动态shape，可以试试修改代码中的[第111行](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.1/export.py#L111)，改成你想要用的shape试试看，我们会在近期升级该脚本，支持用户指定shape

[2021-05-24 20:50] sborse3 opened #1051 "HRnet-18-w2"
Hi!
Thanks for this repository, I find some aspects quite interesting!

1. Is the FCN-HRNet-18 model with ~79% mIoU the same as HRNet-18-w2 on their official implementation (~76.2% mIoU)?
2. For Cityscapes, the size of image is 1024x2048, and I see the inference size here is 512x1024. Is there any reason for the size change? Would it be fair comparison with other works to use cropped images for in

[2021-05-25 02:43] a123b12cd commented on #1039
目前就是这么操作的，但是指定了输入的shape，中间部分op还是会出现动态shape
![image](https://user-images.githubusercontent.com/49675099/119431906-fe31c600-bd45-11eb-87a0-de7989fadf2d.png)
![image](https://user-images.githubusercontent.com/49675099/119432266-99c33680-bd46-11eb-9035-9312f6df06d6.png)

[2021-05-25 02:51] xuanxiaoliqu opened #1052 "官方infer教程报错"
File "infer.py", line 106, in run
    self.postprocess(results, imgs)
  File "infer.py", line 118, in postprocess
    result = get_pseudo_color_map(result)
  File "D:\Anaconda3\envs\paddle\lib\site-packages\paddleseg\utils\visualize.py", line 59, in get_pseudo_color_map
    pred_mask = PILImage.fromarray(pred.astype(np.uint8), mode='P')
  File "D:\Anaconda3\envs\paddle\lib\site-packages\PIL\Image.

[2021-05-25 06:44] LutaoChu commented on #1052
你好，请提供一下教程链接和运行的命令，我们复现一下

[2021-05-25 07:09] xuanxiaoliqu commented on #1052
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.1/deploy/python

[2021-05-25 07:09] xuanxiaoliqu commented on #1052
用的都是给的样例模型和图片

[2021-05-25 07:30] lingorX commented on #1051
1. HRNet has several variants, however, the performance gap between them is not very large. An important reason for Paddleseg's improvement over the official implementation is the initialization of parameters. The ssld-based pre-training parameters allow easy progress on a variety of tasks. For details, please move [PaddleClas](https://paddleclas.readthedocs.io/zh_CN/latest/advanced_tutorials/dist

[2021-05-25 11:35] MsWik commented on #1052
我遇到了同样的错误（[冒号](https://colab.research.google.com/drive/1ZzZVpys3Sw7t34mglhh7-3H63kw63Eze?usp=sharing)）。

[2021-05-25 13:17] LutaoChu commented on #1052
@xuanxiaoliqu @MsWik 原因找到了，是因为示例模型网络末端没有argmax op。已经更新了示例模型，重新下载试试

[2021-05-25 13:38] sborse3 commented on #1051
Hi @0liliulei, thanks for the answers!
From your answer, it seems I misunderstood. Is the training size 1024x512, or inference size 1024x512?

[2021-05-25 18:09] lingorX commented on #1051
Random Resize + Crop works in training phase. When validating or testing, we maintain the vanilla resolution.

[2021-05-25 18:18] sborse3 commented on #1051
Thanks a lot for the clarification! Yes, this makes perfect sense, sorry for misunderstanding.

Is there a way to find the number of flops for this HRNet-18 model? Could you let me know the appx. flops count expected? Thanks!

[2021-05-26 03:09] lingorX commented on #1051
I think this [op](https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/flops_en.html) will meet your requirements.

[2021-05-26 06:26] MsWik commented on #1052
该演示作品。
有一个问题-尝试处理我自己的png文件列表时没有结果。您可以举一个网络摄像头的例子吗？

[2021-05-27 02:54] nepeplwu commented on #1039
@a123b12cd 目前这个问题暂时没有很好的解决方法（同时兼顾动态shape和静态shape），后续我们有更好的解决方案后会升级下代码。如果你确实希望使用静态shape，可以试试先在本地回滚下代码。

[2021-05-27 03:02] a123b12cd commented on #1039
倒不是一定要用静态shape，主要是想用tensorrt加速，而动态shape在tensorrt部署时会报错。  所以就是说使用paddle2.0（动态图版本）之后导出的模型就不能用tensorrt部署了吧？

[2021-05-27 06:34] nepeplwu commented on #1039
@a123b12cd 我看你上面贴的截图里面，设置1是可以跑得通的，设置2看着有些shape没设置对：

[2021-05-28 09:43] kymoran3169 opened #1054 "关于warmup在2.0版本里面的使用问题"
![image](https://user-images.githubusercontent.com/53987628/119964890-3d794480-bfdc-11eb-88d4-77dd93641f7e.png)
为啥2.0新版本套件里面取消了warmup的设置，
想自己添加，才发现这里是直接的返回函数，不能简单设置

[2021-05-31 03:02] michaelowenliu commented on #1054
@kymoran3169 Hi, we take it as a new feature.

[2021-05-31 10:22] yuemengrui opened #1055 "关于背景的标签问题"
背景是分为255忽略更好，还是分成一个分类更好

[2021-06-01 19:22] linhandev commented on #1055
肯定不能忽略,背景分错也应该产生损失

[2021-06-02 02:15] yuemengrui commented on #1055
你好！背景在图片中的占比相对较大，我想让模型更加关注需要的分类，而不分心去关注背景。在iou中，背景的iou挺高的，造成miou整体偏高。

[2021-06-02 07:10] zimoqingfeng opened #1058 "Some points about pad in transforms.py"
https://github.com/PaddlePaddle/PaddleSeg/blob/1d7413217bc44c89da913daa989da8411ce40b99/legacy/pdseg/utils/config.py#L72
https://github.com/PaddlePaddle/PaddleSeg/blob/1d7413217bc44c89da913daa989da8411ce40b99/paddleseg/transforms/transforms.py#L504

旧版本使用过程中，我发现使用这个pad可能会填充“128”而不是“127.5”。可能是因为cv.copyMakeBorder的入参是unit8而不是float/double，如果不符合预期可以关注下。

[2021-06-02 09:14] linhandev commented on #1055
但是你在推理的过程中是不知道哪个像素是背景的，这么搞你训练的时候看着方便，但是推理的话肯定不少假阳性

[2021-06-02 09:14] nqthai309 opened #1059 "inference custom model on human_segmentation_demo"
**I want to make predictions on my data and based on example human_segmentation_demo**

I trained based on fcn_hrnetw18_small_v1_humanseg_192x192_mini_supervisely.yml (folder contrib/HumanSeg/configs)
and custom data, I **didn't** change anything

Here is the result predicted on my data using python, **its work fine**
![card_test](https://user-images.githubusercontent.com/61822545/120451403-945793

[2021-06-02 12:56] yangkerrr opened #1062 "Unet3+跑自定义数据集时可以训练但验证出现错误"
Traceback (most recent call last):
  File "train.py", line 169, in <module>
    main(args)
  File "train.py", line 164, in main
    test_config=cfg.test_config)
  File "/home/aistudio/PaddleSeg/paddleseg/core/train.py", line 214, in train
    model, val_dataset, num_workers=num_workers, **test_config)
  File "/home/aistudio/PaddleSeg/paddleseg/core/val.py", line 117, in evaluate
    crop_size=crop

[2021-06-03 06:44] LutaoChu commented on #1059
Please provide the error information of Java code.

I wonder if you set `with_softmax` or `without_argmax` when exporting the model, causing the network output to be of float type

[2021-06-03 07:15] nqthai309 commented on #1059
**this is what i do to export the model and result**

![image](https://user-images.githubusercontent.com/61822545/120603151-e6f58580-c475-11eb-9de2-980a3409ef5e.png)
![image](https://user-images.githubusercontent.com/61822545/120603200-f4127480-c475-11eb-8a59-82e4ceefe7eb.png)

**This is error of java code**
![image](https://user-images.githubusercontent.com/61822545/120603366-258b4000-c476-11eb-8

[2021-06-03 07:31] JustinHuang1984 opened #1065 "请问下，我用2080Ti在windows10下训练，显存够的情况下怎么提高BatchSize"
我的2080Ti有11G显存，BatchSize设为35可以正常训练，显存大概只用了7.2G,但是我将BatchSize调大一点比如说到36，训练就会卡住如下图的地方，请问下要怎么设置才能最有效的提高BatchSize和GPU利用率而不卡住吗
 MODEL:
    DEFAULT_NORM_TYPE: "bn"
    MODEL_NAME: "deeplabv3p"
    DEEPLAB:
        BACKBONE: "mobilenetv2"
        ASPP_WITH_SEP_CONV: True
        DECODER_USE_SEP_CONV: True
        ENCODER_WITH_ASPP: False
        ENABLE_DECODER: False
![屏幕截图 2021-06-03 152010](https://use

[2021-06-03 09:36] michaelowenliu commented on #1065
@JustinHuang1984 Hi, reduce the image size.

[2021-06-04 09:01] DoItNow321Go opened #1069 "SetCpuMathLibraryNumThreads(2)后，cpu高出了一倍，但速度没起来。"
c++代码进行人像分割， 使用的官网Windows cpu_avx_mkl 2.1.0预测库。

cpu:  Intel(R) Core(TM) it-4590 CPU @ 3.30GHz

配置为：
	paddle_infer::Config config;
	config.DisableGpu();
	config.EnableMKLDNN();
	config.SetCpuMathLibraryNumThreads(threadCount);
	config.SetModel(strModel.c_str(), strParams.c_str());
	config.EnableMemoryOptim();
	_main_predictor = paddle_infer::CreatePredictor(config);

预测的图像大小为: 288*160

以上threadCou

[2021-06-05 09:10] kimbundu opened #1070 "c++infer错误"
UnavailableError: Load operator fail to open file .\model\/batch_norm2d_65.w_1, please check whether the model file is complete or damaged.[Hint: Expected static_cast<bool>(fin) == true, but received static_cast<bool>(fin):0 != true:1.] (at E:\pytorch\Paddle-2.0.0\Paddle-2.0.0\paddle/fluid/operators/load_op.h:41)

[2021-06-05 09:11] kimbundu opened #1071 "\contrib\HumanSeg 的错误"
ModuleNotFoundError: No module named 'scripts.optic_flow_process'

[2021-06-05 13:37] #1071 closed, assigned to nobody

[2021-06-05 13:37] #1070 closed, assigned to nobody

[2021-06-07 03:58] LutaoChu commented on #1059
You can try not to set with_softmax or without_argmax when exporting the model

[2021-06-07 10:18] WJH625421781 commented on #1071
咋整的啊 兄弟

[2021-06-07 11:25] XuyangPan opened #1073 "段错误(吐核). FatalError: A serious error (Segmentation fault) is detected by the operating system"
你好 我在对人像视频进行分割处理时，使用的全是默认参数和官方提供的测试数据集，遇到这个bug，方便回复一下解决办法吗？ 谢谢！
![11111](https://user-images.githubusercontent.com/39898699/121008881-0f5ae800-c7c6-11eb-88a2-fa419374a4ae.jpg)

[2021-06-07 11:26] XuyangPan commented on #1073
在执行   python video_infer.py --cfg export_model/deeplabv3p_resnet50_os8_humanseg_512x512_100k_with_softmax/deploy.yaml --video_path data/video_test.mp4  时，出现了上面的bug

[2021-06-07 11:34] haoyuying commented on #1062
您好，请给出一个可以复现问题的aistudio环境，方便我们查找问题。

[2021-06-08 03:23] insoliang opened #1074 "config里为什么没有epoch参数呀？"

[2021-06-08 06:25] wuyefeilin commented on #1074
PaddleSeg按照iters进行设置，如果采用epoch设置受数据集大小影响较大。

[2021-06-08 09:06] DXVVV opened #1076 "请教一个问题，关于自定义数据集与模型训练"
是这样的，我自定义了个一个数据集，格式和推荐的一样，即/images，/labels，然后在bisenet上也跑过了，但是我打算尝试decoupled_segnet的时候修改config然后训练报错了，想问下怎么做标价好，贴上config和报错信息。
config
[code]
报错信息，多加了一行打印变量，似乎后者为null，但是我实在不知道怎么办了= =
[code]

[2021-06-08 09:10] DXVVV commented on #1076
然后想问问这种格式的数据集是不是没有办法在抛在cityscape、ade20k这种格式的模型上训练，因为似乎缺少一些东西，只能在VOC这样的数据集上训练？

[2021-06-08 11:25] wuyefeilin commented on #1076
看样子是因为数据返回的问题，按如下进行实验验证一下：
1. 利用我们提供的配置文件跑一下cityscapes数据是否能跑通
2. 查看dataset读取时返回的结果是否包含edges

[2021-06-09 09:11] nieyun04 commented on #1073
![image](https://user-images.githubusercontent.com/38587020/121326908-8c609b80-c945-11eb-84d3-406fd3bc6592.png)

在训练pspnet的时候报错: python train.py --config configs/pspnet/pspnet_resnet50_os8_voc12aug_512x512_40k.yml
paddleseg2.1版本不支持pspnet吗

[2021-06-10 04:33] peteli25 opened #1079 "运行时错误：找不到指定的组件。"
RuntimeError: The specified component was not found vit.

[2021-06-10 06:31] Birdylx opened #1080 "a question about inference"
Hi, thanks for your work. I had a question about inference in this codebase. [line](https://github.com/PaddlePaddle/PaddleSeg/blob/9042ce16c4c0e019e3c24096b42ce81f049efff4/paddleseg/core/infer.py#L225) shows that you take argmax first on logits, then upsample to img's original shape using 'nearest' mode. why not upsample logits first using 'bilinear' mode, then take argmax on upsampled logits. In

[2021-06-10 09:31] haoyuying commented on #1079
您好，根据报错应该是config里面包含了非法的字段名称吧，看下你配置的yaml文件是不是有问题。可以参考paddleseg configs文件夹下的yaml文件：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.1/configs

[2021-06-10 09:34] peteli25 commented on #1079
我想把deeplabv3的backbone换了

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年6月10日(周四) 下午5:32
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 运行时错误：找不到指定的组件。 (#1079)

您好，根据报错应该是config里面包含了非法的字段名称吧，看下你配置的yaml文件是不是有问题。可以参考paddleseg configs文件夹下的yaml文件：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.1/configs

—
You are receiving this because you authored the thr

[2021-06-10 09:38] LutaoChu commented on #1073
@XuyangPan 请check一下你的cudnn版本和cuda版本是不是符合paddle的要求呢？
![image](https://user-images.githubusercontent.com/30695251/121502255-92707e00-ca12-11eb-8c8f-4bec86f753b5.png)
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

[2021-06-10 09:41] LutaoChu commented on #1073
估计是cudnn版本和cuda版本不匹配的问题，建议cudnn版本改为7.6，或者cuda runtime API version改为11

[2021-06-11 09:46] haoyuying commented on #1079
请确认您使用的backbone名称是否合法，目前错误的原因是您使用的backbone的命名在我们提供的backbone中查找不到，可以参考其他config的backbone设定进行调整。

[2021-06-11 09:48] peteli25 commented on #1079
在paddledetect里面把backbone都替换成了swim transformer，在paddleseg我也想试试

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年6月11日(星期五) 下午5:46
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 运行时错误：找不到指定的组件。 (#1079)

请确认您使用的backbone名称是否合法，目前错误的原因是您使用的backbone的命名在我们提供的backbone中查找不到，可以参考其他config的backbone设定进行调整。

&mdash;
You are rece

[2021-06-11 10:15] haoyuying commented on #1079
目前paddleseg还不支持此类backbone，因此会报错，之后我们会不断丰富backbone类型，敬请期待。

[2021-06-11 11:08] LutaoChu commented on #1080
Hi, due to historical reasons, we have ignored this phenomenon. At present, we have submitted PR for optimization. Thank you for your feedback！

[2021-06-11 11:09] LutaoChu commented on #1080
Our experiment shows that we can increase mIoU by 0.2 points, but you increase it by 1 point. What's the size of your image?

[2021-06-11 13:11] Birdylx commented on #1080
@LutaoChu Hi, I test it on my own dataset, I trained OCRNet with input size of 448, and inferenced with input size 448. Here are the results of two different inference methods

![0372_0001](https://user-images.githubusercontent.com/29754889/121690776-db9afd80-caf8-11eb-8526-0f3c0f99dea1.jpg)
![0372_0001](https://user-images.githubusercontent.com/29754889/121690805-e48bcf00-caf8-11eb-84b0-80463dfa5

[2021-06-12 16:57] nqthai309 commented on #1059
@LutaoChu  thank you so much <3, i tried it and it worked fine

[2021-06-13 00:58] ding-Chen opened #1084 "请问训练好的模型保存在哪？"
请问训练好的模型是保存在output文件夹里面吗？里面的model.pdopt和model.pdparams应该就是保存的模型了把？

[2021-06-13 01:47] #1084 closed, assigned to nobody

[2021-06-13 09:54] aiwenzhu opened #1085 "使用paddleX进行C++部署PeddleSeg编译时报错：target(for copy command) ")" is model_infer not a directory"
参考的是官方教程https://github.com/PaddlePaddle/PaddleX/blob/develop/dygraph/deploy/cpp/docs/compile/paddle/windows.md
前边一切顺利，最后编译的时候出现target(for copy command) ")" is model_infer not a directory

[2021-06-15 01:44] yang20085936 commented on #892
我也出现了类似的问题，在本地重现官方“PaddleSeg与放射临床工作的小结合(Paddle2.0)” `https://aistudio.baidu.com/aistudio/projectdetail/2072960 '时候报错：
`OSError: (External)  Cudnn error, CUDNN_STATUS_VERSION_MISMATCH  (at /paddle/paddle/fluid/operators/pool_cudnn_op.cu.cc:484)`
新重装的系统，系统和对应虚拟环境的cuda为11.1，cudnn为8.1。ubuntu系统下conda的虚拟环境，paddle为2.1版本,paddleseg也是2.1版本。最开始以为是paddle 的问题，按照官方的issue下搞了半天发现没用。后来发现不用padeleseg，单独的paddele并没有报错

[2021-06-15 04:04] LutaoChu commented on #1085
相同的issue出现在PaddleX，统一在那边进行回复  https://github.com/PaddlePaddle/PaddleX/issues/827

[2021-06-15 04:07] wuyefeilin commented on #892
你可以运行一下paddle.utils.run_check()检查是否安装正确

[2021-06-15 11:30] a2824256 opened #1088 "现在训练数据只支持RGB的吗？"
现在训练数据只支持RGB的吗？

[2021-06-15 17:47] a2824256 opened #1089 "训练自定义数据集出现异常"
paddle版本：2.1
PaddleSeg：release/2.1
cuda: 10.2

报错信息如下, 省略一部分重复。
[code]

配置文件ct.yml, 内容如下：
[code]

训练指令：
[code]

labels.txt文件内容
[code]

输入图片是RGB的jpg，label是8位png
训练quick_start一切正常

[2021-06-16 10:29] #1074 closed, assigned to wuyefeilin

[2021-06-17 02:00] haoyuying commented on #1089
这个问题可能是由于您自定义的dataset在调用paddle.io.DataLoader前已经把数据转成了tensor的形式。在定义dataset数据时在__getitem__传回的数据要保证numpy的形式。

[2021-06-17 02:04] haoyuying commented on #1088
您好，也支持灰度图训练

[2021-06-17 02:47] a2824256 commented on #1088
好的谢谢

[2021-06-17 02:47] #1088 closed, assigned to haoyuying

[2021-06-17 05:52] a2824256 commented on #1089
@haoyuying 我打印了一下，数据还是numpy形式的
![image](https://user-images.githubusercontent.com/7108023/122339098-360de100-cf73-11eb-86b1-92fb0ff0206b.png)

[2021-06-17 06:00] a2824256 commented on #1089
目前怀疑是图片问题，图片是8位的jpg，用PIL.Image输出图片的mode是L

我将配置文件的in_channels从3改成1的时候就会报下面的错误，改成3就会报上面的错误。用optic_disc_seg数据集的，三通道就正常。

[code]

[2021-06-17 06:03] a2824256 commented on #1089
图片的属性
![image](https://user-images.githubusercontent.com/7108023/122340299-b41eb780-cf74-11eb-99dd-9e7d0b097b7a.png)

[2021-06-17 06:11] a2824256 commented on #1089
我有点没搞懂这里，提示输入的通道是3，但是我图片和in_channels都已经设置为1了

[2021-06-17 07:08] a2824256 commented on #1089
是否是因为PIL.Image.open打开单通道的图都会变成三通道？

[2021-06-17 07:35] a2824256 commented on #1089
刚尝试了一下，输入单通道的图片，在Dataset的__getitem__函数return的im是三通道的

[2021-06-17 09:05] a2824256 commented on #1089
你们用cv2.imread来读，读出来的ndarray是三通道的，我换成PIL.Image.open来读，读出来单通道，Resize又会有个通道检测
[code]
目前框架是不支持单通道灰度图是吧？

[2021-06-17 12:14] Birdylx commented on #1080
@LutaoChu Hi, did you test it? does it have any improvments?

[2021-06-17 12:33] kingbirdWc opened #1091 "怎样训练遥感数据？"
您好，我有一些遥感反射率影像，16bit，值的范围是0-10000。请问能直接训练吗？还是必须要转成0-255的范围才能训练呢？

[2021-06-17 12:48] haoyuying commented on #1089
因为在对数据读取的时候使用了cv2,cv2在读取灰度图时候仍然会把它变成三通道。
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.1/paddleseg/datasets/dataset.py#L146
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.1/paddleseg/transforms/transforms.py#L56

且图像在输入时img要为float32，lable类型要为int64, 请与quick_start提供的数据集的img和label保持相同的数据类型。

[2021-06-17 13:18] LutaoChu commented on #1091
你好，暂时还不能直接训，需要转换一下。
或者你可以修改一下读图的代码，支持16bit数据读取。transform可能也需要相应修改

[2021-06-18 02:28] a2824256 commented on #1089
现在问题是我网络输入的是单通道，我单通道的图片会被转成三通道，我也调试过源码，用PIL.Image.open，在Compose里面有些数据增强方法（例如Resize）检测到shape < 3的时候就会抛出异常，我把（512,512）的图片数据维度改成（512,512,1）还是（1,512,512）这种情况，又会报其他错误，太难受了。不改源码，网络的输入是单通道，但是数据在输入前会被转为三通道，到输入网络的时候又会报维度错误。而且我看你们的教程的输入都是三通道的图像，医学图像有的数据是单通道灰度图，希望完善一下教程吧。

[2021-06-18 03:25] wflrz123 opened #1092 "PaddleSeg处理数据集fps显示"
用paddleSeg的deeplabv3训练的时候只有ips，没有fps显示，有这个功能吗

[2021-06-18 07:12] LutaoChu commented on #1080
Hi, I see. It's in line with expectations. The larger the size of the original image, the more obvious the effect improvement is. I think no more testing is required.

[2021-06-18 07:17] nepeplwu commented on #1092
@wflrz123 训练时一般关注的是每秒可以处理多少张图片的训练，也就是ips（image per second）

[2021-06-18 08:36] kingbirdWc commented on #1091
您好， 在paddleseg\datasets\dataset.py中修改，可以自己再定义一个类，在配置文件中引用这个类是吗？

[2021-06-18 10:21] #1091 closed, assigned to LutaoChu

[2021-06-19 05:12] kingbirdWc opened #1093 "训练时精度无变化"
您好，我在训练两类的分割模型，未标注的是255，两类是0和1。训练几次后的IOU和ACC kappa一直不变。
2021-06-19 13:04:47 [INFO]	[EVAL] #Images: 211 mIoU: 0.3900 Acc: 0.7800 Kappa: 0.0000
2021-06-19 13:04:47 [INFO]	[EVAL] Class IoU:
[0.78 0.  ]
2021-06-19 13:04:47 [INFO]	[EVAL] Class Acc:
[0.78 0.  ]

配置参数：如下
[code]

[2021-06-19 12:53] kingbirdWc opened #1094 "计算损失函数的时候会计算255标注的类吗？"
您好。
255标注是忽略值，计算损失的时候会计算255标注的类吗？

[2021-06-19 13:40] kingbirdWc opened #1095 "优化器为adam的时候报错"
Hello，配置文件里优化器改为adam的时候报错，我在配置文件里把momentum注释掉和不注释都报错。
Traceback (most recent call last):
  File "train.py", line 168, in <module>
    main(args)
  File "train.py", line 153, in main
    optimizer=cfg.optimizer,
  File "/home/aistudio/work/PaddleSeg/paddleseg/cvlibs/config.py", line 196, in optimizer
    lr, parameters=self.model.parameters(), **args)
TypeError: __init__() got an unexpected keyword

[2021-06-19 13:48] wflrz123 opened #1096 "PaddleSeg输出Segmetation的坐标"
PaddleSeg做推理的时候输出的是分割的图片，能否输出分割的坐标Segmetation，类似json标注文件里的形式

[2021-06-21 01:08] FjjRichard opened #1097 "BiSeNet V2 参数lambd"
def __init__(self,
                 num_classes,
                 lambd=0.25,
                 align_corners=False,
                 pretrained=None):
        super().__init__()

参数lambd 指希腊字母表中排序第十一位的字母λ（lambda）,请问为什么漏一个字母a，还是有特别的意义？

[2021-06-21 01:49] haoyuying commented on #1089
您好，因为常用的图像处理都是对三通道的处理，如果您的图像是的单通道图像，由于cv2读取，对于seg本身提供的模型是不影响的。若您想使用自己的网络和数据集，对图像的处理也和三通道图像是不同的，所以需要自己对图像进行预处理。seg目前暂时不支持医学影像数据集，感谢您的建议，我们会给予高度重视并在日后完善单通道处理问题。

[2021-06-21 01:50] a2824256 commented on #1089
谢谢

[2021-06-21 01:50] #1089 closed, assigned to haoyuying

[2021-06-21 03:01] nepeplwu commented on #1094
@kingbirdWc 如果dataset里面设置了ignore_index为255的话，那么计算loss的时候会忽略255的区域

[2021-06-21 03:02] nepeplwu commented on #1095
@kingbirdWc 麻烦贴下你的配置文件

[2021-06-21 03:03] nepeplwu commented on #1097
@richarddddd198 因为lambda是python的保留字

[2021-06-21 03:07] nepeplwu commented on #1096
@wflrz123 感谢反馈，相关的功能可以通过输出的mask自行计算实现

[2021-06-21 03:14] nepeplwu commented on #1093
@kingbirdWc 数据有检查过吗，是否存在脏数据或者样本极度不均衡的问题？loss正常下降吗？

[2021-06-21 03:21] kingbirdWc commented on #1093
数据和样本没有问题，我用pytorch的deeplabv3训练的是正常的。loss一直在0.5左右，不怎么下降。

[2021-06-21 03:28] kingbirdWc commented on #1095
[code]

[2021-06-21 03:30] kingbirdWc commented on #1094
标注为255时不计算损失应该是默认的吧？

[2021-06-21 05:14] FjjRichard commented on #1097
谢谢回答，没有考虑这个点

[2021-06-21 05:14] #1097 closed, assigned to nepeplwu

[2021-06-21 05:25] nepeplwu commented on #1094
@kingbirdWc 如果你的自定义数据集是按照我们教程继承了`paddleseg.datasets.Dataset`的话，那是的

[2021-06-21 06:02] nepeplwu commented on #1095
@kingbirdWc 这个问题是因为你的配置文件继承了`./configs/_base_/pascal_voc12aug.yml`，而pascal_voc12aug.yml继承了`./configs/_base_/pascal_voc12.yml`导致，pascal_voc12.yml中对于optimizer的定义有参数`momentum`，这个也需要删除掉

[2021-06-21 07:15] michaelowenliu commented on #1093
@kingbirdWc Hi, could you please help us to reproduce it? e.g. provide a few samples?

[2021-06-21 11:27] Fly-hub opened #1098 "导出的模型属性：输入：type: float32[?,3,?,?] 输出：type: float32[?,2,?,?] 为什么是问号？"
使用paddleseg模型库训练的unet网络模型，使用export.py导出的静态图模型的属性为什么是这样：输入：type: float32[?,3,?,?] 输出：type: float32[?,2,?,?] ，为什么只有通道数是固定的？之后使用paddle2onnx转换成onnx模型，无法使用onnxruntime推理部署。转换后的onnx模型的输入输出是这样：输入type: float32[-1,3,-1,-1] 输出 type: float32[-1,2,-1,-1]
上面的输入输出type：float32 ......都是通过visualdl查看.pdimodel和.onnx模型属性得到的。

[2021-06-21 13:00] nepeplwu commented on #1098
@Fly-hub `?`表示该维度的值是不固定的，这样导出的模型，支持不同batch大小，不同的宽度和高度的输入图片。无法用onnxruntime推理部署，报的错误是什么？

[2021-06-22 01:50] BeyondYourself opened #1099 "微信群的二维码过期了，请更新一下"
如题

[2021-06-22 02:29] LutaoChu commented on #1091
是的，引用相同的类名就可以

[2021-06-22 06:53] wuyefeilin commented on #1099
感谢反馈，我们会及时更新哈

[2021-06-22 08:15] Fly-hub commented on #1098
是使用onnx的错误，[ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Invalid Feed Input Name:image 是因为输入图像的名字没写对，现在更改完了。但是使用onnxruntime推理的结果类型为什么是list？而不是numpy.ndarray?输入的数据类型明明是numpy.ndarray，是onnxruntime的问题吗？还是我哪里没搞对？

[2021-06-22 12:54] GexLoong opened #1103 "PaddleDetection"
请问PaddleSeg对于存在多人的人流视频进行背景替换效果如何，我们想和PaddleDetection结合，将背景不动物体替换成单一颜色，提高行人检测精度

[2021-06-23 02:27] LutaoChu commented on #1103
你好，PaddleSeg目前的人像模型可识别单人、多人，但并非针对人数特别多的场景训练。如果你的人流视频人数很多的话，可以尝试在[MHP](https://lv-mhp.github.io/dataset)数据集上finetuning。

[2021-06-23 02:30] yzl19940819 commented on #1099
感谢，已经更新了，感谢提醒！

[2021-06-23 08:17] nepeplwu commented on #1098
因为模型可能有多个输出，一般来讲，取第1个输出结果就行

[2021-06-24 02:00] Fly-hub commented on #1098
import cv2
import time
import numpy as np
import onnxruntime
import matplotlib.pyplot as plt

sess = onnxruntime.InferenceSession("segonnx/unetmodel.onnx")
img_path = 'PaddleSeg/data/optic_disc_seg/JPEGImages/P0010.jpg'

img0 = cv2.imread(img_path)
img1 = cv2.resize(img0, (512, 512))
ori_image = cv2.cvtColor(img1, cv2.COLOR_BGR2RGB)
input_image = ori_image.astype(np.float32) / 255.0
input_image =

[2021-06-24 02:21] nepeplwu commented on #1098
打印下image.shape看看

[2021-06-25 03:43] Fly-hub commented on #1098
输入输出图像的shape如下所示：
运行耗时: 3秒214毫秒
打印输入图像shape： (1, 3, 512, 512)
<class 'dict'>
查看result[0]是什么类型 <class 'numpy.ndarray'>
<class 'numpy.ndarray'>
打印输出图像的shape： (1, 2, 512, 512)
False

[2021-06-25 06:19] nepeplwu commented on #1098
@Fly-hub 输出的结果shape为(1, 2, 512, 512)表示这是一个二分类的结果，需要先进行argmax后（输出为单通道），才算是可以正常保存的图片

[2021-06-25 09:59] LutaoChu commented on #1069
你好，请问你用的API是PaddleX或者Paddle Inference吗？是的话建议前往对应的repo咨询

[2021-06-25 10:03] LutaoChu commented on #1052
[code]
来自https://github.com/PaddlePaddle/PaddleSeg/tree/develop/contrib/HumanSeg

[2021-06-28 01:37] DXVVV commented on #1076
解决了，edge_label设置为false就好了，谢谢

[2021-06-28 09:50] BeyondYourself opened #1106 "Config problems about MixedLoss"
I have tried all the methods in the project.
In the readme doc,the example lile `loss:
  types:
    - type: MixedLoss
      losses:
        - type: CrossEntropyLoss
        - type: LovaszSoftmaxLoss
      coef: [0.8, 0.2]`

while , in the config file yml , it likes this : `loss:
  types:
    - type: MixedLoss
      losses:
        - type: CrossEntropyLoss
        - type: LovaszSoftmaxLoss
      co

[2021-06-28 09:52] BeyondYourself commented on #1096
Is there a example?

[2021-06-28 10:11] LutaoChu commented on #1106
The example represents a single mixed loss. There are two mixed losses in yml, because ocrnet outputs two logits, and each mixed loss corresponds to each logits.

[2021-06-29 00:42] DXVVV commented on #1076
不过设置成false是不是就是去一些模型效果了，这种情况我这么做对吗。。

[2021-06-29 01:07] BeyondYourself commented on #1106
The question is that my program dosen't work properly.
The error infomationas follows：
`Traceback (most recent call last):
  File "train.py", line 162, in <module>
    main(args)
  File "train.py", line 134, in main
    losses = cfg.loss
  File "/home/aistudio/work/PaddleSeg/paddleseg/cvlibs/config.py", line 236, in loss
    'Loss config should contain keys of "types" and "coef"')
ValueError: Loss

[2021-06-29 01:11] BeyondYourself commented on #1106
The loss of config as follows:
`loss:
  types:
    - type: MixedLoss
      losses:
        - type: CrossEntropyLoss
        - type: LovaszSoftmaxLoss
      coef: [0.8, 0.2]`

and I trained with  Unet3Plus model

[2021-06-29 02:37] nepeplwu commented on #1096
@BeyondYourself , The output result of the segmentation model is a Tensor ***`X`*** with a shape of ***`[N, H, W]`***, where ***`N`*** represents batch size, ***`H`*** represents image height, and ***`W`*** represents image width. Assuming that the task is ***`K`*** classification, then each pixel value is an integer value between ***`[0, K)`***, we can use `np.where()` to get the coordinates corr

[2021-06-29 02:42] BeyondYourself commented on #1096
@ thx ,I will try it later

[2021-06-29 04:04] LutaoChu commented on #1106
Well, each `loss` class corresponds to a `coef`. You also need to add a `coef` at the end, as follows
[code]

[2021-06-29 06:55] BeyondYourself commented on #1106
Based on above format,  the new errorr arise：
`raceback (most recent call last):
  File "train.py", line 162, in <module>
    main(args)
  File "train.py", line 157, in main
    keep_checkpoint_max=args.keep_checkpoint_max)
  File "/home/aistudio/work/PaddleSeg/paddleseg/core/train.py", line 151, in train
    edges=edges)
  File "/home/aistudio/work/PaddleSeg/paddleseg/core/train.py", line 37, in

[2021-06-29 07:05] LutaoChu commented on #1106
If your logit_ list has five logits. You should configure a mixedloss for each logit.
Like this
[code]
Those `coef` are set according to your task.

[2021-06-29 07:33] BeyondYourself commented on #1106
OK ,I get it.  Whether we can  optimize it here, because there are exist a lot of  duplicate codes。
I had ever tested the non-mixed_losses  , that I only need to config like this:
`loss:
  types:
    - type: CrossEntropyLoss
  coef: [1]`

[2021-06-30 01:29] nieyun04 opened #1107 "四波段的遥感影像训练"
请问paddleseg支持四波段的图像训练吗，我尝试训练了一个模型，配置文件按照三个通道的没有修改，采用的deeplabv3p框架，resnet50骨干网，训练没有报错，但是训练出来的模型，第一层卷积的的网络输入只有三个通道，是不是四通道数据输入默认按照三个通道读取？

[2021-06-30 01:41] michaelowenliu commented on #1107
@nieyun04 Hi, four-channel images are not supported yet. Yes, only the first three channels.

[2021-06-30 02:16] LutaoChu commented on #1106
If all your losses are the same, you can configure them like this, and paddleseg will automatically copy 5 losses. This is much simpler.
[code]

[2021-06-30 02:39] BeyondYourself commented on #1106
In fact , it doesn't work.
`Traceback (most recent call last):
  File "train.py", line 162, in <module>
    main(args)
  File "train.py", line 157, in main
    keep_checkpoint_max=args.keep_checkpoint_max)
  File "/home/aistudio/work/PaddleSeg/paddleseg/core/train.py", line 132, in train
    for data in loader:
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid

[2021-06-30 03:06] LutaoChu commented on #1106
The error message shows that this is a problem with dataloader, not loss. I tried bisenetv2. It's OK. Here's my yml for reference

[code]

[2021-06-30 03:48] BeyondYourself commented on #1106
I test it like that ,it run noraml.

[2021-06-30 08:29] tpg112751 opened #1110 "关于忽略255的问题"
请问 paddleseg默认忽略255白色，可是我的数据集是一个二分类，背景和目标，背景是黑色0，目标是白色255的，怎么做能让paddleseg不忽略255？还想问下，为什么要忽略白色？

[2021-06-30 10:17] xdhuang opened #1111 "paddlepaddle2.1.0+cuda11.0+cudnn8.0.2+tensorrt7.2.3.4 paddleseg bisenet c++ inference 报错如下"
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0630 18:15:20.673328 12064 analysis_config.cc:424] use_dlnne_:0
I0630 18:15:20.673328 12064 analysis_config.cc:424] use_dlnne_:0
I0630 18:15:20.673328 12064 analysis_config.cc:424] use_dlnne_:0
W0630 18:15:20.673328 12064 analysis_predictor.cc:1142] Deprecated. Please use CreatePredictor instead.
I0630 18:15:21.634758 12064 analysis

[2021-06-30 11:42] michaelowenliu commented on #1110
@tpg112751 Hi, there, 255 does not mean white color. A simple solution, normalize your image first.

[2021-06-30 11:43] michaelowenliu commented on #1111
@xdhuang Hi, could you please provide more details?

[2021-06-30 11:50] tpg112751 commented on #1110
我在config里面，transforms中设置了normalize，但是我注意到dataset.py里面有ignore_index=255，并且训练中的loss一直是0.因为我的数据集的标注是255，背景是0，所以我会有疑问

[2021-06-30 13:28] michaelowenliu commented on #1110
@tpg112751 Hi, sorry, I misunderstood. Please modify the label, i.e. change 255 to 1.

[2021-07-01 13:28] wenjie-yuan commented on #985
我也遇到一样的问题，多卡不能增加batch_size，不增加batch_size的多卡训练，速度并不增加，希望得到回复

[2021-07-02 01:38] tpg112751 opened #1114 "我无法使用的Visualdl实现可视化"
我在训练完成之后 ，用vdl打开log文件 打不开

[2021-07-03 01:23] huilin16 opened #1115 "如何修改模型输入的通道数"
在对遥感影像进行分割时，输入多通道数据，请问应该如何修改模型输入通道数

[2021-07-03 01:26] huilin16 opened #1116 "如何使用warmup+PolynomialDecay学习率"
请问在现有的学习率基础上加上warmup应该如何修改相关配置文件：
lr_scheduler:
  type: PolynomialDecay
  learning_rate: 0.01
  end_lr: 0
  power: 0.9

[2021-07-03 15:56] spiderpigpig opened #1117 "关于推理后资源不释放的问题"
首先感谢paddleseg的开源分享。我在windows上使用cpu运行了seg的cpp中的demo，发现在推理后没有释放内存资源，查找了相关资料，找到api文档里的ClearIntermediateTensor和TryShrinkMemory两个函数，在paddleseg代码里搜寻不到，请问我应该如何释放资源，谢谢

// 释放中间Tensor
// 参数：None
// 返回：None
void ClearIntermediateTensor();

// 释放内存池中的所有临时 Tensor
// 参数：None
// 返回：uint64_t - 释放的内存字节数
uint64_t TryShrinkMemory();

[2021-07-05 02:32] nepeplwu commented on #1114
@tpg112751 你的vdl log文件和启动命令麻烦都给下

[2021-07-05 02:35] nepeplwu commented on #1115
@huilin16 感谢反馈，目前动态图模式下的模型的输入通道都固定为3，需要手动修改代码

[2021-07-05 02:46] nepeplwu commented on #1116
@huilin16 感谢反馈，目前动态图模式下还不支持通过配置文件制定 warpup + decay的学习率调度方式，我们会尽快补上

[2021-07-05 02:49] nepeplwu commented on #1117
@spiderpigpig 上面提到的两个方法都是PaddleInference 中Predictor类的接口，直接通过predictor对象调用即可

[2021-07-05 02:56] spiderpigpig commented on #1117
@nepeplwu 可是我现有的代码里没有这个接口，想问下是不是你们做的seg的demo里使用的paddle版本过低呢？

[2021-07-05 03:13] nepeplwu commented on #1117
你本地的paddle版本是多少？参照的是哪个demo？

[2021-07-05 03:18] spiderpigpig commented on #1117
@nepeplwu 版本PaddleSeg-v2.0，demo是legacy/deploy/cpp

[2021-07-05 04:22] #1076 closed, assigned to wuyefeilin

[2021-07-05 05:20] xliu79 opened #1119 "部署python端infer 推断时候显示out of memory"
分割任务中:
部署python端infer 推断时测试了三张图片 ，其中有一张显示out of memory

Paddle 2.0.0 版本

![1](https://user-images.githubusercontent.com/31554245/124216692-646ded80-db29-11eb-9e38-cd70655def6f.png)
驱动信息：
![image](https://user-images.githubusercontent.com/31554245/124216774-8c5d5100-db29-11eb-94d6-68bab0d209f3.png)
相关代码:

![image](https://user-images.githubusercontent.com/31554245/124216852-b747a500-db29-11eb-939a-

[2021-07-05 05:30] xliu79 commented on #1119
用来测试的图片地址
链接：https://pan.baidu.com/s/1wcoqld7qNHG5DDXr-gwORg
提取码：0b7v
静态图模型地址
链接：https://pan.baidu.com/s/110Yy8s4AfvlqnmAev8yAvQ
提取码：kjjz
动态图模型地址
链接：https://pan.baidu.com/s/1mE4jA2eaCJdvEvADM50SSw
提取码：2s34

[2021-07-05 06:40] nepeplwu commented on #1119
@xliu79 动态图模型地址里面只有参数，没有结构，你使用的是什么模型结构？

[2021-07-05 07:23] xliu79 commented on #1119
使用的是deeplabv3p 这个是我的训练参数
![image](https://user-images.githubusercontent.com/31554245/124432450-38aa6c00-dda4-11eb-9480-53197e287795.png)
![image](https://user-images.githubusercontent.com/31554245/124432685-7909ea00-dda4-11eb-92fe-0f655a87a32d.png)
config文件
链接：https://pan.baidu.com/s/1B7lQkJRShpWZbLyKcsDmcQ
提取码：bv3j

[2021-07-05 07:25] xliu79 commented on #1119
使用动态图预测没有出现问题，转为静态图后进行推断就出现这个显存占用的问题了。

[2021-07-05 08:55] wanghaoshuang opened #1122 "训练attention_unet_cityscapes_1024x512_80k失败，Segmentation fault"
PaddleSeg==develop
commit: d2b3eea8ffd1e98375656f2f4545e7fe164d4d94

## cmd

[code]

## Error Log

[code]

[2021-07-05 09:17] wanghaoshuang commented on #1122
将cudnn版本换成`7.6`就可以正常训练了。

[2021-07-05 09:17] #1122 closed, assigned to nepeplwu

[2021-07-06 07:03] horo2016 opened #1126 "which train.py i should use?"
cd PaddleSeg
python3 legacy/pdseg/train.py --cfg configs/unet_plane.yml

or
python train.py  ?

[2021-07-06 08:10] horo2016 opened #1127 "paddleseg 训练时 莫名其妙的被killed 能给出具体的verbose 吗"
paddleseg 训练时 莫名其妙的被killed  能给出具体的verbose 吗

[2021-07-06 08:38] wuyefeilin commented on #1126
train.py.   legacy/pdseg/train.py is static and old version.

[2021-07-06 08:40] wuyefeilin commented on #1127
你好，麻烦给一下日志哈

[2021-07-08 03:06] huilin16 opened #1133 "unet系列预训练模型"
请问有unet系列预训练模型吗，在文档中没有找到

[2021-07-08 04:56] michaelowenliu commented on #1133
@huilin16 https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.1/configs/unet

[2021-07-08 06:41] I-am-ok-but-my-clearlove commented on #1133
您好，我发现只要UNet有预训练模型。请问其余UNet的系列模型（如Unet3plus、attentionUnet)有预训练模型么？

[2021-07-08 07:59] michaelowenliu commented on #1133
@huilin16 Hi, the UNet models are not proper for Cityscapes, so we do not provide the pre-trained models.

[2021-07-11 04:23] GitHubyu007 commented on #772
我也出现过这个问题：Process finished with exit code -1073741819 (0xC0000005) ，报错这个代码然后直接结束验证。
 解决方法：重新配置paddleSeg的环境：直接在pycharm 点击requirements.txt  然后install ,后面缺什么就pip 相应的。
注意的是：出现这个bug的原因是我配置环境直接pip install -r requirements.txt（清华源） 。
对比两个安装方法：1、pycharm+ pip缺的包  2、pip install -r requirements.txt 。发现1、方法pip show tqdm 是没有的，而2方法pip show tqdm 是有的。  怀疑装的tqdm 有影响？ 具体不知道

[2021-07-11 04:52] GitHubyu007 commented on #1093
我的有个别类别比如小目标 iou 和acc 为0，而其他一般大小的目标正常是为什么呢？ 我的数据样本极度不平衡：大目标数据2W张，小目标2K张 ，有什么办法处理嘛？ 如果只训练2K小目标，iou和acc有正常，但是混合大目标训练就为0

[2021-07-11 13:32] jackiezzq opened #1144 "标注能支持npy格式多通道吗"
unet检测表格框线时，横线竖线会有交集，导致横线或竖线有缺失，一个像素点对应多个类别（既是横线又是竖线），是否支持标签多通道训练，输出结果也是多通道？

直接改数据读取支持npy后续训练也报 维度不匹配的错
labels_dims[axis] == 1UL, but received labels_dims[axis]:2 != 1UL:1.]

[2021-07-12 02:42] nepeplwu commented on #1144
@jackiezzq 目前PaddleSeg中的pipeline暂时不支持这种任务，需要手动修改代码。请问下你的任务场景是什么呢？必须做成这种`多标签分类`的吗？

[2021-07-12 03:14] jackiezzq commented on #1144
就根据表格横竖线区分cell，然后提取cell内的信息，单分类交点处一类就会断开，后续不好处理

[2021-07-12 09:55] nepeplwu commented on #1144
@jackiezzq 那只能手动修改代码了，一共有三处地方需要修改：
1. 读取数据时，要考虑label为多通道的场景
2. 模型的预测头和辅助头都需要改成多个二分类（预测是否为竖线，以及预测是否为横线）
3. 计算Loss时，选择对应的label结合模型输出用于计算

[2021-07-13 09:51] deadkany opened #1151 "EISeg的exe百度网盘链接失效了呀，能否重发一下"

[2021-07-13 11:51] haoyuying commented on #1151
您好，感谢您的反馈，我们会尽快更新，请您使用https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/contrib/EISeg 中介绍的其他方式进行安装，我们目前最推荐的是医用paddleseg的repo装，这里面有我们最新更新的功能

[2021-07-13 12:41] deadkany opened #1155 "训练AttentionUnet出现报错AttributeError: 'AttentionUNet' object has no attribute 'data_format'"
Traceback (most recent call last):
  File "train.py", line 182, in <module>
    main(args)
  File "train.py", line 177, in main
    fp16=args.fp16)
  File "/export/home/yaopu/ylx/PaddleSeg/paddleseg/core/train.py", line 155, in train
    if model.data_format == 'NHWC':
  File "/export/home/yaopu/anaconda3/envs/ylx/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 1050, in __getattr

[2021-07-14 01:46] xliu79 commented on #1119
@nepeplwu 请问这个问题有解决了吗

[2021-07-14 01:58] wuyefeilin commented on #1155
请更新下版本哈

[2021-07-14 02:40] deadkany commented on #1155
Paddleseg吗，是最新的呀

[2021-07-14 02:42] wuyefeilin commented on #1155
目前最新的是2.2分支哈

[2021-07-14 04:03] nepeplwu commented on #1119
@xliu79 我这边没有找到合适的windows机器，使用linux机器试了下，发现2.0.0和2.1.1的paddle版本使用的显存大小是正常的，
建议使用2.1.1版本验证下呢？如果还是不行的话，可以在infer.py中第67行加入`pred_cfg.enable_memory_optim()`试试看

[2021-07-14 05:55] flyinggx opened #1160 "是否有mla-transformer的预训练模型？"
mla-transformer的配置文件autonue.yml中未指定具体的pre-train，是要按照setr的进行配置吗？

[2021-07-14 06:31] lixuekai2001 opened #1161 "'eiseg' is not recognized as an internal or external command, operable program or batch file."
'eiseg' is not recognized as an internal or external command, operable program or batch file.

I am trying to use EISeg but after installation successfully, I found EISeg is still not working but leave with this error. Can anyone encounter this problem before? and how to solve it?

###########################################################################
This issue has been solved by reinstallat

[2021-07-14 07:26] #1161 closed, assigned to nobody

[2021-07-14 08:31] XinZhaoFu opened #1162 "人像分割存在显著斑块"
![nil_WechatIMG1708](https://user-images.githubusercontent.com/35882457/125590014-86829f45-64a5-4227-8333-a8055cdce9bd.jpeg)
人像分割存在显著斑块 请问应该调整哪里

[2021-07-14 15:11] ZerRui commented on #1162
同样的问题，期待您的解答。谢谢！

[2021-07-15 02:34] xliu79 commented on #1119
好的我试一下

[2021-07-15 03:02] michaelowenliu commented on #1160
@flyinggx hi, please refer to https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/contrib/AutoNUE/configs/swin_transformer_mla_base_patch4_window7_160k_autonue.yml

[2021-07-15 04:01] woddle opened #1164 "export.py 现在导出yaml文件存在问题"
export.py是否还没开发完成，现在导出的yaml文件没有用于C++ 动态图的推理

[2021-07-15 04:17] #1164 closed, assigned to nobody

[2021-07-15 10:43] BBBBing opened #1166 "使用labelme2seg.py进行数据类型转换时报错"
class_names: ('_background_', 'edge')
Saved class_names: \\PaddleSeg\\Data\class_names.txt
Generating dataset from: \\PaddleSeg\\Data\scene00001.json
Traceback (most recent call last):
  File "\PaddleSeg\legacy\contrib\NeurIPS_SN7\pdseg\tools\labelme2seg.py", line 126, in <module>
    main(args)
  File "\PaddleSeg\legacy\contrib\NeurIPS_SN7\pdseg\tools\labelme2seg.py", line 87, in main
    class_n

[2021-07-15 10:50] BBBBing commented on #1166
paddlepaddle 21.1.3
paddleseg 21.1.3

[2021-07-15 10:53] BBBBing commented on #1166
![image](https://user-images.githubusercontent.com/41807655/125776719-8cb1d8b6-7459-427b-8db7-445ab2f2ae0b.png)

[2021-07-15 12:23] TinyQi opened #1168 "模型导出到C++的部署模型后，在C++的demo里跑出来的效果与python跑出来的差很多"

[2021-07-15 12:40] TinyQi commented on #1168
seg的模型是在2.0的分支上训练的，然后C++部署的代码时paddleX的2.1版本的代码，导出模型也是在paddleseg2.0的分支上导出的，是否存在版本上的差异呢

[2021-07-15 12:42] TinyQi commented on #1168
图传不了了，我就是拿训练素材去测试，python端的预测结果基本上就是gt的样子，但是c++端预测的结果简直不能看，望指教，用的模型就是bisenet_optic_disc_512x512_1k这个

[2021-07-15 12:46] TinyQi commented on #1168
@chliang @ZeyuChen @QingshuChen @sjtubinlong

[2021-07-15 13:39] shizhang124 opened #1169 "PaddleSeg直播抽到了书，怎么领取？"
如题

[2021-07-15 14:19] LutaoChu commented on #1162
你这块感觉是网络没训好，可否提供一下训练配置和最后的精度呢

[2021-07-16 02:06] kingbirdWc opened #1170 "运行predict.py的时候支持批处理吗？"
您好，请问运行predict.py的时候是否支持按照指定的batch_size进行预测？

[2021-07-16 04:56] BBBBing commented on #1166
for label_file in glob.glob(osp.join(input_dir, '*.json')):
    print('Generating dataset from:', label_file)
    with open(label_file) as f:
        base = osp.splitext(osp.basename(label_file))[0]
        out_png_file = osp.join(output_dir, base + '.png')

        data = json.load(f)

        img_file = osp.join(osp.dirname(label_file), data['imagePath'])
        **img = np.asarray(cv2.imread(im

[2021-07-16 04:56] #1166 closed, assigned to nobody

[2021-07-16 06:02] XinZhaoFu commented on #1162
感谢您的回复，后来我直接看预测概率，确实斑块出的推理值更低一些。

[2021-07-16 06:03] XinZhaoFu commented on #1162
网络是使用的是paddleseg提供的人像分割的网络，为deeplabv3p_resnet50_os8_humanseg_512x512_100k_with_softmax。

[2021-07-16 07:02] TinyQi commented on #1008
我也跟你遇到一样的情况了，不知道是什么原因，楼主你解决了码

[2021-07-16 07:08] TinyQi opened #1171 "动态图转静态图，效果下降很明显"
静态图的预测结果
![image](https://user-images.githubusercontent.com/28993936/125906862-70878ff5-1165-4d56-a2ef-76e07a3950eb.png)

动态图的预测结果
![image](https://user-images.githubusercontent.com/28993936/125906897-a12a492f-d77c-4c82-8764-b05c8da09dc2.png)

[2021-07-16 07:11] TinyQi commented on #1171
原图是一张名片

[2021-07-16 07:15] LutaoChu commented on #1162
上面这个人像戴着帽子，头上也有花，都会有干扰，确实也是比较难识别的。你可以基于这个模型finetune，效果应该会好一些

[2021-07-16 07:19] LutaoChu commented on #1171
是要分割什么名片吗？是同一个模型，动态图的预测效果和转完静态图的效果不一样是吗？

[2021-07-16 07:24] LutaoChu commented on #1170
你好，predict.py暂不支持。
预测部署deploy/infer.py可以按指定batch预测 https://github.com/PaddlePaddle/PaddleSeg/tree/develop/deploy/python

[2021-07-16 07:26] TinyQi commented on #1171
是的，同一个模型，我直接拿训练模型（应该是动态图模型吧），使用predict.py去预测，给出的可视化结果很好。然后我把这个模型导出为静态图，再使用deploy.py去预测，效果就大打折扣，基本到了用不了的程度了。

导出命令
python export.py --config /mnt/ssd1/xcq/PaddleSeg/data/2021_7_15/BusinessCardbisenet_optic_disc_512x512_1k.yml
--model_path /mnt/ssd1/xcq/PaddleSeg/data/2021_7_15/best_model/model.pdparams
--save_dir /mnt/ssd1/xcq/PaddleSeg/data/2021_7_15/best_export_0715/

我训练和导出明确是使用同一个文件的，下面就是配置文件，就

[2021-07-16 07:27] LutaoChu commented on #1169
可以在微信群3内联系运营同学领取

[2021-07-16 07:35] LutaoChu commented on #1168
paddlex支持的是paddleseg2.1版本，请用2.1分支导出。
主要区别在于2.1导出会自动在网络末端添加argmax算子，而2.0不会

[2021-07-16 07:35] LutaoChu commented on #1168
模型不用重新训练

[2021-07-16 07:50] TinyQi commented on #1168
最新发现，其实不是版本的问题，因为我发现原先训练的分支就是2.1的，导出也是在2.1的分支下导出的，现在的主要问题就是动态图的效果明显优于静态图。至于C++推理静态图和python推静态图的模型的结果反倒是一样的（一样的很差的效果😓）

[2021-07-16 09:09] stoneWeb commented on #879
预训练模型能直接使用吗？直接用会报错
[code]
Traceback (most recent call last):
  File "predict.py", line 149, in <module>
    main(args)
  File "predict.py", line 113, in main
    val_dataset = cfg.val_dataset
  File "/home/xxx/.conda/envs/paddle/lib/python3.7/site-packages/paddleseg/cvlibs/config.py", line 321, in val_dataset
    return self._load_object(_val_dataset)
  File "/home/xxx/.conda/envs/paddle/lib/pytho

[2021-07-16 10:02] XinZhaoFu commented on #1162
嗯嗯，确实干扰比较多。因为之前接触的分割模型往往是边界预测效果不好，当看到这批数据有很多是人物中间位置效果不好的时候，我以为是paddleseg的某些后处理带来的影响。后来查看了预测概率后才发现斑块是概率低带来的影响。我之后在微调一下，非常感谢！

[2021-07-16 10:16] sosan-nian opened #1172 "静态图版本C++部署后dll，C#调用无法正常预测"
在C#端可以正常使用CPU加载模型与推理，但是使用GPU只能能在主线程运行，在新开的线程里只能加载模型而不能正常推理，会提示”受保护内存，内存错误“。在C++环境下可以正常CPU和GPU的加载与推理，CPU与GPU的推理接口一样的。

[2021-07-16 11:28] #1080 closed, assigned to LutaoChu, haoyuying

[2021-07-17 16:14] SwordBearFire opened #1173 "人像抠图容易抠出背景,边缘抖动问题"
大佬，您好，

我自己写了一个人像抠图的代码，模型最后一层用的是sigmoid，然后用MSE和BCE去监督人像的alpha，在验证集上感觉效果还可以，但是一但接到摄像头上，特别不稳定，特别是肩膀边缘抖动十分厉害，而且当人离开摄像头范围，总是会抠出一大片背景，而且手也抠得不太好，看了百度web端的会议抠图感觉抖动啥的都挺稳，人离开摄像头视野范围也不会抠出背景。不知道大佬们是怎么做的，用的是语意义分割还是人像抠图？

希望大佬能帮我看看我这几个问题，谢谢。

SordBear
Best regards

[2021-07-18 14:15] sddnuaa opened #1174 "unet_3plus 训练错误问题"
from paddleseg.models import UNet3Plus，在定义model = UNet3Plus(in_channels=3, num_classes=2)能正常训练，打开deepsup和CSM，model = UNet3Plus(in_channels=3, num_classes=2, is_deepsup=True, is_CGM=True)，训练报错。

报错代码如下：
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dataloader/dataloader_iter.py:89: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silen

[2021-07-19 02:10] sosan-nian opened #1175 "同样的模型C++部署到paddleX 预测结果差异很大"
两种预测方式：
1、paddleseg2.0 动态图版本训练的模型，直接用predict.py预测
2、直接用export.py导出静态模型后部署到paddleX，使用demo里面的model_infer.exe预测
两个结果差异很大，方式一的结果更准确

[2021-07-19 02:15] LutaoChu commented on #1171
你的导出命令后面需要加上--without_argmax --with_softmax

[2021-07-19 02:38] LutaoChu commented on #1171
你好，没有deploy.py。你说的是deploy/python/infer.py吗？

另外需要在yml中补充设置
[code]

[2021-07-19 02:41] TinyQi commented on #1171
您说的这个是在导出后的模型的yml文件里添加这段配置吗？

[2021-07-19 03:11] LutaoChu commented on #1168
不是版本的问题，那也就是导出的问题了。发一下导出和静态图推理的命令吧。怀疑是不是推理静态图的时候是不是网络最后少个argmax？

[2021-07-19 03:23] Apokar opened #1176 "全景分割案例中缺少yml文件"
你好, 我在参照[实践案例中的全景分割](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/contrib/PanopticDeepLab)时,因为数据集下载的很慢,所以准备跳过训练与评估步骤,下载你们提供的模型进行预测,下载的模型是[ResNet50_OS32](https://bj.bcebos.com/paddleseg/dygraph/pnoptic_segmentation/panoptic_deeplab_resnet50_os32_cityscapes_1025x513_bs8_90k_lr00005/model.pdparams)
但是我发现并不能找到configs/panoptic_deeplab/panoptic_deeplab_resnet50_os32_cityscapes_**1025x513_1

[2021-07-19 03:24] LutaoChu commented on #1162
好的，不客气~

[2021-07-19 03:27] LutaoChu commented on #1171
不是导出后的，是导出前的。这样导出后的yml中transforms就会改为指定的transforms

[2021-07-19 06:25] nepeplwu commented on #1174
@sddnuaa 从报错日志来看，应该是UNet3P只有一个输出，但是你的配置文件里面配置了5个Loss

[2021-07-19 06:34] wuyefeilin commented on #1176
@Apokar https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/contrib/PanopticDeepLab， 请参考这边的说明，强调一下，全景分割需要在contrib/PanopticDeepLab进行执行

[2021-07-19 06:34] heliqi commented on #1175
请问是什么模型？ 你的环境是？ 尽量提供详细点， 我这边重现对比下。

我使用PaddleSeg的Release/2.1版本导出的bisenet_cityscapes_1024x1024_160k、deeplabv3_resnet50_os8_cityscapes_1024x512_80k、hardnet_cityscapes_1024x1024_160k 模型在cuda 10.2 上，跟最新的PaddleX cpp部署进行对比，只有非常少的diff（小于 1e-5）。

我对比使用的脚本是 PaddleSeg/deploy/python/infer.py , 建议你也使用这个脚本打印对比下。 看看结果是跟哪边对上， 方便我们定位是 导出模型的问题，还是cpp部署问题

[2021-07-19 07:12] Apokar commented on #1176
![image](https://user-images.githubusercontent.com/25199579/126116110-de385882-0b56-4b60-a4d5-9ed006c8b62f.png)
这个文件根据它前面的路径我并没有在contrib/PanopticDeepLab下的configs中找到
![image](https://user-images.githubusercontent.com/25199579/126116283-2ebaf479-fbfe-4989-b7a6-44be17904075.png)

[2021-07-19 07:14] Apokar commented on #1176
@wuyefeilin
![image](https://user-images.githubusercontent.com/25199579/126116110-de385882-0b56-4b60-a4d5-9ed006c8b62f.png)
这个文件根据它前面的路径我并没有在contrib/PanopticDeepLab下的configs中找到
![image](https://user-images.githubusercontent.com/25199579/126116283-2ebaf479-fbfe-4989-b7a6-44be17904075.png)

[2021-07-19 07:24] wuyefeilin commented on #1176
@Apokar 那应该是文档书写错误了，感谢反馈，选用第一个就行哈

[2021-07-19 07:43] #1176 closed, assigned to wuyefeilin

[2021-07-19 08:00] LutaoChu commented on #1173
你好，验证集上是图片的效果，图片效果还可以不代表视频效果好。
抖动问题，一个是需要提升单帧图片的效果，第二是可以使用光流后处理做平滑。
背景问题，可以增加纯背景图片进行训练，增强对背景的识别能力。
我们用的是语义分割。你说的抠图是指matting对吧？

[2021-07-19 08:06] SwordBearFire commented on #1173
嗯，我的是matting，测试的时候经常会带出一些背景出来，特别是人不在摄像头范围内的时候，背景闪得厉害，一般纯背景数据集加多少合适点呢。还有我用的是显著性人像数据集，不知道我们的数据是不是导致模型不稳定的原因

[2021-07-19 08:08] sosan-nian commented on #1175
我使用的的release/2.0，自定义模型，cuda10.0

[2021-07-19 08:25] TinyQi commented on #1171
你好，谢谢你的回复，我测试了，确实可行，问题的原因应该就是我训练的时候规定了输入的尺寸512，512，然后导出模型的时候没有相应的预处理参数也导出到配置文件里，导致最终直接使用原图尺寸预测了，最终精度下降。目前我不在训练的配置文件里加export的参数，我直接添加到导出的配置文件里也能生效.

ps:期待你们的更新嗷

Deploy:
  model: model.pdmodel
  params: model.pdiparams
  transforms:
    - type: Resize
      target_size: [512, 512]
    - type: Normalize

[2021-07-19 09:11] heliqi commented on #1175
自定义模型的话，我怀疑是前后处理没对上。
验证方法：
你试试 PaddleSeg/deploy/python/infer.py 这个脚本进行预测，看结果跟哪个一致？ 可以的话，将Seg版本升级到 2.1试试

[2021-07-20 01:45] sddnuaa commented on #1174
谢谢，已解决

[2021-07-20 02:25] LutaoChu commented on #1173
纯背景加1%~10%都可以。matting这块请@wuyefeilin回答

[2021-07-20 02:33] LutaoChu commented on #1171
不客气~ 是的，直接添加到导出配置文件也是一样的效果。
ps：你说的更新是指文档吗

[2021-07-20 02:36] TinyQi commented on #1171
额，我自己瞎想想是认为这个训练时期的部分预处理，如果需要在预测时期同步该参数的，应该在导出时候自动带上，如果需要手动添加，那相应的文档应该也要提示一下，哈哈

[2021-07-20 02:46] LutaoChu commented on #1171
嗯嗯，导出的时候默认选择评估的预处理，也支持自定义export transform。谢谢你的建议哈

[2021-07-20 02:47] zhaotun commented on #1127
我也出现了这种情况，忽然被killed，也没其他提示，我是在容器里训练的

![image](https://user-images.githubusercontent.com/13940249/126254239-5724788e-167e-4a79-b781-c51c71b6801b.png)

[2021-07-20 02:55] wuyefeilin commented on #1173
@SwordBearFire 因为在训练的时候的时候每张图片都有前景和背景的区分，所以实际中当只有背景的时候也会出现背景是正常的，一方面你可以让网落对纯背景的数据进行训练，也可以考虑加一个分类器试试。另外可以给我们看一下你的数据集吗，以便我们作出判断

[2021-07-20 03:02] SwordBearFire commented on #1173
分类器应该怎么弄，类似于GAN那种方式吗，我用的是爱分割的人像数据集，然后数据处理方式直接是把800x600大小的尺寸直接resize到224x224没有做其他的处理，我看一些论文里面训练的时候是先找到alpha边缘的区域，然后在边缘区域随机找一个点作为crop的中心点，crop出来的patch来作为训练的数据，不知道这样做对于我这个情况有没有帮助。谢谢大佬解答～～

[2021-07-20 03:22] wuyefeilin commented on #1127
@zhaotun 稳定复现吗？

[2021-07-20 03:26] zhaotun commented on #1127
是的，重新开了几次都这样

[2021-07-20 03:27] wuyefeilin commented on #1173
背景的问题增加一些纯背景图片效果会变好哈，你这边的具体应用场景是什么呢？ 分类器是指在分割之前添加一个是否有人的判断哈，这是我的个人想法，你可以尝试一下

[2021-07-20 03:32] SwordBearFire commented on #1173
我这边主要是针对edge device做人像抠图，所以对推理速度啥的也有一定的要求，然后我对比了百度会议，腾讯会议，谷歌会议，zoom这些比较主流的应用，我发想他们对背景的处理都很好，腾讯的感觉有个人脸检测器，把脸遮住就不会抠图。现在我还有个问题就是，当衣服和背景色比较相近的时候，边缘抖动得特别厉害，这种情况应该怎么才能缓解一下

[2021-07-20 04:01] wuyefeilin commented on #1173
最好的方法就是增加这一类的训练样本了

[2021-07-20 06:22] wuyefeilin commented on #1127
你的运行命令和日志及paddle和paddleseg版本给一下

[2021-07-20 07:08] zhaotun commented on #1127
start_train.sh 内容如下：
[code]
PaddlePaddle: 2.1.1
PaddleSeg : 2.2
GPU: RTX3090
CUDA: 11.2

[code]

[2021-07-20 07:22] wuyefeilin commented on #1127
试一下减小batch_size

[2021-07-20 09:50] wuyefeilin commented on #1127
@zhaotun 可以的话给一下数据集和训练配置及运行命令，我们这边复现一下

[2021-07-20 10:28] zhaotun commented on #1127
链接：https://pan.baidu.com/s/1NY37Debu9GGHL9CpcD5NBQ
提取码：9qaf

[2021-07-20 11:26] parap1uie-s opened #1181 "GSCNN实现正确吗？"
GSCNN模型中，边缘输出为sigmoid激活后的结果

https://github.com/PaddlePaddle/PaddleSeg/blob/05a94f937425c898f09c2e4e08aafe831ff46c04/paddleseg/models/gscnn.py#L213
[code]

并且配置文件中使用BCELoss训练edge_out
https://github.com/PaddlePaddle/PaddleSeg/blob/05a94f937425c898f09c2e4e08aafe831ff46c04/configs/gscnn/gscnn_resnet50_os8_cityscapes_1024x512_80k.yml#L24

[code]

而BCELoss默认接受一个logit，而非sigmoid激活值
https://github.com/Pad

[2021-07-20 11:42] wuyefeilin commented on #1181
感谢你的反馈，你说的有道理哈。但sigmoid不会改变值的大小排序，对训练影响不大。不过你可以改用logit进行训练对比一下两者的区别哈，如果logit效果更好欢迎给我们提pr成为PaddleSeg contributors的一员。

[2021-07-21 01:51] SwordBearFire commented on #1173
谢谢大佬们的回答，受益匪浅。

[2021-07-21 01:51] #1173 closed, assigned to LutaoChu

[2021-07-21 01:53] daixiaolei623 opened #1183 "the training always stop here, cannot continue"
thank you for your work.
But the training always stop here, cannot continue :
"2021-07-21 09:51:05 [WARNING]	scale_attn.atten_head.1._conv.weight is not in pretrained model
2021-07-21 09:51:05 [WARNING]	scale_attn.atten_head.1._batch_norm.weight is not in pretrained model
2021-07-21 09:51:05 [WARNING]	scale_attn.atten_head.1._batch_norm.bias is not in pretrained model
2021-07-21 09:51:05 [WARNING]

[2021-07-21 02:06] parap1uie-s commented on #1181
我大概已经是contributor了，哈哈哈。

主要是，sigmoid不会改变大小值顺序，但会改变量纲。即模型最后可能没有得到正确的训练。

[2021-07-21 02:16] wuyefeilin commented on #1181
这边主要是参考了原作者的实现，不过我感觉你更有道理，可以试试，说不定效果有提升

[2021-07-21 03:29] daixiaolei623 opened #1184 "The error: RuntimeError: can't start new thread"
Thank you for your work.
However, when i run "CUDA_VISIBLE_DEVICES=0,1 python -u -m paddle.distributed.launch train.py --config configs/sscale_auto_nue_map+city@1920.yml --use_vdl --save_dir saved_model/sscale_auto_nue_map+city@1920 --save_interval 2000 --num_workers 2 --do_eval",
i got the error:
"RuntimeError: can't start new thread".
Could you please tell me how to solve it? thank you.

[2021-07-21 07:00] michaelowenliu commented on #1184
@daixiaolei623 hi, can you try `ulimit -u 30000`?

[2021-07-21 07:02] michaelowenliu commented on #1183
@daixiaolei623 Hi, The dataset path could not be set properly, please double check it.

[2021-07-21 08:05] daixiaolei623 commented on #1184
Hi
i try ulimit -u 30000, but when i run "CUDA_VISIBLE_DEVICES=0,1 python -u -m paddle.distributed.launch train.py --config configs/sscale_auto_nue_map+city@1920.yml --use_vdl --save_dir saved_model/sscale_auto_nue_map+city@1920 --save_interval 2000 --num_workers 2 --do_eval",
it also have the error: RuntimeError: can't start new thread.

[2021-07-21 08:54] tspp520 opened #1185 "EiSeg交互式分割工具，好像没法断点续标"
我有一张大图，电脑不行，标注还是很费时间，所以一张图半小时只标注了一半，如果我这时候保存，退出，
发现下次打开原图，又得重新标注了，能不能，把前面标注的，重新加载进来呢？

[2021-07-21 09:45] daixiaolei623 commented on #1183
Hi
I have check in sscale_auto_nue_map+city@1920.yml, and it is ok.
but the problem is also existing.

[2021-07-21 10:06] zero654655902 opened #1186 "release2.2中deploy/lite/human_segmentation_demo模型的训练代码"
请问有release2.2中deploy/lite/human_segmentation_demo人像分割模型的训练代码吗，没有找到对应的yaml文件

[2021-07-21 19:25] s0ke opened #1187 "如何不使用验证集仅使用测试集"
想要在unet模型里面用训练好的模型直接上测试集，不要验证集。配置文件应该怎么写

[2021-07-22 06:09] haoyuying commented on #1185
目前还没有开放该功能，日后会增加这个功能，感谢您的建议。

[2021-07-22 06:13] haoyuying commented on #1187
把yaml文件里关于val_dataset的内容全部删掉。比如这种：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/configs/_base_/ade20k.yml#L22

[2021-07-22 06:14] haoyuying commented on #1186
请参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/configs/_base_/ade20k.yml#L22

[2021-07-22 06:23] Deo0330 opened #1188 "PaddleSeg训练模型，转换为PaddleServing模型时出错"
使用paddleseg0.5.0 paddle1.8.0
!python PaddleSeg/PaddleSeg/pdseg/export_serving_model.py --cfg PaddleSeg/configs/unet_optic.yaml TEST.TEST_MODEL work/PaddleSeg-release-v0.5.0/saved_model/unet_optic/final
错误提示：
Exporting serving model...
load test model: work/PaddleSeg-release-v0.5.0/saved_model/unet_optic/final
Traceback (most recent call last):
  File "PaddleSeg/PaddleSeg/pdseg/export_serving_model

[2021-07-22 06:27] haoyuying commented on #1188
您好，您使用的paddleseg和paddle版本过于陈旧，请安装2.0版本以上的paddleseg及paddle获得更好的体验。

[2021-07-22 07:12] songh11 opened #1189 "export 时报错"
当 gast 为0.5时，导出模型时会报错

[2021-07-22 07:18] ZiQiangXie opened #1190 "数据transform疑问"
transforms:
    - type: Resize
      target_size: [1920, 1080]
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0
    - type: RandomPaddingCrop
      crop_size: [1920, 1080]
    - type: RandomHorizontalFlip
    - type: RandomDistort

对于数据处理的过程，是按照transform里面设置的顺序进行处理吗？还是有默认的优先级顺序？

[2021-07-22 07:45] zero654655902 opened #1191 "human_segmentation_demo跟换模型后报错"
release/2.2 human_segmentation_demo更换模型后报错：
![image](https://user-images.githubusercontent.com/24507319/126603433-af60c871-8a4e-4087-ae10-0c172e333e88.png)

1、按照
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.1/contrib/HumanSeg
的步骤下载数据，训练模型
导出模型
export CUDA_VISIBLE_DEVICES=0 # 设置1张可用的卡
python ../../export.py \
--config configs/fcn_hrnetw18_small_v1_humanseg_192x192_mini_supervisely.yml \

[2021-07-22 07:51] zero654655902 commented on #1189
把gast改成0.3.3版本 @songh11

[2021-07-22 08:17] songh11 commented on #1189
@zero654655902 感谢您的回复，又出现了一个新问题，就是在设置input-size得到静态模型之后，转onnx模型会出现动态size的情况，请问如何解决。
![Uploading 699149c8afb64ea2b9a535f3279ea946.png…]()

[2021-07-22 08:50] Deo0330 commented on #1188
感谢您的回复，在换为2.0.版本paddle和2.2版本paddleseg后，问题解决了

[2021-07-22 08:50] #1188 closed, assigned to nobody

[2021-07-22 10:59] haoyuying commented on #1190
是按照你输入的顺序https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/paddleseg/transforms/transforms.py#L64

[2021-07-22 11:02] haoyuying commented on #1189
图看不到

[2021-07-22 12:21] LutaoChu commented on #1191
你好，导出模型这块不要加--without_argmax --with_softmax试试

python ../../export.py
--config configs/fcn_hrnetw18_small_v1_humanseg_192x192_mini_supervisely.yml
--model_path saved_model/fcn_hrnetw18_small_v1_humanseg_192x192_mini_supervisely/best_model/model.pdparams
--save_dir export_model/fcn_hrnetw18_small_v1_humanseg_192x192_mini_supervisely_with_softmax

[2021-07-22 14:37] 836469383 opened #1194 "查无此人"

[2021-07-23 01:11] ZiQiangXie commented on #1190
好的，感谢！ @haoyuying

[2021-07-23 01:11] #1190 closed, assigned to nobody

[2021-07-23 02:01] zero654655902 commented on #1191
@LutaoChu 谢谢，这样导出的模型转换后，替换原来的nb不报错了，但是人像的分割效果差了很多，直接使用预训练模型转换后，效果可以，应该是模型微调时没有训练好的原因吧

[2021-07-23 02:49] LutaoChu commented on #1191
不客气。你是不是在mini_spervisely上finetune了，那个数据集数据量很小，只是用来做demo的。要提高分割效果需要符合你任务要求的数据集，数据量也不能太小

[2021-07-23 02:51] zero654655902 commented on #1191
@LutaoChu 嗯嗯

[2021-07-23 04:06] sosan-nian opened #1200 "模型裁剪未完成"
基于paddle2.1运行bisenet_optic_disc_512x512_1k.yml训练的模型，进行模型裁剪未完成
![图片](https://user-images.githubusercontent.com/82444943/126736245-3895a659-543f-414b-a86e-292c38443736.png)

[2021-07-23 06:11] chenghuaWang opened #1203 "EIseg qt plugins bug ?"
[code]
**eiseg运行时出现下述报错:**
[code]
**使用了pyside2解决了这个问题**
[code]

[2021-07-23 06:45] #1194 closed, assigned to nobody

[2021-07-23 06:52] nepeplwu commented on #1200
@sosan-nian 从截图中未看到报错信息，是否方便给下？未完成是指异常退出了吗？

[2021-07-23 07:13] sosan-nian commented on #1200
@nepeplwu 就是这样卡在这里，然后就自动退出去了，没有报错信息，我测试了不同的网络都是这样卡住了。

[2021-07-23 07:42] linhandev commented on #1203
收到，我们已经发现cv2和pyqt在一些linux环境下有xcb环境变量的冲突，下个版本已经加入了对于这个问题的解决，欢迎大佬在我们升级后继续关注一下这个点，也十分感谢大佬提出的方案！

[2021-07-23 08:36] nepeplwu commented on #1200
请问你的paddle版本是？

[2021-07-23 09:29] 836469383 opened #1204 "RuntimeError: (NotFound) Operator reduce_mean does not have kernel for data_type[int64_t]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[PLAIN]. [Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at /paddle/paddle/fluid/imperative/prepared_operator.cc:135) [operator < reduce_mean > error]"
- ubuntu 18.04
- CUDA11.1
- python=3.7
- **run code** :`CUDA_VISIBLE_DEVICES=0,1 python -m paddle.distributed.launch train.py  --config configs/panoptic_deeplab/panoptic_deeplab_resnet50_os32_cityscapes_1025x513_bs8_90k_lr00005.yml --do_eval        --use_vdl --save_interval 5000 --save_dir output`
- **report error** :
![image](https://user-images.githubusercontent.com/32611043/126763248-859168ad-4

[2021-07-23 09:38] sosan-nian commented on #1200
paddle2.1，我conda重新做了一遍环境，现在可以运行了
不过我直接用python/infer预测
![图片](https://user-images.githubusercontent.com/82444943/126761856-0c6083b0-8ede-473d-9341-d573a8417d9c.png)，是需要输入int8吗？

[2021-07-23 09:55] nepeplwu commented on #1200
不需要，你的输入图片是否方便给下？我们看下

[2021-07-25 07:00] insoliang opened #1205 "paddleseg2.0可视化问题"
您好我想请问以下paddleseg2.0取消了--vdl_log_dir这个参数，那么怎么样才能实时可视化呢，现在我只能可视化loss曲线那几个图，不能看到网络结构、样本数据等等

[2021-07-25 07:28] kingbirdWc commented on #1110
argmax的时候是直接取的索引，类别从0开始递增

[2021-07-26 01:25] #1175 closed, assigned to nepeplwu

[2021-07-26 01:35] sosan-nian commented on #1200
用的你们的demo，optic_disc_seg的数据集（视盘分割），裁剪和量化后模型预测都一样的错误

[2021-07-26 02:29] nepeplwu commented on #1205
@insoliang 感谢反馈，在paddleseg 2.0之后，统一通过`--save_dir`来指定模型保存路径以及vdl的日志保存路径，详细的使用文档可以参考[使用教程](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/quick_start.md)。目前我们只保存了训练曲线的变化数据，后续会考虑加入网络结构，样本数据记录等功能，

[2021-07-26 02:33] nepeplwu commented on #1204
@836469383 感谢反馈，该问题已经在最新代码中修复，请更新到最新分支使用 - release/2.2

[2021-07-26 03:56] insoliang commented on #1205
原来如此，感谢回复呀！

[2021-07-26 09:35] luosiwu commented on #407
你的文件名包含空格

[2021-07-26 13:46] chenjw1009 commented on #1001
@cloudsurging 这个问题你解决了吗

[2021-07-26 13:50] chenjw1009 opened #1207 "val_dataset crop error"
val_dataset:
mode: val
type: Dataset
dataset_root: data/woven_bag
val_path: data/woven_bag/val_list.txt
num_classes: 2
transforms:
- type: RandomPaddingCrop
crop_size: [2048, 1024]
- type: Normalize

File "d:\PaddleSeg\paddleseg\utils\metrics.py", line 40, in calculate_area
raise ValueError('Shape of pred and label should be equal, ' ValueError: Shape of predandlabel should be equal, but there are

[2021-07-27 02:45] #1162 closed, assigned to LutaoChu

[2021-07-27 03:53] cloudsurging commented on #1001
没有解决

[2021-07-27 09:32] chenjw1009 commented on #1001
@cloudsurging
    问题大概在这，没有对“test” and "val"数据集的lable 数据transform
    def __getitem__(self, idx):
        image_path, label_path = self.file_list[idx]
        if self.mode == 'test':
            im, _ = self.transforms(im=image_path)
            im = im[np.newaxis, ...]
            return im, image_path
        elif self.mode == 'val':
            im, _ = self.transforms(im=image_path)

[2021-07-27 11:52] cloudsurging commented on #1001
对，就是这个问题，就是这个transform，能否有完整项目示例，我不知道你贴的这个函数加在什么地方。

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年7月27日(周二) 下午5:32
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 训练自己数据时验证集出错了 (#1001)

@cloudsurging
 问题大概在这，没有对“test” and "val"数据集的lable 数据transform
 def getitem(self, idx):
 image_path, label_path = self.file_list[idx]
 if self.mode == 'test':
 im, _ = self.tran

[2021-07-27 12:41] wuyefeilin commented on #1001
正常验证时不会进行RandomPaddingCrop

[2021-07-27 16:12] lxk767363331 opened #1209 "关于文档没有显示内容"
![image](https://user-images.githubusercontent.com/38516795/127189286-90ca8f6d-51f2-4a63-bcb6-788463e1661c.png)
请问图中说的如下结构是什么结构，没有看到具体的结构图

[2021-07-28 01:59] haoyuying commented on #1207
您好，在val的时候是不能进行crop的，需要把RandomPaddingCrop去掉。

[2021-07-28 02:01] haoyuying commented on #1209
您好，请将具体的链接发送给我们，帮助我们更好的定位问题。

[2021-07-28 02:14] lxk767363331 commented on #1209
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/quick_start.md

[2021-07-28 02:16] haoyuying commented on #1209
收到，我们会尽快更新，感谢您的帮助。

[2021-07-28 12:43] 928776539 opened #1211 "danet"
请问一下,在PaddleSeg/paddleseg/models/danet.py中danet中的
class DANet(nn.Layer):
    """
    The DANet implementation based on PaddlePaddle.

    The original article refers to
    Fu, jun, et al. "Dual Attention Network for Scene Segmentation"
    (https://arxiv.org/pdf/1809.02983.pdf)

    Args:
        num_classes (int): The unique number of target classes.
        backbone (Paddle.nn.Layer): A backbon

[2021-07-28 14:00] #1204 closed, assigned to nepeplwu

[2021-07-29 01:45] haoyuying commented on #1211
就是接到head的feature从第几个stage里面抽出来的意思。比如[2,3]就是从resnet的倒数第一个和倒数第二个stage中提取feature用于接下来的计算。

[2021-07-29 03:13] 928776539 commented on #1211
谢谢

[2021-07-29 07:10] Apokar commented on #919
我也一样 全是红的 感觉是训练集没弄对吗 还在摸索中

[2021-07-29 07:31] Apokar opened #1213 "help! 使用自定义数据集训练成功,但predict结果为全红的图片"
### 感谢paddle团队的工作!辛苦啦

### **配置文件(根据bisenet_optic_disc_512x512_1k.yml修改):**

**_bisenet_new_camvid_512x512_1k.yml_**

**训练的图片我贴上一对吧**

原数据
![0016E5_08139](https://user-images.githubusercontent.com/25199579/127449425-c923eb90-663b-472b-b521-db5806df0a9c.jpg)

标注数据
![0016E5_08139_L](https://user-images.githubusercontent.com/25199579/127449414-4911ec38-e03f-4abc-862b-15696753d2bc.png)

标注数据全都已转换为单通道灰

[2021-07-29 07:50] Apokar commented on #1213
发现一个错误 我去验证下 先关闭问题吧

[2021-07-29 07:50] #1213 closed, assigned to nobody

[2021-07-29 08:28] Apokar commented on #1213
是我自己的问题哈哈  paddle还是一如既往的强悍啊

[2021-07-29 09:59] zhaotun commented on #1171
在导出的yaml中加了resize后，输出的图片好像都会变成512*512，那怎么跟原图对应起来，原图尺寸可能是任意尺寸的

[2021-07-29 10:42] insoliang opened #1214 "有关unet的问题"
您好，我想请问下为什么相同的数据，使用paddleseg内的基础unet网络和在github上找的其他人搭建的unet比，训练的时间会比较慢呢？
paddleseg的unet，是作者提出的最原始的unet吗？还是对网络做了一些其他的修改与改进呢？

[2021-07-30 01:50] zhaotun commented on #1171
请问 train_dataset、val_dataset、export 三部分的 transforms 要保持一致吗，如果在 export 中设置了 target_size:[512,512]的话，是不是最后预测的结果图的尺寸会统一变成512*512，但这有可能与原图不一致，因为原图的尺寸是任意的，这样一来怎么将512大小的结果图片中的标签和原图对应起来呢，如果想让输出的结果图片尺寸始终和原图保持一致，应该怎么设置呢，谢谢！

[2021-07-30 02:14] wuyefeilin commented on #1214
具体慢多少呢， 另外你找的其他搭建的unet是哪一个？比较过两者的差别吗？

[2021-07-30 11:18] insoliang commented on #1214
感谢回复，我用的2080s，50个epoch，相同配置，paddleseg大概需要一晚上，另找的unet就是最原始的unet网络，大概训练30分钟就结束了，所以想问下paddleseg是基于原始的unet做了改进麻？

[2021-07-30 11:47] insoliang commented on #1214
我用其他的代码在相同的epoch和batchsize下训练的模型虽然都比paddleseg快很多，但是最终的性能指标都不如paddleseg，想问一下您paddleseg是在训练的过程中加入了一些优化算法吗？如果是这样导致和其他网络的区别的话，我可以实现利用paddleseg训练最原生的网络吗（不加入任何其他优化算法）？目前我的工作是需要做一些对比实验，所以需要对比最原生的unet和fcn等网络，谢谢！

[2021-07-31 06:56] conlaysmile commented on #1174
您好，我也碰到同样的问题了，想请问下是怎么解决的？

[2021-07-31 10:56] 836469383 opened #1216 "训练一半中断"
- ubuntu 18.04
- CUDA11.1
- python=3.7
- run code `CUDA_VISIBLE_DEVICES=0,1 python -m paddle.distributed.launch train.py --config configs/panoptic_deeplab/panoptic_deeplab_resnet50_os32_cityscapes_1025x513_bs8_90k_lr00005.yml --do_eval --use_vdl  --save_interval 5000  --save_dir output`
- report error:
![image](https://user-images.githubusercontent.com/32611043/127737544-f2d0b2ba-192d-4c3c-9110-7b

[2021-08-02 08:15] sddnuaa commented on #1174
打开deepsup和CSM后，需要根据输入情况配置loss个数 @conlaysmile

[2021-08-02 09:56] insoliang commented on #1214
您好，您还在吗？

[2021-08-02 11:47] LutaoChu commented on #1216
你好，报错信息看有各种可能，例如数据集有脏数据。有没有python stack的报错呢？

[2021-08-02 11:53] #1211 closed, assigned to haoyuying

[2021-08-02 12:22] 836469383 commented on #1216
您好，感谢您的回复。
这个应该是分布式训练的问题，使用单卡的话训练是没有问题的。 报错的就贴图这些了。

[2021-08-02 12:33] LutaoChu commented on #1171
train_dataset、val_dataset、export 三部分的 transforms 不一定要保持一致。
如果想让输出的结果图片尺寸始终和原图保持一致，就不需要对图片做修改，不用设置transforms了。transforms是对图片进行变换才要用到

[2021-08-03 02:21] LutaoChu commented on #1216
出错的是rank 1，可以打开workerlog.1看一看

[2021-08-03 02:29] 836469383 commented on #1216
![image](https://user-images.githubusercontent.com/32611043/127947884-76aedbcc-4611-40a2-a451-246e5877c914.png)
我猜是nccl2 安装有问题 打扰啦哈，我自己再看看吧

[2021-08-03 05:34] lmmir commented on #932
3060显卡？ 3060 要用cuda11 以上版本 用10.2 会出现你描述的情况 我之前遇到过

[2021-08-03 08:22] Zenobia7 opened #1221 "关于PaddleSeg-Matting和AutoNUE开源问题"
您好，想问一下PaddleSeg-Matting是否开源了，我在PaddleSeg项目下没有找到相关的代码，然后想问一下AutoNUE模型文件什么时候开源啊？谢谢了

[2021-08-04 00:14] XingYZhu opened #1222 "关于版本不同造成miou产生较大差别的问题"
我在使用paddleseg2.2的一台电脑上训练了一个unet模型，经过验证后两个类别的iou分别是0.8366和0.5553，但是我把在paddleseg2.2版本上训练好的unet模型直接拷贝到另一台paddleseg2.1的机器上使用val.py在相同的数据集上验证时发现iou分别是0.7148和0.4573。可以发现miou大约低了百分之10左右
我还尝试在另一台paddleseg2.1的机器上用相同的参数和训练集训练unet时发现iou也会比paddleseg2.2的要低很多，想问一下这个是由什么原因导致的呢？
希望可以收到您的回复，感谢！

[2021-08-04 03:05] wuyefeilin commented on #1214
你看一下图象输入的尺寸是否一致

[2021-08-04 03:06] michaelowenliu commented on #1221
@15122901359 Hi, thanks for your attention. PaddleSeg-Matting will be released soon. The AutoNUE solution has been released already.

[2021-08-04 03:08] michaelowenliu commented on #1222
@XYCHUH Hi, did you try the evaluation using paddleseg2.2?

[2021-08-04 03:17] XingYZhu commented on #1222
@ michaelowenliu yes, i did it's far higher than paddleseg2.1

[2021-08-04 06:34] HaitaoWuTJU opened #1223 "batch size 只能为1"
batch size 只能为1的情况下，在paddle seg里可以使用什么方法来提高batch？

[2021-08-04 07:38] insoliang commented on #1214
我统一resize成256*256了，
这是我的config文件

batch_size: 4
iters: 50000

optimizer:
  type: sgd
  momentum: 0.9
  weight_decay: 4.0e-5

train_dataset:
  type: Dataset
  dataset_root: data/dataset 8.2/all
  train_path: data/dataset 8.2/all/train_list.txt
  num_classes: 3
  transforms:
    - type: Resize
      target_size: [256, 256]
    - type: Normalize
  mode: train

val_dataset:
  type: Dataset
  dataset_r

[2021-08-04 11:55] michaelowenliu commented on #1223
@Dylan-get Hi, could you provide an example?

[2021-08-05 02:11] Jinya90 opened #1226 "export 导出报错"
python export.py \
       --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml \
       --model_path output/iter_1000/model.pdparams

报错提示：AttributeError: 'Assign' object has no attribute 'type_comment'
用的版本是2.1的

[2021-08-05 02:43] wuyefeilin commented on #1226
更新到2.2试一下哈

[2021-08-05 02:45] Jinya90 commented on #1226
更新到2.2之后也会报一样的错误，有没有可能和python的版本有关，我这边用的python3.7

[2021-08-05 03:15] Jinya90 opened #1227 "现在PaddleSeg模型C++部署的链接无法访问"
想学习下C++部署的方法，提供的链接失效了。

[2021-08-05 04:00] michaelowenliu commented on #1227
@Jinya90 Hi, sorry for that. Please check it again.

[2021-08-05 07:54] wuyefeilin commented on #1226
我这边用python3.7没有复现你的错误，请问你用的windows系统吗？ 另外详细的报错信息给一下哈

[2021-08-05 08:16] wuyefeilin commented on #1222
我这边利用相同的模型参数在2.2和2.1上得到的测试结果试相同的，请问你修改过代码吗

[2021-08-05 08:18] Jinya90 commented on #1226
目前解决了，是gast版本问题，改为0.3.3就可以了

[2021-08-05 08:50] #1226 closed, assigned to wuyefeilin

[2021-08-06 02:16] fanweiya opened #1231 "EISeg 可以支持自定义的模型吗"
我做的生物场景，使用通用场景的模型效果不是很好，EISeg 可以支持用飞桨训练的自定义模型吗？

[2021-08-06 03:25] nepeplwu commented on #1231
@fanweiya 目前只支持固定结构的模型，后续会支持选择自定义模型。

[2021-08-06 03:26] nepeplwu commented on #1231
请问下你的场景是什么场景呢？你训练的是什么模型？

[2021-08-06 03:35] fanweiya commented on #1231
细胞分割，UNet

[2021-08-06 03:40] nepeplwu commented on #1231
你训练的不是交互式分割模型吧？而是普通的语义分割模型？

[2021-08-06 03:41] fanweiya commented on #1231
是的

[2021-08-06 03:42] nepeplwu commented on #1231
那是不行的，哪怕EISeg支持自定义模型了也不行，必须是交互式分割模型

[2021-08-06 03:44] fanweiya commented on #1231
飞桨有可以训练的交互式分割模型吗？

[2021-08-06 06:04] nepeplwu commented on #1231
有的，但是目前暂时还没开源，代码还在整理中

[2021-08-06 06:10] fanweiya commented on #1231
好的，期待尽快开源

[2021-08-06 06:10] #1231 closed, assigned to nepeplwu

[2021-08-06 09:21] terrancraft opened #1235 "请问模型裁减之后的sen.pickle文件如何打开"

[2021-08-07 13:14] yuemengrui opened #1238 "deeplabv3p loss问题"
loss:
  types:
    - type: CrossEntropyLoss
    - type: CrossEntropyLoss
  coef: [0.4, 1]

为什么这样的loss配置会报错？报错如下：
Traceback (most recent call last):
  File "train.py", line 191, in <module>
    main(args)
  File "train.py", line 186, in main
    fp16=args.fp16)
  File "/home/aistudio/My_PaddleSeg/paddleseg/core/train.py", line 185, in train
    edges=edges)
  File "/home/aistudio/My_PaddleSeg/paddl

[2021-08-09 00:36] Jinya90 commented on #1227
链接又失效了，麻烦更新下，谢谢。

[2021-08-09 02:19] nepeplwu commented on #1238
@yuemengrui ，你所贴出来的这种写法只有当模型有两个输出时才适用，可以使用下面的方式来设置混合Loss
[code]

可以自行根据任务选择合适的Loss进行组合，如果是想使用两个CrossEntropy的话，这样是设置并没有意义，因为两个CrossEntropy监督的都是同个输出，最终的结果等同于

[code]

[2021-08-09 02:20] nepeplwu commented on #1235
@terrancraft `sen.pickle`文件主要是用于保存敏感度计算的一些结果，裁剪完成后，该文件并无作用，无需关注

[2021-08-09 08:21] yuemengrui opened #1239 "deeplabv3p export 错误"
报错如下：
Traceback (most recent call last):
  File "export_1.py", line 135, in <module>
    main(args)
  File "export_1.py", line 114, in main
    paddle.jit.save(new_net, save_path)
  File "<decorator-gen-67>", line 2, in save
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)

[2021-08-09 09:00] #1238 closed, assigned to nepeplwu

[2021-08-09 11:21] nepeplwu commented on #1239
@yuemengrui 你的paddle版本和paddleseg版本分别是多少呢？

[2021-08-09 11:24] yuemengrui commented on #1239
paddlepaddle-gpu       2.1.0.post101

paddleseg是直接clone PaddleSeg本仓库的

我之前的deeplabv3p是可以成功导出的，我之前用的paddleseg是在这个提交之前的版本
![image](https://user-images.githubusercontent.com/24349763/128699492-3eab7b75-50eb-4f8f-b171-a66ee702d383.png)
在这个提交之后的export有错误

[2021-08-09 12:42] nepeplwu commented on #1239
@yuemengrui 试试更新到最新代码，最新代码中已经修复过了

[2021-08-09 13:13] fangchuan opened #1243 "paadleseg的docker镜像在自定义数据集上运行train.py出现 Cudnn error, CUDNN_STATUS_EXECUTION_FAILED"
paddlepaddle: 自编译， release/2.1 分支
编译环境: docker: latest-gpu-cuda10.1-cudnn7-gcc82-dev
本机环境: Ubuntu18.04   Driver Version: 418.181.07   CUDA Version: 10.1, 无法找到cudnn版本信息; GPU显存11G

完成paddlepaddle编译后, 正常安装paddleseg.
1. 运行教程[模型训练示例](https://paddleseg.readthedocs.io/zh_CN/release-2.1/train/train.html#id1) , 正常运行结束:

platform: Linux-4.15.0-153-generic-x86_64-with-debian-stretch-sid
Python: 3.7.0 (defaul

[2021-08-10 02:01] yuemengrui commented on #1239
最新的代码可以正确导出， 谢谢！

[2021-08-10 02:01] #1239 closed, assigned to nepeplwu

[2021-08-10 02:44] wuyefeilin commented on #1214
两者的图象输入都是[256, 256]吗？ 另外你可以增大--num_workers减少数据读取的时间

[2021-08-10 02:44] wuyefeilin commented on #1214
两者的图象输入都是[256, 256]吗？ 另外你可以增大--num_workers减少数据读取的时间

[2021-08-10 09:31] terrancraft commented on #1235
那请问我如何根据模型每层的敏感度分析结果，画一个敏感性分析的折线图

[2021-08-11 02:48] nepeplwu commented on #1243
@fangchuan 你的数据集标注是否是正确的？label应该是单通道的png，每个pixel的值位于[0 ~ num_class)之间

[2021-08-11 05:56] Peng-ss commented on #1213
你好，我也遇到同样的问题，你是如何解决的？

[2021-08-11 07:56] wanghaoshuang commented on #1235
可以使用这个接口加载敏感度信息：
https://paddleslim.readthedocs.io/zh_CN/latest/api_cn/static/prune/prune_api.html#load-sensitivities

[2021-08-12 01:45] fangchuan commented on #1243
谢谢指正, 正是这个问题, 已解决

[2021-08-12 01:45] #1243 closed, assigned to nepeplwu

[2021-08-13 12:49] stuartchen1949 opened #1248 "【论文复现】paddleseg内置citiscapes数据集标签问题。已经star了，无法加群。"
paddleseg内置citiscapes数据集标签问题
我现在需要使用camvid11类数据集测试，想要使用内置citiscapes训练，可是内置citiscapes类别是19，
这19个类别分别是什么呢？
我这个需求怎么操作呢？
谢谢！

[2021-08-16 02:19] nepeplwu commented on #1248
@stuartchen1949 不太理解你的问题，为什么会想要在cityscapes上测试，在camvid11上测试呢？

[2021-08-16 02:56] oruchimaru420 opened #1249 "EISeg加载模型参数时宕机"
我用conda创建虚拟环境，然后通过pip安装的EISeg
当启动EIseg，在加载模型参数这一步出现了问题，每次都到这就会宕机。
cmd显示信息如下：
Please NOTE: device: 0, GPU Compute Capability: 3.6, Deriver API Version: 11.1 Runtime API Version: 10.2
Note: [Recommond] copy cudnn into CUDA installation directory.
You should do this according to your CUDA installation directory and CUDNN version,
可是我照着做了以后，还是发生这个问题，请问该如何解决？

[2021-08-16 04:10] terrancraft commented on #1235
3Q

[2021-08-16 04:15] terrancraft opened #1250 "u2net加载config文件之后会显示gnu错误"
![Screenshot from 2021-08-16 11-29-32](https://user-images.githubusercontent.com/51820927/129510516-d3411452-e095-4566-b16f-44317b948ab2.png)
如图，我用其他模型如faster-scnn和ocrnet去训练都没有这个错误。

唯独u2net不行，config文件解析应该是成功了，因为可以打印model和trainset。
找不到错误原因，
望解答 谢谢～

[2021-08-16 06:06] pureloveljc opened #1251 "deeplab3p backbone使用MobileNetV3_large_x1_0 训练 ， export模型失败"
_base_: '../_base_/cityscapes.yml'

batch_size: 2
iters: 8000
model:
  type: DeepLabV3P
  backbone:
    type: MobileNetV3_large_x1_0
    output_stride: 32
h/MobileNetV3_large_x1_0.tar.gz
  num_classes: 2
  backbone_indices: [0, 3]
  aspp_ratios: [1, 12, 24, 36]
  aspp_out_channels: 256
  align_corners: False
  pretrained: null

lr_scheduler:
  type: PolynomialDecay
  learning_rate: 0.02
  end_lr:

[2021-08-16 07:15] lfxx opened #1252 "iou计算的问题"
https://github.com/PaddlePaddle/PaddleSeg/blob/9dca3f3f489b5fe4cb83afcbaf09f08c331716a6/paddleseg/utils/metrics.py#L93-L96
您好，有两个问题：
1.这里的 if union[i] == 0:分支什么时候会走呢，理论上来说不会出现并集是0的时候吧，就算没分割出这个类别，这个类别的GT面积也不会是0，这种情况交集=0不就覆盖了?
2.想知道ignore_index这个参数是为什么场景准备的呢

[2021-08-16 12:48] nepeplwu commented on #1251
@pureloveljc 感谢反馈，我们跟进下这个问题

[2021-08-16 12:48] nepeplwu commented on #1250
@terrancraft 麻烦贴下训练命令

[2021-08-16 12:52] haoyuying commented on #1249
看起来是cudnn和cuda版本不匹配的原因呀，具体的cuda，cudnn, paddlepaddle-gpu的版本是什么呢，能否正常使用paddle？

[2021-08-16 12:54] wuyefeilin commented on #1252
1. 这个是有可能出现的哈，比如你计算一张图片的miou，可能只有其中几个类别。
2. ignorx_index是用于表明忽略区域的，不参与计算。 以cityscapes数据集为例，其图象底部固定为车头区域，没有训练意义，通过把它标注为ignore_index进行忽略。

[2021-08-16 23:48] oruchimaru420 commented on #1249
cuda==11.1 cudnn==11.1 paddlepaddle-gpu==2.1.1
目前只试了EISeg paddle还没有试

[2021-08-17 01:52] mengmeng716 commented on #1231
期待开源EISeg自训练模型

[2021-08-17 02:04] lfxx commented on #1252
1.您好，还是有些迷惑，union的计算公式是这样的：
[code]
如果说某个类完全没分割出来，它的pred_area是0，interact_area是0，但是label_area不是0啊，union不可能会存在0的情况。这样情况的直接用intersect_area不就可以覆盖了吗

[2021-08-17 02:05] pureloveljc opened #1255 "deeplabv3p backbone 是mobilenet , cpu和gpu 跑出来 模型效果（精度）不一样 ，这是什么原因？"

[2021-08-17 03:39] wuyefeilin commented on #1252
@lfxx 对于整个数据集来说一般所有label都存在像素数，但是如果你只想求其中某一张图片的iou，这时候有些类别的label_area就会为0了

[2021-08-17 04:48] juncaipeng commented on #1251
@pureloveljc  请问你使用paddle哪个版本，使用paddleseg哪个branch？

目前我使用develop版本的paddle，2.2分支的paddleseg，修改两个api错误（参考[pr](https://github.com/PaddlePaddle/PaddleSeg/pull/1256)）后，可以使用deeplabv3p_mobilenetv3_large_x1_0进行两分类的训练和导出。config如下：
[code]

从你的log中可以看出是输入interpolate的输入size错误，具体代码是[链接](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/paddleseg/models/deeplab.py#L300)，你可以在这个文件中输出多个tensor的shape看看，比如[fe

[2021-08-17 09:39] wuyefeilin commented on #1255
麻烦展示一下具体的差异

[2021-08-18 02:26] haoyuying commented on #1249
可以试下paddle是否能正常使用，如果能，请给出完整的报错信息，方便我们排查原因。cudnn版本查错了吗，用这个查下cat /usr/include/cudnn.h | grep CUDNN_MAJOR -A 2

[2021-08-18 02:35] oruchimaru420 commented on #1249
感谢答复，通过将paddlepaddle的版本修改为2.1.2.post110，问题已解决

[2021-08-18 03:29] bomb944588 commented on #1071
咋整

[2021-08-18 06:18] terrancraft commented on #1250
python -m paddle.distributed.launch train.py --config configs/u2netp_tiepi_480x300_160k.yml --do_eval --use_vdl --save_interval 500 --save_dir output

[2021-08-18 07:25] liyongchao911 opened #1258 "use tools/labelme2seg get error: tuple index out of range"
Use labelme make the json annotation and save the json file in the same directory with the JPEG file, then use the run labelme2seg.py file, want to get the png for training, but got a error: tuple index out of range!
detail info see below:
------------------------------------------
Saved class_names: Test/test_json/class_names.txt
Generating dataset from: Test/test_json/AEYTp.json
Traceback (most

[2021-08-18 09:02] ydhongHIT opened #1261 "The inference speed of SFNet"
Why is the inference speed much faster than the original paper? In the paper, the authors use R18 and FPS is 26 with tensorRT. You use R50 while the FPS is about 35. Do you use the tensorRT?

[2021-08-19 02:49] haoyuying commented on #1258
您好，您的图片要使用三通道的图片，请您在这个地方的前一行打印下img_size，看看是不是个三维的list

[2021-08-19 02:51] haoyuying commented on #1261
paddle自身有一些加速算法，如果训练的结果中含有的0比较多，会提升预测的速度。请问R50时FPS35在什么环境下测出来的，怎么测试的呢？

[2021-08-19 02:58] ydhongHIT commented on #1261
你们图里画的啊，有一个FPS与精度的图。

[2021-08-19 02:59] ydhongHIT commented on #1261
你们图里画的啊，有一个FPS与精度的图。

[2021-08-19 03:40] haoyuying commented on #1261
您好，我们图上测试的是r18做backbone的结果，文档有点问题，已经快马加鞭的改了。我们在计算fps时候使用了paddle.inference,将动态图转化成了静态图模型，能有效的提升计算效率，欢迎使用https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/deploy/python/infer.py进行体验。

[2021-08-20 01:51] 534114658 opened #1264 "SFnet 训练到中途报错"
SFnet  训练到中途报错

报错内容如下：

2021-08-19 19:12:33 [INFO]      [TRAIN] epoch: 166, iter: 16350/20000, loss: 0.0527, lr: 0.002164, batch_cost: 0.7536, reader_cost: 0.28205, ips: 21.2319 samples/sec | ETA 00:45:50
2021-08-19 19:12:41 [INFO]      [TRAIN] epoch: 166, iter: 16360/20000, loss: 0.0464, lr: 0.002159, batch_cost: 0.7421, reader_cost: 0.28185, ips: 21.5600 samples/sec | ETA 00:45:01
WARNING:root:

[2021-08-20 04:25] yang20085936 opened #1265 "报错：The specified component was not found xxx"
1、完全按照示例中optic_disc_seg组织的数据，原始图像为jpg，标签图像为png，还有每行一个样本的train_list,val_list和test_list。对应修改之后运行，报错如上。
2、按照示例：“https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.1/configs”中，只有dataset_root,没有train_path 和val_path,这样子的yml可以训练么？框架怎样去找到数据？
3、api应用案例中，“https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/api_example.md”，构建训练集和验证集的dataset_root都是只到了'data/optic_disc_seg'，也没有train_path 和val_

[2021-08-21 03:28] LutaoChu commented on #1264
看报错信息是训练过程内存不够了，可以缩小batch size试试

[2021-08-21 03:40] LutaoChu commented on #1265
1 说明找不到某些模块，可以把具体报错信息贴出来
2 可以的，有些数据集的train_path,val_path在dataset类中已经定义好了，比如指定在dataset_root下寻找train.txt
3 看下源码就很清楚了 https://github.com/PaddlePaddle/PaddleSeg/blob/3de62e37741deb053c5885dd60ddf99f130375e7/paddleseg/datasets/optic_disc_seg.py#L78
除了dataset，你还想知道哪些api应用案例呢

[2021-08-21 06:33] nba20416 opened #1266 "配置问题，模型加载完，就卡住不动了。"
尝试过的方法，重新安装paddlepaddle，重新安装paddleseg，用print大法也没找到。
`又找了个简单的模型，也是卡在开头的读取中。我现在竟然找不到原因在哪里了。`
![F R141 ~L9%CBOYC R2C_V9](https://user-images.githubusercontent.com/60060273/130312943-5aafc581-3f3c-4d64-b6c7-a3bb7781a837.jpg)

[2021-08-22 10:26] AKMourato opened #1267 "Error on evaluation [The dtype of left and right variables are not the same]"
Greetings, I'm getting an error in evaluation phase which prevents from calculating the metrics.
[code]

The environment:
[code]
Is this related to the cuDNN incompatibility?

[2021-08-22 10:57] AKMourato commented on #1267
The **\_impl\_** function inside **\_binary_creator\_** in **math\_op\_patch.py**  is converting from boolean to numerical type in the evaluation, probably from Pe == True, therefore == 1 and then the division degenerate for the calculation of kappa coefficient.
Any solution?

[2021-08-22 23:54] #1249 closed, assigned to haoyuying

[2021-08-23 02:11] ximitiejiang opened #1271 "数据集分割脚本split_dataset_list.py"
在看https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/data/marker/marker_cn.md的介绍时，提到对数据集做分割有个脚本：
[code]
但在tools文件夹里边没找到这个脚本，请问下哪里可以找到这个文件？

[2021-08-23 02:55] juncaipeng commented on #1267
From the log information, we can know all pixels are predicted as class 0,  which means the mode has problem.

![image](https://user-images.githubusercontent.com/52520497/130383293-1f0fb304-8bcc-4fdf-97c6-322b81480360.png)

As for the kappa == nan, you can print the intersect_area, pred_area, label_area and total_area in https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/paddleseg/utils/me

[2021-08-23 02:59] juncaipeng commented on #1271
这个文件在develop分支上，不在release/2.2分支上

https://github.com/PaddlePaddle/PaddleSeg/blob/develop/tools/split_dataset_list.py

[2021-08-23 03:02] juncaipeng commented on #1266
请问是否按照[文档](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/install.md)中的方法安装，测试最终安装成功？
比如这个[示例](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/quick_start_cn.md)是否可以跑通？

训练过程是从train.py文件进入，建议可以多处使用print大法，一步步调试下~~~

[2021-08-23 03:38] ximitiejiang commented on #1271
额，好吧。刚从paddleX上面找了个类似的改了改用。
谢谢啦！

[2021-08-23 03:38] #1271 closed, assigned to nobody

[2021-08-23 05:41] nba20416 commented on #1266
应该是环境的问题，我换了一个小paddle模型，多处打印大法，应该是初始化数据没有加载导致的。但是确定不了是哪块出的问题。

[2021-08-23 06:14] juncaipeng commented on #1266
是训练数据读取部分吗？  这个数据数据可以先提前下载，如果不提前下载，需要在线下载，有一个进度条。

![image](https://user-images.githubusercontent.com/52520497/130399213-09c45630-5436-4574-b2d4-d6e85322996b.png)

[2021-08-23 06:50] nba20416 commented on #1266
不是的，数据集我从本地上传好了的。
正常开始训练是这样的，
![1629701133(1)](https://user-images.githubusercontent.com/60060273/130402755-52d8ac19-d1d4-451a-b424-5bcbd87677dd.jpg)
但是我的服务器上面就不走，只是加载好模型的基础数据后，就卡住了。见下图:
![F R141 ~L9%CBOYC R2C_V9](https://user-images.githubusercontent.com/60060273/130402862-e3ee6373-78df-489a-b086-c35c421b1c7e.jpg)
我把paddlepaddle和paddleseg都更新了一遍，代码也重新下载上传了一次。还是出现这个问题。不知道是卡在哪里了。关键是没有提示，我能猜到是环境的问题，但

[2021-08-23 08:06] ximitiejiang opened #1275 "关于伪彩图和背景像素"
请教个关于背景颜色和伪彩图的问题：
通常背景像素默认为0，对应到paddleseg里边的伪彩图颜色应该是[128,0,0]，但我看到paddleseg用来做例子的数据集optic_disc_seg里边的伪彩图，背景的伪彩颜色为[0,0,0]也就是黑色，那么到底在paddleseg里边对背景像素是怎么认定的，[128,0,0]和[0,0,0]都是背景伪彩色吗？没有匹配正确的背景色会不会导致训练错误？

[2021-08-23 08:40] ximitiejiang commented on #1275
单独跟踪到`dataset/__get_item__()`函数的tranform中，发现paddleseg用PIL.Image直接打开伪彩图，得到的居然就是单通道的label图，像素值就是标注的[0,1]。
想知道实现原理是什么，怎么不需要把伪彩色查表就可以直接得到label了？

[2021-08-23 09:41] ahnaf012 opened #1276 "variables of backbone and head are not in pretrained model"
I am using pretrained model of deeplabv3p for prediction without training. I downloaded the model from url specified in deeplabv3p_resnet50_os8_voc12aug_512x512_40k.yml file. However, when I run the predict.py function with model_path as the model.pdparams of downloaded pretrained model I keep getting messages like `[WARNING]   backbone.bb_0_0.conv1._conv.weight is not in pretrained model` until I

[2021-08-23 11:54] juncaipeng commented on #1275
伪彩色只是显示罢了，optic_disc_seg里边的伪彩图是有自己的伪彩色表，任何图片都可以使用不同的伪彩色表。
训练的时候，只使用图像像素数值即可。

[2021-08-23 12:00] juncaipeng commented on #1276
First, you should download the pretrained params from https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/configs/deeplabv3p
![image](https://user-images.githubusercontent.com/52520497/130443178-8a6f81ba-0e90-41e9-8727-28ef60b91c49.png)

Then, set the path the in deeplabv3p_resnet50_os8_voc12aug_512x512_40k.yml
![image](https://user-images.githubusercontent.com/52520497/130443282-150ee3cc-0

[2021-08-23 13:28] ahnaf012 commented on #1276
Thanks. It works now after following your comment @juncaipeng

[2021-08-23 13:28] #1276 closed, assigned to juncaipeng

[2021-08-23 16:56] #1267 closed, assigned to juncaipeng

[2021-08-24 01:08] ximitiejiang commented on #1275
看了下paddleseg的灰度转伪彩代码，清楚了：
- color map可以使任意映射的数据(比如开始3个代表背景的，可以是[128,0,0], 也可以是[0,0,0])，得到的伪彩图也可以显示成任意色彩，但label_pil本质上的数据没有改变，用Image.open()打开后的内容都是一样的。

thanks!

[2021-08-24 01:08] #1275 closed, assigned to nobody

[2021-08-24 03:49] liuhuaguang opened #1278 "安装完成后用optic_disc_seg测试，在训练启动时卡住不动，也不报错"
1）PaddlePaddle版本：2.2
2）GPU：1080 ti， cuda 10.2，cudnn 7.6.5
3）系统环境：Windows 10 专业版19042.1165， python 3.9

运行nvcc -V：
C:\Users\HUAOPT>nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:32:27_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.2, V10.2.89

运行NVIDIA-SMI：
Tue Aug 24 10:59:35 2021
+-------------------------------------

[2021-08-24 03:53] liuhuaguang commented on #1278
详细过程数据如下：
************NUM_TRAINERS********** 1
{'AUG': {'AUG_METHOD': 'unpadding',
         'FIX_RESIZE_SIZE': (512, 512),
         'FLIP': False,
         'FLIP_RATIO': 0.5,
         'INF_RESIZE_VALUE': 500,
         'MAX_RESIZE_VALUE': 600,
         'MAX_SCALE_FACTOR': 2.0,
         'MIN_RESIZE_VALUE': 400,
         'MIN_SCALE_FACTOR': 0.5,
         'MIRROR': True,
         'RICH_CROP': {'ASPECT

[2021-08-24 15:35] AKMourato opened #1283 "Multi-gpu error"
Greetings. I cannot find a way to solve the supposed issue of NCCL for distributed training.
[code]
I've nccl installed, it runs properly in detectron2 and in openmmlab, but not here.
I've tried to add the library to the path variable but without success so far.
[code]
Any solution?

[2021-08-24 16:43] AKMourato opened #1284 "Strange behaviour in the memory allocation"
When configuring the ```_base_/cityscapes.yml``` for the use of unet, unet2 and unet3+ I've noticed that if the RandomPaddingCrop is not defined, cuda goes out of memory independently of the input size defined by the resize.
I'm working with 4k images, if the ComposeTransforms runs in the same order of the config file, the resize should be made first then the random crop:
[code]
I've tried with di

[2021-08-25 02:18] chenzhaoqiJM commented on #921
在window下标注产生的train.txt中文件路径为\，查找替换改成/就好了，我的是这样的

[2021-08-25 03:13] juncaipeng opened #1286 "save images"

[2021-08-25 03:13] #1286 closed, assigned to nobody

[2021-08-25 03:13] juncaipeng commented on #1286
![inference_ecosystem](https://user-images.githubusercontent.com/52520497/130720374-26947102-93ec-41e2-8207-38081dcc27aa.png)

[2021-08-25 03:32] michaelowenliu commented on #1284
@AKMourato Hi, ResizeStepScaling will scale the image from 0.5 to 2.0. That is why you should crop the image again.

[2021-08-25 06:48] wuyefeilin commented on #1278
看你的使用是老版本的教程，青参考如下教程在2.2分支上运行哈
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/quick_start_cn.md

[2021-08-25 08:02] qili93 commented on #1283
@AKMourato Please try the following alternatives:

1. set `FLAGS_nccl_dir` in your environment and softlink `libnccl.so.2.10.3` to `librccl.so`, then run your training script again

[code]

2. use official paddle docker image of CUDA 10.2
doc here: https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/en/install/docker/linux-docker.html

[code]

[2021-08-25 08:11] ding-Chen opened #1287 "对panoptic-deeplab进行训练时，遇到了Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:481"
请问，在训练panoptic-deeplab时，出现了以下错误：
‘’‘
Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:481 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lbl] == ignore_idx_` failed. The value of label[267] expected >= 0 and < 19, or == 255,but got 24. Please check input value.
Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:481 Assertion `labe

[2021-08-25 08:12] ding-Chen commented on #1287
详细配置参照github默认
‘’‘
batch_size: 8
iters: 90000
learning_rate:
  decay:
    end_lr: 0.0
    power: 0.9
    type: poly
  value: 5.0e-05
loss:
  coef:
  - 1
  - 200
  - 0.001
  types:
  - ignore_index: 255
    top_k_percent_pixels: 0.2
    type: CrossEntropyLoss
  - ignore_index: 255
    reduction: none
    type: MSELoss
  - ignore_index: 255
    reduction: none
    type: L1Loss
model:
  align_corners

[2021-08-25 08:13] ding-Chen commented on #1287
PaddlePaddle版本：2.0.2
请问是哪出现问题的呢

[2021-08-25 08:23] wuyefeilin commented on #1287
类别标签不对哈，需要按照如下教程对cityscapes进行处理
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/contrib/PanopticDeepLab#cityscapes-1

[2021-08-25 10:46] 965662766 opened #1288 "你好，我 在labelme 线类的标注的数据labelme2seg.py转化时报错： Polygon must have points more than 2 ，请问支持线标注的方式的训练吗？"
![image](https://user-images.githubusercontent.com/85744622/130777356-2d1f1efd-55a5-44f5-927b-e633f93f039f.png)

[2021-08-25 12:58] AKMourato commented on #1284
Thanks @michaelowenliu. What is the purpose of that btw?

[2021-08-25 13:45] michaelowenliu commented on #1284
@AKMourato like multi-scale training.

[2021-08-25 14:53] #1284 closed, assigned to michaelowenliu

[2021-08-26 02:21] #1264 closed, assigned to LutaoChu

[2021-08-26 02:22] 534114658 commented on #1264
好的

[2021-08-26 02:26] #1278 closed, assigned to wuyefeilin

[2021-08-26 02:47] haoyuying commented on #1288
您好，不支持线标注

[2021-08-26 03:21] nepeplwu commented on #1200
@sosan-nian ，预测的时候加上`--with_argmax`试试看

[2021-08-26 06:01] lt1946 opened #1292 "mac训练好的模型在ubuntu预测接口，区别太大，需要紧急修复！"
mac训练loss： 0.28， IoU,Acc: (基本都为9.8左右)
ubuntu训练loss： 0.28，但：IoU,Acc: 0. , 0.1 , 0. ....(基本都为0)
mac预测正常， 但：在ubuntu预测错误。
paddle,paddleseg版本一致，
git仓库也一致，
紧急修复，谢谢！！

[2021-08-26 06:47] janyChan opened #1294 "EISeg软件物体抠完图后背景如何设置成透明"
您好，我想请问一下，使用EISeg进行图像分割时，保存后的图像位png格式，并且我看到背景色可以选择。那么，我希望可以时透明背景，请问这里需要如何设置？还是说目前并不支持

[2021-08-26 07:33] Ultraopxt opened #1295 "FatalError: `Process abort signal` is detected by the operating system."
I cannot open EISeg on ubuntu 20.04 with the following problem:

Maximum number of clients reachedMaximum number of clients reachedqt.qpa.xcb: could not connect to display :0
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem

[2021-08-27 06:36] CamelKing1997 opened #1297 "使用自己的VOC数据报错，Cuda error(719), unspecified launch failure."
使用自建VOC格式布局数据集报错，使用公开数据集无问题
自建数据仅有1个NG标签

config file:

deeplabv3p_resnet50_os8_voc12_512x512_40k.yml：
_base_: '../custom/pascal_voc12.yml'
model:
  type: DeepLabV3P
  backbone:
    type: ResNet50_vd
    output_stride: 8
    multi_grid: [1, 2, 4]
    pretrained: https://bj.bcebos.com/paddleseg/dygraph/resnet50_vd_ssld_v2.tar.gz
  backbone_indices: [0, 3]
  aspp_ratios: [1, 12, 24, 36]
  aspp_out_c

[2021-08-27 14:31] huilin16 opened #1301 "请问PaddleSeg动态图是否支持多通道数据"
您好，我看到静态图的contrib中支持遥感影像的多通道数据，请问静态图中是否支持多通道数据呢

[2021-08-28 01:52] ding-Chen commented on #1287
您好，参照您的建议程序开始运行了，不过我还有一个小问题，当我使用--do_eval     @@@@的时候，output并没有产生best_model文件夹，这是什么原因呢？@wuyefeilin
![image](https://user-images.githubusercontent.com/85236372/131202524-1f657c36-d949-45d3-af00-86a58902059b.png)

[2021-08-28 01:55] ding-Chen commented on #1287
您好，参照您的建议，程序开始运行了，我还有一个小问题，当我使用do_eval的时候，output并没有产生best_model文件夹，这是因为什么呢？ @wuyefeilin
![微信截图_20210828095521](https://user-images.githubusercontent.com/85236372/131202619-21100f0b-8cf8-43e8-a6a9-53fad046b2e6.png)

[2021-08-29 00:44] huilin16 opened #1302 "学习率读取错误"
**问题：**
在使用OCRNet.yml，配置学习率调度器如下：
lr_scheduler:
  type: PolynomialDecay
  learning_rate: 0.01
  power: 0.9

**报错：**
Traceback (most recent call last):
  File "/home/aistudio/PaddleSeg/train.py", line 168, in <module>
    main(args)
  File "/home/aistudio/PaddleSeg/train.py", line 153, in main
    optimizer=cfg.optimizer,
  File "/home/aistudio/PaddleSeg/paddleseg/cvlibs/config.py", line 186, in op

[2021-08-30 01:10] skylning opened #1303 "遙感影像支持"
請問支持遙感影像標注不？

[2021-08-30 02:12] juncaipeng commented on #1292
loss计算没问题，应该不是paddle的错误。
估计是paddleseg的计算模块不对，具体可以说一下环境、使用seg的版本

[2021-08-30 02:16] juncaipeng commented on #1303
是说EISeg吗？遥感影像是几个通道的？

[2021-08-30 02:28] juncaipeng commented on #1302
请说一下2.2版本的commit id，我用最新的没有复现该问题。

[2021-08-30 02:55] juncaipeng commented on #1297
自建数据仅有1个NG标签，NG是什么意思？

voc数据集代码读取文件是[链接](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/paddleseg/datasets/voc.py)，你可以看下是否可以准确读取到你自建数据集的image_path和label_path

[2021-08-30 11:15] 2017398956 opened #1306 "Android demo 分割耗时100ms+不能用于视频通话"
测试机型：华为 mate30 pro 5G
PaddleSeg :Release 2.2
模型生成方式：
1.paddle_lite_opt --model_file=./model.pdmodel --param_file=./model.pdiparams --quant_model=true --quant_type=QUANT_INT8 --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=***

2.(有的后缀是这个 pdparams) paddle_lite_opt --model_file=./model.pdmodel --param_file=./model.pdiparams --quant_model=true --quant_type=QUANT_INT8 --valid_targe

[2021-08-30 16:10] qdd1234 opened #1307 "理论问题"
你好，我想问一下Mlaformer中的FCN aux head作用主要是什么，谢谢

[2021-08-31 00:40] skylning commented on #1303
一般都是RGB三个波段的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年8月30日(星期一) 上午10:16
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 遙感影像支持 (#1303)

是说EISeg吗？遥感影像是几个通道的？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the

[2021-08-31 01:54] juncaipeng commented on #1307
Mlaformer?  具体是哪篇论文？ 可以详细读一下论文原文。

[2021-08-31 02:03] juncaipeng commented on #1306
请问你是参考哪个文档中说的17ms，估计不同手机有些许差异。
人像分割，可以测试一下这个模型：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/contrib/PP-HumanSeg#%E5%8D%8A%E8%BA%AB%E5%83%8F%E5%88%86%E5%89%B2portrait-segmentation

[2021-08-31 02:03] juncaipeng commented on #1303
EISeg中的通用模型不支持遥感图像，分割出来的效果不好

[2021-08-31 06:48] 2017398956 commented on #1306
我是看的这个 https://baidudanao.blog.csdn.net/article/details/106846331 。
![image](https://user-images.githubusercontent.com/12185078/131455546-76495575-9418-418d-b4dd-4b988fa86811.png)

试了下上面你给的新模型 （export_model/ppseg_lite_portrait_398x224_with_softmax 和 shufflenetv2_humanseg_192x192_with_softmax）还是 100ms+ 。
[这是我通过上面的命令生成的模型](https://github.com/PaddlePaddle/PaddleSeg/files/7081779/model.zip)
demo中替换一张图

[2021-08-31 06:53] juncaipeng commented on #1286
![out_img](https://user-images.githubusercontent.com/52520497/131456277-260352b5-4047-46d5-a38f-c50bbcfb6fd0.jpg)

[2021-09-01 02:19] pureloveljc opened #1309 "剪枝现在不支持deeplabev3 resnet50 吗？ValueError: cannot reshape array of size 48 into shape (304,newaxis)"
剪枝现在不支持deeplabev3 resnet50 吗？ValueError: cannot reshape array of size 48 into shape (304,newaxis)

[2021-09-01 05:49] mingo-doer opened #1311 "deeplabv3p backbone 是resnet50 , cpu和gpu 跑出来 模型效果（精度）不一样 ，这是什么原因？"
背景：卡证的分割
GPU效果：
![image](https://user-images.githubusercontent.com/28819717/131618735-dcff0370-0666-4ebd-ac7d-9504471cf2cb.png)
CPU 效果：
![image](https://user-images.githubusercontent.com/28819717/131618747-ccc73699-1b19-446c-9f54-6ef85e1f51c0.png)
可以解释一下这是为什么吗

[2021-09-01 06:27] LutaoChu commented on #1301
你好，动态图暂不支持多通道。不过关键在于数据读取、数据预处理和网络第一层支持多通道即可。这部分你可以参照静态图中的相关实现

[2021-09-01 06:27] haoyuying commented on #1295
xcb问题在新版的eiseg已经解决，请尝试安装0.3.0版本的eiseg进行体验。

[2021-09-01 06:31] haoyuying commented on #1294
目前不支持透明背景，我们会考虑您的建议，在日后扩充该功能

[2021-09-01 06:31] michaelowenliu commented on #1311
@mingo-doer Hi, could you help us reproduce it? e.g. the trained-weights, and a few instructions. Thanks.

[2021-09-01 06:33] michaelowenliu commented on #1309
@pureloveljc Hi, please put the detailed error log info?

[2021-09-01 07:56] mingo-doer commented on #1311
Hi, I used  the config file 'deeplabv3p_resnet50_os8_voc12aug_512x512_40k.yml' to train the model.

I can send  trained model via email to reproduce this problem, if you need.

[2021-09-01 08:01] mingo-doer commented on #1311
_base_: '../_base_/pascal_voc12aug.yml'

batch_size: 6
iters: 80000

train_dataset:
  type: OpticDiscSeg
  dataset_root:
  transforms:
    - type: Resize
      target_size: [512, 512]
    - type: RandomHorizontalFlip
    - type: Normalize
  mode: train

val_dataset:
  type: OpticDiscSeg
  dataset_root:
  transforms:
    - type: Resize
      target_size: [512, 512]
    - type: Normalize
  mode: val

[2021-09-01 09:14] Minemine-cloud opened #1313 "EISeg"
目前支持用HRNet18-OCR64训练自定义数据集生成相应模型参数吗，可以暴露相关参数设置的细节信息吗？

[2021-09-02 01:36] haoyuying commented on #1313
目前暂不支持训练，日后会开放相应的代码，请持续关注eiseg动态。

[2021-09-02 10:35] lfxx opened #1316 "语义分割模型评估的算法问题"
[code]
以上是教程里评估脚本跑出的结果，mACC的值为什么不是(0.9959+0.8886)/2呢？
对应的代码是：
[code]
在官方库算全景分割的时候，算出来的mACC的值为什么却是(0.9959+0.8886)/2：
对应的代码：
[code]
希望能帮忙解答疑惑，mACC不就是各个类别的acc求均值吗？

[2021-09-03 01:31] lipanr commented on #1062
在Paddle2.0版本跑VOC数据集时一直出现这个错误，训练几十条图片后出现的。

[2021-09-03 01:48] mingo-doer commented on #1311
@michaelowenliu could you give us some suggestions？

[2021-09-03 01:56] haoyuying commented on #1062
您好，是这样，unet系列对于图片的大小有很强的限制，如果您不是一定要用该模型，建议不要使用unet系列模型，这系列的模型主要是针对医疗场景，验证图片和训练图片都有固定尺寸的场景。

[2021-09-03 02:07] michaelowenliu commented on #1311
Hi, can you share the link?

[2021-09-03 02:21] mingo-doer commented on #1311
@michaelowenliu   https://drive.google.com/file/d/1grNhsuGwUVSJPo6MFQSbEvyT1HF6K2U0/view?usp=sharing

[2021-09-03 02:40] michaelowenliu commented on #1311
thanks, can you provide the testing image?

[2021-09-03 02:49] fanxiaochen-123 commented on #964
@monkeycc Hi，请问您解决这个问题了吗

[2021-09-03 03:00] liuhuaguang opened #1317 "PaddleSeg文档中找不到哪里有可以调整置信度（threshold）的地方"
在使用PaddleDetection和PaddleOCR中，都有调整置信度（threshold）的地方，唯独PaddleSeg找不到，包括使用文档中也没有提及，请问是不能调整还是文档中未体现呢？

[2021-09-03 03:20] abcliguanxi commented on #334
这个有开源的C++的版本吗？

[2021-09-03 03:22] lfxx commented on #964
2.0.1版本不支持cuda11.1吧，好像只支持到11.0

[2021-09-03 03:24] fanxiaochen-123 commented on #964
嗯，我在官网查看的版本他推荐下载的2.1.2的，我的CUDA是11.2的

[2021-09-03 03:36] fanxiaochen-123 commented on #964
@lfxx 老哥有遇到那个错吗

[2021-09-03 06:08] lfxx commented on #964
试着跑下paddle.utils.run_check()，看看输出日志,应该还是cuda问题

[2021-09-03 07:02] fanxiaochen-123 commented on #964
@lfxx 老哥，我的内核显示驱动可以装460的，安装不了低版本的驱动，我试着把CUDA11.2降为了CUDA11.0，nvcc -V显示成功，但是依然是报同样的错误。

W0903 14:54:33.872156 29663 init.cc:141] Compiled with WITH_GPU, but no GPU found in runtime.
/home/dfst/venv3/lib/python3.6/site-packages/paddle/fluid/framework.py:301: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  "You are using GP

[2021-09-03 07:15] mingo-doer commented on #1311
@michaelowenliu
sorry, we find it not caused by the difference between cpu and gpu
The inconsistent accuracy may be caused by  the inference code ‘deploy/python/infer.py ’and the code ‘predict.py’
test image link ：https://drive.google.com/file/d/1RRtye51DamUetz7CmZCu7dbrOpkfvVMg/view?usp=sharing
predict.py：
![image](https://user-images.githubusercontent.com/28819717/131965737-5670087c-8e55-4b13-90

[2021-09-03 07:40] michaelowenliu commented on #1311
@mingo-doer Hi, did you follow the "export" steps before running `infer.py`? If not, please refer to [this link](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/export/export/model_export.md).

[2021-09-03 08:13] lfxx commented on #964
看样子与paddlepaddle无关，cuda核心出问题了，先重启一下看看能不能正常使用，还不行的话尝试下：
[code]

[2021-09-03 08:29] LutaoChu commented on #1317
分割不像检测、ocr有bounding box，暂时没有听说过需要调整置信度。请问你需要这个做什么呢？

[2021-09-03 08:41] liuhuaguang commented on #1317
我是看到BML上的图像分割模型中可以调整置信度，所以就来尝试测试下检测瑕疵的效果，把缺陷标注、训练、验证，看它与目标检测哪个效果好？如果是这样的话，那BML中为什么会有置信度呢

[2021-09-03 08:41] liuhuaguang commented on #1317
我是看到BML上的图像分割模型中可以调整置信度，所以就来尝试测试下检测瑕疵的效果，把缺陷标注、训练、验证，看它与目标检测哪个效果好？如果是这样的话，那BML中为什么会有置信度呢

[2021-09-03 08:51] liuhuaguang commented on #1317
目标检测好像没办法过滤检测出来的缺陷大小，图像分割倒是可以，所以就想着测试下

[2021-09-03 09:05] fanxiaochen-123 commented on #964
@lfxx 老哥，其他的运行代码使用现在的CUDA没有问题，现在我装了10.1的CUDA，驱动还是460的，与10.1CUDA匹配的驱动418依赖包不支持，但是仍然是那个的错误。

[2021-09-03 09:07] fanxiaochen-123 commented on #964
@lfxx 老哥，运行了您说的那个命令没什么反应

[2021-09-03 09:10] fanxiaochen-123 commented on #964
@lfxx 老哥，可以了，sudo modprobe nvidia_uvm，

[2021-09-03 09:11] lfxx commented on #964
ok

[2021-09-03 09:14] fanxiaochen-123 commented on #964
@lfxx 感谢老哥

[2021-09-05 00:33] ding-Chen opened #1319 "训练panoptic-deeplab时，使用了do-eval，但并没有生成best_model"
如题，我在训练panoptic-deeplab时，使用了do-eval，但没有生成best_model文件夹，没有自动保存best_model，请问是什么原因呢

[2021-09-05 00:34] #1287 closed, assigned to wuyefeilin

[2021-09-05 02:57] LutaoChu commented on #1317
了解。BML的分割模型链接发一下吧，我们看下

[2021-09-05 09:14] KazusaW1999 commented on #1266
可以尝试检查一下这台机器的GPU利用率 @nba20416

[2021-09-05 15:18] pussss opened #1320 "刚开始训练就遇到这个问题，一直解决不了，求助"
WARNING:root:DataLoader reader thread raised an exception.
Traceback (most recent call last):
  File "/home/aistudio/PaddleSeg/train.py", line 190, in <module>
    main(args)
  File "/home/aistudio/PaddleSeg/train.py", line 185, in main
    fp16=args.fp16)
  File "/home/aistudio/PaddleSeg/paddleseg/core/train.py", line 143, in train
    for data in loader:
  File "/opt/conda/envs/python35-paddle12

[2021-09-06 02:07] juncaipeng commented on #1320
数据配置部分错误，可以调试输出dataloader部分。

[2021-09-06 02:09] juncaipeng commented on #1319
你可以把你的输出log贴一下，应该还是参数没有配置对。

[2021-09-06 02:14] pussss commented on #1320
我没听懂···小白一个，可以说详细点吗？

[2021-09-06 05:40] liuhuaguang commented on #1317
http://ai.baidu.com/bml/app/modelRepo/12778/16059?module=1

[2021-09-06 07:56] 6031jiajia opened #1321 "为什么验证paddleseg时候，modelpath那个网址总是不能被识别？"

[2021-09-06 07:57] 6031jiajia commented on #1321
--model_path https://bj.bcebos.com/paddleseg/dygraph/optic_disc/bisenet_optic_disc_512x512_1k/model.pdparams  这个不能别识别是怎么回事？

[2021-09-06 08:07] juncaipeng commented on #1320
建议先学习一下
paddle教程：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/index_cn.html
paddleseg教程：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/README_CN.md

[2021-09-06 08:08] juncaipeng commented on #1321
这个是下载预训练模型的权重，用wegt可以下载吗？或者浏览器中点击这个链接可以下载吗？

[2021-09-06 08:15] juncaipeng commented on #1306
你输入图片大小是多少啊？ 上面数据是192*192输入的数据。

[2021-09-06 08:15] #1302 closed, assigned to juncaipeng

[2021-09-06 08:15] #1297 closed, assigned to juncaipeng

[2021-09-06 08:15] #1303 closed, assigned to juncaipeng

[2021-09-06 08:16] #1251 closed, assigned to juncaipeng

[2021-09-06 08:16] #1292 closed, assigned to juncaipeng

[2021-09-06 08:17] #1307 closed, assigned to juncaipeng

[2021-09-06 08:18] lfxx commented on #1316
有大佬给解答下吗

[2021-09-06 09:18] 2017398956 commented on #1306
输入的图片是 1200 * 800 ，在分割之前 Android demo 中会把图片缩放成 192 * 192 的：

![image](https://user-images.githubusercontent.com/12185078/132189050-72ebee21-24ec-4c5d-a791-38bbd224ee2a.png)

，我记录的是从开始分割到分割结束的时间

![image](https://user-images.githubusercontent.com/12185078/132189468-159d143a-c468-4d97-bb8e-cfb4ec27c16b.png)

另外我也试了 192*192 的图片，也是一样。

[2021-09-06 11:08] zhangzscn opened #1322 "将PP-HumanSeg-Server人像分割模型转换为VINO模型，结果很差"
使用如下代码转化
1、先转化为ONNX模型
paddle2onnx --model_dir deeplabv3p_resnet50_os8_humanseg_512x512_100k_with_softmax  --model_filename model.pdmodel --params_filename model.pdiparams  --save_file model.onnx  --opset_version 11 --enable_onnx_checker True
2、再转化为VINO模型
sudo mo_onnx.py --input_model deeplabv3p_resnet50_os8_humanseg_512x512_100k_with_softmax/model.onnx --output_dir /deeplabv3p_resnet50_os8_humanse

[2021-09-06 16:28] Childishmi opened #1324 "paddleseg2.2可视化loss的问题"
您好，请问paddleseg2.2使用VisualDL，怎么可视化出test，val的loss曲线呢？用VisualDL我只能看到train/loss，evaluate/miou，evaluate/acc。

[2021-09-07 03:23] wuyefeilin commented on #1316
mAcc事预测正确的像素数/总的像素数

[2021-09-07 08:25] yangy996 commented on #590
我也出现了这个问题，请问你解决了吗？

[2021-09-07 09:33] yangy996 opened #1327 "使用deepglobe_road_extraction.yaml运行报错"
教程链接：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/legacy/docs/dice_loss.md
paddle版本2.1.1
![image](https://user-images.githubusercontent.com/15188456/132321636-4f0c7bef-0ea5-4994-814e-127732f9127c.png)
![image](https://user-images.githubusercontent.com/15188456/132321687-f3a72b17-fd48-46bc-b5a2-097da87e2f16.png)

[2021-09-08 03:29] bbbxixixixi opened #1329 "ocrnet+movilenetv3加载pretrained模型异常"
aistudio环境， paddleseg2.2

model的配置如下
model:
  type: OCRNet
  backbone:
    type: MobileNetV3_small_x1_0
    pretrained: https://paddle-imagenet-models-name.bj.bcebos.com/MobileNetV3_small_x1_0_ssld_pretrained.tar
  num_classes: 2
  backbone_indices: [0]

异常信息
2021-09-08 11:23:51 [INFO] Loading pretrained model from https://paddle-imagenet-models-name.bj.bcebos.com/MobileNetV3_small_x1_0_ssld_pretr

[2021-09-08 06:11] michaelowenliu commented on #1324
@Childishmi Hi, did you open --do_eval?

[2021-09-08 06:14] michaelowenliu commented on #1327
@YY007H Hi, the tutorial in `legacy` might be deprecated.

[2021-09-08 06:16] michaelowenliu commented on #1329
@bbbxixixixi Hi, if the pdparams has not been downloaded properly, please download it into the local directory manually.

[2021-09-08 06:18] yangy996 commented on #1327
额，为啥要废弃呢？静态图的模型都很小，动态图的模型都太大了

[2021-09-08 06:22] Childishmi commented on #1324
@michaelowenliu Hi, thanks for reply. I used.
我训练用的命令类似于“python PaddleSeg/train.py --config PaddleSeg/configs/unet/unet_cityscapes_1024x512_160k.yml --iters 15000 --learning_rate 0.1 --save_interval 200 --do_eval --use_vdl --save_dir output”；
然后使用“python PaddleSeg/predict.py --config PaddleSeg/configs/unet/unet_cityscapes_1024x512_160k.yml --model_path output/best_2200/model.pdparams --image_path

[2021-09-08 06:29] Childishmi commented on #1324
@michaelowenliu ,then after I open visualDL(http://localhost:8080/), it only appears **Train_loss** curve,
![image](https://user-images.githubusercontent.com/25951177/132457212-36cf9f4f-c548-464f-bd0d-71c403fa590a.png)
,I want to see **_test_loss_** or **_val_loss_** curves，I am newer，can you tell me how to do it please?

[2021-09-08 07:17] Dandelion111 opened #1330 "请问有没有在cpu上能够达到实时的语义分割模型"
请问有没有在cpu上能够达到实时的语义分割模型？或者哪个模型速度比较快

[2021-09-08 08:24] bbbxixixixi commented on #1329
I downloaded the tar file and change model config to
model:
  type: OCRNet
  backbone:
    type: MobileNetV3_small_x1_0
    pretrained: /home/aistudio/MobileNetV3_small_x1_0_ssld_pretrained.tar
  num_classes: 2
  backbone_indices: [0]

error occurs
ValueError: `paddle.load` can not parse the file:/home/aistudio/MobileNetV3_small_x1_0_ssld_pretrained.tar.

I unzip the tar file to a folder. It conta

[2021-09-08 08:42] michaelowenliu commented on #1330
@Dandelion111 Hi, please refer to https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/configs

[2021-09-08 08:45] michaelowenliu commented on #1329
@bbbxixixixi Hi, currently we have not provided the pretrained model. You may download it from PaddleClas, https://github.com/PaddlePaddle/Paddleclas/tree/dygraph-dev#Mobile_series

[2021-09-08 08:47] michaelowenliu commented on #1327
@YY007H Hi, we provide a lot models in the new version, please refer to https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/configs

[2021-09-08 09:06] bbbxixixixi commented on #1329
the pretrained model is ok

some codes in mobilenetv3.py need to modify

line 311
outputs = F.hard_sigmoid(outputs)
return paddle.multiply(x=inputs, y=outputs, axis=0)
should be
outputs = F.hardsigmoid(outputs)
return paddle.multiply(x=inputs, y=outputs)

[2021-09-08 09:31] michaelowenliu commented on #1329
@bbbxixixixi Yes, the paddle api is changed in recent versions.  Could you please submit the modification PR? Thanks.

[2021-09-08 09:40] heliqi commented on #1322
请问你推理是怎么做的？ 直接用openvino推理是不行的， paddle套件导出的模型是由预处理的

如果是cpp部署，参考下这个文档： https://github.com/PaddlePaddle/PaddleX/blob/develop/deploy/cpp/docs/compile/openvino/README.md

[2021-09-08 12:38] bbbxixixixi commented on #1329
https://github.com/PaddlePaddle/PaddleSeg/pull/1332

[2021-09-09 01:57] liuhuaguang commented on #1317
你好，请问有进展了吗？

[2021-09-09 02:49] michaelowenliu commented on #1329
@bbbxixixixi Thanks. Could you sign Contributor License Agreement before merging you pr?

[2021-09-09 08:34] heyyuhao opened #1333 "deeplabv3p resnet50的config在哪里？"
你好 请问 在PP-HumanSeg下面，configs里只有FCN的，有无deeplabv3p_resnet50的？

FCN config片段：
model:
  type: FCN
  backbone:
    type: HRNet_W18_Small_V1
    align_corners: False
  num_classes: 2
  pretrained: pretrained_model/fcn_hrnetw18_small_v1_humanseg_192x192/model.pdparams
  backbone_indices: [-1]

关于deeplabv3p_resnet50的model部分参数应该是什么？

谢谢

[2021-09-09 09:43] carter54 opened #1334 "PP-HumanSeg training data"
Hi there, is it possible to public the training data for PP-HumanSeg model?

[2021-09-09 14:24] bbbxixixixi commented on #1329
done

[2021-09-10 02:15] rourou8023 opened #1335 "paddleseg 保存的模型中存在sync_batch_norm ops,怎么将该部分转为batch_norm呢？"
使用paddleseg中的OCRNet，保存的模型在转onnx时，报存在sync_batch_norm，onnx不支持。
paddle2onnx issue 中提到，sync_batch_norm是只存在训练过程中，
麻烦问下，怎么修改，使得保存的模型中没有sync_batch_norm？
或者已保存的模型怎么将该部分转为batch_norm？

[2021-09-10 03:12] haoyuying commented on #1335
您好，模型转换问题请移步paddle2onnx下提问，以便获得更专业的回复。位置：https://github.com/PaddlePaddle/Paddle2ONNX

[2021-09-10 03:38] yangy996 commented on #670
厉害厉害，多谢大佬，我说怎么结果差别这么大

[2021-09-10 05:17] LutaoChu commented on #1334
We are considering this thing and will inform you if the data will be made public

[2021-09-10 05:31] LutaoChu commented on #1333
是这样的
[code]

[2021-09-10 06:19] rourou8023 commented on #1335
好的，已解决，谢谢

[2021-09-10 06:19] #1335 closed, assigned to haoyuying

[2021-09-10 08:27] Chenzixi1 opened #1336 "Paddleseg转onnx"
利用paddle2onnx转模型，转换正常，但输出模型的output shape不正常，影响后面工作，是否可以解决？

具体情况：

输入 [1, 3, 512, 512]
输出 [1, 2, -1, -1]

[2021-09-10 09:17] juncaipeng commented on #1336
模型方便放上来吗？我们专门同学来看下问题。

[2021-09-10 09:27] Chenzixi1 commented on #1336
PaddleSeg 中的 BiSeNetV2

问题解决了，前向传播中的上采用导致的，更改为固定shape就可以了

            logit_list = [
                F.interpolate(
                    logit,
                    paddle.shape(x)[2:],
                    mode='bilinear',
                    align_corners=self.align_corners) for logit in logit_list
            ]

谢谢

[2021-09-10 09:27] #1336 closed, assigned to juncaipeng

[2021-09-11 15:36] zyl2995230 opened #1339 "加载预训练的模型参数进行预测问题"
你好：

我利用PaddleSeg训练一个HRnetw48的模型保存了最优的模型参数，当我利用PaddleSeg的模型API进行自定义调用并加载预训练模型参数进行预测，结果发现单独调用模型API去预测图片和利用PaddleSeg中predict.py进行预测相差甚远，对单独调用模型API组网进行预测并可视化结果根本就看不出任何的图片结构，而利用predict.py进行预测，输出的19个numclass都有很好的图片结构。这是为什么？同样的模型和参数，为什么结果天差地别

[2021-09-13 02:02] juncaipeng commented on #1339
应该是你组网、加载、预测中出现了错误，你可以顺着predict.py的逻辑代码排查哪里出错哦。
你是什么目的需要自己自定义调用模型API？

[2021-09-13 02:05] zyl2995230 opened #1340 "111"

[2021-09-13 02:07] zyl2995230 commented on #1340
_

[2021-09-13 02:07] #1340 closed, assigned to nobody

[2021-09-13 02:10] zyl2995230 commented on #1339
网络我是调用PaddleSeg里的网络API进行组网的，加载我是利用Paddle.load()和paddle.nn.layer.set_state.dict()进行预加载参数，然后我是正常预测 其中没有报错，但是结果就是不一样

[2021-09-13 06:36] PearlDzzz opened #1342 "dataloader error when eval my model"
Hi，
I use your provieded code on /contrib/PP-HumanSeg/train.py , use mini supervisely data.
But when I eval the trained model on EG1800 test, it raise an error:

2021-09-13 14:28:59 [INFO]      Loading pretrained model from pretrained_model/fcn_hrnetw18_small_v1_humanseg_192x192/model.pdparams
2021-09-13 14:28:59 [INFO]      There are 363/363 variables loaded into FCN.
2021-09-13 14:28:59 [INFO]

[2021-09-13 10:22] L-lei opened #1343 "labelme2seg文件中图片不存在时错误"
原文件在tools/labelme2seg.py
原逻辑是通过读取img_file文件获取图像的维度信息,是否考虑使用data['imageHeight']与data['imageWidth']

在调用shape2label函数84行img_size=img.shape,是否考虑使用img_size=(data['imageHeight'],data['imageWidth'])

[2021-09-13 10:54] Niki173 opened #1344 "请问如何使用高层API，进行模型融合后再进行预测图片？"
请问如何使用高层API，进行模型融合后再进行预测图片？

[2021-09-13 12:37] juncaipeng commented on #1342
Please refer to the [Preparation of Annotation Data](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/data/marker/marker.md) and check whether the config is correctly set.

[2021-09-13 12:51] juncaipeng commented on #1343
这个文件是将labelme标注的数据转为符合paddleseg格式要求的数据。
shape2label函数84行是使用从yml文件中加载出来的data，这个date格式如[链接](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.8.0/docs/annotation/labelme_demo/2011_000025.json#L2)，必须使用data["shape"]才可以读取。

[2021-09-13 12:52] juncaipeng commented on #1344
动态图不支持融合模型后再预测，你可以导出为预测模型进行部署，部署中预测框架会自动进行融合优化。

[2021-09-14 01:17] L-lei commented on #1343
我看到的labelme数据格式怎么与链接中的有写不一样了,我的是这样的{
  "imagePath": "102.jpg",
  "imageWidth": 1920,
  "version": "4.2.10",
  "imageData": "/9j/2Q==",
  "flags": {},
  "imageHeight": 1080,
  "shapes": [
    {
      "group_id": null,
      "label": "1",
      "flags": {},
      "shape_type": "polygon",
      "points": [
        [
          1294.341463414634,
          428.60975609756093
        ],
        [

[2021-09-14 01:20] L-lei commented on #1343
好像是v2版本

[2021-09-14 01:24] L-lei commented on #1343
这样说也没什么问题,如果按照原逻辑但还是建议加一个提示"没找到imagePath"

[2021-09-14 01:25] L-lei commented on #1343
感谢,解决了我的疑问

[2021-09-14 01:29] L-lei commented on #1343
这样说也没什么问题,如果按照原逻辑但还是建议加一个提示"没找到imagePath"

[2021-09-14 01:29] #1343 closed, assigned to juncaipeng

[2021-09-14 02:10] juncaipeng commented on #1339
你自己组网算是高阶使用了，要求你熟悉seg的内部代码。
估计你组网、加载没有问题，你要排查数据加载、预处理、输出加argmax、输出图像伪彩色显示等步骤，这些都可以在predict.py中找到，建议你一步步调试。

[2021-09-14 02:10] #1344 closed, assigned to juncaipeng

[2021-09-14 02:29] zyl2995230 commented on #1339
嗯，我之前也认真去找了但是找不到问题，所以才过来提问的。我再仔细看看

[2021-09-14 02:44] lpt-hub opened #1346 "paddleseg使用png灰度图训练时报错。"
paddleseg使用png灰度图训练时报错。错误如下所示。

Error: C:/home/workspace/Paddle_release2/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:536 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lbl] == ignore_idx_` failed. The value of label[6122] expected >= 0 and < 0, or == 3,but got 0. Please check input value.
Error: C:/home/workspace/Paddle_release2/paddle/fluid/operators/softmax_

[2021-09-14 03:07] sunhufei opened #1347 "模型保存时报错"
出现如下错误：
paddle.fluid.core.save_op_compatible_info(_test_program.desc)
AttributeError: module 'paddle.fluid.core_avx' has no attribute 'save_op_compatible_info'

请问如何解决？

[2021-09-14 03:31] rock4you commented on #1052
自己训练的模型，导出后进行infer，也遇到了同样的问题，运行时添加--with_argmax 即可。

[2021-09-14 04:00] #1346 closed, assigned to nobody

[2021-09-14 07:26] rock4you opened #1348 "自己训练的语义分割模型，导出后，infer时报错"
报错信息和这个连接里的一样：
https://github.com/PaddlePaddle/PaddleSeg/issues/1052

File "infer.py", line 109, in run
self.postprocess(results, imgs)
File "infer.py", line 121, in postprocess
result = get_pseudo_color_map(result)
File "D:\Anaconda3\envs\paddle\lib\site-packages\paddleseg\utils\visualize.py", line 59, in get_pseudo_color_map
pred_mask = PILImage.fromarray(pred.astype(np.uint8), mode='P')
File "D

[2021-09-14 08:03] wuyefeilin commented on #1347
请提供一下你的paddle版本和paddleseg版本
另外提供一下完整报错信息哈

[2021-09-14 08:10] Jeffery-He-reg opened #1349 "请问EISeg在同一张图上标注的目标数量有限制吗？"

[2021-09-14 08:15] PearlDzzz commented on #1342
I use "python tools/gray2pseudo_color.py" to process my data, the annotation is good, but the training still doesn't work.
[Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at /paddle/paddle/fluid/operators/reader/blocking_queue.h:158)

Do I need to make "python tools/gray2pseudo_color.py" for my train dataset, and then use pseudo annotaions for train?
Or, is there any other pos

[2021-09-14 09:30] L-lei opened #1350 "自定义数据引起CrossEntropyLoss异常问题"
paddle版本v2
python版本3.7
标注工具labelme

原因1
使用tools/labelme2seg.py得到的label图像不能用np.asarray(Image.open(label))得到灰度图,
自己的数据用np.unique(label[:,:,0]),np.unique(label[:,:,1]),np.unique(label[:,:,2])查看得到B通道全0,G通道含0与类别颜色,R通道含0与类别颜色
optic_disc_seg数据查看得到B通道全0,G通道含0,R通道含0与类别颜色;并且类别从1开始
解决方式修改labelme2seg.py转换后只能R通道含0与类别颜色,BG通道为0

原因2
老版本静态图下正常,是因为老版本用label = fluid.layers.elementwise_min(label, fluid.layers.assign

[2021-09-14 09:42] L-lei commented on #1350
错误信息:
  File "/paddleseg/core/train.py", line 161, in train
    avg_loss += loss.numpy()[0]
OSError: (External)  Cuda error(719), unspecified launch failure.
  [Advise: Please search for the error code(719) on website( https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038 ) to get Nvidia's official solution abou

[2021-09-14 11:42] qianyizhang opened #1351 "我猜你们中有个叛徒:-P"
https://github.com/PaddlePaddle/PaddleSeg/blob/cc6fa1404d2b1553307f49b874b2d656be08c83c/contrib/EISeg/setup.py#L38

[2021-09-14 11:51] yzl19940819 commented on #1351
您好，EISeg是由PaddleSeg团队和PaddleSeg外部开发者共同完成，尤其是前端由韩霖和陈奕州同学提供了，他们留自己的邮箱是非常合理的哦

[2021-09-14 12:14] luoshuifeiyang commented on #1295
您好，我安装的是最新版本，但依旧出现这个问题了。
<pre>----------------------
Error Message Summary:
----------------------
FatalError: `Process abort signal` is detected by the operating system.
  [TimeInfo: *** Aborted at 1631621441 (unix time) try &quot;date -d @1631621441&quot; if you are using GNU date ***]
  [SignalInfo: *** SIGABRT (@0x3e900004ffd) received by PID 20477 (TID 0x7ffb0b214740) from PID 20477 ***]

已放弃

[2021-09-14 12:25] qianyizhang commented on #1351
格局大了:)

[2021-09-14 12:25] #1351 closed, assigned to nobody

[2021-09-15 00:36] DongLZY opened #1352 "请问能标实例分割的数据吗？"

[2021-09-15 02:28] wuyefeilin commented on #1350
数据集的标签要求是灰度图，标签值为0， 1，2， ..., 如果不符合要求可以自己写程序另存一下哈。

基于我们的快速教程先进行试运行，没问题的条件下在按要求运行自己的数据集哈

[2021-09-15 02:30] haoyuying commented on #1349
没有限制，可以设定不同的标签，来实现对不同目标对标注。

[2021-09-15 02:44] L-lei commented on #1350
报错信息比较懵,之前找也没找到类似错误,所以放在这里了;修改后跑程序倒是没问题

[2021-09-15 02:48] #1350 closed, assigned to nobody

[2021-09-15 02:53] LutaoChu commented on #1317
你好，链接打不开
![image](https://user-images.githubusercontent.com/30695251/133362613-a413fe17-3e37-4a7a-b253-a29084a60118.png)

[2021-09-15 04:51] michaelowenliu commented on #1352
@DongLizhong Yes.

[2021-09-15 05:54] liuhuaguang commented on #1317
![捕获](https://user-images.githubusercontent.com/88823508/133378313-25e69dd4-c792-417e-93b2-f3bb84f69c87.PNG)
![屏幕截图 2021-09-15 135423](https://user-images.githubusercontent.com/88823508/133378319-50ee47a6-410c-4cbd-a4dd-e43c620dbbb3.png)
你好，详细请查看以上图片

[2021-09-15 05:56] liuhuaguang commented on #1317
![屏幕截图 2021-09-15 135641](https://user-images.githubusercontent.com/88823508/133378563-68818c4f-5e5f-46be-87a7-2e1b2e559dd1.png)

[2021-09-15 05:58] qinwsq opened #1354 "windows版本的 exe链接失效了，麻烦作者给更新一下，谢谢"

[2021-09-15 06:07] haoyuying commented on #1354
已更新

[2021-09-15 06:12] qinwsq commented on #1354
你好，是eiseg的exe，刚没说清楚，不好意思

[2021-09-15 06:22] wuyefeilin commented on #1348
运行时添加--with_argmax 试试

[2021-09-15 07:30] LutaoChu commented on #1317
你这个还有mAP，预测标签有2个相同的，是实例分割吗？
另外调整置信度的话，可能有多个类别超过阈值，需要是多标签分类，你的任务属于多标签分类吗？

[2021-09-15 07:37] rock4you commented on #1348
感谢，已解决

[2021-09-15 08:55] liuhuaguang commented on #1317
是实例分割，见下图
![微信截图_20210915165420](https://user-images.githubusercontent.com/88823508/133403037-8c079be1-b42a-4a3e-9ac9-6eaefff5fa29.png)
另外，您说的“多标签分类”好像是图像分类的，我使用的是图像分割，没有分单标签\多标签

[2021-09-15 12:40] hosea7456 commented on #1354
@haoyuying
目前的连接也失效了，是在维护吗?

[2021-09-15 12:41] hosea7456 commented on #1354
@haoyuying
目前的链接也失效了，是在维护吗?

[2021-09-15 12:53] LutaoChu commented on #1317
是实例分割的话确实是可以有置信度的。因为计算mAP时需要用到实例mask，实例mask是通过选择置信度大于指定阈值的区域筛选出来。
paddleseg目录下为语义分割，没有置信度。全景分割有置信度，见
https://github.com/PaddlePaddle/PaddleSeg/blob/cc6fa1404d2b1553307f49b874b2d656be08c83c/contrib/PanopticDeepLab/utils/evaluation/instance.py#L149

[2021-09-15 12:54] LiangYong1216 opened #1357 "ModuleNotFoundError: No module named 'PySide'"
(e1) C:\Users\86180\PaddleSeg\contrib\EISeg>python -m eiseg
Traceback (most recent call last):
  File "C:\Users\86180\.conda\envs\e1\lib\site-packages\qtpy\__init__.py", line 210, in <module>
    from PySide import __version__ as PYSIDE_VERSION  # analysis:ignore
ModuleNotFoundError: No module named 'PySide'

During handling of the above exception, another exception occurred:

Traceback (most rece

[2021-09-16 00:57] qinwsq commented on #1354
@hosea7456
https://pan.baidu.com/s/1aGxWDHSzYRNPfpgA6ib7mw
直接从这下（提取码：82z9）

[2021-09-16 01:29] monkeycc opened #1358 "EISeg:ModuleNotFoundError: No module named 'qtpy'"
[code]

按照官方教程  报错

ModuleNotFoundError: No module named 'qtpy'

pip install QtPy

ModuleNotFoundError: No module named 'skimage'

pip install scikit-image

解决方法

应该在教程中
增加一步
pip install -r PaddleSeg\contrib\EISeg\requirements.txt

[2021-09-16 01:31] monkeycc commented on #1358
pip install QtPy

ModuleNotFoundError: No module named 'skimage'

[2021-09-16 01:34] monkeycc commented on #1358
pip install scikit-image

解决问题

应该增加在 requirements.txt

[2021-09-16 01:36] monkeycc opened #1359 "EISeg:加载目录,没有反应"
python -m eiseg
W0916 09:31:40.033562  5348 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.2, Runtime API Version: 11.2
W0916 09:31:40.049214  5348 device_context.cc:422] device: 0, cuDNN Version: 8.1.

--------------------

加载目录  没有反应  不显示图片
数据列表为空
-------------------------------
加载单张图片会显示   数据列表正常

[2021-09-16 01:54] monkeycc opened #1360 "EISeg:标注保存需要两步"
EISeg
点击"完成当前目标标注"
却提示"标签尚未保存，是否保存标签"
还要另外点击”保存“按钮

这样的话  需要在 左上角 点击 "完成当前目标标注"
然后右边 点击 数据列表 的 “保存”

鼠标基本上跨越了一个屏幕   很费劲

--------------------------
建议：
点击  “完成当前目标标注" 就自动保存

[2021-09-16 02:04] monkeycc opened #1361 "EISeg: JSON和COCO，是否能同时保存，是否能互相转换"
JSON和COCO，
是否能同时保存
比如我想保存两个格式
万一以后需要呢

如果不行
那么是否能互相转换呢
有没py代码 可以实现一键转换功能

[2021-09-16 02:08] monkeycc opened #1362 "EISeg: 建议增加目标检测两点标注，或者提供转换py"
建议增加目标检测两点标注

这样可以进行目标检测标注的工作

如果感觉工作量太大

可以考虑先提供转换py
可以直接把分割的json 转换为 标注的VOC和COCO格式

[2021-09-16 02:13] haoyuying commented on #1358
需要安装依赖的，在requirements.txt文件里面。

[2021-09-16 02:14] haoyuying commented on #1359
目录下要有一张张的图，就会显示，目录下不能还是目录。

[2021-09-16 02:28] haoyuying commented on #1357
如果直接用paddleseg下的代码进行使用的话，请先安装eiseg的依赖，在requirements.txt中https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/contrib/EISeg/requirements.txt

[2021-09-16 02:30] haoyuying commented on #1360
上方的工具栏有自动保存选项，需要点击下设定
![image](https://user-images.githubusercontent.com/35907364/133539690-26c69d3f-5f39-4895-9086-1df85a36757b.png)

[2021-09-16 02:32] haoyuying commented on #1361
目前只能保存一个

[2021-09-16 02:33] haoyuying commented on #1362
目前有自动生成的bbox信息，您的建议我们会考虑的，感谢您的建议。

[2021-09-16 02:34] haoyuying commented on #1354
develop分支上链接已更新。

[2021-09-16 02:43] monkeycc commented on #1359
目录下有一张一张的图片，但是有之前目标标注的几个XML文件。

这个应该就是导致 不能正常加载的原因

[2021-09-16 02:48] monkeycc commented on #1360
我按了这个 ”自动保存“
但是 没有显示   打勾

[2021-09-16 02:50] monkeycc commented on #1358
我知道要安装依赖

问题是  官方教程里面 应该要写出来

安装EISeg   要安装依赖
pip install -r PaddleSeg\contrib\EISeg\requirements.txt

[2021-09-16 05:16] tongchangD opened #1363 "环境问题,bug"
您好 ,请问该如何简易解决
os -> Ubuntu 20.04.1 LTS
paddlepaddle -> 2.1.1

eiseg运行时出现下述报错:

qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.

Available platform plugins are: eglfs, linuxfb, minimal, minimalegl, offscreen, vnc, wayland-

[2021-09-16 05:41] tongchangD commented on #1203
您好,请问这几行代码加在哪里,可以解决这个问题

[2021-09-16 05:41] tongchangD commented on #1203
您好,请问这几行代码加在哪里,可以解决这个问题

[2021-09-16 06:09] chenghuaWang commented on #1203
@tongchangD 你好。这个项目我好久没看了，具体的有点忘了😥，因为这个bug是由cv和pyqt冲突产生的，你可以尝试在调用了pyqt的文件里面修改。

令，此法不一定能完全解决问题，我的同事尝试此法仍有bug。

[2021-09-16 06:23] hosea7456 commented on #1354
好的，谢谢！

[2021-09-16 06:25] tongchangD commented on #1203
@chenghuaWang  谢谢您的回复,我查到似乎可能是pyQT5环境的问题,有个.so文件链接库存在问题
libqxcb.so: (libxcb-util.so.1: cannot open shared object file: No such file or directory)"
尝试在卸载所有qt包,然后从头装环境试试
感觉在linux上环境是个大问题,然而官方也没有相应的环境介绍,哎,难受

[2021-09-16 06:36] haoyuying commented on #1363
您好，可以尝试安装eiseg0.3.0以上版本解决该问题。

[2021-09-16 06:39] tongchangD commented on #1363
谢谢您的回复,我好了,之前python版本用的3.6的,升级到3.8 重新装包就好了

conda create -n paddleseg python==3.8
codna install  opencv-python
python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
conda install pyyaml
conda install matplotlib
conda install skimage
conda install scikit-Image

[2021-09-16 06:41] tongchangD commented on #1363
另外 ,可以在
~/.bashrc 中添加
[code]
如此 运行exe文件时,如果是qt错误将会有提醒.极有可能是很多lib*.so中的软链接出错,对其做相应更改也是可以的.
涉及到如此的工具
locate 、 apt-file search 等

[2021-09-16 06:43] laocan opened #1364 "EISeg 换模型"
请问，想换成分割其他标签的模型，有参考的操作流程吗？
谢谢~

[2021-09-16 07:28] liuhuaguang commented on #1317
好的，谢谢解答

[2021-09-16 07:28] #1317 closed, assigned to LutaoChu

[2021-09-16 11:26] zane-wong-developer opened #1366 "请问使用你们开源的最轻量级的人像分割模型+DIS光流在移动端CPU上能达到实时吗?"
感谢开源工作.

[2021-09-17 02:29] monkeycc opened #1367 "EISeg:对于划痕，怎么标注，希望增加线条标注"
对于划痕，怎么标注，希望增加线条标注

EISeg标注不了

[2021-09-17 05:38] tongchangD commented on #1363
conda create -n  testseg python==3.8
conda activate testseg
conda install qtpy==1.10.0 
conda install qt==5.9.7 
conda install pyqt==5.9.2 
pip  install opencv-python  
python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple 
conda install pyyaml 
conda install matplotlib 
conda install scikit-Image 
python /PaddleSeg/contrib/EISeg/eiseg/exe.py
正常流程

[2021-09-18 03:08] LutaoChu commented on #1366
你好，在移动端CPU上我们还没有测过，估计应该是可以的

[2021-09-18 09:00] ccl-private opened #1371 "ValueError: `num_classes` is not consistent: {1, 2}. Please set it consistently in model or train_dataset or val_dataset"
why this error happen
![Screenshot_2021-09-18_16-47-04](https://user-images.githubusercontent.com/36214675/133882907-31856059-de44-4b3f-bdb2-2efd0d9e3bad.png)
?

[2021-09-18 09:06] ccl-private commented on #1371
after I change num_classes to 2, a new error occurred.
![Screenshot_2021-09-18_17-05-36](https://user-images.githubusercontent.com/36214675/133883461-bd725f2c-de57-4da8-8465-08eb0db80a79.png)

[2021-09-18 09:25] ccl-private commented on #1371
solved ~
https://github.com/PaddlePaddle/PaddleSeg/issues/1174#issuecomment-882275365

[2021-09-18 09:25] #1371 closed, assigned to nobody

[2021-09-18 10:00] ty199931 opened #1372 "When I click the image, the error is appeared."
the error is:
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::framework::SignalHandle(char const*, int)
1   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()

----------------------
Error Message Summary:
----------------------
FatalError: `Process abort signal` is detected by the operating system.
  [TimeInfo: *** Aborted at 1631958284 (unix time)

[2021-09-21 08:42] qdd1234 opened #1373 "代码优化"
您好，有没有什么办法能够将图片中的.numpy()去掉，我用.numpy()是因为paddle中提示现在的索引支持整数、切片，但是不可以从一个Tensor当中同时索引到我想要的多个数值，就像图片中蓝色方框所示的索引方式。我想请教一下图片中的索引方式如果不转numpy直接使用paddle的API如何实现，谢谢！
![image](https://user-images.githubusercontent.com/68497831/134140495-fa9054f1-dd25-4754-8e58-c030dc2ce2af.png)

[2021-09-22 00:30] gxqnba opened #1374 "paddleseg ----matting问题"
请问一下paddleseg的matting部分在哪里啊？我在介绍里面看到paddleseg可以做matting，但是代码里面没有找到。
![image](https://user-images.githubusercontent.com/61399616/134264980-ad462645-7c66-42a1-bf6b-e48626fe8733.png)

[2021-09-22 00:52] zhangzscn commented on #1322
模型导出后，用openino官方的例子segmentation_demo，估计是少了预处理

[2021-09-22 00:52] #1322 closed, assigned to heliqi

[2021-09-22 01:34] michaelowenliu commented on #1374
@gxqnba Hi, thanks for your interest. The matting project will be coming soon at the end of this month.

[2021-09-22 01:35] michaelowenliu commented on #1372
@ty199931 Hi, may I know which model you are running?

[2021-09-22 01:52] gxqnba commented on #1374
Thanks

[2021-09-22 02:26] huangwan-jiayi opened #1375 "在jetson nx上部署paddleseg下的用自己的数据集训练好的bisenetV2模型，部署后预测一张图需要几秒，怎么提高预测速度。"
我最近成功把我自己训练的paddleseg框架下的模型 用paddle inference c++ 部署到了jetson nx 上了 可是预测的时间需要几秒，完全达不到实时的要求 ，请问一下，你有部署这方面的经验吗，是我需要修改一下代码的什么部分，预测速度才会达到网上说的那么高呢？

[2021-09-22 02:55] oym050922021 opened #1376 "SFnet训练报错"
sfnet训练时报错：

-
![微信图片_20210922105342](https://user-images.githubusercontent.com/40224130/134276235-d5758266-d865-4621-a71d-06033559ff8d.png)

请问是怎么回事，谢谢？

[2021-09-22 03:14] shiyutang commented on #1373
mask 索引可以使用 paddle.where 进行替代，参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/where_cn.html
一段简单的示例代码如下所示：
[code]

[2021-09-22 03:22] shiyutang commented on #1376
这个初步判断是data loader出现问题分为三步分析：
1. 查看paddle版本是否更新至2.1.2
2. 查看log/worklog.0中出现的具体报错，并更新issue
3. 在issue中补充报错出现的情况，训练一段时间出错还是一开始就出错

[2021-09-22 03:28] juncaipeng commented on #1375
创建predictor的config的参数是怎样的？ 输入预测的图像大小是多少？  我们在v100上测试bisenetv2，输入大小是1024*2048，只统计predictor预测的计算时间，fps是80左右。

[2021-09-22 03:45] huangwan-jiayi commented on #1375
![image](https://user-images.githubusercontent.com/71338215/134279944-c59a669a-2dcf-4f55-8a86-dc5be11f9e1c.png)
![image](https://user-images.githubusercontent.com/71338215/134279982-ae5facf7-f0d3-423f-9f6f-3c97ed3f0a61.png)
![image](https://user-images.githubusercontent.com/71338215/134280057-1ca2891f-02f0-44b0-bad1-049fca2ca2ab.png)
![image](https://user-images.githubusercontent.com/71338215/1342

[2021-09-22 04:23] oym050922021 commented on #1376
@shiyutang  您好，padddle版本是2.1.2，一开始训练就报错，worklog.0如下：

- 2021-09-22 11:41:28 [INFO]
------------Environment Information-------------
platform: Linux-5.3.0-28-generic-x86_64-with-debian-buster-sid
Python: 3.7.9 | packaged by conda-forge | (default, Dec  9 2020, 21:08:20) [GCC 9.3.0]
Paddle compiled with cuda: True
NVCC: Not Available
cudnn: 7.6
GPUs used: 4
CUDA_VISIBLE_DEVICES: 0,1,2,3
GPU: ['GPU 0

[2021-09-22 05:31] #1366 closed, assigned to LutaoChu

[2021-09-22 06:10] xinsuinizhuan opened #1377 "PaddleSeg C++ 预测部署方案，可以类似Detection等单独出来吗，不要跟其他的一起混到paddleX里面？"
现在PaddleSeg C++ 预测部署方案和其他的检测等一起混合起来放到了paddleX里面，编译依赖太多，编译都编译不过去。但是Detection等里面的，就没那么多依赖，很好编译。

[2021-09-22 06:17] heliqi commented on #1377
请问你想独立出来的原因是？

[2021-09-22 06:55] xinsuinizhuan commented on #1377
就是，像Detection里面，很好编译。但是，现在集成成paddleX里面后，cpp直接的依赖太多，一直编译不过去。
![图片](https://user-images.githubusercontent.com/40679769/134296563-0691c5b1-81ef-4b1e-a037-196c88020c0f.png)
![图片](https://user-images.githubusercontent.com/40679769/134296603-67057a65-12b6-4bea-bb7e-7a7a9dc8d572.png)
像现在，我只要seg的，但是现在我必须把所有的其他的都加进来，但是，都加进来了，结果还是有依赖没加进来，包链接错误

[2021-09-22 07:00] xinsuinizhuan commented on #1377
像detection的，就依赖自己的，链接了paddle库和yaml库，即可。现在都链接了，依然不行。

[2021-09-22 07:22] oym050922021 commented on #1376
@shiyutang 您好，原因已经找到了，与我添加的数据增强有关系，谢谢！

[2021-09-22 09:30] KazusaW1999 opened #1380 "EISeg Windows版本 share链接失效"
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.2/contrib/EISeg#:~:text=%E8%BF%9B%E8%A1%8C%E6%89%93%E5%8C%85%E3%80%82%E5%8F%AF%E4%BB%A5%E4%BB%8E-,%E8%BF%99%E9%87%8C%E6%88%96%E7%99%BE%E5%BA%A6%E4%BA%91%E7%9B%98,-%EF%BC%88%E6%8F%90%E5%8F%96%E7%A0%81%EF%BC%9A82z9

[2021-09-22 09:45] heliqi commented on #1377
paddlex的cpp也是链接了paddle库和yaml库 ，还链接了一个opencv库(Detection应该也依赖了这个)。  多个套件的代码并不会造成更多的第三方库依赖。

你报错的原因看起来可能是：
1. 没有使用release 编译
2. 没有按照文档的操作来 https://github.com/PaddlePaddle/PaddleX/blob/release/2.0.0/deploy/cpp/docs/compile/paddle/windows.md

- 如果你想将部署加入到自己的工程， 可以先把文档中的demo编译过了；再按照cmakelist，根据其中的语法修改进行链接。
- 如果是想编译成lib库，供其它语言调用。可以参照这个文档 https://github.com/PaddlePaddle/PaddleX/tree/release/2.0.0/examples

[2021-09-22 13:45] michaelowenliu commented on #1380
https://github.com/PaddlePaddle/PaddleSeg/tree/develop/EISeg

[2021-09-23 01:10] #1373 closed, assigned to shiyutang

[2021-09-23 02:20] huangwan-jiayi commented on #1375
这是我的环境信息，
![image](https://user-images.githubusercontent.com/71338215/134445844-9e15849a-0e41-4821-b6d6-e03c844fd9ed.png)
![image](https://user-images.githubusercontent.com/71338215/134445836-c66a9540-ed56-44f5-a728-ced71e42dc55.png)

[2021-09-23 02:30] huangwan-jiayi commented on #1375
图像大小更正为1080*1920

[2021-09-23 02:37] #1376 closed, assigned to shiyutang

[2021-09-23 02:38] haoyuying commented on #1372
请使用最新版eiseg及2.1版本以上的paddlepaddle，并检查paddle是否能正常使用。目前问题定位是由于paddle和cuda及cudnn版本不匹配导致的。

[2021-09-23 02:39] haoyuying commented on #1364
请问你的诉求是什么呢，是不想用我们提供的模型是吗

[2021-09-23 02:39] haoyuying commented on #1367
目前划痕过于细致，无法标注

[2021-09-23 02:42] haoyuying commented on #1380
在develop分支中已经更新链接。

[2021-09-23 03:13] YuJie-Tian commented on #1266
@nba20416 你好，请问这个问题你解决了吗？
我用官方提供的案例图像进行训练是ok的，但是通过EISeg自己标注的图像进行训练就出现和你一样的情况了，程序一直不动，GPU利用率也很低，一直没找到原因

[2021-09-23 06:13] gxqnba opened #1382 "EISeg 模型及参数问题"
1、EISeg是否支持更多的模型如：U-Net等？
2、就HRNet18_OCR64模型而言，我能否自己采用该网络在我针对的数据集上训练得到权重文件，然后供EISeg调用。这样针对特定的数据集训练得到的参数拿来做特定数据交互式分割的效率和质量会不会更高。

[2021-09-23 09:12] haoyuying commented on #1382
您好，目前我们提供的代码只用于预测，不足以让您根据自己的数据集进行训练，因为训练过程涉及模拟交互点击采点等方面，较为复杂，今年我们有计划开源训练代码，到时候您可以根据训练代码训练自己的模型。请持续关注eiseg的发展动态。

[2021-09-23 09:42] DejaYang commented on #1204
使用release/2.2，依旧遇到上述问题

使用release/2.2，依旧遇到上述问题

[2021-09-23 09:42] huangwan-jiayi opened #1384 "jetson nx上部署paddleseg框架下biesenetV2算法训练自己的数据集产生的模型，推理速度太慢.预测程序用的是paddleseg中的C++部署示例"
这是我参考的例程：
![image](https://user-images.githubusercontent.com/71338215/134486047-eea7ffbe-17d1-49e1-b79c-eff9b60bdf34.png)
这是我的推理时间：
![image](https://user-images.githubusercontent.com/71338215/134486082-77453bb5-0cfb-4753-8f55-57c37c9a55fb.png)
[code]
paddle 版本2.1.2：
![image](https://user-images.githubusercontent.com/71338215/134486194-1dff03c5-1c8f-4588-8db1-475f140f783a.png)
nx 环境：
![image](https

[2021-09-23 10:05] YuJie-Tian commented on #1266
解决问题了，但还不知道是什么原因。
解决办法：用EISeg保存的灰度图作为标注图，而非伪彩色图像即可

[2021-09-23 21:51] AKMourato opened #1386 "predict file not parsing --custom_color"
Greetings,
running:
[code]
got:
[code]
Thus, not defined as arguments as stated in the docs.

-> Btw, with this colour pallete we get the "added_prediction" file without having applied any overlap colour to the background (i.e: only applying to the classes maintaining the background as the original image)?

**Edit**:
yes, apparently you removed this argument from the script.
https://github.com/Pad

[2021-09-24 06:52] juncaipeng commented on #1384
下载的paddle c++预测库版本是？
你多执行20次predictor run后，再测试耗时，估计第一次运行测试时间不准确。

[2021-09-24 06:54] juncaipeng commented on #1375
重复issue，我删除这个，使用最新的issue吧。

[2021-09-24 06:54] #1375 closed, assigned to juncaipeng

[2021-09-24 06:56] juncaipeng commented on #1342
The error is not caused by "python tools/gray2pseudo_color.py".  You should check the dataset and dataloader, please refer to https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/docs/data/marker/marker.md

[2021-09-24 06:56] #1339 closed, assigned to juncaipeng

[2021-09-24 06:57] #1321 closed, assigned to juncaipeng

[2021-09-24 06:57] #1320 closed, assigned to juncaipeng

[2021-09-24 06:57] #1319 closed, assigned to juncaipeng

[2021-09-24 07:00] huangwan-jiayi commented on #1384
是自己编译的预测库，
![image](https://user-images.githubusercontent.com/71338215/134631520-8eebe8e9-dea8-4efe-8b10-2baf93355483.png)
已经加了for循环，用run50次的时间减去run10次的时间，除以40差不多run一次还是需要100多ms，还是挺慢的。但是为什么执行一次的时间会长达2s，不应该是每run一次都会有预处理等操作吗？
![image](https://user-images.githubusercontent.com/71338215/134631800-faea13b3-ef2d-49d1-a86a-03f4ed2845e1.png)

[2021-09-24 07:15] LutaoChu commented on #1386
Thank you for your feedback.

Custom color map is a new feature of the develop branch. We have deleted the corresponding documents in version 2.2,
you can use `git checkout develop` to use custom color map.

Yes, you can set a color other than 0 for the background

[2021-09-24 07:38] lyf6 opened #1388 "请问EISeg如何训练和加载自己的模型"

[2021-09-24 09:19] laocan commented on #1364
是的，因为分割对象跟现有模型不一样

[2021-09-24 09:57] AKMourato commented on #1386
Solved, thanks.

[2021-09-24 09:57] #1386 closed, assigned to LutaoChu

[2021-09-24 10:06] AKMourato opened #1389 "Dice Coefficient & mAP"
Greetings,

I noticed that you just defined mIoU, accuracy and kappa for segmentation metrics.
Mean average precision(mAP), recall, F1-score and dice coefficient would be more appropriate than accuracy and kappa, why not include as well?

**Edit**:
Suggestion:
The inclusion of the following losses would also be a good add-on:
- Tversky loss
- Focal Tversky loss
- log-cosh dice loss
Check:
[https:/

[2021-09-24 12:06] AKMourato opened #1390 "Add Kappa to visualdl"
Hey guys,

Wouldn't be better to also all the explicit metric displayed during eval, kappa, class iou/acc (only mean is displayed), to the visualdl?

Since you don't record the training logs, this information is lost after some amount of steps. To analyse different models in offline mode only mIoU and mAcc is currently being stored. But btw, nice work done in visualdl tool!

Cheers

[2021-09-24 12:13] AKMourato opened #1391 "Unet3+ model not configured to load weights"
Hey guys,

I noticed that, contrary to all unet versions, I can't load pre-trained weights directly to the Unet3+, do you have any workaround?

Thanks

[2021-09-25 09:40] lin-lai opened #1392 "why??"
ValueError: mode should be 'train', 'val' or 'test', but got trainaug.

[2021-09-25 09:51] ty199931 commented on #1372
我的cuda是10.1 cudnn 7.6.5   eiseg 2.1.3
但是我在安装检验是否安装成功的时候，最后利用python -c "import paddle; paddle.utils.run_check()"

报错：ExternalError:  Cublas error, `CUBLAS_STATUS_EXECUTION_FAILED`. The GPU program failed to execute. This is often caused by a launch failure of the kernel on the GPU, which can be caused by multiple reasons.  (at /paddle/paddle/fluid/operators/math/blas_impl.cu.h:35)
      [operator <

[2021-09-25 10:33] ty199931 commented on #1372
但是我再运行一次 paddle.utils.run_check()时，就会显示成功

[2021-09-27 08:31] huangwan-jiayi opened #1396 "请问有人知道怎么将自己在paddleseg下训练的语义分割模型bisenetV2用paddle inference的c++库部署到jetson nx上后，部署代码预测图片修改为预测一段视频呢？"
小弟，已将自己训练的模型部署到了jetson nx开发板上，也得到了预测的效果，但是预测代码基本上是copy的官网上的例程，官网例程的预测接口只能是一张图。我想修改成预测一段视频，不知道可不可以通过修改预测代码实现，希望有大佬给我指点指点：
以下是全部预测c++代码：

#include
#include
#include
#include
#include
#include <time.h>
#include <gflags/gflags.h>
#include <glog/logging.h>
using namespace std;

#include "paddle/include/paddle_inference_api.h"
#include "yaml-cpp/yaml.h"
#include "opencv2/core.hpp"
#include "opencv2/imgp

[2021-09-27 18:40] AKMourato opened #1398 "Model evaluation: AttributeError: 'NoneType' object has no attribute 'copy'"
Hello guys,

For model evaluation (develop branch) I'm getting the following error in the config file:
[code]

[code]
Any solution?

[2021-09-28 02:06] juncaipeng commented on #1396
可以读取视频，预测每一帧图像，然后保存为视频。不是一两行代码解决的问题，建议多搜索学习opencv处理的教程。

[2021-09-28 02:15] juncaipeng commented on #1398
Please check whether there are model information in eval_unet.yml, such as
[code]

[2021-09-28 02:27] wangyuan111 opened #1399 "模型耗时问题"
我测试了deeplabv3+和BiSeNetv2的耗时，使用脚本train.py训练后直接用predict.py测试前向推理耗时，在我的数据上，deeplabv3+（resnet50）耗时25毫秒，BiSeNetv2耗时19毫秒。deeplabv3+耗时耗时比较正常，BiSeNetv2耗时太多了。按照[模型性能](https://github.com/PaddlePaddle/PaddleSeg/tree/develop/configs)中的说明BiSeNetv2应该比deeplabv3+耗时少一个量级。
这个页面下的模型耗时 batchsize是多少 是否半精度 有没有对模型压缩

[2021-09-28 03:05] xliu79 opened #1400 "部署时运行五分钟就会卡住不动"
部署分割模型时候 运行几分钟后就卡在 self.predictor.run()这个位置
其中模型用的deeplabv3
![捕获](https://user-images.githubusercontent.com/31554245/135016026-f1348863-6aea-4bcb-9a0f-ebbc0a68a196.PNG)
![捕获](https://user-images.githubusercontent.com/31554245/135016086-2696ac3f-bef7-4756-ac67-db0484fe2f2b.PNG)

[2021-09-28 03:08] xliu79 commented on #1400
检测几张图片就会卡在self.predictor.run()

[2021-09-28 07:46] wuyefeilin commented on #1400
如果其他图片正常的话， 可能是因为这张图片导致的问题，比如图片过大

[2021-09-28 07:49] xliu79 commented on #1400
@wuyefeilin 我用的同一张图片循环测试的。

[2021-09-28 08:12] wuyefeilin commented on #1399
利用导出模型进行测试哈， 具体参考链接 https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/deployment/inference/python_inference.md 。 在测试的时候通过--benchmark输出相应信息即可查看性能

[2021-09-28 08:55] AKMourato commented on #1398
I was running the _base_ file instead. Thanks @juncaipeng.
Btw, will you guys implement the standard segmentation metrics soon? (precision, recall, f1-score, dice coef)

[2021-09-28 09:05] wangyuan111 commented on #1399
谢谢，使用部署脚本 速度快了一倍以上。
再问一个问题   部署时主要做了哪些优化速度提高

[2021-09-28 11:47] AKMourato commented on #1389
Hi @LutaoChu, do you intend to integrate these metrics soon?

[2021-09-28 11:55] michaelowenliu commented on #1392
@lin-lai Hi, what is your question?

[2021-09-28 11:57] michaelowenliu commented on #1391
@AKMourato Hi, we have yet to provide the pre-trained weights of UNet3+. Sorry for that.

[2021-09-28 12:00] lin-lai commented on #1392
why is the loss always 0?

[2021-09-28 12:04] lin-lai commented on #1392
Due of use paddleseg,so I don't change the criterion

[2021-09-28 12:09] LutaoChu commented on #1389
Hi，thank you for your advice. Miou is the most common segmentation indicator. I haven't seen mean average precision (map), recall and F1 score used in segmentation tasks, except Dice coefficient used in medical segmentation. If you have seen it, can you provide the corresponding literature? We will consider whether to integrate.

[2021-09-28 12:20] michaelowenliu commented on #1392
@lin-lai Hi, which model are you using?

[2021-09-28 12:23] lin-lai commented on #1392
DeepLabV3P

[2021-09-28 13:29] AKMourato commented on #1391
hi @michaelowenliu, thanks. More importantly than the pre-trained weights now is perhaps the argument to load weights since I've to run from scratch every I use it.
Cheers

[2021-09-28 13:50] AKMourato commented on #1389
Hi @LutaoChu. Yes mIoU is the most standard for sure and dice coef. is more used in medical segmentation.
Altough the other metrics are widely used as well in known segmentation challenges.
Regarding different types of applications, certain metrics are more adequate than others, that's why I suggest including those ones as well.
Please take a look here:
- https://towardsdatascience.com/image-segme

[2021-09-28 13:52] #1398 closed, assigned to juncaipeng

[2021-09-29 01:11] michaelowenliu commented on #1392
@lin-lai VOC dataset?

[2021-09-29 03:11] monkeycc opened #1408 "EISeg 建议 pyqt5 替换为 pyside6"
pyqt5 | GPL-3.0
如果项目用这个打包  做项目出售
需要购买商业版权或全部开源
不太友好

PyQt5有两种授权协议：
GPL开源协议或商用闭源协议。
前者意味着直接使用PyQt5的程序也需要基于GPL协议开源，而后者需要支付购买费用，才能闭源使用。

pyside6 是  LGPL协议
可以在发布程序时合法合理地闭源

建议pyqt5 替换为  pyside6
反正都是同一家QT公司的产品

[2021-09-29 03:56] haoyuying commented on #1408
您好，paddleseg是一个开源的社区，我们不会对eiseg向用户征收费用。感谢您对eiseg的建设性意见，在今后的升级迭代版本中会认真考虑您的意见。如果您有商业化需求，欢迎与我们联系。

[2021-09-29 08:18] huilin16 opened #1412 "训练过程中提示Found inf or nan,current scale is: 0.0,decrease to: 0.0*0.5"
请问训练过程中出现很多提示
Found inf or nan,current scale is: 0.0,decrease to: 0.0*0.5
是什么原因呢

![-9c667de3e0150d6](https://user-images.githubusercontent.com/36887207/135230298-1d2d02b7-e3ef-41f6-b308-a36af2a278ac.png)

[2021-09-29 10:10] haoyuying commented on #1412
说明训练过程的某一步出现了除0等非法操作，建议定位下训练数据集处理和损失函数计算部分是不是出现了除0等非法操作

[2021-09-29 11:38] LutaoChu commented on #1389
Thank you for the information provided. We are planning to implement them, except map. MAP is indicator of instance segmentation, and you should be able to find them in paddedetection

[2021-09-29 13:07] AKMourato commented on #1389
Yes I meant precision instead of mean average precision (mAP), as you in fact need it to calculate F1 score. Thank you @LutaoChu. Nice work

[2021-09-29 13:07] #1389 closed, assigned to LutaoChu

[2021-09-30 00:29] huilin16 commented on #1412
好的，谢谢您

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月29日(星期三) 晚上6:10
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re

[2021-09-30 02:18] huangwan-jiayi opened #1414 "自己用paddleseg训练的模型，用c++paddle inference库部署到jetson nx 上后怎么看部署性能呢，比如预测时间 等等之类。"
这样在run代码前后加计算时间的代码可以测出推理的时间吗？
![image](https://user-images.githubusercontent.com/71338215/135374777-2f1ad5c4-0f1b-4ab4-83dc-c40b818171d3.png)

[2021-09-30 02:22] huangwan-jiayi commented on #1384
速度还是很慢，就算不算前10次，就算后40次的平均时间还是需要90多ms，run一次，我不太清楚这个run一次的时间就是这个模型预测一张图片所花的时间吗？这样的话也才不到10帧，也太慢了。请问一下是不是部署代码有哪里不对，应该不是模型的问题把？

[2021-09-30 02:25] shiyutang commented on #1414
你的问题我们已经收到登记，将尽快安排相关人员解决。

[2021-09-30 06:57] wangdefour commented on #1183
def forward(self, x):
        if self.training:
            return self.one_scale_forward(x)
        else:
            return self.nscale_forward(x, self.n_scales)
请问为什么是这样，原文不是训练nscale，测试two_scale吗
    def forward(self, inputs):

        if cfg.MODEL.N_SCALES and not self.training:
            return self.nscale_forward(inputs, cfg.MODEL.N_SCALES)

        return self.two_scale_forward(inputs)