[2022-03-08 03:14] Alvazz commented on #1848
好的，感谢你的回复，我主要是想跑一下PP-HumanSeg看看效果。有问题再向你们请教。谢谢

[2022-03-08 03:17] Alvazz commented on #1848
发现一个问题
![00](https://user-images.githubusercontent.com/50744096/157159527-954b0623-19f2-4c41-95ab-c62e7fa953f0.png)

[2022-03-08 11:44] srzxDragon commented on #1483
我也遇到了相同的问题，请问解决了吗？

[2022-03-09 02:05] justld commented on #1810
可以考虑剪枝、量化，导出静态图模型再部署。

[2022-03-09 02:14] justld opened #1851 "[Bug] 模型量化bug"
使用paddleseg进行模型量化时，发现一个bug，代码链接：https://github.com/PaddlePaddle/PaddleSeg/blob/0a7f65405a2153162d46f4065566d5e6f082879b/slim/quant/qat_train.py#L190
，根据paddleslim（2.0.0）文档，量化模型是inplace的，没有返回值，quant_model = None，所以paddleseg量化时会报错“NoneType object has no attribution 'train'”。
paddleslim(2.0.0)文档：
https://paddleslim.readthedocs.io/zh_CN/develop/api_cn/dygraph/quanter/qat.html
paddleslim（2.0.0）源码：https

[2022-03-09 02:22] shiyutang commented on #1844
It seems the program finished training, did you set the iter as 180?

[2022-03-09 02:38] 02825cm commented on #1844
应该是跑成功了吧success，你的配置文件是咋写的？

[2022-03-09 03:12] wuyefeilin commented on #1847
PP-HumanMatting支持大分辨率人像抠图。

麻烦问一下，你具体的使用场景是什么

[2022-03-09 03:22] LutaoChu commented on #1848
报错来看没有找到对应版本的包，建议换个版本试试，在官网安装教程里选择。不建议用develop版本。
还是安装不了的话可以去paddle官方repo下提issue

[2022-03-09 03:24] LutaoChu commented on #916
缺陷类别是？

[2022-03-09 03:39] LutaoChu commented on #1798
In fact, I think that the input element can support greater than class_num is a feature, not a bug.

I will try the pytorch loss implementation

[2022-03-09 06:55] gutao0315 opened #1853 "关于TensorRT预测加速的问题"
大佬们看看 我这样是不是就是利用TensorRT预测成功了
![1](https://user-images.githubusercontent.com/77281977/157388372-26b5f3cd-8a87-4c68-bf04-24b60859d866.png)
![2](https://user-images.githubusercontent.com/77281977/157388484-499eb6d1-d92f-4897-8a08-16d92dfe74f4.png)
怎么看预测的速度啊 多少ms/张这样子的

[2022-03-09 07:36] #1456 closed, assigned to wuyefeilin

[2022-03-09 08:05] juncaipeng commented on #1459
已经提供修复PR。

[2022-03-09 08:05] #1459 closed, assigned to juncaipeng

[2022-03-09 08:06] juncaipeng commented on #1851
Fix by the above PR.

[2022-03-09 08:06] #1851 closed, assigned to juncaipeng

[2022-03-09 08:13] LutaoChu commented on #1817
SCLoss相比CE太大了，可以调小SCLoss的权重系数试试，保持和CE在同一个数量级上

[2022-03-09 08:48] shiyutang commented on #1853
Running deply/python/infer.py with benchmark=True, you will get the result like the following and tells you the inference time.
for example:
[code]

<img width="909" alt="1645 2500 H： B3 0  0 S 0" src="https://user-images.githubusercontent.com/34859558/157405827-c2a19a1b-090d-4de8-b7fd-2b402fadc5d7.png">

[2022-03-09 08:52] shiyutang commented on #1844
If you set iter equals to 180, the training process is successful and you are good to go.

[2022-03-09 10:47] Huihuihh opened #1855 "使用gpu3070推理耗时比1080ti更长"
3070gpu环境：
paddlepaddle-gpu==2.2.2.post112
cuda: 11.2
1080ti：
paddlepaddle-gpu：2.2.0
cuda：10.0

耗时：
1080ti：
54.64673042297363ms
3070：
561.3832473754883ms

[2022-03-09 11:37] justld commented on #1848
可以导出onnx再C++部署，参考：https://blog.csdn.net/qq_40035462/article/details/123305451

[2022-03-09 11:59] justld opened #1856 "[Bug]BiSeNetV2使用官方教程剪枝后训练异常"
使用官方裁剪教程裁剪BiSeNetV2时，报错
[code]
打印网络参数的权重维度看了以下：
[code]
发现aux_head的卷积被裁剪，导致输出的维度不正确，从而剪枝再训练时报错。

env:
paddlepaddle 2.2.2
aistudio gpu 至尊
paddleseg release 2.4

[2022-03-09 12:10] justld commented on #1856
https://github.com/PaddlePaddle/PaddleSeg/blob/adaa1a8fe4a2ea98ef0497c01fa217a3a3e8822a/slim/prune/prune.py#L171
临时解决方案：
[code]

[2022-03-09 14:58] SurvivorNo1 commented on #1843
您好，请问你解决这个问题了吗？我也遇到了这个问题

[2022-03-09 15:05] zhenzi0322 commented on #1843
解决了

[2022-03-10 01:36] ttttnnnn13 opened #1857 "使用attention_unet，模型能跑动，但预测时出现boardcast维度问题，如下图，能帮忙解决吗[Bug]"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-10 01:40] michaelowenliu commented on #1857
@ttttnnnn13 Thanks for your issue. To help us solve the issue better, please use the issue template for bug report properly.

[2022-03-10 01:41] justld commented on #1857
可以查看下数据的维度，看报错是特征图的维度没对上，看一下预测数据的（H, W）和训练集是否一致

[2022-03-10 01:41] michaelowenliu commented on #1855
@Huihuihh Thanks for your issue. To help us solve the issue better, please use the issue template properly.

[2022-03-10 01:54] ttttnnnn13 commented on #1857
可是为什么模型可以跑通了，我这个是三分类，之前二分类倒是没这个问题，会是其他原因吗，换个Ubuntu系统会好些吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年3月10日(星期四) 上午9:41
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 使用attention_unet，模型能跑动，但预测时出现boardcast维度问题，如下图，能帮忙解决吗[Bug] (Issue #1857)

可以查看下数据的维度，看报错是特征图的维度没对上，看一下预测数据的（H, W）和训练集是否一致

—
Reply to this email

[2022-03-10 01:56] zhenzi0322 commented on #1843
你可以用 https://aistudio.baidu.com/aistudio/datasetdetail/131538 这一份数据集。

[2022-03-10 01:59] zhenzi0322 commented on #1832
这里有一份 https://aistudio.baidu.com/aistudio/datasetdetail/131538 数据集。你可以拿来测试

[2022-03-10 03:02] gutao0315 commented on #1853
![QQ浏览器截图20220309173452](https://user-images.githubusercontent.com/77281977/157580214-bab64a93-e741-4ae8-b757-e90aaa3299cf.png)
![QQ浏览器截图20220309173355](https://user-images.githubusercontent.com/77281977/157580226-94e047dd-f93d-4f63-8919-478aa7255fba.png)
是少了什么库吗

[2022-03-10 03:20] zhenzi0322 opened #1858 "部署时出现问题KeyError: "LoadImages does not exist in availabel transforms"
报错信息如下：

KeyError: "LoadImages does not exist in availabel transforms:['Compose', 'RandomHorizontalFlip', 'RandomVerticalFlip', 'Resize', 'ResizeByLong', 'ResizeByShort', 'LimitLong', 'ResizeRangeScaling', 'ResizeSte
pScaling', 'Normalize', 'Padding', 'PaddingByAspectRatio', 'RandomPaddingCrop', 'RandomCenterCrop', 'ScalePadding', 'RandomNoise', 'RandomBlur', 'RandomRotation', 'RandomScaleAspect',

[2022-03-10 03:24] #1858 closed, assigned to nobody

[2022-03-10 04:46] SurvivorNo1 commented on #1843
[> > 您好，请问你解决这个问题了吗？我也遇到了这个
](https://github.com/PaddlePaddle/PaddleSeg/issues/1843#issuecomment-1063573502)

[2022-03-10 04:48] SurvivorNo1 commented on #1843
谢谢你的数据集，能请教一下产生问题的原因吗？因为我也是需要用自己的数据集，训练其他的模型

[2022-03-10 05:01] zhenzi0322 commented on #1843
你的数据集是怎么样的了，你报的错误是什么？发出来看看，你怎么找到这里的，我记得我关闭了这个链接了的

[2022-03-10 05:39] SurvivorNo1 commented on #1843
我也是使用的自定义数据集，然后报错是和你一样的。我换了一个数据集是可以启动训练的，但是就是自定义的无法开始训练。

[2022-03-10 05:42] zhenzi0322 commented on #1843
你自定义的数据集的尺寸是多大的？ 配置文件中的内容发出来看一下

[2022-03-10 06:13] SurvivorNo1 commented on #1843
我的自定义数据集内，有两种尺寸的图片 1920*1024  1024*851
配置文件：
train_dataset:
dataset_root:/home/aistudio/data/data_2022 mode: train
num_classes:4
train_path:/home/aistudio/data/data_2022/train_list.txt transforms:
-max_scale_factor: 2.0
min_scale_factor:0.5
scale_step_size:0.25
type:ResizeStepScaling
crop_size:
-864
-486
type:RandomPaddingCrop
type:RandomHorizontalFlip
brightness_range:0.4
contrast_range: 0.4
satu

[2022-03-10 06:16] zhenzi0322 commented on #1843
咱两的配置文件都不一样呢？你能格式化一下配置文件的内容再发出来不？

[2022-03-10 06:34] zhenzi0322 opened #1860 "如何把两个.pdparams文件合成到一个文件中？"
怎么样把两个`.pdparams`文件合成到一个`.pdparams`文件中。还有就是两个`.pdopt`合成到一个`.pdopt`文件中呢？

[2022-03-10 07:36] haoyuying commented on #1860
可以尝试先paddle.load把两个文件用key和value的形式读取出来，再用pickle.dump重新合并写入。

[2022-03-10 07:38] haoyuying commented on #1857
因为训练和测试时候图的size是不一样的，训练的 时候图像进行了剪切等操作，在predict时候图像没有进行尺寸的变化。

[2022-03-10 07:43] zhenzi0322 commented on #1860
好的，谢谢了。

[2022-03-10 07:44] zhenzi0322 commented on #1860
@haoyuying 您好，我这还有一个小问题。如下：
[code]
训练后的结果，怎么判断模型是否训练得差不多了呢？

[2022-03-10 08:03] zhenzi0322 commented on #1860
报错如下：
[code]

我是先采用`paddle.load(model_path)`把两个文件的`key`和`value`读取出来，用`pickle.dump`合并写入的。然后就报上面的错误了。

代码如下：
[code]

[2022-03-10 08:09] haoyuying commented on #1860
tensor转成numpy形式看看

[2022-03-10 08:09] SurvivorNo1 commented on #1843
batch_size: 4
iters: 160000

train_dataset:
  type: Dataset
  dataset_root: /home/aistudio/data/data_2022
  train_path: /home/aistudio/data/data_2022/train.txt
  num_classes: 4
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0.25
    - type: RandomPaddingCrop
      crop_size: [864, 486]
    - type: RandomHorizontalFlip

[2022-03-10 08:17] SurvivorNo1 commented on #1843
[[](url)](https://github.com/SurvivorNo1/-/blob/d5b4572177ec66057f18c8e133e8615d5668907d/QQ%E6%88%AA%E5%9B%BE20220310161044.png)

[2022-03-10 08:18] SurvivorNo1 commented on #1843
![This is an image](https://github.com/SurvivorNo1/-/blob/d5b4572177ec66057f18c8e133e8615d5668907d/QQ%E6%88%AA%E5%9B%BE20220310161044.png)

[2022-03-10 08:19] zhenzi0322 commented on #1860
合成是合成了，但是合成的模型预测的效果是最后一个模型的效果，第一个模型的效果就没有了

[2022-03-10 08:23] zhenzi0322 commented on #1843
你这个项目都跟我这边的项目都不是一样的呢？你用的是城市分割，我用的是Mattings。我也不清楚你那边是什么出错

[2022-03-10 08:25] zhenzi0322 commented on #1860
两个模型的`key`都是一样的，这样怎么合并呢？合并的话就会有一个模型会去掉value的值。这种如何解决呢？还是说我可以自定义`key`来解决这个合并问题。

[2022-03-10 08:27] zhenzi0322 commented on #1860
@haoyuying  模型文件中的`keys`如下：
[code]

[2022-03-10 08:27] SurvivorNo1 commented on #1843
可以分享一下你是怎么解决的吗?我可以做个参考，谢谢啦

[2022-03-10 11:03] nqthai309 commented on #1839
YES, I follow this guide
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/deployment/inference/cpp_inference.md

[2022-03-10 11:16] justld opened #1861 "[Feature Request]模型裁剪和量化结合"
PaddleSeg团队你们好，目前paddleseg模型压缩提供裁剪和量化功能，但是2者功能是分开的，且裁剪后的模型不好使用paddleseg的量化功能直接量化，请问有把模型裁剪和量化结合的计划吗？

[2022-03-10 11:38] gh10242048 commented on #1817
两个都是0.5，在同一个数量级上呀

[2022-03-10 11:39] gh10242048 commented on #1828
在现有的模型上做finetune（398x224）那个，怀疑是模型的问题，不是数据的问题

[2022-03-10 12:39] justld commented on #1856
最好可以限制不裁剪辅助分割头，不然的话裁剪掉的全是辅助头的卷积核（因为在evaluate的时候辅助分割头没用，对敏感度无任何影响）。上面辅助头的裁剪比例都是0.9，但是辅助头在预测时候没用，所以裁剪后效果不太明显。

[2022-03-10 13:07] justld commented on #1856
[code]

[2022-03-10 15:52] 6UOOON9 opened #1862 "[Feature Request]请问有无提供PP-HumanSeg的Deeplabv3P/ResNet50这一模型的.yml配置文件？"
我注意到PP-HumanSeg项目中的configs目录下只提供了fcn_hrnetw18_small_v1_humanseg_192x192这一模型的.yml配置文件。
.md中也提到了包括Deeplabv3P/ResNet50在内的好几个模型，但都没有提供相应的.yml配置文件。

[2022-03-11 05:28] FanPan3359 opened #1863 "想训练分割表格线 请问支持tablebank数据集吗"
想训练分割表格线 请问支持tablebank数据集吗

[2022-03-11 06:56] Huihuihh commented on #1853
同问，少了什么库

[2022-03-11 07:01] Huihuihh opened #1864 "如何提升PaddleSeg gpu的推理速度"
需要推理一张4M大小的图片，发现使用deploy/python/infer.py推理时，我打印run()耗时，需要500ms左右
[code]
![image](https://user-images.githubusercontent.com/50944935/157818202-d01c3d29-3da2-43db-ab24-debe467413f0.png)

开启tensorrt，耗时好像没有减少，有什么方法能够提升下gpu推理速度吗

[2022-03-11 07:09] Huihuihh opened #1865 "如何提升PaddleSeg gpu的推理速度"
需要推理一张4M大小的图片，发现使用deploy/python/infer.py推理时，我打印run()耗时，需要500ms左右
[code]
![image](https://user-images.githubusercontent.com/50944935/157818202-d01c3d29-3da2-43db-ab24-debe467413f0.png)

开启tensorrt，耗时好像没有减少，有什么方法能够提升下gpu推理速度吗

[2022-03-11 10:18] Wang-Zhenxing commented on #1458
请问您解决这个问题了吗？我这也报这个错误。

[2022-03-11 11:48] ql390962 opened #1866 "RuntimeError: The length of logits_list should equal to the types of loss config: 2 != 1."
环境：PaddleSeg release/2.3，PaddlePaddle 2.2.1，Windows，Python3.7，CUDA11.2/CUDNN8.1.1

使用paddleseg.core.train和paddleseg.model做语义分割。输入图像为两图像叠加，6通道，unet和unet++可以正常运行。使用ocrnet，backbone用ResNet50_vd报错。

Traceback (most recent call last):
  File "C:/Users/li/Desktop/unet/paddle-unet/train_ocrnet.py", line 45, in <module>
    use_vdl=True)
  File "C:\Anaconda3\lib\site-packages\paddleseg\core\train.py", line

[2022-03-12 03:00] kjdhbcs commented on #1646
您好请问在aistudio中怎么修改"/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/hapi/dynamic_flops.py"文件的内容呀？

[2022-03-13 03:07] SurvivorNo1 opened #1867 "[General Issue] EOFError: marshal data too short"
请问训练时出现这种情况是什么原因啊，我以1024\*1024训练是没有这个问题，当我修改为512\*512时就出现了如下错误：下面是报错信息和配置文件以及环境信息

[code]

[code]

[2022-03-13 08:34] justld commented on #1866
检查一下，是不是网络输出的logits数量和损失函数数量不符合，如果返回2个logits，那么config的损失函数应该有2个。

[2022-03-14 01:54] zhenzi0322 commented on #1864
线程

[2022-03-14 02:01] Huihuihh commented on #1733
通过cv2.findContours获取缺陷轮廓，再通过获取轮廓其中一个点对应的值，就可以得到该区域缺陷对应的class id
binary = np.array(mask)
binary = binary.astype(np.uint8)
binary, contours, hierarchy = cv2.findContours(binary,cv2.RETR_LIST,cv2.CHAIN_APPROX_SIMPLE)
for i in range(n):
    class_id = binary[contours[i][0][0][1],contours[i][0][0][0]]

[2022-03-14 02:44] LutaoChu commented on #1862
PP-HumanSeg目前提供的模型仅用于推理或finetune，点击链接下载，解压后的deploy.yml文件 即为对应推理yml文件。例如https://paddleseg.bj.bcebos.com/dygraph/humanseg/export/pphumanseg_lite_generic_192x192_with_softmax.zip
fcn_hrnetw18_small_v1_humanseg_192x192的yml文件是用于训练演示使用

[2022-03-14 02:48] LutaoChu commented on #1863
目前还不支持。你可以将其转换为符合PaddleSeg的格式后使用

[2022-03-14 03:07] zhenzi0322 opened #1869 "抠头发丝有白边，白边怎么处理的?"
示例如下：
![image](https://user-images.githubusercontent.com/34839719/158098086-01805273-0e0a-4cc2-a317-5d305c9ceefe.png)

![image](https://user-images.githubusercontent.com/34839719/158098261-b381cdd4-0ead-4eab-8e56-34d7db24eb83.png)

[2022-03-14 03:18] #1863 closed, assigned to LutaoChu

[2022-03-14 03:27] tuantran23012000 opened #1870 "[Bug] ValueError: (InvalidArgument) The number of input's channels should be equal to filter's channels * groups for Op(Conv)"
The input's channels are 1024, the input's shape is [1, 1024, 1024, 3];
the filter's channels are 3, the filter's shape is [64, 3, 3, 3];
the groups are 1, the data_format is NCHW.
The error may come from the wrong data_format setting.
  [Hint: Expected input_channels == filter_dims[1] * groups, but received input_channels:1024 != filter_dims[1] * groups:3.] (at ..\paddle/fluid/operators/conv_op.c

[2022-03-14 03:33] juncaipeng commented on #1869
我们在持续改进，目前暂时还只能做到这种程度，需要人工再筛查一下不好的图像。

[2022-03-14 03:36] juncaipeng commented on #1870
You should use use np.transpose to change the dims of input image from n*h*w*c to n*c*h*w.

[2022-03-14 03:39] tuantran23012000 commented on #1870
thank you, I resolve this bug

[2022-03-14 03:39] #1870 closed, assigned to juncaipeng

[2022-03-14 03:40] juncaipeng commented on #1865
你应该是使用了TRT的动态shape进行预测吧，请参考这个[文档](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/docs/deployment/inference/python_inference_cn.md)，使用动态收集Shape的方式，试一下。
以前的TRT动态shape模型，可能实际跑TRT的算子比较少。

[2022-03-14 03:53] zhenzi0322 commented on #1869
是筛查出数据集中不好的图像，把不好的图像删除掉，然后再拿去训练嘛？

[2022-03-14 03:53] zhenzi0322 commented on #1869
@juncaipeng
是筛查出数据集中不好的图像，把不好的图像删除掉，然后再拿去训练嘛？

[2022-03-14 03:55] juncaipeng commented on #1869
是的

[2022-03-14 03:59] zhenzi0322 commented on #1869
@juncaipeng
哪些是不好的图像呢？我采用的数据集都是个人专门挑选出来的。alpha图像方面也是较好的。

[2022-03-14 04:23] tuantran23012000 opened #1872 "[General Issue] cv2.addWeighted"
cv2.addWeighted requires original_img and pseudo_img, which have the same size and the same number of channels, but, the original_img has (h,w, channels),  the original_img has (h,w, classes) in the contrast. In the case channels # classes, can we use?

[2022-03-14 09:07] LutaoChu commented on #1817
我的意思是loss的数值在一个数量级上，不是权重

[2022-03-14 12:39] juncaipeng commented on #1867
从log来看是删除过多的checkpoint错误，应该不是该size的问题。你尝试换一个输出路径进行保存。

[2022-03-15 05:24] SurvivorNo1 commented on #1867
谢谢啦，按您说的已解决

[2022-03-15 07:36] wuyefeilin commented on #1869
用develop分支试试哈

[2022-03-15 12:06] juncaipeng commented on #1856
好的，目前我们是直接集成paddleslim的剪枝功能，会尽快修复改bug。

[2022-03-15 12:06] #1867 closed, assigned to juncaipeng

[2022-03-15 12:10] juncaipeng commented on #1864
这个是什么模型啊？
建议开启enable_auto_tune来测试模型速度，可能原先的方式很少op在trt上执行。

文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/deployment/inference/python_inference_cn.md

<img width="1033" alt="image" src="https://user-images.githubusercontent.com/52520497/158374775-b1187994-ed01-486d-afb2-0252f45981f4.png">

[2022-03-15 12:52] The-Sun-Kernel opened #1874 "[Bug]你好，文档教程里的1.安装指南和2.快速开始，其中的训练测试命令，无法运行，请问该怎么操作呢"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-03-15 12:53] The-Sun-Kernel commented on #1874
python predict.py \
       --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml \
       --model_path https://bj.bcebos.com/paddleseg/dygraph/optic_disc/bisenet_optic_disc_512x512_1k/model.pdparams\
       --image_path docs/images/optic_test_image.jpg \
       --save_dir output/result

[2022-03-15 12:54] The-Sun-Kernel commented on #1874
这个训练测试命令，由于有回车和反斜杠，无法运行。因为他会自动识别回车，导致语句断行运行。

[2022-03-15 12:56] The-Sun-Kernel commented on #1874
但是，如果我去掉回车，依然报错：因为无法识别反斜杠

[2022-03-15 12:56] The-Sun-Kernel commented on #1874
请问该如何运行训练命令呢

[2022-03-16 02:30] shiyutang commented on #1874
Based on what you described, you seem to be running the command on windows. You can try the command as
[code]

[2022-03-16 02:33] shiyutang commented on #1872
You can use the argmax function on psedo-image with shape (h, w, classes) and turn it into (h,w). In this way, you can use the cv2.addWeighted correctly.

[2022-03-16 04:07] #1872 closed, assigned to shiyutang

[2022-03-16 08:48] weiqingtangx opened #1875 "PaddleSeg Matting训练运行导致CPU和内存爆炸"
按照官方的教程（[https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/contrib/Matting/README_CN.md）
进行训练，CPU和内存爆炸然后直接被kill了，请问怎么解决啊。谢谢。(https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/contrib/Matting/README_CN.md%EF%BC%89%E8%BF%9B%E8%A1%8C%E8%AE%AD%E7%BB%83%EF%BC%8C%E5%86%85%E5%AD%98%E7%88%86%E7%82%B8%E7%84%B6%E5%90%8E%E7%9B%B4%E6%8E%A5%E8%A2%ABkill%E4%BA%86%EF%BC%8C%E8%AF%B7%E9%97%AE%E6%

[2022-03-16 10:09] The-Sun-Kernel commented on #1874
okay，thank you！

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年03月16日 10:30 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleSeg] [Bug]你好，文档教程里的1.安装指南和2.快速开始，其中的训练测试命令，无法运行，请问该怎么操作呢 (Issue #1874) |

Based on what you described, you seem to be running the command on windows. You can try the command as

python predict.py  --config configs/quick_start/bi

[2022-03-16 10:11] The-Sun-Kernel opened #1877 "[General Issue]paddleseg训练数据集问题"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-16 10:12] The-Sun-Kernel commented on #1877
请问paddleseg用于训练ISPRS Potsdam和vaihingen数据集，标签用彩色图训练还是灰度图训练呢，最后预测结果图的展现需要自己写代码吗

[2022-03-16 10:48] The-Sun-Kernel commented on #1877
请问是否有将数据集标签进行二值化的代码呢

[2022-03-16 13:23] #1757 closed, assigned to michaelowenliu

[2022-03-16 15:00] rose-jinyang commented on #1798
Hi @LutaoChu
Did u implement PyTorch version of this loss?

[2022-03-17 00:51] GreatV opened #1878 "split_dataset_list.py 数据集划分脚本可能存在bug"
此处，使用round计算划分后的数量，在特定情况下，会多计算一个数量。导致 `IndexError: index xxx is out of bounds for axis yyyy with size xxxx` 错误。

https://github.com/PaddlePaddle/PaddleSeg/blob/a19180fd199c10676ee27f57bd2f52bcd6a07767/tools/split_dataset_list.py#L127

如：

[code]

建议将`round`改为`int`。

[2022-03-17 02:41] srzxDragon opened #1879 "Out of memory error on GPU 0"
1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: 2.2.2, PaddleSeg-release-2.4
 3. Operation system: Ubuntu 16.04.7 LTS
 4. Python version: Python 3.7.11
 5. CUDA/cuDNN version: CUDA Version: 10.1
 6. Additional context: (Add any other context about the problem)
 # 问题描述
在使用cityscapes数据集训练danet, dnlnet, segformer等模型时，训练阶段一切正常，但是在eval阶段gpu

[2022-03-17 03:18] srzxDragon commented on #1879
这个问题的原因应该是输入图片过大，我觉得我应该找到了某种解决的方法。在val.py中的滑动窗口测试法可以解决这个问题，但是为什么paddleseg/core/val.py中没有这个滑动窗口这个选项，可以试着改动一下这部分的代码。

[2022-03-17 05:44] srzxDragon commented on #1879
可以再配置文件中添加test_config的内容
[code]
在eval时使用滑动窗口测试，选择适合的crop_size和stride，来适应显存大小

[2022-03-18 02:18] hebangwen commented on #1809
Hi, I also have this problem. My solution is to comment all code that raises Exceptions. After commenting all of this code, it will begin to inference immediately.

[2022-03-18 02:54] #1875 closed, assigned to nobody

[2022-03-18 04:14] LutaoChu commented on #1878
int也存在同样的问题，少一个数量
[code]

[2022-03-18 04:16] LutaoChu commented on #1878
请提供下出错的复现步骤

[2022-03-18 04:40] GreatV commented on #1878
对于自定义的数据集来说，少一个样本影响不大吧。或者使用减法：

[code]

[2022-03-18 19:33] varungupta31 commented on #1809
@BangwenHe Thanks for the reply, I partially completed my need to use this segmenter by using Detic instead for the time being/If I need to return to PaddleSeg for some reason, I will keep this in mind. This hopefully helps someone else facing similar issue as well :)

 Keeping the thread open until it is officially resolved by the dev team.

[2022-03-19 00:37] zhongqiu1245 opened #1882 "请问如何替换Unet中的encoder？"
作者您好！
请问请问如何替换Unet中的encoder？比如我想把其中的encoder替换成带有pretrain的resnet50，请问我该如何修改代码呢？
谢谢！

[2022-03-19 03:26] zhongqiu1245 opened #1883 "医学数据集多通道输入 npy格式"
作者你好
我想用pdseg作医学影像分割，输入的图像为6通道的npy。请问如何输入？

[2022-03-19 08:46] Jinji97 opened #1884 "AttributeError: 'NoneType' object has no attribute 'astype' 报错求救，文件路径是对的"
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/

[2022-03-19 08:48] zhongqiu1245 opened #1885 "请问如何利用epoch模式来训练mmseg？并每隔一个epoch保存文件？"
谢谢！

[2022-03-19 11:10] #1878 closed, assigned to LutaoChu

[2022-03-20 02:52] Jinji97 commented on #82
怎么修改呀
def get_color_map_list(num_classes):
    colormap = [
        128, 64, 128, 244, 35, 232, 70, 70, 70, 102, 102, 156, 190, 153, 153,
        153, 153, 153, 250, 170, 30, 220, 220, 0, 107, 142, 35, 152, 251, 152,
        0, 130, 180, 220, 20, 60, 255, 0, 0, 0, 0, 142, 0, 0, 70, 0, 60, 100, 0,
        80, 100, 0, 0, 230, 119, 11, 32
    ] + [0, 0, 0] * (256 - num_classes)

    return colormap

[2022-03-20 04:08] Jinji97 opened #1886 "怎么修改mask的颜色，默认颜色为红和绿，我想修改为黑和白"
def get_color_map_list(num_classes, custom_color=None):
    """
    Returns the color map for visualizing the segmentation mask,
    which can support arbitrary number of classes.

    Args:
        num_classes (int): Number of classes.
        custom_color (list, optional): Save images with a custom color map. Default: None, use paddleseg's default color map.

    Returns:
        (list). The col

[2022-03-20 05:12] lzy-coder opened #1887 "有没有PP-HumanSeg里面能够直接跑的数据集可以下载"
目前只能使用飞浆帮忙打包的mini_supervisely，这样的数据集太少了，无法满足训练的要求

[2022-03-20 12:30] weiqingtangx opened #1888 "请问有脚本可以一键分割出前景吗？"
你好，非常感谢你们开源了PaddleSeg，PaddleSeg是我用的最舒服的一个分割库，使用非常简单，文档也非常齐全，对于刚入门的开发者来说极大的降低了入门的门槛。

通过几天的学习和训练我已经完成我的训练模型，想请问下有没现成的脚本能分割出前景并替换背景呢？

[2022-03-21 02:34] juncaipeng commented on #1882
Unet不支持通过config yaml文件直接修改backbone，需要改动unet的组网代码，具体在如下文件。

<img width="382" alt="image" src="https://user-images.githubusercontent.com/52520497/159198254-f8c4c485-ec00-4c3c-a24a-68955acf22a2.png">

[2022-03-21 02:36] juncaipeng commented on #1883
目前pdseg文档给出的dataset配置都是图像，无法直接支持6通道的npy数据。
你需要多看看seg的文档和dataset目录代码，原理比较简单，就是一个迭代器，只是要根据你的情况改代码。

[2022-03-21 02:38] juncaipeng commented on #1884
错误显示是读取图像错误，应该是路径配置不对。可以多参考seg文档，调试一下。

[2022-03-21 02:41] juncaipeng commented on #1885
ppseg不支持根据epoch来保存模型，只能根据iters来保存模型。参考：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/train/train.md

[2022-03-21 02:44] juncaipeng commented on #1886
你可以自己修改color_map数组的数值。如果是两类，可以试试修改为 color_map = [0,0,0, 255,255,255]

[2022-03-21 02:45] juncaipeng commented on #1887
请参考pp-humanseg论文发送邮件申请数据集。

[2022-03-21 02:45] #1887 closed, assigned to nobody

[2022-03-21 02:45] lzy-coder commented on #1887
这是来自QQ邮箱的假期自动回复邮件。
 
邮件已经收到啦

[2022-03-21 02:56] #1885 closed, assigned to juncaipeng

[2022-03-21 03:25] debug851 opened #1889 "[General Issue] ValueError: all input arrays must have the same shape"
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/data/program/miniconda3/envs/wj/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/data/program/miniconda3/envs/wj/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/data/program/miniconda3/envs/wj/lib/python3.6/site-packages/paddle/fluid/datal

[2022-03-21 09:28] Sun-Wenfeng opened #1893 "[General Issue]对训练好的Matting模型进行精度测试时，怎么调用metric脚本内的Grad函数和Conn函数"
用自己的数据集训练好了一个Matting模型，在做测试时想要知道Grad和Conn的值，但是函数调用时总是报错，应该怎么解决？或者应该怎么调用？
![截屏2022-03-21 下午5 28 06](https://user-images.githubusercontent.com/62273265/159234509-53cb7067-d5c7-4725-a1f2-a3264e724476.png)

[2022-03-21 09:50] michaelowenliu commented on #1809
@BangwenHe @varungupta31 Hi all, we have fixed the bug after merging this pr, https://github.com/PaddlePaddle/PaddleSeg/pull/1816. Please use the latest develop branch.

[2022-03-21 11:48] Jinji97 commented on #1886
我通过加入参数  --custom_color 0 0 0 255 255 255
就可以改变mask颜色了
谢谢您

[2022-03-21 11:51] Jinji97 commented on #1884
我调了好多次，还是不行，你能发个参考的格式么，比如链接文档这些

[2022-03-21 12:35] juncaipeng commented on #1888
你好，seg不提供通用前景和背景分割的模型，通常需要用户自己根据实际场景，标注前景和背景，训练模型进行分割。

[2022-03-21 12:37] juncaipeng commented on #1889
你可以代码中打印出来dataset每次返回的tensor shape。
你如果是使用config配置模型的train dataset，需要明确RandomPaddingCrop预处理后不要再调整图像size。

[2022-03-21 12:42] wuqi930907 opened #1896 "pred = pred.numpy().astype('uint8')此行代码执行速度过慢"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：paddleseg==2.4.0
 2. PaddlePaddle版本：paddlepaddle-gpu==2.2.1.post101
 3. 操作系统信息： Ubuntu16.04
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本：CUDA10.1/cuDNN 7.6.5
 6. CPU: Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz
 7. GPU: TITAN Xp

我在进行HarDnet模型推理时，测试了下推理速度，我修改了paddleseg/core/predict.py中第120行的代码如下
![1647866428(1)](https://user-images.githubuserco

[2022-03-21 13:55] xinliyangguang opened #1898 "[Bug] (External) CUDA error(702), the launch timed out and was terminated."
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version:  PaddleSeg release/2.3
 2. PaddlePaddle version: paddlepaddle-gpu 2.2.2
 3. Operation system: Win10
 4. Python version: python3.6
 5. CUDA/cuDNN version: CUDA10.2/cuDNN 7.6.5
 6. Full codes: (if you modify any original code，please show the comparison of the codes before and a

[2022-03-22 02:55] wuyefeilin commented on #1825
换成以下代码试试：
class Grad():
    """
    Only calculate the unknown region if trimap provided.

    Refer to: https://github.com/open-mlab/mmediting/blob/master/mmedit/core/evaluation/metrics.py
    """

    def __init__(self):
        self.grad_diffs = 0
        self.count = 0

    def gaussian(self, x, sigma):
        return np.exp(-x**2 / (2 * sigma**2)) / (sigma * np.sqrt(2 * np.pi))

    def dgaus

[2022-03-22 02:56] wuyefeilin commented on #1893
换成以下试试
class Grad():
    """
    Only calculate the unknown region if trimap provided.

    Refer to: https://github.com/open-mlab/mmediting/blob/master/mmedit/core/evaluation/metrics.py
    """

    def __init__(self):
        self.grad_diffs = 0
        self.count = 0

    def gaussian(self, x, sigma):
        return np.exp(-x**2 / (2 * sigma**2)) / (sigma * np.sqrt(2 * np.pi))

    def dgaussia

[2022-03-22 03:11] zhenzi0322 commented on #1832
物体间的抠图如何有效地解决，前几天采用了`dim`进行数据集地训练，但是效果很差，我在配置文件中把get_trimap设置为False，我的数据集本身没有提供trmap图像。想不明白为什么效果会这么差

[2022-03-22 04:04] zhenzi0322 opened #1900 "dim模型训练时的问题"
dim.yml
[code]

采用`dim`进行训练出现如下错误：
[code]

[2022-03-22 06:06] wuqi930907 opened #1901 "PaddleInferTensor能不能提供一个copy_from_tensor这样的功能"
目前使用numpy在cpu上做transforms非常耗时，我想把这些transforms放到GPU上去实现，那PaddleInferTensor能不能提供一个类似于copy_from_tensor的函数，用来接收GPU上的paddle.tensor类型数据，或者接收Cupy类型的数据呢

[2022-03-22 07:59] XiePeiyao opened #1902 "backbone替换问题"
您好！PaddleSeg中的backbone类型包括vit，但是何种架构可以调用vit作为backbone？还是暂时未提供该功能，不可将FCN以及其他架构的backbone设置为vit？期待您的答复！谢谢！

[2022-03-22 08:14] Sun-Wenfeng commented on #1893
我可以正常使用Grad函数，但是当我调用Conn函数时，会提示No stack trace in paddle。这会是什么原因导致的？
![截屏2022-03-22 下午4 14 24](https://user-images.githubusercontent.com/62273265/159436538-2b91e26b-d5fc-4136-a39f-d6c4de0e5ba6.png)

[2022-03-22 10:15] zhenzi0322 opened #1903 "如何把enable_use_gpu(100, 0)修改成多卡"
如何把enable_use_gpu(100, 0)修改成多卡

[2022-03-22 10:54] ql390962 opened #1904 "[Feature Request]"
您好，paddleseg.utils.metrics能否增加F1，Recall, Precision。

[2022-03-22 12:53] GexLoong opened #1906 "[General Issue]新冠"
请问这个项目能用于新冠图像分割吗，类似于那种能够检测部分区域进行框出分割的。我读了这个项目相关案例，感觉知识用于进行区域分割的，不像是包含新冠检测的

[2022-03-23 01:27] ttttnnnn13 opened #1907 "跑一个四分类数据集，发现只有背景和一个类别有评估结果，其余两类就直接显示0. ，请问有什么解决方法吗，是跑的deeplabv3+"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-23 02:12] wuyefeilin commented on #1902
可以的哈，不过我们这边没有提供相应的配置文件，你可以仿照其它的配置文件构建自己的配置文件进行，或者直接调用API进行组合

[2022-03-23 02:31] shiyutang commented on #1907
You need to provide some information for us to solve your problem. It will be better if you paste the training log.

1. What is the ratio of each class in your dataset?
2. how long have you trained your model?
3. what does your data looks like?

[2022-03-23 02:35] shiyutang commented on #1906
From what you described, it seems to be a two-stage solution. First, you detect that coronavirus ROI area then you segment it. It will be better if you provide one of the images that you want to segment. And what is the "项目相关案例" that you read?

[2022-03-23 02:40] shiyutang commented on #1904
The metrics that you mentioned are used in detection rather than in segmentation. How do you think it can be used in paddleseg? I believe that you can find these implementations in paddledetection.

[2022-03-23 02:44] wuyefeilin commented on #1832
DIM是基于trimap的方法的，get-trimap得设置为True. 如果不想使用trimap，可以使用modnet进行训练

[2022-03-23 02:49] wuyefeilin commented on #1903
如果你要进行多卡训练的话请参考训练教程https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/whole_process.md#37-muti-card-training

[2022-03-23 02:50] shiyutang commented on #1906
BTW, can you share the information about which project do you intend to use PaddleSeg?

[2022-03-23 02:51] wuyefeilin commented on #1896
这样代码设计到从gpu传输数据到cpu， 如果tensor较大会费时较多时间

[2022-03-23 02:53] wuyefeilin commented on #1898
更新paddleseg版本重新运行一下看看能不能解决问题

[2022-03-23 02:54] wuyefeilin commented on #1900
dim需要提供trimap进行训练，get_trimap: True

[2022-03-23 02:55] shiyutang commented on #1901
If you want to use GPU in transform, you can try "import cupy as np" in the transform file. And I am not sure why do you need copy_from_tensor?

[2022-03-23 02:59] shiyutang commented on #1874
It seems the issue has been solved. I will close it.

[2022-03-23 02:59] #1874 closed, assigned to shiyutang

[2022-03-23 03:01] shiyutang commented on #1853
You need to install auto_log as described here:
<img width="836" alt="image" src="https://user-images.githubusercontent.com/34859558/159615546-b367af75-00b8-4aaa-a4ec-607d557a197a.png">

The tutorial to install: https://github.com/LDOUBLEV/AutoLog

[2022-03-23 03:04] shiyutang commented on #1436
This issue has no response for a long time. I will close it now. If you have further questions, please reopen it.

[2022-03-23 03:04] #1436 closed, assigned to shiyutang

[2022-03-23 03:05] shiyutang commented on #1844
It seems the issue has been solved and I will close it now. If you have further issues, please reopen it.

[2022-03-23 03:05] #1844 closed, assigned to shiyutang

[2022-03-23 03:06] shiyutang commented on #1450
This issue has no response for a long time. I will close it now. If you have further questions, please reopen it.

[2022-03-23 03:06] #1450 closed, assigned to shiyutang

[2022-03-23 03:07] shiyutang commented on #1569
This issue has no response for a long time. I will close it now. If you have further questions, please reopen it.

[2022-03-23 03:07] #1569 closed, assigned to shiyutang

[2022-03-23 03:09] shiyutang commented on #1652
This issue has no response for a long time. I will close it now. If you have further questions, please reopen it.

[2022-03-23 03:09] #1652 closed, assigned to shiyutang

[2022-03-23 03:46] zhenzi0322 commented on #1903
我不是多卡训练，我是要在部署时使用多卡

[2022-03-23 06:37] XiePeiyao commented on #1902
谢谢您的解答！但是运行到下面语句的第三句会出现错误，显示vision_transformer不具有feat_channels
        self.backbone = backbone
        self.use_jpu = use_jpu
        in_channels = self.backbone.feat_channels

[2022-03-23 06:45] zhenzi0322 opened #1908 "dim训练500迭代后预测的问题"
请教一下：我在使用`dim`模型时遇到的一些问题如下：
第一种情况：
![image](https://user-images.githubusercontent.com/34839719/159639170-fe6c5dc3-7f5b-4e33-839a-95b5a3b8ce52.png)

我提供了`trimap`图像进行训练的，在预测时没有提供`--trimap_path`，为什么会发生成这种情况的呢？

第二种情况是如下：
![image](https://user-images.githubusercontent.com/34839719/159640572-b118237a-7a18-43e6-8bad-66e1880e085c.png)

我提供了`trimap`图像进行训练的，第二种情况预测时提供了`--trimap_path`，这样预测的结果好一点，但是抠的图的周边会出现

[2022-03-23 06:46] wuyefeilin commented on #1903
部署不支持多卡

[2022-03-23 06:47] zhenzi0322 commented on #1903
好的

[2022-03-23 06:47] #1903 closed, assigned to wuyefeilin

[2022-03-23 07:38] T0L0ve opened #1909 "[General Issue]如何在4K分辨率（3840*2160）的图像上进行语义分割"
我想训练一个模型在4k分辨率的图像上进行语义分割，但我发现所有的配置文件中最大的crop_size也只有1024*1024。
如果我将图像resize成小分辨率这可能会导致损失一些特征信息，而如果对图像进行裁剪这可能导致损失一些上下文信息。
我需要如何处理我的图像？

[2022-03-23 11:07] wuqi930907 commented on #1901
@shiyutang 谢谢您的回答，因为我发现用cupy或者paddle.tensor(gpu版)进行预处理之后，再从cupy或者paddle.tensor转为numpy非常的耗时，而PaddleInferTensor应该也是将输入放入gpu这样的一个功能（应该是吧），所以为何预处理完成后还要将数据从gpu->cpu->gpu呢，直接PaddleInferTensor拷贝gpu内存会更有效率吧

[2022-03-23 11:08] shiyutang commented on #1909
In my opinion, you can randomly crop part of the image, as big as your video memory can tolerate,  using transform. And then use slide_inference to predict the result on the whole image. In this way:
1. The network can see all of the images if you train the model long enough.
2. You will be able to get the whole prediction.

[2022-03-23 11:08] wuyefeilin commented on #1908
不想使用trimap的话，你用modnet进行训练和预测哈

[2022-03-23 11:10] shiyutang commented on #1866
What he said is correct.

[2022-03-23 11:13] zhenzi0322 commented on #1908
麻烦看了问题再回答哈，我没有不想用`trimap`，就是想知道是不是每次预测都得传`trimap`才能抠出图来?

[2022-03-23 11:16] wuqi930907 commented on #1896
@wuyefeilin 谢谢您的回答，我发现我换各种大小的图片去推理，logits = model(im)那一步的速度永远不变，但是pred = pred.numpy().astype('uint8')这一步的速度会随着图片大小变化，照理来讲，随着图片大小的变化，推理速度应该会变化，这是因为用的动态图推理的原因吗？因为我试验静态图那边推理比较符合常理。

[2022-03-23 11:32] wuyefeilin commented on #1908
是的

[2022-03-24 02:09] juncaipeng commented on #1884
参考seg首页文档：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/README_CN.md
<img width="352" alt="image" src="https://user-images.githubusercontent.com/52520497/159827976-a4d535c4-47ae-466f-9124-01e88c8a9d14.png">

[2022-03-24 02:10] #1886 closed, assigned to juncaipeng

[2022-03-24 02:10] #1809 closed, assigned to juncaipeng

[2022-03-24 03:26] landscapelc opened #1916 "生成模型在测试集上的指标"
目前eval生成的指标只跟训练集和验证集有关，请问如何在自己的测试集上也能得到这些评估的指标呢？

[2022-03-24 03:46] faye0078 opened #1917 "[Bug] 预处理RandomCenterCrop中的问题"
PaddleSeg version: release/2.4
PaddleSeg/paddleseg/transforms/transforms.py

761 行:
label[p0:p1, p2:p3, :]
label为2维张量，多了一个":"导致运行出错

[2022-03-24 04:06] zhongqiu1245 commented on #1883
谢谢！

[2022-03-24 04:06] #1883 closed, assigned to juncaipeng

[2022-03-24 04:06] zhongqiu1245 commented on #1882
谢谢

[2022-03-24 04:06] #1882 closed, assigned to juncaipeng

[2022-03-24 08:01] ttttnnnn13 opened #1918 "您好，我在尝试改优化器的过程中遇到了如图问题，请问该法哪里有问题"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-24 08:24] haoyuying commented on #1916
您的测试集包含ground truth吗？

[2022-03-24 08:26] haoyuying commented on #1917
您好，您是使用的什么数据集导致报错呢？可否给出更具体的数据预处理策略，包括调用了哪些代码，使用的什么数据集，label的格式等，方便我们排查问题

[2022-03-24 08:31] landscapelc commented on #1916
有ground truth的

[2022-03-24 08:53] haoyuying commented on #1918
您好，您使用的optimizer必须是paddle提供的optimizer，具体的调用可以参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/cvlibs/config.py#L150

[2022-03-24 09:00] faye0078 commented on #1917
是图像语义分割的数据集，自上传的，label为8bit的单通道png图像读入，二维张量格式；
预处理过程为简单的RandomCenterCrop-RandomHorizontalFlip-Normalize；处理错误就在761行的RandomCenterCrop操作中，label的维度只有两个，不能进行三维的切割；
不过一般的数据集label应该都为二维张量，而且注意到transforms.py中其他预处理操作均为对label的二维裁剪，如695行中的RandomPaddingCrop、826行的ScalePadding操作。

[2022-03-24 09:36] shiyutang commented on #1901
请问你说的预处理是哪一部分的代码呢，我针对性查看一下

[2022-03-25 02:06] haoyuying commented on #1916
那就把它整理成val的形式来调用val相关的操作就好了

[2022-03-25 02:29] wuqi930907 commented on #1901
@shiyutang  您好，推理一张图片通常分三个步骤，预处理->推理->后处理。因为我看目前代码预处理是放在cpu上用numpy去处理的，速度很慢，所以我希望把预处理放到GPU上处理，从而更好地利用GPU，所以我进行了以下改动：
动态图推理改动后步骤：
1.将numpy图片转为paddle.tensor(CUDA)，在GPU上做Normalize；
2.用paddle.tensor(CUDA)进行推理。（测试的paddleseg/core/predict.py中logits = model(im)此行代码速度）
3.后处理。
动态图推理问题现象：照理来讲，图片的大小会影响推理那一步的速度，但是目前在我的机器上测试，一张很大的图片和一张很小的图片推理速度都是40ms，是不是动态图推理有什么异步机制。速度固定代表我推理很小的图片时FPS会很低。
静态图推理改动后步骤：
1.将numpy图片

[2022-03-25 02:45] lzhbrian commented on #1678
Hi, any updates on this?
Thanks

[2022-03-25 03:10] 02825cm opened #1921 "[Feature Request]paddleseg可以用来做工业缺陷检测吗"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-25 04:03] zhenzi0322 opened #1922 "PaddleSeg怎么在aistudio里部署呢"
请教一下`PaddleSeg`在`aistudio`怎么部署呢，有没有相关详细的`Paddleseg`部署流程之类的?

[2022-03-25 06:21] landscapelc commented on #1916
好的呢非常感谢，我去试试，请问具体是在那些地方进行相关修改呢

[2022-03-25 10:26] ttttnnnn13 commented on #1918
可是您的最新文档里有Adam等其他优化器的api接口，那我该怎么调用了，不能在配置文件里调整吗，我用的最新版paddelseg

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年3月24日(周四) 下午4:53
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 您好，我在尝试改优化器的过程中遇到了如图问题，请问该法哪里有问题 (Issue #1918)

您好，您使用的optimizer必须是paddle提供的optimizer，具体的调用可以参考https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/cvlibs/config.py#L150

—

[2022-03-25 11:21] WangRongsheng opened #1923 "[General Issue]PaddleSeg使用Unet训练自定义的数据集报错"
- PaddleSeg版本：最新
- 训练命令
[code]
- 训练报错：
[code]
- 配置文件：
[code]
- 数据集：
[code]
---

请问该怎么解决

[2022-03-25 13:02] peach-xiao commented on #1160
我找不到这个对于的模型文件  pretrained: pretrain/pretrained.pdparams在哪里，可以帮忙解决一下吗？哪里可以下载大佬知道吗？

[2022-03-25 13:19] peach-xiao opened #1924 "swin_transformer 的预训练模型有提供吗？哪里可以下载"
我想使用swin_transformer用做backbone，请问有提供在Imagenet数据集上的预训练模型吗？在PaddleSeg-release-2.4\contrib\AutoNUE\configs\swin_transformer_mla_base_patch4_window7_160k_autonue.yml的这个配置文件里有加载，但是使用的是绝对路径，请问我想使用该怎么下载呢？

![image](https://user-images.githubusercontent.com/40911688/160128401-e4b29b27-35ce-4be2-a5ac-602efe8b46c0.png)

[2022-03-25 13:36] peach-xiao opened #1925 "ViT预训练模型和数据集图片大小对应不一致问题"
paddleseg里面提供了使用VisionTransformer为backbone的分割模型segmenter,文件显示的是加载预训练模型vit_base_patch16_384_augreg.tar.gz，这个模型表示是在ImageNet上预训练的，图片的尺寸是384的大小。

![image](https://user-images.githubusercontent.com/40911688/160130872-d98e1790-4e29-45ba-8b80-7c4d4ec93e44.png)

加载该预训练模型，为什么使用512大小的图片放入segmenter网络不会报错？按理说使用VisionTransformer为backbone,patch_size=16，不同大小的图片，裁剪后的token数量不一样（如：384x384 // 16x16 = 576,  512x512 /

[2022-03-26 07:05] #1923 closed, assigned to nobody

[2022-03-26 09:47] GexLoong opened #1927 "[Bug]自定义数据集划分报错"
问题一：按照0.7 0.2 0.1划分显示和不为1

![屏幕截图 2022-03-26 174203](https://user-images.githubusercontent.com/71758483/160234097-44a6464a-488f-4a3e-9549-f248a10c1f5a.png)

问题二：自定义数据集 原图目录有数据，但是划分时显示数据量为0
![屏幕截图 2022-03-26 174329](https://user-images.githubusercontent.com/71758483/160234085-1e93543e-daab-443e-848e-21ecb1e2f814.png)

[2022-03-26 10:12] faye0078 commented on #1917
不好意思预处理过程有问题，这个RandomCenterCrop并不能固定长宽输出，应该使用RandomPaddingCrop。
但是这个切割的bug确实存在

[2022-03-26 10:20] GexLoong commented on #1927
第二个问题明白了，第一个为什么和不为1

[2022-03-26 10:32] GexLoong commented on #1878
虽然报错了，但是我根据输出的txt算了算好像没错

[2022-03-26 10:33] GexLoong commented on #1878
根据txt将各个文件里面的行数加起来跟数据集里的数据总和一样

[2022-03-26 12:13] GexLoong opened #1928 "[General Issue]支持数据集的选择"
请问paddleseg配置文件里面数据集应该怎么选择，我的是新冠分割图像512*512，想用unet，但是unet配置文件里面没有512*512的，有1024*512的，像请问一下这个数据集选择有什么影响吗

[2022-03-27 02:29] #1928 closed, assigned to nobody

[2022-03-27 02:29] #1927 closed, assigned to nobody

[2022-03-27 03:07] GexLoong commented on #1001
请问大佬我不加RandomPaddingCrop，也为报错all the input array dimensions for the concatenation axis must match exactly, but along dimension 2, the array at index 0 has size 401 and the array at index 1 has size 512，但是我的数据图片分辨率都是512*512的，有一部分是630*630的，不知道为什么报错401，求教
配置文件如下：
val_dataset:
  type: Dataset
  dataset_root: ../data/data134998/prepare_data
  val_path: ../data/data134998/prepare_data/val.txt
  num_clas

[2022-03-27 03:30] GexLoong opened #1929 "[General Issue]unet训练过程中进行模型评估保存时报错all the input array dimensions for the concatenation axis must match exactly"
unet训练过程中进行模型评估保存时报错
![HLG3JOY%LG1)$J5@A%F7Y2C](https://user-images.githubusercontent.com/71758483/160265362-dc1412f7-0a73-452e-9253-952ce920ff43.png)
**配置文件**：
val_dataset:
  type: Dataset
  dataset_root: ../data/data134998/prepare_data
  val_path: ../data/data134998/prepare_data/val.txt
  num_classes: 2
  transforms:
    - type: Normalize
  mode: val
**源码**：
if auc_roc:
                    logit

[2022-03-27 06:33] GexLoong commented on #1929
我发现问题的原因好像是因为我的数据集中图片分辨率有512x512、630x630、630x401的，是必须化成相同的分辨率吗，能直接在配置文件里面添加数据增强操作进行裁剪吗，我把配置文件改成下面这样，报错Shape of `pred` and `label should be equal, but there are [1, 512, 512] and [1, 630, 630]. 意思是预测的大小和真实大小不同，这样子改配置文件不会修改annotation里面图片的尺寸大小吗，请问要怎么改
val_dataset:
  type: Dataset
  dataset_root: ../data/data134998/prepare_data
  val_path: ../data/data134998/prepare_data/val.txt
  num_classes: 2
  tra

[2022-03-27 15:09] monkeycc opened #1930 "[General Issue]语义分割返回的mask，如何得到mask坐标"
语义分割返回的mask，如何得到mask坐标
需要外轮廓的所有坐标点

[2022-03-28 02:49] LutaoChu commented on #1921
你好，可以的

[2022-03-28 02:50] LutaoChu commented on #1922
首页有很多部署教程，可以根据这些教程进行部署   https://github.com/PaddlePaddle/PaddleSeg/blob/develop/README_CN.md
<img width="323" alt="image" src="https://user-images.githubusercontent.com/30695251/160318270-84342e96-b23e-499c-968b-2cfa6efa6198.png">

[2022-03-28 02:55] zhenzi0322 commented on #1922
@LaraStuStu  麻烦看一下问题哈。我想知道的是在`aistudio`里的部署，不是在自己服务器上或者本地。示意图如下：
![image](https://user-images.githubusercontent.com/34839719/160319074-9c846d0e-ed96-4696-9e83-21d73c05b5e0.png)

[2022-03-28 03:16] juncaipeng commented on #1929
建议用Resize替换RandomPaddingCrop

[2022-03-28 03:17] juncaipeng commented on #1930
建议使用opencv寻找轮廓的api

[2022-03-28 03:17] #1930 closed, assigned to juncaipeng

[2022-03-28 03:19] GexLoong commented on #1929
最后还是把图片数据分辨率都改成512*512才解决了

还有个问题就是unet能和transformer结合吗，paddleseg里面有提供吗

[2022-03-28 03:21] GexLoong commented on #1929
我看paddleseg里面只有segformer好像用到了swin transformer

[2022-03-28 03:30] juncaipeng commented on #1925
不同的输入和patch，得到的token数量确实不同，但是segmenter内部会使用三次插值得到positionembedding的权重，内部tensor是b*n*c(n表示token数量)，所以内部权重不用改变。具体可以参考VisionTransformer代码。
ppseg目前还没支持swin_transformer。

[2022-03-28 03:32] juncaipeng commented on #1929
这个结合没有实现过，你可以自己看看代码进行修改。

[2022-03-28 03:32] #1678 closed, assigned to juncaipeng

[2022-03-28 07:29] LutaoChu commented on #1922
这个我没部署过。建议看看AI studio上有没有官方的部署教程呢

[2022-03-28 08:07] peach-xiao opened #1931 "滑动窗口验证相关问题"
对于Transformer相关的语义分割模型segmenter，setr，segformer的滑动窗口验证，我还有以下问题希望可以得到你们的帮助

滑动窗口验证的步长是否会影响模型验证的结果呢？比如说我的验证集图片大小是512x512，当我的滑动窗口步长分别是256和341或者别的步长，加载同样的权重模型，验证的结果是否不同？

设置滑动窗口的步长有什么注意事项吗？我注意到不同的数据集，裁剪窗口的大小和对于的步长都有所不同。如在yaml文件里设置验证Val的参数：pascal_contex数据集 验证的CROP_SIZE: [480,480], STRIDE_SIZE: [320,320]，adk数据集 CROP_SIZE: [512,512]， STRIDE_SIZE: [341,341] ，cityscapes数据集 CROP_SIZE: [768,768] STRIDE_SIZE:

[2022-03-28 09:00] Jinji97 opened #1932 "启动VisualDL查看日志，报以下错误是什么原因，help"
(paddle) E:\Program Files\model\PaddleSeg-release-2.4\PaddleSeg-release-2.4>visualdl --logdir output1/
VisualDL 2.2.3
Traceback (most recent call last):
  File "D:\ProgramFiles\Anaconda\envs\paddle\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "D:\ProgramFiles\Anaconda\envs\paddle\lib\runpy.py", line 87, in _run_code
    exec(code, run_global

[2022-03-28 12:54] Pr0Wh1teGive opened #1933 "Possibly Missing Brackets in "infer_dataset.py""
1. PaddleSeg version: 2.4
 2. PaddlePaddle version: 2.2.2
 3. Operation system: Linux
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: CUDA10.2/cuDNN 7.6.5
 6. Full codes: within deploy/python/infer_dataset.py line 284
[code]
ISSUE: Should add one more bracket over  "(total_time / len(dataset)) * 1000", otherwise the "1000" will duplicate the log information 1000 times on my machin

[2022-03-28 14:29] juncaipeng commented on #1931
结不同步长，结果差异不大，步长越小，耗时越久，精度估计高一点点。
步长一般小于窗口大小。
对的，多个小块预测，重叠区域取预测结果的平均。

[2022-03-28 14:30] juncaipeng commented on #1932
请到visual repo下提issue:https://github.com/PaddlePaddle/VisualDL

[2022-03-28 14:30] #1932 closed, assigned to nobody

[2022-03-28 14:32] juncaipeng commented on #1933
Thanks, we will check and fix it.

[2022-03-28 14:35] peach-xiao opened #1934 "optimizer.step() 报错"
我在自己的数据集上运行pspnet模型，使用的optimizer是SGD,在执行模型的一个训练后，计算损失，我查看了loss是有值的，反向传播计算模型参数的梯度后，执行optimizer.step()进行参数更新，报错了TypeError: 'str' object is not callable。PSPNet,里面的模型FCN我能正常运行，说明对于相应的数据集等配置应该是没有问题的，但是BiseNet，PSPNet，DANet等模型就出现了优化器更新的错误，我实在想不出是哪里可能出现了问题，希望能得到帮助，感谢！

![image](https://user-images.githubusercontent.com/40911688/160422088-1751a75f-d6a6-4f86-9763-a7322ee1ff81.png)

[2022-03-29 04:43] GexLoong commented on #1799
请问这个问题你解决了吗，这个inherited啥意思呢，能去掉吗

[2022-03-29 08:11] Zoujunchao opened #1938 "[Bug]人机验证失败是启动环境太多了吗，该怎么办呢？"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-03-29 09:24] LutaoChu commented on #1798
Hi，I fix this bug on CPU with Paddle. You can use it after the PR is merged

[2022-03-29 09:55] zhenzi0322 opened #1941 "如果我要训练通用人像的模型的话，那么PaddleSeg的数据集中的数据量大概是多少呢？"
如果我要训练通用人像的模型的话，那么PaddleSeg的数据集中的数据量大概是多少呢？

[2022-03-29 11:05] pazifik-cyber opened #1942 "[Bug] Transform 中的 RandomAffine Label 的 padding 值是0"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.4
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
[code]
应该需要增加 borderValue 参数

[2022-03-29 11:12] peach-xiao opened #1943 "Paddleseg是否提供了计算模型params、FPS和FLOPs的方法"
对于语义分割，很多论文中在比较模型的性能，其中模型的参数Param、FPS和FLOPs也是衡量模型性能的指标，是否可以提供计算这些指标的方法？

![image](https://user-images.githubusercontent.com/40911688/160598908-b3939e0c-7727-4601-8f82-48f7db9a50fe.png)

以上截图来源于论文CSWin Transformer: A General Vision Transformer Backbone with Cross-Shaped Windows

[2022-03-29 15:34] Pr0Wh1teGive opened #1944 "infer_dataset.py在测试cityscapes时dataset_mode可以设置为test吗"
1. PaddleSeg version: 2.4
 2. PaddlePaddle version: 2.2.2
 3. Operation system: Linux
 4. Python version: 3.7
 5. CUDA/cuDNN version: CUDA10.2/cuDNN 7.6.5
 请问infer_dataset.py的dataset_mode参数在测试cityscapes数据集的时候可以设置为"test"吗，目前会报错:

2022-03-29 15:42:49 [INFO]      Use GPU
Traceback (most recent call last):
  File "deploy/python/infer_dataset.py", line 321, in <module>
    main(args)
  File "deploy/pyt

[2022-03-30 00:59] #1933 closed, assigned to juncaipeng

[2022-03-30 02:05] wuyefeilin commented on #1938
麻烦您描述一下具体的问题哈

[2022-03-30 02:11] wuyefeilin commented on #1944
不行哈，test没有提供标签的

[2022-03-30 02:33] shiyutang commented on #1943
Yes.

1. Params are the size of the model file;
2. Flops can be calculated using [paddle.flops](https://github.com/PaddlePaddle/PaddleSeg/blob/bd46c4e3a4de788e5356c5aeff28ae2b660ab61a/paddleseg/core/train.py#L314);
3. FPS can be deduced using the data in following picture, which is generated with benchmark on in inference. Here is the doc: https://github.com/PaddlePaddle/PaddleSeg/blob/develop/doc

[2022-03-30 02:37] shiyutang commented on #1934
You should try to debug and find if there is something wrong with the optimizer because its step method seems to be a string.
Try add "import pdb; pdb.set_trace()" before this line.

[2022-03-30 02:51] shiyutang commented on #1904
We have added it in recent PR：https://github.com/PaddlePaddle/PaddleSeg/pull/1911/files#diff-35a8845cc2c228fe8a484e6b8773c603696abe77d46a20dfc357fd43f89b38fc

[2022-03-30 02:57] juncaipeng commented on #1901
动态图推理，不同输入大小，速度应该不一致的。
静态图推理中，inference不支持直接使用gpu上的数据作为输入，这样会导致内存无法管理。
既然你已经使用Paddle API实现了对GPU Tensor进行Normalize，建议将该部分代码放到组网中，这样导出模型时直接有Normalize，部署是不再需要预处理过程了。

[2022-03-30 03:14] LutaoChu commented on #1941
你是说哪个PaddleSeg数据集呢？  PP-HumanSeg14K的话一共大概1万四千张，主要是半身像场景。可以再去获取supervisely person数据集一起训练

[2022-03-30 03:24] wuqi930907 commented on #1901
@juncaipeng 谢谢您的建议，目前我是把Normalize放入网络中了，但是我换了几台机器测试paddleseg/core/predict.py中logits = model(im)这行的速度，仍然得不到我想要的结果，实在是有些想不通，也许是因为我是paddle的新手吧，我会继续尝试验证的，谢谢

[2022-03-30 03:25] #1896 closed, assigned to wuyefeilin

[2022-03-30 03:27] zhenzi0322 commented on #1941
如果我要训练`Mattings`中的`MODNet`的模型的话，我大概需要准备多少的数据量才能达到通用人像抠图的场景？

[2022-03-30 07:29] wuqi930907 commented on #1901
还是试验了动态图推理，想不明白，求大神解答 @juncaipeng @shiyutang
代码如下：
import cv2
import numpy as np
import paddle
import time
import paddle.nn.functional as F

from paddleseg.models import HarDNet

im_path = '35.jpg'
model_path = 'output_new/train_model/hardnet/best_model/model.pdparams'
crop_size = (512, 1024)
mean = (0.5, 0.5, 0.5)
std = (0.5, 0.5, 0.5)
num_class = 20

# 加载模型
model = HarDNet(num_class)
para_state_

[2022-03-30 07:58] wuyefeilin commented on #1941
越多越好咯，至少1k以上吧

[2022-03-30 08:52] zhenzi0322 commented on #1941
我准备了3k以上，但是预测不是数据集中的图片时效果就不太好了

@wuyefeilin

[2022-03-30 10:02] dgl547437235 commented on #1678
你好，使用paddleseg训练模型进行替换EISeg，这个模型是具体指哪个模型，还是任意的分割模型都可以

[2022-03-30 10:04] dgl547437235 opened #1945 "你好，关于eiseg模型替换的问题"
我该如何使用paddleseg训练出的模型来替换掉eiseg的模型，这里eiseg模型有什么要求吗

[2022-03-31 02:19] #1944 closed, assigned to wuyefeilin

[2022-03-31 02:20] haoyuying commented on #1945
您好，eiseg的模型是单独训练的，不支持该功能。

[2022-03-31 02:48] SZYD717 opened #1946 "Bisenetv1运行predict.py报错-未在配置文件中指定验证集'The verification dataset is not specified in the configuration file.'"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：release/2.4
 2. PaddlePaddle版本：PaddlePaddle 2.2.2
 3. 操作系统信息：Ubuntu20.04
 4. Python版本号：Python3.6.13
 5. CUDA/cuDNN版本：CUDA10.2/cuDNN 7.6.5

报错内容：
使用configs/bisenetv1/bisenetv1_resnet18_os8_cityscapes_1024x512_160k.yml进行测试
cityscapes数据集已放置到data/cityscapes下，和configs/_base_/cityscapes.yml文件中的dataset_root的值一致
使用预训练模型运行predict.py，具体命令如下
python

[2022-03-31 03:05] Jinji97 opened #1947 "用visualdl无法展示模型，请问怎么转成onnx格式"
![image](https://user-images.githubusercontent.com/47912612/160968037-ef4e7a19-041d-4970-8f4f-1ec669726364.png)
想可视化模型，用visualdl无法展示，请问怎么转成onnx格式，用了官方代码无法展示成功，求救

[2022-03-31 05:55] ttttnnnn13 opened #1948 "[General Issue]在调用focalloss 时出现了cuda出错，请问是版本问题吗，问题如图上传"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-03-31 06:16] wuyefeilin commented on #1941
数据集外的数据预测比较差是正常的，可以在训练时多加一些数据增强，如颜色扰动，模糊等较少过拟合。

[2022-03-31 06:46] SZYD717 commented on #1946
问题已解决，需要使用./tools下的create_dataset_list.py和convert_cityscapes.py进行索引提取和格式转换。

[2022-03-31 06:47] #1946 closed, assigned to nobody

[2022-03-31 07:29] weiqingtangx commented on #1888
好的，谢谢

[2022-03-31 07:29] #1888 closed, assigned to juncaipeng

[2022-03-31 10:43] hackkhai opened #1949 "[Bug] No performance improvement on Matting model even with tensorrt and even when reducio"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: PaddlePaddle 2.2.2
 3. Operation system: Linux
 4. Python version: Python3.7
 5. CUDA/cuDNN version: CUDA11.2/cuDNN 8.2.1
 6. Full codes: None
 7. Detailed error information, releated run

[2022-03-31 12:01] rainyfly commented on #1947
你好，想要看模型结构需要用pdmodel格式的文件，可以通过paddle.jit.save[https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/jit/save_cn.html]方法导出。

[2022-03-31 12:06] haoyuying commented on #1948
目前这个错误初步定位是cuda，cudnn及paddle的版本不匹配导致的，建议排查三者版本是否匹配。

[2022-03-31 12:37] #1929 closed, assigned to juncaipeng

[2022-03-31 12:37] #1906 closed, assigned to shiyutang

[2022-03-31 13:30] zhenzi0322 commented on #1941
这方面数据增强不会设置，目前都是用现有的配置文件中的配置项

[2022-04-01 01:59] haoyuying commented on #1949
you can set min_subgraphmin_subgraph_size=10 and evaluate the performance changes.
![image](https://user-images.githubusercontent.com/35907364/161179856-6a250b0d-2b79-490f-8bd8-b4507bf0fb8c.png)
If it does not work, you can try this link: https://github.com/PaddlePaddle/Paddle2ONNX/blob/model_zoo/hardwares/tensorrt/README.md

[2022-04-01 03:18] huangwan-jiayi opened #1952 "重新训练模型resume_model时报错UnboundLocalError：local variable 'images' referenced before assignment"
环境信息：
![image](https://user-images.githubusercontent.com/71338215/161188538-76d5ea82-d584-4deb-a3d9-8d5f184e74dc.png)
报错
![image](https://user-images.githubusercontent.com/71338215/161188741-742c831f-eef0-43a3-9297-bae5a842e267.png)

[2022-04-01 10:21] photkey opened #1954 "pip install -e . 报错"
pip install -e . 报错，安装不上。
[code]
[code]

 1. PaddleSeg版本：PaddleSeg release/2.4
 2. PaddlePaddle版本：paddlepaddle-gpu   2.2.2.post112
 3. 操作系统信息：Windows11
 4. Python版本号：python3.8.10/3.9.12(完全一样的报错信息)
 5. CUDA/cuDNN版本：CUDA10.2/cuDNN 7.6.5
 6. 完整的代码：完整 未修改
 7. 详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
 8. 运行指令或复现步骤：
 9. 其他内容: （增加其他与问题相关的内容）

[2022-04-01 10:48] xinliyangguang opened #1955 "训练时报C++ Traceback类的问题[General Issue]"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.3）：PaddleSeg-2.3
 2. PaddlePaddle版本：（如PaddlePaddle 2.1.0） Paddle2.0
 3. 操作系统信息：（如Linux/Windows/MacOS）Linux
 4. Python版本号：（如Python3.6/7/8）Python3.7
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）cuda10.2，cuDNN7.6
 在Paddlecloud端提交了任务，发现报如下错误：
![image](https://user-images.githubusercontent.com/53338761/161249241-

[2022-04-02 09:46] Yuuhooow commented on #787
你好.之前发的那个链接失效了.还有其他的可视化教程吗.最好能直接适用于cityscapes

[2022-04-04 10:20] echohjx opened #1959 "关于自定义数据集划分txt文件格式报错问题"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-04-04 10:23] echohjx commented on #1959
paddleseg中使用split_dataset_list.py将数据集进行划分，得到image.jpg label.png的txt文本，但是导入ymal中训练时提示：ValueError: File list format incorrect! In training or evaluation task it should be image_name label_name\n

[2022-04-04 13:31] echohjx commented on #1959
已解决

[2022-04-04 13:31] #1959 closed, assigned to nobody

[2022-04-04 15:19] zouwen198317 opened #1960 "[General Issue]"
cpp 推理 模型，  推理的时候，有多个显卡，用什么函数 比如 选择 显卡2号？

[2022-04-05 02:23] jaehwlee opened #1961 "[General Issue] How to use PaddleSeg on Unity?"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3) PaddleSeg release/2.4
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0) paddlepaddle-gpu 2.2.2
 3. Operation system: (e.g. Linux/Windows/MacOS) Window
 4. Python version: (e.g. Python3.6/7/8) 3.7
 5. CUDA/cuDNN versi

[2022-04-05 04:57] androidGhost opened #1962 "关于上线谷歌市场是否违规的问题"
PaddlePredictor.jar里面包含baidu和Tensor关键词，是否容易被检测出来而定性使用违规操作（之前使用华为的SDK直接定性违规，不处理直接下架删除的警告）

[2022-04-06 02:10] juncaipeng commented on #1961
This is the error of Paddle2ONNX, please create a new issue in https://github.com/PaddlePaddle/Paddle2ONNX.

[2022-04-06 02:11] juncaipeng commented on #1960
export CUDA_VISIBLE_DEVICES=2

[2022-04-06 02:13] juncaipeng commented on #1962
这个不太清楚，如果你遇到该问题，需要删除特定关键字，可以在Paddle repo中提issue，给出你的需求。

https://github.com/PaddlePaddle/Paddle

[2022-04-06 02:41] shiyutang commented on #1955
If you are training your model with multiple GPU, you can check the worklog.x under the log directory. Otherwise, you can try to train with CPU and see if the error message changes.

[2022-04-06 02:43] shiyutang commented on #1954
You should try ```pip intall -r requirements.txt``` first. It seems that you didn't install yaml which is required in the requirement.txt.

[2022-04-06 02:51] shiyutang commented on #1952
It seems that you should check the image. try ```import pdb; pdb.set_trace()``` before line 315 and see if image is loaded

[2022-04-06 03:37] androidGhost commented on #1962
好的，感谢你的回答

[2022-04-06 06:39] huangwan-jiayi commented on #1952
i don know what this situation mean:
![image](https://user-images.githubusercontent.com/71338215/161911013-1eb970ab-3671-4767-a564-14a1309d9df4.png)

[2022-04-06 07:13] LutaoChu commented on #787
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.2/legacy/docs/data_prepare.md
2.2版本的链接还在

[2022-04-06 08:53] jaehwlee commented on #1961
Thanks, I'll create a new issue.

[2022-04-06 08:53] #1961 closed, assigned to juncaipeng

[2022-04-06 12:31] shiyutang commented on #1952
You can check how to use [pdb](https://docs.python.org/3/library/pdb.html), and see what is the image here.

[2022-04-07 04:03] x12901 opened #1968 "[Bug]模型量化错误"
量化训练的时候运行出现错误，'NoneType' object has no attribute 'train'
[code]
 1. PaddleSeg版本：PaddleSeg release/2.4
 2. PaddlePaddle版本：如PaddlePaddle 2.1.0
 3. 操作系统信息：Windows
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本：CUDA11.0

[2022-04-07 07:00] haoyuying commented on #1968
模型初始化存在问题，查看下model从哪里开始变为None的

[2022-04-07 07:17] Huihuihh opened #1970 "paddleseg没有置信度"
我想咨询一下，这个PaddleSeg没看到有置信度的地方，那它推理的时候怎么对每个像素进行判断，它是什么类别的

[2022-04-07 08:13] juncaipeng commented on #1286
![speed_iou_fig](https://user-images.githubusercontent.com/52520497/162148733-70be896a-eadb-4790-94e5-f48dad356b2d.png)
![arch](https://user-images.githubusercontent.com/52520497/162148786-c8b91fd1-d006-4bad-8599-556daf959a75.png)

[2022-04-07 09:40] haoyuying commented on #1970
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/core/infer.py#L243
这里打印出来看

[2022-04-07 13:19] #1968 closed, assigned to nobody

[2022-04-08 02:57] Zoujunchao commented on #1938
![image](https://user-images.githubusercontent.com/101793872/162354164-838ac926-bf49-435d-b0b2-9cdd43244de3.png)

[2022-04-08 04:05] #1818 closed, assigned to nobody

[2022-04-08 05:07] zrnwin opened #1977 "How to get everypixel's logits info at Paddle Inference C++"
Hi:
I'm using PaddleSeg recently, in Paddle Inference C++ file:PaddleSeg/blob/release/2.4/deploy/cpp/src/test_seg.cc, I found that I can only get pred after argmax, but I need every pixel's logits info.Can you provide the corresponding method. Thank you very much for your continued efforts.
My PaddleSeg version: release 2.4
Here is the get out part in :test_seg.cc

 // Get output
  auto output_nam

[2022-04-08 06:50] zhenzi0322 opened #1979 "部署预测生成的文件过大"
我在使用`Matting`训练好了一个模型，然后导出了模型文件。最后使用导出的模型进行预测，命令如下：
[code]
其中`static/uploads/`有两张图片。分别为：
[code]
最后发现在`output/result_test/clip`文件夹抠好的图中，图片名和大小如下：
[code]
采用导出的模型进行预测为什么生成的抠图的文件大小会这么大的呢？

[2022-04-08 08:42] wuqi930907 opened #1980 "推理速度有点奇怪"
推理代码如下：
[code]

问题是当我无论怎么修改crop_size 的大小时，打印出来的cost永远是不变的。
当crop_size = (512, 1024)时log如下：
![image](https://user-images.githubusercontent.com/34122261/162398609-55b9c475-17ff-4d96-bc88-547828f7647a.png)
当crop_size = (214, 214)时log如下：
![image](https://user-images.githubusercontent.com/34122261/162398669-d7b08b9e-be2f-4b0b-8355-6efed92de12c.png)

[2022-04-08 09:22] x12901 opened #1981 "c++推理时间不稳定"
我用c++部署推理的时候时间并不稳定,第一次可能是预热后面应该稳定才对,是哪里出了问题吗?https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/deployment/inference/cpp_inference_cn.md
代码用的是测试代码https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/deploy/cpp/src/test_seg.cc
只添加了计时器,还是说跟pytorch一样这种计时方法不准确有其它计时方法?
[code]
[code]
------------Environment Information-------------
platform: Windows-10-10.0.19042-SP0
Python: 3.8.12 (d

[2022-04-08 11:46] #1962 closed, assigned to juncaipeng

[2022-04-09 07:08] #1941 closed, assigned to wuyefeilin

[2022-04-09 13:24] ydhongHIT opened #1985 "The inference size of real-time models such as bisenet or stdc"
In their papers, the input size during inference is not 1024x2048. But I can not find the settings (it needs to resize the original image to a smaller resize) in your config file. Is the accuracy of these real-time models obtained with the same resolution as the paper?

[2022-04-10 06:05] weiluonika opened #1986 "[General Issue]在使用评估程序的时候 我发现2.4版本可以计算出 包括准确率 召回率 ROC曲线等在内的许多评估参数，请问下如何打开使用这个功能，"
visualDL工具如何将训练参数进行可视化，只能看到注入IOU和loss之类的参数，无法看到诸如ROC曲线之类的数据

[2022-04-10 06:07] weiluonika opened #1987 "[General Issue]在使用评估程序的时候 我发现2.4版本可以计算出 包括准确率 召回率 ROC曲线等在内的许多评估参数，请问下如何打开使用这个功能，"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-04-10 06:13] #1987 closed, assigned to nobody

[2022-04-11 01:52] juncaipeng commented on #1986
2.4版本没有计算分割类别的Precision和Recall，develop有计算，可以切换到develop分支。ROC曲线是都没有的。

[2022-04-11 02:09] juncaipeng commented on #1985
For fair comparison, PaddleSeg use the origin image as input by default. If  you want to resize the image in testing, please refer to the [demo](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/configs/pp_liteseg/pp_liteseg_stdc1_cityscapes_1024x512_scale0.5_160k.yml#L42)

<img width="215" alt="image" src="https://user-images.githubusercontent.com/52520497/162653357-783bca43-c9ba-46d7-8400-d

[2022-04-11 02:14] pandalee594 opened #1988 "[General Issue]求教，在模型转出成ONNX后，对要输入ONNX模型的图像应该怎么样去处理？"
小白求教，对输入PADDLESEG转出的ONNX模型的图像需要进行怎样的预处理？我直接使用导出模型的infer.py进行推理的结果是正确的，但是使用onnx模型的时候推出来的结果只有背景，语言py/c#。谢谢！

[2022-04-11 02:16] juncaipeng commented on #1981
建议先预热predictor->Run()  100次，然后再统计predictor->Run() 100次的时间。

[2022-04-11 02:22] #1985 closed, assigned to juncaipeng

[2022-04-11 03:11] LutaoChu commented on #1980
也许是小模型的缘故。可以再增大图片尺寸试试或者每次输入不同的图片试试

[2022-04-11 03:39] wuqi930907 commented on #1980
@LutaoChu 谢谢回答。

[2022-04-11 09:05] huangwan-jiayi opened #1992 "[General Issue]deploy/python/infer.py 推理stdc模型时间异常。"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-04-11 09:29] juncaipeng commented on #1988
同样将维度从nhwc转为nchw，还需要做normalize(mean=0.5, std=0.5)。

[2022-04-11 10:33] liyaoshun opened #1993 "[Bug].使用eiseg的时候导致显存溢出"
1. PaddleSeg version:  PaddleSeg release/2.3
 2. PaddlePaddle version: PaddlePaddle 2.2.2
 3. Operation system: Linux
 4. Python version: Python3.8
 5. CUDA/cuDNN version:  CUDA11.1/cuDNN 8.1.0
 6. Full codes: 没有修改任何代码
 7. Detailed error information, releated running log:

(paddleseg)  /media/robot/4T/5_segmentation/PaddleSeg/EISeg/eiseg /release/2.3: CUDA_VISIBLE_DEVICES=1 python exe.py
W0411 18:

[2022-04-11 10:40] #1981 closed, assigned to juncaipeng

[2022-04-11 11:53] ihunzi opened #1995 "paddleseg用C++部署，并生成DLL，python调用DLL预测的问题"
背景：
把paddleseg用C++部署，生成dll给python调用。现在已经成功生成dll并且python成功加载模型。

问题：
①有关于输入图像的转换问题，我图像预处理完之后[512， 512， 3]，要怎么变换才能正确输入给预测函数？
![image](https://user-images.githubusercontent.com/87402289/162733826-ceff049f-3fde-401e-ba3f-f120131c90f9.png)

②以及输出结果的这个变量要怎么定义？
③我要怎么从预测函数中拿到结果？
④好像获取到的结果是byte[]类型，我要怎么转换成python的list或者numpy类型的数据。
![image](https://user-images.githubusercontent.com/87402289/162733944-09d3f3e

[2022-04-11 13:41] weiluonika opened #1997 "[General Issue]ValueError: (InvalidArgument) Broadcast dimension mismatch"
这个报错原因是什么内？

[2022-04-11 13:58] juncaipeng commented on #1995
问题1： transpose对维度进行变换，hwc->chw，使用np.transpose(img, (2, 0, 1))

为啥要这样封装，可以直接参考paddleseg的python 或者 c++部署文档啊？文档都在seg首页可以看到：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/README_CN.md

[2022-04-11 13:59] juncaipeng commented on #1997
模型中相加的两个tensor维度不对应，你具体看下log和代码。

[2022-04-11 14:15] weiluonika commented on #1997
1/459 [..............................] - ETA: 43s - batch_cost: 0.0954 - reader cost: 0.0362
  2/459 [..............................] - ETA: 35s - batch_cost: 0.0782 - reader cost: 0.0181Traceback (most recent call last):
  File "train.py", line 199, in <module>
    main(args)
  File "train.py", line 194,

[2022-04-11 14:21] haoyuying commented on #1993
您好，请给出具体使用的模型，eiseg的版本，点击次数及您显卡的信息，您是如何操作的呢，如果在尺幅比较大的单张图上无意义的点击，由于静态图在预测中途不释放显存，会导致最终占用变大问题。

[2022-04-11 15:00] liyaoshun commented on #1993
1. 模型为：[hrnet18_ocr64_cocolvis](https://bj.bcebos.com/paddleseg/dygraph/interactive_segmentation/ritm/hrnet18_ocr64_cocolvis.pdparams)

2. 点击了大概7次就会爆炸，图像大小为1280*720。
3.  显卡为GTX3080
4.  不是无意义的点击，是在目标上进行点击的时候出现的显存增加，我之前使用这个代码标注相同数据点击很多次都不会溢出。我使用的是clone代码然后运行代码的方式进行打开软件的。我前几天更新了一下代码，然后就出现这个问题了，返回到了去年的代码也是不行的，就很奇怪。
5. eiseg版本为paddleseg release/2.3中自带的。

同时追问一下：静态图不是应该推理完一次后再进行下一次推理的么，然后输入图像不变的条件下显存是不会

[2022-04-12 01:26] ihunzi commented on #1995
感谢回复！

原因：
我用pyqt5写了一个上位机，实现语义分割的功能。将程序打包，用pyinstaller打包出来之后，paddlepadle老是报错，而且在网上查了很多资料都没有解决，程序根本跑不起来。后来想到，把paddleseg用C++部署，生成DLL给python调用，来实现我的需求，于是有了上面的问题。
（或者有没有什么方法可以把paddlepaddle正确打包）
（代码、模型都已经在python测试完成了）
我用的是paddleX部署的：https://github.com/PaddlePaddle/PaddleX/blob/develop/deploy/cpp/docs/models/paddleseg.md

问题：
①Python用的是ctypes库来调用dll，我想知道的是，我预处理完的图像要转成ctypes的数据形式输入给预测函数，这一步要怎么操作或者说代码怎么写。

[2022-04-12 01:44] ihunzi commented on #1995
![image](https://user-images.githubusercontent.com/87402289/162862036-ca8827c4-f5dc-4d86-913a-0452c8cc638e.png)

[2022-04-12 01:52] haoyuying commented on #1993
您可先尝试在用pip安装eiseg0.4版本，然后做相同的操作，看是否会出现该问题，您的图不算小，并使用的是64的大模型，如果点击增加很多，是会出现该问题。如果0.4eiseg没出现这个问题，请给我一个反馈。

[2022-04-12 02:07] liyaoshun commented on #1993
验证了使用pip装0.4版本，点击多次后是会增长一点点，点击20几次后显存是稳定的。

[2022-04-12 02:08] juncaipeng commented on #1992
有几个因素影响测试速度：
* 论文中是对1024*2048原图进行缩小后预测，再将结果resize为原图大小
* 通常使用导出为ONNX，用TRT直接加载ONNX模型部署，速度更快（相比使用PaddleInference）
* 上述使用PaddleInference预测中，我们近期修复了一个bug，[此处](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/deploy/python/infer.py#L315)设置min_subgraph_size等于3，trt加速会比较明显。

[2022-04-12 02:08] juncaipeng commented on #1992
有几个因素影响测试速度：
* 论文中是对1024*2048原图进行缩小后预测，再将结果resize为原图大小
* 通常使用导出为ONNX，用TRT直接加载ONNX模型部署，速度更快（相比使用PaddleInference）
* 上述使用PaddleInference预测中，我们近期修复了一个bug，[此处](https://github.com/PaddlePaddle/PaddleSeg/blob/develop/deploy/python/infer.py#L315)设置min_subgraph_size等于3，trt加速会比较明显。

[2022-04-12 02:09] haoyuying commented on #1993
OK， 我们会排查该问题的，感谢您的反馈。您方便把测试图给我们一张吗？

[2022-04-12 02:10] liyaoshun commented on #1993
![00000505](https://user-images.githubusercontent.com/15494652/162864998-6e066f25-0294-4b3b-ac46-98ac90ebd07f.jpg)

没问题

[2022-04-12 02:12] juncaipeng commented on #1977
In exporting inference model ([doc](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/model_export.md)), you should add '--without_argmax', so the output of the inference model is the logits of each class (dims is n*c*h*w).

[2022-04-12 02:13] juncaipeng commented on #1997
你这是什么模型？提供一下复现的方法。

[2022-04-12 02:23] gongjizhang opened #1998 "Is PP-LiteSeg model available now？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-04-12 02:29] weiluonika commented on #1997
直接使用的项目的attention_unet 算法，只是修改了config的数据集路径，使用的自己的数据集合  数据集合分辨率有576x720x3 576x360x3  这两种，感觉像是因为数据的原因

[2022-04-12 03:11] huangwan-jiayi commented on #1992
你好，我设置等于3后推理报错
![image](https://user-images.githubusercontent.com/71338215/162871924-32fadc73-fdfa-434a-9049-4c8d487d3f21.png)
![image](https://user-images.githubusercontent.com/71338215/162871978-22d25f04-0682-45ff-950f-3abaafc05d83.png)

[2022-04-12 07:01] weiluonika commented on #1986
我使用的是develop分支，自定义数据集，修改了attention_unet的config文件，但是在运行val.py的过程，运行命令
（python val.py  --config /lzl/PaddleSeg/configs/attention_unet/attention_unet_cityscapes_1024x512_80k.yml   --model_path /lzl/PaddleSeg/output/iter_2000/model.pdparams ）中还是没有Precision和Recall数据 是需要在哪打开或者添加参数嘛

[2022-04-12 07:22] zhenzi0322 commented on #1979
@LutaoChu @wuyefeilin  请问目前知道是什么问题造成文件过大的不？

[2022-04-12 08:10] zrnwin commented on #1977
Thank you for your reply.

[2022-04-12 08:10] #1977 closed, assigned to juncaipeng

[2022-04-12 15:46] 95maddycode opened #2001 "[Bug] list of dicts for optimizer gives weird results"
1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3) 2.4
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0) 2.2.0
 3. Operation system: (e.g. Linux/Windows/MacOS) Linux
 5. Python version: (e.g. Python3.6/7/8) 3.8
 6. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5) CUDA10.2, cuDNN
7. Full codes: (if you modify any original code，please show the comparison of the cod

[2022-04-12 16:12] 95maddycode commented on #2001
fixed by adding learning rate parameter

optimizer = paddle.optimizer.Adam(learning_rate=0.1, parameters=[
    {'params': model.parameters(), 'learning_rate': 0.0001}
])

[2022-04-12 16:12] #2001 closed, assigned to nobody

[2022-04-13 02:58] anzx2452 opened #2003 "[General Issue] 能否维护一下 API应用案例的代码，已经在aistudio上跑不通了。"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-04-13 03:02] anzx2452 commented on #2003
是否建议使用backbone中的包，mixTransformer

[2022-04-13 04:58] juncaipeng commented on #1998
Please refer to https://github.com/PaddlePaddle/PaddleSeg/tree/develop/configs/pp_liteseg
pp_liteseg has been merged into develop branch.

[2022-04-13 05:00] juncaipeng commented on #1986
在训练阶段，Precision和Recall数值是输出在log中，没有保存在visualdl中显示。
在验证阶段，会输出类别Precision和Recall啊

![image](https://user-images.githubusercontent.com/52520497/163104038-dc59017d-c9da-4eaa-914e-0294d1428e83.png)

[2022-04-13 05:03] shiyutang commented on #2003
Please provide a link to the malfunctioning AIStudio project.

MixTransformer is the backbone of  SegFormer_B0. Please state the reason why you need it, we can know if it is recommended.

[2022-04-13 05:11] anzx2452 commented on #2003
https://aistudio.baidu.com/aistudio/projectdetail/1339458

[2022-04-13 06:04] shiyutang commented on #2003
please provide the  error message.

[2022-04-13 06:44] weiluonika commented on #1986
我重新检查了下，在gitee的develop版本是没有的，重新拉了下github是我develop分支，进行评估的时候报错

<img width="707" alt="1649832205(1)" src="https://user-images.githubusercontent.com/50006064/163116072-959a81d3-660d-45e1-b706-17c352350e3b.png">
我尝试拉了几遍，还是相同的问题，是我环境配置的原因吗

[2022-04-13 07:32] anzx2452 commented on #2003
recent call last)/tmp/ipykernel_140/3532040227.py in <module> 12 num_workers=0, 13 losses=losses, ---> 14 use_vdl=True) /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddleseg/core/train.py in train(model, train_dataset, val_dataset, optimizer, save_dir, iters, batch_size, resume_model, save_interval, log_iters, num_workers, use_vdl, losses, keep_checkpoint_max, test_config, f

[2022-04-13 07:49] juncaipeng commented on #1992
可以设置输入参数`--enable_auto_tune=True`避免该错误。

https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/docs/deployment/inference/python_inference.md

[2022-04-13 11:47] shiyutang commented on #2003
paddle needs to be upgrade to 2.2

[2022-04-13 12:05] shiyutang commented on #2003
We have upgrade it: https://aistudio.baidu.com/aistudio/projectdetail/1339458
<img width="798" alt="image" src="https://user-images.githubusercontent.com/34859558/163176087-17ab6ef3-e351-4fdc-86b7-e2624fbbbde2.png">

[2022-04-13 16:11] lwh104 opened #2007 "交叉验证问题"
请问PaddleSeg如何对分割结果进行分层k折交叉验证，以确保结果的准确性？是否提供了某个参数？

[2022-04-14 00:19] Leon-E-Zion opened #2008 "Paddleseg无法冻结预训练模型"
Paddleseg无法冻结预训练模型

[2022-04-14 01:11] zhenzi0322 opened #2009 "部署预测生成的图像过大"
我在使用`Matting`训练好了一个模型，然后导出了模型文件。最后使用导出的模型进行预测，命令如下：
[code]
其中`static/uploads/`有两张图片。分别为：
[code]
最后发现在`output/result_test/clip`文件夹抠好的图中，图片名和大小如下：
[code]
采用导出的模型进行预测为什么生成的抠图的文件大小会这么大的呢？

[2022-04-14 02:37] srzxDragon opened #2010 "get_pseudo_color_map 函数返回值问题"
# basic information
PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
PaddlePaddle version: 2.2.2, PaddleSeg-release-2.4
Operation system: Ubuntu 16.04.7 LTS
Python version: Python 3.7.11
CUDA/cuDNN version: CUDA Version: 10.1
Additional context: (Add any other context about the problem)
# 描述
in paddleseg/utils/visualize.py
in function def get_pseudo_color_map(pred,

[2022-04-14 03:21] haoyuying commented on #2008
您好，您可以让backbone处于eval模式，自己修改optimization的优化参数的范围来实现该功能

[2022-04-14 03:22] Leon-E-Zion commented on #2008
Leon-Zion 工作站 已收到邮件，Leon将尽快处理

[2022-04-14 03:24] haoyuying commented on #2007
目前没有该feature。

[2022-04-14 03:26] haoyuying commented on #2010
pred mask在70行已经变成pil.image，我们会更改注释，感谢您的提醒。

[2022-04-14 03:33] wuyefeilin commented on #2009
原图是jpg 3通道有损压缩图片，保存的是png无损压缩图片，所以大很多很正常哈

[2022-04-14 03:38] zhenzi0322 commented on #2009
问题是大得不太正常呢，难道你不觉得嘛

[2022-04-14 05:51] Leon-E-Zion commented on #2008
你好，可以详细指出是在哪些文件中进行修改吗 谢谢

[2022-04-14 07:35] LifeIsSoSolong opened #2011 "[Bug]export onnx error of FastFCN & GINet"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version:  release/2.3 & develop
 2. PaddlePaddle version:  PaddlePaddle 2.2.0
 3. Operation system:  Linux
 4. Python version: Python3.8
 5. CUDA/cuDNN version:  CUDA10.2/cuDNN 7.6.5
 6. Full codes:
 7. Detailed error information, releated running log:
 When I run export.py to export

[2022-04-14 07:48] #2011 closed, assigned to nobody

[2022-04-14 14:46] anzx2452 opened #2012 "[General Issue] evaluate 的参数eval_dataset为什么要求这个实例化对象具有属性transforms（一个transforms的list）"
paddleseg.core.evaluate(
        model,
        **eval_dataset,**             <<---
        aug_eval = False,
        scales = 1.0,
        flip_horizontal = True,
        flip_vertical = False,
        is_slide = False,
        stride = None,
        crop_size = None,
        num_workers = 0
)

eval_dataset为什么要求是一个具有有属性transforms（一个transforms的list）的实例化Dataset对象？

我有自己写好的dataset，里面定义好了我的transforms

[2022-04-15 13:54] zhuangqirong opened #2015 "[General Issue]"
EIseg工具生成的文件目录中为什么没有包含autosave_label.txt，eiseg2paddlex.py文件需要这个文件。

[2022-04-16 05:25] henryccl opened #2016 "使用segformer训练自己的数据集时，填了num_classes，却报错缺少num_classes参数"
我在使用segformer训练自己的数据集时，明明填了num_classes，却报错缺少num_classes参数， 怎么会这样？
![image](https://user-images.githubusercontent.com/44051761/163662759-48f0333e-b191-4e0b-ba6b-d812d1a3b08d.png)
![image](https://user-images.githubusercontent.com/44051761/163662802-32bb8ac3-49b2-4c6c-95f6-ba4bace4ad48.png)

[2022-04-16 07:27] henryccl commented on #1739
你好 请问这个问题解决了吗？

[2022-04-16 07:37] huangwan-jiayi opened #2017 "[General Issue]用自定义数据集训练pp_liteseg时，AssertionError：The backbone should has feat_channels"
![image](https://user-images.githubusercontent.com/71338215/163666359-6eb3bb7d-2dfa-414c-86b4-ed7c7613d996.png)

[2022-04-16 15:48] Robin3Chan commented on #1843
你好，我也出现同样all input arrays must have the same shape报错。我是自定义Matting数据集，数据集为不同尺寸。请教一下应当如何处理该报错，应当修改什么配置或者方法？谢谢

[2022-04-17 07:20] #2016 closed, assigned to nobody

[2022-04-18 00:56] WillisXue opened #2020 "PaddleSeg 支持多GPU 推理吗"
PaddleSeg 支持多GPU 推理吗

[2022-04-18 02:02] juncaipeng commented on #2020
不支持，单个进程只支持单GPU。

[2022-04-18 02:04] juncaipeng commented on #2017
请问你是使用哪个backbone啊？配置yaml文件可以贴出来吗？

[2022-04-18 02:04] liuzimo opened #2021 "RuntimeError: The specified component was not found PPLiteSeg"
Thanks for your bug report. To help us solve the issue better, please provide following information：
python setup.py install
Traceback (most recent call last):
  File "setup.py", line 19, in <module>
    import paddleseg
  File "D:\下载\PaddleSeg-develop\PaddleSeg-develop\paddleseg\__init__.py", line 15, in <module>
    from . import models, datasets, transforms
  File "D:\下载\PaddleSeg-develop\Paddl

[2022-04-18 02:16] juncaipeng commented on #2021
你好，你执行的命令是什么啊？
你有执行‘pip install paddleseg’吗？ 建议先执行‘pip uninstall paddleseg’卸载paddleseg。

[2022-04-18 02:17] liuzimo commented on #2021
卸载过了 貌似是导入有问题
![image](https://user-images.githubusercontent.com/25811500/163744148-33046a15-5ff0-4e78-a867-1cbeda47b9c0.png)

[2022-04-18 02:19] juncaipeng commented on #2021
你改为  from paddleseg.models.layers import tensor_fusion_helper as helper  试下看

[2022-04-18 02:21] liuzimo commented on #2021
![image](https://user-images.githubusercontent.com/25811500/163744422-36728c49-040b-4e77-a147-61ea33f3be8d.png)

[2022-04-18 02:22] liuzimo commented on #2021
![image](https://user-images.githubusercontent.com/25811500/163744456-0ec2b423-b339-40d6-905f-3a8c6931610d.png)

[2022-04-18 02:26] juncaipeng commented on #2021
PaddleSeg训练、验证、测试的命令，都需要在paddleseg的根目录下执行。  如果在PaddleSeg根目录执行，不需要pip install 了，会直接加载执行。
你现在还有问题吗？

[2022-04-18 02:32] juncaipeng commented on #2012
这个是PaddleSeg的开发规范，为了各部件解耦。你看下你写的预处理是否可以使用PaddleSeg提供的transforms进行替换。

[2022-04-18 02:34] juncaipeng commented on #1997
训练集中可以有不同尺寸的图片，但是经过预处理都需要变为固定尺寸输入模型进行训练。你可以参考configs/_base_/cityscapes.ymyaml文件，其中有crop操作，得到固定尺寸的图片。

[2022-04-18 03:24] haoyuying commented on #2015
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/EISeg/docs/tools_cn.md 可参考这个教程进行转换。

[2022-04-18 03:38] LutaoChu commented on #1739
你好，给一下你的运行命令我们复现一下

[2022-04-18 03:41] juncaipeng commented on #1986
你是什么操作系统，Python版本是多少啊？ 我使用develop分支没有遇到该问题。

[2022-04-18 09:39] zhuangqirong commented on #2015
我是根据这个进行转换的，但是eiseg2paddlex.py文件需要auto_save.txt文件，EIseg标注工具没有自动生成这个文件

[2022-04-18 09:48] Invisible2733 opened #2025 "运行panopticdeeplab时候环境都搭好了，运行时直接进程结束了"
small_instance_weight: 3
  transforms:
  - label_padding_value:
    - 0
    - 0
    - 0
    target_size:
    - 2049
    - 1025
    type: Padding
  - type: Normalize
  type: CityscapesPanoptic
------------------------------------------------
W0418 17:33:10.465845 13064 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.1, Runtime API Version: 11.1
W04

[2022-04-18 12:33] juncaipeng commented on #2025
安装过程中验证执行正确吗？quick_start中demo执行正确吗？
麻烦提供你详细的yaml文件和执行命令。

[2022-04-18 14:09] Invisible2733 commented on #2025
**验证执行正确的：**
![image](https://user-images.githubusercontent.com/70048885/163819447-e828b9c7-7976-42f3-8bcd-e2e49c8ccd68.png)
**请问quick_start中demo是指？**
yml文件采用的是panopticdeeplab\configs下的：
![image](https://user-images.githubusercontent.com/70048885/163820100-171e3953-c6af-4bfd-a567-8df7a04b0363.png)
**执行命令是直接运行train.py文件，以下是运行结果：**
D:\anaconda3\envs\pp\python.exe C:/Users/Lenovo/PaddleSeg/contrib/Pa

[2022-04-18 14:10] Invisible2733 commented on #2025
执行readme中的python -m paddle.distributed.launch train.py \
       --config configs/panoptic_deeplab/panoptic_deeplab_resnet50_os32_cityscapes_1025x513_bs8_90k_lr00005.yml \
       --do_eval \
       --use_vdl \
       --save_interval 5000 \
       --save_dir output
也是出现同样的问题。

[2022-04-19 04:41] ql390962 opened #2026 "为什么UNet的最后一层kernel_size=3"
self.encode = Encoder()
        self.decode = Decoder(align_corners, use_deconv=use_deconv)
        self.cls = self.conv = nn.Conv2D(
            in_channels=64,
            out_channels=num_classes,
            kernel_size=3,
            stride=1,
            padding=1)

        self.pretrained = pretrained
        self.init_weight()

    def forward(self, x):
        logit_list = []
        x, s

[2022-04-19 06:57] yangy996 commented on #2009
正常的 你把图压缩一下就好了

[2022-04-19 07:17] zhenzi0322 commented on #2009
压缩后，71MB的大小变成了51MB左右，但是还是这么大，如果放到前端展示的话，那不得卡死了嘛

[2022-04-19 08:29] #1995 closed, assigned to juncaipeng

[2022-04-19 10:41] androidGhost opened #2028 "请教人像抠图问题"
人像抠图获取alpha图和原图，有好的方法让原图显示在alpha图的白色区域而其它区域显示透明像素，而不是显示背景图的像素（最终合成的bitmap只保留原图人像部分，其它则是透明的）

[2022-04-19 14:24] Invisible2733 opened #2032 "panoptic deeplab训练问题"
采用CPU训练过程如下：
![image](https://user-images.githubusercontent.com/70048885/164025957-12622107-a93a-4b22-9814-7854dd47d405.png)
output中只有如图所示的两个文件：
![image](https://user-images.githubusercontent.com/70048885/164026283-1e8fdd2c-3d84-499f-8914-ce5a99365cb5.png)
请问下这是什么问题呢？要如何解决

[2022-04-20 02:04] wuyefeilin commented on #2026
你可以根据自己的需求进行魔改哈

[2022-04-20 02:05] wuyefeilin commented on #2009
可以压缩成jpg格式，选择大压缩比

[2022-04-20 02:06] wuyefeilin commented on #2028
预测结果的clip目录下保存的就是这种图片的

[2022-04-20 02:08] wuyefeilin commented on #2032
model.pdparams就是训练得到的模型参数

[2022-04-20 02:14] Invisible2733 commented on #2032
请问下如何查看这个参数呢？数据集为Cityscapes，训练结果只有这两个文件吗

[2022-04-20 02:28] androidGhost commented on #2028
我下载的是安卓部署版本，里面的执行代码是
//将原图与背景按照推理得到的alpha图进行合成
    private Bitmap synthetizeBitmap(Bitmap front,Bitmap background, Bitmap alpha){
        int width = front.getWidth();
        int height = front.getHeight();
        Bitmap result=Bitmap.createBitmap(width,height, Bitmap.Config.ARGB_8888);
        int[] frontPixels = new int[width * height];
        int[] backgroundPixels = new int[width * height];

[2022-04-20 06:26] zhenzi0322 commented on #2009
我已经采用另外的方法处理了

[2022-04-20 07:27] weiluonika commented on #1986
CentOS Linux release 7.9.2009 (Core)
python3.6.8

[2022-04-20 08:22] linyucion opened #2034 "怎么对Matting模型静态离线量化和量化训练？"
platform: Linux-4.13.0-36-generic-x86_64-with-debian-stretch-sid
Python: 3.7.4 (default, Aug 13 2019, 20:35:49) [GCC 7.3.0]
Paddle compiled with cuda: True
NVCC: Cuda compilation tools, release 10.1, V10.1.243
cudnn: 7.6
GPUs used: 1
CUDA_VISIBLE_DEVICES: None
GPU: ['GPU 0: Tesla V100-SXM2-16GB']
GCC: gcc (Ubuntu 7.5.0-3ubuntu1~16.04) 7.5.0
PaddleSeg: 2.4.0
PaddlePaddle: 2.2.2
OpenCV: 4.1.1

我尝试官方

[2022-04-20 09:34] wuyefeilin commented on #2034
目前Matting暂时不支持量化功能，如果你需要量化操作需要参考官方文档自行进行实现（https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/paddleslim/paddle_slim_cn.html）。
后续我们会增加量化功能以方便用户直接使用。

[2022-04-21 08:52] xinliyangguang opened #2035 "训练报错 “train() got an unexpected keyword argument 'fp16'”"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.3
 2. PaddlePaddle版本：2.2.0
 3. 操作系统信息：linux
 4. Python版本号：python3.7
 5. CUDA/cuDNN版本：CUDA11.2
 6. 其他内容: requirment.txt和paddleseg都是提交到paddlecloud之后再安装的；试过多个模型都报这个错：ocrnet，deeplab，stdc1等，在windows上验证发现可以正常运行，应该不是数据的问题，且又用之前跑成功之后的数据进行重跑，也报了这个错误

在paddlecloud上训练报如下错误，定位到代码并没有异常，没有动过train.py
![QQ截图20220421165410](https://use

[2022-04-21 09:40] haoyuying commented on #2035
可以打印下args.fp16是什么，要求为bool类型，core文件夹下的train.py传入参数是否有fp16

[2022-04-21 10:10] xinliyangguang commented on #2035
打印出来是False，看了core下的train.py
![image](https://user-images.githubusercontent.com/53338761/164432859-ced18e5f-51bc-46e7-a73a-3957b332a67d.png)

[2022-04-22 02:50] WillisXue opened #2037 "[General Issue]如何使用c++paddle inference库卸载模型呢?"
例程里没看到相关的代码

[2022-04-22 03:19] xinliyangguang commented on #2035
近期是不是在更新paddleseg呀？我跑ppliteseg网络也是会报paddleseg包有关的错误

[2022-04-22 08:55] liyaoshigehaoren opened #2038 "[General Issue]有导好的模型吗？"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-04-22 10:32] zhuangqirong commented on #1884
调试好了么老哥？

[2022-04-22 10:38] zhuangqirong commented on #1884
找到原因了，dataset   train.txt 文件 JPEGimages\1.jpg，中间的\不正确，在aistudio中，应该是/才对。

[2022-04-22 11:05] startdabin opened #2040 "[General Issue]PP-Matting"
你好， PP-Matting的configs文件还没有更新上来吗？

[2022-04-22 13:27] mohamedAkif opened #2041 "FatalError: `Segmentation fault` is detected by the operating system."
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.2.2)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.7)
 5. CUDA/cuDNN version: (e.g. CUDA11.1/cuDNN 7.6)
 6. Additional context: (Add a

[2022-04-23 01:13] suofer commented on #2040
Hello, dose the PP-Matting code has been updated? I cannot find it.

[2022-04-23 07:17] hackkhai commented on #2040
They have shared only the inference weights, which is a zip which contains deploy.yaml as config which you can rub by using the file deploy/python/infer.py

[2022-04-24 01:11] sd2048 commented on #1801
@LutaoChu Can you give me instructions on how to align the names so that I can use the trained model as pretrained?
I want to use this one in particular: https://paddleseg.bj.bcebos.com/dygraph/cityscapes/pp_liteseg_stdc2_cityscapes_1024x512_scale0.5_160k/model.pdparams

----

Edit: Never mind, my issue was unrelated.

[2022-04-24 02:12] juncaipeng commented on #2041
I can not find the special error by your log.  Maybe the error is the installlation.
Please first run the demo to verify PaddleSeg installation: https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/install.md

[2022-04-24 02:14] juncaipeng commented on #2038
我们提供了导出教程，同时每个模型都提供了model权重下载，但是需要大家自己导出预测模型。

模型权重下载链接，在不同模型的详情页面，比如：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/configs/ann

[2022-04-24 02:14] juncaipeng commented on #2037
释放创建的predictor就会卸载模型了。

[2022-04-24 02:36] LutaoChu commented on #1801
This model is already a paddleseg model, and there is no need to align names.
You can use this trained model by setting pretrained parameter in config YML

[code]

[2022-04-24 04:55] juncaipeng commented on #1286
![11](https://user-images.githubusercontent.com/52520497/164957285-15a597dc-e437-4907-b64d-79daa8112b39.png)

[2022-04-24 05:11] juncaipeng commented on #1286
![image](https://user-images.githubusercontent.com/52520497/164957626-6b4cdd82-9aef-4250-b7e7-7ce4e0a1d98b.png)
![image](https://user-images.githubusercontent.com/52520497/164957634-21c900de-e75d-4863-8eb7-8cb9f6b1fc54.png)

[2022-04-24 05:35] caj-github opened #2042 "API如何使用多卡训练，目前只找到配置化调用的方式"
API如何使用多卡训练，目前只找到配置化调用的方式

[2022-04-24 06:25] zyz207 commented on #1388
训练功能大概什么时候会开放呢

[2022-04-24 09:00] juncaipeng commented on #1286
<img width="1243" alt="image" src="https://user-images.githubusercontent.com/52520497/164968051-3daf4f8c-8f86-49b7-b2f0-0f5578b7a71b.png">

[2022-04-24 09:27] juncaipeng commented on #1286
<img width="731" alt="image" src="https://user-images.githubusercontent.com/52520497/164969732-57739105-e12f-413a-a6c2-d69720b40269.png">

[2022-04-24 09:59] juncaipeng commented on #1286
![image](https://user-images.githubusercontent.com/52520497/164971046-1a9838d1-887e-4fe4-ae10-54e80b1e800d.png)
![image](https://user-images.githubusercontent.com/52520497/164971066-d5c58531-cfd2-4a70-8efd-ddcb30fa8855.png)

[2022-04-25 02:00] wuyefeilin commented on #2040
Yes， he is right. @startdabin You can use the inference model to predict you images directly.

[2022-04-25 03:19] yanni1995 opened #2046 "[Question] ICNet"
模型库中没有提供关于ICNet的网络模型

[2022-04-25 03:58] juncaipeng commented on #2042
api 调用多卡训练会比较麻烦，需要自己把控细节，具体可以参考代码：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/paddleseg/core/train.py

[2022-04-25 04:00] juncaipeng commented on #2046
这个模型没有复现，建议使用PP-LiteSeg、BiSeNetV2等，这些新的模型速度更快，精度更高。

[2022-04-25 04:01] #1884 closed, assigned to juncaipeng

[2022-04-25 04:05] yanni1995 commented on #2046
这边有复现计划吗

[2022-04-25 05:08] juncaipeng commented on #2046
模型太老了，应该不会复现。

[2022-04-25 05:14] juncaipeng commented on #1901
前者是动态图执行前向，后者是静态图执行推理。
通常大家不会关注前者的速度，都是使用后者方式进行部署。

[2022-04-25 07:43] caj-github commented on #2042
我调用的就是这个tain函数来训练，我看里面存在读取环境变量判断是否使用多卡，那么要通过API使用单机多卡的话，是否可以通过设置环境变量来完成，还是说不能使用这个训练函数，必须自己实现？

[2022-04-25 07:50] liyaoshigehaoren commented on #1988
有onnx模型，能否发一份给我

[2022-04-25 11:46] hackkhai commented on #2040
Any update on releasing the training code anytime soon?

[2022-04-25 13:15] pythondever opened #2052 "predict 输出 FileNotFoundError: there is not `dataset_root`"
1. PaddleSeg version: 2.3
 2. PaddlePaddle version: PaddlePaddle 2.1.0
 3. Operation system: Windows
 4. Python version: Python3.8
 5. CUDA/cuDNN version: 没有使用gpu
我训练了一个FCN的模型(Linux平台训练),但是当我跑预测时(Windows平台预测)遇到了报错,
Traceback (most recent call last):
  File "predict.py", line 175, in <module>
    main(args)
  File "predict.py", line 144, in main
    val_dataset = cfg.val_dataset
  File "D:\code\pp-

[2022-04-25 13:42] wuyefeilin commented on #2040
Coming soon.

[2022-04-26 02:11] juncaipeng commented on #2042
可以, export CUDA_VISIBLE_DEVICES=1,2,3 设置使用多卡

[2022-04-26 03:21] mohamedAkif commented on #2041
Yes, demo is working fine, got output of the optic nerve bisenet model predictions

[2022-04-26 05:13] wuqi930907 commented on #1901
@juncaipeng 好的，十分感谢，不过这个机制好像和torch不太一样，写法差不多，但是torch前向执行的时候符合FPS与计算量成反比，paddle好像不满足这个规律

[2022-04-26 05:13] #1901 closed, assigned to shiyutang, juncaipeng

[2022-04-26 08:22] messier202 opened #2053 "RandomAffine"
https://github.com/PaddlePaddle/PaddleSeg/blob/6305410933a715ec2cee62af888528e56fe27129/paddleseg/transforms/transforms.py#L1210
Parameter `label_padding_value` isn't passed to `cv2.warpAffine`.

[2022-04-26 12:49] caj-github commented on #2042
设置了没有用，用spawn启动可以了，但是单卡导出onnx正常，多GPU训练后的模型导出onnx报错，There's 1 ops are not supported yet，sync_batch_norm

[2022-04-26 13:25] zgwg opened #2054 "推荐一个在intel x86 CPU下速度和精度都还不错的分割模型"
推荐一个在intel x86 CPU下速度和精度都还不错的分割模型

[2022-04-26 13:52] caj-github commented on #1335
怎么解决的？

[2022-04-26 14:47] beyonehan opened #2055 "Matting 的那个512 ，1024模型导出 onnx 出错请问是什么原因啊"
<img width="1297" alt="截屏2022-04-26 下午10 41 37" src="https://user-images.githubusercontent.com/19468927/165327484-9873dc18-628d-4339-ba7e-156294e631b9.png">

[2022-04-27 02:08] wuyefeilin commented on #2055
在转换的时候指定固定输入的shape试试，比如
paddle2onnx --model_dir inference/ --model_filename model.pdmodel --params_filename model.pdiparams --save_file model.onnx --input_shape_dict="{'x':[1,3,512,512]}"
其中'x'实模型的输入tensor名

[2022-04-27 03:28] juncaipeng commented on #2054
具体要看x86 cpu型号、图片尺寸来具体选择，通常x86 cpu上是选用轻量化模型，推荐使用PP-LiteSeg、SFNet.

[2022-04-27 03:30] #1998 closed, assigned to juncaipeng

[2022-04-27 03:32] #1729 closed, assigned to juncaipeng

[2022-04-27 03:55] juncaipeng commented on #2042
一般导出为预测模型后  sync_batch_norm会变为batch_nrom啊，估计需要转换为单卡再导出

[2022-04-27 07:52] dragonwarrior95 opened #2058 "[Bug]release/2.5的matting导出的静态图模型转paddle-lite模型转不了"
详细信息在这：https://aistudio.baidu.com/aistudio/projectdetail/3895346
1、转paddlejs模型
paddlejsconverter --modelPath=./pp-humanmatting-resnet34_vd/model.pdmodel --paramPath=./pp-humanmatting-resnet34_vd/model.pdiparams --outputDir=./jsmodel --useGPUOpt=False
2、转paddle-lite模型
paddle_lite_opt --model_file=./pp-humanmatting-resnet34_vd/model.pdmodel --param_file=./pp-humanmatting-resnet34_vd/model.pdiparams

[2022-04-27 08:17] shiyutang commented on #2052
The path you assign does not exit:
<img width="635" alt="image" src="https://user-images.githubusercontent.com/34859558/165473663-fb0a0d35-1e41-4b8b-9fc2-0a91dcb47d42.png">

[2022-04-27 08:48] Zenobia7 opened #2059 "[General Issue]PP-Matting code issue"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-04-27 09:09] pythondever commented on #2052
但是跑预测为啥要去检查训练集路径 dataset_root呢?

[2022-04-27 13:41] applepieiris opened #2061 "images图像如果通道数只有1怎么办？另外可以用CPU训练吗？"
images文件夹存放原图（通道数为3），labels文件夹存放标注图像（通道数为1），train.txt、val.txt、test.txt指定训练集、验证集和测试集。
以上是文档内写的，但是我的images只是灰度图，所以怎么去修改呢？还是说我要把图片再转化一遍？
还有文档中提到用单卡训练，请问CPU资源可以训练吗？

[2022-04-28 01:41] haoyuying commented on #2061
image不需要修改，cv2读取灰度图会自动转化成3通道。
cpu可以在这里设置：https://github.com/PaddlePaddle/PaddleSeg/blob/457af2edb51a3c85ac9fd019e564c4099b1ee8bd/train.py#L130

[2022-04-28 02:14] wuyefeilin commented on #2059
PP-Matting代码尚未开源哈，human_matting.py是另一个模型的，适合高分辨率简单背景人像扣图

[2022-04-28 02:57] wangtao1406410139 opened #2062 "可以分割物体嘛"
因为最近左分割物体的项目，这个框架是只能分割人物还是说物体和人物都可以分割

[2022-04-28 06:15] wuyefeilin commented on #2058
在linux环境下通过下面的命令是可以转换的
`paddle_lite_opt --model_dir save_models/exports/pp-humanmatting-resnet34_vd --optimize_out output/paddlelite/modnet_mobilenetv2_opt`
在aistudio看样子是有些算子不支持
![image](https://user-images.githubusercontent.com/30919197/165673364-031974d6-aefc-41e2-b92f-6d193160cf32.png)

paddlejs看样子是因为需要指定输入的shape， 你可以重新导出一下模型，指定输入的shape试试
![image](https://user-images.githubusercontent.com/30919

[2022-04-28 06:42] #2055 closed, assigned to wuyefeilin

[2022-04-28 07:02] beyonehan opened #2063 "请问512 matting那个导出onnx 模型，预测之后的图片有９０度旋转是什么原因啊"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-04-28 07:59] #2028 closed, assigned to wuyefeilin

[2022-04-28 08:15] Murphy-MML opened #2064 "Why the loss value is negative during the DecoupledSegNet training process? Currently built with RTX3090 cuda11.3 using the cuda11.2 docker image provided by your company. Looking forward to your reply"
λ/PaddleSeg python train.py --config configs/decoupled_segnet/decoupledsegnet_resnet50_os8_cityscapes_1024x512_80k.yml --save_dir /PaddleSegData/workdir/decoupledsegnet/decoupledsegnet_resnet50_os8_cityscapes_1024x512_80k --do_eval
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
2022-04-28 08:09:43 [INFO]
------------Environment Information-------------
platform: Linux-5.4

[2022-04-28 09:32] AK391 opened #2065 "add web demo/model to Huggingface"
Hi, would you be interested in adding PaddleSeg to Hugging Face? The Hub offers free hosting, and it would make your work more accessible and visible to the rest of the ML community. Models/datasets/spaces(web demos) can be added to a user account or organization similar to github.

There is already a PaddlePaddle Organization on Hugging Face similar to Github with spaces: https://huggingface.co/P

[2022-04-28 12:04] applepieiris commented on #2061
好的，谢谢。我的mask也就是Label是单通道的图片，看到一个issue是要变化成0,1,2,3的图，请问有具体的文档说明如何定制训练数据吗？我看到readme中写data的生成有点简略。

[2022-04-28 14:00] michaelowenliu commented on #2065
@AK391 Hi, thanks for your kind invitation. What can we do to help you?

[2022-04-28 14:57] AK391 commented on #2065
@michaelowenliu It would be great to have the models for paddleseg hosted on Huggingface with Gradio demos, the paddlehub github for example already links to many gradio demos for models https://github.com/PaddlePaddle/PaddleHub/tree/release/v2.2/modules

[2022-04-29 01:04] Winnie202 commented on #2016
是啊，为什么？解决了吗

[2022-04-29 01:10] 1640477469 opened #2067 "用medicalseg训练自己自己数据集时出现了问题"
你好：
我按照tutorial_cn.md一步步操作，在5.3 增加数据集文件的时候就报错了，
![image](https://user-images.githubusercontent.com/98088542/165870874-339eba32-8d28-44b9-a3f1-7feb66015e8e.png)
转换好的数据集文件夹和要求的也一样：
![image](https://user-images.githubusercontent.com/98088542/165870957-64a85c94-f3b4-4191-82ad-f21c4fbe0a00.png)
如果不进行这一步，直接运行的话会出现如下问题：
![image](https://user-images.githubusercontent.com/98088542/165871766-4a9b6243-a001-4

[2022-04-29 01:52] Winnie202 commented on #1739
请问解决了吗

[2022-04-29 02:44] lifucong opened #2069 "训练一段时间报错退出"
我使用的deeplabv3 自建的数据集合，训练一段时间后报这个问题
python train.py                --config configs/deeplabv3/deeplabv3_resnet50_os8_voc12aug_512x512_40k.yml        --do_eval                --use_vdl        --save_interval 500        --save_dir output
ValueError: The size of image should be less than `target_size`, but the size of image (368, 640) is larger than `target_size` (512, 512)
以下是我的配置
batch_size: 4
iters

[2022-04-29 02:48] LutaoChu commented on #1739
请提供一下复现的命令和yml

[2022-04-29 03:28] GreatV opened #2070 "[Bug] tools/split_dataset_list.py 划分数据集异常"
环境信息

 1. PaddleSeg版本：PaddleSeg release/2.5
 2. PaddlePaddle版本：PaddlePaddle 2.2
 3. 操作系统信息：Linux
 4. Python版本号：Python3.7

使用的脚本命令

[code]

报错信息

[code]

原因分析

此处对浮点数进行了**不等于**判断

https://github.com/PaddlePaddle/PaddleSeg/blob/03e7cef61431077036acfb112e28eee36d2ae092/tools/split_dataset_list.py#L81-L82

实际上不能直接对浮点数进行等于或不等于判读

[code]

修改建议

添加或者使用如下类似的判断

[code]

[code]

[2022-04-29 03:31] applepieiris opened #2071 "在自定义训练集上表现很不好，是什么原因呢？"
`
2022-04-29 09:06:31 [INFO]      [EVAL] #Images: 200 mIoU: 0.4965 Acc: 0.9867 Kappa: 0.0122 Dice: 0.5030
2022-04-29 09:06:31 [INFO]      [EVAL] Class IoU:
[0.9867 0.0063]
2022-04-29 09:06:31 [INFO]      [EVAL] Class Precision:
[0.9868 0.4374]
2022-04-29 09:06:31 [INFO]      [EVAL] Class Recall:
[0.9999 0.0064]
`
以上是我的数据集在val上的表现，class one是背景，class 2是mask，也就是label.我已经将label的图片整理成了你们数据要求的从0开始的类别，也就

[2022-04-29 04:40] henryccl commented on #1739
不好意思 最近比较忙现在才看到，在这个issue里面关于该问题的有解答https://github.com/PaddlePaddle/PaddleSeg/issues/796
感谢解答！！！

[2022-04-29 05:13] LutaoChu commented on #2053
Thanks for your feedback. We have proposed PR for repair

[2022-04-29 06:47] Murphy-MML commented on #2064
当我对BCELoss函数进行更改后，更改` if label.shape[1] == logit.shape[1]:`Label执行0或1的输入，但是训练时loss一直震荡不收敛，mIOU值也很低

[2022-04-29 11:01] AP-Kai opened #2074 "[General Issue] 多卡训练参数问题"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.5
 2.平台： AI Studio 单机四卡 V100 *4

您好，我在使用Seg套件的多卡训练中遇到了问题，多卡训练的参数相当于单卡训练的参数应该如何调整？

比如在Paddle Seg的单卡训练中：batch_size 2,  iters 80000, lr 0.001  。如果要调整到四卡训练，这三个参数应该怎么变化呢，或者其它的参数也要变化？

[2022-04-29 11:35] raykindle commented on #1889
[code]

我也遇到相同的问题，   原来的配置是这样的 :
[code]

但是我的数据尺度只有266 x 266的大小，所以，我修改成了如下的配置，报错了:
[code]

我想要的crop_size为256 x 256，请教一下，我应该怎么修改呢？谢谢

[2022-04-29 11:38] raykindle commented on #1889
基于`segformer_b3_cityscapes_1024x1024_160k.yml`配置修改而来

[2022-05-01 02:25] study1157 opened #2075 "你好，遥感数据加载问题，gdal,ogr和rasterio已经安装上，还是出现"
![image](https://user-images.githubusercontent.com/96522577/166129551-c93ecdae-eb77-4699-96b2-5f4478d5d9c4.png)

[2022-05-01 05:44] pythondever opened #2076 "FCN 分割导出onnx input_shape与预期不一致，输出 [None, 3, None, None]"
1. PaddleSeg版本：2.4
 2. PaddlePaddle版本：2.2
 3. 操作系统信息：ubuntu18.04
 4. Python版本号：Python3.8
 5. CUDA/cuDNN版本：Cuda11.1/cudnn8.1

使用onnxruntime 获取input_shape 输出  [None, 3, None, None]

···
预测脚本
import cv2
import numpy as np
import onnx
import onnxruntime

providers = [
    ('CUDAExecutionProvider', {
        'device_id': 0,
        'arena_extend_strategy': 'kNextPowerOfTwo',
        'gpu_mem_limit': 2

[2022-05-02 03:53] wangyidong3 opened #2077 "[General Issue] Trt output vis issue"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: 2.5
 2. PaddlePaddle version: paddlepaddle-gpu 2.3.0rc0.post112
 3. Operation system: Ubuntu20
 4. Python version: python3.8.12
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context: (Add any other context about the problem)

Hi, I have 2 questions  when I tri

[2022-05-04 04:00] jiangjiajun commented on #2076
预期是什么

[2022-05-04 10:06] marshall-dteach opened #2078 "[Bug]训练过程中存在显存泄露的问题，当训练iter超过了156以后显存会逐渐增长，显存到578个iter就会爆满，项目地址：https://aistudio.baidu.com/aistudio/clusterprojectdetail/3936351"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release 2.5
 2. PaddlePaddle版本：2.2.2
 3. 操作系统信息：Linux
 4. Python版本号：Python3.7
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
 7. 详细的错误信息、相关log：（若使用多卡，log默认保存在log/worklog.0）
 8. 运行指令或复现步骤：
 9. 其他内容: （增加其他与问题相关的内容）

[2022-05-05 02:33] wuyefeilin commented on #2063
这个应该跟你的前后处理有关

[2022-05-05 02:58] juncaipeng commented on #2062
任何目标都可以分割。请参考首页的文档使用。

[2022-05-05 02:58] #2062 closed, assigned to nobody

[2022-05-05 03:03] juncaipeng commented on #2069
你需要知道你训练和测试数据集中图片的尺寸。

如下测试数据集的配置文件中，由于图片尺寸超过512，导致你使用padding到512时出现错误，建议删掉Padding这个预处理操作。

[code]

[2022-05-05 03:04] juncaipeng commented on #2070
👍

[2022-05-05 03:15] #2070 closed, assigned to juncaipeng

[2022-05-05 03:15] shiyutang commented on #2067
嗯嗯，数据集的type就要对应新建dataset.py里面对应的类（这个类的名字根据你自己的数据集重新命名，RibFrac），你这个主要问题：
1. 没有更新 dataset.py 中类的名字，而是使用LungCoronavirus
2. 没有更新配置文件中type名字
3. 数据集中 item 只有一个数值，但是却需要获得img和label

[2022-05-05 03:19] juncaipeng commented on #2071
你看下batch-size是多少，可以适当增加训练轮数iters。
从log来看，你的数据集中背景和目标类别不均衡吧，很多像素都预测成背景和。 建议你改下yaml文件，尝试使用加权CE loss，比如。
![image](https://user-images.githubusercontent.com/52520497/166859067-d76f162d-821c-4393-b71a-fc15c03ff90e.png)

[2022-05-05 03:20] shiyutang commented on #2078
显存泄漏主要的原因在于存在于GPU中、在计算图中的tensor在每次训练中持续累积，因此需要关注训练或者评估中对于tensor的累加/其他计算操作。
下面为排查方向：
<img width="872" alt="image" src="https://user-images.githubusercontent.com/34859558/166859168-2bc2a60f-be56-4076-a565-3baf63cddb2b.png">

[2022-05-05 03:21] juncaipeng commented on #2074
单卡训练中：batch_size 2, iters 80000, lr 0.001
四卡训练改为： batch_size 2, iters 20000, lr 0.004

单卡换为四卡，batch_size不变，相当于总batch_size增加了4倍数，此时iters可以减小为1/4，学习率可以增加4倍。

[2022-05-05 03:22] juncaipeng commented on #2075
是使用EISeg遥感图像标注吗？

[2022-05-05 03:28] AP-Kai commented on #2074
了解啦，谢谢您~

[2022-05-05 03:31] study1157 commented on #2075
是的，问题已解决，raterio安装上，但是与numpy版本冲突，更新numpy版本后就可以了

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年5月5日(周四) 中午11:22
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] 你好，遥感数据加载问题，gdal,ogr和rasterio已经安装上，还是出现 (Issue #2075)

是使用EISeg遥感图像标注吗？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message I

[2022-05-05 03:34] juncaipeng commented on #2077
Hi,
1. infer.py can not load trt engine, it only supports paddle inference model.
2. trt_out is the segmented image, and it has the same shape as the input image. You can refer to the official documents： https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/

[2022-05-05 03:43] marshall-dteach commented on #2078
这是根据教程写的多卡训练的地方，您看看会不会是这里出现了问题？
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月5日(星期四) 中午11:20
***@***.***&gt;;
***@***.******@

[2022-05-05 03:44] 1640477469 commented on #2067
你好，我现在是可以开始训练了（没有进行tutorial_cn.md种5.3的操作 ），但是结果很差。0是背景，1，2，3，4，5是类别，训练dice提升h很小，这种情况还要继续训练吗？
![image](https://user-images.githubusercontent.com/98088542/166860805-9148db96-5992-4daa-977b-12f7eae85362.png)
![image](https://user-images.githubusercontent.com/98088542/166860795-2e15e2a9-9b98-4a4c-9f60-9f241c860797.png)

[2022-05-05 04:03] marshall-dteach commented on #2078
另外paddleseg并行的API与官网提供的也不一致，可能是这里不匹配吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSeg"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月5日(星期四) 中午11:20
***@***.***&gt;;
***@***.

[2022-05-05 04:13] marshall-dteach commented on #2078
![image](https://user-images.githubusercontent.com/63546191/166862734-330a7b02-c890-46c4-9a0e-f95b29c4b57e.png)

[2022-05-05 04:13] marshall-dteach commented on #2078
![image](https://user-images.githubusercontent.com/63546191/166862772-3fdb79d7-6f8a-4878-8891-1710858e4ea4.png)
![image](https://user-images.githubusercontent.com/63546191/166862778-e332b0b6-b2ce-4979-9a63-657c018635fc.png)

[2022-05-05 05:47] RD-Zhou31 opened #2080 "[General Issue]Got an Error while evaluating the official given model"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: 2.5.0
 2. PaddlePaddle version: 2.2.2
 3. Operation system: Win10
 4. Python version: 3.6
 5. CUDA/cuDNN version: cpu version
 6. Additional context:

2022-05-05 00:46:58 [INFO]      Loading pretrained model from https://paddleseg.bj.bcebos.com/matting/models/MobileNetV2_pretraine

[2022-05-05 06:11] fanweiya opened #2081 "[Bug]pp_liteseg导出错误"
报错
[code]
config
[code]

[2022-05-05 08:09] fanweiya commented on #2081
paddlpaddle版本问题，最新的paddlpaddle没有问题

[2022-05-05 08:09] #2081 closed, assigned to nobody

[2022-05-05 10:08] applepieiris commented on #2071
batch_size=20, 背景和目标类别不均衡的意思是：图片中是背景的pixel太多了，是object的像素太少了？

[2022-05-05 11:15] fanweiya commented on #1808
没做normalize

[2022-05-06 00:52] Murphy-MML commented on #436
你好 很冒昧打扰  可以麻烦讲一下具体怎么更改的代码吗  我这边也遇到类似的问题但没有顺利解决 谢谢

[2022-05-06 11:57] LGadore opened #2084 "报错：label should not out of bound, but gotTensor"
在安装后，按照步骤[全流程跑通PaddleSeg](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/whole_process_cn.md)，但是老是运行出错，就是下面这些，折腾了一天实在是搞不定。希望有大佬给解释一下，感谢！！！
"""
Traceback (most recent call last):
  File "train.py", line 230, in <module>
    main(args)
  File "train.py", line 206, in main
    train(
  File "F:\PaddleSeg\PaddleSeg-release-2.5\paddleseg\core\train.py", line 205, in train
    loss_list

[2022-05-07 03:44] ZmelmoryH opened #2085 "[General Issue] paddleSeg/core/infer.py paddle.int8"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-05-07 06:19] zhenzi0322 opened #2086 "[General Issue] 如何训练才好？"
采用`Mattings`数据集是分开训练好还是放在一起训练好呢？比如：人像数据集一批和动物数据集一批。

[2022-05-07 10:59] #2075 closed, assigned to nobody

[2022-05-07 10:59] #2074 closed, assigned to juncaipeng

[2022-05-07 11:00] juncaipeng commented on #2071
对的

[2022-05-07 11:26] KangolHsu opened #2087 "为什么没有固定部分权重参数进行训练的功能？"
固定前N层这个功能大家都没有这需求吗？
每次都是全部权重参与训练，这样的训练效率太低了吧？
为什么没考虑将这个功能加上？
是我的打开方式不对吗？

[2022-05-07 12:55] m828 opened #2088 "[General Issue]CrossEntropyLoss weight"
CrossEntropyLoss 中的weight如何设置？
![image](https://user-images.githubusercontent.com/45037914/167255321-2efc95e6-2edf-4a73-ab95-2a77038120d2.png)
我设置这样，感觉跟none没什么区别。

[2022-05-07 13:21] m828 opened #2089 "[General Issue]推理失败"
![image](https://user-images.githubusercontent.com/45037914/167256154-0c359cb3-1276-4930-bb27-ed3b6ad0f239.png)
已经设置了enable_auto_tune=True，还是提示这个错误。
![image](https://user-images.githubusercontent.com/45037914/167256175-6849af36-efad-4d9f-8f36-01c46e81de3e.png)

[2022-05-07 19:09] Tongfengyu commented on #2080
+1

[2022-05-08 02:40] ly706 commented on #2084
请问解决了吗？我也遇到了

[2022-05-08 02:43] LGadore commented on #2084
没有，后来用cpu版本可以跑起来

[2022-05-08 03:19] pythondever commented on #2076
输出为None 是否意味这是动态的batch 和 shape ?

[2022-05-08 03:23] LiyqSmile opened #2090 "如何训练大图[General Issue]"
我是个小白，想使用PPLiteSeg进行分割，自己的数据图像是2048*2000大小，如何做呢？谢谢

[2022-05-08 04:22] #2052 closed, assigned to shiyutang

[2022-05-08 04:42] baoqicha opened #2091 "TypeError: dtype: int32 is not supported. Process finished with exit code 1[Bug]"
2022-05-05 15:51:33 [INFO]	Start evaluating (total_samples: 5, total_iters: 5)...
Traceback (most recent call last):
  File "E:\Anaconda3\lib\site-packages\SimpleITK\extra.py", line 184, in _get_sitk_pixelid
    return _np_sitk[numpy_array_type.dtype]
KeyError: dtype('int32')

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:/medical

[2022-05-08 04:46] baoqicha commented on #2091
将\medicalseg\core\val.py文件中save_array函数注释掉即可

 # if iter < 5:
            #     save_array(
            #         save_path=os.path.join(
            #             save_dir,
            #             str(iter)),
            #         save_content={
            #             'pred': pred.numpy(),
            #             'label': label.numpy(),
            #             'img': im.numpy()

[2022-05-08 08:18] SoUHoo opened #2092 "自定义数据集在进行可视化时报错 The verification dataset is not specified in the configuration"
1. PaddleSeg version:  PaddleSeg release/2.4
 2. PaddlePaddle version: PaddlePaddle 2.2.0
 3. Operation system: Linux
 4. Python version: Python3.7
 5. CUDA/cuDNN version: CUDA10.2/cuDNN 7.6.5
 6. Additional context:
 python predict.py --config out_export_bisev2_lapb/deploy.yaml \
--model_path out_bisev2_lapb_camvid_2/best_model/model.pdparams \
--image_path 0006R0_f00930.png --save_dir output_bis

[2022-05-08 08:21] SoUHoo commented on #2092
另外在部署推理数据集时报错
python deploy/python/infer_dataset.py --config out_export_bisev2_lapb/deploy.yaml \
--dataset_type Dataset --dataset_path /home/work/data/camvid
2022-05-08 15:56:51 [INFO]      Use GPU
Traceback (most recent call last):
  File "deploy/python/infer_dataset.py", line 324, in <module>
    main(args)
  File "deploy/python/infer_dataset.py", line 297, in main
    predictor.run_dataset()

[2022-05-08 08:51] SoUHoo commented on #1946
你好  你使用的是cityscapes数据集吗，还是使用的使用的其他数据集？

[2022-05-08 09:04] jiangjiajun commented on #2076
对的

[2022-05-09 02:04] wuyefeilin commented on #2086
两者都可以

[2022-05-09 02:44] juncaipeng commented on #1286
![det_demo](https://user-images.githubusercontent.com/52520497/167331828-48b51437-2b91-4846-980f-02347204f1c1.jpeg)

[2022-05-09 03:17] juncaipeng commented on #2092
第一个问题，请升级到使用PaddleSeg 2.5版本。
第二个问题，这个脚本此前没有支持Dataset类数据集，我们会尽快修复改问题，请使用infer.py脚本测试部署。

[2022-05-09 03:22] juncaipeng commented on #2090
建议你先多看看PaddleSeg的文档和示例，学习一下。

图像比较大，训练的时候可以进行裁剪，用小图训练。
测试的时候，可以先缩放到一定尺寸再预测，或者直接原图大小进行预测。

![image](https://user-images.githubusercontent.com/52520497/167335297-f99e0940-d8a1-4add-a8fa-b47ff11cc25d.png)

[2022-05-09 03:24] juncaipeng commented on #2089
这是由于你安装的PaddlePaddle版本不支持trt，请参考文档中的环境准备说明，卸载再安装。

https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/deployment/inference/python_inference_cn.md

[2022-05-09 03:25] juncaipeng commented on #2087
默认是没有支持固定部分权重的功能，后续我们会考虑加入。

通常backbone还是需要参与训练的。

[2022-05-09 03:26] juncaipeng commented on #2088
你这不同类别的权重系数差别不大啊。 如果是类别严重不均衡，可以考虑调整权重系数。  你也可以考虑使用OHEMCrossEntropyLoss

[2022-05-09 06:59] Zenobia7 opened #2093 "[General Issue]ppMatting 代码公布时间"
您好，想问一下ppMatting 代码什么时候公布呢？

[2022-05-09 07:04] shiyutang commented on #2091
it seems there is problem with saving array in windows, we will fix it soon

[2022-05-09 07:10] baoqicha opened #2094 "Running the visualize.ipynb file with jupyterlab, there is no response, no renderings are displayed, and no errors are reported"
Running the visualize.ipynb file with jupyterlab, there is no response, no renderings are displayed, and no errors are reported

[2022-05-09 07:23] m828 commented on #2088
好的，我尝试一下OHEMCrossEntropyLoss。
我想问的是调整权重系数是这样的格式吗？如果格式正确的话，我尝试把权重拉大一下，像weight=[1, 10, 12, 8, 6, 6, 10, 8]类似的，因为我有个别类iou比较低，我想提升一下。
![1](https://user-images.githubusercontent.com/45037914/167360281-908ab902-d0fa-4ecd-9b3a-3a245162a17d.png)

[2022-05-09 07:27] m828 commented on #2089
我重新安装了一下，提示一些版本没有对应，但是也没有保报错，但是看不出来效果，感觉还是有问题。
![image](https://user-images.githubusercontent.com/45037914/167360723-eaff4155-5f0c-496c-9124-59ed6ad58a2d.png)
![image](https://user-images.githubusercontent.com/45037914/167360997-c6468e65-ca37-49fe-ba02-1a79b02bb5ec.png)

[2022-05-09 07:29] m828 commented on #2089
我重新安装了一下，提示一些版本没有，但是也没有保报错，但是看不出来效果，感觉还是有问题。
![image](https://user-images.githubusercontent.com/45037914/167361282-aea2fc45-ac45-43ef-b3db-4458e432561f.png)
![image](https://user-images.githubusercontent.com/45037914/167361301-d93a1f53-8850-4e7f-a5c3-0497a4dc3307.png)

[2022-05-09 07:42] Dreamerzp opened #2095 "pp_liteseg 支持onnx格式导出吗？"

[2022-05-09 13:21] LiyqSmile commented on #2090
谢谢，已经可以训练了

[2022-05-10 02:19] juncaipeng commented on #2093
暂时没有计划开源，只开源预测模型。

[2022-05-10 02:21] juncaipeng commented on #2094
What is the visualize.ipynb file?

[2022-05-10 02:22] juncaipeng commented on #2095
支持，请查看文档：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/configs/pp_liteseg

![image](https://user-images.githubusercontent.com/52520497/167529597-f5538940-75c5-405e-becf-54299d988129.png)

[2022-05-10 02:22] #2090 closed, assigned to juncaipeng

[2022-05-10 02:24] juncaipeng commented on #2089
看着没错啊。
如果有错误，安装准确版本的trt吧，上面给出的链接中可以下载8.0版本的trt。

[2022-05-10 02:26] juncaipeng commented on #2088
嗯  这个结果不错。
是这样调整，精度低的类别权重系数大一点。

[2022-05-10 02:28] m828 commented on #2088
好的，感谢🙏

[2022-05-10 02:36] m828 commented on #2089
我安装的是8.4版本的trt，是否是因为版本太高了，是没有错误，但是看不出来效果，看网上好多推理出来的速度，内存等信息都很清楚。

[2022-05-10 05:29] m828 commented on #2088
我用weight: [1, 20, 20, 15, 10, 10, 20, 10] 跑出来的结果比没有设置weight的结果更差了，这是什么原因呢？
mIoU: 0.7804，
Class IoU:
[0.9852 0.5706 0.5046 0.8483 0.9824 0.9358 0.5434 0.873 ]
之前没有调整的：
mIoU: 0.8128
Class IoU:
[0.9886 0.6241 0.5764 0.8782 0.9846 0.9388 0.6223 0.8894]

[2022-05-10 14:49] LiyqSmile opened #2100 "yaml-cpp相关问题"
（1）windows下VS2017部署预测库，yaml-cpp库使用Cmake编译出来只有yaml-cpp.lib，depoly中引用#include "yaml-cpp/yaml.h"，
相关代码
        YAML::Node node = YAML::LoadFile(yaml_path);
	std::string model_file = node["Deploy"]["model"].as<std::string>();
	std::string params_file = node["Deploy"]["params"].as<std::string>();
	YamlConfig yaml_config = { model_file, params_file };
工程编辑的时候会提示Node无法解析.。
希望可以解答，非常谢谢!

[2022-05-10 18:18] sim-lab-dev opened #2101 "变量不在预训练模型中"
Hi，
我在运行paddleseg predict.py的时候，用的配置文件为configs/pp_liteseg/pp_liteseg_stdc1_cityscapes_1024x512_scale0.5_160k.yml， 模型是 https://bj.bcebos.com/paddleseg/dygraph/PP_STDCNet1.tar.gz，出现变量不在预训练模型中，计算出来的结果也是错乱的，请问这是什么原因造成的，具体日志如下

022-05-10 18:17:03 [WARNING]   backbone.features.6.avd_layer.1.bias is not in pretrained model
2022-05-10 18:17:03 [WARNING]   backbone.features.6.avd_layer.1._mean is not in pr

[2022-05-11 01:41] Quintonkd commented on #2095
![image](https://user-images.githubusercontent.com/33079930/167751716-2bfaa158-a1dd-4dac-a37e-b6426dcc6be4.png)
请问 在导出过程中碰到了这样的错误该怎么解决 @juncaipeng

[2022-05-11 01:44] gutao0315 opened #2102 "paddleseg预测出来的结果 可以有分割区域的坐标吗 应该有的吧 没有的话分割区域是怎么映射到原图上的"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-05-11 02:45] sim-lab-dev opened #2103 "cityscapes eval评价结果错误"
你好，
我把cityscape数据集放到文件夹下之后运行val.py，但是运行结果和期望中差别很大，请问是什么原因
export CUDA_VISIBLE_DEVICES=0
export model=pp_liteseg_stdc1_cityscapes_1024x512_scale0.5_160k
python val.py     --config configs/pp_liteseg/${model}.yml      --num_workers 3

### 运行结果
2022-05-11 02:31:10 [INFO]      [EVAL] #Images: 500 mIoU: 0.0158 Acc: 0.0946 Kappa: 0.0261 Dice: 0.0280
2022-05-11 02:31:10 [INFO]      [EVAL] Class IoU:
[0.0

[2022-05-11 02:51] Noahs007 commented on #2028
楼主有找到好方法吗

[2022-05-11 02:52] Noahs007 commented on #2028
我也发现了这个问题，放一张透明图片作为背景合成后会变成黑色。

[2022-05-11 02:58] androidGhost commented on #2028
我把获取的alpha图片进行颜色滤镜处理，使人像区域和其它区域更加黑白分明（只有黑白两种颜色了），然后遍历原图，判断白色部分取原图人像区域像素，黑色部分设置成透明像素，最后合成图片就是带透明度的人像图了，效果还不错

[2022-05-11 03:00] Noahs007 commented on #2028
可以发一下代码吗 ┭┮﹏┭┮，小红包予以答谢

[2022-05-11 03:03] Noahs007 commented on #2028
只有黑白的话，有些抠成半透明的部分是不是不好处理。

[2022-05-11 03:06] androidGhost commented on #2028
//将原图与背景按照推理得到的alpha图进行合成，front表示原图
    private Bitmap synthetizeBitmap(Bitmap front, Bitmap alpha) {
        Bitmap bitmap = Bitmap.createBitmap(alpha.getWidth(), alpha.getHeight(), Bitmap.Config.ARGB_8888);
        Canvas canvas = new Canvas(bitmap);
        Paint paint = new Paint();
        ColorMatrix colorMatrix = new ColorMatrix();
        float value = 2f;
        float brightness = 255 *

[2022-05-11 03:09] androidGhost commented on #2028
你可以自己测试一下，反正进行手动抠图的话基本就是头发丝部分需要稍微调整而已，比之前一些开源的sdk效果要好很多

[2022-05-11 03:11] Noahs007 commented on #2028
感谢大佬，给个收款码请你喝咖啡吧

[2022-05-11 03:12] androidGhost commented on #2028
不用了，小事

[2022-05-11 03:17] Noahs007 commented on #2028
👍🏻

[2022-05-11 03:44] juncaipeng commented on #2095
这是导出onnx时不支持adaptive_pooling op。
你使用时可以调整一下输入图片的尺寸。 或者配置模型中修改一下cm_bin_sizes为[1, 2]。

[2022-05-11 04:06] zhenzi0322 commented on #1869
@wuyefeilin 用develop分支里的Matting嘛？

[2022-05-11 08:04] fallinghan opened #2104 "[General Issue] PP-HumanSeg14K数据集获取"
您好！我想使用PP-HumanSeg14K数据集做训练。之前发过邮件，很久了未得到回复，请问怎样才能获取到这个数据集呢？

[2022-05-11 08:14] Sachielyuan commented on #2100
我在vs2015也遇到相同问题，yaml-cpp版本是0.7

[2022-05-12 02:49] haoyuying commented on #2103
没加载已经训练好的模型吧https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/val.py#L48
具体使用方式可以参考：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/configs/pp_liteseg

[2022-05-12 02:53] shiyutang commented on #2102
分割结果是在一张图上像素级别的类别标签，坐标可以根据图像本身的信息求取

[2022-05-12 03:07] juncaipeng commented on #2084
请问你们环境配置是什么？
* 操作系统
* python
* PaddlePaddle版本
* PaddleSeg版本

[2022-05-12 03:10] haoyuying commented on #2101
https://bj.bcebos.com/paddleseg/dygraph/PP_STDCNet1.tar.gz 是backbone的预训练模型，是用于做训练过程的初始化的，如果预测需要加载模型，需要加载已经训练好的模型：
![image](https://user-images.githubusercontent.com/35907364/167983138-b7e1c9bc-c8ba-4725-a6db-1746eb5808f1.png)

[2022-05-12 03:10] LutaoChu commented on #2104
你好，申请流程如下，注意使用官方邮箱

The data can be obtained by sending an email to [paddleseg@baidu.com](mailto:paddleseg@baidu.com) via an official email (not use qq, gmail, etc.) including your institution/company information and the purpose on the dataset.

[2022-05-12 03:19] zhenzi0322 opened #2105 "PP-Matting-512 这个模型在哪可以查找到？这个模型是如何训练的呢"

[2022-05-12 03:42] zhenzi0322 commented on #2086
分开训练的效果好还是全部放在一起训练的效果好点？

[2022-05-12 04:45] LGadore commented on #2084
- win10
- python3.8
- paddlepaddle-gpu   2.2.2.post110
- paddleseg   2.5.0

[2022-05-12 04:56] sim-lab-dev commented on #2101
@haoyuying 多谢，已解决

[2022-05-12 06:19] fallinghan commented on #2104
我在4月25日给您给出的邮箱发了申请邮件，但没收到回复，请问是拒绝了我的使用申请吗？

[2022-05-12 07:22] #2101 closed, assigned to haoyuying, juncaipeng

[2022-05-12 07:25] wuyefeilin commented on #2105
暂时没有开源，敬请期待哈

[2022-05-12 07:27] wuyefeilin commented on #2080
请给一下你的评估命令

[2022-05-12 07:27] zhenzi0322 commented on #2105
好的

[2022-05-12 07:28] #2105 closed, assigned to wuyefeilin

[2022-05-12 07:57] sim-lab-dev opened #2107 "转换 onnx 数据不匹配"
### 问题描述
在把pp_liteseg转换成onnx，使用如下命令
python deploy/python/infer_onnx_trt.py  --config configs/pp_liteseg/pp_liteseg_stdc1_cityscapes_1024x512_scale0.5_160k.yml --model_path  pretrained_model/model.pdparams

模型是配置文件对应的模型，转换成onnx的时候出错，
Mismatched elements: 3445798 / 9961472 (34.6%)
Max absolute difference: 0.005983
Max relative difference: 14122.436
 x: array([[[[ 0.432929,  0.432929,  0.432929, ...,

[2022-05-12 09:20] #2076 closed, assigned to jiangjiajun

[2022-05-12 09:36] jyh3690 opened #2109 "[General Issue] Intel MKL DFTI ERROR: Incorrect status"
1.PaddleSeg version :v2.2
2. PaddlePaddle version:paddlepaddle-gpu   2.2.2.post101
3:linux
4:python3.8
5:cuda10.1 cudnn7.6
6:但我运行matting中的python predict.py --config configs/modnet/modnet-resnet50_vd.yml --model_path weights/modnet-resnet50_vd.pdparams  --image_path  data/fg/时，报如下错误：Intel MKL DFTI ERROR: Incorrect status

这个我真的解决不了，能帮我一下嘛？谢谢

[2022-05-12 09:45] haoyuying commented on #2109
可以详细粘贴下报错栈信息吗

[2022-05-12 09:52] zhenzi0322 opened #2110 "请教一下Mattings模型训练后的怎么通过可视化VisualDL查看训练的结果好坏呢？"
![image](https://user-images.githubusercontent.com/34839719/168043559-060e4204-21d8-498a-940e-8eeb21c92a00.png)

![image](https://user-images.githubusercontent.com/34839719/168044306-ba21a8c2-0a99-4b5f-be46-645cfcda12f5.png)

[2022-05-12 09:52] juncaipeng commented on #2107
你是在新数据集上训练了模型吗？
从log来看绝对误差最大数值是0.005983，其实很小了，应该基本不影响分割精度。你可以修改一下infer_onnx_trt.py中的检测代码，放大允许的误差精度。

[链接](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/deploy/python/infer_onnx_trt.py#L439) 这里的rtol和atol可以随意修改。

[2022-05-12 09:56] sim-lab-dev commented on #2107
@juncaipeng 数据集是cityscapes，但是这个误匹配的数量有34.6%，而且用转换之后的模型推理出来的结果和源代码执行的图片差别很大，看上去像是马赛克

[2022-05-12 11:13] hzhao1997 commented on #2080
The same problem occurs when I run` python predict.py     --config configs/modnet/modnet-hrnet_w18.yml     --model_path model_path/pp-matting-hrnet_w18-human_1024/model.pdiparams     --image_path /home/zhao/PPM-100/val/fg/     --save_dir ./output/results `.

[2022-05-13 00:40] nine-city opened #2112 "EISEG工具标注视频是否可行呢"
把视频抽帧为图片
然后用EISEG这类标注工具进行标注后
再拿给fairmot进行训练是否可行呢
或者说paddle有提供能方便标注fairmot的工具吗

[2022-05-13 01:20] jyh3690 commented on #2109
W0513 09:35:16.941200 84063 init.cc:143] Compiled with WITH_GPU, but no GPU found in runtime.
/home/spring/anaconda3/envs/paddleseg/lib/python3.8/site-packages/paddle/fluid/framework.py:311: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  warnings.warn(
/home/spring/jyh/PaddleSeg/paddleseg/models/losses/decoupledsegnet_

[2022-05-13 01:49] haoyuying commented on #2112
近期我们将推出基于eiseg的视频标注工具，敬请期待。

[2022-05-13 02:05] michaelowenliu commented on #2104
@fallinghan Hi, could you please send the request email again?

[2022-05-13 02:15] wuyefeilin commented on #2086
可以按照教程准备好数据集，然后进行训练对比结果哈

[2022-05-13 02:20] wuyefeilin commented on #2110
通过add_image进行添加，更加详细的教程请参考：https://github.com/PaddlePaddle/VisualDL

[2022-05-13 07:07] fallinghan commented on #2104
I just resent the application email, please check.

[2022-05-13 07:51] yzl19940819 commented on #2104
done

[2022-05-13 07:51] #2104 closed, assigned to LutaoChu

[2022-05-13 08:45] zhenzi0322 commented on #2110
我知道上述的，但是我不太清楚官方提供`Mattings`中的`VisualDL`中的参数都代表什么意思？就比如：`Train/all`代表什么？

[2022-05-14 01:42] kj147 commented on #2064
BCELoss 实现有问题，forward 里面没管edge_label 等于True
if self.edge_label :
      edge_mask = F.mask_to_binary_edge(
          label, radius=2, num_classes=self.num_classes)

  loss = paddle.nn.functional.binary_cross_entropy_with_logits(
              logit,
              edge_mask ,
              weight=weight,
              reduction='none',
              pos_weight=pos_weight)

[2022-05-14 02:00] kj147 commented on #2064
另外，我想问一下，你训练速度怎么样，我的只有 0.6sample/s.

[2022-05-14 13:12] #2103 closed, assigned to juncaipeng

[2022-05-14 13:12] #2107 closed, assigned to juncaipeng

[2022-05-14 13:18] sim-lab-dev opened #2114 "输入图片resize后误差较大"
你好，在运行pp_liteseg模型的时候，如果cityscape图片经过resize变小之后比如360X0最后分割的很多分割的物体都会连在一起，如果输入时1024X2480预测结果物体之间的边界很清晰，请问有什么办法能解决这个问题吗

1. PaddleSeg版本：PaddleSeg release/2.5
 2. PaddlePaddle版本：如PaddlePaddle 2.2
 3. 操作系统信息：linux
 4. Python版本号：python3.6
 5. CUDA/cuDNN版本：CUDA10.2/cudnn8.1

[2022-05-16 02:04] #2093 closed, assigned to juncaipeng

[2022-05-16 02:08] juncaipeng commented on #2114
训练和测试时，图像缩放尺寸尽可能相同。
cityscapes原图大小是2048*1024，如果测试的时候缩小了几倍，训练的时候也要缩小几倍。

[2022-05-16 02:49] #2086 closed, assigned to wuyefeilin

[2022-05-16 02:55] zhenzi0322 opened #2115 "[Feature Request] Mattings预测时如何让一张图片的边缘变得清晰?"
您好，我在采用`Mattings`训练出了一个模型，但是遇到些问题，希望能够得到您们的答复。如下：
我在进行预测时发现抠出来的图片中的边缘并不是很清晰。请问有什么参数或方法可以调整抠出来的图片的边缘比较清晰呢？

原图：
![bdb1b6763bb346c0875c6be6c05b5f58](https://user-images.githubusercontent.com/34839719/168512136-4cc3beb1-9cd5-4615-a0f4-648befaf3fd5.jpg)

抠出来的图：
![bdb1b6763bb346c0875c6be6c05b5f58](https://user-images.githubusercontent.com/34839719/168512196-74bfbf8f-df4b-49cf-9c8e-da00d3e6cbb9.png)

ma

[2022-05-16 02:59] zhenzi0322 commented on #2059
请问，复杂背景人像抠图用哪个模型呢？

[2022-05-16 05:55] tengshaofeng opened #2116 "use link中的人像分割，用的是具体哪个模型啊"
作者大大，做了令人震惊的工作，受益匪浅。能不能弱弱的问一句
Matting项目中的using link中的人像分割链接服务用的是哪一个模型啊human_matting-resnet34_vd.yml吗？
另外PP-Matting-512， PP-Matting-1024貌似没有找到对应的config文件

[2022-05-16 07:33] sim-lab-dev commented on #2114
@juncaipeng 这样是不是说训练出来的模型不够普适

[2022-05-16 13:55] dragonwarrior95 commented on #2058
指定输入Shape是哪里指定？求详细解答一下？

[2022-05-17 02:42] wuyefeilin commented on #2058
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/Matting/export.py#L56 传入具体的shape信息试试

[2022-05-17 02:46] wuyefeilin commented on #2115
可以使用pp-matting-1024模型试试。

[2022-05-17 02:48] wuyefeilin commented on #2116
使用的时PP-Matting-512哈

PP-Matting两个模型暂时没有开源哈，可以直接使用开源的导出模型进行预测部署

[2022-05-17 03:03] tengshaofeng commented on #2116
好的，感谢作者大大耐心回复，但是拿到开源的导出模型貌似也没法部署把？我看export和deploy也是需要.yml配置文件的，可是看不到PP-Matting的配置文件

[2022-05-17 03:05] zhenzi0322 commented on #2115
该模型不是还没有开源出来嘛？我上次就问过您，您说该模型暂未开源。

[2022-05-17 03:09] wuyefeilin commented on #2115
开源了部署模型，可以直接用来预测，参考文档部署部分哈
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/Matting#deploy

[2022-05-17 03:14] zhenzi0322 commented on #2115
对的，部署模型是更新了，解决了我一个预测后的图片体积过大的问题，但是我目前采用的就是`release/2.5`里最新部署模型。效果就如上面所说的边缘不够清晰。这个站点 https://588ku.com/koutu/index.html#/tool 抠出来的图片边缘是很清晰的。也是用的上面同一张图片。就是我们的`Mattings`模型要如何才能达到抠出来的图片边缘清晰就跟原图差不多。

[2022-05-17 03:19] Murphy-MML opened #2117 "我想咨询下如何实现新建模型在ImageNet等预训练，比如DDRNet39的预训练权重如何获得，本项目仅提供DDRNet23的权重。"
谢谢

[2022-05-17 08:47] anzx2452 opened #2120 "[Bug] 在aistudio上实例化模型出错，之前是可以的，但是现在不可以了"
通过pip install paddleseg 安装默认版本
-->    `model = paddleseg.models.segformer.SegFormer_B2(num_classes=4) `  出错

错误输出：
---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
/tmp/ipykernel_202/4247776124.py in <module>
----> 1 model = paddleseg.models.segformer.SegFormer_B2(num_classes=4)
      2
      3 #

[2022-05-17 08:50] wuyefeilin commented on #2116
![image](https://user-images.githubusercontent.com/30919197/168770690-62fc8b35-be58-498c-a69e-8e4010305baf.png)
![image](https://user-images.githubusercontent.com/30919197/168770751-d7cb58ec-e1b2-47d6-a946-cf7058fa5d8f.png)
下载解压后你可以看到deploy.yaml

[2022-05-17 09:04] wuyefeilin commented on #2115
可以把下载下来文件里面的deploy.yaml里的LimitShort给去掉，进行原图分辨率预测

[2022-05-17 09:08] wuyefeilin commented on #2117
https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/algorithm_introduction/ImageNet_models.md Paddle模型相关的backbone的分类预训练模型都在这里了

[2022-05-17 09:14] tengshaofeng commented on #2116
好的好的，相当于一个黑盒咯，逆向搞不出模型结构！谢谢啦

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: wuyefeilin ***@***.***&gt;
发送时间: 2022年5月17日 16:50
收件人: PaddlePaddle/PaddleSeg ***@***.***&gt;
抄送: bojohn ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleSeg] use link中的人像分割，用的是具体哪个模型啊 (Issue #2116)

 下载解压后你可以看到deploy.yaml

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Y

[2022-05-17 09:38] zhenzi0322 commented on #2115
我的导出模型中没有`LimitShort`这个参数。我的`deploy.yaml`如下：
[code]

[2022-05-17 11:05] Murphy-MML commented on #2117
你好 感谢你的回复，我的意思是在进行二次开发的过程之中，飞桨是否提供了在imagenet预训练的程序实现之类 的。谢谢

[2022-05-17 12:58] pythondever opened #2122 "fcn 转onnx 在GPU上无法预测"
我这有个模型基于fcn算法训练出来的,使用paddle2onnx 导出为onnx模型,在cpu 上可以正常预测,在GPU 上预测报错

onnxruntime.capi.onnxruntime_pybind11_state.Fail: [ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running FusedConv node. Name:'Conv_34' Status Message: CUDNN error executing cudnnAddTensor(Base::CudnnHandle(), &alpha, Base::s.z_tensor, Base::s_.z_data, &alpha, Base::s_.y_tensor, Base::s_.y_data)

对于这种错误是否有解决的建

[2022-05-18 01:45] jiangjiajun commented on #2122
cuda升级为11.4， cudnn升级为8.2再试下，这个是onnxruntime-gpu 1.11.0的适配版本

[2022-05-18 01:53] pythondever commented on #2122
cuda11.4. cudnn8.2 onnxruntime-gpu 1.11.0 试过了，还是一样的错误

[2022-05-18 01:56] jiangjiajun commented on #2122
提供一下你的paddle模型和onnx模型，我来测试下

[2022-05-18 01:56] pythondever commented on #2122
怎么提供，issue 好像不能上传文件?

[2022-05-18 01:57] jiangjiajun commented on #2122
模型不大的话，直接上传即可
<img width="1106" alt="image" src="https://user-images.githubusercontent.com/19339784/168941373-cccf8166-5825-416e-8e01-baf7c8f01f7b.png">

[2022-05-18 02:02] wuyefeilin commented on #2115
![image](https://user-images.githubusercontent.com/30919197/168941864-6fe56013-dc95-4356-a38b-c47806da798f.png)
把这一行删除就行了

[2022-05-18 02:03] wuyefeilin commented on #2117
PaddleClas就可以哈，具体操作可以到PaddleClas repo看教程哈

[2022-05-18 02:06] pythondever commented on #2122
zip 格式上传 提示 is not included in the list

[2022-05-18 02:10] zhenzi0322 commented on #2115
删除之后，我的`deploy.yaml`变成了这样：
[code]
最后预测的效果如下：
![image](https://user-images.githubusercontent.com/34839719/168942660-6aa40ae3-4c66-4125-b7d1-1c42d2883761.png)

效果比之前的还要差了。

[2022-05-18 02:14] zhenzi0322 commented on #2115
这是我训练时使用的配置。如下：
[code]

[2022-05-18 02:15] jiangjiajun commented on #2122
jiangjiajun#baidu.com 邮箱

[2022-05-18 02:18] pythondever commented on #2122
https://github.com/pythondever/_onnx_demo_error 这里可以下载

[2022-05-18 02:55] jiangjiajun commented on #2122
paddle模型直接提供model.pdmodel和model.pdiparams，而非权重参数

[2022-05-18 03:00] pythondever commented on #2122
刚刚上传到仓库了

[2022-05-18 03:04] marshall-dteach opened #2124 "[Bug]infer时的问题"
报错：
2022-05-18 10:51:02 [INFO]	Use GPU
W0518 10:51:04.675190  3051 analysis_predictor.cc:795] The one-time configuration of analysis predictor failed, which may be due to native predictor called first and its configurations taken effect.
[libprotobuf ERROR /paddle/build/third_party/protobuf/src/extern_protobuf/src/google/protobuf/io/coded_stream.cc:208] A protocol message was rejected because it w

[2022-05-18 03:05] marshall-dteach commented on #2124
![image](https://user-images.githubusercontent.com/63546191/168948801-57f8ced2-cc18-474b-9bb4-7533290e269b.png)
命令

[2022-05-18 03:21] caomao1111 opened #2125 "使用自定义数据集问题"
使用BiseNetV2训练我自己的裂缝数据集（二分类的分割任务）训练，结果mIoU永远为0.5是为何，训练loss一直在降低，但mIoU完全没变，数据集是灰度图

[2022-05-18 04:07] nine-city commented on #2112
有大概的时间节点吗

[2022-05-18 06:16] Augus518 opened #2126 "The type of data we are trying to retrieve does not match the type of data currently contained in the container"
问题描述如下：
 1. PaddleSeg版本：PaddleSeg release/2.3
 2. PaddlePaddle版本：如PaddlePaddle 2.1.0
 3. 操作系统信息：Windows
 4. Python版本号：Python3.9
 5. CUDA/cuDNN版本：cpu
 7. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
  void run(Predictor* predictor, const std::vector<float>& input,
	const std::vector<int>& input_shape, std::vector<float>* out_data) {
	auto input_names = predictor->GetInputNames();
	auto input_t = predictor->GetInput

[2022-05-18 10:25] Murphy-MML commented on #2117
好的 感谢

[2022-05-18 10:25] #2117 closed, assigned to wuyefeilin

[2022-05-18 10:31] Murphy-MML opened #2127 "DDRnet在使用ADE20K数据集训练时，报错如下。期待回复，谢谢。"
_base_: '../_base_/ade20k.yml'

batch_size: 3
iters: 120000

train_dataset:
  transforms:
    - type: ResizeStepScaling
      min_scale_factor: 0.5
      max_scale_factor: 2.0
      scale_step_size: 0.25
    - type: RandomPaddingCrop
      crop_size: [520, 520]
      im_padding_value: [0, 0, 0]
    - type: RandomHorizontalFlip
    - type: RandomDistort
      brightness_range: 0.4
      contrast_ra

[2022-05-18 11:58] KoapT opened #2128 "[General Issue] 提供的模型下载不下来。"

[2022-05-18 17:05] marshall-dteach commented on #2124
已经查明，是静态模型大于64MB的问题，请问有解决方法吗

[2022-05-19 00:34] #2127 closed, assigned to nobody

[2022-05-19 01:51] zhenzi0322 opened #2129 "请问一下：Mattings模型对应的Train/all中的loss为什么降不下来的呢"
如下图所示：
![image](https://user-images.githubusercontent.com/34839719/169186637-7ac30663-3b03-46ca-8dcb-d41fa616bd9d.png)

目前准备了`32877`张图像进行训练。

[2022-05-19 02:20] shiyutang commented on #2128
Please provide the model name and model link.

[2022-05-19 02:23] shiyutang commented on #2124
You can provide the model and I will continue the infer the model in the validation phase.

[2022-05-19 02:24] shiyutang commented on #2125
Can you provide the information about the loss change?

[2022-05-19 02:38] caomao1111 commented on #2125
2022-05-19 10:36:53 [INFO]      [TRAIN] epoch: 2, iter: 110/1000, loss: 0.0006, lr: 0.045067, batch_cost: 0.1060, reader_cost: 0.00008, ips: 37.7453 samples/sec | ETA 00:01:34
2022-05-19 10:36:54 [INFO]      [TRAIN] epoch: 2, iter: 120/1000, loss: 0.0007, lr: 0.044612, batch_cost: 0.1000, reader_cost: 0.00006, ips: 40.0111 samples/sec | ETA 00:01:27
2022-05-19 10:36:55 [INFO]      [TRAIN] epoch: 2

[2022-05-19 02:38] Adam-lxd commented on #2015
遇到同样的问题，看了下`eiseg2paddlex.py`的源代码，在76行-85行是生成`auto_save.txt`文件的，但是文件的打开方式不对（用`w+`模式可以解决） 代码如下
[code]

[2022-05-19 02:40] caomao1111 commented on #2125
log文件有点奇怪，是一堆16进制数
1a00 0000 0000 0000 0a18 120d 6d65 7461
5f64 6174 615f 7461 6718 82bd f2a8 8d30
5200 1c00 0000 0000 0000 0a1a 080a 120a
5472 6169 6e2f 6c6f 7373 18ab d0f2 a88d
3025 b56a 0b40 1e00 0000 0000 0000 0a1c
080a 120c 5472 6169 6e2f 6c6f 7373 5f30
18ab d0f2 a88d 3025 6ed5 b13e 1e00 0000
0000 0000 0a1c 080a 120c 5472 6169 6e2f
6c6f 7373 5f31 18ab d0f2 a88d 3025 6639
813f 1e00 0000 0000 0

[2022-05-19 02:48] caomao1111 commented on #2125
本数据集是二分类的（背景与裂缝两类），进行分类时所有像素都被分为背景类，训练完全没有起作用

[2022-05-19 02:56] zhenzi0322 commented on #2115
您好，可能`Matting`模型本身就存在抠出来的图片边缘不清晰的问题，我通过下载`PP-Matting-512`和`PP-Matting-1024`的模型下来进行预测同一张图片发现这两个模型的边缘都比较清晰。我想知道什么时候可以开源`PP-Matting-512`和`PP-Matting-1024`。我这边想尝试使用这两个模型进行训练。

[2022-05-19 03:20] caomao1111 commented on #2125
数据集配置
train_dataset:
  type: Dataset
  dataset_root: data/DeepCrack
  train_path: data/DeepCrack/train_list2.txt
  num_classes: 2
  transforms:
    - type: Resize
      target_size: [544,384]
    - type: RandomHorizontalFlip
    - type: Normalize
  mode: train

[2022-05-19 06:20] wuyefeilin commented on #2129
说明模型训练收敛了，具体要看验证集的评估指标及扣图效果。

[2022-05-19 07:03] zhenzi0322 commented on #2129
评估指标如下：
[code]
请问我目前的这个模型的指标如何？

抠图的效果是边缘不够清晰。

[2022-05-19 10:04] zhenzi0322 commented on #2129
模型收敛是说明训练完成了嘛？但是我的抠图效果有些图片抠的还不太好呢，要如何才能把`loss`降下来呢？

[2022-05-19 12:20] shiyutang commented on #2125
It seems the loss does not take effect because it is tiny. And it can be told from the log, the accuracy is close to 1. Therefore, we can imagine the dataset is extremely imbalanced, so you should try other losses like Lovasz loss or dice loss, or add weight to the CELoss. And try other method to augment your data.

[2022-05-19 12:20] #2124 closed, assigned to shiyutang

[2022-05-19 12:20] #2102 closed, assigned to shiyutang

[2022-05-19 12:21] #2091 closed, assigned to shiyutang

[2022-05-19 12:21] #2003 closed, assigned to shiyutang

[2022-05-19 12:21] #1954 closed, assigned to shiyutang

[2022-05-19 12:25] shiyutang commented on #2067
Can you reproduce the result on the lung_coronavirus dataset?
If yes, The data you provide seems to be very imbalanced, try to 1. add weight on Cross Entropy loss,  2.augment your data.
If no, try to reproduce the original result first.

[2022-05-19 12:27] shiyutang commented on #1943
If you have any further question, you are very welcomed to repoen it.

[2022-05-19 12:27] #1943 closed, assigned to shiyutang

[2022-05-19 12:27] shiyutang commented on #1934
If you have any further question, you are very welcomed to repoen it.

[2022-05-19 12:27] #1934 closed, assigned to shiyutang

[2022-05-19 12:28] shiyutang commented on #1909
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:28] #1909 closed, assigned to shiyutang

[2022-05-19 12:28] shiyutang commented on #1907
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:28] #1907 closed, assigned to shiyutang

[2022-05-19 12:29] shiyutang commented on #1904
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:29] #1904 closed, assigned to shiyutang

[2022-05-19 12:29] shiyutang commented on #1866
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:29] #1866 closed, assigned to shiyutang

[2022-05-19 12:29] shiyutang commented on #1771
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:29] #1771 closed, assigned to shiyutang

[2022-05-19 12:29] shiyutang commented on #1763
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:29] #1763 closed, assigned to shiyutang

[2022-05-19 12:29] shiyutang commented on #1728
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:29] #1728 closed, assigned to shiyutang

[2022-05-19 12:30] shiyutang commented on #1713
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:30] #1713 closed, assigned to shiyutang

[2022-05-19 12:30] shiyutang commented on #1821
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:30] #1821 closed, assigned to shiyutang

[2022-05-19 12:30] shiyutang commented on #1853
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:30] #1853 closed, assigned to shiyutang

[2022-05-19 12:31] shiyutang commented on #1775
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:31] #1775 closed, assigned to shiyutang

[2022-05-19 12:31] shiyutang commented on #1952
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:31] #1952 closed, assigned to shiyutang

[2022-05-19 12:31] shiyutang commented on #1955
If you have any further questions, you are very welcome to reopen it.

[2022-05-19 12:31] #1955 closed, assigned to shiyutang

[2022-05-20 01:05] caomao1111 commented on #2125
我查了下数据集，一张图片里面正负样本比例约为1:30，但我设置weight和改用Lovasz等损失函数Loss依旧太小，Acc依旧一直为1，这是为何，按照全预测为负样本的话Acc也应该为97%左右，为何会直接为1

[2022-05-20 01:09] Murphy-MML commented on #2064
我这边通过只更改这些，发现报错
ValueError: operands could not be broadcast together with remapped shapes [original->remapped]: (3,2)  and requested shape (4,2)
请问方便把你的binary_cross_entropy_loss.py文件复制一下粘在回复吗，万分感谢

[2022-05-20 01:41] pythondever commented on #2122
@jiangjiajun 有什么进展不?

[2022-05-20 02:32] wuyefeilin commented on #2115
可以把MODNet的backbone换成hrnet， 这样模型的学习能力会更强。 因为训练的时候是小图，在大图中预测容易出现错误的情况。 你把512改成1024重新预测试试。

另外你的数据集的分辨率分布情况是怎么样的？

[2022-05-20 02:38] zhenzi0322 commented on #2115
有大图也有小图，小图最小是`550*366`，大图的话最大达到4K。我是把它们全部放在一起训练的。

[2022-05-20 02:39] zhenzi0322 commented on #2115
好的，我试试您说的这种方式重新预测看看。

[2022-05-20 02:50] zhenzi0322 commented on #2115
我按您说的重新修改了配置文件，配置文件内容如下：
[code]
然后我使用我之前训练好的模型跟这个配置文件一起进行导出模型。最后预测的效果如下：
![image](https://user-images.githubusercontent.com/34839719/169438998-b3ee3156-d3c6-4ce2-b4cd-25276774374f.png)

上面图片的尺寸是`3264*1836`。抠得效果不太好。

[2022-05-20 06:48] wuyefeilin commented on #2115
![image](https://user-images.githubusercontent.com/30919197/169468706-60d39f9a-7316-4bee-ae74-5d55bd3fe490.png)
这个改成
-type: LimitShort
  max_short:1024

[2022-05-20 07:04] zhenzi0322 commented on #2115
是不是得配合采用`HRNet_W18`训练的模型进行导出才会效果好，我试了如果用我之前的模型配合你说的参数进行抠图，抠得效果会很差。

[2022-05-20 08:19] zhenzi0322 opened #2132 "请问Matting训练好的模型如何在aistudio里面创建趣味体验馆呢"
如下：
![image](https://user-images.githubusercontent.com/34839719/169484841-3bfd3c02-2cf2-45a1-a7ad-4aeb55410749.png)

请问下：有没有相关的流程是关于在`aistudio`里面创建趣味体验馆的？主要针对的`Matting`模型的。j

趣味体验馆里面的制作输入输出转换器不清楚怎么写好？
![image](https://user-images.githubusercontent.com/34839719/169485608-8646b3ca-bae9-4880-974a-fce30ac2eda2.png)

[2022-05-20 12:18] lusichao opened #2134 "MedicalSeg的问题"
训练的时候出现错误：
Traceback (most recent call last):
  File "train.py", line 194, in <module>
    main(args)
  File "train.py", line 173, in main
    train(
  File "/root/PaddleSeg/contrib/MedicalSeg/medicalseg/core/train.py", line 132, in train
    logits_list = model(images)
  File "/root/anaconda3/lib/python3.8/site-packages/paddle/fluid/dygraph/layers.py", line 930, in __call__
    return self._dygra

[2022-05-21 09:53] guoxuntao opened #2135 "[Bug]模型蒸馏显示缺少AdaptorBase"
报错信息：
[05-21 17:39:33 MainThread @logger.py:242] Argv: PaddleSeg-develop/slim/distill/distill_train.py --teather_config PaddleSeg-develop/configs/quick_start/deeplabv3p_resnet50_os8_optic_disc_512x512_1k_teacher.yml --student_config PaddleSeg-develop/configs/quick_start/deeplabv3p_resnet18_os8_optic_disc_512x512_1k_student.yml --do_eval --use_vdl --save_interval 250 --num_workers 3 --seed 0 --save

[2022-05-21 11:14] guoxuntao commented on #1602
楼主你解决了吗

[2022-05-21 11:15] guoxuntao commented on #1602
我现在也碰到这个问题，还没有解决

[2022-05-21 11:28] guoxuntao opened #2136 "PaddleSeg中蒸馏缺少AdaptorBase"
https://github.com/PaddlePaddle/PaddleSeg/blob/64793f21b299f6a037624a044dcfb48d303c6129/slim/distill/distill_config.py#L24

[2022-05-22 09:43] sim-lab-dev opened #2137 "小分辨率图片结果误差大"
你好，请问用cityscapes重新训练分割网络的时候把输入分辨率设置为480X640之后训练的结果比paddle的预训练模型差很多，mIOU只有0.6左右，请问这是什么原因，有什么办法能供提升小分辨率图片训练的精度吗

[2022-05-23 02:16] wuyefeilin commented on #2115
是的， 或者重新训练一下看看

[2022-05-23 02:19] wuyefeilin commented on #2132
暂时没有哈，可以联系aistudio的工作人员咨询相关问题哈。非常欢迎您建设一个体验馆，我们将会进行展示并表示感谢哈

[2022-05-23 02:54] juncaipeng commented on #2135
目前paddleseg适配的slim特定版本，请按照下面方法进行安装slim：
![image](https://user-images.githubusercontent.com/52520497/169734554-35283e54-f6a0-43c2-ab1c-9decf8c247c5.png)

[2022-05-23 02:57] #2136 closed, assigned to nobody

[2022-05-23 03:00] juncaipeng commented on #2137
是将cityscapes验证集中图片的分辨率设置为480x640吧？
通常而言，图片分辨率减小，信息会丢失，分割精度会下降，预测速度会加快。 目前没有太好的办法来解决这个矛盾。

[2022-05-23 03:13] Murphy-MML opened #2138 "DecoupledSegNet 训练过程之中 loss值负值，我目前布置为显卡3090 cuda11.3使用贵司提供的cuda11.2docker镜像构建的系统。期待您的回复 [General Issue]"
问题似乎出现在bceloss上，期待完善。

[2022-05-23 03:18] shiyutang commented on #2134
I think this is the problem with the paddle version, try switching to paddle==2.2. Btw, did you switch the bn1 from BatchNorm3D to SyncBatchNorm? The error is located within SyncBatchNorm.If you did, I think changing back to BatchNorm3D will help as well.

But it is a bit odd that I cannot reproduce your error with different paddle versions or different BN. Maybe you can put forward an issue to [P

[2022-05-23 03:40] shiyutang commented on #2125
I think you can check your validation set and see if there is a problem with the data.

[2022-05-23 03:42] guoxuntao commented on #2135
git reset --hard 15ef0c7dcee5a622787b7445f21ad9d1dea0a933

为什么输入
git reset --hard 15ef0c7dcee5a622787b7445f21ad9d1dea0a933
会报错：
aistudio@jupyter-2225020-4065307:~/PaddleSlim-develop$ git reset --hard 15ef0c7dcee5a622787b7445f21ad9d1dea0a933
fatal: Not a git repository (or any parent up to mount point /home/aistudio)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

[2022-05-23 05:42] Spikexxf opened #2139 "[Feature Request]EIseg是否又C++的版本计划，或者能否提供一个C++的解决方案呢"
我想在C++客户端使用Eiseg标注工具，我不知道这个特殊的模型是否支持C++的部署

[2022-05-23 07:05] yuexiayiren159aaa opened #2141 "pp_liteseg的推理时间"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: 2.5
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: linux
 4. Python version: (3.7
 5. CUDA/cuDNN version: cuda11.4

![image](https://user-images.githubusercontent.com/102778714/169761584-23e18a5a-edc2-4694-8ce9-0fdeebc5cced.png)
![image](https://user-ima

[2022-05-23 08:43] juncaipeng commented on #2141
请参考文档中的部署方法进行复现：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/configs/pp_liteseg#inference

![image](https://user-images.githubusercontent.com/52520497/169780012-f2e46f42-6cb9-49f4-83ea-164ab05cacbb.png)

[2022-05-23 08:46] yuexiayiren159aaa commented on #2141
那我将模型转成onnx再转成mnn后的推理速度应该也很慢是吧，我最终是转onnx然后转mnn后部署

[2022-05-23 08:47] haoyuying commented on #2139
目前暂时没有该计划

[2022-05-23 09:52] juncaipeng commented on #2135
由于你不是clone的paddleslim，而是下载的paddleslim压缩包吧。

[2022-05-23 09:53] juncaipeng commented on #2141
pp-liteseg模型是针对NV GPU设计的，在NV GPU上测试的速度。

[2022-05-23 09:54] juncaipeng commented on #2114
通常就是这样，训练和测试的图片缩放倍数差别过大，是会影响精度。

[2022-05-23 10:13] guoxuntao commented on #2135
问题已经解决：大家要clone github上的slim，不要clone gitee上的，然后记得git clone完了之后，cd PaddleSlim，再进行git reset --hard 15ef0c7dcee5a622787b7445f21ad9d1dea0a933

[2022-05-23 10:13] #2135 closed, assigned to juncaipeng

[2022-05-23 10:46] juncaipeng commented on #2126
不同模型需要使用netron可视化看下输出的类型。

[2022-05-23 12:20] jiangjiajun commented on #2122
我复现了你的这个问题，但我没看到有任何问题跟Paddle2ONNX有关，你可能需要到onnxruntime的repo下提一个issue

[2022-05-23 14:14] pythondever commented on #2122
好的，非常感谢，已经提了一个 issue [https://github.com/microsoft/onnxruntime/issues/11548](url)

[2022-05-23 14:14] #2122 closed, assigned to jiangjiajun

[2022-05-23 16:02] summerwbb commented on #1837
Excuse me, have you get PP-Humanmatting's model.pdopt?Can you share it with me？

[2022-05-23 16:03] summerwbb commented on #1837
Excuse me, have you get PP-Humanmatting's model.pdopt?Can you share it with me？

[2022-05-24 01:05] xixixihaha opened #2144 "[General Issue] 没看出哪些模型支持实例分割"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-05-24 01:38] zhenzi0322 commented on #1837
Are you talking about the official model?

[2022-05-24 01:39] summerwbb commented on #1837
yes

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年5月24日(星期二) 上午9:38
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSeg] PP-HumanMatting中的数据集是不是需要高分辨率的图片 (Issue #1837)

Excuse me, have you get PP-Humanmatting's model.pdopt?Can you share it with me？

Are you talking about the official model?

—
Reply to this email dire

[2022-05-24 01:41] zhenzi0322 commented on #1837
Send me your email, I will send you through the email

[2022-05-24 02:36] liuzimo opened #2145 "[Bug]"
(opencv) C:\Users\浩哥哥>eiseg
Traceback (most recent call last):
  File "d:\anaconda3\envs\opencv\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "d:\anaconda3\envs\opencv\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "D:\Anaconda3\envs\opencv\Scripts\eiseg.exe\__main__.py", line 4, in <module>
  File "d:\anaconda3\envs\opencv\lib\site-packa

[2022-05-24 02:52] #2145 closed, assigned to nobody

[2022-05-24 08:47] ChenDirk commented on #1602
参考一下军才的回复，需要使用指定分支。

[2022-05-25 02:07] shuxp opened #2150 "[Feature Request]add MaskFormer to paddleseg"
According to public papers, MaskFormer got better performance, but not appear in paddleseg.

Is it possible to develop and integrate it into paddleseg？

Maybe there are some implementations with pytorch format, but paddle format is better...

[2022-05-25 06:52] #1330 closed, assigned to michaelowenliu

[2022-05-25 06:54] BenyaminZojaji opened #2153 "inference time"
Hey,

Would you please add a complete inference time table to `readme.md` that will be great.

[2022-05-25 07:35] Murphy-MML opened #2154 "我在运行tools/analyze_model.py 时遇到如下报错，ddrnet39是我个人添加的网络，train时没有问题。"
2022-05-25 07:32:20 [INFO]      config:configs/ddrnet/ddrnet39_cityscapes_1024x1024_120k.yml
2022-05-25 07:32:20 [INFO]      input_size:
2022-05-25 07:32:20 [INFO]      [1, 3, 1024, 1024]
2022-05-25 07:32:20 [INFO]
------------Environment Information-------------
platform: Linux-5.4.0-90-generic-x86_64-with-Ubuntu-18.04-bionic
Python: 3.7.13 (default, Apr 24 2022, 01:04:09) [GCC 7.5.0]
Paddle comp

[2022-05-25 10:38] xdg2016 opened #2156 "EIseg加载模型，paddle_infer.create_predictor(config) 解析出错"
如题：在使用paddle推理时
![image](https://user-images.githubusercontent.com/16351823/170243624-9440b78a-7d47-48e4-9bca-adedfe1931a8.png)

最后这个C:\home\workspace\Paddle_release这个路径都不存在。

环境：
python3.9，
paddle-cpu 2.3.0，
paddelseg 2.5.0
win10 x64
无CUDA

---

[2022-05-26 02:18] shiyutang commented on #2153
We have provided inference time about models in the [model zoo](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/model_zoo_overview.md#summary-table).

[2022-05-26 02:52] haoyuying commented on #2156
您好，报错原因是模型架子啊路径提供的不对，从readme里下载https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/EISeg
相关模型，不要有中文路径，如果不行，尝试用paddle_infer.create_predictor单独加载模型，看是否报错，如报错，可能是paddle安装的问题，建议根据自己的环境重新安装paddle

[2022-05-26 02:56] cloudsurging opened #2157 "cuda11.2配置什么版本tensorRT？"
ubuntu 18.04，cuda11.2，cudnn8.1，使用tensorRT 7.2.3.4时出错：
![无标题](https://user-images.githubusercontent.com/32347832/170405988-a03ed26e-11e2-40f9-b64a-7c53fc1e7cb3.png)
提示libnvrtc.so.11.1没有，可是cuda11.2有libnvrtc.so.11.2呀。
以上问题怎么解决？

[2022-05-26 03:22] leegang opened #2158 "[General Issue]RLE掩码标注的数据集如何使用PaddleSeg？"
RLE掩码标注的数据集如何使用PaddleSeg？
也需要转换成png 再加载进去训练吗？感觉这样效率不高

[2022-05-26 04:06] #2158 closed, assigned to nobody

[2022-05-26 04:13] juncaipeng commented on #2154
从log来看，是该模型没有注册，你可以在tools/analyze_model.py中import一下新增模型的文件。

[2022-05-26 04:35] SuckChen opened #2159 "when train and predict come across OSError external"
Facing this two problem:
CUDA 11.2  DRIVE VERSION 460.106
OSError external CUBLAS error(7) hint: CUBLAS_STATUS_INVALID_VALUE
OSError external CUSPARSE error(1)

[2022-05-26 06:47] Spikexxf commented on #2139
这个模型能够用C++直接调吗

[2022-05-26 09:08] jiguanglu opened #2160 "[Bug]PaddleSeg 使用tensorRT加速，仅仅分割了几张图片，就退出"
1. PaddleSeg版本：（PaddleSeg release/2.４）
 2. PaddlePaddle版本：（PaddlePaddle 2.2.2）
 3. 操作系统信息：（Ubuntu18.04）
 4. Python版本号：（如Python3.8）
 5. CUDA/cuDNN版本：（ CUDA11.1/cuDNN8.0等）
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）

    -   完全按照　https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/whole_process_cn.md　里面的教程，下载，训练，预测，模型导出，参数没有修改；
    - 然后使用教程里的代码做推理，只是--image_path　使用了整个文件里的文件
　　　python deploy/python/i

[2022-05-26 11:21] beibeibeichen opened #2162 "[General Issue]"
我想用自己训练的模型来自动分割，但每次用自己训练的模型在标注时都会自动退出，请问这问题该怎么解决

[2022-05-26 12:35] haoyuying commented on #2162
如果您说的是eiseg，目前eiseg不支持自己训练模型。

[2022-05-26 12:38] haoyuying commented on #2159
您好，目前您提供的信息无法准确定位问题，请提供复现该问题的环境及使用方式，方便我们进一步跟进问题。

[2022-05-26 12:41] haoyuying commented on #2157
请确认cuda和cudnn是否安装正确，根据报错信息定位应该是cuda和cudnn安装有问题导致的

[2022-05-26 12:43] haoyuying commented on #2139
目前暂不支持。

[2022-05-26 13:06] juncaipeng commented on #2160
测试图片中是很多不同尺寸的图片吧，你可以修改一下deploy/infer.py中tune_img_nums大于你的图片数量，这样可能auto tune的过程会比较久。
![image](https://user-images.githubusercontent.com/52520497/170493391-65954b8f-2d20-4002-97be-cea08543d3b7.png)
或者保证你的所有测试图片尺寸相同。

[2022-05-26 17:55] #2153 closed, assigned to shiyutang

[2022-05-27 01:33] xdg2016 commented on #2156
谢谢回答，模型路径是没有问题的，我这边在两台电脑上使用 pip install eiseg安装的eiseg，打开加载模型后就直接奔溃了，提示上面的错误，换另外一台就可以了，两台都没有GPU，不清楚还会有什么会影响到。

[2022-05-27 07:37] jiguanglu commented on #2160
我修改了尺寸，但是发现 加上tensorRT的推理速度还不如直接使用GPU，这里后期要有跟新吗？还是我的有代码有问题？

[2022-05-29 15:25] yangtb2 commented on #1858
怎么解决的，兄弟

[2022-05-30 01:20] tobimichigan opened #2163 "[Bug]TypeError: __init__() missing 1 required positional argument: 'num_classes: sh tests/run_check_install.sh"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: paddlepaddle-gpu 2.2.2
 2. PaddlePaddle version: (PaddlePaddle 2.1.0)
 3. Operation system: ( Linux)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA11.4cuDNN 7.6.5)
 6. Full codes: (if you modify any original code，please show the comparison of the

[2022-05-30 02:35] juncaipeng commented on #2150
Thank you for your advice. We will plan to develop MaskFormer.

[2022-05-30 04:05] juncaipeng commented on #2163
你好，你使用paddleseg哪个版本？我们没有复现该问题。请详细补充你的环境信息。

[2022-05-30 04:06] juncaipeng commented on #2160
你使用最新的2.5分支代码。

[2022-05-30 06:12] zhenzi0322 commented on #2115
我已经重新训练好了一个模型，预测发现边缘的清晰度是有点好转，但是边缘的清晰还是不够。 请问有没有其他更好的解决办法呢？尽量让抠出来的图的边缘清晰度跟原图接近。

[2022-05-30 07:25] wuyefeilin commented on #2115
麻烦展示一下效果

要跟原图清晰度一致，需要保持原图分辨率进行预测，但图片过大会降低语义预测的正确性。需要进行trade off

[2022-05-30 07:28] zhenzi0322 commented on #2115
![b471283a9de741fcb57ae6c47f54a88a](https://user-images.githubusercontent.com/34839719/170940020-1dfbc845-045e-48d1-b751-14ddb7db4eac.png)

[2022-05-30 07:30] zhenzi0322 commented on #2115
![image](https://user-images.githubusercontent.com/34839719/170940283-b31531a6-dcbd-404a-8e1f-de336fe68221.png)

如何进行trade off ？

[2022-05-30 07:36] wuyefeilin commented on #2115
![image](https://user-images.githubusercontent.com/30919197/170941222-be3523a2-9072-4e21-9cf3-677aefbf57d7.png)
调节数值控制图片大小上限
之前去除，所有图片进行原图预测

[2022-05-30 07:39] wuyefeilin commented on #2115
修改val_dataset下LimitShort的max_short的数值控制图片大小上限， 或者直接去除LimitShort进行原图预测。

[2022-05-30 07:48] zhenzi0322 commented on #2115
我通过把抠图的图像拖入到`photoshop`中查看，发现好像有一层比较淡的白色叠在了抠图图像的上面造成了抠图图像的模糊。

如下：
![demodemo](https://user-images.githubusercontent.com/34839719/170943354-7e039529-f880-4c62-83ea-6d1acf591ca3.gif)

[2022-05-30 07:50] zhenzi0322 commented on #2115
这个我刚试了，我的配置文件如下：
[code]

预测效果如下所示：
![image](https://user-images.githubusercontent.com/34839719/170943945-739b5ff5-7e40-4bdf-86d8-9991f691c711.png)

效果不好，难道又得重新训练才行？

[2022-05-30 10:06] xiaodaomingye459 opened #2167 "关于推理部分出现的BUG"
![image](https://user-images.githubusercontent.com/83204995/170969692-85d286f3-fc1c-4b6b-9620-6e42b8b39db5.png)
![image](https://user-images.githubusercontent.com/83204995/170969750-17e8d565-8197-42de-998a-18332d86d122.png)

[2022-05-30 10:40] xiaodaomingye459 commented on #2167
我按照说明文档进行实验，但是不知道在哪测试FPS，遇到了如上的问题。

[2022-05-30 13:31] tobimichigan commented on #2163
I already stated this above and Im repeating it now again:
addleSeg version: paddlepaddle-gpu 2.2.2
PaddlePaddle version: (PaddlePaddle 2.1.0)
Operation system: ( Linux)
Python version: (e.g. Python3.6/7/8)
CUDA/cuDNN version: (e.g. CUDA11.4cuDNN 7.6.5)
Full codes: (if you modify any original code，please show the comparison of the codes before and after)
Detailed error information, releated runnin

[2022-05-30 13:53] Wulx2050 opened #2174 "多标签语义分割任务 multi-label semantic segmentation"
PaddleSeg 里面的任务和模型好像都是默认一个像素一个标签，但是有时候会碰到一个像素有多个标签的情况，比如这里：
https://www.kaggle.com/competitions/uw-madison-gi-tract-image-segmentation/overview

这个竞赛是一个多标签语义分割(multi-label semantic segmentation)任务，有些像素同时有两个以上的标签，输出是 Hight×Width×Num_class。Num_class>=2

我没搜索到 PaddleSeg 里面相关的教程和算法，请问我怎么处理这种多标签语义分割任务?

[2022-05-30 13:57] Wulx2050 commented on #2174
而且现在很多数据集的标注文件使用RLE(run-length encoding，游程编码，行程长度编码)的格式，为了方便麻烦加两个编码和解码的函数到 PaddleSeg 中。

[code]

[2022-05-31 01:59] wuyefeilin commented on #2115
这也是modnet算法的局限性了，在过大分辨率图像中容易引起语义预测的不正确

[2022-05-31 02:01] zhenzi0322 commented on #2115
是不是说明目前已经达到最好的效果了？

[2022-05-31 02:04] wuyefeilin commented on #2115
最好能弄个验证集进行判断

[2022-05-31 02:06] juncaipeng commented on #2174
你好，目前paddleseg不支持多标签语义分割。如果需要使用，需要手动修改模型结构、loss计算、训练和预测过程。

[2022-05-31 02:13] zhenzi0322 commented on #2115
验证集是有的，请问这个验证集怎么判断出来呢？

[2022-05-31 02:14] juncaipeng commented on #2167
这是由于校验paddle和onnx模型输出是否存在误差，你可以将如下代码的atol设置大一点，比如1e-2。
![image](https://user-images.githubusercontent.com/52520497/171079378-b8b498d8-9fc1-4a69-ada7-8ce84cffd4d7.png)

[2022-05-31 02:16] zhenzi0322 commented on #2115
下面是我通过评估出来的：
![image](https://user-images.githubusercontent.com/34839719/171079568-f95d4fa8-a1f8-4649-ab05-54000048fb38.png)

评估出来的结果如何看出效果呢？

[2022-05-31 02:20] juncaipeng commented on #2163
Based on the above information, I can not figure out  the error. Please give more details.

Can you get through the [quick tutorial](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/whole_process.md) ?

[2022-05-31 02:23] juncaipeng commented on #2088
如果weight调整了，也需要适当调整学习率。

[2022-05-31 02:45] wuyefeilin commented on #2115
![image](https://user-images.githubusercontent.com/30919197/171082572-3675632d-978f-4f47-96b5-bcb03c9770ba.png)
这个指标越低表示跟ground truth越接近，扣图质量越好。

[2022-05-31 02:57] zhenzi0322 commented on #2115
好的，请问是主要看SAD还是MSE呢？

[2022-05-31 02:58] zhenzi0322 commented on #2115
我把验证集的量加大后，指标又变大了。如下：
![image](https://user-images.githubusercontent.com/34839719/171084075-872818f3-9c08-476f-b8a5-a6c354fa30ec.png)

[2022-05-31 03:46] jiguanglu commented on #2084
@LGadore @ly706 @juncaipeng  请问解决了吗？是不是标注数据的时候，分割的物体正好在边界上？

[2022-05-31 08:19] caomao1111 opened #2177 "自定义数据集"
您好，我使用自定义数据集做二分类的分割任务，然后数据集标签确定是由0和1组成（程序测试过）,但在进行模型训练和测试时Dataloader读取的label却是0和255，不知道这是为何

[2022-05-31 11:42] xiaodaomingye459 commented on #2167
将atol设置成1e-2后出现如下问题，如何解决？
![image](https://user-images.githubusercontent.com/83204995/171165309-6fb15659-4d45-4991-b2aa-58fd9a478131.png)

[2022-05-31 14:27] wuyefeilin commented on #2115
两者指标都可以对比的。
16张有点小了，可以多弄点，至少弄个50张吧， 这样用来迭代模型比较准

[2022-06-01 02:16] zhenzi0322 commented on #2115
好的

[2022-06-01 02:19] zhenzi0322 commented on #2115
配置文件：
[code]

这样的配置文件训练模型好像一直没有打印出日志出来。

[2022-06-01 02:30] wuyefeilin commented on #2115
给一下报错信息，如果是显存问题，可以减小batch_size

[2022-06-01 03:03] zhenzi0322 commented on #2115
没有任何的报错信息，就是一直如下图所示：
![image](https://user-images.githubusercontent.com/34839719/171319247-cde28eab-d9ec-4f52-9c8b-b8e4c6cdfbfb.png)

显存是够的。我如果修改了如下：
[code]
像上面的配置它又可以正常训练了。可以打印出每次的迭代。

[2022-06-01 03:07] wuyefeilin commented on #2115
好像是改了数据路径，可以看看数据是不是出了什么问题

[2022-06-01 03:09] zhenzi0322 commented on #2115
哦，这路径是没有问题的，我是复制了别的配置文件过来，然后改了一下。

[2022-06-01 03:11] zhenzi0322 commented on #2115
好像是因为：
[code]
在`HRNet_W18`模型里面训练不了。

[2022-06-01 03:56] wangyidong3 opened #2179 "[General Issue]推理结束如何有效释放GPU内存"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.5
 2. PaddlePaddle版本：（PaddlePaddle 2.2.0）
 3. 操作系统信息：（如Linux/）
 4. Python版本号：（如Python3.6）
 5. CUDA/cuDNN版本：（ CUDA10.2）
 6. 其他内容: （增加其他与问题相关的内容）

现在python程序中需要控制推理时间，timer时间到就退出模型推理，并释放内存。
而现在退出时，即使del predictor及相关变量， 并 gc.collection  后，内存仍然无法释放。

请问有什么好的办法让模型unload， 并释放内存 吗？

谢谢。

[2022-06-01 04:41] #2077 closed, assigned to juncaipeng

[2022-06-01 06:41] shiyutang commented on #2177
Please try to read the image from the dataset directly, and use pdb to see where the place that the labels changed. It could be the image transform, but we are not sure either. The example code is as follows:
[code]

[2022-06-01 06:43] xiaodaomingye459 commented on #2167
您好，上面的问题是由于tensorrt的版本BUG我已经解决。
![image](https://user-images.githubusercontent.com/83204995/171343264-b3d3b217-d781-4008-a8a3-a4633e3baa4d.png)

然后关于这里的测试结果是平均时延，论文的指标为FPS，如果计算这里的倒数，也与论文PP-LiteSeg-B1 1024X512的195.3相差很多，请问这可能是什么原因造成的？

[2022-06-01 06:54] juncaipeng commented on #2167
这个跑出来fps差距有点大，是不是这个显卡也有其他进程在运行？

[2022-06-01 06:57] juncaipeng commented on #2179
paddle没有提供接口释放显存，默认是进程推出后才释放显存。
不过，你可以试下python执行shell命令"fuser -k /dev/nvidia_id"，看是否可以清空gpu上显存。

[2022-06-01 06:59] juncaipeng commented on #2084
建议升级为paddle 2.3.

[code]
这个错误信息是说label标注中存在数值为4398046511104，这明显是不对的。

[2022-06-01 07:01] juncaipeng commented on #2085
改问题没有复现，建议先升级一下paddle为2.3版本，估计是安装问题。

[2022-06-01 22:10] wangyidong3 commented on #2179
谢谢及时回复。
1. "fuser -k /dev/nvidia_id" 是专门杀进程的， 因此python程序本身也会被kill。
2. 因此只能多线程来管理，并且paddle的线程必须独享gpu，但同时Paddle对python 的多线程处理MultiProcessing支持的不好，会出现 Cuda error(3), initialization error.
3. 虽然 https://github.com/PaddlePaddle/PaddleOCR/issues/3070  中提到用 torch.multiprocessing 替代 python的multiprocessing的解决办法, 但因为我这需要多平台，多种硬件，也包括jetson. rk, 这样，rk35xx 对torch.multiprocessing的限制也让多线程管理非常困难。
4. 现在看来暂时只能用cont

[2022-06-01 22:15] #2179 closed, assigned to juncaipeng

[2022-06-02 01:36] haoyuying commented on #2156
报错部分是paddle问题，应该是paddle安装出现了问题，建议卸载后重新安装paddle

[2022-06-02 02:08] #2160 closed, assigned to juncaipeng

[2022-06-02 02:46] huangwan-jiayi opened #2183 "[General Issue]deploy/python/infer.py 推理修改后stdc模型出现报错"
PaddleSeg版本：版本号2.2.0分支PaddleSeg release/2.4）
PaddlePaddle版本：（如PaddlePaddle 2.2.0-gpu）
4. 操作系统信息：Linux Ubuntu18.04
5. Python版本号：python3.6
6. CUDA/cuDNN版本：cuda10.2，cudnn8.1
7. 使用depoly/python/infer.py 对训练cityscapes数据集导出的和stdc1-seg原模型和对网络模型修改后的stdc1-seg模型分别推理，都调用了trt精度都是fp16. 原模型可以正常推理，但是修改后的stdc模型调用trt进行推理时当把min_subgraph_size设置为3时报错：
![3f75a87b53ffce980316ce70bfbe885](https://user-images.githubuserc

[2022-06-02 08:12] zhuangqirong opened #2186 "[General Issue]AssertionError: The backbone should has feat_channels. 高层API更换模型出现feat_channels问题"
from paddleseg.models import PPLiteSeg
from paddleseg.models.backbones import STDC2

model = PPLiteSeg(num_classes=2, backbone=STDC2)

执行上述命令，会出现  AssertionError: The backbone should has feat_channels.

[2022-06-03 01:29] Tim4AI opened #2188 "tensorrt 推演转换模型一直卡住"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（paddleseg 2.5）
 2. PaddlePaddle版本：（python -m pip install paddlepaddle-gpu==2.2.2.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html）
 3. 操作系统信息：linux
 4. Python版本号：python 3.7
 5. CUDA/cuDNN版本：（ cuda 10.2 cudnn 8.0）

W0603 09:07:20.758460  1350 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 6.

[2022-06-04 15:10] Wulx2050 commented on #2041
我尝试在kaggle上使用PaddleSeg也报了这个错。这个demo也报错。是因为CUDA版本和paddlepaddle不匹配。
https://github.com/PaddlePaddle/PaddleSeg/issues/1073

[code]
其他版本安装命令参考：
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

这个报错与PaddleSeg没关系

[2022-06-04 15:15] Wulx2050 commented on #2041
赶紧支持高版本的cudnn

[code]

[2022-06-05 08:21] lurenzhouyi commented on #2163
我也遇到了同样的问题，PaddlePaddle-gpu 2.3.0, Windows10, python3.7, CUDA11.1， 在安装完最新的PaddleSeg后，按照教程运行下面代码：
python predict.py --config configs/quick_start/pp_liteseg_optic_disc_512x512_1k.yml --model_path https://paddleseg.bj.bcebos.com/dygraph/optic_disc/pp_liteseg_optic_disc_512x512_1k/model.pdparams --image_path docs/images/optic_test_image.jpg --save_dir output/result

出现了以下问题：

'C:\Program' 不是内部或外部命令，也不

[2022-06-05 08:38] lurenzhouyi commented on #2163
哦，按照后面教程安装了optic disc segmentation数据集后，解决了一部分问题，但又出现一个问题
2022-06-05 16:35:29 [WARNING]   [SKIP] Shape of pretrained params backbone.features.4.conv_list.0.conv.weight doesn't match.(Pretrained: [256, 256, 1, 1], Actual: [128, 256, 1, 1])
2022-06-05 16:35:29 [WARNING]   [SKIP] Shape of pretrained params backbone.features.4.conv_list.0.bn.weight doesn't match.(Pretrained: [256], Actual: [128])
2022-

[2022-06-05 16:18] yanzhou-li opened #2189 "关于（1）图像预处理参数crop_size，（2）iters参数的设置"
你好，我想请问一下在图像预处理环节中选择RandomPaddingCrop后，对参数crop_size的设置有什么原则和技巧吗？
我看在不同的数据集中，这个参数设置不同，比如在ade20k数据集中`crop_size=[512, 512]`，在Cityscapes中`crop_size= [1024, 512]`或`[769, 769]`或`[1024, 1024]`，在我看来同一个数据集下crop_size不同的设置不同的话，其对模型收敛的速度以及模型的精度会产生影响。
那么，我想求证一下，在选择多尺度训练方式（ResizeStepScaling）的情况下：`crop_size`参数的不同设置会对模型训练收敛的速度、以及模型的精度产生影响吗？另外，对模型的大小影响大吗？这个对不同数据集有没有经验参考值啊？

另外，还有个问题，关于对于ppliteseg训练迭代次数问题，该网络是否有对不同

[2022-06-06 02:07] juncaipeng commented on #2183
你这个报错没有遇到过，你可以发一下你修改过stdcseg的预测模型，我们复现一下。

你这样预测，速度会更慢，导出预测模型后使用infer.py预测，会进行预测优化，速度更快。

[2022-06-06 02:10] juncaipeng commented on #2186
请问你安装的paddleseg版本是？

https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/paddleseg/models/backbones/stdcnet.py#L55 改backbone有feat_channels啊

[2022-06-06 02:22] juncaipeng commented on #2188
trt优化模型确实会耗时，是nvidia trt预测引擎的问题，这不是paddle的问题。
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/configs/pp_liteseg#deployment

[2022-06-06 02:26] juncaipeng commented on #2189
crop_size越大，相当于单个batch输入训练的图像像素越多，其实这个参数对最后精度影响不大。如果crop_size变小了，可以适当增加iters。
epoch和iters需要自己经验调整。比如一开始使用50个epoch，换算为iters进行设置，观察训练曲线中loss是否一直在下降；如果loss一直稳定下降，那就增大iters；如果在训练后半部分loss一直稳定，那就可以减小点iters。

[2022-06-06 02:34] juncaipeng commented on #2163
@lurenzhouyi

warning不是错误，说明安装成功了。 现在warning也已经修复了。

[2022-06-06 02:34] #2163 closed, assigned to juncaipeng

[2022-06-06 02:38] #2041 closed, assigned to juncaipeng

[2022-06-06 02:38] #2154 closed, assigned to juncaipeng

[2022-06-06 02:39] juncaipeng commented on #2100
应该是需要将编译的lib添加到vs的链接路径

[2022-06-06 02:41] juncaipeng commented on #2089
预测没有太多输出，只是保存预测结果：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/deployment/inference/python_inference_cn.md#4-%E9%A2%84%E6%B5%8B

[2022-06-06 02:42] #2089 closed, assigned to juncaipeng

[2022-06-06 03:09] huangwan-jiayi commented on #2183
我用邮箱给你发相关材料，被拒收了。
![image](https://user-images.githubusercontent.com/71338215/172088068-c02c7ce2-ee82-4f19-9265-55cf1b620503.png)
导出来的模型太大了发不过来，怎么办。

[2022-06-06 05:32] m828 commented on #2088
好的，我试试

[2022-06-06 07:26] xiaodaomingye459 opened #2191 "关于cityscapes"
如果我想去官网提交cityscapes的测试结果，怎么通过您的框架得到对应的文件呢

[2022-06-06 07:41] huangwan-jiayi commented on #2183
模导出型发过来了，收到了吗？麻烦

[2022-06-06 11:33] xiaodaomingye459 commented on #2191
还有一个问题，就是我自己调大batch_size后，为什么训练时间反而延长了，按理说每一次处理的图片多一些，训练时间应该要缩短才对吧。

[2022-06-07 02:19] smallhaozigithub opened #2194 "paddleseg 评估报错： labels with ignore_index is not supported yet"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：PaddleSeg release/2.5
 2. PaddlePaddle版本： 2.1.3
 3. 操作系统信息：linux
 4. Python版本号：3.7
 5. CUDA/cuDNN版本：11.4

paddleseg 评估时候报错
File "/home/bml/storage/PaddleSeg/paddleseg/utils/metrics.py", line 78, in auc_roc
    raise RuntimeError('labels with ignore_index is not supported yet.')
RuntimeError: labels with ignore_index is not supported yet.

[2022-06-07 02:19] smallhaozigithub commented on #2194
有大佬能告诉是什么原因导致的报错么？

[2022-06-07 02:19] smallhaozigithub commented on #2194
配置文件是./configs/unet/unet_hrf_256x256_40k.yml

[2022-06-07 02:54] smallhaozigithub commented on #2194
好像是  num_classes:   没有算上背景类，类别加了个1 就没报错了。

[2022-06-07 02:55] #2194 closed, assigned to nobody

[2022-06-07 03:42] wuyefeilin commented on #2191
cityscape的提交按照官网的要求机型数值的对应即可。

调大batch_size后iters一样吗，如果iters数一样，那么训练时间变长是合理的

[2022-06-07 06:10] xiaodaomingye459 commented on #2191
您好，我还不明白怎么提交，按照说明文档我只能得到可视化的预测结果（彩色分割图），可是官网好像需要的是对应标签灰度图，而且是原本的30类。

另外，这个iters和batch_size的对应关系是什么样得，为什么反而会延长训练时间。

[2022-06-07 09:55] stepstep123 commented on #1458
一样的问题，有官方解答一下嘛

[2022-06-07 11:30] YangYangTaoTao commented on #2080
that's terrible!

[2022-06-07 11:49] xiaodaomingye459 commented on #2167
您好，在cityscapes上我的测速达到了论文效果，但是想在camvid数据集上测速时，却遇到了如下问题：
![image](https://user-images.githubusercontent.com/83204995/172371249-cceab91f-d7f3-46b5-9595-7435c5845b06.png)
意思是缺少类别数，请问要在哪里修改。

[2022-06-07 13:25] lsfhgty opened #2195 "[General Issue]"
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/contrib/CityscapesSOTA
Cityscapes的这个打榜模型有HRNet_W18_NV，HRNet_W32_NV和HRNet_W64_NV这几种不同大小backbone的预训练模型么，我看到conf里面用的是HRNet_W48_NV，然后readme里面也只给了HRNet_W48_NV的pretrain weights

这个是HRNet_W48_NV 的pretrain weights链接https://bj.bcebos.com/paddleseg/dygraph/cityscapes/ocrnet_hrnetw48_mapillary/pretrained.pdparams

[2022-06-08 01:07] xiaodaomingye459 opened #2196 "多卡训练参数问题"
您好，在PP-Lite的配置文件中：我注意到默认是按照4卡配置的
![image](https://user-images.githubusercontent.com/83204995/172509431-e1024ceb-8211-446f-b5dc-d4a114157b2a.png)
双卡训练的话，是否只要保持总的batch_size一致就行了？其他的参数是否还需要修改。
对于损失里面的min_kept参数，我计算了一下默认是按单卡的batch_size配置的 ，这个参数需要修改吗？

[2022-06-08 02:02] wuyefeilin commented on #2191
预测存储结果有伪彩色保存的图像，用PIL.Image进行读取即可得到预测的标签，即trainID, 你按照cityscapesScripts的标签转换成id重新保存即可， https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/helpers/labels.py

训练iters就是训练的steps， batch_size是每一次训练的图片数量，两者相乘是总的训练的图片次数，（iters*batch_size / 数据集图片数）等于训练的epochs， 若要保持训练的epochs不变，调大batch_size的同时需要调小iters，这样训练时间才能减小

[2022-06-08 02:10] wuyefeilin commented on #2080
模型和配置文件不对应，配置是modnet，请下载modnet-hrnet_w18的模型

[2022-06-08 13:07] gohar-malik opened #2199 "[Bug] FatalError: Segmentation fault is detected by the operating system, while using PaddleSeg/Matting/deploy/python/infer.py on pretrained model"
1. PaddleSeg version:
 Verison  = 2.5.0 branch PaddleSeg release/2.5

 2. PaddlePaddle version:
 PaddlePaddle 2.3.0, installed using `python -m pip install paddlepaddle-gpu==2.3.0.post110 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html`

 3. Operation system:
 Linux: Ubuntu 18.04.6 LTS

 5. Python version:
Python 3.8.12

 6. CUDA/cuDNN version:
 Using single Nvidia **Tesla T4**  g

[2022-06-09 02:55] haoyuying commented on #2199
This may caused by cuda, cudnn and paddle versions do not match. Please check the paddle can work normally in your environment.

[2022-06-09 03:00] juncaipeng commented on #2196
双卡训练，保持总bs相同就可以，不用改其他的参数。  min_kept也不需要修改。

[2022-06-09 03:02] juncaipeng commented on #2183
没收到  你可以发到 pengjuncai@baidu.com

[2022-06-09 03:42] huangwan-jiayi commented on #2183
您好，已经发送过去，请查收。

[2022-06-09 04:11] LutaoChu commented on #2195
你好，目前没有其他大小的backbone预训练模型，HRNet_W48_NV是从nvidia那边转过来的

[2022-06-09 06:42] juncaipeng commented on #2167
由于最近更新，引入了bug，修复pr：https://github.com/PaddlePaddle/PaddleSeg/pull/2200

[2022-06-09 10:36] gohar-malik commented on #2199
Hi @haoyuying
As I said the predict.py in Matting is working completely fine for me, as described [here](https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/Matting#:~:text=val.py%20%2D%2Dhelp-,Prediction,-export%20CUDA_VISIBLE_DEVICES%3D0).
And I have also tested the installation using the steps proposed [here](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/install.md#:~:t

[2022-06-09 11:28] zkzk123zk commented on #1243
在版本没有问题的情况下，官方默认使用了多卡训练的方式，我猜你可能只有一张显卡，因此出现了这种错误。在训练配置里，官方的代码是parser.add_argument(
        '--device',
        dest='device',
        help='Device place to be set, which can be GPU, XPU, NPU, CPU',
        default='gpu',
        type=str)
你需要修改为parser.add_argument(
        '--device',
        dest='device',
        help='Device place to be set, which can be GPU, XPU, NPU, CPU',
        default='cu

[2022-06-10 08:18] xiaodaomingye459 commented on #2167
万分感谢！

[2022-06-10 09:07] #2167 closed, assigned to juncaipeng

[2022-06-10 09:08] #2088 closed, assigned to juncaipeng

[2022-06-10 09:09] #2196 closed, assigned to juncaipeng

[2022-06-10 09:09] #2054 closed, assigned to juncaipeng

[2022-06-10 09:09] #2042 closed, assigned to juncaipeng

[2022-06-10 09:47] kzp828 opened #2206 "[General Issue]请问下，这个matting用了哪个训练数据集"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-06-10 13:33] monkeycc opened #2208 "[General Issue] installation error"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g.PaddleSeg release/2.5)
2. PaddlePaddle version: (e.g.  paddlepaddle-gpu==2.3.0.post112)
3. Operation system: (Windows)
 4. Python version: (e.g. Python3..7 anaconda)
 5. CUDA/cuDNN version: (e.g. CUDA11.2/cuDNN 8.2.1)
 6. Additional context:

[2022-06-10 16:03] monkeycc opened #2209 "[General Issue]eiseg,self.input_handle_2 = self.net.get_input_handle(input_names[1]),eiseg 调用PaddleX 导出的模型"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g.PaddleSeg release/2.5)
2. PaddlePaddle version: (e.g.  paddlepaddle-gpu==2.3.0.post112)
3. Operation system: (Windows)
 4. Python version: (e.g. Python3..7 anaconda)
 5. CUDA/cuDNN version: (e.g. CUDA11.2/cuDNN 8.2.1)
 6. Additional context:

[2022-06-10 17:40] marshall-dteach commented on #1420
ahhh... I think that the rename operation is false, the true method is run the convert_cityscapes_autolabeling.py to generate the convert_autolabelled

[2022-06-11 11:34] deepakkupanda opened #2210 "[General Issue] No module named 'paddle'"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: Trying to install paddleseg
 2. PaddlePaddle version: yet to install
 3. Operation system:  Linux in AzureML
 4. Python version: Python3.7.7
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

<img width="765" alt="image" src="https://user-images.githubuse

[2022-06-12 07:23] JayceWen opened #2211 "[General Issue]"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-06-12 07:27] JayceWen opened #2212 "[Bug]keyerror in prepare.py when preprocess data"
this bug happens due to the fact that there exists different types of data parsing in prepare.py in MedicalSeg.Here the 442th line is original code and the 441th line is modified code which is same with the one in second image.
![image](https://user-images.githubusercontent.com/53989593/173222254-90416a8b-7405-4aca-8971-b75b39eb705f.png)
![image](https://user-images.githubusercontent.com/53989593/

[2022-06-13 01:24] liyongchao911 opened #2213 "[Bug]：载入大尺寸图片启动宫格功能，连续点击两次左上角完成宫格程序自动退出"
Thanks for your bug report. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: (please specify the branch as well，e.g. PaddleSeg release/2.3)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/7/8)
 5. CUDA/cuDNN version: (e.g. CUDA10.2/cuDNN 7.6.5)
 6. Full codes: (if

[2022-06-13 02:18] juncaipeng commented on #2208
You can check the version of protobuf and  reinstall the required protobuf.

[2022-06-13 02:18] wuyefeilin commented on #2206
内部数据，因版权问题，暂时不能公开

[2022-06-13 02:20] juncaipeng commented on #2210
You should first install paddle, and then install paddleseg.

https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/install.md

[2022-06-13 02:21] #2211 closed, assigned to nobody

[2022-06-13 02:22] haoyuying commented on #2209
eiseg不支持导入paddlex模型。目前支持的模型可在此处查找：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.5/EISeg

[2022-06-13 05:07] #2208 closed, assigned to juncaipeng

[2022-06-13 05:07] #2209 closed, assigned to haoyuying

[2022-06-13 07:04] yangl720 opened #2214 "模型选择"
遥感图像的建筑物提取，请问选择哪个模型训练比较好呢，注重精度，特别是建筑物顶的边缘

[2022-06-13 07:17] wuyefeilin commented on #2199
Sorry， I can not recurrent you problem. It run correctly.

I run it on paddlepaddle-gpu==2.3.0, cuda: 10.2, cudnn 7.6. May be you can try this environment.

[2022-06-13 08:27] shiyutang commented on #2212
Thank you for pointing this out, you can put forward a PR and help us fix this.

[2022-06-13 11:23] juncaipeng commented on #2214
ocrnet deeplabv3p  or  pp-liteseg-stdc2

[2022-06-13 12:49] caomao1111 opened #2216 "统计模型flops和params"
请问paddleseg如何统计模型的flops和params
我原来直接使用paddle.flops统计paddleclas里的模型是没问题的，但统计paddleseg模型时报错
  "Your model must be an instance of paddle.nn.Layer or paddle.static.Program."

[2022-06-13 14:16] xinliyangguang opened #2217 "paddlepaddle安装成功，但是跑paddleseg[General Issue]"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：2.3
 2. PaddlePaddle版本：2.3.0.post111
 3. 操作系统信息：windows
 4. Python版本号：3.7
 5. CUDA/cuDNN版本：cuda11.1，cudnn8.4.1
 6. 其他内容: （增加其他与问题相关的内容）

安装paddlepaddle成功
![image](https://user-images.githubusercontent.com/53338761/173374643-63fe208d-3532-45e9-b6d6-3b530f34d102.png)
但是运行paddleseg的quickstart代码依然报错
![image](https://user-images.githubusercont

[2022-06-14 02:35] srzxDragon opened #2218 "CutMix图像增强"
# CutMix图像增强
- [CutMix](https://arxiv.org/abs/1905.04899v2): Regularization Strategy to Train Strong Classifiers with Localizable Features
- 在图像分割中使用CutMix图像增强，效果确实还挺好的，希望能在图像增强中增加这个功能，谢谢。

[2022-06-14 06:13] wuyefeilin commented on #2218
感谢您的建议，我们会尽快进行评估

[2022-06-14 09:04] deepakkupanda commented on #2210
It worked for me after installing the paddle with right CUDA and cudnn
https://www.paddlepaddle.org.cn/documentation/docs/en/install/pip/windows-pip_en.html

[2022-06-14 09:04] #2210 closed, assigned to juncaipeng

[2022-06-14 09:48] a123b12cd opened #2221 "vision transformer中输入图像的维度问题 [General Issue]"
paddleseg2.5
paddlePaddle 2.1.0
Linux
Python3.7
cuda11.2

用VisionTransformer作为backbone，输入的图像宽高必须相等吗？

![1](https://user-images.githubusercontent.com/49675099/173548282-37ec1a51-d4d1-4f58-aedc-84f68b313cc2.png)

[2022-06-14 13:10] #2217 closed, assigned to nobody

[2022-06-15 02:08] wuyefeilin commented on #2221
不需要哈

[2022-06-15 02:54] a123b12cd commented on #2221
那应该怎么配置 img_size  直接写数组报错，如果裁剪就影响效果了
![微信截图_20220615105412](https://user-images.githubusercontent.com/49675099/173726793-6cae2d0b-0417-4475-9ad7-084e1b56e471.png)

[2022-06-15 04:11] huangwan-jiayi commented on #2183
请问您们收到了我发过去的邮件吗？有发现这是什么原因吗？

[2022-06-15 06:49] wuyefeilin commented on #2221
img_size主要是跟pos-embed有关，这个参数只能是整数。 在forward的时候对x的shape是不做要求的。

[2022-06-15 07:20] shiyutang commented on #2221
可以自行修改对应代码，使其可以传入数组，一般需要为patch_size的整数倍。

[2022-06-15 07:21] shiyutang commented on #2216
不知道你是统计哪个模型出错呢？ 预期是不会出错的，如果出错可以联系我们修复

[2022-06-15 07:24] caomao1111 commented on #2216
统计的BiseNetV2

[2022-06-15 10:23] a123b12cd commented on #2221
看代码差不多明白了，谢谢

[2022-06-15 10:40] kushan-gunasekera commented on #2208
For anyone who is looking for a proper solution,

answer:- [https://stackoverflow.com/a/72493690/6194097](https://stackoverflow.com/a/72493690/6194097)

[2022-06-15 11:31] Yasminbr opened #2222 "[General Issue] Getting test results for my data"
Hi,

After I trained my UNET I would like to get the results of Dice, Iou,Kappa etc. for the test data. But unfortunately I can not achieve this.
The model is doing validation while training but i want him to check for the test data after all the iterations are finishing.
This is my yml file.

`batch_size: 6
iters: 6000
num_workers: 2
train_dataset:
  type: Dataset
  dataset_root: /home/ARO.local/

[2022-06-15 13:36] gohar-malik commented on #2199
Thanks for your help @wuyefeilin and @haoyuying.
I changed the environment. I am using paddlepaddle-gpu==2.3.0, cuda: 11.2, cudnn 8.1. Also, I am using the docker image now instead of installing using pip and its working okay.
closing this issue now.

[2022-06-15 13:36] #2199 closed, assigned to wuyefeilin, haoyuying

[2022-06-16 05:44] fanxiaochen456 opened #2224 "[General Issue] The number of model parameters and computation"
求教，我想像pytorch一样加载Paddle2.0训练好的模型参数model.pdparams，运用Summary函数可以输出参与训练的参数量和总的模型参数量，请问该怎么写呢？ The number of parameters involved in the training and the total number of parameters in the model can be displayed by using the Summary function.

import paddle
save_path = "model.pdiparams"
model = paddle.load(save_path)

This is the quantized model. Pdiparams. I want to output the number of parameters and c

[2022-06-16 06:16] haoyuying commented on #2224
具体使用可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/summary_cn.html#summary

[2022-06-16 06:17] shiyutang commented on #2222
Normally, the test data do not have labels. Therefore you can not get various metric results on it like kappa, dice and etc. However, you can use [predict.py](https://github.com/PaddlePaddle/PaddleSeg/blob/release%2F2.5/predict.py) to predict and visualize the images.

[2022-06-16 07:08] yanzhou-li opened #2225 "关于ppliteseg耗时问题"
关于ppliteseg算法耗时，如果送入网络的图像尺寸改变，在我看来，网络的推理耗时会有所不同，但是ppliteseg算法推理耗时却变化不大，这是为什么？
我用512*512、2048*2048大小的图像分别测试ppliteseg算法的推理耗时，发现数值变化不大，都维持在15ms左右，这是为什么？

[2022-06-16 07:24] Yasminbr commented on #2222
so what is the "Test mode" for?

test_dataset:
type: Dataset
dataset_root: /home/ARO.local/yasminbr/Projects/June/
num_classes: 2
test_path: /home/ARO.local/yasminbr/Projects/June/test.txt
mode: test

[2022-06-16 07:53] peach-xiao opened #2226 "运行分割模型pspnet报错"
我在使用PSPNet运行自己的数据集，实在是没有找到为什么optimizer.step()这里会出现TypeError: 'str' object is not callable错误，我尝试着将Image和label的值都打印出来查看了，里面是有值的，计算的loss也是有值的，这可能是哪里出现了问题呢？希望可以得到帮助

注意：我没有改动任何和模型有关的文件，仅仅修改了配置相应的.yml文件和加载数据集的.py文件，下面是报错的信息：

![image](https://user-images.githubusercontent.com/40911688/174019955-7d45595a-c704-4c45-a3d7-9007039eb7d6.png)
![image](https://user-images.githubusercontent.com/40911688/1740200

[2022-06-16 07:53] 2050airobert opened #2227 "Has PP-LiteSeg ran on the phone realtime？"
hi，
请问下PP-LiteSeg  和PP-HumanSeg 都在手机上跑过吗？或者其他小型平台上跑过实时吗？
有木有相关的介绍 链接分享下呢？ 多谢
[PP-LiteSeg](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/configs/pp_liteseg)
BR

[2022-06-16 09:18] fanxiaochen456 commented on #2224
@haoyuying 您好，我就是参考的那个文档来改写代码，但加载模型时就不对了，这是我量化之后的输出，请问我该怎么加载model.pdiparams文件呢，然后像文档里那样运用summary输出参数量呢？

这是量化之后的输出
![image](https://user-images.githubusercontent.com/101849755/174037543-db8eef57-b0d2-4eb1-82d1-34d6276f7d6c.png)

[2022-06-16 09:21] fanxiaochen456 commented on #2224
@haoyuying 这是paddle2.0环境下量化的模型

[2022-06-16 09:22] juncaipeng commented on #2225
你好  你测试的脚本和命令是什么？

[2022-06-16 09:24] juncaipeng commented on #2227
这个和图像尺寸相关，你可以试试。

同时在develop分支，我们推出了多个适用于移动端的分割模型：https://github.com/PaddlePaddle/PaddleSeg/tree/develop/configs/mobileseg

[2022-06-16 09:28] 2050airobert commented on #2227
那请问，paddleseg跑过哪几个尺寸的该模型，在哪种平台上，可否分享下实验结果？

[2022-06-17 02:21] wuyefeilin commented on #2226
![image](https://user-images.githubusercontent.com/30919197/174211990-08d41cb6-b181-45ff-8cc2-7df06aec24e4.png)
这个改成1.0e-4

[2022-06-17 02:47] haoyuying commented on #2224
pdmodel和pdiparams是静态图模型和参数，用paddle.jit.load()或者paddle inference进行加载，静态图参数量输出没找到相应的API，可以去paddle的repo下提问以便获取更精确的回复。

[2022-06-17 04:24] fanxiaochen456 commented on #2224
@haoyuying 请问paddle的repo是什么

[2022-06-18 04:10] Junjun2016 opened #2232 "[Feature Request] Support APCNet"
Please support [APCNet ](https://github.com/open-mmlab/mmsegmentation/tree/master/configs/apcnet).

[2022-06-18 16:48] antithing opened #2233 "[Feature Request] c++ inference?"
Hi! Thanks for making this code available.

It would be great to be able to run inference for segmentation and matting in c++, is this possible? Or planned for the future?

[2022-06-18 17:43] antithing commented on #2233
Ah! I found this.

https://github.com/PaddlePaddle/PaddleSeg/tree/457af2edb51a3c85ac9fd019e564c4099b1ee8bd/deploy/onnxruntime_cpp

Will this work with the matting model?

Thanks!

[2022-06-18 17:50] tarunn2799 commented on #1841
@zhenzi0322 how did you fix this?

[2022-06-19 08:22] Yasminbr opened #2234 "How can I determine if my model overfits?"
Hi,
while I train , and do validation I get the validation accuracy and the training loss, those two are not enough to determine if my model overfits or not (I need to have the training acc or better, the validation loss)
Unfortunately , I don't find a way to have this information, would be happy to get some help. I am using visualdl of course.

Thank you.

[2022-06-19 11:01] 2050airobert commented on #2227
hello，anyone here?

[2022-06-20 02:47] shiyutang commented on #2232
We have added this model to our future model list, and expect to add it in PaddleSeg before September.

[2022-06-20 02:51] wuyefeilin commented on #2233
Yes, we have plan to support the C++ inference in the future.

The [url](https://github.com/PaddlePaddle/PaddleSeg/tree/457af2edb51a3c85ac9fd019e564c4099b1ee8bd/deploy/onnxruntime_cpp) can not be used directly. You can make changes as needed。

[2022-06-20 03:10] juncaipeng commented on #2234
You can check the loss curve by visualdl. If the training loss keeps decreasing and the validation accuracy is not be improved, the model is overfit.
However, PaddleSeg saves the model params with best validation accuracy in the training stage. You can load the best params to export the inference model.

[2022-06-20 07:51] juncaipeng commented on #2227
任何尺寸都是支持的。
输入是224x224，单线程下， ppliteseg在手机上是40~50ms，上面提到移动端的分割模型是20ms左右。  具体也和手机有关系。

[2022-06-20 07:52] juncaipeng commented on #2225
请导出预测模型再测试，不要使用动态图模式下测速。

[2022-06-20 07:52] #2225 closed, assigned to juncaipeng

[2022-06-20 09:21] antithing commented on #2233
Thank you! I have the demo running fine, but now i need to run the matting model.

I am using the tutorial here:

https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/deployment/inference/cpp_inference.md

and the model downloaded:  pp-humanmatting-resnet34_vd, whish has the files:

![image](https://user-images.githubusercontent.com/11506730/174581288-07749b26-00ee-4c6b-be23-ccb477956dd

[2022-06-20 10:05] 2050airobert commented on #2227
您是说 比如第一个model
![image](https://user-images.githubusercontent.com/8407513/174578510-cd6ea0be-233d-4ead-a57b-9b7d8fcacf50.png)
mobimobilenet v2 就是在移动端跑的，分辨率1024x512 在选定的手机上实测20ms左右 分割模型耗时，对吗？

[2022-06-20 12:31] juncaipeng commented on #2227
是的   小米9上测试的

[2022-06-20 12:37] #1988 closed, assigned to juncaipeng

[2022-06-20 12:37] juncaipeng commented on #1988
可以参考paddleseg首页文档转换为onnx模型。

[2022-06-21 02:21] wuyefeilin commented on #2233
You can refer the python deployment of matting to adjust the cpp_inference.

[2022-06-21 02:46] yanzhou-li commented on #2225
好的，感谢，导出静态图模型测试，推理时间是准的了

[2022-06-21 03:06] beibeibeichen opened #2239 "[General Issue]"
二维码已过期，希望能进入群聊交流学习

[2022-06-21 06:51] 2050airobert commented on #2227
perfect ， 是小米9 骁龙855处理器 ARM  1×2.84GHz+3×2.42GHz+4×1.80GHz ,使用四个核同时开跑出来的20ms吗 ？
还是其他core上？

[2022-06-21 07:53] lililikaixu opened #2241 "模型训练"
请问edgeflow的模型训练、网络搭建部分的算法在哪里呢？

---

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（请提供版本号和分支信息，如PaddleSeg release/2.3）
 2. PaddlePaddle版本：（如PaddlePaddle 2.1.0）
 3. 操作系统信息：（如Linux/Windows/MacOS）
 4. Python版本号：（如Python3.6/7/8）
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 7.6.5等）
 6. 其他内容: （增加其他与问题相关的内容）

[2022-06-21 07:55] lililikaixu commented on #2234
请问哪部分代码式edgeflow模型训练部分的代码？

[2022-06-21 08:35] juncaipeng commented on #2234
请单独开一个pr，描述你的问题吧。

[2022-06-21 08:35] juncaipeng commented on #2227
是单核运行

[2022-06-21 08:39] 2050airobert commented on #2227
大核还是小核，具体是哪个core   " ARM 1×2.84GHz+3×2.42GHz+4×1.80GHz" ?
您能double check下具体是哪个模型 您跑的20ms 单核吗？
比如下面图所示的您测过的模型列表，具体是哪个，能给出官方无误确认吗？多谢啦 (因为1024x512还是蛮大的感觉，所以希望您能好好确认再回复)
![image](https://user-images.githubusercontent.com/8407513/174755928-bbebf0d6-083b-4c11-b454-fa01db12a699.png)

[2022-06-21 08:47] juncaipeng commented on #2183
我在paddlepaddle2.3环境下测试了该模型，开启TRT、使用fp16类型，可以跑通。所以你升级一下paddlepaddle版本。

[2022-06-21 08:48] juncaipeng commented on #2227
输入是224x224啊

[2022-06-21 08:52] 2050airobert commented on #2227
分辨率咱们确定了哈224x224:
1  ppliteseg在手机上是40~50ms
2 上面提到移动端的分割模型是20ms
   (1)您这里指的是ppliteseg这个模型的另外版本还是其实就是这个模型224x224 ppliteseg ？
   (2)您这里的移动端不就是手机吗？ 难道你想突出的是 这里的手机可能跟1种提到的手机不是同一款？
   (3)这里的手机上测试的20ms，是指在arm cpu上还是npu上？

[2022-06-21 09:03] antithing commented on #2233
Thank you, would you be able to point me at the code to change? It looks like this line:

`output_t->CopyToCpu(out_data.data());`

Is causing the issue.  Where do i need to make a change?

[2022-06-21 09:28] wuyefeilin commented on #2241
模型都放在了padleseg/models下面了，需要了解哪个模型可以查看相应的模型文件

[2022-06-21 11:12] michaelowenliu commented on #2239
@beibeibeichen Hi, updated already.

[2022-06-21 11:12] #2239 closed, assigned to nobody

[2022-06-22 02:42] juncaipeng commented on #2227
1）就是ppliteseg模型，测试数据的输入尺寸是224x224
2) 移动端就是手机，同一款
3）arm cpu上

[2022-06-22 06:34] ghost opened #2244 "[General Issue] How to export Panoptic DeepLab?"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleSeg version: PaddleSeg release/2.5
 2. PaddlePaddle version: PaddlePaddle 2.3.0 (ectually, I use docker image "registry.baidubce.com/paddlepaddle/paddle:2.3.0")
 3. Operation system: Linux
 4. Python version: Python 3.7.13
 5. CUDA/cuDNN version: None (I use cpu version of docker image)
 6. Ad

[2022-06-22 06:38] ghost commented on #879
我在 release/v2.5 分支上依然遇到类似问题。

请问一下，当我把数据集下载好以后，应该如何操作？文档里并没有提及此操作。

感谢您的解答！~

[2022-06-22 06:58] fanweiya opened #2245 "[Hint: 'CUBLAS_STATUS_EXECUTION_FAILED'. The GPU program failed to execute. This is often caused by a launch failure of the kernel on the GPU, which can be caused by multiple reasons."
paddlepaddle-gpu 2.3.0.post110 run errror
[code]
[code]

[2022-06-22 08:23] wuyefeilin commented on #2244
Sorry, there are not export.py in `contrib/PanopticDeepLab`, if you want to export the model, you copy the `export.py` to  the directory, and may be some need to update.

[2022-06-22 08:27] shiyutang commented on #2245
This could be caused by out-of-memory in GPU or GPU launch issue. Did you check your device with "nvidia-smi"? What is the script you used to run this program? And did you change any of our code?

[2022-06-22 08:28] shiyutang commented on #2222
Test dataset is used to test the performance of your model, see how it react on data it never sees.

[2022-06-22 08:29] shiyutang commented on #2216
能否提供一个复现指令，或者复现脚本？ 我们复现并修复～

[2022-06-22 08:29] ghost commented on #2244
Yes, I see there is no export.py in "contrib/PanopticDeepLab/", hence I specify absolute file path in the command.

But I will try your solution.

[2022-06-22 08:35] Yasminbr commented on #2234
that is true if you have the accuracy of the training set not of the validation.
I assume the paddle model misses two parameters - validation loss and training accuracy , those parameters are very important.
The performance can be measured using the percentage of accuracy observed in both data sets to conclude on the presence of overfitting. If the model performs better on the training set than on

[2022-06-22 08:36] Yasminbr commented on #2222
I know the meaning of the test data but when running this command I don't get any feedback from the net.

[2022-06-22 08:47] ghost commented on #2244
I tried your solutuion (copy export.py to contrib/PanopticDeepLab) and re-run that command:

[code]

Still, there are RuntimeError:

[code]

I survey some issues of this repo. I found that this problem seems owing to the dataset missing? But that issuse (Sorry I can not find it again) said that we can export the model without a dataset after release/v2.0 .

At this time, what is the main reason fo

[2022-06-22 11:07] caomao1111 commented on #2216
import paddle
from paddleseg.models.bisenet import BiSeNetV2
net=BiSeNetV2
input_sizer=[1,3,512,512]
paddle.flops(net, input_size=input_sizer, print_detail=True)
用这个统计paddleclas分类模式是没有出错的

[2022-06-22 12:31] huangwan-jiayi commented on #2183
您好，我将paddlepaddle升级成2.3后，训练模型开始报错，用python下的infer.py报其他的错。后来我将重新创建了一个环境，安装了paddle2.3GPU版本，paddleseg2.5，但是训练模型还是报错，infer.py还是报错。
具体报错：
训练模型：![db2843af42785b76a0ebeae97ed26f1](https://user-images.githubusercontent.com/71338215/175029305-c97d42ce-f231-4e8e-830f-55523daa1e2a.png)
报错：
![b4e423277adb37ec7af0bf269038919](https://user-images.githubusercontent.com/71338215/175029452-29bec001-b765-4c9d-9e5c-

[2022-06-22 12:54] huangwan-jiayi commented on #2183
挺急的，麻烦尽快帮忙看一下是什么问题，谢谢啦

[2022-06-22 13:44] antithing commented on #2233
Leaving this here in case anyone else has the same issue. making the following changes allow you to use the matting models in c++.
[code]

[2022-06-22 16:24] antithing commented on #2233
..although I think something is still wrong here, my matte looks incorrect, and lacks detail.

From this image:

![image](https://user-images.githubusercontent.com/11506730/175252900-49398a5f-e9e5-4f9e-8dae-5f54cef64d81.png)

The above code returns:

![image](https://user-images.githubusercontent.com/11506730/175253006-fd8002d7-1dbd-4be1-9961-1a852d46d3ff.png)

Changing to float type, and using th

[2022-06-23 02:06] ghost opened #2250 "[General Issue] Which One Should I Download?"
Thanks for your issue. To help us solve the issue better, please provide the following information：
 1. PaddleSeg version: PaddleSeg release/2.5
 2. PaddlePaddle version: PaddlePaddle 2.3.0 (actually, I use docker image "registry.baidubce.com/paddlepaddle/paddle:2.3.0")
 3. Operation system: Linux
 4. Python version: Python 3.7.13
 5. CUDA/cuDNN version: None (I use the CPU version of the docker i

[2022-06-23 02:35] huangwan-jiayi opened #2251 "[Bug] 训练模型，报 No stack in paddle，may be caused by external reasons"
---

欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：（，PaddleSeg release/2.5）
 2. PaddlePaddle版本：（PaddlePaddle 2.3.0_GPU）
 3. 操作系统信息：（Linux）
 4. Python版本号：（Python3.7）
 5. CUDA/cuDNN版本：（ 如CUDA10.2/cuDNN 8.1)
 训练模型出错:
![db2843af42785b76a0ebeae97ed26f1](https://user-images.githubusercontent.com/71338215/175194878-c074cec3-b9c4-4861-ad63-6f4e82d422a7.png)
![b4e423277adb37ec7af0bf269038919]

[2022-06-23 03:24] aqx95 opened #2252 "Preloading Pseudo Labels in EISeg"
Thanks for having the EISEG annotation tool which i felt was really useful!
I have one question regarding the tool. Will there be any feature for us to pre-load annotations for our images so that we don't need to start the annotation from scratch, instead we can begin our annotation from the pseudo labels that we have generated using some pretrained model?
Thank you!

[2022-06-23 03:36] fanxiaochen456 opened #2253 "[General Issue]PaddleSeg模型量化为Int8"
请问，PaddleSeg的模型支持Int8量化吗，我采用的主干是ResNet18，分割网络为DeepLabV3P，PaddleSeg项目中只看到了量化训练，但他保存下来依旧是FP32的精度，有没有什么可以仿照的脚本或其他的将训练好的模型量化为Int18的精度？

[2022-06-23 03:39] fanweiya commented on #2245
GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA GeForce ...  On   | 00000000:3B:00.0 Off |                  N/A |
|

[2022-06-23 03:39] fanweiya commented on #2245
python train.py        --config custom_config/segmenter_vit_base_linear_xxx_512x512_160k.yml        --do_eval        --use_vdl        --save_interval 500        --save_dir segmenter_vit_base_linear_xxx_20220610_512x512_160k

[2022-06-23 06:10] haoyuying commented on #2251
该错误愿意存在于paddle, cuda,cudnn版本不匹配导致的，请重新卸载paddle，然后根据官网要求进行安装https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

[2022-06-23 06:13] haoyuying commented on #2252
sorry, we do not provide this feature, we only support to load labels  produced by eiseg.

[2022-06-23 06:26] wuyefeilin commented on #2250
leftImg8bit_trainvaltest.zip (11GB)     gtFine_trainvaltest.zip (241MB)

[2022-06-23 06:28] juncaipeng commented on #2253
训练完成后，是伪量化模型，参数是fp32类型，但是数值已经是整数了，该模型可以直接应用于部署了。

https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/docs/slim/quant/quant_cn.md#33-%E9%83%A8%E7%BD%B2%E9%87%8F%E5%8C%96%E6%A8%A1%E5%9E%8B

[2022-06-23 06:28] #2250 closed, assigned to wuyefeilin

[2022-06-23 06:29] juncaipeng commented on #2183
你的python版本是？  建议使用 python 2.7

[2022-06-23 06:46] huangwan-jiayi commented on #2183
是python3.7，用python2.7就能解决 训练模型出现报No stack in paddle，may be caused by external reasons的问题吗？

[2022-06-23 09:29] ghost commented on #2244
Carry on the last reply.

I think my problem is the dataset missing, which is [CityScapes](https://www.cityscapes-dataset.com/).

So I downloaded and [prepared](https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/preparation/createPanopticImgs.py) the dataset like below:

[code]

Unfortunately, when I run the export command:

[code]

An error occurred:

[code]

Yes, the erro

[2022-06-23 09:51] fanxiaochen456 commented on #2253
@juncaipeng 谢谢您，那请问怎样可以输出量化后模型的参数量呢，比如模型进行一次推理需要加载多少参数量呢？

[2022-06-23 10:13] ZhouShaoyang commented on #1858
请问一下该问题是如何解决的？

[2022-06-23 10:19] yangtb2 commented on #1858
或许你是在/PaddleSeg下执行的部署？可以尝试在/PaddleSeg/Matting下执行部署

[2022-06-23 11:38] juncaipeng commented on #2183
不好意思，写错了，是建议使用python 3.7 sorry

[2022-06-23 11:43] juncaipeng commented on #2183
都是安装环境的问题啊

[2022-06-23 11:45] zhenzi0322 commented on #1858
注意配置。你是怎么运行的。

[2022-06-23 11:59] Liyulingyue opened #2254 "[General Issue] 文档中关于数据增强的方式不明确"
README_CN.md中没有找到明确的关于transforms内容和写法的说明，希望可以补充或者提供相关介绍页面。

[2022-06-23 12:14] juncaipeng commented on #2183
只能参考官方安装文档查查：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/macos-pip.html

[2022-06-23 13:35] YangQiangli opened #2255 "CrossEntropyLoss的weights设置后报错"
![image](https://user-images.githubusercontent.com/49158046/175312083-e13683e5-9b3a-4164-a082-842ea600d485.png)

[2022-06-24 02:20] fanxiaochen456 commented on #2253
@juncaipeng 您说的量化训练之后是参数是整数类型，Int包括Int64,Int32,Int8，请问量化后的是属于哪一种呢，或者是他是否属于哪种Int类型取决于用来量化的模型的数值类型呢？

[2022-06-24 02:23] haoyuying commented on #2254
请参考这里：https://github.com/PaddlePaddle/PaddleSeg/blob/457af2edb51a3c85ac9fd019e564c4099b1ee8bd/docs/apis/transforms/transforms_cn.md

[2022-06-24 02:24] haoyuying commented on #2255
报错原因是cuda，cudnn和paddle版本不匹配，建议从此方向排查原因。

[2022-06-24 02:36] wuyefeilin commented on #2244
You should  import the CityscapesPanoptic class from datasets in export.py.

What project are you using about this model?  Or may be you just learning about it?

[2022-06-24 03:03] huangwan-jiayi commented on #2183
恩恩 ，好的 十分感谢你的解答。

[2022-06-24 03:03] huangwan-jiayi commented on #2251
好的，感谢你的解答。

[2022-06-24 03:04] cccrice opened #2256 "CrossEntropyWithSoftmaxCUDAKernel"
欢迎您反馈PaddleSeg使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleSeg版本：无
 2. PaddlePaddle版本：PaddlePaddle 2.3.0
 3. 操作系统信息：Windows10
 4. Python版本号：Python3.6
 5. CUDA/cuDNN版本：CUDA10.2/cuDNN 7.6.5
 6. 完整的代码：(若修改过原代码，请提供修改前后代码对比）
 7. 详细的错误信息、相关log：Traceback (most recent call last):
File "G:/学习/飞桨学习课程/语义分割/case_pet_seg/Unet.py", line 163, in
batch_size=2)
File "C:\Program Files\Python36\lib\site-packages\paddle\h

[2022-06-24 03:46] ghost commented on #2244
Thanks for your solution, I will try it!

I am not learning "exporting Panoptic DeepLab to ONNX".

This issue is involved in an enterprise project. Our company has a real-world scene, which is going to deploy the Panoptic Segmentation models on Edge devices.

Now, the project is in the early research stage.

We would like PaddlePaddle to be applied to our technology stacks.

[2022-06-24 08:49] BegoniaSu opened #2257 "[General Issue]使用pp_liteseg模型进行预测时，api预测结果和cmd的结果不一致"
模型没有问题，在使用命令进行推理预测时，效果也很好，精度在99%以上。但是用API进行推理预测时，会有正常的结果和镜像的结果两种图。不知道问题出在哪，是不是我哪里写的不对？麻烦帮忙看下，谢谢。

[2022-06-24 09:38] GanWang commented on #155
请问有win10编译的链接吗？并没有找到有效的链接。

[2022-06-24 10:23] BegoniaSu commented on #2257
在构建transforms时多了一个参数：T.RandomHorizontalFlip()，去掉就好。

[2022-06-24 10:24] #2257 closed, assigned to nobody